# Spatiotemporal Trends in Urban and Rural Settlements
## Overview
This repository investigates year-by-year change in cities and settlements in Central and Western Africa (CWA). The goal is to capture activity for every settlement locality in a country to produce indicators that are high frequency, spatially granular, and timely. The Jupyter Notebook is the primary script used to construct each country's dataset. It tracks population, built-area, and economic and climate indicators across a 16-year timeframe from 2000 to 2015. 

The repository is split into three sections: methodology and notebooks, source data, and outputs. Outputs are organized by country and include growth tables ("urban panel datasets"), charts, and country briefs.


## Datasets
Datasets used to create each African country's urban panel data are as follows:
1. Most up-to-date administrative boundaries.
2. City names: **UCDB, Africapolis, and GeoNames.**
3. Settlement types: **GRID3 settlement extents.** Captured between 2009-2019.
4. Built-up area, yearly: **World Settlement Footprint Evolution.** Resolution: 30m.
5. Population, yearly: **WorldPop.** UN-adjusted, unconstrained. Resolution: 100m.
6. Nighttime lights, yearly: **Harmonization of DMSP and VIIRS.** Resolution: 1km and 500m.
7. Flood extents, by return period: **FATHOM.** Resolution: 90m.


## Accessing Data
Source data are available to the public by providers listed in the previous section, with the exception of flood data. Please note that the source data files in this repository have been fit for purpose and may not cover your area of interest. Some sources are also not global; GRID3 settlement extents are only available for sub-Saharan Africa, and Africapolis names for Africa.

Results from the analysis are currently available for Cameroon and are under development for Central African Republic and four Sahel countries: Burkina Faso, Chad, Mali, and Niger. Results are available in the outputs folder by country. Please contact the CWA Geospatial team to inquire about new locations.
<br>
> **Walker Kosmidou-Bradley**, wkosmidoubradley@worldbank.org
<br>
> **Grace Doherty**, gdoherty2@worldbank.org

## License
Materials under this repository are open-source under an MIT license. The community is invited to test, adapt, and re-purpose materials as needed.

---

## 1. PREPARE WORKSPACE

### 1.1 Off-script

##### Off-script: Create folders in your working directory. (The folder where you are storing this script).
> *ADM
<br>Buildup
<br>PlaceName
<br>Population
<br>Settlement
<br>NTL*

##### Before starting: Download datasets (as shapefile, GeoJSON, or tif where possible) and place or extract into corresponding folder. You can download the cleaned files from our [GitHub Repository](https://github.com/worldbank/Urban_Spatio_Temporal_Trends) or access original sources here:
- ADM: *Varies by source.*
- Buildup: https://download.geoservice.dlr.de/WSF_EVO/files/
    - If more than one tif, name the tifs as follows: WSFE1.tif, WSFE2.tif... etc.
- PlaceName: 
    - GeoNames: (file: cities500.zip) https://download.geonames.org/export/dump/
    - Africapolis: https://africapolis.org/en/data
    - Urban Centres Database: https://ghsl.jrc.ec.europa.eu/ghs_stat_ucdb2015mt_r2019a.php
- Population: https://hub.worldpop.org/geodata/listing?id=69
- Settlement: https://data.grid3.org/datasets/GRID3::grid3-cameroon-settlement-extents-version-01-01-/explore
- Nighttime Lights: https://eogdata.mines.edu/products/dmsp/#v4 and https://eogdata.mines.edu/products/vnl/#annual_v2

##### Other off-script:
- Convert GeoNames from .txt file to shape (delimiter = tab, header rows = 0) and rename fields.
- If necessary, mosaic WSFE rasters that cover the area of interest to create a single file.

### 1.2 Load all packages.

In [63]:
# Built-in:
# dir(), print(), range(), format(), int(), len(), list(), max(), min(), zip(), sorted(), sum(), open(), del, = None, try except, with as, for in, if elif else
# Also: list.append(), list.insert(), list.remove(), count(), startswith(), endswith(), contains(), replace()

import os, sys, glob, re, time, subprocess, string # os.getcwd(), os.path.join(), os.listdir(), os.remove(), time.ctime(), glob.glob(), string.zfill(), string.join()
from os.path import exists # exists()
from functools import reduce # reduce()

import geopandas as gpd # read_file(), GeoDataFrame(), sjoin_nearest(), to_crs(), to_file(), .crs, buffer(), dissolve()
import pandas as pd # .dtypes, Series(), concat(), DataFrame(), read_table(), merge(), to_csv(), .loc[], head(), sample(), astype(), unique(), rename(), between(), drop(), fillna(), idxmax(), isna(), isin(), apply(), info(), sort_values(), notna(), groupby(), value_counts(), duplicated(), drop_duplicates()
from shapely.geometry import Point, LineString, Polygon, shape, MultiPoint
from shapely.ops import cascaded_union
from shapely.validation import make_valid  # in apply(make_valid)
import shapely.wkt

import numpy as np # median(), mean(), tolist(), .inf
import fiona, rioxarray # fiona.open()
import rasterio # open(), write_band(), .name, .count, .width, .height. nodatavals, .meta, update(), copy(), write()
from rasterio.plot import show
from rasterio import features # features.rasterize()
from rasterio.features import shapes
from rasterio import mask # rasterio.mask.mask()
from rasterio.enums import Resampling # rasterio.enums.Resampling()
from rasterstats import zonal_stats # zonal_stats()
from osgeo import gdal, osr, ogr, gdal_array, gdalconst # Open(), SpatialReference, WarpOptions(), Warp(), GetDataTypeName(), GetRasterBand(), GetNoDataValue(), Translate(), GetProjection(), GetAttrValue()

### 1.3 Set up workspace.

In [75]:
Workspace = os.getcwd()
Source = os.path.join(Workspace, 'Source')
Intermediate = os.path.join(Workspace, 'Intermediate')
Results = os.path.join(Workspace, 'Results')
NTL = os.path.join(os.path.dirname(Workspace), 'NighttimeLights_VIIRS_DMSP', 'Temp')

print('\n'.join([Workspace, Source, Intermediate, Results, NTL]))

Q:\GIS\povertyequity\urban_growth\Syria
Q:\GIS\povertyequity\urban_growth\Syria\Source
Q:\GIS\povertyequity\urban_growth\Syria\Intermediate
Q:\GIS\povertyequity\urban_growth\Syria\Results
Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp

In [3]:
def ListFromRange(r1, r2):
    return [item for item in range(r1, r2+1)]

In [4]:
# These are beyond the maximum expected timeframe. 
# For instance, some sources we use don't go past even 2015, and Earth Observation wouldn't have started until later than 1900.

# Why include this? To ensure that numerically assigned, non-year values (like NoData or a QC marker) are excluded.
# The next block of code will re-write these objects with the accurate timeframe.
Year_end = 2030
Year_start = 1900

print("Eligible date range:", Year_start, 'to', Year_end)

EligibleYears = ListFromRange(Year_start, Year_end)
print(EligibleYears)

Eligible date range: 1900 to 2030
[1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030]

### 1.4 User-defined functions.

In [5]:
# From Stack Exchange @RutgerH
# https://gis.stackexchange.com/questions/163685/reclassify-a-raster-value-to-9999-and-set-it-to-the-nodata-value-using-python-a
def readRaster(filename):
    filehandle = gdal.Open(filename)
    band1 = filehandle.GetRasterBand(1)
    geotransform = filehandle.GetGeoTransform()
    geoproj = filehandle.GetProjection()
    Z = band1.ReadAsArray()
    xsize = filehandle.RasterXSize
    ysize = filehandle.RasterYSize
    return xsize,ysize,geotransform,geoproj,Z

In [6]:
# Default arguments can be changed here, or can be specified below when running the functions.
def writeRaster(filename,geotransform,geoprojection,data, NoDataVal=0, dst_datatype=gdal.GDT_UInt32):
    (x,y) = data.shape
    Dformat = "GTiff"
    driver = gdal.GetDriverByName(Dformat)
    # you can change the dataformat but be sure to be able to store negative values including -9999
    dst_ds = driver.Create(filename,y,x,1,dst_datatype)
    dst_ds.GetRasterBand(1).WriteArray(data)
    dst_ds.SetGeoTransform(geotransform)
    dst_ds.SetProjection(geoprojection)
    dst_ds.GetRasterBand(1).SetNoDataValue(NoDataVal)
    return 1
    dst_ds = None

In [7]:
# Based on Stack Exchange @Kurt Schwehr:
# https://stackoverflow.com/questions/10454316/how-to-project-and-resample-a-grid-to-match-another-grid-with-gdal-python
def resampleRaster(InRaster_Path, MatchRaster_Path, OutFile_Path, 
                   DataType = gdalconst.GDT_UInt32, 
                   ResampType = gdal.GRA_Bilinear, NoDataVal = 0):
    print('Loading for %s. %s' % (InRaster_Path, time.ctime()))
    
    RasterObject = gdal.Open(InRaster_Path)
    In_proj = RasterObject.GetProjection()
    [Match_x, Match_y, Match_geo, Match_proj, Match_Z] = readRaster(MatchRaster_Path)
    print('---Specs to match to: \n', 
      Match_proj, '\n', Match_geo, '\n', Match_x, '\n', Match_y, '\n')
        
    OutFile = gdal.GetDriverByName('GTiff').Create(OutFile_Path, Match_x, Match_y, 1, DataType)
    OutFile.SetGeoTransform(Match_geo)
    OutFile.SetProjection(Match_proj)
    print('---Created raster file for upsampled version. %s' % time.ctime())
    
    gdal.ReprojectImage(RasterObject, OutFile, In_proj, Match_proj, ResampType)
    print('---Resampled values onto an empty raster matching the dimensions of the buildup layer. %s \n\n' % time.ctime())
    
    OutFile.GetRasterBand(1).SetNoDataValue(NoDataVal)
    
    RasterObject = Outfile = None
    return 1

In [8]:
def calcShell(A, OutFile, Calculation, OutType = '',
              B=None, C=None, D=None, E=None, F=None, G=None):
    """Raster math using gdal_calc.py.

    The OSgeo package for Python API does not make raster calculations
    easy outside of the shell. This function plugs up to 6 raster files
    into a string which subprocess.call() then commits to the terminal.

        A : str
            File path to the first raster for the calculation.
        B : str
            File path to the second raster for the calculation.
        NoDataVal : numeric
            Optional value to assign as No Data in the output raster.
        OutFile : str
            File path where to store the raster generated from the calculation.
        Calculation : str
            Algebra that uses A and B to create a new raster. Use double quotes.
    """
    print('Running for %s. %s' % (A, time.ctime()))
    cmd = 'gdal_calc.py -A ' + A
    if B is not None:
        cmd = cmd + ' -B ' + B 
    if C is not None:
        cmd = cmd + ' -C ' + C 
    if D is not None:
        cmd = cmd + ' -D ' + D
    if E is not None:
        cmd = cmd + ' -E ' + E
    if F is not None:
        cmd = cmd + ' -F ' + F
    if G is not None:
        cmd = cmd + ' -G ' + G
        
    cmd = cmd + OutType + ' --outfile=' + OutFile + ' --overwrite --calc=' + Calculation
    subprocess.call(cmd, shell=True)
    cmd = A = B = C = D = E = F = G = None
    print('Ran in shell. See OutFile folder to inspect results. %s' % time.ctime())

In [9]:
def mosaicShell(A, B, OutFile, Band = 1, OutType = '',
                  C=None, D=None, E=None, F=None, G=None):
    print('Running for %s. %s' % (A, time.ctime()))
    
    StringFiles = ' '.join([A,B])
    
    for RasterName in [C,D,E,F,G]:
        if RasterName is not None:
            StringFiles = ' '.join([StringFiles, RasterName])
        else:
            pass
        
    cmd = 'gdal_merge.py -o ' + OutFile + OutType + ' -of gtiff ' + StringFiles
    
    subprocess.call(cmd, shell=True)
    print('Ran in shell. See OutFile folder to inspect results. %s' % time.ctime())

In [10]:
def RasterToShapefile(InRasterPath, OutFilePath = 'RastToShp.shp', Band=1, 
                      OutName='RastToShp', VariableName='value', Driver = 'ESRI Shapefile'):
    """Raster tiff to vector polygon shapefile.
    Can also be used for other file types like geopackage, but note that this code
    currently does not account for writing into an existing file. It will write over
    the file if specified as the file path.
    
    """
    Raster = gdal.Open(InRasterPath)
    RasterBand = Raster.GetRasterBand(Band)
    
    OutDriver = ogr.GetDriverByName(Driver)
    InProj = Raster.GetProjectionRef()
    SpatRef = osr.SpatialReference()
    SpatRef.ImportFromWkt(InProj)
    print(InProj, '\n\n', SpatRef)
    
    if exists(OutFilePath):
        OutFile = ogr.Open(OutFilePath)
    else:
        OutFile = OutDriver.CreateDataSource(OutFilePath)
    OutLayer = OutFile.CreateLayer(OutName, srs = SpatRef, geom_type = ogr.wkbPolygon)
    OutField = ogr.FieldDefn(VariableName, ogr.OFTInteger)
    OutLayer.CreateField(OutField)
    OutField = OutLayer.GetLayerDefn().GetFieldIndex(VariableName)
    print('\n', OutFile, '\n', OutLayer, '\n', OutField)
    
    print('Vectorizing. Input: %s. %s' % (InRasterPath, time.ctime()))
    gdal.Polygonize(RasterBand, None, OutLayer, 0, [], callback=None)
    print('Completed polygons. Stored as: %s. %s' % (OutFilePath, time.ctime()))

    del Raster, RasterBand, OutFile, OutLayer

In [11]:
def rioStats(InRasterPath, Band = 1):
    out = rasterio.open(InRasterPath)
    stats = []
    band = out.read(Band)
    stats.append({
        'raster': out.name,
        'bands': out.count,
        'data type': out.dtypes,
        'no data value': out.nodatavals,
        'width': out.width,
        'height': out.height,
        'min': band.min(),
        'mean': band.mean(),
        'median': np.median(band),
        'max': band.max()})
    print("\n", stats)
    
    out = band = None

In [12]:
def ShapeToRaster(Shapefile, ValueVar, MetaRasterPath, OutFilePath = 'ShpToRast.tif', Band=1, NewDType=None):
    """
    Polygon spatial object to raster tiff.
    """
    # Copy and update the metadata from another raster for the output
    MetaRaster = rasterio.open(MetaRasterPath)
    meta = MetaRaster.meta.copy()
    meta.update(compress='lzw')
    if NewDType is not None:
        meta.update(dtype=NewDType)
    MetaRaster.meta

    print("Rasterizing dataset. %s" % time.ctime())
    with rasterio.open(OutFilePath, 'w+', **meta) as out:
        out_arr = out.read(Band)

        # this is where we create a generator of geom, value pairs to use in rasterizing
        shapes = ((geom,value) for geom, value in zip(Shapefile.geometry, Shapefile[ValueVar]))

        burned = features.rasterize(shapes=shapes, fill=0, out=out_arr, transform=out.transform)
        out.write_band(1, burned)
    out = burned = shapes = None
    
    print("Finished rasterizing. Checking contents. %s" % time.ctime())
    rioStats(OutFilePath)

In [13]:
def BatchZonal(RasterFileList, Zones, KeepFields = None, 
               RasterDirectory = os.getcwd(),
               OutPath = 'BatchZonal.csv',
               Statistics=['count', 'sum', 'mean'],
               NoDataVal = None,
               Prefix = '',
               Suffix = '', 
               DropStatName = False):
    '''
    Choose a single file for the raster source, or multiple. If multiple, then each stat field
    will receive a suffix with the raster's position in the RasterFileList.
    
        RasterFileList: list
                        List of file paths, e.g. tifs. Loaded with rasterio.
        Zones:          geodataframe object
        KeepFields:     list
                        List of field names (string format).
        OutPath:        string
                        File path for the results.
        Statistics:     list
                        Full Statistics options: 
                        ['max', 'min', 'mean', 'count', 'sum', 'median', 'std', 'majority', 'minority', 
                        'unique', 'range']
                        There's also a percentile option in zonal_stats(). I believe you 
                        write it after an underscore in string format, e.g.: 'percentile_25'.
        NoDataVal:      numeric
        Prefix:         string
        Suffix:         string
        DropStatName:   boolean
    
    '''
    if KeepFields is None:
        AllSummaries = pd.DataFrame(Zones)[[]]
    else:
        AllSummaries = pd.DataFrame(Zones)[KeepFields]
    print('Dataframe to merge with: \n', AllSummaries)
    
    
    for idx, RasterFile in enumerate(RasterFileList):
        print('Loading with rasterio. %s\nRaster: %s' % (time.ctime(), RasterFile))
        
        InRasterPath = os.path.join(RasterDirectory, RasterFile)
        
        Year = re.search('\d{4}', os.path.basename(RasterFile))
        if Year is None:
            Year = '_' + str(idx)
        else:
            Year = Year.group(0)

        with rasterio.open(InRasterPath) as src:
            transform = src.meta['transform']
            array = src.read(1)

        print(transform)
        print(array)
        
        print('Zonal statistics. %s' % time.ctime())
        zStats = zonal_stats(Zones, array, affine=transform, stats = Statistics, nodata=NoDataVal)
        #print(zStats)

        ValByZone = pd.DataFrame(Zones)[[]].join(pd.DataFrame(zStats))
        
        if DropStatName is False:
            for stat in Statistics:
                StatField = ''.join([Prefix, stat, Year, Suffix])
                ValByZone = ValByZone.rename(columns={stat:StatField})
            print('%s stat output field for %s: %s' % (stat, RasterFile, StatField))
        else:
            for stat in Statistics:
                StatField = ''.join([Prefix, Year, Suffix])
                ValByZone = ValByZone.rename(columns={stat:StatField})
            print('%s stat output field for %s: %s' % (stat, RasterFile, StatField))

        AllSummaries = AllSummaries.join(ValByZone)
        print(AllSummaries.sample(5))
        
    print('Final dataframe: \n', AllSummaries.sample(5))

    AllSummaries.to_csv(OutPath)

In [14]:
def MaskByZone(MaskPath, SourceFolder, DestFolder, SourceList = None,
               MaskLayerName = None, dstSRS = 'ESRI:102022'):
    """
    Reduces the size of a raster's valid data cells to vector areas of interest.
    This is useful if the raster data needs to be vectorized later to save space.
    
    The script prepares the vector zones as a list of geometries in the desired
    spatial reference system, then warps each raster in the specified source
    folder to the same SRS. Masking in rasterio then reclassifies any raster cells
    falling outside of a mask polygon as NoData.
    """
    
    ProjSRS = osr.SpatialReference()
    ProjSRS.SetFromUserInput(dstSRS)
    ProjWarp = gdal.WarpOptions(dstSRS = dstSRS)
    
    if SourceList is not None:
        SourceFiles = SourceList
    else:
        SourceFiles = []
        SourceFiles = SourceFiles + [i for i in os.listdir(''.join([SourceFolder, r'/'])) if i.endswith('tif')]
        print(SourceFiles)

    
    ### 1. ASSIGN SPATIAL REFERENCE SYSTEM OF VECTOR MASK AND LOAD GEOMETRIES
    Vector = gpd.read_file(filename=MaskPath, layer=MaskLayerName)
    if Vector.crs != dstSRS:
        if MaskLayerName == None:
            MaskPath = MaskPath + '_temp'
        else:
            MaskLayerName = MaskLayerName + '_temp'
        Vector.to_crs(dstSRS).to_file(filename=MaskPath, layer=MaskLayerName)
    Vector = None # We're reloading the geometries with fiona
    
    with fiona.open(MaskPath, mode="r", layer=MaskLayerName) as Vector:
        MaskGeom = [feature["geometry"] for feature in Vector] # Identify the bounding areas of the mask.
    
    
    ### 2. PREPARE DESTINATION FILES
    for FileName in SourceFiles:
    
        InputRasterPath = os.path.join(Workspace, SourceFolder, FileName)
        
        Sensor = re.search('[A-Z]+_', FileName)
        if Sensor is None:
            Sensor = ''
        else:
            Sensor = Sensor.group(0)

        Year = re.search('\d{4}', FileName)
        if Year is None:
            Year = ''
        else:
            Year = Year.group(0)

        if FileName.endswith('avg.tif') == True:
            IndicType = '_avg'
        elif FileName.endswith('cfc.tif') == True:
            IndicType = '_cfc'
        else:
            IndicType = ''

        TempOutputName = 'Temp_' + Sensor + Year + IndicType + '.tif'
        TempOutputPath = os.path.join(Workspace, DestFolder, TempOutputName)
        FinalOutputName = 'Msk_' + Sensor + Year + IndicType + '.tif'
        FinalOutputPath = os.path.join(Workspace, DestFolder, FinalOutputName)

    ### 3. ASSIGN SPATIAL REFERENCE SYSTEM OF RASTER(S)
        InputRasterObject = gdal.Open(InputRasterPath)
        SourceSRS = osr.SpatialReference(wkt=InputRasterObject.GetProjection())
        print('Source projection: ', SourceSRS.GetAttrValue('projcs'))
        print('Destination projection: ', ProjSRS.GetAttrValue('projcs'))

        if SourceSRS.GetAttrValue('projcs') != ProjSRS.GetAttrValue('projcs'):
            Warp = gdal.Warp(TempOutputPath, # Where to store the warped raster
                         InputRasterObject, # Which raster to warp
                         format='GTiff', 
                         options=ProjWarp) # Reproject to Africa Albers Equal Area Conic
            print('Finished gdal.Warp() for %s. %s \n' % (FileName, time.ctime()))

            Warp = None # Close the files
        else:
            pass
        InputRasterObject = None
        
    ### 4. RECLASSIFY AS NODATA IF OUTSIDE OF SETTLEMENT BUFFER ZONE.
        if exists(TempOutputPath):
            NewInputPath = TempOutputPath 
            print("We warped the data, so we'll use that file for next step.")
        else:
            NewInputPath = InputRasterPath 
            print("We skipped the warp, so we continue to use the source file.")

        with rasterio.open(NewInputPath) as InputRasterObject:
            MaskedOutputRaster, OutTransform = rasterio.mask.mask(
                InputRasterObject, MaskGeom, crop=True) # Anything outside the mask is reclassed to the raster's NoData value.
            OutMetaData = InputRasterObject.meta.copy()
        print('Finished rasterio.mask.mask() for %s. %s \n' % (FileName, time.ctime()))

        OutMetaData.update({"driver": "GTiff",
                         "height": MaskedOutputRaster.shape[1],
                         "width": MaskedOutputRaster.shape[2],
                         "transform": OutTransform})

        with rasterio.open(FinalOutputPath, "w", **OutMetaData) as dest:
            dest.write(MaskedOutputRaster)
        print('Written to file. %s \n' % time.ctime())
        InputRasterObject = None

        if exists(TempOutputPath):
            try:  # Finally, remove the intermediate file from disk
                os.remove(TempOutputPath)
            except OSError:
                pass
            print('Removed intermediate file. %s \n' % time.ctime())
        else:
            pass


    print('\n \n Finished all years in list. %s' % time.ctime())

In [15]:
def BatchZonalStats(FolderName, Zones, 
                    CRS = 'ESRI:102022', 
                    JoinField = 'Sett_ID',
                    StatsWanted = ['count', 'sum', 'mean', 'max', 'min'],
                    SeriesStart = 1999, SeriesEnd = 2021, 
                    AnnualizedFiles = None, VarPrefix = None):
    """
    Normally, we would use numpy to generate a point gdf from the raster's matrix. 
    However, I was running into a lot of memory errors with that method.
    This method uses some extra steps: tif to xyz to df to gdf. But it saves to file
    and deletes intermediate files along the way, circumventing memory issues.
    
    Run MaskByZone() prior to reduce the raster to only your area(s) of interest.
    
    """
    if AnnualizedFiles is None:
        AnnualizedFiles = [i for i in os.listdir(FolderName) if i.endswith('.tif')]
    print(AnnualizedFiles)
    AllSummaries = pd.DataFrame(Zones).drop(columns='geometry')[[JoinField]]
    print(AllSummaries)
    
    if VarPrefix is None:
        VarPrefix = FolderName[:3].upper()
    
    for FileName in AnnualizedFiles:
    ### STEP 1: TIF TO XYZ ###
        print('Loading data for %s. %s \n' % (FileName, time.ctime()))
        
        Sensor = re.search('[A-Z]+_', FileName)
        if Sensor is None:
            Sensor = ''
        else:
            Sensor = Sensor.group(0)
            
        Year = re.search('\d{4}', FileName)
        if Year is None:
            Year = ''
        else:
            Year = Year.group(0)
        
        InputRasterPath = os.path.join(Workspace, FolderName, FileName)
        InputRasterObject = gdal.Open(InputRasterPath)
        XYZOutputPath = FolderName + r'/{}'.format(
            FileName.replace('.tif', '.xyz')) # New file path will be the same as original, but .tif is replaced with .xyz

        # Create an .xyz version of the .tif
        if exists(XYZOutputPath):
            print("Already created xyz file.")
        else:
            print("Creating XYZ (gdal.Translate()).")
            XYZ = gdal.Translate(XYZOutputPath, # Specify a destination path
                                 InputRasterObject, # Input is the masked .tif file
                                 format='XYZ', 
                                 creationOptions=["ADD_HEADER_LINE=YES"])
            print('Finished gdal.Translate() for year %s. %s \n' % (Year, time.ctime()))
            XYZ = None # Reload XYZ as a point geodataframe

        InputRasterObject = None


    ### STEP 2: GENERATE GEODATAFRAME WITH JOIN FIELD ###
        InputXYZ = pd.read_table(XYZOutputPath, delim_whitespace=True)
        InputXYZ = InputXYZ.loc[InputXYZ['Z'] > 0] # Subset to only the features that have a value.
        
        if re.search('WSFE', FileName) is not None: # Scale back up to years if working with flood/building data.
            InputXYZ['Z'] = InputXYZ['Z'] + 1900
            
        print('Loaded XYZ file as a pandas dataframe. %s \n' % time.ctime())
        ValObject = gpd.GeoDataFrame(InputXYZ,
                                     geometry = gpd.points_from_xy(InputXYZ['X'], InputXYZ['Y']),
                                     crs = CRS)
        print('Created geodataframe from non-NoData points. %s \n' % time.ctime())
        del InputXYZ

        # Sjoin_nearest: No need to group by ADM this time. 
        ValObject_withID = pd.DataFrame(gpd.sjoin_nearest(ValObject, 
                                        Zones, 
                                        how='left')).drop(columns='geometry')[['Z', JoinField]] # No need for max_distance parameter this time. We've already narrowed down to nearby raster cells.

        print('\nJoined zone ID onto vectorized raster cells. %s \n' % time.ctime())
        print(ValObject_withID.sample(10))
        del ValObject

        ValObject_withID.to_csv(''.join([FolderName, r'/', FileName.replace('.tif', '.csv')]))
        print('\nExported as table. %s \n' % time.ctime())

#         # Remove the temporary xyz file.
#         try:  
#             os.remove(os.path.join(XYZOutputPath))
#         except OSError:
#             pass
#         print('Removed (or skipped if error) intermediate xyz file. %s \n' % time.ctime())


    ### STEP 3: AGGREGATE BY SETTLEMENT AND MERGE ONTO SUMMARIES TABLE ###
        GroupedVals = ValObject_withID[ValObject_withID['Z'].notna()].groupby(JoinField, as_index=False)
        
        # Run this block if the variable is about cloud-free coverage.
        if re.search('cfc', FileName) is not None:
            VariableName = ''.join([VarPrefix, 'cfc_', Sensor, Year])
            AllSummaries = AllSummaries.merge(GroupedVals.mean().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            print('\nCount of cloud-free observations averaged to settlement level, year %s. %s \n' % (Year, time.ctime()))
            
            # Save in-progress results
            AllSummaries.to_csv(os.path.join(Results, ''.join([VarPrefix, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
            print(AllSummaries.sample(10))
        
        # Run this block if we're working with the flooded buildings data.
        elif re.search('WSFE', FileName) is not None:
            for BuiltYear in EligibleYears:
                Grouped_Subset = GroupedVals[GroupedVals['Z'].between(
                    1985, BuiltYear, inclusive=True)] # Inclusive parameter means we include the years 1985 and the named year.
                if 'count' in StatsWanted:
                    VariableName = ''.join([VarPrefix, 'ct', Sensor, BuiltYear])
                    AllSummaries = AllSummaries.merge(GroupedVals.count().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
                if 'sum' in StatsWanted:
                    VariableName = ''.join([VarPrefix, 'sum', Sensor, BuiltYear])
                    AllSummaries = AllSummaries.merge(GroupedVals.sum().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
                if 'mean' in StatsWanted:
                    VariableName = ''.join([VarPrefix, 'avg', Sensor, BuiltYear])
                    AllSummaries = AllSummaries.merge(GroupedVals.mean().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
                if 'max' in StatsWanted:
                    VariableName = ''.join([VarPrefix, 'max', Sensor, BuiltYear])
                    AllSummaries = AllSummaries.merge(GroupedVals.max().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
                if 'min' in StatsWanted:
                    VariableName = ''.join([VarPrefix, 'min', Sensor, BuiltYear])
                    AllSummaries = AllSummaries.merge(GroupedVals.min().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
                print('\nDesired aggregation methods applied to settlement level, year %s. %s \n' % (Year, time.ctime()))

                # Save in-progress results
                AllSummaries.to_csv(os.path.join(Results, ''.join([VarPrefix, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
                print(AllSummaries.sample(10))
        
        # Anything else takes the standard aggregation method.
        else:
            if 'count' in StatsWanted:
                VariableName = ''.join([VarPrefix, 'ct', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.count().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'sum' in StatsWanted:
                VariableName = ''.join([VarPrefix, 'sum', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.sum().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'mean' in StatsWanted:
                VariableName = ''.join([VarPrefix, 'avg', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.mean().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'max' in StatsWanted:
                VariableName = ''.join([VarPrefix, 'max', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.max().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'min' in StatsWanted:
                VariableName = ''.join([VarPrefix, 'min', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.min().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            print('\nDesired aggregation methods applied to settlement level, year %s. %s \n' % (Year, time.ctime()))
            
            # Save in-progress results
            AllSummaries.to_csv(os.path.join(Results, ''.join([VarPrefix, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
            print(AllSummaries.sample(10))

    
    print('\n\nFinished. All years masked and assigned their nearest settlement. %s' % time.ctime())
    print(AllSummaries.sample(10))
    AllSummaries.to_csv(os.path.join(Results, ''.join([VarPrefix, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
    print('Saved to file. %s \n' % time.ctime())

---

## 2. PREPARE BUILDUP, SETTLEMENT, AND ADMIN DATASETS
Projection for all datasets: Africa Albers Equal Area Conic

### 2.1 Prepare GRID3 and Admin area files

#### Admin areas

In [16]:
# Pull the first file ([0]) which ends in '.shp' from the specified folder, drop all variables, and reproject.
ADM_vec = gpd.read_file(glob.glob('Source/ADM/*.shp')[0])[['geometry']].to_crs('ESRI:102022')

# Create a fresh unique ID
ADM_vec['ADM_ID'] = range(0, len(ADM_vec))
ADM_vec['ADM_ID'] = ADM_vec['ADM_ID'] + 1  # Plus one allows us to assign 0 as No Data when rasterizing, to match WSFE.
# We have to add 1 if we want our rasterized version's NoData value to be 0. Otherwise the first feature won't be valid.
ADM_vec.to_file(driver='GPKG', filename=os.path.join(Source, 'ADM', 'ADM_withID.gpkg'), layer='ADM')

# Now reload.
ADM_vec = gpd.read_file(os.path.join(Source, 'ADM', 'ADM_withID.gpkg'), layer='ADM')

In [17]:
# We need to know how many digits need to be allocated to each dataset in the "join" serial.
len_ADM = len(str(ADM_vec['ADM_ID'].max()))

print(ADM_vec.info(), "\n\n", 
      ADM_vec.sample(5),
      ADM_vec.crs, "\n\n", 
      'Number of digits: ', len_ADM)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ADM_ID    272 non-null    int64
 1   geometry  272 non-null    geometry
dtypes: geometry(1), int64(1)
memory usage: 4.4 KB
None

      ADM_ID                                           geometry
50       51  POLYGON ((1184519.255 3881539.664, 1184522.540...
174     175  POLYGON ((1189990.139 3892919.557, 1190113.966...
95       96  POLYGON ((1190359.520 3725033.179, 1190481.824...
66       67  POLYGON ((1340425.094 3983571.296, 1339706.926...
150     151  POLYGON ((1226443.094 3854947.081, 1226283.464... PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

 Number of digits:  3

#### Settlements

In [18]:
# For GRID3, we will still retain the 'type' field.
GRID3_vec = gpd.read_file(glob.glob('Source/Settlement/*.shp')[0])[['class_v1','geometry']].to_crs("ESRI:102022")

GRID3_vec['G3_ID'] = range(0,len(GRID3_vec))
GRID3_vec['G3_ID'] = GRID3_vec['G3_ID'] +1 # Plus one allows us to assign 0 as No Data when rasterizing, to match WSFE.

In [19]:
GRID3_vec.to_file(driver='GPKG', filename=os.path.join(Source, 'Settlement', 'Settlement_withID.gpkg'), layer='GRID3')
GRID3_vec = gpd.read_file(os.path.join(Source, 'Settlement', 'Settlement_withID.gpkg'), layer='GRID3')

In [20]:
len_G3 =  len(str(GRID3_vec['G3_ID'].max()))

print(GRID3_vec.info(), "\n\n",
      GRID3_vec.sample(5),
      GRID3_vec.crs, "\n\n", 
      'Number of digits: ', len_G3)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 157080 entries, 0 to 157079
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   class_v1  157080 non-null  object
 1   G3_ID     157080 non-null  int64
 2   geometry  157080 non-null  geometry
dtypes: geometry(1), int64(1), object(1)
memory usage: 3.6+ MB
None

        class_v1   G3_ID                                           geometry
2385        SSA    2386  POLYGON ((1157156.777 3652077.065, 1157244.456...
146381   Hamlet  146382  POLYGON ((1653157.319 3977659.526, 1653420.703...
96226    Hamlet   96227  POLYGON ((1275960.840 3974436.382, 1276048.634...
111234   Hamlet  111235  POLYGON ((1347453.247 3979275.227, 1347541.043...
22091    Hamlet   22092  POLYGON ((1156671.016 3923360.306, 1156758.791... PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

 Number of digits:  6

In [21]:
GRID3_vec = GRID3_vec.rename(columns={'class_v1':'type'})

### 2.2 Reproject WSFE to project CRS, and ensure file contains only valid date range.

In [22]:
for filename in os.listdir(os.path.join(Source, 'Buildup')):
    if exists(filename.endswith('.tif')):
        SourceWSFE = glob.glob(os.path.join(Source, 'Buildup', '*.tif'))[0]
    else:
        # If WSFE hasn't been mosaicked yet:
        A=os.path.join(Source, 'Buildup', 'Premosaic', 'WSFE1.tif')
        B=os.path.join(Source, 'Buildup', 'Premosaic', 'WSFE2.tif')
        C=os.path.join(Source, 'Buildup', 'Premosaic', 'WSFE3.tif')
        D=os.path.join(Source, 'Buildup', 'Premosaic', 'WSFE4.tif')

        SourceWSFE = os.path.join(Intermediate, 'WSFE.tif')
        
        mosaicShell(A=A, B=B, C=C, D=D, OutFile=SourceWSFE, OutType = ' -ot UInt32 ')

In [23]:
SourceWSFE

'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Buildup\\GAIA_WSFevolution_1985-2022.tif'

In [ ]:
InPath = SourceWSFE
OutWGS = os.path.join(Intermediate, 'WSFE_reclass.tif')

# Together, x and y define the data's "shape".
# geotransform contains the parameters detailing how the raster should be stretched and aligned.
# geoproj is the map projection
# Z are the values in the raster band.
[xsize,ysize,geotransform,geoproj,Z] = readRaster(InPath)
Z[Z<Year_start] = 0
Z[Z>Year_end] = 0

writeRaster(OutWGS,geotransform,geoproj,Z, NoDataVal=0, dst_datatype=gdal.GDT_UInt32) # Unsigned 32 so that we can concatenate.
print('Wrote the reclassed raster to file. %s' % time.ctime())

In [77]:
# In case the raster doesn't go up to our preferred end year, let's make sure we've recorded the accurate one.
WSFE_start = int(Z[Z>0].min())
WSFE_end = int(Z[Z>0].max())
print('Source date range: ', WSFE_start, '-', WSFE_end)

Source date range:  1985 - 2021

In [78]:
WSFE_Years = ListFromRange(WSFE_start, WSFE_end)
Reversed_WSFE_Years = []
for i in WSFE_Years:
    Reversed_WSFE_Years.insert(0,i)
print(WSFE_Years, '\n\n', Reversed_WSFE_Years)

[1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]

 [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985]

In [26]:
OutEqArea = os.path.join(Intermediate, 'WSFE_equalarea.tif')

# Whenever we want to work in a projected CRS, we'll use Africa Albers Equal Area Conic.
ProjEqArea = gdal.WarpOptions(dstSRS='ESRI:102022')
Warp = gdal.Warp(OutEqArea, # Where to store the warped raster
                 OutWGS, # Which raster to warp
                 format='GTiff', 
                 options=ProjEqArea)
print('Wrote the reclassed and reprojected raster to file. %s' % time.ctime())

Wrote the reclassed and reprojected raster to file. Wed Sep 13 11:25:25 2023

In [27]:
rioStats(OutWGS)
rioStats(OutEqArea)

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Syria/Intermediate/WSFE_reclass.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (0.0,), 'width': 31912, 'height': 21152, 'min': 0, 'mean': 43.49248497291767, 'median': 0.0, 'max': 2021}]

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Syria/Intermediate/WSFE_equalarea.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (0.0,), 'width': 32854, 'height': 20036, 'min': 0, 'mean': 42.82576195744719, 'median': 0.0, 'max': 2021}]

In [28]:
InPath = Warp = OutWGS = OutEqArea = SourceWSFE = None

---

## 3. WSFE AND ADM; GRID3 AND ADM
RASTERIZE: Bring ADM and GRID3 into raster space.

RASTER MATH: "Join" ADM ID onto GRID3 and onto WSFE by creating unique concatenation string.

VECTORIZE: Bring joined data into vector space.

VECTOR MATH: Split unique ID from raster math step into separate columns.

### 3.1 Rasterize admin areas and GRID3 using WSFE specs.

In [29]:
G3_max = GRID3_vec.G3_ID.max()
G3_min = GRID3_vec.G3_ID.min()
ADM_max = ADM_vec.ADM_ID.max()
ADM_min = ADM_vec.ADM_ID.min()
print(G3_max, G3_min, ADM_max, ADM_min) # Min should not be zero.

157080 1 272 1

In [30]:
# Copy and update the metadata from WSFE for the output
WSFE = os.path.join(Intermediate, 'WSFE_equalarea.tif')
ADM_out = os.path.join(Intermediate, 'ADM_rasterized.tif')
GRID3_out = os.path.join(Intermediate, 'GRID3_rasterized.tif')

In [31]:
# ADM raster can be unsigned int 16. Consider 32 if there are thousands of admin areas.
ShapeToRaster(Shapefile=ADM_vec, ValueVar="ADM_ID", MetaRasterPath=WSFE, OutFilePath=ADM_out, NewDType = 'uint16')

# To be safe, we'll do unsigned 32 for settlements.
ShapeToRaster(GRID3_vec, "G3_ID", WSFE, GRID3_out, NewDType='uint32')

# Check printed stats here to make sure the NoData and min values are 0 
# and the max is the number of vector features in the input.

Rasterizing dataset. Wed Sep 13 11:25:35 2023
Finished rasterizing. Checking contents. Wed Sep 13 11:25:43 2023

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Syria/Intermediate/ADM_rasterized.tif', 'bands': 1, 'data type': ('uint16',), 'no data value': (0.0,), 'width': 32854, 'height': 20036, 'min': 0, 'mean': 58.275021362898215, 'median': 0.0, 'max': 272}]
Rasterizing dataset. Wed Sep 13 11:25:46 2023
Finished rasterizing. Checking contents. Wed Sep 13 11:26:16 2023

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Syria/Intermediate/GRID3_rasterized.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (0.0,), 'width': 32854, 'height': 20036, 'min': 0, 'mean': 1511.3145033375913, 'median': 0.0, 'max': 157080}]

### 3.2 Raster math to "join" admin to GRID3 and to WSFE.
Processing is more rapid when "joining," i.e. creating serial codes out of two datasets, in raster rather than vector space.
Here, we are concatenating the ID fields of the two datasets to create a serial number that we can then split in vector space later to create two ID fields.

In [32]:
# In paths
InG3 = os.path.join(Intermediate, 'GRID3_rasterized.tif')
InWSFE = os.path.join(Intermediate, 'WSFE_equalarea.tif')
InADM = os.path.join(Intermediate, 'ADM_rasterized.tif')

# Out paths
G3_ADM = os.path.join(Intermediate, 'GRID3_ADM.tif')
WSFE_ADM = os.path.join(Intermediate, 'WSFE_ADM.tif')

In [33]:
G3_rio = rasterio.open(InG3).read(1)
WSFE_rio = rasterio.open(InWSFE).read(1)
ADM_rio = rasterio.open(InADM).read(1)

In [34]:
print("G3 range accurate? ", G3_rio.max()==G3_max)
print("WSFE range accurate? ", WSFE_rio.max()==WSFE_end)
print("ADM range accurate? ", ADM_rio.max()==ADM_max)

G3 range accurate?  True
WSFE range accurate?  True
ADM range accurate?  True

In [35]:
# Recalculate number of digits for each dataset if starting from Section 3
len_G3 = len(str(G3_rio.max()))
len_WSFE = len(str(WSFE_rio.max()))
len_ADM = len(str(ADM_rio.max()))

In [36]:
G3_rio = WSFE_rio = ADM_rio = None
print('\nDIGITS', '\nGRID3: ', len_G3, '\nWSFE: ', len_WSFE, '\nADM: ', len_ADM)

DIGITS
GRID3:  6
WSFE:  4
ADM:  3

In [40]:
# Calculations
# The number of digits in the largest ADM index value (len_ADM) is 
# the number of zeroes we tack onto the first variable in the serial.

Calc = "(A*" + str(10**len_ADM) + ")+B" 

calcShell(A=InG3, B=InADM, OutFile=G3_ADM, Calculation=Calc)
calcShell(A=InWSFE, B=InADM, OutFile=WSFE_ADM, Calculation=Calc)

Running for Q:\GIS\povertyequity\urban_growth\Syria\Intermediate\GRID3_rasterized.tif. Wed Sep 13 11:27:39 2023
Ran in shell. See OutFile folder to inspect results. Wed Sep 13 11:28:42 2023
Running for Q:\GIS\povertyequity\urban_growth\Syria\Intermediate\WSFE_equalarea.tif. Wed Sep 13 11:28:42 2023
Ran in shell. See OutFile folder to inspect results. Wed Sep 13 11:29:44 2023

*Adding together the values to create join IDs. This is in effect a concatenation of their ID strings, by way of summation. The number of zeros in the calc multiplication corresponds with number of digits of the maximum value in the "B" dataset. (e.g. Chad ADM codes go up 4 digits, so it's calc=(A*10000)+B).*

In [41]:
rioStats(G3_ADM)
rioStats(WSFE_ADM)

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Syria/Intermediate/GRID3_ADM.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (4294967293.0,), 'width': 32854, 'height': 20036, 'min': 1063, 'mean': 4208011649.944821, 'median': 4294967293.0, 'max': 4294967293}]

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Syria/Intermediate/WSFE_ADM.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (4294967293.0,), 'width': 32854, 'height': 20036, 'min': 1985001, 'mean': 4271188891.221792, 'median': 4294967293.0, 'max': 4294967293}]

In [42]:
G3_ADM = WSFE_ADM = None

### 3.3 Vectorize serialized layers.

In [43]:
G3_in = os.path.join(Intermediate, 'GRID3_ADM.tif')
G3_out = os.path.join(Intermediate, 'GRID3_ADM.shp')
WSFE_in = os.path.join(Intermediate, 'WSFE_ADM.tif')
WSFE_out = os.path.join(Intermediate, 'WSFE_ADM.shp')

In [44]:
RasterToShapefile(G3_in, G3_out, OutName='GRID3_ADM', VariableName='gridcode', Driver = 'ESRI Shapefile')

PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]

 PROJCS["Africa_Albers_Equal_Area_Conic",
    GEOGCS["WGS 84",
        DATUM["WGS_1984",
            SPHEROID["WGS 84",6378137,298.257223563,
                AUTHORITY["EPSG","7030"]],
            AUTHORITY["EPSG","6326"]],
        PRIMEM["Greenwich",0],
        UNIT["degree",0.0174532925199433,
            AUTHORITY["EPSG","9122"]],
        AUTHORITY["EPSG","4326"]],
    PROJECTION["Albers_Conic_Equal_Area"],
    PARAMETER["latitude_of_center",0],
    PARAMETER["longitude_of_center",25],
    PARAMETER["standard_parallel_1",20],
    PARAMETER["standard_parallel_2",-23],
    PARAMETER["false_easting",0],
    PARAMETER["false_northing",0],
    UNIT["metre",1,
        AUTHORITY["EPSG","9001"]],
    AXIS["Easting",EAST],
    AXIS["Northing",NORTH]]

 <osgeo.ogr.DataSource; proxy of <Swig Object of type 'OGRDataSourceShadow *' at 0x0000022F0049C2D0> >
 <osgeo.ogr.Layer; proxy of <Swig Object of type 'OGRLayerShadow *' at 0x0000022F0049F750> >
 0
Vectorizing. Input: Q:\GIS\povertyequity\urban_growth\Syria\Intermediate\GRID3_ADM.tif. Wed Sep 13 11:30:22 2023
Completed polygons. Stored as: Q:\GIS\povertyequity\urban_growth\Syria\Intermediate\GRID3_ADM.shp. Wed Sep 13 11:39:48 2023

In [45]:
RasterToShapefile(WSFE_in, WSFE_out, OutName='WSFE_ADM', VariableName='gridcode', Driver = 'ESRI Shapefile')

PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]

 PROJCS["Africa_Albers_Equal_Area_Conic",
    GEOGCS["WGS 84",
        DATUM["WGS_1984",
            SPHEROID["WGS 84",6378137,298.257223563,
                AUTHORITY["EPSG","7030"]],
            AUTHORITY["EPSG","6326"]],
        PRIMEM["Greenwich",0],
        UNIT["degree",0.0174532925199433,
            AUTHORITY["EPSG","9122"]],
        AUTHORITY["EPSG","4326"]],
    PROJECTION["Albers_Conic_Equal_Area"],
    PARAMETER["latitude_of_center",0],
    PARAMETER["longitude_of_center",25],
    PARAMETER["standard_parallel_1",20],
    PARAMETER["standard_parallel_2",-23],
    PARAMETER["false_easting",0],
    PARAMETER["false_northing",0],
    UNIT["metre",1,
        AUTHORITY["EPSG","9001"]],
    AXIS["Easting",EAST],
    AXIS["Northing",NORTH]]

 <osgeo.ogr.DataSource; proxy of <Swig Object of type 'OGRDataSourceShadow *' at 0x0000022F0049CF60> >
 <osgeo.ogr.Layer; proxy of <Swig Object of type 'OGRLayerShadow *' at 0x0000022F0049F750> >
 0
Vectorizing. Input: Q:\GIS\povertyequity\urban_growth\Syria\Intermediate\WSFE_ADM.tif. Wed Sep 13 11:39:48 2023
Completed polygons. Stored as: Q:\GIS\povertyequity\urban_growth\Syria\Intermediate\WSFE_ADM.shp. Wed Sep 13 11:44:41 2023

### 3.4 Vector math to split raster strings into admin area, GRID3, and WSFE year assignments.

In [46]:
# Load newly created vectorized datasets.
GRID3_ADM = gpd.read_file(G3_out).to_crs("ESRI:102022")
WSFE_ADM = gpd.read_file(WSFE_out).to_crs("ESRI:102022")
print(GRID3_ADM.info(), "\n\n", GRID3_ADM.sample(10), "\n\n", GRID3_ADM.crs, "\n\n", 
      WSFE_ADM.info(), "\n\n", WSFE_ADM.sample(10), "\n\n", WSFE_ADM.crs, "\n\n", 
      GRID3_ADM['gridcode'].max(), WSFE_ADM['gridcode'].max())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 197953 entries, 0 to 197952
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gridcode  197953 non-null  int64
 1   geometry  197953 non-null  geometry
dtypes: geometry(1), int64(1)
memory usage: 3.0 MB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1375670 entries, 0 to 1375669
Data columns (total 2 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   gridcode  1375670 non-null  int64
 1   geometry  1375670 non-null  geometry
dtypes: geometry(1), int64(1)
memory usage: 21.0 MB
None

          gridcode                                           geometry
82893   110514166  POLYGON ((1399028.929 3952698.588, 1399111.913...
46466   100721076  POLYGON ((1313362.258 3991617.866, 1313528.225...
81225    77211030  POLYGON ((1213892.659 3954551.887, 1213975.642...
111583   67734246  POLYGON ((1234638.543 3909436.504, 1234804.510...
50587   112310211  POLYGON ((1334218.787 3986057.969, 1334329.432...
116649   17983060  POLYGON ((1168141.069 3898095.421, 1168307.036...
89180    66307225  POLYGON ((1245426.403 3945755.632, 1245537.047...
71039   145975229  POLYGON ((1622503.593 3964426.928, 1622697.222...
128777   86662190  POLYGON ((1305451.161 3874694.063, 1305561.806...
3146    152264200  POLYGON ((1718432.562 4060577.185, 1718515.545...

 ESRI:102022

 None

          gridcode                                           geometry
156384    2013114  POLYGON ((1715030.237 4009846.583, 1715057.898...
832332    2021044  POLYGON ((1170796.542 3751684.801, 1170824.203...
587853    2013036  POLYGON ((1270100.174 3873338.665, 1270127.835...
474065    2021050  POLYGON ((1155223.298 3897182.602, 1155278.621...
23749     1987014  POLYGON ((1808746.311 4066164.743, 1808773.972...
1091289   1990045  POLYGON ((1189689.127 3722280.967, 1189716.788...
207666    2010110  POLYGON ((1293390.887 3990732.709, 1293418.548...
548523    2012099  POLYGON ((1245177.452 3883241.367, 1245205.113...
594210    2021107  POLYGON ((1226782.768 3871430.044, 1226810.429...
1359430   2010063  POLYGON ((1181114.162 3637361.148, 1181169.484...

 ESRI:102022

 2147483647 2147483647

In [47]:
# Split serial back into separate dataset fields.
# For example, Burkina: WSFE and ADM: 4+3=7 digits. GRID3 and ADM: 6+3=9 digits.
G3_Fill = len_G3 + len_ADM
WSFE_Fill = len_WSFE + len_ADM

GRID3_ADM['gridstring'] = GRID3_ADM['gridcode'].astype(str).str.zfill(G3_Fill)
WSFE_ADM['gridstring'] = WSFE_ADM['gridcode'].astype(str).str.zfill(WSFE_Fill)

GRID3_ADM['Sett_ID'] = GRID3_ADM['gridstring'].str[:-len_ADM].astype(int) # Remove the last 3 digits to get the GRID3 portion.
GRID3_ADM['ADM_ID'] = GRID3_ADM['gridstring'].str[-len_ADM:].astype(int) # Keep only the last 3 digits to get the ADM portion.
WSFE_ADM['year'] = WSFE_ADM['gridstring'].str[:-len_ADM].astype(int)
WSFE_ADM['ADM_ID'] = WSFE_ADM['gridstring'].str[-len_ADM:].astype(int)

print(GRID3_ADM.sample(10), WSFE_ADM.sample(10))

          gridcode                                           geometry  \
51885     76723062  POLYGON ((1233781.046 3984619.588, 1233864.030...
70140    139073152  POLYGON ((1596612.730 3965229.102, 1596806.358...
181541    36864155  POLYGON ((1232646.938 3686708.691, 1232729.922...
164896  2147483647  POLYGON ((1163217.379 3746069.581, 1163383.346...
92625    109807012  POLYGON ((1361216.098 3940997.909, 1361299.081...
149351    50530016  POLYGON ((1223657.055 3837351.472, 1223933.667...
164443    38225070  POLYGON ((1255661.039 3747812.236, 1255771.684...
17368    135560243  POLYGON ((1509839.612 4030315.856, 1510005.579...
25205    115715177  POLYGON ((1377204.259 4022128.147, 1377287.242...
65909    139683152  POLYGON ((1564940.680 3968825.055, 1565051.325...

        gridstring  Sett_ID  ADM_ID
51885    076723062    76723      62
70140    139073152   139073     152
181541   036864155    36864     155
164896  2147483647  2147483     647
92625    109807012   109807      12
149351   050530016    50530      16
164443   038225070    38225      70
17368    135560243   135560     243
25205    115715177   115715     177
65909    139683152   139683     152            gridcode                                           geometry  \
783941    2005111  POLYGON ((1240198.440 3811654.236, 1240226.101...
1142849   2021197  POLYGON ((1144518.422 3715531.640, 1144573.744...
930456    2010073  POLYGON ((1206783.736 3734894.465, 1206811.397...
875101    1986073  POLYGON ((1208249.778 3741892.743, 1208277.439...
1133276   1986045  POLYGON ((1196770.389 3717716.873, 1196798.050...
223795    2005129  POLYGON ((1279145.380 3988824.087, 1279173.041...
981393    1991061  POLYGON ((1187310.266 3731187.867, 1187337.927...
696645    2010151  POLYGON ((1222605.930 3847254.174, 1222744.236...
474831    2017050  POLYGON ((1155250.960 3897044.296, 1155278.621...
1257943   2018230  POLYGON ((1224874.147 3663445.640, 1224901.808...

        gridstring  year  ADM_ID
783941     2005111  2005     111
1142849    2021197  2021     197
930456     2010073  2010      73
875101     1986073  1986      73
1133276    1986045  1986      45
223795     2005129  2005     129
981393     1991061  1991      61
696645     2010151  2010     151
474831     2017050  2017      50
1257943    2018230  2018     230

In [48]:
# Dissolve any features that have the same G3 and ADM values so that we have a single unique feature per settlement.
# Note: we do NOT want to dissolve the WSFE features. Distinct features for noncontiguous builtup areas of the same year is necessary to separate them in the Near tool step.

print(time.ctime())
GRID3_ADM = GRID3_ADM.dissolve(by=['Sett_ID', 'ADM_ID'], as_index=False)
print(GRID3_ADM.info(), GRID3_ADM.head(), "\n\n", time.ctime())

Wed Sep 13 11:46:11 2023
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 158685 entries, 0 to 158684
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sett_ID     158685 non-null  int64
 1   ADM_ID      158685 non-null  int64
 2   geometry    158685 non-null  geometry
 3   gridcode    158685 non-null  int64
 4   gridstring  158685 non-null  object
dtypes: geometry(1), int64(3), object(1)
memory usage: 6.1+ MB
None    Sett_ID  ADM_ID                                           geometry  \
0        1      63  POLYGON ((1185042.049 3636946.231, 1185069.710...
1        1     180  POLYGON ((1185069.710 3636946.231, 1185235.677...
2        2      40  MULTIPOLYGON (((1143660.926 3656253.733, 11436...
3        3      63  MULTIPOLYGON (((1167117.605 3647263.850, 11671...
4        4      63  POLYGON ((1171598.716 3648314.975, 1171792.344...

   gridcode gridstring
0      1063  000001063
1      1180  000001180
2      2040  000002040
3      3063  000003063
4      4063  000004063

 Wed Sep 13 11:48:01 2023

In [49]:
# Remove features where year, settlement, or admin area = 0.
# This was supposed to be resolved earlier with the gdal_calc NoDataValue parameter. Being thorough.

print("Before: WSFE %s and GRID3 %s\n" % (WSFE_ADM.shape, GRID3_ADM.shape))
WSFE_ADM = WSFE_ADM.loc[(WSFE_ADM["year"] != 0) & (WSFE_ADM["ADM_ID"] != 0)] # Since we change the datatype to integer, no need to include all digits. Otherwise, it would need to be: != '0000'
GRID3_ADM = GRID3_ADM.loc[(GRID3_ADM["Sett_ID"] != 0) & (GRID3_ADM["ADM_ID"] != 0)]
print("After: WSFE %s and GRID3 %s\n" % (WSFE_ADM.shape, GRID3_ADM.shape))

Before: WSFE (1375670, 5) and GRID3 (158685, 5)

After: WSFE (1375670, 5) and GRID3 (158685, 5)

In [50]:
# The Bounded_ID is our new unique settlement identifier for subsequent matching steps.
GRID3_ADM['Bounded_ID'] = GRID3_ADM.index
WSFE_ADM['WSFE_ID'] = WSFE_ADM.index
GRID3_ADM = GRID3_ADM[['Sett_ID', 'Bounded_ID', 'ADM_ID', 'geometry']]
WSFE_ADM = WSFE_ADM[['WSFE_ID', 'year', 'ADM_ID', 'geometry']]

In [51]:
# Validation: 
# The first two printed numbers should be the same. There shouldn't be any GRID3 rows with matching Sett_ID and ADM_IDs.
# The latter two numbers should be different, and the first should be larger. We never dissolved WSFE by any column.

print(len(GRID3_ADM[['Sett_ID', 'ADM_ID']]),
      len(GRID3_ADM[['Sett_ID', 'ADM_ID']].drop_duplicates()),
      len(WSFE_ADM[['year', 'ADM_ID']]),
      len(WSFE_ADM[['year', 'ADM_ID']].drop_duplicates()))

158685 158685 1375670 5725

In [52]:
GRID3_ADM.to_file(
    driver='GPKG', filename=os.path.join(Intermediate,'GRID3_ADM.gpkg'), layer='GRID3_ADM_cleaned')
WSFE_ADM.to_file(
    driver='GPKG', filename=os.path.join(Intermediate,' WSFE_ADM.gpkg'), layer='WSFE_ADM_cleaned')

---

## 4. UNIQUE SETTLEMENTS FROM WSFE AND GRID3: TWO VERSIONS

Note that there are 2 versions here, so that we can create a fragmentation index:
1. **Boundless, aka boundary-agnostic settlements**: Unique settlements are linked to GRID3 settlement IDs. Administrative areas do not influence the extents of the settlement.
2. **Bounded, aka politically-defined settlements**: Settlements in the Boundless dataset which spread across more than one administrative area are split into separate settlements in the Bounded dataset. The largest polygon after the split is considered the "principal" settlement, and polygons in other admin areas are considered "fragments." By dividing the fragment area(s) of the Bounded settlement by the area of the Boundless settlement, we can acquire a fragmentation index for each locality.

### 4.1 BOUNDED SETTLEMENTS: Near Join by ADM group.

In [53]:
print("Number of admin areas with GRID3 features: %s" % len(GRID3_ADM['ADM_ID'].unique().tolist()))
print("Number of admin areas with WSFE features: %s" % len(WSFE_ADM['ADM_ID'].unique().tolist()))
print("Number of admin areas where one dataset is observed but the other is not: %s" % (
    len(GRID3_ADM['ADM_ID'].unique().tolist()) - len(WSFE_ADM['ADM_ID'].unique().tolist())))

Number of admin areas with GRID3 features: 273
Number of admin areas with WSFE features: 272
Number of admin areas where one dataset is observed but the other is not: 1

In [54]:
ADM_IDs = sorted(GRID3_ADM['ADM_ID'].unique().tolist())
ADM_IDs

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 647]

In [55]:
# We're creating this field to help in removing duplicates from the sjoin_nearest, next section.
GRID3_ADM['G3_Area'] = GRID3_ADM['geometry'].area / 10**6

In [56]:
# Create empty geodataframe to append onto using the dataframe whose geometry we want to retain.
Bounded = GRID3_ADM[0:0]
Bounded["year"] = pd.Series(dtype='int')
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sett_ID     0 non-null      int64
 1   Bounded_ID  0 non-null      int64
 2   ADM_ID      0 non-null      int64
 3   geometry    0 non-null      geometry
 4   G3_Area     0 non-null      float64
 5   year        0 non-null      int32
dtypes: float64(1), geometry(1), int32(1), int64(3)
memory usage: 0.0 bytes

In [57]:
for ID in ADM_IDs:
    WSFE_shard = WSFE_ADM.loc[WSFE_ADM['ADM_ID'] == ID]
    GRID3_shard = GRID3_ADM.loc[GRID3_ADM['ADM_ID'] == ID]
    WSFE_GRID3_shard = gpd.sjoin_nearest(WSFE_shard, 
                                         GRID3_shard, 
                                         how='inner',
                                         max_distance=500)
    Bounded = pd.concat([Bounded, WSFE_GRID3_shard])
    print('Completed near join in admin area %s. %s \n' % (ID, time.ctime()))
print('Completed near join for all ADMs. %s \n' % time.ctime())

del WSFE_shard, GRID3_shard, WSFE_GRID3_shard

Completed near join in admin area 1. Wed Sep 13 11:52:44 2023

Completed near join in admin area 2. Wed Sep 13 11:52:44 2023

Completed near join in admin area 3. Wed Sep 13 11:52:45 2023

Completed near join in admin area 4. Wed Sep 13 11:52:45 2023

Completed near join in admin area 5. Wed Sep 13 11:52:45 2023

Completed near join in admin area 6. Wed Sep 13 11:52:45 2023

Completed near join in admin area 7. Wed Sep 13 11:52:45 2023

Completed near join in admin area 8. Wed Sep 13 11:52:45 2023

Completed near join in admin area 9. Wed Sep 13 11:52:45 2023

Completed near join in admin area 10. Wed Sep 13 11:52:45 2023

Completed near join in admin area 11. Wed Sep 13 11:52:46 2023

Completed near join in admin area 12. Wed Sep 13 11:52:46 2023

Completed near join in admin area 13. Wed Sep 13 11:52:46 2023

Completed near join in admin area 14. Wed Sep 13 11:52:47 2023

Completed near join in admin area 15. Wed Sep 13 11:52:47 2023

Completed near join in admin area 16. Wed Sep 13 11:52:48 2023

Completed near join in admin area 17. Wed Sep 13 11:52:48 2023

Completed near join in admin area 18. Wed Sep 13 11:52:48 2023

Completed near join in admin area 19. Wed Sep 13 11:52:48 2023

Completed near join in admin area 20. Wed Sep 13 11:52:49 2023

Completed near join in admin area 21. Wed Sep 13 11:52:49 2023

Completed near join in admin area 22. Wed Sep 13 11:52:49 2023

Completed near join in admin area 23. Wed Sep 13 11:52:50 2023

Completed near join in admin area 24. Wed Sep 13 11:52:50 2023

Completed near join in admin area 25. Wed Sep 13 11:52:50 2023

Completed near join in admin area 26. Wed Sep 13 11:52:51 2023

Completed near join in admin area 27. Wed Sep 13 11:52:51 2023

Completed near join in admin area 28. Wed Sep 13 11:52:51 2023

Completed near join in admin area 29. Wed Sep 13 11:52:51 2023

Completed near join in admin area 30. Wed Sep 13 11:52:51 2023

Completed near join in admin area 31. Wed Sep 13 11:52:51 2023

Completed near join in admin area 32. Wed Sep 13 11:52:51 2023

Completed near join in admin area 33. Wed Sep 13 11:52:51 2023

Completed near join in admin area 34. Wed Sep 13 11:52:51 2023

Completed near join in admin area 35. Wed Sep 13 11:52:52 2023

Completed near join in admin area 36. Wed Sep 13 11:52:52 2023

Completed near join in admin area 37. Wed Sep 13 11:52:52 2023

Completed near join in admin area 38. Wed Sep 13 11:52:53 2023

Completed near join in admin area 39. Wed Sep 13 11:52:54 2023

Completed near join in admin area 40. Wed Sep 13 11:52:54 2023

Completed near join in admin area 41. Wed Sep 13 11:52:54 2023

Completed near join in admin area 42. Wed Sep 13 11:52:55 2023

Completed near join in admin area 43. Wed Sep 13 11:52:56 2023

Completed near join in admin area 44. Wed Sep 13 11:52:56 2023

Completed near join in admin area 45. Wed Sep 13 11:52:57 2023

Completed near join in admin area 46. Wed Sep 13 11:52:57 2023

Completed near join in admin area 47. Wed Sep 13 11:52:57 2023

Completed near join in admin area 48. Wed Sep 13 11:52:57 2023

Completed near join in admin area 49. Wed Sep 13 11:52:57 2023

Completed near join in admin area 50. Wed Sep 13 11:52:58 2023

Completed near join in admin area 51. Wed Sep 13 11:52:58 2023

Completed near join in admin area 52. Wed Sep 13 11:52:58 2023

Completed near join in admin area 53. Wed Sep 13 11:52:58 2023

Completed near join in admin area 54. Wed Sep 13 11:52:58 2023

Completed near join in admin area 55. Wed Sep 13 11:52:58 2023

Completed near join in admin area 56. Wed Sep 13 11:52:58 2023

Completed near join in admin area 57. Wed Sep 13 11:52:59 2023

Completed near join in admin area 58. Wed Sep 13 11:52:59 2023

Completed near join in admin area 59. Wed Sep 13 11:52:59 2023

Completed near join in admin area 60. Wed Sep 13 11:52:59 2023

Completed near join in admin area 61. Wed Sep 13 11:53:02 2023

Completed near join in admin area 62. Wed Sep 13 11:53:03 2023

Completed near join in admin area 63. Wed Sep 13 11:53:04 2023

Completed near join in admin area 64. Wed Sep 13 11:53:04 2023

Completed near join in admin area 65. Wed Sep 13 11:53:04 2023

Completed near join in admin area 66. Wed Sep 13 11:53:04 2023

Completed near join in admin area 67. Wed Sep 13 11:53:04 2023

Completed near join in admin area 68. Wed Sep 13 11:53:05 2023

Completed near join in admin area 69. Wed Sep 13 11:53:05 2023

Completed near join in admin area 70. Wed Sep 13 11:53:05 2023

Completed near join in admin area 71. Wed Sep 13 11:53:06 2023

Completed near join in admin area 72. Wed Sep 13 11:53:06 2023

Completed near join in admin area 73. Wed Sep 13 11:53:07 2023

Completed near join in admin area 74. Wed Sep 13 11:53:07 2023

Completed near join in admin area 75. Wed Sep 13 11:53:07 2023

Completed near join in admin area 76. Wed Sep 13 11:53:07 2023

Completed near join in admin area 77. Wed Sep 13 11:53:07 2023

Completed near join in admin area 78. Wed Sep 13 11:53:07 2023

Completed near join in admin area 79. Wed Sep 13 11:53:08 2023

Completed near join in admin area 80. Wed Sep 13 11:53:08 2023

Completed near join in admin area 81. Wed Sep 13 11:53:08 2023

Completed near join in admin area 82. Wed Sep 13 11:53:08 2023

Completed near join in admin area 83. Wed Sep 13 11:53:08 2023

Completed near join in admin area 84. Wed Sep 13 11:53:08 2023

Completed near join in admin area 85. Wed Sep 13 11:53:08 2023

Completed near join in admin area 86. Wed Sep 13 11:53:08 2023

Completed near join in admin area 87. Wed Sep 13 11:53:08 2023

Completed near join in admin area 88. Wed Sep 13 11:53:09 2023

Completed near join in admin area 89. Wed Sep 13 11:53:09 2023

Completed near join in admin area 90. Wed Sep 13 11:53:09 2023

Completed near join in admin area 91. Wed Sep 13 11:53:09 2023

Completed near join in admin area 92. Wed Sep 13 11:53:09 2023

Completed near join in admin area 93. Wed Sep 13 11:53:10 2023

Completed near join in admin area 94. Wed Sep 13 11:53:10 2023

Completed near join in admin area 95. Wed Sep 13 11:53:10 2023

Completed near join in admin area 96. Wed Sep 13 11:53:10 2023

Completed near join in admin area 97. Wed Sep 13 11:53:10 2023

Completed near join in admin area 98. Wed Sep 13 11:53:10 2023

Completed near join in admin area 99. Wed Sep 13 11:53:13 2023

Completed near join in admin area 100. Wed Sep 13 11:53:13 2023

Completed near join in admin area 101. Wed Sep 13 11:53:13 2023

Completed near join in admin area 102. Wed Sep 13 11:53:14 2023

Completed near join in admin area 103. Wed Sep 13 11:53:14 2023

Completed near join in admin area 104. Wed Sep 13 11:53:14 2023

Completed near join in admin area 105. Wed Sep 13 11:53:14 2023

Completed near join in admin area 106. Wed Sep 13 11:53:14 2023

Completed near join in admin area 107. Wed Sep 13 11:53:14 2023

Completed near join in admin area 108. Wed Sep 13 11:53:14 2023

Completed near join in admin area 109. Wed Sep 13 11:53:15 2023

Completed near join in admin area 110. Wed Sep 13 11:53:15 2023

Completed near join in admin area 111. Wed Sep 13 11:53:15 2023

Completed near join in admin area 112. Wed Sep 13 11:53:16 2023

Completed near join in admin area 113. Wed Sep 13 11:53:16 2023

Completed near join in admin area 114. Wed Sep 13 11:53:16 2023

Completed near join in admin area 115. Wed Sep 13 11:53:19 2023

Completed near join in admin area 116. Wed Sep 13 11:53:19 2023

Completed near join in admin area 117. Wed Sep 13 11:53:20 2023

Completed near join in admin area 118. Wed Sep 13 11:53:20 2023

Completed near join in admin area 119. Wed Sep 13 11:53:20 2023

Completed near join in admin area 120. Wed Sep 13 11:53:20 2023

Completed near join in admin area 121. Wed Sep 13 11:53:21 2023

Completed near join in admin area 122. Wed Sep 13 11:53:21 2023

Completed near join in admin area 123. Wed Sep 13 11:53:21 2023

Completed near join in admin area 124. Wed Sep 13 11:53:21 2023

Completed near join in admin area 125. Wed Sep 13 11:53:21 2023

Completed near join in admin area 126. Wed Sep 13 11:53:21 2023

Completed near join in admin area 127. Wed Sep 13 11:53:21 2023

Completed near join in admin area 128. Wed Sep 13 11:53:22 2023

Completed near join in admin area 129. Wed Sep 13 11:53:26 2023

Completed near join in admin area 130. Wed Sep 13 11:53:26 2023

Completed near join in admin area 131. Wed Sep 13 11:53:26 2023

Completed near join in admin area 132. Wed Sep 13 11:53:26 2023

Completed near join in admin area 133. Wed Sep 13 11:53:26 2023

Completed near join in admin area 134. Wed Sep 13 11:53:26 2023

Completed near join in admin area 135. Wed Sep 13 11:53:26 2023

Completed near join in admin area 136. Wed Sep 13 11:53:26 2023

Completed near join in admin area 137. Wed Sep 13 11:53:26 2023

Completed near join in admin area 138. Wed Sep 13 11:53:27 2023

Completed near join in admin area 139. Wed Sep 13 11:53:27 2023

Completed near join in admin area 140. Wed Sep 13 11:53:27 2023

Completed near join in admin area 141. Wed Sep 13 11:53:27 2023

Completed near join in admin area 142. Wed Sep 13 11:53:27 2023

Completed near join in admin area 143. Wed Sep 13 11:53:27 2023

Completed near join in admin area 144. Wed Sep 13 11:53:27 2023

Completed near join in admin area 145. Wed Sep 13 11:53:28 2023

Completed near join in admin area 146. Wed Sep 13 11:53:28 2023

Completed near join in admin area 147. Wed Sep 13 11:53:28 2023

Completed near join in admin area 148. Wed Sep 13 11:53:28 2023

Completed near join in admin area 149. Wed Sep 13 11:53:28 2023

Completed near join in admin area 150. Wed Sep 13 11:53:29 2023

Completed near join in admin area 151. Wed Sep 13 11:53:29 2023

Completed near join in admin area 152. Wed Sep 13 11:53:29 2023

Completed near join in admin area 153. Wed Sep 13 11:53:31 2023

Completed near join in admin area 154. Wed Sep 13 11:53:31 2023

Completed near join in admin area 155. Wed Sep 13 11:53:32 2023

Completed near join in admin area 156. Wed Sep 13 11:53:32 2023

Completed near join in admin area 157. Wed Sep 13 11:53:32 2023

Completed near join in admin area 158. Wed Sep 13 11:53:32 2023

Completed near join in admin area 159. Wed Sep 13 11:53:32 2023

Completed near join in admin area 160. Wed Sep 13 11:53:32 2023

Completed near join in admin area 161. Wed Sep 13 11:53:33 2023

Completed near join in admin area 162. Wed Sep 13 11:53:33 2023

Completed near join in admin area 163. Wed Sep 13 11:53:33 2023

Completed near join in admin area 164. Wed Sep 13 11:53:33 2023

Completed near join in admin area 165. Wed Sep 13 11:53:34 2023

Completed near join in admin area 166. Wed Sep 13 11:53:34 2023

Completed near join in admin area 167. Wed Sep 13 11:53:34 2023

Completed near join in admin area 168. Wed Sep 13 11:53:34 2023

Completed near join in admin area 169. Wed Sep 13 11:53:35 2023

Completed near join in admin area 170. Wed Sep 13 11:53:35 2023

Completed near join in admin area 171. Wed Sep 13 11:53:35 2023

Completed near join in admin area 172. Wed Sep 13 11:53:35 2023

Completed near join in admin area 173. Wed Sep 13 11:53:35 2023

Completed near join in admin area 174. Wed Sep 13 11:53:36 2023

Completed near join in admin area 175. Wed Sep 13 11:53:36 2023

Completed near join in admin area 176. Wed Sep 13 11:53:36 2023

Completed near join in admin area 177. Wed Sep 13 11:53:37 2023

Completed near join in admin area 178. Wed Sep 13 11:53:37 2023

Completed near join in admin area 179. Wed Sep 13 11:53:37 2023

Completed near join in admin area 180. Wed Sep 13 11:53:37 2023

Completed near join in admin area 181. Wed Sep 13 11:53:37 2023

Completed near join in admin area 182. Wed Sep 13 11:53:38 2023

Completed near join in admin area 183. Wed Sep 13 11:53:38 2023

Completed near join in admin area 184. Wed Sep 13 11:53:38 2023

Completed near join in admin area 185. Wed Sep 13 11:53:38 2023

Completed near join in admin area 186. Wed Sep 13 11:53:39 2023

Completed near join in admin area 187. Wed Sep 13 11:53:39 2023

Completed near join in admin area 188. Wed Sep 13 11:53:39 2023

Completed near join in admin area 189. Wed Sep 13 11:53:39 2023

Completed near join in admin area 190. Wed Sep 13 11:53:39 2023

Completed near join in admin area 191. Wed Sep 13 11:53:39 2023

Completed near join in admin area 192. Wed Sep 13 11:53:40 2023

Completed near join in admin area 193. Wed Sep 13 11:53:40 2023

Completed near join in admin area 194. Wed Sep 13 11:53:40 2023

Completed near join in admin area 195. Wed Sep 13 11:53:40 2023

Completed near join in admin area 196. Wed Sep 13 11:53:40 2023

Completed near join in admin area 197. Wed Sep 13 11:53:43 2023

Completed near join in admin area 198. Wed Sep 13 11:53:43 2023

Completed near join in admin area 199. Wed Sep 13 11:53:43 2023

Completed near join in admin area 200. Wed Sep 13 11:53:44 2023

Completed near join in admin area 201. Wed Sep 13 11:53:45 2023

Completed near join in admin area 202. Wed Sep 13 11:53:45 2023

Completed near join in admin area 203. Wed Sep 13 11:53:46 2023

Completed near join in admin area 204. Wed Sep 13 11:53:46 2023

Completed near join in admin area 205. Wed Sep 13 11:53:46 2023

Completed near join in admin area 206. Wed Sep 13 11:53:46 2023

Completed near join in admin area 207. Wed Sep 13 11:53:46 2023

Completed near join in admin area 208. Wed Sep 13 11:53:46 2023

Completed near join in admin area 209. Wed Sep 13 11:53:47 2023

Completed near join in admin area 210. Wed Sep 13 11:53:47 2023

Completed near join in admin area 211. Wed Sep 13 11:53:47 2023

Completed near join in admin area 212. Wed Sep 13 11:53:47 2023

Completed near join in admin area 213. Wed Sep 13 11:53:47 2023

Completed near join in admin area 214. Wed Sep 13 11:53:48 2023

Completed near join in admin area 215. Wed Sep 13 11:53:48 2023

Completed near join in admin area 216. Wed Sep 13 11:53:48 2023

Completed near join in admin area 217. Wed Sep 13 11:53:48 2023

Completed near join in admin area 218. Wed Sep 13 11:53:48 2023

Completed near join in admin area 219. Wed Sep 13 11:53:49 2023

Completed near join in admin area 220. Wed Sep 13 11:53:49 2023

Completed near join in admin area 221. Wed Sep 13 11:53:49 2023

Completed near join in admin area 222. Wed Sep 13 11:53:49 2023

Completed near join in admin area 223. Wed Sep 13 11:53:50 2023

Completed near join in admin area 224. Wed Sep 13 11:53:50 2023

Completed near join in admin area 225. Wed Sep 13 11:53:50 2023

Completed near join in admin area 226. Wed Sep 13 11:53:50 2023

Completed near join in admin area 227. Wed Sep 13 11:53:50 2023

Completed near join in admin area 228. Wed Sep 13 11:53:50 2023

Completed near join in admin area 229. Wed Sep 13 11:53:51 2023

Completed near join in admin area 230. Wed Sep 13 11:53:51 2023

Completed near join in admin area 231. Wed Sep 13 11:53:51 2023

Completed near join in admin area 232. Wed Sep 13 11:53:51 2023

Completed near join in admin area 233. Wed Sep 13 11:53:51 2023

Completed near join in admin area 234. Wed Sep 13 11:53:52 2023

Completed near join in admin area 235. Wed Sep 13 11:53:52 2023

Completed near join in admin area 236. Wed Sep 13 11:53:52 2023

Completed near join in admin area 237. Wed Sep 13 11:53:52 2023

Completed near join in admin area 238. Wed Sep 13 11:53:52 2023

Completed near join in admin area 239. Wed Sep 13 11:53:53 2023

Completed near join in admin area 240. Wed Sep 13 11:53:53 2023

Completed near join in admin area 241. Wed Sep 13 11:53:53 2023

Completed near join in admin area 242. Wed Sep 13 11:53:53 2023

Completed near join in admin area 243. Wed Sep 13 11:53:53 2023

Completed near join in admin area 244. Wed Sep 13 11:53:53 2023

Completed near join in admin area 245. Wed Sep 13 11:53:54 2023

Completed near join in admin area 246. Wed Sep 13 11:53:54 2023

Completed near join in admin area 247. Wed Sep 13 11:53:54 2023

Completed near join in admin area 248. Wed Sep 13 11:53:54 2023

Completed near join in admin area 249. Wed Sep 13 11:53:54 2023

Completed near join in admin area 250. Wed Sep 13 11:53:54 2023

Completed near join in admin area 251. Wed Sep 13 11:53:55 2023

Completed near join in admin area 252. Wed Sep 13 11:53:55 2023

Completed near join in admin area 253. Wed Sep 13 11:53:55 2023

Completed near join in admin area 254. Wed Sep 13 11:53:55 2023

Completed near join in admin area 255. Wed Sep 13 11:53:55 2023

Completed near join in admin area 256. Wed Sep 13 11:53:55 2023

Completed near join in admin area 257. Wed Sep 13 11:53:56 2023

Completed near join in admin area 258. Wed Sep 13 11:53:56 2023

Completed near join in admin area 259. Wed Sep 13 11:53:56 2023

Completed near join in admin area 260. Wed Sep 13 11:53:57 2023

Completed near join in admin area 261. Wed Sep 13 11:53:57 2023

Completed near join in admin area 262. Wed Sep 13 11:53:57 2023

Completed near join in admin area 263. Wed Sep 13 11:53:57 2023

Completed near join in admin area 264. Wed Sep 13 11:53:57 2023

Completed near join in admin area 265. Wed Sep 13 11:53:58 2023

Completed near join in admin area 266. Wed Sep 13 11:53:58 2023

Completed near join in admin area 267. Wed Sep 13 11:53:58 2023

Completed near join in admin area 268. Wed Sep 13 11:53:58 2023

Completed near join in admin area 269. Wed Sep 13 11:53:58 2023

Completed near join in admin area 270. Wed Sep 13 11:53:58 2023

Completed near join in admin area 271. Wed Sep 13 11:53:59 2023

Completed near join in admin area 272. Wed Sep 13 11:53:59 2023

Completed near join in admin area 647. Wed Sep 13 12:14:02 2023

Completed near join for all ADMs. Wed Sep 13 12:14:02 2023

In [58]:
Bounded.sample(20)

,Sett_ID,Bounded_ID,ADM_ID,geometry,G3_Area,year,WSFE_ID,ADM_ID_left,index_right,ADM_ID_right
960567,10708,10886,NaN,"POLYGON ((1163715.280 3732570.926, 1163742.941...",29.493118,1990,960567.0,197.0,10886.0,197.0
1274853,31915,32458,NaN,"POLYGON ((1208166.795 3658826.223, 1208194.456...",3.485982,2021,1274853.0,176.0,32458.0,176.0
726468,50649,51510,NaN,"POLYGON ((1225786.966 3842800.724, 1225814.627...",93.299741,2021,726468.0,115.0,51510.0,115.0
600096,21451,21921,NaN,"POLYGON ((1154421.124 3868497.959, 1154448.785...",0.853897,2020,600096.0,260.0,21921.0,260.0
1030913,10549,10718,NaN,"POLYGON ((1181529.079 3727730.220, 1181556.741...",0.009182,1990,1030913.0,61.0,10718.0,61.0
1127932,42501,43291,NaN,"POLYGON ((1208747.679 3718823.320, 1208775.341...",0.013773,1999,1127932.0,93.0,43291.0,93.0
147717,147384,149113,NaN,"POLYGON ((1657660.952 4015351.158, 1657688.613...",0.769732,2010,147717.0,11.0,149113.0,11.0
388644,137972,139735,NaN,"POLYGON ((1561400.049 3930237.710, 1561455.372...",3.586980,2010,388644.0,248.0,139735.0,248.0
681933,52279,53143,NaN,"POLYGON ((1224846.486 3848830.861, 1224901.808...",0.016068,2014,681933.0,151.0,53143.0,151.0
167853,103121,104770,NaN,"POLYGON ((1317594.418 4004563.298, 1317622.080...",21.638182,2010,167853.0,18.0,104770.0,18.0
1133196,38534,39210,NaN,"POLYGON ((1197268.290 3717744.534, 1197295.951...",48.538238,1995,1133196.0,45.0,39210.0,45.0
816222,44106,44921,NaN,"POLYGON ((1215552.329 3762140.726, 1215579.991...",1.075788,2012,816222.0,159.0,44921.0,159.0
251111,96393,97919,NaN,"POLYGON ((1274664.269 3985504.746, 1274691.930...",137.108644,1985,251111.0,129.0,97919.0,129.0
1364480,32090,32636,NaN,"POLYGON ((1203602.700 3634760.997, 1203630.361...",4.207509,2012,1364480.0,58.0,32636.0,58.0
138415,114572,116256,NaN,"POLYGON ((1359916.022 4017840.664, 1359971.344...",39.303754,2021,138415.0,177.0,116256.0,177.0
340902,124243,125912,NaN,"POLYGON ((1464613.584 3961218.231, 1464641.245...",2.865452,2021,340902.0,26.0,125912.0,26.0
960340,10708,10883,NaN,"POLYGON ((1182026.981 3732598.587, 1182109.964...",10.996604,2012,960340.0,61.0,10883.0,61.0
587585,17098,17347,NaN,"POLYGON ((1156772.324 3873393.988, 1156799.986...",2.579290,2021,587585.0,241.0,17347.0,241.0
1246627,8958,9090,NaN,"POLYGON ((1164296.165 3666709.659, 1164379.149...",15.174273,2021,1246627.0,188.0,9090.0,188.0
1213098,7239,7332,NaN,"POLYGON ((1170409.286 3682946.771, 1170436.947...",10.027170,2021,1213098.0,37.0,7332.0,37.0

In [59]:
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1353979 entries, 124741 to 1375669
Data columns (total 10 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Sett_ID       1353979 non-null  int64
 1   Bounded_ID    1353979 non-null  int64
 2   ADM_ID        0 non-null        float64
 3   geometry      1353979 non-null  geometry
 4   G3_Area       1353979 non-null  float64
 5   year          1353979 non-null  int32
 6   WSFE_ID       1353979 non-null  float64
 7   ADM_ID_left   1353979 non-null  float64
 8   index_right   1353979 non-null  float64
 9   ADM_ID_right  1353979 non-null  float64
dtypes: float64(6), geometry(1), int32(1), int64(2)
memory usage: 108.5 MB

In [60]:
# Remove WSFE features that did not match any GRID3 settlements.
Bounded = Bounded.loc[~Bounded['Sett_ID'].isna()]
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1353979 entries, 124741 to 1375669
Data columns (total 10 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Sett_ID       1353979 non-null  int64
 1   Bounded_ID    1353979 non-null  int64
 2   ADM_ID        0 non-null        float64
 3   geometry      1353979 non-null  geometry
 4   G3_Area       1353979 non-null  float64
 5   year          1353979 non-null  int32
 6   WSFE_ID       1353979 non-null  float64
 7   ADM_ID_left   1353979 non-null  float64
 8   index_right   1353979 non-null  float64
 9   ADM_ID_right  1353979 non-null  float64
dtypes: float64(6), geometry(1), int32(1), int64(2)
memory usage: 108.5 MB

In [61]:
del GRID3_ADM, ADM_IDs

### 4.2 Remove duplicates: where buildup polygons intersected with more than one GRID3 settlement extent.
This happens when the first dataset (WSFE) intersects (distance = 0) with more than one feature of the second dataset (GRID3). More common for large cities. For example, Yaound, CMN has a large contiguous 1985 WSFE polygon which overlaps several small GRID3 features that are not Yaound.

In [62]:
# The first number should always be zero. 
# The second tells us whether/how many WSFE polygons were duplicated by the Near join.

print(len(WSFE_ADM[WSFE_ADM.duplicated('WSFE_ID')]), len(Bounded[Bounded.duplicated('WSFE_ID')]))

0 8498

In [63]:
# If there are duplicate WSFE_IDs, then we need to choose between them.
# We'll pick the one that joined with the largest GRID3 polygon.
# To do that, we can just sort the dataframe by GRID3 areas, then drop_duplicates. 
# It will retain the first row of each WSFE_ID group.
Bounded = Bounded.sort_values('G3_Area', ascending=False).drop_duplicates(['WSFE_ID'])
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 1345481 entries, 1375669 to 579652
Data columns (total 10 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Sett_ID       1345481 non-null  int64
 1   Bounded_ID    1345481 non-null  int64
 2   ADM_ID        0 non-null        float64
 3   geometry      1345481 non-null  geometry
 4   G3_Area       1345481 non-null  float64
 5   year          1345481 non-null  int32
 6   WSFE_ID       1345481 non-null  float64
 7   ADM_ID_left   1345481 non-null  float64
 8   index_right   1345481 non-null  float64
 9   ADM_ID_right  1345481 non-null  float64
dtypes: float64(6), geometry(1), int32(1), int64(2)
memory usage: 107.8 MB

In [64]:
print(len(Bounded[Bounded.duplicated('WSFE_ID')]))

0

In [65]:
# Now we can dissolve with the WSFE years, now that we can group them by their administratively split ID.
Bounded = Bounded.dissolve(by=['year', 'Bounded_ID'], as_index=False)
print(Bounded.info(), Bounded.sample(10))

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 97655 entries, 0 to 97654
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          97655 non-null  int64
 1   Bounded_ID    97655 non-null  int64
 2   geometry      97655 non-null  geometry
 3   Sett_ID       97655 non-null  int64
 4   ADM_ID        0 non-null      float64
 5   G3_Area       97655 non-null  float64
 6   WSFE_ID       97655 non-null  float64
 7   ADM_ID_left   97655 non-null  float64
 8   index_right   97655 non-null  float64
 9   ADM_ID_right  97655 non-null  float64
dtypes: float64(6), geometry(1), int64(3)
memory usage: 7.5 MB
None        year  Bounded_ID                                           geometry  \
73876  2018      139736  MULTIPOLYGON (((1582533.190 3916573.088, 15825...
11642  1997       43147  POLYGON ((1214030.965 3718629.692, 1214058.626...
85183  2020       78755  POLYGON ((1215552.329 3988243.203, 1215579.991...
83123  2020       31003  MULTIPOLYGON (((1191736.054 3638605.901, 11917...
3941   1988       10884  MULTIPOLYGON (((1172594.519 3734147.613, 11725...
47251  2014        6970  MULTIPOLYGON (((1145514.225 3699875.413, 11455...
84529  2020       59180  POLYGON ((1228968.001 3888635.297, 1228995.662...
49333  2014       21908  POLYGON ((1168279.375 3898206.065, 1168307.036...
89443  2021       16555  MULTIPOLYGON (((1178790.623 3846534.983, 11787...
39402  2013        6903  MULTIPOLYGON (((1150908.154 3700788.231, 11509...

       Sett_ID  ADM_ID   G3_Area    WSFE_ID  ADM_ID_left  index_right  \
73876   137973     NaN  3.513527   420426.0        248.0     139736.0
11642    42359     NaN  0.006886  1129042.0        105.0      43147.0
85183    77327     NaN  0.079575   229681.0        109.0      78755.0
83123    30477     NaN  0.250201  1357493.0        132.0      31003.0
3941     10708     NaN  4.815031   938498.0         71.0      10884.0
47251     6884     NaN  0.020659  1184829.0        145.0       6970.0
84529    58144     NaN  0.006886   514365.0         99.0      59180.0
49333    21438     NaN  0.013773   469519.0         60.0      21908.0
89443    16331     NaN  0.022954   700749.0        257.0      16555.0
39402     6819     NaN  0.013773  1182720.0        145.0       6903.0

       ADM_ID_right
73876         248.0
11642         105.0
85183         109.0
83123         132.0
3941           71.0
47251         145.0
84529          99.0
49333          60.0
89443         257.0
39402         145.0

In [66]:
# Clean up and save to file.
Bounded = Bounded[['ADM_ID_left', 'year', 'Bounded_ID', 'Sett_ID', 'geometry']].rename(columns={"ADM_ID_left": "ADM_ID"})
Bounded = Bounded.astype({"ADM_ID":'int', "Bounded_ID":'int', "Sett_ID":'int', "year":'int'})
print(Bounded.sample(10))

       ADM_ID  year  Bounded_ID  Sett_ID  \
68637      18  2017      108810   107158
37793     193  2012      154246   152602
4910      151  1989       47593    46745
46280      40  2014        2043     2034
67645     175  2017       58533    57518
17424      70  2005       40448    39728
33805     270  2012       45622    44792
30835      13  2012        9580     9437
29216      99  2011       59170    58135
51072     239  2014       39993    39284

                                                geometry
68637  MULTIPOLYGON (((1330429.205 4007661.350, 13304...
37793  POLYGON ((1739593.364 4063785.882, 1739648.686...
4910   MULTIPOLYGON (((1222854.881 3845926.437, 12228...
46280  POLYGON ((1150548.559 3657664.454, 1150576.220...
67645  MULTIPOLYGON (((1194170.238 3877819.776, 11941...
17424  POLYGON ((1231236.218 3735143.416, 1231263.879...
33805  MULTIPOLYGON (((1222412.302 3770632.708, 12224...
30835  POLYGON ((1143080.041 3675893.170, 1143107.702...
29216  MULTIPOLYGON (((1236353.536 3884956.361, 12364...
51072  POLYGON ((1200366.342 3748061.186, 1200394.003...

In [67]:
Bounded.to_file(
    driver='GPKG', filename=os.path.join(Intermediate,'NonCumulativeSettlements.gpkg'), layer='Settlements_Bounded')

In [68]:
del WSFE_ADM

### 4.3 BOUNDLESS SETTLEMENTS: Dissolve features that were split by an ADM boundary.

In [69]:
# Fragments of any bounded settlement will be combined into a single "boundless" settlement in this version.
# It is based on their "Sett_ID", which is a direct loan from the GRID3 settlement features.
Boundless = Bounded.dissolve(by=['year', 'Sett_ID'], as_index=False)
print(Boundless.info(), Boundless.sample(10))

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 93908 entries, 0 to 93907
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        93908 non-null  int64
 1   Sett_ID     93908 non-null  int64
 2   geometry    93908 non-null  geometry
 3   ADM_ID      93908 non-null  int32
 4   Bounded_ID  93908 non-null  int32
dtypes: geometry(1), int32(2), int64(2)
memory usage: 2.9 MB
None        year  Sett_ID                                           geometry  \
48085  2014    31001  MULTIPOLYGON (((1232840.566 3655894.138, 12328...
24313  2010    59900  MULTIPOLYGON (((1258012.239 3898814.611, 12580...
6940   1990   100777  POLYGON ((1308327.924 3997316.069, 1308383.246...
72051  2019      363  MULTIPOLYGON (((1146205.754 3658217.677, 11461...
21250  2010    26282  POLYGON ((1150437.914 3934276.243, 1150465.576...
1730   1985   135003  MULTIPOLYGON (((1487074.462 3962048.066, 14870...
3539   1987    84886  POLYGON ((1268495.826 3835553.495, 1268523.487...
66407  2017   143215  MULTIPOLYGON (((1627759.217 3871015.126, 16277...
72177  2019     2019  MULTIPOLYGON (((1172262.585 3647540.462, 11722...
86784  2021    24340  MULTIPOLYGON (((1168749.615 3920500.975, 11687...

       ADM_ID  Bounded_ID
48085     171       31533
24313      36       61001
6940       18      102403
72051      40         369
21250      47       26815
1730       26      136753
3539       88       86242
66407      20      144907
72177      63        2027
86784      15       24858

In [70]:
# Clean up and save to file.
Boundless.to_file(driver='GPKG', 
                  filename=os.path.join(Intermediate,'NonCumulativeSettlements.gpkg'), layer='Settlements_Boundless')

---

## 5. CUMULATIVE ANNUALIZED SETTLEMENT EXTENTS
DISSOLVE BY YEAR SETS: Create separate feature layers of each cumulative year.

### 5.1 Define study years for each for loop.

In [95]:
Boundless = gpd.read_file(os.path.join(Intermediate,'NonCumulativeSettlements.gpkg'), layer='Settlements_Boundless')

In [81]:
Reversed_WSFE_Years.remove(WSFE_end) # We'll call the last year in the study, then use this list for subsequent sets.
print(Reversed_WSFE_Years)

 [2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985]

### 5.2 Starting with main Boundless dataset, create a cumulative area feature layer for each year.

In [100]:
# For each year in the growth stats study, we are taking features from all years prior to and including that year, 
# dissolving those features, and exporting as its own file.

for item in WSFE_Years:
    print('Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    YearSet = Boundless[Boundless['year'].between(
        WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the start year and "item" rather than only between them.
    print('Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. %s\n' % time.ctime())
    YearDissolve = YearSet.dissolve(by='Sett_ID', 
                                        aggfunc={"year": "max", "ADM_ID":"min"}, # Though ADM_ID should be matching every time.
                                        as_index=False)
    print('Write to file. %s\n' % time.ctime())
    YearName = ''.join(['Cu', str(item), '_Boundless'])
    YearDissolve.to_file(driver='GPKG', filename=os.path.join(Results,'CumulativeSettlements.gpkg'), layer=YearName)
    del YearSet, YearDissolve
print("Done with all years in set. %s" % time.ctime())

Subsetting to cumulative area for year: 1985. Wed Sep 13 15:32:59 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:32:59 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:33:06 2023

Subsetting to cumulative area for year: 1986. Wed Sep 13 15:33:09 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:33:09 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:33:18 2023

Subsetting to cumulative area for year: 1987. Wed Sep 13 15:33:21 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:33:21 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:33:33 2023

Subsetting to cumulative area for year: 1988. Wed Sep 13 15:33:38 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:33:38 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:33:51 2023

Subsetting to cumulative area for year: 1989. Wed Sep 13 15:33:55 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:33:55 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:34:09 2023

Subsetting to cumulative area for year: 1990. Wed Sep 13 15:34:13 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:34:13 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:34:31 2023

Subsetting to cumulative area for year: 1991. Wed Sep 13 15:34:36 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:34:36 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:34:54 2023

Subsetting to cumulative area for year: 1992. Wed Sep 13 15:34:59 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:34:59 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:35:18 2023

Subsetting to cumulative area for year: 1993. Wed Sep 13 15:35:22 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:35:22 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:35:41 2023

Subsetting to cumulative area for year: 1994. Wed Sep 13 15:35:45 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:35:45 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:36:05 2023

Subsetting to cumulative area for year: 1995. Wed Sep 13 15:36:09 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:36:09 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:36:30 2023

Subsetting to cumulative area for year: 1996. Wed Sep 13 15:36:35 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:36:35 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:36:58 2023

Subsetting to cumulative area for year: 1997. Wed Sep 13 15:37:04 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:37:04 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:37:26 2023

Subsetting to cumulative area for year: 1998. Wed Sep 13 15:37:31 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:37:31 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:37:55 2023

Subsetting to cumulative area for year: 1999. Wed Sep 13 15:37:59 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:37:59 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:38:23 2023

Subsetting to cumulative area for year: 2000. Wed Sep 13 15:38:27 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:38:27 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:38:51 2023

Subsetting to cumulative area for year: 2001. Wed Sep 13 15:38:56 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:38:56 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:39:20 2023

Subsetting to cumulative area for year: 2002. Wed Sep 13 15:39:24 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:39:24 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:39:48 2023

Subsetting to cumulative area for year: 2003. Wed Sep 13 15:39:53 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:39:53 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:40:19 2023

Subsetting to cumulative area for year: 2004. Wed Sep 13 15:40:23 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:40:24 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:40:49 2023

Subsetting to cumulative area for year: 2005. Wed Sep 13 15:40:54 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:40:54 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:41:21 2023

Subsetting to cumulative area for year: 2006. Wed Sep 13 15:41:25 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:41:25 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:41:52 2023

Subsetting to cumulative area for year: 2007. Wed Sep 13 15:41:56 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:41:57 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:42:24 2023

Subsetting to cumulative area for year: 2008. Wed Sep 13 15:42:28 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:42:28 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:42:57 2023

Subsetting to cumulative area for year: 2009. Wed Sep 13 15:43:02 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:43:02 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:43:28 2023

Subsetting to cumulative area for year: 2010. Wed Sep 13 15:43:32 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:43:32 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:44:16 2023

Subsetting to cumulative area for year: 2011. Wed Sep 13 15:44:35 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:44:35 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:46:02 2023

Subsetting to cumulative area for year: 2012. Wed Sep 13 15:46:24 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:46:24 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:47:40 2023

Subsetting to cumulative area for year: 2013. Wed Sep 13 15:47:51 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:47:51 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:48:48 2023

Subsetting to cumulative area for year: 2014. Wed Sep 13 15:48:59 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:48:59 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:50:13 2023

Subsetting to cumulative area for year: 2015. Wed Sep 13 15:50:26 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:50:26 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:51:44 2023

Subsetting to cumulative area for year: 2016. Wed Sep 13 15:51:57 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:51:57 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:53:13 2023

Subsetting to cumulative area for year: 2017. Wed Sep 13 15:53:27 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:53:27 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:54:52 2023

Subsetting to cumulative area for year: 2018. Wed Sep 13 15:55:05 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:55:05 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:56:29 2023

Subsetting to cumulative area for year: 2019. Wed Sep 13 15:56:42 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:56:42 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:58:11 2023

Subsetting to cumulative area for year: 2020. Wed Sep 13 15:58:25 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 15:58:25 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 15:59:56 2023

Subsetting to cumulative area for year: 2021. Wed Sep 13 16:00:10 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Wed Sep 13 16:00:10 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\1314417394.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Wed Sep 13 16:01:47 2023

Done with all years in set. Wed Sep 13 16:02:00 2023

##### Join area information from each cumulative layer onto the latest year dataset.

In [101]:
# The latest year in the study contains all settlements. Merge all other years' areas onto this dataset.
SettAreas = gpd.read_file(os.path.join(Results,'CumulativeSettlements.gpkg'), layer=
                          ''.join(['Cu', str(WSFE_end), '_Boundless'])) 
SettAreas['AREA'+str(WSFE_end)] = SettAreas['geometry'].area / 10**6
SettAreas = pd.DataFrame(SettAreas).drop(columns='geometry') # We have settlement IDs, so no need to join spatially!

In [102]:
for item in Reversed_WSFE_Years:
    print("Loading cumulative layer for year %s. %s\n" % (item, time.ctime()))
    YearLayer = gpd.read_file(os.path.join(Results,'CumulativeSettlements.gpkg'), 
                              layer=''.join(['Cu', str(item), '_Boundless']))
    print("Adding area field and converting to non-spatial dataframe. %s\n" % (time.ctime()))
    AreaYearName = ''.join(['AREA', str(item)])
    YearLayer[AreaYearName] = YearLayer['geometry'].area/ 10**6 
    YearLayer = pd.DataFrame(YearLayer)[['Sett_ID', AreaYearName]]
    print("Merging variables from %s onto our latest year (%s) via table join. %s\n" % (item, WSFE_end, time.ctime()))
    SettAreas = SettAreas.merge(YearLayer, how='left', on='Sett_ID')
print("Done merging annualized areas onto latest year geometries. Saving to file. %s\n" % (time.ctime()))


print(SettAreas.info())
SettAreas.to_csv(os.path.join(Results, 'Area.csv'))

Loading cumulative layer for year 2020. Wed Sep 13 16:02:03 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:06 2023

Merging variables from 2020 onto our latest year (2021) via table join. Wed Sep 13 16:02:06 2023

Loading cumulative layer for year 2019. Wed Sep 13 16:02:06 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:08 2023

Merging variables from 2019 onto our latest year (2021) via table join. Wed Sep 13 16:02:08 2023

Loading cumulative layer for year 2018. Wed Sep 13 16:02:08 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:11 2023

Merging variables from 2018 onto our latest year (2021) via table join. Wed Sep 13 16:02:11 2023

Loading cumulative layer for year 2017. Wed Sep 13 16:02:11 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:13 2023

Merging variables from 2017 onto our latest year (2021) via table join. Wed Sep 13 16:02:14 2023

Loading cumulative layer for year 2016. Wed Sep 13 16:02:14 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:16 2023

Merging variables from 2016 onto our latest year (2021) via table join. Wed Sep 13 16:02:16 2023

Loading cumulative layer for year 2015. Wed Sep 13 16:02:16 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:19 2023

Merging variables from 2015 onto our latest year (2021) via table join. Wed Sep 13 16:02:19 2023

Loading cumulative layer for year 2014. Wed Sep 13 16:02:19 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:21 2023

Merging variables from 2014 onto our latest year (2021) via table join. Wed Sep 13 16:02:22 2023

Loading cumulative layer for year 2013. Wed Sep 13 16:02:22 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:24 2023

Merging variables from 2013 onto our latest year (2021) via table join. Wed Sep 13 16:02:24 2023

Loading cumulative layer for year 2012. Wed Sep 13 16:02:24 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:26 2023

Merging variables from 2012 onto our latest year (2021) via table join. Wed Sep 13 16:02:26 2023

Loading cumulative layer for year 2011. Wed Sep 13 16:02:27 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:29 2023

Merging variables from 2011 onto our latest year (2021) via table join. Wed Sep 13 16:02:29 2023

Loading cumulative layer for year 2010. Wed Sep 13 16:02:29 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:31 2023

Merging variables from 2010 onto our latest year (2021) via table join. Wed Sep 13 16:02:31 2023

Loading cumulative layer for year 2009. Wed Sep 13 16:02:31 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:32 2023

Merging variables from 2009 onto our latest year (2021) via table join. Wed Sep 13 16:02:32 2023

Loading cumulative layer for year 2008. Wed Sep 13 16:02:32 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:33 2023

Merging variables from 2008 onto our latest year (2021) via table join. Wed Sep 13 16:02:33 2023

Loading cumulative layer for year 2007. Wed Sep 13 16:02:33 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:34 2023

Merging variables from 2007 onto our latest year (2021) via table join. Wed Sep 13 16:02:34 2023

Loading cumulative layer for year 2006. Wed Sep 13 16:02:34 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:35 2023

Merging variables from 2006 onto our latest year (2021) via table join. Wed Sep 13 16:02:35 2023

Loading cumulative layer for year 2005. Wed Sep 13 16:02:35 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:36 2023

Merging variables from 2005 onto our latest year (2021) via table join. Wed Sep 13 16:02:36 2023

Loading cumulative layer for year 2004. Wed Sep 13 16:02:36 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:37 2023

Merging variables from 2004 onto our latest year (2021) via table join. Wed Sep 13 16:02:37 2023

Loading cumulative layer for year 2003. Wed Sep 13 16:02:37 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:38 2023

Merging variables from 2003 onto our latest year (2021) via table join. Wed Sep 13 16:02:38 2023

Loading cumulative layer for year 2002. Wed Sep 13 16:02:38 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:39 2023

Merging variables from 2002 onto our latest year (2021) via table join. Wed Sep 13 16:02:39 2023

Loading cumulative layer for year 2001. Wed Sep 13 16:02:39 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:40 2023

Merging variables from 2001 onto our latest year (2021) via table join. Wed Sep 13 16:02:40 2023

Loading cumulative layer for year 2000. Wed Sep 13 16:02:40 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:41 2023

Merging variables from 2000 onto our latest year (2021) via table join. Wed Sep 13 16:02:41 2023

Loading cumulative layer for year 1999. Wed Sep 13 16:02:41 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:42 2023

Merging variables from 1999 onto our latest year (2021) via table join. Wed Sep 13 16:02:42 2023

Loading cumulative layer for year 1998. Wed Sep 13 16:02:42 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:43 2023

Merging variables from 1998 onto our latest year (2021) via table join. Wed Sep 13 16:02:43 2023

Loading cumulative layer for year 1997. Wed Sep 13 16:02:43 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:44 2023

Merging variables from 1997 onto our latest year (2021) via table join. Wed Sep 13 16:02:44 2023

Loading cumulative layer for year 1996. Wed Sep 13 16:02:44 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:45 2023

Merging variables from 1996 onto our latest year (2021) via table join. Wed Sep 13 16:02:45 2023

Loading cumulative layer for year 1995. Wed Sep 13 16:02:45 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:46 2023

Merging variables from 1995 onto our latest year (2021) via table join. Wed Sep 13 16:02:46 2023

Loading cumulative layer for year 1994. Wed Sep 13 16:02:46 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:47 2023

Merging variables from 1994 onto our latest year (2021) via table join. Wed Sep 13 16:02:47 2023

Loading cumulative layer for year 1993. Wed Sep 13 16:02:47 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:49 2023

Merging variables from 1993 onto our latest year (2021) via table join. Wed Sep 13 16:02:49 2023

Loading cumulative layer for year 1992. Wed Sep 13 16:02:49 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:50 2023

Merging variables from 1992 onto our latest year (2021) via table join. Wed Sep 13 16:02:50 2023

Loading cumulative layer for year 1991. Wed Sep 13 16:02:50 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:51 2023

Merging variables from 1991 onto our latest year (2021) via table join. Wed Sep 13 16:02:51 2023

Loading cumulative layer for year 1990. Wed Sep 13 16:02:51 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:53 2023

Merging variables from 1990 onto our latest year (2021) via table join. Wed Sep 13 16:02:53 2023

Loading cumulative layer for year 1989. Wed Sep 13 16:02:53 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:54 2023

Merging variables from 1989 onto our latest year (2021) via table join. Wed Sep 13 16:02:54 2023

Loading cumulative layer for year 1988. Wed Sep 13 16:02:54 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:55 2023

Merging variables from 1988 onto our latest year (2021) via table join. Wed Sep 13 16:02:55 2023

Loading cumulative layer for year 1987. Wed Sep 13 16:02:55 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:56 2023

Merging variables from 1987 onto our latest year (2021) via table join. Wed Sep 13 16:02:56 2023

Loading cumulative layer for year 1986. Wed Sep 13 16:02:56 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:57 2023

Merging variables from 1986 onto our latest year (2021) via table join. Wed Sep 13 16:02:57 2023

Loading cumulative layer for year 1985. Wed Sep 13 16:02:57 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 16:02:58 2023

Merging variables from 1985 onto our latest year (2021) via table join. Wed Sep 13 16:02:58 2023

Done merging annualized areas onto latest year geometries. Saving to file. Wed Sep 13 16:02:58 2023

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18552 entries, 0 to 18551
Data columns (total 40 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   18552 non-null  int64
 1   year      18552 non-null  int64
 2   ADM_ID    18552 non-null  int64
 3   AREA2021  18552 non-null  float64
 4   AREA2020  17807 non-null  float64
 5   AREA2019  17460 non-null  float64
 6   AREA2018  17058 non-null  float64
 7   AREA2017  16845 non-null  float64
 8   AREA2016  16629 non-null  float64
 9   AREA2015  16479 non-null  float64
 10  AREA2014  15938 non-null  float64
 11  AREA2013  14137 non-null  float64
 12  AREA2012  13533 non-null  float64
 13  AREA2011  11442 non-null  float64
 14  AREA2010  11415 non-null  float64
 15  AREA2009  4755 non-null   float64
 16  AREA2008  4744 non-null   float64
 17  AREA2007  4739 non-null   float64
 18  AREA2006  4730 non-null   float64
 19  AREA2005  4723 non-null   float64
 20  AREA2004  4715 non-null   float64
 21  AREA2003  4699 non-null   float64
 22  AREA2002  4689 non-null   float64
 23  AREA2001  4680 non-null   float64
 24  AREA2000  4670 non-null   float64
 25  AREA1999  4075 non-null   float64
 26  AREA1998  4058 non-null   float64
 27  AREA1997  4031 non-null   float64
 28  AREA1996  4017 non-null   float64
 29  AREA1995  3949 non-null   float64
 30  AREA1994  3907 non-null   float64
 31  AREA1993  3885 non-null   float64
 32  AREA1992  3864 non-null   float64
 33  AREA1991  3853 non-null   float64
 34  AREA1990  3835 non-null   float64
 35  AREA1989  2507 non-null   float64
 36  AREA1988  2484 non-null   float64
 37  AREA1987  2441 non-null   float64
 38  AREA1986  2372 non-null   float64
 39  AREA1985  2139 non-null   float64
dtypes: float64(37), int64(3)
memory usage: 5.8 MB
None

In [103]:
del SettAreas

### 5.3 Repeat for Bounded dataset.

In [90]:
# Bounded = gpd.read_file(r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Bounded')

for item in WSFE_Years:
    print('Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.
    print('Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. %s\n' % time.ctime())
    YearDissolve = YearSet.dissolve(by='Bounded_ID', 
                                        aggfunc={"year": "max", "ADM_ID":"min", "Sett_ID":"min"}, # Though ADM_ID and Sett_ID should be matching every time.
                                        as_index=False)
    print('Write to file. %s\n' % time.ctime())
    YearName = ''.join(['Cu', str(item), '_Bounded'])
    YearDissolve.to_file(driver='GPKG', filename=os.path.join(Results,'CumulativeSettlements.gpkg'), layer=YearName)
    del YearSet, YearDissolve
print("Done with all years in set. %s" % time.ctime())

Subsetting to cumulative area for year: 1985. Wed Sep 13 13:44:20 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:44:20 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:44:25 2023

Subsetting to cumulative area for year: 1986. Wed Sep 13 13:44:27 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:44:27 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:44:35 2023

Subsetting to cumulative area for year: 1987. Wed Sep 13 13:44:37 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:44:37 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:44:47 2023

Subsetting to cumulative area for year: 1988. Wed Sep 13 13:44:50 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:44:50 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:45:02 2023

Subsetting to cumulative area for year: 1989. Wed Sep 13 13:45:05 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:45:05 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:45:17 2023

Subsetting to cumulative area for year: 1990. Wed Sep 13 13:45:20 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:45:20 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:45:37 2023

Subsetting to cumulative area for year: 1991. Wed Sep 13 13:45:40 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:45:40 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:45:57 2023

Subsetting to cumulative area for year: 1992. Wed Sep 13 13:46:01 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:46:01 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:46:18 2023

Subsetting to cumulative area for year: 1993. Wed Sep 13 13:46:23 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:46:23 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:46:39 2023

Subsetting to cumulative area for year: 1994. Wed Sep 13 13:46:43 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:46:43 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:46:59 2023

Subsetting to cumulative area for year: 1995. Wed Sep 13 13:47:03 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:47:03 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:47:22 2023

Subsetting to cumulative area for year: 1996. Wed Sep 13 13:47:26 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:47:26 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:47:45 2023

Subsetting to cumulative area for year: 1997. Wed Sep 13 13:47:49 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:47:49 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:48:08 2023

Subsetting to cumulative area for year: 1998. Wed Sep 13 13:48:12 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:48:12 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:48:31 2023

Subsetting to cumulative area for year: 1999. Wed Sep 13 13:48:35 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:48:35 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:48:54 2023

Subsetting to cumulative area for year: 2000. Wed Sep 13 13:48:58 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:48:58 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:49:20 2023

Subsetting to cumulative area for year: 2001. Wed Sep 13 13:49:24 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:49:24 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:49:49 2023

Subsetting to cumulative area for year: 2002. Wed Sep 13 13:49:54 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:49:54 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:50:17 2023

Subsetting to cumulative area for year: 2003. Wed Sep 13 13:50:21 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:50:21 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:50:45 2023

Subsetting to cumulative area for year: 2004. Wed Sep 13 13:50:50 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:50:50 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:51:15 2023

Subsetting to cumulative area for year: 2005. Wed Sep 13 13:51:20 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:51:20 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:51:43 2023

Subsetting to cumulative area for year: 2006. Wed Sep 13 13:51:49 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:51:49 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:52:14 2023

Subsetting to cumulative area for year: 2007. Wed Sep 13 13:52:20 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:52:20 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:52:45 2023

Subsetting to cumulative area for year: 2008. Wed Sep 13 13:52:49 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:52:49 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:53:14 2023

Subsetting to cumulative area for year: 2009. Wed Sep 13 13:53:19 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:53:19 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:53:45 2023

Subsetting to cumulative area for year: 2010. Wed Sep 13 13:53:50 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:53:50 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:54:31 2023

Subsetting to cumulative area for year: 2011. Wed Sep 13 13:54:42 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:54:42 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:55:25 2023

Subsetting to cumulative area for year: 2012. Wed Sep 13 13:55:36 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:55:36 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:56:32 2023

Subsetting to cumulative area for year: 2013. Wed Sep 13 13:56:44 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:56:44 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:57:44 2023

Subsetting to cumulative area for year: 2014. Wed Sep 13 13:57:56 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:57:56 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 13:59:08 2023

Subsetting to cumulative area for year: 2015. Wed Sep 13 13:59:22 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 13:59:22 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 14:00:39 2023

Subsetting to cumulative area for year: 2016. Wed Sep 13 14:00:53 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 14:00:53 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 14:02:10 2023

Subsetting to cumulative area for year: 2017. Wed Sep 13 14:02:22 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 14:02:22 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 14:03:40 2023

Subsetting to cumulative area for year: 2018. Wed Sep 13 14:03:53 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 14:03:54 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 14:05:14 2023

Subsetting to cumulative area for year: 2019. Wed Sep 13 14:05:27 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 14:05:27 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 14:07:46 2023

Subsetting to cumulative area for year: 2020. Wed Sep 13 14:08:12 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 14:08:12 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 14:11:09 2023

Subsetting to cumulative area for year: 2021. Wed Sep 13 14:11:39 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Wed Sep 13 14:11:39 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_28192\421491971.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(WSFE_start, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Wed Sep 13 14:14:59 2023

Done with all years in set. Wed Sep 13 14:15:24 2023

In [91]:
SettAreas = gpd.read_file(os.path.join(Results,'CumulativeSettlements.gpkg'), 
                          layer=''.join(['Cu', str(WSFE_end), '_Bounded']))
SettAreas['AREA'+str(WSFE_end)] = SettAreas['geometry'].area / 10**6
SettAreas = pd.DataFrame(SettAreas).drop(columns='geometry')

In [92]:
for item in Reversed_WSFE_Years:
    print("Loading cumulative layer for year %s. %s\n" % (item, time.ctime()))
    YearLayer = gpd.read_file(os.path.join(Results,'CumulativeSettlements.gpkg'), 
                              layer=''.join(['Cu', str(item), '_Bounded']))
    print("Adding area field and converting to non-spatial dataframe. %s\n" % (time.ctime()))
    AreaYearName = ''.join(['AREA', str(item)])
    YearLayer[AreaYearName] = YearLayer['geometry'].area/ 10**6 
    YearLayer = pd.DataFrame(YearLayer)[['Bounded_ID', AreaYearName]]
    print("Merging variables from %s onto our latest year (%s) via table join. %s\n" % (item, WSFE_end, time.ctime()))
    SettAreas = SettAreas.merge(YearLayer, how='left', on='Bounded_ID')
print("Done merging annualized areas onto latest year geometries. Saving to file. %s\n" % (time.ctime()))

print(SettAreas.info())
SettAreas.to_csv(os.path.join(Results, 'Area_Bounded.csv'))

Loading cumulative layer for year 2020. Wed Sep 13 14:15:28 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:15:34 2023

Merging variables from 2020 onto our latest year (2021) via table join. Wed Sep 13 14:15:34 2023

Loading cumulative layer for year 2019. Wed Sep 13 14:15:34 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:15:40 2023

Merging variables from 2019 onto our latest year (2021) via table join. Wed Sep 13 14:15:40 2023

Loading cumulative layer for year 2018. Wed Sep 13 14:15:40 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:15:45 2023

Merging variables from 2018 onto our latest year (2021) via table join. Wed Sep 13 14:15:45 2023

Loading cumulative layer for year 2017. Wed Sep 13 14:15:45 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:15:51 2023

Merging variables from 2017 onto our latest year (2021) via table join. Wed Sep 13 14:15:51 2023

Loading cumulative layer for year 2016. Wed Sep 13 14:15:51 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:15:57 2023

Merging variables from 2016 onto our latest year (2021) via table join. Wed Sep 13 14:15:57 2023

Loading cumulative layer for year 2015. Wed Sep 13 14:15:57 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:03 2023

Merging variables from 2015 onto our latest year (2021) via table join. Wed Sep 13 14:16:03 2023

Loading cumulative layer for year 2014. Wed Sep 13 14:16:03 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:09 2023

Merging variables from 2014 onto our latest year (2021) via table join. Wed Sep 13 14:16:09 2023

Loading cumulative layer for year 2013. Wed Sep 13 14:16:09 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:14 2023

Merging variables from 2013 onto our latest year (2021) via table join. Wed Sep 13 14:16:14 2023

Loading cumulative layer for year 2012. Wed Sep 13 14:16:14 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:19 2023

Merging variables from 2012 onto our latest year (2021) via table join. Wed Sep 13 14:16:19 2023

Loading cumulative layer for year 2011. Wed Sep 13 14:16:19 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:24 2023

Merging variables from 2011 onto our latest year (2021) via table join. Wed Sep 13 14:16:24 2023

Loading cumulative layer for year 2010. Wed Sep 13 14:16:24 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:28 2023

Merging variables from 2010 onto our latest year (2021) via table join. Wed Sep 13 14:16:28 2023

Loading cumulative layer for year 2009. Wed Sep 13 14:16:28 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:30 2023

Merging variables from 2009 onto our latest year (2021) via table join. Wed Sep 13 14:16:30 2023

Loading cumulative layer for year 2008. Wed Sep 13 14:16:30 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:32 2023

Merging variables from 2008 onto our latest year (2021) via table join. Wed Sep 13 14:16:32 2023

Loading cumulative layer for year 2007. Wed Sep 13 14:16:32 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:34 2023

Merging variables from 2007 onto our latest year (2021) via table join. Wed Sep 13 14:16:34 2023

Loading cumulative layer for year 2006. Wed Sep 13 14:16:34 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:35 2023

Merging variables from 2006 onto our latest year (2021) via table join. Wed Sep 13 14:16:35 2023

Loading cumulative layer for year 2005. Wed Sep 13 14:16:35 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:37 2023

Merging variables from 2005 onto our latest year (2021) via table join. Wed Sep 13 14:16:37 2023

Loading cumulative layer for year 2004. Wed Sep 13 14:16:37 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:39 2023

Merging variables from 2004 onto our latest year (2021) via table join. Wed Sep 13 14:16:39 2023

Loading cumulative layer for year 2003. Wed Sep 13 14:16:39 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:40 2023

Merging variables from 2003 onto our latest year (2021) via table join. Wed Sep 13 14:16:40 2023

Loading cumulative layer for year 2002. Wed Sep 13 14:16:41 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:42 2023

Merging variables from 2002 onto our latest year (2021) via table join. Wed Sep 13 14:16:42 2023

Loading cumulative layer for year 2001. Wed Sep 13 14:16:42 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:44 2023

Merging variables from 2001 onto our latest year (2021) via table join. Wed Sep 13 14:16:44 2023

Loading cumulative layer for year 2000. Wed Sep 13 14:16:44 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:46 2023

Merging variables from 2000 onto our latest year (2021) via table join. Wed Sep 13 14:16:46 2023

Loading cumulative layer for year 1999. Wed Sep 13 14:16:46 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:47 2023

Merging variables from 1999 onto our latest year (2021) via table join. Wed Sep 13 14:16:47 2023

Loading cumulative layer for year 1998. Wed Sep 13 14:16:47 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:49 2023

Merging variables from 1998 onto our latest year (2021) via table join. Wed Sep 13 14:16:49 2023

Loading cumulative layer for year 1997. Wed Sep 13 14:16:49 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:51 2023

Merging variables from 1997 onto our latest year (2021) via table join. Wed Sep 13 14:16:51 2023

Loading cumulative layer for year 1996. Wed Sep 13 14:16:51 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:53 2023

Merging variables from 1996 onto our latest year (2021) via table join. Wed Sep 13 14:16:53 2023

Loading cumulative layer for year 1995. Wed Sep 13 14:16:53 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:55 2023

Merging variables from 1995 onto our latest year (2021) via table join. Wed Sep 13 14:16:55 2023

Loading cumulative layer for year 1994. Wed Sep 13 14:16:55 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:56 2023

Merging variables from 1994 onto our latest year (2021) via table join. Wed Sep 13 14:16:56 2023

Loading cumulative layer for year 1993. Wed Sep 13 14:16:56 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:16:58 2023

Merging variables from 1993 onto our latest year (2021) via table join. Wed Sep 13 14:16:58 2023

Loading cumulative layer for year 1992. Wed Sep 13 14:16:58 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:17:00 2023

Merging variables from 1992 onto our latest year (2021) via table join. Wed Sep 13 14:17:00 2023

Loading cumulative layer for year 1991. Wed Sep 13 14:17:00 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:17:02 2023

Merging variables from 1991 onto our latest year (2021) via table join. Wed Sep 13 14:17:02 2023

Loading cumulative layer for year 1990. Wed Sep 13 14:17:02 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:17:04 2023

Merging variables from 1990 onto our latest year (2021) via table join. Wed Sep 13 14:17:04 2023

Loading cumulative layer for year 1989. Wed Sep 13 14:17:04 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:17:05 2023

Merging variables from 1989 onto our latest year (2021) via table join. Wed Sep 13 14:17:05 2023

Loading cumulative layer for year 1988. Wed Sep 13 14:17:05 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:17:07 2023

Merging variables from 1988 onto our latest year (2021) via table join. Wed Sep 13 14:17:07 2023

Loading cumulative layer for year 1987. Wed Sep 13 14:17:07 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:17:08 2023

Merging variables from 1987 onto our latest year (2021) via table join. Wed Sep 13 14:17:08 2023

Loading cumulative layer for year 1986. Wed Sep 13 14:17:08 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:17:10 2023

Merging variables from 1986 onto our latest year (2021) via table join. Wed Sep 13 14:17:10 2023

Loading cumulative layer for year 1985. Wed Sep 13 14:17:10 2023

Adding area field and converting to non-spatial dataframe. Wed Sep 13 14:17:11 2023

Merging variables from 1985 onto our latest year (2021) via table join. Wed Sep 13 14:17:11 2023

Done merging annualized areas onto latest year geometries. Saving to file. Wed Sep 13 14:17:11 2023

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19095 entries, 0 to 19094
Data columns (total 41 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Bounded_ID  19095 non-null  int64
 1   year        19095 non-null  int64
 2   ADM_ID      19095 non-null  int64
 3   Sett_ID     19095 non-null  int64
 4   AREA2021    19095 non-null  float64
 5   AREA2020    18331 non-null  float64
 6   AREA2019    17970 non-null  float64
 7   AREA2018    17556 non-null  float64
 8   AREA2017    17340 non-null  float64
 9   AREA2016    17122 non-null  float64
 10  AREA2015    16968 non-null  float64
 11  AREA2014    16420 non-null  float64
 12  AREA2013    14576 non-null  float64
 13  AREA2012    13957 non-null  float64
 14  AREA2011    11829 non-null  float64
 15  AREA2010    11802 non-null  float64
 16  AREA2009    4926 non-null   float64
 17  AREA2008    4915 non-null   float64
 18  AREA2007    4910 non-null   float64
 19  AREA2006    4901 non-null   float64
 20  AREA2005    4894 non-null   float64
 21  AREA2004    4886 non-null   float64
 22  AREA2003    4870 non-null   float64
 23  AREA2002    4860 non-null   float64
 24  AREA2001    4851 non-null   float64
 25  AREA2000    4841 non-null   float64
 26  AREA1999    4228 non-null   float64
 27  AREA1998    4211 non-null   float64
 28  AREA1997    4184 non-null   float64
 29  AREA1996    4170 non-null   float64
 30  AREA1995    4101 non-null   float64
 31  AREA1994    4059 non-null   float64
 32  AREA1993    4035 non-null   float64
 33  AREA1992    4013 non-null   float64
 34  AREA1991    4000 non-null   float64
 35  AREA1990    3982 non-null   float64
 36  AREA1989    2614 non-null   float64
 37  AREA1988    2591 non-null   float64
 38  AREA1987    2547 non-null   float64
 39  AREA1986    2476 non-null   float64
 40  AREA1985    2232 non-null   float64
dtypes: float64(37), int64(4)
memory usage: 6.1 MB
None

In [93]:
del SettAreas

### 5.4 One settlement geofile to rule them all. ...and in the Sett_ID bind them.
The annualized values can be stored as distinct non-spatial dataframes. Their Sett_IDs will be used to join onto this geoversion with place names for the summary stats.

In [104]:
Settlements = gpd.read_file(os.path.join(Results,'CumulativeSettlements.gpkg'), 
                           layer=''.join(['Cu', str(WSFE_end), '_Boundless']))[['Sett_ID', 'ADM_ID', 'geometry']]
print(Settlements.info())
print(Settlements.crs)
Settlements.to_file(driver='GPKG', 
                       filename=os.path.join(Results,'SETTLEMENTS.gpkg'), 
                       layer='SETTLEMENTS_equalarea')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 18552 entries, 0 to 18551
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   18552 non-null  int64
 1   ADM_ID    18552 non-null  int64
 2   geometry  18552 non-null  geometry
dtypes: geometry(1), int64(2)
memory usage: 434.9 KB
None
PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

In [105]:
# Saving all the final products as WGS84.
Settlements_WGS = Settlements.to_crs(4326) 
print(Settlements_WGS.info())
print(Settlements_WGS.crs)
Settlements_WGS.to_file(driver='GPKG', 
                       filename=os.path.join(Results,'SETTLEMENTS.gpkg'), 
                       layer='SETTLEMENTS')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 18552 entries, 0 to 18551
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   18552 non-null  int64
 1   ADM_ID    18552 non-null  int64
 2   geometry  18552 non-null  geometry
dtypes: geometry(1), int64(2)
memory usage: 434.9 KB
None
epsg:4326

### 5.5 Buffer the area of the Boundless dataset's latest year to mask raster data in later sections.
The Bounded dataset would also be fine for our purposes here. The buffer is dissolved to a single feature to be used for its total extents, which are identical between Bounded & Boundless datasets.

In [106]:
# Create buffer layer(s) to use as maximum distance for Near joins.

# Population buffer: 2km
Distance = 2000 # The Africa Albers projection is in meters. Saving in this projection to use in later sections.

print('Creating buffer layer. %s' % time.ctime())
BufferLayer = Settlements[['Sett_ID', 'geometry']]
BufferLayer['geometry'] = BufferLayer['geometry'].apply(
    make_valid).buffer(Distance) # make_valid is a workaround for any null geometries.
print('Finished buffer layer creation. %s' % time.ctime())

BufferFileName1 = ''.join(['Buff', str(Distance), 'm_', str(WSFE_end)])
BufferLayer.to_file(driver='GPKG', filename=os.path.join(Intermediate,'Catchment.gpkg'), layer=BufferFileName1)
print('Saved to file. %s' % time.ctime())

Creating buffer layer. Wed Sep 13 16:03:28 2023

C:\Users\grace\miniconda3\envs\geo\lib\site-packages\geopandas\geodataframe.py:1472: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Finished buffer layer creation. Wed Sep 13 18:34:08 2023
Saved to file. Wed Sep 13 18:34:14 2023

In [107]:
# Nighttime Lights buffer: 250m
Distance = 250

print('Creating buffer layer. %s' % time.ctime())
BufferLayer = Settlements[['Sett_ID', 'geometry']]
BufferLayer['geometry'] = BufferLayer['geometry'].apply(
    make_valid).buffer(Distance) # make_valid is a workaround for any null geometries.
print('Finished buffer layer creation. %s' % time.ctime())

BufferFileName2 = ''.join(['Buff', str(Distance), 'm_', str(WSFE_end)])
BufferLayer.to_file(driver='GPKG', filename=os.path.join(Intermediate,'Catchment.gpkg'), layer=BufferFileName2)
print('Saved to file. %s' % time.ctime())

Creating buffer layer. Wed Sep 13 18:34:14 2023

C:\Users\grace\miniconda3\envs\geo\lib\site-packages\geopandas\geodataframe.py:1472: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Finished buffer layer creation. Wed Sep 13 18:39:20 2023
Saved to file. Wed Sep 13 18:39:28 2023

---

## 6. PLACE NAMES
Join urban place names from UCDB, Africapolis, and GeoNames onto the settlement vectors.

### 6.1 Load placename datasets, filter, and project.

In [69]:
# WSFE_end = 2021
# WSFE_start = 1985
# WSFE_Years = ListFromRange(WSFE_start, WSFE_end)

In [43]:
# Anytime we use a spatial join or work with area, 
# my preference is to keep it in a planar, equal area, meters projection. So we'll load as the Africa Albers.
Settlements = gpd.read_file(os.path.join(Results, 'SETTLEMENTS.gpkg'), layer='SETTLEMENTS_equalarea')
Settlements['AREA'+str(WSFE_end)] = Settlements['geometry'].area / 10**6

# Load, pull name field, rename, and reproject to match the catchments CRS.
UCDB = gpd.read_file(os.path.join(Source, 'PlaceName', 'GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_2.gpkg'), 
                     layer=0)[['UC_NM_MN', 'geometry']].rename(
    columns={"UC_NM_MN": "UCDB_Name"}).to_crs("ESRI:102022")

Africapolis = gpd.read_file(os.path.join(Source, 'PlaceName', 'AFRICAPOLIS2020.shp'))[['agglosName', 'geometry']].rename(
    columns={"agglosName": "Afpl_Name"}).to_crs("ESRI:102022")

GeoNames = gpd.read_file(os.path.join(Source, 'PlaceName', 'GeoNames.gpkg'), 
                         layer=0)[['GeoName', 'geometry']].to_crs("ESRI:102022")

print(Settlements.info(), UCDB.info(), Africapolis.info(), GeoNames.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 18552 entries, 0 to 18551
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   18552 non-null  int64
 1   ADM_ID    18552 non-null  int64
 2   geometry  18552 non-null  geometry
 3   AREA2021  18552 non-null  float64
dtypes: float64(1), geometry(1), int64(2)
memory usage: 579.9 KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13135 entries, 0 to 13134
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UCDB_Name  13135 non-null  object
 1   geometry   13135 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 205.4+ KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 7720 entries, 0 to 7719
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Afpl_Name  7720 non-null   object
 1   geometry   7720 non-null   geometry
dtypes: geometry(1), object(1)
memory usage: 120.8+ KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 199390 entries, 0 to 199389
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   GeoName   199390 non-null  object
 1   geometry  199390 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 3.0+ MB
None None None None

### 6.2 Join placenames onto settlements geodataframe.

In [44]:
# We wrap it in pd.DataFrame() since the sjoin() is the last time we need the geometry.

GeoNames = pd.DataFrame(gpd.sjoin_nearest(GeoNames, Settlements, 
                             how='left', distance_col="distGN", max_distance=250, 
                             lsuffix="G3", rsuffix="GN")).drop(columns='geometry')
Africapolis = pd.DataFrame(gpd.sjoin_nearest(Africapolis, Settlements, 
                             how='left', distance_col="distAF", max_distance=250,
                             lsuffix="G3", rsuffix="Af")).drop(columns='geometry')
UCDB = pd.DataFrame(gpd.sjoin_nearest(UCDB, Settlements, 
                             how='left', distance_col="distUC", max_distance=250,
                             lsuffix="G3", rsuffix="UC")).drop(columns='geometry')

In [45]:
print(GeoNames.info())
print(Africapolis.info())
print(UCDB.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199390 entries, 0 to 199389
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   GeoName   199390 non-null  object
 1   index_GN  277 non-null     float64
 2   Sett_ID   277 non-null     float64
 3   ADM_ID    277 non-null     float64
 4   AREA2021  277 non-null     float64
 5   distGN    277 non-null     float64
dtypes: float64(5), object(1)
memory usage: 10.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7720 entries, 0 to 7719
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Afpl_Name  7720 non-null   object
 1   index_Af   0 non-null      float64
 2   Sett_ID    0 non-null      float64
 3   ADM_ID     0 non-null      float64
 4   AREA2021   0 non-null      float64
 5   distAF     0 non-null      float64
dtypes: float64(5), object(1)
memory usage: 422.2+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13890 entries, 0 to 13134
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UCDB_Name  13890 non-null  object
 1   index_UC   781 non-null    float64
 2   Sett_ID    781 non-null    float64
 3   ADM_ID     781 non-null    float64
 4   AREA2021   781 non-null    float64
 5   distUC     781 non-null    float64
dtypes: float64(5), object(1)
memory usage: 759.6+ KB
None

In [46]:
alldatasets = [pd.DataFrame(Settlements).drop(columns='geometry'),
               Africapolis[['Sett_ID', 'Afpl_Name', 'distAF']], 
               GeoNames[['Sett_ID', 'GeoName', 'distGN']],
               UCDB[['Sett_ID', 'UCDB_Name', 'distUC']]]

SettlementsNamed = reduce(lambda left,right: pd.merge(left,right,on=['Sett_ID'], how='left'), alldatasets)
SettlementsNamed[['Afpl_Name', 'GeoName', 'UCDB_Name']] = SettlementsNamed[['Afpl_Name', 'GeoName', 'UCDB_Name']].fillna('UNK')

# Replace NaN values with a countable distance.
SettlementsNamed[['distAF', 'distGN', 'distUC']] = SettlementsNamed[['distAF', 'distGN', 'distUC']].fillna(-1)

In [47]:
print(SettlementsNamed.info())
print(SettlementsNamed.sample(10))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18575 entries, 0 to 18574
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    18575 non-null  int64
 1   ADM_ID     18575 non-null  int64
 2   AREA2021   18575 non-null  float64
 3   Afpl_Name  18575 non-null  object
 4   distAF     18575 non-null  float64
 5   GeoName    18575 non-null  object
 6   distGN     18575 non-null  float64
 7   UCDB_Name  18575 non-null  object
 8   distUC     18575 non-null  float64
dtypes: float64(4), int64(2), object(3)
memory usage: 1.4+ MB
None
       Sett_ID  ADM_ID  AREA2021 Afpl_Name  distAF GeoName  distGN UCDB_Name  \
15937   135240     141  0.034431       UNK    -1.0     UNK    -1.0       UNK
15848   133939      26  0.032136       UNK    -1.0     UNK    -1.0       UNK
5111     21703     212  0.000765       UNK    -1.0     UNK    -1.0       UNK
6241     29106      46  0.002295       UNK    -1.0     UNK    -1.0       UNK
17269   153255     193  0.242550       UNK    -1.0     UNK    -1.0       UNK
3047     11082      61  0.369563       UNK    -1.0     UNK    -1.0  Damascus
8156     40936      45  0.035196       UNK    -1.0     UNK    -1.0       UNK
10690    57272     175  0.004591       UNK    -1.0     UNK    -1.0       UNK
10902    58382      99  0.002295       UNK    -1.0     UNK    -1.0       UNK
7575     37442     118  0.021424       UNK    -1.0     UNK    -1.0       UNK

       distUC
15937    -1.0
15848    -1.0
5111     -1.0
6241     -1.0
17269    -1.0
3047      0.0
8156     -1.0
10690    -1.0
10902    -1.0
7575     -1.0

In [48]:
del UCDB, Africapolis, GeoNames

The near joins should have prevented duplication of rows, but if df1 intersects with two features in df2, it creates a new row. Two of our placenames sources are polygons, so there may be instances.

In [49]:
SettlementsNamed[SettlementsNamed.duplicated('Sett_ID', keep=False)]

,Sett_ID,ADM_ID,AREA2021,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC
3205,11822,44,18.081043,UNK,-1.0,May,0.000000,UNK,-1.0
3206,11822,44,18.081043,UNK,-1.0,Az Zabadn,0.000000,UNK,-1.0
4862,20308,50,9.228363,UNK,-1.0,UNK,-1.000000,Baniyas,0.0
4863,20308,50,9.228363,UNK,-1.0,UNK,-1.000000,Tartus,0.0
5042,21342,210,3.762963,UNK,-1.0,ft,0.000000,UNK,-1.0
5043,21342,210,3.762963,UNK,-1.0,Ras al Khashfah,37.970870,UNK,-1.0
5471,24050,104,27.997268,UNK,-1.0,Latakia,0.000000,Latakia,0.0
5472,24050,104,27.997268,UNK,-1.0,Al Hind,14.481241,Latakia,0.0
5866,26727,50,11.317198,UNK,-1.0,Al Quaylibyah,60.441147,Jablah,0.0
5867,26727,50,11.317198,UNK,-1.0,Jablah,0.000000,Jablah,0.0
7747,38534,28,281.043874,UNK,-1.0,any,0.000000,Damascus,0.0
7748,38534,28,281.043874,UNK,-1.0,Kafr Ban,0.000000,Damascus,0.0
7749,38534,28,281.043874,UNK,-1.0,Jaramn,0.000000,Damascus,0.0
7750,38534,28,281.043874,UNK,-1.0,Irbn,21.321031,Damascus,0.0
7751,38534,28,281.043874,UNK,-1.0,arast,0.000000,Damascus,0.0
7752,38534,28,281.043874,UNK,-1.0,Dm,0.000000,Damascus,0.0
7753,38534,28,281.043874,UNK,-1.0,Damascus,0.000000,Damascus,0.0
7754,38534,28,281.043874,UNK,-1.0,Dayr al Afr,0.000000,Damascus,0.0
7755,38534,28,281.043874,UNK,-1.0,Drayy,0.000000,Damascus,0.0
7756,38534,28,281.043874,UNK,-1.0,Babl,0.000000,Damascus,0.0
7757,38534,28,281.043874,UNK,-1.0,An Nashbyah,0.000000,Damascus,0.0
7758,38534,28,281.043874,UNK,-1.0,Al Mulayah,0.000000,Damascus,0.0
7759,38534,28,281.043874,UNK,-1.0,Al ajar al Aswad,0.000000,Damascus,0.0
8543,43444,23,14.768748,UNK,-1.0,Yabrd,0.000000,UNK,-1.0
8544,43444,23,14.768748,UNK,-1.0,An Nabk,0.000000,UNK,-1.0
10801,57837,27,11.605656,UNK,-1.0,Tallbsah,0.000000,UNK,-1.0
10802,57837,27,11.605656,UNK,-1.0,Ar Rastan,0.000000,UNK,-1.0
11068,59420,107,4.518157,UNK,-1.0,Talldaww,0.000000,UNK,-1.0
11069,59420,107,4.518157,UNK,-1.0,Kafr Lh,0.000000,UNK,-1.0
12266,75655,43,47.433375,UNK,-1.0,Batabo,0.000000,UNK,-1.0
12267,75655,43,47.433375,UNK,-1.0,Ad Dn,0.000000,UNK,-1.0
12775,81242,158,0.797277,UNK,-1.0,Al Mabal,0.000000,UNK,-1.0
12776,81242,158,0.797277,UNK,-1.0,Qenter,0.000000,UNK,-1.0
13517,96393,110,115.537029,UNK,-1.0,uraytn,80.444231,Aleppo,0.0
13518,96393,110,115.537029,UNK,-1.0,Aleppo,0.000000,Aleppo,0.0

In [50]:
SettlementsNamed.drop_duplicates(subset=['Sett_ID'], inplace=True, keep='first')
SettlementsNamed.info() # Range of entries should be the same as original Settlements file.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18552 entries, 0 to 18574
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    18552 non-null  int64
 1   ADM_ID     18552 non-null  int64
 2   AREA2021   18552 non-null  float64
 3   Afpl_Name  18552 non-null  object
 4   distAF     18552 non-null  float64
 5   GeoName    18552 non-null  object
 6   distGN     18552 non-null  float64
 7   UCDB_Name  18552 non-null  object
 8   distUC     18552 non-null  float64
dtypes: float64(4), int64(2), object(3)
memory usage: 1.4+ MB

### 6.3 Reduce to single name column.

In [51]:
# Determine which source has a name geometrically closest to the settlement.
# Since we switched NaN values to -1 earlier, we also resolved what happens in the event of a tie, 
# i.e. when more than one source is 0.0 meters from the settlement. It will take the value from the first column.
SettlementsNamed['SettName'] = "UNK"
SettlementsNamed['closest'] = SettlementsNamed[['distAF', 'distGN', 'distUC']].idxmax(axis=1)

In [52]:
SettlementsNamed.sample(20)

,Sett_ID,ADM_ID,AREA2021,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC,SettName,closest
9793,52034,16,0.000765,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
3459,12905,197,0.045143,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
7436,36432,176,0.160680,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12097,73868,62,0.001530,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12953,83313,121,0.090287,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
5434,23785,204,0.000765,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
13892,100934,129,0.005356,UNK,-1.0,UNK,-1.0,Aleppo,0.0,UNK,distUC
4846,20219,268,0.003826,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12049,73382,223,0.001530,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
8949,47325,115,0.009947,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
5402,23528,15,0.006886,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
11899,71811,161,0.001530,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1692,6256,13,0.022954,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12976,83547,206,0.124718,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
13915,101207,110,0.181338,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
16741,146887,29,0.368033,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
8033,40169,93,0.058151,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
3134,11497,197,0.002295,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
2144,7775,13,0.003061,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12302,76085,62,0.030606,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF

In [53]:
# Create a single name column where non-named settlements are "UNK" but all others use one of the three name sources.
SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distAF", 
    'SettName'] = SettlementsNamed['Afpl_Name']

SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distUC", 
    'SettName'] = SettlementsNamed['UCDB_Name']

SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distGN", 
    'SettName'] = SettlementsNamed['GeoName']

In [54]:
SettlementsNamed.sample(20)

,Sett_ID,ADM_ID,AREA2021,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC,SettName,closest
12161,74561,223,0.035962,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12771,81223,121,0.005356,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
3940,15245,101,0.890624,UNK,-1.0,Al Karmah,0.0,UNK,-1.0,Al Karmah,distGN
1225,4613,125,0.001530,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1032,3907,170,0.002295,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
6865,32880,39,0.162210,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
17772,155355,126,0.087226,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12356,76657,225,0.002295,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
13519,96403,35,0.003061,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
4386,17283,260,0.006121,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
6003,27633,140,0.020659,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
6702,31925,39,0.006121,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12051,73390,43,0.000765,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
6698,31914,39,5.896940,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
10627,56870,182,0.006121,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
11722,69319,143,0.000765,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
14981,115163,123,0.161445,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
6159,28636,46,0.000765,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
7812,38889,70,0.001530,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
18197,156301,14,0.003826,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF

In [55]:
SettlementsNamed[SettlementsNamed['SettName'] != 'UNK'].sample(20)

,Sett_ID,ADM_ID,AREA2021,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC,SettName,closest
16802,147611,11,0.101764,UNK,-1.0,UNK,-1.000000,Al-Hasakah,0.0,Al-Hasakah,distUC
15216,121705,177,0.003826,UNK,-1.0,UNK,-1.000000,Manbij,0.0,Manbij,distUC
16080,138061,68,0.001530,UNK,-1.0,UNK,-1.000000,Deir Ez Zor,0.0,Deir Ez Zor,distUC
16756,147274,11,0.229542,UNK,-1.0,UNK,-1.000000,Al-Hasakah,0.0,Al-Hasakah,distUC
16595,143516,20,1.068902,UNK,-1.0,UNK,-1.000000,Al Qurayya,0.0,Al Qurayya,distUC
2976,10766,61,0.377980,UNK,-1.0,UNK,-1.000000,Damascus,0.0,Damascus,distUC
10262,54694,182,0.656491,UNK,-1.0,Tremseh,0.000000,UNK,-1.0,Tremseh,distGN
1991,7271,213,4.597731,UNK,-1.0,Sasa,0.000000,UNK,-1.0,Sasa,distGN
13405,94742,129,0.013007,UNK,-1.0,UNK,-1.000000,Aleppo,0.0,Aleppo,distUC
16316,141741,209,0.002295,UNK,-1.0,UNK,-1.000000,Ceylanpnar,0.0,Ceylanpnar,distUC
13388,94522,129,0.462145,UNK,-1.0,UNK,-1.000000,Aleppo,0.0,Aleppo,distUC
8833,46701,115,0.352730,UNK,-1.0,UNK,-1.000000,Homs,0.0,Homs,distUC
6563,31063,58,7.463949,UNK,-1.0,Bur ash Shm,0.000000,UNK,-1.0,Bur ash Shm,distGN
13682,98411,129,0.001530,UNK,-1.0,UNK,-1.000000,Aleppo,0.0,Aleppo,distUC
7726,38419,153,0.019129,UNK,-1.0,UNK,-1.000000,Damascus,0.0,Damascus,distUC
9751,51800,115,0.010712,UNK,-1.0,UNK,-1.000000,Homs,0.0,Homs,distUC
9856,52398,115,0.022954,UNK,-1.0,UNK,-1.000000,Homs,0.0,Homs,distUC
16623,143567,41,0.051264,UNK,-1.0,UNK,-1.000000,Al Qurayya,0.0,Al Qurayya,distUC
3290,12179,169,0.000765,UNK,-1.0,UNK,-1.000000,Damascus,0.0,Damascus,distUC
10729,57472,189,0.302231,UNK,-1.0,Awaj,125.436638,UNK,-1.0,Awaj,distGN

### 6.4 Make sure place name is unique by stripping smaller localities of duplicated names.

In [56]:
Dupes = SettlementsNamed[ 
    (SettlementsNamed['SettName'] != 'UNK') & 
    (SettlementsNamed.duplicated('SettName', keep=False)) ] # keep=False is necessary to retain *all* duplicates, not just first or last in each group.

print("Number of named settlements: %s" % SettlementsNamed['SettName'].str.contains('UNK').value_counts()[False])
print("Number of named settlements where name is duplicated at least once: %s" % len(Dupes))

Number of named settlements: 1004
Number of named settlements where name is duplicated at least once: 754

In [57]:
Largest = Dupes.loc[Dupes.groupby(["SettName"])["AREA"+str(WSFE_end)].idxmax()]
print(Largest)

       Sett_ID  ADM_ID   AREA2021 Afpl_Name  distAF    GeoName  distGN  \
15649   130670     264   0.306056       UNK    -1.0        UNK    -1.0
16595   143516      20   1.068902       UNK    -1.0        UNK    -1.0
16772   147384      11   2.609130       UNK    -1.0        UNK    -1.0
15528   126749      17   1.182143       UNK    -1.0        UNK    -1.0
13558    96879      43  16.290613       UNK    -1.0        UNK    -1.0
15830   133699      26  24.873198       UNK    -1.0  Ar Raqqah     0.0
13390    94530      35   0.074219       UNK    -1.0        UNK    -1.0
7079     34022      39   0.078810       UNK    -1.0        UNK    -1.0
4862     20308      50   9.228363       UNK    -1.0        UNK    -1.0
14647   107695      18   0.035962       UNK    -1.0        UNK    -1.0
16352   142065     209   0.115536       UNK    -1.0        UNK    -1.0
2956     10657     201   1.179082       UNK    -1.0        UNK    -1.0
16004   137704      68   0.342783       UNK    -1.0        UNK    -1.0
11265    60466     182   0.226482       UNK    -1.0        UNK    -1.0
10567    56483      99   3.770614       UNK    -1.0        UNK    -1.0
9542     50649     115  61.194432       UNK    -1.0       Homs     0.0
12078    73662     117  15.764961       UNK    -1.0      Idlib     0.0
5335     23138     119   0.075749       UNK    -1.0        UNK    -1.0
15710   131612       8   0.049734       UNK    -1.0        UNK    -1.0
5471     24050     104  27.997268       UNK    -1.0    Latakia     0.0
14952   114572     177  14.663924       UNK    -1.0     Manbij     0.0
17189   152924     200   0.779678       UNK    -1.0        UNK    -1.0
5072     21506     260   0.328245       UNK    -1.0        UNK    -1.0
17629   154670     269   0.205823       UNK    -1.0        UNK    -1.0
10087    53670     246   4.709442       UNK    -1.0      rn     0.0

         UCDB_Name  distUC     SettName closest
15649     Akakale     0.0     Akakale  distUC
16595   Al Qurayya     0.0   Al Qurayya  distUC
16772   Al-Hasakah     0.0   Al-Hasakah  distUC
15528    Al-Tabqah     0.0    Al-Tabqah  distUC
13558       Aleppo     0.0       Aleppo  distUC
15830    Ar Raqqah     0.0    Ar Raqqah  distGN
13390   As Safirah     0.0   As Safirah  distUC
7079    As Suwayda     0.0   As Suwayda  distUC
4862       Baniyas     0.0      Baniyas  distUC
14647        Bza`a     0.0        Bza`a  distUC
16352  Ceylanpnar     0.0  Ceylanpnar  distUC
2956      Damascus     0.0     Damascus  distUC
16004  Deir Ez Zor     0.0  Deir Ez Zor  distUC
11265      Halfaya     0.0      Halfaya  distUC
10567         Hama     0.0         Hama  distUC
9542          Homs     0.0         Homs  distGN
12078        Idlib     0.0        Idlib  distGN
5335        Jablah     0.0       Jablah  distUC
15710       Kobani     0.0       Kobani  distUC
5471       Latakia     0.0      Latakia  distGN
14952       Manbij     0.0       Manbij  distGN
17189     Qamishli     0.0     Qamishli  distUC
5072        Tartus     0.0       Tartus  distUC
17629    Yaaroubia     0.0    Yaaroubia  distUC
10087          UNK    -1.0        rn  distGN

In [58]:
# Filter to settlements which have a duplicated name and are not the largest of those with that name, then replace with UNK.
SettlementsNamed.loc[(~SettlementsNamed.Sett_ID.isin(Largest.Sett_ID)) 
                     & (SettlementsNamed.Sett_ID.isin(Dupes.Sett_ID)), 
                     'SettName'] = 'UNK'

In [59]:
# Second number should now be zero.

print("Number of named settlements: %s" % SettlementsNamed['SettName'].str.contains('UNK').value_counts()[False])
print("Number of named settlements where name is duplicated at least once: %s" % len(SettlementsNamed[ 
    (SettlementsNamed['SettName'] != 'UNK') & 
    (SettlementsNamed.duplicated('SettName', keep=False)) ]))

Number of named settlements: 275
Number of named settlements where name is duplicated at least once: 0

In [60]:
print(SettlementsNamed.info(), SettlementsNamed[SettlementsNamed['SettName'] != "UNK"].sample(20))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18552 entries, 0 to 18574
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    18552 non-null  int64
 1   ADM_ID     18552 non-null  int64
 2   AREA2021   18552 non-null  float64
 3   Afpl_Name  18552 non-null  object
 4   distAF     18552 non-null  float64
 5   GeoName    18552 non-null  object
 6   distGN     18552 non-null  float64
 7   UCDB_Name  18552 non-null  object
 8   distUC     18552 non-null  float64
 9   SettName   18552 non-null  object
 10  closest    18552 non-null  object
dtypes: float64(4), int64(2), object(5)
memory usage: 2.2+ MB
None        Sett_ID  ADM_ID   AREA2021 Afpl_Name  distAF          GeoName  \
1991      7271     213   4.597731       UNK    -1.0           Sasa
15290   123287     242   0.016068       UNK    -1.0       As Sukhnah
16012   137724     181   0.008417       UNK    -1.0        M asan
974       3721      90   2.888407       UNK    -1.0        Ghabghib
2966     10708      61  55.778766       UNK    -1.0         Qadsayy
11823    71046      32   1.721567       UNK    -1.0          Armanz
933       3613     170   1.925859       UNK    -1.0          Buqt
16004   137704      68   0.342783       UNK    -1.0              UNK
16388   142586       3   0.813345       UNK    -1.0              UNK
7873     39222      21   8.272703       UNK    -1.0      Ar Ruaybah
3783     14492     226   1.246414       UNK    -1.0         Sirghy
4862     20308      50   9.228363       UNK    -1.0              UNK
11606    66477      38   2.545624       UNK    -1.0  As Suqaylibyah
12775    81242     158   0.797277       UNK    -1.0      Al Mabal
2245      8158     145   4.231229       UNK    -1.0     Khn Arnabah
6705     31944     171   1.839399       UNK    -1.0     Al Mushannaf
14576   107002     167   2.655039       UNK    -1.0            Mri
8586     44106     159   0.182104       UNK    -1.0          Mall
14337   104893      25   1.232642       UNK    -1.0          Ar R
12469    77824     263   1.283141       UNK    -1.0         Taftanz

          distGN    UCDB_Name  distUC         SettName closest
1991    0.000000          UNK    -1.0           Sasa  distGN
15290  34.196069          UNK    -1.0       As Sukhnah  distGN
16012   0.000000          UNK    -1.0        M asan  distGN
974     0.000000          UNK    -1.0        Ghabghib  distGN
2966    0.000000     Damascus     0.0         Qadsayy  distGN
11823   0.000000          UNK    -1.0          Armanz  distGN
933     0.000000          UNK    -1.0          Buqt  distGN
16004  -1.000000  Deir Ez Zor     0.0      Deir Ez Zor  distUC
16388  -1.000000    Abu Kamal     0.0        Abu Kamal  distUC
7873   12.500065          UNK    -1.0      Ar Ruaybah  distGN
3783    0.000000          UNK    -1.0         Sirghy  distGN
4862   -1.000000      Baniyas     0.0          Baniyas  distUC
11606   0.000000          UNK    -1.0  As Suqaylibyah  distGN
12775   0.000000          UNK    -1.0      Al Mabal  distGN
2245    0.000000          UNK    -1.0     Khn Arnabah  distGN
6705    0.000000          UNK    -1.0     Al Mushannaf  distGN
14576   0.000000          UNK    -1.0            Mri  distGN
8586   51.149179          UNK    -1.0          Mall  distGN
14337   0.000000          UNK    -1.0          Ar R  distGN
12469   0.000000          UNK    -1.0         Taftanz  distGN

In [61]:
# Drop extra columns and save to file.
# SettlementsNamed = SettlementsNamed[['Sett_ID', 'SettName']]
SettlementsNamed = SettlementsNamed[['Sett_ID', 'SettName', 'GeoName', 'UCDB_Name']]
SettlementsNamed.to_csv(r'Results/PlaceNames.csv')

In [62]:
del SettlementsNamed

---

## 7. CREATE FRAGMENTATION INDEX
We are determining what percentage of a settlement's area lies outside of its administrative zone each year.
The index is a range of 0 to 100, i.e. the percent of the settlement area which is fragmented.

For each Sett_ID:
((Area of Boundless settlement - Area of largest Bounded settlement feature) / Area of Boundless settlement) * 100

### 7.1 Load boundless and bounded cumulative settlements and clean.

In [64]:
BoundlessAreas = pd.read_csv(os.path.join(Results, 'Area.csv'))
print('Loaded Boundless dataset, whose settlements will be used as the index of the Fragmentation Index dataset. %s' 
      % time.ctime())
print(BoundlessAreas.info())

BoundedAreas = pd.read_csv(os.path.join(Results, 'Area_Bounded.csv'))
print('Loaded Bounded dataset, which will factor into the fragmentation calculation. %s' % time.ctime())
print(BoundedAreas.info())

Loaded Boundless dataset, whose settlements will be used as the index of the Fragmentation Index dataset. Thu Sep 14 16:57:36 2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18552 entries, 0 to 18551
Data columns (total 41 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  18552 non-null  int64
 1   Sett_ID     18552 non-null  int64
 2   year        18552 non-null  int64
 3   ADM_ID      18552 non-null  int64
 4   AREA2021    18552 non-null  float64
 5   AREA2020    17807 non-null  float64
 6   AREA2019    17460 non-null  float64
 7   AREA2018    17058 non-null  float64
 8   AREA2017    16845 non-null  float64
 9   AREA2016    16629 non-null  float64
 10  AREA2015    16479 non-null  float64
 11  AREA2014    15938 non-null  float64
 12  AREA2013    14137 non-null  float64
 13  AREA2012    13533 non-null  float64
 14  AREA2011    11442 non-null  float64
 15  AREA2010    11415 non-null  float64
 16  AREA2009    4755 non-null   float64
 17  AREA2008    4744 non-null   float64
 18  AREA2007    4739 non-null   float64
 19  AREA2006    4730 non-null   float64
 20  AREA2005    4723 non-null   float64
 21  AREA2004    4715 non-null   float64
 22  AREA2003    4699 non-null   float64
 23  AREA2002    4689 non-null   float64
 24  AREA2001    4680 non-null   float64
 25  AREA2000    4670 non-null   float64
 26  AREA1999    4075 non-null   float64
 27  AREA1998    4058 non-null   float64
 28  AREA1997    4031 non-null   float64
 29  AREA1996    4017 non-null   float64
 30  AREA1995    3949 non-null   float64
 31  AREA1994    3907 non-null   float64
 32  AREA1993    3885 non-null   float64
 33  AREA1992    3864 non-null   float64
 34  AREA1991    3853 non-null   float64
 35  AREA1990    3835 non-null   float64
 36  AREA1989    2507 non-null   float64
 37  AREA1988    2484 non-null   float64
 38  AREA1987    2441 non-null   float64
 39  AREA1986    2372 non-null   float64
 40  AREA1985    2139 non-null   float64
dtypes: float64(37), int64(4)
memory usage: 5.8 MB
None
Loaded Bounded dataset, which will factor into the fragmentation calculation. Thu Sep 14 16:57:37 2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19095 entries, 0 to 19094
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19095 non-null  int64
 1   Bounded_ID  19095 non-null  int64
 2   year        19095 non-null  int64
 3   ADM_ID      19095 non-null  int64
 4   Sett_ID     19095 non-null  int64
 5   AREA2021    19095 non-null  float64
 6   AREA2020    18331 non-null  float64
 7   AREA2019    17970 non-null  float64
 8   AREA2018    17556 non-null  float64
 9   AREA2017    17340 non-null  float64
 10  AREA2016    17122 non-null  float64
 11  AREA2015    16968 non-null  float64
 12  AREA2014    16420 non-null  float64
 13  AREA2013    14576 non-null  float64
 14  AREA2012    13957 non-null  float64
 15  AREA2011    11829 non-null  float64
 16  AREA2010    11802 non-null  float64
 17  AREA2009    4926 non-null   float64
 18  AREA2008    4915 non-null   float64
 19  AREA2007    4910 non-null   float64
 20  AREA2006    4901 non-null   float64
 21  AREA2005    4894 non-null   float64
 22  AREA2004    4886 non-null   float64
 23  AREA2003    4870 non-null   float64
 24  AREA2002    4860 non-null   float64
 25  AREA2001    4851 non-null   float64
 26  AREA2000    4841 non-null   float64
 27  AREA1999    4228 non-null   float64
 28  AREA1998    4211 non-null   float64
 29  AREA1997    4184 non-null   float64
 30  AREA1996    4170 non-null   float64
 31  AREA1995    4101 non-null   float64
 32  AREA1994    4059 non-null   float64
 33  AREA1993    4035 non-null   float64
 34  AREA1992    4013 non-null   float64
 35  AREA1991    4000 non-null   float64
 36  AREA1990    3982 non-null   float64
 37  AREA1989    2614 non-null   float64
 38  AREA1988    2591 non-null   float64
 39  AREA1987    2547 non-null   float64
 40  AREA1986    2476 non-null   float64
 41  AREA1985    2232 non-null   float64
dtypes: float64(37), int64(5)
memory usage: 6.1 MB
None

In [65]:
BoundlessAreas = BoundlessAreas.loc[:, ~BoundlessAreas.columns.str.contains('Unnamed')]
BoundedAreas = BoundedAreas.loc[:, ~BoundedAreas.columns.str.contains('Unnamed')]

In [66]:
LargestFragments = BoundedAreas.loc[BoundedAreas.groupby(["Sett_ID"])["AREA"+str(WSFE_end)].idxmax()] 
print(LargestFragments.info())
print("Filtered the Bounded dataset to only rows where latest year's area is largest for each Sett_ID. %s" % time.ctime())
LargestFragments.columns = LargestFragments.columns.str.replace('AREA', 'Largest')
LargestFragments = LargestFragments.drop(columns=['year', 'ADM_ID'])
print("Renamed columns to avoid duplication during merge, and dropped unnecessary columns. %s" % time.ctime())
FragIndices = BoundlessAreas.merge(LargestFragments, how='left', on='Sett_ID')
print(FragIndices.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18552 entries, 0 to 19094
Data columns (total 41 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Bounded_ID  18552 non-null  int64
 1   year        18552 non-null  int64
 2   ADM_ID      18552 non-null  int64
 3   Sett_ID     18552 non-null  int64
 4   AREA2021    18552 non-null  float64
 5   AREA2020    17806 non-null  float64
 6   AREA2019    17458 non-null  float64
 7   AREA2018    17055 non-null  float64
 8   AREA2017    16842 non-null  float64
 9   AREA2016    16626 non-null  float64
 10  AREA2015    16476 non-null  float64
 11  AREA2014    15935 non-null  float64
 12  AREA2013    14130 non-null  float64
 13  AREA2012    13528 non-null  float64
 14  AREA2011    11434 non-null  float64
 15  AREA2010    11407 non-null  float64
 16  AREA2009    4746 non-null   float64
 17  AREA2008    4735 non-null   float64
 18  AREA2007    4730 non-null   float64
 19  AREA2006    4721 non-null   float64
 20  AREA2005    4714 non-null   float64
 21  AREA2004    4706 non-null   float64
 22  AREA2003    4690 non-null   float64
 23  AREA2002    4680 non-null   float64
 24  AREA2001    4671 non-null   float64
 25  AREA2000    4661 non-null   float64
 26  AREA1999    4065 non-null   float64
 27  AREA1998    4048 non-null   float64
 28  AREA1997    4021 non-null   float64
 29  AREA1996    4007 non-null   float64
 30  AREA1995    3939 non-null   float64
 31  AREA1994    3897 non-null   float64
 32  AREA1993    3875 non-null   float64
 33  AREA1992    3854 non-null   float64
 34  AREA1991    3843 non-null   float64
 35  AREA1990    3825 non-null   float64
 36  AREA1989    2501 non-null   float64
 37  AREA1988    2478 non-null   float64
 38  AREA1987    2435 non-null   float64
 39  AREA1986    2365 non-null   float64
 40  AREA1985    2132 non-null   float64
dtypes: float64(37), int64(4)
memory usage: 5.9 MB
None
Filtered the Bounded dataset to only rows where latest year's area is largest for each Sett_ID. Thu Sep 14 16:57:41 2023
Renamed columns to avoid duplication during merge, and dropped unnecessary columns. Thu Sep 14 16:57:41 2023
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18552 entries, 0 to 18551
Data columns (total 78 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sett_ID      18552 non-null  int64
 1   year         18552 non-null  int64
 2   ADM_ID       18552 non-null  int64
 3   AREA2021     18552 non-null  float64
 4   AREA2020     17807 non-null  float64
 5   AREA2019     17460 non-null  float64
 6   AREA2018     17058 non-null  float64
 7   AREA2017     16845 non-null  float64
 8   AREA2016     16629 non-null  float64
 9   AREA2015     16479 non-null  float64
 10  AREA2014     15938 non-null  float64
 11  AREA2013     14137 non-null  float64
 12  AREA2012     13533 non-null  float64
 13  AREA2011     11442 non-null  float64
 14  AREA2010     11415 non-null  float64
 15  AREA2009     4755 non-null   float64
 16  AREA2008     4744 non-null   float64
 17  AREA2007     4739 non-null   float64
 18  AREA2006     4730 non-null   float64
 19  AREA2005     4723 non-null   float64
 20  AREA2004     4715 non-null   float64
 21  AREA2003     4699 non-null   float64
 22  AREA2002     4689 non-null   float64
 23  AREA2001     4680 non-null   float64
 24  AREA2000     4670 non-null   float64
 25  AREA1999     4075 non-null   float64
 26  AREA1998     4058 non-null   float64
 27  AREA1997     4031 non-null   float64
 28  AREA1996     4017 non-null   float64
 29  AREA1995     3949 non-null   float64
 30  AREA1994     3907 non-null   float64
 31  AREA1993     3885 non-null   float64
 32  AREA1992     3864 non-null   float64
 33  AREA1991     3853 non-null   float64
 34  AREA1990     3835 non-null   float64
 35  AREA1989     2507 non-null   float64
 36  AREA1988     2484 non-null   float64
 37  AREA1987     2441 non-null   float64
 38  AREA1986     2372 non-null   float64
 39  AREA1985     2139 non-null   float64
 40  Bounded_ID   18552 non-null  int64
 41  Largest2021  18552 non-null  float64
 42  Largest2020  17806 non-null  float64
 43  Largest2019  17458 non-null  float64
 44  Largest2018  17055 non-null  float64
 45  Largest2017  16842 non-null  float64
 46  Largest2016  16626 non-null  float64
 47  Largest2015  16476 non-null  float64
 48  Largest2014  15935 non-null  float64
 49  Largest2013  14130 non-null  float64
 50  Largest2012  13528 non-null  float64
 51  Largest2011  11434 non-null  float64
 52  Largest2010  11407 non-null  float64
 53  Largest2009  4746 non-null   float64
 54  Largest2008  4735 non-null   float64
 55  Largest2007  4730 non-null   float64
 56  Largest2006  4721 non-null   float64
 57  Largest2005  4714 non-null   float64
 58  Largest2004  4706 non-null   float64
 59  Largest2003  4690 non-null   float64
 60  Largest2002  4680 non-null   float64
 61  Largest2001  4671 non-null   float64
 62  Largest2000  4661 non-null   float64
 63  Largest1999  4065 non-null   float64
 64  Largest1998  4048 non-null   float64
 65  Largest1997  4021 non-null   float64
 66  Largest1996  4007 non-null   float64
 67  Largest1995  3939 non-null   float64
 68  Largest1994  3897 non-null   float64
 69  Largest1993  3875 non-null   float64
 70  Largest1992  3854 non-null   float64
 71  Largest1991  3843 non-null   float64
 72  Largest1990  3825 non-null   float64
 73  Largest1989  2501 non-null   float64
 74  Largest1988  2478 non-null   float64
 75  Largest1987  2435 non-null   float64
 76  Largest1986  2365 non-null   float64
 77  Largest1985  2132 non-null   float64
dtypes: float64(74), int64(4)
memory usage: 11.2 MB
None

In [67]:
del BoundlessAreas, BoundedAreas, LargestFragments

### 7.2 Merge and run fragmentation calculation.

In [70]:
for item in WSFE_Years:
    YY = str(item) # 4-digit year
    AreaYY = ''.join(["AREA", YY]) # The Boundless area variable name
    LargestYY = ''.join(['Largest', YY]) # The Bounded largest area variable name
    FragYY = ''.join(["Frag", YY]) # Name for the fragmentation index variable
    print("Created names for Year %s's variables and temporary objects. %s" % (item, time.ctime()))
    
    FragIndices[FragYY] = ((FragIndices[AreaYY] - FragIndices[LargestYY]) / FragIndices[AreaYY]) * 100
    FragIndices[FragYY] = (FragIndices[FragYY].fillna(0).replace([np.inf, -np.inf], 0)).astype('int')
    print("Calculated fragmentation index for year %s. %s" % (item, time.ctime()))

# Remove unnecessary columns.
FragIndices = FragIndices.loc[:, ~FragIndices.columns.str.startswith('Largest')]
FragIndices = FragIndices.loc[:, ~FragIndices.columns.str.startswith('AREA')]

print('Completed fragmentation index calculations for all years. %s' % time.ctime())
print(FragIndices.info())
print(FragIndices.sort_values(by='Frag'+str(WSFE_end), ascending=False).head(20))

Created names for Year 1985's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1985. Thu Sep 14 16:59:22 2023
Created names for Year 1986's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1986. Thu Sep 14 16:59:22 2023
Created names for Year 1987's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1987. Thu Sep 14 16:59:22 2023
Created names for Year 1988's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1988. Thu Sep 14 16:59:22 2023
Created names for Year 1989's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1989. Thu Sep 14 16:59:22 2023
Created names for Year 1990's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1990. Thu Sep 14 16:59:22 2023
Created names for Year 1991's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1991. Thu Sep 14 16:59:22 2023
Created names for Year 1992's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1992. Thu Sep 14 16:59:22 2023
Created names for Year 1993's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1993. Thu Sep 14 16:59:22 2023
Created names for Year 1994's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1994. Thu Sep 14 16:59:22 2023
Created names for Year 1995's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1995. Thu Sep 14 16:59:22 2023
Created names for Year 1996's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1996. Thu Sep 14 16:59:22 2023
Created names for Year 1997's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1997. Thu Sep 14 16:59:22 2023
Created names for Year 1998's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1998. Thu Sep 14 16:59:22 2023
Created names for Year 1999's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 1999. Thu Sep 14 16:59:22 2023
Created names for Year 2000's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2000. Thu Sep 14 16:59:22 2023
Created names for Year 2001's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2001. Thu Sep 14 16:59:22 2023
Created names for Year 2002's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2002. Thu Sep 14 16:59:22 2023
Created names for Year 2003's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2003. Thu Sep 14 16:59:22 2023
Created names for Year 2004's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2004. Thu Sep 14 16:59:22 2023
Created names for Year 2005's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2005. Thu Sep 14 16:59:22 2023
Created names for Year 2006's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2006. Thu Sep 14 16:59:22 2023
Created names for Year 2007's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2007. Thu Sep 14 16:59:22 2023
Created names for Year 2008's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2008. Thu Sep 14 16:59:22 2023
Created names for Year 2009's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2009. Thu Sep 14 16:59:22 2023
Created names for Year 2010's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2010. Thu Sep 14 16:59:22 2023
Created names for Year 2011's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2011. Thu Sep 14 16:59:22 2023
Created names for Year 2012's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2012. Thu Sep 14 16:59:22 2023
Created names for Year 2013's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2013. Thu Sep 14 16:59:22 2023
Created names for Year 2014's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2014. Thu Sep 14 16:59:22 2023
Created names for Year 2015's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2015. Thu Sep 14 16:59:22 2023
Created names for Year 2016's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2016. Thu Sep 14 16:59:22 2023
Created names for Year 2017's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2017. Thu Sep 14 16:59:22 2023
Created names for Year 2018's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2018. Thu Sep 14 16:59:22 2023
Created names for Year 2019's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2019. Thu Sep 14 16:59:22 2023
Created names for Year 2020's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2020. Thu Sep 14 16:59:22 2023
Created names for Year 2021's variables and temporary objects. Thu Sep 14 16:59:22 2023
Calculated fragmentation index for year 2021. Thu Sep 14 16:59:22 2023
Completed fragmentation index calculations for all years. Thu Sep 14 16:59:22 2023
<class 'pandas.core.frame.DataFrame'>
Int64Index: 18552 entries, 0 to 18551
Data columns (total 41 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sett_ID     18552 non-null  int64
 1   year        18552 non-null  int64
 2   ADM_ID      18552 non-null  int64
 3   Bounded_ID  18552 non-null  int64
 4   Frag1985    18552 non-null  int32
 5   Frag1986    18552 non-null  int32
 6   Frag1987    18552 non-null  int32
 7   Frag1988    18552 non-null  int32
 8   Frag1989    18552 non-null  int32
 9   Frag1990    18552 non-null  int32
 10  Frag1991    18552 non-null  int32
 11  Frag1992    18552 non-null  int32
 12  Frag1993    18552 non-null  int32
 13  Frag1994    18552 non-null  int32
 14  Frag1995    18552 non-null  int32
 15  Frag1996    18552 non-null  int32
 16  Frag1997    18552 non-null  int32
 17  Frag1998    18552 non-null  int32
 18  Frag1999    18552 non-null  int32
 19  Frag2000    18552 non-null  int32
 20  Frag2001    18552 non-null  int32
 21  Frag2002    18552 non-null  int32
 22  Frag2003    18552 non-null  int32
 23  Frag2004    18552 non-null  int32
 24  Frag2005    18552 non-null  int32
 25  Frag2006    18552 non-null  int32
 26  Frag2007    18552 non-null  int32
 27  Frag2008    18552 non-null  int32
 28  Frag2009    18552 non-null  int32
 29  Frag2010    18552 non-null  int32
 30  Frag2011    18552 non-null  int32
 31  Frag2012    18552 non-null  int32
 32  Frag2013    18552 non-null  int32
 33  Frag2014    18552 non-null  int32
 34  Frag2015    18552 non-null  int32
 35  Frag2016    18552 non-null  int32
 36  Frag2017    18552 non-null  int32
 37  Frag2018    18552 non-null  int32
 38  Frag2019    18552 non-null  int32
 39  Frag2020    18552 non-null  int32
 40  Frag2021    18552 non-null  int32
dtypes: int32(37), int64(4)
memory usage: 3.3 MB
None
       Sett_ID  year  ADM_ID  Bounded_ID  Frag1985  Frag1986  Frag1987  \
7742     38534  2021      28       39211        54        54        54
2966     10708  2021      61       10886        89        84        80
5933     27175  2021      15       27741         0         0        75
1821      6679  2021      13        6761         0         0         0
3417     12738  2012      61       12983         0         0         0
10824    58042  2021     128       59073         0         0         0
1810      6635  2021     145        6715         0         0         0
3458     12905  2021     197       13157         0         0         0
9345     49624  2021      95       50481         0         0         0
18425   156819  2015      14      158423         0         0         0
3821     14686  2021     218       14938         0         0         0
2607      9357  2021     145        9499         0         0         0
12824    82095  2021       6       83487         0         0         0
5016     21189  2021      60       21643         0         0         0
5764     26101  2019      78       26630         0         0         0
7411     36280  2021     153       36896         0         0         0
10374    55439  2014      99       56382         0         0         0
7856     39222  2021      21       39930        37        37        37
14116   103247  2021      18      104895         0         0         0
10783    57837  2021      27       58858        37        37        37

       Frag1988  Frag1989  Frag1990  ...  Frag2012  Frag2013  Frag2014  \
7742         53        53        58  ...        71        72        73
2966         78        78        79  ...        68        67        62
5933         75        80        71  ...        64        62        58
1821          0         0         0  ...        38        40        49
3417          0         0         0  ...        50        50        50
10824         0         0         0  ...         0         0         0
1810          0         0         0  ...        50        20        37
3458          0         0         0  ...        55        55        47
9345          0         0         0  ...         0         0         0
18425         0         0         0  ...         0         0         0
3821          0         0         0  ...         0         0         0
2607          0         0         0  ...        49        50        50
12824         0         0         0  ...        55        54        59
5016          0         0         0  ...        36        45        47
5764          0         0         0  ...        33        33        33
7411          0         0         0  ...        54        54        51
10374         0         0         0  ...         0         0        49
7856         37        37        38  ...        47        47        47
14116         0         0         0  ...        45        52        48
10783        37        37        36  ...        45        45        47

       Frag2015  Frag2016  Frag2017  Frag2018  Frag2019  Frag2020  Frag2021
7742         73        73        73        73        73        74        74
2966         62        62        61        61        61        61        60
5933         58        58        57        57        56        55        55
1821         49        49        50        50        50        50        52
3417         50        50        50        50        50        50        50
10824         0         0         0         0        66        66        50
1810         38        38        38        38        38        46        49
3458         47        47        47        47        47        47        49
9345         66        66        66        49        49        57        49
18425        49        49        49        49        49        49        49
3821          0         0         0         0         0         0        49
2607         50        50        50        50        49        49        49
12824        58        58        57        52        51        50        49
5016         47        49        49        50        51        50        49
5764         33        33        33        33        49        49        49
7411         51        49        49        49        49        49        49
10374        49        49        49        49        49        49        49
7856         48        48        48        48        48        48        48
14116        48        46        48        44        43        43        48
10783        47        47        47        47        48        48        48

[20 rows x 41 columns]

In [71]:
FragIndices = FragIndices.drop(columns=['year', 'ADM_ID'])
FragIndices.to_csv(os.path.join(Results, 'FragIndex.csv'))
print('Saved to file. %s' % time.ctime())

Saved to file. Thu Sep 14 16:59:33 2023

In [72]:
del FragIndices

---

## 8. PREPARE YEARLY DATASETS: POPULATION
Can use this as a template for other annualized rasters

### 8.1 Reproject and reclassify with settlement buffer mask.
Reclassify so that we only need to work with cells within X distance of settlements.

In [73]:
PopList = glob.glob(os.path.join(Source, 'Population', "*.tif"))
Settlements = gpd.read_file(os.path.join(Results, 'SETTLEMENTS.gpkg'), layer='SETTLEMENTS')
PopList

['Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2000_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2001_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2002_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2003_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2004_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2005_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2006_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2007_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2008_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2009_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2010_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2011_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2012_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2013_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2014_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2015_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2016_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2017_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2018_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2019_UNadj.tif',
 'Q:\\GIS\\povertyequity\\urban_growth\\Syria\\Source\\Population\\syr_ppp_2020_UNadj.tif']

In [74]:
BatchZonal(RasterFileList= PopList, Zones = Settlements, 
           KeepFields = ['Sett_ID'], 
           RasterDirectory = os.path.join(Source, 'Population'), 
           OutPath = os.path.join(Results, 'Population.csv'), 
           Statistics=['sum'], 
           NoDataVal = -99999, 
           Prefix = 'POP',
           Suffix = '', 
           DropStatName = True)

Dataframe to merge with:
        Sett_ID
0            3
1            7
2           14
3           17
4           21
...        ...
18547   157067
18548   157070
18549   157072
18550   157073
18551   157079

[18552 rows x 1 columns]
Loading with rasterio. Thu Sep 14 17:00:20 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2000_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:00:21 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2000_UNadj.tif: POP2000
       Sett_ID   POP2000
123        425  3.420516
4282     16700       NaN
17412   153894       NaN
16159   138628  4.391536
12337    76672       NaN
Loading with rasterio. Thu Sep 14 17:02:47 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2001_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:02:49 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2001_UNadj.tif: POP2001
       Sett_ID    POP2000    POP2001
7717     38401   6.698985   7.912901
15625   130642  12.055336  15.780809
5320     23079  40.148026  51.264168
13122    86622   3.496887   2.770306
4860     20298        NaN        NaN
Loading with rasterio. Thu Sep 14 17:05:04 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2002_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:05:06 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2002_UNadj.tif: POP2002
       Sett_ID   POP2000   POP2001   POP2002
14          36  3.478003  2.812438  3.164444
11251    60492  4.102612  2.619807  2.314653
13321    93893       NaN       NaN       NaN
6978     33544  7.704494  9.823883  8.568492
6254     29237       NaN       NaN       NaN
Loading with rasterio. Thu Sep 14 17:07:30 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2003_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:07:32 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2003_UNadj.tif: POP2003
       Sett_ID    POP2000    POP2001    POP2002    POP2003
11450    62743        NaN        NaN        NaN        NaN
18092   156129   2.167151   2.377575   1.814329   1.988452
14920   114163   0.776562   0.421325   0.711695   0.807899
14291   104658   3.055732   5.361570   5.086761   5.164720
8758     46378  48.093071  53.429695  52.693428  55.590687
Loading with rasterio. Thu Sep 14 17:09:48 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2004_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:09:49 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2004_UNadj.tif: POP2004
       Sett_ID    POP2000    POP2001    POP2002    POP2003   POP2004
14796   110460   1.164354   1.245336   1.274323   1.269829   1.05112
15414   125261        NaN        NaN        NaN        NaN       NaN
11418    61636        NaN        NaN        NaN        NaN       NaN
10566    56570        NaN        NaN        NaN        NaN       NaN
12550    79188  22.768398  22.164394  21.817678  22.580170  39.14909
Loading with rasterio. Thu Sep 14 17:11:29 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2005_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:11:31 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2005_UNadj.tif: POP2005
       Sett_ID    POP2000    POP2001    POP2002    POP2003     POP2004  \
1789      6558   1.449197   1.374317   1.489159   1.553145    1.575607
979       3731        NaN        NaN        NaN        NaN         NaN
1288      4804  95.020416  98.412247  85.695885  88.510696  102.401375
1658      6134        NaN        NaN        NaN        NaN         NaN
15435   125663        NaN        NaN        NaN        NaN         NaN

        POP2005
1789     1.5688
979         NaN
1288   111.2323
1658        NaN
15435       NaN
Loading with rasterio. Thu Sep 14 17:13:14 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2006_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:13:15 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2006_UNadj.tif: POP2006
       Sett_ID    POP2000   POP2001    POP2002   POP2003    POP2004   POP2005  \
7068     33990        NaN       NaN        NaN       NaN        NaN       NaN
5465     24036        NaN       NaN        NaN       NaN        NaN       NaN
6120     28434   0.888350  0.831182   0.827499  0.889847   0.943039  0.916586
12068    73750  16.416367  9.200320  10.290077  9.727873  11.937431  9.366594
3150     11586   7.823553  7.006561   6.483796  6.575887   6.313289  6.584577

        POP2006
7068        NaN
5465        NaN
6120   0.930995
12068  9.764940
3150   6.158329
Loading with rasterio. Thu Sep 14 17:14:26 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2007_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:14:27 2023

sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2007_UNadj.tif: POP2007
      Sett_ID    POP2000    POP2001    POP2002    POP2003    POP2004  \
3652    13848   0.684297   0.614603   0.726203   0.717191   0.727754
2292     8322        NaN        NaN        NaN        NaN        NaN
6454    30477  40.995060  48.956299  48.238609  53.317711  43.049911
6476    30597   1.003719   0.940220   0.988451   1.104733   1.014861
9491    50458   0.896038   0.708521   0.750977   0.714063   1.230495

        POP2005    POP2006    POP2007
3652   0.641799   0.598872   0.653812
2292        NaN        NaN        NaN
6454  56.415146  52.577904  42.857689
6476   1.211061   1.256148   1.149581
9491   1.209414   1.379240   1.259499
Loading with rasterio. Thu Sep 14 17:15:16 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2008_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:15:16 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2008_UNadj.tif: POP2008
       Sett_ID   POP2000   POP2001   POP2002   POP2003   POP2004   POP2005  \
11942    72514  9.201828  8.638971  9.271885  9.160055  9.100514  9.822687
2347      8506  0.508597  0.373817  0.366647  0.400267  0.423555  0.441208
14317   104911  1.055667  1.181777  1.304319  1.386728  1.491501  1.546957
9118     48389       NaN       NaN       NaN       NaN       NaN       NaN
3645     13822  9.263098  6.906010  6.484000  6.074114  6.406008  6.406133

         POP2006    POP2007    POP2008
11942  10.567913  10.276720  10.809091
2347    0.391765   0.623900   0.579907
14317   1.560741   1.596630   1.559436
9118         NaN        NaN        NaN
3645    6.397079   7.391023   7.625306
Loading with rasterio. Thu Sep 14 17:16:07 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2009_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:16:08 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2009_UNadj.tif: POP2009
       Sett_ID   POP2000   POP2001   POP2002   POP2003   POP2004   POP2005  \
1978      7213  2.390918  2.648486  2.216614  2.458052  2.754282  2.459796
13152    87618  2.287377  1.869686  1.759210  1.737484  1.914313  2.211252
14971   115501       NaN       NaN       NaN       NaN       NaN       NaN
53         186       NaN       NaN       NaN       NaN       NaN       NaN
4652     18921  0.629693  0.471073  0.541284  0.497678  0.552246  0.545277

        POP2006   POP2007   POP2008   POP2009
1978   2.518260  3.202233  4.474163  3.569447
13152  2.134184  2.532154  2.404018  1.965572
14971       NaN       NaN       NaN       NaN
53          NaN       NaN       NaN       NaN
4652   0.499867  0.544728  0.540730  0.674219
Loading with rasterio. Thu Sep 14 17:16:59 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2010_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:17:00 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2010_UNadj.tif: POP2010
       Sett_ID   POP2000   POP2001   POP2002   POP2003   POP2004   POP2005  \
15923   135406       NaN       NaN       NaN       NaN       NaN       NaN
372       1418       NaN       NaN       NaN       NaN       NaN       NaN
174        668  3.220158  2.592202  2.743902  2.801880  3.046392  3.093926
9520     50602  2.412763  4.492281  4.635955  4.394717  4.315004  4.966748
10325    55146       NaN       NaN       NaN       NaN       NaN       NaN

        POP2006   POP2007   POP2008   POP2009   POP2010
15923       NaN       NaN       NaN       NaN       NaN
372         NaN       NaN       NaN       NaN       NaN
174    2.701532  3.738181  2.934770  3.749576  3.804858
9520   5.299660  5.537779  5.514761  5.237820  4.738075
10325       NaN       NaN       NaN       NaN       NaN
Loading with rasterio. Thu Sep 14 17:17:50 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2011_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:17:51 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2011_UNadj.tif: POP2011
       Sett_ID   POP2000   POP2001   POP2002   POP2003   POP2004   POP2005  \
137        497  4.386341  3.175554  2.886236  3.101026  3.167019  3.110486
12751    81225       NaN       NaN       NaN       NaN       NaN       NaN
3493     13072       NaN       NaN       NaN       NaN       NaN       NaN
12136    74530       NaN       NaN       NaN       NaN       NaN       NaN
10231    54597       NaN       NaN       NaN       NaN       NaN       NaN

       POP2006   POP2007   POP2008   POP2009   POP2010   POP2011
137    3.77929  4.192003  3.992988  5.044788  5.154848  4.711612
12751      NaN       NaN       NaN       NaN       NaN       NaN
3493       NaN       NaN       NaN       NaN       NaN       NaN
12136      NaN       NaN       NaN       NaN       NaN       NaN
10231      NaN       NaN       NaN       NaN       NaN       NaN
Loading with rasterio. Thu Sep 14 17:18:42 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2012_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:18:43 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2012_UNadj.tif: POP2012
       Sett_ID     POP2000      POP2001      POP2002      POP2003  \
15897   135042   49.331619    57.380371    61.326504    60.059319
336       1288  793.904297  1098.907471  1173.243896  1198.385010
13418    95218  678.731323   444.188660   450.163696   419.311218
10495    56227   40.928555    49.899059    45.260906    48.281780
1393      5145         NaN          NaN          NaN          NaN

           POP2004      POP2005      POP2006      POP2007      POP2008  \
15897    52.918274    60.694511    64.391342    59.969315    65.269089
336    1079.894043  1192.056641  1264.006836  1183.993896  1390.473877
13418   424.296478   429.466003   425.197662   465.102753   611.448853
10495    38.846710    48.613869    63.648289    58.732922    51.944645
1393           NaN          NaN          NaN          NaN          NaN

           POP2009      POP2010      POP2011      POP2012
15897    71.573425    67.599258    56.074665    60.264374
336    1419.328247  1105.816650  1301.119019  1983.820068
13418   613.834412   583.100403   611.518433   588.081421
10495    29.580219    37.143650    37.246887    43.067764
1393           NaN          NaN          NaN          NaN
Loading with rasterio. Thu Sep 14 17:19:33 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2013_UNadj.tif

| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:19:33 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2013_UNadj.tif: POP2013
       Sett_ID    POP2000    POP2001    POP2002    POP2003    POP2004  \
18338   156649   3.088691   2.833685   2.750787   4.517529   4.578218
1249      4678        NaN        NaN        NaN        NaN        NaN
15530   127101  21.688093  22.016289  20.894442  22.799839  22.740576
17372   153758   0.146723   0.116561   0.105576   0.175090   0.170308
13798   100027   9.406130  11.291383  38.007156  38.423813  28.804192

         POP2005    POP2006    POP2007    POP2008    POP2009    POP2010  \
18338   4.774724   4.700241   4.769453   4.511438   3.942056   4.581893
1249         NaN        NaN        NaN        NaN        NaN        NaN
15530  24.281986  24.359793  24.835474  23.982281  26.782263  23.533983
17372   0.175562   0.193849   0.188386   0.212040   0.183686   0.197198
13798  25.729469  44.317337  38.680466  37.992828  28.506578  22.338524

         POP2011    POP2012    POP2013
18338   4.589625   4.912981   3.583951
1249         NaN        NaN        NaN
15530  15.454952  21.448307  17.954754
17372   0.169755   0.178952   0.101438
13798  21.948586  39.783920  45.495930
Loading with rasterio. Thu Sep 14 17:20:22 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2014_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:20:23 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2014_UNadj.tif: POP2014
       Sett_ID    POP2000    POP2001    POP2002    POP2003     POP2004  \
13540    96929  10.158822   9.346326  10.535967  10.862626   10.018578
10797    57900  59.404835  98.416801  93.824097  99.438690  101.769867
14302   104770   0.433287   0.293317   0.291148   0.439143    0.327354
17023   152388   6.136724   5.138113   4.682093   5.074855    5.536795
16859   148565   0.239830   0.173641   0.204682   0.203284    0.191541

          POP2005     POP2006     POP2007     POP2008    POP2009     POP2010  \
13540   15.564333   16.600609   16.860449   19.037447  20.368797   17.702837
10797  107.854156  113.469337  111.179535  135.265411  94.503418  114.425453
14302    0.348707    0.340506    0.409932    0.593597   0.695365    0.615966
17023    5.798828    5.879605    5.238898    6.060028   5.819877    4.461157
16859    0.235826    0.231352    0.213416    0.263578   0.302181    0.279041

          POP2011     POP2012     POP2013    POP2014
13540   16.840160    7.026689    7.858826   6.121370
10797  123.163284  114.040749  100.465843  71.033150
14302    0.683798    1.097775    0.772951   0.667730
17023    5.331698    3.976610    3.365012   2.672637
16859    0.234609    0.508595    0.505479   0.516624
Loading with rasterio. Thu Sep 14 17:21:11 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2015_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:21:12 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2015_UNadj.tif: POP2015
       Sett_ID    POP2000    POP2001    POP2002    POP2003    POP2004  \
11296    60730   3.627711   3.042057   2.962526   2.960005   3.302741
17618   154795   0.708531   0.755129   0.568840   0.614405   0.612060
17443   154000  30.744564  45.804752  52.321243  53.296883  53.209671
10203    54400   3.492282   2.931734   2.959597   2.735279   2.758635
5784     26259   0.700177   0.624643   0.669626   0.672340   0.657917

         POP2005    POP2006    POP2007    POP2008    POP2009    POP2010  \
11296   3.331166   3.003090   3.369392   2.841878   5.198206   5.603109
17618   0.587124   0.583607   0.589942   0.656829   0.910639   0.839745
17443  59.224274  61.043266  54.475037  53.297100  99.107338  73.696495
10203   3.301407   3.538189   3.101385   3.473396   3.973423   3.613223
5784    0.672023   0.665499   0.665756   0.708804   0.770349   0.688661

         POP2011    POP2012    POP2013    POP2014    POP2015
11296   6.079038   4.385268   4.463673   2.924192   2.118608
17618   1.376256   1.905481   2.038804   1.410923   1.409983
17443  46.381989  30.369335  23.832424  20.571987  16.954189
10203   7.148264   6.418905   5.486819   5.003192   4.805415
5784    0.738357   0.617143   0.556377   0.788930   1.283346
Loading with rasterio. Thu Sep 14 17:21:59 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2016_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:22:00 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2016_UNadj.tif: POP2016
       Sett_ID    POP2000    POP2001    POP2002    POP2003    POP2004  \
8511     43129        NaN        NaN        NaN        NaN        NaN
10910    58579   2.200424   1.966337   1.847371   1.676279   1.733087
3680     13958        NaN        NaN        NaN        NaN        NaN
11299    60748  39.505722  44.712513  48.549683  47.069683  59.698757
1087      4117        NaN        NaN        NaN        NaN        NaN

         POP2005    POP2006    POP2007    POP2008    POP2009    POP2010  \
8511         NaN        NaN        NaN        NaN        NaN        NaN
10910   1.922460   1.913516   2.311408   2.658217   2.658201   2.958239
3680         NaN        NaN        NaN        NaN        NaN        NaN
11299  59.325951  66.853043  68.603340  64.732033  67.512329  94.478180
1087         NaN        NaN        NaN        NaN        NaN        NaN

         POP2011    POP2012    POP2013    POP2014    POP2015    POP2016
8511         NaN        NaN        NaN        NaN        NaN        NaN
10910   2.899952   2.416216   3.083122   2.229974   1.714684   1.712218
3680         NaN        NaN        NaN        NaN        NaN        NaN
11299  64.562714  40.673164  36.995895  31.026966  23.618664  21.996696
1087         NaN        NaN        NaN        NaN        NaN        NaN
Loading with rasterio. Thu Sep 14 17:22:54 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2017_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:22:55 2023

sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2017_UNadj.tif: POP2017
       Sett_ID    POP2000    POP2001    POP2002    POP2003    POP2004  \
8635     45272  10.993009  19.153950  18.753742  18.560871  18.870796
9933     52961   0.516831   0.421406   0.464261   0.482957   0.504045
12476    78325   1.794587   1.524969   1.454607   1.667410   1.600494
14760   109581   0.054352   0.054390   0.057397   0.047176   0.057171
13102    85987  46.873096  70.289780  73.410362  75.025879  78.724762

         POP2005    POP2006    POP2007    POP2008    POP2009    POP2010  \
8635   21.219223  22.664143  20.658342  20.691639  23.581322  26.268219
9933    0.528743   0.558412   0.518287   0.507905   0.516004   0.494172
12476   1.755992   1.717225   1.854907   1.904724   2.399550   1.987571
14760   0.056860   0.055723   0.058462   0.065138   0.074405   0.071015
13102  78.843262  76.738426  68.282387  67.158470  75.767212  70.663712

         POP2011    POP2012    POP2013    POP2014    POP2015    POP2016  \
8635   17.341702  19.927353  15.343497  16.143383  16.277987  13.333458
9933    0.480147   0.332269   0.247506   0.212775   0.198646   0.220085
12476   1.963239   0.834416   0.880830   0.688478   0.490818   0.660567
14760   0.690734   0.787922   0.323939   0.283353   0.326035   0.207082
13102  71.346924  61.256424  43.675900  36.418236  32.263042  32.264256

         POP2017
8635   12.731419
9933    0.205480
12476   0.597106
14760   0.205538
13102  33.014767
Loading with rasterio. Thu Sep 14 17:23:45 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2018_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:23:46 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2018_UNadj.tif: POP2018
       Sett_ID    POP2000    POP2001    POP2002    POP2003     POP2004  \
10310    55070        NaN        NaN        NaN        NaN         NaN
10445    55881        NaN        NaN        NaN        NaN         NaN
6930     33234   9.478598   6.013293   5.826735   6.382409    6.016468
8633     45244  59.513462  95.973854  93.238075  89.529503  103.190651
15403   125134   1.688707   1.272093   1.134462   1.334369    1.587446

          POP2005     POP2006     POP2007     POP2008     POP2009     POP2010  \
10310         NaN         NaN         NaN         NaN         NaN         NaN
10445         NaN         NaN         NaN         NaN         NaN         NaN
6930     6.624771    6.920751    7.390131    7.124354    5.015418    4.872450
8633   157.595322  181.089340  150.461334  178.679230  217.021271  230.313202
15403    1.680387    1.730018    1.763581    2.151929    1.918723    1.387380

          POP2011     POP2012    POP2013    POP2014    POP2015    POP2016  \
10310         NaN         NaN        NaN        NaN        NaN        NaN
10445         NaN         NaN        NaN        NaN        NaN        NaN
6930     6.622455    6.688788   8.356930   7.076992   6.074819   6.131983
8633   164.642792  154.572784  98.932419  86.135544  77.338791  69.738800
15403    1.819178    1.318620   1.102470   0.817834   0.681520   0.876265

         POP2017    POP2018
10310        NaN        NaN
10445        NaN        NaN
6930    6.223697   5.037113
8633   75.750656  61.935432
15403   0.880871   0.644587
Loading with rasterio. Thu Sep 14 17:24:35 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2019_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:24:36 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2019_UNadj.tif: POP2019
       Sett_ID    POP2000    POP2001    POP2002    POP2003    POP2004  \
5832     26513   3.652889   2.382399   2.370961   2.515371   2.442817
2729      9773        NaN        NaN        NaN        NaN        NaN
16215   140244   8.161581  16.587242  17.546251  20.189127  20.605408
9462     50292  40.824879  38.733276  35.955631  36.879005  31.660023
7500     36931        NaN        NaN        NaN        NaN        NaN

         POP2005    POP2006    POP2007    POP2008  ...    POP2010    POP2011  \
5832    2.719762   2.949389   3.231804   3.059117  ...   6.178075   6.020821
2729         NaN        NaN        NaN        NaN  ...        NaN        NaN
16215  21.724758  24.645281  20.964468  24.519215  ...  17.143303  18.378643
9462   34.882164  41.749630  42.886925  44.163734  ...  42.462200  37.235443
7500         NaN        NaN        NaN        NaN  ...        NaN        NaN

         POP2012    POP2013    POP2014    POP2015    POP2016    POP2017  \
5832    4.076410   4.261151   3.459879   3.248724   3.413695   3.091566
2729         NaN        NaN        NaN        NaN        NaN        NaN
16215  18.202675  24.311390  29.132851  26.971024  15.551362  15.100351
9462   42.940605  37.181736  32.667858  32.473579  30.709955  31.486887
7500         NaN        NaN        NaN        NaN        NaN        NaN

         POP2018    POP2019
5832    2.573633   2.834559
2729         NaN        NaN
16215  26.316660  16.892525
9462   30.402571  30.042007
7500         NaN        NaN

[5 rows x 21 columns]
Loading with rasterio. Thu Sep 14 17:25:28 2023
Raster: Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2020_UNadj.tif
| 0.00, 0.00, 35.72|
| 0.00,-0.00, 37.32|
| 0.00, 0.00, 1.00|
[[-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 ...
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]
 [-99999. -99999. -99999. ... -99999. -99999. -99999.]]
Zonal statistics. Thu Sep 14 17:25:28 2023
sum stat output field for Q:\GIS\povertyequity\urban_growth\Syria\Source\Population\syr_ppp_2020_UNadj.tif: POP2020
       Sett_ID   POP2000   POP2001   POP2002   POP2003   POP2004   POP2005  \
9293     49372       NaN       NaN       NaN       NaN       NaN       NaN
917       3547       NaN       NaN       NaN       NaN       NaN       NaN
1898      6966       NaN       NaN       NaN       NaN       NaN       NaN
3239     11978  1.070162  0.699859  0.760245  0.973958  0.978317  0.961451
15642   131339       NaN       NaN       NaN       NaN       NaN       NaN

        POP2006   POP2007   POP2008  ...   POP2011   POP2012   POP2013  \
9293        NaN       NaN       NaN  ...       NaN       NaN       NaN
917         NaN       NaN       NaN  ...       NaN       NaN       NaN
1898        NaN       NaN       NaN  ...       NaN       NaN       NaN
3239   0.870706  0.904211  1.028639  ...  1.168633  1.927553  1.828728
15642       NaN       NaN       NaN  ...       NaN       NaN       NaN

        POP2014   POP2015   POP2016   POP2017   POP2018   POP2019   POP2020
9293        NaN       NaN       NaN       NaN       NaN       NaN       NaN
917         NaN       NaN       NaN       NaN       NaN       NaN       NaN
1898        NaN       NaN       NaN       NaN       NaN       NaN       NaN
3239   1.360822  1.177198  1.188499  1.137118  0.822773  1.154144  0.905934
15642       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[5 rows x 22 columns]
Final dataframe:
        Sett_ID  POP2000  POP2001  POP2002  POP2003  POP2004  POP2005  POP2006  \
10564    56560      NaN      NaN      NaN      NaN      NaN      NaN      NaN
4382     17271      NaN      NaN      NaN      NaN      NaN      NaN      NaN
18124   156206      NaN      NaN      NaN      NaN      NaN      NaN      NaN
1746      6419      NaN      NaN      NaN      NaN      NaN      NaN      NaN
13316    93762      NaN      NaN      NaN      NaN      NaN      NaN      NaN

       POP2007  POP2008  ...  POP2011  POP2012  POP2013  POP2014  POP2015  \
10564      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
4382       NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
18124      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
1746       NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN
13316      NaN      NaN  ...      NaN      NaN      NaN      NaN      NaN

       POP2016  POP2017  POP2018  POP2019  POP2020
10564      NaN      NaN      NaN      NaN      NaN
4382       NaN      NaN      NaN      NaN      NaN
18124      NaN      NaN      NaN      NaN      NaN
1746       NaN      NaN      NaN      NaN      NaN
13316      NaN      NaN      NaN      NaN      NaN

[5 rows x 22 columns]

---

## 9. PREPARE YEARLY DATASETS: NIGHTTIME LIGHTS

### 9.1 Reclassify with settlement buffer mask.
Reclassify so that we only need to work with cells within X distance of settlements. The two NTL sources have already been reprojected in a separate script, and cropped to Central & Western Africa.

In [79]:
D_avg = glob.glob(os.path.join(NTL, "*D*avg.tif"))
V_avg = glob.glob(os.path.join(NTL, "*V*avg.tif"))
D_cfc = glob.glob(os.path.join(NTL, "*D*cfc.tif"))
V_cfc = glob.glob(os.path.join(NTL, "*V*cfc.tif"))
Settlements = gpd.read_file(os.path.join(Results, 'SETTLEMENTS.gpkg'), layer='SETTLEMENTS')

print(D_avg, V_avg, D_cfc, V_cfc)

['Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_1999_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2000_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2001_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2002_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2003_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2004_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2005_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2006_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2007_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2008_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2009_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2010_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2011_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2012_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2013_avg.tif'] ['Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\V_2012_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\V_2013_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\V_2014_avg.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\V_2015_avg.tif'] ['Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_1999_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2000_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2001_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2002_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2003_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2004_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2005_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2006_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2007_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2008_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2009_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2010_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2011_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2012_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\D_2013_cfc.tif'] ['Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\V_2012_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\V_2013_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\V_2014_cfc.tif', 'Q:\\GIS\\povertyequity\\urban_growth\\NighttimeLights_VIIRS_DMSP\\Temp\\V_2015_cfc.tif']

#### Nighttime lights from two different sources

In [80]:
BatchZonal(RasterFileList= D_avg, Zones = Settlements, 
           KeepFields = ['Sett_ID'], 
           RasterDirectory = NTL, 
           OutPath = os.path.join(Results, 'NTL_DMSP.csv'), 
           Statistics=['sum', 'max', 'mean', 'median', 'std'], 
           NoDataVal = -99999, # For NTL, the actual NoData is a "soft NaN": 3.40282e+38. Just using pop's here.
           Prefix = 'NTL_D',
           Suffix = '', 
           DropStatName = False)

BatchZonal(RasterFileList= V_avg, Zones = Settlements, 
           KeepFields = ['Sett_ID'], 
           RasterDirectory = NTL, 
           OutPath = os.path.join(Results, 'NTL_VIIRS.csv'), 
           Statistics=['sum', 'max', 'mean', 'median', 'std'], 
           NoDataVal = -99999,
           Prefix = 'NTL_V',
           Suffix = '', 
           DropStatName = False)

Dataframe to merge with:
        Sett_ID
0            3
1            7
2           14
3           17
4           21
...        ...
18547   157067
18548   157070
18549   157072
18550   157073
18551   157079

[18552 rows x 1 columns]
Loading with rasterio. Thu Sep 14 17:48:02 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_1999_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0.        0.        0.        ... 0.        0.        0.       ]
 [0.        0.        0.        ... 0.        0.        0.       ]
 [0.        0.        0.        ... 0.        0.        0.       ]
 ...
 [6.270092  6.047826  6.1272793 ... 6.0887446 6.471717  6.471717 ]
 [6.413352  5.6817465 5.7555556 ... 6.1291924 6.332485  6.332485 ]
 [0.        0.        0.        ... 0.        0.        0.       ]]
Zonal statistics. Thu Sep 14 17:48:10 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_1999_avg.tif: NTL_Dstd1999
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
6974     33519           NaN           NaN            NaN              NaN
368       1410           NaN           NaN            NaN              NaN
5221     22403           NaN           NaN            NaN              NaN
15053   117926           NaN           NaN            NaN              NaN
18476   156927           NaN           NaN            NaN              NaN

       NTL_Dstd1999
6974            NaN
368             NaN
5221            NaN
15053           NaN
18476           NaN
Loading with rasterio. Thu Sep 14 17:49:00 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2000_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0.        0.        0.        ... 0.        0.        0.       ]
 [0.        0.        0.        ... 0.        0.        0.       ]
 [0.        0.        0.        ... 0.        0.        0.       ]
 ...
 [2.5344827 2.7583334 2.7333333 ... 2.4491525 2.5916667 2.5916667]
 [2.775     2.7711864 2.7166667 ... 2.5847456 2.5       2.5      ]
 [2.7459016 2.819672  2.7419355 ... 2.5847456 2.5169492 2.5169492]]
Zonal statistics. Thu Sep 14 17:49:08 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2000_avg.tif: NTL_Dstd2000
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
5968     27407           NaN           NaN            NaN              NaN
15042   117489           NaN           NaN            NaN              NaN
13753    99407           NaN           NaN            NaN              NaN
18098   156140           NaN           NaN            NaN              NaN
17431   153967           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
5968            NaN           NaN           NaN            NaN
15042           NaN           NaN           NaN            NaN
13753           NaN           NaN           NaN            NaN
18098           NaN           NaN           NaN            NaN
17431           NaN           NaN           NaN            NaN

       NTL_Dmedian2000  NTL_Dstd2000
5968               NaN           NaN
15042              NaN           NaN
13753              NaN           NaN
18098              NaN           NaN
17431              NaN           NaN
Loading with rasterio. Thu Sep 14 17:49:57 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2001_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0.        0.        0.        ... 0.        0.        0.       ]
 [0.        0.        0.        ... 0.        0.        0.       ]
 [0.        0.        0.        ... 0.        0.        0.       ]
 ...
 [2.6666667 2.6078432 2.6153846 ... 2.8461537 2.6960785 2.6960785]
 [2.7058823 2.59      2.6764705 ... 2.8365386 2.7156863 2.7156863]
 [0.        0.        0.        ... 0.        0.        0.       ]]
Zonal statistics. Thu Sep 14 17:50:05 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2001_avg.tif: NTL_Dstd2001
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
11384    61232           NaN           NaN            NaN              NaN
1320      4920           NaN           NaN            NaN              NaN
13334    94006           NaN           NaN            NaN              NaN
10296    54974           NaN           NaN            NaN              NaN
12598    79583           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
11384           NaN           NaN           NaN            NaN
1320            NaN           NaN           NaN            NaN
13334           NaN           NaN           NaN            NaN
10296           NaN           NaN           NaN            NaN
12598           NaN           NaN           NaN            NaN

       NTL_Dmedian2000  NTL_Dstd2000  NTL_Dsum2001  NTL_Dmax2001  \
11384              NaN           NaN           NaN           NaN
1320               NaN           NaN           NaN           NaN
13334              NaN           NaN           NaN           NaN
10296              NaN           NaN           NaN           NaN
12598              NaN           NaN           NaN           NaN

       NTL_Dmean2001  NTL_Dmedian2001  NTL_Dstd2001
11384            NaN              NaN           NaN
1320             NaN              NaN           NaN
13334            NaN              NaN           NaN
10296            NaN              NaN           NaN
12598            NaN              NaN           NaN
Loading with rasterio. Thu Sep 14 17:50:53 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2002_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[6.25      6.25      6.25      ... 6.25      6.25      6.25     ]
 [6.25      6.25      6.25      ... 6.25      6.25      6.25     ]
 [6.25      6.25      6.25      ... 6.25      6.25      6.25     ]
 ...
 [2.4615386 2.381579  2.391892  ... 2.3289473 2.381579  2.381579 ]
 [2.4871795 2.381579  2.368421  ... 2.3589745 2.3589745 2.3589745]
 [0.        0.        0.        ... 0.        0.        0.       ]]
Zonal statistics. Thu Sep 14 17:51:01 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2002_avg.tif: NTL_Dstd2002
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
3878     14967           NaN           NaN            NaN              NaN
29          83           NaN           NaN            NaN              NaN
11472    63207           NaN           NaN            NaN              NaN
17381   153797           NaN           NaN            NaN              NaN
11867    71711           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
3878            NaN           NaN           NaN            NaN
29              NaN           NaN           NaN            NaN
11472           NaN           NaN           NaN            NaN
17381           NaN           NaN           NaN            NaN
11867           NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2001  NTL_Dmax2001  NTL_Dmean2001  \
3878               NaN  ...           NaN           NaN            NaN
29                 NaN  ...           NaN           NaN            NaN
11472              NaN  ...           NaN           NaN            NaN
17381              NaN  ...           NaN           NaN            NaN
11867              NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2001  NTL_Dstd2001  NTL_Dsum2002  NTL_Dmax2002  \
3878               NaN           NaN           NaN           NaN
29                 NaN           NaN           NaN           NaN
11472              NaN           NaN           NaN           NaN
17381              NaN           NaN           NaN           NaN
11867              NaN           NaN           NaN           NaN

       NTL_Dmean2002  NTL_Dmedian2002  NTL_Dstd2002
3878             NaN              NaN           NaN
29               NaN              NaN           NaN
11472            NaN              NaN           NaN
17381            NaN              NaN           NaN
11867            NaN              NaN           NaN

[5 rows x 21 columns]
Loading with rasterio. Thu Sep 14 17:51:48 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2003_avg.tif

| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
Zonal statistics. Thu Sep 14 17:51:56 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2003_avg.tif: NTL_Dstd2003
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
4468     17790           NaN           NaN            NaN              NaN
15267   123287           NaN           NaN            NaN              NaN
15502   126642           NaN           NaN            NaN              NaN
7265     35264           NaN           NaN            NaN              NaN
3046     11070           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
4468            NaN           NaN           NaN            NaN
15267           NaN           NaN           NaN            NaN
15502           NaN           NaN           NaN            NaN
7265            NaN           NaN           NaN            NaN
3046            NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2002  NTL_Dmax2002  NTL_Dmean2002  \
4468               NaN  ...           NaN           NaN            NaN
15267              NaN  ...           NaN           NaN            NaN
15502              NaN  ...           NaN           NaN            NaN
7265               NaN  ...           NaN           NaN            NaN
3046               NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2002  NTL_Dstd2002  NTL_Dsum2003  NTL_Dmax2003  \
4468               NaN           NaN           NaN           NaN
15267              NaN           NaN           NaN           NaN
15502              NaN           NaN           NaN           NaN
7265               NaN           NaN           NaN           NaN
3046               NaN           NaN           NaN           NaN

       NTL_Dmean2003  NTL_Dmedian2003  NTL_Dstd2003
4468             NaN              NaN           NaN
15267            NaN              NaN           NaN
15502            NaN              NaN           NaN
7265             NaN              NaN           NaN
3046             NaN              NaN           NaN

[5 rows x 26 columns]
Loading with rasterio. Thu Sep 14 17:52:44 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2004_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[2.607143  2.642857  2.6785715 ... 2.3846154 2.607143  2.607143 ]
 [2.607143  2.4230769 2.642857  ... 2.3846154 2.7142856 2.607143 ]
 [5.035714  4.714286  4.7115383 ... 4.892857  4.8642855 4.9857144]
 ...
 [2.9166665 2.9285715 4.        ... 3.        3.        2.9166665]
 [2.8333335 2.5       2.5       ... 2.9166665 3.        2.8333335]
 [2.8333335 2.5       2.5       ... 2.357143  2.9166665 2.8333335]]
Zonal statistics. Thu Sep 14 17:52:52 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2004_avg.tif: NTL_Dstd2004
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
314       1217           NaN           NaN            NaN              NaN
12988    84362           NaN           NaN            NaN              NaN
1849      6795           NaN           NaN            NaN              NaN
1346      4986           NaN           NaN            NaN              NaN
12098    74071           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
314             NaN           NaN           NaN            NaN
12988           NaN           NaN           NaN            NaN
1849            NaN           NaN           NaN            NaN
1346            NaN           NaN           NaN            NaN
12098           NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2003  NTL_Dmax2003  NTL_Dmean2003  \
314                NaN  ...           NaN           NaN            NaN
12988              NaN  ...           NaN           NaN            NaN
1849               NaN  ...           NaN           NaN            NaN
1346               NaN  ...           NaN           NaN            NaN
12098              NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2003  NTL_Dstd2003  NTL_Dsum2004  NTL_Dmax2004  \
314                NaN           NaN           NaN           NaN
12988              NaN           NaN           NaN           NaN
1849               NaN           NaN           NaN           NaN
1346               NaN           NaN           NaN           NaN
12098              NaN           NaN           NaN           NaN

       NTL_Dmean2004  NTL_Dmedian2004  NTL_Dstd2004
314              NaN              NaN           NaN
12988            NaN              NaN           NaN
1849             NaN              NaN           NaN
1346             NaN              NaN           NaN
12098            NaN              NaN           NaN

[5 rows x 31 columns]
Loading with rasterio. Thu Sep 14 17:53:39 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2005_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0.        0.        0.        ... 0.        0.        0.       ]
 [3.22      3.22      3.24      ... 2.9791667 3.16      3.14     ]
 [5.781739  5.781739  5.8452177 ... 5.630435  5.6494565 5.6834784]
 ...
 [3.1666665 3.1666665 3.5       ... 2.5       2.75      3.25     ]
 [3.25      3.25      3.3333335 ... 3.4166665 3.4166665 3.4166665]
 [3.9166667 3.9166667 3.3333335 ... 3.8333335 4.        3.9166667]]
Zonal statistics. Thu Sep 14 17:53:47 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2005_avg.tif: NTL_Dstd2005
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
16541   143451           NaN           NaN            NaN              NaN
7429     36406           NaN           NaN            NaN              NaN
11895    72025           NaN           NaN            NaN              NaN
18176   156305           NaN           NaN            NaN              NaN
8148     40997           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
16541           NaN           NaN           NaN            NaN
7429            NaN           NaN           NaN            NaN
11895           NaN           NaN           NaN            NaN
18176           NaN           NaN           NaN            NaN
8148            NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2004  NTL_Dmax2004  NTL_Dmean2004  \
16541              NaN  ...           NaN           NaN            NaN
7429               NaN  ...           NaN           NaN            NaN
11895              NaN  ...           NaN           NaN            NaN
18176              NaN  ...           NaN           NaN            NaN
8148               NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2004  NTL_Dstd2004  NTL_Dsum2005  NTL_Dmax2005  \
16541              NaN           NaN           NaN           NaN
7429               NaN           NaN           NaN           NaN
11895              NaN           NaN           NaN           NaN
18176              NaN           NaN           NaN           NaN
8148               NaN           NaN           NaN           NaN

       NTL_Dmean2005  NTL_Dmedian2005  NTL_Dstd2005
16541            NaN              NaN           NaN
7429             NaN              NaN           NaN
11895            NaN              NaN           NaN
18176            NaN              NaN           NaN
8148             NaN              NaN           NaN

[5 rows x 36 columns]
Loading with rasterio. Thu Sep 14 17:54:34 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2006_avg.tif

| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0.        0.        0.        ... 0.        0.        0.       ]
 [2.5714285 2.642857  2.7142856 ... 2.7142856 3.4       2.5714285]
 [4.5714283 4.8690476 4.6875    ... 4.8142853 5.5       4.5714283]
 ...
 [2.4       2.6       2.6       ... 2.375     2.275     2.4      ]
 [2.6       2.5       2.7       ... 2.5       2.5       2.6      ]
 [3.        2.8       3.        ... 2.6       2.9       3.       ]]
Zonal statistics. Thu Sep 14 17:54:42 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2006_avg.tif: NTL_Dstd2006
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
16896   149079           NaN           NaN            NaN              NaN
13730    99136           NaN           NaN            NaN              NaN
9630     51241      6.223214      6.223214       6.223214         6.223214
6504     30813      8.808655      8.808655       8.808655         8.808655
5965     27387           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
16896           NaN           NaN           NaN            NaN
13730           NaN           NaN           NaN            NaN
9630            0.0      6.303455      6.303455       6.303455
6504            0.0      8.210000      8.210000       8.210000
5965            NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2005  NTL_Dmax2005  NTL_Dmean2005  \
16896              NaN  ...           NaN           NaN            NaN
13730              NaN  ...           NaN           NaN            NaN
9630          6.303455  ...      5.911462      5.911462       5.911462
6504          8.210000  ...      7.756649      7.756649       7.756649
5965               NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2005  NTL_Dstd2005  NTL_Dsum2006  NTL_Dmax2006  \
16896              NaN           NaN           NaN           NaN
13730              NaN           NaN           NaN           NaN
9630          5.911462           0.0      7.375862      7.375862
6504          7.756649           0.0      8.940228      8.940228
5965               NaN           NaN           NaN           NaN

       NTL_Dmean2006  NTL_Dmedian2006  NTL_Dstd2006
16896            NaN              NaN           NaN
13730            NaN              NaN           NaN
9630        7.375862         7.375862           0.0
6504        8.940228         8.940228           0.0
5965             NaN              NaN           NaN

[5 rows x 41 columns]
Loading with rasterio. Thu Sep 14 17:55:30 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2007_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0.        0.        0.        ... 0.        0.        0.       ]
 [1.8541666 1.8125    1.8333334 ... 1.875     1.8541666 1.8541666]
 [4.3894234 3.9625    3.9833336 ... 4.4134617 4.407051  4.3894234]
 ...
 [2.3333335 2.6666665 2.0833335 ... 1.65      2.3333335 2.3333335]
 [1.4       2.0833335 2.0833335 ... 1.4       1.4       1.4      ]
 [2.0833333 2.4166665 1.8333334 ... 1.65      1.65      2.0833333]]
Zonal statistics. Thu Sep 14 17:55:36 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2007_avg.tif: NTL_Dstd2007
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
4320     16884           NaN           NaN            NaN              NaN
6176     28775      4.745465      4.745465       4.745465         4.745465
789       3006           NaN           NaN            NaN              NaN
1688      6240           NaN           NaN            NaN              NaN
18347   156667     14.853659     14.853659      14.853659        14.853659

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
4320            NaN           NaN           NaN            NaN
6176            0.0      5.021661      5.021661       5.021661
789             NaN           NaN           NaN            NaN
1688            NaN           NaN           NaN            NaN
18347           0.0      8.207265      8.207265       8.207265

       NTL_Dmedian2000  ...  NTL_Dsum2006  NTL_Dmax2006  NTL_Dmean2006  \
4320               NaN  ...           NaN           NaN            NaN
6176          5.021661  ...      4.470696      4.470696       4.470696
789                NaN  ...           NaN           NaN            NaN
1688               NaN  ...           NaN           NaN            NaN
18347         8.207265  ...     27.908833     27.908833      27.908833

       NTL_Dmedian2006  NTL_Dstd2006  NTL_Dsum2007  NTL_Dmax2007  \
4320               NaN           NaN           NaN           NaN
6176          4.470696           0.0      4.644831      4.644831
789                NaN           NaN           NaN           NaN
1688               NaN           NaN           NaN           NaN
18347        27.908833           0.0     33.617500     33.617500

       NTL_Dmean2007  NTL_Dmedian2007  NTL_Dstd2007
4320             NaN              NaN           NaN
6176        4.644831         4.644831           0.0
789              NaN              NaN           NaN
1688             NaN              NaN           NaN
18347      33.617500        33.617500           0.0

[5 rows x 46 columns]
Loading with rasterio. Thu Sep 14 17:56:22 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2008_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [3. 3. 3. ... 2. 2. 3.]
 [2. 3. 3. ... 2. 2. 2.]
 [2. 4. 4. ... 2. 2. 2.]]
Zonal statistics. Thu Sep 14 17:56:31 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2008_avg.tif: NTL_Dstd2008
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
427       1603           NaN           NaN            NaN              NaN
11960    72674           NaN           NaN            NaN              NaN
9515     50586      4.238234      4.238234       4.238234         4.238234
11858    71600           NaN           NaN            NaN              NaN
12402    77317           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
427             NaN           NaN           NaN            NaN
11960           NaN           NaN           NaN            NaN
9515            0.0      4.240385      4.240385       4.240385
11858           NaN           NaN           NaN            NaN
12402           NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2007  NTL_Dmax2007  NTL_Dmean2007  \
427                NaN  ...           NaN           NaN            NaN
11960              NaN  ...           NaN           NaN            NaN
9515          4.240385  ...      4.296627      4.296627       4.296627
11858              NaN  ...           NaN           NaN            NaN
12402              NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2007  NTL_Dstd2007  NTL_Dsum2008  NTL_Dmax2008  \
427                NaN           NaN           NaN           NaN
11960              NaN           NaN           NaN           NaN
9515          4.296627           0.0      4.317073      4.317073
11858              NaN           NaN           NaN           NaN
12402              NaN           NaN           NaN           NaN

       NTL_Dmean2008  NTL_Dmedian2008  NTL_Dstd2008
427              NaN              NaN           NaN
11960            NaN              NaN           NaN
9515        4.317073         4.317073           0.0
11858            NaN              NaN           NaN
12402            NaN              NaN           NaN

[5 rows x 51 columns]
Loading with rasterio. Thu Sep 14 17:57:15 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2009_avg.tif

| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
Zonal statistics. Thu Sep 14 17:57:23 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2009_avg.tif: NTL_Dstd2009
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
9137     48520           NaN           NaN            NaN              NaN
11607    67013           NaN           NaN            NaN              NaN
9539     50728           NaN           NaN            NaN              NaN
6906     33079           NaN           NaN            NaN              NaN
9378     49840           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
9137            NaN           NaN           NaN            NaN
11607           NaN           NaN           NaN            NaN
9539            NaN           NaN           NaN            NaN
6906            NaN           NaN           NaN            NaN
9378            NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2008  NTL_Dmax2008  NTL_Dmean2008  \
9137               NaN  ...           NaN           NaN            NaN
11607              NaN  ...           NaN           NaN            NaN
9539               NaN  ...           NaN           NaN            NaN
6906               NaN  ...           NaN           NaN            NaN
9378               NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2008  NTL_Dstd2008  NTL_Dsum2009  NTL_Dmax2009  \
9137               NaN           NaN           NaN           NaN
11607              NaN           NaN           NaN           NaN
9539               NaN           NaN           NaN           NaN
6906               NaN           NaN           NaN           NaN
9378               NaN           NaN           NaN           NaN

       NTL_Dmean2009  NTL_Dmedian2009  NTL_Dstd2009
9137             NaN              NaN           NaN
11607            NaN              NaN           NaN
9539             NaN              NaN           NaN
6906             NaN              NaN           NaN
9378             NaN              NaN           NaN

[5 rows x 56 columns]
Loading with rasterio. Thu Sep 14 17:58:10 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2010_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [5. 5. 5. ... 5. 5. 5.]
 [9. 9. 9. ... 5. 5. 5.]
 [9. 9. 9. ... 9. 9. 9.]]
Zonal statistics. Thu Sep 14 17:58:18 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2010_avg.tif: NTL_Dstd2010
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
2855     10215           NaN           NaN            NaN              NaN
5064     21476           NaN           NaN            NaN              NaN
18444   156862           NaN           NaN            NaN              NaN
12395    77257           NaN           NaN            NaN              NaN
15069   118381           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
2855            NaN           NaN           NaN            NaN
5064            NaN           NaN           NaN            NaN
18444           NaN           NaN           NaN            NaN
12395           NaN           NaN           NaN            NaN
15069           NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2009  NTL_Dmax2009  NTL_Dmean2009  \
2855               NaN  ...           NaN           NaN            NaN
5064               NaN  ...           NaN           NaN            NaN
18444              NaN  ...           NaN           NaN            NaN
12395              NaN  ...           NaN           NaN            NaN
15069              NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2009  NTL_Dstd2009  NTL_Dsum2010  NTL_Dmax2010  \
2855               NaN           NaN           NaN           NaN
5064               NaN           NaN           NaN           NaN
18444              NaN           NaN           NaN           NaN
12395              NaN           NaN           NaN           NaN
15069              NaN           NaN           NaN           NaN

       NTL_Dmean2010  NTL_Dmedian2010  NTL_Dstd2010
2855             NaN              NaN           NaN
5064             NaN              NaN           NaN
18444            NaN              NaN           NaN
12395            NaN              NaN           NaN
15069            NaN              NaN           NaN

[5 rows x 61 columns]
Loading with rasterio. Thu Sep 14 17:59:04 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2011_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[6 6 6 ... 5 5 5]
 [5 5 4 ... 4 5 5]
 [4 5 5 ... 4 4 4]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Zonal statistics. Thu Sep 14 17:59:07 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2011_avg.tif: NTL_Dstd2011
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
11549    65498           NaN           NaN            NaN              NaN
5132     21831           NaN           NaN            NaN              NaN
9815     52281           NaN           NaN            NaN              NaN
4503     17998           NaN           NaN            NaN              NaN
1641      6074           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
11549           NaN           NaN           NaN            NaN
5132            NaN           NaN           NaN            NaN
9815            NaN           NaN           NaN            NaN
4503            NaN           NaN           NaN            NaN
1641            NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2010  NTL_Dmax2010  NTL_Dmean2010  \
11549              NaN  ...           NaN           NaN            NaN
5132               NaN  ...           NaN           NaN            NaN
9815               NaN  ...           NaN           NaN            NaN
4503               NaN  ...           NaN           NaN            NaN
1641               NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2010  NTL_Dstd2010  NTL_Dsum2011  NTL_Dmax2011  \
11549              NaN           NaN           NaN           NaN
5132               NaN           NaN           NaN           NaN
9815               NaN           NaN           NaN           NaN
4503               NaN           NaN           NaN           NaN
1641               NaN           NaN           NaN           NaN

       NTL_Dmean2011  NTL_Dmedian2011  NTL_Dstd2011
11549            NaN              NaN           NaN
5132             NaN              NaN           NaN
9815             NaN              NaN           NaN
4503             NaN              NaN           NaN
1641             NaN              NaN           NaN

[5 rows x 66 columns]
Loading with rasterio. Thu Sep 14 17:59:55 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2012_avg.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[8.   7.75 7.75 ... 8.   8.   8.  ]
 [7.75 7.75 7.75 ... 8.   8.25 8.25]
 [8.25 7.75 7.25 ... 8.25 8.25 8.25]
 ...
 [0.   0.   0.   ... 0.   0.   0.  ]
 [0.   0.   0.   ... 0.   0.   0.  ]
 [0.   0.   0.   ... 0.   0.   0.  ]]
Zonal statistics. Thu Sep 14 18:00:02 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2012_avg.tif: NTL_Dstd2012
       Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
6408     30205           NaN           NaN            NaN              NaN
3303     12277           NaN           NaN            NaN              NaN
11997    73010           NaN           NaN            NaN              NaN
16267   141569           NaN           NaN            NaN              NaN
15840   134186           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
6408            NaN           NaN           NaN            NaN
3303            NaN           NaN           NaN            NaN
11997           NaN           NaN           NaN            NaN
16267           NaN           NaN           NaN            NaN
15840           NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2011  NTL_Dmax2011  NTL_Dmean2011  \
6408               NaN  ...           NaN           NaN            NaN
3303               NaN  ...           NaN           NaN            NaN
11997              NaN  ...           NaN           NaN            NaN
16267              NaN  ...           NaN           NaN            NaN
15840              NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2011  NTL_Dstd2011  NTL_Dsum2012  NTL_Dmax2012  \
6408               NaN           NaN           NaN           NaN
3303               NaN           NaN           NaN           NaN
11997              NaN           NaN           NaN           NaN
16267              NaN           NaN           NaN           NaN
15840              NaN           NaN           NaN           NaN

       NTL_Dmean2012  NTL_Dmedian2012  NTL_Dstd2012
6408             NaN              NaN           NaN
3303             NaN              NaN           NaN
11997            NaN              NaN           NaN
16267            NaN              NaN           NaN
15840            NaN              NaN           NaN

[5 rows x 71 columns]
Loading with rasterio. Thu Sep 14 18:00:48 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2013_avg.tif

| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[5.5652175 5.9583335 6.5833335 ... 6.125     6.1666665 6.1666665]
 [5.        6.1666665 6.4583335 ... 5.7391305 6.130435  6.130435 ]
 [5.5       5.095238  5.        ... 5.826087  6.173913  6.173913 ]
 ...
 [6.        6.6666665 6.6666665 ... 4.6666665 4.6666665 4.6666665]
 [6.        6.6666665 6.6666665 ... 4.6666665 4.6666665 4.6666665]
 [0.        0.        0.        ... 0.        0.        0.       ]]
Zonal statistics. Thu Sep 14 18:00:56 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2013_avg.tif: NTL_Dstd2013
      Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
7158    34478           NaN           NaN            NaN              NaN
8804    46657           NaN           NaN            NaN              NaN
8838    46805           NaN           NaN            NaN              NaN
2928    10544           NaN           NaN            NaN              NaN
1617     5974           NaN           NaN            NaN              NaN

      NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
7158           NaN           NaN           NaN            NaN
8804           NaN           NaN           NaN            NaN
8838           NaN           NaN           NaN            NaN
2928           NaN           NaN           NaN            NaN
1617           NaN           NaN           NaN            NaN

      NTL_Dmedian2000  ...  NTL_Dsum2012  NTL_Dmax2012  NTL_Dmean2012  \
7158              NaN  ...           NaN           NaN            NaN
8804              NaN  ...           NaN           NaN            NaN
8838              NaN  ...           NaN           NaN            NaN
2928              NaN  ...           NaN           NaN            NaN
1617              NaN  ...           NaN           NaN            NaN

      NTL_Dmedian2012  NTL_Dstd2012  NTL_Dsum2013  NTL_Dmax2013  \
7158              NaN           NaN           NaN           NaN
8804              NaN           NaN           NaN           NaN
8838              NaN           NaN           NaN           NaN
2928              NaN           NaN           NaN           NaN
1617              NaN           NaN           NaN           NaN

      NTL_Dmean2013  NTL_Dmedian2013  NTL_Dstd2013
7158            NaN              NaN           NaN
8804            NaN              NaN           NaN
8838            NaN              NaN           NaN
2928            NaN              NaN           NaN
1617            NaN              NaN           NaN

[5 rows x 76 columns]
Final dataframe:
        Sett_ID  NTL_Dsum1999  NTL_Dmax1999  NTL_Dmean1999  NTL_Dmedian1999  \
9559     50829           NaN           NaN            NaN              NaN
8533     43580           NaN           NaN            NaN              NaN
4498     17979           NaN           NaN            NaN              NaN
7073     34020           NaN           NaN            NaN              NaN
14743   108827           NaN           NaN            NaN              NaN

       NTL_Dstd1999  NTL_Dsum2000  NTL_Dmax2000  NTL_Dmean2000  \
9559            NaN           NaN           NaN            NaN
8533            NaN           NaN           NaN            NaN
4498            NaN           NaN           NaN            NaN
7073            NaN           NaN           NaN            NaN
14743           NaN           NaN           NaN            NaN

       NTL_Dmedian2000  ...  NTL_Dsum2012  NTL_Dmax2012  NTL_Dmean2012  \
9559               NaN  ...           NaN           NaN            NaN
8533               NaN  ...           NaN           NaN            NaN
4498               NaN  ...           NaN           NaN            NaN
7073               NaN  ...           NaN           NaN            NaN
14743              NaN  ...           NaN           NaN            NaN

       NTL_Dmedian2012  NTL_Dstd2012  NTL_Dsum2013  NTL_Dmax2013  \
9559               NaN           NaN           NaN           NaN
8533               NaN           NaN           NaN           NaN
4498               NaN           NaN           NaN           NaN
7073               NaN           NaN           NaN           NaN
14743              NaN           NaN           NaN           NaN

       NTL_Dmean2013  NTL_Dmedian2013  NTL_Dstd2013
9559             NaN              NaN           NaN
8533             NaN              NaN           NaN
4498             NaN              NaN           NaN
7073             NaN              NaN           NaN
14743            NaN              NaN           NaN

[5 rows x 76 columns]
Dataframe to merge with:
        Sett_ID
0            3
1            7
2           14
3           17
4           21
...        ...
18547   157067
18548   157070
18549   157072
18550   157073
18551   157079

[18552 rows x 1 columns]
Loading with rasterio. Thu Sep 14 18:01:45 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2012_avg.tif
| 0.00, 0.00,-180.00|
| 0.00,-0.00, 75.00|
| 0.00, 0.00, 1.00|
[[0.9718189  0.8348664  0.97964    ... 0.99186504 0.98909014 0.9666358 ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.7874452  0.77528137 0.7197873 ]
 [0.         0.         0.         ... 0.         0.         0.        ]]
Zonal statistics. Thu Sep 14 18:02:08 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2012_avg.tif: NTL_Vstd2012
       Sett_ID  NTL_Vsum2012  NTL_Vmax2012  NTL_Vmean2012  NTL_Vmedian2012  \
17120   152755           NaN           NaN            NaN              NaN
3809     14629           NaN           NaN            NaN              NaN
7253     35185           NaN           NaN            NaN              NaN
15035   117358           NaN           NaN            NaN              NaN
1260      4721           NaN           NaN            NaN              NaN

       NTL_Vstd2012
17120           NaN
3809            NaN
7253            NaN
15035           NaN
1260            NaN
Loading with rasterio. Thu Sep 14 18:02:56 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2013_avg.tif
| 0.00, 0.00,-180.00|
| 0.00,-0.00, 75.00|
| 0.00, 0.00, 1.00|
[[ 0.          0.          0.         ...  0.          0.
   0.        ]
 [ 0.          0.          0.         ...  0.          0.
   0.        ]
 [ 0.          0.          0.         ...  0.          0.
   0.        ]
 ...
 [ 0.          0.          0.         ...  0.          0.
   0.        ]
 [ 0.          0.          0.         ...  0.9139684   0.9352511
   0.90836704]
 [ 0.          0.         -1.5        ...  0.          0.
   0.        ]]
Zonal statistics. Thu Sep 14 18:03:21 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2013_avg.tif: NTL_Vstd2013
       Sett_ID  NTL_Vsum2012  NTL_Vmax2012  NTL_Vmean2012  NTL_Vmedian2012  \
4895     20442      3.742971      2.067995       1.871485         1.871485
9177     48751           NaN           NaN            NaN              NaN
17493   154177           NaN           NaN            NaN              NaN
14123   103311      4.367990      2.116349       1.091997         0.839253
11768    70745           NaN           NaN            NaN              NaN

       NTL_Vstd2012  NTL_Vsum2013  NTL_Vmax2013  NTL_Vmean2013  \
4895       0.196509      2.944382      1.574636       1.472191
9177            NaN           NaN           NaN            NaN
17493           NaN           NaN           NaN            NaN
14123      0.601377      1.100094      0.628651       0.275023
11768           NaN           NaN           NaN            NaN

       NTL_Vmedian2013  NTL_Vstd2013
4895          1.472191      0.102445
9177               NaN           NaN
17493              NaN           NaN
14123         0.235721      0.280584
11768              NaN           NaN
Loading with rasterio. Thu Sep 14 18:04:09 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2014_avg.tif

| 0.00, 0.00,-180.00|
| 0.00,-0.00, 75.00|
| 0.00, 0.00, 1.00|
[[1.1100459  1.1288927  1.127595   ... 1.1011702  1.1024839  1.087924  ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.77174467 0.795612   0.7914716 ]
 [0.         0.         0.         ... 0.         0.         0.        ]]
Zonal statistics. Thu Sep 14 18:04:32 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2014_avg.tif: NTL_Vstd2014
       Sett_ID  NTL_Vsum2012  NTL_Vmax2012  NTL_Vmean2012  NTL_Vmedian2012  \
11023    59258      2.083235      2.083235       2.083235         2.083235
833       3208           NaN           NaN            NaN              NaN
7067     33976           NaN           NaN            NaN              NaN
16317   141939           NaN           NaN            NaN              NaN
232        922      1.004412      1.004412       1.004412         1.004412

       NTL_Vstd2012  NTL_Vsum2013  NTL_Vmax2013  NTL_Vmean2013  \
11023           0.0      1.854394      1.854394       1.854394
833             NaN           NaN           NaN            NaN
7067            NaN           NaN           NaN            NaN
16317           NaN           NaN           NaN            NaN
232             0.0      0.825966      0.825966       0.825966

       NTL_Vmedian2013  NTL_Vstd2013  NTL_Vsum2014  NTL_Vmax2014  \
11023         1.854394           0.0      1.156010      1.156010
833                NaN           NaN           NaN           NaN
7067               NaN           NaN           NaN           NaN
16317              NaN           NaN           NaN           NaN
232           0.825966           0.0      0.400378      0.400378

       NTL_Vmean2014  NTL_Vmedian2014  NTL_Vstd2014
11023       1.156010         1.156010           0.0
833              NaN              NaN           NaN
7067             NaN              NaN           NaN
16317            NaN              NaN           NaN
232         0.400378         0.400378           0.0
Loading with rasterio. Thu Sep 14 18:05:19 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2015_avg.tif
| 0.00, 0.00,-180.00|
| 0.00,-0.00, 75.00|
| 0.00, 0.00, 1.00|
[[1.0836837  1.083844   1.0713766  ... 1.075265   1.0795301  0.9049964 ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.86478096 0.8409789  0.8316555 ]
 [0.         0.         0.         ... 0.         0.         0.        ]]
Zonal statistics. Thu Sep 14 18:05:49 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2015_avg.tif: NTL_Vstd2015
       Sett_ID  NTL_Vsum2012  NTL_Vmax2012  NTL_Vmean2012  NTL_Vmedian2012  \
9745     51870           NaN           NaN            NaN              NaN
15902   135166     119.83107     17.882324      13.314563        13.740604
8827     46760      17.51733      3.939332       3.503466         3.549689
12846    82356           NaN           NaN            NaN              NaN
9527     50671           NaN           NaN            NaN              NaN

       NTL_Vstd2012  NTL_Vsum2013  NTL_Vmax2013  NTL_Vmean2013  \
9745            NaN           NaN           NaN            NaN
15902      2.906797     48.547955      6.720458       5.394217
8827       0.438526     16.034124      3.845594       3.206825
12846           NaN           NaN           NaN            NaN
9527            NaN           NaN           NaN            NaN

       NTL_Vmedian2013  ...  NTL_Vsum2014  NTL_Vmax2014  NTL_Vmean2014  \
9745               NaN  ...           NaN           NaN            NaN
15902         5.322951  ...     16.976601      2.318966       1.886289
8827          2.973457  ...     12.028257      3.382969       2.405651
12846              NaN  ...           NaN           NaN            NaN
9527               NaN  ...           NaN           NaN            NaN

       NTL_Vmedian2014  NTL_Vstd2014  NTL_Vsum2015  NTL_Vmax2015  \
9745               NaN           NaN           NaN           NaN
15902         1.915276      0.290658     10.087254      1.584491
8827          2.180706      0.552960      6.362129      1.657359
12846              NaN           NaN           NaN           NaN
9527               NaN           NaN           NaN           NaN

       NTL_Vmean2015  NTL_Vmedian2015  NTL_Vstd2015
9745             NaN              NaN           NaN
15902       1.120806         1.203101      0.453915
8827        1.272426         1.190109      0.259632
12846            NaN              NaN           NaN
9527             NaN              NaN           NaN

[5 rows x 21 columns]
Final dataframe:
        Sett_ID  NTL_Vsum2012  NTL_Vmax2012  NTL_Vmean2012  NTL_Vmedian2012  \
1828      6705           NaN           NaN            NaN              NaN
18028   156005           NaN           NaN            NaN              NaN
7979     40003    324.869019     23.696671      17.098369        18.230017
11536    65291      7.798949      2.890060       2.599650         2.587439
5860     26705           NaN           NaN            NaN              NaN

       NTL_Vstd2012  NTL_Vsum2013  NTL_Vmax2013  NTL_Vmean2013  \
1828            NaN           NaN           NaN            NaN
18028           NaN           NaN           NaN            NaN
7979       4.276195    264.167114     21.123024      13.903532
11536      0.232295      0.000000      0.000000       0.000000
5860            NaN           NaN           NaN            NaN

       NTL_Vmedian2013  ...  NTL_Vsum2014  NTL_Vmax2014  NTL_Vmean2014  \
1828               NaN  ...           NaN           NaN            NaN
18028              NaN  ...           NaN           NaN            NaN
7979         14.260806  ...    165.613205     11.692944       8.716484
11536         0.000000  ...      1.976990      0.951001       0.658997
5860               NaN  ...           NaN           NaN            NaN

       NTL_Vmedian2014  NTL_Vstd2014  NTL_Vsum2015  NTL_Vmax2015  \
1828               NaN           NaN           NaN           NaN
18028              NaN           NaN           NaN           NaN
7979          8.725273      1.600201    110.231735      8.436835
11536         0.553395      0.209097      0.000000      0.000000
5860               NaN           NaN           NaN           NaN

       NTL_Vmean2015  NTL_Vmedian2015  NTL_Vstd2015
1828             NaN              NaN           NaN
18028            NaN              NaN           NaN
7979         5.80167         5.984446      1.234909
11536        0.00000         0.000000      0.000000
5860             NaN              NaN           NaN

[5 rows x 21 columns]

#### Cloud-free coverage (confidence metric)

In [81]:
BatchZonal(RasterFileList= D_cfc, Zones = Settlements, 
           KeepFields = ['Sett_ID'], 
           RasterDirectory = NTL, 
           OutPath = os.path.join(Results, 'NTL_DMSPcfc.csv'), 
           Statistics=['sum', 'count', 'mean', 'median', 'std'], 
           NoDataVal = -99999, 
           Prefix = 'NTL_D',
           Suffix = '_cfc', 
           DropStatName = False)

BatchZonal(RasterFileList= V_cfc, Zones = Settlements, 
           KeepFields = ['Sett_ID'], 
           RasterDirectory = NTL, 
           OutPath = os.path.join(Results, 'NTL_VIIRScfc.csv'), 
           Statistics=['sum', 'count', 'mean', 'median', 'std'], 
           NoDataVal = -99999,
           Prefix = 'NTL_V',
           Suffix = '_cfc', 
           DropStatName = False)

Dataframe to merge with:
        Sett_ID
0            3
1            7
2           14
3           17
4           21
...        ...
18547   157067
18548   157070
18549   157072
18550   157073
18551   157079

[18552 rows x 1 columns]
Loading with rasterio. Thu Sep 14 18:06:35 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_1999_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 ...
 [44 44 44 ... 44 44 44]
 [43 43 44 ... 42 42 42]
 [ 0  0  0 ...  0  0  0]]
Zonal statistics. Thu Sep 14 18:06:39 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_1999_cfc.tif: NTL_Dstd1999_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
14925   114356               NaN                   0                NaN
4130     16046              42.0                   1               42.0
14239   104291               NaN                   0                NaN
7829     39073               NaN                   0                NaN
1539      5698               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc
14925                  NaN               NaN
4130                  42.0               0.0
14239                  NaN               NaN
7829                   NaN               NaN
1539                   NaN               NaN
Loading with rasterio. Thu Sep 14 18:07:22 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2000_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 ...
 [32 32 32 ... 32 32 32]
 [32 31 32 ... 32 32 32]
 [32 32 32 ... 32 32 32]]
Zonal statistics. Thu Sep 14 18:07:26 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2000_cfc.tif: NTL_Dstd2000_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
6811     32583               NaN                   0                NaN
616       2323               NaN                   0                NaN
630       2369               NaN                   0                NaN
1299      4840               NaN                   0                NaN
15003   116528               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
6811                   NaN               NaN               NaN
616                    NaN               NaN               NaN
630                    NaN               NaN               NaN
1299                   NaN               NaN               NaN
15003                  NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  \
6811                    0                NaN                  NaN
616                     0                NaN                  NaN
630                     0                NaN                  NaN
1299                    0                NaN                  NaN
15003                   0                NaN                  NaN

       NTL_Dstd2000_cfc
6811                NaN
616                 NaN
630                 NaN
1299                NaN
15003               NaN
Loading with rasterio. Thu Sep 14 18:08:09 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2001_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 [ 0  0  0 ...  0  0  0]
 ...
 [30 30 31 ... 30 30 30]
 [30 30 30 ... 30 30 30]
 [ 0  0  0 ...  0  0  0]]
Zonal statistics. Thu Sep 14 18:08:13 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2001_cfc.tif: NTL_Dstd2001_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
8949     47455               NaN                   0                NaN
16223   140570               NaN                   0                NaN
2656      9537               NaN                   0                NaN
4869     20343               NaN                   0                NaN
17776   155419               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
8949                   NaN               NaN               NaN
16223                  NaN               NaN               NaN
2656                   NaN               NaN               NaN
4869                   NaN               NaN               NaN
17776                  NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  \
8949                    0                NaN                  NaN
16223                   0                NaN                  NaN
2656                    0                NaN                  NaN
4869                    0                NaN                  NaN
17776                   0                NaN                  NaN

       NTL_Dstd2000_cfc  NTL_Dsum2001_cfc  NTL_Dcount2001_cfc  \
8949                NaN               NaN                   0
16223               NaN               NaN                   0
2656                NaN               NaN                   0
4869                NaN               NaN                   0
17776               NaN               NaN                   0

       NTL_Dmean2001_cfc  NTL_Dmedian2001_cfc  NTL_Dstd2001_cfc
8949                 NaN                  NaN               NaN
16223                NaN                  NaN               NaN
2656                 NaN                  NaN               NaN
4869                 NaN                  NaN               NaN
17776                NaN                  NaN               NaN
Loading with rasterio. Thu Sep 14 18:08:56 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2002_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[ 1  1  1 ...  1  1  1]
 [ 1  1  1 ...  1  1  1]
 [ 1  1  1 ...  1  1  1]
 ...
 [22 22 21 ... 22 22 22]
 [22 22 22 ... 22 22 22]
 [ 0  0  0 ...  0  0  0]]
Zonal statistics. Thu Sep 14 18:09:01 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2002_cfc.tif: NTL_Dstd2002_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
11023    59258               NaN                   0                NaN
16897   149102               NaN                   0                NaN
9459     50272               NaN                   0                NaN
8443     42754               NaN                   0                NaN
3541     13281              41.0                   1               41.0

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
11023                  NaN               NaN               NaN
16897                  NaN               NaN               NaN
9459                   NaN               NaN               NaN
8443                   NaN               NaN               NaN
3541                  41.0               0.0              59.0

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
11023                   0                NaN                  NaN  ...
16897                   0                NaN                  NaN  ...
9459                    0                NaN                  NaN  ...
8443                    0                NaN                  NaN  ...
3541                    1               59.0                 59.0  ...

       NTL_Dsum2001_cfc  NTL_Dcount2001_cfc  NTL_Dmean2001_cfc  \
11023               NaN                   0                NaN
16897               NaN                   0                NaN
9459                NaN                   0                NaN
8443                NaN                   0                NaN
3541               54.0                   1               54.0

       NTL_Dmedian2001_cfc  NTL_Dstd2001_cfc  NTL_Dsum2002_cfc  \
11023                  NaN               NaN               NaN
16897                  NaN               NaN               NaN
9459                   NaN               NaN               NaN
8443                   NaN               NaN               NaN
3541                  54.0               0.0              47.0

       NTL_Dcount2002_cfc  NTL_Dmean2002_cfc  NTL_Dmedian2002_cfc  \
11023                   0                NaN                  NaN
16897                   0                NaN                  NaN
9459                    0                NaN                  NaN
8443                    0                NaN                  NaN
3541                    1               47.0                 47.0

       NTL_Dstd2002_cfc
11023               NaN
16897               NaN
9459                NaN
8443                NaN
3541                0.0

[5 rows x 21 columns]
Loading with rasterio. Thu Sep 14 18:09:45 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2003_cfc.tif

| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[1 1 1 ... 1 1 1]
 [1 1 1 ... 1 1 1]
 [1 1 1 ... 1 1 1]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Zonal statistics. Thu Sep 14 18:09:49 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2003_cfc.tif: NTL_Dstd2003_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
12937    83373               NaN                   0                NaN
7200     34801               NaN                   0                NaN
11924    72335               NaN                   0                NaN
7219     34920               NaN                   0                NaN
3640     13803               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
12937                  NaN               NaN               NaN
7200                   NaN               NaN               NaN
11924                  NaN               NaN               NaN
7219                   NaN               NaN               NaN
3640                   NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
12937                   0                NaN                  NaN  ...
7200                    0                NaN                  NaN  ...
11924                   0                NaN                  NaN  ...
7219                    0                NaN                  NaN  ...
3640                    0                NaN                  NaN  ...

       NTL_Dsum2002_cfc  NTL_Dcount2002_cfc  NTL_Dmean2002_cfc  \
12937               NaN                   0                NaN
7200                NaN                   0                NaN
11924               NaN                   0                NaN
7219                NaN                   0                NaN
3640                NaN                   0                NaN

       NTL_Dmedian2002_cfc  NTL_Dstd2002_cfc  NTL_Dsum2003_cfc  \
12937                  NaN               NaN               NaN
7200                   NaN               NaN               NaN
11924                  NaN               NaN               NaN
7219                   NaN               NaN               NaN
3640                   NaN               NaN               NaN

       NTL_Dcount2003_cfc  NTL_Dmean2003_cfc  NTL_Dmedian2003_cfc  \
12937                   0                NaN                  NaN
7200                    0                NaN                  NaN
11924                   0                NaN                  NaN
7219                    0                NaN                  NaN
3640                    0                NaN                  NaN

       NTL_Dstd2003_cfc
12937               NaN
7200                NaN
11924               NaN
7219                NaN
3640                NaN

[5 rows x 26 columns]
Loading with rasterio. Thu Sep 14 18:10:32 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2004_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[ 8  8  8 ...  8  8  8]
 [ 8  8  8 ...  8  8  8]
 [13 13 13 ... 13 13 13]
 ...
 [ 4  4  4 ...  4  4  4]
 [ 4  5  5 ...  4  4  4]
 [ 4  5  5 ...  4  4  4]]
Zonal statistics. Thu Sep 14 18:10:36 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2004_cfc.tif: NTL_Dstd2004_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
610       2314               NaN                   0                NaN
16320   141992              42.0                   1               42.0
11121    59799               NaN                   0                NaN
250        985               NaN                   0                NaN
460       1743               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
610                    NaN               NaN               NaN
16320                 42.0               0.0              50.0
11121                  NaN               NaN               NaN
250                    NaN               NaN               NaN
460                    NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
610                     0                NaN                  NaN  ...
16320                   1               50.0                 50.0  ...
11121                   0                NaN                  NaN  ...
250                     0                NaN                  NaN  ...
460                     0                NaN                  NaN  ...

       NTL_Dsum2003_cfc  NTL_Dcount2003_cfc  NTL_Dmean2003_cfc  \
610                 NaN                   0                NaN
16320              48.0                   1               48.0
11121               NaN                   0                NaN
250                 NaN                   0                NaN
460                 NaN                   0                NaN

       NTL_Dmedian2003_cfc  NTL_Dstd2003_cfc  NTL_Dsum2004_cfc  \
610                    NaN               NaN               NaN
16320                 48.0               0.0              55.0
11121                  NaN               NaN               NaN
250                    NaN               NaN               NaN
460                    NaN               NaN               NaN

       NTL_Dcount2004_cfc  NTL_Dmean2004_cfc  NTL_Dmedian2004_cfc  \
610                     0                NaN                  NaN
16320                   1               55.0                 55.0
11121                   0                NaN                  NaN
250                     0                NaN                  NaN
460                     0                NaN                  NaN

       NTL_Dstd2004_cfc
610                 NaN
16320               0.0
11121               NaN
250                 NaN
460                 NaN

[5 rows x 31 columns]
Loading with rasterio. Thu Sep 14 18:11:20 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2005_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[ 0  0  0 ...  0  0  0]
 [13 13 13 ... 13 13 13]
 [24 24 24 ... 24 24 24]
 ...
 [ 3  3  2 ...  3  3  3]
 [ 3  3  3 ...  3  3  3]
 [ 3  3  3 ...  3  3  3]]
Zonal statistics. Thu Sep 14 18:11:24 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2005_cfc.tif: NTL_Dstd2005_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
4324     16899               NaN                   0                NaN
11932    72412               NaN                   0                NaN
17444   154002               NaN                   0                NaN
12275    76010               NaN                   0                NaN
7947     39792               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
4324                   NaN               NaN               NaN
11932                  NaN               NaN               NaN
17444                  NaN               NaN               NaN
12275                  NaN               NaN               NaN
7947                   NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
4324                    0                NaN                  NaN  ...
11932                   0                NaN                  NaN  ...
17444                   0                NaN                  NaN  ...
12275                   0                NaN                  NaN  ...
7947                    0                NaN                  NaN  ...

       NTL_Dsum2004_cfc  NTL_Dcount2004_cfc  NTL_Dmean2004_cfc  \
4324                NaN                   0                NaN
11932               NaN                   0                NaN
17444               NaN                   0                NaN
12275               NaN                   0                NaN
7947                NaN                   0                NaN

       NTL_Dmedian2004_cfc  NTL_Dstd2004_cfc  NTL_Dsum2005_cfc  \
4324                   NaN               NaN               NaN
11932                  NaN               NaN               NaN
17444                  NaN               NaN               NaN
12275                  NaN               NaN               NaN
7947                   NaN               NaN               NaN

       NTL_Dcount2005_cfc  NTL_Dmean2005_cfc  NTL_Dmedian2005_cfc  \
4324                    0                NaN                  NaN
11932                   0                NaN                  NaN
17444                   0                NaN                  NaN
12275                   0                NaN                  NaN
7947                    0                NaN                  NaN

       NTL_Dstd2005_cfc
4324                NaN
11932               NaN
17444               NaN
12275               NaN
7947                NaN

[5 rows x 36 columns]
Loading with rasterio. Thu Sep 14 18:12:07 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2006_cfc.tif

| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0 0 0 ... 0 0 0]
 [5 5 5 ... 5 5 5]
 [8 8 8 ... 8 8 8]
 ...
 [5 5 5 ... 5 5 5]
 [5 5 5 ... 5 5 5]
 [5 5 5 ... 5 5 5]]
Zonal statistics. Thu Sep 14 18:12:12 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2006_cfc.tif: NTL_Dstd2006_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
7741     38533               NaN                   0                NaN
12276    76021               NaN                   0                NaN
1720      6348               NaN                   0                NaN
12165    74884               NaN                   0                NaN
4169     16240               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
7741                   NaN               NaN               NaN
12276                  NaN               NaN               NaN
1720                   NaN               NaN               NaN
12165                  NaN               NaN               NaN
4169                   NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
7741                    0                NaN                  NaN  ...
12276                   0                NaN                  NaN  ...
1720                    0                NaN                  NaN  ...
12165                   0                NaN                  NaN  ...
4169                    0                NaN                  NaN  ...

       NTL_Dsum2005_cfc  NTL_Dcount2005_cfc  NTL_Dmean2005_cfc  \
7741                NaN                   0                NaN
12276               NaN                   0                NaN
1720                NaN                   0                NaN
12165               NaN                   0                NaN
4169                NaN                   0                NaN

       NTL_Dmedian2005_cfc  NTL_Dstd2005_cfc  NTL_Dsum2006_cfc  \
7741                   NaN               NaN               NaN
12276                  NaN               NaN               NaN
1720                   NaN               NaN               NaN
12165                  NaN               NaN               NaN
4169                   NaN               NaN               NaN

       NTL_Dcount2006_cfc  NTL_Dmean2006_cfc  NTL_Dmedian2006_cfc  \
7741                    0                NaN                  NaN
12276                   0                NaN                  NaN
1720                    0                NaN                  NaN
12165                   0                NaN                  NaN
4169                    0                NaN                  NaN

       NTL_Dstd2006_cfc
7741                NaN
12276               NaN
1720                NaN
12165               NaN
4169                NaN

[5 rows x 41 columns]
Loading with rasterio. Thu Sep 14 18:12:55 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2007_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[ 0  0  0 ...  0  0  0]
 [12 12 12 ... 12 12 12]
 [19 19 19 ... 19 19 19]
 ...
 [ 4  4  4 ...  4  4  4]
 [ 4  4  4 ...  4  4  4]
 [ 4  4  4 ...  4  4  4]]
Zonal statistics. Thu Sep 14 18:12:59 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2007_cfc.tif: NTL_Dstd2007_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
9509     50559               NaN                   0                NaN
3002     10891               NaN                   0                NaN
17824   155532               NaN                   0                NaN
15076   118589               NaN                   0                NaN
2957     10666               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
9509                   NaN               NaN               NaN
3002                   NaN               NaN               NaN
17824                  NaN               NaN               NaN
15076                  NaN               NaN               NaN
2957                   NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
9509                    0                NaN                  NaN  ...
3002                    0                NaN                  NaN  ...
17824                   0                NaN                  NaN  ...
15076                   0                NaN                  NaN  ...
2957                    0                NaN                  NaN  ...

       NTL_Dsum2006_cfc  NTL_Dcount2006_cfc  NTL_Dmean2006_cfc  \
9509                NaN                   0                NaN
3002                NaN                   0                NaN
17824               NaN                   0                NaN
15076               NaN                   0                NaN
2957                NaN                   0                NaN

       NTL_Dmedian2006_cfc  NTL_Dstd2006_cfc  NTL_Dsum2007_cfc  \
9509                   NaN               NaN               NaN
3002                   NaN               NaN               NaN
17824                  NaN               NaN               NaN
15076                  NaN               NaN               NaN
2957                   NaN               NaN               NaN

       NTL_Dcount2007_cfc  NTL_Dmean2007_cfc  NTL_Dmedian2007_cfc  \
9509                    0                NaN                  NaN
3002                    0                NaN                  NaN
17824                   0                NaN                  NaN
15076                   0                NaN                  NaN
2957                    0                NaN                  NaN

       NTL_Dstd2007_cfc
9509                NaN
3002                NaN
17824               NaN
15076               NaN
2957                NaN

[5 rows x 46 columns]
Loading with rasterio. Thu Sep 14 18:13:42 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2008_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [1 1 1 ... 1 1 1]
 [1 1 1 ... 1 1 1]
 [1 1 1 ... 1 1 1]]
Zonal statistics. Thu Sep 14 18:13:47 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2008_cfc.tif: NTL_Dstd2008_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
13679    98587               NaN                   0                NaN
3052     11095               NaN                   0                NaN
4270     16670               NaN                   0                NaN
9892     52710               NaN                   0                NaN
14548   106971               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
13679                  NaN               NaN               NaN
3052                   NaN               NaN               NaN
4270                   NaN               NaN               NaN
9892                   NaN               NaN               NaN
14548                  NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
13679                   0                NaN                  NaN  ...
3052                    0                NaN                  NaN  ...
4270                    0                NaN                  NaN  ...
9892                    0                NaN                  NaN  ...
14548                   0                NaN                  NaN  ...

       NTL_Dsum2007_cfc  NTL_Dcount2007_cfc  NTL_Dmean2007_cfc  \
13679               NaN                   0                NaN
3052                NaN                   0                NaN
4270                NaN                   0                NaN
9892                NaN                   0                NaN
14548               NaN                   0                NaN

       NTL_Dmedian2007_cfc  NTL_Dstd2007_cfc  NTL_Dsum2008_cfc  \
13679                  NaN               NaN               NaN
3052                   NaN               NaN               NaN
4270                   NaN               NaN               NaN
9892                   NaN               NaN               NaN
14548                  NaN               NaN               NaN

       NTL_Dcount2008_cfc  NTL_Dmean2008_cfc  NTL_Dmedian2008_cfc  \
13679                   0                NaN                  NaN
3052                    0                NaN                  NaN
4270                    0                NaN                  NaN
9892                    0                NaN                  NaN
14548                   0                NaN                  NaN

       NTL_Dstd2008_cfc
13679               NaN
3052                NaN
4270                NaN
9892                NaN
14548               NaN

[5 rows x 51 columns]
Loading with rasterio. Thu Sep 14 18:14:30 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2009_cfc.tif

| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Zonal statistics. Thu Sep 14 18:14:34 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2009_cfc.tif: NTL_Dstd2009_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
11985    72878               NaN                   0                NaN
9296     49381               NaN                   0                NaN
11384    61232               NaN                   0                NaN
5239     22546               NaN                   0                NaN
3028     10996               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
11985                  NaN               NaN               NaN
9296                   NaN               NaN               NaN
11384                  NaN               NaN               NaN
5239                   NaN               NaN               NaN
3028                   NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
11985                   0                NaN                  NaN  ...
9296                    0                NaN                  NaN  ...
11384                   0                NaN                  NaN  ...
5239                    0                NaN                  NaN  ...
3028                    0                NaN                  NaN  ...

       NTL_Dsum2008_cfc  NTL_Dcount2008_cfc  NTL_Dmean2008_cfc  \
11985               NaN                   0                NaN
9296                NaN                   0                NaN
11384               NaN                   0                NaN
5239                NaN                   0                NaN
3028                NaN                   0                NaN

       NTL_Dmedian2008_cfc  NTL_Dstd2008_cfc  NTL_Dsum2009_cfc  \
11985                  NaN               NaN               NaN
9296                   NaN               NaN               NaN
11384                  NaN               NaN               NaN
5239                   NaN               NaN               NaN
3028                   NaN               NaN               NaN

       NTL_Dcount2009_cfc  NTL_Dmean2009_cfc  NTL_Dmedian2009_cfc  \
11985                   0                NaN                  NaN
9296                    0                NaN                  NaN
11384                   0                NaN                  NaN
5239                    0                NaN                  NaN
3028                    0                NaN                  NaN

       NTL_Dstd2009_cfc
11985               NaN
9296                NaN
11384               NaN
5239                NaN
3028                NaN

[5 rows x 56 columns]
Loading with rasterio. Thu Sep 14 18:15:17 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2010_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [1 1 1 ... 1 1 1]
 [1 1 1 ... 1 1 1]
 [1 1 1 ... 1 1 1]]
Zonal statistics. Thu Sep 14 18:15:20 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2010_cfc.tif: NTL_Dstd2010_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
11774    70810               NaN                   0                NaN
10493    56222               NaN                   0                NaN
8101     40737               NaN                   0                NaN
10379    55475               NaN                   0                NaN
10733    57600               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
11774                  NaN               NaN               NaN
10493                  NaN               NaN               NaN
8101                   NaN               NaN               NaN
10379                  NaN               NaN               NaN
10733                  NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
11774                   0                NaN                  NaN  ...
10493                   0                NaN                  NaN  ...
8101                    0                NaN                  NaN  ...
10379                   0                NaN                  NaN  ...
10733                   0                NaN                  NaN  ...

       NTL_Dsum2009_cfc  NTL_Dcount2009_cfc  NTL_Dmean2009_cfc  \
11774               NaN                   0                NaN
10493               NaN                   0                NaN
8101                NaN                   0                NaN
10379               NaN                   0                NaN
10733               NaN                   0                NaN

       NTL_Dmedian2009_cfc  NTL_Dstd2009_cfc  NTL_Dsum2010_cfc  \
11774                  NaN               NaN               NaN
10493                  NaN               NaN               NaN
8101                   NaN               NaN               NaN
10379                  NaN               NaN               NaN
10733                  NaN               NaN               NaN

       NTL_Dcount2010_cfc  NTL_Dmean2010_cfc  NTL_Dmedian2010_cfc  \
11774                   0                NaN                  NaN
10493                   0                NaN                  NaN
8101                    0                NaN                  NaN
10379                   0                NaN                  NaN
10733                   0                NaN                  NaN

       NTL_Dstd2010_cfc
11774               NaN
10493               NaN
8101                NaN
10379               NaN
10733               NaN

[5 rows x 61 columns]
Loading with rasterio. Thu Sep 14 18:16:03 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2011_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[8 8 8 ... 8 8 8]
 [8 8 8 ... 8 8 8]
 [8 8 8 ... 8 8 8]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Zonal statistics. Thu Sep 14 18:16:07 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2011_cfc.tif: NTL_Dstd2011_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
7619     37770               NaN                   0                NaN
10520    56365               NaN                   0                NaN
5980     27502               NaN                   0                NaN
11976    72772               NaN                   0                NaN
16568   143508               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
7619                   NaN               NaN               NaN
10520                  NaN               NaN               NaN
5980                   NaN               NaN               NaN
11976                  NaN               NaN               NaN
16568                  NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
7619                    0                NaN                  NaN  ...
10520                   0                NaN                  NaN  ...
5980                    0                NaN                  NaN  ...
11976                   0                NaN                  NaN  ...
16568                   0                NaN                  NaN  ...

       NTL_Dsum2010_cfc  NTL_Dcount2010_cfc  NTL_Dmean2010_cfc  \
7619                NaN                   0                NaN
10520               NaN                   0                NaN
5980                NaN                   0                NaN
11976               NaN                   0                NaN
16568               NaN                   0                NaN

       NTL_Dmedian2010_cfc  NTL_Dstd2010_cfc  NTL_Dsum2011_cfc  \
7619                   NaN               NaN               NaN
10520                  NaN               NaN               NaN
5980                   NaN               NaN               NaN
11976                  NaN               NaN               NaN
16568                  NaN               NaN               NaN

       NTL_Dcount2011_cfc  NTL_Dmean2011_cfc  NTL_Dmedian2011_cfc  \
7619                    0                NaN                  NaN
10520                   0                NaN                  NaN
5980                    0                NaN                  NaN
11976                   0                NaN                  NaN
16568                   0                NaN                  NaN

       NTL_Dstd2011_cfc
7619                NaN
10520               NaN
5980                NaN
11976               NaN
16568               NaN

[5 rows x 66 columns]
Loading with rasterio. Thu Sep 14 18:16:50 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2012_cfc.tif

| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[4 4 4 ... 4 4 4]
 [4 4 4 ... 4 4 4]
 [4 4 4 ... 4 4 4]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
Zonal statistics. Thu Sep 14 18:16:54 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2012_cfc.tif: NTL_Dstd2012_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
10484    56175               NaN                   0                NaN
7811     38993               NaN                   0                NaN
16925   149603               NaN                   0                NaN
14870   112773               NaN                   0                NaN
14760   109581               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
10484                  NaN               NaN               NaN
7811                   NaN               NaN               NaN
16925                  NaN               NaN               NaN
14870                  NaN               NaN               NaN
14760                  NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
10484                   0                NaN                  NaN  ...
7811                    0                NaN                  NaN  ...
16925                   0                NaN                  NaN  ...
14870                   0                NaN                  NaN  ...
14760                   0                NaN                  NaN  ...

       NTL_Dsum2011_cfc  NTL_Dcount2011_cfc  NTL_Dmean2011_cfc  \
10484               NaN                   0                NaN
7811                NaN                   0                NaN
16925               NaN                   0                NaN
14870               NaN                   0                NaN
14760               NaN                   0                NaN

       NTL_Dmedian2011_cfc  NTL_Dstd2011_cfc  NTL_Dsum2012_cfc  \
10484                  NaN               NaN               NaN
7811                   NaN               NaN               NaN
16925                  NaN               NaN               NaN
14870                  NaN               NaN               NaN
14760                  NaN               NaN               NaN

       NTL_Dcount2012_cfc  NTL_Dmean2012_cfc  NTL_Dmedian2012_cfc  \
10484                   0                NaN                  NaN
7811                    0                NaN                  NaN
16925                   0                NaN                  NaN
14870                   0                NaN                  NaN
14760                   0                NaN                  NaN

       NTL_Dstd2012_cfc
10484               NaN
7811                NaN
16925               NaN
14870               NaN
14760               NaN

[5 rows x 71 columns]
Loading with rasterio. Thu Sep 14 18:17:37 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2013_cfc.tif
| 0.01, 0.00,-180.00|
| 0.00,-0.01, 75.00|
| 0.00, 0.00, 1.00|
[[24 24 24 ... 24 24 24]
 [24 24 24 ... 24 24 24]
 [24 24 24 ... 24 24 24]
 ...
 [ 3  3  3 ...  3  3  3]
 [ 3  3  3 ...  3  3  3]
 [ 0  0  0 ...  0  0  0]]
Zonal statistics. Thu Sep 14 18:17:41 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\D_2013_cfc.tif: NTL_Dstd2013_cfc
       Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
7842     39158               NaN                   0                NaN
12711    80738               NaN                   0                NaN
4413     17450               NaN                   0                NaN
13271    90635               NaN                   0                NaN
17104   152693               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
7842                   NaN               NaN               NaN
12711                  NaN               NaN               NaN
4413                   NaN               NaN               NaN
13271                  NaN               NaN               NaN
17104                  NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
7842                    0                NaN                  NaN  ...
12711                   0                NaN                  NaN  ...
4413                    0                NaN                  NaN  ...
13271                   0                NaN                  NaN  ...
17104                   0                NaN                  NaN  ...

       NTL_Dsum2012_cfc  NTL_Dcount2012_cfc  NTL_Dmean2012_cfc  \
7842                NaN                   0                NaN
12711               NaN                   0                NaN
4413                NaN                   0                NaN
13271               NaN                   0                NaN
17104               NaN                   0                NaN

       NTL_Dmedian2012_cfc  NTL_Dstd2012_cfc  NTL_Dsum2013_cfc  \
7842                   NaN               NaN               NaN
12711                  NaN               NaN               NaN
4413                   NaN               NaN               NaN
13271                  NaN               NaN               NaN
17104                  NaN               NaN               NaN

       NTL_Dcount2013_cfc  NTL_Dmean2013_cfc  NTL_Dmedian2013_cfc  \
7842                    0                NaN                  NaN
12711                   0                NaN                  NaN
4413                    0                NaN                  NaN
13271                   0                NaN                  NaN
17104                   0                NaN                  NaN

       NTL_Dstd2013_cfc
7842                NaN
12711               NaN
4413                NaN
13271               NaN
17104               NaN

[5 rows x 76 columns]
Final dataframe:
        Sett_ID  NTL_Dsum1999_cfc  NTL_Dcount1999_cfc  NTL_Dmean1999_cfc  \
11080    59587               NaN                   0                NaN
10963    58905               NaN                   0                NaN
6503     30790               NaN                   0                NaN
3902     15070               NaN                   0                NaN
15944   137604               NaN                   0                NaN

       NTL_Dmedian1999_cfc  NTL_Dstd1999_cfc  NTL_Dsum2000_cfc  \
11080                  NaN               NaN               NaN
10963                  NaN               NaN               NaN
6503                   NaN               NaN               NaN
3902                   NaN               NaN               NaN
15944                  NaN               NaN               NaN

       NTL_Dcount2000_cfc  NTL_Dmean2000_cfc  NTL_Dmedian2000_cfc  ...  \
11080                   0                NaN                  NaN  ...
10963                   0                NaN                  NaN  ...
6503                    0                NaN                  NaN  ...
3902                    0                NaN                  NaN  ...
15944                   0                NaN                  NaN  ...

       NTL_Dsum2012_cfc  NTL_Dcount2012_cfc  NTL_Dmean2012_cfc  \
11080               NaN                   0                NaN
10963               NaN                   0                NaN
6503                NaN                   0                NaN
3902                NaN                   0                NaN
15944               NaN                   0                NaN

       NTL_Dmedian2012_cfc  NTL_Dstd2012_cfc  NTL_Dsum2013_cfc  \
11080                  NaN               NaN               NaN
10963                  NaN               NaN               NaN
6503                   NaN               NaN               NaN
3902                   NaN               NaN               NaN
15944                  NaN               NaN               NaN

       NTL_Dcount2013_cfc  NTL_Dmean2013_cfc  NTL_Dmedian2013_cfc  \
11080                   0                NaN                  NaN
10963                   0                NaN                  NaN
6503                    0                NaN                  NaN
3902                    0                NaN                  NaN
15944                   0                NaN                  NaN

       NTL_Dstd2013_cfc
11080               NaN
10963               NaN
6503                NaN
3902                NaN
15944               NaN

[5 rows x 76 columns]

Dataframe to merge with:
        Sett_ID
0            3
1            7
2           14
3           17
4           21
...        ...
18547   157067
18548   157070
18549   157072
18550   157073
18551   157079

[18552 rows x 1 columns]
Loading with rasterio. Thu Sep 14 18:18:24 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2012_cfc.tif
| 0.00, 0.00,-180.00|
| 0.00,-0.00, 75.00|
| 0.00, 0.00, 1.00|
[[42 40 40 ... 42 42 28]
 [40 40 40 ... 41 41 27]
 [40 40 40 ... 41 41 27]
 ...
 [58 61 63 ... 61 58 54]
 [59 64 66 ... 59 61 55]
 [ 0  0  0 ...  0  0  0]]
Zonal statistics. Thu Sep 14 18:18:40 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2012_cfc.tif: NTL_Vstd2012_cfc
       Sett_ID  NTL_Vsum2012_cfc  NTL_Vcount2012_cfc  NTL_Vmean2012_cfc  \
9074     48169               NaN                   0                NaN
12564    79308               NaN                   0                NaN
9365     49718               NaN                   0                NaN
9680     51532               NaN                   0                NaN
13898   101261              94.0                   1               94.0

       NTL_Vmedian2012_cfc  NTL_Vstd2012_cfc
9074                   NaN               NaN
12564                  NaN               NaN
9365                   NaN               NaN
9680                   NaN               NaN
13898                 94.0               0.0
Loading with rasterio. Thu Sep 14 18:19:24 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2013_cfc.tif
| 0.00, 0.00,-180.00|
| 0.00,-0.00, 75.00|
| 0.00, 0.00, 1.00|
[[ 75  75  76 ...  74  75  55]
 [ 74  75  75 ...  74  74  54]
 [ 74  74  74 ...  74  74  54]
 ...
 [107 106 105 ... 106 108 102]
 [114 115 108 ... 108 112 109]
 [  0   0   0 ...   0   0   0]]
Zonal statistics. Thu Sep 14 18:19:42 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2013_cfc.tif: NTL_Vstd2013_cfc
       Sett_ID  NTL_Vsum2012_cfc  NTL_Vcount2012_cfc  NTL_Vmean2012_cfc  \
17901   155701              87.0                   1               87.0
14960   115187               NaN                   0                NaN
12857    82493               NaN                   0                NaN
8643     45358               NaN                   0                NaN
14379   105475               NaN                   0                NaN

       NTL_Vmedian2012_cfc  NTL_Vstd2012_cfc  NTL_Vsum2013_cfc  \
17901                 87.0               0.0             127.0
14960                  NaN               NaN               NaN
12857                  NaN               NaN               NaN
8643                   NaN               NaN               NaN
14379                  NaN               NaN               NaN

       NTL_Vcount2013_cfc  NTL_Vmean2013_cfc  NTL_Vmedian2013_cfc  \
17901                   1              127.0                127.0
14960                   0                NaN                  NaN
12857                   0                NaN                  NaN
8643                    0                NaN                  NaN
14379                   0                NaN                  NaN

       NTL_Vstd2013_cfc
17901               0.0
14960               NaN
12857               NaN
8643                NaN
14379               NaN
Loading with rasterio. Thu Sep 14 18:20:25 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2014_cfc.tif
| 0.00, 0.00,-180.00|
| 0.00,-0.00, 75.00|
| 0.00, 0.00, 1.00|
[[252 253 252 ... 249 249 131]
 [253 254 252 ... 251 252 133]
 [249 248 247 ... 247 248 131]
 ...
 [124 130 131 ... 124 124 119]
 [132 142 142 ... 126 129 127]
 [  0   0   0 ...   0   0   0]]
Zonal statistics. Thu Sep 14 18:20:42 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2014_cfc.tif: NTL_Vstd2014_cfc
       Sett_ID  NTL_Vsum2012_cfc  NTL_Vcount2012_cfc  NTL_Vmean2012_cfc  \
4048     15737             274.0                   3          91.333333
6800     32541             124.0                   1         124.000000
5924     27111              87.0                   1          87.000000
16189   138775               NaN                   0                NaN
13443    95561               NaN                   0                NaN

       NTL_Vmedian2012_cfc  NTL_Vstd2012_cfc  NTL_Vsum2013_cfc  \
4048                  90.0          2.624669             394.0
6800                 124.0          0.000000             176.0
5924                  87.0          0.000000             127.0
16189                  NaN               NaN               NaN
13443                  NaN               NaN               NaN

       NTL_Vcount2013_cfc  NTL_Vmean2013_cfc  NTL_Vmedian2013_cfc  \
4048                    3         131.333333                132.0
6800                    1         176.000000                176.0
5924                    1         127.000000                127.0
16189                   0                NaN                  NaN
13443                   0                NaN                  NaN

       NTL_Vstd2013_cfc  NTL_Vsum2014_cfc  NTL_Vcount2014_cfc  \
4048           1.699673             511.0                   3
6800           0.000000             202.0                   1
5924           0.000000             177.0                   1
16189               NaN               NaN                   0
13443               NaN               NaN                   0

       NTL_Vmean2014_cfc  NTL_Vmedian2014_cfc  NTL_Vstd2014_cfc
4048          170.333333                171.0          0.942809
6800          202.000000                202.0          0.000000
5924          177.000000                177.0          0.000000
16189                NaN                  NaN               NaN
13443                NaN                  NaN               NaN
Loading with rasterio. Thu Sep 14 18:21:26 2023
Raster: Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2015_cfc.tif
| 0.00, 0.00,-180.00|
| 0.00,-0.00, 75.00|
| 0.00, 0.00, 1.00|
[[270 267 268 ... 271 271 148]
 [269 266 265 ... 269 268 148]
 [267 263 264 ... 268 267 146]
 ...
 [ 94  99  97 ...  95  93  87]
 [ 93  98  94 ...  91  91  86]
 [  0   0   0 ...   0   0   0]]
Zonal statistics. Thu Sep 14 18:21:43 2023
std stat output field for Q:\GIS\povertyequity\urban_growth\NighttimeLights_VIIRS_DMSP\Temp\V_2015_cfc.tif: NTL_Vstd2015_cfc
       Sett_ID  NTL_Vsum2012_cfc  NTL_Vcount2012_cfc  NTL_Vmean2012_cfc  \
6471     30554               NaN                   0                NaN
1192      4488               NaN                   0                NaN
7151     34427               NaN                   0                NaN
1272      4752               NaN                   0                NaN
16443   143226               NaN                   0                NaN

       NTL_Vmedian2012_cfc  NTL_Vstd2012_cfc  NTL_Vsum2013_cfc  \
6471                   NaN               NaN               NaN
1192                   NaN               NaN               NaN
7151                   NaN               NaN               NaN
1272                   NaN               NaN               NaN
16443                  NaN               NaN               NaN

       NTL_Vcount2013_cfc  NTL_Vmean2013_cfc  NTL_Vmedian2013_cfc  ...  \
6471                    0                NaN                  NaN  ...
1192                    0                NaN                  NaN  ...
7151                    0                NaN                  NaN  ...
1272                    0                NaN                  NaN  ...
16443                   0                NaN                  NaN  ...

       NTL_Vsum2014_cfc  NTL_Vcount2014_cfc  NTL_Vmean2014_cfc  \
6471                NaN                   0                NaN
1192                NaN                   0                NaN
7151                NaN                   0                NaN
1272                NaN                   0                NaN
16443               NaN                   0                NaN

       NTL_Vmedian2014_cfc  NTL_Vstd2014_cfc  NTL_Vsum2015_cfc  \
6471                   NaN               NaN               NaN
1192                   NaN               NaN               NaN
7151                   NaN               NaN               NaN
1272                   NaN               NaN               NaN
16443                  NaN               NaN               NaN

       NTL_Vcount2015_cfc  NTL_Vmean2015_cfc  NTL_Vmedian2015_cfc  \
6471                    0                NaN                  NaN
1192                    0                NaN                  NaN
7151                    0                NaN                  NaN
1272                    0                NaN                  NaN
16443                   0                NaN                  NaN

       NTL_Vstd2015_cfc
6471                NaN
1192                NaN
7151                NaN
1272                NaN
16443               NaN

[5 rows x 21 columns]
Final dataframe:
        Sett_ID  NTL_Vsum2012_cfc  NTL_Vcount2012_cfc  NTL_Vmean2012_cfc  \
16076   138155             888.0                   9          98.666667
6475     30580               NaN                   0                NaN
18130   156218               NaN                   0                NaN
13137    87098               NaN                   0                NaN
14685   108243              89.0                   1          89.000000

       NTL_Vmedian2012_cfc  NTL_Vstd2012_cfc  NTL_Vsum2013_cfc  \
16076                 99.0          1.699673            1301.0
6475                   NaN               NaN               NaN
18130                  NaN               NaN               NaN
13137                  NaN               NaN               NaN
14685                 89.0          0.000000             136.0

       NTL_Vcount2013_cfc  NTL_Vmean2013_cfc  NTL_Vmedian2013_cfc  ...  \
16076                   9         144.555556                144.0  ...
6475                    0                NaN                  NaN  ...
18130                   0                NaN                  NaN  ...
13137                   0                NaN                  NaN  ...
14685                   1         136.000000                136.0  ...

       NTL_Vsum2014_cfc  NTL_Vcount2014_cfc  NTL_Vmean2014_cfc  \
16076            1762.0                   9         195.777778
6475                NaN                   0                NaN
18130               NaN                   0                NaN
13137               NaN                   0                NaN
14685             185.0                   1         185.000000

       NTL_Vmedian2014_cfc  NTL_Vstd2014_cfc  NTL_Vsum2015_cfc  \
16076                196.0          2.148787            1593.0
6475                   NaN               NaN               NaN
18130                  NaN               NaN               NaN
13137                  NaN               NaN               NaN
14685                185.0          0.000000             181.0

       NTL_Vcount2015_cfc  NTL_Vmean2015_cfc  NTL_Vmedian2015_cfc  \
16076                   9              177.0                178.0
6475                    0                NaN                  NaN
18130                   0                NaN                  NaN
13137                   0                NaN                  NaN
14685                   1              181.0                181.0

       NTL_Vstd2015_cfc
16076          4.136558
6475                NaN
18130               NaN
13137               NaN
14685          0.000000

[5 rows x 21 columns]

---

## 10. FLOOD EXPOSURE BY RETURN PERIOD

### 10.1 Calculate Expected Annual Depth (EAD) using exceedance probabilities of every flood return period.

##### Flood layers

In [ ]:
FloodFolder = os.path.join(Source, 'Flood')

In [ ]:
InRasters = os.listdir(FloodFolder)
InRasters

In [ ]:
Exceedances = []
    
for Raster in InRasters:
    InPath = os.path.join(SourceFolder, Raster)
    RP = re.sub('\D', '', Raster)[1:] # Get the return period
    NewFileName = Raster.replace('.tif', '_EXC.tif')
    OutPath = os.path.join(FloodFolder, NewFileName)
    
    Calc = "(1/" + RP + ")*A"

    calcShell(A=InPath, OutFile=OutPath, Calculation = Calc)
    Exceedances = Exceedances + [NewFileName]
    
print('Done with list. New flood set: %s' % Exceedances)

In [ ]:
# gdal_calc doesn't always take well to adding together a large number of files, so we'll do it in 2 batches.

Calc = 'A+B+C+D+E'
OutName = 'Batch1.tif'

A = os.path.join(FloodFolder, Exceedances[0])
B = os.path.join(FloodFolder, Exceedances[1])
C = os.path.join(FloodFolder, Exceedances[2])
D = os.path.join(FloodFolder, Exceedances[3])
E = os.path.join(FloodFolder, Exceedances[4])

calcShell(A=A, B=B, C=C, D=D, E=E,
          OutFile = os.path.join(FloodFolder, OutName), 
          Calculation = Calc)

In [ ]:
Calc = 'A+B+C+D+E+F'
OutName = 'FU_ExpectedAnnualDepth.tif'

A = os.path.join(FloodFolder, 'Batch1.tif')
B = os.path.join(FloodFolder, Exceedances[5])
C = os.path.join(FloodFolder, Exceedances[6])
D = os.path.join(FloodFolder, Exceedances[7])
E = os.path.join(FloodFolder, Exceedances[8])
F = os.path.join(FloodFolder, Exceedances[9])

calcShell(A=A, B=B, C=C, D=D, E=E, F=F,
          OutFile = os.path.join(FloodFolder, OutName), 
          Calculation = Calc)

### 10.2 Reclassify and resample flood data and buildup data in preparation for the impact calculation.

##### Reclassify flood as a binary: flooded / not-flooded

In [ ]:
InPath = os.path.join(FloodFolder, OutName)
OutPath = os.path.join(FloodFolder, 'FU_EAD_reclassed.tif')

[xsize, ysize, geotransform, geoproj, Z] = readRaster(InPath)

Z[Z<0.15] = 0 # Not-flooded category. This includes no data cells.
Z[Z>=0.15] = 1 # Flooded category. This includes permanent water bodies.

writeRaster(OutPath,geotransform,geoproj,Z)
InPath = OutPath = None

print('Finished reclassifying. %s' % time.ctime())

##### Buildup

In [ ]:
WSFE = 'WSFE_equalarea.tif'
WSFEPath = os.path.join(Workspace, 'Buildup', WSFE)
OutPath = os.path.join(FloodFolder, WSFE.replace('equalarea.tif', 'simplified.tif'))

[xsize, ysize, geotransform, geoproj, Z] = readRaster(WSFEPath)

np.putmask(Z, Z>0, Z-1984) # All years now converted to at most 2 digits: 1-31. (All non-buildup = 0)

writeRaster(OutPath,geotransform,geoproj,Z)

print('\nSimplified buildup file: %s' % OutPath)

##### Resample flood to match buildup

In [ ]:
WSFEPath = os.path.join(FloodFolder, 'WSFE_simplified.tif') 

RasterPath = os.path.join(FloodFolder, 'FU_EAD_reclassed.tif')
OutPath = os.path.join(FloodFolder, 'FU_EAD_resampled.tif')
resampleRaster(RasterPath, WSFEPath, OutPath)
    
print('Resampled to match WSFE. %s' % time.ctime())

### 10.3 Mask out built areas that were not flooded.

In [ ]:
# WSFEPath = os.path.join(FloodFolder, 'WSFE_simplified.tif') 
    
InPath = os.path.join(FloodFolder, 'FU_EAD_resampled.tif')
OutPath = os.path.join(FloodFolder, 'FU_EAD_WSFEimpact.tif')

calcShell(A=WSFEPath, B=InPath, OutFile=OutPath, Calculation="A*B", OutType=" --type=Byte")
    
print('Done. Only built-up cells that have been flooded remain.. %s' % time.ctime())

### 10.4 Join with Settlements via concatenation
Using the serial method, combine settlement IDs with 1) WSFE year cells and 2) the flooded-only WSFE year cells under each scenario.

##### Rasterize the settlements we've created.

In [ ]:
# WSFEPath = os.path.join(FloodFolder, 'WSFE_simplified.tif') 
OutSett = os.path.join(Results, ''.join(['Settlements', str(WSFE_end), '_rasterized.tif'])
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')[['Sett_ID', 'geometry']]

len_WSFE = 2 # We already know that the WSFE years are reclassified to 1-31, i.e. a max of 2 digits.

In [ ]:
ShapeToRaster(Shapefile=Settlements, ValueVar="Sett_ID", MetaRasterPath=WSFEPath, OutFilePath=OutSett, NewDType = 'uint32')

##### Calculations

In [ ]:
Calc = "(A*" + str(10**len_WSFE) + ")+B" 

FloodImpactPath = os.path.join(FloodFolder, 'FU_EAD_WSFEimpact.tif')
FloodSerialPath = os.path.join(FloodFolder, 'FU_Settlements_serial.tif')

#WSFEPath = os.path.join(FloodFolder, 'WSFE_simplified.tif')
WSFESerialPath = os.path.join(FloodFolder, 'WSFE_Settlements_serial.tif')

In [ ]:
calcShell(A=OutSett, B=FloodImpactPath, OutFile=FloodSerialPath, Calculation=Calc)
calcShell(A=OutSett, B=WSFEPath, OutFile=WSFESerialPath, Calculation=Calc)

### 10.5 Vector math to split raster strings into Settlement and WSFE year assignments.

##### Vectorize

In [ ]:
FloodVec = 'FloodedBuildup.shp' # Was having write issues when putting both in the same gpkg, so we're settling for .shp.
FloodVecPath = os.path.join(FloodFolder, FloodVec)
BuildVec = 'AllBuildup.shp' 
BuildVecPath = os.path.join(FloodFolder, BuildVec)

In [ ]:
RasterToShapefile(InRasterPath=FloodSerialPath, OutFilePath=FloodVecPath, 
                  OutName='', VariableName='gridcode')
RasterToShapefile(InRasterPath=WSFESerialPath, OutFilePath=BuildVecPath, 
                  OutName='', VariableName='gridcode')

##### Split string into separate fields

In [ ]:
Sett_rio = rasterio.open(os.path.join(Results, ''.join(['Settlements', str(WSFE_end), '_rasterized.tif']))).read(1)
len_Sett = len(str(Sett_rio.max()))
Sett_rio = None

Fill = len_Sett + 2 # Add the digits stored as len_WSFE # or just write +2 since we already know the length of reclassed WSFE.

OutPackage = os.path.join(FloodFolder, 'FloodedSettlements.gpkg')

In [ ]:
# Load newly created vectorized datasets.
for File in [FloodVec, BuildVec]:
    InObject = gpd.read_file(os.path.join(FloodFolder, File)).to_crs("ESRI:102022")
    print(InObject.info(), '\n\n', InObject.sample(10), '\n\n', InObject.crs, '\n\n', InObject['gridcode'].max())
    
    InObject['gridstring'] = InObject['gridcode'].astype(str).str.zfill(Fill)

    InObject['Sett_ID'] = InObject['gridstring'].str[:-2].astype(int) # Remove the last digits to get the Sett ID portion.
    InObject['year'] = InObject['gridstring'].str[-2:].astype(int) # Keep only the last digits to get the year portion.
    InObject['year'] = np.where(InObject['year'] > 0, InObject['year'] + 1984, InObject['year']) # Reclass back to year value.
    
    print('%s Serial split by year of buildup and Sett ID.\n\n' % time.ctime(), InObject.sample(10))
    
    # Remove features where year or settlement = 0.
    print("%s Before: %s\n" % (File, InObject.shape))
    InObject = InObject.loc[(InObject["year"] >1984) & (InObject["year"] < 2016) & (InObject["Sett_ID"] != 0)] 
    print("%s After: %s\n" % (File, InObject.shape))

    # Save intermediate file.
    InObject.to_file(driver='GPKG', filename=OutPackage, layer=File.replace('.shp', ''))

### 10.6 Group by settlement and count cells for each year.

##### Flooded buildings

In [ ]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')
AllSummaries = pd.DataFrame(Settlements).drop(columns='geometry')[['Sett_ID']]
Settlements = None

ValObject = pd.DataFrame(gpd.read_file(OutPackage, layer='FloodedBuildup'))[['Sett_ID', 'year']]

print(AllSummaries.info(), '\n', AllSummaries.sample(10), '\n', ValObject.info(), '\n', ValObject.sample(10))

In [ ]:
for BuiltYear in EligibleYears:
    GroupedVals = ValObject[
        ValObject['year']<=BuiltYear].groupby(
        'Sett_ID', as_index=False)
    
    VariableName = ''.join(['FLDct_', str(BuiltYear)])
    
    AllSummaries = AllSummaries.merge(GroupedVals.count().rename(columns={'year': VariableName}), how = 'left', on='Sett_ID')

    print('\nDesired aggregation methods applied to settlement level, year %s. %s \n' % (BuiltYear, time.ctime()))

    # Save in-progress results
    AllSummaries.to_csv(os.path.join(FloodFolder, 'FloodedCellCount.csv'))
    print(AllSummaries.sort_values(by=AllSummaries.columns[1], ascending=False).head(10))

##### All buildings

In [ ]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')
AllSummaries = pd.DataFrame(Settlements).drop(columns='geometry')[['Sett_ID']]
Settlements = None
AllSummaries

ValObject = pd.DataFrame(gpd.read_file(OutPackage, layer='AllBuildup'))[['Sett_ID', 'year']]

In [ ]:
for BuiltYear in EligibleYears:
    GroupedVals = ValObject[
        ValObject['year']<=BuiltYear].groupby(
        'Sett_ID', as_index=False)
    
    VariableName = ''.join(['BLDct_', str(BuiltYear)])
    
    AllSummaries = AllSummaries.merge(GroupedVals.count().rename(columns={'year': VariableName}), how = 'left', on='Sett_ID')

    print('\nDesired aggregation methods applied to settlement level, year %s. %s \n' % (BuiltYear, time.ctime()))

    # Save in-progress results
    AllSummaries.to_csv(os.path.join(FloodFolder, 'BuiltCellCount.csv'))
    print(AllSummaries.sort_values(by=AllSummaries.columns[1], ascending=False).head(10))

### 10.7 Calculate area and percent flooded and save to file

In [ ]:
BuiltArea = pd.read_csv(os.path.join(FloodFolder, 'BuiltCellCount.csv'))
Flood = pd.read_csv(os.path.join(FloodFolder, 'FloodedCellCount.csv'))
Areas = pd.read_csv(os.path.join(Results, 'Areas.csv'))

for Dataset in [BuiltArea, Flood, Areas]:
    if 'Unnamed: 0' in Dataset.columns:
        Dataset.drop(columns='Unnamed: 0', inplace=True)
    else:
        pass
    print(Dataset.info())

Stats = reduce(lambda  left,right: pd.merge(left,right,on=['Sett_ID'],
                                            how='outer'), [BuiltArea, Flood, Areas])
print(Stats.info())

In [ ]:
# Quick spot-checking. Number of flood cells should always be less than or equal to number of built area cells.
Check1 = (Stats['FLDct_2007'] > Stats['BLDct_2007']).sum()
Check2 = (Stats['FLDct_2000'] > Stats['BLDct_2000']).sum()
Check3 = (Stats['FLDct_2011'] > Stats['BLDct_2011']).sum()
print(Check1, Check2, Check3) # All should be zero.

##### Percent flooded

In [ ]:
for year in EligibleYears:
    RawVar = ''.join(['FLDct_', str(year)])
    DenomVar = ''.join(['BLDct_', str(year)])
    NewVar = ''.join(['FLDpc', str(year)])
    if ((RawVar in Stats.columns) and (DenomVar in Stats.columns)):
        Stats[NewVar] = Stats[RawVar] / Stats[DenomVar]
    else:
        pass
Stats.sort_values(by='FLDpc2005', ascending=False).head(10)

##### Area flooded

In [ ]:
for year in EligibleYears:
    RawVar = ''.join(['FLDpc', str(year)])
    DenomVar = ''.join(['AREA', str(year)])
    NewVar = ''.join(['FLDarea', str(year)])
    if ((RawVar in Stats.columns) and (DenomVar in Stats.columns)):
        Stats[NewVar] = Stats[RawVar] * Stats[DenomVar]
    else:
        pass
Stats.sort_values(by='FLDarea2005', ascending=False).head(10)

In [ ]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|FLDpc|FLDarea')]
Stats.columns

In [ ]:
# Save to file
Stats.to_csv(os.path.join(Results, 'Flood.csv'))

## 11. GROWTH STATISTICS

### 11.1 Load and prep.

In [ ]:
WSFE_end = 2021
WSFE_start = 1985
WSFE_Years = ListFromRange(WSFE_start, WSFE_end)

In [82]:
PlaceNames = pd.read_csv(os.path.join(Results, 'PlaceNames.csv'))
Areas = pd.read_csv(os.path.join(Results, 'Area.csv'))
Population = pd.read_csv(os.path.join(Results, 'Population.csv'))
DMSP = pd.read_csv(os.path.join(Results, 'NTL_DMSP.csv'))
VNL = pd.read_csv(os.path.join(Results, 'NTL_VIIRS.csv'))
#Flood = pd.read_csv(os.path.join(Results, 'Flood.csv'))

RawValues = [PlaceNames, Areas, Population, DMSP, VNL]

for Dataset in RawValues:
    if 'Unnamed: 0' in Dataset.columns:
        Dataset.drop(columns='Unnamed: 0', inplace=True)
    else:
        pass
    if 'year' in Dataset.columns:
        Dataset.drop(columns='year', inplace=True)
    else:
        pass
    print(Dataset.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18552 entries, 0 to 18551
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    18552 non-null  int64
 1   SettName   18552 non-null  object
 2   GeoName    18552 non-null  object
 3   UCDB_Name  18552 non-null  object
dtypes: int64(1), object(3)
memory usage: 579.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18552 entries, 0 to 18551
Data columns (total 39 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   18552 non-null  int64
 1   ADM_ID    18552 non-null  int64
 2   AREA2021  18552 non-null  float64
 3   AREA2020  17807 non-null  float64
 4   AREA2019  17460 non-null  float64
 5   AREA2018  17058 non-null  float64
 6   AREA2017  16845 non-null  float64
 7   AREA2016  16629 non-null  float64
 8   AREA2015  16479 non-null  float64
 9   AREA2014  15938 non-null  float64
 10  AREA2013  14137 non-null  float64
 11  AREA2012  13533 non-null  float64
 12  AREA2011  11442 non-null  float64
 13  AREA2010  11415 non-null  float64
 14  AREA2009  4755 non-null   float64
 15  AREA2008  4744 non-null   float64
 16  AREA2007  4739 non-null   float64
 17  AREA2006  4730 non-null   float64
 18  AREA2005  4723 non-null   float64
 19  AREA2004  4715 non-null   float64
 20  AREA2003  4699 non-null   float64
 21  AREA2002  4689 non-null   float64
 22  AREA2001  4680 non-null   float64
 23  AREA2000  4670 non-null   float64
 24  AREA1999  4075 non-null   float64
 25  AREA1998  4058 non-null   float64
 26  AREA1997  4031 non-null   float64
 27  AREA1996  4017 non-null   float64
 28  AREA1995  3949 non-null   float64
 29  AREA1994  3907 non-null   float64
 30  AREA1993  3885 non-null   float64
 31  AREA1992  3864 non-null   float64
 32  AREA1991  3853 non-null   float64
 33  AREA1990  3835 non-null   float64
 34  AREA1989  2507 non-null   float64
 35  AREA1988  2484 non-null   float64
 36  AREA1987  2441 non-null   float64
 37  AREA1986  2372 non-null   float64
 38  AREA1985  2139 non-null   float64
dtypes: float64(37), int64(2)
memory usage: 5.5 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18552 entries, 0 to 18551
Data columns (total 22 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Sett_ID  18552 non-null  int64
 1   POP2000  12047 non-null  float64
 2   POP2001  12047 non-null  float64
 3   POP2002  12047 non-null  float64
 4   POP2003  12047 non-null  float64
 5   POP2004  12047 non-null  float64
 6   POP2005  12047 non-null  float64
 7   POP2006  12047 non-null  float64
 8   POP2007  12047 non-null  float64
 9   POP2008  12047 non-null  float64
 10  POP2009  12047 non-null  float64
 11  POP2010  12047 non-null  float64
 12  POP2011  12047 non-null  float64
 13  POP2012  12047 non-null  float64
 14  POP2013  12047 non-null  float64
 15  POP2014  12047 non-null  float64
 16  POP2015  12047 non-null  float64
 17  POP2016  12047 non-null  float64
 18  POP2017  12047 non-null  float64
 19  POP2018  12047 non-null  float64
 20  POP2019  12047 non-null  float64
 21  POP2020  12047 non-null  float64
dtypes: float64(21), int64(1)
memory usage: 3.1 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18552 entries, 0 to 18551
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sett_ID          18552 non-null  int64
 1   NTL_Dsum1999     1399 non-null   float64
 2   NTL_Dmax1999     1399 non-null   float64
 3   NTL_Dmean1999    1399 non-null   float64
 4   NTL_Dmedian1999  1399 non-null   float64
 5   NTL_Dstd1999     1399 non-null   float64
 6   NTL_Dsum2000     1399 non-null   float64
 7   NTL_Dmax2000     1399 non-null   float64
 8   NTL_Dmean2000    1399 non-null   float64
 9   NTL_Dmedian2000  1399 non-null   float64
 10  NTL_Dstd2000     1399 non-null   float64
 11  NTL_Dsum2001     1399 non-null   float64
 12  NTL_Dmax2001     1399 non-null   float64
 13  NTL_Dmean2001    1399 non-null   float64
 14  NTL_Dmedian2001  1399 non-null   float64
 15  NTL_Dstd2001     1399 non-null   float64
 16  NTL_Dsum2002     1399 non-null   float64
 17  NTL_Dmax2002     1399 non-null   float64
 18  NTL_Dmean2002    1399 non-null   float64
 19  NTL_Dmedian2002  1399 non-null   float64
 20  NTL_Dstd2002     1399 non-null   float64
 21  NTL_Dsum2003     1399 non-null   float64
 22  NTL_Dmax2003     1399 non-null   float64
 23  NTL_Dmean2003    1399 non-null   float64
 24  NTL_Dmedian2003  1399 non-null   float64
 25  NTL_Dstd2003     1399 non-null   float64
 26  NTL_Dsum2004     1399 non-null   float64
 27  NTL_Dmax2004     1399 non-null   float64
 28  NTL_Dmean2004    1399 non-null   float64
 29  NTL_Dmedian2004  1399 non-null   float64
 30  NTL_Dstd2004     1399 non-null   float64
 31  NTL_Dsum2005     1399 non-null   float64
 32  NTL_Dmax2005     1399 non-null   float64
 33  NTL_Dmean2005    1399 non-null   float64
 34  NTL_Dmedian2005  1399 non-null   float64
 35  NTL_Dstd2005     1399 non-null   float64
 36  NTL_Dsum2006     1399 non-null   float64
 37  NTL_Dmax2006     1399 non-null   float64
 38  NTL_Dmean2006    1399 non-null   float64
 39  NTL_Dmedian2006  1399 non-null   float64
 40  NTL_Dstd2006     1399 non-null   float64
 41  NTL_Dsum2007     1399 non-null   float64
 42  NTL_Dmax2007     1399 non-null   float64
 43  NTL_Dmean2007    1399 non-null   float64
 44  NTL_Dmedian2007  1399 non-null   float64
 45  NTL_Dstd2007     1399 non-null   float64
 46  NTL_Dsum2008     1399 non-null   float64
 47  NTL_Dmax2008     1399 non-null   float64
 48  NTL_Dmean2008    1399 non-null   float64
 49  NTL_Dmedian2008  1399 non-null   float64
 50  NTL_Dstd2008     1399 non-null   float64
 51  NTL_Dsum2009     1448 non-null   float64
 52  NTL_Dmax2009     1448 non-null   float64
 53  NTL_Dmean2009    1448 non-null   float64
 54  NTL_Dmedian2009  1448 non-null   float64
 55  NTL_Dstd2009     1448 non-null   float64
 56  NTL_Dsum2010     1448 non-null   float64
 57  NTL_Dmax2010     1448 non-null   float64
 58  NTL_Dmean2010    1448 non-null   float64
 59  NTL_Dmedian2010  1448 non-null   float64
 60  NTL_Dstd2010     1448 non-null   float64
 61  NTL_Dsum2011     1398 non-null   float64
 62  NTL_Dmax2011     1398 non-null   float64
 63  NTL_Dmean2011    1398 non-null   float64
 64  NTL_Dmedian2011  1398 non-null   float64
 65  NTL_Dstd2011     1398 non-null   float64
 66  NTL_Dsum2012     1399 non-null   float64
 67  NTL_Dmax2012     1399 non-null   float64
 68  NTL_Dmean2012    1399 non-null   float64
 69  NTL_Dmedian2012  1399 non-null   float64
 70  NTL_Dstd2012     1399 non-null   float64
 71  NTL_Dsum2013     1399 non-null   float64
 72  NTL_Dmax2013     1399 non-null   float64
 73  NTL_Dmean2013    1399 non-null   float64
 74  NTL_Dmedian2013  1399 non-null   float64
 75  NTL_Dstd2013     1399 non-null   float64
dtypes: float64(75), int64(1)
memory usage: 10.8 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18552 entries, 0 to 18551
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Sett_ID          18552 non-null  int64
 1   NTL_Vsum2012     3252 non-null   float64
 2   NTL_Vmax2012     3252 non-null   float64
 3   NTL_Vmean2012    3252 non-null   float64
 4   NTL_Vmedian2012  3252 non-null   float64
 5   NTL_Vstd2012     3252 non-null   float64
 6   NTL_Vsum2013     3252 non-null   float64
 7   NTL_Vmax2013     3252 non-null   float64
 8   NTL_Vmean2013    3252 non-null   float64
 9   NTL_Vmedian2013  3252 non-null   float64
 10  NTL_Vstd2013     3252 non-null   float64
 11  NTL_Vsum2014     3252 non-null   float64
 12  NTL_Vmax2014     3252 non-null   float64
 13  NTL_Vmean2014    3252 non-null   float64
 14  NTL_Vmedian2014  3252 non-null   float64
 15  NTL_Vstd2014     3252 non-null   float64
 16  NTL_Vsum2015     3252 non-null   float64
 17  NTL_Vmax2015     3252 non-null   float64
 18  NTL_Vmean2015    3252 non-null   float64
 19  NTL_Vmedian2015  3252 non-null   float64
 20  NTL_Vstd2015     3252 non-null   float64
dtypes: float64(20), int64(1)
memory usage: 3.0 MB
None

In [83]:
AllStats = reduce(lambda  left,right: pd.merge(left,right,on=['Sett_ID'],
                                            how='outer'), RawValues)
AllStats.to_csv(os.path.join(Results, 'AllStats.csv'))

AllStats[AllStats.SettName!='UNK'].sample(5)

,Sett_ID,SettName,GeoName,UCDB_Name,ADM_ID,AREA2021,AREA2020,AREA2019,AREA2018,AREA2017,...,NTL_Vsum2014,NTL_Vmax2014,NTL_Vmean2014,NTL_Vmedian2014,NTL_Vstd2014,NTL_Vsum2015,NTL_Vmax2015,NTL_Vmean2015,NTL_Vmedian2015,NTL_Vstd2015
11049,59420,Talldaww,Talldaww,UNK,107,4.518157,4.209040,4.105746,3.994800,3.971846,...,50.489422,4.321935,2.019577,1.872939,0.912116,27.809113,2.145282,1.112365,1.028654,0.427772
1758,6457,Ein Qunya,Ein Qunya,UNK,170,0.270860,0.263208,0.257087,0.257087,0.253262,...,22.408588,13.588633,11.204294,11.204294,2.384338,26.076504,16.042847,13.038252,13.038252,3.004595
6388,30082,alkhad,alkhad,UNK,222,4.533459,4.449294,4.429400,4.388083,4.361303,...,80.896942,6.295742,3.370706,3.180894,1.623381,48.982742,3.665474,2.040948,2.092541,0.956662
5812,26407,arf al Musaytirah,arf al Musaytirah,UNK,108,0.508819,0.447607,0.439191,0.428479,0.423888,...,13.791924,5.109694,4.597308,4.344055,0.362319,7.653924,2.685563,2.551308,2.663573,0.174547
4720,19348,Al Qamyah,Al Qamyah,UNK,202,1.111750,0.941123,0.917404,0.890624,0.889094,...,14.041906,2.151807,1.404191,1.343488,0.344194,8.071981,1.105958,0.807198,0.803568,0.146231

### 11.2 Change over time of raw variables
pch = percent change

#### Population change

In [84]:
Stats = PlaceNames.copy().merge(Population, how = 'outer', on='Sett_ID')
for year in EligibleYears:
    RawVar = ''.join(['POP', str(year)])
    LagVar = ''.join(['POP', str(year-1)])
    NewVar = ''.join(['POPpch', str(year)])
    if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
        Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
    else:
        pass

In [85]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|pch')]
Stats.columns

Index(['Sett_ID', 'SettName', 'POPpch2001', 'POPpch2002', 'POPpch2003',
       'POPpch2004', 'POPpch2005', 'POPpch2006', 'POPpch2007', 'POPpch2008',
       'POPpch2009', 'POPpch2010', 'POPpch2011', 'POPpch2012', 'POPpch2013',
       'POPpch2014', 'POPpch2015', 'POPpch2016', 'POPpch2017', 'POPpch2018',
       'POPpch2019', 'POPpch2020'],
      dtype='object')

In [86]:
Stats.to_csv(os.path.join(Results, 'PopChange.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,GeoName,UCDB_Name,ADM_ID,AREA2021,AREA2020,AREA2019,AREA2018,AREA2017,...,POPpch2011,POPpch2012,POPpch2013,POPpch2014,POPpch2015,POPpch2016,POPpch2017,POPpch2018,POPpch2019,POPpch2020
7742,38534,any,any,Damascus,28,281.043874,275.274712,273.803346,270.629542,268.027298,...,-0.031286,0.023206,-0.064291,-0.037347,-0.035103,-0.043332,-0.027361,0.001813,-0.004629,0.040336
13495,96393,uraytn,uraytn,Aleppo,110,115.537029,113.038844,112.337975,111.384609,110.751838,...,-0.095489,0.155745,-0.130523,-0.025649,-0.056103,-0.074796,-0.040655,0.036965,-0.052175,0.101168
9524,50649,Homs,Homs,Homs,115,61.194432,58.507258,57.903562,57.279972,56.778040,...,-0.095587,0.095903,-0.127497,-0.023739,-0.052680,-0.036555,-0.075504,0.045738,-0.046187,0.078855
2966,10708,Qadsayy,Qadsayy,Damascus,61,55.778766,55.175835,54.813923,54.318112,53.143621,...,-0.006455,-0.021466,-0.008715,-0.037205,-0.055950,-0.005616,-0.062011,-0.004596,-0.005218,0.011233
10840,58135,amh,amh,Hama,99,48.053139,45.659013,44.727072,43.723972,43.055239,...,-0.109395,0.131973,-0.199106,-0.019397,-0.054380,-0.028810,-0.075182,0.039631,-0.043457,0.069917
12246,75655,Batabo,Batabo,UNK,43,47.433375,42.164615,39.378737,37.328925,36.593625,...,0.003911,0.076824,-0.015279,-0.047508,-0.052922,-0.094035,-0.032110,0.066806,-0.047084,0.073159
6744,32195,As-Suwayda,As-Suwayda,As Suwayda,39,30.747184,29.289591,28.877945,28.323218,27.970488,...,-0.142862,0.159841,-0.230049,-0.002613,-0.060484,-0.032212,-0.049829,0.050318,-0.067175,0.081853
5468,24050,Latakia,Latakia,Latakia,104,27.997268,27.450192,27.229066,27.001819,26.691937,...,-0.042622,0.078339,-0.103963,0.003850,-0.053288,-0.045033,-0.046994,0.005794,-0.026737,0.056819
15807,133699,Ar Raqqah,Ar Raqqah,Ar Raqqah,26,24.873198,23.289356,23.169994,22.967997,22.587722,...,-0.162722,0.234975,-0.228939,0.027231,-0.142488,-0.076009,-0.093134,0.121209,-0.141902,0.173449
3211,11851,Al Kiswah,Al Kiswah,UNK,153,24.496748,24.205230,24.108822,23.938196,23.769865,...,-0.055476,0.114704,-0.152174,-0.036340,-0.022059,-0.003674,-0.017776,0.001058,0.001656,0.068369

#### Area change

In [87]:
Stats = PlaceNames.copy().merge(Areas, how = 'outer', on='Sett_ID')
for year in EligibleYears:
    RawVar = ''.join(['AREA', str(year)])
    LagVar = ''.join(['AREA', str(year-1)])
    NewVar = ''.join(['AREApch', str(year)])
    if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
        Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
    else:
        pass

In [88]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|pch')]
Stats.columns

Index(['Sett_ID', 'SettName', 'AREApch1986', 'AREApch1987', 'AREApch1988',
       'AREApch1989', 'AREApch1990', 'AREApch1991', 'AREApch1992',
       'AREApch1993', 'AREApch1994', 'AREApch1995', 'AREApch1996',
       'AREApch1997', 'AREApch1998', 'AREApch1999', 'AREApch2000',
       'AREApch2001', 'AREApch2002', 'AREApch2003', 'AREApch2004',
       'AREApch2005', 'AREApch2006', 'AREApch2007', 'AREApch2008',
       'AREApch2009', 'AREApch2010', 'AREApch2011', 'AREApch2012',
       'AREApch2013', 'AREApch2014', 'AREApch2015', 'AREApch2016',
       'AREApch2017', 'AREApch2018', 'AREApch2019', 'AREApch2020',
       'AREApch2021'],
      dtype='object')

In [89]:
Stats.to_csv(os.path.join(Results, 'AreaChange.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,GeoName,UCDB_Name,ADM_ID,AREA2021,AREA2020,AREA2019,AREA2018,AREA2017,...,AREApch2012,AREApch2013,AREApch2014,AREApch2015,AREApch2016,AREApch2017,AREApch2018,AREApch2019,AREApch2020,AREApch2021
7742,38534,any,any,Damascus,28,281.043874,275.274712,273.803346,270.629542,268.027298,...,0.107653,0.035557,0.054777,0.027551,0.009488,0.010879,0.009709,0.011727,0.005374,0.020958
13495,96393,uraytn,uraytn,Aleppo,110,115.537029,113.038844,112.337975,111.384609,110.751838,...,0.052468,0.019745,0.040996,0.014849,0.003445,0.006040,0.005713,0.008559,0.006239,0.022100
9524,50649,Homs,Homs,Homs,115,61.194432,58.507258,57.903562,57.279972,56.778040,...,0.039025,0.020639,0.049080,0.013810,0.005801,0.006989,0.008840,0.010887,0.010426,0.045929
2966,10708,Qadsayy,Qadsayy,Damascus,61,55.778766,55.175835,54.813923,54.318112,53.143621,...,0.092324,0.047622,0.125536,0.039791,0.027261,0.019478,0.022100,0.009128,0.006603,0.010927
10840,58135,amh,amh,Hama,99,48.053139,45.659013,44.727072,43.723972,43.055239,...,0.052100,0.045541,0.099840,0.016797,0.010025,0.019236,0.015532,0.022942,0.020836,0.052435
12246,75655,Batabo,Batabo,UNK,43,47.433375,42.164615,39.378737,37.328925,36.593625,...,0.494250,0.199247,2.191315,0.037783,0.004694,0.024901,0.020094,0.054912,0.070746,0.124957
6744,32195,As-Suwayda,As-Suwayda,As Suwayda,39,30.747184,29.289591,28.877945,28.323218,27.970488,...,0.164490,0.072502,0.153695,0.018550,0.008731,0.007635,0.012611,0.019586,0.014255,0.049765
5468,24050,Latakia,Latakia,Latakia,104,27.997268,27.450192,27.229066,27.001819,26.691937,...,0.033893,0.018205,0.024678,0.089413,0.011478,0.009871,0.011610,0.008416,0.008121,0.019930
15807,133699,Ar Raqqah,Ar Raqqah,Ar Raqqah,26,24.873198,23.289356,23.169994,22.967997,22.587722,...,0.038875,0.031967,0.012719,0.021267,0.016878,0.022939,0.016835,0.008795,0.005152,0.068007
3211,11851,Al Kiswah,Al Kiswah,UNK,153,24.496748,24.205230,24.108822,23.938196,23.769865,...,0.066751,0.027890,0.047031,0.016678,0.007026,0.008113,0.007082,0.007128,0.003999,0.012044

#### NTL change

In [91]:
# Stats = PlaceNames.copy().merge(VNL, how = 'outer', on='Sett_ID')
# Stats = Stats.merge(DMSP, how = 'outer', on='Sett_ID')
# Sensors = ['D_', 'V_']
# Methods = ['sum', 'avg', 'max']

# for year in WSFE_Years:
#     for Sensor in Sensors:
#         for agg in Methods:
#             RawVar = ''.join(['NTL', agg, Sensor, str(year)])
#             LagVar = ''.join(['NTL', agg, Sensor, str(year-1)])
#             NewVar = ''.join(['NTL', agg, '_pch', Sensor, str(year)])
#             if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
#                 Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
#             else:
#                 pass

In [92]:
# Drop original variables.
# Stats = Stats.loc[:, Stats.columns.str.contains('Sett|pch')]
# Stats.columns

Index(['Sett_ID', 'SettName'], dtype='object')

In [ ]:
# Stats.to_csv(os.path.join(Results, 'NTLChange.csv'))

In [ ]:
# Stats.drop(columns='SettName', inplace=True)
# AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
# AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

#### Flood change: change in area and change in percent of total area

In [ ]:
Stats = PlaceNames.copy().merge(Flood, how = 'outer', on='Sett_ID')
for year in EligibleYears:
    RawVar = ''.join(['FLDarea', str(year)])
    LagVar = ''.join(['FLDarea', str(year-1)])
    NewVar = ''.join(['FLDareapch', str(year)])
    if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
        Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
    else:
        pass

In [ ]:
for year in EligibleYears:
    RawVar = ''.join(['FLDpc', str(year)])
    LagVar = ''.join(['FLDpc', str(year-1)])
    NewVar = ''.join(['FLDpcpch', str(year)])
    if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
        Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
    else:
        pass

In [ ]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|FLDareapch|FLDpcpch')]
Stats.columns

In [ ]:
Stats.to_csv(os.path.join(Results, 'FloodChange.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

#### Update parent spreadsheet

In [93]:
AllStats.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18552 entries, 0 to 18551
Data columns (total 214 columns):
 #    Column           Dtype
---   ------           -----
 0    Sett_ID          int64
 1    SettName         object
 2    GeoName          object
 3    UCDB_Name        object
 4    ADM_ID           int64
 5    AREA2021         float64
 6    AREA2020         float64
 7    AREA2019         float64
 8    AREA2018         float64
 9    AREA2017         float64
 10   AREA2016         float64
 11   AREA2015         float64
 12   AREA2014         float64
 13   AREA2013         float64
 14   AREA2012         float64
 15   AREA2011         float64
 16   AREA2010         float64
 17   AREA2009         float64
 18   AREA2008         float64
 19   AREA2007         float64
 20   AREA2006         float64
 21   AREA2005         float64
 22   AREA2004         float64
 23   AREA2003         float64
 24   AREA2002         float64
 25   AREA2001         float64
 26   AREA2000         float64
 27   AREA1999         float64
 28   AREA1998         float64
 29   AREA1997         float64
 30   AREA1996         float64
 31   AREA1995         float64
 32   AREA1994         float64
 33   AREA1993         float64
 34   AREA1992         float64
 35   AREA1991         float64
 36   AREA1990         float64
 37   AREA1989         float64
 38   AREA1988         float64
 39   AREA1987         float64
 40   AREA1986         float64
 41   AREA1985         float64
 42   POP2000          float64
 43   POP2001          float64
 44   POP2002          float64
 45   POP2003          float64
 46   POP2004          float64
 47   POP2005          float64
 48   POP2006          float64
 49   POP2007          float64
 50   POP2008          float64
 51   POP2009          float64
 52   POP2010          float64
 53   POP2011          float64
 54   POP2012          float64
 55   POP2013          float64
 56   POP2014          float64
 57   POP2015          float64
 58   POP2016          float64
 59   POP2017          float64
 60   POP2018          float64
 61   POP2019          float64
 62   POP2020          float64
 63   NTL_Dsum1999     float64
 64   NTL_Dmax1999     float64
 65   NTL_Dmean1999    float64
 66   NTL_Dmedian1999  float64
 67   NTL_Dstd1999     float64
 68   NTL_Dsum2000     float64
 69   NTL_Dmax2000     float64
 70   NTL_Dmean2000    float64
 71   NTL_Dmedian2000  float64
 72   NTL_Dstd2000     float64
 73   NTL_Dsum2001     float64
 74   NTL_Dmax2001     float64
 75   NTL_Dmean2001    float64
 76   NTL_Dmedian2001  float64
 77   NTL_Dstd2001     float64
 78   NTL_Dsum2002     float64
 79   NTL_Dmax2002     float64
 80   NTL_Dmean2002    float64
 81   NTL_Dmedian2002  float64
 82   NTL_Dstd2002     float64
 83   NTL_Dsum2003     float64
 84   NTL_Dmax2003     float64
 85   NTL_Dmean2003    float64
 86   NTL_Dmedian2003  float64
 87   NTL_Dstd2003     float64
 88   NTL_Dsum2004     float64
 89   NTL_Dmax2004     float64
 90   NTL_Dmean2004    float64
 91   NTL_Dmedian2004  float64
 92   NTL_Dstd2004     float64
 93   NTL_Dsum2005     float64
 94   NTL_Dmax2005     float64
 95   NTL_Dmean2005    float64
 96   NTL_Dmedian2005  float64
 97   NTL_Dstd2005     float64
 98   NTL_Dsum2006     float64
 99   NTL_Dmax2006     float64
 100  NTL_Dmean2006    float64
 101  NTL_Dmedian2006  float64
 102  NTL_Dstd2006     float64
 103  NTL_Dsum2007     float64
 104  NTL_Dmax2007     float64
 105  NTL_Dmean2007    float64
 106  NTL_Dmedian2007  float64
 107  NTL_Dstd2007     float64
 108  NTL_Dsum2008     float64
 109  NTL_Dmax2008     float64
 110  NTL_Dmean2008    float64
 111  NTL_Dmedian2008  float64
 112  NTL_Dstd2008     float64
 113  NTL_Dsum2009     float64
 114  NTL_Dmax2009     float64
 115  NTL_Dmean2009    float64
 116  NTL_Dmedian2009  float64
 117  NTL_Dstd2009     float64
 118  NTL_Dsum2010     float64
 119  NTL_Dmax2010     float64
 120  NTL_Dmean2010    float64
 121  NTL_Dmedian2010  float64
 122  NTL_Dstd2010     float64
 123  NTL_Dsum2011     float64
 124  NTL_Dmax2011     float64
 125  NTL_Dmean2011    float64
 126  NTL_Dmedian2011  float64
 127  NTL_Dstd2011     float64
 128  NTL_Dsum2012     float64
 129  NTL_Dmax2012     float64
 130  NTL_Dmean2012    float64
 131  NTL_Dmedian2012  float64
 132  NTL_Dstd2012     float64
 133  NTL_Dsum2013     float64
 134  NTL_Dmax2013     float64
 135  NTL_Dmean2013    float64
 136  NTL_Dmedian2013  float64
 137  NTL_Dstd2013     float64
 138  NTL_Vsum2012     float64
 139  NTL_Vmax2012     float64
 140  NTL_Vmean2012    float64
 141  NTL_Vmedian2012  float64
 142  NTL_Vstd2012     float64
 143  NTL_Vsum2013     float64
 144  NTL_Vmax2013     float64
 145  NTL_Vmean2013    float64
 146  NTL_Vmedian2013  float64
 147  NTL_Vstd2013     float64
 148  NTL_Vsum2014     float64
 149  NTL_Vmax2014     float64
 150  NTL_Vmean2014    float64
 151  NTL_Vmedian2014  float64
 152  NTL_Vstd2014     float64
 153  NTL_Vsum2015     float64
 154  NTL_Vmax2015     float64
 155  NTL_Vmean2015    float64
 156  NTL_Vmedian2015  float64
 157  NTL_Vstd2015     float64
 158  POPpch2001       float64
 159  POPpch2002       float64
 160  POPpch2003       float64
 161  POPpch2004       float64
 162  POPpch2005       float64
 163  POPpch2006       float64
 164  POPpch2007       float64
 165  POPpch2008       float64
 166  POPpch2009       float64
 167  POPpch2010       float64
 168  POPpch2011       float64
 169  POPpch2012       float64
 170  POPpch2013       float64
 171  POPpch2014       float64
 172  POPpch2015       float64
 173  POPpch2016       float64
 174  POPpch2017       float64
 175  POPpch2018       float64
 176  POPpch2019       float64
 177  POPpch2020       float64
 178  AREApch1986      float64
 179  AREApch1987      float64
 180  AREApch1988      float64
 181  AREApch1989      float64
 182  AREApch1990      float64
 183  AREApch1991      float64
 184  AREApch1992      float64
 185  AREApch1993      float64
 186  AREApch1994      float64
 187  AREApch1995      float64
 188  AREApch1996      float64
 189  AREApch1997      float64
 190  AREApch1998      float64
 191  AREApch1999      float64
 192  AREApch2000      float64
 193  AREApch2001      float64
 194  AREApch2002      float64
 195  AREApch2003      float64
 196  AREApch2004      float64
 197  AREApch2005      float64
 198  AREApch2006      float64
 199  AREApch2007      float64
 200  AREApch2008      float64
 201  AREApch2009      float64
 202  AREApch2010      float64
 203  AREApch2011      float64
 204  AREApch2012      float64
 205  AREApch2013      float64
 206  AREApch2014      float64
 207  AREApch2015      float64
 208  AREApch2016      float64
 209  AREApch2017      float64
 210  AREApch2018      float64
 211  AREApch2019      float64
 212  AREApch2020      float64
 213  AREApch2021      float64
dtypes: float64(209), int64(2), object(3)
memory usage: 30.4+ MB

In [94]:
AllStats.to_csv(os.path.join(Results, 'AllStats.csv'))

### 11.3 Densities
POPden = people per square kilometer
<br>NTL...den = nighttime light luminosity per square kilometer
<br>NTL...pop = nighttime light luminosity per capita

#### Population Density

In [95]:
Stats = PlaceNames.copy().merge(Population, how = 'outer', on='Sett_ID')
Stats = Stats.merge(Areas, how='left', on='Sett_ID')

for year in EligibleYears:
    RawVar = ''.join(['POP', str(year)])
    DenomVar = ''.join(['AREA', str(year)])
    NewVar = ''.join(['POPden', str(year)])
    if ((RawVar in Stats.columns) and (DenomVar in Stats.columns)):
        Stats[NewVar] = Stats[RawVar] / Stats[DenomVar]
    else:
        pass

In [96]:
# Change in density
for year in EligibleYears:
    RawVar = ''.join(['POPden', str(year)])
    LagVar = ''.join(['POPden', str(year-1)])
    NewVar = ''.join(['POPdenpch', str(year)])
    if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
        Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
    else:
        pass

In [97]:
# Drop original variables.
Stats = Stats.loc[:, ~Stats.columns.str.contains('AREA|POP1|POP2|ct|year|ADM')]
Stats.columns

Index(['Sett_ID', 'SettName', 'GeoName', 'UCDB_Name', 'POPden2000',
       'POPden2001', 'POPden2002', 'POPden2003', 'POPden2004', 'POPden2005',
       'POPden2006', 'POPden2007', 'POPden2008', 'POPden2009', 'POPden2010',
       'POPden2011', 'POPden2012', 'POPden2013', 'POPden2014', 'POPden2015',
       'POPden2016', 'POPden2017', 'POPden2018', 'POPden2019', 'POPden2020',
       'POPdenpch2001', 'POPdenpch2002', 'POPdenpch2003', 'POPdenpch2004',
       'POPdenpch2005', 'POPdenpch2006', 'POPdenpch2007', 'POPdenpch2008',
       'POPdenpch2009', 'POPdenpch2010', 'POPdenpch2011', 'POPdenpch2012',
       'POPdenpch2013', 'POPdenpch2014', 'POPdenpch2015', 'POPdenpch2016',
       'POPdenpch2017', 'POPdenpch2018', 'POPdenpch2019', 'POPdenpch2020'],
      dtype='object')

In [98]:
Stats.to_csv(os.path.join(Results, 'PopDensity.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,GeoName_x,UCDB_Name_x,ADM_ID,AREA2021,AREA2020,AREA2019,AREA2018,AREA2017,...,POPdenpch2011,POPdenpch2012,POPdenpch2013,POPdenpch2014,POPdenpch2015,POPdenpch2016,POPdenpch2017,POPdenpch2018,POPdenpch2019,POPdenpch2020
7742,38534,any,any,Damascus,28,281.043874,275.274712,273.803346,270.629542,268.027298,...,-0.038499,-0.076240,-0.096420,-0.087340,-0.060974,-0.052324,-0.037829,-0.007820,-0.016166,0.034776
13495,96393,uraytn,uraytn,Aleppo,110,115.537029,113.038844,112.337975,111.384609,110.751838,...,-0.096340,0.098128,-0.147359,-0.064020,-0.069914,-0.077973,-0.046414,0.031074,-0.060219,0.094340
9524,50649,Homs,Homs,Homs,115,61.194432,58.507258,57.903562,57.279972,56.778040,...,-0.100613,0.054742,-0.145141,-0.069413,-0.065584,-0.042112,-0.081920,0.036575,-0.056459,0.067723
2966,10708,Qadsayy,Qadsayy,Damascus,61,55.778766,55.175835,54.813923,54.318112,53.143621,...,-0.045077,-0.104173,-0.053776,-0.144590,-0.092078,-0.032005,-0.079932,-0.026119,-0.014216,0.004600
10840,58135,amh,amh,Hama,99,48.053139,45.659013,44.727072,43.723972,43.055239,...,-0.112722,0.075918,-0.233991,-0.108413,-0.070002,-0.038450,-0.092636,0.023730,-0.064909,0.048079
12246,75655,Batabo,Batabo,UNK,43,47.433375,42.164615,39.378737,37.328925,36.593625,...,0.003911,-0.279355,-0.178884,-0.701536,-0.087403,-0.098267,-0.055627,0.045792,-0.096687,0.002254
6744,32195,As-Suwayda,As-Suwayda,As Suwayda,39,30.747184,29.289591,28.877945,28.323218,27.970488,...,-0.144296,-0.003993,-0.282099,-0.135485,-0.077595,-0.040589,-0.057029,0.037237,-0.085094,0.066648
5468,24050,Latakia,Latakia,Latakia,104,27.997268,27.450192,27.229066,27.001819,26.691937,...,-0.054514,0.042989,-0.119983,-0.020326,-0.130989,-0.055870,-0.056309,-0.005749,-0.034860,0.048306
15807,133699,Ar Raqqah,Ar Raqqah,Ar Raqqah,26,24.873198,23.289356,23.169994,22.967997,22.587722,...,-0.166516,0.188762,-0.252824,0.014330,-0.160346,-0.091346,-0.113470,0.102645,-0.149383,0.167435
3211,11851,Al Kiswah,Al Kiswah,UNK,153,24.496748,24.205230,24.108822,23.938196,23.769865,...,-0.060087,0.044952,-0.175179,-0.079626,-0.038102,-0.010625,-0.025680,-0.005981,-0.005433,0.064113

#### Nighttime Lights Density

In [ ]:
# Stats = PlaceNames.copy().merge(NTL, how = 'outer', on='Sett_ID')
# Stats = Stats.merge(Areas, how='left', on='Sett_ID')
# Sensors = ['D_', 'V_']
# Methods = ['sum', 'avg', 'max']

# for year in EligibleYears:
#     for Sensor in Sensors:
#         for agg in Methods:
#             RawVar = ''.join(['NTL', agg, Sensor, str(year)])
#             DenomVar = ''.join(['AREA', str(year)])
#             NewVar = ''.join(['NTL', agg, '_den', Sensor, str(year)])
#             if ((RawVar in Stats.columns) and (DenomVar in Stats.columns)):
#                 Stats[NewVar] = Stats[RawVar] / Stats[DenomVar]
#             else:
#                 pass

In [ ]:
# # Change in density
# for year in EligibleYears:
#     for Sensor in Sensors:
#         for agg in Methods:
#             RawVar = ''.join(['NTL', agg, '_den', Sensor, str(year)])
#             LagVar = ''.join(['NTL', agg, '_den', Sensor, str(year-1)])
#             NewVar = ''.join(['NTL', agg, '_denpch', Sensor, str(year)])
#             if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
#                 Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
#             else:
#                 pass

In [99]:
list(Stats.columns)

['Sett_ID',
 'GeoName',
 'UCDB_Name',
 'POPden2000',
 'POPden2001',
 'POPden2002',
 'POPden2003',
 'POPden2004',
 'POPden2005',
 'POPden2006',
 'POPden2007',
 'POPden2008',
 'POPden2009',
 'POPden2010',
 'POPden2011',
 'POPden2012',
 'POPden2013',
 'POPden2014',
 'POPden2015',
 'POPden2016',
 'POPden2017',
 'POPden2018',
 'POPden2019',
 'POPden2020',
 'POPdenpch2001',
 'POPdenpch2002',
 'POPdenpch2003',
 'POPdenpch2004',
 'POPdenpch2005',
 'POPdenpch2006',
 'POPdenpch2007',
 'POPdenpch2008',
 'POPdenpch2009',
 'POPdenpch2010',
 'POPdenpch2011',
 'POPdenpch2012',
 'POPdenpch2013',
 'POPdenpch2014',
 'POPdenpch2015',
 'POPdenpch2016',
 'POPdenpch2017',
 'POPdenpch2018',
 'POPdenpch2019',
 'POPdenpch2020']

In [ ]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|den')]
list(Stats.columns)

In [ ]:
Stats.to_csv(os.path.join(Results, 'NTLDensity.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

#### Nighttime Lights per Capita

In [ ]:
Stats = PlaceNames.copy().merge(NTL, how = 'outer', on='Sett_ID')
Stats = Stats.merge(Population, how='left', on='Sett_ID')
Sensors = ['D_', 'V_']
Methods = ['sum', 'avg', 'max']

for year in EligibleYears:
    for Sensor in Sensors:
        for agg in Methods:
            RawVar = ''.join(['NTL', agg, Sensor, str(year)])
            DenomVar = ''.join(['POP', str(year)])
            NewVar = ''.join(['NTL', agg, '_pop', Sensor, str(year)])
            if ((RawVar in Stats.columns) and (DenomVar in Stats.columns)):
                Stats[NewVar] = Stats[RawVar] / Stats[DenomVar]
            else:
                pass

In [ ]:
# Change in density
for year in EligibleYears:
    for Sensor in Sensors:
        for agg in Methods:
            RawVar = ''.join(['NTL', agg, '_pop', Sensor, str(year)])
            LagVar = ''.join(['NTL', agg, '_pop', Sensor, str(year-1)])
            NewVar = ''.join(['NTL', agg, '_poppch', Sensor, str(year)])
            if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
                Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
            else:
                pass

In [ ]:
list(Stats.columns)

In [ ]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|_pop')]
list(Stats.columns)

In [ ]:
Stats.to_csv(os.path.join(Results, 'NTLperCapita.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

#### Update parent spreadsheet

In [100]:
AllStats.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18552 entries, 0 to 18551
Data columns (total 257 columns):
 #    Column           Dtype
---   ------           -----
 0    Sett_ID          int64
 1    SettName         object
 2    GeoName_x        object
 3    UCDB_Name_x      object
 4    ADM_ID           int64
 5    AREA2021         float64
 6    AREA2020         float64
 7    AREA2019         float64
 8    AREA2018         float64
 9    AREA2017         float64
 10   AREA2016         float64
 11   AREA2015         float64
 12   AREA2014         float64
 13   AREA2013         float64
 14   AREA2012         float64
 15   AREA2011         float64
 16   AREA2010         float64
 17   AREA2009         float64
 18   AREA2008         float64
 19   AREA2007         float64
 20   AREA2006         float64
 21   AREA2005         float64
 22   AREA2004         float64
 23   AREA2003         float64
 24   AREA2002         float64
 25   AREA2001         float64
 26   AREA2000         float64
 27   AREA1999         float64
 28   AREA1998         float64
 29   AREA1997         float64
 30   AREA1996         float64
 31   AREA1995         float64
 32   AREA1994         float64
 33   AREA1993         float64
 34   AREA1992         float64
 35   AREA1991         float64
 36   AREA1990         float64
 37   AREA1989         float64
 38   AREA1988         float64
 39   AREA1987         float64
 40   AREA1986         float64
 41   AREA1985         float64
 42   POP2000          float64
 43   POP2001          float64
 44   POP2002          float64
 45   POP2003          float64
 46   POP2004          float64
 47   POP2005          float64
 48   POP2006          float64
 49   POP2007          float64
 50   POP2008          float64
 51   POP2009          float64
 52   POP2010          float64
 53   POP2011          float64
 54   POP2012          float64
 55   POP2013          float64
 56   POP2014          float64
 57   POP2015          float64
 58   POP2016          float64
 59   POP2017          float64
 60   POP2018          float64
 61   POP2019          float64
 62   POP2020          float64
 63   NTL_Dsum1999     float64
 64   NTL_Dmax1999     float64
 65   NTL_Dmean1999    float64
 66   NTL_Dmedian1999  float64
 67   NTL_Dstd1999     float64
 68   NTL_Dsum2000     float64
 69   NTL_Dmax2000     float64
 70   NTL_Dmean2000    float64
 71   NTL_Dmedian2000  float64
 72   NTL_Dstd2000     float64
 73   NTL_Dsum2001     float64
 74   NTL_Dmax2001     float64
 75   NTL_Dmean2001    float64
 76   NTL_Dmedian2001  float64
 77   NTL_Dstd2001     float64
 78   NTL_Dsum2002     float64
 79   NTL_Dmax2002     float64
 80   NTL_Dmean2002    float64
 81   NTL_Dmedian2002  float64
 82   NTL_Dstd2002     float64
 83   NTL_Dsum2003     float64
 84   NTL_Dmax2003     float64
 85   NTL_Dmean2003    float64
 86   NTL_Dmedian2003  float64
 87   NTL_Dstd2003     float64
 88   NTL_Dsum2004     float64
 89   NTL_Dmax2004     float64
 90   NTL_Dmean2004    float64
 91   NTL_Dmedian2004  float64
 92   NTL_Dstd2004     float64
 93   NTL_Dsum2005     float64
 94   NTL_Dmax2005     float64
 95   NTL_Dmean2005    float64
 96   NTL_Dmedian2005  float64
 97   NTL_Dstd2005     float64
 98   NTL_Dsum2006     float64
 99   NTL_Dmax2006     float64
 100  NTL_Dmean2006    float64
 101  NTL_Dmedian2006  float64
 102  NTL_Dstd2006     float64
 103  NTL_Dsum2007     float64
 104  NTL_Dmax2007     float64
 105  NTL_Dmean2007    float64
 106  NTL_Dmedian2007  float64
 107  NTL_Dstd2007     float64
 108  NTL_Dsum2008     float64
 109  NTL_Dmax2008     float64
 110  NTL_Dmean2008    float64
 111  NTL_Dmedian2008  float64
 112  NTL_Dstd2008     float64
 113  NTL_Dsum2009     float64
 114  NTL_Dmax2009     float64
 115  NTL_Dmean2009    float64
 116  NTL_Dmedian2009  float64
 117  NTL_Dstd2009     float64
 118  NTL_Dsum2010     float64
 119  NTL_Dmax2010     float64
 120  NTL_Dmean2010    float64
 121  NTL_Dmedian2010  float64
 122  NTL_Dstd2010     float64
 123  NTL_Dsum2011     float64
 124  NTL_Dmax2011     float64
 125  NTL_Dmean2011    float64
 126  NTL_Dmedian2011  float64
 127  NTL_Dstd2011     float64
 128  NTL_Dsum2012     float64
 129  NTL_Dmax2012     float64
 130  NTL_Dmean2012    float64
 131  NTL_Dmedian2012  float64
 132  NTL_Dstd2012     float64
 133  NTL_Dsum2013     float64
 134  NTL_Dmax2013     float64
 135  NTL_Dmean2013    float64
 136  NTL_Dmedian2013  float64
 137  NTL_Dstd2013     float64
 138  NTL_Vsum2012     float64
 139  NTL_Vmax2012     float64
 140  NTL_Vmean2012    float64
 141  NTL_Vmedian2012  float64
 142  NTL_Vstd2012     float64
 143  NTL_Vsum2013     float64
 144  NTL_Vmax2013     float64
 145  NTL_Vmean2013    float64
 146  NTL_Vmedian2013  float64
 147  NTL_Vstd2013     float64
 148  NTL_Vsum2014     float64
 149  NTL_Vmax2014     float64
 150  NTL_Vmean2014    float64
 151  NTL_Vmedian2014  float64
 152  NTL_Vstd2014     float64
 153  NTL_Vsum2015     float64
 154  NTL_Vmax2015     float64
 155  NTL_Vmean2015    float64
 156  NTL_Vmedian2015  float64
 157  NTL_Vstd2015     float64
 158  POPpch2001       float64
 159  POPpch2002       float64
 160  POPpch2003       float64
 161  POPpch2004       float64
 162  POPpch2005       float64
 163  POPpch2006       float64
 164  POPpch2007       float64
 165  POPpch2008       float64
 166  POPpch2009       float64
 167  POPpch2010       float64
 168  POPpch2011       float64
 169  POPpch2012       float64
 170  POPpch2013       float64
 171  POPpch2014       float64
 172  POPpch2015       float64
 173  POPpch2016       float64
 174  POPpch2017       float64
 175  POPpch2018       float64
 176  POPpch2019       float64
 177  POPpch2020       float64
 178  AREApch1986      float64
 179  AREApch1987      float64
 180  AREApch1988      float64
 181  AREApch1989      float64
 182  AREApch1990      float64
 183  AREApch1991      float64
 184  AREApch1992      float64
 185  AREApch1993      float64
 186  AREApch1994      float64
 187  AREApch1995      float64
 188  AREApch1996      float64
 189  AREApch1997      float64
 190  AREApch1998      float64
 191  AREApch1999      float64
 192  AREApch2000      float64
 193  AREApch2001      float64
 194  AREApch2002      float64
 195  AREApch2003      float64
 196  AREApch2004      float64
 197  AREApch2005      float64
 198  AREApch2006      float64
 199  AREApch2007      float64
 200  AREApch2008      float64
 201  AREApch2009      float64
 202  AREApch2010      float64
 203  AREApch2011      float64
 204  AREApch2012      float64
 205  AREApch2013      float64
 206  AREApch2014      float64
 207  AREApch2015      float64
 208  AREApch2016      float64
 209  AREApch2017      float64
 210  AREApch2018      float64
 211  AREApch2019      float64
 212  AREApch2020      float64
 213  AREApch2021      float64
 214  GeoName_y        object
 215  UCDB_Name_y      object
 216  POPden2000       float64
 217  POPden2001       float64
 218  POPden2002       float64
 219  POPden2003       float64
 220  POPden2004       float64
 221  POPden2005       float64
 222  POPden2006       float64
 223  POPden2007       float64
 224  POPden2008       float64
 225  POPden2009       float64
 226  POPden2010       float64
 227  POPden2011       float64
 228  POPden2012       float64
 229  POPden2013       float64
 230  POPden2014       float64
 231  POPden2015       float64
 232  POPden2016       float64
 233  POPden2017       float64
 234  POPden2018       float64
 235  POPden2019       float64
 236  POPden2020       float64
 237  POPdenpch2001    float64
 238  POPdenpch2002    float64
 239  POPdenpch2003    float64
 240  POPdenpch2004    float64
 241  POPdenpch2005    float64
 242  POPdenpch2006    float64
 243  POPdenpch2007    float64
 244  POPdenpch2008    float64
 245  POPdenpch2009    float64
 246  POPdenpch2010    float64
 247  POPdenpch2011    float64
 248  POPdenpch2012    float64
 249  POPdenpch2013    float64
 250  POPdenpch2014    float64
 251  POPdenpch2015    float64
 252  POPdenpch2016    float64
 253  POPdenpch2017    float64
 254  POPdenpch2018    float64
 255  POPdenpch2019    float64
 256  POPdenpch2020    float64
dtypes: float64(250), int64(2), object(5)
memory usage: 36.5+ MB

In [101]:
AllStats.to_csv(os.path.join(Results, 'AllStats.csv'))

### 11.4 Urban Type

In [102]:
for year in EligibleYears:
    PopVar = ''.join(['POP', str(year)])
    DenVar = ''.join(['POPden', str(year)])
    NewVar = ''.join(['UrbType', str(year)])
    if ((PopVar in AllStats.columns) and (DenVar in AllStats.columns)):
        AllStats[NewVar] = 'LD'
        AllStats.loc[(AllStats[PopVar] >= 5000) & (AllStats[DenVar] >= 300), NewVar] = 'SDurban'
        AllStats.loc[(AllStats[PopVar] >= 50000) & (AllStats[DenVar] >= 1500), NewVar] = 'HDurban'
    else:
        pass

In [103]:
AllStats.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18552 entries, 0 to 18551
Data columns (total 278 columns):
 #    Column           Dtype
---   ------           -----
 0    Sett_ID          int64
 1    SettName         object
 2    GeoName_x        object
 3    UCDB_Name_x      object
 4    ADM_ID           int64
 5    AREA2021         float64
 6    AREA2020         float64
 7    AREA2019         float64
 8    AREA2018         float64
 9    AREA2017         float64
 10   AREA2016         float64
 11   AREA2015         float64
 12   AREA2014         float64
 13   AREA2013         float64
 14   AREA2012         float64
 15   AREA2011         float64
 16   AREA2010         float64
 17   AREA2009         float64
 18   AREA2008         float64
 19   AREA2007         float64
 20   AREA2006         float64
 21   AREA2005         float64
 22   AREA2004         float64
 23   AREA2003         float64
 24   AREA2002         float64
 25   AREA2001         float64
 26   AREA2000         float64
 27   AREA1999         float64
 28   AREA1998         float64
 29   AREA1997         float64
 30   AREA1996         float64
 31   AREA1995         float64
 32   AREA1994         float64
 33   AREA1993         float64
 34   AREA1992         float64
 35   AREA1991         float64
 36   AREA1990         float64
 37   AREA1989         float64
 38   AREA1988         float64
 39   AREA1987         float64
 40   AREA1986         float64
 41   AREA1985         float64
 42   POP2000          float64
 43   POP2001          float64
 44   POP2002          float64
 45   POP2003          float64
 46   POP2004          float64
 47   POP2005          float64
 48   POP2006          float64
 49   POP2007          float64
 50   POP2008          float64
 51   POP2009          float64
 52   POP2010          float64
 53   POP2011          float64
 54   POP2012          float64
 55   POP2013          float64
 56   POP2014          float64
 57   POP2015          float64
 58   POP2016          float64
 59   POP2017          float64
 60   POP2018          float64
 61   POP2019          float64
 62   POP2020          float64
 63   NTL_Dsum1999     float64
 64   NTL_Dmax1999     float64
 65   NTL_Dmean1999    float64
 66   NTL_Dmedian1999  float64
 67   NTL_Dstd1999     float64
 68   NTL_Dsum2000     float64
 69   NTL_Dmax2000     float64
 70   NTL_Dmean2000    float64
 71   NTL_Dmedian2000  float64
 72   NTL_Dstd2000     float64
 73   NTL_Dsum2001     float64
 74   NTL_Dmax2001     float64
 75   NTL_Dmean2001    float64
 76   NTL_Dmedian2001  float64
 77   NTL_Dstd2001     float64
 78   NTL_Dsum2002     float64
 79   NTL_Dmax2002     float64
 80   NTL_Dmean2002    float64
 81   NTL_Dmedian2002  float64
 82   NTL_Dstd2002     float64
 83   NTL_Dsum2003     float64
 84   NTL_Dmax2003     float64
 85   NTL_Dmean2003    float64
 86   NTL_Dmedian2003  float64
 87   NTL_Dstd2003     float64
 88   NTL_Dsum2004     float64
 89   NTL_Dmax2004     float64
 90   NTL_Dmean2004    float64
 91   NTL_Dmedian2004  float64
 92   NTL_Dstd2004     float64
 93   NTL_Dsum2005     float64
 94   NTL_Dmax2005     float64
 95   NTL_Dmean2005    float64
 96   NTL_Dmedian2005  float64
 97   NTL_Dstd2005     float64
 98   NTL_Dsum2006     float64
 99   NTL_Dmax2006     float64
 100  NTL_Dmean2006    float64
 101  NTL_Dmedian2006  float64
 102  NTL_Dstd2006     float64
 103  NTL_Dsum2007     float64
 104  NTL_Dmax2007     float64
 105  NTL_Dmean2007    float64
 106  NTL_Dmedian2007  float64
 107  NTL_Dstd2007     float64
 108  NTL_Dsum2008     float64
 109  NTL_Dmax2008     float64
 110  NTL_Dmean2008    float64
 111  NTL_Dmedian2008  float64
 112  NTL_Dstd2008     float64
 113  NTL_Dsum2009     float64
 114  NTL_Dmax2009     float64
 115  NTL_Dmean2009    float64
 116  NTL_Dmedian2009  float64
 117  NTL_Dstd2009     float64
 118  NTL_Dsum2010     float64
 119  NTL_Dmax2010     float64
 120  NTL_Dmean2010    float64
 121  NTL_Dmedian2010  float64
 122  NTL_Dstd2010     float64
 123  NTL_Dsum2011     float64
 124  NTL_Dmax2011     float64
 125  NTL_Dmean2011    float64
 126  NTL_Dmedian2011  float64
 127  NTL_Dstd2011     float64
 128  NTL_Dsum2012     float64
 129  NTL_Dmax2012     float64
 130  NTL_Dmean2012    float64
 131  NTL_Dmedian2012  float64
 132  NTL_Dstd2012     float64
 133  NTL_Dsum2013     float64
 134  NTL_Dmax2013     float64
 135  NTL_Dmean2013    float64
 136  NTL_Dmedian2013  float64
 137  NTL_Dstd2013     float64
 138  NTL_Vsum2012     float64
 139  NTL_Vmax2012     float64
 140  NTL_Vmean2012    float64
 141  NTL_Vmedian2012  float64
 142  NTL_Vstd2012     float64
 143  NTL_Vsum2013     float64
 144  NTL_Vmax2013     float64
 145  NTL_Vmean2013    float64
 146  NTL_Vmedian2013  float64
 147  NTL_Vstd2013     float64
 148  NTL_Vsum2014     float64
 149  NTL_Vmax2014     float64
 150  NTL_Vmean2014    float64
 151  NTL_Vmedian2014  float64
 152  NTL_Vstd2014     float64
 153  NTL_Vsum2015     float64
 154  NTL_Vmax2015     float64
 155  NTL_Vmean2015    float64
 156  NTL_Vmedian2015  float64
 157  NTL_Vstd2015     float64
 158  POPpch2001       float64
 159  POPpch2002       float64
 160  POPpch2003       float64
 161  POPpch2004       float64
 162  POPpch2005       float64
 163  POPpch2006       float64
 164  POPpch2007       float64
 165  POPpch2008       float64
 166  POPpch2009       float64
 167  POPpch2010       float64
 168  POPpch2011       float64
 169  POPpch2012       float64
 170  POPpch2013       float64
 171  POPpch2014       float64
 172  POPpch2015       float64
 173  POPpch2016       float64
 174  POPpch2017       float64
 175  POPpch2018       float64
 176  POPpch2019       float64
 177  POPpch2020       float64
 178  AREApch1986      float64
 179  AREApch1987      float64
 180  AREApch1988      float64
 181  AREApch1989      float64
 182  AREApch1990      float64
 183  AREApch1991      float64
 184  AREApch1992      float64
 185  AREApch1993      float64
 186  AREApch1994      float64
 187  AREApch1995      float64
 188  AREApch1996      float64
 189  AREApch1997      float64
 190  AREApch1998      float64
 191  AREApch1999      float64
 192  AREApch2000      float64
 193  AREApch2001      float64
 194  AREApch2002      float64
 195  AREApch2003      float64
 196  AREApch2004      float64
 197  AREApch2005      float64
 198  AREApch2006      float64
 199  AREApch2007      float64
 200  AREApch2008      float64
 201  AREApch2009      float64
 202  AREApch2010      float64
 203  AREApch2011      float64
 204  AREApch2012      float64
 205  AREApch2013      float64
 206  AREApch2014      float64
 207  AREApch2015      float64
 208  AREApch2016      float64
 209  AREApch2017      float64
 210  AREApch2018      float64
 211  AREApch2019      float64
 212  AREApch2020      float64
 213  AREApch2021      float64
 214  GeoName_y        object
 215  UCDB_Name_y      object
 216  POPden2000       float64
 217  POPden2001       float64
 218  POPden2002       float64
 219  POPden2003       float64
 220  POPden2004       float64
 221  POPden2005       float64
 222  POPden2006       float64
 223  POPden2007       float64
 224  POPden2008       float64
 225  POPden2009       float64
 226  POPden2010       float64
 227  POPden2011       float64
 228  POPden2012       float64
 229  POPden2013       float64
 230  POPden2014       float64
 231  POPden2015       float64
 232  POPden2016       float64
 233  POPden2017       float64
 234  POPden2018       float64
 235  POPden2019       float64
 236  POPden2020       float64
 237  POPdenpch2001    float64
 238  POPdenpch2002    float64
 239  POPdenpch2003    float64
 240  POPdenpch2004    float64
 241  POPdenpch2005    float64
 242  POPdenpch2006    float64
 243  POPdenpch2007    float64
 244  POPdenpch2008    float64
 245  POPdenpch2009    float64
 246  POPdenpch2010    float64
 247  POPdenpch2011    float64
 248  POPdenpch2012    float64
 249  POPdenpch2013    float64
 250  POPdenpch2014    float64
 251  POPdenpch2015    float64
 252  POPdenpch2016    float64
 253  POPdenpch2017    float64
 254  POPdenpch2018    float64
 255  POPdenpch2019    float64
 256  POPdenpch2020    float64
 257  UrbType2000      object
 258  UrbType2001      object
 259  UrbType2002      object
 260  UrbType2003      object
 261  UrbType2004      object
 262  UrbType2005      object
 263  UrbType2006      object
 264  UrbType2007      object
 265  UrbType2008      object
 266  UrbType2009      object
 267  UrbType2010      object
 268  UrbType2011      object
 269  UrbType2012      object
 270  UrbType2013      object
 271  UrbType2014      object
 272  UrbType2015      object
 273  UrbType2016      object
 274  UrbType2017      object
 275  UrbType2018      object
 276  UrbType2019      object
 277  UrbType2020      object
dtypes: float64(250), int64(2), object(26)
memory usage: 39.5+ MB

In [104]:
AllStats.to_csv(os.path.join(Results, 'AllStats.csv'))

In [105]:
Stats = AllStats.loc[:, AllStats.columns.str.contains('Sett|UrbType')]
list(Stats.columns)

['Sett_ID',
 'SettName',
 'UrbType2000',
 'UrbType2001',
 'UrbType2002',
 'UrbType2003',
 'UrbType2004',
 'UrbType2005',
 'UrbType2006',
 'UrbType2007',
 'UrbType2008',
 'UrbType2009',
 'UrbType2010',
 'UrbType2011',
 'UrbType2012',
 'UrbType2013',
 'UrbType2014',
 'UrbType2015',
 'UrbType2016',
 'UrbType2017',
 'UrbType2018',
 'UrbType2019',
 'UrbType2020']

In [106]:
Stats[Stats.SettName!='UNK'].sort_values(by=Stats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,UrbType2000,UrbType2001,UrbType2002,UrbType2003,UrbType2004,UrbType2005,UrbType2006,UrbType2007,...,UrbType2011,UrbType2012,UrbType2013,UrbType2014,UrbType2015,UrbType2016,UrbType2017,UrbType2018,UrbType2019,UrbType2020
14553,107002,Mri,LD,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,...,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,LD,SDurban,LD,SDurban
4953,20808,Khirbat al Maazzah,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,...,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
15236,122595,Jarbulus,LD,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,...,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,LD,LD,LD,SDurban
12718,80810,Afrn,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,...,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
15482,126346,Ath Thawrah,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,...,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
5040,21342,ft,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,...,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
9219,48944,Al Quayr,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,...,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
15684,131596,Ayn al Arab,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,...,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
4954,20811,ars,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,...,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
4861,20308,Baniyas,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,...,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban

In [107]:
Stats.to_csv(os.path.join(Results, 'UrbanType.csv'))