# Spatiotemporal Trends in Urbanization
## Overview
This repository investigates year-by-year change in cities and settlements in Central and Western Africa (CWA). The goal is to capture activity for every settlement locality in a country to produce indicators that are high frequency, spatially granular, and timely. The Jupyter Notebook is the primary script used to construct each country's dataset. It tracks population, built-area, and economic and climate indicators across a 16-year timeframe from 2000 to 2015. 

The repository is split into three sections: methodology and notebooks, source data, and outputs. Outputs are organized by country and include growth tables ("urban panel datasets"), charts, and country briefs.


## Datasets
Datasets used to create each African country's urban panel data are as follows:
1. Most up-to-date administrative boundaries.
2. City names: **UCDB, Africapolis, and GeoNames.**
3. Settlement types: **GRID3 settlement extents.** Captured between 2009-2019.
4. Built-up area, yearly: **World Settlement Footprint Evolution.** Resolution: 30m.
5. Population, yearly: **WorldPop.** UN-adjusted, unconstrained. Resolution: 100m.
6. Nighttime lights, yearly: **Harmonization of DMSP and VIIRS.** Resolution: 1km and 500m.
7. Flood extents, by return period: **FATHOM.** Resolution: 90m.


## Accessing Data
Source data are available to the public by providers listed in the previous section, with the exception of flood data. Please note that the source data files in this repository have been fit for purpose and may not cover your area of interest. Some sources are also not global; GRID3 settlement extents are only available for sub-Saharan Africa, and Africapolis names for Africa.

Results from the analysis are currently available for Cameroon and are under development for Central African Republic and four Sahel countries: Burkina Faso, Chad, Mali, and Niger. Results are available in the outputs folder by country. Please contact the CWA Geospatial team to inquire about new locations.
<br>
> **Walker Kosmidou-Bradley**, wkosmidoubradley@worldbank.org
<br>
> **Grace Doherty**, gdoherty2@worldbank.org

## License
Materials under this repository are open-source under an MIT license. The community is invited to test, adapt, and re-purpose materials as needed.

---

## 1. PREPARE WORKSPACE

### 1.1 Off-script

##### Off-script: Create folders in your working directory. (The folder where you are storing this script).
> *ADM
<br>Buildup
<br>PlaceName
<br>Population
<br>Settlement
<br>NTL*

##### Before starting: Download datasets (as shapefile, GeoJSON, or tif where possible) and place or extract into corresponding folder. You can download the cleaned files from our [GitHub Repository](https://github.com/worldbank/Urban_Spatio_Temporal_Trends) or access original sources here:
- ADM: *Varies by source.*
- Buildup: https://download.geoservice.dlr.de/WSF_EVO/files/
- PlaceName: 
    - GeoNames: (file: cities500.zip) https://download.geonames.org/export/dump/
    - Africapolis: https://africapolis.org/en/data
    - Urban Centres Database: https://ghsl.jrc.ec.europa.eu/ghs_stat_ucdb2015mt_r2019a.php
- Population: https://hub.worldpop.org/geodata/listing?id=69
- Settlement: https://data.grid3.org/datasets/GRID3::grid3-cameroon-settlement-extents-version-01-01-/explore
- Nighttime Lights: https://eogdata.mines.edu/products/dmsp/#v4 and https://eogdata.mines.edu/products/vnl/#annual_v2

##### Other off-script:
- Convert GeoNames from .txt file to shape (delimiter = tab, header rows = 0) and rename fields.
- If necessary, mosaic WSFE rasters that cover the area of interest to create a single file.

### 1.2 Load all packages.

In [2]:
# Built-in:
# dir(), print(), range(), format(), int(), len(), list(), max(), min(), zip(), sorted(), sum(), open(), del, = None, try except, with as, for in, if elif else
# Also: list.append(), list.insert(), list.remove(), count(), startswith(), endswith(), contains(), replace()

import os, sys, glob, re, time, subprocess, string # os.getcwd(), os.path.join(), os.listdir(), os.remove(), time.ctime(), glob.glob(), string.zfill(), string.join()
from os.path import exists # exists()
from functools import reduce # reduce()

import geopandas as gpd # read_file(), GeoDataFrame(), sjoin_nearest(), to_crs(), to_file(), .crs, buffer(), dissolve()
import pandas as pd # .dtypes, Series(), concat(), DataFrame(), read_table(), merge(), to_csv(), .loc[], head(), sample(), astype(), unique(), rename(), between(), drop(), fillna(), idxmax(), isna(), isin(), apply(), info(), sort_values(), notna(), groupby(), value_counts(), duplicated(), drop_duplicates()
from shapely.geometry import Point, LineString, Polygon, shape, MultiPoint
from shapely.ops import cascaded_union
from shapely.validation import make_valid  # in apply(make_valid)
import shapely.wkt

import numpy as np # median(), mean(), tolist(), .inf
import fiona, rioxarray # fiona.open()
import rasterio # open(), write_band(), .name, .count, .width, .height. nodatavals, .meta, update(), copy(), write()
from rasterio.plot import show
from rasterio import features # features.rasterize()
from rasterio.features import shapes
from rasterio import mask # rasterio.mask.mask()
from rasterio.enums import Resampling # rasterio.enums.Resampling()
from osgeo import gdal, osr, ogr, gdal_array, gdalconst # Open(), SpatialReference, WarpOptions(), Warp(), GetDataTypeName(), GetRasterBand(), GetNoDataValue(), Translate(), GetProjection(), GetAttrValue()

### 1.3 Set up workspace.

In [3]:
ProjectFolder = os.getcwd()
ResultsFolder = os.path.join(ProjectFolder, 'Results')
print(ProjectFolder)
print(ResultsFolder)

Q:\GIS\povertyequity\urban_growth\Chad
Q:\GIS\povertyequity\urban_growth\Chad\Results

In [4]:
def ListFromRange(r1, r2):
    return [item for item in range(r1, r2+1)]

In [5]:
WSFEYears = ListFromRange(1985, 2015) # All years in the WSFE dataset.
AllStudyYears = ListFromRange(1999, 2015) # All years for which there will be growth stats in the present study.
ReversedStudyYears = []
for i in AllStudyYears:
    ReversedStudyYears.insert(0,i)
print(WSFEYears, '\n\n', AllStudyYears, '\n\n', ReversedStudyYears)

[1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

 [1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

 [2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999]

### 1.4 User-defined functions.

In [6]:
# From Stack Exchange @RutgerH
# https://gis.stackexchange.com/questions/163685/reclassify-a-raster-value-to-9999-and-set-it-to-the-nodata-value-using-python-a
def readRaster(filename):
    filehandle = gdal.Open(filename)
    band1 = filehandle.GetRasterBand(1)
    geotransform = filehandle.GetGeoTransform()
    geoproj = filehandle.GetProjection()
    Z = band1.ReadAsArray()
    xsize = filehandle.RasterXSize
    ysize = filehandle.RasterYSize
    return xsize,ysize,geotransform,geoproj,Z

In [7]:
# Default arguments can be changed here, or can be specified below when running the functions.
def writeRaster(filename,geotransform,geoprojection,data, NoDataVal=0, dst_datatype=gdal.GDT_UInt32):
    (x,y) = data.shape
    Dformat = "GTiff"
    driver = gdal.GetDriverByName(Dformat)
    # you can change the dataformat but be sure to be able to store negative values including -9999
    dst_ds = driver.Create(filename,y,x,1,dst_datatype)
    dst_ds.GetRasterBand(1).WriteArray(data)
    dst_ds.SetGeoTransform(geotransform)
    dst_ds.SetProjection(geoprojection)
    dst_ds.GetRasterBand(1).SetNoDataValue(NoDataVal)
    return 1
    dst_ds = None

In [8]:
# Based on Stack Exchange @Kurt Schwehr:
# https://stackoverflow.com/questions/10454316/how-to-project-and-resample-a-grid-to-match-another-grid-with-gdal-python
def resampleRaster(InRaster_Path, MatchRaster_Path, OutFile_Path, 
                   DataType = gdalconst.GDT_UInt32, 
                   ResampType = gdal.GRA_Bilinear, NoDataVal = 0):
    print('Loading for %s. %s' % (InRaster_Path, time.ctime()))
    
    RasterObject = gdal.Open(InRaster_Path)
    In_proj = RasterObject.GetProjection()
    [Match_x, Match_y, Match_geo, Match_proj, Match_Z] = readRaster(MatchRaster_Path)
    print('---Specs to match to: \n', 
      Match_proj, '\n', Match_geo, '\n', Match_x, '\n', Match_y, '\n')
        
    OutFile = gdal.GetDriverByName('GTiff').Create(OutFile_Path, Match_x, Match_y, 1, DataType)
    OutFile.SetGeoTransform(Match_geo)
    OutFile.SetProjection(Match_proj)
    print('---Created raster file for upsampled version. %s' % time.ctime())
    
    gdal.ReprojectImage(RasterObject, OutFile, In_proj, Match_proj, ResampType)
    print('---Resampled values onto an empty raster matching the dimensions of the buildup layer. %s \n\n' % time.ctime())
    
    OutFile.GetRasterBand(1).SetNoDataValue(NoDataVal)
    
    RasterObject = Outfile = None
    return 1

In [9]:
def calcShell(A, OutFile, Calculation, OutType = '', 
              B=None, C=None, D=None, E=None, F=None, G=None):
    """Raster math using gdal_calc.py.

    The OSgeo package for Python API does not make raster calculations
    easy outside of the shell. This function plugs up to 6 raster files
    into a string which subprocess.call() then commits to the terminal.

        A : str
            File path to the first raster for the calculation.
        B : str
            File path to the second raster for the calculation.
        OutFile : str
            File path where to store the raster generated from the calculation.
        Calculation : str
            Algebra that uses A and B to create a new raster. Use double quotes.
    """
    print('Running for %s. %s' % (A, time.ctime()))
    cmd = 'gdal_calc.py -A ' + A
    if B is not None:
        cmd = cmd + ' -B ' + B 
    if C is not None:
        cmd = cmd + ' -C ' + C 
    if D is not None:
        cmd = cmd + ' -D ' + D
    if E is not None:
        cmd = cmd + ' -E ' + E
    if F is not None:
        cmd = cmd + ' -F ' + F
    if G is not None:
        cmd = cmd + ' -G ' + G
    cmd = cmd + OutType + ' --outfile=' + OutFile + ' --overwrite --calc=' + Calculation
    subprocess.call(cmd, shell=True)
    cmd = A = B = C = D = E = F = G = None
    print('Ran in shell. See OutFile folder to inspect results. %s' % time.ctime())

In [10]:
def mosaicShell(A, B, OutFile, Band = 1, OutType = '',
                  C=None, D=None, E=None, F=None, G=None):
    print('Running for %s. %s' % (A, time.ctime()))
    
    StringFiles = ' '.join([A,B])
    
    for RasterName in [C,D,E,F,G]:
        if RasterName is not None:
            StringFiles = ' '.join([StringFiles, RasterName])
        else:
            pass
        
    cmd = 'gdal_merge.py -o ' + OutFile + OutType + ' -of gtiff ' + StringFiles
    
    subprocess.call(cmd, shell=True)
    print('Ran in shell. See OutFile folder to inspect results. %s' % time.ctime())

In [11]:
def RasterToShapefile(InRasterPath, OutFilePath = 'RastToShp.shp', Band=1, 
                      OutName='RastToShp', VariableName='value', Driver = 'ESRI Shapefile'):
    """Raster tiff to vector polygon shapefile.
    Can also be used for other file types like geopackage, but note that this code
    currently does not account for writing into an existing file. It will write over
    the file if specified as the file path.
    
    """
    Raster = gdal.Open(InRasterPath)
    RasterBand = Raster.GetRasterBand(Band)
    
    OutDriver = ogr.GetDriverByName(Driver)
    InProj = Raster.GetProjectionRef()
    SpatRef = osr.SpatialReference()
    SpatRef.ImportFromWkt(InProj)
    print(InProj, '\n\n', SpatRef)
    
    if exists(OutFilePath):
        OutFile = ogr.Open(OutFilePath)
    else:
        OutFile = OutDriver.CreateDataSource(OutFilePath)
    OutLayer = OutFile.CreateLayer(OutName, srs = SpatRef, geom_type = ogr.wkbPolygon)
    OutField = ogr.FieldDefn(VariableName, ogr.OFTInteger)
    OutLayer.CreateField(OutField)
    OutField = OutLayer.GetLayerDefn().GetFieldIndex(VariableName)
    print('\n', OutFile, '\n', OutLayer, '\n', OutField)
    
    print('Vectorizing. Input: %s. %s' % (InRasterPath, time.ctime()))
    gdal.Polygonize(RasterBand, None, OutLayer, 0, [], callback=None)
    print('Completed polygons. Stored as: %s. %s' % (OutFilePath, time.ctime()))

    del Raster, RasterBand, OutFile, OutLayer

In [12]:
def rioStats(InRasterPath, Band = 1):
    out = rasterio.open(InRasterPath)
    stats = []
    band = out.read(Band)
    stats.append({
        'raster': out.name,
        'bands': out.count,
        'data type': out.dtypes,
        'no data value': out.nodatavals,
        'width': out.width,
        'height': out.height,
        'min': band.min(),
        'mean': band.mean(),
        'median': np.median(band),
        'max': band.max()})
    print("\n", stats)
    
    out = band = None

In [13]:
def ShapeToRaster(Shapefile, ValueVar, MetaRasterPath, OutFilePath = 'ShpToRast.tif', Band=1, NewDType=None):
    """
    Polygon spatial object to raster tiff.
    """
    # Copy and update the metadata from another raster for the output
    MetaRaster = rasterio.open(MetaRasterPath)
    meta = MetaRaster.meta.copy()
    meta.update(compress='lzw')
    if NewDType is not None:
        meta.update(dtype=NewDType)
    MetaRaster.meta

    print("Rasterizing dataset. %s" % time.ctime())
    with rasterio.open(OutFilePath, 'w+', **meta) as out:
        out_arr = out.read(Band)

        # this is where we create a generator of geom, value pairs to use in rasterizing
        shapes = ((geom,value) for geom, value in zip(Shapefile.geometry, Shapefile[ValueVar]))

        burned = features.rasterize(shapes=shapes, fill=0, out=out_arr, transform=out.transform)
        out.write_band(1, burned)
    out = burned = shapes = None
    
    print("Finished rasterizing. Checking contents. %s" % time.ctime())
    rioStats(OutFilePath)

In [14]:
def MaskByZone(MaskPath, SourceFolder, DestFolder, SourceList = None,
               MaskLayerName = None, dstSRS = 'ESRI:102022'):
    """
    Reduces the size of a raster's valid data cells to vector areas of interest.
    This is useful if the raster data needs to be vectorized later to save space.
    
    The script prepares the vector zones as a list of geometries in the desired
    spatial reference system, then warps each raster in the specified source
    folder to the same SRS. Masking in rasterio then reclassifies any raster cells
    falling outside of a mask polygon as NoData.
    """
    
    ProjSRS = osr.SpatialReference()
    ProjSRS.SetFromUserInput(dstSRS)
    ProjWarp = gdal.WarpOptions(dstSRS = dstSRS)
    
    if SourceList is not None:
        SourceFiles = SourceList
    else:
        SourceFiles = []
        SourceFiles = SourceFiles + [i for i in os.listdir(''.join([SourceFolder, r'/'])) if i.endswith('tif')]
        print(SourceFiles)

    
    ### 1. ASSIGN SPATIAL REFERENCE SYSTEM OF VECTOR MASK AND LOAD GEOMETRIES
    Vector = gpd.read_file(filename=MaskPath, layer=MaskLayerName)
    if Vector.crs != dstSRS:
        if MaskLayerName == None:
            MaskPath = MaskPath + '_temp'
        else:
            MaskLayerName = MaskLayerName + '_temp'
        Vector.to_crs(dstSRS).to_file(filename=MaskPath, layer=MaskLayerName)
    Vector = None # We're reloading the geometries with fiona
    
    with fiona.open(MaskPath, mode="r", layer=MaskLayerName) as Vector:
        MaskGeom = [feature["geometry"] for feature in Vector] # Identify the bounding areas of the mask.
    
    
    ### 2. PREPARE DESTINATION FILES
    for FileName in SourceFiles:
    
        InputRasterPath = os.path.join(ProjectFolder, SourceFolder, FileName)
        
        Sensor = re.search('[A-Z]+_', FileName)
        if Sensor is None:
            Sensor = ''
        else:
            Sensor = Sensor.group(0)

        Year = re.search('\d{4}', FileName)
        if Year is None:
            Year = ''
        else:
            Year = Year.group(0)

        if FileName.endswith('avg.tif') == True:
            IndicType = '_avg'
        elif FileName.endswith('cfc.tif') == True:
            IndicType = '_cfc'
        else:
            IndicType = ''

        TempOutputName = 'Temp_' + Sensor + Year + IndicType + '.tif'
        TempOutputPath = os.path.join(ProjectFolder, DestFolder, TempOutputName)
        FinalOutputName = 'Msk_' + Sensor + Year + IndicType + '.tif'
        FinalOutputPath = os.path.join(ProjectFolder, DestFolder, FinalOutputName)

    ### 3. ASSIGN SPATIAL REFERENCE SYSTEM OF RASTER(S)
        InputRasterObject = gdal.Open(InputRasterPath)
        SourceSRS = osr.SpatialReference(wkt=InputRasterObject.GetProjection())
        print('Source projection: ', SourceSRS.GetAttrValue('projcs'))
        print('Destination projection: ', ProjSRS.GetAttrValue('projcs'))

        if SourceSRS.GetAttrValue('projcs') != ProjSRS.GetAttrValue('projcs'):
            Warp = gdal.Warp(TempOutputPath, # Where to store the warped raster
                         InputRasterObject, # Which raster to warp
                         format='GTiff', 
                         options=ProjWarp) # Reproject to Africa Albers Equal Area Conic
            print('Finished gdal.Warp() for %s. %s \n' % (FileName, time.ctime()))

            Warp = None # Close the files
        else:
            pass
        InputRasterObject = None
        
    ### 4. RECLASSIFY AS NODATA IF OUTSIDE OF SETTLEMENT BUFFER ZONE.
        if exists(TempOutputPath):
            NewInputPath = TempOutputPath 
            print("We warped the data, so we'll use that file for next step.")
        else:
            NewInputPath = InputRasterPath 
            print("We skipped the warp, so we continue to use the source file.")

        with rasterio.open(NewInputPath) as InputRasterObject:
            MaskedOutputRaster, OutTransform = rasterio.mask.mask(
                InputRasterObject, MaskGeom, crop=True) # Anything outside the mask is reclassed to the raster's NoData value.
            OutMetaData = InputRasterObject.meta.copy()
        print('Finished rasterio.mask.mask() for %s. %s \n' % (FileName, time.ctime()))

        OutMetaData.update({"driver": "GTiff",
                         "height": MaskedOutputRaster.shape[1],
                         "width": MaskedOutputRaster.shape[2],
                         "transform": OutTransform})

        with rasterio.open(FinalOutputPath, "w", **OutMetaData) as dest:
            dest.write(MaskedOutputRaster)
        print('Written to file. %s \n' % time.ctime())
        InputRasterObject = None

        if exists(TempOutputPath):
            try:  # Finally, remove the intermediate file from disk
                os.remove(TempOutputPath)
            except OSError:
                pass
            print('Removed intermediate file. %s \n' % time.ctime())
        else:
            pass


    print('\n \n Finished all years in list. %s' % time.ctime())

In [15]:
def BatchZonalStats(FolderName, Zones, 
                    CRS = 'ESRI:102022', 
                    JoinField = 'Sett_ID',
                    StatsWanted = ['count', 'sum', 'mean', 'max', 'min'],
                    SeriesStart = 1999, SeriesEnd = 2015, 
                    AnnualizedFiles = None, VarPrefix = None):
    """
    Normally, we would use numpy to generate a point gdf from the raster's matrix. 
    However, I was running into a lot of memory errors with that method.
    This method uses some extra steps: tif to xyz to df to gdf. But it saves to file
    and deletes intermediate files along the way, circumventing memory issues.
    
    Run MaskByZone() prior to reduce the raster to only your area(s) of interest.
    
    """
    if AnnualizedFiles is None:
        AnnualizedFiles = [i for i in os.listdir(FolderName) if i.endswith('.tif')]
    print(AnnualizedFiles)
    AllSummaries = pd.DataFrame(Zones).drop(columns='geometry')[[JoinField]]
    print(AllSummaries)
    
    if VarPrefix is None:
        VarPrefix = FolderName[:3].upper()
    
    for FileName in AnnualizedFiles:
    ### STEP 1: TIF TO XYZ ###
        print('Loading data for %s. %s \n' % (FileName, time.ctime()))
        
        Sensor = re.search('[A-Z]+_', FileName)
        if Sensor is None:
            Sensor = ''
        else:
            Sensor = Sensor.group(0)
            
        Year = re.search('\d{4}', FileName)
        if Year is None:
            Year = ''
        else:
            Year = Year.group(0)
        
        InputRasterPath = os.path.join(ProjectFolder, FolderName, FileName)
        InputRasterObject = gdal.Open(InputRasterPath)
        XYZOutputPath = FolderName + r'/{}'.format(
            FileName.replace('.tif', '.xyz')) # New file path will be the same as original, but .tif is replaced with .xyz

        # Create an .xyz version of the .tif
        if exists(XYZOutputPath):
            print("Already created xyz file.")
        else:
            print("Creating XYZ (gdal.Translate()).")
            XYZ = gdal.Translate(XYZOutputPath, # Specify a destination path
                                 InputRasterObject, # Input is the masked .tif file
                                 format='XYZ', 
                                 creationOptions=["ADD_HEADER_LINE=YES"])
            print('Finished gdal.Translate() for year %s. %s \n' % (Year, time.ctime()))
            XYZ = None # Reload XYZ as a point geodataframe

        InputRasterObject = None


    ### STEP 2: GENERATE GEODATAFRAME WITH JOIN FIELD ###
        InputXYZ = pd.read_table(XYZOutputPath, delim_whitespace=True)
        InputXYZ = InputXYZ.loc[InputXYZ['Z'] > 0] # Subset to only the features that have a value.
        
        if re.search('WSFE', FileName) is not None: # Scale back up to years if working with flood/building data.
            InputXYZ['Z'] = InputXYZ['Z'] + 1900
            
        print('Loaded XYZ file as a pandas dataframe. %s \n' % time.ctime())
        ValObject = gpd.GeoDataFrame(InputXYZ,
                                     geometry = gpd.points_from_xy(InputXYZ['X'], InputXYZ['Y']),
                                     crs = CRS)
        print('Created geodataframe from non-NoData points. %s \n' % time.ctime())
        del InputXYZ

        # Sjoin_nearest: No need to group by ADM this time. 
        ValObject_withID = pd.DataFrame(gpd.sjoin_nearest(ValObject, 
                                        Zones, 
                                        how='left')).drop(columns='geometry')[['Z', JoinField]] # No need for max_distance parameter this time. We've already narrowed down to nearby raster cells.

        print('\nJoined zone ID onto vectorized raster cells. %s \n' % time.ctime())
        print(ValObject_withID.sample(10))
        del ValObject

        ValObject_withID.to_csv(''.join([FolderName, r'/', FileName.replace('.tif', '.csv')]))
        print('\nExported as table. %s \n' % time.ctime())

#         # Remove the temporary xyz file.
#         try:  
#             os.remove(os.path.join(XYZOutputPath))
#         except OSError:
#             pass
#         print('Removed (or skipped if error) intermediate xyz file. %s \n' % time.ctime())


    ### STEP 3: AGGREGATE BY SETTLEMENT AND MERGE ONTO SUMMARIES TABLE ###
        GroupedVals = ValObject_withID[ValObject_withID['Z'].notna()].groupby(JoinField, as_index=False)
        
        # Run this block if the variable is about cloud-free coverage.
        if re.search('cfc', FileName) is not None:
            VariableName = ''.join([VarPrefix, 'cfc_', Sensor, Year])
            AllSummaries = AllSummaries.merge(GroupedVals.mean().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            print('\nCount of cloud-free observations averaged to settlement level, year %s. %s \n' % (Year, time.ctime()))
            
            # Save in-progress results
            AllSummaries.to_csv(os.path.join(ResultsFolder, ''.join([VarPrefix, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
            print(AllSummaries.sample(10))
        
        # Run this block if we're working with the flooded buildings data.
        elif re.search('WSFE', FileName) is not None:
            for BuiltYear in AllStudyYears:
                Grouped_Subset = GroupedVals[GroupedVals['Z'].between(
                    1985, BuiltYear, inclusive=True)] # Inclusive parameter means we include the years 1985 and the named year.
                if 'count' in StatsWanted:
                    VariableName = ''.join([VarPrefix, 'ct', Sensor, BuiltYear])
                    AllSummaries = AllSummaries.merge(GroupedVals.count().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
                if 'sum' in StatsWanted:
                    VariableName = ''.join([VarPrefix, 'sum', Sensor, BuiltYear])
                    AllSummaries = AllSummaries.merge(GroupedVals.sum().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
                if 'mean' in StatsWanted:
                    VariableName = ''.join([VarPrefix, 'avg', Sensor, BuiltYear])
                    AllSummaries = AllSummaries.merge(GroupedVals.mean().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
                if 'max' in StatsWanted:
                    VariableName = ''.join([VarPrefix, 'max', Sensor, BuiltYear])
                    AllSummaries = AllSummaries.merge(GroupedVals.max().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
                if 'min' in StatsWanted:
                    VariableName = ''.join([VarPrefix, 'min', Sensor, BuiltYear])
                    AllSummaries = AllSummaries.merge(GroupedVals.min().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
                print('\nDesired aggregation methods applied to settlement level, year %s. %s \n' % (Year, time.ctime()))

                # Save in-progress results
                AllSummaries.to_csv(os.path.join(ResultsFolder, ''.join([VarPrefix, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
                print(AllSummaries.sample(10))
        
        # Anything else takes the standard aggregation method.
        else:
            if 'count' in StatsWanted:
                VariableName = ''.join([VarPrefix, 'ct', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.count().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'sum' in StatsWanted:
                VariableName = ''.join([VarPrefix, 'sum', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.sum().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'mean' in StatsWanted:
                VariableName = ''.join([VarPrefix, 'avg', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.mean().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'max' in StatsWanted:
                VariableName = ''.join([VarPrefix, 'max', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.max().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'min' in StatsWanted:
                VariableName = ''.join([VarPrefix, 'min', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.min().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            print('\nDesired aggregation methods applied to settlement level, year %s. %s \n' % (Year, time.ctime()))
            
            # Save in-progress results
            AllSummaries.to_csv(os.path.join(ResultsFolder, ''.join([VarPrefix, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
            print(AllSummaries.sample(10))

    
    print('\n\nFinished. All years masked and assigned their nearest settlement. %s' % time.ctime())
    print(AllSummaries.sample(10))
    AllSummaries.to_csv(os.path.join(ResultsFolder, ''.join([VarPrefix, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
    print('Saved to file. %s \n' % time.ctime())

---

## 2. PREPARE BUILDUP, SETTLEMENT, AND ADMIN DATASETS
Projection for all datasets: Africa Albers Equal Area Conic

### 2.1 Prepare GRID3 and Admin area files

In [20]:
ADM_vec = gpd.read_file(glob.glob('ADM/*.shp')[0])[['geometry']].to_crs("ESRI:102022") # This glob() function pulls the first file ([0]) in the ADM folder which ended in '.shp'
GRID3_vec = gpd.read_file(glob.glob('Settlement/*.shp')[0])[['type','geometry']].to_crs("ESRI:102022")
ADM_vec['ADM_ID'] = range(0,len(ADM_vec))
ADM_vec['ADM_ID'] = ADM_vec['ADM_ID'] + 1 # We have to add 1 if we want our rasterized version's NoData value to be 0. Otherwise the first feature won't be valid.
GRID3_vec['G3_ID'] = range(0,len(GRID3_vec))
GRID3_vec['G3_ID'] = GRID3_vec['G3_ID'] +1
ADM_vec.to_file(driver='GPKG', filename=r'ADM/ADM_withID.gpkg', layer='ADM')
GRID3_vec.to_file(driver='GPKG', filename=r'Settlement/Settlement_withID.gpkg', layer='GRID3')

In [21]:
ADM_vec = gpd.read_file(r'ADM/ADM_withID.gpkg', layer='ADM')
GRID3_vec = gpd.read_file(r'Settlement/Settlement_withID.gpkg', layer='GRID3')

# We need to know how many digits need to be allocated to each dataset in the "join" serial.
len_ADM = len(str(ADM_vec['ADM_ID'].max()))
len_G3 =  len(str(GRID3_vec['G3_ID'].max()))

print(ADM_vec.info(), "\n\n", 
      ADM_vec.sample(5),
      ADM_vec.crs, "\n\n", 
      len_ADM) 
print(GRID3_vec.info(), "\n\n",
      GRID3_vec.sample(5),
      GRID3_vec.crs, "\n\n", 
      len_G3)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ADM_ID    70 non-null     int64
 1   geometry  70 non-null     geometry
dtypes: geometry(1), int64(1)
memory usage: 1.2 KB
None

     ADM_ID                                           geometry
58      59  POLYGON ((-847666.562 2643358.538, -847572.175...
19      20  POLYGON ((-931034.749 1058450.297, -926665.181...
60      61  POLYGON ((-285472.101 1944944.251, -285080.373...
4        5  POLYGON ((-891560.498 1444313.809, -887072.886...
51      52  POLYGON ((-940078.833 1672908.818, -935138.805... PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

 2
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 353534 entries, 0 to 353533
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   type      353534 non-null  object
 1   G3_ID     353534 non-null  int64
 2   geometry  353534 non-null  geometry
dtypes: geometry(1), int64(1), object(1)
memory usage: 8.1+ MB
None

           type   G3_ID                                           geometry
177892  Hamlet  177893  POLYGON ((-684958.934 1418953.925, -684924.961...
185641  Hamlet  185642  POLYGON ((-627795.697 1433188.853, -627754.186...
49842   Hamlet   49843  POLYGON ((-769256.001 1071267.973, -769215.022...
35942   Hamlet   35943  POLYGON ((-830590.124 1024750.193, -830551.151...
288494  Hamlet  288495  POLYGON ((-435456.438 1591098.262, -435414.651... PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

 6

### 2.2 Reproject WSFE to project CRS, and ensure valid data range is only 1985-2015.

In [20]:
# # If WSFE hasn't been mosaicked yet:
# A=os.path.join(ProjectFolder, 'Buildup', 'Pre_mosaic', 'WSFE1.tif')
# B=os.path.join(ProjectFolder, 'Buildup', 'Pre_mosaic', 'WSFE2.tif')
# C=os.path.join(ProjectFolder, 'Buildup', 'Pre_mosaic', 'WSFE3.tif')
# D=os.path.join(ProjectFolder, 'Buildup', 'Pre_mosaic', 'WSFE4.tif')

# Out=os.path.join(ProjectFolder, 'Buildup', 'WSFE.tif')

# mosaicShell(A=A, B=B, C=C, D=D, OutFile=Out, OutType = ' -ot UInt32 ')

# Out=None

Running for Q:\GIS\povertyequity\urban_growth\Mali\Buildup\Pre_mosaic\WSFE1.tif. Thu Mar  2 10:39:22 2023
Ran in shell. See OutFile folder to inspect results. Thu Mar  2 10:40:15 2023

In [17]:
InPath = glob.glob('Buildup/*.tif')[0]
OutWGS = os.path.join(ProjectFolder, 'Buildup', 'WSFE_reclass.tif')

# Together, x and y define the data's "shape".
# geotransform contains the parameters detailing how the raster should be stretched and aligned.
# geoproj is the map projection
# Z are the values in the raster band.
[xsize,ysize,geotransform,geoproj,Z] = readRaster(InPath)
Z[Z<1985] = 0
Z[Z>2015] = 0

writeRaster(OutWGS,geotransform,geoproj,Z, NoDataVal=0, dst_datatype=gdal.GDT_UInt32)
print('Wrote the reclassed raster to file. %s' % time.ctime())

Wrote the reclassed raster to file. Fri Mar  3 12:08:22 2023

In [18]:
OutEqArea = os.path.join(ProjectFolder, 'Buildup', 'WSFE_equalarea.tif')

# Whenever we want to work in a projected CRS, we'll use Africa Albers Equal Area Conic.
ProjEqArea = gdal.WarpOptions(dstSRS='ESRI:102022')
Warp = gdal.Warp(OutEqArea, # Where to store the warped raster
                 OutWGS, # Which raster to warp
                 format='GTiff', 
                 options=ProjEqArea)
print('Wrote the reclassed and reprojected raster to file. %s' % time.ctime())

Wrote the reclassed and reprojected raster to file. Fri Mar  3 12:09:24 2023

In [19]:
rioStats(OutWGS)
rioStats(OutEqArea)

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Chad/Buildup/WSFE_reclass.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (0.0,), 'width': 39041, 'height': 60394, 'min': 0, 'mean': 0.521958189572685, 'median': 0.0, 'max': 2015}]

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Chad/Buildup/WSFE_equalarea.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (0.0,), 'width': 37348, 'height': 61455, 'min': 0, 'mean': 0.5220090568694347, 'median': 0.0, 'max': 2015}]

In [20]:
InPath = Warp = OutWGS = OutEqArea = None

---

## 3. WSFE AND ADM; GRID3 AND ADM
RASTERIZE: Bring ADM and GRID3 into raster space.

RASTER MATH: "Join" ADM ID onto GRID3 and onto WSFE by creating unique concatenation string.

VECTORIZE: Bring joined data into vector space.

VECTOR MATH: Split unique ID from raster math step into separate columns.

### 3.1 Rasterize admin areas and GRID3 using WSFE specs.

In [22]:
# Copy and update the metadata from WSFE for the output
WSFE = os.path.join(ProjectFolder, 'Buildup', 'WSFE_equalarea.tif')
ADM_out = os.path.join(ProjectFolder, 'ADM', 'ADM_rasterized.tif')
GRID3_out = os.path.join(ProjectFolder, 'Settlement', 'GRID3_rasterized.tif')

In [23]:
ShapeToRaster(Shapefile=ADM_vec, ValueVar="ADM_ID", MetaRasterPath=WSFE, OutFilePath=ADM_out, NewDType = 'uint16')
ShapeToRaster(GRID3_vec, "G3_ID", WSFE, GRID3_out, NewDType='uint32')

Rasterizing dataset. Fri Mar  3 13:27:53 2023
Finished rasterizing. Checking contents. Fri Mar  3 13:28:49 2023

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Chad/ADM/ADM_rasterized.tif', 'bands': 1, 'data type': ('uint16',), 'no data value': (0.0,), 'width': 37348, 'height': 61455, 'min': 0, 'mean': 25.36022486877017, 'median': 11.0, 'max': 70}]
Rasterizing dataset. Fri Mar  3 13:29:19 2023
Finished rasterizing. Checking contents. Fri Mar  3 13:32:34 2023

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Chad/Settlement/GRID3_rasterized.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (0.0,), 'width': 37348, 'height': 61455, 'min': 0, 'mean': 1171.613932064173, 'median': 0.0, 'max': 353534}]

### 3.2 Raster math to "join" admin to GRID3 and to WSFE.
Processing is more rapid when "joining," i.e. creating serial codes out of two datasets, in raster rather than vector space.
Here, we are concatenating the ID fields of the two datasets to create a serial number that we can then split in vector space later to create two ID fields.

In [30]:
# In paths
InG3 = os.path.join(ProjectFolder, 'Settlement', 'GRID3_rasterized.tif')
InWSFE = os.path.join(ProjectFolder, 'Buildup', 'WSFE_equalarea.tif')
InADM = os.path.join(ProjectFolder, 'ADM', 'ADM_rasterized.tif')

# Out paths
G3_ADM = os.path.join(ProjectFolder, 'Settlement', 'GRID3_ADM.tif')
WSFE_ADM = os.path.join(ProjectFolder, 'Buildup', 'WSFE_ADM.tif')

In [31]:
# Recalculate number of digits for each dataset if starting from Section 3
G3_rio = rasterio.open(InG3).read(1)
WSFE_rio = rasterio.open(InWSFE).read(1)
ADM_rio = rasterio.open(InADM).read(1)

len_G3 = len(str(G3_rio.max()))
len_WSFE = len(str(WSFE_rio.max()))
len_ADM = len(str(ADM_rio.max()))

G3_rio = WSFE_rio = ADM_rio = None
print('GRID3: ', len_G3, '\nWSFE: ', len_WSFE, '\nADM: ', len_ADM)

GRID3:  6
WSFE:  4
ADM:  2

In [33]:
# Calculations
# The number of digits in the largest ADM index value (len_ADM) is 
# the number of zeroes we tack onto the first variable in the serial.

Calc = "(A*" + str(10**len_ADM) + ")+B" 

calcShell(A=InG3, B=InADM, OutFile=G3_ADM, Calculation=Calc)
calcShell(A=InWSFE, B=InADM, OutFile=WSFE_ADM, Calculation=Calc)

Running for Q:\GIS\povertyequity\urban_growth\Chad\Buildup\WSFE_equalarea.tif. Fri Mar  3 16:07:32 2023
Ran in shell. See OutFile folder to inspect results. Fri Mar  3 16:10:11 2023

*Adding together the values to create join IDs. This is in effect a concatenation of their ID strings, by way of summation. The number of zeros in the calc multiplication corresponds with number of digits of the maximum value in the "B" dataset. (e.g. Chad ADM codes go up 4 digits, so it's calc=(A*10000)+B).*

In [34]:
rioStats(G3_ADM)
rioStats(WSFE_ADM)

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Chad/Settlement/GRID3_ADM.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (4294967293.0,), 'width': 37348, 'height': 61455, 'min': 129, 'mean': 4260448031.470159, 'median': 4294967293.0, 'max': 4294967293}]

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/Chad/Buildup/WSFE_ADM.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (4294967293.0,), 'width': 37348, 'height': 61455, 'min': 198501, 'mean': 4293842016.965927, 'median': 4294967293.0, 'max': 4294967293}]

### 3.3 Vectorize serialized layers.

In [35]:
G3_in = os.path.join(ProjectFolder, 'Settlement', 'GRID3_ADM.tif')
G3_out = os.path.join(ProjectFolder, 'Settlement', 'GRID3_ADM.shp')
WSFE_in = os.path.join(ProjectFolder, 'Buildup', 'WSFE_ADM.tif')
WSFE_out = os.path.join(ProjectFolder, 'Buildup', 'WSFE_ADM.shp')

In [ ]:
RasterToShapefile(G3_in, G3_out, OutName='GRID3_ADM', VariableName='gridcode', Driver = 'ESRI Shapefile')

In [36]:
RasterToShapefile(WSFE_in, WSFE_out, OutName='WSFE_ADM', VariableName='gridcode', Driver = 'ESRI Shapefile')

PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]

 PROJCS["Africa_Albers_Equal_Area_Conic",
    GEOGCS["WGS 84",
        DATUM["WGS_1984",
            SPHEROID["WGS 84",6378137,298.257223563,
                AUTHORITY["EPSG","7030"]],
            AUTHORITY["EPSG","6326"]],
        PRIMEM["Greenwich",0],
        UNIT["degree",0.0174532925199433,
            AUTHORITY["EPSG","9122"]],
        AUTHORITY["EPSG","4326"]],
    PROJECTION["Albers_Conic_Equal_Area"],
    PARAMETER["latitude_of_center",0],
    PARAMETER["longitude_of_center",25],
    PARAMETER["standard_parallel_1",20],
    PARAMETER["standard_parallel_2",-23],
    PARAMETER["false_easting",0],
    PARAMETER["false_northing",0],
    UNIT["metre",1,
        AUTHORITY["EPSG","9001"]],
    AXIS["Easting",EAST],
    AXIS["Northing",NORTH]]

 <osgeo.ogr.DataSource; proxy of <Swig Object of type 'OGRDataSourceShadow *' at 0x000002461AD27360> >
 <osgeo.ogr.Layer; proxy of <Swig Object of type 'OGRLayerShadow *' at 0x000002461AD27270> >
 0
Vectorizing. Input: Q:\GIS\povertyequity\urban_growth\Chad\Buildup\WSFE_ADM.tif. Fri Mar  3 16:11:19 2023
Completed polygons. Stored as: Q:\GIS\povertyequity\urban_growth\Chad\Buildup\WSFE_ADM.shp. Fri Mar  3 16:12:10 2023

### 3.4 Vector math to split raster strings into admin area, GRID3, and WSFE year assignments.

In [37]:
# Load newly created vectorized datasets.
GRID3_ADM = gpd.read_file(r"Settlement/GRID3_ADM.shp").to_crs("ESRI:102022")
WSFE_ADM = gpd.read_file(r"Buildup/WSFE_ADM.shp").to_crs("ESRI:102022")
print(GRID3_ADM.info(), "\n\n", GRID3_ADM.sample(10), "\n\n", GRID3_ADM.crs, "\n\n", 
      WSFE_ADM.info(), "\n\n", WSFE_ADM.sample(10), "\n\n", WSFE_ADM.crs, "\n\n", 
      GRID3_ADM['gridcode'].max(), WSFE_ADM['gridcode'].max())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 374089 entries, 0 to 374088
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gridcode  374089 non-null  int64
 1   geometry  374089 non-null  geometry
dtypes: geometry(1), int64(1)
memory usage: 5.7 MB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 127329 entries, 0 to 127328
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gridcode  127329 non-null  int64
 1   geometry  127329 non-null  geometry
dtypes: geometry(1), int64(1)
memory usage: 1.9 MB
None

           gridcode                                           geometry
300502     9718140  POLYGON ((-609043.637 1167617.022, -608984.515...
360162     3549024  POLYGON ((-837579.703 1017476.719, -837491.020...
189222    15885513  POLYGON ((-915059.075 1487614.811, -914999.953...
60487     34373166  POLYGON ((-915088.636 1646505.168, -914999.953...
172178  2147483647  POLYGON ((-1009329.093 1513569.366, -1009299.5...
77016     23090943  POLYGON ((-344561.400 1619870.710, -344472.717...
327702     1869134  POLYGON ((-1017133.196 1103853.952, -1017044.5...
329140     2927447  POLYGON ((-872845.972 1101016.096, -872757.289...
239662     7772205  POLYGON ((-908939.949 1401237.579, -908851.266...
167864    14657319  POLYGON ((-1019645.881 1519215.516, -1019586.7...

 ESRI:102022

 None

           gridcode                                           geometry
110769      201020  POLYGON ((-930755.964 1014195.449, -930726.403...
123227      200325  POLYGON ((-824395.498 978249.277, -824365.937 ...
29956       200651  POLYGON ((-1037234.674 1430266.477, -1037205.1...
117884      199929  POLYGON ((-916389.320 1003849.100, -916359.759...
71967       201547  POLYGON ((-895460.134 1123334.649, -895430.573...
90424       199662  POLYGON ((-688474.035 1078667.983, -688444.474...
117449      201327  POLYGON ((-853838.251 1005356.711, -853808.690...
5885    2147483647  POLYGON ((-437412.490 1620314.125, -437294.246...
47713       198551  POLYGON ((-1044506.679 1421841.593, -1044477.1...
100462      200622  POLYGON ((-947369.244 1043638.202, -947339.683...

 ESRI:102022

 2147483647 2147483647

In [38]:
# Split serial back into separate dataset fields.
# For example, Burkina: WSFE and ADM: 4+3=7 digits. GRID3 and ADM: 6+3=9 digits.
G3_Fill = len_G3 + len_ADM
WSFE_Fill = len_WSFE + len_ADM

GRID3_ADM['gridstring'] = GRID3_ADM['gridcode'].astype(str).str.zfill(G3_Fill)
WSFE_ADM['gridstring'] = WSFE_ADM['gridcode'].astype(str).str.zfill(WSFE_Fill)

GRID3_ADM['Sett_ID'] = GRID3_ADM['gridstring'].str[:-len_ADM].astype(int) # Remove the last 3 digits to get the GRID3 portion.
GRID3_ADM['ADM_ID'] = GRID3_ADM['gridstring'].str[-len_ADM:].astype(int) # Keep only the last 3 digits to get the ADM portion.
WSFE_ADM['year'] = WSFE_ADM['gridstring'].str[:-len_ADM].astype(int)
WSFE_ADM['ADM_ID'] = WSFE_ADM['gridstring'].str[-len_ADM:].astype(int)

print(GRID3_ADM.sample(10), WSFE_ADM.sample(10))

        gridcode                                           geometry  \
2397    35224759  POLYGON ((-857710.741 2333000.194, -857622.058...
269332  11012956  POLYGON ((-218454.188 1324290.304, -218365.505...
273656   6974705  POLYGON ((-974092.385 1309480.245, -974003.702...
350540   3719724  POLYGON ((-850143.126 1044436.348, -850054.443...
124163  27054202  POLYGON ((-556099.892 1571627.163, -556040.770...
153883  21528643  POLYGON ((-321326.456 1538371.042, -321237.773...
334694   2901047  POLYGON ((-890493.887 1086708.574, -890434.765...
50123   29579141  POLYGON ((-427154.824 1664478.254, -427066.141...
181079  20591742  POLYGON ((-380803.182 1500473.844, -380684.938...
106369  15088119  POLYGON ((-1028159.448 1589245.517, -1028041.2...

       gridstring  Sett_ID  ADM_ID
2397     35224759   352247      59
269332   11012956   110129      56
273656   06974705    69747       5
350540   03719724    37197      24
124163   27054202   270542       2
153883   21528643   215286      43
334694   02901047    29010      47
50123    29579141   295791      41
181079   20591742   205917      42
106369   15088119   150881      19           gridcode                                           geometry  \
124009    199831  POLYGON ((-789040.546 974642.835, -789010.985 ...
66607     201407  POLYGON ((-784547.274 1188221.036, -784517.713...
83195     198563  POLYGON ((-959784.863 1096315.898, -959696.180...
112373    199120  POLYGON ((-930962.891 1012214.862, -930933.330...
25105     199614  POLYGON ((-996913.475 1464823.282, -996883.914...
46898     198851  POLYGON ((-1028987.156 1421989.398, -1028957.5...
67004     201236  POLYGON ((-1027006.569 1166198.094, -1026977.0...
17565     199719  POLYGON ((-1037973.699 1578248.827, -1037914.5...
5681      201141  POLYGON ((-432682.731 1620402.808, -432623.609...
103389    200530  POLYGON ((-773905.316 1029064.630, -773846.194...

       gridstring  year  ADM_ID
124009     199831  1998      31
66607      201407  2014       7
83195      198563  1985      63
112373     199120  1991      20
25105      199614  1996      14
46898      198851  1988      51
67004      201236  2012      36
17565      199719  1997      19
5681       201141  2011      41
103389     200530  2005      30

In [39]:
# Dissolve any features that have the same G3 and ADM values so that we have a single unique feature per settlement.
# Note: we do NOT want to dissolve the WSFE features. Distinct features for noncontiguous builtup areas of the same year is necessary to separate them in the Near tool step.
print(time.ctime())
GRID3_ADM = GRID3_ADM.dissolve(by=['Sett_ID', 'ADM_ID'], as_index=False)
print(GRID3_ADM.info(), GRID3_ADM.head(), "\n\n", time.ctime())

Fri Mar  3 16:12:49 2023
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 354287 entries, 0 to 354286
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sett_ID     354287 non-null  int64
 1   ADM_ID      354287 non-null  int64
 2   geometry    354287 non-null  geometry
 3   gridcode    354287 non-null  int64
 4   gridstring  354287 non-null  object
dtypes: geometry(1), int64(3), object(1)
memory usage: 13.5+ MB
None    Sett_ID  ADM_ID                                           geometry  \
0        1      29  POLYGON ((-971431.896 905410.981, -971313.652 ...
1        2      29  POLYGON ((-967766.332 914870.500, -967677.649 ...
2        3      29  POLYGON ((-940008.556 930537.828, -939949.434 ...
3        4      29  MULTIPOLYGON (((-958484.179 937366.418, -95848...
4        5      29  POLYGON ((-903205.115 999740.121, -903086.871 ...

   gridcode gridstring
0       129   00000129
1       229   00000229
2       329   00000329
3       429   00000429
4       529   00000529

 Fri Mar  3 16:18:11 2023

In [40]:
# Remove features where year, settlement, or admin area = 0.
# This was supposed to be resolved earlier with the gdal_calc NoDataValue parameter.

print("Before: WSFE %s and GRID3 %s\n" % (WSFE_ADM.shape, GRID3_ADM.shape))
WSFE_ADM = WSFE_ADM.loc[(WSFE_ADM["year"] != 0) & (WSFE_ADM["ADM_ID"] != 0)] # Since we change the datatype to integer, no need to include all digits. Otherwise, it would need to be: != '0000'
GRID3_ADM = GRID3_ADM.loc[(GRID3_ADM["Sett_ID"] != 0) & (GRID3_ADM["ADM_ID"] != 0)]
print("After: WSFE %s and GRID3 %s\n" % (WSFE_ADM.shape, GRID3_ADM.shape))

Before: WSFE (127329, 5) and GRID3 (354287, 5)

After: WSFE (127329, 5) and GRID3 (354287, 5)

In [41]:
# The Bounded_ID is our new unique settlement identifier for subsequent matching steps.
GRID3_ADM['Bounded_ID'] = GRID3_ADM.index
WSFE_ADM['WSFE_ID'] = WSFE_ADM.index
GRID3_ADM = GRID3_ADM[['Sett_ID', 'Bounded_ID', 'ADM_ID', 'geometry']]
WSFE_ADM = WSFE_ADM[['WSFE_ID', 'year', 'ADM_ID', 'geometry']]

In [42]:
# Validation: 
# The first two printed numbers should be the same. There shouldn't be any GRID3 rows with matching Sett_ID and ADM_IDs.
# The latter two numbers should be different, and the first should be larger. We never dissolved WSFE by any column.

print(len(GRID3_ADM[['Sett_ID', 'ADM_ID']]),
      len(GRID3_ADM[['Sett_ID', 'ADM_ID']].drop_duplicates()),
      len(WSFE_ADM[['year', 'ADM_ID']]),
      len(WSFE_ADM[['year', 'ADM_ID']].drop_duplicates()))

354287 354287 127329 1698

In [43]:
GRID3_ADM.to_file(
    driver='GPKG', filename='Settlement/GRID3_ADM.gpkg', layer='GRID3_ADM_cleaned')
WSFE_ADM.to_file(
    driver='GPKG', filename=r'Buildup/WSFE_ADM.gpkg', layer='WSFE_ADM_cleaned')

---

## 4. UNIQUE SETTLEMENTS FROM WSFE AND GRID3: TWO VERSIONS

Note that there are 2 versions here, so that we can create a fragmentation index:
1. **Boundless, aka boundary-agnostic settlements**: Unique settlements are linked to GRID3 settlement IDs. Administrative areas do not influence the extents of the settlement.
2. **Bounded, aka politically-defined settlements**: Settlements in the Boundless dataset which spread across more than one administrative area are split into separate settlements in the Bounded dataset. The largest polygon after the split is considered the "principal" settlement, and polygons in other admin areas are considered "fragments." By dividing the fragment area(s) of the Bounded settlement by the area of the Boundless settlement, we can acquire a fragmentation index for each locality.

### 4.1 BOUNDED SETTLEMENTS: Near Join by ADM group.

In [44]:
print("Number of admin areas with GRID3 features: %s" % len(GRID3_ADM['ADM_ID'].unique().tolist()))
print("Number of admin areas with WSFE features: %s" % len(WSFE_ADM['ADM_ID'].unique().tolist()))
print("Number of admin areas where one dataset is observed but the other is not: %s" % (
    len(GRID3_ADM['ADM_ID'].unique().tolist()) - len(WSFE_ADM['ADM_ID'].unique().tolist())))

Number of admin areas with GRID3 features: 70
Number of admin areas with WSFE features: 68
Number of admin areas where one dataset is observed but the other is not: 2

In [45]:
ADM_IDs = sorted(GRID3_ADM['ADM_ID'].unique().tolist())
ADM_IDs

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70]

In [46]:
# We're creating this field to help in removing duplicates from the sjoin_nearest, next section.
GRID3_ADM['G3_Area'] = GRID3_ADM['geometry'].area / 10**6

In [47]:
# Create empty geodataframe to append onto using the dataframe whose geometry we want to retain.
Bounded = GRID3_ADM[0:0]
Bounded["year"] = pd.Series(dtype='int')
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sett_ID     0 non-null      int64
 1   Bounded_ID  0 non-null      int64
 2   ADM_ID      0 non-null      int64
 3   geometry    0 non-null      geometry
 4   G3_Area     0 non-null      float64
 5   year        0 non-null      int32
dtypes: float64(1), geometry(1), int32(1), int64(3)
memory usage: 0.0 bytes

In [48]:
for ID in ADM_IDs:
    WSFE_shard = WSFE_ADM.loc[WSFE_ADM['ADM_ID'] == ID]
    GRID3_shard = GRID3_ADM.loc[GRID3_ADM['ADM_ID'] == ID]
    WSFE_GRID3_shard = gpd.sjoin_nearest(WSFE_shard, 
                                         GRID3_shard, 
                                         how='inner',
                                         max_distance=500)
    Bounded = pd.concat([Bounded, WSFE_GRID3_shard])
    print('Completed near join in admin area %s. %s \n' % (ID, time.ctime()))
print('Completed near join for all ADMs. %s \n' % time.ctime())

del WSFE_shard, GRID3_shard, WSFE_GRID3_shard

Completed near join in admin area 1. Fri Mar  3 16:23:14 2023

Completed near join in admin area 2. Fri Mar  3 16:23:14 2023

Completed near join in admin area 3. Fri Mar  3 16:23:15 2023

Completed near join in admin area 4. Fri Mar  3 16:23:15 2023

Completed near join in admin area 5. Fri Mar  3 16:23:15 2023

Completed near join in admin area 6. Fri Mar  3 16:23:15 2023

Completed near join in admin area 7. Fri Mar  3 16:23:15 2023

Completed near join in admin area 8. Fri Mar  3 16:23:16 2023

Completed near join in admin area 9. Fri Mar  3 16:23:16 2023

Completed near join in admin area 10. Fri Mar  3 16:23:16 2023

Completed near join in admin area 11. Fri Mar  3 16:23:16 2023

Completed near join in admin area 12. Fri Mar  3 16:23:16 2023

Completed near join in admin area 13. Fri Mar  3 16:23:16 2023

Completed near join in admin area 14. Fri Mar  3 16:23:17 2023

Completed near join in admin area 15. Fri Mar  3 16:23:17 2023

Completed near join in admin area 16. Fri Mar  3 16:23:17 2023

Completed near join in admin area 17. Fri Mar  3 16:23:17 2023

Completed near join in admin area 18. Fri Mar  3 16:23:17 2023

Completed near join in admin area 19. Fri Mar  3 16:23:17 2023

Completed near join in admin area 20. Fri Mar  3 16:23:19 2023

Completed near join in admin area 21. Fri Mar  3 16:23:19 2023

Completed near join in admin area 22. Fri Mar  3 16:23:19 2023

Completed near join in admin area 23. Fri Mar  3 16:23:19 2023

Completed near join in admin area 24. Fri Mar  3 16:23:20 2023

Completed near join in admin area 25. Fri Mar  3 16:23:20 2023

Completed near join in admin area 26. Fri Mar  3 16:23:20 2023

Completed near join in admin area 27. Fri Mar  3 16:23:20 2023

Completed near join in admin area 28. Fri Mar  3 16:23:20 2023

Completed near join in admin area 29. Fri Mar  3 16:23:20 2023

Completed near join in admin area 30. Fri Mar  3 16:23:21 2023

Completed near join in admin area 31. Fri Mar  3 16:23:21 2023

Completed near join in admin area 32. Fri Mar  3 16:23:21 2023

Completed near join in admin area 33. Fri Mar  3 16:23:21 2023

Completed near join in admin area 34. Fri Mar  3 16:23:22 2023

Completed near join in admin area 35. Fri Mar  3 16:23:22 2023

Completed near join in admin area 36. Fri Mar  3 16:23:22 2023

Completed near join in admin area 37. Fri Mar  3 16:23:22 2023

Completed near join in admin area 38. Fri Mar  3 16:23:22 2023

Completed near join in admin area 39. Fri Mar  3 16:23:22 2023

Completed near join in admin area 40. Fri Mar  3 16:23:22 2023

Completed near join in admin area 41. Fri Mar  3 16:23:24 2023

Completed near join in admin area 42. Fri Mar  3 16:23:24 2023

Completed near join in admin area 43. Fri Mar  3 16:23:24 2023

Completed near join in admin area 44. Fri Mar  3 16:23:24 2023

Completed near join in admin area 45. Fri Mar  3 16:23:24 2023

Completed near join in admin area 46. Fri Mar  3 16:23:24 2023

Completed near join in admin area 47. Fri Mar  3 16:33:10 2023

Completed near join in admin area 48. Fri Mar  3 16:33:11 2023

Completed near join in admin area 49. Fri Mar  3 16:33:11 2023

Completed near join in admin area 50. Fri Mar  3 16:33:11 2023

Completed near join in admin area 51. Fri Mar  3 16:33:20 2023

Completed near join in admin area 52. Fri Mar  3 16:33:21 2023

Completed near join in admin area 53. Fri Mar  3 16:33:21 2023

Completed near join in admin area 54. Fri Mar  3 16:33:21 2023

Completed near join in admin area 55. Fri Mar  3 16:33:21 2023

Completed near join in admin area 56. Fri Mar  3 16:33:21 2023

Completed near join in admin area 57. Fri Mar  3 16:33:21 2023

Completed near join in admin area 58. Fri Mar  3 16:33:21 2023

Completed near join in admin area 59. Fri Mar  3 16:33:21 2023

Completed near join in admin area 60. Fri Mar  3 16:33:21 2023

Completed near join in admin area 61. Fri Mar  3 16:33:21 2023

Completed near join in admin area 62. Fri Mar  3 16:33:22 2023

Completed near join in admin area 63. Fri Mar  3 16:33:24 2023

Completed near join in admin area 64. Fri Mar  3 16:33:25 2023

Completed near join in admin area 65. Fri Mar  3 16:33:25 2023

Completed near join in admin area 66. Fri Mar  3 16:33:25 2023

Completed near join in admin area 67. Fri Mar  3 16:33:25 2023

Completed near join in admin area 68. Fri Mar  3 16:33:25 2023

Completed near join in admin area 69. Fri Mar  3 16:33:25 2023

Completed near join in admin area 70. Fri Mar  3 16:33:25 2023

Completed near join for all ADMs. Fri Mar  3 16:33:25 2023

In [49]:
Bounded.sample(20)

,Sett_ID,Bounded_ID,ADM_ID,geometry,G3_Area,year,WSFE_ID,ADM_ID_left,index_right,ADM_ID_right
87523,32801,32887,NaN,"POLYGON ((-909117.315 1083456.864, -909087.754...",2.840895,1998,87523.0,64.0,32887.0,64.0
117747,424,423,NaN,"POLYGON ((-929543.963 1004262.954, -929514.402...",4.680354,2015,117747.0,29.0,423.0,29.0
115952,4096,4110,NaN,"POLYGON ((-928952.743 1007839.835, -928893.621...",11.559321,2004,115952.0,29.0,4110.0,29.0
114013,4096,4109,NaN,"POLYGON ((-929189.231 1010293.397, -929159.670...",36.285852,1999,114013.0,20.0,4109.0,20.0
28970,131507,131590,NaN,"POLYGON ((-1040190.774 1431271.551, -1040161.2...",209.346228,2008,28970.0,51.0,131590.0,51.0
78568,14202,14153,NaN,"POLYGON ((-946482.414 1105213.758, -946452.853...",2.719429,1998,78568.0,63.0,14153.0,63.0
103516,4090,4103,NaN,"POLYGON ((-950887.003 1028739.459, -950857.442...",7.994877,1985,103516.0,20.0,4103.0,20.0
120142,40546,40700,NaN,"POLYGON ((-648862.300 993946.166, -648832.739 ...",5.709752,2011,120142.0,39.0,40700.0,39.0
110208,4096,4109,NaN,"POLYGON ((-930342.110 1014579.742, -930312.549...",36.285852,2000,110208.0,20.0,4109.0,20.0
16110,237162,237555,NaN,"POLYGON ((-1115453.071 1586112.052, -1115393.9...",4.473251,2002,16110.0,70.0,237555.0,70.0
89199,32850,32936,NaN,"POLYGON ((-928893.621 1079643.496, -928864.060...",1.184944,2009,89199.0,64.0,32936.0,64.0
36080,131507,131590,NaN,"POLYGON ((-1040190.774 1426748.719, -1040161.2...",209.346228,2004,36080.0,51.0,131590.0,51.0
27474,107505,107715,NaN,"POLYGON ((-373176.445 1435853.506, -373146.884...",6.712061,2009,27474.0,56.0,107715.0,56.0
65593,60380,60456,NaN,"POLYGON ((-1003653.382 1209268.466, -1003594.2...",16.860984,2000,65593.0,33.0,60456.0,33.0
91268,32795,32881,NaN,"POLYGON ((-927681.620 1077101.250, -927652.059...",1.129891,2000,91268.0,64.0,32881.0,64.0
104099,4089,4102,NaN,"POLYGON ((-935130.992 1026670.189, -935101.431...",4.737155,1998,104099.0,20.0,4102.0,20.0
85423,32783,32869,NaN,"POLYGON ((-938619.189 1090521.942, -938589.628...",2.395230,2014,85423.0,64.0,32869.0,64.0
6976,278172,278692,NaN,"POLYGON ((-433510.439 1619782.027, -433480.878...",40.013707,1995,6976.0,41.0,278692.0,41.0
86146,32812,32898,NaN,"POLYGON ((-913255.854 1087565.843, -913226.293...",1.253105,2011,86146.0,64.0,32898.0,64.0
106805,23321,23362,NaN,"POLYGON ((-877841.780 1021999.552, -877812.219...",15.908485,1998,106805.0,27.0,23362.0,27.0

In [50]:
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 131563 entries, 19660 to 17120
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Sett_ID       131563 non-null  int64
 1   Bounded_ID    131563 non-null  int64
 2   ADM_ID        0 non-null       float64
 3   geometry      131563 non-null  geometry
 4   G3_Area       131563 non-null  float64
 5   year          131563 non-null  int32
 6   WSFE_ID       131563 non-null  float64
 7   ADM_ID_left   131563 non-null  float64
 8   index_right   131563 non-null  float64
 9   ADM_ID_right  131563 non-null  float64
dtypes: float64(6), geometry(1), int32(1), int64(2)
memory usage: 10.5 MB

In [51]:
# Remove WSFE features that did not match any GRID3 settlements.
Bounded = Bounded.loc[~Bounded['Sett_ID'].isna()]
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 131563 entries, 19660 to 17120
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Sett_ID       131563 non-null  int64
 1   Bounded_ID    131563 non-null  int64
 2   ADM_ID        0 non-null       float64
 3   geometry      131563 non-null  geometry
 4   G3_Area       131563 non-null  float64
 5   year          131563 non-null  int32
 6   WSFE_ID       131563 non-null  float64
 7   ADM_ID_left   131563 non-null  float64
 8   index_right   131563 non-null  float64
 9   ADM_ID_right  131563 non-null  float64
dtypes: float64(6), geometry(1), int32(1), int64(2)
memory usage: 10.5 MB

In [52]:
del GRID3_ADM, ADM_IDs

### 4.2 Remove duplicates: where buildup polygons intersected with more than one GRID3 settlement extent.
This happens when the first dataset (WSFE) intersects (distance = 0) with more than one feature of the second dataset (GRID3). More common for large cities. For example, Yaoundé, CMN has a large contiguous 1985 WSFE polygon which overlaps several small GRID3 features that are not Yaoundé.

In [53]:
# The first number should always be zero. 
# The second tells us whether/how many WSFE polygons were duplicated by the Near join.

print(len(WSFE_ADM[WSFE_ADM.duplicated('WSFE_ID')]), len(Bounded[Bounded.duplicated('WSFE_ID')]))

0 5830

In [54]:
# If there are duplicate WSFE_IDs, then we need to choose between them.
# We'll pick the one that joined with the largest GRID3 polygon.
# To do that, we can just sort the dataframe by GRID3 areas, then drop_duplicates. 
# It will retain the first row of each WSFE_ID group.
Bounded = Bounded.sort_values('G3_Area', ascending=False).drop_duplicates(['WSFE_ID'])
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 125733 entries, 125952 to 57406
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Sett_ID       125733 non-null  int64
 1   Bounded_ID    125733 non-null  int64
 2   ADM_ID        0 non-null       float64
 3   geometry      125733 non-null  geometry
 4   G3_Area       125733 non-null  float64
 5   year          125733 non-null  int32
 6   WSFE_ID       125733 non-null  float64
 7   ADM_ID_left   125733 non-null  float64
 8   index_right   125733 non-null  float64
 9   ADM_ID_right  125733 non-null  float64
dtypes: float64(6), geometry(1), int32(1), int64(2)
memory usage: 10.1 MB

In [55]:
print(len(Bounded[Bounded.duplicated('WSFE_ID')]))

0

In [56]:
# Now we can dissolve with the WSFE years, now that we can group them by their administratively split ID.
Bounded = Bounded.dissolve(by=['year', 'Bounded_ID'], as_index=False)
print(Bounded.info(), Bounded.sample(10))

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 15001 entries, 0 to 15000
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          15001 non-null  int64
 1   Bounded_ID    15001 non-null  int64
 2   geometry      15001 non-null  geometry
 3   Sett_ID       15001 non-null  int64
 4   ADM_ID        0 non-null      float64
 5   G3_Area       15001 non-null  float64
 6   WSFE_ID       15001 non-null  float64
 7   ADM_ID_left   15001 non-null  float64
 8   index_right   15001 non-null  float64
 9   ADM_ID_right  15001 non-null  float64
dtypes: float64(6), geometry(1), int64(3)
memory usage: 1.1 MB
None        year  Bounded_ID                                           geometry  \
7080   2001       47723  POLYGON ((-793770.305 1040977.712, -793740.744...
8839   2004      127777  MULTIPOLYGON (((-998184.598 1463759.087, -9981...
7795   2002      146244  MULTIPOLYGON (((-997859.427 1602400.161, -9978...
12579  2012       14168  POLYGON ((-958395.496 1107371.710, -958336.374...
2149   1992       14169  POLYGON ((-964130.329 1106337.076, -964100.768...
9331   2005       40700  MULTIPOLYGON (((-648625.812 991876.896, -64862...
7301   2002          64  POLYGON ((-973205.555 926399.289, -973175.994 ...
11321  2009      128037  MULTIPOLYGON (((-1057868.250 1472627.386, -105...
11658  2010       25323  MULTIPOLYGON (((-923513.520 1060754.019, -9235...
9402   2005       81264  MULTIPOLYGON (((-899066.576 1245628.492, -8990...

       Sett_ID  ADM_ID   G3_Area   WSFE_ID  ADM_ID_left  index_right  \
7080     47556     NaN  1.701391  101290.0         32.0      47723.0
8839    127629     NaN  7.813989   25170.0         14.0     127777.0
7795    146075     NaN  0.126709   12053.0         19.0     146244.0
12579    14217     NaN  0.199238   77342.0         63.0      14168.0
2149     14218     NaN  3.404529   77843.0         63.0      14169.0
9331     40546     NaN  5.709752  120810.0         39.0      40700.0
7301        65     NaN  0.708694  126786.0         29.0         64.0
11321   127891     NaN  0.212346   24888.0         14.0     128037.0
11658    25274     NaN  2.573496   96044.0         23.0      25323.0
9402     81087     NaN  0.581986   62931.0          7.0      81264.0

       ADM_ID_right
7080           32.0
8839           14.0
7795           19.0
12579          63.0
2149           63.0
9331           39.0
7301           29.0
11321          14.0
11658          23.0
9402            7.0

In [57]:
# Clean up and save to file.
Bounded = Bounded[['ADM_ID_left', 'year', 'Bounded_ID', 'Sett_ID', 'geometry']].rename(columns={"ADM_ID_left": "ADM_ID"})
Bounded = Bounded.astype({"ADM_ID":'int', "Bounded_ID":'int', "Sett_ID":'int', "year":'int'})
print(Bounded.sample(10))
Bounded.to_file(
    driver='GPKG', filename=r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Bounded')

       ADM_ID  year  Bounded_ID  Sett_ID  \
7634       62  2002       42821    42655
8687       64  2004       32861    32775
10664      28  2008       21369    21358
10655      63  2008       16991    17032
896         5  1985       68183    68069
3549       42  1995      205194   204889
11650      27  2010       23460    23416
744        62  1985       40848    40687
3206       63  1995       14292    14341
5039       64  1999       13998    14048

                                                geometry
7634   MULTIPOLYGON (((-670678.315 1055137.429, -6707...
8687   MULTIPOLYGON (((-938264.457 1083427.303, -9382...
10664  MULTIPOLYGON (((-871456.605 935770.125, -87145...
10655  POLYGON ((-957449.544 1118161.474, -957419.983...
896    MULTIPOLYGON (((-947546.610 1294699.746, -9475...
3549   MULTIPOLYGON (((-385207.770 1503636.871, -3852...
11650  MULTIPOLYGON (((-870333.287 1022117.796, -8703...
744    MULTIPOLYGON (((-669732.363 1043786.007, -6697...
3206   MULTIPOLYGON (((-958099.886 1119018.743, -9581...
5039   MULTIPOLYGON (((-942875.973 1084639.304, -9428...

In [58]:
del WSFE_ADM

### 4.3 BOUNDLESS SETTLEMENTS: Dissolve features that were split by an ADM boundary.

In [59]:
# Fragments of any bounded settlement will be combined into a single "boundless" settlement in this version.
# It is based on their "Sett_ID", which is a direct loan from the GRID3 settlement features.
Boundless = Bounded.dissolve(by=['year', 'Sett_ID'], as_index=False)
print(Boundless.info(), Boundless.sample(10))

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 14857 entries, 0 to 14856
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        14857 non-null  int64
 1   Sett_ID     14857 non-null  int64
 2   geometry    14857 non-null  geometry
 3   ADM_ID      14857 non-null  int32
 4   Bounded_ID  14857 non-null  int32
dtypes: geometry(1), int32(2), int64(2)
memory usage: 464.4 KB
None        year  Sett_ID                                           geometry  \
13975  2014    87797  MULTIPOLYGON (((-717916.788 1338479.583, -7179...
7428   2002    28342  POLYGON ((-895667.061 1092620.773, -895637.500...
1681   1989    87635  POLYGON ((-736510.655 1301232.727, -736481.094...
10432  2007   302298  POLYGON ((-395465.436 1700808.719, -395435.875...
2735   1994    23416  MULTIPOLYGON (((-872047.825 1022354.284, -8720...
12242  2011   127630  POLYGON ((-1067032.159 1486521.054, -1067002.5...
13341  2013   128080  POLYGON ((-1066322.695 1482559.880, -1066293.1...
11301  2009   249143  MULTIPOLYGON (((-993247.911 1612362.217, -9932...
13078  2013    21196  POLYGON ((-835214.823 902011.466, -835185.262 ...
12959  2012   337868  POLYGON ((-1026563.154 1414717.393, -1026533.5...

       ADM_ID  Bounded_ID
13975      10       87993
7428       47       28424
1681       10       87830
10432      48      302951
2735       27       23460
12242      14      127778
13341      14      128226
11301      15      249566
13078      28       21215
12959      51      338561

In [60]:
# Clean up and save to file.
Boundless.to_file(driver='GPKG', filename=r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Boundless')

---

## 5. CUMULATIVE ANNUALIZED SETTLEMENT EXTENTS
DISSOLVE BY YEAR SETS: Create separate feature layers of each cumulative year.

### 5.1 Define study years for each for loop.

In [61]:
Boundless = gpd.read_file(r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Boundless')

In [62]:
ReversedStudyYears_to2014 = []
for i in AllStudyYears:
    ReversedStudyYears_to2014.insert(0,i)
ReversedStudyYears_to2014.remove(2015)
print('\n\n', ReversedStudyYears_to2014)

 [2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999]

### 5.2 Starting with main Boundless dataset, create a cumulative area feature layer for each year.

In [63]:
# For each year in the growth stats study, we are taking features from all years prior to and including that year, 
# dissolving those features, and exporting as its own file.

for item in AllStudyYears:
    print('Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    YearSet = Boundless[Boundless['year'].between(
        1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.
    print('Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. %s\n' % time.ctime())
    YearDissolve = YearSet.dissolve(by='Sett_ID', 
                                        aggfunc={"year": "max", "ADM_ID":"min"}, # Though ADM_ID should be matching every time.
                                        as_index=False)
    print('Write to file. %s\n' % time.ctime())
    YearName = ''.join(['Cu', str(item), '_Boundless'])
    YearDissolve.to_file(driver='GPKG', filename=r'Results/CumulativeSettlements.gpkg', layer=YearName)
    del YearSet, YearDissolve
print("Done with all years in set. %s" % time.ctime())

Subsetting to cumulative area for year: 1999. Fri Mar  3 16:35:31 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:35:31 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:35:44 2023

Subsetting to cumulative area for year: 2000. Fri Mar  3 16:35:48 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:35:48 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:36:02 2023

Subsetting to cumulative area for year: 2001. Fri Mar  3 16:36:06 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:36:06 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:36:21 2023

Subsetting to cumulative area for year: 2002. Fri Mar  3 16:36:25 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:36:25 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:36:41 2023

Subsetting to cumulative area for year: 2003. Fri Mar  3 16:36:45 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:36:45 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:37:02 2023

Subsetting to cumulative area for year: 2004. Fri Mar  3 16:37:05 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:37:05 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:37:23 2023

Subsetting to cumulative area for year: 2005. Fri Mar  3 16:37:27 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:37:27 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:37:45 2023

Subsetting to cumulative area for year: 2006. Fri Mar  3 16:37:48 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:37:48 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:38:08 2023

Subsetting to cumulative area for year: 2007. Fri Mar  3 16:38:11 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:38:11 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:38:30 2023

Subsetting to cumulative area for year: 2008. Fri Mar  3 16:38:34 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:38:34 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:38:52 2023

Subsetting to cumulative area for year: 2009. Fri Mar  3 16:38:56 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:38:56 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:39:17 2023

Subsetting to cumulative area for year: 2010. Fri Mar  3 16:39:20 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:39:20 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:39:41 2023

Subsetting to cumulative area for year: 2011. Fri Mar  3 16:39:45 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:39:45 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:40:06 2023

Subsetting to cumulative area for year: 2012. Fri Mar  3 16:40:10 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:40:10 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:40:32 2023

Subsetting to cumulative area for year: 2013. Fri Mar  3 16:40:35 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:40:35 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:40:58 2023

Subsetting to cumulative area for year: 2014. Fri Mar  3 16:41:01 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:41:01 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:41:25 2023

Subsetting to cumulative area for year: 2015. Fri Mar  3 16:41:29 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Fri Mar  3 16:41:29 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Fri Mar  3 16:41:53 2023

Done with all years in set. Fri Mar  3 16:41:56 2023

##### Join area information from each cumulative layer onto the latest year dataset.

In [64]:
# The latest year in the study contains all settlements. Merge all other years' areas onto this dataset.
SettAreas = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=
                          ''.join(['Cu', str(2015), '_Boundless'])) 
SettAreas['AREA2015'] = SettAreas['geometry'].area / 10**6
SettAreas = pd.DataFrame(SettAreas).drop(columns='geometry') # We have settlement IDs, so no need to join spatially!


for item in ReversedStudyYears_to2014:
    print("Loading cumulative layer for year %s. %s\n" % (item, time.ctime()))
    YearLayer = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=''.join(['Cu', str(item), '_Boundless']))
    print("Adding area field and converting to non-spatial dataframe. %s\n" % (time.ctime()))
    AreaYearName = ''.join(['AREA', str(item)])
    YearLayer[AreaYearName] = YearLayer['geometry'].area/ 10**6 
    YearLayer = pd.DataFrame(YearLayer)[['Sett_ID', AreaYearName]]
    print("Merging variables from %s onto our latest year (%s) via table join. %s\n" % (item, 2015, time.ctime()))
    SettAreas = SettAreas.merge(YearLayer, how='left', on='Sett_ID')
print("Done merging annualized areas onto latest year geometries. Saving to file. %s\n" % (time.ctime()))


print(SettAreas.info())
SettAreas.to_csv(os.path.join(ResultsFolder, 'Areas%sto%s.csv' % (1999, 2015)))

Loading cumulative layer for year 2014. Fri Mar  3 16:41:57 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:41:57 2023

Merging variables from 2014 onto our latest year (2015) via table join. Fri Mar  3 16:41:57 2023

Loading cumulative layer for year 2013. Fri Mar  3 16:41:57 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:41:58 2023

Merging variables from 2013 onto our latest year (2015) via table join. Fri Mar  3 16:41:58 2023

Loading cumulative layer for year 2012. Fri Mar  3 16:41:58 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:41:59 2023

Merging variables from 2012 onto our latest year (2015) via table join. Fri Mar  3 16:41:59 2023

Loading cumulative layer for year 2011. Fri Mar  3 16:41:59 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:41:59 2023

Merging variables from 2011 onto our latest year (2015) via table join. Fri Mar  3 16:41:59 2023

Loading cumulative layer for year 2010. Fri Mar  3 16:41:59 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:00 2023

Merging variables from 2010 onto our latest year (2015) via table join. Fri Mar  3 16:42:00 2023

Loading cumulative layer for year 2009. Fri Mar  3 16:42:00 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:01 2023

Merging variables from 2009 onto our latest year (2015) via table join. Fri Mar  3 16:42:01 2023

Loading cumulative layer for year 2008. Fri Mar  3 16:42:01 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:02 2023

Merging variables from 2008 onto our latest year (2015) via table join. Fri Mar  3 16:42:02 2023

Loading cumulative layer for year 2007. Fri Mar  3 16:42:02 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:02 2023

Merging variables from 2007 onto our latest year (2015) via table join. Fri Mar  3 16:42:02 2023

Loading cumulative layer for year 2006. Fri Mar  3 16:42:02 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:03 2023

Merging variables from 2006 onto our latest year (2015) via table join. Fri Mar  3 16:42:03 2023

Loading cumulative layer for year 2005. Fri Mar  3 16:42:03 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:04 2023

Merging variables from 2005 onto our latest year (2015) via table join. Fri Mar  3 16:42:04 2023

Loading cumulative layer for year 2004. Fri Mar  3 16:42:04 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:04 2023

Merging variables from 2004 onto our latest year (2015) via table join. Fri Mar  3 16:42:04 2023

Loading cumulative layer for year 2003. Fri Mar  3 16:42:04 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:05 2023

Merging variables from 2003 onto our latest year (2015) via table join. Fri Mar  3 16:42:05 2023

Loading cumulative layer for year 2002. Fri Mar  3 16:42:05 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:06 2023

Merging variables from 2002 onto our latest year (2015) via table join. Fri Mar  3 16:42:06 2023

Loading cumulative layer for year 2001. Fri Mar  3 16:42:06 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:07 2023

Merging variables from 2001 onto our latest year (2015) via table join. Fri Mar  3 16:42:07 2023

Loading cumulative layer for year 2000. Fri Mar  3 16:42:07 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:07 2023

Merging variables from 2000 onto our latest year (2015) via table join. Fri Mar  3 16:42:07 2023

Loading cumulative layer for year 1999. Fri Mar  3 16:42:07 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:42:08 2023

Merging variables from 1999 onto our latest year (2015) via table join. Fri Mar  3 16:42:08 2023

Done merging annualized areas onto latest year geometries. Saving to file. Fri Mar  3 16:42:08 2023

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1939 entries, 0 to 1938
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   1939 non-null   int64
 1   year      1939 non-null   int64
 2   ADM_ID    1939 non-null   int64
 3   AREA2015  1939 non-null   float64
 4   AREA2014  1917 non-null   float64
 5   AREA2013  1889 non-null   float64
 6   AREA2012  1873 non-null   float64
 7   AREA2011  1850 non-null   float64
 8   AREA2010  1838 non-null   float64
 9   AREA2009  1824 non-null   float64
 10  AREA2008  1809 non-null   float64
 11  AREA2007  1798 non-null   float64
 12  AREA2006  1791 non-null   float64
 13  AREA2005  1781 non-null   float64
 14  AREA2004  1763 non-null   float64
 15  AREA2003  1750 non-null   float64
 16  AREA2002  1737 non-null   float64
 17  AREA2001  1710 non-null   float64
 18  AREA2000  1691 non-null   float64
 19  AREA1999  1662 non-null   float64
dtypes: float64(17), int64(3)
memory usage: 318.1 KB
None

In [65]:
del SettAreas

### 5.3 Repeat for Bounded dataset.

In [66]:
# Bounded = gpd.read_file(r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Bounded')

for item in AllStudyYears:
    print('Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.
    print('Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. %s\n' % time.ctime())
    YearDissolve = YearSet.dissolve(by='Bounded_ID', 
                                        aggfunc={"year": "max", "ADM_ID":"min", "Sett_ID":"min"}, # Though ADM_ID and Sett_ID should be matching every time.
                                        as_index=False)
    print('Write to file. %s\n' % time.ctime())
    YearName = ''.join(['Cu', str(item), '_Bounded'])
    YearDissolve.to_file(driver='GPKG', filename=r'Results/CumulativeSettlements.gpkg', layer=YearName)
    del YearSet, YearDissolve
print("Done with all years in set. %s" % time.ctime())

Subsetting to cumulative area for year: 1999. Fri Mar  3 16:42:08 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:42:08 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:42:21 2023

Subsetting to cumulative area for year: 2000. Fri Mar  3 16:42:25 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:42:25 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:42:39 2023

Subsetting to cumulative area for year: 2001. Fri Mar  3 16:42:42 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:42:42 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:42:57 2023

Subsetting to cumulative area for year: 2002. Fri Mar  3 16:43:00 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:43:00 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:43:16 2023

Subsetting to cumulative area for year: 2003. Fri Mar  3 16:43:20 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:43:20 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:43:36 2023

Subsetting to cumulative area for year: 2004. Fri Mar  3 16:43:40 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:43:40 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:43:58 2023

Subsetting to cumulative area for year: 2005. Fri Mar  3 16:44:02 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:44:02 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:44:21 2023

Subsetting to cumulative area for year: 2006. Fri Mar  3 16:44:25 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:44:25 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:44:44 2023

Subsetting to cumulative area for year: 2007. Fri Mar  3 16:44:47 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:44:47 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:45:08 2023

Subsetting to cumulative area for year: 2008. Fri Mar  3 16:45:11 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:45:11 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:45:32 2023

Subsetting to cumulative area for year: 2009. Fri Mar  3 16:45:35 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:45:35 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:45:56 2023

Subsetting to cumulative area for year: 2010. Fri Mar  3 16:46:00 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:46:00 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:46:21 2023

Subsetting to cumulative area for year: 2011. Fri Mar  3 16:46:25 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:46:25 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:46:47 2023

Subsetting to cumulative area for year: 2012. Fri Mar  3 16:46:50 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:46:50 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:47:13 2023

Subsetting to cumulative area for year: 2013. Fri Mar  3 16:47:17 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:47:17 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:47:40 2023

Subsetting to cumulative area for year: 2014. Fri Mar  3 16:47:43 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:47:43 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:48:07 2023

Subsetting to cumulative area for year: 2015. Fri Mar  3 16:48:10 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Fri Mar  3 16:48:10 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_3212\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Fri Mar  3 16:48:35 2023

Done with all years in set. Fri Mar  3 16:48:38 2023

In [67]:
SettAreas = gpd.read_file(r'Results/CumulativeSettlements.gpkg', 
                          layer=''.join(['Cu', str(2015), '_Bounded']))
SettAreas['AREA2015'] = SettAreas['geometry'].area / 10**6
SettAreas = pd.DataFrame(SettAreas).drop(columns='geometry')


for item in ReversedStudyYears_to2014:
    print("Loading cumulative layer for year %s. %s\n" % (item, time.ctime()))
    YearLayer = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=''.join(['Cu', str(item), '_Bounded']))
    print("Adding area field and converting to non-spatial dataframe. %s\n" % (time.ctime()))
    AreaYearName = ''.join(['AREA', str(item)])
    YearLayer[AreaYearName] = YearLayer['geometry'].area/ 10**6 
    YearLayer = pd.DataFrame(YearLayer)[['Bounded_ID', AreaYearName]]
    print("Merging variables from %s onto our latest year (%s) via table join. %s\n" % (item, 2015, time.ctime()))
    SettAreas = SettAreas.merge(YearLayer, how='left', on='Bounded_ID')
print("Done merging annualized areas onto latest year geometries. Saving to file. %s\n" % (time.ctime()))

print(SettAreas.info())
SettAreas.to_csv(os.path.join(ResultsFolder, 'Areas%sto%s_%s.csv' % (1999, 2015, 'Bounded')))

Loading cumulative layer for year 2014. Fri Mar  3 16:48:39 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:40 2023

Merging variables from 2014 onto our latest year (2015) via table join. Fri Mar  3 16:48:40 2023

Loading cumulative layer for year 2013. Fri Mar  3 16:48:40 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:40 2023

Merging variables from 2013 onto our latest year (2015) via table join. Fri Mar  3 16:48:40 2023

Loading cumulative layer for year 2012. Fri Mar  3 16:48:40 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:41 2023

Merging variables from 2012 onto our latest year (2015) via table join. Fri Mar  3 16:48:41 2023

Loading cumulative layer for year 2011. Fri Mar  3 16:48:41 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:42 2023

Merging variables from 2011 onto our latest year (2015) via table join. Fri Mar  3 16:48:42 2023

Loading cumulative layer for year 2010. Fri Mar  3 16:48:42 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:42 2023

Merging variables from 2010 onto our latest year (2015) via table join. Fri Mar  3 16:48:42 2023

Loading cumulative layer for year 2009. Fri Mar  3 16:48:42 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:43 2023

Merging variables from 2009 onto our latest year (2015) via table join. Fri Mar  3 16:48:43 2023

Loading cumulative layer for year 2008. Fri Mar  3 16:48:43 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:44 2023

Merging variables from 2008 onto our latest year (2015) via table join. Fri Mar  3 16:48:44 2023

Loading cumulative layer for year 2007. Fri Mar  3 16:48:44 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:45 2023

Merging variables from 2007 onto our latest year (2015) via table join. Fri Mar  3 16:48:45 2023

Loading cumulative layer for year 2006. Fri Mar  3 16:48:45 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:46 2023

Merging variables from 2006 onto our latest year (2015) via table join. Fri Mar  3 16:48:46 2023

Loading cumulative layer for year 2005. Fri Mar  3 16:48:46 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:46 2023

Merging variables from 2005 onto our latest year (2015) via table join. Fri Mar  3 16:48:46 2023

Loading cumulative layer for year 2004. Fri Mar  3 16:48:46 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:47 2023

Merging variables from 2004 onto our latest year (2015) via table join. Fri Mar  3 16:48:47 2023

Loading cumulative layer for year 2003. Fri Mar  3 16:48:47 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:48 2023

Merging variables from 2003 onto our latest year (2015) via table join. Fri Mar  3 16:48:48 2023

Loading cumulative layer for year 2002. Fri Mar  3 16:48:48 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:49 2023

Merging variables from 2002 onto our latest year (2015) via table join. Fri Mar  3 16:48:49 2023

Loading cumulative layer for year 2001. Fri Mar  3 16:48:49 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:49 2023

Merging variables from 2001 onto our latest year (2015) via table join. Fri Mar  3 16:48:49 2023

Loading cumulative layer for year 2000. Fri Mar  3 16:48:49 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:50 2023

Merging variables from 2000 onto our latest year (2015) via table join. Fri Mar  3 16:48:50 2023

Loading cumulative layer for year 1999. Fri Mar  3 16:48:50 2023

Adding area field and converting to non-spatial dataframe. Fri Mar  3 16:48:51 2023

Merging variables from 1999 onto our latest year (2015) via table join. Fri Mar  3 16:48:51 2023

Done merging annualized areas onto latest year geometries. Saving to file. Fri Mar  3 16:48:51 2023

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1958 entries, 0 to 1957
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Bounded_ID  1958 non-null   int64
 1   year        1958 non-null   int64
 2   ADM_ID      1958 non-null   int64
 3   Sett_ID     1958 non-null   int64
 4   AREA2015    1958 non-null   float64
 5   AREA2014    1936 non-null   float64
 6   AREA2013    1908 non-null   float64
 7   AREA2012    1892 non-null   float64
 8   AREA2011    1869 non-null   float64
 9   AREA2010    1857 non-null   float64
 10  AREA2009    1842 non-null   float64
 11  AREA2008    1827 non-null   float64
 12  AREA2007    1816 non-null   float64
 13  AREA2006    1809 non-null   float64
 14  AREA2005    1799 non-null   float64
 15  AREA2004    1781 non-null   float64
 16  AREA2003    1768 non-null   float64
 17  AREA2002    1755 non-null   float64
 18  AREA2001    1728 non-null   float64
 19  AREA2000    1709 non-null   float64
 20  AREA1999    1680 non-null   float64
dtypes: float64(17), int64(4)
memory usage: 336.5 KB
None

In [68]:
del SettAreas

### 5.4 One settlement geofile to rule them all. ...and in the Sett_ID bind them.
The annualized values can be stored as distinct non-spatial dataframes. Their Sett_IDs will be used to join onto this geoversion with place names for the summary stats.

In [69]:
Settlements = gpd.read_file(r'Results/CumulativeSettlements.gpkg', 
                           layer=''.join(['Cu', str(2015), '_Boundless']))[['Sett_ID', 'ADM_ID', 'geometry']]
print(Settlements.info())
print(Settlements.crs)
Settlements.to_file(driver='GPKG', 
                       filename=r'Results/SETTLEMENTS.gpkg', 
                       layer='SETTLEMENTS_equalarea')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   1939 non-null   int64
 1   ADM_ID    1939 non-null   int64
 2   geometry  1939 non-null   geometry
dtypes: geometry(1), int64(2)
memory usage: 45.6 KB
None
PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

In [70]:
# Saving all the final products as WGS84.
Settlements_WGS = Settlements.to_crs(4326) 
print(Settlements_WGS.info())
print(Settlements_WGS.crs)
Settlements_WGS.to_file(driver='GPKG', 
                       filename=r'Results/SETTLEMENTS.gpkg', 
                       layer='SETTLEMENTS')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   1939 non-null   int64
 1   ADM_ID    1939 non-null   int64
 2   geometry  1939 non-null   geometry
dtypes: geometry(1), int64(2)
memory usage: 45.6 KB
None
epsg:4326

### 5.5 Buffer the area of the Boundless dataset's latest year to mask raster data in later sections.
The Bounded dataset would also be fine for our purposes here. The buffer is dissolved to a single feature to be used for its total extents, which are identical between Bounded & Boundless datasets.

In [71]:
# Create buffer layer(s) to use as maximum distance for Near joins.

# Population buffer: 2km
Distance = 2000 # The Africa Albers projection is in meters. Saving in this projection to use in later sections.

print('Creating buffer layer. %s' % time.ctime())
BufferLayer = Settlements[['Sett_ID', 'geometry']]
BufferLayer['geometry'] = BufferLayer['geometry'].apply(
    make_valid).buffer(Distance) # make_valid is a workaround for any null geometries.
print('Finished buffer layer creation. %s' % time.ctime())
BufferFileName1 = ''.join(['Buff', str(Distance), 'm_', str(2015)])
BufferLayer.to_file(driver='GPKG', filename=r'Results/Catchment.gpkg', layer=BufferFileName1)
print('Saved to file. %s' % time.ctime())

Creating buffer layer. Fri Mar  3 16:48:59 2023

C:\Users\grace\miniconda3\envs\geo\lib\site-packages\geopandas\geodataframe.py:1472: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Finished buffer layer creation. Fri Mar  3 16:52:45 2023
Saved to file. Fri Mar  3 16:52:47 2023

In [72]:
# Nighttime Lights buffer: 250m
Distance = 250

print('Creating buffer layer. %s' % time.ctime())
BufferLayer = Settlements[['Sett_ID', 'geometry']]
BufferLayer['geometry'] = BufferLayer['geometry'].apply(
    make_valid).buffer(Distance) # make_valid is a workaround for any null geometries.
print('Finished buffer layer creation. %s' % time.ctime())
BufferFileName2 = ''.join(['Buff', str(Distance), 'm_', str(2015)])
BufferLayer.to_file(driver='GPKG', filename=r'Results/Catchment.gpkg', layer=BufferFileName2)
print('Saved to file. %s' % time.ctime())

Creating buffer layer. Fri Mar  3 16:52:47 2023

C:\Users\grace\miniconda3\envs\geo\lib\site-packages\geopandas\geodataframe.py:1472: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Finished buffer layer creation. Fri Mar  3 16:53:25 2023
Saved to file. Fri Mar  3 16:53:28 2023

---

## 6. PLACE NAMES
Join urban place names from UCDB, Africapolis, and GeoNames onto the settlement vectors.

### 6.1 Load placename datasets, filter, and project.

In [73]:
# Anytime we use a spatial join or work with area, 
# my preference is to keep it in a planar, equal area, meters projection. So we'll load as the Africa Albers.
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')
Settlements['AREA2015'] = Settlements['geometry'].area / 10**6

# Load, pull name field, rename, and reproject to match the catchments CRS.
UCDB = gpd.read_file('PlaceName/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_2.gpkg', 
                     layer=0)[['UC_NM_MN', 'geometry']].rename(
    columns={"UC_NM_MN": "UCDB_Name"}).to_crs("ESRI:102022")

Africapolis = gpd.read_file('PlaceName/AFRICAPOLIS2020.shp')[['agglosName', 'geometry']].rename(
    columns={"agglosName": "Afpl_Name"}).to_crs("ESRI:102022")

GeoNames = gpd.read_file('PlaceName/GeoNames.gpkg', 
                         layer=0)[['GeoName', 'geometry']].to_crs("ESRI:102022")

print(Settlements.info(), UCDB.info(), Africapolis.info(), GeoNames.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   1939 non-null   int64
 1   ADM_ID    1939 non-null   int64
 2   geometry  1939 non-null   geometry
 3   AREA2015  1939 non-null   float64
dtypes: float64(1), geometry(1), int64(2)
memory usage: 60.7 KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13135 entries, 0 to 13134
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UCDB_Name  13135 non-null  object
 1   geometry   13135 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 205.4+ KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 7720 entries, 0 to 7719
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Afpl_Name  7720 non-null   object
 1   geometry   7720 non-null   geometry
dtypes: geometry(1), object(1)
memory usage: 120.8+ KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 199390 entries, 0 to 199389
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   GeoName   199390 non-null  object
 1   geometry  199390 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 3.0+ MB
None None None None

### 6.2 Join placenames onto settlements geodataframe.

In [74]:
# We wrap it in pd.DataFrame() since the sjoin() is the last time we need the geometry.

GeoNames = pd.DataFrame(gpd.sjoin_nearest(GeoNames, Settlements, 
                             how='left', distance_col="distGN", max_distance=250, 
                             lsuffix="G3", rsuffix="GN")).drop(columns='geometry')
Africapolis = pd.DataFrame(gpd.sjoin_nearest(Africapolis, Settlements, 
                             how='left', distance_col="distAF", max_distance=250,
                             lsuffix="G3", rsuffix="Af")).drop(columns='geometry')
UCDB = pd.DataFrame(gpd.sjoin_nearest(UCDB, Settlements, 
                             how='left', distance_col="distUC", max_distance=250,
                             lsuffix="G3", rsuffix="UC")).drop(columns='geometry')

In [75]:
print(GeoNames.info())
print(Africapolis.info())
print(UCDB.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199390 entries, 0 to 199389
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   GeoName   199390 non-null  object
 1   index_GN  42 non-null      float64
 2   Sett_ID   42 non-null      float64
 3   ADM_ID    42 non-null      float64
 4   AREA2015  42 non-null      float64
 5   distGN    42 non-null      float64
dtypes: float64(5), object(1)
memory usage: 10.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7772 entries, 0 to 7719
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Afpl_Name  7772 non-null   object
 1   index_Af   139 non-null    float64
 2   Sett_ID    139 non-null    float64
 3   ADM_ID     139 non-null    float64
 4   AREA2015   139 non-null    float64
 5   distAF     139 non-null    float64
dtypes: float64(5), object(1)
memory usage: 425.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13192 entries, 0 to 13134
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UCDB_Name  13192 non-null  object
 1   index_UC   107 non-null    float64
 2   Sett_ID    107 non-null    float64
 3   ADM_ID     107 non-null    float64
 4   AREA2015   107 non-null    float64
 5   distUC     107 non-null    float64
dtypes: float64(5), object(1)
memory usage: 721.4+ KB
None

In [76]:
alldatasets = [pd.DataFrame(Settlements).drop(columns='geometry'),
               Africapolis[['Sett_ID', 'Afpl_Name', 'distAF']], 
               GeoNames[['Sett_ID', 'GeoName', 'distGN']],
               UCDB[['Sett_ID', 'UCDB_Name', 'distUC']]]

SettlementsNamed = reduce(lambda left,right: pd.merge(left,right,on=['Sett_ID'], how='left'), alldatasets)
SettlementsNamed[['Afpl_Name', 'GeoName', 'UCDB_Name']] = SettlementsNamed[['Afpl_Name', 'GeoName', 'UCDB_Name']].fillna('UNK')

# Replace NaN values with a countable distance.
SettlementsNamed[['distAF', 'distGN', 'distUC']] = SettlementsNamed[['distAF', 'distGN', 'distUC']].fillna(-1)

In [77]:
print(SettlementsNamed.info())
print(SettlementsNamed.sample(10))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1942 entries, 0 to 1941
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    1942 non-null   int64
 1   ADM_ID     1942 non-null   int64
 2   AREA2015   1942 non-null   float64
 3   Afpl_Name  1942 non-null   object
 4   distAF     1942 non-null   float64
 5   GeoName    1942 non-null   object
 6   distGN     1942 non-null   float64
 7   UCDB_Name  1942 non-null   object
 8   distUC     1942 non-null   float64
dtypes: float64(4), int64(2), object(3)
memory usage: 151.7+ KB
None
      Sett_ID  ADM_ID  AREA2015 Afpl_Name  distAF GeoName  distGN UCDB_Name  \
1445   131844       6  0.011360       UNK    -1.0     UNK    -1.0       UNK
808     35135      24  0.041945       UNK    -1.0     UNK    -1.0       UNK
141      4227      20  0.042819       UNK    -1.0     UNK    -1.0       UNK
1059    51517      37  0.048936       UNK    -1.0     UNK    -1.0       UNK
433     21107      28  0.000874       UNK    -1.0     UNK    -1.0       UNK
1382   129162      14  0.001748       UNK    -1.0     UNK    -1.0       UNK
905     38088      31  0.064665       UNK    -1.0     UNK    -1.0       UNK
1313   127716      14  0.029711       UNK    -1.0     UNK    -1.0       UNK
881     37987      31  0.005243       UNK    -1.0     UNK    -1.0       UNK
272     14225      63  0.031459       UNK    -1.0     UNK    -1.0       UNK

      distUC
1445    -1.0
808     -1.0
141     -1.0
1059    -1.0
433     -1.0
1382    -1.0
905     -1.0
1313    -1.0
881     -1.0
272     -1.0

In [78]:
del UCDB, Africapolis, GeoNames

The near joins should have prevented duplication of rows, but if df1 intersects with two features in df2, it creates a new row. Two of our placenames sources are polygons, so there may be instances.

In [79]:
SettlementsNamed[SettlementsNamed.duplicated('Sett_ID', keep=False)]

,Sett_ID,ADM_ID,AREA2015,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC
1402,131506,6,12.969719,Koundoul II / Sara,0.0,UNK,-1.0,N'Djamena,0.0
1403,131506,6,12.969719,Ndjamena/Kousseri [CMR],0.0,UNK,-1.0,N'Djamena,0.0
1404,131507,6,148.711349,Koundoul II / Sara,0.0,N'Djamena,0.0,N'Djamena,0.0
1405,131507,6,148.711349,Ndjamena/Kousseri [CMR],0.0,N'Djamena,0.0,N'Djamena,0.0
1406,131507,6,148.711349,Ndjamena/Kousseri [TCD],0.0,N'Djamena,0.0,N'Djamena,0.0

In [80]:
SettlementsNamed.drop_duplicates(subset=['Sett_ID'], inplace=True, keep='first')
SettlementsNamed.info() # Range of entries should be the same as original Settlements file.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1939 entries, 0 to 1941
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    1939 non-null   int64
 1   ADM_ID     1939 non-null   int64
 2   AREA2015   1939 non-null   float64
 3   Afpl_Name  1939 non-null   object
 4   distAF     1939 non-null   float64
 5   GeoName    1939 non-null   object
 6   distGN     1939 non-null   float64
 7   UCDB_Name  1939 non-null   object
 8   distUC     1939 non-null   float64
dtypes: float64(4), int64(2), object(3)
memory usage: 151.5+ KB

### 6.3 Reduce to single name column.

In [81]:
# Determine which source has a name geometrically closest to the settlement.
# Since we switched NaN values to -1 earlier, we also resolved what happens in the event of a tie, 
# i.e. when more than one source is 0.0 meters from the settlement. It will take the value from the first column.
SettlementsNamed['SettName'] = "UNK"
SettlementsNamed['closest'] = SettlementsNamed[['distAF', 'distGN', 'distUC']].idxmax(axis=1)

In [82]:
SettlementsNamed.sample(20)

,Sett_ID,ADM_ID,AREA2015,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC,SettName,closest
1547,146075,19,0.035828,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
966,42496,62,0.249922,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1113,55011,38,0.003495,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
292,14309,63,0.247300,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1516,145851,19,0.094376,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1788,302537,48,0.001748,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1611,183068,8,0.036702,UNK,-1.0,UNK,-1.0,Mongo,0.0,UNK,distUC
65,1881,29,0.001748,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1473,131969,6,0.023594,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1833,335702,58,0.117096,UNK,-1.0,Bardaï,0.0,UNK,-1.0,UNK,distGN
1380,129017,14,0.000874,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
896,38050,31,0.003495,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1109,54983,38,0.000874,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1511,145642,19,0.004369,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
26,171,29,0.005243,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
830,37792,31,0.089133,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
397,18175,34,0.072530,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1590,164636,3,0.016603,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
158,4792,20,0.018351,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
912,38123,31,0.009612,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF

In [83]:
# Create a single name column where non-named settlements are "UNK" but all others use one of the three name sources.
SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distAF", 
    'SettName'] = SettlementsNamed['Afpl_Name']

SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distUC", 
    'SettName'] = SettlementsNamed['UCDB_Name']

SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distGN", 
    'SettName'] = SettlementsNamed['GeoName']

In [84]:
SettlementsNamed.sample(20)

,Sett_ID,ADM_ID,AREA2015,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC,SettName,closest
1015,47550,30,1.127270,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
579,24985,27,0.000874,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1054,47903,30,0.005243,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
256,14156,63,0.036702,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
387,17085,63,0.007865,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1897,338115,51,0.021846,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
457,21184,28,0.019225,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
421,21080,28,0.004369,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
162,4803,20,0.004369,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1540,146043,19,0.113601,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
786,33784,32,0.023594,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
634,28287,47,0.381000,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1143,60738,33,0.002622,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1450,131856,6,0.014855,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
713,32837,64,1.071343,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1112,55002,38,0.001748,UNK,-1.0,UNK,-1.0,Guemu,0.0,Guemu,distUC
1057,49308,30,0.002622,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
390,18121,63,0.221085,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1313,127716,14,0.029711,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
433,21107,28,0.000874,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF

In [85]:
SettlementsNamed[SettlementsNamed['SettName'] != 'UNK'].sample(20)

,Sett_ID,ADM_ID,AREA2015,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC,SettName,closest
1265,107503,56,0.034954,Koukou Angarana,0.0,UNK,-1.000000,UNK,-1.0,Koukou Angarana,distAF
1869,337921,51,0.007865,UNK,-1.0,UNK,-1.000000,N'Djamena,0.0,N'Djamena,distUC
1670,236319,18,0.005243,UNK,-1.0,UNK,-1.000000,Bol,0.0,Bol,distUC
1868,337920,51,0.013982,UNK,-1.0,UNK,-1.000000,N'Djamena,0.0,N'Djamena,distUC
1814,333078,65,2.237062,Faya,0.0,Faya-Largeau,0.000000,Faya-Largeau,0.0,Faya,distAF
943,40544,39,3.293550,UNK,-1.0,UNK,-1.000000,Danamadji,0.0,Danamadji,distUC
1228,91878,40,2.396977,Kyabe,0.0,Kyabé,17.699476,كيابي Kyabé,0.0,Kyabé,distGN
1391,130022,14,0.010486,Massaguet,0.0,UNK,-1.000000,UNK,-1.0,Massaguet,distAF
1889,337993,51,0.004369,Ndjamena/Kousseri [TCD],0.0,UNK,-1.000000,N'Djamena,0.0,Ndjamena/Kousseri [TCD],distAF
1833,335702,58,0.117096,UNK,-1.0,Bardaï,0.000000,UNK,-1.0,Bardaï,distGN
1618,193591,11,0.191374,Mangalme,0.0,UNK,-1.000000,Mangalmé,0.0,Mangalme,distAF
1,2,29,0.466637,Baibokoum,0.0,UNK,-1.000000,UNK,-1.0,Baibokoum,distAF
1611,183068,8,0.036702,UNK,-1.0,UNK,-1.000000,Mongo,0.0,Mongo,distUC
1816,333094,65,0.062044,Faya,0.0,UNK,-1.000000,Faya-Largeau,0.0,Faya,distAF
1824,333334,65,0.076025,UNK,-1.0,UNK,-1.000000,Faya-Largeau,0.0,Faya-Largeau,distUC
755,33676,32,0.186131,Peni I,0.0,UNK,-1.000000,UNK,-1.0,Peni I,distAF
818,36145,24,0.005243,Doba,0.0,UNK,-1.000000,UNK,-1.0,Doba,distAF
1818,333099,65,0.005243,Faya,0.0,UNK,-1.000000,UNK,-1.0,Faya,distAF
1827,333343,65,0.035828,UNK,-1.0,UNK,-1.000000,Faya-Largeau,0.0,Faya-Largeau,distUC
1261,104689,44,0.006991,Am Timan,0.0,UNK,-1.000000,UNK,-1.0,Am Timan,distAF

### 6.4 Make sure place name is unique by stripping smaller localities of duplicated names.

In [86]:
Dupes = SettlementsNamed[ 
    (SettlementsNamed['SettName'] != 'UNK') & 
    (SettlementsNamed.duplicated('SettName', keep=False)) ] # keep=False is necessary to retain *all* duplicates, not just first or last in each group.

print("Number of named settlements: %s" % SettlementsNamed['SettName'].str.contains('UNK').value_counts()[False])
print("Number of named settlements where name is duplicated at least once: %s" % len(Dupes))

Number of named settlements: 185
Number of named settlements where name is duplicated at least once: 107

In [87]:
Largest = Dupes.loc[Dupes.groupby(["SettName"])["AREA2015"].idxmax()]
print(Largest)

       Sett_ID  ADM_ID    AREA2015                Afpl_Name  distAF  \
1763    278762      41    0.145060                   Abeche     0.0
1748    278172      41   23.189424                   Abeche     0.0
1257    102257      44    1.440983                 Am Timan     0.0
418      21076      28    0.340802              Amboko Camp     0.0
1614    186498       1    2.903812                      Ati     0.0
560      23470      27    1.253105                      UNK    -1.0
592      25275      23    8.207223                   Benoye     0.0
1780    302299      48    0.865114                  Biltine     0.0
1596    170082       9    0.959490                  Bitkine     0.0
1636    234510      18    2.400473                      Bol     0.0
792      35033      24   12.879712                     Doba     0.0
419      21078      28    1.332625                    Donia     0.0
1814    333078      65    2.237062                     Faya     0.0
1824    333334      65    0.076025                      UNK    -1.0
417      21075      28    2.536794                     Gore     0.0
1267    107505      56    0.372261                Goz Beida     0.0
1404    131507       6  148.711349       Koundoul II / Sara     0.0
1941  21474836      47    8.330436                      Lai     0.0
1400    131504       6    0.257786                 Mandelia     0.0
1276    127629      14    2.258035                Massaguet     0.0
1494    137572      12    1.898008                Massakory     0.0
1604    180645       8    3.173832                    Mongo     0.0
96        4096      20   26.606188                  Moundou     0.0
1728    255879      52    4.509079                 Moussoro     0.0
1873    337925      51    0.179140                      UNK    -1.0
1838    337702      51    0.575869  Ndjamena/Kousseri [CMR]     0.0
1865    337906      51    0.049810  Ndjamena/Kousseri [TCD]     0.0
190       7236      68    2.768365                     Pala     0.0
755      33676      32    0.186131                   Peni I     0.0
969      42500      62   18.003984                     Sarh     0.0

           GeoName     distGN       UCDB_Name  distUC  \
1763           UNK  -1.000000          Abéché     0.0
1748        Abéché  45.442431          Abéché     0.0
1257      Am-Timan   0.000000        Am Timan     0.0
418            UNK  -1.000000             UNK    -1.0
1614           Ati   0.000000             Ati     0.0
560            UNK  -1.000000        Bayandet     0.0
592          Benoy   0.000000             UNK    -1.0
1780       Biltine  12.041014         Biltine     0.0
1596       Bitkine   0.000000  نيتكتن Bitkine     0.0
1636           Bol   0.000000             Bol     0.0
792           Doba   0.000000            Doba     0.0
419            UNK  -1.000000             UNK    -1.0
1814  Faya-Largeau   0.000000    Faya-Largeau     0.0
1824           UNK  -1.000000    Faya-Largeau     0.0
417            UNK  -1.000000            Gore     0.0
1267     Goz-Beida   0.000000       Goz Beïda     0.0
1404     N'Djamena   0.000000       N'Djamena     0.0
1941           Laï   0.000000             Laï     0.0
1400           UNK  -1.000000             UNK    -1.0
1276     Massaguet   0.000000             UNK    -1.0
1494     Massakory   0.000000       Massakory     0.0
1604         Mongo   0.000000           Mongo     0.0
96         Moundou   0.000000         Moundou     0.0
1728      Moussoro   0.000000             UNK    -1.0
1873           UNK  -1.000000       N'Djamena     0.0
1838           UNK  -1.000000       N'Djamena     0.0
1865           UNK  -1.000000             UNK    -1.0
190           Pala   0.000000            Pala     0.0
755            UNK  -1.000000             UNK    -1.0
969           Sarh   0.000000            Sarh     0.0

                     SettName closest
1763                   Abeche  distAF
1748                   Abéché  distGN
1257                 Am Timan  distAF
418               Amboko Camp  distAF
1614                      Ati  distAF
560                  Bayandet  distUC
592                    Benoye  distAF
1780                  Biltine  distGN
1596                  Bitkine  distAF
1636                      Bol  distAF
792                      Doba  distAF
419                     Donia  distAF
1814                     Faya  distAF
1824             Faya-Largeau  distUC
417                      Gore  distAF
1267                Goz Beida  distAF
1404       Koundoul II / Sara  distAF
1941                      Lai  distAF
1400                 Mandelia  distAF
1276                Massaguet  distAF
1494                Massakory  distAF
1604                    Mongo  distAF
96                    Moundou  distAF
1728                 Moussoro  distAF
1873                N'Djamena  distUC
1838  Ndjamena/Kousseri [CMR]  distAF
1865  Ndjamena/Kousseri [TCD]  distAF
190                      Pala  distAF
755                    Peni I  distAF
969                      Sarh  distAF

In [88]:
# Filter to settlements which have a duplicated name and are not the largest of those with that name, then replace with UNK.
SettlementsNamed.loc[(~SettlementsNamed.Sett_ID.isin(Largest.Sett_ID)) 
                     & (SettlementsNamed.Sett_ID.isin(Dupes.Sett_ID)), 
                     'SettName'] = 'UNK'

In [89]:
# Second number should now be zero.

print("Number of named settlements: %s" % SettlementsNamed['SettName'].str.contains('UNK').value_counts()[False])
print("Number of named settlements where name is duplicated at least once: %s" % len(SettlementsNamed[ 
    (SettlementsNamed['SettName'] != 'UNK') & 
    (SettlementsNamed.duplicated('SettName', keep=False)) ]))

Number of named settlements: 108
Number of named settlements where name is duplicated at least once: 0

In [90]:
print(SettlementsNamed.info(), SettlementsNamed[SettlementsNamed['SettName'] != "UNK"].sample(20))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1939 entries, 0 to 1941
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    1939 non-null   int64
 1   ADM_ID     1939 non-null   int64
 2   AREA2015   1939 non-null   float64
 3   Afpl_Name  1939 non-null   object
 4   distAF     1939 non-null   float64
 5   GeoName    1939 non-null   object
 6   distGN     1939 non-null   float64
 7   UCDB_Name  1939 non-null   object
 8   distUC     1939 non-null   float64
 9   SettName   1939 non-null   object
 10  closest    1939 non-null   object
dtypes: float64(4), int64(2), object(5)
memory usage: 246.3+ KB
None       Sett_ID  ADM_ID   AREA2015        Afpl_Name  distAF    GeoName  \
1777   302294      48   0.057674            Arada     0.0        UNK
1267   107505      56   0.372261        Goz Beida     0.0  Goz-Beida
1621   204889      42   0.027089          Abdi II     0.0        UNK
1494   137572      12   1.898008        Massakory     0.0  Massakory
1798   325423      50   0.029711     Touloum camp     0.0        UNK
1614   186498       1   2.903812              Ati     0.0        Ati
96       4096      20  26.606188          Moundou     0.0    Moundou
1692   244061      16   0.457899              UNK    -1.0        UNK
1112    55002      38   0.001748              UNK    -1.0        UNK
1937   349427      54   0.076899              UNK    -1.0  Amdjarass
1202    80862       7   0.762873           Bousso     0.0     Bousso
1508   145226      19   0.652768           Ngouri     0.0        UNK
673     28669      47   0.025342             Ndam     0.0        UNK
1016    47551      30   4.295859           Koumra     0.0     Koumra
1735   262679       2   0.099619              UNK    -1.0        UNK
1792   313655      49   0.000874  Kounoungou camp     0.0        UNK
1268   107507      56   0.049810     Dodjore Camp     0.0        UNK
1801   325426      50   1.187566   Tine Djangarba     0.0        UNK
1810   330617      61   0.429062           Kalait     0.0        UNK
476     21759      26   0.031459              UNK    -1.0     Béboto

         distGN  UCDB_Name  distUC         SettName closest
1777  -1.000000        UNK    -1.0            Arada  distAF
1267   0.000000  Goz Beïda     0.0        Goz Beida  distAF
1621  -1.000000        UNK    -1.0          Abdi II  distAF
1494   0.000000  Massakory     0.0        Massakory  distAF
1798  -1.000000        UNK    -1.0     Touloum camp  distAF
1614   0.000000        Ati     0.0              Ati  distAF
96     0.000000    Moundou     0.0          Moundou  distAF
1692  -1.000000    Rig-Rig     0.0          Rig-Rig  distUC
1112  -1.000000      Guemu     0.0            Guemu  distUC
1937  91.697544        UNK    -1.0        Amdjarass  distGN
1202  56.243718        N/A     0.0           Bousso  distGN
1508  -1.000000        UNK    -1.0           Ngouri  distAF
673   -1.000000        UNK    -1.0             Ndam  distAF
1016   0.000000     Koumra     0.0           Koumra  distAF
1735  -1.000000  Umm Hajar     0.0        Umm Hajar  distUC
1792  -1.000000        UNK    -1.0  Kounoungou camp  distAF
1268  -1.000000        UNK    -1.0     Dodjore Camp  distAF
1801  -1.000000       Tina     0.0   Tine Djangarba  distAF
1810  -1.000000        UNK    -1.0           Kalait  distAF
476   91.372716        UNK    -1.0           Béboto  distGN

In [91]:
# Drop extra columns and save to file.
SettlementsNamed = SettlementsNamed[['Sett_ID', 'SettName']]
SettlementsNamed.to_csv(r'Results/PlaceNames.csv')

In [92]:
del SettlementsNamed

---

## 7. CREATE FRAGMENTATION INDEX
We are determining what percentage of a settlement's area lies outside of its administrative zone each year.
The index is a range of 0 to 100, i.e. the percent of the settlement area which is fragmented.

For each Sett_ID:
((Area of Boundless settlement - Area of largest Bounded settlement feature) / Area of Boundless settlement) * 100

### 7.1 Load boundless and bounded cumulative settlements and clean.

In [93]:
BoundlessAreas = pd.read_csv(os.path.join(ResultsFolder, 'Areas1999to2015.csv'))
print('Loaded Boundless dataset, whose settlements will be used as the index of the Fragmentation Index dataset. %s' 
      % time.ctime())
print(BoundlessAreas.info())

BoundedAreas = pd.read_csv(os.path.join(ResultsFolder, 'Areas1999to2015_Bounded.csv'))
print('Loaded Bounded dataset, which will factor into the fragmentation calculation. %s' % time.ctime())
print(BoundedAreas.info())

Loaded Boundless dataset, whose settlements will be used as the index of the Fragmentation Index dataset. Fri Mar  3 16:56:00 2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1939 non-null   int64
 1   Sett_ID     1939 non-null   int64
 2   year        1939 non-null   int64
 3   ADM_ID      1939 non-null   int64
 4   AREA2015    1939 non-null   float64
 5   AREA2014    1917 non-null   float64
 6   AREA2013    1889 non-null   float64
 7   AREA2012    1873 non-null   float64
 8   AREA2011    1850 non-null   float64
 9   AREA2010    1838 non-null   float64
 10  AREA2009    1824 non-null   float64
 11  AREA2008    1809 non-null   float64
 12  AREA2007    1798 non-null   float64
 13  AREA2006    1791 non-null   float64
 14  AREA2005    1781 non-null   float64
 15  AREA2004    1763 non-null   float64
 16  AREA2003    1750 non-null   float64
 17  AREA2002    1737 non-null   float64
 18  AREA2001    1710 non-null   float64
 19  AREA2000    1691 non-null   float64
 20  AREA1999    1662 non-null   float64
dtypes: float64(17), int64(4)
memory usage: 318.2 KB
None
Loaded Bounded dataset, which will factor into the fragmentation calculation. Fri Mar  3 16:56:00 2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1958 entries, 0 to 1957
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1958 non-null   int64
 1   Bounded_ID  1958 non-null   int64
 2   year        1958 non-null   int64
 3   ADM_ID      1958 non-null   int64
 4   Sett_ID     1958 non-null   int64
 5   AREA2015    1958 non-null   float64
 6   AREA2014    1936 non-null   float64
 7   AREA2013    1908 non-null   float64
 8   AREA2012    1892 non-null   float64
 9   AREA2011    1869 non-null   float64
 10  AREA2010    1857 non-null   float64
 11  AREA2009    1842 non-null   float64
 12  AREA2008    1827 non-null   float64
 13  AREA2007    1816 non-null   float64
 14  AREA2006    1809 non-null   float64
 15  AREA2005    1799 non-null   float64
 16  AREA2004    1781 non-null   float64
 17  AREA2003    1768 non-null   float64
 18  AREA2002    1755 non-null   float64
 19  AREA2001    1728 non-null   float64
 20  AREA2000    1709 non-null   float64
 21  AREA1999    1680 non-null   float64
dtypes: float64(17), int64(5)
memory usage: 336.7 KB
None

In [94]:
LargestFragments = BoundedAreas.loc[BoundedAreas.groupby(["Sett_ID"])["AREA2015"].idxmax()] 
print(LargestFragments.info())
print("Filtered the Bounded dataset to only rows where latest year's area is largest for each Sett_ID. %s" % time.ctime())
LargestFragments.columns = LargestFragments.columns.str.replace('AREA', 'Largest')
LargestFragments = LargestFragments.drop(columns=['year', 'ADM_ID'])
print("Renamed columns to avoid duplication during merge, and dropped unnecessary columns. %s" % time.ctime())
FragIndices = BoundlessAreas.merge(LargestFragments, how='left', on='Sett_ID')
print(FragIndices.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1939 entries, 0 to 1957
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1939 non-null   int64
 1   Bounded_ID  1939 non-null   int64
 2   year        1939 non-null   int64
 3   ADM_ID      1939 non-null   int64
 4   Sett_ID     1939 non-null   int64
 5   AREA2015    1939 non-null   float64
 6   AREA2014    1917 non-null   float64
 7   AREA2013    1889 non-null   float64
 8   AREA2012    1873 non-null   float64
 9   AREA2011    1850 non-null   float64
 10  AREA2010    1838 non-null   float64
 11  AREA2009    1824 non-null   float64
 12  AREA2008    1809 non-null   float64
 13  AREA2007    1798 non-null   float64
 14  AREA2006    1791 non-null   float64
 15  AREA2005    1781 non-null   float64
 16  AREA2004    1763 non-null   float64
 17  AREA2003    1750 non-null   float64
 18  AREA2002    1737 non-null   float64
 19  AREA2001    1710 non-null   float64
 20  AREA2000    1691 non-null   float64
 21  AREA1999    1662 non-null   float64
dtypes: float64(17), int64(5)
memory usage: 348.4 KB
None
Filtered the Bounded dataset to only rows where latest year's area is largest for each Sett_ID. Fri Mar  3 16:56:01 2023
Renamed columns to avoid duplication during merge, and dropped unnecessary columns. Fri Mar  3 16:56:01 2023
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1939 entries, 0 to 1938
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  1939 non-null   int64
 1   Sett_ID       1939 non-null   int64
 2   year          1939 non-null   int64
 3   ADM_ID        1939 non-null   int64
 4   AREA2015      1939 non-null   float64
 5   AREA2014      1917 non-null   float64
 6   AREA2013      1889 non-null   float64
 7   AREA2012      1873 non-null   float64
 8   AREA2011      1850 non-null   float64
 9   AREA2010      1838 non-null   float64
 10  AREA2009      1824 non-null   float64
 11  AREA2008      1809 non-null   float64
 12  AREA2007      1798 non-null   float64
 13  AREA2006      1791 non-null   float64
 14  AREA2005      1781 non-null   float64
 15  AREA2004      1763 non-null   float64
 16  AREA2003      1750 non-null   float64
 17  AREA2002      1737 non-null   float64
 18  AREA2001      1710 non-null   float64
 19  AREA2000      1691 non-null   float64
 20  AREA1999      1662 non-null   float64
 21  Unnamed: 0_y  1939 non-null   int64
 22  Bounded_ID    1939 non-null   int64
 23  Largest2015   1939 non-null   float64
 24  Largest2014   1917 non-null   float64
 25  Largest2013   1889 non-null   float64
 26  Largest2012   1873 non-null   float64
 27  Largest2011   1850 non-null   float64
 28  Largest2010   1838 non-null   float64
 29  Largest2009   1824 non-null   float64
 30  Largest2008   1809 non-null   float64
 31  Largest2007   1798 non-null   float64
 32  Largest2006   1791 non-null   float64
 33  Largest2005   1781 non-null   float64
 34  Largest2004   1763 non-null   float64
 35  Largest2003   1750 non-null   float64
 36  Largest2002   1737 non-null   float64
 37  Largest2001   1710 non-null   float64
 38  Largest2000   1691 non-null   float64
 39  Largest1999   1662 non-null   float64
dtypes: float64(34), int64(6)
memory usage: 621.1 KB
None

In [95]:
del BoundlessAreas, BoundedAreas, LargestFragments

### 7.2 Merge and run fragmentation calculation.

In [96]:
for item in AllStudyYears:
    YY = str(item) # 4-digit year
    AreaYY = ''.join(["AREA", YY]) # The Boundless area variable name
    LargestYY = ''.join(['Largest', YY]) # The Bounded largest area variable name
    FragYY = ''.join(["Frag", YY]) # Name for the fragmentation index variable
    print("Created names for Year %s's variables and temporary objects. %s" % (item, time.ctime()))
    
    FragIndices[FragYY] = ((FragIndices[AreaYY] - FragIndices[LargestYY]) / FragIndices[AreaYY]) * 100
    FragIndices[FragYY] = (FragIndices[FragYY].fillna(0).replace([np.inf, -np.inf], 0)).astype('int')
    print("Calculated fragmentation index for year %s. %s" % (item, time.ctime()))

# Remove unnecessary columns.
FragIndices = FragIndices.loc[:, ~FragIndices.columns.str.startswith('Largest')]
FragIndices = FragIndices.loc[:, ~FragIndices.columns.str.startswith('AREA')]

print('Completed fragmentation index calculations for all years. %s' % time.ctime())
print(FragIndices.info())
print(FragIndices.sample(5))

Created names for Year 1999's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 1999. Fri Mar  3 16:56:02 2023
Created names for Year 2000's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2000. Fri Mar  3 16:56:02 2023
Created names for Year 2001's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2001. Fri Mar  3 16:56:02 2023
Created names for Year 2002's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2002. Fri Mar  3 16:56:02 2023
Created names for Year 2003's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2003. Fri Mar  3 16:56:02 2023
Created names for Year 2004's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2004. Fri Mar  3 16:56:02 2023
Created names for Year 2005's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2005. Fri Mar  3 16:56:02 2023
Created names for Year 2006's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2006. Fri Mar  3 16:56:02 2023
Created names for Year 2007's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2007. Fri Mar  3 16:56:02 2023
Created names for Year 2008's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2008. Fri Mar  3 16:56:02 2023
Created names for Year 2009's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2009. Fri Mar  3 16:56:02 2023
Created names for Year 2010's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2010. Fri Mar  3 16:56:02 2023
Created names for Year 2011's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2011. Fri Mar  3 16:56:02 2023
Created names for Year 2012's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2012. Fri Mar  3 16:56:02 2023
Created names for Year 2013's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2013. Fri Mar  3 16:56:02 2023
Created names for Year 2014's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2014. Fri Mar  3 16:56:02 2023
Created names for Year 2015's variables and temporary objects. Fri Mar  3 16:56:02 2023
Calculated fragmentation index for year 2015. Fri Mar  3 16:56:02 2023
Completed fragmentation index calculations for all years. Fri Mar  3 16:56:02 2023
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1939 entries, 0 to 1938
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  1939 non-null   int64
 1   Sett_ID       1939 non-null   int64
 2   year          1939 non-null   int64
 3   ADM_ID        1939 non-null   int64
 4   Unnamed: 0_y  1939 non-null   int64
 5   Bounded_ID    1939 non-null   int64
 6   Frag1999      1939 non-null   int32
 7   Frag2000      1939 non-null   int32
 8   Frag2001      1939 non-null   int32
 9   Frag2002      1939 non-null   int32
 10  Frag2003      1939 non-null   int32
 11  Frag2004      1939 non-null   int32
 12  Frag2005      1939 non-null   int32
 13  Frag2006      1939 non-null   int32
 14  Frag2007      1939 non-null   int32
 15  Frag2008      1939 non-null   int32
 16  Frag2009      1939 non-null   int32
 17  Frag2010      1939 non-null   int32
 18  Frag2011      1939 non-null   int32
 19  Frag2012      1939 non-null   int32
 20  Frag2013      1939 non-null   int32
 21  Frag2014      1939 non-null   int32
 22  Frag2015      1939 non-null   int32
dtypes: int32(17), int64(6)
memory usage: 234.8 KB
None
      Unnamed: 0_x  Sett_ID  year  ADM_ID  Unnamed: 0_y  Bounded_ID  Frag1999  \
1399          1399   131503  2015       6          1413      131583         0
1888          1888   338002  2010      51          1907      338694         0
451            451    21153  2015      28           460       21170         0
1811          1811   333078  2015      65          1830      333780         0
1128          1128    60397  2015      33          1142       60473         0

      Frag2000  Frag2001  Frag2002  ...  Frag2006  Frag2007  Frag2008  \
1399         0         0         0  ...         0         0         0
1888         0         0         0  ...         0         0         0
451          0         0         0  ...         0         0         0
1811         0         0         0  ...         0         0         0
1128         0         0         0  ...         0         0         0

      Frag2009  Frag2010  Frag2011  Frag2012  Frag2013  Frag2014  Frag2015
1399         0         0         0         0         0         0         0
1888         0         0         0         0         0         0         0
451          0         0         0         0         0         0         0
1811         0         0         0         0         0         0         0
1128         0         0         0         0         0         0         0

[5 rows x 23 columns]

In [97]:
FragIndices = FragIndices.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y', 'year', 'ADM_ID'])
FragIndices.to_csv(os.path.join(ResultsFolder, 'FragIndex%sto%s.csv' % (1999, 2015)))
print('Saved to file. %s' % time.ctime())

Saved to file. Fri Mar  3 16:56:02 2023

In [98]:
del FragIndices

---

## 8. PREPARE YEARLY DATASETS: POPULATION
Can use this as a template for other annualized rasters

### 8.1 Reproject and reclassify with settlement buffer mask.
Reclassify so that we only need to work with cells within X distance of settlements.

In [99]:
MaskByZone(MaskPath=r'Results/Catchment.gpkg', MaskLayerName = "Buff2000m_2015", 
           SourceFolder='Population/SourceFiles', DestFolder='Population')

['tcd_ppp_2000_UNadj.tif', 'tcd_ppp_2001_UNadj.tif', 'tcd_ppp_2002_UNadj.tif', 'tcd_ppp_2003_UNadj.tif', 'tcd_ppp_2004_UNadj.tif', 'tcd_ppp_2005_UNadj.tif', 'tcd_ppp_2006_UNadj.tif', 'tcd_ppp_2007_UNadj.tif', 'tcd_ppp_2008_UNadj.tif', 'tcd_ppp_2009_UNadj.tif', 'tcd_ppp_2010_UNadj.tif', 'tcd_ppp_2011_UNadj.tif', 'tcd_ppp_2012_UNadj.tif', 'tcd_ppp_2013_UNadj.tif', 'tcd_ppp_2014_UNadj.tif', 'tcd_ppp_2015_UNadj.tif']
Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2000_UNadj.tif. Fri Mar  3 16:56:43 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2000_UNadj.tif. Fri Mar  3 16:56:53 2023

Written to file. Fri Mar  3 16:57:10 2023

Removed intermediate file. Fri Mar  3 16:57:11 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2001_UNadj.tif. Fri Mar  3 16:57:44 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2001_UNadj.tif. Fri Mar  3 16:57:54 2023

Written to file. Fri Mar  3 16:58:09 2023

Removed intermediate file. Fri Mar  3 16:58:09 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2002_UNadj.tif. Fri Mar  3 16:58:48 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2002_UNadj.tif. Fri Mar  3 16:58:58 2023

Written to file. Fri Mar  3 16:59:11 2023

Removed intermediate file. Fri Mar  3 16:59:11 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2003_UNadj.tif. Fri Mar  3 16:59:47 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2003_UNadj.tif. Fri Mar  3 16:59:57 2023

Written to file. Fri Mar  3 17:00:14 2023

Removed intermediate file. Fri Mar  3 17:00:14 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2004_UNadj.tif. Fri Mar  3 17:00:50 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2004_UNadj.tif. Fri Mar  3 17:01:00 2023

Written to file. Fri Mar  3 17:01:14 2023

Removed intermediate file. Fri Mar  3 17:01:14 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2005_UNadj.tif. Fri Mar  3 17:01:51 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2005_UNadj.tif. Fri Mar  3 17:02:01 2023

Written to file. Fri Mar  3 17:02:16 2023

Removed intermediate file. Fri Mar  3 17:02:16 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2006_UNadj.tif. Fri Mar  3 17:02:57 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2006_UNadj.tif. Fri Mar  3 17:03:08 2023

Written to file. Fri Mar  3 17:03:23 2023

Removed intermediate file. Fri Mar  3 17:03:23 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2007_UNadj.tif. Fri Mar  3 17:04:01 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2007_UNadj.tif. Fri Mar  3 17:04:11 2023

Written to file. Fri Mar  3 17:04:24 2023

Removed intermediate file. Fri Mar  3 17:04:24 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2008_UNadj.tif. Fri Mar  3 17:05:04 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2008_UNadj.tif. Fri Mar  3 17:05:14 2023

Written to file. Fri Mar  3 17:05:29 2023

Removed intermediate file. Fri Mar  3 17:05:29 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2009_UNadj.tif. Fri Mar  3 17:06:04 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2009_UNadj.tif. Fri Mar  3 17:06:14 2023

Written to file. Fri Mar  3 17:06:29 2023

Removed intermediate file. Fri Mar  3 17:06:30 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2010_UNadj.tif. Fri Mar  3 17:07:01 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2010_UNadj.tif. Fri Mar  3 17:07:12 2023

Written to file. Fri Mar  3 17:07:24 2023

Removed intermediate file. Fri Mar  3 17:07:24 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2011_UNadj.tif. Fri Mar  3 17:08:00 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2011_UNadj.tif. Fri Mar  3 17:08:10 2023

Written to file. Fri Mar  3 17:08:26 2023

Removed intermediate file. Fri Mar  3 17:08:26 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2012_UNadj.tif. Fri Mar  3 17:09:05 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2012_UNadj.tif. Fri Mar  3 17:09:15 2023

Written to file. Fri Mar  3 17:09:26 2023

Removed intermediate file. Fri Mar  3 17:09:26 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2013_UNadj.tif. Fri Mar  3 17:10:05 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2013_UNadj.tif. Fri Mar  3 17:10:16 2023

Written to file. Fri Mar  3 17:10:32 2023

Removed intermediate file. Fri Mar  3 17:10:32 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2014_UNadj.tif. Fri Mar  3 17:11:12 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2014_UNadj.tif. Fri Mar  3 17:11:23 2023

Written to file. Fri Mar  3 17:11:40 2023

Removed intermediate file. Fri Mar  3 17:11:40 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for tcd_ppp_2015_UNadj.tif. Fri Mar  3 17:12:17 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for tcd_ppp_2015_UNadj.tif. Fri Mar  3 17:12:28 2023

Written to file. Fri Mar  3 17:12:43 2023

Removed intermediate file. Fri Mar  3 17:12:43 2023



 Finished all years in list. Fri Mar  3 17:12:43 2023

In [100]:
print(os.listdir('Population/'))

['Msk_2000.tif', 'Msk_2001.tif', 'Msk_2002.tif', 'Msk_2003.tif', 'Msk_2004.tif', 'Msk_2005.tif', 'Msk_2006.tif', 'Msk_2007.tif', 'Msk_2008.tif', 'Msk_2009.tif', 'Msk_2010.tif', 'Msk_2011.tif', 'Msk_2012.tif', 'Msk_2013.tif', 'Msk_2014.tif', 'Msk_2015.tif', 'SourceFiles']

### 8.2 Raster values summarized by settlement.
1. Convert each annualized raster to .xyz, 
2. then bring them to vector space and assign their Sett_ID,
3. and finally, aggregate the value as appropriate to the settlement level and save table to file.

XYZ is similar to .csv. Raster cell centers are stored as x and y, and their value is stored as z.

In [15]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')[['Sett_ID', 'geometry']]

In [17]:
BatchZonalStats(FolderName='Population', Zones=Settlements, StatsWanted=['count', 'sum'], SeriesStart=2000, SeriesEnd=2015)

['Msk_2000.tif', 'Msk_2001.tif', 'Msk_2002.tif', 'Msk_2003.tif', 'Msk_2004.tif', 'Msk_2005.tif', 'Msk_2006.tif', 'Msk_2007.tif', 'Msk_2008.tif', 'Msk_2009.tif', 'Msk_2010.tif', 'Msk_2011.tif', 'Msk_2012.tif', 'Msk_2013.tif', 'Msk_2014.tif', 'Msk_2015.tif']
       Sett_ID
0            1
1            2
2            3
3            5
4            6
...        ...
1934    349427
1935    350163
1936    350168
1937    350194
1938  21474836

[1939 rows x 1 columns]
Loading data for Msk_2000.tif. Sat Mar  4 10:46:03 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2000. Sat Mar  4 10:51:51 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 10:56:19 2023

Created geodataframe from non-NoData points. Sat Mar  4 10:56:20 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 10:58:40 2023

                  Z   Sett_ID
154789375  0.366830     14108
153759932  0.714932      7236
157698170  1.283338     25393
168813180  0.277252     22200
158684949  0.852523     25275
168709952  0.279727     37955
145930092  0.078293     28703
106602987  0.124033    137680
114052830  0.416380    152036
150894635  0.258190  21474836

Exported as table. Sat Mar  4 10:58:49 2023


Desired aggregation methods applied to settlement level, year 2000. Sat Mar  4 10:58:49 2023

      Sett_ID  POPct2000  POPsum2000
630     28258      471.0  275.511373
1556   146185     1429.0  363.475878
1196    68883     1502.0  236.511029
1863   337907        3.0   46.976322
975     42614     1467.0  378.508024
1217    81234     1445.0  139.219893
1405   131543     1687.0  257.259607
364     14979      391.0  273.837383
304     14338     1409.0  879.678371
1093    51750     1504.0  438.701156
Loading data for Msk_2001.tif. Sat Mar  4 10:58:49 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2001. Sat Mar  4 11:04:34 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 11:09:24 2023

Created geodataframe from non-NoData points. Sat Mar  4 11:09:24 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 11:11:56 2023

                  Z  Sett_ID
116615989  0.751883   128756
161033479  0.519629    33759
176736751  0.205204       12
160015837  0.372976    47735
151943111  0.553064    14321
153115408  0.283774    51549
99809614   0.260390   234708
162311048  0.827090    33729
86833110   0.068905   302562
147765927  0.323860    54862

Exported as table. Sat Mar  4 11:12:05 2023


Desired aggregation methods applied to settlement level, year 2001. Sat Mar  4 11:12:05 2023

      Sett_ID  POPct2000  POPsum2000  POPct2001  POPsum2001
1301   127691      875.0  449.409601      875.0  522.319664
451     21153     1349.0  288.294158     1349.0  270.309282
1214    81173     1660.0   90.797910     1660.0   67.692581
167      4884       11.0   18.123667       11.0   24.453685
82       2752     1434.0  560.333659     1434.0  563.831522
252     14130     1516.0  766.107815     1516.0  739.151515
1858   337901        1.0   16.122705        1.0   26.877575
1238    91981     1161.0  251.523487     1161.0  376.034960
1717   249308     1498.0  111.733928     1498.0  139.405076
1532   146023      770.0  266.493977      770.0  245.574980
Loading data for Msk_2002.tif. Sat Mar  4 11:12:05 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2002. Sat Mar  4 11:17:51 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 11:22:35 2023

Created geodataframe from non-NoData points. Sat Mar  4 11:22:36 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 11:25:10 2023

                  Z  Sett_ID
158082593  1.208020    25273
103330777  0.061214   234525
165251530  0.186500    38118
156150112  0.635583    32872
148430596  0.419713    51765
91687634   0.494641   248792
98802818   0.482616   145882
168885871  0.272948    22200
119140269  9.328639   131506
135920049  0.075197    87760

Exported as table. Sat Mar  4 11:25:19 2023


Desired aggregation methods applied to settlement level, year 2002. Sat Mar  4 11:25:19 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
712     32833     1442.0   633.970228     1442.0   612.557595     1442.0
554     23416     2482.0   895.393887     2482.0   914.338676     2482.0
740     33256        6.0     4.025071        6.0     3.851147        6.0
1054    47903     1547.0   725.842069     1547.0   934.062730     1547.0
1489   137570     1808.0   392.642801     1808.0   410.556587     1808.0
959     40692     1862.0   836.702920     1862.0   982.139744     1862.0
139      4225     1791.0  1451.798399     1791.0  1705.557423     1791.0
1120    56443     1289.0  1190.696001     1289.0  1231.186950     1289.0
37        293      953.0    93.030211      953.0    86.991458      953.0
1695   248865     1515.0   212.199362     1515.0   186.039931     1515.0

       POPsum2002
712    641.800605
554    965.384095
740      3.728877
1054   949.892734
1489   531.710384
959    934.098450
139   1693.591590
1120  1288.172280
37      92.099347
1695   226.183269
Loading data for Msk_2003.tif. Sat Mar  4 11:25:19 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2003. Sat Mar  4 11:31:05 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 11:35:51 2023

Created geodataframe from non-NoData points. Sat Mar  4 11:35:52 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 11:38:25 2023

                  Z   Sett_ID
149895155  2.376900     51519
163983413  0.604866     33670
159494821  0.840711      4225
112648724  0.315556    127629
151850305  0.214995  21474836
116387775  0.480440    131978
155487852  0.479500     42766
163908952  0.795609      4169
100139443  0.271538    278174
166713361  1.115622      4110

Exported as table. Sat Mar  4 11:38:35 2023


Desired aggregation methods applied to settlement level, year 2003. Sat Mar  4 11:38:35 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
293     14313     1213.0   825.332267     1213.0   826.645740     1213.0
894     38045     1272.0   354.601123     1272.0   362.607926     1272.0
1842   337713      481.0  2255.013713      481.0  2208.107588      481.0
1074    51673     1724.0  1565.488583     1724.0  1662.265487     1724.0
690     32773     1445.0  1321.500600     1445.0  1369.642181     1445.0
681     31158        NaN          NaN        NaN          NaN        NaN
1392   130096      500.0   278.177218      500.0   280.992654      500.0
1889   338020        1.0    23.313845        1.0    22.819105        1.0
1673   237144      152.0    72.518032      152.0    71.109748      152.0
746     33667     1942.0  1416.991891     1942.0  1797.672434     1942.0

       POPsum2002  POPct2003   POPsum2003
293    920.407377     1213.0   864.326720
894    405.157531     1272.0   384.443440
1842  2139.055744      481.0  2083.629476
1074  1662.886490     1724.0  1738.940051
690   1453.174730     1445.0  1741.836192
681           NaN        NaN          NaN
1392   285.335606      500.0   311.018509
1889    24.904022        1.0    27.405201
1673    77.421408      152.0    80.174662
746   1733.517003     1942.0  1893.565681
Loading data for Msk_2004.tif. Sat Mar  4 11:38:35 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2004. Sat Mar  4 11:44:25 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 11:49:10 2023

Created geodataframe from non-NoData points. Sat Mar  4 11:49:11 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 11:51:47 2023

                  Z  Sett_ID
109459031  0.408640   127638
121290424  0.288171   131779
166206391  0.238795    38069
153916696  1.585364    13874
162634182  0.487240    42496
105286089  0.079824   152551
112762446  0.408921   130097
155391773  0.573186    14072
169029734  0.297915      184
100172707  0.227896   237211

Exported as table. Sat Mar  4 11:51:56 2023


Desired aggregation methods applied to settlement level, year 2004. Sat Mar  4 11:51:56 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
154      4777       60.0    64.497567       60.0    67.124710       60.0
148      4500      422.0   255.349716      422.0   319.557247      422.0
1335   127876      367.0   197.620356      367.0   202.536746      367.0
1779   302341     1517.0    75.250130     1517.0    77.010901     1517.0
1505   145226     1513.0   759.690249     1513.0   968.859717     1513.0
1502   143013      822.0   331.888151      822.0   442.389015      822.0
696     32787     2337.0  1592.748987     2337.0  1490.319085     2337.0
937     38226     1353.0   418.264849     1353.0   505.137636     1353.0
1390   129929      341.0   184.127502      341.0   177.589202      341.0
1648   234708     1118.0   316.663250     1118.0   341.680156     1118.0

       POPsum2002  POPct2003   POPsum2003  POPct2004   POPsum2004
154     73.860436       60.0    74.093422       60.0    69.337198
148    301.008227      422.0   339.784615      422.0   350.875495
1335   209.958407      367.0   228.074478      367.0   224.326468
1779    72.058771     1517.0    78.074914     1517.0    81.203552
1505  1038.517375     1513.0  1141.154698     1513.0  1101.696875
1502   438.266019      822.0   464.715868      822.0   523.334682
696   1688.579767     2337.0  1610.150971     2337.0  1605.315741
937    523.765215     1353.0   548.355690     1353.0   512.943163
1390   186.171939      341.0   202.411780      341.0   192.835384
1648   345.683063     1118.0   386.322711     1118.0   395.456518
Loading data for Msk_2005.tif. Sat Mar  4 11:51:56 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2005. Sat Mar  4 11:57:39 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 12:02:25 2023

Created geodataframe from non-NoData points. Sat Mar  4 12:02:26 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 12:05:00 2023

                  Z   Sett_ID
152296984  0.260291  21474836
155994426  0.980247     32773
155330276  0.436872     28329
107714095  0.125193    128614
151063309  0.068720     91945
149687322  0.933372     51723
120667565  0.134403     68400
166838139  0.628611      4108
132052207  0.029496     68069
89543624   0.097904    295995

Exported as table. Sat Mar  4 12:05:10 2023


Desired aggregation methods applied to settlement level, year 2005. Sat Mar  4 12:05:10 2023

      Sett_ID  POPct2000     POPsum2000  POPct2001     POPsum2001  POPct2002  \
885     38009     1676.0     387.261782     1676.0     380.783746     1676.0
17         76      611.0      87.279992      611.0      84.341481      611.0
439     21115     2393.0     649.295371     2393.0     686.227021     2393.0
520     23317     2135.0    1687.055259     2135.0    2657.568035     2135.0
1403   131507    42754.0  494072.088358    42754.0  503387.412504    42754.0
774     33733     1034.0     704.619196     1034.0     848.359795     1034.0
1016    47551     6538.0    3044.628797     6538.0    4037.865520     6538.0
394     18126     3505.0    2685.472063     3505.0    4160.249356     3505.0
1212    81144     1867.0     490.356627     1867.0     533.557278     1867.0
1685   239233     1514.0     185.573842     1514.0     208.523683     1514.0

         POPsum2002  POPct2003     POPsum2003  POPct2004     POPsum2004  \
885      521.526385     1676.0     506.578339     1676.0     488.365758
17        95.932320      611.0     103.303334      611.0     113.521310
439      644.606755     2393.0     743.076269     2393.0     747.473295
520     2779.868576     2135.0    3075.738066     2135.0    3137.536042
1403  535671.707793    42754.0  566421.250869    42754.0  570764.506874
774      895.342887     1034.0     955.128904     1034.0     848.897924
1016    4158.817867     6538.0    4356.541496     6538.0    4274.756903
394     4288.357020     3505.0    4139.260548     3505.0    4268.714293
1212     597.899109     1867.0     578.324461     1867.0     540.834646
1685     229.183926     1514.0     258.966036     1514.0     306.273041

      POPct2005     POPsum2005
885      1676.0     563.778008
17        611.0     101.442200
439      2393.0     782.030695
520      2135.0    2839.529047
1403    42754.0  582356.734087
774      1034.0    1072.614906
1016     6538.0    4297.752329
394      3505.0    4697.870003
1212     1867.0     586.338287
1685     1514.0     270.511390
Loading data for Msk_2006.tif. Sat Mar  4 12:05:10 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2006. Sat Mar  4 12:10:55 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 12:15:41 2023

Created geodataframe from non-NoData points. Sat Mar  4 12:15:41 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 12:18:13 2023

                  Z   Sett_ID
42706808   0.030557    333078
168968276  0.260080     21166
160865841  0.530156      4215
164222114  1.279851     22292
150333544  0.673321  21474836
166309750  0.608467     22302
140028882  0.456884     60906
166121083  0.560927      2712
153314861  1.239478  21474836
97755003   0.334486    256109

Exported as table. Sat Mar  4 12:18:22 2023


Desired aggregation methods applied to settlement level, year 2006. Sat Mar  4 12:18:23 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
1475   131989     1110.0   382.511767     1110.0   376.419004     1110.0
17         76      611.0    87.279992      611.0    84.341481      611.0
1883   337978       89.0  2450.538563       89.0  2403.492802       89.0
1692   248792     3667.0  1307.680204     3667.0  1683.039743     3667.0
1612   186643     1681.0   165.369443     1681.0   103.438949     1681.0
889     38030     1070.0   358.912462     1070.0   389.533277     1070.0
1880   337948       25.0   678.096523       25.0   647.217831       25.0
1150    60885     1523.0   723.869870     1523.0   888.692528     1523.0
1042    47760     1339.0   862.905382     1339.0  1101.480781     1339.0
748     33669     2347.0   895.945115     2347.0  1115.829083     2347.0

       POPsum2002  POPct2003   POPsum2003  POPct2004   POPsum2004  POPct2005  \
1475   375.678893     1110.0   369.936603     1110.0   433.973741     1110.0
17      95.932320      611.0   103.303334      611.0   113.521310      611.0
1883  2609.906921       89.0  2749.857632       89.0  2903.910698       89.0
1692  1818.016525     3667.0  2080.053378     3667.0  1940.267664     3667.0
1612   117.411419     1681.0   127.763263     1681.0   120.731111     1681.0
889    397.942687     1070.0   398.678047     1070.0   424.253488     1070.0
1880   723.086992       25.0   738.946190       25.0   775.854994       25.0
1150   904.583695     1523.0   920.353866     1523.0  1002.883524     1523.0
1042  1044.360592     1339.0  1185.461392     1339.0  1079.258363     1339.0
748   1077.709706     2347.0  1130.809111     2347.0  1187.067697     2347.0

       POPsum2005  POPct2006   POPsum2006
1475   484.261450     1110.0   430.272347
17     101.442200      611.0   109.096988
1883  2838.052597       89.0  2945.706669
1692  2435.528206     3667.0  2744.995066
1612   153.823867     1681.0   322.216749
889    416.852175     1070.0   529.784848
1880   774.799583       25.0   788.983765
1150  1002.227270     1523.0  1027.358005
1042  1270.320719     1339.0  1315.061769
748   1269.807299     2347.0  1361.925037
Loading data for Msk_2007.tif. Sat Mar  4 12:18:23 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2007. Sat Mar  4 12:24:06 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 12:28:51 2023

Created geodataframe from non-NoData points. Sat Mar  4 12:28:52 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 12:31:29 2023

                  Z  Sett_ID
150570210  0.787143    51683
169477255  0.459067    21158
135698117  0.286357    65796
154020557  1.523035    13874
97982291   0.520862   146193
172769468  0.233749     1889
175999337  0.540129        1
172738901  0.947595    21075
174140922  0.254585    21090
157936929  0.915086    25392

Exported as table. Sat Mar  4 12:31:37 2023


Desired aggregation methods applied to settlement level, year 2007. Sat Mar  4 12:31:37 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
1131    60470     1359.0   760.994370     1359.0   833.421444     1359.0
1506   145285     1156.0    99.249104     1156.0    95.915469     1156.0
1850   337868       31.0    36.425313       31.0    44.302404       31.0
555     23418     1629.0   826.245077     1629.0   832.008297     1629.0
690     32773     1445.0  1321.500600     1445.0  1369.642181     1445.0
159      4793       86.0    86.876396       86.0    90.905417       86.0
1218    81605     1610.0   150.167813     1610.0   150.663831     1610.0
693     32777     1038.0   393.073305     1038.0   372.595509     1038.0
228     13801      513.0   420.989017      513.0   500.376197      513.0
1617   197581     2238.0    81.949076     2238.0   100.209192     2238.0

       POPsum2002  POPct2003   POPsum2003  POPct2004   POPsum2004  POPct2005  \
1131   885.497486     1359.0   926.960545     1359.0   888.963951     1359.0
1506   112.350223     1156.0   109.588799     1156.0   102.255811     1156.0
1850    41.898594       31.0    46.577208       31.0    42.541756       31.0
555    877.045308     1629.0   878.273067     1629.0   863.004161     1629.0
690   1453.174730     1445.0  1741.836192     1445.0  1756.734349     1445.0
159     94.792370       86.0    95.636691       86.0    91.249356       86.0
1218   152.897363     1610.0   138.201160     1610.0   125.361962     1610.0
693    374.390737     1038.0   379.204274     1038.0   396.222720     1038.0
228    480.597529      513.0   516.057910      513.0   499.741249      513.0
1617   147.225297     2238.0   160.432161     2238.0   169.386627     2238.0

       POPsum2005  POPct2006   POPsum2006  POPct2007   POPsum2007
1131  1020.806945     1359.0  1003.962723     1359.0  1011.884726
1506   115.745517     1156.0   176.555570     1156.0   171.667597
1850    53.093760       31.0    56.460334       31.0    51.673058
555    975.884799     1629.0   910.070727     1629.0   953.866113
690   1510.772772     1445.0  1728.071828     1445.0  1617.882236
159    102.602729       86.0    98.272935       86.0   117.793411
1218   150.634838     1610.0   152.674604     1610.0   182.477810
693    481.199273     1038.0   491.466693     1038.0   512.058955
228    545.661822      513.0   550.709208      513.0   581.138974
1617   180.603580     2238.0   210.541928     2238.0   200.546669
Loading data for Msk_2008.tif. Sat Mar  4 12:31:37 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2008. Sat Mar  4 12:37:22 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 12:42:13 2023

Created geodataframe from non-NoData points. Sat Mar  4 12:42:13 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 12:44:53 2023

                  Z  Sett_ID
86625144   0.377989   302299
42436782   0.045092   333100
166933782  0.522417    38019
132903007  0.632899    65860
162072758  0.270004    38201
154581202  0.673421    14131
95593278   0.196823   249157
121176209  0.543752   131795
155475704  0.457571    28329
164003344  0.411325    23383

Exported as table. Sat Mar  4 12:45:02 2023


Desired aggregation methods applied to settlement level, year 2008. Sat Mar  4 12:45:02 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
1282   127636     1344.0   521.428076     1344.0   722.995086     1344.0
709     32830      997.0   475.385926      997.0   453.969880      997.0
193      7367     1975.0   658.576186     1975.0   409.383871     1975.0
799     35088     1517.0   561.522748     1517.0   587.961549     1517.0
236     13930     1503.0   743.050394     1503.0   743.933663     1503.0
1376   128756      140.0    82.673117      140.0   109.346952      140.0
1240    91986     1789.0   259.610876     1789.0   329.027087     1789.0
1454   131886      626.0  1314.276821      626.0  1325.618840      626.0
31        277     1471.0   131.137537     1471.0   121.995452     1471.0
541     23378     1472.0   609.386398     1472.0   625.823801     1472.0

       POPsum2002  POPct2003   POPsum2003  POPct2004   POPsum2004  POPct2005  \
1282   702.547492     1344.0   706.644751     1344.0   693.146206     1344.0
709    482.693423      997.0   468.132639      997.0   523.270235      997.0
193    515.525700     1975.0   494.014327     1975.0   398.615492     1975.0
799    614.236523     1517.0   660.816020     1517.0   738.555701     1517.0
236    781.591420     1503.0   751.369976     1503.0   849.001640     1503.0
1376    92.151350      140.0   112.571582      140.0   110.900854      140.0
1240   339.788831     1789.0   354.916230     1789.0   414.945834     1789.0
1454  1218.821766      626.0  1290.758791      626.0  1545.247808      626.0
31     124.110764     1471.0   125.772303     1471.0   123.196949     1471.0
541    632.248223     1472.0   663.504913     1472.0   560.697482     1472.0

       POPsum2005  POPct2006   POPsum2006  POPct2007   POPsum2007  POPct2008  \
1282   938.688581     1344.0   902.130569     1344.0   831.000717     1344.0
709    614.576170      997.0   644.830531      997.0   634.608087      997.0
193    477.817082     1975.0   457.780031     1975.0   514.515884     1975.0
799    666.749210     1517.0   727.472860     1517.0   759.555916     1517.0
236    774.307492     1503.0   794.750025     1503.0   816.146083     1503.0
1376   130.493056      140.0   137.297076      140.0   110.570732      140.0
1240   441.802157     1789.0   486.419333     1789.0   509.346593     1789.0
1454  1600.938054      626.0  1542.227836      626.0  1450.361025      626.0
31     148.785517     1471.0   161.051663     1471.0   163.782546     1471.0
541    816.623064     1472.0   741.382440     1472.0   960.004021     1472.0

       POPsum2008
1282   813.374758
709    631.584285
193    463.641476
799    748.578983
236    830.434479
1376   118.460412
1240   491.050263
1454  1557.576280
31     166.865262
541    887.733867
Loading data for Msk_2009.tif. Sat Mar  4 12:45:02 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2009. Sat Mar  4 12:50:46 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 12:55:29 2023

Created geodataframe from non-NoData points. Sat Mar  4 12:55:30 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 12:58:08 2023

                  Z  Sett_ID
97578365   0.423337   255879
99954594   0.270581   237211
165686615  0.669604    22257
167649900  0.621959    22214
121653915  0.636260   131764
97441991   0.327920   146043
166257165  0.709724    21193
164815282  0.221293    38126
160017005  0.324396    40687
162393581  1.111005    23480

Exported as table. Sat Mar  4 12:58:17 2023


Desired aggregation methods applied to settlement level, year 2009. Sat Mar  4 12:58:18 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
786     33784     1708.0  1107.492096     1708.0  1385.511333     1708.0
1099    51804     1241.0   454.587609     1241.0   420.354400     1241.0
477     21761     1630.0   324.211633     1630.0   343.357289     1630.0
1877   337942        2.0    54.334517        2.0    50.296579        2.0
517     22302     1475.0   959.976669     1475.0  1002.099667     1475.0
124      4166     1283.0   611.963346     1283.0   668.529125     1283.0
601     25392     2230.0  2056.319197     2230.0  2144.274715     2230.0
470     21353      159.0    76.335760      159.0    75.242867      159.0
1834   337699      477.0  5419.284722      477.0  5155.407145      477.0
1300   127690      138.0    82.798446      138.0   108.823438      138.0

       POPsum2002  POPct2003   POPsum2003  POPct2004  ...  POPct2005  \
786   1385.763262     1708.0  1408.524222     1708.0  ...     1708.0
1099   441.426970     1241.0   431.008328     1241.0  ...     1241.0
477    353.365489     1630.0   366.782150     1630.0  ...     1630.0
1877    55.346411        2.0    57.077990        2.0  ...        2.0
517   1013.436880     1475.0  1042.442716     1475.0  ...     1475.0
124    683.929419     1283.0   701.760114     1283.0  ...     1283.0
601   2259.566207     2230.0  2505.943992     2230.0  ...     2230.0
470     78.366186      159.0    84.296461      159.0  ...      159.0
1834  5510.097293      477.0  5035.852131      477.0  ...      477.0
1300    90.014995      138.0   107.289332      138.0  ...      138.0

       POPsum2005  POPct2006   POPsum2006  POPct2007   POPsum2007  POPct2008  \
786   1398.687004     1708.0  1655.642887     1708.0  1732.518355     1708.0
1099   420.923648     1241.0   392.024758     1241.0   454.727078     1241.0
477    392.031578     1630.0   373.317436     1630.0   393.945244     1630.0
1877    49.132862        2.0    53.808372        2.0    44.855402        2.0
517   1166.010860     1475.0  1124.334141     1475.0  1226.880629     1475.0
124    772.827860     1283.0   808.269568     1283.0   800.262393     1283.0
601   2330.647717     2230.0  2645.475129     2230.0  2549.738801     2230.0
470    110.606837      159.0   110.277219      159.0   102.760580      159.0
1834  6817.488792      477.0  6407.809900      477.0  6475.527335      477.0
1300   123.736190      138.0   130.867903      138.0   101.137874      138.0

       POPsum2008  POPct2009   POPsum2009
786   1715.769399     1708.0  1681.831660
1099   453.412238     1241.0   432.315166
477    394.877348     1630.0   419.182545
1877    51.802801        2.0    74.030933
517   1276.297702     1475.0  1386.209874
124    848.103086     1283.0   854.955909
601   2733.929648     2230.0  2594.060797
470    109.213739      159.0   114.264769
1834  7207.239378      477.0  7379.287573
1300   111.084452      138.0   125.572515

[10 rows x 21 columns]
Loading data for Msk_2010.tif. Sat Mar  4 12:58:18 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2010. Sat Mar  4 13:04:01 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 13:08:51 2023

Created geodataframe from non-NoData points. Sat Mar  4 13:08:51 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 13:11:23 2023

                   Z  Sett_ID
157015011   1.032117    42721
117291259  40.415100   131507
96538614    0.353361   338687
94113884    0.197639   278354
97016357    0.268343   338641
165759567   1.045236    33667
117166625  32.743866   131507
120448949   0.892898   131817
106851812   0.306197   128744
153427747   0.322827     7233

Exported as table. Sat Mar  4 13:11:32 2023


Desired aggregation methods applied to settlement level, year 2010. Sat Mar  4 13:11:32 2023

      Sett_ID  POPct2000  POPsum2000  POPct2001  POPsum2001  POPct2002  \
1552   146131      740.0  190.452288      740.0  164.798039      740.0
1414   131593     1059.0  319.767547     1059.0  291.667954     1059.0
1492   137643     1504.0  481.638701     1504.0  717.185784     1504.0
19         97     1519.0  258.563585     1519.0  254.141338     1519.0
132      4187     1175.0  829.514386     1175.0  810.930645     1175.0
45        316     1560.0  209.027891     1560.0  197.235324     1560.0
657     28561      995.0  382.274769      995.0  361.774510      995.0
737     33110      305.0  401.879403      305.0  474.497688      305.0
1093    51750     1504.0  438.701156     1504.0  437.530909     1504.0
1463   131918      642.0  209.308147      642.0  213.007678      642.0

      POPsum2002  POPct2003  POPsum2003  POPct2004  ...  POPct2006  \
1552  230.217724      740.0  249.306840      740.0  ...      740.0
1414  341.292011     1059.0  309.297073     1059.0  ...     1059.0
1492  639.429020     1504.0  757.528797     1504.0  ...     1504.0
19    306.074020     1519.0  295.817155     1519.0  ...     1519.0
132   892.912355     1175.0  841.907241     1175.0  ...     1175.0
45    219.558730     1560.0  205.067370     1560.0  ...     1560.0
657   377.756619      995.0  460.353618      995.0  ...      995.0
737   453.065240      305.0  527.300601      305.0  ...      305.0
1093  466.789274     1504.0  453.645619     1504.0  ...     1504.0
1463  197.693324      642.0  199.554075      642.0  ...      642.0

      POPsum2006  POPct2007   POPsum2007  POPct2008   POPsum2008  POPct2009  \
1552  283.387536      740.0   291.908164      740.0   332.546009      740.0
1414  306.413568     1059.0   340.959976     1059.0   302.577869     1059.0
1492  870.310520     1504.0   828.792654     1504.0   847.307453     1504.0
19    318.087744     1519.0   358.994026     1519.0   336.847824     1519.0
132   953.580123     1175.0  1213.383323     1175.0  1166.764317     1175.0
45    228.573737     1560.0   246.389990     1560.0   246.808044     1560.0
657   510.521266      995.0   472.035383      995.0   515.005801      995.0
737   491.830236      305.0   503.249510      305.0   524.454196      305.0
1093  486.156813     1504.0   525.000818     1504.0   502.798342     1504.0
1463  232.616319      642.0   224.288746      642.0   243.037154      642.0

       POPsum2009  POPct2010   POPsum2010
1552   338.172606      740.0   361.119269
1414   376.604620     1059.0   381.066894
1492   875.571968     1504.0   797.847534
19     360.573239     1519.0   344.469194
132   1190.505021     1175.0  1216.042840
45     247.320439     1560.0   257.138854
657    520.433969      995.0   534.618272
737    556.856719      305.0   506.832216
1093   503.477233     1504.0   531.148764
1463   233.696702      642.0   266.703515

[10 rows x 23 columns]
Loading data for Msk_2011.tif. Sat Mar  4 13:11:32 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2011. Sat Mar  4 13:17:25 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 13:22:03 2023

Created geodataframe from non-NoData points. Sat Mar  4 13:22:03 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 13:24:37 2023

                  Z  Sett_ID
99062231   0.666328   145866
168739745  0.378128    21166
119940271  0.504937   131856
130169730  0.293970   107500
101440404  0.306989   234648
137795424  0.361026    60768
155588044  0.266032     7679
175199578  0.542435        2
133422881  1.248143    65797
144123675  0.078337    81231

Exported as table. Sat Mar  4 13:24:46 2023


Desired aggregation methods applied to settlement level, year 2011. Sat Mar  4 13:24:46 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
1320   127757      750.0   448.506403      750.0   603.177643      750.0
561     23480     1378.0  1015.904689     1378.0  1231.836441     1378.0
1151    60896     1110.0   440.993764     1110.0   577.258513     1110.0
511     22274     1733.0   949.608793     1733.0   990.116514     1733.0
1552   146131      740.0   190.452288      740.0   164.798039      740.0
1601   180645     5505.0  1737.850215     5505.0  2101.404461     5505.0
1233    91942     1690.0   184.798465     1690.0   114.280955     1690.0
1300   127690      138.0    82.798446      138.0   108.823438      138.0
1162    65823      895.0   307.630101      895.0   329.613587      895.0
1389   129764      663.0   195.037019      663.0   213.724183      663.0

       POPsum2002  POPct2003   POPsum2003  POPct2004  ...  POPct2007  \
1320   512.460161      750.0   558.959382      750.0  ...      750.0
561   1137.305561     1378.0  1285.623881     1378.0  ...     1378.0
1151   557.349481     1110.0   556.686248     1110.0  ...     1110.0
511    957.215423     1733.0  1057.522983     1733.0  ...     1733.0
1552   230.217724      740.0   249.306840      740.0  ...      740.0
1601  2189.115866     5505.0  2483.341308     5505.0  ...     5505.0
1233   130.510974     1690.0   136.519168     1690.0  ...     1690.0
1300    90.014995      138.0   107.289332      138.0  ...      138.0
1162   348.020935      895.0   344.778733      895.0  ...      895.0
1389   225.924959      663.0   201.791514      663.0  ...      663.0

       POPsum2007  POPct2008   POPsum2008  POPct2009   POPsum2009  POPct2010  \
1320   641.552529      750.0   783.410296      750.0   743.004697      750.0
561   1275.932634     1378.0  1408.762974     1378.0  1544.157839     1378.0
1151   721.772833     1110.0   705.459928     1110.0   719.725350     1110.0
511   1376.107751     1733.0  1465.755836     1733.0  1456.002657     1733.0
1552   291.908164      740.0   332.546009      740.0   338.172606      740.0
1601  2745.681411     5505.0  3005.858059     5505.0  3106.793651     5505.0
1233   368.186125     1690.0   409.673184     1690.0   381.700286     1690.0
1300   101.137874      138.0   111.084452      138.0   125.572515      138.0
1162   427.002874      895.0   424.333642      895.0   418.720436      895.0
1389   267.777528      663.0   289.163474      663.0   291.388532      663.0

       POPsum2010  POPct2011   POPsum2011
1320   703.637780      750.0   754.877898
561   1482.976804     1378.0  1623.859073
1151   777.339048     1110.0   726.504604
511   1526.492627     1733.0  1622.592741
1552   361.119269      740.0   382.859188
1601  3147.880279     5505.0  3343.368624
1233   434.266751     1690.0   491.700686
1300   120.555447      138.0   119.388493
1162   424.859163      895.0   492.369773
1389   345.591084      663.0   465.948579

[10 rows x 25 columns]
Loading data for Msk_2012.tif. Sat Mar  4 13:24:46 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2012. Sat Mar  4 13:30:30 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 13:35:17 2023

Created geodataframe from non-NoData points. Sat Mar  4 13:35:18 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 13:37:52 2023

                  Z  Sett_ID
96679628   0.368430   278674
164429368  0.797296    23376
173715879  0.176888    21215
162611724  1.259778    23480
146072870  0.593126    54992
111796445  0.321639   127901
168158854  0.831261    22204
166215625  0.775728    21195
110270968  0.183058   152367
98948007   0.525919   145851

Exported as table. Sat Mar  4 13:38:01 2023


Desired aggregation methods applied to settlement level, year 2012. Sat Mar  4 13:38:01 2023

      Sett_ID  POPct2000     POPsum2000  POPct2001     POPsum2001  POPct2002  \
1237    91955     1798.0     272.210115     1798.0     316.867839     1798.0
1282   127636     1344.0     521.428076     1344.0     722.995086     1344.0
1367   128614     1504.0     174.869000     1504.0     181.307210     1504.0
1935   350163      377.0      13.258968      377.0      21.101303      377.0
1402   131506    11415.0  130321.770306    11415.0  143883.205012    11415.0
627     27537      902.0     775.789384      902.0     901.638504      902.0
1821   333334       32.0       0.229476       32.0       0.464893       32.0
1766   278870     1856.0     128.978229     1856.0     107.062968     1856.0
305     14339     1186.0     373.029895     1186.0     366.031186     1186.0
477     21761     1630.0     324.211633     1630.0     343.357289     1630.0

         POPsum2002  POPct2003     POPsum2003  POPct2004  ...  POPct2008  \
1237     237.305235     1798.0     256.435735     1798.0  ...     1798.0
1282     702.547492     1344.0     706.644751     1344.0  ...     1344.0
1367     191.843024     1504.0     190.201331     1504.0  ...     1504.0
1935      25.018992      377.0      27.096503      377.0  ...      377.0
1402  146476.676768    11415.0  146728.279884    11415.0  ...    11415.0
627      873.775939      902.0     885.571890      902.0  ...      902.0
1821       0.574058       32.0       0.645886       32.0  ...       32.0
1766     123.237859     1856.0     124.332974     1856.0  ...     1856.0
305      367.397866     1186.0     339.900189     1186.0  ...     1186.0
477      353.365489     1630.0     366.782150     1630.0  ...     1630.0

         POPsum2008  POPct2009     POPsum2009  POPct2010     POPsum2010  \
1237     574.402959     1798.0     583.451346     1798.0     598.072492
1282     813.374758     1344.0     882.419132     1344.0     784.002386
1367     282.220055     1504.0     277.589903     1504.0     312.955762
1935      46.048530      377.0      45.961150      377.0      49.543313
1402  179136.058208    11415.0  186863.632964    11415.0  199032.352241
627     1130.281366      902.0    1109.443039      902.0    1127.615392
1821       1.463094       32.0       1.409038       32.0       1.320668
1766     155.047973     1856.0     166.749298     1856.0     146.777291
305      464.057826     1186.0     448.155198     1186.0     503.988583
477      394.877348     1630.0     419.182545     1630.0     478.021658

      POPct2011     POPsum2011  POPct2012     POPsum2012
1237     1798.0     685.000042     1798.0     675.767244
1282     1344.0     912.026511     1344.0     953.464369
1367     1504.0     314.242214     1504.0     317.805808
1935      377.0      66.376468      377.0      60.711977
1402    11415.0  216428.707650    11415.0  220333.647078
627       902.0    1222.458769      902.0    1135.596771
1821       32.0       1.795051       32.0       2.085864
1766     1856.0     392.970016     1856.0     370.372997
305      1186.0     562.199564     1186.0     535.215921
477      1630.0     412.156171     1630.0     510.168363

[10 rows x 27 columns]
Loading data for Msk_2013.tif. Sat Mar  4 13:38:01 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2013. Sat Mar  4 13:43:45 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 13:48:31 2023

Created geodataframe from non-NoData points. Sat Mar  4 13:48:31 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 13:51:05 2023

                  Z  Sett_ID
150945320  0.661562    18306
152486862  0.835483    91878
165905045  0.613163    33686
165748173  0.439353    21078
172800646  0.235045      289
133225496  1.286820    65797
159756169  0.869879    47551
98231615   0.460375   146187
166476108  0.467833    22190
166372762  0.441550    38045

Exported as table. Sat Mar  4 13:51:14 2023


Desired aggregation methods applied to settlement level, year 2013. Sat Mar  4 13:51:14 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
879     37980     1511.0   263.817148     1511.0   268.559635     1511.0
406     18480      553.0   378.627814      553.0   412.019413      553.0
701     32801     2858.0  2108.349583     2858.0  2283.998979     2858.0
617     25445      973.0   491.827793      973.0   464.035705      973.0
1228    91878     3329.0   833.307844     3329.0  1352.205955     3329.0
1635   234525     1404.0   113.572933     1404.0    97.152483     1404.0
1804   326068      937.0    47.740954      937.0    77.699560      937.0
452     21154      761.0   187.308857      761.0   186.240750      761.0
668     28617      506.0   113.052985      506.0   156.839133      506.0
1431   131770     1263.0   434.327962     1263.0   530.202190     1263.0

       POPsum2002  POPct2003   POPsum2003  POPct2004  ...  POPct2009  \
879    284.792146     1511.0   290.784551     1511.0  ...     1511.0
406    439.576930      553.0   458.043174      553.0  ...      553.0
701   2205.709035     2858.0  2411.565251     2858.0  ...     2858.0
617    507.408274      973.0   530.221453      973.0  ...      973.0
1228  1276.619121     3329.0  1404.225838     3329.0  ...     3329.0
1635    87.501368     1404.0    92.117775     1404.0  ...     1404.0
1804    88.840397      937.0    93.576428      937.0  ...      937.0
452    229.958586      761.0   246.672955      761.0  ...      761.0
668    159.448296      506.0   178.940391      506.0  ...      506.0
1431   488.069974     1263.0   529.984632     1263.0  ...     1263.0

       POPsum2009  POPct2010   POPsum2010  POPct2011   POPsum2011  POPct2012  \
879    356.101415     1511.0   367.884987     1511.0   390.522035     1511.0
406    550.988928      553.0   565.767813      553.0   596.138199      553.0
701   2745.294153     2858.0  2611.438597     2858.0  2673.775323     2858.0
617    582.592007      973.0   586.018219      973.0   594.796826      973.0
1228  1663.641471     3329.0  1468.750582     3329.0  1732.142856     3329.0
1635   105.601893     1404.0    91.009334     1404.0   297.298958     1404.0
1804   133.905380      937.0   153.481591      937.0   166.857844      937.0
452    290.958511      761.0   321.812385      761.0   354.606115      761.0
668    182.851529      506.0   181.921392      506.0   186.082145      506.0
1431   618.355935     1263.0   651.007946     1263.0   595.265200     1263.0

       POPsum2012  POPct2013   POPsum2013
879    372.506200     1511.0   412.749794
406    536.365383      553.0   580.538958
701   2736.929189     2858.0  2686.817034
617    609.488785      973.0   604.351350
1228  1547.344283     3329.0  2648.152433
1635   327.993932     1404.0   298.525825
1804   157.204649      937.0   191.352055
452    351.091028      761.0   356.036733
668    186.840077      506.0   185.253997
1431   573.881529     1263.0   655.357324

[10 rows x 29 columns]
Loading data for Msk_2014.tif. Sat Mar  4 13:51:14 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2014. Sat Mar  4 13:56:58 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:01:41 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:01:41 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:04:17 2023

                  Z  Sett_ID
163307504  0.425615    23406
169623524  0.164798    37817
103033675  0.442653   186498
157355285  1.051978    25403
153731514  0.850360    47554
159797594  1.448998    47548
119732433  0.693808   135543
149863863  1.938769    51518
118434077  0.376392   131905
153968730  1.401169    14150

Exported as table. Sat Mar  4 14:04:26 2023


Desired aggregation methods applied to settlement level, year 2014. Sat Mar  4 14:04:26 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
1710   249167     1483.0   150.685092     1483.0   121.582040     1483.0
142      4228     2211.0  1243.577860     2211.0  1187.448656     2211.0
1357   128172      149.0    54.783376      149.0    61.542040      149.0
658     28564      238.0    44.931348      238.0    48.763491      238.0
1893   338095      402.0  1801.659728      402.0  1679.902398      402.0
1632   222410      777.0   238.355120      777.0   304.356150      777.0
1389   129764      663.0   195.037019      663.0   213.724183      663.0
1576   152196     1606.0   100.429476     1606.0    97.701721     1606.0
827     37789     2705.0   869.875255     2705.0  1094.329682     2705.0
582     25040       10.0     6.197150       10.0     6.348563       10.0

       POPsum2002  POPct2003   POPsum2003  POPct2004  ...  POPct2010  \
1710   167.001425     1483.0   165.028710     1483.0  ...     1483.0
142   1255.475576     2211.0  1274.545212     2211.0  ...     2211.0
1357    64.165262      149.0    63.817063      149.0  ...      149.0
658     61.042552      238.0    63.552248      238.0  ...      238.0
1893  1609.368548      402.0  1579.281392      402.0  ...      402.0
1632   366.814398      777.0   368.079014      777.0  ...      777.0
1389   225.924959      663.0   201.791514      663.0  ...      663.0
1576    92.102566     1606.0   101.252944     1606.0  ...     1606.0
827   1080.553760     2705.0  1146.451375     2705.0  ...     2705.0
582     11.597691       10.0    10.789261       10.0  ...       10.0

       POPsum2010  POPct2011   POPsum2011  POPct2012   POPsum2012  POPct2013  \
1710   354.597309     1483.0   379.885627     1483.0   339.963429     1483.0
142   1405.474794     2211.0  1739.868389     2211.0  1660.207096     2211.0
1357    78.459243      149.0    96.629994      149.0   101.916209      149.0
658     74.483466      238.0    78.054130      238.0    70.156559      238.0
1893  2520.348721      402.0  2755.376518      402.0  2791.097420      402.0
1632   569.274420      777.0   621.492986      777.0   497.169677      777.0
1389   345.591084      663.0   465.948579      663.0   299.822779      663.0
1576   118.798616     1606.0   128.042339     1606.0   225.521422     1606.0
827   1328.459586     2705.0  1306.761611     2705.0  1437.253155     2705.0
582     17.570801       10.0    17.158344       10.0    14.620575       10.0

       POPsum2013  POPct2014   POPsum2014
1710   388.003940     1483.0   399.475800
142   1894.672805     2211.0  1884.939583
1357    91.473731      149.0    97.571030
658     71.635067      238.0    78.187034
1893  2792.990821      402.0  2759.785584
1632   584.591430      777.0   583.375689
1389   356.489519      663.0   369.898451
1576   250.059828     1606.0   223.999190
827   1582.461768     2705.0  1378.129663
582     19.424675       10.0    18.416465

[10 rows x 31 columns]
Loading data for Msk_2015.tif. Sat Mar  4 14:04:26 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2015. Sat Mar  4 14:10:09 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:14:57 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:14:57 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:17:32 2023

                  Z   Sett_ID
162903508  0.471938     37795
80156121   0.580270    325426
150520755  0.365447  21474836
163587930  0.624418     23387
152151001  0.520726     14293
160524190  0.538281     35135
138492734  0.836171     80864
124905230  1.079805    131622
156087464  0.968881     13998
99092423   0.690958    237162

Exported as table. Sat Mar  4 14:17:41 2023


Desired aggregation methods applied to settlement level, year 2015. Sat Mar  4 14:17:41 2023

      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
931     38188      983.0   163.050685      983.0   201.941285      983.0
1701   249142      633.0    72.331645      633.0    66.570329      633.0
1895   338209       75.0  1112.792295       75.0  1384.277596       75.0
727     33075      785.0   545.643295      785.0   541.762841      785.0
1521   145955     1368.0   637.665586     1368.0   821.264135     1368.0
1922   338648      870.0   116.514534      870.0   114.308074      870.0
990     42766     1881.0   683.513096     1881.0   774.268399     1881.0
1723   252881     1910.0   474.772499     1910.0   545.235035     1910.0
608     25416     1584.0  1896.507510     1584.0  2002.876605     1584.0
1583   160559      198.0    41.956717      198.0    60.563940      198.0

       POPsum2002  POPct2003   POPsum2003  POPct2004  ...  POPct2011  \
931    204.487060      983.0   209.236743      983.0  ...      983.0
1701    90.007760      633.0   104.214473      633.0  ...      633.0
1895  1261.715673       75.0  1357.594495       75.0  ...       75.0
727    561.775009      785.0   577.060882      785.0  ...      785.0
1521   709.201711     1368.0   909.702328     1368.0  ...     1368.0
1922   132.203062      870.0   164.917471      870.0  ...      870.0
990    825.626279     1881.0   866.230921     1881.0  ...     1881.0
1723   633.672188     1910.0   683.240020     1910.0  ...     1910.0
608   2129.217025     1584.0  2270.814038     1584.0  ...     1584.0
1583    60.161760      198.0    69.852286      198.0  ...      198.0

       POPsum2011  POPct2012   POPsum2012  POPct2013   POPsum2013  POPct2014  \
931    282.016552      983.0   260.400020      983.0   290.263551      983.0
1701   175.320070      633.0   154.799061      633.0   179.988183      633.0
1895  1881.033569       75.0  2344.119440       75.0  2122.237501       75.0
727    737.290373      785.0   721.923169      785.0   726.791389      785.0
1521  1003.418006     1368.0  1105.775027     1368.0  1090.555666     1368.0
1922   291.563883      870.0   279.399549      870.0   315.424112      870.0
990   1431.276156     1881.0  1315.540023     1881.0  1402.115464     1881.0
1723  1138.362328     1910.0  1152.962859     1910.0  1240.926161     1910.0
608   2309.845232     1584.0  2746.802090     1584.0  2621.256393     1584.0
1583   106.224048      198.0    94.958220      198.0   130.913873      198.0

       POPsum2014  POPct2015   POPsum2015
931    297.753887      983.0   311.743679
1701   194.088523      633.0   193.933589
1895  2174.500236       75.0  2156.212717
727    667.495269      785.0   727.398500
1521   971.317077     1368.0  1149.397603
1922   333.153803      870.0   341.673918
990   1389.412207     1881.0  1478.357556
1723  1216.803172     1910.0  1484.456098
608   2537.520314     1584.0  2532.422445
1583    99.512159      198.0   137.074260

[10 rows x 33 columns]


Finished. All years masked and assigned their nearest settlement. Sat Mar  4 14:17:41 2023
      Sett_ID  POPct2000   POPsum2000  POPct2001   POPsum2001  POPct2002  \
645     28484     1731.0   350.029392     1731.0   332.069042     1731.0
475     21758     1520.0   248.718102     1520.0   222.409832     1520.0
1557   146187     1189.0   263.630105     1189.0   319.005905     1189.0
19         97     1519.0   258.563585     1519.0   254.141338     1519.0
601     25392     2230.0  2056.319197     2230.0  2144.274715     2230.0
789     33790     2194.0  1136.942123     2194.0  1349.304693     2194.0
1150    60885     1523.0   723.869870     1523.0   888.692528     1523.0
890     38031     1774.0   276.515166     1774.0   356.752522     1774.0
1038    47740      993.0   310.020061      993.0   314.072093      993.0
1451   131867     1140.0   552.078752     1140.0   660.744868     1140.0

       POPsum2002  POPct2003   POPsum2003  POPct2004  ...  POPct2011  \
645    342.121046     1731.0   308.233491     1731.0  ...     1731.0
475    249.403417     1520.0   238.204625     1520.0  ...     1520.0
1557   352.274466     1189.0   360.676643     1189.0  ...     1189.0
19     306.074020     1519.0   295.817155     1519.0  ...     1519.0
601   2259.566207     2230.0  2505.943992     2230.0  ...     2230.0
789   1423.209560     2194.0  1451.106699     2194.0  ...     2194.0
1150   904.583695     1523.0   920.353866     1523.0  ...     1523.0
890    368.511469     1774.0   363.251662     1774.0  ...     1774.0
1038   343.606377      993.0   313.349869      993.0  ...      993.0
1451   579.794578     1140.0   721.002034     1140.0  ...     1140.0

       POPsum2011  POPct2012   POPsum2012  POPct2013   POPsum2013  POPct2014  \
645    584.783340     1731.0   544.355274     1731.0   567.081184     1731.0
475    308.990477     1520.0   337.406547     1520.0   327.609658     1520.0
1557   595.425787     1189.0   558.311588     1189.0   607.758302     1189.0
19     360.354404     1519.0   346.511803     1519.0   386.539115     1519.0
601   2630.651411     2230.0  3122.620132     2230.0  2948.654117     2230.0
789   1758.079417     2194.0  1740.971757     2194.0  1915.170061     2194.0
1150  1157.991855     1523.0  1130.864566     1523.0  1179.106025     1523.0
890    442.294562     1774.0   409.669759     1774.0   461.283350     1774.0
1038   550.499187      993.0   512.740818      993.0   558.696529      993.0
1451   742.213250     1140.0   844.899876     1140.0   774.478528     1140.0

       POPsum2014  POPct2015   POPsum2015
645    551.079694     1731.0   536.321569
475    566.353009     1520.0   568.953643
1557   668.377396     1189.0   642.346331
19     441.115344     1519.0   488.579873
601   2862.949829     2230.0  2919.127022
789   1822.667846     2194.0  1896.128668
1150  1297.310050     1523.0  1317.646541
890    481.733628     1774.0   487.908257
1038   641.572766      993.0   654.541274
1451   788.299104     1140.0   827.818696

[10 rows x 33 columns]

Saved to file. Sat Mar  4 14:17:41 2023

---

## 9. PREPARE YEARLY DATASETS: NIGHTTIME LIGHTS

### 9.1 Reclassify with settlement buffer mask.
Reclassify so that we only need to work with cells within X distance of settlements. The two NTL sources have already been reprojected in a separate script, and cropped to Central & Western Africa.

In [18]:
MaskByZone(MaskPath = r'Results/Catchment.gpkg', MaskLayerName = 'Buff250m_2015', 
          SourceFolder = r"NTL/SourceFiles", DestFolder = 'NTL')

['D_1999_avg.tif', 'D_1999_cfc.tif', 'D_2000_avg.tif', 'D_2000_cfc.tif', 'D_2001_avg.tif', 'D_2001_cfc.tif', 'D_2002_avg.tif', 'D_2002_cfc.tif', 'D_2003_avg.tif', 'D_2003_cfc.tif', 'D_2004_avg.tif', 'D_2004_cfc.tif', 'D_2005_avg.tif', 'D_2005_cfc.tif', 'D_2006_avg.tif', 'D_2006_cfc.tif', 'D_2007_avg.tif', 'D_2007_cfc.tif', 'D_2008_avg.tif', 'D_2008_cfc.tif', 'D_2009_avg.tif', 'D_2009_cfc.tif', 'D_2010_avg.tif', 'D_2010_cfc.tif', 'D_2011_avg.tif', 'D_2011_cfc.tif', 'D_2012_avg.tif', 'D_2012_cfc.tif', 'D_2013_avg.tif', 'D_2013_cfc.tif', 'V_2012_avg.tif', 'V_2012_cfc.tif', 'V_2013_avg.tif', 'V_2013_cfc.tif', 'V_2014_avg.tif', 'V_2014_cfc.tif', 'V_2015_avg.tif', 'V_2015_cfc.tif']
Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_1999_avg.tif. Sat Mar  4 14:17:44 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_1999_avg.tif. Sat Mar  4 14:17:44 2023

Written to file. Sat Mar  4 14:17:44 2023

Removed intermediate file. Sat Mar  4 14:17:44 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_1999_cfc.tif. Sat Mar  4 14:17:46 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_1999_cfc.tif. Sat Mar  4 14:17:46 2023

Written to file. Sat Mar  4 14:17:46 2023

Removed intermediate file. Sat Mar  4 14:17:46 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2000_avg.tif. Sat Mar  4 14:17:49 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2000_avg.tif. Sat Mar  4 14:17:49 2023

Written to file. Sat Mar  4 14:17:49 2023

Removed intermediate file. Sat Mar  4 14:17:49 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2000_cfc.tif. Sat Mar  4 14:17:50 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2000_cfc.tif. Sat Mar  4 14:17:51 2023

Written to file. Sat Mar  4 14:17:51 2023

Removed intermediate file. Sat Mar  4 14:17:51 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2001_avg.tif. Sat Mar  4 14:17:53 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2001_avg.tif. Sat Mar  4 14:17:54 2023

Written to file. Sat Mar  4 14:17:54 2023

Removed intermediate file. Sat Mar  4 14:17:54 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2001_cfc.tif. Sat Mar  4 14:17:55 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2001_cfc.tif. Sat Mar  4 14:17:55 2023

Written to file. Sat Mar  4 14:17:55 2023

Removed intermediate file. Sat Mar  4 14:17:55 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2002_avg.tif. Sat Mar  4 14:17:58 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2002_avg.tif. Sat Mar  4 14:17:58 2023

Written to file. Sat Mar  4 14:17:58 2023

Removed intermediate file. Sat Mar  4 14:17:58 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2002_cfc.tif. Sat Mar  4 14:17:59 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2002_cfc.tif. Sat Mar  4 14:18:00 2023

Written to file. Sat Mar  4 14:18:00 2023

Removed intermediate file. Sat Mar  4 14:18:00 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2003_avg.tif. Sat Mar  4 14:18:02 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2003_avg.tif. Sat Mar  4 14:18:02 2023

Written to file. Sat Mar  4 14:18:02 2023

Removed intermediate file. Sat Mar  4 14:18:02 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2003_cfc.tif. Sat Mar  4 14:18:03 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2003_cfc.tif. Sat Mar  4 14:18:04 2023

Written to file. Sat Mar  4 14:18:04 2023

Removed intermediate file. Sat Mar  4 14:18:04 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2004_avg.tif. Sat Mar  4 14:18:07 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2004_avg.tif. Sat Mar  4 14:18:07 2023

Written to file. Sat Mar  4 14:18:07 2023

Removed intermediate file. Sat Mar  4 14:18:07 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2004_cfc.tif. Sat Mar  4 14:18:08 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2004_cfc.tif. Sat Mar  4 14:18:09 2023

Written to file. Sat Mar  4 14:18:09 2023

Removed intermediate file. Sat Mar  4 14:18:09 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2005_avg.tif. Sat Mar  4 14:18:11 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2005_avg.tif. Sat Mar  4 14:18:11 2023

Written to file. Sat Mar  4 14:18:12 2023

Removed intermediate file. Sat Mar  4 14:18:12 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2005_cfc.tif. Sat Mar  4 14:18:13 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2005_cfc.tif. Sat Mar  4 14:18:13 2023

Written to file. Sat Mar  4 14:18:13 2023

Removed intermediate file. Sat Mar  4 14:18:13 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2006_avg.tif. Sat Mar  4 14:18:15 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2006_avg.tif. Sat Mar  4 14:18:16 2023

Written to file. Sat Mar  4 14:18:16 2023

Removed intermediate file. Sat Mar  4 14:18:16 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2006_cfc.tif. Sat Mar  4 14:18:17 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2006_cfc.tif. Sat Mar  4 14:18:17 2023

Written to file. Sat Mar  4 14:18:17 2023

Removed intermediate file. Sat Mar  4 14:18:17 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2007_avg.tif. Sat Mar  4 14:18:20 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2007_avg.tif. Sat Mar  4 14:18:20 2023

Written to file. Sat Mar  4 14:18:20 2023

Removed intermediate file. Sat Mar  4 14:18:20 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2007_cfc.tif. Sat Mar  4 14:18:21 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2007_cfc.tif. Sat Mar  4 14:18:22 2023

Written to file. Sat Mar  4 14:18:22 2023

Removed intermediate file. Sat Mar  4 14:18:22 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2008_avg.tif. Sat Mar  4 14:18:24 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2008_avg.tif. Sat Mar  4 14:18:24 2023

Written to file. Sat Mar  4 14:18:24 2023

Removed intermediate file. Sat Mar  4 14:18:24 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2008_cfc.tif. Sat Mar  4 14:18:25 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2008_cfc.tif. Sat Mar  4 14:18:26 2023

Written to file. Sat Mar  4 14:18:26 2023

Removed intermediate file. Sat Mar  4 14:18:26 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic

Finished gdal.Warp() for D_2009_avg.tif. Sat Mar  4 14:18:28 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2009_avg.tif. Sat Mar  4 14:18:29 2023

Written to file. Sat Mar  4 14:18:29 2023

Removed intermediate file. Sat Mar  4 14:18:29 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2009_cfc.tif. Sat Mar  4 14:18:30 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2009_cfc.tif. Sat Mar  4 14:18:30 2023

Written to file. Sat Mar  4 14:18:30 2023

Removed intermediate file. Sat Mar  4 14:18:30 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2010_avg.tif. Sat Mar  4 14:18:32 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2010_avg.tif. Sat Mar  4 14:18:33 2023

Written to file. Sat Mar  4 14:18:33 2023

Removed intermediate file. Sat Mar  4 14:18:33 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2010_cfc.tif. Sat Mar  4 14:18:34 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2010_cfc.tif. Sat Mar  4 14:18:34 2023

Written to file. Sat Mar  4 14:18:34 2023

Removed intermediate file. Sat Mar  4 14:18:34 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2011_avg.tif. Sat Mar  4 14:18:35 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2011_avg.tif. Sat Mar  4 14:18:36 2023

Written to file. Sat Mar  4 14:18:36 2023

Removed intermediate file. Sat Mar  4 14:18:36 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2011_cfc.tif. Sat Mar  4 14:18:37 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2011_cfc.tif. Sat Mar  4 14:18:37 2023

Written to file. Sat Mar  4 14:18:37 2023

Removed intermediate file. Sat Mar  4 14:18:37 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2012_avg.tif. Sat Mar  4 14:18:40 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2012_avg.tif. Sat Mar  4 14:18:41 2023

Written to file. Sat Mar  4 14:18:41 2023

Removed intermediate file. Sat Mar  4 14:18:41 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2012_cfc.tif. Sat Mar  4 14:18:42 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2012_cfc.tif. Sat Mar  4 14:18:42 2023

Written to file. Sat Mar  4 14:18:42 2023

Removed intermediate file. Sat Mar  4 14:18:42 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2013_avg.tif. Sat Mar  4 14:18:44 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2013_avg.tif. Sat Mar  4 14:18:45 2023

Written to file. Sat Mar  4 14:18:45 2023

Removed intermediate file. Sat Mar  4 14:18:45 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for D_2013_cfc.tif. Sat Mar  4 14:18:46 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2013_cfc.tif. Sat Mar  4 14:18:46 2023

Written to file. Sat Mar  4 14:18:46 2023

Removed intermediate file. Sat Mar  4 14:18:46 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for V_2012_avg.tif. Sat Mar  4 14:18:54 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2012_avg.tif. Sat Mar  4 14:18:56 2023

Written to file. Sat Mar  4 14:18:56 2023

Removed intermediate file. Sat Mar  4 14:18:56 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for V_2012_cfc.tif. Sat Mar  4 14:19:01 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2012_cfc.tif. Sat Mar  4 14:19:02 2023

Written to file. Sat Mar  4 14:19:02 2023

Removed intermediate file. Sat Mar  4 14:19:02 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for V_2013_avg.tif. Sat Mar  4 14:19:11 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2013_avg.tif. Sat Mar  4 14:19:12 2023

Written to file. Sat Mar  4 14:19:12 2023

Removed intermediate file. Sat Mar  4 14:19:12 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for V_2013_cfc.tif. Sat Mar  4 14:19:17 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2013_cfc.tif. Sat Mar  4 14:19:18 2023

Written to file. Sat Mar  4 14:19:18 2023

Removed intermediate file. Sat Mar  4 14:19:18 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for V_2014_avg.tif. Sat Mar  4 14:19:26 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2014_avg.tif. Sat Mar  4 14:19:28 2023

Written to file. Sat Mar  4 14:19:28 2023

Removed intermediate file. Sat Mar  4 14:19:28 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for V_2014_cfc.tif. Sat Mar  4 14:19:33 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2014_cfc.tif. Sat Mar  4 14:19:34 2023

Written to file. Sat Mar  4 14:19:34 2023

Removed intermediate file. Sat Mar  4 14:19:34 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for V_2015_avg.tif. Sat Mar  4 14:19:43 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2015_avg.tif. Sat Mar  4 14:19:44 2023

Written to file. Sat Mar  4 14:19:44 2023

Removed intermediate file. Sat Mar  4 14:19:44 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for V_2015_cfc.tif. Sat Mar  4 14:19:50 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2015_cfc.tif. Sat Mar  4 14:19:51 2023

Written to file. Sat Mar  4 14:19:51 2023

Removed intermediate file. Sat Mar  4 14:19:51 2023



 Finished all years in list. Sat Mar  4 14:19:51 2023

In [19]:
print(os.listdir('NTL/'))

['Msk_D_1999_avg.tif', 'Msk_D_1999_cfc.tif', 'Msk_D_2000_avg.tif', 'Msk_D_2000_cfc.tif', 'Msk_D_2001_avg.tif', 'Msk_D_2001_cfc.tif', 'Msk_D_2002_avg.tif', 'Msk_D_2002_cfc.tif', 'Msk_D_2003_avg.tif', 'Msk_D_2003_cfc.tif', 'Msk_D_2004_avg.tif', 'Msk_D_2004_cfc.tif', 'Msk_D_2005_avg.tif', 'Msk_D_2005_cfc.tif', 'Msk_D_2006_avg.tif', 'Msk_D_2006_cfc.tif', 'Msk_D_2007_avg.tif', 'Msk_D_2007_cfc.tif', 'Msk_D_2008_avg.tif', 'Msk_D_2008_cfc.tif', 'Msk_D_2009_avg.tif', 'Msk_D_2009_cfc.tif', 'Msk_D_2010_avg.tif', 'Msk_D_2010_cfc.tif', 'Msk_D_2011_avg.tif', 'Msk_D_2011_cfc.tif', 'Msk_D_2012_avg.tif', 'Msk_D_2012_cfc.tif', 'Msk_D_2013_avg.tif', 'Msk_D_2013_cfc.tif', 'Msk_V_2012_avg.tif', 'Msk_V_2012_cfc.tif', 'Msk_V_2013_avg.tif', 'Msk_V_2013_cfc.tif', 'Msk_V_2014_avg.tif', 'Msk_V_2014_cfc.tif', 'Msk_V_2015_avg.tif', 'Msk_V_2015_cfc.tif', 'SourceFiles']

### 9.2 Raster values summarized by settlement.
1. Convert each annualized raster to .xyz, 
2. then bring them to vector space and assign their Sett_ID,
3. and finally, aggregate the value as appropriate to the settlement level and save table to file.

XYZ is similar to .csv. Raster cell centers are stored as x and y, and their value is stored as z.

In [20]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')[['Sett_ID', 'geometry']]

In [21]:
BatchZonalStats(FolderName = 'NTL', Zones=Settlements)

['Msk_D_1999_avg.tif', 'Msk_D_1999_cfc.tif', 'Msk_D_2000_avg.tif', 'Msk_D_2000_cfc.tif', 'Msk_D_2001_avg.tif', 'Msk_D_2001_cfc.tif', 'Msk_D_2002_avg.tif', 'Msk_D_2002_cfc.tif', 'Msk_D_2003_avg.tif', 'Msk_D_2003_cfc.tif', 'Msk_D_2004_avg.tif', 'Msk_D_2004_cfc.tif', 'Msk_D_2005_avg.tif', 'Msk_D_2005_cfc.tif', 'Msk_D_2006_avg.tif', 'Msk_D_2006_cfc.tif', 'Msk_D_2007_avg.tif', 'Msk_D_2007_cfc.tif', 'Msk_D_2008_avg.tif', 'Msk_D_2008_cfc.tif', 'Msk_D_2009_avg.tif', 'Msk_D_2009_cfc.tif', 'Msk_D_2010_avg.tif', 'Msk_D_2010_cfc.tif', 'Msk_D_2011_avg.tif', 'Msk_D_2011_cfc.tif', 'Msk_D_2012_avg.tif', 'Msk_D_2012_cfc.tif', 'Msk_D_2013_avg.tif', 'Msk_D_2013_cfc.tif', 'Msk_V_2012_avg.tif', 'Msk_V_2012_cfc.tif', 'Msk_V_2013_avg.tif', 'Msk_V_2013_cfc.tif', 'Msk_V_2014_avg.tif', 'Msk_V_2014_cfc.tif', 'Msk_V_2015_avg.tif', 'Msk_V_2015_cfc.tif']
       Sett_ID
0            1
1            2
2            3
3            5
4            6
...        ...
1934    349427
1935    350163
1936    350168
1937    350194
1938  21474836

[1939 rows x 1 columns]
Loading data for Msk_D_1999_avg.tif. Sat Mar  4 14:19:51 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 1999. Sat Mar  4 14:19:56 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:20:00 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:20:00 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:22:10 2023

                    Z  Sett_ID
1522680  3.402823e+38    81231
832720   3.402823e+38   325704
640205   3.402823e+38   333864
14306    3.402823e+38   335702
739585   3.402823e+38   346365
339791   3.402823e+38   333873
667774   3.402823e+38   330617
878174   3.402823e+38   190157
1540046  3.402823e+38   102273
1107399  3.402823e+38   212434

Exported as table. Sat Mar  4 14:22:18 2023


Desired aggregation methods applied to settlement level, year 1999. Sat Mar  4 14:22:18 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1680   237229         49.0  1.633355e+40  3.333378e+38  3.402823e+38
1463   131918          7.0  2.381976e+39  3.402823e+38  3.402823e+38
1405   131543        457.0  1.555090e+41  3.402823e+38  3.402823e+38
1485   136146          NaN           NaN           NaN           NaN
1886   337993          NaN           NaN           NaN           NaN
1190    68613        655.0  2.225447e+41  3.397628e+38  3.402823e+38
1920   338637          2.0  3.402823e+38  1.701412e+38  3.402823e+38
1242    92009        202.0  6.873703e+40  3.402823e+38  3.402823e+38
1142    60713         18.0  6.125082e+39  3.402823e+38  3.402823e+38
387     17085          3.0  6.805647e+38  2.268549e+38  3.402823e+38

      NTLminD_1999
1680  2.714718e+00
1463  3.402823e+38
1405  3.402823e+38
1485           NaN
1886           NaN
1190  2.798701e+00
1920  2.525000e+00
1242  3.402823e+38
1142  3.402823e+38
387   2.954734e+00
Loading data for Msk_D_1999_cfc.tif. Sat Mar  4 14:22:18 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 1999. Sat Mar  4 14:22:21 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:22:24 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:22:24 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:24:30 2023

           Z  Sett_ID
384690   255   333864
1566677  255    91879
16113    255   335702
1308968  255   170210
1224427  255   152255
426102   255   333100
1407570  255   102353
1134347  255   137571
1439097  255    65966
330927   255   333100

Exported as table. Sat Mar  4 14:24:34 2023


Count of cloud-free observations averaged to settlement level, year 1999. Sat Mar  4 14:24:34 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
684     31595          1.0  3.402823e+38  3.402823e+38  3.402823e+38
629     27934          2.0  6.805647e+38  3.402823e+38  3.402823e+38
689     32772         17.0  4.763953e+39  2.802325e+38  3.402823e+38
1784   302421        335.0  1.139946e+41  3.402823e+38  3.402823e+38
641     28353         70.0  2.347948e+40  3.354212e+38  3.402823e+38
1432   131779         48.0  1.633355e+40  3.402823e+38  3.402823e+38
1103    54862        114.0  3.879219e+40  3.402823e+38  3.402823e+38
968     42499        134.0  4.491727e+40  3.352035e+38  3.402823e+38
25        169        197.0  6.669534e+40  3.385550e+38  3.402823e+38
50        384         82.0  2.756287e+40  3.361326e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999
684   3.402823e+38     255.000000
629   3.402823e+38     255.000000
689   2.756894e+00     218.764706
1784  3.402823e+38     255.000000
641   2.472973e+00     252.028571
1432  3.402823e+38     255.000000
1103  3.402823e+38     255.000000
968   3.034547e+00     251.970149
25    3.083673e+00     253.944162
50    3.288462e+00     252.512195
Loading data for Msk_D_2000_avg.tif. Sat Mar  4 14:24:34 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2000. Sat Mar  4 14:24:39 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:24:43 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:24:43 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:26:51 2023

                    Z  Sett_ID
1810347  3.402823e+38    40548
831266   3.402823e+38   302294
1446115  3.402823e+38   100170
1570488  3.402823e+38    56301
1142327  3.402823e+38   263062
1724955  3.402823e+38    91913
1732148  3.402823e+38    33724
1824164  3.402823e+38    37875
738843   3.402823e+38   244062
651394   3.402823e+38   333092

Exported as table. Sat Mar  4 14:26:58 2023


Desired aggregation methods applied to settlement level, year 2000. Sat Mar  4 14:26:58 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1938  21474836       4331.0  1.463214e+42  3.378467e+38  3.402823e+38
484      22186         36.0  1.190988e+40  3.308301e+38  3.402823e+38
1057     49308          2.0  6.805647e+38  3.402823e+38  3.402823e+38
1449    131858         11.0  3.743106e+39  3.402823e+38  3.402823e+38
1533    146028         13.0  4.083388e+39  3.141068e+38  3.402823e+38
220      13018         54.0  1.803496e+40  3.339808e+38  3.402823e+38
490      22200         65.0  2.109751e+40  3.245770e+38  3.402823e+38
1183     68035         97.0  3.300739e+40  3.402823e+38  3.402823e+38
430      21093         84.0  2.858372e+40  3.402823e+38  3.402823e+38
1873    337930          NaN           NaN           NaN           NaN

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1938  2.351140e+00     253.519972       4331.0  1.463214e+42  3.378467e+38
484   2.718398e+00     249.277778         36.0  1.190988e+40  3.308301e+38
1057  3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
1449  3.402823e+38     255.000000         11.0  3.743106e+39  3.402823e+38
1533  2.686441e+00     239.615385         13.0  4.083388e+39  3.141068e+38
220   2.928049e+00     251.203704         54.0  1.803496e+40  3.339808e+38
490   2.563861e+00     245.553846         65.0  2.109751e+40  3.245770e+38
1183  3.402823e+38     255.000000         97.0  3.300739e+40  3.402823e+38
430   3.402823e+38     255.000000         84.0  2.858372e+40  3.402823e+38
1873           NaN            NaN          NaN           NaN           NaN

      NTLmaxD_2000  NTLminD_2000
1938  3.402823e+38  2.684792e+00
484   3.402823e+38  3.034965e+00
1057  3.402823e+38  3.402823e+38
1449  3.402823e+38  3.402823e+38
1533  3.402823e+38  2.789057e+00
220   3.402823e+38  2.966273e+00
490   3.402823e+38  2.979947e+00
1183  3.402823e+38  3.402823e+38
430   3.402823e+38  3.402823e+38
1873           NaN           NaN
Loading data for Msk_D_2000_cfc.tif. Sat Mar  4 14:26:58 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2000. Sat Mar  4 14:27:02 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:27:05 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:27:05 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:29:15 2023

           Z  Sett_ID
616090   255   333092
1402493  255   107500
725510   255   330617
493042   255   333092
1704138  255     7484
685964   255   330617
1634594  255     7395
544218   255   244062
1000535  255   313657
376208   255   333864

Exported as table. Sat Mar  4 14:29:19 2023


Count of cloud-free observations averaged to settlement level, year 2000. Sat Mar  4 14:29:19 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
448     21148         37.0  1.259045e+40  3.402823e+38  3.402823e+38
1203    80863        470.0  1.592521e+41  3.388343e+38  3.402823e+38
1095    51759         48.0  1.633355e+40  3.402823e+38  3.402823e+38
1197    68952         49.0  1.633355e+40  3.333378e+38  3.402823e+38
1917   338611          8.0  2.381976e+39  2.977471e+38  3.402823e+38
414     18504         24.0  8.166776e+39  3.402823e+38  3.402823e+38
1264   107502       6326.0  2.152286e+42  3.402286e+38  3.402823e+38
951     40631        103.0  3.504908e+40  3.402823e+38  3.402823e+38
57        413         21.0  6.125082e+39  2.916706e+38  3.402823e+38
530     23356        110.0  3.743106e+40  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
448   3.402823e+38     255.000000         37.0  1.259045e+40  3.402823e+38
1203  2.922988e+00     254.136170        470.0  1.592521e+41  3.388343e+38
1095  3.402823e+38     255.000000         48.0  1.633355e+40  3.402823e+38
1197  2.403846e+00     250.775510         49.0  1.633355e+40  3.333378e+38
1917  2.719954e+00     230.125000          8.0  2.381976e+39  2.977471e+38
414   3.402823e+38     255.000000         24.0  8.166776e+39  3.402823e+38
1264  2.617788e+00     254.966646       6326.0  2.152286e+42  3.402286e+38
951   3.402823e+38     255.000000        103.0  3.504908e+40  3.402823e+38
57    2.852041e+00     225.333333         21.0  6.125082e+39  2.916706e+38
530   3.402823e+38     255.000000        110.0  3.743106e+40  3.402823e+38

      NTLmaxD_2000  NTLminD_2000  NTLcfc_D_2000
448   3.402823e+38  3.402823e+38     255.000000
1203  3.402823e+38  3.025270e+00     254.229787
1095  3.402823e+38  3.402823e+38     255.000000
1197  3.402823e+38  2.581223e+00     251.326531
1917  3.402823e+38  2.717685e+00     232.625000
414   3.402823e+38  3.402823e+38     255.000000
1264  3.402823e+38  3.123577e+00     254.969649
951   3.402823e+38  3.402823e+38     255.000000
57    3.402823e+38  2.888835e+00     229.190476
530   3.402823e+38  3.402823e+38     255.000000
Loading data for Msk_D_2001_avg.tif. Sat Mar  4 14:29:19 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2001. Sat Mar  4 14:29:24 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:29:28 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:29:29 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:31:34 2023

                    Z  Sett_ID
1756035  3.402823e+38    91913
1192553  3.402823e+38   185781
992863   3.402823e+38   278826
1530827  3.402823e+38    54928
1006138  3.402823e+38   255957
1739789  3.402823e+38    40605
1213986  3.402823e+38   193591
1822124  3.402823e+38    40548
1552080  3.402823e+38   100170
1480701  3.402823e+38    60708

Exported as table. Sat Mar  4 14:31:41 2023


Desired aggregation methods applied to settlement level, year 2001. Sat Mar  4 14:31:41 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1305   127697          5.0  1.361129e+39  2.722259e+38  3.402823e+38
724     32873         11.0  3.402823e+39  3.093476e+38  3.402823e+38
924     38176        222.0  7.520240e+40  3.387495e+38  3.402823e+38
816     35355         21.0  7.145929e+39  3.402823e+38  3.402823e+38
581     25035          1.0  3.402823e+38  3.402823e+38  3.402823e+38
782     33751         23.0  7.826494e+39  3.402823e+38  3.402823e+38
1086    51706         45.0  1.463214e+40  3.251587e+38  3.402823e+38
138      4215        106.0  3.572965e+40  3.370721e+38  3.402823e+38
519     22426          3.0  1.020847e+39  3.402823e+38  3.402823e+38
1399   131503         84.0  2.756287e+40  3.281294e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1305  2.419951e+00     214.000000          5.0  1.361129e+39  2.722259e+38
724   2.755595e+00     236.363636         11.0  3.402823e+39  3.093476e+38
924   2.985213e+00     254.067568        222.0  7.520240e+40  3.387495e+38
816   3.402823e+38     255.000000         21.0  7.145929e+39  3.402823e+38
581   3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
782   3.402823e+38     255.000000         23.0  7.826494e+39  3.402823e+38
1086  5.438396e+00     246.155556         45.0  1.463214e+40  3.251587e+38
138   2.716246e+00     253.075472        106.0  3.572965e+40  3.370721e+38
519   3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
1399  2.668344e+00     247.630952         84.0  2.756287e+40  3.281294e+38

      NTLmaxD_2000  NTLminD_2000  NTLcfc_D_2000  NTLctD_2001  NTLsumD_2001  \
1305  3.402823e+38  2.825686e+00     218.400000          5.0  1.361129e+39
724   3.402823e+38  2.926150e+00     238.272727         11.0  3.402823e+39
924   3.402823e+38  2.855333e+00     254.166667        222.0  7.520240e+40
816   3.402823e+38  3.402823e+38     255.000000         21.0  7.145929e+39
581   3.402823e+38  3.402823e+38     255.000000          1.0  3.402823e+38
782   3.402823e+38  3.402823e+38     255.000000         23.0  7.826494e+39
1086  3.402823e+38  6.834083e+00     246.511111         45.0  1.463214e+40
138   3.402823e+38  3.120532e+00     253.254717        106.0  3.572965e+40
519   3.402823e+38  3.402823e+38     255.000000          3.0  1.020847e+39
1399  3.402823e+38  2.899105e+00     248.464286         84.0  2.756287e+40

      NTLavgD_2001  NTLmaxD_2001  NTLminD_2001
1305  2.722259e+38  3.402823e+38  2.897934e+00
724   3.093476e+38  3.402823e+38  2.956289e+00
924   3.387495e+38  3.402823e+38  2.654971e+00
816   3.402823e+38  3.402823e+38  3.402823e+38
581   3.402823e+38  3.402823e+38  3.402823e+38
782   3.402823e+38  3.402823e+38  3.402823e+38
1086  3.251587e+38  3.402823e+38  6.921132e+00
138   3.370721e+38  3.402823e+38  2.886905e+00
519   3.402823e+38  3.402823e+38  3.402823e+38
1399  3.281294e+38  3.402823e+38  2.841766e+00
Loading data for Msk_D_2001_cfc.tif. Sat Mar  4 14:31:41 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2001. Sat Mar  4 14:31:45 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:31:47 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:31:48 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:33:55 2023

           Z   Sett_ID
1688034  255      7315
303527   255    333873
1614468   61  21474836
1404400  255    102353
1119380  255    137694
920181   255    302562
576274   255    244062
477233   255    333092
386433   255    333092
1441379  255     81180

Exported as table. Sat Mar  4 14:33:59 2023


Count of cloud-free observations averaged to settlement level, year 2001. Sat Mar  4 14:33:59 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
378     16316         10.0  3.402823e+39  3.402823e+38  3.402823e+38
1086    51706         45.0  1.463214e+40  3.251587e+38  3.402823e+38
1473   131978         10.0  3.402823e+39  3.402823e+38  3.402823e+38
1447   131856        107.0  3.641021e+40  3.402823e+38  3.402823e+38
1872   337928          1.0  3.402823e+38  3.402823e+38  3.402823e+38
1302   127692         15.0  4.763953e+39  3.175969e+38  3.402823e+38
1665   235853         33.0  1.088904e+40  3.299708e+38  3.402823e+38
1290   127661        222.0  7.554268e+40  3.402823e+38  3.402823e+38
1017    47552        169.0  5.682715e+40  3.362553e+38  3.402823e+38
1596   170266        157.0  5.342433e+40  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
378   3.402823e+38     255.000000         10.0  3.402823e+39  3.402823e+38
1086  5.438396e+00     246.155556         45.0  1.463214e+40  3.251587e+38
1473  3.402823e+38     255.000000         10.0  3.402823e+39  3.402823e+38
1447  3.402823e+38     255.000000        107.0  3.641021e+40  3.402823e+38
1872  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
1302  2.761905e+00     241.333333         15.0  4.763953e+39  3.175969e+38
1665  2.535294e+00     248.969697         33.0  1.088904e+40  3.299708e+38
1290  3.402823e+38     255.000000        222.0  7.554268e+40  3.402823e+38
1017  2.871169e+00     252.568047        169.0  5.682715e+40  3.362553e+38
1596  3.402823e+38     255.000000        157.0  5.342433e+40  3.402823e+38

      NTLmaxD_2000  NTLminD_2000  NTLcfc_D_2000  NTLctD_2001  NTLsumD_2001  \
378   3.402823e+38  3.402823e+38     255.000000         10.0  3.402823e+39
1086  3.402823e+38  6.834083e+00     246.511111         45.0  1.463214e+40
1473  3.402823e+38  3.402823e+38     255.000000         10.0  3.402823e+39
1447  3.402823e+38  3.402823e+38     255.000000        107.0  3.641021e+40
1872  3.402823e+38  3.402823e+38     255.000000          1.0  3.402823e+38
1302  3.402823e+38  2.818650e+00     242.866667         15.0  4.763953e+39
1665  3.402823e+38  2.762723e+00     249.575758         33.0  1.088904e+40
1290  3.402823e+38  3.402823e+38     255.000000        222.0  7.554268e+40
1017  3.402823e+38  2.706931e+00     252.834320        169.0  5.682715e+40
1596  3.402823e+38  3.402823e+38     255.000000        157.0  5.342433e+40

      NTLavgD_2001  NTLmaxD_2001  NTLminD_2001  NTLcfc_D_2001
378   3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1086  3.251587e+38  3.402823e+38  6.921132e+00     246.422222
1473  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1447  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1872  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1302  3.175969e+38  3.402823e+38  2.812877e+00     242.266667
1665  3.299708e+38  3.402823e+38  2.546104e+00     249.363636
1290  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1017  3.362553e+38  3.402823e+38  2.618924e+00     252.680473
1596  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
Loading data for Msk_D_2002_avg.tif. Sat Mar  4 14:33:59 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2002. Sat Mar  4 14:34:04 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:34:08 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:34:08 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:36:18 2023

                    Z  Sett_ID
1531116  3.402823e+38    28703
453857   3.402823e+38   333078
1718098  3.402823e+38     4185
756863   3.402823e+38   244062
1661071  3.402823e+38   100168
1846859  3.402823e+38    40548
313590   3.402823e+38   333092
345505   3.402823e+38   335702
1411657  3.402823e+38    87760
1483316  3.402823e+38    87636

Exported as table. Sat Mar  4 14:36:25 2023


Desired aggregation methods applied to settlement level, year 2002. Sat Mar  4 14:36:25 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1692   248792       1425.0  4.828606e+41  3.388496e+38  3.402823e+38
359     14454         18.0  5.784800e+39  3.213778e+38  3.402823e+38
1059    51517        209.0  7.077873e+40  3.386542e+38  3.402823e+38
207      7695        215.0  7.316070e+40  3.402823e+38  3.402823e+38
1867   337922          1.0  3.402823e+38  3.402823e+38  3.402823e+38
401     18445         19.0  6.125082e+39  3.223727e+38  3.402823e+38
54        396         21.0  6.805647e+39  3.240784e+38  3.402823e+38
307     14341          3.0  1.020847e+39  3.402823e+38  3.402823e+38
1266   107504       2623.0  8.925606e+41  3.402823e+38  3.402823e+38
1133    60511        865.0  2.940039e+41  3.398890e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1692  2.947593e+00     254.144561       1425.0  4.828606e+41  3.388496e+38
359   3.002481e+00     243.666667         18.0  5.784800e+39  3.213778e+38
1059  2.877536e+00     254.043062        209.0  7.077873e+40  3.386542e+38
207   3.402823e+38     255.000000        215.0  7.316070e+40  3.402823e+38
1867  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
401   3.105769e+00     244.105263         19.0  6.125082e+39  3.223727e+38
54    4.298535e+00     245.238095         21.0  6.805647e+39  3.240784e+38
307   3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
1266  3.402823e+38     255.000000       2623.0  8.925606e+41  3.402823e+38
1133  2.556980e+00     254.760694        865.0  2.940039e+41  3.398890e+38

      ...  NTLsumD_2001  NTLavgD_2001  NTLmaxD_2001  NTLminD_2001  \
1692  ...  4.828606e+41  3.388496e+38  3.402823e+38  3.215625e+00
359   ...  5.784800e+39  3.213778e+38  3.402823e+38  2.700000e+00
1059  ...  7.077873e+40  3.386542e+38  3.402823e+38  3.165322e+00
207   ...  7.316070e+40  3.402823e+38  3.402823e+38  3.402823e+38
1867  ...  3.402823e+38  3.402823e+38  3.402823e+38  3.402823e+38
401   ...  6.125082e+39  3.223727e+38  3.402823e+38  2.688185e+00
54    ...  6.805647e+39  3.240784e+38  3.402823e+38  4.541954e+00
307   ...  1.020847e+39  3.402823e+38  3.402823e+38  3.402823e+38
1266  ...  8.925606e+41  3.402823e+38  3.402823e+38  3.402823e+38
1133  ...  2.940039e+41  3.398890e+38  3.402823e+38  3.057720e+00

      NTLcfc_D_2001  NTLctD_2002  NTLsumD_2002  NTLavgD_2002  NTLmaxD_2002  \
1692     254.229474       1425.0  4.828606e+41  3.388496e+38  3.402823e+38
359      244.166667         18.0  5.784800e+39  3.213778e+38  3.402823e+38
1059     254.086124        209.0  7.077873e+40  3.386542e+38  3.402823e+38
207      255.000000        215.0  7.316070e+40  3.402823e+38  3.402823e+38
1867     255.000000          1.0  3.402823e+38  3.402823e+38  3.402823e+38
401      244.947368         19.0  6.125082e+39  3.223727e+38  3.402823e+38
54       245.714286         21.0  6.805647e+39  3.240784e+38  3.402823e+38
307      255.000000          3.0  1.020847e+39  3.402823e+38  3.402823e+38
1266     255.000000       2623.0  8.925606e+41  3.402823e+38  3.402823e+38
1133     254.781503        865.0  2.940039e+41  3.398890e+38  3.402823e+38

      NTLminD_2002
1692  3.163529e+00
359   2.912609e+00
1059  2.942336e+00
207   3.402823e+38
1867  3.402823e+38
401   2.965054e+00
54    4.397467e+00
307   3.402823e+38
1266  3.402823e+38
1133  2.662013e+00

[10 rows x 24 columns]
Loading data for Msk_D_2002_cfc.tif. Sat Mar  4 14:36:25 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2002. Sat Mar  4 14:36:29 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:36:32 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:36:32 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:38:37 2023

           Z  Sett_ID
851572   255   302294
1592280  255    91946
1308650  255    68350
474333   255   333864
67814    255   335702
197656   255   333873
402746   255   333873
1460947  255   102273
1173797  255   127646
1105750  255   164637

Exported as table. Sat Mar  4 14:38:41 2023


Count of cloud-free observations averaged to settlement level, year 2002. Sat Mar  4 14:38:42 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
962     40726      14557.0  4.953150e+42  3.402590e+38  3.402823e+38
1335   127876         96.0  3.198654e+40  3.331931e+38  3.402823e+38
1035    47724        106.0  3.606993e+40  3.402823e+38  3.402823e+38
1278   127631          6.0  2.041694e+39  3.402823e+38  3.402823e+38
1793   314038        319.0  1.085501e+41  3.402823e+38  3.402823e+38
503     22230         42.0  1.361129e+40  3.240784e+38  3.402823e+38
1343   127931         95.0  3.164626e+40  3.331185e+38  3.402823e+38
1849   337786          5.0  1.701412e+39  3.402823e+38  3.402823e+38
690     32773         24.0  7.826494e+39  3.261039e+38  3.402823e+38
595     25278        145.0  4.900066e+40  3.379356e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
962   3.169048e+00     254.985917      14557.0  4.953150e+42  3.402590e+38
1335  2.652381e+00     250.822917         96.0  3.198654e+40  3.331931e+38
1035  3.402823e+38     255.000000        106.0  3.606993e+40  3.402823e+38
1278  3.402823e+38     255.000000          6.0  2.041694e+39  3.402823e+38
1793  3.402823e+38     255.000000        319.0  1.085501e+41  3.402823e+38
503   2.701016e+00     245.190476         42.0  1.361129e+40  3.240784e+38
1343  2.661868e+00     250.778947         95.0  3.164626e+40  3.331185e+38
1849  3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
690   2.697505e+00     246.541667         24.0  7.826494e+39  3.261039e+38
595   2.751575e+00     253.593103        145.0  4.900066e+40  3.379356e+38

      ...  NTLavgD_2001  NTLmaxD_2001  NTLminD_2001  NTLcfc_D_2001  \
962   ...  3.402590e+38  3.402823e+38  2.980192e+00     254.986673
1335  ...  3.331931e+38  3.402823e+38  3.043707e+00     251.083333
1035  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1278  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1793  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
503   ...  3.240784e+38  3.402823e+38  2.864022e+00     245.642857
1343  ...  3.331185e+38  3.402823e+38  2.990448e+00     251.063158
1849  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
690   ...  3.261039e+38  3.402823e+38  2.990616e+00     246.875000
595   ...  3.379356e+38  3.402823e+38  2.833960e+00     253.655172

      NTLctD_2002  NTLsumD_2002  NTLavgD_2002  NTLmaxD_2002  NTLminD_2002  \
962       14557.0  4.953150e+42  3.402590e+38  3.402823e+38  3.088947e+00
1335         96.0  3.198654e+40  3.331931e+38  3.402823e+38  2.682749e+00
1035        106.0  3.606993e+40  3.402823e+38  3.402823e+38  3.402823e+38
1278          6.0  2.041694e+39  3.402823e+38  3.402823e+38  3.402823e+38
1793        319.0  1.085501e+41  3.402823e+38  3.402823e+38  3.402823e+38
503          42.0  1.361129e+40  3.240784e+38  3.402823e+38  3.060606e+00
1343         95.0  3.164626e+40  3.331185e+38  3.402823e+38  2.651641e+00
1849          5.0  1.701412e+39  3.402823e+38  3.402823e+38  3.402823e+38
690          24.0  7.826494e+39  3.261039e+38  3.402823e+38  2.900794e+00
595         145.0  4.900066e+40  3.379356e+38  3.402823e+38  3.346154e+00

      NTLcfc_D_2002
962      254.986398
1335     251.041667
1035     255.000000
1278     255.000000
1793     255.000000
503      245.738095
1343     251.126316
1849     255.000000
690      246.708333
595      253.668966

[10 rows x 25 columns]
Loading data for Msk_D_2003_avg.tif. Sat Mar  4 14:38:42 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2003. Sat Mar  4 14:38:46 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:38:50 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:38:51 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:40:59 2023

                    Z  Sett_ID
914653   3.402823e+38   263056
678343   3.402823e+38   333092
288488   3.402823e+38   333873
21352    3.402823e+38   333873
964273   3.402823e+38   244061
13719    3.402823e+38   333873
1151275  3.402823e+38   107509
837235   3.402823e+38   244248
1002351  3.402823e+38   263056
751687   3.402823e+38   244248

Exported as table. Sat Mar  4 14:41:06 2023


Desired aggregation methods applied to settlement level, year 2003. Sat Mar  4 14:41:06 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
913     38126        119.0  4.015332e+40  3.374228e+38  3.402823e+38
1580   152551       2642.0  8.986857e+41  3.401535e+38  3.402823e+38
1443   131847         11.0  3.743106e+39  3.402823e+38  3.402823e+38
1229    91879        202.0  6.805647e+40  3.369132e+38  3.402823e+38
1290   127661        222.0  7.554268e+40  3.402823e+38  3.402823e+38
862     37924        107.0  3.641021e+40  3.402823e+38  3.402823e+38
447     21147        255.0  8.643172e+40  3.389479e+38  3.402823e+38
1419   131625         98.0  3.334767e+40  3.402823e+38  3.402823e+38
740     33256          NaN           NaN           NaN           NaN
149      4619          4.0  1.361129e+39  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
913   3.030462e+00     253.260504        119.0  4.015332e+40  3.374228e+38
1580  2.506375e+00     254.923543       2642.0  8.986857e+41  3.401535e+38
1443  3.402823e+38     255.000000         11.0  3.743106e+39  3.402823e+38
1229  3.199821e+00     252.970297        202.0  6.805647e+40  3.369132e+38
1290  3.402823e+38     255.000000        222.0  7.554268e+40  3.402823e+38
862   3.402823e+38     255.000000        107.0  3.641021e+40  3.402823e+38
447   3.083333e+00     254.192157        255.0  8.643172e+40  3.389479e+38
1419  3.402823e+38     255.000000         98.0  3.334767e+40  3.402823e+38
740            NaN            NaN          NaN           NaN           NaN
149   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38

      ...  NTLsumD_2002  NTLavgD_2002  NTLmaxD_2002  NTLminD_2002  \
913   ...  4.015332e+40  3.374228e+38  3.402823e+38  2.862011e+00
1580  ...  8.986857e+41  3.401535e+38  3.402823e+38  2.585714e+00
1443  ...  3.743106e+39  3.402823e+38  3.402823e+38  3.402823e+38
1229  ...  6.805647e+40  3.369132e+38  3.402823e+38  3.117096e+00
1290  ...  7.554268e+40  3.402823e+38  3.402823e+38  3.402823e+38
862   ...  3.641021e+40  3.402823e+38  3.402823e+38  3.402823e+38
447   ...  8.643172e+40  3.389479e+38  3.402823e+38  3.451690e+00
1419  ...  3.334767e+40  3.402823e+38  3.402823e+38  3.402823e+38
740   ...           NaN           NaN           NaN           NaN
149   ...  1.361129e+39  3.402823e+38  3.402823e+38  3.402823e+38

      NTLcfc_D_2002  NTLctD_2003  NTLsumD_2003  NTLavgD_2003  NTLmaxD_2003  \
913      253.344538        119.0  4.015332e+40  3.374228e+38  3.402823e+38
1580     254.929220       2642.0  8.986857e+41  3.401535e+38  3.402823e+38
1443     255.000000         11.0  3.743106e+39  3.402823e+38  3.402823e+38
1229     253.103960        202.0  6.805647e+40  3.369132e+38  3.402823e+38
1290     255.000000        222.0  7.554268e+40  3.402823e+38  3.402823e+38
862      255.000000        107.0  3.641021e+40  3.402823e+38  3.402823e+38
447      254.235294        255.0  8.643172e+40  3.389479e+38  3.402823e+38
1419     255.000000         98.0  3.334767e+40  3.402823e+38  3.402823e+38
740             NaN          NaN           NaN           NaN           NaN
149      255.000000          4.0  1.361129e+39  3.402823e+38  3.402823e+38

      NTLminD_2003
913   2.436842e+00
1580  1.993386e+00
1443  3.402823e+38
1229  2.413684e+00
1290  3.402823e+38
862   3.402823e+38
447   2.524708e+00
1419  3.402823e+38
740            NaN
149   3.402823e+38

[10 rows x 30 columns]
Loading data for Msk_D_2003_cfc.tif. Sat Mar  4 14:41:06 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2003. Sat Mar  4 14:41:10 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:41:13 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:41:13 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:43:20 2023

           Z  Sett_ID
1866156  255    40548
852464   255   190157
22956    255   335702
945982   255   313657
504194   255   333422
1278996  255   170456
1509899  255    42980
397399   255   333873
1793316  255    40548
1429130  255   107500

Exported as table. Sat Mar  4 14:43:24 2023


Count of cloud-free observations averaged to settlement level, year 2003. Sat Mar  4 14:43:24 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
607     25412         29.0  9.527906e+39  3.285485e+38  3.402823e+38
471     21358          NaN           NaN           NaN           NaN
1746   278174       1471.0  5.002150e+41  3.400510e+38  3.402823e+38
391     18123        302.0  1.024250e+41  3.391556e+38  3.402823e+38
1048    47792        364.0  1.235225e+41  3.393475e+38  3.402823e+38
999     42919       1014.0  3.447060e+41  3.399468e+38  3.402823e+38
502     22225         39.0  1.293073e+40  3.315572e+38  3.402823e+38
159      4793          3.0  6.805647e+38  2.268549e+38  3.402823e+38
1418   131622         28.0  9.187623e+39  3.281294e+38  3.402823e+38
143      4240         78.0  2.620174e+40  3.359198e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
607       2.714493     247.965517         29.0  9.527906e+39  3.285485e+38
471            NaN            NaN          NaN           NaN           NaN
1746      2.623611     254.858600       1471.0  5.002150e+41  3.400510e+38
391       3.003672     254.327815        302.0  1.024250e+41  3.391556e+38
1048      2.956897     254.436813        364.0  1.235225e+41  3.393475e+38
999       2.961576     254.797830       1014.0  3.447060e+41  3.399468e+38
502       2.703571     249.794872         39.0  1.293073e+40  3.315572e+38
159       2.856487     187.000000          3.0  6.805647e+38  2.268549e+38
1418      2.510489     247.607143         28.0  9.187623e+39  3.281294e+38
143       2.982343     252.371795         78.0  2.620174e+40  3.359198e+38

      ...  NTLavgD_2002  NTLmaxD_2002  NTLminD_2002  NTLcfc_D_2002  \
607   ...  3.285485e+38  3.402823e+38      2.775211     248.344828
471   ...           NaN           NaN           NaN            NaN
1746  ...  3.400510e+38  3.402823e+38      2.539970     254.870836
391   ...  3.391556e+38  3.402823e+38      2.833800     254.354305
1048  ...  3.393475e+38  3.402823e+38      2.993939     254.472527
999   ...  3.399468e+38  3.402823e+38      2.782071     254.807692
502   ...  3.315572e+38  3.402823e+38      3.092157     250.000000
159   ...  2.268549e+38  3.402823e+38      2.834135     190.000000
1418  ...  3.281294e+38  3.402823e+38      2.811153     248.178571
143   ...  3.359198e+38  3.402823e+38      3.051739     252.525641

      NTLctD_2003  NTLsumD_2003  NTLavgD_2003  NTLmaxD_2003  NTLminD_2003  \
607          29.0  9.527906e+39  3.285485e+38  3.402823e+38      2.152860
471           NaN           NaN           NaN           NaN           NaN
1746       1471.0  5.002150e+41  3.400510e+38  3.402823e+38      2.017724
391         302.0  1.024250e+41  3.391556e+38  3.402823e+38      2.555000
1048        364.0  1.235225e+41  3.393475e+38  3.402823e+38      2.570714
999        1014.0  3.447060e+41  3.399468e+38  3.402823e+38      2.243421
502          39.0  1.293073e+40  3.315572e+38  3.402823e+38      2.429934
159           3.0  6.805647e+38  2.268549e+38  3.402823e+38      2.407308
1418         28.0  9.187623e+39  3.281294e+38  3.402823e+38      2.105116
143          78.0  2.620174e+40  3.359198e+38  3.402823e+38      2.247116

      NTLcfc_D_2003
607      248.241379
471             NaN
1746     254.866077
391      254.334437
1048     254.453297
999      254.801775
502      249.769231
159      187.333333
1418     248.107143
143      252.474359

[10 rows x 31 columns]
Loading data for Msk_D_2004_avg.tif. Sat Mar  4 14:43:24 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2004. Sat Mar  4 14:43:29 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:43:34 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:43:34 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:45:40 2023

                    Z  Sett_ID
966255   3.402823e+38   213078
100559   3.402823e+38   335702
1391686  3.402823e+38   107501
148676   3.402823e+38   335702
1166808  3.402823e+38   180711
1873505  3.402823e+38    40548
855475   3.402823e+38   244248
1353677  3.402823e+38    67973
1384886  3.402823e+38    87797
1337825  3.402823e+38    87797

Exported as table. Sat Mar  4 14:45:47 2023


Desired aggregation methods applied to settlement level, year 2004. Sat Mar  4 14:45:47 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
416     18515        548.0  1.864747e+41  3.402823e+38  3.402823e+38
660     28568          NaN           NaN           NaN           NaN
1201    80861        607.0  2.062111e+41  3.397217e+38  3.402823e+38
1642   234648         24.0  7.826494e+39  3.261039e+38  3.402823e+38
257     14159         80.0  2.688231e+40  3.360288e+38  3.402823e+38
221     13060         49.0  1.497242e+40  3.055597e+38  3.402823e+38
755     33676         67.0  2.177807e+40  3.250458e+38  3.402823e+38
583     25049          6.0  1.701412e+39  2.835686e+38  3.402823e+38
1511   145726        342.0  1.156960e+41  3.382924e+38  3.402823e+38
1713   249174        200.0  6.805647e+40  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
416   3.402823e+38     255.000000        548.0  1.864747e+41  3.402823e+38
660            NaN            NaN          NaN           NaN           NaN
1201  2.819124e+00     254.672158        607.0  2.062111e+41  3.397217e+38
1642  2.380000e+00     246.708333         24.0  7.826494e+39  3.261039e+38
257   2.498990e+00     252.437500         80.0  2.688231e+40  3.360288e+38
221   2.860933e+00     234.122449         49.0  1.497242e+40  3.055597e+38
755   2.949889e+00     245.940299         67.0  2.177807e+40  3.250458e+38
583   2.463489e+00     220.000000          6.0  1.701412e+39  2.835686e+38
1511  2.898226e+00     253.845029        342.0  1.156960e+41  3.382924e+38
1713  3.402823e+38     255.000000        200.0  6.805647e+40  3.402823e+38

      ...  NTLsumD_2003  NTLavgD_2003  NTLmaxD_2003  NTLminD_2003  \
416   ...  1.864747e+41  3.402823e+38  3.402823e+38  3.402823e+38
660   ...           NaN           NaN           NaN           NaN
1201  ...  2.062111e+41  3.397217e+38  3.402823e+38  2.459187e+00
1642  ...  7.826494e+39  3.261039e+38  3.402823e+38  2.047312e+00
257   ...  2.688231e+40  3.360288e+38  3.402823e+38  2.284461e+00
221   ...  1.497242e+40  3.055597e+38  3.402823e+38  2.133605e+00
755   ...  2.177807e+40  3.250458e+38  3.402823e+38  2.211111e+00
583   ...  1.701412e+39  2.835686e+38  3.402823e+38  3.684215e+01
1511  ...  1.156960e+41  3.382924e+38  3.402823e+38  2.141100e+00
1713  ...  6.805647e+40  3.402823e+38  3.402823e+38  3.402823e+38

      NTLcfc_D_2003  NTLctD_2004  NTLsumD_2004  NTLavgD_2004  NTLmaxD_2004  \
416      255.000000        548.0  1.864747e+41  3.402823e+38  3.402823e+38
660             NaN          NaN           NaN           NaN           NaN
1201     254.670511        607.0  2.062111e+41  3.397217e+38  3.402823e+38
1642     247.291667         24.0  7.826494e+39  3.261039e+38  3.402823e+38
257      252.487500         80.0  2.688231e+40  3.360288e+38  3.402823e+38
221      235.163265         49.0  1.497242e+40  3.055597e+38  3.402823e+38
755      246.000000         67.0  2.177807e+40  3.250458e+38  3.402823e+38
583      222.000000          6.0  1.701412e+39  2.835686e+38  3.402823e+38
1511     253.918129        342.0  1.156960e+41  3.382924e+38  3.402823e+38
1713     255.000000        200.0  6.805647e+40  3.402823e+38  3.402823e+38

      NTLminD_2004
416   3.402823e+38
660            NaN
1201  2.846032e+00
1642  2.442540e+00
257   2.390905e+00
221   2.432836e+00
755   2.793029e+00
583   4.762647e+01
1511  2.460230e+00
1713  3.402823e+38

[10 rows x 36 columns]
Loading data for Msk_D_2004_cfc.tif. Sat Mar  4 14:45:47 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2004. Sat Mar  4 14:45:51 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:45:54 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:45:54 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:48:00 2023

           Z  Sett_ID
1188421  255   197580
719371   255   330086
52481    255   335702
292318   255   333092
1230457  255   129929
764151   255   346365
865682   255   302298
823787   255   302294
1770011  255   100168
1391307  255    87797

Exported as table. Sat Mar  4 14:48:04 2023


Count of cloud-free observations averaged to settlement level, year 2004. Sat Mar  4 14:48:04 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
169      4886          NaN           NaN           NaN           NaN
1085    51700         14.0  4.423671e+39  3.159765e+38  3.402823e+38
403     18456         37.0  1.156960e+40  3.126919e+38  3.402823e+38
947     40584        573.0  1.946415e+41  3.396885e+38  3.402823e+38
560     23470          8.0  1.361129e+39  1.701412e+38  3.402823e+38
1449   131858         11.0  3.743106e+39  3.402823e+38  3.402823e+38
674     28696         37.0  1.259045e+40  3.402823e+38  3.402823e+38
1153    61028        319.0  1.085501e+41  3.402823e+38  3.402823e+38
1729   256109       6067.0  2.064493e+42  3.402823e+38  3.402823e+38
1276   127629       1398.0  4.733327e+41  3.385785e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
169            NaN            NaN          NaN           NaN           NaN
1085  2.946939e+00     240.714286         14.0  4.423671e+39  3.159765e+38
403   2.742216e+00     238.324324         37.0  1.156960e+40  3.126919e+38
947   2.936111e+00     254.640489        573.0  1.946415e+41  3.396885e+38
560   2.539323e+00     150.500000          8.0  1.361129e+39  1.701412e+38
1449  3.402823e+38     255.000000         11.0  3.743106e+39  3.402823e+38
674   3.402823e+38     255.000000         37.0  1.259045e+40  3.402823e+38
1153  3.402823e+38     255.000000        319.0  1.085501e+41  3.402823e+38
1729  3.402823e+38     255.000000       6067.0  2.064493e+42  3.402823e+38
1276  2.950300e+00     253.989986       1398.0  4.733327e+41  3.385785e+38

      ...  NTLavgD_2003  NTLmaxD_2003  NTLminD_2003  NTLcfc_D_2003  \
169   ...           NaN           NaN           NaN            NaN
1085  ...  3.159765e+38  3.402823e+38  2.321306e+00     240.857143
403   ...  3.126919e+38  3.402823e+38  2.093395e+00     238.783784
947   ...  3.396885e+38  3.402823e+38  2.282609e+00     254.636998
560   ...  1.701412e+38  3.402823e+38  2.637812e+01     154.875000
1449  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
674   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1153  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1729  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1276  ...  3.385785e+38  3.402823e+38  2.440957e+00     254.051502

      NTLctD_2004  NTLsumD_2004  NTLavgD_2004  NTLmaxD_2004  NTLminD_2004  \
169           NaN           NaN           NaN           NaN           NaN
1085         14.0  4.423671e+39  3.159765e+38  3.402823e+38  2.690155e+00
403          37.0  1.156960e+40  3.126919e+38  3.402823e+38  2.425079e+00
947         573.0  1.946415e+41  3.396885e+38  3.402823e+38  2.783820e+00
560           8.0  1.361129e+39  1.701412e+38  3.402823e+38  4.678438e+01
1449         11.0  3.743106e+39  3.402823e+38  3.402823e+38  3.402823e+38
674          37.0  1.259045e+40  3.402823e+38  3.402823e+38  3.402823e+38
1153        319.0  1.085501e+41  3.402823e+38  3.402823e+38  3.402823e+38
1729       6067.0  2.064493e+42  3.402823e+38  3.402823e+38  3.402823e+38
1276       1398.0  4.733327e+41  3.385785e+38  3.402823e+38  2.680595e+00

      NTLcfc_D_2004
169             NaN
1085     241.928571
403      240.135135
947      254.668412
560      159.750000
1449     255.000000
674      255.000000
1153     255.000000
1729     255.000000
1276     254.098712

[10 rows x 37 columns]
Loading data for Msk_D_2005_avg.tif. Sat Mar  4 14:48:04 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2005. Sat Mar  4 14:48:09 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:48:13 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:48:14 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:50:19 2023

                    Z  Sett_ID
680945   3.402823e+38   350194
171073   3.402823e+38   335702
1180385  3.402823e+38   128050
1816116  3.402823e+38   100168
517494   3.402823e+38   244062
32264    3.402823e+38   335702
564201   3.402823e+38   333864
1596401  3.402823e+38    28669
204891   3.402823e+38   333873
1724993  3.402823e+38    91913

Exported as table. Sat Mar  4 14:50:26 2023


Desired aggregation methods applied to settlement level, year 2005. Sat Mar  4 14:50:27 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1841   337712          8.0  2.381976e+39  2.977471e+38  3.402823e+38
1446   131854         26.0  8.847341e+39  3.402823e+38  3.402823e+38
1355   128138          3.0  1.020847e+39  3.402823e+38  3.402823e+38
881     37987         46.0  1.565299e+40  3.402823e+38  3.402823e+38
47        362        609.0  2.068917e+41  3.397236e+38  3.402823e+38
1641   234637        180.0  6.125082e+40  3.402823e+38  3.402823e+38
1552   146131          9.0  3.062541e+39  3.402823e+38  3.402823e+38
968     42499        134.0  4.491727e+40  3.352035e+38  3.402823e+38
105      4120         41.0  1.361129e+40  3.319828e+38  3.402823e+38
932     38191         34.0  1.122932e+40  3.302740e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1841  2.783898e+00     229.500000          8.0  2.381976e+39  2.977471e+38
1446  3.402823e+38     255.000000         26.0  8.847341e+39  3.402823e+38
1355  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
881   3.402823e+38     255.000000         46.0  1.565299e+40  3.402823e+38
47    3.040807e+00     254.660099        609.0  2.068917e+41  3.397236e+38
1641  3.402823e+38     255.000000        180.0  6.125082e+40  3.402823e+38
1552  3.402823e+38     255.000000          9.0  3.062541e+39  3.402823e+38
968   3.034547e+00     251.970149        134.0  4.491727e+40  3.352035e+38
105   2.977050e+00     249.975610         41.0  1.361129e+40  3.319828e+38
932   2.890574e+00     249.029412         34.0  1.122932e+40  3.302740e+38

      ...  NTLsumD_2004  NTLavgD_2004  NTLmaxD_2004  NTLminD_2004  \
1841  ...  2.381976e+39  2.977471e+38  3.402823e+38  2.480769e+00
1446  ...  8.847341e+39  3.402823e+38  3.402823e+38  3.402823e+38
1355  ...  1.020847e+39  3.402823e+38  3.402823e+38  3.402823e+38
881   ...  1.565299e+40  3.402823e+38  3.402823e+38  3.402823e+38
47    ...  2.068917e+41  3.397236e+38  3.402823e+38  2.982143e+00
1641  ...  6.125082e+40  3.402823e+38  3.402823e+38  3.402823e+38
1552  ...  3.062541e+39  3.402823e+38  3.402823e+38  3.402823e+38
968   ...  4.491727e+40  3.352035e+38  3.402823e+38  2.810502e+00
105   ...  1.361129e+40  3.319828e+38  3.402823e+38  3.433414e+00
932   ...  1.122932e+40  3.302740e+38  3.402823e+38  2.645251e+00

      NTLcfc_D_2004  NTLctD_2005  NTLsumD_2005  NTLavgD_2005  NTLmaxD_2005  \
1841     232.875000          8.0  2.381976e+39  2.977471e+38  3.402823e+38
1446     255.000000         26.0  8.847341e+39  3.402823e+38  3.402823e+38
1355     255.000000          3.0  1.020847e+39  3.402823e+38  3.402823e+38
881      255.000000         46.0  1.565299e+40  3.402823e+38  3.402823e+38
47       254.688013        609.0  2.068917e+41  3.397236e+38  3.402823e+38
1641     255.000000        180.0  6.125082e+40  3.402823e+38  3.402823e+38
1552     255.000000          9.0  3.062541e+39  3.402823e+38  3.402823e+38
968      252.223881        134.0  4.491727e+40  3.352035e+38  3.402823e+38
105      250.463415         41.0  1.361129e+40  3.319828e+38  3.402823e+38
932      249.411765         34.0  1.122932e+40  3.302740e+38  3.402823e+38

      NTLminD_2005
1841  2.121316e+00
1446  3.402823e+38
1355  3.402823e+38
881   3.402823e+38
47    2.492857e+00
1641  3.402823e+38
1552  3.402823e+38
968   2.426355e+00
105   3.236667e+00
932   2.333333e+00

[10 rows x 42 columns]
Loading data for Msk_D_2005_cfc.tif. Sat Mar  4 14:50:27 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2005. Sat Mar  4 14:50:30 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:50:33 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:50:33 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:52:42 2023

           Z  Sett_ID
276907   255   335702
151159   255   335702
1012358  255   237163
820240   255   244248
1232242  255   197580
1805548  255     7317
269282   255   333873
643108   255   333313
1111034  255   152038
1042707  255   164640

Exported as table. Sat Mar  4 14:52:46 2023


Count of cloud-free observations averaged to settlement level, year 2005. Sat Mar  4 14:52:46 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
139      4225         63.0  2.075722e+40  3.294797e+38  3.402823e+38
103      4117         46.0  1.565299e+40  3.402823e+38  3.402823e+38
1585   160998       1473.0  5.008956e+41  3.400513e+38  3.402823e+38
1334   127872         14.0  4.423671e+39  3.159765e+38  3.402823e+38
1799   325667         98.0  3.334767e+40  3.402823e+38  3.402823e+38
860     37903         38.0  1.293073e+40  3.402823e+38  3.402823e+38
1335   127876         96.0  3.198654e+40  3.331931e+38  3.402823e+38
1369   128664         13.0  4.423671e+39  3.402823e+38  3.402823e+38
521     23318         46.0  1.361129e+40  2.958977e+38  3.402823e+38
305     14339         54.0  1.803496e+40  3.339808e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
139   2.794750e+00     248.539683         63.0  2.075722e+40  3.294797e+38
103   3.402823e+38     255.000000         46.0  1.565299e+40  3.402823e+38
1585  2.830934e+00     254.862865       1473.0  5.008956e+41  3.400513e+38
1334  2.647017e+00     240.714286         14.0  4.423671e+39  3.159765e+38
1799  3.402823e+38     255.000000         98.0  3.334767e+40  3.402823e+38
860   3.402823e+38     255.000000         38.0  1.293073e+40  3.402823e+38
1335  2.652381e+00     250.822917         96.0  3.198654e+40  3.331931e+38
1369  3.402823e+38     255.000000         13.0  4.423671e+39  3.402823e+38
521   2.732558e+00     228.521739         46.0  1.361129e+40  2.958977e+38
305   2.634634e+00     251.203704         54.0  1.803496e+40  3.339808e+38

      ...  NTLavgD_2004  NTLmaxD_2004  NTLminD_2004  NTLcfc_D_2004  \
139   ...  3.294797e+38  3.402823e+38  2.718615e+00     249.015873
103   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1585  ...  3.400513e+38  3.402823e+38  2.285294e+00     254.879837
1334  ...  3.159765e+38  3.402823e+38  2.455555e+00     242.214286
1799  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
860   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1335  ...  3.331931e+38  3.402823e+38  2.477500e+00     251.302083
1369  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
521   ...  2.958977e+38  3.402823e+38  2.760827e+00     230.369565
305   ...  3.339808e+38  3.402823e+38  2.569965e+00     251.555556

      NTLctD_2005  NTLsumD_2005  NTLavgD_2005  NTLmaxD_2005  NTLminD_2005  \
139          63.0  2.075722e+40  3.294797e+38  3.402823e+38  2.441449e+00
103          46.0  1.565299e+40  3.402823e+38  3.402823e+38  3.402823e+38
1585       1473.0  5.008956e+41  3.400513e+38  3.402823e+38  2.179996e+00
1334         14.0  4.423671e+39  3.159765e+38  3.402823e+38  2.300310e+00
1799         98.0  3.334767e+40  3.402823e+38  3.402823e+38  3.402823e+38
860          38.0  1.293073e+40  3.402823e+38  3.402823e+38  3.402823e+38
1335         96.0  3.198654e+40  3.331931e+38  3.402823e+38  2.309847e+00
1369         13.0  4.423671e+39  3.402823e+38  3.402823e+38  3.402823e+38
521          46.0  1.361129e+40  2.958977e+38  3.402823e+38  2.474472e+00
305          54.0  1.803496e+40  3.339808e+38  3.402823e+38  2.366910e+00

      NTLcfc_D_2005
139      249.174603
103      255.000000
1585     254.875085
1334     242.000000
1799     255.000000
860      255.000000
1335     251.218750
1369     255.000000
521      230.891304
305      251.703704

[10 rows x 43 columns]
Loading data for Msk_D_2006_avg.tif. Sat Mar  4 14:52:46 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2006. Sat Mar  4 14:52:51 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:52:55 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:52:55 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:55:02 2023

                    Z  Sett_ID
1413978  3.402823e+38   102323
1435699  3.402823e+38    65834
18258    3.402823e+38   335702
905299   3.402823e+38   314094
1383124  3.402823e+38   107501
934163   3.402823e+38   313655
7557     3.402823e+38   335702
1419701  3.402823e+38    65864
588566   3.402823e+38   333092
1490818  3.402823e+38    91880

Exported as table. Sat Mar  4 14:55:09 2023


Desired aggregation methods applied to settlement level, year 2006. Sat Mar  4 14:55:09 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1196    68883       1182.0  4.022137e+41  3.402823e+38  3.402823e+38
1037    47735         53.0  1.803496e+40  3.402823e+38  3.402823e+38
374     15464          2.0  6.805647e+38  3.402823e+38  3.402823e+38
1144    60745         13.0  4.423671e+39  3.402823e+38  3.402823e+38
736     33108          NaN           NaN           NaN           NaN
558     23467          1.0  2.788085e+00  2.788085e+00  2.788085e+00
1937   350194       6117.0  2.081507e+42  3.402823e+38  3.402823e+38
340     14398         11.0  3.062541e+39  2.784128e+38  3.402823e+38
1367   128614         49.0  1.633355e+40  3.333378e+38  3.402823e+38
1657   234804         69.0  2.347948e+40  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1196  3.402823e+38     255.000000       1182.0  4.022137e+41  3.402823e+38
1037  3.402823e+38     255.000000         53.0  1.803496e+40  3.402823e+38
374   3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
1144  3.402823e+38     255.000000         13.0  4.423671e+39  3.402823e+38
736            NaN            NaN          NaN           NaN           NaN
558   2.788085e+00      46.000000          1.0  3.003569e+00  3.003569e+00
1937  3.402823e+38     255.000000       6117.0  2.081507e+42  3.402823e+38
340   2.765873e+00     217.727273         11.0  3.062541e+39  2.784128e+38
1367  2.493446e+00     250.795918         49.0  1.633355e+40  3.333378e+38
1657  3.402823e+38     255.000000         69.0  2.347948e+40  3.402823e+38

      ...  NTLsumD_2005  NTLavgD_2005  NTLmaxD_2005  NTLminD_2005  \
1196  ...  4.022137e+41  3.402823e+38  3.402823e+38  3.402823e+38
1037  ...  1.803496e+40  3.402823e+38  3.402823e+38  3.402823e+38
374   ...  6.805647e+38  3.402823e+38  3.402823e+38  3.402823e+38
1144  ...  4.423671e+39  3.402823e+38  3.402823e+38  3.402823e+38
736   ...           NaN           NaN           NaN           NaN
558   ...  4.165945e+01  4.165945e+01  4.165945e+01  4.165945e+01
1937  ...  2.081507e+42  3.402823e+38  3.402823e+38  3.402823e+38
340   ...  3.062541e+39  2.784128e+38  3.402823e+38  2.248371e+00
1367  ...  1.633355e+40  3.333378e+38  3.402823e+38  2.136522e+00
1657  ...  2.347948e+40  3.402823e+38  3.402823e+38  3.402823e+38

      NTLcfc_D_2005  NTLctD_2006  NTLsumD_2006  NTLavgD_2006  NTLmaxD_2006  \
1196     255.000000       1182.0  4.022137e+41  3.402823e+38  3.402823e+38
1037     255.000000         53.0  1.803496e+40  3.402823e+38  3.402823e+38
374      255.000000          2.0  6.805647e+38  3.402823e+38  3.402823e+38
1144     255.000000         13.0  4.423671e+39  3.402823e+38  3.402823e+38
736             NaN          NaN           NaN           NaN           NaN
558       69.000000          1.0  4.098488e+01  4.098488e+01  4.098488e+01
1937     255.000000       6117.0  2.081507e+42  3.402823e+38  3.402823e+38
340      221.545455         11.0  3.062541e+39  2.784128e+38  3.402823e+38
1367     251.265306         49.0  1.633355e+40  3.333378e+38  3.402823e+38
1657     255.000000         69.0  2.347948e+40  3.402823e+38  3.402823e+38

      NTLminD_2006
1196  3.402823e+38
1037  3.402823e+38
374   3.402823e+38
1144  3.402823e+38
736            NaN
558   4.098488e+01
1937  3.402823e+38
340   2.253226e+00
1367  2.038038e+00
1657  3.402823e+38

[10 rows x 48 columns]
Loading data for Msk_D_2006_cfc.tif. Sat Mar  4 14:55:09 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2006. Sat Mar  4 14:55:12 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:55:15 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:55:16 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:57:20 2023

           Z  Sett_ID
1040037  255   212434
681725   255   330617
126475   255   335702
577051   255   333864
1025417  255   256011
1406600  255   100170
356013   255   335702
1388668  255    65864
1055518  255   164637
725984   255   244062

Exported as table. Sat Mar  4 14:57:24 2023


Count of cloud-free observations averaged to settlement level, year 2006. Sat Mar  4 14:57:25 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
671     28639         23.0  7.486212e+39  3.254875e+38  3.402823e+38
1387   129746          NaN           NaN           NaN           NaN
90       4089        123.0  4.049360e+40  3.292163e+38  3.402823e+38
518     22303         39.0  1.327101e+40  3.402823e+38  3.402823e+38
1465   131941         14.0  4.763953e+39  3.402823e+38  3.402823e+38
1501   138110        702.0  2.388782e+41  3.402823e+38  3.402823e+38
977     42619        344.0  1.170571e+41  3.402823e+38  3.402823e+38
985     42694         58.0  1.939609e+40  3.344154e+38  3.402823e+38
664     28581          5.0  1.701412e+39  3.402823e+38  3.402823e+38
1343   127931         95.0  3.164626e+40  3.331185e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
671   2.578047e+00     245.913043         23.0  7.486212e+39  3.254875e+38
1387           NaN            NaN          NaN           NaN           NaN
90    2.657467e+00     248.414634        123.0  4.049360e+40  3.292163e+38
518   3.402823e+38     255.000000         39.0  1.327101e+40  3.402823e+38
1465  3.402823e+38     255.000000         14.0  4.763953e+39  3.402823e+38
1501  3.402823e+38     255.000000        702.0  2.388782e+41  3.402823e+38
977   3.402823e+38     255.000000        344.0  1.170571e+41  3.402823e+38
985   3.166667e+00     251.396552         58.0  1.939609e+40  3.344154e+38
664   3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
1343  2.661868e+00     250.778947         95.0  3.164626e+40  3.331185e+38

      ...  NTLavgD_2005  NTLmaxD_2005  NTLminD_2005  NTLcfc_D_2005  \
671   ...  3.254875e+38  3.402823e+38  2.361150e+00     247.000000
1387  ...           NaN           NaN           NaN            NaN
90    ...  3.292163e+38  3.402823e+38  2.309788e+00     248.918699
518   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1465  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1501  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
977   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
985   ...  3.344154e+38  3.402823e+38  2.279762e+00     251.810345
664   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1343  ...  3.331185e+38  3.402823e+38  2.316106e+00     251.115789

      NTLctD_2006  NTLsumD_2006  NTLavgD_2006  NTLmaxD_2006  NTLminD_2006  \
671          23.0  7.486212e+39  3.254875e+38  3.402823e+38  2.383612e+00
1387          NaN           NaN           NaN           NaN           NaN
90          123.0  4.049360e+40  3.292163e+38  3.402823e+38  2.298643e+00
518          39.0  1.327101e+40  3.402823e+38  3.402823e+38  3.402823e+38
1465         14.0  4.763953e+39  3.402823e+38  3.402823e+38  3.402823e+38
1501        702.0  2.388782e+41  3.402823e+38  3.402823e+38  3.402823e+38
977         344.0  1.170571e+41  3.402823e+38  3.402823e+38  3.402823e+38
985          58.0  1.939609e+40  3.344154e+38  3.402823e+38  2.530545e+00
664           5.0  1.701412e+39  3.402823e+38  3.402823e+38  3.402823e+38
1343         95.0  3.164626e+40  3.331185e+38  3.402823e+38  2.281313e+00

      NTLcfc_D_2006
671      246.391304
1387            NaN
90       248.439024
518      255.000000
1465     255.000000
1501     255.000000
977      255.000000
985      251.465517
664      255.000000
1343     250.968421

[10 rows x 49 columns]
Loading data for Msk_D_2007_avg.tif. Sat Mar  4 14:57:25 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2007. Sat Mar  4 14:57:30 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:57:34 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:57:34 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 14:59:39 2023

                    Z  Sett_ID
1514452  3.402823e+38   102273
55230    3.402823e+38   333873
689296   3.402823e+38   330617
665284   3.402823e+38   333092
1671959  3.402823e+38     7317
53138    3.402823e+38   333873
698753   3.402823e+38   330617
381477   3.402823e+38   333864
929388   3.402823e+38   256109
820401   3.402823e+38   190157

Exported as table. Sat Mar  4 14:59:46 2023


Desired aggregation methods applied to settlement level, year 2007. Sat Mar  4 14:59:46 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
839     37816        131.0  4.457699e+40  3.402823e+38  3.402823e+38
970     42515        360.0  1.214808e+41  3.374467e+38  3.402823e+38
797     35071         24.0  7.826494e+39  3.261039e+38  3.402823e+38
260     14172         68.0  2.279892e+40  3.352782e+38  3.402823e+38
201      7533        105.0  3.538936e+40  3.370416e+38  3.402823e+38
178      5639          2.0  6.805647e+38  3.402823e+38  3.402823e+38
198      7462         45.0  1.531271e+40  3.402823e+38  3.402823e+38
1           2        258.0  8.609143e+40  3.336877e+38  3.402823e+38
1371   128711         21.0  7.145929e+39  3.402823e+38  3.402823e+38
1844   337715          5.0  1.361129e+39  2.722259e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
839   3.402823e+38     255.000000        131.0  4.457699e+40  3.402823e+38
970   3.037281e+00     253.275000        360.0  1.214808e+41  3.374467e+38
797   2.804130e+00     246.500000         24.0  7.826494e+39  3.261039e+38
260   2.629775e+00     251.970588         68.0  2.279892e+40  3.352782e+38
201   2.851202e+00     253.095238        105.0  3.538936e+40  3.370416e+38
178   3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
198   3.402823e+38     255.000000         45.0  1.531271e+40  3.402823e+38
1     3.042580e+00     251.007752        258.0  8.609143e+40  3.336877e+38
1371  3.402823e+38     255.000000         21.0  7.145929e+39  3.402823e+38
1844  2.669078e+00     214.200000          5.0  1.361129e+39  2.722259e+38

      ...  NTLsumD_2006  NTLavgD_2006  NTLmaxD_2006  NTLminD_2006  \
839   ...  4.457699e+40  3.402823e+38  3.402823e+38  3.402823e+38
970   ...  1.214808e+41  3.374467e+38  3.402823e+38  2.261018e+00
797   ...  7.826494e+39  3.261039e+38  3.402823e+38  2.742218e+00
260   ...  2.279892e+40  3.352782e+38  3.402823e+38  2.553647e+00
201   ...  3.538936e+40  3.370416e+38  3.402823e+38  2.646860e+00
178   ...  6.805647e+38  3.402823e+38  3.402823e+38  3.402823e+38
198   ...  1.531271e+40  3.402823e+38  3.402823e+38  3.402823e+38
1     ...  8.609143e+40  3.336877e+38  3.402823e+38  2.530769e+00
1371  ...  7.145929e+39  3.402823e+38  3.402823e+38  3.402823e+38
1844  ...  1.361129e+39  2.722259e+38  3.402823e+38  2.202137e+00

      NTLcfc_D_2006  NTLctD_2007  NTLsumD_2007  NTLavgD_2007  NTLmaxD_2007  \
839      255.000000        131.0  4.457699e+40  3.402823e+38  3.402823e+38
970      253.297222        360.0  1.214808e+41  3.374467e+38  3.402823e+38
797      246.666667         24.0  7.826494e+39  3.261039e+38  3.402823e+38
260      252.073529         68.0  2.279892e+40  3.352782e+38  3.402823e+38
201      253.133333        105.0  3.538936e+40  3.370416e+38  3.402823e+38
178      255.000000          2.0  6.805647e+38  3.402823e+38  3.402823e+38
198      255.000000         45.0  1.531271e+40  3.402823e+38  3.402823e+38
1        250.988372        258.0  8.609143e+40  3.336877e+38  3.402823e+38
1371     255.000000         21.0  7.145929e+39  3.402823e+38  3.402823e+38
1844     216.200000          5.0  1.361129e+39  2.722259e+38  3.402823e+38

      NTLminD_2007
839   3.402823e+38
970   2.835897e+00
797   2.797690e+00
260   2.564700e+00
201   2.723601e+00
178   3.402823e+38
198   3.402823e+38
1     2.844180e+00
1371  3.402823e+38
1844  2.810370e+00

[10 rows x 54 columns]
Loading data for Msk_D_2007_cfc.tif. Sat Mar  4 14:59:46 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2007. Sat Mar  4 14:59:50 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 14:59:53 2023

Created geodataframe from non-NoData points. Sat Mar  4 14:59:53 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:02:03 2023

           Z  Sett_ID
133608   255   333873
881656   255   302299
939347   255   278969
1868233  255    40548
759989   255   330086
1013516  255   249518
1206751  255   107509
842368   255   325426
1311700  255   131695
299163   255   333873

Exported as table. Sat Mar  4 15:02:07 2023


Count of cloud-free observations averaged to settlement level, year 2007. Sat Mar  4 15:02:07 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1086    51706         45.0  1.463214e+40  3.251587e+38  3.402823e+38
144      4272         69.0  2.279892e+40  3.304191e+38  3.402823e+38
1641   234637        180.0  6.125082e+40  3.402823e+38  3.402823e+38
1729   256109       6067.0  2.064493e+42  3.402823e+38  3.402823e+38
687     32767        138.0  4.389642e+40  3.180900e+38  3.402823e+38
1005    44861          1.0  4.030282e+00  4.030282e+00  4.030282e+00
1444   131848         57.0  1.905581e+40  3.343125e+38  3.402823e+38
380     16546          NaN           NaN           NaN           NaN
1854   337884          2.0  5.338966e+00  2.669483e+00  2.693511e+00
1800   325683        359.0  1.221614e+41  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1086  5.438396e+00     246.155556         45.0  1.463214e+40  3.251587e+38
144   2.662801e+00     249.057971         69.0  2.279892e+40  3.304191e+38
1641  3.402823e+38     255.000000        180.0  6.125082e+40  3.402823e+38
1729  3.402823e+38     255.000000       6067.0  2.064493e+42  3.402823e+38
687   2.890698e+00     241.717391        138.0  4.389642e+40  3.180900e+38
1005  4.030282e+00      49.000000          1.0  3.711521e+00  3.711521e+00
1444  2.445344e+00     251.368421         57.0  1.905581e+40  3.343125e+38
380            NaN            NaN          NaN           NaN           NaN
1854  2.645454e+00      48.000000          2.0  5.968605e+00  2.984303e+00
1800  3.402823e+38     255.000000        359.0  1.221614e+41  3.402823e+38

      ...  NTLavgD_2006  NTLmaxD_2006  NTLminD_2006  NTLcfc_D_2006  \
1086  ...  3.251587e+38  3.402823e+38  3.285714e+00     246.288889
144   ...  3.304191e+38  3.402823e+38  2.633723e+00     249.159420
1641  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1729  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
687   ...  3.180900e+38  3.402823e+38  2.329025e+00     241.840580
1005  ...  3.167281e+00  3.167281e+00  3.167281e+00      50.000000
1444  ...  3.343125e+38  3.402823e+38  2.393849e+00     251.578947
380   ...           NaN           NaN           NaN            NaN
1854  ...  2.420607e+00  2.458055e+00  2.383159e+00      59.000000
1800  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000

      NTLctD_2007  NTLsumD_2007  NTLavgD_2007  NTLmaxD_2007  NTLminD_2007  \
1086         45.0  1.463214e+40  3.251587e+38  3.402823e+38  3.415873e+00
144          69.0  2.279892e+40  3.304191e+38  3.402823e+38  2.711918e+00
1641        180.0  6.125082e+40  3.402823e+38  3.402823e+38  3.402823e+38
1729       6067.0  2.064493e+42  3.402823e+38  3.402823e+38  3.402823e+38
687         138.0  4.389642e+40  3.180900e+38  3.402823e+38  2.956818e+00
1005          1.0  3.551587e+00  3.551587e+00  3.551587e+00  3.551587e+00
1444         57.0  1.905581e+40  3.343125e+38  3.402823e+38  2.682565e+00
380           NaN           NaN           NaN           NaN           NaN
1854          2.0  5.571531e+00  2.785766e+00  2.814952e+00  2.756579e+00
1800        359.0  1.221614e+41  3.402823e+38  3.402823e+38  3.402823e+38

      NTLcfc_D_2007
1086     246.177778
144      249.072464
1641     255.000000
1729     255.000000
687      242.224638
1005      54.000000
1444     251.649123
380             NaN
1854      66.500000
1800     255.000000

[10 rows x 55 columns]
Loading data for Msk_D_2008_avg.tif. Sat Mar  4 15:02:07 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2008. Sat Mar  4 15:02:11 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:02:15 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:02:15 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:02:15 2023

                Z   Sett_ID
1039368  2.905406    255879
1629375  3.031746     13874
1359405  2.657143     98000
1211840  3.563380    193591
1606993  2.971429  21474836
1726701  2.867647      4092
1640092  2.791045     32785
1335320  2.794118    131593
1045338  3.121212    212734
1603706  2.825397     18456

Exported as table. Sat Mar  4 15:02:15 2023


Desired aggregation methods applied to settlement level, year 2008. Sat Mar  4 15:02:15 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
824      37786         23.0  7.826494e+39  3.402823e+38  3.402823e+38
12          53        107.0  3.606993e+40  3.371021e+38  3.402823e+38
239      13968         46.0  1.565299e+40  3.402823e+38  3.402823e+38
683      31360          NaN           NaN           NaN           NaN
179       5641          1.0  2.807143e+00  2.807143e+00  2.807143e+00
720      32850         42.0  1.293073e+40  3.078745e+38  3.402823e+38
1129     60412        125.0  4.185473e+40  3.348378e+38  3.402823e+38
1938  21474836       4331.0  1.463214e+42  3.378467e+38  3.402823e+38
1526    145994         16.0  5.104235e+39  3.190147e+38  3.402823e+38
403      18456         37.0  1.156960e+40  3.126919e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
824   3.402823e+38     255.000000         23.0  7.826494e+39  3.402823e+38
12    3.175439e+00     253.074766        107.0  3.606993e+40  3.371021e+38
239   3.402823e+38     255.000000         46.0  1.565299e+40  3.402823e+38
683            NaN            NaN          NaN           NaN           NaN
179   2.807143e+00      49.000000          1.0  3.038646e+00  3.038646e+00
720   2.649510e+00     235.666667         42.0  1.293073e+40  3.078745e+38
1129  2.774350e+00     251.648000        125.0  4.185473e+40  3.348378e+38
1938  2.351140e+00     253.519972       4331.0  1.463214e+42  3.378467e+38
1526  2.797097e+00     242.562500         16.0  5.104235e+39  3.190147e+38
403   2.742216e+00     238.324324         37.0  1.156960e+40  3.126919e+38

      ...  NTLsumD_2007  NTLavgD_2007  NTLmaxD_2007  NTLminD_2007  \
824   ...  7.826494e+39  3.402823e+38  3.402823e+38  3.402823e+38
12    ...  3.606993e+40  3.371021e+38  3.402823e+38  2.723077e+00
239   ...  1.565299e+40  3.402823e+38  3.402823e+38  3.402823e+38
683   ...           NaN           NaN           NaN           NaN
179   ...  3.122875e+00  3.122875e+00  3.122875e+00  3.122875e+00
720   ...  1.293073e+40  3.078745e+38  3.402823e+38  2.693901e+00
1129  ...  4.185473e+40  3.348378e+38  3.402823e+38  2.713584e+00
1938  ...  1.463214e+42  3.378467e+38  3.402823e+38  2.442227e+00
1526  ...  5.104235e+39  3.190147e+38  3.402823e+38  2.935107e+00
403   ...  1.156960e+40  3.126919e+38  3.402823e+38  2.423952e+00

      NTLcfc_D_2007  NTLctD_2008  NTLsumD_2008  NTLavgD_2008  NTLmaxD_2008  \
824      255.000000          NaN           NaN           NaN           NaN
12       253.074766          1.0      3.461539      3.461539      3.461539
239      255.000000          NaN           NaN           NaN           NaN
683             NaN          NaN           NaN           NaN           NaN
179       54.000000          1.0      3.560606      3.560606      3.560606
720      236.285714          4.0     12.619288      3.154822      3.230769
1129     251.840000          2.0      6.153846      3.076923      3.123077
1938     253.574001         31.0    100.906662      3.255054      5.000000
1526     244.250000          1.0      2.764706      2.764706      2.764706
403      238.918919          3.0      8.763813      2.921271      2.983871

      NTLminD_2008
824            NaN
12        3.461539
239            NaN
683            NaN
179       3.560606
720       3.015385
1129      3.030769
1938      2.605634
1526      2.764706
403       2.825397

[10 rows x 60 columns]
Loading data for Msk_D_2008_cfc.tif. Sat Mar  4 15:02:15 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2008. Sat Mar  4 15:02:18 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:02:21 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:02:21 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:02:21 2023

          Z  Sett_ID
304361   83   333873
1236320  74   180645
1740583  64     4096
1256237  75   131505
1486282  72    80860
1060655  78   338448
1022134  80   248870
1763074  67    21078
1740590  64      399
1032266  73   262680

Exported as table. Sat Mar  4 15:02:21 2023


Count of cloud-free observations averaged to settlement level, year 2008. Sat Mar  4 15:02:21 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
691     32774         68.0  2.245863e+40  3.302740e+38  3.402823e+38
545     23386         19.0  6.125082e+39  3.223727e+38  3.402823e+38
481     22183        165.0  5.580630e+40  3.382200e+38  3.402823e+38
765     33709         36.0  1.156960e+40  3.213778e+38  3.402823e+38
230     13824         15.0  4.763953e+39  3.175969e+38  3.402823e+38
656     28560       1526.0  5.192709e+41  3.402823e+38  3.402823e+38
1449   131858         11.0  3.743106e+39  3.402823e+38  3.402823e+38
321     14366          5.0  1.020847e+39  2.041694e+38  3.402823e+38
418     21076         12.0  3.402823e+39  2.835686e+38  3.402823e+38
1726   255957        597.0  2.028083e+41  3.397124e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
691   2.714912e+00     249.044118         68.0  2.245863e+40  3.302740e+38
545   2.664729e+00     244.368421         19.0  6.125082e+39  3.223727e+38
481   2.724508e+00     253.745455        165.0  5.580630e+40  3.382200e+38
765   2.734219e+00     243.694444         36.0  1.156960e+40  3.213778e+38
230   2.550000e+00     241.400000         15.0  4.763953e+39  3.175969e+38
656   3.402823e+38     255.000000       1526.0  5.192709e+41  3.402823e+38
1449  3.402823e+38     255.000000         11.0  3.743106e+39  3.402823e+38
321   2.822574e+00     173.600000          5.0  1.020847e+39  2.041694e+38
418   2.660204e+00     220.166667         12.0  3.402823e+39  2.835686e+38
1726  2.591766e+00     254.666667        597.0  2.028083e+41  3.397124e+38

      ...  NTLavgD_2007  NTLmaxD_2007  NTLminD_2007  NTLcfc_D_2007  \
691   ...  3.302740e+38  3.402823e+38  2.720490e+00     249.205882
545   ...  3.223727e+38  3.402823e+38  3.013799e+00     244.368421
481   ...  3.382200e+38  3.402823e+38  2.420513e+00     253.781818
765   ...  3.213778e+38  3.402823e+38  2.603364e+00     244.222222
230   ...  3.175969e+38  3.402823e+38  2.632532e+00     241.733333
656   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1449  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
321   ...  2.041694e+38  3.402823e+38  2.502381e+00     176.000000
418   ...  2.835686e+38  3.402823e+38  3.210573e+00     221.000000
1726  ...  3.397124e+38  3.402823e+38  2.556022e+00     254.710218

      NTLctD_2008  NTLsumD_2008  NTLavgD_2008  NTLmaxD_2008  NTLminD_2008  \
691           2.0      5.931442      2.965721      3.044118      2.887324
545           1.0      3.238095      3.238095      3.238095      3.238095
481           1.0      2.983607      2.983607      2.983607      2.983607
765           2.0      6.292912      3.146456      3.161765      3.131148
230           1.0      3.238806      3.238806      3.238806      3.238806
656           NaN           NaN           NaN           NaN           NaN
1449          NaN           NaN           NaN           NaN           NaN
321           2.0      5.539682      2.769841      2.825397      2.714286
418           2.0      7.581818      3.790909      3.927273      3.654546
1726          1.0      2.746667      2.746667      2.746667      2.746667

      NTLcfc_D_2008
691            71.0
545            66.0
481            63.0
765            65.0
230            68.0
656             NaN
1449            NaN
321            64.0
418            56.0
1726           75.0

[10 rows x 61 columns]
Loading data for Msk_D_2009_avg.tif. Sat Mar  4 15:02:21 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2009. Sat Mar  4 15:02:26 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:02:28 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:02:28 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:02:29 2023

                Z  Sett_ID
1629379  3.176471    14446
1727767  2.742857     4092
1760001  3.129032    38088
1763075  3.000000    21078
1637893  4.379310    18121
1695678  3.482759     4091
1679691  3.290323    25273
1638997  4.000000    13874
1435805  2.807692    65807
1716285  3.900000    40544

Exported as table. Sat Mar  4 15:02:29 2023


Desired aggregation methods applied to settlement level, year 2009. Sat Mar  4 15:02:29 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1621   212430        264.0  8.949426e+40  3.389934e+38  3.402823e+38
1686   239384        118.0  4.015332e+40  3.402823e+38  3.402823e+38
1811   333078        152.0  4.934094e+40  3.246114e+38  3.402823e+38
1323   127769          5.0  1.701412e+39  3.402823e+38  3.402823e+38
1834   337699        132.0  4.491727e+40  3.402823e+38  3.402823e+38
46        322        252.0  8.575115e+40  3.402823e+38  3.402823e+38
1081    51694         10.0  3.402823e+39  3.402823e+38  3.402823e+38
1828   333864      71647.0  2.437885e+43  3.402633e+38  3.402823e+38
1002    43976          NaN           NaN           NaN           NaN
932     38191         34.0  1.122932e+40  3.302740e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1621  2.601136e+00     254.215909        264.0  8.949426e+40  3.389934e+38
1686  3.402823e+38     255.000000        118.0  4.015332e+40  3.402823e+38
1811  3.459434e+00     246.118421        152.0  4.934094e+40  3.246114e+38
1323  3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
1834  3.402823e+38     255.000000        132.0  4.491727e+40  3.402823e+38
46    3.402823e+38     255.000000        252.0  8.575115e+40  3.402823e+38
1081  3.402823e+38     255.000000         10.0  3.402823e+39  3.402823e+38
1828  2.742647e+00     254.989071      71647.0  2.437885e+43  3.402633e+38
1002           NaN            NaN          NaN           NaN           NaN
932   2.890574e+00     249.029412         34.0  1.122932e+40  3.302740e+38

      ...  NTLsumD_2008  NTLavgD_2008  NTLmaxD_2008  NTLminD_2008  \
1621  ...      4.015385      4.015385      4.015385      4.015385
1686  ...           NaN           NaN           NaN           NaN
1811  ...     42.461939      6.065991      7.416667      4.042857
1323  ...           NaN           NaN           NaN           NaN
1834  ...           NaN           NaN           NaN           NaN
46    ...           NaN           NaN           NaN           NaN
1081  ...           NaN           NaN           NaN           NaN
1828  ...     14.218364      3.554591      3.662500      3.437500
1002  ...           NaN           NaN           NaN           NaN
932   ...      3.258621      3.258621      3.258621      3.258621

      NTLcfc_D_2008  NTLctD_2009  NTLsumD_2009  NTLavgD_2009  NTLmaxD_2009  \
1621          65.00          2.0      7.494485      3.747243      4.088235
1686            NaN          1.0      2.621622      2.621622      2.621622
1811          71.00          7.0     44.163213      6.309030      6.969697
1323            NaN          1.0      2.944444      2.944444      2.944444
1834            NaN          1.0      3.677419      3.677419      3.677419
46              NaN          1.0      2.785714      2.785714      2.785714
1081            NaN          1.0      3.193548      3.193548      3.193548
1828          80.25          3.0      9.485714      3.161905      3.371428
1002            NaN          NaN           NaN           NaN           NaN
932           58.00          1.0      3.129032      3.129032      3.129032

      NTLminD_2009
1621      3.406250
1686      2.621622
1811      4.757576
1323      2.944444
1834      3.677419
46        2.785714
1081      3.193548
1828      2.885714
1002           NaN
932       3.129032

[10 rows x 66 columns]
Loading data for Msk_D_2009_cfc.tif. Sat Mar  4 15:02:29 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2009. Sat Mar  4 15:02:32 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:02:35 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:02:35 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:02:35 2023

          Z  Sett_ID
1851831  35    21086
1573844  36    28289
1246593  36   131507
1734170  34     4096
1707733  34    40680
1771782  37    37788
1247651  34   131507
1611201  33    17036
1635792  35    13874
1629271  36     7236

Exported as table. Sat Mar  4 15:02:35 2023


Count of cloud-free observations averaged to settlement level, year 2009. Sat Mar  4 15:02:35 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
546     23387         22.0  6.805647e+39  3.093476e+38  3.402823e+38
1605   180699       1379.0  4.692494e+41  3.402823e+38  3.402823e+38
673     28669       3021.0  1.027993e+42  3.402823e+38  3.402823e+38
618     25449         32.0  1.054875e+40  3.296485e+38  3.402823e+38
234     13915         59.0  1.973638e+40  3.345148e+38  3.402823e+38
1609   185781       2501.0  8.510461e+41  3.402823e+38  3.402823e+38
1915   338607         12.0  3.743106e+39  3.119255e+38  3.402823e+38
1231    91899       1309.0  4.447490e+41  3.397624e+38  3.402823e+38
1611   186498       4058.0  1.378144e+42  3.396115e+38  3.402823e+38
836     37798         89.0  2.960456e+40  3.326356e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
546   2.661318e+00     236.545455         22.0  6.805647e+39  3.093476e+38
1605  3.402823e+38     255.000000       1379.0  4.692494e+41  3.402823e+38
673   3.402823e+38     255.000000       3021.0  1.027993e+42  3.402823e+38
618   2.849196e+00     248.593750         32.0  1.054875e+40  3.296485e+38
234   2.792223e+00     251.508475         59.0  1.973638e+40  3.345148e+38
1609  3.402823e+38     255.000000       2501.0  8.510461e+41  3.402823e+38
1915  2.475850e+00     238.333333         12.0  3.743106e+39  3.119255e+38
1231  3.043651e+00     254.689076       1309.0  4.447490e+41  3.397624e+38
1611  2.765568e+00     254.600049       4058.0  1.378144e+42  3.396115e+38
836   2.813807e+00     250.370787         89.0  2.960456e+40  3.326356e+38

      ...  NTLavgD_2008  NTLmaxD_2008  NTLminD_2008  NTLcfc_D_2008  \
546   ...      3.550699      3.692308      3.409091         67.000
1605  ...           NaN           NaN           NaN            NaN
673   ...           NaN           NaN           NaN            NaN
618   ...      2.728571      2.728571      2.728571         71.000
234   ...      2.825397      2.825397      2.825397         65.000
1609  ...           NaN           NaN           NaN            NaN
1915  ...      2.792683      2.792683      2.792683         82.000
1231  ...      3.368534      3.375000      3.362069         64.500
1611  ...      3.594155      3.975000      3.088608         80.875
836   ...      2.929067      2.937500      2.920635         63.500

      NTLctD_2009  NTLsumD_2009  NTLavgD_2009  NTLmaxD_2009  NTLminD_2009  \
546           3.0     10.023471      3.341157      3.459460      3.131579
1605          NaN           NaN           NaN           NaN           NaN
673           1.0      3.000000      3.000000      3.000000      3.000000
618           1.0      3.093750      3.093750      3.093750      3.093750
234           2.0      5.906250      2.953125      3.000000      2.906250
1609          1.0      3.631579      3.631579      3.631579      3.631579
1915          1.0      2.578947      2.578947      2.578947      2.578947
1231          1.0      2.774194      2.774194      2.774194      2.774194
1611          8.0     35.129233      4.391154      5.205883      3.735294
836           1.0      3.189189      3.189189      3.189189      3.189189

      NTLcfc_D_2009
546            37.5
1605            NaN
673             NaN
618            37.0
234            33.0
1609            NaN
1915           38.0
1231           31.5
1611           34.0
836            37.0

[10 rows x 67 columns]
Loading data for Msk_D_2010_avg.tif. Sat Mar  4 15:02:35 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2010. Sat Mar  4 15:02:39 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:02:42 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:02:42 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:02:42 2023

                 Z  Sett_ID
994359    3.774648   249199
1604775   4.307693    18456
1592839   4.259740    51696
1735239   5.500000     4096
1196387   6.900000   127629
1622964   3.808219    14258
455996   10.658537   333078
1240177   9.442857   131507
1239097   7.242857   131507
1828318   4.375000    21108

Exported as table. Sat Mar  4 15:02:42 2023


Desired aggregation methods applied to settlement level, year 2010. Sat Mar  4 15:02:42 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1295   127679         19.0  6.125082e+39  3.223727e+38  3.402823e+38
1312   127709         20.0  6.465365e+39  3.232682e+38  3.402823e+38
58        415         27.0  8.847341e+39  3.276793e+38  3.402823e+38
244     14030         60.0  2.007666e+40  3.346110e+38  3.402823e+38
84       2808         56.0  1.905581e+40  3.402823e+38  3.402823e+38
105      4120         41.0  1.361129e+40  3.319828e+38  3.402823e+38
1316   127726         32.0  1.054875e+40  3.296485e+38  3.402823e+38
272     14225         38.0  1.259045e+40  3.313275e+38  3.402823e+38
64       1266        228.0  7.758438e+40  3.402823e+38  3.402823e+38
1748   278354       1410.0  4.797981e+41  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1295  2.503007e+00     244.263158         19.0  6.125082e+39  3.223727e+38
1312  2.705493e+00     244.800000         20.0  6.465365e+39  3.232682e+38
58    2.816964e+00     247.333333         27.0  8.847341e+39  3.276793e+38
244   2.801186e+00     251.616667         60.0  2.007666e+40  3.346110e+38
84    3.402823e+38     255.000000         56.0  1.905581e+40  3.402823e+38
105   2.977050e+00     249.975610         41.0  1.361129e+40  3.319828e+38
1316  2.477730e+00     248.625000         32.0  1.054875e+40  3.296485e+38
272   2.891691e+00     249.605263         38.0  1.259045e+40  3.313275e+38
64    3.402823e+38     255.000000        228.0  7.758438e+40  3.402823e+38
1748  3.402823e+38     255.000000       1410.0  4.797981e+41  3.402823e+38

      ...  NTLsumD_2009  NTLavgD_2009  NTLmaxD_2009  NTLminD_2009  \
1295  ...      2.473684      2.473684      2.473684      2.473684
1312  ...           NaN           NaN           NaN           NaN
58    ...      3.000000      3.000000      3.000000      3.000000
244   ...      3.000000      3.000000      3.000000      3.000000
84    ...           NaN           NaN           NaN           NaN
105   ...      5.934289      2.967145      3.193548      2.740741
1316  ...           NaN           NaN           NaN           NaN
272   ...           NaN           NaN           NaN           NaN
64    ...      3.866667      3.866667      3.866667      3.866667
1748  ...      2.705882      2.705882      2.705882      2.705882

      NTLcfc_D_2009  NTLctD_2010  NTLsumD_2010  NTLavgD_2010  NTLmaxD_2010  \
1295           38.0          1.0      3.869565      3.869565      3.869565
1312           35.0          NaN           NaN           NaN           NaN
58             33.0          1.0      3.970588      3.970588      3.970588
244            32.0          1.0      4.642857      4.642857      4.642857
84              NaN          NaN           NaN           NaN           NaN
105            33.0          2.0      9.453841      4.726921      4.782609
1316           36.0          NaN           NaN           NaN           NaN
272            33.0          NaN           NaN           NaN           NaN
64              NaN          1.0      5.158730      5.158730      5.158730
1748            NaN          1.0      3.600000      3.600000      3.600000

      NTLminD_2010
1295      3.869565
1312           NaN
58        3.970588
244       4.642857
84             NaN
105       4.671233
1316           NaN
272            NaN
64        5.158730
1748      3.600000

[10 rows x 72 columns]
Loading data for Msk_D_2010_cfc.tif. Sat Mar  4 15:02:43 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2010. Sat Mar  4 15:02:46 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:02:49 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:02:49 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:02:49 2023

          Z  Sett_ID
1242315  71   131507
1176000  70   128076
1798427  69    22183
1724614  69    23416
1255139  68   131506
1621904  73    14235
1207038  74   127794
1036029  73   145226
1720476  67    38196
1621952  72    28286

Exported as table. Sat Mar  4 15:02:49 2023


Count of cloud-free observations averaged to settlement level, year 2010. Sat Mar  4 15:02:49 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1287   127647         21.0  6.805647e+39  3.240784e+38  3.402823e+38
745     33662          7.0  2.381976e+39  3.402823e+38  3.402823e+38
521     23318         46.0  1.361129e+40  2.958977e+38  3.402823e+38
825     37787        192.0  6.499393e+40  3.385100e+38  3.402823e+38
1520   145944         34.0  1.122932e+40  3.302740e+38  3.402823e+38
1168    65856         58.0  1.939609e+40  3.344154e+38  3.402823e+38
1231    91899       1309.0  4.447490e+41  3.397624e+38  3.402823e+38
842     37830         65.0  2.177807e+40  3.350472e+38  3.402823e+38
1158    65796        762.0  2.589549e+41  3.398358e+38  3.402823e+38
124      4166         25.0  8.166776e+39  3.266711e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1287  2.922685e+00     245.285714         21.0  6.805647e+39  3.240784e+38
745   3.402823e+38     255.000000          7.0  2.381976e+39  3.402823e+38
521   2.732558e+00     228.521739         46.0  1.361129e+40  2.958977e+38
825   2.787646e+00     253.921875        192.0  6.499393e+40  3.385100e+38
1520  2.895862e+00     249.088235         34.0  1.122932e+40  3.302740e+38
1168  2.838636e+00     251.482759         58.0  1.939609e+40  3.344154e+38
1231  3.043651e+00     254.689076       1309.0  4.447490e+41  3.397624e+38
842   2.768170e+00     251.846154         65.0  2.177807e+40  3.350472e+38
1158  2.698505e+00     254.732283        762.0  2.589549e+41  3.398358e+38
124   2.652195e+00     246.720000         25.0  8.166776e+39  3.266711e+38

      ...  NTLavgD_2009  NTLmaxD_2009  NTLminD_2009  NTLcfc_D_2009  \
1287  ...           NaN           NaN           NaN      40.000000
745   ...      2.864865      2.864865      2.864865            NaN
521   ...      3.680612      3.868421      3.410256      38.166667
825   ...      3.366667      3.366667      3.366667      32.000000
1520  ...           NaN           NaN           NaN      37.000000
1168  ...           NaN           NaN           NaN      27.000000
1231  ...      2.774194      2.774194      2.774194      31.500000
842   ...           NaN           NaN           NaN      34.000000
1158  ...           NaN           NaN           NaN      34.000000
124   ...      3.633333      3.633333      3.633333      30.000000

      NTLctD_2010  NTLsumD_2010  NTLavgD_2010  NTLmaxD_2010  NTLminD_2010  \
1287          NaN           NaN           NaN           NaN           NaN
745           1.0      3.890411      3.890411      3.890411      3.890411
521           3.0     13.569659      4.523220      4.746269      4.171875
825           1.0      4.421875      4.421875      4.421875      4.421875
1520          NaN           NaN           NaN           NaN           NaN
1168          NaN           NaN           NaN           NaN           NaN
1231          1.0      4.156250      4.156250      4.156250      4.156250
842           NaN           NaN           NaN           NaN           NaN
1158          NaN           NaN           NaN           NaN           NaN
124           1.0      4.000000      4.000000      4.000000      4.000000

      NTLcfc_D_2010
1287      66.000000
745             NaN
521       68.333333
825       67.000000
1520      73.000000
1168      66.000000
1231      66.500000
842       69.000000
1158      66.000000
124       68.000000

[10 rows x 73 columns]
Loading data for Msk_D_2011_avg.tif. Sat Mar  4 15:02:49 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2011. Sat Mar  4 15:02:53 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:02:56 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:02:56 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:02:56 2023

          Z  Sett_ID
1828309   6    21075
1610162   4    14339
1241250   9   131507
1266181   3   170456
1262641   4   131889
1690515   7    47551
1095170  10   186498
1613342   4    14303
1721429   6    35033
1681812   4    25382

Exported as table. Sat Mar  4 15:02:56 2023


Desired aggregation methods applied to settlement level, year 2011. Sat Mar  4 15:02:56 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
873     37964         32.0  1.020847e+40  3.190147e+38  3.402823e+38
796     35064         69.0  2.313920e+40  3.353507e+38  3.402823e+38
1045    47772         41.0  1.361129e+40  3.319828e+38  3.402823e+38
512     22279         44.0  1.497242e+40  3.402823e+38  3.402823e+38
1557   146187         15.0  4.763953e+39  3.175969e+38  3.402823e+38
1316   127726         32.0  1.054875e+40  3.296485e+38  3.402823e+38
81       2717         71.0  2.416005e+40  3.402823e+38  3.402823e+38
1183    68035         97.0  3.300739e+40  3.402823e+38  3.402823e+38
317     14359          5.0  1.020847e+39  2.041694e+38  3.402823e+38
772     33727         34.0  1.122932e+40  3.302740e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
873   2.710858e+00     242.250000         32.0  1.020847e+40  3.190147e+38
796   2.646062e+00     252.028986         69.0  2.313920e+40  3.353507e+38
1045  2.888528e+00     249.975610         41.0  1.361129e+40  3.319828e+38
512   3.402823e+38     255.000000         44.0  1.497242e+40  3.402823e+38
1557  2.665424e+00     241.666667         15.0  4.763953e+39  3.175969e+38
1316  2.477730e+00     248.625000         32.0  1.054875e+40  3.296485e+38
81    3.402823e+38     255.000000         71.0  2.416005e+40  3.402823e+38
1183  3.402823e+38     255.000000         97.0  3.300739e+40  3.402823e+38
317   2.863071e+00     173.400000          5.0  1.020847e+39  2.041694e+38
772   2.926984e+00     249.117647         34.0  1.122932e+40  3.302740e+38

      ...  NTLsumD_2010  NTLavgD_2010  NTLmaxD_2010  NTLminD_2010  \
873   ...      8.089489      4.044744      4.136364      3.953125
796   ...           NaN           NaN           NaN           NaN
1045  ...           NaN           NaN           NaN           NaN
512   ...      7.485294      3.742647      3.794118      3.691176
1557  ...      3.753623      3.753623      3.753623      3.753623
1316  ...           NaN           NaN           NaN           NaN
81    ...      4.539682      4.539682      4.539682      4.539682
1183  ...      4.093333      4.093333      4.093333      4.093333
317   ...      8.771873      4.385936      4.434210      4.337662
772   ...           NaN           NaN           NaN           NaN

      NTLcfc_D_2010  NTLctD_2011  NTLsumD_2011  NTLavgD_2011  NTLmaxD_2011  \
873            68.5          2.0           7.0           3.5           4.0
796            72.0          1.0           4.0           4.0           4.0
1045           65.0          1.0           4.0           4.0           4.0
512             NaN          NaN           NaN           NaN           NaN
1557           70.0          1.0           3.0           3.0           3.0
1316           72.0          1.0           4.0           4.0           4.0
81              NaN          NaN           NaN           NaN           NaN
1183            NaN          NaN           NaN           NaN           NaN
317            77.5          2.0           8.0           4.0           4.0
772            71.0          1.0           4.0           4.0           4.0

      NTLminD_2011
873            3.0
796            4.0
1045           4.0
512            NaN
1557           3.0
1316           4.0
81             NaN
1183           NaN
317            4.0
772            4.0

[10 rows x 78 columns]
Loading data for Msk_D_2011_cfc.tif. Sat Mar  4 15:02:56 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2011. Sat Mar  4 15:02:59 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:03:02 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:03:02 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:03:02 2023

          Z  Sett_ID
1539803  70    42980
1231293  80   107505
1009314  82   249167
1702377  62    42595
1788894  61    37954
1218776  70   127742
1261569  68   131507
1281912  66    68400
1721320  63     4090
1017857  84   248892

Exported as table. Sat Mar  4 15:03:02 2023


Count of cloud-free observations averaged to settlement level, year 2011. Sat Mar  4 15:03:02 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1799   325667         98.0  3.334767e+40  3.402823e+38  3.402823e+38
1044    47766        270.0  9.153595e+40  3.390220e+38  3.402823e+38
1692   248792       1425.0  4.828606e+41  3.388496e+38  3.402823e+38
1561   146196          3.0  1.020847e+39  3.402823e+38  3.402823e+38
900     38062         25.0  8.166776e+39  3.266711e+38  3.402823e+38
1764   278826        473.0  1.606133e+41  3.395629e+38  3.402823e+38
1763   278790        239.0  8.132748e+40  3.402823e+38  3.402823e+38
535     23365         17.0  5.444518e+39  3.202657e+38  3.402823e+38
575     24173          1.0  3.402823e+38  3.402823e+38  3.402823e+38
46        322        252.0  8.575115e+40  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1799  3.402823e+38     255.000000         98.0  3.334767e+40  3.402823e+38
1044  2.986151e+00     254.240741        270.0  9.153595e+40  3.390220e+38
1692  2.947593e+00     254.144561       1425.0  4.828606e+41  3.388496e+38
1561  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
900   2.958711e+00     246.760000         25.0  8.166776e+39  3.266711e+38
1764  2.598780e+00     254.568710        473.0  1.606133e+41  3.395629e+38
1763  3.402823e+38     255.000000        239.0  8.132748e+40  3.402823e+38
535   2.765110e+00     242.882353         17.0  5.444518e+39  3.202657e+38
575   3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
46    3.402823e+38     255.000000        252.0  8.575115e+40  3.402823e+38

      ...  NTLavgD_2010  NTLmaxD_2010  NTLminD_2010  NTLcfc_D_2010  \
1799  ...           NaN           NaN           NaN            NaN
1044  ...      3.955882      3.955882      3.955882      70.000000
1692  ...      5.167335      5.463768      4.676056      72.333333
1561  ...      4.000000      4.000000      4.000000            NaN
900   ...           NaN           NaN           NaN      69.000000
1764  ...           NaN           NaN           NaN      72.000000
1763  ...           NaN           NaN           NaN            NaN
535   ...     10.241380     10.241380     10.241380      70.000000
575   ...           NaN           NaN           NaN            NaN
46    ...      4.591549      4.591549      4.591549            NaN

      NTLctD_2011  NTLsumD_2011  NTLavgD_2011  NTLmaxD_2011  NTLminD_2011  \
1799          NaN           NaN           NaN           NaN           NaN
1044          1.0           4.0      4.000000           4.0           4.0
1692          6.0         137.0     22.833333          26.0          15.0
1561          NaN           NaN           NaN           NaN           NaN
900           1.0           4.0      4.000000           4.0           4.0
1764          1.0           3.0      3.000000           3.0           3.0
1763          NaN           NaN           NaN           NaN           NaN
535           1.0           6.0      6.000000           6.0           6.0
575           NaN           NaN           NaN           NaN           NaN
46            NaN           NaN           NaN           NaN           NaN

      NTLcfc_D_2011
1799            NaN
1044           72.0
1692           87.5
1561            NaN
900            68.0
1764           72.0
1763            NaN
535            64.0
575             NaN
46              NaN

[10 rows x 79 columns]
Loading data for Msk_D_2012_avg.tif. Sat Mar  4 15:03:02 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2012. Sat Mar  4 15:03:06 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:03:09 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:03:09 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:03:09 2023

                 Z  Sett_ID
1243378  56.808220   131507
1262323   4.516129   107503
1245515  62.743244   131507
1655332  10.209678    42500
1610132   3.565217    17085
1249796  52.837837   131507
1240179  18.594202   131507
1741842   3.854839    38144
1247649  38.013699   131507
1035090  11.186440   255879

Exported as table. Sat Mar  4 15:03:09 2023


Desired aggregation methods applied to settlement level, year 2012. Sat Mar  4 15:03:09 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1883   337978          1.0  3.402823e+38  3.402823e+38  3.402823e+38
545     23386         19.0  6.125082e+39  3.223727e+38  3.402823e+38
1252    98000       8220.0  2.796440e+42  3.401996e+38  3.402823e+38
154      4777          1.0  3.402823e+38  3.402823e+38  3.402823e+38
1452   131869         11.0  3.743106e+39  3.402823e+38  3.402823e+38
1444   131848         57.0  1.905581e+40  3.343125e+38  3.402823e+38
1000    42980       4950.0  1.683717e+42  3.401449e+38  3.402823e+38
1811   333078        152.0  4.934094e+40  3.246114e+38  3.402823e+38
1674   237148         30.0  1.020847e+40  3.402823e+38  3.402823e+38
1517   145927         30.0  1.020847e+40  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1883  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
545   2.664729e+00     244.368421         19.0  6.125082e+39  3.223727e+38
1252  2.410920e+00     254.949878       8220.0  2.796440e+42  3.401996e+38
154   3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
1452  3.402823e+38     255.000000         11.0  3.743106e+39  3.402823e+38
1444  2.445344e+00     251.368421         57.0  1.905581e+40  3.343125e+38
1000  2.429455e+00     254.916970       4950.0  1.683717e+42  3.401449e+38
1811  3.459434e+00     246.118421        152.0  4.934094e+40  3.246114e+38
1674  3.402823e+38     255.000000         30.0  1.020847e+40  3.402823e+38
1517  3.402823e+38     255.000000         30.0  1.020847e+40  3.402823e+38

      ...  NTLsumD_2011  NTLavgD_2011  NTLmaxD_2011  NTLminD_2011  \
1883  ...           NaN           NaN           NaN           NaN
545   ...           4.0      4.000000           4.0           4.0
1252  ...           6.0      3.000000           3.0           3.0
154   ...           NaN           NaN           NaN           NaN
1452  ...           NaN           NaN           NaN           NaN
1444  ...           4.0      4.000000           4.0           4.0
1000  ...           8.0      4.000000           4.0           4.0
1811  ...          48.0      6.857143           9.0           5.0
1674  ...           NaN           NaN           NaN           NaN
1517  ...           NaN           NaN           NaN           NaN

      NTLcfc_D_2011  NTLctD_2012  NTLsumD_2012  NTLavgD_2012  NTLmaxD_2012  \
1883            NaN          NaN           NaN           NaN           NaN
545            66.0          1.0      4.265625      4.265625      4.265625
1252           78.5          2.0      7.092308      3.546154      3.630769
154             NaN          NaN           NaN           NaN           NaN
1452            NaN          NaN           NaN           NaN           NaN
1444           66.0          1.0      3.791667      3.791667      3.791667
1000           68.0          2.0      8.000000      4.000000      4.031250
1811           81.0          7.0     54.535496      7.790785      9.533334
1674            NaN          NaN           NaN           NaN           NaN
1517            NaN          NaN           NaN           NaN           NaN

      NTLminD_2012
1883           NaN
545       4.265625
1252      3.461539
154            NaN
1452           NaN
1444      3.791667
1000      3.968750
1811      6.148649
1674           NaN
1517           NaN

[10 rows x 84 columns]
Loading data for Msk_D_2012_cfc.tif. Sat Mar  4 15:03:09 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2012. Sat Mar  4 15:03:13 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:03:16 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:03:16 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:03:16 2023

          Z   Sett_ID
1659611  63     42500
1731030  69     23406
1298989  77    131722
1723620  60     33673
1616544  67     14280
1614490  68  21474836
1595080  63     56169
1007802  42    278765
1566312  64     60426
1729994  63     35079

Exported as table. Sat Mar  4 15:03:16 2023


Count of cloud-free observations averaged to settlement level, year 2012. Sat Mar  4 15:03:16 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1235    91946        539.0  1.834122e+41  3.402823e+38  3.402823e+38
1714   249177         97.0  3.266711e+40  3.367743e+38  3.402823e+38
494     22208         22.0  7.486212e+39  3.402823e+38  3.402823e+38
100      4108         88.0  2.960456e+40  3.364155e+38  3.402823e+38
377     15488          NaN           NaN           NaN           NaN
374     15464          2.0  6.805647e+38  3.402823e+38  3.402823e+38
712     32833         30.0  9.187623e+39  3.062541e+38  3.402823e+38
915     38133        117.0  3.981303e+40  3.402823e+38  3.402823e+38
845     37854         29.0  9.527906e+39  3.285485e+38  3.402823e+38
1103    54862        114.0  3.879219e+40  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1235  3.402823e+38     255.000000        539.0  1.834122e+41  3.402823e+38
1714  2.777083e+00     252.927835         97.0  3.266711e+40  3.367743e+38
494   3.402823e+38     255.000000         22.0  7.486212e+39  3.402823e+38
100   2.888232e+00     252.625000         88.0  2.960456e+40  3.364155e+38
377            NaN            NaN          NaN           NaN           NaN
374   3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
712   2.432638e+00     234.500000         30.0  9.187623e+39  3.062541e+38
915   3.402823e+38     255.000000        117.0  3.981303e+40  3.402823e+38
845   2.954918e+00     248.034483         29.0  9.527906e+39  3.285485e+38
1103  3.402823e+38     255.000000        114.0  3.879219e+40  3.402823e+38

      ...  NTLavgD_2011  NTLmaxD_2011  NTLminD_2011  NTLcfc_D_2011  \
1235  ...           NaN           NaN           NaN            NaN
1714  ...           3.0           3.0           3.0      83.000000
494   ...           NaN           NaN           NaN            NaN
100   ...           5.0           5.0           5.0      62.000000
377   ...           NaN           NaN           NaN            NaN
374   ...           NaN           NaN           NaN            NaN
712   ...           4.0           4.0           4.0      62.333333
915   ...           NaN           NaN           NaN            NaN
845   ...           5.0           5.0           5.0      64.000000
1103  ...           NaN           NaN           NaN            NaN

      NTLctD_2012  NTLsumD_2012  NTLavgD_2012  NTLmaxD_2012  NTLminD_2012  \
1235          NaN           NaN           NaN           NaN           NaN
1714          1.0      3.597015      3.597015      3.597015      3.597015
494           NaN           NaN           NaN           NaN           NaN
100           1.0      4.281250      4.281250      4.281250      4.281250
377           NaN           NaN           NaN           NaN           NaN
374           NaN           NaN           NaN           NaN           NaN
712           3.0     11.293965      3.764655      3.985075      3.652174
915           NaN           NaN           NaN           NaN           NaN
845           1.0      3.721312      3.721312      3.721312      3.721312
1103          NaN           NaN           NaN           NaN           NaN

      NTLcfc_D_2012
1235            NaN
1714      67.000000
494             NaN
100       64.000000
377             NaN
374             NaN
712       67.666667
915             NaN
845       66.000000
1103            NaN

[10 rows x 85 columns]
Loading data for Msk_D_2013_avg.tif. Sat Mar  4 15:03:16 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2013. Sat Mar  4 15:03:20 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:03:23 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:03:23 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:03:23 2023

                 Z  Sett_ID
1064972   3.805970   252849
1082424   3.621212   262862
1740583  17.577465     4096
1857061   6.982456        2
1036029   5.493333   145226
1649876   3.706667    47835
1734170   4.851351     4096
1616582   4.027027    14426
1617664   3.840580    32849
1246594  41.191177   131507

Exported as table. Sat Mar  4 15:03:23 2023


Desired aggregation methods applied to settlement level, year 2013. Sat Mar  4 15:03:23 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1236    91950       1759.0  5.982164e+41  3.400889e+38  3.402823e+38
580     25033          5.0  1.701412e+39  3.402823e+38  3.402823e+38
107      4125         45.0  1.531271e+40  3.402823e+38  3.402823e+38
109      4137         37.0  1.225016e+40  3.310855e+38  3.402823e+38
1931   338687         45.0  1.531271e+40  3.402823e+38  3.402823e+38
140      4226         39.0  1.259045e+40  3.228320e+38  3.402823e+38
391     18123        302.0  1.024250e+41  3.391556e+38  3.402823e+38
589     25093         58.0  1.973638e+40  3.402823e+38  3.402823e+38
1099    51804        135.0  4.593812e+40  3.402823e+38  3.402823e+38
1574   152037        703.0  2.392185e+41  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1236  3.012881e+00     254.883457       1759.0  5.982164e+41  3.400889e+38
580   3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
107   3.402823e+38     255.000000         45.0  1.531271e+40  3.402823e+38
109   2.707983e+00     249.432432         37.0  1.225016e+40  3.310855e+38
1931  3.402823e+38     255.000000         45.0  1.531271e+40  3.402823e+38
140   2.818880e+00     244.487179         39.0  1.259045e+40  3.228320e+38
391   3.003672e+00     254.327815        302.0  1.024250e+41  3.391556e+38
589   3.402823e+38     255.000000         58.0  1.973638e+40  3.402823e+38
1099  3.402823e+38     255.000000        135.0  4.593812e+40  3.402823e+38
1574  3.402823e+38     255.000000        703.0  2.392185e+41  3.402823e+38

      ...  NTLsumD_2012  NTLavgD_2012  NTLmaxD_2012  NTLminD_2012  \
1236  ...      3.920635      3.920635      3.920635      3.920635
580   ...           NaN           NaN           NaN           NaN
107   ...           NaN           NaN           NaN           NaN
109   ...      3.802817      3.802817      3.802817      3.802817
1931  ...           NaN           NaN           NaN           NaN
140   ...      7.887784      3.943892      4.090909      3.796875
391   ...      3.846154      3.846154      3.846154      3.846154
589   ...           NaN           NaN           NaN           NaN
1099  ...           NaN           NaN           NaN           NaN
1574  ...           NaN           NaN           NaN           NaN

      NTLcfc_D_2012  NTLctD_2013  NTLsumD_2013  NTLavgD_2013  NTLmaxD_2013  \
1236           68.0          1.0      4.358209      4.358209      4.358209
580             NaN          NaN           NaN           NaN           NaN
107             NaN          NaN           NaN           NaN           NaN
109            72.0          1.0      3.904109      3.904109      3.904109
1931            NaN          NaN           NaN           NaN           NaN
140            68.0          2.0      9.074317      4.537158      4.540984
391            67.0          1.0      3.828571      3.828571      3.828571
589             NaN          NaN           NaN           NaN           NaN
1099            NaN          NaN           NaN           NaN           NaN
1574            NaN          NaN           NaN           NaN           NaN

      NTLminD_2013
1236      4.358209
580            NaN
107            NaN
109       3.904109
1931           NaN
140       4.533333
391       3.828571
589            NaN
1099           NaN
1574           NaN

[10 rows x 90 columns]
Loading data for Msk_D_2013_cfc.tif. Sat Mar  4 15:03:23 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2013. Sat Mar  4 15:03:26 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:03:29 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:03:29 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:03:29 2023

          Z  Sett_ID
1711720  72     4210
1266910  74   131506
1788894  60    37954
1859314  72    21083
1210240  74   127628
1226273  78   128078
1255138  73   337895
1763074  68    21078
455996   79   333078
1640061  75    14114

Exported as table. Sat Mar  4 15:03:29 2023


Count of cloud-free observations averaged to settlement level, year 2013. Sat Mar  4 15:03:29 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1829   333873     167462.0  5.698402e+43  3.402803e+38  3.402823e+38
1670   237128         28.0  9.527906e+39  3.402823e+38  3.402823e+38
1784   302421        335.0  1.139946e+41  3.402823e+38  3.402823e+38
722     32864          4.0  1.361129e+39  3.402823e+38  3.402823e+38
1140    60701         63.0  2.109751e+40  3.348810e+38  3.402823e+38
929     38186         48.0  1.599327e+40  3.331931e+38  3.402823e+38
764     33707         30.0  9.868188e+39  3.289396e+38  3.402823e+38
1384   129628          1.0  3.402823e+38  3.402823e+38  3.402823e+38
1048    47792        364.0  1.235225e+41  3.393475e+38  3.402823e+38
1281   127634         55.0  1.837525e+40  3.340954e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1829  3.007112e+00     254.998830     167462.0  5.698402e+43  3.402803e+38
1670  3.402823e+38     255.000000         28.0  9.527906e+39  3.402823e+38
1784  3.402823e+38     255.000000        335.0  1.139946e+41  3.402823e+38
722   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
1140  2.847893e+00     251.777778         63.0  2.109751e+40  3.348810e+38
929   2.805263e+00     250.708333         48.0  1.599327e+40  3.331931e+38
764   2.830821e+00     248.166667         30.0  9.868188e+39  3.289396e+38
1384  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
1048  2.956897e+00     254.436813        364.0  1.235225e+41  3.393475e+38
1281  2.415237e+00     251.363636         55.0  1.837525e+40  3.340954e+38

      ...  NTLavgD_2012  NTLmaxD_2012  NTLminD_2012  NTLcfc_D_2012  \
1829  ...      3.493151      3.493151      3.493151           73.0
1670  ...           NaN           NaN           NaN            NaN
1784  ...           NaN           NaN           NaN            NaN
722   ...           NaN           NaN           NaN            NaN
1140  ...      4.047619      4.047619      4.047619           64.0
929   ...      4.000000      4.000000      4.000000           59.0
764   ...      3.750000      3.750000      3.750000           60.0
1384  ...           NaN           NaN           NaN            NaN
1048  ...      3.903846      3.903846      3.903846           58.0
1281  ...      4.219178      4.219178      4.219178           73.0

      NTLctD_2013  NTLsumD_2013  NTLavgD_2013  NTLmaxD_2013  NTLminD_2013  \
1829          1.0      3.714286      3.714286      3.714286      3.714286
1670          NaN           NaN           NaN           NaN           NaN
1784          NaN           NaN           NaN           NaN           NaN
722           NaN           NaN           NaN           NaN           NaN
1140          1.0      3.943662      3.943662      3.943662      3.943662
929           1.0      4.047619      4.047619      4.047619      4.047619
764           1.0      3.855072      3.855072      3.855072      3.855072
1384          NaN           NaN           NaN           NaN           NaN
1048          1.0      4.426471      4.426471      4.426471      4.426471
1281          1.0      3.697368      3.697368      3.697368      3.697368

      NTLcfc_D_2013
1829           77.0
1670            NaN
1784            NaN
722             NaN
1140           72.0
929            63.0
764            69.0
1384            NaN
1048           73.0
1281           76.0

[10 rows x 91 columns]
Loading data for Msk_V_2012_avg.tif. Sat Mar  4 15:03:30 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2012. Sat Mar  4 15:03:45 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:03:55 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:03:55 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:03:56 2023

                 Z  Sett_ID
5002999   7.754341   131507
6896785   0.511719    35033
4921119   1.149692   107505
4042669   1.894869   278172
4981592   3.031257   131507
6960712   1.595811     4096
4998716  10.446504   131507
7315589   0.025682    21075
6903200   0.129424    35033
6952167   1.045245     4096

Exported as table. Sat Mar  4 15:03:56 2023


Desired aggregation methods applied to settlement level, year 2012. Sat Mar  4 15:03:56 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1715   249199       1041.0  3.538936e+41  3.399555e+38  3.402823e+38
272     14225         38.0  1.259045e+40  3.313275e+38  3.402823e+38
1571   152034       1682.0  5.709938e+41  3.394731e+38  3.402823e+38
235     13925         74.0  2.518089e+40  3.402823e+38  3.402823e+38
1855   337892          NaN           NaN           NaN           NaN
71       2581          5.0  1.701412e+39  3.402823e+38  3.402823e+38
150      4623          4.0  1.361129e+39  3.402823e+38  3.402823e+38
956     40685         10.0  3.062541e+39  3.062541e+38  3.402823e+38
1101    54649        623.0  2.116556e+41  3.397361e+38  3.402823e+38
1570   152032       6228.0  2.118258e+42  3.401184e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1715  2.567091e+00     254.806916       1041.0  3.538936e+41  3.399555e+38
272   2.891691e+00     249.605263         38.0  1.259045e+40  3.313275e+38
1571  2.667847e+00     254.521403       1682.0  5.709938e+41  3.394731e+38
235   3.402823e+38     255.000000         74.0  2.518089e+40  3.402823e+38
1855           NaN            NaN          NaN           NaN           NaN
71    3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
150   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
956   3.151437e+00     234.600000         10.0  3.062541e+39  3.062541e+38
1101  2.584770e+00     254.677368        623.0  2.116556e+41  3.397361e+38
1570  3.472222e+00     254.902858       6228.0  2.118258e+42  3.401184e+38

      ...  NTLsumD_2013  NTLavgD_2013  NTLmaxD_2013  NTLminD_2013  \
1715  ...      3.671053      3.671053      3.671053      3.671053
272   ...      3.730159      3.730159      3.730159      3.730159
1571  ...     16.036619      4.009155      4.351351      3.581081
235   ...           NaN           NaN           NaN           NaN
1855  ...           NaN           NaN           NaN           NaN
71    ...           NaN           NaN           NaN           NaN
150   ...           NaN           NaN           NaN           NaN
956   ...      4.409836      4.409836      4.409836      4.409836
1101  ...      3.515152      3.515152      3.515152      3.515152
1570  ...     18.058345      6.019448      6.757576      5.149254

      NTLcfc_D_2013  NTLctV_2012  NTLsumV_2012  NTLavgV_2012  NTLmaxV_2012  \
1715           76.0          NaN           NaN           NaN           NaN
272            66.0          NaN           NaN           NaN           NaN
1571           73.0          NaN           NaN           NaN           NaN
235             NaN          NaN           NaN           NaN           NaN
1855            NaN          NaN           NaN           NaN           NaN
71              NaN          2.0      7.514254      3.757127      4.347252
150             NaN          NaN           NaN           NaN           NaN
956            66.0          NaN           NaN           NaN           NaN
1101           67.0          NaN           NaN           NaN           NaN
1570           67.0          NaN           NaN           NaN           NaN

      NTLminV_2012
1715           NaN
272            NaN
1571           NaN
235            NaN
1855           NaN
71        3.167001
150            NaN
956            NaN
1101           NaN
1570           NaN

[10 rows x 96 columns]
Loading data for Msk_V_2012_cfc.tif. Sat Mar  4 15:03:56 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2012. Sat Mar  4 15:04:09 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:04:20 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:04:20 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:04:21 2023

          Z  Sett_ID
6550351  29    13874
4776607  48   128050
6903198  30    35033
6627317  26    32872
6223385  24    60382
4631043  53   127642
6650988  34    28293
6798310  33     4281
6492614  25    14226
5971132  25    60885

Exported as table. Sat Mar  4 15:04:21 2023


Count of cloud-free observations averaged to settlement level, year 2012. Sat Mar  4 15:04:21 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
580     25033          5.0  1.701412e+39  3.402823e+38  3.402823e+38
603     25402         32.0  1.054875e+40  3.296485e+38  3.402823e+38
935     38201        181.0  6.022998e+40  3.327623e+38  3.402823e+38
1464   131926         64.0  2.177807e+40  3.402823e+38  3.402823e+38
551     23400         56.0  1.905581e+40  3.402823e+38  3.402823e+38
342     14403        114.0  3.845191e+40  3.372974e+38  3.402823e+38
1140    60701         63.0  2.109751e+40  3.348810e+38  3.402823e+38
1055    48054        119.0  4.015332e+40  3.374228e+38  3.402823e+38
1237    91955       4657.0  1.584355e+42  3.402093e+38  3.402823e+38
909     38114         43.0  1.463214e+40  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
580   3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
603   2.758838e+00     248.625000         32.0  1.054875e+40  3.296485e+38
935   2.848741e+00     250.519337        181.0  6.022998e+40  3.327623e+38
1464  3.402823e+38     255.000000         64.0  2.177807e+40  3.402823e+38
551   3.402823e+38     255.000000         56.0  1.905581e+40  3.402823e+38
342   3.016420e+00     253.219298        114.0  3.845191e+40  3.372974e+38
1140  2.847893e+00     251.777778         63.0  2.109751e+40  3.348810e+38
1055  2.767857e+00     253.277311        119.0  4.015332e+40  3.374228e+38
1237  2.954879e+00     254.955980       4657.0  1.584355e+42  3.402093e+38
909   3.402823e+38     255.000000         43.0  1.463214e+40  3.402823e+38

      ...  NTLavgD_2013  NTLmaxD_2013  NTLminD_2013  NTLcfc_D_2013  \
580   ...           NaN           NaN           NaN            NaN
603   ...      3.915493      3.915493      3.915493           71.0
935   ...      3.982243      4.042253      3.915493           73.0
1464  ...           NaN           NaN           NaN            NaN
551   ...           NaN           NaN           NaN            NaN
342   ...      3.768116      3.768116      3.768116           71.0
1140  ...      3.943662      3.943662      3.943662           72.0
1055  ...      4.153846      4.153846      4.153846           66.0
1237  ...      4.475410      4.475410      4.475410           64.0
909   ...           NaN           NaN           NaN            NaN

      NTLctV_2012  NTLsumV_2012  NTLavgV_2012  NTLmaxV_2012  NTLminV_2012  \
580           1.0      3.906188      3.906188      3.906188      3.906188
603           NaN           NaN           NaN           NaN           NaN
935           NaN           NaN           NaN           NaN           NaN
1464          NaN           NaN           NaN           NaN           NaN
551           NaN           NaN           NaN           NaN           NaN
342           NaN           NaN           NaN           NaN           NaN
1140          NaN           NaN           NaN           NaN           NaN
1055          NaN           NaN           NaN           NaN           NaN
1237          NaN           NaN           NaN           NaN           NaN
909           NaN           NaN           NaN           NaN           NaN

      NTLcfc_V_2012
580       31.000000
603       33.750000
935       34.666667
1464      44.000000
551       33.000000
342       21.400000
1140      28.666667
1055      33.000000
1237      34.250000
909       31.000000

[10 rows x 97 columns]
Loading data for Msk_V_2013_avg.tif. Sat Mar  4 15:04:21 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2013. Sat Mar  4 15:04:36 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:04:47 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:04:47 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:04:47 2023

                 Z  Sett_ID
4966659   1.410204   131507
4821345  60.206497   127794
7056953   0.385291    21632
4981614  19.205040   131507
5017946   0.871938   131506
4996588   0.719036   131507
4998706   5.409372   131507
4977349   3.330688   131507
2816508   2.330354   349427
7003571   1.387360    23769

Exported as table. Sat Mar  4 15:04:47 2023


Desired aggregation methods applied to settlement level, year 2013. Sat Mar  4 15:04:47 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1686   239384        118.0  4.015332e+40  3.402823e+38  3.402823e+38
655     28558          4.0  1.361129e+39  3.402823e+38  3.402823e+38
1318   127742         40.0  1.327101e+40  3.317753e+38  3.402823e+38
1869   337924          NaN           NaN           NaN           NaN
147      4299         44.0  1.259045e+40  2.861465e+38  3.402823e+38
1371   128711         21.0  7.145929e+39  3.402823e+38  3.402823e+38
1450   131864         52.0  1.769468e+40  3.402823e+38  3.402823e+38
19         97        151.0  5.138263e+40  3.402823e+38  3.402823e+38
1575   152038       1475.0  5.012359e+41  3.398209e+38  3.402823e+38
831     37793         41.0  1.361129e+40  3.319828e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1686  3.402823e+38     255.000000        118.0  4.015332e+40  3.402823e+38
655   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
1318  2.526897e+00     249.975000         40.0  1.327101e+40  3.317753e+38
1869           NaN            NaN          NaN           NaN           NaN
147   3.102657e+00     222.568182         44.0  1.259045e+40  2.861465e+38
1371  3.402823e+38     255.000000         21.0  7.145929e+39  3.402823e+38
1450  3.402823e+38     255.000000         52.0  1.769468e+40  3.402823e+38
19    3.402823e+38     255.000000        151.0  5.138263e+40  3.402823e+38
1575  2.575521e+00     254.726102       1475.0  5.012359e+41  3.398209e+38
831   3.303429e+00     250.024390         41.0  1.361129e+40  3.319828e+38

      ...  NTLsumV_2012  NTLavgV_2012  NTLmaxV_2012  NTLminV_2012  \
1686  ...           NaN           NaN           NaN           NaN
655   ...           NaN           NaN           NaN           NaN
1318  ...           NaN           NaN           NaN           NaN
1869  ...           NaN           NaN           NaN           NaN
147   ...      0.886245      0.126606       0.34601      0.007478
1371  ...           NaN           NaN           NaN           NaN
1450  ...           NaN           NaN           NaN           NaN
19    ...           NaN           NaN           NaN           NaN
1575  ...           NaN           NaN           NaN           NaN
831   ...           NaN           NaN           NaN           NaN

      NTLcfc_V_2012  NTLctV_2013  NTLsumV_2013  NTLavgV_2013  NTLmaxV_2013  \
1686      62.000000          NaN           NaN           NaN           NaN
655             NaN          NaN           NaN           NaN           NaN
1318      50.000000          NaN           NaN           NaN           NaN
1869            NaN          NaN           NaN           NaN           NaN
147       32.600000          7.0      1.824375      0.260625      0.551477
1371            NaN          NaN           NaN           NaN           NaN
1450      42.000000          NaN           NaN           NaN           NaN
19        29.500000          NaN           NaN           NaN           NaN
1575      51.833333          NaN           NaN           NaN           NaN
831       30.285714          NaN           NaN           NaN           NaN

      NTLminV_2013
1686           NaN
655            NaN
1318           NaN
1869           NaN
147       0.101116
1371           NaN
1450           NaN
19             NaN
1575           NaN
831            NaN

[10 rows x 102 columns]
Loading data for Msk_V_2013_cfc.tif. Sat Mar  4 15:04:47 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2013. Sat Mar  4 15:05:00 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:05:11 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:05:11 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:05:12 2023

           Z  Sett_ID
5851495   80    60383
4036270  125   278172
6990560   62     4148
5061418   92   170082
7039860   61    21078
6715525   64    42498
3327112  159   325425
6561042   67    15467
4838900  103   152036
6659332   64    14678

Exported as table. Sat Mar  4 15:05:12 2023


Count of cloud-free observations averaged to settlement level, year 2013. Sat Mar  4 15:05:12 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1870   337925          1.0  3.165414e+00  3.165414e+00  3.165414e+00
1576   152196       2218.0  7.544060e+41  3.401289e+38  3.402823e+38
1115    56147       1736.0  5.886885e+41  3.391063e+38  3.402823e+38
1700   249139          7.0  2.381976e+39  3.402823e+38  3.402823e+38
325     14372          5.0  1.701412e+39  3.402823e+38  3.402823e+38
793     35034        154.0  5.172292e+40  3.358631e+38  3.402823e+38
387     17085          3.0  6.805647e+38  2.268549e+38  3.402823e+38
1321   127762         69.0  2.347948e+40  3.402823e+38  3.402823e+38
319     14364          1.0  2.831960e+00  2.831960e+00  2.831960e+00
1498   137968        189.0  6.431336e+40  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1870  3.165414e+00      48.000000          1.0  4.322711e+00  4.322711e+00
1576  2.820693e+00     254.908927       2218.0  7.544060e+41  3.401289e+38
1115  2.976050e+00     254.300115       1736.0  5.886885e+41  3.391063e+38
1700  3.402823e+38     255.000000          7.0  2.381976e+39  3.402823e+38
325   3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
793   2.786253e+00     252.318182        154.0  5.172292e+40  3.358631e+38
387   2.954734e+00     187.000000          3.0  6.805647e+38  2.268549e+38
1321  3.402823e+38     255.000000         69.0  2.347948e+40  3.402823e+38
319   2.831960e+00      48.000000          1.0  2.929653e+00  2.929653e+00
1498  3.402823e+38     255.000000        189.0  6.431336e+40  3.402823e+38

      ...  NTLavgV_2012  NTLmaxV_2012  NTLminV_2012  NTLcfc_V_2012  \
1870  ...      0.566186      0.720481      0.409195      40.666667
1576  ...           NaN           NaN           NaN      42.500000
1115  ...           NaN           NaN           NaN      32.291667
1700  ...           NaN           NaN           NaN      57.000000
325   ...           NaN           NaN           NaN      21.000000
793   ...           NaN           NaN           NaN      36.666667
387   ...           NaN           NaN           NaN      27.000000
1321  ...           NaN           NaN           NaN      46.000000
319   ...           NaN           NaN           NaN      21.000000
1498  ...           NaN           NaN           NaN      50.000000

      NTLctV_2013  NTLsumV_2013  NTLavgV_2013  NTLmaxV_2013  NTLminV_2013  \
1870          3.0      1.891805      0.630602      0.708088      0.488076
1576          NaN           NaN           NaN           NaN           NaN
1115          NaN           NaN           NaN           NaN           NaN
1700          NaN           NaN           NaN           NaN           NaN
325           NaN           NaN           NaN           NaN           NaN
793           NaN           NaN           NaN           NaN           NaN
387           NaN           NaN           NaN           NaN           NaN
1321          2.0      0.086704      0.043352      0.043352      0.043352
319           NaN           NaN           NaN           NaN           NaN
1498          NaN           NaN           NaN           NaN           NaN

      NTLcfc_V_2013
1870      96.333333
1576      95.500000
1115      70.833333
1700     127.000000
325       68.000000
793       61.333333
387       67.000000
1321     112.000000
319       66.500000
1498     114.000000

[10 rows x 103 columns]
Loading data for Msk_V_2014_avg.tif. Sat Mar  4 15:05:12 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2014. Sat Mar  4 15:05:27 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:05:37 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:05:37 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:05:38 2023

                Z  Sett_ID
4505219  0.219005   137572
4973076  3.301822   131507
4936733  0.912548   131507
4941004  0.239285   131507
6969262  2.005328     4096
4968779  1.543735   131507
4973070  5.075675   131507
4955966  1.227142   131507
5015811  1.217330   131506
4990150  2.050503   131507

Exported as table. Sat Mar  4 15:05:38 2023


Desired aggregation methods applied to settlement level, year 2014. Sat Mar  4 15:05:38 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
832     37794         36.0  1.190988e+40  3.308301e+38  3.402823e+38
1096    51765         77.0  2.586146e+40  3.358631e+38  3.402823e+38
241     13998        227.0  7.724409e+40  3.402823e+38  3.402823e+38
648     28525        273.0  9.255680e+40  3.390359e+38  3.402823e+38
231     13872        466.0  1.582313e+41  3.395521e+38  3.402823e+38
1879   337946          NaN           NaN           NaN           NaN
1306   127698         26.0  8.507059e+39  3.271946e+38  3.402823e+38
1679   237211        286.0  9.698047e+40  3.390925e+38  3.402823e+38
1698   248892        215.0  7.282042e+40  3.386996e+38  3.402823e+38
1869   337924          NaN           NaN           NaN           NaN

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
832   2.685366e+00     249.361111         36.0  1.190988e+40  3.308301e+38
1096  2.834508e+00     252.363636         77.0  2.586146e+40  3.358631e+38
241   3.402823e+38     255.000000        227.0  7.724409e+40  3.402823e+38
648   3.074074e+00     254.245421        273.0  9.255680e+40  3.390359e+38
231   3.093646e+00     254.560086        466.0  1.582313e+41  3.395521e+38
1879           NaN            NaN          NaN           NaN           NaN
1306  2.599727e+00     247.192308         26.0  8.507059e+39  3.271946e+38
1679  2.497780e+00     254.300699        286.0  9.698047e+40  3.390925e+38
1698  2.446121e+00     254.060465        215.0  7.282042e+40  3.386996e+38
1869           NaN            NaN          NaN           NaN           NaN

      ...  NTLsumV_2013  NTLavgV_2013  NTLmaxV_2013  NTLminV_2013  \
832   ...           NaN           NaN           NaN           NaN
1096  ...           NaN           NaN           NaN           NaN
241   ...           NaN           NaN           NaN           NaN
648   ...           NaN           NaN           NaN           NaN
231   ...           NaN           NaN           NaN           NaN
1879  ...           NaN           NaN           NaN           NaN
1306  ...           NaN           NaN           NaN           NaN
1679  ...           NaN           NaN           NaN           NaN
1698  ...           NaN           NaN           NaN           NaN
1869  ...           NaN           NaN           NaN           NaN

      NTLcfc_V_2013  NTLctV_2014  NTLsumV_2014  NTLavgV_2014  NTLmaxV_2014  \
832       56.666667          NaN           NaN           NaN           NaN
1096      74.000000          NaN           NaN           NaN           NaN
241       72.000000          NaN           NaN           NaN           NaN
648       65.000000          NaN           NaN           NaN           NaN
231       65.571429          NaN           NaN           NaN           NaN
1879            NaN          NaN           NaN           NaN           NaN
1306     105.500000          NaN           NaN           NaN           NaN
1679     124.000000          NaN           NaN           NaN           NaN
1698     140.500000          NaN           NaN           NaN           NaN
1869            NaN          NaN           NaN           NaN           NaN

      NTLminV_2014
832            NaN
1096           NaN
241            NaN
648            NaN
231            NaN
1879           NaN
1306           NaN
1679           NaN
1698           NaN
1869           NaN

[10 rows x 108 columns]
Loading data for Msk_V_2014_cfc.tif. Sat Mar  4 15:05:38 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2014. Sat Mar  4 15:05:51 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:06:02 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:06:02 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:06:03 2023

           Z  Sett_ID
4988007  102   131507
6461322   77    91878
6417835   74    14363
7379621   65      285
7309196   68    21108
6901064   70    35033
7422219   71        2
4677615  106   107509
6295675   75    51765
5873117   84    80863

Exported as table. Sat Mar  4 15:06:03 2023


Count of cloud-free observations averaged to settlement level, year 2014. Sat Mar  4 15:06:03 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
555     23418        143.0  4.866038e+40  3.402823e+38  3.402823e+38
1533   146028         13.0  4.083388e+39  3.141068e+38  3.402823e+38
633     28286         37.0  1.122932e+40  3.034951e+38  3.402823e+38
866     37945         36.0  1.225016e+40  3.402823e+38  3.402823e+38
603     25402         32.0  1.054875e+40  3.296485e+38  3.402823e+38
1270   107710       1309.0  4.454296e+41  3.402823e+38  3.402823e+38
532     23358         45.0  1.497242e+40  3.327205e+38  3.402823e+38
1348   128076        272.0  9.221652e+40  3.390313e+38  3.402823e+38
1679   237211        286.0  9.698047e+40  3.390925e+38  3.402823e+38
5           8        361.0  1.225016e+41  3.393397e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
555   3.402823e+38     255.000000        143.0  4.866038e+40  3.402823e+38
1533  2.686441e+00     239.615385         13.0  4.083388e+39  3.141068e+38
633   3.193687e+00     232.702703         37.0  1.122932e+40  3.034951e+38
866   3.402823e+38     255.000000         36.0  1.225016e+40  3.402823e+38
603   2.758838e+00     248.625000         32.0  1.054875e+40  3.296485e+38
1270  3.402823e+38     255.000000       1309.0  4.454296e+41  3.402823e+38
532   2.690741e+00     250.466667         45.0  1.497242e+40  3.327205e+38
1348  2.361413e+00     254.264706        272.0  9.221652e+40  3.390313e+38
1679  2.497780e+00     254.300699        286.0  9.698047e+40  3.390925e+38
5     2.830744e+00     254.418283        361.0  1.225016e+41  3.393397e+38

      ...  NTLavgV_2013  NTLmaxV_2013  NTLminV_2013  NTLcfc_V_2013  \
555   ...           NaN           NaN           NaN      69.500000
1533  ...           NaN           NaN           NaN     135.500000
633   ...           NaN           NaN           NaN      59.000000
866   ...           NaN           NaN           NaN      56.000000
603   ...           NaN           NaN           NaN      56.000000
1270  ...      0.251052      0.364103      0.138001     113.500000
532   ...           NaN           NaN           NaN      60.333333
1348  ...           NaN           NaN           NaN     115.000000
1679  ...           NaN           NaN           NaN     124.000000
5     ...           NaN           NaN           NaN      55.666667

      NTLctV_2014  NTLsumV_2014  NTLavgV_2014  NTLmaxV_2014  NTLminV_2014  \
555           NaN           NaN           NaN           NaN           NaN
1533          NaN           NaN           NaN           NaN           NaN
633           NaN           NaN           NaN           NaN           NaN
866           NaN           NaN           NaN           NaN           NaN
603           NaN           NaN           NaN           NaN           NaN
1270          2.0      0.319566      0.159783      0.286918      0.032648
532           NaN           NaN           NaN           NaN           NaN
1348          NaN           NaN           NaN           NaN           NaN
1679          NaN           NaN           NaN           NaN           NaN
5             NaN           NaN           NaN           NaN           NaN

      NTLcfc_V_2014
555       71.000000
1533     127.750000
633       75.428571
866       64.000000
603       72.750000
1270     106.500000
532       76.666667
1348     103.500000
1679     119.000000
5         72.666667

[10 rows x 109 columns]
Loading data for Msk_V_2015_avg.tif. Sat Mar  4 15:06:04 2023

Creating XYZ (gdal.Translate()).

Finished gdal.Translate() for year 2015. Sat Mar  4 15:06:18 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:06:29 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:06:29 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:06:29 2023

                 Z  Sett_ID
4938872   0.314350   131507
6967288   3.683770    25093
5998903   1.316735    60380
4981615  32.401726   131507
4977340  28.645947   131507
4034133   1.451429   278172
4046954   0.564598   278172
4964532   0.876384   131507
4962372   4.775517   131507
5000861   5.082416   131507

Exported as table. Sat Mar  4 15:06:29 2023


Desired aggregation methods applied to settlement level, year 2015. Sat Mar  4 15:06:29 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1019    47554       1671.0  5.675910e+41  3.396714e+38  3.402823e+38
861     37906        187.0  6.363280e+40  3.402823e+38  3.402823e+38
1369   128664         13.0  4.423671e+39  3.402823e+38  3.402823e+38
234     13915         59.0  1.973638e+40  3.345148e+38  3.402823e+38
1736   263056       7108.0  2.418387e+42  3.402345e+38  3.402823e+38
1437   131820         36.0  1.225016e+40  3.402823e+38  3.402823e+38
768     33720         24.0  8.166776e+39  3.402823e+38  3.402823e+38
1403   131507        748.0  1.626550e+41  2.174532e+38  3.402823e+38
897     38051         11.0  3.402823e+39  3.093476e+38  3.402823e+38
594     25277        128.0  4.321586e+40  3.376239e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1019  2.867857e+00     254.630760       1671.0  5.675910e+41  3.396714e+38
861   3.402823e+38     255.000000        187.0  6.363280e+40  3.402823e+38
1369  3.402823e+38     255.000000         13.0  4.423671e+39  3.402823e+38
234   2.792223e+00     251.508475         59.0  1.973638e+40  3.345148e+38
1736  2.584922e+00     254.970878       7108.0  2.418387e+42  3.402345e+38
1437  3.402823e+38     255.000000         36.0  1.225016e+40  3.402823e+38
768   3.402823e+38     255.000000         24.0  8.166776e+39  3.402823e+38
1403  2.380435e+00     180.685829        748.0  1.626550e+41  2.174532e+38
897   2.756725e+00     236.545455         11.0  3.402823e+39  3.093476e+38
594   2.827631e+00     253.398438        128.0  4.321586e+40  3.376239e+38

      ...  NTLsumV_2014  NTLavgV_2014  NTLmaxV_2014  NTLminV_2014  \
1019  ...           NaN           NaN           NaN           NaN
861   ...           NaN           NaN           NaN           NaN
1369  ...           NaN           NaN           NaN           NaN
234   ...           NaN           NaN           NaN           NaN
1736  ...           NaN           NaN           NaN           NaN
1437  ...           NaN           NaN           NaN           NaN
768   ...           NaN           NaN           NaN           NaN
1403  ...   6585.253232      7.349613     77.777786      0.067558
897   ...           NaN           NaN           NaN           NaN
594   ...           NaN           NaN           NaN           NaN

      NTLcfc_V_2014  NTLctV_2015  NTLsumV_2015  NTLavgV_2015  NTLmaxV_2015  \
1019      76.071429          NaN           NaN           NaN           NaN
861       62.500000          NaN           NaN           NaN           NaN
1369     105.000000          NaN           NaN           NaN           NaN
234       75.666667          NaN           NaN           NaN           NaN
1736     116.000000          NaN           NaN           NaN           NaN
1437      94.000000          NaN           NaN           NaN           NaN
768       70.500000          NaN           NaN           NaN           NaN
1403     104.292084        939.0   7007.578872       7.46281     61.542248
897       73.500000          NaN           NaN           NaN           NaN
594       71.200000          NaN           NaN           NaN           NaN

      NTLminV_2015
1019           NaN
861            NaN
1369           NaN
234            NaN
1736           NaN
1437           NaN
768            NaN
1403      0.207186
897            NaN
594            NaN

[10 rows x 114 columns]
Loading data for Msk_V_2015_cfc.tif. Sat Mar  4 15:06:29 2023

Creating XYZ (gdal.Translate()).
Finished gdal.Translate() for year 2015. Sat Mar  4 15:06:42 2023

Loaded XYZ file as a pandas dataframe. Sat Mar  4 15:06:53 2023

Created geodataframe from non-NoData points. Sat Mar  4 15:06:53 2023


Joined zone ID onto vectorized raster cells. Sat Mar  4 15:06:54 2023

           Z  Sett_ID
4951682  115   131507
6622971   75    13998
6988422   72     4148
4755484  116   152582
5002997  107   131507
4823485  112   127794
6960719   69     4096
4762003  111   152037
6888641   73    40660
6851722   76     4210

Exported as table. Sat Mar  4 15:06:54 2023


Count of cloud-free observations averaged to settlement level, year 2015. Sat Mar  4 15:06:54 2023

      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
600     25389         25.0  8.166776e+39  3.266711e+38  3.402823e+38
9          46        222.0  7.520240e+40  3.387495e+38  3.402823e+38
1425   131722          5.0  1.361129e+39  2.722259e+38  3.402823e+38
1054    47903        512.0  1.738843e+41  3.396177e+38  3.402823e+38
1426   131735         17.0  5.784800e+39  3.402823e+38  3.402823e+38
359     14454         18.0  5.784800e+39  3.213778e+38  3.402823e+38
546     23387         22.0  6.805647e+39  3.093476e+38  3.402823e+38
1345   127987        131.0  4.457699e+40  3.402823e+38  3.402823e+38
251     14115          7.0  2.041694e+39  2.916706e+38  3.402823e+38
198      7462         45.0  1.531271e+40  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
600   2.812500e+00     246.880000         25.0  8.166776e+39  3.266711e+38
9     3.475962e+00     254.067568        222.0  7.520240e+40  3.387495e+38
1425  2.932865e+00     213.600000          5.0  1.361129e+39  2.722259e+38
1054  3.040751e+00     254.595703        512.0  1.738843e+41  3.396177e+38
1426  3.402823e+38     255.000000         17.0  5.784800e+39  3.402823e+38
359   3.002481e+00     243.666667         18.0  5.784800e+39  3.213778e+38
546   2.661318e+00     236.545455         22.0  6.805647e+39  3.093476e+38
1345  3.402823e+38     255.000000        131.0  4.457699e+40  3.402823e+38
251   2.919575e+00     225.428571          7.0  2.041694e+39  2.916706e+38
198   3.402823e+38     255.000000         45.0  1.531271e+40  3.402823e+38

      ...  NTLavgV_2014  NTLmaxV_2014  NTLminV_2014  NTLcfc_V_2014  \
600   ...           NaN           NaN           NaN      70.428571
9     ...           NaN           NaN           NaN      70.000000
1425  ...           NaN           NaN           NaN      97.000000
1054  ...           NaN           NaN           NaN      78.000000
1426  ...           NaN           NaN           NaN      95.500000
359   ...           NaN           NaN           NaN      71.800000
546   ...           NaN           NaN           NaN      71.375000
1345  ...           NaN           NaN           NaN     102.000000
251   ...           NaN           NaN           NaN      74.500000
198   ...           NaN           NaN           NaN      68.500000

      NTLctV_2015  NTLsumV_2015  NTLavgV_2015  NTLmaxV_2015  NTLminV_2015  \
600           NaN           NaN           NaN           NaN           NaN
9             NaN           NaN           NaN           NaN           NaN
1425          NaN           NaN           NaN           NaN           NaN
1054          NaN           NaN           NaN           NaN           NaN
1426          NaN           NaN           NaN           NaN           NaN
359           NaN           NaN           NaN           NaN           NaN
546           NaN           NaN           NaN           NaN           NaN
1345          NaN           NaN           NaN           NaN           NaN
251           NaN           NaN           NaN           NaN           NaN
198           NaN           NaN           NaN           NaN           NaN

      NTLcfc_V_2015
600       79.285714
9         65.000000
1425     105.000000
1054      77.000000
1426     110.000000
359       79.000000
546       79.875000
1345     109.500000
251       80.000000
198       81.500000

[10 rows x 115 columns]


Finished. All years masked and assigned their nearest settlement. Sat Mar  4 15:06:54 2023
      Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
827     37789        194.0  6.499393e+40  3.350202e+38  3.402823e+38
735     33107          2.0  6.805647e+38  3.402823e+38  3.402823e+38
759     33687         57.0  1.905581e+40  3.343125e+38  3.402823e+38
780     33747         37.0  1.259045e+40  3.402823e+38  3.402823e+38
1555   146179         85.0  2.858372e+40  3.362790e+38  3.402823e+38
1436   131817       1276.0  4.338600e+41  3.400157e+38  3.402823e+38
1656   234800         43.0  1.463214e+40  3.402823e+38  3.402823e+38
1           2        258.0  8.609143e+40  3.336877e+38  3.402823e+38
1507   145451       1102.0  3.743106e+41  3.396648e+38  3.402823e+38
1907   338557         28.0  9.527906e+39  3.402823e+38  3.402823e+38

      NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
827   3.018939e+00     251.855670        194.0  6.499393e+40  3.350202e+38
735   3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
759   2.908781e+00     251.421053         57.0  1.905581e+40  3.343125e+38
780   3.402823e+38     255.000000         37.0  1.259045e+40  3.402823e+38
1555  2.433031e+00     252.635294         85.0  2.858372e+40  3.362790e+38
1436  2.724769e+00     254.839342       1276.0  4.338600e+41  3.400157e+38
1656  3.402823e+38     255.000000         43.0  1.463214e+40  3.402823e+38
1     3.042580e+00     251.007752        258.0  8.609143e+40  3.336877e+38
1507  2.579353e+00     254.632486       1102.0  3.743106e+41  3.396648e+38
1907  3.402823e+38     255.000000         28.0  9.527906e+39  3.402823e+38

      ...  NTLavgV_2014  NTLmaxV_2014  NTLminV_2014  NTLcfc_V_2014  \
827   ...           NaN           NaN           NaN      72.250000
735   ...           NaN           NaN           NaN      76.500000
759   ...           NaN           NaN           NaN      63.666667
780   ...           NaN           NaN           NaN      69.666667
1555  ...           NaN           NaN           NaN     129.750000
1436  ...           NaN           NaN           NaN      96.666667
1656  ...           NaN           NaN           NaN      91.000000
1     ...           NaN           NaN           NaN      71.250000
1507  ...           NaN           NaN           NaN     117.800000
1907  ...           NaN           NaN           NaN     131.000000

      NTLctV_2015  NTLsumV_2015  NTLavgV_2015  NTLmaxV_2015  NTLminV_2015  \
827           NaN           NaN           NaN           NaN           NaN
735           NaN           NaN           NaN           NaN           NaN
759           NaN           NaN           NaN           NaN           NaN
780           NaN           NaN           NaN           NaN           NaN
1555          NaN           NaN           NaN           NaN           NaN
1436          NaN           NaN           NaN           NaN           NaN
1656          NaN           NaN           NaN           NaN           NaN
1             NaN           NaN           NaN           NaN           NaN
1507          NaN           NaN           NaN           NaN           NaN
1907          NaN           NaN           NaN           NaN           NaN

      NTLcfc_V_2015
827       83.250000
735       82.500000
759       75.666667
780       78.666667
1555     124.500000
1436     112.000000
1656      96.000000
1         70.600000
1507     111.200000
1907     118.500000

[10 rows x 115 columns]

Saved to file. Sat Mar  4 15:06:54 2023

---

## 10. FLOOD EXPOSURE BY RETURN PERIOD

### 10.1 Calculate Expected Annual Depth (EAD) using exceedance probabilities of every flood return period.

##### Flood layers

In [15]:
FloodFolder = os.path.join(ProjectFolder, 'Flood')
SourceFolder = os.path.join(FloodFolder, 'fluvial_undefended')

In [17]:
InRasters = os.listdir(SourceFolder)
InRasters

['FU_1in10.tif',
 'FU_1in100.tif',
 'FU_1in1000.tif',
 'FU_1in20.tif',
 'FU_1in200.tif',
 'FU_1in250.tif',
 'FU_1in5.tif',
 'FU_1in50.tif',
 'FU_1in500.tif',
 'FU_1in75.tif']

In [25]:
Exceedances = []
    
for Raster in InRasters:
    InPath = os.path.join(SourceFolder, Raster)
    RP = re.sub('\D', '', Raster)[1:] # Get the return period
    NewFileName = Raster.replace('.tif', '_EXC.tif')
    OutPath = os.path.join(FloodFolder, NewFileName)
    
    Calc = "(1/" + RP + ")*A"

    calcShell(A=InPath, OutFile=OutPath, Calculation = Calc)
    Exceedances = Exceedances + [NewFileName]
    
print('Done with list. New flood set: %s' % Exceedances)

Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\fluvial_undefended\FU_1in10.tif. Tue Mar 14 11:19:28 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:19:43 2023
Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\fluvial_undefended\FU_1in100.tif. Tue Mar 14 11:19:43 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:19:57 2023
Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\fluvial_undefended\FU_1in1000.tif. Tue Mar 14 11:19:57 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:20:11 2023
Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\fluvial_undefended\FU_1in20.tif. Tue Mar 14 11:20:11 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:20:25 2023
Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\fluvial_undefended\FU_1in200.tif. Tue Mar 14 11:20:25 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:20:38 2023
Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\fluvial_undefended\FU_1in250.tif. Tue Mar 14 11:20:38 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:20:52 2023
Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\fluvial_undefended\FU_1in5.tif. Tue Mar 14 11:20:52 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:21:06 2023
Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\fluvial_undefended\FU_1in50.tif. Tue Mar 14 11:21:06 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:21:19 2023
Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\fluvial_undefended\FU_1in500.tif. Tue Mar 14 11:21:19 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:21:34 2023
Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\fluvial_undefended\FU_1in75.tif. Tue Mar 14 11:21:34 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:21:48 2023
Done with list. New flood set: ['FU_1in10_EXC.tif', 'FU_1in100_EXC.tif', 'FU_1in1000_EXC.tif', 'FU_1in20_EXC.tif', 'FU_1in200_EXC.tif', 'FU_1in250_EXC.tif', 'FU_1in5_EXC.tif', 'FU_1in50_EXC.tif', 'FU_1in500_EXC.tif', 'FU_1in75_EXC.tif']

In [36]:
# gdal_calc doesn't always take well to adding together a large number of files, so we'll do it in 2 batches.

Calc = 'A+B+C+D+E'
OutName = 'Batch1.tif'

A = os.path.join(FloodFolder, Exceedances[0])
B = os.path.join(FloodFolder, Exceedances[1])
C = os.path.join(FloodFolder, Exceedances[2])
D = os.path.join(FloodFolder, Exceedances[3])
E = os.path.join(FloodFolder, Exceedances[4])

calcShell(A=A, B=B, C=C, D=D, E=E,
          OutFile = os.path.join(FloodFolder, OutName), 
          Calculation = Calc)

Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\FU_1in10_EXC.tif. Tue Mar 14 11:37:07 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:40:27 2023

In [37]:
Calc = 'A+B+C+D+E+F'
OutName = 'FU_ExpectedAnnualDepth.tif'

A = os.path.join(FloodFolder, 'Batch1.tif')
B = os.path.join(FloodFolder, Exceedances[5])
C = os.path.join(FloodFolder, Exceedances[6])
D = os.path.join(FloodFolder, Exceedances[7])
E = os.path.join(FloodFolder, Exceedances[8])
F = os.path.join(FloodFolder, Exceedances[9])

calcShell(A=A, B=B, C=C, D=D, E=E, F=F,
          OutFile = os.path.join(FloodFolder, OutName), 
          Calculation = Calc)

Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\Batch1.tif. Tue Mar 14 11:52:24 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 11:55:19 2023

### 10.2 Reclassify and resample flood data and buildup data in preparation for the impact calculation.

##### Reclassify flood as a binary: flooded / not-flooded

In [40]:
InPath = os.path.join(FloodFolder, OutName)
OutPath = os.path.join(FloodFolder, 'FU_EAD_reclassed.tif')

[xsize, ysize, geotransform, geoproj, Z] = readRaster(InPath)

Z[Z<0.15] = 0 # Not-flooded category. This includes no data cells.
Z[Z>=0.15] = 1 # Flooded category. This includes permanent water bodies.

writeRaster(OutPath,geotransform,geoproj,Z)
InPath = OutPath = None

print('Finished reclassifying. %s' % time.ctime())

Finished reclassifying. Tue Mar 14 13:26:39 2023

##### Buildup

In [41]:
WSFE = 'WSFE_equalarea.tif'
WSFEPath = os.path.join(ProjectFolder, 'Buildup', WSFE)
OutPath = os.path.join(FloodFolder, WSFE.replace('equalarea.tif', 'simplified.tif'))

[xsize, ysize, geotransform, geoproj, Z] = readRaster(WSFEPath)

np.putmask(Z, Z>0, Z-1984) # All years now converted to at most 2 digits: 1-31. (All non-buildup = 0)

writeRaster(OutPath,geotransform,geoproj,Z)

print('\nSimplified buildup file: %s' % OutPath)

Simplified buildup file: Q:\GIS\povertyequity\urban_growth\Chad\Flood\WSFE_simplified.tif

##### Resample flood to match buildup

In [42]:
WSFEPath = os.path.join(FloodFolder, 'WSFE_simplified.tif') 

RasterPath = os.path.join(FloodFolder, 'FU_EAD_reclassed.tif')
OutPath = os.path.join(FloodFolder, 'FU_EAD_resampled.tif')
resampleRaster(RasterPath, WSFEPath, OutPath)
    
print('Resampled to match WSFE. %s' % time.ctime())

Loading for Q:\GIS\povertyequity\urban_growth\Chad\Flood\FU_EAD_reclassed.tif. Tue Mar 14 13:37:10 2023
---Specs to match to:
 PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]
 (-1208067.6740575756, 29.56099669088672, 0.0, 2693319.1828761376, 0.0, -29.56099669088672)
 37348
 61455

---Created raster file for upsampled version. Tue Mar 14 13:37:20 2023
---Resampled values onto an empty raster matching the dimensions of the buildup layer. Tue Mar 14 13:49:52 2023


Resampled to match WSFE. Tue Mar 14 13:50:02 2023

### 10.3 Mask out built areas that were not flooded.

In [45]:
# WSFEPath = os.path.join(FloodFolder, 'WSFE_simplified.tif') 
    
InPath = os.path.join(FloodFolder, 'FU_EAD_resampled.tif')
OutPath = os.path.join(FloodFolder, 'FU_EAD_WSFEimpact.tif')

calcShell(A=WSFEPath, B=InPath, OutFile=OutPath, Calculation="A*B", OutType=" --type=Byte")
    
print('Done. Only built-up cells that have been flooded remain.. %s' % time.ctime())

Running for Q:\GIS\povertyequity\urban_growth\Chad\Flood\WSFE_simplified.tif. Tue Mar 14 13:54:24 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 13:57:58 2023
Done. Only built-up cells that have been flooded remain.. Tue Mar 14 13:57:58 2023

### 10.4 Join with Settlements via concatenation
Using the serial method, combine settlement IDs with 1) WSFE year cells and 2) the flooded-only WSFE year cells under each scenario.

##### Rasterize the settlements we've created.

In [17]:
# WSFEPath = os.path.join(FloodFolder, 'WSFE_simplified.tif') 
OutSett = os.path.join(ResultsFolder, 'Settlements2015_rasterized.tif')
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')[['Sett_ID', 'geometry']]

len_WSFE = 2 # We already know that the WSFE years are reclassified to 1-31, i.e. a max of 2 digits.

In [ ]:
ShapeToRaster(Shapefile=Settlements, ValueVar="Sett_ID", MetaRasterPath=WSFEPath, OutFilePath=OutSett, NewDType = 'uint32')

##### Calculations

In [31]:
Calc = "(A*" + str(10**len_WSFE) + ")+B" 

FloodImpactPath = os.path.join(FloodFolder, 'FU_EAD_WSFEimpact.tif')
FloodSerialPath = os.path.join(FloodFolder, 'FU_Settlements_serial.tif')

#WSFEPath = os.path.join(FloodFolder, 'WSFE_simplified.tif')
WSFESerialPath = os.path.join(FloodFolder, 'WSFE_Settlements_serial.tif')

In [59]:
calcShell(A=OutSett, B=FloodImpactPath, OutFile=FloodSerialPath, Calculation=Calc)
calcShell(A=OutSett, B=WSFEPath, OutFile=WSFESerialPath, Calculation=Calc)

Running for Q:\GIS\povertyequity\urban_growth\Chad\Results\Settlements2015_rasterized.tif. Tue Mar 14 15:14:01 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 15:18:13 2023
Running for Q:\GIS\povertyequity\urban_growth\Chad\Results\Settlements2015_rasterized.tif. Tue Mar 14 15:18:13 2023
Ran in shell. See OutFile folder to inspect results. Tue Mar 14 15:20:25 2023

### 10.5 Vector math to split raster strings into Settlement and WSFE year assignments.

##### Vectorize

In [16]:
FloodVec = 'FloodedBuildup.shp' # Was having write issues when putting both in the same gpkg, so we're settling for .shp.
FloodVecPath = os.path.join(FloodFolder, FloodVec)
BuildVec = 'AllBuildup.shp' 
BuildVecPath = os.path.join(FloodFolder, BuildVec)

In [33]:
RasterToShapefile(InRasterPath=FloodSerialPath, OutFilePath=FloodVecPath, 
                  OutName='', VariableName='gridcode')
RasterToShapefile(InRasterPath=WSFESerialPath, OutFilePath=BuildVecPath, 
                  OutName='', VariableName='gridcode')

PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]

 PROJCS["Africa_Albers_Equal_Area_Conic",
    GEOGCS["WGS 84",
        DATUM["WGS_1984",
            SPHEROID["WGS 84",6378137,298.257223563,
                AUTHORITY["EPSG","7030"]],
            AUTHORITY["EPSG","6326"]],
        PRIMEM["Greenwich",0],
        UNIT["degree",0.0174532925199433,
            AUTHORITY["EPSG","9122"]],
        AUTHORITY["EPSG","4326"]],
    PROJECTION["Albers_Conic_Equal_Area"],
    PARAMETER["latitude_of_center",0],
    PARAMETER["longitude_of_center",25],
    PARAMETER["standard_parallel_1",20],
    PARAMETER["standard_parallel_2",-23],
    PARAMETER["false_easting",0],
    PARAMETER["false_northing",0],
    UNIT["metre",1,
        AUTHORITY["EPSG","9001"]],
    AXIS["Easting",EAST],
    AXIS["Northing",NORTH]]

 <osgeo.ogr.DataSource; proxy of <Swig Object of type 'OGRDataSourceShadow *' at 0x00000203F9A7DE60> >
 <osgeo.ogr.Layer; proxy of <Swig Object of type 'OGRLayerShadow *' at 0x00000203F9A7E370> >
 0
Vectorizing. Input: Q:\GIS\povertyequity\urban_growth\Chad\Flood\FU_Settlements_serial.tif. Tue Mar 14 18:01:57 2023
Completed polygons. Stored as: Q:\GIS\povertyequity\urban_growth\Chad\Flood\FloodedBuildup.shp. Tue Mar 14 18:02:25 2023
PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]

 PROJCS["Africa_Albers_Equal_Area_Conic",
    GEOGCS["WGS 84",
        DATUM["WGS_1984",
            SPHEROID["WGS 84",6378137,298.257223563,
                AUTHORITY["EPSG","7030"]],
            AUTHORITY["EPSG","6326"]],
        PRIMEM["Greenwich",0],
        UNIT["degree",0.0174532925199433,
            AUTHORITY["EPSG","9122"]],
        AUTHORITY["EPSG","4326"]],
    PROJECTION["Albers_Conic_Equal_Area"],
    PARAMETER["latitude_of_center",0],
    PARAMETER["longitude_of_center",25],
    PARAMETER["standard_parallel_1",20],
    PARAMETER["standard_parallel_2",-23],
    PARAMETER["false_easting",0],
    PARAMETER["false_northing",0],
    UNIT["metre",1,
        AUTHORITY["EPSG","9001"]],
    AXIS["Easting",EAST],
    AXIS["Northing",NORTH]]

 <osgeo.ogr.DataSource; proxy of <Swig Object of type 'OGRDataSourceShadow *' at 0x00000203F9A7E100> >
 <osgeo.ogr.Layer; proxy of <Swig Object of type 'OGRLayerShadow *' at 0x00000203F9A7DF50> >
 0
Vectorizing. Input: Q:\GIS\povertyequity\urban_growth\Chad\Flood\WSFE_Settlements_serial.tif. Tue Mar 14 18:02:25 2023
Completed polygons. Stored as: Q:\GIS\povertyequity\urban_growth\Chad\Flood\AllBuildup.shp. Tue Mar 14 18:03:21 2023

##### Split string into separate fields

In [17]:
Sett_rio = rasterio.open(os.path.join(ResultsFolder, 'Settlements2015_rasterized.tif')).read(1)
len_Sett = len(str(Sett_rio.max()))
Sett_rio = None

Fill = len_Sett + 2 # Add the digits stored as len_WSFE # or just write +2 since we already know the length of reclassed WSFE.

OutPackage = os.path.join(FloodFolder, 'FloodedSettlements.gpkg')

In [20]:
# Load newly created vectorized datasets.
for File in [FloodVec, BuildVec]:
    InObject = gpd.read_file(os.path.join(FloodFolder, File)).to_crs("ESRI:102022")
    print(InObject.info(), '\n\n', InObject.sample(10), '\n\n', InObject.crs, '\n\n', InObject['gridcode'].max())
    
    InObject['gridstring'] = InObject['gridcode'].astype(str).str.zfill(Fill)

    InObject['Sett_ID'] = InObject['gridstring'].str[:-2].astype(int) # Remove the last digits to get the Sett ID portion.
    InObject['year'] = InObject['gridstring'].str[-2:].astype(int) # Keep only the last digits to get the year portion.
    InObject['year'] = np.where(InObject['year'] > 0, InObject['year'] + 1984, InObject['year']) # Reclass back to year value.
    
    print('%s Serial split by year of buildup and Sett ID.\n\n' % time.ctime(), InObject.sample(10))
    
    # Remove features where year or settlement = 0.
    print("%s Before: %s\n" % (File, InObject.shape))
    InObject = InObject.loc[(InObject["year"] >1984) & (InObject["year"] < 2016) & (InObject["Sett_ID"] != 0)] 
    print("%s After: %s\n" % (File, InObject.shape))

    # Save intermediate file.
    InObject.to_file(driver='GPKG', filename=OutPackage, layer=File.replace('.shp', ''))

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 8946 entries, 0 to 8945
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gridcode  8946 non-null   int64
 1   geometry  8946 non-null   geometry
dtypes: geometry(1), int64(1)
memory usage: 139.9 KB
None

       gridcode                                           geometry
3414  13150701  POLYGON ((-1043028.630 1424502.083, -1042969.5...
6425  13150601  POLYGON ((-1035963.551 1415633.784, -1035933.9...
3303  13150717  POLYGON ((-1040811.555 1424679.449, -1040781.9...
7052   8085929  POLYGON ((-864539.332 1212313.249, -864509.771...
6342  13150620  POLYGON ((-1035845.307 1415692.906, -1035815.7...
906   12762922  POLYGON ((-998155.037 1464645.916, -998125.476...
2536  13150730  POLYGON ((-1041254.970 1426660.036, -1041225.4...
7959   3283215  POLYGON ((-909767.656 1093537.164, -909678.973...
7756   2828611  POLYGON ((-906309.020 1106041.466, -906279.459...
785   12762910  POLYGON ((-997534.256 1465059.770, -997504.695...

 ESRI:102022

 2147483647
Tue Mar 14 18:52:03 2023 Serial split by year of buildup and Sett ID.

       gridcode                                           geometry  gridstring  \
7036   8085930  POLYGON ((-864687.136 1212372.371, -864628.015...  0008085930
2804  13150724  POLYGON ((-1040781.994 1426068.816, -1040752.4...  0013150724
4192  13150731  POLYGON ((-1042585.215 1422403.252, -1042466.9...  0013150731
7336   1440623  POLYGON ((-958543.301 1131552.606, -958513.740...  0001440623
1302  12769123  POLYGON ((-1051187.465 1432099.259, -1051157.9...  0012769123
4896  33792501  POLYGON ((-1029873.986 1418442.079, -1029696.6...  0033792501
1479  13150727  POLYGON ((-1039481.310 1429970.867, -1039451.7...  0013150727
1387  13150726  POLYGON ((-1039895.164 1430739.453, -1039865.6...  0013150726
5579  13150615  POLYGON ((-1036554.771 1416638.858, -1036525.2...  0013150615
4680  13150710  POLYGON ((-1033953.404 1419062.860, -1033923.8...  0013150710

      Sett_ID  year
7036    80859  2014
2804   131507  2008
4192   131507  2015
7336    14406  2007
1302   127691  2007
4896   337925  1985
1479   131507  2011
1387   131507  2010
5579   131506  1999
4680   131507  1994
FloodedBuildup.shp Before: (8946, 5)

FloodedBuildup.shp After: (8689, 5)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 126705 entries, 0 to 126704
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gridcode  126705 non-null  int64
 1   geometry  126705 non-null  geometry
dtypes: geometry(1), int64(1)
memory usage: 1.9 MB
None

           gridcode                                           geometry
120641     2219019  POLYGON ((-819606.617 990783.139, -819577.056 ...
90655   2147483647  POLYGON ((-688533.157 1077308.177, -688503.596...
113352      409614  POLYGON ((-930874.208 1010352.519, -930815.086...
68157      2861731  POLYGON ((-910240.632 1134567.827, -910211.071...
74986      2855522  POLYGON ((-886296.225 1113313.471, -886266.664...
67448      2863918  POLYGON ((-905008.336 1139061.099, -904978.775...
35385     13150727  POLYGON ((-1041314.092 1426807.841, -1041254.9...
34162     13150717  POLYGON ((-1032830.086 1427339.939, -1032800.5...
63992      8085927  POLYGON ((-864598.454 1211958.517, -864568.893...
62785   2147483647  POLYGON ((-892149.302 1237587.901, -892119.741...

 ESRI:102022

 2147483647
Tue Mar 14 18:52:14 2023 Serial split by year of buildup and Sett ID.

         gridcode                                           geometry  \
105205    409217  POLYGON ((-915975.466 1023152.431, -915945.905...
96761    2527508  POLYGON ((-903086.871 1057738.797, -903057.310...
100549   1298621  POLYGON ((-947162.317 1041214.200, -947132.756...
50473   13150716  POLYGON ((-1029519.254 1419535.835, -1029489.6...
55311   13150631  POLYGON ((-1034899.355 1415131.247, -1034869.7...
62498    6038325  POLYGON ((-981187.024 1240337.074, -981157.463...
798     33061716  POLYGON ((-428396.386 1849382.288, -428366.825...
5579    27817223  POLYGON ((-437648.978 1620432.369, -437619.417...
81742    1415020  POLYGON ((-950916.564 1097675.703, -950857.442...
2738    24879225  POLYGON ((-1010748.021 1651087.123, -1010718.4...

        gridstring  Sett_ID  year
105205  0000409217     4092  2001
96761   0002527508    25275  1992
100549  0001298621    12986  2005
50473   0013150716   131507  2000
55311   0013150631   131506  2015
62498   0006038325    60383  2009
798     0033061716   330617  2000
5579    0027817223   278172  2007
81742   0001415020    14150  2004
2738    0024879225   248792  2009
AllBuildup.shp Before: (126705, 5)

AllBuildup.shp After: (121617, 5)

### 10.6 Group by settlement and count cells for each year.

##### Flooded buildings

In [33]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')
AllSummaries = pd.DataFrame(Settlements).drop(columns='geometry')[['Sett_ID']]
Settlements = None

ValObject = pd.DataFrame(gpd.read_file(OutPackage, layer='FloodedBuildup'))[['Sett_ID', 'year']]

print(AllSummaries.info(), '\n', AllSummaries.sample(10), '\n', ValObject.info(), '\n', ValObject.sample(10))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Sett_ID  1939 non-null   int64
dtypes: int64(1)
memory usage: 15.3 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8689 entries, 0 to 8688
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Sett_ID  8689 non-null   int64
 1   year     8689 non-null   int64
dtypes: int64(2)
memory usage: 135.9 KB
None
       Sett_ID
993     42781
1835   337702
300     14332
50        384
363     14957
1552   146131
251     14115
1633   234510
1286   127646
749     33670
 None
       Sett_ID  year
3914   131507  2000
220    127985  2000
5666   131506  2012
7531    28286  1999
2216   131507  2006
1800   131507  2003
6549   131507  2004
7496    28286  2001
6698   131629  2004
4773   337921  2004

In [34]:
for BuiltYear in AllStudyYears:
    GroupedVals = ValObject[
        ValObject['year']<=BuiltYear].groupby(
        'Sett_ID', as_index=False)
    
    VariableName = ''.join(['FLDct_', str(BuiltYear)])
    
    AllSummaries = AllSummaries.merge(GroupedVals.count().rename(columns={'year': VariableName}), how = 'left', on='Sett_ID')

    print('\nDesired aggregation methods applied to settlement level, year %s. %s \n' % (BuiltYear, time.ctime()))

    # Save in-progress results
    AllSummaries.to_csv(os.path.join(FloodFolder, 'FloodedCellCount1999to2015.csv'))
    print(AllSummaries.sort_values(by=AllSummaries.columns[1], ascending=False).head(10))

Desired aggregation methods applied to settlement level, year 1999. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999
1403    131507       833.0
1402    131506       441.0
1276    127629       170.0
96        4096        75.0
633      28286        71.0
1938  21474836        64.0
969      42500        61.0
592      25275        47.0
1835    337702        45.0
654      28555        44.0

Desired aggregation methods applied to settlement level, year 2000. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000
1403    131507       833.0       981.0
1402    131506       441.0       495.0
1276    127629       170.0       186.0
96        4096        75.0        89.0
633      28286        71.0       102.0
1938  21474836        64.0        66.0
969      42500        61.0        64.0
592      25275        47.0        59.0
1835    337702        45.0        54.0
654      28555        44.0        47.0

Desired aggregation methods applied to settlement level, year 2001. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001
1403    131507       833.0       981.0      1072.0
1402    131506       441.0       495.0       539.0
1276    127629       170.0       186.0       187.0
96        4096        75.0        89.0        97.0
633      28286        71.0       102.0       125.0
1938  21474836        64.0        66.0        75.0
969      42500        61.0        64.0        75.0
592      25275        47.0        59.0        60.0
1835    337702        45.0        54.0        56.0
654      28555        44.0        47.0        72.0

Desired aggregation methods applied to settlement level, year 2002. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002
1403    131507       833.0       981.0      1072.0      1168.0
1402    131506       441.0       495.0       539.0       618.0
1276    127629       170.0       186.0       187.0       204.0
96        4096        75.0        89.0        97.0       117.0
633      28286        71.0       102.0       125.0       127.0
1938  21474836        64.0        66.0        75.0        90.0
969      42500        61.0        64.0        75.0        81.0
592      25275        47.0        59.0        60.0        62.0
1835    337702        45.0        54.0        56.0        57.0
654      28555        44.0        47.0        72.0        84.0

Desired aggregation methods applied to settlement level, year 2003. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

Desired aggregation methods applied to settlement level, year 2004. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004
1403      1497.0
1402       767.0
1276       260.0
96         158.0
633        128.0
1938       107.0
969         82.0
592         67.0
1835        61.0
654         92.0

Desired aggregation methods applied to settlement level, year 2005. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005
1403      1497.0      1682.0
1402       767.0       841.0
1276       260.0       282.0
96         158.0       164.0
633        128.0       131.0
1938       107.0       111.0
969         82.0        88.0
592         67.0        70.0
1835        61.0        64.0
654         92.0        94.0

Desired aggregation methods applied to settlement level, year 2006. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005  FLDct_2006
1403      1497.0      1682.0      1839.0
1402       767.0       841.0       931.0
1276       260.0       282.0       293.0
96         158.0       164.0       169.0
633        128.0       131.0       138.0
1938       107.0       111.0       114.0
969         82.0        88.0        91.0
592         67.0        70.0        70.0
1835        61.0        64.0        66.0
654         92.0        94.0        96.0

Desired aggregation methods applied to settlement level, year 2007. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005  FLDct_2006  FLDct_2007
1403      1497.0      1682.0      1839.0      1981.0
1402       767.0       841.0       931.0      1020.0
1276       260.0       282.0       293.0       297.0
96         158.0       164.0       169.0       170.0
633        128.0       131.0       138.0       140.0
1938       107.0       111.0       114.0       116.0
969         82.0        88.0        91.0       106.0
592         67.0        70.0        70.0        71.0
1835        61.0        64.0        66.0        68.0
654         92.0        94.0        96.0        98.0

Desired aggregation methods applied to settlement level, year 2008. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005  FLDct_2006  FLDct_2007  FLDct_2008
1403      1497.0      1682.0      1839.0      1981.0      2159.0
1402       767.0       841.0       931.0      1020.0      1057.0
1276       260.0       282.0       293.0       297.0       309.0
96         158.0       164.0       169.0       170.0       173.0
633        128.0       131.0       138.0       140.0       140.0
1938       107.0       111.0       114.0       116.0       116.0
969         82.0        88.0        91.0       106.0       108.0
592         67.0        70.0        70.0        71.0        71.0
1835        61.0        64.0        66.0        68.0        69.0
654         92.0        94.0        96.0        98.0        98.0

Desired aggregation methods applied to settlement level, year 2009. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005  FLDct_2006  FLDct_2007  FLDct_2008  FLDct_2009
1403      1497.0      1682.0      1839.0      1981.0      2159.0      2272.0
1402       767.0       841.0       931.0      1020.0      1057.0      1087.0
1276       260.0       282.0       293.0       297.0       309.0       309.0
96         158.0       164.0       169.0       170.0       173.0       184.0
633        128.0       131.0       138.0       140.0       140.0       141.0
1938       107.0       111.0       114.0       116.0       116.0       116.0
969         82.0        88.0        91.0       106.0       108.0       110.0
592         67.0        70.0        70.0        71.0        71.0        71.0
1835        61.0        64.0        66.0        68.0        69.0        71.0
654         92.0        94.0        96.0        98.0        98.0       103.0

Desired aggregation methods applied to settlement level, year 2010. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005  FLDct_2006  FLDct_2007  FLDct_2008  FLDct_2009  \
1403      1497.0      1682.0      1839.0      1981.0      2159.0      2272.0
1402       767.0       841.0       931.0      1020.0      1057.0      1087.0
1276       260.0       282.0       293.0       297.0       309.0       309.0
96         158.0       164.0       169.0       170.0       173.0       184.0
633        128.0       131.0       138.0       140.0       140.0       141.0
1938       107.0       111.0       114.0       116.0       116.0       116.0
969         82.0        88.0        91.0       106.0       108.0       110.0
592         67.0        70.0        70.0        71.0        71.0        71.0
1835        61.0        64.0        66.0        68.0        69.0        71.0
654         92.0        94.0        96.0        98.0        98.0       103.0

      FLDct_2010
1403      2427.0
1402      1158.0
1276       311.0
96         192.0
633        143.0
1938       119.0
969        116.0
592         71.0
1835        71.0
654        109.0

Desired aggregation methods applied to settlement level, year 2011. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005  FLDct_2006  FLDct_2007  FLDct_2008  FLDct_2009  \
1403      1497.0      1682.0      1839.0      1981.0      2159.0      2272.0
1402       767.0       841.0       931.0      1020.0      1057.0      1087.0
1276       260.0       282.0       293.0       297.0       309.0       309.0
96         158.0       164.0       169.0       170.0       173.0       184.0
633        128.0       131.0       138.0       140.0       140.0       141.0
1938       107.0       111.0       114.0       116.0       116.0       116.0
969         82.0        88.0        91.0       106.0       108.0       110.0
592         67.0        70.0        70.0        71.0        71.0        71.0
1835        61.0        64.0        66.0        68.0        69.0        71.0
654         92.0        94.0        96.0        98.0        98.0       103.0

      FLDct_2010  FLDct_2011
1403      2427.0      2699.0
1402      1158.0      1208.0
1276       311.0       311.0
96         192.0       198.0
633        143.0       143.0
1938       119.0       120.0
969        116.0       123.0
592         71.0        71.0
1835        71.0        71.0
654        109.0       109.0

Desired aggregation methods applied to settlement level, year 2012. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005  FLDct_2006  FLDct_2007  FLDct_2008  FLDct_2009  \
1403      1497.0      1682.0      1839.0      1981.0      2159.0      2272.0
1402       767.0       841.0       931.0      1020.0      1057.0      1087.0
1276       260.0       282.0       293.0       297.0       309.0       309.0
96         158.0       164.0       169.0       170.0       173.0       184.0
633        128.0       131.0       138.0       140.0       140.0       141.0
1938       107.0       111.0       114.0       116.0       116.0       116.0
969         82.0        88.0        91.0       106.0       108.0       110.0
592         67.0        70.0        70.0        71.0        71.0        71.0
1835        61.0        64.0        66.0        68.0        69.0        71.0
654         92.0        94.0        96.0        98.0        98.0       103.0

      FLDct_2010  FLDct_2011  FLDct_2012
1403      2427.0      2699.0      2880.0
1402      1158.0      1208.0      1276.0
1276       311.0       311.0       312.0
96         192.0       198.0       199.0
633        143.0       143.0       144.0
1938       119.0       120.0       122.0
969        116.0       123.0       128.0
592         71.0        71.0        71.0
1835        71.0        71.0        72.0
654        109.0       109.0       110.0

Desired aggregation methods applied to settlement level, year 2013. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005  FLDct_2006  FLDct_2007  FLDct_2008  FLDct_2009  \
1403      1497.0      1682.0      1839.0      1981.0      2159.0      2272.0
1402       767.0       841.0       931.0      1020.0      1057.0      1087.0
1276       260.0       282.0       293.0       297.0       309.0       309.0
96         158.0       164.0       169.0       170.0       173.0       184.0
633        128.0       131.0       138.0       140.0       140.0       141.0
1938       107.0       111.0       114.0       116.0       116.0       116.0
969         82.0        88.0        91.0       106.0       108.0       110.0
592         67.0        70.0        70.0        71.0        71.0        71.0
1835        61.0        64.0        66.0        68.0        69.0        71.0
654         92.0        94.0        96.0        98.0        98.0       103.0

      FLDct_2010  FLDct_2011  FLDct_2012  FLDct_2013
1403      2427.0      2699.0      2880.0      3203.0
1402      1158.0      1208.0      1276.0      1347.0
1276       311.0       311.0       312.0       315.0
96         192.0       198.0       199.0       200.0
633        143.0       143.0       144.0       144.0
1938       119.0       120.0       122.0       122.0
969        116.0       123.0       128.0       132.0
592         71.0        71.0        71.0        71.0
1835        71.0        71.0        72.0        73.0
654        109.0       109.0       110.0       111.0

Desired aggregation methods applied to settlement level, year 2014. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005  FLDct_2006  FLDct_2007  FLDct_2008  FLDct_2009  \
1403      1497.0      1682.0      1839.0      1981.0      2159.0      2272.0
1402       767.0       841.0       931.0      1020.0      1057.0      1087.0
1276       260.0       282.0       293.0       297.0       309.0       309.0
96         158.0       164.0       169.0       170.0       173.0       184.0
633        128.0       131.0       138.0       140.0       140.0       141.0
1938       107.0       111.0       114.0       116.0       116.0       116.0
969         82.0        88.0        91.0       106.0       108.0       110.0
592         67.0        70.0        70.0        71.0        71.0        71.0
1835        61.0        64.0        66.0        68.0        69.0        71.0
654         92.0        94.0        96.0        98.0        98.0       103.0

      FLDct_2010  FLDct_2011  FLDct_2012  FLDct_2013  FLDct_2014
1403      2427.0      2699.0      2880.0      3203.0      3372.0
1402      1158.0      1208.0      1276.0      1347.0      1375.0
1276       311.0       311.0       312.0       315.0       316.0
96         192.0       198.0       199.0       200.0       210.0
633        143.0       143.0       144.0       144.0       150.0
1938       119.0       120.0       122.0       122.0       131.0
969        116.0       123.0       128.0       132.0       135.0
592         71.0        71.0        71.0        71.0        73.0
1835        71.0        71.0        72.0        73.0        73.0
654        109.0       109.0       110.0       111.0       117.0

Desired aggregation methods applied to settlement level, year 2015. Tue Mar 14 19:45:40 2023

       Sett_ID  FLDct_1999  FLDct_2000  FLDct_2001  FLDct_2002  FLDct_2003  \
1403    131507       833.0       981.0      1072.0      1168.0      1311.0
1402    131506       441.0       495.0       539.0       618.0       684.0
1276    127629       170.0       186.0       187.0       204.0       242.0
96        4096        75.0        89.0        97.0       117.0       131.0
633      28286        71.0       102.0       125.0       127.0       128.0
1938  21474836        64.0        66.0        75.0        90.0       103.0
969      42500        61.0        64.0        75.0        81.0        81.0
592      25275        47.0        59.0        60.0        62.0        65.0
1835    337702        45.0        54.0        56.0        57.0        58.0
654      28555        44.0        47.0        72.0        84.0        87.0

      FLDct_2004  FLDct_2005  FLDct_2006  FLDct_2007  FLDct_2008  FLDct_2009  \
1403      1497.0      1682.0      1839.0      1981.0      2159.0      2272.0
1402       767.0       841.0       931.0      1020.0      1057.0      1087.0
1276       260.0       282.0       293.0       297.0       309.0       309.0
96         158.0       164.0       169.0       170.0       173.0       184.0
633        128.0       131.0       138.0       140.0       140.0       141.0
1938       107.0       111.0       114.0       116.0       116.0       116.0
969         82.0        88.0        91.0       106.0       108.0       110.0
592         67.0        70.0        70.0        71.0        71.0        71.0
1835        61.0        64.0        66.0        68.0        69.0        71.0
654         92.0        94.0        96.0        98.0        98.0       103.0

      FLDct_2010  FLDct_2011  FLDct_2012  FLDct_2013  FLDct_2014  FLDct_2015
1403      2427.0      2699.0      2880.0      3203.0      3372.0      3505.0
1402      1158.0      1208.0      1276.0      1347.0      1375.0      1427.0
1276       311.0       311.0       312.0       315.0       316.0       316.0
96         192.0       198.0       199.0       200.0       210.0       231.0
633        143.0       143.0       144.0       144.0       150.0       153.0
1938       119.0       120.0       122.0       122.0       131.0       135.0
969        116.0       123.0       128.0       132.0       135.0       144.0
592         71.0        71.0        71.0        71.0        73.0        73.0
1835        71.0        71.0        72.0        73.0        73.0        73.0
654        109.0       109.0       110.0       111.0       117.0       118.0

##### All buildings

In [35]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')
AllSummaries = pd.DataFrame(Settlements).drop(columns='geometry')[['Sett_ID']]
Settlements = None
AllSummaries

ValObject = pd.DataFrame(gpd.read_file(OutPackage, layer='AllBuildup'))[['Sett_ID', 'year']]

In [36]:
for BuiltYear in AllStudyYears:
    GroupedVals = ValObject[
        ValObject['year']<=BuiltYear].groupby(
        'Sett_ID', as_index=False)
    
    VariableName = ''.join(['BLDct_', str(BuiltYear)])
    
    AllSummaries = AllSummaries.merge(GroupedVals.count().rename(columns={'year': VariableName}), how = 'left', on='Sett_ID')

    print('\nDesired aggregation methods applied to settlement level, year %s. %s \n' % (BuiltYear, time.ctime()))

    # Save in-progress results
    AllSummaries.to_csv(os.path.join(FloodFolder, 'BuiltCellCount1999to2015.csv'))
    print(AllSummaries.sort_values(by=AllSummaries.columns[1], ascending=False).head(10))

Desired aggregation methods applied to settlement level, year 1999. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999
1403   131507      5985.0
96       4096      1988.0
969     42500      1934.0
1745   278172      1476.0
592     25275       896.0
1402   131506       741.0
1016    47551       608.0
1731   262678       595.0
524     23321       561.0
233     13874       531.0

Desired aggregation methods applied to settlement level, year 2000. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000
1403   131507      5985.0      7188.0
96       4096      1988.0      2396.0
969     42500      1934.0      2072.0
1745   278172      1476.0      1547.0
592     25275       896.0       991.0
1402   131506       741.0       859.0
1016    47551       608.0       692.0
1731   262678       595.0       648.0
524     23321       561.0       665.0
233     13874       531.0       569.0

Desired aggregation methods applied to settlement level, year 2001. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001
1403   131507      5985.0      7188.0      8185.0
96       4096      1988.0      2396.0      2627.0
969     42500      1934.0      2072.0      2248.0
1745   278172      1476.0      1547.0      1574.0
592     25275       896.0       991.0      1023.0
1402   131506       741.0       859.0       957.0
1016    47551       608.0       692.0       738.0
1731   262678       595.0       648.0       662.0
524     23321       561.0       665.0       689.0
233     13874       531.0       569.0       590.0

Desired aggregation methods applied to settlement level, year 2002. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002
1403   131507      5985.0      7188.0      8185.0      9285.0
96       4096      1988.0      2396.0      2627.0      2894.0
969     42500      1934.0      2072.0      2248.0      2331.0
1745   278172      1476.0      1547.0      1574.0      1785.0
592     25275       896.0       991.0      1023.0      1038.0
1402   131506       741.0       859.0       957.0      1101.0
1016    47551       608.0       692.0       738.0       753.0
1731   262678       595.0       648.0       662.0       687.0
524     23321       561.0       665.0       689.0       716.0
233     13874       531.0       569.0       590.0       628.0

Desired aggregation methods applied to settlement level, year 2003. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

Desired aggregation methods applied to settlement level, year 2004. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004
1403     11951.0
96        3305.0
969       2369.0
1745      2800.0
592       1103.0
1402      1510.0
1016       764.0
1731       722.0
524        734.0
233        804.0

Desired aggregation methods applied to settlement level, year 2005. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005
1403     11951.0     13487.0
96        3305.0      3382.0
969       2369.0      2406.0
1745      2800.0      3379.0
592       1103.0      1162.0
1402      1510.0      1671.0
1016       764.0       769.0
1731       722.0       757.0
524        734.0       752.0
233        804.0       844.0

Desired aggregation methods applied to settlement level, year 2006. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005  BLDct_2006
1403     11951.0     13487.0     14606.0
96        3305.0      3382.0      3398.0
969       2369.0      2406.0      2425.0
1745      2800.0      3379.0      3657.0
592       1103.0      1162.0      1169.0
1402      1510.0      1671.0      1818.0
1016       764.0       769.0       772.0
1731       722.0       757.0       780.0
524        734.0       752.0       795.0
233        804.0       844.0       856.0

Desired aggregation methods applied to settlement level, year 2007. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005  BLDct_2006  BLDct_2007
1403     11951.0     13487.0     14606.0     15713.0
96        3305.0      3382.0      3398.0      3409.0
969       2369.0      2406.0      2425.0      2522.0
1745      2800.0      3379.0      3657.0      4015.0
592       1103.0      1162.0      1169.0      1175.0
1402      1510.0      1671.0      1818.0      1995.0
1016       764.0       769.0       772.0       777.0
1731       722.0       757.0       780.0       807.0
524        734.0       752.0       795.0       803.0
233        804.0       844.0       856.0       869.0

Desired aggregation methods applied to settlement level, year 2008. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005  BLDct_2006  BLDct_2007  BLDct_2008
1403     11951.0     13487.0     14606.0     15713.0     16598.0
96        3305.0      3382.0      3398.0      3409.0      3452.0
969       2369.0      2406.0      2425.0      2522.0      2547.0
1745      2800.0      3379.0      3657.0      4015.0      4228.0
592       1103.0      1162.0      1169.0      1175.0      1185.0
1402      1510.0      1671.0      1818.0      1995.0      2056.0
1016       764.0       769.0       772.0       777.0       778.0
1731       722.0       757.0       780.0       807.0       836.0
524        734.0       752.0       795.0       803.0       818.0
233        804.0       844.0       856.0       869.0       884.0

Desired aggregation methods applied to settlement level, year 2009. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005  BLDct_2006  BLDct_2007  BLDct_2008  BLDct_2009
1403     11951.0     13487.0     14606.0     15713.0     16598.0     17356.0
96        3305.0      3382.0      3398.0      3409.0      3452.0      3792.0
969       2369.0      2406.0      2425.0      2522.0      2547.0      2573.0
1745      2800.0      3379.0      3657.0      4015.0      4228.0      4362.0
592       1103.0      1162.0      1169.0      1175.0      1185.0      1198.0
1402      1510.0      1671.0      1818.0      1995.0      2056.0      2104.0
1016       764.0       769.0       772.0       777.0       778.0       780.0
1731       722.0       757.0       780.0       807.0       836.0       882.0
524        734.0       752.0       795.0       803.0       818.0       843.0
233        804.0       844.0       856.0       869.0       884.0       900.0

Desired aggregation methods applied to settlement level, year 2010. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005  BLDct_2006  BLDct_2007  BLDct_2008  BLDct_2009  \
1403     11951.0     13487.0     14606.0     15713.0     16598.0     17356.0
96        3305.0      3382.0      3398.0      3409.0      3452.0      3792.0
969       2369.0      2406.0      2425.0      2522.0      2547.0      2573.0
1745      2800.0      3379.0      3657.0      4015.0      4228.0      4362.0
592       1103.0      1162.0      1169.0      1175.0      1185.0      1198.0
1402      1510.0      1671.0      1818.0      1995.0      2056.0      2104.0
1016       764.0       769.0       772.0       777.0       778.0       780.0
1731       722.0       757.0       780.0       807.0       836.0       882.0
524        734.0       752.0       795.0       803.0       818.0       843.0
233        804.0       844.0       856.0       869.0       884.0       900.0

      BLDct_2010
1403     18209.0
96        3975.0
969       2608.0
1745      4580.0
592       1209.0
1402      2221.0
1016       781.0
1731       901.0
524        865.0
233        947.0

Desired aggregation methods applied to settlement level, year 2011. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005  BLDct_2006  BLDct_2007  BLDct_2008  BLDct_2009  \
1403     11951.0     13487.0     14606.0     15713.0     16598.0     17356.0
96        3305.0      3382.0      3398.0      3409.0      3452.0      3792.0
969       2369.0      2406.0      2425.0      2522.0      2547.0      2573.0
1745      2800.0      3379.0      3657.0      4015.0      4228.0      4362.0
592       1103.0      1162.0      1169.0      1175.0      1185.0      1198.0
1402      1510.0      1671.0      1818.0      1995.0      2056.0      2104.0
1016       764.0       769.0       772.0       777.0       778.0       780.0
1731       722.0       757.0       780.0       807.0       836.0       882.0
524        734.0       752.0       795.0       803.0       818.0       843.0
233        804.0       844.0       856.0       869.0       884.0       900.0

      BLDct_2010  BLDct_2011
1403     18209.0     19519.0
96        3975.0      4142.0
969       2608.0      2664.0
1745      4580.0      5102.0
592       1209.0      1228.0
1402      2221.0      2320.0
1016       781.0       782.0
1731       901.0       957.0
524        865.0       875.0
233        947.0      1017.0

Desired aggregation methods applied to settlement level, year 2012. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005  BLDct_2006  BLDct_2007  BLDct_2008  BLDct_2009  \
1403     11951.0     13487.0     14606.0     15713.0     16598.0     17356.0
96        3305.0      3382.0      3398.0      3409.0      3452.0      3792.0
969       2369.0      2406.0      2425.0      2522.0      2547.0      2573.0
1745      2800.0      3379.0      3657.0      4015.0      4228.0      4362.0
592       1103.0      1162.0      1169.0      1175.0      1185.0      1198.0
1402      1510.0      1671.0      1818.0      1995.0      2056.0      2104.0
1016       764.0       769.0       772.0       777.0       778.0       780.0
1731       722.0       757.0       780.0       807.0       836.0       882.0
524        734.0       752.0       795.0       803.0       818.0       843.0
233        804.0       844.0       856.0       869.0       884.0       900.0

      BLDct_2010  BLDct_2011  BLDct_2012
1403     18209.0     19519.0     20470.0
96        3975.0      4142.0      4173.0
969       2608.0      2664.0      2723.0
1745      4580.0      5102.0      5789.0
592       1209.0      1228.0      1251.0
1402      2221.0      2320.0      2436.0
1016       781.0       782.0       788.0
1731       901.0       957.0       997.0
524        865.0       875.0       880.0
233        947.0      1017.0      1081.0

Desired aggregation methods applied to settlement level, year 2013. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005  BLDct_2006  BLDct_2007  BLDct_2008  BLDct_2009  \
1403     11951.0     13487.0     14606.0     15713.0     16598.0     17356.0
96        3305.0      3382.0      3398.0      3409.0      3452.0      3792.0
969       2369.0      2406.0      2425.0      2522.0      2547.0      2573.0
1745      2800.0      3379.0      3657.0      4015.0      4228.0      4362.0
592       1103.0      1162.0      1169.0      1175.0      1185.0      1198.0
1402      1510.0      1671.0      1818.0      1995.0      2056.0      2104.0
1016       764.0       769.0       772.0       777.0       778.0       780.0
1731       722.0       757.0       780.0       807.0       836.0       882.0
524        734.0       752.0       795.0       803.0       818.0       843.0
233        804.0       844.0       856.0       869.0       884.0       900.0

      BLDct_2010  BLDct_2011  BLDct_2012  BLDct_2013
1403     18209.0     19519.0     20470.0     21796.0
96        3975.0      4142.0      4173.0      4198.0
969       2608.0      2664.0      2723.0      2782.0
1745      4580.0      5102.0      5789.0      6285.0
592       1209.0      1228.0      1251.0      1262.0
1402      2221.0      2320.0      2436.0      2565.0
1016       781.0       782.0       788.0       802.0
1731       901.0       957.0       997.0      1035.0
524        865.0       875.0       880.0       882.0
233        947.0      1017.0      1081.0      1131.0

Desired aggregation methods applied to settlement level, year 2014. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005  BLDct_2006  BLDct_2007  BLDct_2008  BLDct_2009  \
1403     11951.0     13487.0     14606.0     15713.0     16598.0     17356.0
96        3305.0      3382.0      3398.0      3409.0      3452.0      3792.0
969       2369.0      2406.0      2425.0      2522.0      2547.0      2573.0
1745      2800.0      3379.0      3657.0      4015.0      4228.0      4362.0
592       1103.0      1162.0      1169.0      1175.0      1185.0      1198.0
1402      1510.0      1671.0      1818.0      1995.0      2056.0      2104.0
1016       764.0       769.0       772.0       777.0       778.0       780.0
1731       722.0       757.0       780.0       807.0       836.0       882.0
524        734.0       752.0       795.0       803.0       818.0       843.0
233        804.0       844.0       856.0       869.0       884.0       900.0

      BLDct_2010  BLDct_2011  BLDct_2012  BLDct_2013  BLDct_2014
1403     18209.0     19519.0     20470.0     21796.0     22636.0
96        3975.0      4142.0      4173.0      4198.0      4330.0
969       2608.0      2664.0      2723.0      2782.0      2877.0
1745      4580.0      5102.0      5789.0      6285.0      6734.0
592       1209.0      1228.0      1251.0      1262.0      1288.0
1402      2221.0      2320.0      2436.0      2565.0      2624.0
1016       781.0       782.0       788.0       802.0       826.0
1731       901.0       957.0       997.0      1035.0      1072.0
524        865.0       875.0       880.0       882.0       897.0
233        947.0      1017.0      1081.0      1131.0      1217.0

Desired aggregation methods applied to settlement level, year 2015. Tue Mar 14 19:46:08 2023

      Sett_ID  BLDct_1999  BLDct_2000  BLDct_2001  BLDct_2002  BLDct_2003  \
1403   131507      5985.0      7188.0      8185.0      9285.0     10675.0
96       4096      1988.0      2396.0      2627.0      2894.0      3005.0
969     42500      1934.0      2072.0      2248.0      2331.0      2361.0
1745   278172      1476.0      1547.0      1574.0      1785.0      2212.0
592     25275       896.0       991.0      1023.0      1038.0      1057.0
1402   131506       741.0       859.0       957.0      1101.0      1280.0
1016    47551       608.0       692.0       738.0       753.0       755.0
1731   262678       595.0       648.0       662.0       687.0       701.0
524     23321       561.0       665.0       689.0       716.0       727.0
233     13874       531.0       569.0       590.0       628.0       743.0

      BLDct_2004  BLDct_2005  BLDct_2006  BLDct_2007  BLDct_2008  BLDct_2009  \
1403     11951.0     13487.0     14606.0     15713.0     16598.0     17356.0
96        3305.0      3382.0      3398.0      3409.0      3452.0      3792.0
969       2369.0      2406.0      2425.0      2522.0      2547.0      2573.0
1745      2800.0      3379.0      3657.0      4015.0      4228.0      4362.0
592       1103.0      1162.0      1169.0      1175.0      1185.0      1198.0
1402      1510.0      1671.0      1818.0      1995.0      2056.0      2104.0
1016       764.0       769.0       772.0       777.0       778.0       780.0
1731       722.0       757.0       780.0       807.0       836.0       882.0
524        734.0       752.0       795.0       803.0       818.0       843.0
233        804.0       844.0       856.0       869.0       884.0       900.0

      BLDct_2010  BLDct_2011  BLDct_2012  BLDct_2013  BLDct_2014  BLDct_2015
1403     18209.0     19519.0     20470.0     21796.0     22636.0       23284
96        3975.0      4142.0      4173.0      4198.0      4330.0        4582
969       2608.0      2664.0      2723.0      2782.0      2877.0        2950
1745      4580.0      5102.0      5789.0      6285.0      6734.0        6946
592       1209.0      1228.0      1251.0      1262.0      1288.0        1301
1402      2221.0      2320.0      2436.0      2565.0      2624.0        2730
1016       781.0       782.0       788.0       802.0       826.0         834
1731       901.0       957.0       997.0      1035.0      1072.0        1120
524        865.0       875.0       880.0       882.0       897.0         918
233        947.0      1017.0      1081.0      1131.0      1217.0        1291

### 10.7 Calculate area and percent flooded and save to file

In [29]:
BuiltArea = pd.read_csv(os.path.join(FloodFolder, 'BuiltCellCount1999to2015.csv'))
Flood = pd.read_csv(os.path.join(FloodFolder, 'FloodedCellCount1999to2015.csv'))
Areas = pd.read_csv(os.path.join(ResultsFolder, 'Areas1999to2015.csv'))

for Dataset in [BuiltArea, Flood, Areas]:
    if 'Unnamed: 0' in Dataset.columns:
        Dataset.drop(columns='Unnamed: 0', inplace=True)
    else:
        pass
    print(Dataset.info())

Stats = reduce(lambda  left,right: pd.merge(left,right,on=['Sett_ID'],
                                            how='outer'), [BuiltArea, Flood, Areas])
print(Stats.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sett_ID     1939 non-null   int64
 1   BLDct_1999  1662 non-null   float64
 2   BLDct_2000  1691 non-null   float64
 3   BLDct_2001  1710 non-null   float64
 4   BLDct_2002  1737 non-null   float64
 5   BLDct_2003  1750 non-null   float64
 6   BLDct_2004  1763 non-null   float64
 7   BLDct_2005  1781 non-null   float64
 8   BLDct_2006  1791 non-null   float64
 9   BLDct_2007  1798 non-null   float64
 10  BLDct_2008  1809 non-null   float64
 11  BLDct_2009  1824 non-null   float64
 12  BLDct_2010  1838 non-null   float64
 13  BLDct_2011  1850 non-null   float64
 14  BLDct_2012  1873 non-null   float64
 15  BLDct_2013  1889 non-null   float64
 16  BLDct_2014  1917 non-null   float64
 17  BLDct_2015  1939 non-null   int64
dtypes: float64(16), int64(2)
memory usage: 272.8 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sett_ID     1939 non-null   int64
 1   FLDct_1999  152 non-null    float64
 2   FLDct_2000  157 non-null    float64
 3   FLDct_2001  161 non-null    float64
 4   FLDct_2002  164 non-null    float64
 5   FLDct_2003  164 non-null    float64
 6   FLDct_2004  165 non-null    float64
 7   FLDct_2005  169 non-null    float64
 8   FLDct_2006  172 non-null    float64
 9   FLDct_2007  174 non-null    float64
 10  FLDct_2008  175 non-null    float64
 11  FLDct_2009  177 non-null    float64
 12  FLDct_2010  178 non-null    float64
 13  FLDct_2011  180 non-null    float64
 14  FLDct_2012  185 non-null    float64
 15  FLDct_2013  186 non-null    float64
 16  FLDct_2014  189 non-null    float64
 17  FLDct_2015  191 non-null    float64
dtypes: float64(17), int64(1)
memory usage: 272.8 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   1939 non-null   int64
 1   year      1939 non-null   int64
 2   ADM_ID    1939 non-null   int64
 3   AREA2015  1939 non-null   float64
 4   AREA2014  1917 non-null   float64
 5   AREA2013  1889 non-null   float64
 6   AREA2012  1873 non-null   float64
 7   AREA2011  1850 non-null   float64
 8   AREA2010  1838 non-null   float64
 9   AREA2009  1824 non-null   float64
 10  AREA2008  1809 non-null   float64
 11  AREA2007  1798 non-null   float64
 12  AREA2006  1791 non-null   float64
 13  AREA2005  1781 non-null   float64
 14  AREA2004  1763 non-null   float64
 15  AREA2003  1750 non-null   float64
 16  AREA2002  1737 non-null   float64
 17  AREA2001  1710 non-null   float64
 18  AREA2000  1691 non-null   float64
 19  AREA1999  1662 non-null   float64
dtypes: float64(17), int64(3)
memory usage: 303.1 KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1939 entries, 0 to 1938
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sett_ID     1939 non-null   int64
 1   BLDct_1999  1662 non-null   float64
 2   BLDct_2000  1691 non-null   float64
 3   BLDct_2001  1710 non-null   float64
 4   BLDct_2002  1737 non-null   float64
 5   BLDct_2003  1750 non-null   float64
 6   BLDct_2004  1763 non-null   float64
 7   BLDct_2005  1781 non-null   float64
 8   BLDct_2006  1791 non-null   float64
 9   BLDct_2007  1798 non-null   float64
 10  BLDct_2008  1809 non-null   float64
 11  BLDct_2009  1824 non-null   float64
 12  BLDct_2010  1838 non-null   float64
 13  BLDct_2011  1850 non-null   float64
 14  BLDct_2012  1873 non-null   float64
 15  BLDct_2013  1889 non-null   float64
 16  BLDct_2014  1917 non-null   float64
 17  BLDct_2015  1939 non-null   int64
 18  FLDct_1999  152 non-null    float64
 19  FLDct_2000  157 non-null    float64
 20  FLDct_2001  161 non-null    float64
 21  FLDct_2002  164 non-null    float64
 22  FLDct_2003  164 non-null    float64
 23  FLDct_2004  165 non-null    float64
 24  FLDct_2005  169 non-null    float64
 25  FLDct_2006  172 non-null    float64
 26  FLDct_2007  174 non-null    float64
 27  FLDct_2008  175 non-null    float64
 28  FLDct_2009  177 non-null    float64
 29  FLDct_2010  178 non-null    float64
 30  FLDct_2011  180 non-null    float64
 31  FLDct_2012  185 non-null    float64
 32  FLDct_2013  186 non-null    float64
 33  FLDct_2014  189 non-null    float64
 34  FLDct_2015  191 non-null    float64
 35  year        1939 non-null   int64
 36  ADM_ID      1939 non-null   int64
 37  AREA2015    1939 non-null   float64
 38  AREA2014    1917 non-null   float64
 39  AREA2013    1889 non-null   float64
 40  AREA2012    1873 non-null   float64
 41  AREA2011    1850 non-null   float64
 42  AREA2010    1838 non-null   float64
 43  AREA2009    1824 non-null   float64
 44  AREA2008    1809 non-null   float64
 45  AREA2007    1798 non-null   float64
 46  AREA2006    1791 non-null   float64
 47  AREA2005    1781 non-null   float64
 48  AREA2004    1763 non-null   float64
 49  AREA2003    1750 non-null   float64
 50  AREA2002    1737 non-null   float64
 51  AREA2001    1710 non-null   float64
 52  AREA2000    1691 non-null   float64
 53  AREA1999    1662 non-null   float64
dtypes: float64(50), int64(4)
memory usage: 833.2 KB
None

In [30]:
# Quick spot-checking. Number of flood cells should always be less than or equal to number of built area cells.
Check1 = (Stats['FLDct_2007'] > Stats['BLDct_2007']).sum()
Check2 = (Stats['FLDct_2000'] > Stats['BLDct_2000']).sum()
Check3 = (Stats['FLDct_2011'] > Stats['BLDct_2011']).sum()
print(Check1, Check2, Check3) # All should be zero.

2 3 0

##### Percent flooded

In [31]:
for year in AllStudyYears:
    RawVar = ''.join(['FLDct_', str(year)])
    DenomVar = ''.join(['BLDct_', str(year)])
    NewVar = ''.join(['FLDpc', str(year)])
    if ((RawVar in Stats.columns) and (DenomVar in Stats.columns)):
        Stats[NewVar] = Stats[RawVar] / Stats[DenomVar]
    else:
        pass
Stats.sort_values(by='FLDpc2005', ascending=False).head(10)

,Sett_ID,BLDct_1999,BLDct_2000,BLDct_2001,BLDct_2002,BLDct_2003,BLDct_2004,BLDct_2005,BLDct_2006,BLDct_2007,...,FLDpc2006,FLDpc2007,FLDpc2008,FLDpc2009,FLDpc2010,FLDpc2011,FLDpc2012,FLDpc2013,FLDpc2014,FLDpc2015
1390,129929,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.000000,2.000000,1.000000,0.666667,0.666667,0.666667,0.750000,0.571429,0.500000,0.500000
988,42736,5.0,5.0,5.0,6.0,7.0,7.0,7.0,7.0,7.0,...,1.142857,1.142857,1.142857,1.000000,1.000000,1.000000,1.000000,1.000000,0.900000,0.900000
678,29307,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.000000,0.500000,0.500000,0.500000,0.333333,0.333333,0.333333,0.333333,0.333333
1846,337719,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1845,337718,3.0,3.0,3.0,3.0,5.0,8.0,15.0,17.0,20.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
724,32873,1.0,1.0,1.0,3.0,3.0,3.0,3.0,4.0,4.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1842,337713,1.0,1.0,1.0,1.0,2.0,2.0,3.0,3.0,4.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
964,41701,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,...,0.500000,0.500000,0.500000,0.500000,0.500000,0.333333,0.333333,0.250000,0.250000,0.166667
1833,337698,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1005,44861,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

##### Area flooded

In [32]:
for year in AllStudyYears:
    RawVar = ''.join(['FLDpc', str(year)])
    DenomVar = ''.join(['AREA', str(year)])
    NewVar = ''.join(['FLDarea', str(year)])
    if ((RawVar in Stats.columns) and (DenomVar in Stats.columns)):
        Stats[NewVar] = Stats[RawVar] * Stats[DenomVar]
    else:
        pass
Stats.sort_values(by='FLDarea2005', ascending=False).head(10)

,Sett_ID,BLDct_1999,BLDct_2000,BLDct_2001,BLDct_2002,BLDct_2003,BLDct_2004,BLDct_2005,BLDct_2006,BLDct_2007,...,FLDarea2006,FLDarea2007,FLDarea2008,FLDarea2009,FLDarea2010,FLDarea2011,FLDarea2012,FLDarea2013,FLDarea2014,FLDarea2015
1403,131507,5985.0,7188.0,8185.0,9285.0,10675.0,11951.0,13487.0,14606.0,15713.0,...,16.655587,16.970924,17.700706,17.972061,18.463154,19.555881,20.139341,21.477919,22.011602,22.385899
1402,131506,741.0,859.0,957.0,1101.0,1280.0,1510.0,1671.0,1818.0,1995.0,...,5.794690,6.013235,6.103088,6.161564,6.345808,6.433329,6.570747,6.693979,6.720239,6.779410
1276,127629,180.0,196.0,197.0,215.0,259.0,277.0,299.0,310.0,314.0,...,2.097866,2.104376,2.116532,2.110920,2.113387,2.107840,2.103588,2.102753,2.104835,2.104835
1938,21474836,288.0,309.0,359.0,448.0,502.0,526.0,552.0,616.0,648.0,...,1.411002,1.373302,1.344638,1.317770,1.291951,1.258767,1.239307,1.227914,1.191595,1.104724
96,4096,1988.0,2396.0,2627.0,2894.0,3005.0,3305.0,3382.0,3398.0,3409.0,...,1.236166,1.240035,1.248213,1.237548,1.243680,1.241821,1.240363,1.240796,1.272527,1.341342
1272,127625,43.0,59.0,68.0,69.0,81.0,103.0,116.0,129.0,133.0,...,0.688244,0.697663,0.719378,0.757705,0.790788,0.794843,0.801648,0.803049,0.809131,0.814482
969,42500,1934.0,2072.0,2248.0,2331.0,2361.0,2369.0,2406.0,2425.0,2522.0,...,0.650003,0.732983,0.740743,0.748107,0.780385,0.813230,0.832100,0.843429,0.839896,0.878839
592,25275,896.0,991.0,1023.0,1038.0,1057.0,1103.0,1162.0,1169.0,1175.0,...,0.482084,0.486844,0.483259,0.478688,0.475000,0.469520,0.462475,0.459279,0.464220,0.460513
1835,337702,57.0,73.0,79.0,80.0,82.0,86.0,94.0,100.0,104.0,...,0.365655,0.366816,0.365156,0.369984,0.362290,0.359633,0.362051,0.362400,0.362400,0.362400
967,42498,80.0,98.0,137.0,165.0,171.0,172.0,176.0,185.0,200.0,...,0.359040,0.343599,0.354604,0.349997,0.361921,0.360633,0.341076,0.345971,0.339573,0.343065

In [33]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|FLDpc|FLDarea')]
Stats.columns

Index(['Sett_ID', 'FLDpc1999', 'FLDpc2000', 'FLDpc2001', 'FLDpc2002',
       'FLDpc2003', 'FLDpc2004', 'FLDpc2005', 'FLDpc2006', 'FLDpc2007',
       'FLDpc2008', 'FLDpc2009', 'FLDpc2010', 'FLDpc2011', 'FLDpc2012',
       'FLDpc2013', 'FLDpc2014', 'FLDpc2015', 'FLDarea1999', 'FLDarea2000',
       'FLDarea2001', 'FLDarea2002', 'FLDarea2003', 'FLDarea2004',
       'FLDarea2005', 'FLDarea2006', 'FLDarea2007', 'FLDarea2008',
       'FLDarea2009', 'FLDarea2010', 'FLDarea2011', 'FLDarea2012',
       'FLDarea2013', 'FLDarea2014', 'FLDarea2015'],
      dtype='object')

In [34]:
# Save to file
Stats.to_csv(os.path.join(ResultsFolder, 'Flood1999to2015.csv'))

## 11. GROWTH STATISTICS

### 11.1 Load and prep.

In [125]:
AllStudyYears = ListFromRange(1999, 2015)

In [126]:
PlaceNames = pd.read_csv(os.path.join(ResultsFolder, 'PlaceNames.csv'))
Areas = pd.read_csv(os.path.join(ResultsFolder, 'Areas1999to2015.csv'))
Population = pd.read_csv(os.path.join(ResultsFolder, 'POP2000to2015.csv'))
NTL = pd.read_csv(os.path.join(ResultsFolder, 'NTL1999to2015.csv'))
Flood = pd.read_csv(os.path.join(ResultsFolder, 'Flood1999to2015.csv'))

RawValues = [PlaceNames, Areas, Population, NTL, Flood]

for Dataset in RawValues:
    if 'Unnamed: 0' in Dataset.columns:
        Dataset.drop(columns='Unnamed: 0', inplace=True)
    else:
        pass
    if 'year' in Dataset.columns:
        Dataset.drop(columns='year', inplace=True)
    else:
        pass
    print(Dataset.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   1939 non-null   int64
 1   SettName  1939 non-null   object
dtypes: int64(1), object(1)
memory usage: 30.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   1939 non-null   int64
 1   ADM_ID    1939 non-null   int64
 2   AREA2015  1939 non-null   float64
 3   AREA2014  1917 non-null   float64
 4   AREA2013  1889 non-null   float64
 5   AREA2012  1873 non-null   float64
 6   AREA2011  1850 non-null   float64
 7   AREA2010  1838 non-null   float64
 8   AREA2009  1824 non-null   float64
 9   AREA2008  1809 non-null   float64
 10  AREA2007  1798 non-null   float64
 11  AREA2006  1791 non-null   float64
 12  AREA2005  1781 non-null   float64
 13  AREA2004  1763 non-null   float64
 14  AREA2003  1750 non-null   float64
 15  AREA2002  1737 non-null   float64
 16  AREA2001  1710 non-null   float64
 17  AREA2000  1691 non-null   float64
 18  AREA1999  1662 non-null   float64
dtypes: float64(17), int64(2)
memory usage: 287.9 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sett_ID     1939 non-null   int64
 1   POPct2000   1926 non-null   float64
 2   POPsum2000  1926 non-null   float64
 3   POPct2001   1926 non-null   float64
 4   POPsum2001  1926 non-null   float64
 5   POPct2002   1926 non-null   float64
 6   POPsum2002  1926 non-null   float64
 7   POPct2003   1926 non-null   float64
 8   POPsum2003  1926 non-null   float64
 9   POPct2004   1926 non-null   float64
 10  POPsum2004  1926 non-null   float64
 11  POPct2005   1926 non-null   float64
 12  POPsum2005  1926 non-null   float64
 13  POPct2006   1926 non-null   float64
 14  POPsum2006  1926 non-null   float64
 15  POPct2007   1926 non-null   float64
 16  POPsum2007  1926 non-null   float64
 17  POPct2008   1926 non-null   float64
 18  POPsum2008  1926 non-null   float64
 19  POPct2009   1926 non-null   float64
 20  POPsum2009  1926 non-null   float64
 21  POPct2010   1926 non-null   float64
 22  POPsum2010  1926 non-null   float64
 23  POPct2011   1926 non-null   float64
 24  POPsum2011  1926 non-null   float64
 25  POPct2012   1926 non-null   float64
 26  POPsum2012  1926 non-null   float64
 27  POPct2013   1926 non-null   float64
 28  POPsum2013  1926 non-null   float64
 29  POPct2014   1926 non-null   float64
 30  POPsum2014  1926 non-null   float64
 31  POPct2015   1926 non-null   float64
 32  POPsum2015  1926 non-null   float64
dtypes: float64(32), int64(1)
memory usage: 500.0 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 115 columns):
 #    Column         Dtype
---   ------         -----
 0    Sett_ID        int64
 1    NTLctD_1999    float64
 2    NTLsumD_1999   float64
 3    NTLavgD_1999   float64
 4    NTLmaxD_1999   float64
 5    NTLminD_1999   float64
 6    NTLcfc_D_1999  float64
 7    NTLctD_2000    float64
 8    NTLsumD_2000   float64
 9    NTLavgD_2000   float64
 10   NTLmaxD_2000   float64
 11   NTLminD_2000   float64
 12   NTLcfc_D_2000  float64
 13   NTLctD_2001    float64
 14   NTLsumD_2001   float64
 15   NTLavgD_2001   float64
 16   NTLmaxD_2001   float64
 17   NTLminD_2001   float64
 18   NTLcfc_D_2001  float64
 19   NTLctD_2002    float64
 20   NTLsumD_2002   float64
 21   NTLavgD_2002   float64
 22   NTLmaxD_2002   float64
 23   NTLminD_2002   float64
 24   NTLcfc_D_2002  float64
 25   NTLctD_2003    float64
 26   NTLsumD_2003   float64
 27   NTLavgD_2003   float64
 28   NTLmaxD_2003   float64
 29   NTLminD_2003   float64
 30   NTLcfc_D_2003  float64
 31   NTLctD_2004    float64
 32   NTLsumD_2004   float64
 33   NTLavgD_2004   float64
 34   NTLmaxD_2004   float64
 35   NTLminD_2004   float64
 36   NTLcfc_D_2004  float64
 37   NTLctD_2005    float64
 38   NTLsumD_2005   float64
 39   NTLavgD_2005   float64
 40   NTLmaxD_2005   float64
 41   NTLminD_2005   float64
 42   NTLcfc_D_2005  float64
 43   NTLctD_2006    float64
 44   NTLsumD_2006   float64
 45   NTLavgD_2006   float64
 46   NTLmaxD_2006   float64
 47   NTLminD_2006   float64
 48   NTLcfc_D_2006  float64
 49   NTLctD_2007    float64
 50   NTLsumD_2007   float64
 51   NTLavgD_2007   float64
 52   NTLmaxD_2007   float64
 53   NTLminD_2007   float64
 54   NTLcfc_D_2007  float64
 55   NTLctD_2008    float64
 56   NTLsumD_2008   float64
 57   NTLavgD_2008   float64
 58   NTLmaxD_2008   float64
 59   NTLminD_2008   float64
 60   NTLcfc_D_2008  float64
 61   NTLctD_2009    float64
 62   NTLsumD_2009   float64
 63   NTLavgD_2009   float64
 64   NTLmaxD_2009   float64
 65   NTLminD_2009   float64
 66   NTLcfc_D_2009  float64
 67   NTLctD_2010    float64
 68   NTLsumD_2010   float64
 69   NTLavgD_2010   float64
 70   NTLmaxD_2010   float64
 71   NTLminD_2010   float64
 72   NTLcfc_D_2010  float64
 73   NTLctD_2011    float64
 74   NTLsumD_2011   float64
 75   NTLavgD_2011   float64
 76   NTLmaxD_2011   float64
 77   NTLminD_2011   float64
 78   NTLcfc_D_2011  float64
 79   NTLctD_2012    float64
 80   NTLsumD_2012   float64
 81   NTLavgD_2012   float64
 82   NTLmaxD_2012   float64
 83   NTLminD_2012   float64
 84   NTLcfc_D_2012  float64
 85   NTLctD_2013    float64
 86   NTLsumD_2013   float64
 87   NTLavgD_2013   float64
 88   NTLmaxD_2013   float64
 89   NTLminD_2013   float64
 90   NTLcfc_D_2013  float64
 91   NTLctV_2012    float64
 92   NTLsumV_2012   float64
 93   NTLavgV_2012   float64
 94   NTLmaxV_2012   float64
 95   NTLminV_2012   float64
 96   NTLcfc_V_2012  float64
 97   NTLctV_2013    float64
 98   NTLsumV_2013   float64
 99   NTLavgV_2013   float64
 100  NTLmaxV_2013   float64
 101  NTLminV_2013   float64
 102  NTLcfc_V_2013  float64
 103  NTLctV_2014    float64
 104  NTLsumV_2014   float64
 105  NTLavgV_2014   float64
 106  NTLmaxV_2014   float64
 107  NTLminV_2014   float64
 108  NTLcfc_V_2014  float64
 109  NTLctV_2015    float64
 110  NTLsumV_2015   float64
 111  NTLavgV_2015   float64
 112  NTLmaxV_2015   float64
 113  NTLminV_2015   float64
 114  NTLcfc_V_2015  float64
dtypes: float64(114), int64(1)
memory usage: 1.7 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1939 entries, 0 to 1938
Data columns (total 35 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sett_ID      1939 non-null   int64
 1   FLDpc1999    152 non-null    float64
 2   FLDpc2000    157 non-null    float64
 3   FLDpc2001    161 non-null    float64
 4   FLDpc2002    164 non-null    float64
 5   FLDpc2003    164 non-null    float64
 6   FLDpc2004    165 non-null    float64
 7   FLDpc2005    169 non-null    float64
 8   FLDpc2006    172 non-null    float64
 9   FLDpc2007    174 non-null    float64
 10  FLDpc2008    175 non-null    float64
 11  FLDpc2009    177 non-null    float64
 12  FLDpc2010    178 non-null    float64
 13  FLDpc2011    180 non-null    float64
 14  FLDpc2012    185 non-null    float64
 15  FLDpc2013    186 non-null    float64
 16  FLDpc2014    189 non-null    float64
 17  FLDpc2015    191 non-null    float64
 18  FLDarea1999  152 non-null    float64
 19  FLDarea2000  157 non-null    float64
 20  FLDarea2001  161 non-null    float64
 21  FLDarea2002  164 non-null    float64
 22  FLDarea2003  164 non-null    float64
 23  FLDarea2004  165 non-null    float64
 24  FLDarea2005  169 non-null    float64
 25  FLDarea2006  172 non-null    float64
 26  FLDarea2007  174 non-null    float64
 27  FLDarea2008  175 non-null    float64
 28  FLDarea2009  177 non-null    float64
 29  FLDarea2010  178 non-null    float64
 30  FLDarea2011  180 non-null    float64
 31  FLDarea2012  185 non-null    float64
 32  FLDarea2013  186 non-null    float64
 33  FLDarea2014  189 non-null    float64
 34  FLDarea2015  191 non-null    float64
dtypes: float64(34), int64(1)
memory usage: 530.3 KB
None

In [127]:
AllStats = reduce(lambda  left,right: pd.merge(left,right,on=['Sett_ID'],
                                            how='outer'), RawValues)
AllStats.to_csv(os.path.join(ResultsFolder, 'AllStats.csv'))

AllStats[AllStats.SettName!='UNK'].sample(5)

,Sett_ID,SettName,ADM_ID,AREA2015,AREA2014,AREA2013,AREA2012,AREA2011,AREA2010,AREA2009,...,FLDarea2006,FLDarea2007,FLDarea2008,FLDarea2009,FLDarea2010,FLDarea2011,FLDarea2012,FLDarea2013,FLDarea2014,FLDarea2015
482,22184,Kokanti,25,0.332938,0.332938,0.332064,0.331190,0.327695,0.326821,0.326821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
590,25273,Bebalem,23,0.581986,0.581986,0.581986,0.581986,0.581986,0.580238,0.574121,...,0.010190,0.01019,0.010131,0.010072,0.009961,0.009906,0.009906,0.009906,0.009906,0.009906
1191,68616,Massenya,5,0.602958,0.571500,0.512078,0.502465,0.498970,0.494601,0.488484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.003211,0.006216
1615,193591,Mangalme,11,0.191374,0.183509,0.180014,0.167780,0.152050,0.150303,0.150303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,13874,Kelo,63,13.736088,13.609379,13.486166,13.427618,13.340233,13.234496,13.183813,...,0.153455,0.15133,0.148960,0.146487,0.181677,0.183641,0.211165,0.214634,0.223655,0.212798

### 11.2 Change over time of raw variables
pch = percent change

#### Population change

In [128]:
Stats = PlaceNames.copy().merge(Population, how = 'outer', on='Sett_ID')
for year in AllStudyYears:
    RawVar = ''.join(['POPsum', str(year)])
    LagVar = ''.join(['POPsum', str(year-1)])
    NewVar = ''.join(['POPpch', str(year)])
    if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
        Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
    else:
        pass

In [129]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|pch')]
Stats.columns

Index(['Sett_ID', 'SettName', 'POPpch2001', 'POPpch2002', 'POPpch2003',
       'POPpch2004', 'POPpch2005', 'POPpch2006', 'POPpch2007', 'POPpch2008',
       'POPpch2009', 'POPpch2010', 'POPpch2011', 'POPpch2012', 'POPpch2013',
       'POPpch2014', 'POPpch2015'],
      dtype='object')

In [130]:
Stats.to_csv(os.path.join(ResultsFolder, 'PopChange.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,ADM_ID,AREA2015,AREA2014,AREA2013,AREA2012,AREA2011,AREA2010,AREA2009,...,POPpch2006,POPpch2007,POPpch2008,POPpch2009,POPpch2010,POPpch2011,POPpch2012,POPpch2013,POPpch2014,POPpch2015
1403,131507,Koundoul II / Sara,6,148.711349,147.762345,146.154456,143.143161,141.426914,138.523102,137.290096,...,0.053176,0.063984,0.037304,0.018646,0.009433,0.016592,0.023282,0.074007,0.010564,0.041600
96,4096,Moundou,20,26.606188,26.238296,26.044301,26.010220,25.977888,25.748065,25.504260,...,0.069770,-0.045907,0.156758,-0.038563,-0.071351,0.017607,0.013552,-0.022050,0.054950,-0.044796
1745,278172,Abéché,41,23.189424,22.910666,22.147792,21.331614,20.079383,19.196792,18.938132,...,0.269676,-0.155332,0.378849,0.035748,-0.017689,0.038792,-0.253827,0.075921,-0.124336,0.080708
969,42500,Sarh,62,18.003984,17.899121,17.775908,17.701631,17.613372,17.545211,17.498897,...,0.202189,-0.098190,0.143968,0.114475,-0.189461,0.082034,-0.040413,0.063462,-0.094357,0.053194
233,13874,Kelo,63,13.736088,13.609379,13.486166,13.427618,13.340233,13.234496,13.183813,...,0.108237,0.023285,0.045750,-0.053744,-0.009072,0.104343,-0.022251,0.091664,-0.072681,-0.000069
792,35033,Doba,24,12.879712,12.707563,12.585224,12.495217,12.393850,12.350158,12.333555,...,0.150725,-0.051698,0.128101,-0.011095,-0.144326,0.086058,0.120852,-0.021857,-0.001727,0.009177
592,25275,Benoye,23,8.207223,8.190620,8.163530,8.148675,8.120712,8.088379,8.077019,...,0.085490,0.025476,0.030602,-0.061035,0.030421,0.085674,-0.009384,0.083119,-0.063343,0.008611
1938,21474836,Lai,47,8.330436,8.068280,7.910987,7.903122,7.867294,7.784278,7.736216,...,0.023543,-0.062737,0.063371,0.014194,0.004281,0.090717,-0.007012,-0.016821,0.065494,-0.017465
524,23321,Bébédja,27,5.978899,5.945693,5.926468,5.924720,5.920351,5.906369,5.882775,...,0.091217,0.034232,0.054047,0.168066,-0.097511,-0.020662,0.073291,0.096089,-0.022835,-0.000810
1122,60380,Bongor,33,5.251854,5.005427,4.779973,4.598212,4.539664,4.500341,4.364893,...,0.082878,-0.113357,0.205501,-0.053385,-0.015855,0.106654,0.052697,-0.035693,0.084758,-0.001532

#### Area change

In [131]:
Stats = PlaceNames.copy().merge(Areas, how = 'outer', on='Sett_ID')
for year in AllStudyYears:
    RawVar = ''.join(['AREA', str(year)])
    LagVar = ''.join(['AREA', str(year-1)])
    NewVar = ''.join(['AREApch', str(year)])
    if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
        Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
    else:
        pass

In [132]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|pch')]
Stats.columns

Index(['Sett_ID', 'SettName', 'AREApch2000', 'AREApch2001', 'AREApch2002',
       'AREApch2003', 'AREApch2004', 'AREApch2005', 'AREApch2006',
       'AREApch2007', 'AREApch2008', 'AREApch2009', 'AREApch2010',
       'AREApch2011', 'AREApch2012', 'AREApch2013', 'AREApch2014',
       'AREApch2015'],
      dtype='object')

In [133]:
Stats.to_csv(os.path.join(ResultsFolder, 'AreaChange.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,ADM_ID,AREA2015,AREA2014,AREA2013,AREA2012,AREA2011,AREA2010,AREA2009,...,AREApch2006,AREApch2007,AREApch2008,AREApch2009,AREApch2010,AREApch2011,AREApch2012,AREApch2013,AREApch2014,AREApch2015
1403,131507,Koundoul II / Sara,6,148.711349,147.762345,146.154456,143.143161,141.426914,138.523102,137.290096,...,0.015040,0.017585,0.010913,0.008894,0.008981,0.020963,0.012135,0.021037,0.011001,0.006423
96,4096,Moundou,20,26.606188,26.238296,26.044301,26.010220,25.977888,25.748065,25.504260,...,0.000668,0.000457,0.001617,0.023998,0.009559,0.008926,0.001245,0.001310,0.007449,0.014021
1745,278172,Abéché,41,23.189424,22.910666,22.147792,21.331614,20.079383,19.196792,18.938132,...,0.022164,0.028295,0.015508,0.008986,0.013658,0.045976,0.062364,0.038261,0.034445,0.012167
969,42500,Sarh,62,18.003984,17.899121,17.775908,17.701631,17.613372,17.545211,17.498897,...,0.001162,0.006811,0.001704,0.001701,0.002647,0.003885,0.005011,0.004196,0.006931,0.005859
233,13874,Kelo,63,13.736088,13.609379,13.486166,13.427618,13.340233,13.234496,13.183813,...,0.001266,0.001131,0.001329,0.001195,0.003844,0.007989,0.006551,0.004360,0.009136,0.009310
792,35033,Doba,24,12.879712,12.707563,12.585224,12.495217,12.393850,12.350158,12.333555,...,0.005614,0.005800,0.010524,0.006777,0.001346,0.003538,0.008179,0.007203,0.009721,0.013547
592,25275,Benoye,23,8.207223,8.190620,8.163530,8.148675,8.120712,8.088379,8.077019,...,0.001087,0.000760,0.001085,0.001408,0.001406,0.003997,0.003443,0.001823,0.003318,0.002027
1938,21474836,Lai,47,8.330436,8.068280,7.910987,7.903122,7.867294,7.784278,7.736216,...,0.020348,0.006189,0.003303,0.005109,0.006213,0.010665,0.004554,0.000995,0.019883,0.032492
524,23321,Bébédja,27,5.978899,5.945693,5.926468,5.924720,5.920351,5.906369,5.882775,...,0.010937,0.001953,0.004799,0.004776,0.004011,0.002367,0.000738,0.000295,0.003244,0.005585
1122,60380,Bongor,33,5.251854,5.005427,4.779973,4.598212,4.539664,4.500341,4.364893,...,0.033891,0.017684,0.038567,0.019180,0.031031,0.008738,0.012897,0.039529,0.047166,0.049232

#### NTL change

In [134]:
Stats = PlaceNames.copy().merge(NTL, how = 'outer', on='Sett_ID')
Sensors = ['D_', 'V_']
Methods = ['sum', 'avg', 'max']

for year in AllStudyYears:
    for Sensor in Sensors:
        for agg in Methods:
            RawVar = ''.join(['NTL', agg, Sensor, str(year)])
            LagVar = ''.join(['NTL', agg, Sensor, str(year-1)])
            NewVar = ''.join(['NTL', agg, '_pch', Sensor, str(year)])
            if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
                Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
            else:
                pass

In [135]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|pch')]
Stats.columns

Index(['Sett_ID', 'SettName', 'NTLsum_pchD_2000', 'NTLavg_pchD_2000',
       'NTLmax_pchD_2000', 'NTLsum_pchD_2001', 'NTLavg_pchD_2001',
       'NTLmax_pchD_2001', 'NTLsum_pchD_2002', 'NTLavg_pchD_2002',
       'NTLmax_pchD_2002', 'NTLsum_pchD_2003', 'NTLavg_pchD_2003',
       'NTLmax_pchD_2003', 'NTLsum_pchD_2004', 'NTLavg_pchD_2004',
       'NTLmax_pchD_2004', 'NTLsum_pchD_2005', 'NTLavg_pchD_2005',
       'NTLmax_pchD_2005', 'NTLsum_pchD_2006', 'NTLavg_pchD_2006',
       'NTLmax_pchD_2006', 'NTLsum_pchD_2007', 'NTLavg_pchD_2007',
       'NTLmax_pchD_2007', 'NTLsum_pchD_2008', 'NTLavg_pchD_2008',
       'NTLmax_pchD_2008', 'NTLsum_pchD_2009', 'NTLavg_pchD_2009',
       'NTLmax_pchD_2009', 'NTLsum_pchD_2010', 'NTLavg_pchD_2010',
       'NTLmax_pchD_2010', 'NTLsum_pchD_2011', 'NTLavg_pchD_2011',
       'NTLmax_pchD_2011', 'NTLsum_pchD_2012', 'NTLavg_pchD_2012',
       'NTLmax_pchD_2012', 'NTLsum_pchD_2013', 'NTLavg_pchD_2013',
       'NTLmax_pchD_2013', 'NTLsum_pchV_2013', 'NTLavg_pchV_2013',
       'NTLmax_pchV_2013', 'NTLsum_pchV_2014', 'NTLavg_pchV_2014',
       'NTLmax_pchV_2014', 'NTLsum_pchV_2015', 'NTLavg_pchV_2015',
       'NTLmax_pchV_2015'],
      dtype='object')

In [136]:
Stats.to_csv(os.path.join(ResultsFolder, 'NTLChange.csv'))

In [137]:
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,ADM_ID,AREA2015,AREA2014,AREA2013,AREA2012,AREA2011,AREA2010,AREA2009,...,NTLmax_pchD_2013,NTLsum_pchV_2013,NTLavg_pchV_2013,NTLmax_pchV_2013,NTLsum_pchV_2014,NTLavg_pchV_2014,NTLmax_pchV_2014,NTLsum_pchV_2015,NTLavg_pchV_2015,NTLmax_pchV_2015
1403,131507,Koundoul II / Sara,6,148.711349,147.762345,146.154456,143.143161,141.426914,138.523102,137.290096,...,0.000000,-0.007400,-0.071669,-0.148804,0.132067,0.053732,-0.085548,0.064132,0.015402,-0.208743
96,4096,Moundou,20,26.606188,26.238296,26.044301,26.010220,25.977888,25.748065,25.504260,...,0.057762,0.012547,0.003818,0.244069,-0.086732,-0.094538,-0.115290,-0.081113,-0.022638,0.127446
1745,278172,Abéché,41,23.189424,22.910666,22.147792,21.331614,20.079383,19.196792,18.938132,...,0.031361,0.279186,0.228309,0.339730,-0.414856,-0.394204,-0.097331,-0.302666,-0.182436,-0.068708
969,42500,Sarh,62,18.003984,17.899121,17.775908,17.701631,17.613372,17.545211,17.498897,...,0.174422,0.235522,0.195343,0.072170,-0.791825,-0.644367,-0.629232,0.634063,0.527955,0.607947
233,13874,Kelo,63,13.736088,13.609379,13.486166,13.427618,13.340233,13.234496,13.183813,...,0.021620,0.388406,0.099154,0.367049,-0.008407,-0.300052,-0.002532,0.405320,0.225151,0.232395
792,35033,Doba,24,12.879712,12.707563,12.585224,12.495217,12.393850,12.350158,12.333555,...,-0.024918,0.356830,0.289826,0.011888,0.173822,0.011485,0.110814,0.223490,0.210612,0.212611
592,25275,Benoye,23,8.207223,8.190620,8.163530,8.148675,8.120712,8.088379,8.077019,...,-0.011494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1938,21474836,Lai,47,8.330436,8.068280,7.910987,7.903122,7.867294,7.784278,7.736216,...,0.021505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,23321,Bébédja,27,5.978899,5.945693,5.926468,5.924720,5.920351,5.906369,5.882775,...,0.008922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,60380,Bongor,33,5.251854,5.005427,4.779973,4.598212,4.539664,4.500341,4.364893,...,0.355541,15.617292,4.539097,5.776868,1.969506,0.719188,0.890444,-0.193381,-0.207289,-0.144159

#### Flood change: change in area and change in percent of total area

In [138]:
Stats = PlaceNames.copy().merge(Flood, how = 'outer', on='Sett_ID')
for year in AllStudyYears:
    RawVar = ''.join(['FLDarea', str(year)])
    LagVar = ''.join(['FLDarea', str(year-1)])
    NewVar = ''.join(['FLDareapch', str(year)])
    if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
        Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
    else:
        pass

In [139]:
for year in AllStudyYears:
    RawVar = ''.join(['FLDpc', str(year)])
    LagVar = ''.join(['FLDpc', str(year-1)])
    NewVar = ''.join(['FLDpcpch', str(year)])
    if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
        Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
    else:
        pass

In [140]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|FLDareapch|FLDpcpch')]
Stats.columns

Index(['Sett_ID', 'SettName', 'FLDareapch2000', 'FLDareapch2001',
       'FLDareapch2002', 'FLDareapch2003', 'FLDareapch2004', 'FLDareapch2005',
       'FLDareapch2006', 'FLDareapch2007', 'FLDareapch2008', 'FLDareapch2009',
       'FLDareapch2010', 'FLDareapch2011', 'FLDareapch2012', 'FLDareapch2013',
       'FLDareapch2014', 'FLDareapch2015', 'FLDpcpch2000', 'FLDpcpch2001',
       'FLDpcpch2002', 'FLDpcpch2003', 'FLDpcpch2004', 'FLDpcpch2005',
       'FLDpcpch2006', 'FLDpcpch2007', 'FLDpcpch2008', 'FLDpcpch2009',
       'FLDpcpch2010', 'FLDpcpch2011', 'FLDpcpch2012', 'FLDpcpch2013',
       'FLDpcpch2014', 'FLDpcpch2015'],
      dtype='object')

In [141]:
Stats.to_csv(os.path.join(ResultsFolder, 'FloodChange.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,ADM_ID,AREA2015,AREA2014,AREA2013,AREA2012,AREA2011,AREA2010,AREA2009,...,FLDpcpch2006,FLDpcpch2007,FLDpcpch2008,FLDpcpch2009,FLDpcpch2010,FLDpcpch2011,FLDpcpch2012,FLDpcpch2013,FLDpcpch2014,FLDpcpch2015
1403,131507,Koundoul II / Sara,6,148.711349,147.762345,146.154456,143.143161,141.426914,138.523102,137.290096,...,0.009578,0.001325,0.031743,0.006380,0.018181,0.037437,0.017488,0.044493,0.013696,0.010515
96,4096,Moundou,20,26.606188,26.238296,26.044301,26.010220,25.977888,25.748065,25.504260,...,0.025636,0.002671,0.004971,-0.031780,-0.004561,-0.010329,-0.002416,-0.000960,0.017991,0.039502
1745,278172,Abéché,41,23.189424,22.910666,22.147792,21.331614,20.079383,19.196792,18.938132,...,-0.050352,-0.089166,-0.050378,-0.004523,0.002528,-0.012544,0.121688,0.167800,0.091068,0.027881
969,42500,Sarh,62,18.003984,17.899121,17.775908,17.701631,17.613372,17.545211,17.498897,...,0.025989,0.120034,0.008867,0.008226,0.040393,0.038055,0.018102,0.009379,-0.011044,0.040271
233,13874,Kelo,63,13.736088,13.609379,13.486166,13.427618,13.340233,13.234496,13.183813,...,-0.014019,-0.014960,-0.016968,-0.017778,0.235480,0.002799,0.142395,0.012014,0.032594,-0.057320
792,35033,Doba,24,12.879712,12.707563,12.585224,12.495217,12.393850,12.350158,12.333555,...,-0.078303,-0.075415,-0.085517,-0.071703,-0.020075,-0.045509,-0.084430,0.387424,0.342742,-0.031020
592,25275,Benoye,23,8.207223,8.190620,8.163530,8.148675,8.120712,8.088379,8.077019,...,-0.005988,0.009106,-0.008439,-0.010851,-0.009098,-0.015472,-0.018385,-0.008716,0.007414,-0.009992
1938,21474836,Lai,47,8.330436,8.068280,7.910987,7.903122,7.867294,7.784278,7.736216,...,-0.079677,-0.032705,-0.024096,-0.024963,-0.025646,-0.035966,-0.019923,-0.010178,-0.048496,-0.102079
524,23321,Bébédja,27,5.978899,5.945693,5.926468,5.924720,5.920351,5.906369,5.882775,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,60380,Bongor,33,5.251854,5.005427,4.779973,4.598212,4.539664,4.500341,4.364893,...,-0.081883,-0.045898,0.139804,0.231983,0.279851,0.030634,0.320159,-0.035917,0.131173,0.026590

#### Update parent spreadsheet

In [142]:
AllStats.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1939 entries, 0 to 1938
Data columns (total 314 columns):
 #    Column            Dtype
---   ------            -----
 0    Sett_ID           int64
 1    SettName          object
 2    ADM_ID            int64
 3    AREA2015          float64
 4    AREA2014          float64
 5    AREA2013          float64
 6    AREA2012          float64
 7    AREA2011          float64
 8    AREA2010          float64
 9    AREA2009          float64
 10   AREA2008          float64
 11   AREA2007          float64
 12   AREA2006          float64
 13   AREA2005          float64
 14   AREA2004          float64
 15   AREA2003          float64
 16   AREA2002          float64
 17   AREA2001          float64
 18   AREA2000          float64
 19   AREA1999          float64
 20   POPct2000         float64
 21   POPsum2000        float64
 22   POPct2001         float64
 23   POPsum2001        float64
 24   POPct2002         float64
 25   POPsum2002        float64
 26   POPct2003         float64
 27   POPsum2003        float64
 28   POPct2004         float64
 29   POPsum2004        float64
 30   POPct2005         float64
 31   POPsum2005        float64
 32   POPct2006         float64
 33   POPsum2006        float64
 34   POPct2007         float64
 35   POPsum2007        float64
 36   POPct2008         float64
 37   POPsum2008        float64
 38   POPct2009         float64
 39   POPsum2009        float64
 40   POPct2010         float64
 41   POPsum2010        float64
 42   POPct2011         float64
 43   POPsum2011        float64
 44   POPct2012         float64
 45   POPsum2012        float64
 46   POPct2013         float64
 47   POPsum2013        float64
 48   POPct2014         float64
 49   POPsum2014        float64
 50   POPct2015         float64
 51   POPsum2015        float64
 52   NTLctD_1999       float64
 53   NTLsumD_1999      float64
 54   NTLavgD_1999      float64
 55   NTLmaxD_1999      float64
 56   NTLminD_1999      float64
 57   NTLcfc_D_1999     float64
 58   NTLctD_2000       float64
 59   NTLsumD_2000      float64
 60   NTLavgD_2000      float64
 61   NTLmaxD_2000      float64
 62   NTLminD_2000      float64
 63   NTLcfc_D_2000     float64
 64   NTLctD_2001       float64
 65   NTLsumD_2001      float64
 66   NTLavgD_2001      float64
 67   NTLmaxD_2001      float64
 68   NTLminD_2001      float64
 69   NTLcfc_D_2001     float64
 70   NTLctD_2002       float64
 71   NTLsumD_2002      float64
 72   NTLavgD_2002      float64
 73   NTLmaxD_2002      float64
 74   NTLminD_2002      float64
 75   NTLcfc_D_2002     float64
 76   NTLctD_2003       float64
 77   NTLsumD_2003      float64
 78   NTLavgD_2003      float64
 79   NTLmaxD_2003      float64
 80   NTLminD_2003      float64
 81   NTLcfc_D_2003     float64
 82   NTLctD_2004       float64
 83   NTLsumD_2004      float64
 84   NTLavgD_2004      float64
 85   NTLmaxD_2004      float64
 86   NTLminD_2004      float64
 87   NTLcfc_D_2004     float64
 88   NTLctD_2005       float64
 89   NTLsumD_2005      float64
 90   NTLavgD_2005      float64
 91   NTLmaxD_2005      float64
 92   NTLminD_2005      float64
 93   NTLcfc_D_2005     float64
 94   NTLctD_2006       float64
 95   NTLsumD_2006      float64
 96   NTLavgD_2006      float64
 97   NTLmaxD_2006      float64
 98   NTLminD_2006      float64
 99   NTLcfc_D_2006     float64
 100  NTLctD_2007       float64
 101  NTLsumD_2007      float64
 102  NTLavgD_2007      float64
 103  NTLmaxD_2007      float64
 104  NTLminD_2007      float64
 105  NTLcfc_D_2007     float64
 106  NTLctD_2008       float64
 107  NTLsumD_2008      float64
 108  NTLavgD_2008      float64
 109  NTLmaxD_2008      float64
 110  NTLminD_2008      float64
 111  NTLcfc_D_2008     float64
 112  NTLctD_2009       float64
 113  NTLsumD_2009      float64
 114  NTLavgD_2009      float64
 115  NTLmaxD_2009      float64
 116  NTLminD_2009      float64
 117  NTLcfc_D_2009     float64
 118  NTLctD_2010       float64
 119  NTLsumD_2010      float64
 120  NTLavgD_2010      float64
 121  NTLmaxD_2010      float64
 122  NTLminD_2010      float64
 123  NTLcfc_D_2010     float64
 124  NTLctD_2011       float64
 125  NTLsumD_2011      float64
 126  NTLavgD_2011      float64
 127  NTLmaxD_2011      float64
 128  NTLminD_2011      float64
 129  NTLcfc_D_2011     float64
 130  NTLctD_2012       float64
 131  NTLsumD_2012      float64
 132  NTLavgD_2012      float64
 133  NTLmaxD_2012      float64
 134  NTLminD_2012      float64
 135  NTLcfc_D_2012     float64
 136  NTLctD_2013       float64
 137  NTLsumD_2013      float64
 138  NTLavgD_2013      float64
 139  NTLmaxD_2013      float64
 140  NTLminD_2013      float64
 141  NTLcfc_D_2013     float64
 142  NTLctV_2012       float64
 143  NTLsumV_2012      float64
 144  NTLavgV_2012      float64
 145  NTLmaxV_2012      float64
 146  NTLminV_2012      float64
 147  NTLcfc_V_2012     float64
 148  NTLctV_2013       float64
 149  NTLsumV_2013      float64
 150  NTLavgV_2013      float64
 151  NTLmaxV_2013      float64
 152  NTLminV_2013      float64
 153  NTLcfc_V_2013     float64
 154  NTLctV_2014       float64
 155  NTLsumV_2014      float64
 156  NTLavgV_2014      float64
 157  NTLmaxV_2014      float64
 158  NTLminV_2014      float64
 159  NTLcfc_V_2014     float64
 160  NTLctV_2015       float64
 161  NTLsumV_2015      float64
 162  NTLavgV_2015      float64
 163  NTLmaxV_2015      float64
 164  NTLminV_2015      float64
 165  NTLcfc_V_2015     float64
 166  FLDpc1999         float64
 167  FLDpc2000         float64
 168  FLDpc2001         float64
 169  FLDpc2002         float64
 170  FLDpc2003         float64
 171  FLDpc2004         float64
 172  FLDpc2005         float64
 173  FLDpc2006         float64
 174  FLDpc2007         float64
 175  FLDpc2008         float64
 176  FLDpc2009         float64
 177  FLDpc2010         float64
 178  FLDpc2011         float64
 179  FLDpc2012         float64
 180  FLDpc2013         float64
 181  FLDpc2014         float64
 182  FLDpc2015         float64
 183  FLDarea1999       float64
 184  FLDarea2000       float64
 185  FLDarea2001       float64
 186  FLDarea2002       float64
 187  FLDarea2003       float64
 188  FLDarea2004       float64
 189  FLDarea2005       float64
 190  FLDarea2006       float64
 191  FLDarea2007       float64
 192  FLDarea2008       float64
 193  FLDarea2009       float64
 194  FLDarea2010       float64
 195  FLDarea2011       float64
 196  FLDarea2012       float64
 197  FLDarea2013       float64
 198  FLDarea2014       float64
 199  FLDarea2015       float64
 200  POPpch2001        float64
 201  POPpch2002        float64
 202  POPpch2003        float64
 203  POPpch2004        float64
 204  POPpch2005        float64
 205  POPpch2006        float64
 206  POPpch2007        float64
 207  POPpch2008        float64
 208  POPpch2009        float64
 209  POPpch2010        float64
 210  POPpch2011        float64
 211  POPpch2012        float64
 212  POPpch2013        float64
 213  POPpch2014        float64
 214  POPpch2015        float64
 215  AREApch2000       float64
 216  AREApch2001       float64
 217  AREApch2002       float64
 218  AREApch2003       float64
 219  AREApch2004       float64
 220  AREApch2005       float64
 221  AREApch2006       float64
 222  AREApch2007       float64
 223  AREApch2008       float64
 224  AREApch2009       float64
 225  AREApch2010       float64
 226  AREApch2011       float64
 227  AREApch2012       float64
 228  AREApch2013       float64
 229  AREApch2014       float64
 230  AREApch2015       float64
 231  NTLsum_pchD_2000  float64
 232  NTLavg_pchD_2000  float64
 233  NTLmax_pchD_2000  float64
 234  NTLsum_pchD_2001  float64
 235  NTLavg_pchD_2001  float64
 236  NTLmax_pchD_2001  float64
 237  NTLsum_pchD_2002  float64
 238  NTLavg_pchD_2002  float64
 239  NTLmax_pchD_2002  float64
 240  NTLsum_pchD_2003  float64
 241  NTLavg_pchD_2003  float64
 242  NTLmax_pchD_2003  float64
 243  NTLsum_pchD_2004  float64
 244  NTLavg_pchD_2004  float64
 245  NTLmax_pchD_2004  float64
 246  NTLsum_pchD_2005  float64
 247  NTLavg_pchD_2005  float64
 248  NTLmax_pchD_2005  float64
 249  NTLsum_pchD_2006  float64
 250  NTLavg_pchD_2006  float64
 251  NTLmax_pchD_2006  float64
 252  NTLsum_pchD_2007  float64
 253  NTLavg_pchD_2007  float64
 254  NTLmax_pchD_2007  float64
 255  NTLsum_pchD_2008  float64
 256  NTLavg_pchD_2008  float64
 257  NTLmax_pchD_2008  float64
 258  NTLsum_pchD_2009  float64
 259  NTLavg_pchD_2009  float64
 260  NTLmax_pchD_2009  float64
 261  NTLsum_pchD_2010  float64
 262  NTLavg_pchD_2010  float64
 263  NTLmax_pchD_2010  float64
 264  NTLsum_pchD_2011  float64
 265  NTLavg_pchD_2011  float64
 266  NTLmax_pchD_2011  float64
 267  NTLsum_pchD_2012  float64
 268  NTLavg_pchD_2012  float64
 269  NTLmax_pchD_2012  float64
 270  NTLsum_pchD_2013  float64
 271  NTLavg_pchD_2013  float64
 272  NTLmax_pchD_2013  float64
 273  NTLsum_pchV_2013  float64
 274  NTLavg_pchV_2013  float64
 275  NTLmax_pchV_2013  float64
 276  NTLsum_pchV_2014  float64
 277  NTLavg_pchV_2014  float64
 278  NTLmax_pchV_2014  float64
 279  NTLsum_pchV_2015  float64
 280  NTLavg_pchV_2015  float64
 281  NTLmax_pchV_2015  float64
 282  FLDareapch2000    float64
 283  FLDareapch2001    float64
 284  FLDareapch2002    float64
 285  FLDareapch2003    float64
 286  FLDareapch2004    float64
 287  FLDareapch2005    float64
 288  FLDareapch2006    float64
 289  FLDareapch2007    float64
 290  FLDareapch2008    float64
 291  FLDareapch2009    float64
 292  FLDareapch2010    float64
 293  FLDareapch2011    float64
 294  FLDareapch2012    float64
 295  FLDareapch2013    float64
 296  FLDareapch2014    float64
 297  FLDareapch2015    float64
 298  FLDpcpch2000      float64
 299  FLDpcpch2001      float64
 300  FLDpcpch2002      float64
 301  FLDpcpch2003      float64
 302  FLDpcpch2004      float64
 303  FLDpcpch2005      float64
 304  FLDpcpch2006      float64
 305  FLDpcpch2007      float64
 306  FLDpcpch2008      float64
 307  FLDpcpch2009      float64
 308  FLDpcpch2010      float64
 309  FLDpcpch2011      float64
 310  FLDpcpch2012      float64
 311  FLDpcpch2013      float64
 312  FLDpcpch2014      float64
 313  FLDpcpch2015      float64
dtypes: float64(311), int64(2), object(1)
memory usage: 4.7+ MB

In [143]:
AllStats.to_csv(os.path.join(ResultsFolder, 'AllStats.csv'))

### 11.3 Densities
POPden = people per square kilometer
<br>NTL...den = nighttime light luminosity per square kilometer
<br>NTL...pop = nighttime light luminosity per capita

#### Population Density

In [144]:
Stats = PlaceNames.copy().merge(Population, how = 'outer', on='Sett_ID')
Stats = Stats.merge(Areas, how='left', on='Sett_ID')

for year in AllStudyYears:
    RawVar = ''.join(['POPsum', str(year)])
    DenomVar = ''.join(['AREA', str(year)])
    NewVar = ''.join(['POPden', str(year)])
    if ((RawVar in Stats.columns) and (DenomVar in Stats.columns)):
        Stats[NewVar] = Stats[RawVar] / Stats[DenomVar]
    else:
        pass

In [145]:
# Change in density
for year in AllStudyYears:
    RawVar = ''.join(['POPden', str(year)])
    LagVar = ''.join(['POPden', str(year-1)])
    NewVar = ''.join(['POPdenpch', str(year)])
    if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
        Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
    else:
        pass

In [146]:
# Drop original variables.
Stats = Stats.loc[:, ~Stats.columns.str.contains('AREA|sum|ct|year|ADM')]
Stats.columns

Index(['Sett_ID', 'SettName', 'POPden2000', 'POPden2001', 'POPden2002',
       'POPden2003', 'POPden2004', 'POPden2005', 'POPden2006', 'POPden2007',
       'POPden2008', 'POPden2009', 'POPden2010', 'POPden2011', 'POPden2012',
       'POPden2013', 'POPden2014', 'POPden2015', 'POPdenpch2001',
       'POPdenpch2002', 'POPdenpch2003', 'POPdenpch2004', 'POPdenpch2005',
       'POPdenpch2006', 'POPdenpch2007', 'POPdenpch2008', 'POPdenpch2009',
       'POPdenpch2010', 'POPdenpch2011', 'POPdenpch2012', 'POPdenpch2013',
       'POPdenpch2014', 'POPdenpch2015'],
      dtype='object')

In [147]:
Stats.to_csv(os.path.join(ResultsFolder, 'PopDensity.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,ADM_ID,AREA2015,AREA2014,AREA2013,AREA2012,AREA2011,AREA2010,AREA2009,...,POPdenpch2006,POPdenpch2007,POPdenpch2008,POPdenpch2009,POPdenpch2010,POPdenpch2011,POPdenpch2012,POPdenpch2013,POPdenpch2014,POPdenpch2015
1403,131507,Koundoul II / Sara,6,148.711349,147.762345,146.154456,143.143161,141.426914,138.523102,137.290096,...,0.037571,0.045597,0.026106,0.009666,0.000448,-0.004281,0.011013,0.051878,-0.000433,0.034953
96,4096,Moundou,20,26.606188,26.238296,26.044301,26.010220,25.977888,25.748065,25.504260,...,0.069055,-0.046343,0.154891,-0.061095,-0.080145,0.008604,0.012292,-0.023330,0.047150,-0.058004
1745,278172,Abéché,41,23.189424,22.910666,22.147792,21.331614,20.079383,19.196792,18.938132,...,0.242145,-0.178574,0.357793,0.026524,-0.030925,-0.006868,-0.297630,0.036272,-0.153494,0.067716
969,42500,Sarh,62,18.003984,17.899121,17.775908,17.701631,17.613372,17.545211,17.498897,...,0.200794,-0.104291,0.142022,0.112583,-0.191601,0.077847,-0.045198,0.059018,-0.100591,0.047060
233,13874,Kelo,63,13.736088,13.609379,13.486166,13.427618,13.340233,13.234496,13.183813,...,0.106836,0.022129,0.044362,-0.054873,-0.012867,0.095590,-0.028614,0.086925,-0.081077,-0.009293
792,35033,Doba,24,12.879712,12.707563,12.585224,12.495217,12.393850,12.350158,12.333555,...,0.144301,-0.057166,0.116352,-0.017751,-0.145476,0.082229,0.111759,-0.028852,-0.011337,-0.004312
592,25275,Benoye,23,8.207223,8.190620,8.163530,8.148675,8.120712,8.088379,8.077019,...,0.084312,0.024698,0.029485,-0.062356,0.028974,0.081352,-0.012784,0.081148,-0.066441,0.006570
1938,21474836,Lai,47,8.330436,8.068280,7.910987,7.903122,7.867294,7.784278,7.736216,...,0.003131,-0.068503,0.059870,0.009038,-0.001919,0.079208,-0.011514,-0.017799,0.044722,-0.048385
524,23321,Bébédja,27,5.978899,5.945693,5.926468,5.924720,5.920351,5.906369,5.882775,...,0.079411,0.032215,0.049013,0.162514,-0.101117,-0.022975,0.072500,0.095765,-0.025995,-0.006360
1122,60380,Bongor,33,5.251854,5.005427,4.779973,4.598212,4.539664,4.500341,4.364893,...,0.047381,-0.128764,0.160735,-0.071199,-0.045474,0.097068,0.039293,-0.072361,0.035899,-0.048382

#### Nighttime Lights Density

In [148]:
Stats = PlaceNames.copy().merge(NTL, how = 'outer', on='Sett_ID')
Stats = Stats.merge(Areas, how='left', on='Sett_ID')
Sensors = ['D_', 'V_']
Methods = ['sum', 'avg', 'max']

for year in AllStudyYears:
    for Sensor in Sensors:
        for agg in Methods:
            RawVar = ''.join(['NTL', agg, Sensor, str(year)])
            DenomVar = ''.join(['AREA', str(year)])
            NewVar = ''.join(['NTL', agg, '_den', Sensor, str(year)])
            if ((RawVar in Stats.columns) and (DenomVar in Stats.columns)):
                Stats[NewVar] = Stats[RawVar] / Stats[DenomVar]
            else:
                pass

In [149]:
# Change in density
for year in AllStudyYears:
    for Sensor in Sensors:
        for agg in Methods:
            RawVar = ''.join(['NTL', agg, '_den', Sensor, str(year)])
            LagVar = ''.join(['NTL', agg, '_den', Sensor, str(year-1)])
            NewVar = ''.join(['NTL', agg, '_denpch', Sensor, str(year)])
            if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
                Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
            else:
                pass

C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\1631515177.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]

In [150]:
list(Stats.columns)

['Sett_ID',
 'SettName',
 'NTLctD_1999',
 'NTLsumD_1999',
 'NTLavgD_1999',
 'NTLmaxD_1999',
 'NTLminD_1999',
 'NTLcfc_D_1999',
 'NTLctD_2000',
 'NTLsumD_2000',
 'NTLavgD_2000',
 'NTLmaxD_2000',
 'NTLminD_2000',
 'NTLcfc_D_2000',
 'NTLctD_2001',
 'NTLsumD_2001',
 'NTLavgD_2001',
 'NTLmaxD_2001',
 'NTLminD_2001',
 'NTLcfc_D_2001',
 'NTLctD_2002',
 'NTLsumD_2002',
 'NTLavgD_2002',
 'NTLmaxD_2002',
 'NTLminD_2002',
 'NTLcfc_D_2002',
 'NTLctD_2003',
 'NTLsumD_2003',
 'NTLavgD_2003',
 'NTLmaxD_2003',
 'NTLminD_2003',
 'NTLcfc_D_2003',
 'NTLctD_2004',
 'NTLsumD_2004',
 'NTLavgD_2004',
 'NTLmaxD_2004',
 'NTLminD_2004',
 'NTLcfc_D_2004',
 'NTLctD_2005',
 'NTLsumD_2005',
 'NTLavgD_2005',
 'NTLmaxD_2005',
 'NTLminD_2005',
 'NTLcfc_D_2005',
 'NTLctD_2006',
 'NTLsumD_2006',
 'NTLavgD_2006',
 'NTLmaxD_2006',
 'NTLminD_2006',
 'NTLcfc_D_2006',
 'NTLctD_2007',
 'NTLsumD_2007',
 'NTLavgD_2007',
 'NTLmaxD_2007',
 'NTLminD_2007',
 'NTLcfc_D_2007',
 'NTLctD_2008',
 'NTLsumD_2008',
 'NTLavgD_2008',
 'NTLmaxD_2008',
 'NTLminD_2008',
 'NTLcfc_D_2008',
 'NTLctD_2009',
 'NTLsumD_2009',
 'NTLavgD_2009',
 'NTLmaxD_2009',
 'NTLminD_2009',
 'NTLcfc_D_2009',
 'NTLctD_2010',
 'NTLsumD_2010',
 'NTLavgD_2010',
 'NTLmaxD_2010',
 'NTLminD_2010',
 'NTLcfc_D_2010',
 'NTLctD_2011',
 'NTLsumD_2011',
 'NTLavgD_2011',
 'NTLmaxD_2011',
 'NTLminD_2011',
 'NTLcfc_D_2011',
 'NTLctD_2012',
 'NTLsumD_2012',
 'NTLavgD_2012',
 'NTLmaxD_2012',
 'NTLminD_2012',
 'NTLcfc_D_2012',
 'NTLctD_2013',
 'NTLsumD_2013',
 'NTLavgD_2013',
 'NTLmaxD_2013',
 'NTLminD_2013',
 'NTLcfc_D_2013',
 'NTLctV_2012',
 'NTLsumV_2012',
 'NTLavgV_2012',
 'NTLmaxV_2012',
 'NTLminV_2012',
 'NTLcfc_V_2012',
 'NTLctV_2013',
 'NTLsumV_2013',
 'NTLavgV_2013',
 'NTLmaxV_2013',
 'NTLminV_2013',
 'NTLcfc_V_2013',
 'NTLctV_2014',
 'NTLsumV_2014',
 'NTLavgV_2014',
 'NTLmaxV_2014',
 'NTLminV_2014',
 'NTLcfc_V_2014',
 'NTLctV_2015',
 'NTLsumV_2015',
 'NTLavgV_2015',
 'NTLmaxV_2015',
 'NTLminV_2015',
 'NTLcfc_V_2015',
 'ADM_ID',
 'AREA2015',
 'AREA2014',
 'AREA2013',
 'AREA2012',
 'AREA2011',
 'AREA2010',
 'AREA2009',
 'AREA2008',
 'AREA2007',
 'AREA2006',
 'AREA2005',
 'AREA2004',
 'AREA2003',
 'AREA2002',
 'AREA2001',
 'AREA2000',
 'AREA1999',
 'NTLsum_denD_1999',
 'NTLavg_denD_1999',
 'NTLmax_denD_1999',
 'NTLsum_denD_2000',
 'NTLavg_denD_2000',
 'NTLmax_denD_2000',
 'NTLsum_denD_2001',
 'NTLavg_denD_2001',
 'NTLmax_denD_2001',
 'NTLsum_denD_2002',
 'NTLavg_denD_2002',
 'NTLmax_denD_2002',
 'NTLsum_denD_2003',
 'NTLavg_denD_2003',
 'NTLmax_denD_2003',
 'NTLsum_denD_2004',
 'NTLavg_denD_2004',
 'NTLmax_denD_2004',
 'NTLsum_denD_2005',
 'NTLavg_denD_2005',
 'NTLmax_denD_2005',
 'NTLsum_denD_2006',
 'NTLavg_denD_2006',
 'NTLmax_denD_2006',
 'NTLsum_denD_2007',
 'NTLavg_denD_2007',
 'NTLmax_denD_2007',
 'NTLsum_denD_2008',
 'NTLavg_denD_2008',
 'NTLmax_denD_2008',
 'NTLsum_denD_2009',
 'NTLavg_denD_2009',
 'NTLmax_denD_2009',
 'NTLsum_denD_2010',
 'NTLavg_denD_2010',
 'NTLmax_denD_2010',
 'NTLsum_denD_2011',
 'NTLavg_denD_2011',
 'NTLmax_denD_2011',
 'NTLsum_denD_2012',
 'NTLavg_denD_2012',
 'NTLmax_denD_2012',
 'NTLsum_denV_2012',
 'NTLavg_denV_2012',
 'NTLmax_denV_2012',
 'NTLsum_denD_2013',
 'NTLavg_denD_2013',
 'NTLmax_denD_2013',
 'NTLsum_denV_2013',
 'NTLavg_denV_2013',
 'NTLmax_denV_2013',
 'NTLsum_denV_2014',
 'NTLavg_denV_2014',
 'NTLmax_denV_2014',
 'NTLsum_denV_2015',
 'NTLavg_denV_2015',
 'NTLmax_denV_2015',
 'NTLsum_denpchD_2000',
 'NTLavg_denpchD_2000',
 'NTLmax_denpchD_2000',
 'NTLsum_denpchD_2001',
 'NTLavg_denpchD_2001',
 'NTLmax_denpchD_2001',
 'NTLsum_denpchD_2002',
 'NTLavg_denpchD_2002',
 'NTLmax_denpchD_2002',
 'NTLsum_denpchD_2003',
 'NTLavg_denpchD_2003',
 'NTLmax_denpchD_2003',
 'NTLsum_denpchD_2004',
 'NTLavg_denpchD_2004',
 'NTLmax_denpchD_2004',
 'NTLsum_denpchD_2005',
 'NTLavg_denpchD_2005',
 'NTLmax_denpchD_2005',
 'NTLsum_denpchD_2006',
 'NTLavg_denpchD_2006',
 'NTLmax_denpchD_2006',
 'NTLsum_denpchD_2007',
 'NTLavg_denpchD_2007',
 'NTLmax_denpchD_2007',
 'NTLsum_denpchD_2008',
 'NTLavg_denpchD_2008',
 'NTLmax_denpchD_2008',
 'NTLsum_denpchD_2009',
 'NTLavg_denpchD_2009',
 'NTLmax_denpchD_2009',
 'NTLsum_denpchD_2010',
 'NTLavg_denpchD_2010',
 'NTLmax_denpchD_2010',
 'NTLsum_denpchD_2011',
 'NTLavg_denpchD_2011',
 'NTLmax_denpchD_2011',
 'NTLsum_denpchD_2012',
 'NTLavg_denpchD_2012',
 'NTLmax_denpchD_2012',
 'NTLsum_denpchD_2013',
 'NTLavg_denpchD_2013',
 'NTLmax_denpchD_2013',
 'NTLsum_denpchV_2013',
 'NTLavg_denpchV_2013',
 'NTLmax_denpchV_2013',
 'NTLsum_denpchV_2014',
 'NTLavg_denpchV_2014',
 'NTLmax_denpchV_2014',
 'NTLsum_denpchV_2015',
 'NTLavg_denpchV_2015',
 'NTLmax_denpchV_2015']

In [151]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|den')]
list(Stats.columns)

['Sett_ID',
 'SettName',
 'NTLsum_denD_1999',
 'NTLavg_denD_1999',
 'NTLmax_denD_1999',
 'NTLsum_denD_2000',
 'NTLavg_denD_2000',
 'NTLmax_denD_2000',
 'NTLsum_denD_2001',
 'NTLavg_denD_2001',
 'NTLmax_denD_2001',
 'NTLsum_denD_2002',
 'NTLavg_denD_2002',
 'NTLmax_denD_2002',
 'NTLsum_denD_2003',
 'NTLavg_denD_2003',
 'NTLmax_denD_2003',
 'NTLsum_denD_2004',
 'NTLavg_denD_2004',
 'NTLmax_denD_2004',
 'NTLsum_denD_2005',
 'NTLavg_denD_2005',
 'NTLmax_denD_2005',
 'NTLsum_denD_2006',
 'NTLavg_denD_2006',
 'NTLmax_denD_2006',
 'NTLsum_denD_2007',
 'NTLavg_denD_2007',
 'NTLmax_denD_2007',
 'NTLsum_denD_2008',
 'NTLavg_denD_2008',
 'NTLmax_denD_2008',
 'NTLsum_denD_2009',
 'NTLavg_denD_2009',
 'NTLmax_denD_2009',
 'NTLsum_denD_2010',
 'NTLavg_denD_2010',
 'NTLmax_denD_2010',
 'NTLsum_denD_2011',
 'NTLavg_denD_2011',
 'NTLmax_denD_2011',
 'NTLsum_denD_2012',
 'NTLavg_denD_2012',
 'NTLmax_denD_2012',
 'NTLsum_denV_2012',
 'NTLavg_denV_2012',
 'NTLmax_denV_2012',
 'NTLsum_denD_2013',
 'NTLavg_denD_2013',
 'NTLmax_denD_2013',
 'NTLsum_denV_2013',
 'NTLavg_denV_2013',
 'NTLmax_denV_2013',
 'NTLsum_denV_2014',
 'NTLavg_denV_2014',
 'NTLmax_denV_2014',
 'NTLsum_denV_2015',
 'NTLavg_denV_2015',
 'NTLmax_denV_2015',
 'NTLsum_denpchD_2000',
 'NTLavg_denpchD_2000',
 'NTLmax_denpchD_2000',
 'NTLsum_denpchD_2001',
 'NTLavg_denpchD_2001',
 'NTLmax_denpchD_2001',
 'NTLsum_denpchD_2002',
 'NTLavg_denpchD_2002',
 'NTLmax_denpchD_2002',
 'NTLsum_denpchD_2003',
 'NTLavg_denpchD_2003',
 'NTLmax_denpchD_2003',
 'NTLsum_denpchD_2004',
 'NTLavg_denpchD_2004',
 'NTLmax_denpchD_2004',
 'NTLsum_denpchD_2005',
 'NTLavg_denpchD_2005',
 'NTLmax_denpchD_2005',
 'NTLsum_denpchD_2006',
 'NTLavg_denpchD_2006',
 'NTLmax_denpchD_2006',
 'NTLsum_denpchD_2007',
 'NTLavg_denpchD_2007',
 'NTLmax_denpchD_2007',
 'NTLsum_denpchD_2008',
 'NTLavg_denpchD_2008',
 'NTLmax_denpchD_2008',
 'NTLsum_denpchD_2009',
 'NTLavg_denpchD_2009',
 'NTLmax_denpchD_2009',
 'NTLsum_denpchD_2010',
 'NTLavg_denpchD_2010',
 'NTLmax_denpchD_2010',
 'NTLsum_denpchD_2011',
 'NTLavg_denpchD_2011',
 'NTLmax_denpchD_2011',
 'NTLsum_denpchD_2012',
 'NTLavg_denpchD_2012',
 'NTLmax_denpchD_2012',
 'NTLsum_denpchD_2013',
 'NTLavg_denpchD_2013',
 'NTLmax_denpchD_2013',
 'NTLsum_denpchV_2013',
 'NTLavg_denpchV_2013',
 'NTLmax_denpchV_2013',
 'NTLsum_denpchV_2014',
 'NTLavg_denpchV_2014',
 'NTLmax_denpchV_2014',
 'NTLsum_denpchV_2015',
 'NTLavg_denpchV_2015',
 'NTLmax_denpchV_2015']

In [152]:
Stats.to_csv(os.path.join(ResultsFolder, 'NTLDensity.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,ADM_ID,AREA2015,AREA2014,AREA2013,AREA2012,AREA2011,AREA2010,AREA2009,...,NTLmax_denpchD_2013,NTLsum_denpchV_2013,NTLavg_denpchV_2013,NTLmax_denpchV_2013,NTLsum_denpchV_2014,NTLavg_denpchV_2014,NTLmax_denpchV_2014,NTLsum_denpchV_2015,NTLavg_denpchV_2015,NTLmax_denpchV_2015
1403,131507,Koundoul II / Sara,6,148.711349,147.762345,146.154456,143.143161,141.426914,138.523102,137.290096,...,-0.020604,-0.027851,-0.090796,-0.166342,0.119749,0.042266,-0.095499,0.057341,0.008922,-0.213792
96,4096,Moundou,20,26.606188,26.238296,26.044301,26.010220,25.977888,25.748065,25.504260,...,0.056378,0.011222,0.002504,0.242441,-0.093484,-0.101232,-0.121831,-0.093819,-0.036153,0.111856
1745,278172,Abéché,41,23.189424,22.910666,22.147792,21.331614,20.079383,19.196792,18.938132,...,-0.006646,0.232046,0.183044,0.290359,-0.434340,-0.414376,-0.127388,-0.311049,-0.192264,-0.079903
969,42500,Sarh,62,18.003984,17.899121,17.775908,17.701631,17.613372,17.545211,17.498897,...,0.169515,0.230360,0.190348,0.067690,-0.793258,-0.646815,-0.631784,0.624545,0.519055,0.598582
233,13874,Kelo,63,13.736088,13.609379,13.486166,13.427618,13.340233,13.234496,13.183813,...,0.017185,0.382378,0.094383,0.361114,-0.017385,-0.306389,-0.011563,0.392357,0.213850,0.221027
792,35033,Doba,24,12.879712,12.707563,12.585224,12.495217,12.393850,12.350158,12.333555,...,-0.031891,0.347127,0.280602,0.004652,0.162521,0.001747,0.100120,0.207137,0.194431,0.196404
592,25275,Benoye,23,8.207223,8.190620,8.163530,8.148675,8.120712,8.088379,8.077019,...,-0.013293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1938,21474836,Lai,47,8.330436,8.068280,7.910987,7.903122,7.867294,7.784278,7.736216,...,0.020489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,23321,Bébédja,27,5.978899,5.945693,5.926468,5.924720,5.920351,5.906369,5.882775,...,0.008624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,60380,Bongor,33,5.251854,5.005427,4.779973,4.598212,4.539664,4.500341,4.364893,...,0.303995,14.985409,4.328470,5.519173,1.835754,0.641752,0.805295,-0.231229,-0.244484,-0.184317

#### Nighttime Lights per Capita

In [153]:
Stats = PlaceNames.copy().merge(NTL, how = 'outer', on='Sett_ID')
Stats = Stats.merge(Population, how='left', on='Sett_ID')
Sensors = ['D_', 'V_']
Methods = ['sum', 'avg', 'max']

for year in AllStudyYears:
    for Sensor in Sensors:
        for agg in Methods:
            RawVar = ''.join(['NTL', agg, Sensor, str(year)])
            DenomVar = ''.join(['POPsum', str(year)])
            NewVar = ''.join(['NTL', agg, '_pop', Sensor, str(year)])
            if ((RawVar in Stats.columns) and (DenomVar in Stats.columns)):
                Stats[NewVar] = Stats[RawVar] / Stats[DenomVar]
            else:
                pass

In [154]:
# Change in density
for year in AllStudyYears:
    for Sensor in Sensors:
        for agg in Methods:
            RawVar = ''.join(['NTL', agg, '_pop', Sensor, str(year)])
            LagVar = ''.join(['NTL', agg, '_pop', Sensor, str(year-1)])
            NewVar = ''.join(['NTL', agg, '_poppch', Sensor, str(year)])
            if ((RawVar in Stats.columns) and (LagVar in Stats.columns)):
                Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
            else:
                pass

C:\Users\grace\AppData\Local\Temp\ipykernel_10836\3900494648.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\3900494648.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\3900494648.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\3900494648.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\3900494648.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]
C:\Users\grace\AppData\Local\Temp\ipykernel_10836\3900494648.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Stats[NewVar] = (Stats[RawVar] - Stats[LagVar]) / Stats[LagVar]

In [155]:
list(Stats.columns)

['Sett_ID',
 'SettName',
 'NTLctD_1999',
 'NTLsumD_1999',
 'NTLavgD_1999',
 'NTLmaxD_1999',
 'NTLminD_1999',
 'NTLcfc_D_1999',
 'NTLctD_2000',
 'NTLsumD_2000',
 'NTLavgD_2000',
 'NTLmaxD_2000',
 'NTLminD_2000',
 'NTLcfc_D_2000',
 'NTLctD_2001',
 'NTLsumD_2001',
 'NTLavgD_2001',
 'NTLmaxD_2001',
 'NTLminD_2001',
 'NTLcfc_D_2001',
 'NTLctD_2002',
 'NTLsumD_2002',
 'NTLavgD_2002',
 'NTLmaxD_2002',
 'NTLminD_2002',
 'NTLcfc_D_2002',
 'NTLctD_2003',
 'NTLsumD_2003',
 'NTLavgD_2003',
 'NTLmaxD_2003',
 'NTLminD_2003',
 'NTLcfc_D_2003',
 'NTLctD_2004',
 'NTLsumD_2004',
 'NTLavgD_2004',
 'NTLmaxD_2004',
 'NTLminD_2004',
 'NTLcfc_D_2004',
 'NTLctD_2005',
 'NTLsumD_2005',
 'NTLavgD_2005',
 'NTLmaxD_2005',
 'NTLminD_2005',
 'NTLcfc_D_2005',
 'NTLctD_2006',
 'NTLsumD_2006',
 'NTLavgD_2006',
 'NTLmaxD_2006',
 'NTLminD_2006',
 'NTLcfc_D_2006',
 'NTLctD_2007',
 'NTLsumD_2007',
 'NTLavgD_2007',
 'NTLmaxD_2007',
 'NTLminD_2007',
 'NTLcfc_D_2007',
 'NTLctD_2008',
 'NTLsumD_2008',
 'NTLavgD_2008',
 'NTLmaxD_2008',
 'NTLminD_2008',
 'NTLcfc_D_2008',
 'NTLctD_2009',
 'NTLsumD_2009',
 'NTLavgD_2009',
 'NTLmaxD_2009',
 'NTLminD_2009',
 'NTLcfc_D_2009',
 'NTLctD_2010',
 'NTLsumD_2010',
 'NTLavgD_2010',
 'NTLmaxD_2010',
 'NTLminD_2010',
 'NTLcfc_D_2010',
 'NTLctD_2011',
 'NTLsumD_2011',
 'NTLavgD_2011',
 'NTLmaxD_2011',
 'NTLminD_2011',
 'NTLcfc_D_2011',
 'NTLctD_2012',
 'NTLsumD_2012',
 'NTLavgD_2012',
 'NTLmaxD_2012',
 'NTLminD_2012',
 'NTLcfc_D_2012',
 'NTLctD_2013',
 'NTLsumD_2013',
 'NTLavgD_2013',
 'NTLmaxD_2013',
 'NTLminD_2013',
 'NTLcfc_D_2013',
 'NTLctV_2012',
 'NTLsumV_2012',
 'NTLavgV_2012',
 'NTLmaxV_2012',
 'NTLminV_2012',
 'NTLcfc_V_2012',
 'NTLctV_2013',
 'NTLsumV_2013',
 'NTLavgV_2013',
 'NTLmaxV_2013',
 'NTLminV_2013',
 'NTLcfc_V_2013',
 'NTLctV_2014',
 'NTLsumV_2014',
 'NTLavgV_2014',
 'NTLmaxV_2014',
 'NTLminV_2014',
 'NTLcfc_V_2014',
 'NTLctV_2015',
 'NTLsumV_2015',
 'NTLavgV_2015',
 'NTLmaxV_2015',
 'NTLminV_2015',
 'NTLcfc_V_2015',
 'POPct2000',
 'POPsum2000',
 'POPct2001',
 'POPsum2001',
 'POPct2002',
 'POPsum2002',
 'POPct2003',
 'POPsum2003',
 'POPct2004',
 'POPsum2004',
 'POPct2005',
 'POPsum2005',
 'POPct2006',
 'POPsum2006',
 'POPct2007',
 'POPsum2007',
 'POPct2008',
 'POPsum2008',
 'POPct2009',
 'POPsum2009',
 'POPct2010',
 'POPsum2010',
 'POPct2011',
 'POPsum2011',
 'POPct2012',
 'POPsum2012',
 'POPct2013',
 'POPsum2013',
 'POPct2014',
 'POPsum2014',
 'POPct2015',
 'POPsum2015',
 'NTLsum_popD_2000',
 'NTLavg_popD_2000',
 'NTLmax_popD_2000',
 'NTLsum_popD_2001',
 'NTLavg_popD_2001',
 'NTLmax_popD_2001',
 'NTLsum_popD_2002',
 'NTLavg_popD_2002',
 'NTLmax_popD_2002',
 'NTLsum_popD_2003',
 'NTLavg_popD_2003',
 'NTLmax_popD_2003',
 'NTLsum_popD_2004',
 'NTLavg_popD_2004',
 'NTLmax_popD_2004',
 'NTLsum_popD_2005',
 'NTLavg_popD_2005',
 'NTLmax_popD_2005',
 'NTLsum_popD_2006',
 'NTLavg_popD_2006',
 'NTLmax_popD_2006',
 'NTLsum_popD_2007',
 'NTLavg_popD_2007',
 'NTLmax_popD_2007',
 'NTLsum_popD_2008',
 'NTLavg_popD_2008',
 'NTLmax_popD_2008',
 'NTLsum_popD_2009',
 'NTLavg_popD_2009',
 'NTLmax_popD_2009',
 'NTLsum_popD_2010',
 'NTLavg_popD_2010',
 'NTLmax_popD_2010',
 'NTLsum_popD_2011',
 'NTLavg_popD_2011',
 'NTLmax_popD_2011',
 'NTLsum_popD_2012',
 'NTLavg_popD_2012',
 'NTLmax_popD_2012',
 'NTLsum_popV_2012',
 'NTLavg_popV_2012',
 'NTLmax_popV_2012',
 'NTLsum_popD_2013',
 'NTLavg_popD_2013',
 'NTLmax_popD_2013',
 'NTLsum_popV_2013',
 'NTLavg_popV_2013',
 'NTLmax_popV_2013',
 'NTLsum_popV_2014',
 'NTLavg_popV_2014',
 'NTLmax_popV_2014',
 'NTLsum_popV_2015',
 'NTLavg_popV_2015',
 'NTLmax_popV_2015',
 'NTLsum_poppchD_2001',
 'NTLavg_poppchD_2001',
 'NTLmax_poppchD_2001',
 'NTLsum_poppchD_2002',
 'NTLavg_poppchD_2002',
 'NTLmax_poppchD_2002',
 'NTLsum_poppchD_2003',
 'NTLavg_poppchD_2003',
 'NTLmax_poppchD_2003',
 'NTLsum_poppchD_2004',
 'NTLavg_poppchD_2004',
 'NTLmax_poppchD_2004',
 'NTLsum_poppchD_2005',
 'NTLavg_poppchD_2005',
 'NTLmax_poppchD_2005',
 'NTLsum_poppchD_2006',
 'NTLavg_poppchD_2006',
 'NTLmax_poppchD_2006',
 'NTLsum_poppchD_2007',
 'NTLavg_poppchD_2007',
 'NTLmax_poppchD_2007',
 'NTLsum_poppchD_2008',
 'NTLavg_poppchD_2008',
 'NTLmax_poppchD_2008',
 'NTLsum_poppchD_2009',
 'NTLavg_poppchD_2009',
 'NTLmax_poppchD_2009',
 'NTLsum_poppchD_2010',
 'NTLavg_poppchD_2010',
 'NTLmax_poppchD_2010',
 'NTLsum_poppchD_2011',
 'NTLavg_poppchD_2011',
 'NTLmax_poppchD_2011',
 'NTLsum_poppchD_2012',
 'NTLavg_poppchD_2012',
 'NTLmax_poppchD_2012',
 'NTLsum_poppchD_2013',
 'NTLavg_poppchD_2013',
 'NTLmax_poppchD_2013',
 'NTLsum_poppchV_2013',
 'NTLavg_poppchV_2013',
 'NTLmax_poppchV_2013',
 'NTLsum_poppchV_2014',
 'NTLavg_poppchV_2014',
 'NTLmax_poppchV_2014',
 'NTLsum_poppchV_2015',
 'NTLavg_poppchV_2015',
 'NTLmax_poppchV_2015']

In [156]:
# Drop original variables.
Stats = Stats.loc[:, Stats.columns.str.contains('Sett|_pop')]
list(Stats.columns)

['Sett_ID',
 'SettName',
 'NTLsum_popD_2000',
 'NTLavg_popD_2000',
 'NTLmax_popD_2000',
 'NTLsum_popD_2001',
 'NTLavg_popD_2001',
 'NTLmax_popD_2001',
 'NTLsum_popD_2002',
 'NTLavg_popD_2002',
 'NTLmax_popD_2002',
 'NTLsum_popD_2003',
 'NTLavg_popD_2003',
 'NTLmax_popD_2003',
 'NTLsum_popD_2004',
 'NTLavg_popD_2004',
 'NTLmax_popD_2004',
 'NTLsum_popD_2005',
 'NTLavg_popD_2005',
 'NTLmax_popD_2005',
 'NTLsum_popD_2006',
 'NTLavg_popD_2006',
 'NTLmax_popD_2006',
 'NTLsum_popD_2007',
 'NTLavg_popD_2007',
 'NTLmax_popD_2007',
 'NTLsum_popD_2008',
 'NTLavg_popD_2008',
 'NTLmax_popD_2008',
 'NTLsum_popD_2009',
 'NTLavg_popD_2009',
 'NTLmax_popD_2009',
 'NTLsum_popD_2010',
 'NTLavg_popD_2010',
 'NTLmax_popD_2010',
 'NTLsum_popD_2011',
 'NTLavg_popD_2011',
 'NTLmax_popD_2011',
 'NTLsum_popD_2012',
 'NTLavg_popD_2012',
 'NTLmax_popD_2012',
 'NTLsum_popV_2012',
 'NTLavg_popV_2012',
 'NTLmax_popV_2012',
 'NTLsum_popD_2013',
 'NTLavg_popD_2013',
 'NTLmax_popD_2013',
 'NTLsum_popV_2013',
 'NTLavg_popV_2013',
 'NTLmax_popV_2013',
 'NTLsum_popV_2014',
 'NTLavg_popV_2014',
 'NTLmax_popV_2014',
 'NTLsum_popV_2015',
 'NTLavg_popV_2015',
 'NTLmax_popV_2015',
 'NTLsum_poppchD_2001',
 'NTLavg_poppchD_2001',
 'NTLmax_poppchD_2001',
 'NTLsum_poppchD_2002',
 'NTLavg_poppchD_2002',
 'NTLmax_poppchD_2002',
 'NTLsum_poppchD_2003',
 'NTLavg_poppchD_2003',
 'NTLmax_poppchD_2003',
 'NTLsum_poppchD_2004',
 'NTLavg_poppchD_2004',
 'NTLmax_poppchD_2004',
 'NTLsum_poppchD_2005',
 'NTLavg_poppchD_2005',
 'NTLmax_poppchD_2005',
 'NTLsum_poppchD_2006',
 'NTLavg_poppchD_2006',
 'NTLmax_poppchD_2006',
 'NTLsum_poppchD_2007',
 'NTLavg_poppchD_2007',
 'NTLmax_poppchD_2007',
 'NTLsum_poppchD_2008',
 'NTLavg_poppchD_2008',
 'NTLmax_poppchD_2008',
 'NTLsum_poppchD_2009',
 'NTLavg_poppchD_2009',
 'NTLmax_poppchD_2009',
 'NTLsum_poppchD_2010',
 'NTLavg_poppchD_2010',
 'NTLmax_poppchD_2010',
 'NTLsum_poppchD_2011',
 'NTLavg_poppchD_2011',
 'NTLmax_poppchD_2011',
 'NTLsum_poppchD_2012',
 'NTLavg_poppchD_2012',
 'NTLmax_poppchD_2012',
 'NTLsum_poppchD_2013',
 'NTLavg_poppchD_2013',
 'NTLmax_poppchD_2013',
 'NTLsum_poppchV_2013',
 'NTLavg_poppchV_2013',
 'NTLmax_poppchV_2013',
 'NTLsum_poppchV_2014',
 'NTLavg_poppchV_2014',
 'NTLmax_poppchV_2014',
 'NTLsum_poppchV_2015',
 'NTLavg_poppchV_2015',
 'NTLmax_poppchV_2015']

In [157]:
Stats.to_csv(os.path.join(ResultsFolder, 'NTLperCapita.csv'))
Stats.drop(columns='SettName', inplace=True)
AllStats = AllStats.merge(Stats, how='left', on='Sett_ID')
AllStats[AllStats.SettName!='UNK'].sort_values(by=AllStats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,ADM_ID,AREA2015,AREA2014,AREA2013,AREA2012,AREA2011,AREA2010,AREA2009,...,NTLmax_poppchD_2013,NTLsum_poppchV_2013,NTLavg_poppchV_2013,NTLmax_poppchV_2013,NTLsum_poppchV_2014,NTLavg_poppchV_2014,NTLmax_poppchV_2014,NTLsum_poppchV_2015,NTLavg_poppchV_2015,NTLmax_poppchV_2015
1403,131507,Koundoul II / Sara,6,148.711349,147.762345,146.154456,143.143161,141.426914,138.523102,137.290096,...,-0.068907,-0.075797,-0.135637,-0.207457,0.120233,0.042717,-0.095107,0.021633,-0.025151,-0.240344
96,4096,Moundou,20,26.606188,26.238296,26.044301,26.010220,25.977888,25.748065,25.504260,...,0.081612,0.035377,0.026451,0.272120,-0.134302,-0.141701,-0.161372,-0.038020,0.023196,0.180319
1745,278172,Abéché,41,23.189424,22.910666,22.147792,21.331614,20.079383,19.196792,18.938132,...,-0.041416,0.188922,0.141635,0.245193,-0.331771,-0.308186,0.030840,-0.354743,-0.243492,-0.138257
969,42500,Sarh,62,18.003984,17.899121,17.775908,17.701631,17.613372,17.545211,17.498897,...,0.104339,0.161793,0.124011,0.008188,-0.770135,-0.607315,-0.590603,0.551531,0.450782,0.526734
233,13874,Kelo,63,13.736088,13.609379,13.486166,13.427618,13.340233,13.234496,13.183813,...,-0.064162,0.271825,0.006861,0.252262,0.069312,-0.245192,0.075647,0.405417,0.225236,0.232481
792,35033,Doba,24,12.879712,12.707563,12.585224,12.495217,12.393850,12.350158,12.333555,...,-0.003130,0.387149,0.318647,0.034499,0.175852,0.013234,0.112735,0.212365,0.199603,0.201584
592,25275,Benoye,23,8.207223,8.190620,8.163530,8.148675,8.120712,8.088379,8.077019,...,-0.087353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1938,21474836,Lai,47,8.330436,8.068280,7.910987,7.903122,7.867294,7.784278,7.736216,...,0.038982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,23321,Bébédja,27,5.978899,5.945693,5.926468,5.924720,5.920351,5.906369,5.882775,...,-0.079525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,60380,Bongor,33,5.251854,5.005427,4.779973,4.598212,4.539664,4.500341,4.364893,...,0.405715,16.232364,4.744121,6.027707,1.737482,0.584858,0.742733,-0.192144,-0.206072,-0.142846

#### Update parent spreadsheet

In [158]:
AllStats.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1939 entries, 0 to 1938
Data columns (total 555 columns):
 #    Column               Dtype
---   ------               -----
 0    Sett_ID              int64
 1    SettName             object
 2    ADM_ID               int64
 3    AREA2015             float64
 4    AREA2014             float64
 5    AREA2013             float64
 6    AREA2012             float64
 7    AREA2011             float64
 8    AREA2010             float64
 9    AREA2009             float64
 10   AREA2008             float64
 11   AREA2007             float64
 12   AREA2006             float64
 13   AREA2005             float64
 14   AREA2004             float64
 15   AREA2003             float64
 16   AREA2002             float64
 17   AREA2001             float64
 18   AREA2000             float64
 19   AREA1999             float64
 20   POPct2000            float64
 21   POPsum2000           float64
 22   POPct2001            float64
 23   POPsum2001           float64
 24   POPct2002            float64
 25   POPsum2002           float64
 26   POPct2003            float64
 27   POPsum2003           float64
 28   POPct2004            float64
 29   POPsum2004           float64
 30   POPct2005            float64
 31   POPsum2005           float64
 32   POPct2006            float64
 33   POPsum2006           float64
 34   POPct2007            float64
 35   POPsum2007           float64
 36   POPct2008            float64
 37   POPsum2008           float64
 38   POPct2009            float64
 39   POPsum2009           float64
 40   POPct2010            float64
 41   POPsum2010           float64
 42   POPct2011            float64
 43   POPsum2011           float64
 44   POPct2012            float64
 45   POPsum2012           float64
 46   POPct2013            float64
 47   POPsum2013           float64
 48   POPct2014            float64
 49   POPsum2014           float64
 50   POPct2015            float64
 51   POPsum2015           float64
 52   NTLctD_1999          float64
 53   NTLsumD_1999         float64
 54   NTLavgD_1999         float64
 55   NTLmaxD_1999         float64
 56   NTLminD_1999         float64
 57   NTLcfc_D_1999        float64
 58   NTLctD_2000          float64
 59   NTLsumD_2000         float64
 60   NTLavgD_2000         float64
 61   NTLmaxD_2000         float64
 62   NTLminD_2000         float64
 63   NTLcfc_D_2000        float64
 64   NTLctD_2001          float64
 65   NTLsumD_2001         float64
 66   NTLavgD_2001         float64
 67   NTLmaxD_2001         float64
 68   NTLminD_2001         float64
 69   NTLcfc_D_2001        float64
 70   NTLctD_2002          float64
 71   NTLsumD_2002         float64
 72   NTLavgD_2002         float64
 73   NTLmaxD_2002         float64
 74   NTLminD_2002         float64
 75   NTLcfc_D_2002        float64
 76   NTLctD_2003          float64
 77   NTLsumD_2003         float64
 78   NTLavgD_2003         float64
 79   NTLmaxD_2003         float64
 80   NTLminD_2003         float64
 81   NTLcfc_D_2003        float64
 82   NTLctD_2004          float64
 83   NTLsumD_2004         float64
 84   NTLavgD_2004         float64
 85   NTLmaxD_2004         float64
 86   NTLminD_2004         float64
 87   NTLcfc_D_2004        float64
 88   NTLctD_2005          float64
 89   NTLsumD_2005         float64
 90   NTLavgD_2005         float64
 91   NTLmaxD_2005         float64
 92   NTLminD_2005         float64
 93   NTLcfc_D_2005        float64
 94   NTLctD_2006          float64
 95   NTLsumD_2006         float64
 96   NTLavgD_2006         float64
 97   NTLmaxD_2006         float64
 98   NTLminD_2006         float64
 99   NTLcfc_D_2006        float64
 100  NTLctD_2007          float64
 101  NTLsumD_2007         float64
 102  NTLavgD_2007         float64
 103  NTLmaxD_2007         float64
 104  NTLminD_2007         float64
 105  NTLcfc_D_2007        float64
 106  NTLctD_2008          float64
 107  NTLsumD_2008         float64
 108  NTLavgD_2008         float64
 109  NTLmaxD_2008         float64
 110  NTLminD_2008         float64
 111  NTLcfc_D_2008        float64
 112  NTLctD_2009          float64
 113  NTLsumD_2009         float64
 114  NTLavgD_2009         float64
 115  NTLmaxD_2009         float64
 116  NTLminD_2009         float64
 117  NTLcfc_D_2009        float64
 118  NTLctD_2010          float64
 119  NTLsumD_2010         float64
 120  NTLavgD_2010         float64
 121  NTLmaxD_2010         float64
 122  NTLminD_2010         float64
 123  NTLcfc_D_2010        float64
 124  NTLctD_2011          float64
 125  NTLsumD_2011         float64
 126  NTLavgD_2011         float64
 127  NTLmaxD_2011         float64
 128  NTLminD_2011         float64
 129  NTLcfc_D_2011        float64
 130  NTLctD_2012          float64
 131  NTLsumD_2012         float64
 132  NTLavgD_2012         float64
 133  NTLmaxD_2012         float64
 134  NTLminD_2012         float64
 135  NTLcfc_D_2012        float64
 136  NTLctD_2013          float64
 137  NTLsumD_2013         float64
 138  NTLavgD_2013         float64
 139  NTLmaxD_2013         float64
 140  NTLminD_2013         float64
 141  NTLcfc_D_2013        float64
 142  NTLctV_2012          float64
 143  NTLsumV_2012         float64
 144  NTLavgV_2012         float64
 145  NTLmaxV_2012         float64
 146  NTLminV_2012         float64
 147  NTLcfc_V_2012        float64
 148  NTLctV_2013          float64
 149  NTLsumV_2013         float64
 150  NTLavgV_2013         float64
 151  NTLmaxV_2013         float64
 152  NTLminV_2013         float64
 153  NTLcfc_V_2013        float64
 154  NTLctV_2014          float64
 155  NTLsumV_2014         float64
 156  NTLavgV_2014         float64
 157  NTLmaxV_2014         float64
 158  NTLminV_2014         float64
 159  NTLcfc_V_2014        float64
 160  NTLctV_2015          float64
 161  NTLsumV_2015         float64
 162  NTLavgV_2015         float64
 163  NTLmaxV_2015         float64
 164  NTLminV_2015         float64
 165  NTLcfc_V_2015        float64
 166  FLDpc1999            float64
 167  FLDpc2000            float64
 168  FLDpc2001            float64
 169  FLDpc2002            float64
 170  FLDpc2003            float64
 171  FLDpc2004            float64
 172  FLDpc2005            float64
 173  FLDpc2006            float64
 174  FLDpc2007            float64
 175  FLDpc2008            float64
 176  FLDpc2009            float64
 177  FLDpc2010            float64
 178  FLDpc2011            float64
 179  FLDpc2012            float64
 180  FLDpc2013            float64
 181  FLDpc2014            float64
 182  FLDpc2015            float64
 183  FLDarea1999          float64
 184  FLDarea2000          float64
 185  FLDarea2001          float64
 186  FLDarea2002          float64
 187  FLDarea2003          float64
 188  FLDarea2004          float64
 189  FLDarea2005          float64
 190  FLDarea2006          float64
 191  FLDarea2007          float64
 192  FLDarea2008          float64
 193  FLDarea2009          float64
 194  FLDarea2010          float64
 195  FLDarea2011          float64
 196  FLDarea2012          float64
 197  FLDarea2013          float64
 198  FLDarea2014          float64
 199  FLDarea2015          float64
 200  POPpch2001           float64
 201  POPpch2002           float64
 202  POPpch2003           float64
 203  POPpch2004           float64
 204  POPpch2005           float64
 205  POPpch2006           float64
 206  POPpch2007           float64
 207  POPpch2008           float64
 208  POPpch2009           float64
 209  POPpch2010           float64
 210  POPpch2011           float64
 211  POPpch2012           float64
 212  POPpch2013           float64
 213  POPpch2014           float64
 214  POPpch2015           float64
 215  AREApch2000          float64
 216  AREApch2001          float64
 217  AREApch2002          float64
 218  AREApch2003          float64
 219  AREApch2004          float64
 220  AREApch2005          float64
 221  AREApch2006          float64
 222  AREApch2007          float64
 223  AREApch2008          float64
 224  AREApch2009          float64
 225  AREApch2010          float64
 226  AREApch2011          float64
 227  AREApch2012          float64
 228  AREApch2013          float64
 229  AREApch2014          float64
 230  AREApch2015          float64
 231  NTLsum_pchD_2000     float64
 232  NTLavg_pchD_2000     float64
 233  NTLmax_pchD_2000     float64
 234  NTLsum_pchD_2001     float64
 235  NTLavg_pchD_2001     float64
 236  NTLmax_pchD_2001     float64
 237  NTLsum_pchD_2002     float64
 238  NTLavg_pchD_2002     float64
 239  NTLmax_pchD_2002     float64
 240  NTLsum_pchD_2003     float64
 241  NTLavg_pchD_2003     float64
 242  NTLmax_pchD_2003     float64
 243  NTLsum_pchD_2004     float64
 244  NTLavg_pchD_2004     float64
 245  NTLmax_pchD_2004     float64
 246  NTLsum_pchD_2005     float64
 247  NTLavg_pchD_2005     float64
 248  NTLmax_pchD_2005     float64
 249  NTLsum_pchD_2006     float64
 250  NTLavg_pchD_2006     float64
 251  NTLmax_pchD_2006     float64
 252  NTLsum_pchD_2007     float64
 253  NTLavg_pchD_2007     float64
 254  NTLmax_pchD_2007     float64
 255  NTLsum_pchD_2008     float64
 256  NTLavg_pchD_2008     float64
 257  NTLmax_pchD_2008     float64
 258  NTLsum_pchD_2009     float64
 259  NTLavg_pchD_2009     float64
 260  NTLmax_pchD_2009     float64
 261  NTLsum_pchD_2010     float64
 262  NTLavg_pchD_2010     float64
 263  NTLmax_pchD_2010     float64
 264  NTLsum_pchD_2011     float64
 265  NTLavg_pchD_2011     float64
 266  NTLmax_pchD_2011     float64
 267  NTLsum_pchD_2012     float64
 268  NTLavg_pchD_2012     float64
 269  NTLmax_pchD_2012     float64
 270  NTLsum_pchD_2013     float64
 271  NTLavg_pchD_2013     float64
 272  NTLmax_pchD_2013     float64
 273  NTLsum_pchV_2013     float64
 274  NTLavg_pchV_2013     float64
 275  NTLmax_pchV_2013     float64
 276  NTLsum_pchV_2014     float64
 277  NTLavg_pchV_2014     float64
 278  NTLmax_pchV_2014     float64
 279  NTLsum_pchV_2015     float64
 280  NTLavg_pchV_2015     float64
 281  NTLmax_pchV_2015     float64
 282  FLDareapch2000       float64
 283  FLDareapch2001       float64
 284  FLDareapch2002       float64
 285  FLDareapch2003       float64
 286  FLDareapch2004       float64
 287  FLDareapch2005       float64
 288  FLDareapch2006       float64
 289  FLDareapch2007       float64
 290  FLDareapch2008       float64
 291  FLDareapch2009       float64
 292  FLDareapch2010       float64
 293  FLDareapch2011       float64
 294  FLDareapch2012       float64
 295  FLDareapch2013       float64
 296  FLDareapch2014       float64
 297  FLDareapch2015       float64
 298  FLDpcpch2000         float64
 299  FLDpcpch2001         float64
 300  FLDpcpch2002         float64
 301  FLDpcpch2003         float64
 302  FLDpcpch2004         float64
 303  FLDpcpch2005         float64
 304  FLDpcpch2006         float64
 305  FLDpcpch2007         float64
 306  FLDpcpch2008         float64
 307  FLDpcpch2009         float64
 308  FLDpcpch2010         float64
 309  FLDpcpch2011         float64
 310  FLDpcpch2012         float64
 311  FLDpcpch2013         float64
 312  FLDpcpch2014         float64
 313  FLDpcpch2015         float64
 314  POPden2000           float64
 315  POPden2001           float64
 316  POPden2002           float64
 317  POPden2003           float64
 318  POPden2004           float64
 319  POPden2005           float64
 320  POPden2006           float64
 321  POPden2007           float64
 322  POPden2008           float64
 323  POPden2009           float64
 324  POPden2010           float64
 325  POPden2011           float64
 326  POPden2012           float64
 327  POPden2013           float64
 328  POPden2014           float64
 329  POPden2015           float64
 330  POPdenpch2001        float64
 331  POPdenpch2002        float64
 332  POPdenpch2003        float64
 333  POPdenpch2004        float64
 334  POPdenpch2005        float64
 335  POPdenpch2006        float64
 336  POPdenpch2007        float64
 337  POPdenpch2008        float64
 338  POPdenpch2009        float64
 339  POPdenpch2010        float64
 340  POPdenpch2011        float64
 341  POPdenpch2012        float64
 342  POPdenpch2013        float64
 343  POPdenpch2014        float64
 344  POPdenpch2015        float64
 345  NTLsum_denD_1999     float64
 346  NTLavg_denD_1999     float64
 347  NTLmax_denD_1999     float64
 348  NTLsum_denD_2000     float64
 349  NTLavg_denD_2000     float64
 350  NTLmax_denD_2000     float64
 351  NTLsum_denD_2001     float64
 352  NTLavg_denD_2001     float64
 353  NTLmax_denD_2001     float64
 354  NTLsum_denD_2002     float64
 355  NTLavg_denD_2002     float64
 356  NTLmax_denD_2002     float64
 357  NTLsum_denD_2003     float64
 358  NTLavg_denD_2003     float64
 359  NTLmax_denD_2003     float64
 360  NTLsum_denD_2004     float64
 361  NTLavg_denD_2004     float64
 362  NTLmax_denD_2004     float64
 363  NTLsum_denD_2005     float64
 364  NTLavg_denD_2005     float64
 365  NTLmax_denD_2005     float64
 366  NTLsum_denD_2006     float64
 367  NTLavg_denD_2006     float64
 368  NTLmax_denD_2006     float64
 369  NTLsum_denD_2007     float64
 370  NTLavg_denD_2007     float64
 371  NTLmax_denD_2007     float64
 372  NTLsum_denD_2008     float64
 373  NTLavg_denD_2008     float64
 374  NTLmax_denD_2008     float64
 375  NTLsum_denD_2009     float64
 376  NTLavg_denD_2009     float64
 377  NTLmax_denD_2009     float64
 378  NTLsum_denD_2010     float64
 379  NTLavg_denD_2010     float64
 380  NTLmax_denD_2010     float64
 381  NTLsum_denD_2011     float64
 382  NTLavg_denD_2011     float64
 383  NTLmax_denD_2011     float64
 384  NTLsum_denD_2012     float64
 385  NTLavg_denD_2012     float64
 386  NTLmax_denD_2012     float64
 387  NTLsum_denV_2012     float64
 388  NTLavg_denV_2012     float64
 389  NTLmax_denV_2012     float64
 390  NTLsum_denD_2013     float64
 391  NTLavg_denD_2013     float64
 392  NTLmax_denD_2013     float64
 393  NTLsum_denV_2013     float64
 394  NTLavg_denV_2013     float64
 395  NTLmax_denV_2013     float64
 396  NTLsum_denV_2014     float64
 397  NTLavg_denV_2014     float64
 398  NTLmax_denV_2014     float64
 399  NTLsum_denV_2015     float64
 400  NTLavg_denV_2015     float64
 401  NTLmax_denV_2015     float64
 402  NTLsum_denpchD_2000  float64
 403  NTLavg_denpchD_2000  float64
 404  NTLmax_denpchD_2000  float64
 405  NTLsum_denpchD_2001  float64
 406  NTLavg_denpchD_2001  float64
 407  NTLmax_denpchD_2001  float64
 408  NTLsum_denpchD_2002  float64
 409  NTLavg_denpchD_2002  float64
 410  NTLmax_denpchD_2002  float64
 411  NTLsum_denpchD_2003  float64
 412  NTLavg_denpchD_2003  float64
 413  NTLmax_denpchD_2003  float64
 414  NTLsum_denpchD_2004  float64
 415  NTLavg_denpchD_2004  float64
 416  NTLmax_denpchD_2004  float64
 417  NTLsum_denpchD_2005  float64
 418  NTLavg_denpchD_2005  float64
 419  NTLmax_denpchD_2005  float64
 420  NTLsum_denpchD_2006  float64
 421  NTLavg_denpchD_2006  float64
 422  NTLmax_denpchD_2006  float64
 423  NTLsum_denpchD_2007  float64
 424  NTLavg_denpchD_2007  float64
 425  NTLmax_denpchD_2007  float64
 426  NTLsum_denpchD_2008  float64
 427  NTLavg_denpchD_2008  float64
 428  NTLmax_denpchD_2008  float64
 429  NTLsum_denpchD_2009  float64
 430  NTLavg_denpchD_2009  float64
 431  NTLmax_denpchD_2009  float64
 432  NTLsum_denpchD_2010  float64
 433  NTLavg_denpchD_2010  float64
 434  NTLmax_denpchD_2010  float64
 435  NTLsum_denpchD_2011  float64
 436  NTLavg_denpchD_2011  float64
 437  NTLmax_denpchD_2011  float64
 438  NTLsum_denpchD_2012  float64
 439  NTLavg_denpchD_2012  float64
 440  NTLmax_denpchD_2012  float64
 441  NTLsum_denpchD_2013  float64
 442  NTLavg_denpchD_2013  float64
 443  NTLmax_denpchD_2013  float64
 444  NTLsum_denpchV_2013  float64
 445  NTLavg_denpchV_2013  float64
 446  NTLmax_denpchV_2013  float64
 447  NTLsum_denpchV_2014  float64
 448  NTLavg_denpchV_2014  float64
 449  NTLmax_denpchV_2014  float64
 450  NTLsum_denpchV_2015  float64
 451  NTLavg_denpchV_2015  float64
 452  NTLmax_denpchV_2015  float64
 453  NTLsum_popD_2000     float64
 454  NTLavg_popD_2000     float64
 455  NTLmax_popD_2000     float64
 456  NTLsum_popD_2001     float64
 457  NTLavg_popD_2001     float64
 458  NTLmax_popD_2001     float64
 459  NTLsum_popD_2002     float64
 460  NTLavg_popD_2002     float64
 461  NTLmax_popD_2002     float64
 462  NTLsum_popD_2003     float64
 463  NTLavg_popD_2003     float64
 464  NTLmax_popD_2003     float64
 465  NTLsum_popD_2004     float64
 466  NTLavg_popD_2004     float64
 467  NTLmax_popD_2004     float64
 468  NTLsum_popD_2005     float64
 469  NTLavg_popD_2005     float64
 470  NTLmax_popD_2005     float64
 471  NTLsum_popD_2006     float64
 472  NTLavg_popD_2006     float64
 473  NTLmax_popD_2006     float64
 474  NTLsum_popD_2007     float64
 475  NTLavg_popD_2007     float64
 476  NTLmax_popD_2007     float64
 477  NTLsum_popD_2008     float64
 478  NTLavg_popD_2008     float64
 479  NTLmax_popD_2008     float64
 480  NTLsum_popD_2009     float64
 481  NTLavg_popD_2009     float64
 482  NTLmax_popD_2009     float64
 483  NTLsum_popD_2010     float64
 484  NTLavg_popD_2010     float64
 485  NTLmax_popD_2010     float64
 486  NTLsum_popD_2011     float64
 487  NTLavg_popD_2011     float64
 488  NTLmax_popD_2011     float64
 489  NTLsum_popD_2012     float64
 490  NTLavg_popD_2012     float64
 491  NTLmax_popD_2012     float64
 492  NTLsum_popV_2012     float64
 493  NTLavg_popV_2012     float64
 494  NTLmax_popV_2012     float64
 495  NTLsum_popD_2013     float64
 496  NTLavg_popD_2013     float64
 497  NTLmax_popD_2013     float64
 498  NTLsum_popV_2013     float64
 499  NTLavg_popV_2013     float64
 500  NTLmax_popV_2013     float64
 501  NTLsum_popV_2014     float64
 502  NTLavg_popV_2014     float64
 503  NTLmax_popV_2014     float64
 504  NTLsum_popV_2015     float64
 505  NTLavg_popV_2015     float64
 506  NTLmax_popV_2015     float64
 507  NTLsum_poppchD_2001  float64
 508  NTLavg_poppchD_2001  float64
 509  NTLmax_poppchD_2001  float64
 510  NTLsum_poppchD_2002  float64
 511  NTLavg_poppchD_2002  float64
 512  NTLmax_poppchD_2002  float64
 513  NTLsum_poppchD_2003  float64
 514  NTLavg_poppchD_2003  float64
 515  NTLmax_poppchD_2003  float64
 516  NTLsum_poppchD_2004  float64
 517  NTLavg_poppchD_2004  float64
 518  NTLmax_poppchD_2004  float64
 519  NTLsum_poppchD_2005  float64
 520  NTLavg_poppchD_2005  float64
 521  NTLmax_poppchD_2005  float64
 522  NTLsum_poppchD_2006  float64
 523  NTLavg_poppchD_2006  float64
 524  NTLmax_poppchD_2006  float64
 525  NTLsum_poppchD_2007  float64
 526  NTLavg_poppchD_2007  float64
 527  NTLmax_poppchD_2007  float64
 528  NTLsum_poppchD_2008  float64
 529  NTLavg_poppchD_2008  float64
 530  NTLmax_poppchD_2008  float64
 531  NTLsum_poppchD_2009  float64
 532  NTLavg_poppchD_2009  float64
 533  NTLmax_poppchD_2009  float64
 534  NTLsum_poppchD_2010  float64
 535  NTLavg_poppchD_2010  float64
 536  NTLmax_poppchD_2010  float64
 537  NTLsum_poppchD_2011  float64
 538  NTLavg_poppchD_2011  float64
 539  NTLmax_poppchD_2011  float64
 540  NTLsum_poppchD_2012  float64
 541  NTLavg_poppchD_2012  float64
 542  NTLmax_poppchD_2012  float64
 543  NTLsum_poppchD_2013  float64
 544  NTLavg_poppchD_2013  float64
 545  NTLmax_poppchD_2013  float64
 546  NTLsum_poppchV_2013  float64
 547  NTLavg_poppchV_2013  float64
 548  NTLmax_poppchV_2013  float64
 549  NTLsum_poppchV_2014  float64
 550  NTLavg_poppchV_2014  float64
 551  NTLmax_poppchV_2014  float64
 552  NTLsum_poppchV_2015  float64
 553  NTLavg_poppchV_2015  float64
 554  NTLmax_poppchV_2015  float64
dtypes: float64(552), int64(2), object(1)
memory usage: 8.2+ MB

In [159]:
AllStats.to_csv(os.path.join(ResultsFolder, 'AllStats.csv'))

### 11.4 Urban Type

In [161]:
for year in AllStudyYears:
    PopVar = ''.join(['POPsum', str(year)])
    DenVar = ''.join(['POPden', str(year)])
    NewVar = ''.join(['UrbType', str(year)])
    if ((PopVar in AllStats.columns) and (DenVar in AllStats.columns)):
        AllStats[NewVar] = 'LD'
        AllStats.loc[(AllStats[PopVar] >= 5000) & (AllStats[DenVar] >= 300), NewVar] = 'SDurban'
        AllStats.loc[(AllStats[PopVar] >= 50000) & (AllStats[DenVar] >= 1500), NewVar] = 'HDurban'
    else:
        pass

In [162]:
AllStats.to_csv(os.path.join(ResultsFolder, 'AllStats.csv'))

In [163]:
Stats = AllStats.loc[:, AllStats.columns.str.contains('Sett|UrbType')]
list(Stats.columns)

['Sett_ID',
 'SettName',
 'UrbType2000',
 'UrbType2001',
 'UrbType2002',
 'UrbType2003',
 'UrbType2004',
 'UrbType2005',
 'UrbType2006',
 'UrbType2007',
 'UrbType2008',
 'UrbType2009',
 'UrbType2010',
 'UrbType2011',
 'UrbType2012',
 'UrbType2013',
 'UrbType2014',
 'UrbType2015']

In [164]:
Stats[Stats.SettName!='UNK'].sort_values(by=Stats.columns[5], ascending=False).head(10)

,Sett_ID,SettName,UrbType2000,UrbType2001,UrbType2002,UrbType2003,UrbType2004,UrbType2005,UrbType2006,UrbType2007,UrbType2008,UrbType2009,UrbType2010,UrbType2011,UrbType2012,UrbType2013,UrbType2014,UrbType2015
1938,21474836,Lai,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
592,25275,Benoye,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
969,42500,Sarh,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
1745,278172,Abéché,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
1115,56147,Fianga,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
1122,60380,Bongor,LD,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
792,35033,Doba,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
687,32767,Béré,LD,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
1625,212434,Adre,LD,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban
1061,51519,Lere,LD,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban,SDurban

In [165]:
Stats.to_csv(os.path.join(ResultsFolder, 'UrbanType.csv'))