# Spatiotemporal Trends in Urbanization
## Overview
This repository investigates year-by-year change in cities and settlements in Central and Western Africa (CWA). The goal is to capture activity for every settlement locality in a country to produce indicators that are high frequency, spatially granular, and timely. The Jupyter Notebook is the primary script used to construct each country's dataset. It tracks population, built-area, and economic and climate indicators across a 16-year timeframe from 2000 to 2015. 

The repository is split into three sections: methodology and notebooks, source data, and outputs. Outputs are organized by country and include growth tables ("urban panel datasets"), charts, and country briefs.


## Datasets
Datasets used to create each African country's urban panel data are as follows:
1. Most up-to-date administrative boundaries.
2. City names: **UCDB, Africapolis, and GeoNames.**
3. Settlement types: **GRID3 settlement extents.** Captured between 2009-2019.
4. Built-up area, yearly: **World Settlement Footprint Evolution.** Resolution: 30m.
5. Population, yearly: **WorldPop.** UN-adjusted, unconstrained. Resolution: 100m.
6. Nighttime lights, yearly: **Harmonization of DMSP and VIIRS.** Resolution: 1km and 500m.
7. Flood extents, by return period: **FATHOM.** Resolution: 90m.


## Accessing Data
Source data are available to the public by providers listed in the previous section, with the exception of flood data. Please note that the source data files in this repository have been fit for purpose and may not cover your area of interest. Some sources are also not global; GRID3 settlement extents are only available for sub-Saharan Africa, and Africapolis names for Africa.

Results from the analysis are currently available for Cameroon and are under development for Central African Republic and four Sahel countries: Burkina Faso, Chad, Mali, and Niger. Results are available in the outputs folder by country. Please contact the CWA Geospatial team to inquire about new locations.
<br>
> **Walker Kosmidou-Bradley**, wkosmidoubradley@worldbank.org
<br>
> **Grace Doherty**, gdoherty2@worldbank.org

## License
Materials under this repository are open-source under an MIT license. The community is invited to test, adapt, and re-purpose materials as needed.

---

## 1. PREPARE WORKSPACE

### 1.1 Off-script

##### Off-script: Create folders in your working directory. (The folder where you are storing this script).
> *ADM
<br>Buildup
<br>PlaceName
<br>Population
<br>Settlement
<br>NTL*

##### Before starting: Download datasets (as shapefile, GeoJSON, or tif where possible) and place or extract into corresponding folder. You can download the cleaned files from our [GitHub Repository](https://github.com/worldbank/Urban_Spatio_Temporal_Trends) or access original sources here:
- ADM: *Varies by source.*
- Buildup: https://download.geoservice.dlr.de/WSF_EVO/files/
- PlaceName: 
    - GeoNames: (file: cities500.zip) https://download.geonames.org/export/dump/
    - Africapolis: https://africapolis.org/en/data
    - Urban Centres Database: https://ghsl.jrc.ec.europa.eu/ghs_stat_ucdb2015mt_r2019a.php
- Population: https://hub.worldpop.org/geodata/listing?id=69
- Settlement: https://data.grid3.org/datasets/GRID3::grid3-cameroon-settlement-extents-version-01-01-/explore
- Nighttime Lights: https://eogdata.mines.edu/products/dmsp/#v4 and https://eogdata.mines.edu/products/vnl/#annual_v2

##### Other off-script:
- Convert GeoNames from .txt file to shape (delimiter = tab, header rows = 0) and rename fields.
- If necessary, mosaic WSFE rasters that cover the area of interest to create a single file.

### 1.2 Load all packages.

In [1]:
# Built-in:
# dir(), print(), range(), format(), int(), len(), list(), max(), min(), zip(), sorted(), sum(), open(), del, = None, try except, with as, for in, if elif else
# Also: list.append(), string.zfill(), list.insert(), list.remove(), string.join(), count(), startswith(), endswith(), contains(), replace()

import os, sys, glob, re, time, subprocess # os.getcwd(), os.path.join(), os.listdir(), os.remove(), time.ctime(), glob.glob()
from os.path import exists # exists()
from functools import reduce # reduce()

import geopandas as gpd # read_file(), GeoDataFrame(), sjoin_nearest(), to_crs(), to_file(), .crs, buffer(), dissolve()
import pandas as pd # .dtypes, Series(), concat(), DataFrame(), read_table(), merge(), to_csv(), .loc[], head(), sample(), astype(), unique(), rename(), between(), drop(), fillna(), idxmax(), isna(), isin(), apply(), info(), sort_values(), notna(), groupby(), value_counts(), duplicated(), drop_duplicates()
from shapely.geometry import Point, LineString, Polygon, shape, MultiPoint
from shapely.ops import cascaded_union
from shapely.validation import make_valid  # in apply(make_valid)
import shapely.wkt

import numpy as np # median(), mean(), tolist(), .inf
import fiona, rioxarray # fiona.open()
import rasterio # open(), write_band(), .name, .count, .width, .height. nodatavals, .meta, update(), copy(), write()
from rasterio.plot import show
from rasterio import features # features.rasterize()
from rasterio.features import shapes
from rasterio import mask # rasterio.mask.mask()
from osgeo import gdal, osr, ogr, gdal_array, gdalconst # Open(), SpatialReference, WarpOptions(), Warp(), GetDataTypeName(), GetRasterBand(), GetNoDataValue(), Translate(), GetProjection(), GetAttrValue()

### 1.3 User-defined functions.

In [2]:
# From Stack Exchange @RutgerH
# https://gis.stackexchange.com/questions/163685/reclassify-a-raster-value-to-9999-and-set-it-to-the-nodata-value-using-python-a
def readRaster(filename):
    filehandle = gdal.Open(filename)
    band1 = filehandle.GetRasterBand(1)
    geotransform = filehandle.GetGeoTransform()
    geoproj = filehandle.GetProjection()
    Z = band1.ReadAsArray()
    xsize = filehandle.RasterXSize
    ysize = filehandle.RasterYSize
    return xsize,ysize,geotransform,geoproj,Z

In [3]:
# Default arguments can be changed here, or can be specified below when running the functions.
def writeRaster(filename,geotransform,geoprojection,data, NoDataVal=0):
    (x,y) = data.shape
    Dformat = "GTiff"
    driver = gdal.GetDriverByName(Dformat)
    # you can change the dataformat but be sure to be able to store negative values including -9999
    dst_datatype = gdal.GDT_UInt32
    dst_ds = driver.Create(filename,y,x,1,dst_datatype)
    dst_ds.GetRasterBand(1).WriteArray(data)
    dst_ds.SetGeoTransform(geotransform)
    dst_ds.SetProjection(geoprojection)
    dst_ds.GetRasterBand(1).SetNoDataValue(NoDataVal)
    return 1
    dst_ds = None

In [4]:
# Based on Stack Exchange @Kurt Schwehr:
# https://stackoverflow.com/questions/10454316/how-to-project-and-resample-a-grid-to-match-another-grid-with-gdal-python
def resampleRaster(InRaster_Path, MatchRaster_Path, OutFile_Path):
    print('Loading for %s. %s' % (InRaster_Path, time.ctime()))
    
    RasterObject = gdal.Open(InRaster_Path)
    In_proj = RasterObject.GetProjection()
    [Match_x, Match_y, Match_geo, Match_proj, Match_Z] = readRaster(MatchRaster_Path)
    print('---Specs to match to: \n', 
      Match_proj, '\n', Match_geo, '\n', Match_x, '\n', Match_y, '\n')
        
    OutFile = gdal.GetDriverByName('GTiff').Create(OutFile_Path, Match_x, Match_y, 1, gdalconst.GDT_UInt32)
    OutFile.SetGeoTransform(Match_geo)
    OutFile.SetProjection(Match_proj)
    print('---Created raster file for upsampled version. %s' % time.ctime())
    
    gdal.ReprojectImage(RasterObject, OutFile, In_proj, Match_proj, gdal.GRA_NearestNeighbour) # Nearest because categorical.
    print('---Resampled flood values onto an empty raster matching the dimensions of the buildup layer. %s \n\n' % time.ctime())
    
    OutFile.GetRasterBand(1).SetNoDataValue(0)
    
    RasterObject = Outfile = None
    return 1

In [5]:
def calcShell(A, B, OutFile, Calculation):
    """Raster math using gdal_calc.py.

    The OSgeo package for Python API does not make raster calculations
    easy outside of the shell. This function plugs two raster files
    into a string which subprocess.call() then commits to the terminal.
    It only works with two objects but easy to adapt for 3 or more.

        A : str
            File path to the first raster for the calculation.
        B : str
            File path to the second raster for the calculation.
        OutFile : str
            File path where to store the raster generated from the calculation.
        Calculation : str
            Algebra that uses A and B to create a new raster. Use double quotes.
    """
    print('Running for %s. %s' % (A, time.ctime()))
    cmd = 'gdal_calc.py -A ' + A + ' -B ' + B + ' --outfile=' + OutFile + ' --overwrite --calc=' + Calculation
    subprocess.call(cmd, shell=True)
    cmd = A = B = None
    print('Ran in shell. See OutFile folder to inspect results. %s' % time.ctime())

In [6]:
def RasterToShapefile(InRasterPath, OutFilePath = 'RastToShp.shp', Band=1, 
                      OutName='RastToShp', VariableName='value', Driver = 'ESRI Shapefile'):
    """Raster tiff to vector polygon shapefile.
    
    """
    Raster = gdal.Open(InRasterPath)
    RasterBand = Raster.GetRasterBand(Band)
    
    OutDriver = ogr.GetDriverByName(Driver)
    InProj = Raster.GetProjectionRef()
    SpatRef = osr.SpatialReference()
    SpatRef.ImportFromWkt(InProj)
    print(InProj, '\n\n', SpatRef)
    
    OutFile = OutDriver.CreateDataSource(OutFilePath)
    OutLayer = OutFile.CreateLayer(OutName, srs = SpatRef, geom_type = ogr.wkbPolygon)
    OutField = ogr.FieldDefn(VariableName, ogr.OFTInteger)
    OutLayer.CreateField(OutField)
    OutField = OutLayer.GetLayerDefn().GetFieldIndex(VariableName)
    print('\n', OutFile, '\n', OutLayer, '\n', OutField)
    
    print('Vectorizing. Input: %s. %s' % (InRasterPath, time.ctime()))
    gdal.Polygonize(RasterBand, None, OutLayer, 0, [], callback=None)
    print('Completed polygons. Stored as: %s. %s' % (OutFilePath, time.ctime()))

    del Raster, RasterBand, OutFile, OutLayer

In [7]:
def rioStats(InRasterPath, Band = 1):
    out = rasterio.open(InRasterPath)
    stats = []
    band = out.read(Band)
    stats.append({
        'raster': out.name,
        'bands': out.count,
        'data type': out.dtypes,
        'no data value': out.nodatavals,
        'width': out.width,
        'height': out.height,
        'min': band.min(),
        'mean': band.mean(),
        'median': np.median(band),
        'max': band.max()})
    print("\n", stats)
    
    out = band = None

In [8]:
def ShapeToRaster(Shapefile, ValueVar, MetaRasterPath, OutFilePath = 'ShpToRast.tif', Band=1):
    """
    Polygon spatial object to raster tiff.
    """
    # Copy and update the metadata from another raster for the output
    MetaRaster = rasterio.open(MetaRasterPath)
    meta = MetaRaster.meta.copy()
    meta.update(compress='lzw')
    MetaRaster.meta

    print("Rasterizing dataset. %s" % time.ctime())
    with rasterio.open(OutFilePath, 'w+', **meta) as out:
        out_arr = out.read(Band)

        # this is where we create a generator of geom, value pairs to use in rasterizing
        shapes = ((geom,value) for geom, value in zip(Shapefile.geometry, Shapefile[ValueVar]))

        burned = features.rasterize(shapes=shapes, fill=0, out=out_arr, transform=out.transform)
        out.write_band(1, burned)
    out = burned = shapes = None
    
    print("Finished rasterizing. Checking contents. %s" % time.ctime())
    rioStats(OutFilePath)

In [9]:
def ListFromRange(r1, r2):
    return [item for item in range(r1, r2+1)]

In [156]:
def MaskByZone(MaskPath, SourceFolder, DestFolder, MaskLayerName = None, dstSRS = 'ESRI:102022'):
    """
    Reduces the size of a raster's valid data cells to vector areas of interest.
    This is useful if the raster data needs to be vectorized later to save space.
    
    The script prepares the vector zones as a list of geometries in the desired
    spatial reference system, then warps each raster in the specified source
    folder to the same SRS. Masking in rasterio then reclassifies any raster cells
    falling outside of a mask polygon as NoData.
    """
    
    ProjSRS = osr.SpatialReference()
    ProjSRS.SetFromUserInput(dstSRS)
    ProjWarp = gdal.WarpOptions(dstSRS = dstSRS)
    
    AnnualizedSourceFiles = []
    AnnualizedSourceFiles = AnnualizedSourceFiles + [i for i in os.listdir(''.join([SourceFolder, r'/'])) if i.endswith('tif')]
    print(AnnualizedSourceFiles)
    
    
    ### 1. ASSIGN SPATIAL REFERENCE SYSTEM OF VECTOR MASK AND LOAD GEOMETRIES
    Vector = gpd.read_file(filename=MaskPath, layer=MaskLayerName)
    if Vector.crs != dstSRS:
        if MaskLayerName == None:
            MaskPath = MaskPath + '_temp'
        else:
            MaskLayerName = MaskLayerName + '_temp'
        Vector.to_crs(dstSRS).to_file(filename=MaskPath, layer=MaskLayerName)
    Vector = None # We're reloading the geometries with fiona
    
    with fiona.open(MaskPath, mode="r", layer=MaskLayerName) as Vector:
        MaskGeom = [feature["geometry"] for feature in Vector] # Identify the bounding areas of the mask.
    
    
    ### 2. PREPARE DESTINATION FILES
    for FileName in AnnualizedSourceFiles:
    
        InputRasterPath = os.path.join(ProjectFolder, SourceFolder, FileName)
        
        Sensor = re.search('[A-Z]+_', FileName)
        if Sensor is None:
            Sensor = ''
        else:
            Sensor = Sensor.group(0)

        Year = re.search('\d{4}', FileName).group(0)

        if FileName.endswith('avg.tif') == True:
            IndicType = '_avg'
        elif FileName.endswith('cfc.tif') == True:
            IndicType = '_cfc'
        else:
            IndicType = ''

        TempOutputName = 'Temp_' + Sensor + Year + IndicType + '.tif'
        TempOutputPath = os.path.join(ProjectFolder, DestFolder, TempOutputName)
        FinalOutputName = 'Msk_' + Sensor + Year + IndicType + '.tif'
        FinalOutputPath = os.path.join(ProjectFolder, DestFolder, FinalOutputName)

    ### 3. ASSIGN SPATIAL REFERENCE SYSTEM OF RASTER(S)
        InputRasterObject = gdal.Open(InputRasterPath)
        SourceSRS = osr.SpatialReference(wkt=InputRasterObject.GetProjection())
        print('Source projection: ', SourceSRS.GetAttrValue('projcs'))
        print('Destination projection: ', ProjSRS.GetAttrValue('projcs'))

        if SourceSRS.GetAttrValue('projcs') != ProjSRS.GetAttrValue('projcs'):
            Warp = gdal.Warp(TempOutputPath, # Where to store the warped raster
                         InputRasterObject, # Which raster to warp
                         format='GTiff', 
                         options=ProjWarp) # Reproject to Africa Albers Equal Area Conic
            print('Finished gdal.Warp() for %s. %s \n' % (YearFile, time.ctime()))

            Warp = None # Close the files
        else:
            pass
        InputRasterObject = None
        
    ### 4. RECLASSIFY AS NODATA IF OUTSIDE OF SETTLEMENT BUFFER ZONE.
        if exists(TempOutputPath):
            NewInputPath = TempOutputPath 
            print("We warped the data, so we'll use that file for next step.")
        else:
            NewInputPath = InputRasterPath 
            print("We skipped the warp, so we continue to use the source file.")

        with rasterio.open(NewInputPath) as InputRasterObject:
            MaskedOutputRaster, OutTransform = rasterio.mask.mask(
                InputRasterObject, MaskGeom, crop=True) # Anything outside the mask is reclassed to the raster's NoData value.
            OutMetaData = InputRasterObject.meta.copy()
        print('Finished rasterio.mask.mask() for %s. %s \n' % (FileName, time.ctime()))

        OutMetaData.update({"driver": "GTiff",
                         "height": MaskedOutputRaster.shape[1],
                         "width": MaskedOutputRaster.shape[2],
                         "transform": OutTransform})

        with rasterio.open(FinalOutputPath, "w", **OutMetaData) as dest:
            dest.write(MaskedOutputRaster)
        print('Written to file. %s \n' % time.ctime())
        InputRasterObject = None

        if exists(TempOutputPath):
            try:  # Finally, remove the intermediate file from disk
                os.remove(TempOutputPath)
            except OSError:
                pass
            print('Removed intermediate file. %s \n' % time.ctime())
        else:
            pass


    print('\n \n Finished all years in list. %s' % time.ctime())

In [161]:
def BatchZonalStats(FolderName, CRS = 'ESRI:102022', 
                    Zones = Settlements,
                    JoinField = 'Sett_ID',
                    StatsWanted = ['count', 'sum', 'mean', 'max', 'min'],
                    SeriesStart = 1999, SeriesEnd = 2015):
    """
    Normally, we would use numpy to generate a point gdf from the raster's matrix. 
    However, I was running into a lot of memory errors with that method.
    This method uses some extra steps: tif to xyz to df to gdf. But it saves to file
    and deletes intermediate files along the way, circumventing memory issues.
    
    Run MaskByZone() prior to reduce the raster to only your area(s) of interest.
    
    """
    AnnualizedFiles = [i for i in os.listdir(FolderName) if i.endswith('.tif')]
    print(AnnualizedFiles)
    AllSummaries = pd.DataFrame(Zones).drop(columns='geometry')[[JoinField]]
    print(AllSummaries)
    
    for FileName in AnnualizedFiles:
    ### STEP 1: TIF TO XYZ ###
        print('Loading data for %s. %s \n' % (FileName, time.ctime()))
        
        Sensor = re.search('[A-Z]+_', FileName)
        if Sensor is None:
            Sensor = ''
        else:
            Sensor = Sensor.group(0)
        Year = re.search('\d{4}', FileName).group(0)
        
        InputRasterPath = os.path.join(ProjectFolder, FolderName, FileName)
        InputRasterObject = gdal.Open(InputRasterPath)
        XYZOutputPath = FolderName + r'/{}'.format(
            FileName.replace('.tif', '.xyz')) # New file path will be the same as original, but .tif is replaced with .xyz

        # Create an .xyz version of the .tif
        XYZ = gdal.Translate(XYZOutputPath, # Specify a destination path
                             InputRasterObject, # Input is the masked .tif file
                             format='XYZ', 
                             creationOptions=["ADD_HEADER_LINE=YES"])
        print('Finished gdal.Translate() for year %s. %s \n' % (Year, time.ctime()))

    #     Un-comment this block to remove the temporary masked tif file.
    #     try:  
    #         os.remove(InputRasterName)
    #     except OSError:
    #         pass
    #     print('Removed (or skipped if error) intermediate tif file. %s \n' % time.ctime())

        InputRasterObject = None
        XYZ = None # Reload XYZ as a point geodataframe


    ### STEP 2: GENERATE GEODATAFRAME WITH JOIN FIELD ###
        InputXYZ = pd.read_table(XYZOutputPath, delim_whitespace=True)
        InputXYZ = InputXYZ.loc[InputXYZ['Z'] > 0] # Subset to only the features that have a value.
        print('Loaded XYZ file as a pandas dataframe. %s \n' % time.ctime())
        ValObject = gpd.GeoDataFrame(InputXYZ,
                                     geometry = gpd.points_from_xy(InputXYZ['X'], InputXYZ['Y']),
                                     crs = CRS)
        print('Created geodataframe from non-NoData points. %s \n' % time.ctime())
        del InputXYZ

        # Sjoin_nearest: No need to group by ADM this time. 
        ValObject_withID = pd.DataFrame(gpd.sjoin_nearest(ValObject, 
                                        Zones, 
                                        how='left')).drop(columns='geometry')[['Z', JoinField]] # No need for max_distance parameter this time. We've already narrowed down to nearby raster cells.

        print('\nJoined zone ID onto vectorized raster cells. %s \n' % time.ctime())
        print(ValObject_withID.sample(10))
        del ValObject

        ValObject_withID.to_csv(''.join([FolderName, r'/', FileName.replace('.tif', '.csv')]))
        print('\nExported as table. %s \n' % time.ctime())

        # Remove the temporary xyz file.
        try:  
            os.remove(os.path.join(XYZOutputPath))
        except OSError:
            pass
        print('Removed (or skipped if error) intermediate xyz file. %s \n' % time.ctime())


    ### STEP 3: AGGREGATE BY SETTLEMENT AND MERGE ONTO SUMMARIES TABLE ###
        GroupedVals = ValObject_withID[ValObject_withID['Z'].notna()].groupby(JoinField, as_index=False)
        
        # Unless this is a cloud-free coverage variable, run the desired aggregation methods.
        if FileName.find('cfc') == -1:
            if 'count' in StatsWanted:
                VariableName = ''.join([FolderName[:3].upper(), 'ct', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.count().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'sum' in StatsWanted:
                VariableName = ''.join([FolderName[:3].upper(), 'sum', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.sum().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'mean' in StatsWanted:
                VariableName = ''.join([FolderName[:3].upper(), 'avg', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.mean().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'max' in StatsWanted:
                VariableName = ''.join([FolderName[:3].upper(), 'max', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.max().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            if 'min' in StatsWanted:
                VariableName = ''.join([FolderName[:3].upper(), 'min', Sensor, Year])
                AllSummaries = AllSummaries.merge(GroupedVals.min().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            print('\nDesired aggregation methods applied to settlement level, year %s. %s \n' % (Year, time.ctime()))
            
            # Save in-progress results
            AllSummaries.to_csv(os.path.join(ResultsFolder, ''.join([FolderName, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
            print(AllSummaries.sample(10))

        else:
            VariableName = ''.join([FolderName[:3].upper(), 'cfc_', Sensor, Year])
            AllSummaries = AllSummaries.merge(GroupedVals.mean().rename(columns={'Z': VariableName}), how = 'left', on=JoinField)
            print('\nCount of cloud-free observations averaged to settlement level, year %s. %s \n' % (Year, time.ctime()))
            
            # Save in-progress results
            AllSummaries.to_csv(os.path.join(ResultsFolder, ''.join([FolderName, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
            print(AllSummaries.sample(10))
    
    print('\n\nFinished. All years masked and assigned their nearest settlement. %s' % time.ctime())
    print(AllSummaries.sample(10))
    AllSummaries.to_csv(os.path.join(ResultsFolder, ''.join([FolderName, '%sto%s.csv' % (SeriesStart, SeriesEnd)])))
    print('Saved to file. %s \n' % time.ctime())

### 1.4 Set up workspace.

In [10]:
ProjectFolder = os.getcwd()
ResultsFolder = os.path.join(ProjectFolder, 'Results')
print(ProjectFolder)
print(ResultsFolder)

Q:\GIS\povertyequity\urban_growth\BurkinaFaso
Q:\GIS\povertyequity\urban_growth\BurkinaFaso\Results

In [11]:
WSFEYears = ListFromRange(1985, 2015) # All years in the WSFE dataset.
AllStudyYears = ListFromRange(1999, 2015) # All years for which there will be growth stats in the present study.
print(WSFEYears, '\n\n', AllStudyYears)

[1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

 [1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

---

## 2. PREPARE BUILDUP, SETTLEMENT, AND ADMIN DATASETS
Projection for all datasets: Africa Albers Equal Area Conic

### 2.1 Prepare raster locations for GRID3 and Admin areas

In [23]:
ADM_vec = gpd.read_file(glob.glob('ADM/*.shp')[0])[['geometry']].to_crs("ESRI:102022") # This glob() function pulls the first file ([0]) in the ADM folder which ended in '.shp'
GRID3_vec = gpd.read_file(glob.glob('Settlement/*.shp')[0])[['type','geometry']].to_crs("ESRI:102022")
ADM_vec['ADM_ID'] = range(0,len(ADM_vec))
ADM_vec['ADM_ID'] = ADM_vec['ADM_ID'] + 1 # We have to add 1 if we want our rasterized version's NoData value to be 0. Otherwise the first feature won't be valid.
GRID3_vec['G3_ID'] = range(0,len(GRID3_vec))
GRID3_vec['G3_ID'] = GRID3_vec['G3_ID'] +1
ADM_vec.to_file(driver='GPKG', filename=r'ADM/ADM_equalarea.gpkg', layer='ADM')
GRID3_vec.to_file(driver='GPKG', filename=r'Settlement/Settlement_equalarea.gpkg', layer='GRID3')

In [11]:
ADM_vec = gpd.read_file(r'ADM/ADM_equalarea.gpkg', layer='ADM')
GRID3_vec = gpd.read_file(r'Settlement/Settlement_equalarea.gpkg', layer='GRID3')

# We need to know how many digits need to be allocated to each dataset in the "join" serial.
len_ADM = len(str(ADM_vec['ADM_ID'].max()))
len_G3 =  len(str(GRID3_vec['G3_ID'].max()))

print(ADM_vec.info(), "\n\n", 
      ADM_vec.sample(5),
      ADM_vec.crs, "\n\n", 
      len_ADM) 
print(GRID3_vec.info(), "\n\n",
      GRID3_vec.sample(5),
      GRID3_vec.crs, "\n\n", 
      len_G3)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ADM_ID    351 non-null    int64
 1   geometry  351 non-null    geometry
dtypes: geometry(1), int64(1)
memory usage: 5.6 KB
None

      ADM_ID                                           geometry
128     129  POLYGON ((-2814706.700 1366314.825, -2814686.8...
196     197  POLYGON ((-3121153.823 1262207.751, -3120940.4...
82       83  MULTIPOLYGON (((-3039069.415 1467544.605, -303...
197     198  POLYGON ((-2651759.240 1596949.597, -2651690.5...
308     309  POLYGON ((-2778815.854 1482839.071, -2778612.6... PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

 3
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 615220 entries, 0 to 615219
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   type      615220 non-null  object
 1   G3_ID     615220 non-null  int64
 2   geometry  615220 non-null  geometry
dtypes: geometry(1), int64(1), object(1)
memory usage: 14.1+ MB
None

           type   G3_ID                                           geometry
465989  Hamlet  465990  POLYGON ((-2893162.607 1608919.115, -2893120.7...
147765  Hamlet  147766  POLYGON ((-2971008.407 1409142.044, -2970966.9...
486803  Hamlet  486804  POLYGON ((-2765853.067 1617627.478, -2765811.2...
136173  Hamlet  136174  POLYGON ((-2945499.809 1376213.954, -2945458.3...
20140   Hamlet   20141  POLYGON ((-3061234.567 1204868.095, -3061223.6... PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

 6

### 2.2 Reproject WSFE to project CRS, and ensure valid data range is only 1985-2015.

In [10]:
InPath = glob.glob('Buildup/*.tif')[0]
OutWGS = os.path.join(ProjectFolder, 'Buildup', 'WSFE_reclass.tif')

# Together, x and y define the data's "shape".
# geotransform contains the parameters detailing how the raster should be stretched and aligned.
# geoproj is the map projection
# Z are the values in the raster band.
[xsize,ysize,geotransform,geoproj,Z] = readRaster(InPath)
Z[Z<1985] = 0
Z[Z>2015] = 0

writeRaster(OutWGS,geotransform,geoproj,Z)
print('Wrote the reclassed raster to file. %s' % time.ctime())

Wrote the reclassed raster to file. Wed Jan 25 16:06:18 2023

In [11]:
OutEqArea = os.path.join(ProjectFolder, 'Buildup', 'WSFE_equalarea.tif')

# Whenever we want to work in a projected CRS, we'll use Africa Albers Equal Area Conic.
ProjEqArea = gdal.WarpOptions(dstSRS='ESRI:102022')
Warp = gdal.Warp(OutEqArea, # Where to store the warped raster
                 OutWGS, # Which raster to warp
                 format='GTiff', 
                 options=ProjEqArea)
print('Wrote the reclassed and reprojected raster to file. %s' % time.ctime())

Wrote the reclassed and reprojected raster to file. Wed Jan 25 16:07:25 2023

In [12]:
rioStats(OutWGS)
rioStats(OutEqArea)

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/BurkinaFaso/Buildup/WSFE_reclass.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (0.0,), 'width': 29405, 'height': 21083, 'min': 0, 'mean': 6.654020696638043, 'median': 0.0, 'max': 2015}]

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/BurkinaFaso/Buildup/WSFE_equalarea.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (0.0,), 'width': 28597, 'height': 22808, 'min': 0, 'mean': 6.506819179191691, 'median': 0.0, 'max': 2015}]

In [13]:
InPath = Warp = OutWGS = OutEqArea = None

---

## 3. WSFE AND ADM; GRID3 AND ADM
RASTERIZE: Bring ADM and GRID3 into raster space.

RASTER MATH: "Join" ADM ID onto GRID3 and onto WSFE by creating unique concatenation string.

VECTORIZE: Bring joined data into vector space.

VECTOR MATH: Split unique ID from raster math step into separate columns.

### 3.1 Rasterize admin areas and GRID3 using WSFE specs.

In [12]:
# Copy and update the metadata from WSFE for the output
WSFE = os.path.join(ProjectFolder, 'Buildup', 'WSFE_equalarea.tif')
ADM_out = os.path.join(ProjectFolder, 'ADM', 'ADM_rasterized.tif')
GRID3_out = os.path.join(ProjectFolder, 'Settlement', 'GRID3_rasterized.tif')

ShapeToRaster(Shapefile=ADM_vec, ValueVar="ADM_ID", MetaRasterPath=WSFE, OutFilePath=ADM_out)
ShapeToRaster(GRID3_vec, "G3_ID", WSFE, GRID3_out)

Rasterizing dataset. Wed Jan 25 19:02:35 2023
Finished rasterizing. Checking contents. Wed Jan 25 19:03:24 2023

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/BurkinaFaso/ADM/ADM_rasterized.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (0.0,), 'width': 28597, 'height': 22808, 'min': 0, 'mean': 84.24833096349128, 'median': 0.0, 'max': 351}]
Rasterizing dataset. Wed Jan 25 19:03:42 2023
Finished rasterizing. Checking contents. Wed Jan 25 19:07:57 2023

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/BurkinaFaso/Settlement/GRID3_rasterized.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (0.0,), 'width': 28597, 'height': 22808, 'min': 0, 'mean': 12265.64792682353, 'median': 0.0, 'max': 615220}]

### 3.2 Raster math to "join" admin to GRID3 and to WSFE.
Processing is more rapid when "joining," i.e. creating serial codes out of two datasets, in raster rather than vector space.
Here, we are concatenating the ID fields of the two datasets to create a serial number that we can then split in vector space later to create two ID fields.

In [13]:
# In paths
InG3 = os.path.join(ProjectFolder, 'Settlement', 'GRID3_rasterized.tif')
InWSFE = os.path.join(ProjectFolder, 'Buildup', 'WSFE_equalarea.tif')
InADM = os.path.join(ProjectFolder, 'ADM', 'ADM_rasterized.tif')

# Out paths
G3_ADM = os.path.join(ProjectFolder, 'Settlement', 'GRID3_ADM.tif')
WSFE_ADM = os.path.join(ProjectFolder, 'Buildup', 'WSFE_ADM.tif')

# Calculations
Calc = "(A*" + str(10**len_ADM) + ")+B" 
# The number of digits in the largest ADM index value (len_ADM) is 
# the number of zeroes we tack onto the first variable in the serial.

calcShell(A=InG3, B=InADM, OutFile=G3_ADM, Calculation=Calc)
calcShell(A=InWSFE, B=InADM, OutFile=WSFE_ADM, Calculation=Calc)

Running for Q:\GIS\povertyequity\urban_growth\BurkinaFaso\Settlement\GRID3_rasterized.tif. Wed Jan 25 19:08:11 2023
Ran in shell. See OutFile folder to inspect results. Wed Jan 25 19:09:52 2023
Running for Q:\GIS\povertyequity\urban_growth\BurkinaFaso\Buildup\WSFE_equalarea.tif. Wed Jan 25 19:09:52 2023
Ran in shell. See OutFile folder to inspect results. Wed Jan 25 19:11:36 2023

*Adding together the values to create join IDs. This is in effect a concatenation of their ID strings, by way of summation. The number of zeros in the calc multiplication corresponds with number of digits of the maximum value in the "B" dataset. (e.g. Chad ADM codes go up 4 digits, so it's calc=(A*10000)+B).*

In [14]:
rioStats(G3_ADM)
rioStats(WSFE_ADM)

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/BurkinaFaso/Settlement/GRID3_ADM.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (4294967293.0,), 'width': 28597, 'height': 22808, 'min': 1188, 'mean': 4132712942.105214, 'median': 4294967293.0, 'max': 4294967293}]

 [{'raster': 'Q:/GIS/povertyequity/urban_growth/BurkinaFaso/Buildup/WSFE_ADM.tif', 'bands': 1, 'data type': ('uint32',), 'no data value': (4294967293.0,), 'width': 28597, 'height': 22808, 'min': 1985001, 'mean': 4281025071.9005694, 'median': 4294967293.0, 'max': 4294967293}]

### 3.3 Vectorize serialized layers.

In [15]:
G3_in = os.path.join(ProjectFolder, 'Settlement', 'GRID3_ADM.tif')
G3_out = os.path.join(ProjectFolder, 'Settlement', 'GRID3_ADM.shp')
WSFE_in = os.path.join(ProjectFolder, 'Buildup', 'WSFE_ADM.tif')
WSFE_out = os.path.join(ProjectFolder, 'Buildup', 'WSFE_ADM.shp')

RasterToShapefile(G3_in, G3_out, OutName='GRID3_ADM', VariableName='gridcode', Driver = 'ESRI Shapefile')
RasterToShapefile(WSFE_in, WSFE_out, OutName='WSFE_ADM', VariableName='gridcode', Driver = 'ESRI Shapefile')

PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]

 PROJCS["Africa_Albers_Equal_Area_Conic",
    GEOGCS["WGS 84",
        DATUM["WGS_1984",
            SPHEROID["WGS 84",6378137,298.257223563,
                AUTHORITY["EPSG","7030"]],
            AUTHORITY["EPSG","6326"]],
        PRIMEM["Greenwich",0],
        UNIT["degree",0.0174532925199433,
            AUTHORITY["EPSG","9122"]],
        AUTHORITY["EPSG","4326"]],
    PROJECTION["Albers_Conic_Equal_Area"],
    PARAMETER["latitude_of_center",0],
    PARAMETER["longitude_of_center",25],
    PARAMETER["standard_parallel_1",20],
    PARAMETER["standard_parallel_2",-23],
    PARAMETER["false_easting",0],
    PARAMETER["false_northing",0],
    UNIT["metre",1,
        AUTHORITY["EPSG","9001"]],
    AXIS["Easting",EAST],
    AXIS["Northing",NORTH]]

 <osgeo.ogr.DataSource; proxy of <Swig Object of type 'OGRDataSourceShadow *' at 0x0000018CAAEBFED0> >
 <osgeo.ogr.Layer; proxy of <Swig Object of type 'OGRLayerShadow *' at 0x0000018CAAEBED60> >
 0
Vectorizing. Input: Q:\GIS\povertyequity\urban_growth\BurkinaFaso\Settlement\GRID3_ADM.tif. Wed Jan 25 19:30:51 2023
Completed polygons. Stored as: Q:\GIS\povertyequity\urban_growth\BurkinaFaso\Settlement\GRID3_ADM.shp. Wed Jan 25 23:18:31 2023
PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]

 PROJCS["Africa_Albers_Equal_Area_Conic",
    GEOGCS["WGS 84",
        DATUM["WGS_1984",
            SPHEROID["WGS 84",6378137,298.257223563,
                AUTHORITY["EPSG","7030"]],
            AUTHORITY["EPSG","6326"]],
        PRIMEM["Greenwich",0],
        UNIT["degree",0.0174532925199433,
            AUTHORITY["EPSG","9122"]],
        AUTHORITY["EPSG","4326"]],
    PROJECTION["Albers_Conic_Equal_Area"],
    PARAMETER["latitude_of_center",0],
    PARAMETER["longitude_of_center",25],
    PARAMETER["standard_parallel_1",20],
    PARAMETER["standard_parallel_2",-23],
    PARAMETER["false_easting",0],
    PARAMETER["false_northing",0],
    UNIT["metre",1,
        AUTHORITY["EPSG","9001"]],
    AXIS["Easting",EAST],
    AXIS["Northing",NORTH]]

 <osgeo.ogr.DataSource; proxy of <Swig Object of type 'OGRDataSourceShadow *' at 0x0000018CAAEBFE10> >
 <osgeo.ogr.Layer; proxy of <Swig Object of type 'OGRLayerShadow *' at 0x0000018CAAEBFED0> >
 0
Vectorizing. Input: Q:\GIS\povertyequity\urban_growth\BurkinaFaso\Buildup\WSFE_ADM.tif. Wed Jan 25 23:18:32 2023
Completed polygons. Stored as: Q:\GIS\povertyequity\urban_growth\BurkinaFaso\Buildup\WSFE_ADM.shp. Wed Jan 25 23:21:10 2023

### 3.4 Vector math to split raster strings into admin area, GRID3, and WSFE year assignments.

In [17]:
# Load newly created vectorized datasets.
GRID3_ADM = gpd.read_file(r"Settlement/GRID3_ADM.shp")
WSFE_ADM = gpd.read_file(r"Buildup/WSFE_ADM.shp")
print(GRID3_ADM.info(), "\n\n", GRID3_ADM.sample(10), "\n\n", GRID3_ADM.crs, "\n\n", 
      WSFE_ADM.info(), "\n\n", WSFE_ADM.sample(10), "\n\n", WSFE_ADM.crs, "\n\n", 
      GRID3_ADM['gridcode'].max(), WSFE_ADM['gridcode'].max())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 651922 entries, 0 to 651921
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gridcode  651922 non-null  int64
 1   geometry  651922 non-null  geometry
dtypes: geometry(1), int64(1)
memory usage: 9.9 MB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 922083 entries, 0 to 922082
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gridcode  922083 non-null  int64
 1   geometry  922083 non-null  geometry
dtypes: geometry(1), int64(1)
memory usage: 14.1 MB
None

           gridcode                                           geometry
496831   279505220  POLYGON ((-2616149.075 1326384.485, -2616061.6...
204663  2147483647  POLYGON ((-3010491.859 1478617.650, -3010433.5...
437005   198318009  POLYGON ((-2800537.196 1362096.018, -2800449.7...
544353   248887327  POLYGON ((-2679438.658 1300905.399, -2679380.3...
608980    35049181  POLYGON ((-3159926.406 1230998.251, -3159838.9...
503250   106471116  POLYGON ((-2987140.889 1322565.537, -2987053.4...
488251   114288042  POLYGON ((-2963906.528 1331398.676, -2963819.0...
283676   234606255  POLYGON ((-2745177.031 1434539.414, -2745118.7...
624335    11974302  POLYGON ((-3080923.749 1206073.058, -3080836.2...
379346   146263258  POLYGON ((-2947668.713 1389674.067, -2947610.4...

 PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

 None

         gridcode                                           geometry
906595   2007209  POLYGON ((-3116635.282 1192313.186, -3116606.1...
568577   1985292  POLYGON ((-2411616.734 1384776.486, -2411558.4...
245714   2004325  POLYGON ((-2933209.186 1453284.325, -2933180.0...
118266   1997115  POLYGON ((-2775612.003 1529225.994, -2775582.8...
864009   2000274  POLYGON ((-3045620.347 1242076.114, -3045591.1...
75499    1994150  POLYGON ((-2784270.228 1556774.891, -2784241.0...
232733   2002336  POLYGON ((-2743515.352 1461651.027, -2743486.1...
663828   2001165  POLYGON ((-3106723.509 1346587.009, -3106694.3...
900115   1994096  POLYGON ((-2936386.784 1199630.406, -2936357.6...
219066   1999070  POLYGON ((-2879977.137 1467977.070, -2879947.9...

 PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

 2147483647 2147483647

In [18]:
# Split serial back into separate dataset fields.
# For example, Burkina: WSFE and ADM: 4+3=7 digits. GRID3 and ADM: 6+3=9 digits.

G3_Fill = len_G3 + len_ADM
WSFE_Fill = 4 + len_ADM

GRID3_ADM['gridstring'] = GRID3_ADM['gridcode'].astype(str).str.zfill(G3_Fill)
WSFE_ADM['gridstring'] = WSFE_ADM['gridcode'].astype(str).str.zfill(WSFE_Fill)

GRID3_ADM['Sett_ID'] = GRID3_ADM['gridstring'].str[:-len_ADM].astype(int) # Remove the last 3 digits to get the GRID3 portion.
GRID3_ADM['ADM_ID'] = GRID3_ADM['gridstring'].str[-len_ADM:].astype(int) # Keep only the last 3 digits to get the ADM portion.
WSFE_ADM['year'] = WSFE_ADM['gridstring'].str[:-len_ADM].astype(int)
WSFE_ADM['ADM_ID'] = WSFE_ADM['gridstring'].str[-len_ADM:].astype(int)

print(GRID3_ADM.sample(10), WSFE_ADM.sample(10))

         gridcode                                           geometry  \
358880  300874343  POLYGON ((-2663434.060 1398565.510, -2663346.6...
300619  125123293  POLYGON ((-3062820.188 1425443.905, -3062761.8...
298126  151834064  POLYGON ((-2967200.735 1426784.910, -2967113.2...
215761  538380031  POLYGON ((-2593118.780 1471796.018, -2593031.3...
347848  301186343  POLYGON ((-2653872.115 1403550.549, -2653842.9...
8714    500320166  POLYGON ((-2727918.886 1699475.263, -2727831.4...
417300  291808144  POLYGON ((-2581166.349 1372503.379, -2581137.1...
506974  106117116  POLYGON ((-2974663.717 1320524.878, -2974576.2...
144825  544916038  POLYGON ((-2630113.013 1524066.042, -2630083.8...
90412   578743270  POLYGON ((-2560847.215 1576831.654, -2560730.6...

       gridstring  Sett_ID  ADM_ID
358880  300874343   300874     343
300619  125123293   125123     293
298126  151834064   151834      64
215761  538380031   538380      31
347848  301186343   301186     343
8714    500320166   500320     166
417300  291808144   291808     144
506974  106117116   106117     116
144825  544916038   544916      38
90412   578743270   578743     270           gridcode                                           geometry  \
52246    2000219  POLYGON ((-2859045.806 1575286.584, -2859016.6...
791574   1994037  POLYGON ((-3049818.274 1294462.747, -3049759.9...
685491   2003307  POLYGON ((-2839513.784 1336442.019, -2839484.6...
423773   1985218  POLYGON ((-2772084.578 1427542.869, -2772055.4...
22009    2013161  POLYGON ((-2869919.603 1611989.294, -2869890.4...
657969   2010028  POLYGON ((-2990872.380 1349560.541, -2990843.2...
154443   2014038  POLYGON ((-2622591.727 1510043.799, -2622562.5...
698160   2005116  POLYGON ((-2973905.758 1331223.762, -2973876.6...
70427    2013225  POLYGON ((-2850270.972 1560214.859, -2850241.8...
436726   2004249  POLYGON ((-2652210.436 1425473.058, -2652181.2...

       gridstring  year  ADM_ID
52246     2000219  2000     219
791574    1994037  1994      37
685491    2003307  2003     307
423773    1985218  1985     218
22009     2013161  2013     161
657969    2010028  2010      28
154443    2014038  2014      38
698160    2005116  2005     116
70427     2013225  2013     225
436726    2004249  2004     249

In [19]:
# Dissolve any features that have the same G3 and ADM values so that we have a single unique feature per settlement.
# Note: we do NOT want to dissolve the WSFE features. Distinct features for noncontiguous builtup areas of the same year is necessary to separate them in the Near tool step.
print(time.ctime())
GRID3_ADM = GRID3_ADM.dissolve(by=['Sett_ID', 'ADM_ID'], as_index=False)
print(GRID3_ADM.info(), GRID3_ADM.head(), "\n\n", time.ctime())

Thu Jan 26 09:47:24 2023
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 620198 entries, 0 to 620197
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sett_ID     620198 non-null  int64
 1   ADM_ID      620198 non-null  int64
 2   geometry    620198 non-null  geometry
 3   gridcode    620198 non-null  int64
 4   gridstring  620198 non-null  object
dtypes: geometry(1), int64(3), object(1)
memory usage: 23.7+ MB
None    Sett_ID  ADM_ID                                           geometry  \
0        1     188  POLYGON ((-3057776.844 1150654.589, -3057718.5...
1        2     188  POLYGON ((-3062499.513 1164531.070, -3062412.0...
2        3     209  POLYGON ((-3116256.302 1193537.581, -3115993.9...
3        4     284  POLYGON ((-3124885.375 1215635.003, -3124710.4...
4        5      14  POLYGON ((-3102204.907 1222602.396, -3102088.2...

   gridcode gridstring
0      1188  000001188
1      2188  000002188
2      3209  000003209
3      4284  000004284
4      5014  000005014

 Thu Jan 26 09:59:35 2023

In [20]:
# Remove features where year, settlement, or admin area = 0.
# This was supposed to be resolved earlier with the gdal_calc NoDataValue parameter.

print("Before: WSFE %s and GRID3 %s\n" % (WSFE_ADM.shape, GRID3_ADM.shape))
WSFE_ADM = WSFE_ADM.loc[(WSFE_ADM["year"] != 0) & (WSFE_ADM["ADM_ID"] != 0)] # Since we change the datatype to integer, no need to include all digits. Otherwise, it would need to be: != '0000'
GRID3_ADM = GRID3_ADM.loc[(GRID3_ADM["Sett_ID"] != 0) & (GRID3_ADM["ADM_ID"] != 0)]
print("After: WSFE %s and GRID3 %s\n" % (WSFE_ADM.shape, GRID3_ADM.shape))

Before: WSFE (922083, 5) and GRID3 (620198, 5)

After: WSFE (922083, 5) and GRID3 (620198, 5)

In [21]:
# The Bounded_ID is our new unique settlement identifier for subsequent matching steps.
GRID3_ADM['Bounded_ID'] = GRID3_ADM.index
WSFE_ADM['WSFE_ID'] = WSFE_ADM.index
GRID3_ADM = GRID3_ADM[['Sett_ID', 'Bounded_ID', 'ADM_ID', 'geometry']]
WSFE_ADM = WSFE_ADM[['WSFE_ID', 'year', 'ADM_ID', 'geometry']]

In [22]:
# Validation: 
# The first two printed numbers should be the same. There shouldn't be any GRID3 rows with matching Sett_ID and ADM_IDs.
# The latter two numbers should be different, and the first should be larger. We never dissolved WSFE by any column.

print(len(GRID3_ADM[['Sett_ID', 'ADM_ID']]),
      len(GRID3_ADM[['Sett_ID', 'ADM_ID']].drop_duplicates()),
      len(WSFE_ADM[['year', 'ADM_ID']]),
      len(WSFE_ADM[['year', 'ADM_ID']].drop_duplicates()))

620198 620198 922083 10026

In [23]:
GRID3_ADM.to_file(
    driver='GPKG', filename='Settlement/GRID3_ADM.gpkg', layer='GRID3_ADM_cleaned')
WSFE_ADM.to_file(
    driver='GPKG', filename=r'Buildup/WSFE_ADM.gpkg', layer='WSFE_ADM_cleaned')

---

## 4. UNIQUE SETTLEMENTS FROM WSFE AND GRID3: TWO VERSIONS

Note that there are 2 versions here, so that we can create a fragmentation index:
1. **Boundless, aka boundary-agnostic settlements**: Unique settlements are linked to GRID3 settlement IDs. Administrative areas do not influence the extents of the settlement.
2. **Bounded, aka politically-defined settlements**: Settlements in the Boundless dataset which spread across more than one administrative area are split into separate settlements in the Bounded dataset. The largest polygon after the split is considered the "principal" settlement, and polygons in other admin areas are considered "fragments." By dividing the fragment area(s) of the Bounded settlement by the area of the Boundless settlement, we can acquire a fragmentation index for each locality.

### 4.1 BOUNDED SETTLEMENTS: Near Join by ADM group.

In [24]:
print("Number of admin areas with GRID3 features: %s" % len(GRID3_ADM['ADM_ID'].unique().tolist()))
print("Number of admin areas with WSFE features: %s" % len(WSFE_ADM['ADM_ID'].unique().tolist()))
print("Number of admin areas where one dataset is observed but the other is not: %s" % (
    len(GRID3_ADM['ADM_ID'].unique().tolist()) - len(WSFE_ADM['ADM_ID'].unique().tolist())))

Number of admin areas with GRID3 features: 352
Number of admin areas with WSFE features: 352
Number of admin areas where one dataset is observed but the other is not: 0

In [25]:
ADM_IDs = sorted(GRID3_ADM['ADM_ID'].unique().tolist())
ADM_IDs

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 647]

In [26]:
# We're creating this field to help in removing duplicates from the sjoin_nearest, next section.
GRID3_ADM['G3_Area'] = GRID3_ADM['geometry'].area / 10**6

In [27]:
# Create empty geodataframe to append onto using the dataframe whose geometry we want to retain.
Bounded = GRID3_ADM[0:0]
Bounded["year"] = pd.Series(dtype='int')
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sett_ID     0 non-null      int64
 1   Bounded_ID  0 non-null      int64
 2   ADM_ID      0 non-null      int64
 3   geometry    0 non-null      geometry
 4   G3_Area     0 non-null      float64
 5   year        0 non-null      int32
dtypes: float64(1), geometry(1), int32(1), int64(3)
memory usage: 0.0 bytes

In [28]:
for ID in ADM_IDs:
    WSFE_shard = WSFE_ADM.loc[WSFE_ADM['ADM_ID'] == ID]
    GRID3_shard = GRID3_ADM.loc[GRID3_ADM['ADM_ID'] == ID]
    WSFE_GRID3_shard = gpd.sjoin_nearest(WSFE_shard, 
                                         GRID3_shard, 
                                         how='inner',
                                         max_distance=500)
    Bounded = pd.concat([Bounded, WSFE_GRID3_shard])
    print('Completed near join in admin area %s. %s \n' % (ID, time.ctime()))
print('Completed near join for all ADMs. %s \n' % time.ctime())

del WSFE_shard, GRID3_shard, WSFE_GRID3_shard

Completed near join in admin area 1. Thu Jan 26 10:05:30 2023

Completed near join in admin area 2. Thu Jan 26 10:05:30 2023

Completed near join in admin area 3. Thu Jan 26 10:05:30 2023

Completed near join in admin area 4. Thu Jan 26 10:05:31 2023

Completed near join in admin area 5. Thu Jan 26 10:05:31 2023

Completed near join in admin area 6. Thu Jan 26 10:05:31 2023

Completed near join in admin area 7. Thu Jan 26 10:05:31 2023

Completed near join in admin area 8. Thu Jan 26 10:05:31 2023

Completed near join in admin area 9. Thu Jan 26 10:05:31 2023

Completed near join in admin area 10. Thu Jan 26 10:05:31 2023

Completed near join in admin area 11. Thu Jan 26 10:05:31 2023

Completed near join in admin area 12. Thu Jan 26 10:05:31 2023

Completed near join in admin area 13. Thu Jan 26 10:05:32 2023

Completed near join in admin area 14. Thu Jan 26 10:05:32 2023

Completed near join in admin area 15. Thu Jan 26 10:05:32 2023

Completed near join in admin area 16. Thu Jan 26 10:05:32 2023

Completed near join in admin area 17. Thu Jan 26 10:05:32 2023

Completed near join in admin area 18. Thu Jan 26 10:05:33 2023

Completed near join in admin area 19. Thu Jan 26 10:05:33 2023

Completed near join in admin area 20. Thu Jan 26 10:05:33 2023

Completed near join in admin area 21. Thu Jan 26 10:05:33 2023

Completed near join in admin area 22. Thu Jan 26 10:05:33 2023

Completed near join in admin area 23. Thu Jan 26 10:05:33 2023

Completed near join in admin area 24. Thu Jan 26 10:05:33 2023

Completed near join in admin area 25. Thu Jan 26 10:05:33 2023

Completed near join in admin area 26. Thu Jan 26 10:05:33 2023

Completed near join in admin area 27. Thu Jan 26 10:05:33 2023

Completed near join in admin area 28. Thu Jan 26 10:05:34 2023

Completed near join in admin area 29. Thu Jan 26 10:05:34 2023

Completed near join in admin area 30. Thu Jan 26 10:05:34 2023

Completed near join in admin area 31. Thu Jan 26 10:05:34 2023

Completed near join in admin area 32. Thu Jan 26 10:05:34 2023

Completed near join in admin area 33. Thu Jan 26 10:05:34 2023

Completed near join in admin area 34. Thu Jan 26 10:05:34 2023

Completed near join in admin area 35. Thu Jan 26 10:05:34 2023

Completed near join in admin area 36. Thu Jan 26 10:05:34 2023

Completed near join in admin area 37. Thu Jan 26 10:05:38 2023

Completed near join in admin area 38. Thu Jan 26 10:05:38 2023

Completed near join in admin area 39. Thu Jan 26 10:05:38 2023

Completed near join in admin area 40. Thu Jan 26 10:05:38 2023

Completed near join in admin area 41. Thu Jan 26 10:05:38 2023

Completed near join in admin area 42. Thu Jan 26 10:05:38 2023

Completed near join in admin area 43. Thu Jan 26 10:05:39 2023

Completed near join in admin area 44. Thu Jan 26 10:05:39 2023

Completed near join in admin area 45. Thu Jan 26 10:05:39 2023

Completed near join in admin area 46. Thu Jan 26 10:05:39 2023

Completed near join in admin area 47. Thu Jan 26 10:05:39 2023

Completed near join in admin area 48. Thu Jan 26 10:05:39 2023

Completed near join in admin area 49. Thu Jan 26 10:05:39 2023

Completed near join in admin area 50. Thu Jan 26 10:05:39 2023

Completed near join in admin area 51. Thu Jan 26 10:05:39 2023

Completed near join in admin area 52. Thu Jan 26 10:05:39 2023

Completed near join in admin area 53. Thu Jan 26 10:05:40 2023

Completed near join in admin area 54. Thu Jan 26 10:05:40 2023

Completed near join in admin area 55. Thu Jan 26 10:05:40 2023

Completed near join in admin area 56. Thu Jan 26 10:05:40 2023

Completed near join in admin area 57. Thu Jan 26 10:05:40 2023

Completed near join in admin area 58. Thu Jan 26 10:05:40 2023

Completed near join in admin area 59. Thu Jan 26 10:05:40 2023

Completed near join in admin area 60. Thu Jan 26 10:05:40 2023

Completed near join in admin area 61. Thu Jan 26 10:05:40 2023

Completed near join in admin area 62. Thu Jan 26 10:05:40 2023

Completed near join in admin area 63. Thu Jan 26 10:05:40 2023

Completed near join in admin area 64. Thu Jan 26 10:05:41 2023

Completed near join in admin area 65. Thu Jan 26 10:05:41 2023

Completed near join in admin area 66. Thu Jan 26 10:05:41 2023

Completed near join in admin area 67. Thu Jan 26 10:05:41 2023

Completed near join in admin area 68. Thu Jan 26 10:05:42 2023

Completed near join in admin area 69. Thu Jan 26 10:05:42 2023

Completed near join in admin area 70. Thu Jan 26 10:05:42 2023

Completed near join in admin area 71. Thu Jan 26 10:05:42 2023

Completed near join in admin area 72. Thu Jan 26 10:05:42 2023

Completed near join in admin area 73. Thu Jan 26 10:05:42 2023

Completed near join in admin area 74. Thu Jan 26 10:05:42 2023

Completed near join in admin area 75. Thu Jan 26 10:05:43 2023

Completed near join in admin area 76. Thu Jan 26 10:05:43 2023

Completed near join in admin area 77. Thu Jan 26 10:05:43 2023

Completed near join in admin area 78. Thu Jan 26 10:05:43 2023

Completed near join in admin area 79. Thu Jan 26 10:05:43 2023

Completed near join in admin area 80. Thu Jan 26 10:05:43 2023

Completed near join in admin area 81. Thu Jan 26 10:05:43 2023

Completed near join in admin area 82. Thu Jan 26 10:05:43 2023

Completed near join in admin area 83. Thu Jan 26 10:05:44 2023

Completed near join in admin area 84. Thu Jan 26 10:05:44 2023

Completed near join in admin area 85. Thu Jan 26 10:05:44 2023

Completed near join in admin area 86. Thu Jan 26 10:05:44 2023

Completed near join in admin area 87. Thu Jan 26 10:05:45 2023

Completed near join in admin area 88. Thu Jan 26 10:05:45 2023

Completed near join in admin area 89. Thu Jan 26 10:05:45 2023

Completed near join in admin area 90. Thu Jan 26 10:05:45 2023

Completed near join in admin area 91. Thu Jan 26 10:05:45 2023

Completed near join in admin area 92. Thu Jan 26 10:05:45 2023

Completed near join in admin area 93. Thu Jan 26 10:05:46 2023

Completed near join in admin area 94. Thu Jan 26 10:05:46 2023

Completed near join in admin area 95. Thu Jan 26 10:05:46 2023

Completed near join in admin area 96. Thu Jan 26 10:05:46 2023

Completed near join in admin area 97. Thu Jan 26 10:05:47 2023

Completed near join in admin area 98. Thu Jan 26 10:05:47 2023

Completed near join in admin area 99. Thu Jan 26 10:05:47 2023

Completed near join in admin area 100. Thu Jan 26 10:05:47 2023

Completed near join in admin area 101. Thu Jan 26 10:05:47 2023

Completed near join in admin area 102. Thu Jan 26 10:05:47 2023

Completed near join in admin area 103. Thu Jan 26 10:05:47 2023

Completed near join in admin area 104. Thu Jan 26 10:05:47 2023

Completed near join in admin area 105. Thu Jan 26 10:05:48 2023

Completed near join in admin area 106. Thu Jan 26 10:05:48 2023

Completed near join in admin area 107. Thu Jan 26 10:05:48 2023

Completed near join in admin area 108. Thu Jan 26 10:05:48 2023

Completed near join in admin area 109. Thu Jan 26 10:05:48 2023

Completed near join in admin area 110. Thu Jan 26 10:05:48 2023

Completed near join in admin area 111. Thu Jan 26 10:05:49 2023

Completed near join in admin area 112. Thu Jan 26 10:05:49 2023

Completed near join in admin area 113. Thu Jan 26 10:05:49 2023

Completed near join in admin area 114. Thu Jan 26 10:05:49 2023

Completed near join in admin area 115. Thu Jan 26 10:05:49 2023

Completed near join in admin area 116. Thu Jan 26 10:05:49 2023

Completed near join in admin area 117. Thu Jan 26 10:05:50 2023

Completed near join in admin area 118. Thu Jan 26 10:05:50 2023

Completed near join in admin area 119. Thu Jan 26 10:05:50 2023

Completed near join in admin area 120. Thu Jan 26 10:05:50 2023

Completed near join in admin area 121. Thu Jan 26 10:05:50 2023

Completed near join in admin area 122. Thu Jan 26 10:05:50 2023

Completed near join in admin area 123. Thu Jan 26 10:05:50 2023

Completed near join in admin area 124. Thu Jan 26 10:05:50 2023

Completed near join in admin area 125. Thu Jan 26 10:05:50 2023

Completed near join in admin area 126. Thu Jan 26 10:05:50 2023

Completed near join in admin area 127. Thu Jan 26 10:05:51 2023

Completed near join in admin area 128. Thu Jan 26 10:05:51 2023

Completed near join in admin area 129. Thu Jan 26 10:05:51 2023

Completed near join in admin area 130. Thu Jan 26 10:05:51 2023

Completed near join in admin area 131. Thu Jan 26 10:05:52 2023

Completed near join in admin area 132. Thu Jan 26 10:05:52 2023

Completed near join in admin area 133. Thu Jan 26 10:05:52 2023

Completed near join in admin area 134. Thu Jan 26 10:05:52 2023

Completed near join in admin area 135. Thu Jan 26 10:05:52 2023

Completed near join in admin area 136. Thu Jan 26 10:05:52 2023

Completed near join in admin area 137. Thu Jan 26 10:05:52 2023

Completed near join in admin area 138. Thu Jan 26 10:05:52 2023

Completed near join in admin area 139. Thu Jan 26 10:05:52 2023

Completed near join in admin area 140. Thu Jan 26 10:05:52 2023

Completed near join in admin area 141. Thu Jan 26 10:05:53 2023

Completed near join in admin area 142. Thu Jan 26 10:05:53 2023

Completed near join in admin area 143. Thu Jan 26 10:05:53 2023

Completed near join in admin area 144. Thu Jan 26 10:05:53 2023

Completed near join in admin area 145. Thu Jan 26 10:05:53 2023

Completed near join in admin area 146. Thu Jan 26 10:05:53 2023

Completed near join in admin area 147. Thu Jan 26 10:05:54 2023

Completed near join in admin area 148. Thu Jan 26 10:05:54 2023

Completed near join in admin area 149. Thu Jan 26 10:05:54 2023

Completed near join in admin area 150. Thu Jan 26 10:05:54 2023

Completed near join in admin area 151. Thu Jan 26 10:05:54 2023

Completed near join in admin area 152. Thu Jan 26 10:05:54 2023

Completed near join in admin area 153. Thu Jan 26 10:05:55 2023

Completed near join in admin area 154. Thu Jan 26 10:05:55 2023

Completed near join in admin area 155. Thu Jan 26 10:05:55 2023

Completed near join in admin area 156. Thu Jan 26 10:05:55 2023

Completed near join in admin area 157. Thu Jan 26 10:05:57 2023

Completed near join in admin area 158. Thu Jan 26 10:05:57 2023

Completed near join in admin area 159. Thu Jan 26 10:05:57 2023

Completed near join in admin area 160. Thu Jan 26 10:05:57 2023

Completed near join in admin area 161. Thu Jan 26 10:05:57 2023

Completed near join in admin area 162. Thu Jan 26 10:05:58 2023

Completed near join in admin area 163. Thu Jan 26 10:05:58 2023

Completed near join in admin area 164. Thu Jan 26 10:05:58 2023

Completed near join in admin area 165. Thu Jan 26 10:05:59 2023

Completed near join in admin area 166. Thu Jan 26 10:05:59 2023

Completed near join in admin area 167. Thu Jan 26 10:05:59 2023

Completed near join in admin area 168. Thu Jan 26 10:05:59 2023

Completed near join in admin area 169. Thu Jan 26 10:05:59 2023

Completed near join in admin area 170. Thu Jan 26 10:05:59 2023

Completed near join in admin area 171. Thu Jan 26 10:05:59 2023

Completed near join in admin area 172. Thu Jan 26 10:05:59 2023

Completed near join in admin area 173. Thu Jan 26 10:05:59 2023

Completed near join in admin area 174. Thu Jan 26 10:06:00 2023

Completed near join in admin area 175. Thu Jan 26 10:06:00 2023

Completed near join in admin area 176. Thu Jan 26 10:06:00 2023

Completed near join in admin area 177. Thu Jan 26 10:06:00 2023

Completed near join in admin area 178. Thu Jan 26 10:06:00 2023

Completed near join in admin area 179. Thu Jan 26 10:06:00 2023

Completed near join in admin area 180. Thu Jan 26 10:06:01 2023

Completed near join in admin area 181. Thu Jan 26 10:06:01 2023

Completed near join in admin area 182. Thu Jan 26 10:06:01 2023

Completed near join in admin area 183. Thu Jan 26 10:06:01 2023

Completed near join in admin area 184. Thu Jan 26 10:06:01 2023

Completed near join in admin area 185. Thu Jan 26 10:06:01 2023

Completed near join in admin area 186. Thu Jan 26 10:06:01 2023

Completed near join in admin area 187. Thu Jan 26 10:06:02 2023

Completed near join in admin area 188. Thu Jan 26 10:06:02 2023

Completed near join in admin area 189. Thu Jan 26 10:06:02 2023

Completed near join in admin area 190. Thu Jan 26 10:06:02 2023

Completed near join in admin area 191. Thu Jan 26 10:06:02 2023

Completed near join in admin area 192. Thu Jan 26 10:06:02 2023

Completed near join in admin area 193. Thu Jan 26 10:06:02 2023

Completed near join in admin area 194. Thu Jan 26 10:06:02 2023

Completed near join in admin area 195. Thu Jan 26 10:06:02 2023

Completed near join in admin area 196. Thu Jan 26 10:06:03 2023

Completed near join in admin area 197. Thu Jan 26 10:06:03 2023

Completed near join in admin area 198. Thu Jan 26 10:06:03 2023

Completed near join in admin area 199. Thu Jan 26 10:06:03 2023

Completed near join in admin area 200. Thu Jan 26 10:06:03 2023

Completed near join in admin area 201. Thu Jan 26 10:06:03 2023

Completed near join in admin area 202. Thu Jan 26 10:06:03 2023

Completed near join in admin area 203. Thu Jan 26 10:06:03 2023

Completed near join in admin area 204. Thu Jan 26 10:06:03 2023

Completed near join in admin area 205. Thu Jan 26 10:06:03 2023

Completed near join in admin area 206. Thu Jan 26 10:06:04 2023

Completed near join in admin area 207. Thu Jan 26 10:06:04 2023

Completed near join in admin area 208. Thu Jan 26 10:06:04 2023

Completed near join in admin area 209. Thu Jan 26 10:06:04 2023

Completed near join in admin area 210. Thu Jan 26 10:06:04 2023

Completed near join in admin area 211. Thu Jan 26 10:06:04 2023

Completed near join in admin area 212. Thu Jan 26 10:06:05 2023

Completed near join in admin area 213. Thu Jan 26 10:06:05 2023

Completed near join in admin area 214. Thu Jan 26 10:06:05 2023

Completed near join in admin area 215. Thu Jan 26 10:06:05 2023

Completed near join in admin area 216. Thu Jan 26 10:06:05 2023

Completed near join in admin area 217. Thu Jan 26 10:06:05 2023

Completed near join in admin area 218. Thu Jan 26 10:06:19 2023

Completed near join in admin area 219. Thu Jan 26 10:06:20 2023

Completed near join in admin area 220. Thu Jan 26 10:06:20 2023

Completed near join in admin area 221. Thu Jan 26 10:06:20 2023

Completed near join in admin area 222. Thu Jan 26 10:06:20 2023

Completed near join in admin area 223. Thu Jan 26 10:06:20 2023

Completed near join in admin area 224. Thu Jan 26 10:06:20 2023

Completed near join in admin area 225. Thu Jan 26 10:06:21 2023

Completed near join in admin area 226. Thu Jan 26 10:06:21 2023

Completed near join in admin area 227. Thu Jan 26 10:06:21 2023

Completed near join in admin area 228. Thu Jan 26 10:06:21 2023

Completed near join in admin area 229. Thu Jan 26 10:06:21 2023

Completed near join in admin area 230. Thu Jan 26 10:06:21 2023

Completed near join in admin area 231. Thu Jan 26 10:06:21 2023

Completed near join in admin area 232. Thu Jan 26 10:06:22 2023

Completed near join in admin area 233. Thu Jan 26 10:06:22 2023

Completed near join in admin area 234. Thu Jan 26 10:06:22 2023

Completed near join in admin area 235. Thu Jan 26 10:06:22 2023

Completed near join in admin area 236. Thu Jan 26 10:06:22 2023

Completed near join in admin area 237. Thu Jan 26 10:06:22 2023

Completed near join in admin area 238. Thu Jan 26 10:06:23 2023

Completed near join in admin area 239. Thu Jan 26 10:06:23 2023

Completed near join in admin area 240. Thu Jan 26 10:06:23 2023

Completed near join in admin area 241. Thu Jan 26 10:06:23 2023

Completed near join in admin area 242. Thu Jan 26 10:06:23 2023

Completed near join in admin area 243. Thu Jan 26 10:06:23 2023

Completed near join in admin area 244. Thu Jan 26 10:06:24 2023

Completed near join in admin area 245. Thu Jan 26 10:06:24 2023

Completed near join in admin area 246. Thu Jan 26 10:06:24 2023

Completed near join in admin area 247. Thu Jan 26 10:06:24 2023

Completed near join in admin area 248. Thu Jan 26 10:06:24 2023

Completed near join in admin area 249. Thu Jan 26 10:06:24 2023

Completed near join in admin area 250. Thu Jan 26 10:06:25 2023

Completed near join in admin area 251. Thu Jan 26 10:06:25 2023

Completed near join in admin area 252. Thu Jan 26 10:06:25 2023

Completed near join in admin area 253. Thu Jan 26 10:06:25 2023

Completed near join in admin area 254. Thu Jan 26 10:06:26 2023

Completed near join in admin area 255. Thu Jan 26 10:06:27 2023

Completed near join in admin area 256. Thu Jan 26 10:06:27 2023

Completed near join in admin area 257. Thu Jan 26 10:06:27 2023

Completed near join in admin area 258. Thu Jan 26 10:06:27 2023

Completed near join in admin area 259. Thu Jan 26 10:06:27 2023

Completed near join in admin area 260. Thu Jan 26 10:06:27 2023

Completed near join in admin area 261. Thu Jan 26 10:06:28 2023

Completed near join in admin area 262. Thu Jan 26 10:06:28 2023

Completed near join in admin area 263. Thu Jan 26 10:06:28 2023

Completed near join in admin area 264. Thu Jan 26 10:06:28 2023

Completed near join in admin area 265. Thu Jan 26 10:06:28 2023

Completed near join in admin area 266. Thu Jan 26 10:06:28 2023

Completed near join in admin area 267. Thu Jan 26 10:06:28 2023

Completed near join in admin area 268. Thu Jan 26 10:06:29 2023

Completed near join in admin area 269. Thu Jan 26 10:06:29 2023

Completed near join in admin area 270. Thu Jan 26 10:06:29 2023

Completed near join in admin area 271. Thu Jan 26 10:06:29 2023

Completed near join in admin area 272. Thu Jan 26 10:06:29 2023

Completed near join in admin area 273. Thu Jan 26 10:06:30 2023

Completed near join in admin area 274. Thu Jan 26 10:06:30 2023

Completed near join in admin area 275. Thu Jan 26 10:06:30 2023

Completed near join in admin area 276. Thu Jan 26 10:06:30 2023

Completed near join in admin area 277. Thu Jan 26 10:06:30 2023

Completed near join in admin area 278. Thu Jan 26 10:06:30 2023

Completed near join in admin area 279. Thu Jan 26 10:06:30 2023

Completed near join in admin area 280. Thu Jan 26 10:06:31 2023

Completed near join in admin area 281. Thu Jan 26 10:06:31 2023

Completed near join in admin area 282. Thu Jan 26 10:06:31 2023

Completed near join in admin area 283. Thu Jan 26 10:06:31 2023

Completed near join in admin area 284. Thu Jan 26 10:06:32 2023

Completed near join in admin area 285. Thu Jan 26 10:06:32 2023

Completed near join in admin area 286. Thu Jan 26 10:06:32 2023

Completed near join in admin area 287. Thu Jan 26 10:06:32 2023

Completed near join in admin area 288. Thu Jan 26 10:06:32 2023

Completed near join in admin area 289. Thu Jan 26 10:06:32 2023

Completed near join in admin area 290. Thu Jan 26 10:06:32 2023

Completed near join in admin area 291. Thu Jan 26 10:06:33 2023

Completed near join in admin area 292. Thu Jan 26 10:06:33 2023

Completed near join in admin area 293. Thu Jan 26 10:06:33 2023

Completed near join in admin area 294. Thu Jan 26 10:06:33 2023

Completed near join in admin area 295. Thu Jan 26 10:06:33 2023

Completed near join in admin area 296. Thu Jan 26 10:06:34 2023

Completed near join in admin area 297. Thu Jan 26 10:06:34 2023

Completed near join in admin area 298. Thu Jan 26 10:06:34 2023

Completed near join in admin area 299. Thu Jan 26 10:06:34 2023

Completed near join in admin area 300. Thu Jan 26 10:06:34 2023

Completed near join in admin area 301. Thu Jan 26 10:06:35 2023

Completed near join in admin area 302. Thu Jan 26 10:06:35 2023

Completed near join in admin area 303. Thu Jan 26 10:06:35 2023

Completed near join in admin area 304. Thu Jan 26 10:06:35 2023

Completed near join in admin area 305. Thu Jan 26 10:06:35 2023

Completed near join in admin area 306. Thu Jan 26 10:06:36 2023

Completed near join in admin area 307. Thu Jan 26 10:06:36 2023

Completed near join in admin area 308. Thu Jan 26 10:06:36 2023

Completed near join in admin area 309. Thu Jan 26 10:06:36 2023

Completed near join in admin area 310. Thu Jan 26 10:06:36 2023

Completed near join in admin area 311. Thu Jan 26 10:06:36 2023

Completed near join in admin area 312. Thu Jan 26 10:06:36 2023

Completed near join in admin area 313. Thu Jan 26 10:06:37 2023

Completed near join in admin area 314. Thu Jan 26 10:06:37 2023

Completed near join in admin area 315. Thu Jan 26 10:06:37 2023

Completed near join in admin area 316. Thu Jan 26 10:06:37 2023

Completed near join in admin area 317. Thu Jan 26 10:06:37 2023

Completed near join in admin area 318. Thu Jan 26 10:06:38 2023

Completed near join in admin area 319. Thu Jan 26 10:06:38 2023

Completed near join in admin area 320. Thu Jan 26 10:06:38 2023

Completed near join in admin area 321. Thu Jan 26 10:06:38 2023

Completed near join in admin area 322. Thu Jan 26 10:06:38 2023

Completed near join in admin area 323. Thu Jan 26 10:06:38 2023

Completed near join in admin area 324. Thu Jan 26 10:06:39 2023

Completed near join in admin area 325. Thu Jan 26 10:06:39 2023

Completed near join in admin area 326. Thu Jan 26 10:06:39 2023

Completed near join in admin area 327. Thu Jan 26 10:06:39 2023

Completed near join in admin area 328. Thu Jan 26 10:06:39 2023

Completed near join in admin area 329. Thu Jan 26 10:06:39 2023

Completed near join in admin area 330. Thu Jan 26 10:06:40 2023

Completed near join in admin area 331. Thu Jan 26 10:06:40 2023

Completed near join in admin area 332. Thu Jan 26 10:06:40 2023

Completed near join in admin area 333. Thu Jan 26 10:06:40 2023

Completed near join in admin area 334. Thu Jan 26 10:06:40 2023

Completed near join in admin area 335. Thu Jan 26 10:06:40 2023

Completed near join in admin area 336. Thu Jan 26 10:06:41 2023

Completed near join in admin area 337. Thu Jan 26 10:06:41 2023

Completed near join in admin area 338. Thu Jan 26 10:06:41 2023

Completed near join in admin area 339. Thu Jan 26 10:06:41 2023

Completed near join in admin area 340. Thu Jan 26 10:06:41 2023

Completed near join in admin area 341. Thu Jan 26 10:06:41 2023

Completed near join in admin area 342. Thu Jan 26 10:06:42 2023

Completed near join in admin area 343. Thu Jan 26 10:06:42 2023

Completed near join in admin area 344. Thu Jan 26 10:06:42 2023

Completed near join in admin area 345. Thu Jan 26 10:06:42 2023

Completed near join in admin area 346. Thu Jan 26 10:06:42 2023

Completed near join in admin area 347. Thu Jan 26 10:06:42 2023

Completed near join in admin area 348. Thu Jan 26 10:06:42 2023

Completed near join in admin area 349. Thu Jan 26 10:06:43 2023

Completed near join in admin area 350. Thu Jan 26 10:06:43 2023

Completed near join in admin area 351. Thu Jan 26 10:06:43 2023

Completed near join in admin area 647. Thu Jan 26 10:28:31 2023

Completed near join for all ADMs. Thu Jan 26 10:28:31 2023

In [29]:
Bounded.sample(20)

,Sett_ID,Bounded_ID,ADM_ID,geometry,G3_Area,year,WSFE_ID,ADM_ID_left,index_right,ADM_ID_right
838100,36811,37034,NaN,"POLYGON ((-3117713.916 1272802.609, -3117684.7...",7.998835,2008,838100.0,216.0,37034.0,216.0
239362,533209,538156,NaN,"POLYGON ((-2602301.746 1456724.293, -2602272.5...",0.100283,2010,239362.0,31.0,538156.0,31.0
549551,130003,130871,NaN,"POLYGON ((-2932713.597 1393347.254, -2932684.4...",1.051271,2009,549551.0,228.0,130871.0,228.0
70095,457760,462410,NaN,"POLYGON ((-2850096.058 1560448.077, -2850066.9...",0.292350,2000,70095.0,225.0,462410.0,225.0
354093,227047,229233,NaN,"POLYGON ((-2773746.258 1436113.637, -2773717.1...",378.496507,1991,354093.0,218.0,229233.0,218.0
186503,388701,392517,NaN,"POLYGON ((-2987286.651 1488966.706, -2987257.4...",1.047871,1985,186503.0,215.0,392517.0,215.0
580041,247671,250117,NaN,"POLYGON ((-2686406.051 1379674.838, -2686376.8...",0.222662,2007,580041.0,148.0,250117.0,148.0
580723,117196,118008,NaN,"POLYGON ((-3058884.631 1379383.315, -3058797.1...",7.990336,1985,580723.0,159.0,118008.0,159.0
708101,51186,51489,NaN,"POLYGON ((-3026175.782 1326530.246, -3026146.6...",1.626622,2000,708101.0,269.0,51489.0,269.0
609055,247085,249500,NaN,"POLYGON ((-2645942.697 1371220.679, -2645913.5...",29.359090,2009,609055.0,296.0,249500.0,296.0
617512,247078,249491,NaN,"POLYGON ((-2685618.939 1368684.432, -2685589.7...",5.888645,2000,617512.0,211.0,249491.0,211.0
572094,37255,37490,NaN,"POLYGON ((-3108006.209 1383289.720, -3107977.0...",0.407081,1995,572094.0,206.0,37490.0,206.0
582883,129962,130827,NaN,"POLYGON ((-2968366.826 1378596.204, -2968308.5...",1.045322,2005,582883.0,319.0,130827.0,319.0
800474,351201,354806,NaN,"POLYGON ((-2528517.345 1292392.936, -2528488.1...",4.834825,2008,800474.0,146.0,354806.0,146.0
583411,188703,190117,NaN,"POLYGON ((-2817766.189 1378392.138, -2817707.8...",0.112181,2015,583411.0,46.0,190117.0,46.0
697172,265723,268424,NaN,"POLYGON ((-2684598.610 1331573.589, -2684540.3...",0.823509,2005,697172.0,105.0,268424.0,105.0
438969,138001,138973,NaN,"POLYGON ((-2978570.121 1425152.383, -2978540.9...",0.142776,1985,438969.0,64.0,138973.0,64.0
422453,310052,313257,NaN,"POLYGON ((-2639587.502 1427776.087, -2639558.3...",0.169971,2009,422453.0,163.0,313257.0,163.0
109028,453764,458345,NaN,"POLYGON ((-2854439.747 1533802.901, -2854410.5...",13.404762,2015,109028.0,111.0,458345.0,111.0
471562,309964,313161,NaN,"POLYGON ((-2639558.349 1419759.212, -2639529.1...",1.491495,2013,471562.0,163.0,313161.0,163.0

In [30]:
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 921485 entries, 211201 to 922082
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Sett_ID       921485 non-null  int64
 1   Bounded_ID    921485 non-null  int64
 2   ADM_ID        0 non-null       float64
 3   geometry      921485 non-null  geometry
 4   G3_Area       921485 non-null  float64
 5   year          921485 non-null  int32
 6   WSFE_ID       921485 non-null  float64
 7   ADM_ID_left   921485 non-null  float64
 8   index_right   921485 non-null  float64
 9   ADM_ID_right  921485 non-null  float64
dtypes: float64(6), geometry(1), int32(1), int64(2)
memory usage: 73.8 MB

In [31]:
# Remove WSFE features that did not match any GRID3 settlements.
Bounded = Bounded.loc[~Bounded['Sett_ID'].isna()]
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 921485 entries, 211201 to 922082
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Sett_ID       921485 non-null  int64
 1   Bounded_ID    921485 non-null  int64
 2   ADM_ID        0 non-null       float64
 3   geometry      921485 non-null  geometry
 4   G3_Area       921485 non-null  float64
 5   year          921485 non-null  int32
 6   WSFE_ID       921485 non-null  float64
 7   ADM_ID_left   921485 non-null  float64
 8   index_right   921485 non-null  float64
 9   ADM_ID_right  921485 non-null  float64
dtypes: float64(6), geometry(1), int32(1), int64(2)
memory usage: 73.8 MB

In [32]:
del GRID3_ADM, ADM_IDs

### 4.2 Remove duplicates: where buildup polygons intersected with more than one GRID3 settlement extent.
This happens when the first dataset (WSFE) intersects (distance = 0) with more than one feature of the second dataset (GRID3). More common for large cities. For example, Yaoundé, CMN has a large contiguous 1985 WSFE polygon which overlaps several small GRID3 features that are not Yaoundé.

In [33]:
# The first number should always be zero. 
# The second tells us whether/how many WSFE polygons were duplicated by the Near join.

print(len(WSFE_ADM[WSFE_ADM.duplicated('WSFE_ID')]), len(Bounded[Bounded.duplicated('WSFE_ID')]))

0 1731

In [34]:
# If there are duplicate WSFE_IDs, then we need to choose between them.
# We'll pick the one that joined with the largest GRID3 polygon.
# To do that, we can just sort the dataframe by GRID3 areas, then drop_duplicates. 
# It will retain the first row of each WSFE_ID group.
Bounded = Bounded.sort_values('G3_Area', ascending=False).drop_duplicates(['WSFE_ID'])
Bounded.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 919754 entries, 922082 to 862313
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Sett_ID       919754 non-null  int64
 1   Bounded_ID    919754 non-null  int64
 2   ADM_ID        0 non-null       float64
 3   geometry      919754 non-null  geometry
 4   G3_Area       919754 non-null  float64
 5   year          919754 non-null  int32
 6   WSFE_ID       919754 non-null  float64
 7   ADM_ID_left   919754 non-null  float64
 8   index_right   919754 non-null  float64
 9   ADM_ID_right  919754 non-null  float64
dtypes: float64(6), geometry(1), int32(1), int64(2)
memory usage: 73.7 MB

In [35]:
print(len(Bounded[Bounded.duplicated('WSFE_ID')]))

0

In [36]:
# Now we can dissolve with the WSFE years, now that we can group them by their administratively split ID.
Bounded = Bounded.dissolve(by=['year', 'Bounded_ID'], as_index=False)
print(Bounded.info(), Bounded.sample(10))

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 180796 entries, 0 to 180795
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          180796 non-null  int64
 1   Bounded_ID    180796 non-null  int64
 2   geometry      180796 non-null  geometry
 3   Sett_ID       180796 non-null  int64
 4   ADM_ID        0 non-null       float64
 5   G3_Area       180796 non-null  float64
 6   WSFE_ID       180796 non-null  float64
 7   ADM_ID_left   180796 non-null  float64
 8   index_right   180796 non-null  float64
 9   ADM_ID_right  180796 non-null  float64
dtypes: float64(6), geometry(1), int64(3)
memory usage: 13.8 MB
None         year  Bounded_ID                                           geometry  \
75702   2003      138845  POLYGON ((-2994079.130 1410430.485, -2994049.9...
95142   2006      249989  MULTIPOLYGON (((-2681362.708 1353087.966, -268...
2677    1985      138901  MULTIPOLYGON (((-2922714.368 1399585.840, -292...
82141   2004      181853  MULTIPOLYGON (((-2879598.158 1469288.922, -287...
116706  2009      392561  POLYGON ((-3030869.297 1501968.619, -3030840.1...
175069  2015      317550  MULTIPOLYGON (((-2622912.402 1420138.192, -262...
150868  2013      322233  POLYGON ((-2611309.798 1417135.508, -2611280.6...
7546    1985      319023  MULTIPOLYGON (((-2649353.513 1431361.817, -264...
112468  2009       37082  MULTIPOLYGON (((-3109930.259 1272190.411, -310...
41143   1996      419629  MULTIPOLYGON (((-2721680.300 1518993.546, -272...

        Sett_ID  ADM_ID    G3_Area   WSFE_ID  ADM_ID_left  index_right  \
75702    137875     NaN   0.358639  500356.0        221.0     138845.0
95142    247551     NaN   1.178749  653447.0        346.0     249989.0
2677     137930     NaN   1.316425  535838.0        294.0     138901.0
82141    180521     NaN   0.537108  217488.0        102.0     181853.0
116706   388745     NaN   0.404531  168469.0         83.0     392561.0
175069   314268     NaN   0.061190  470789.0         22.0     317550.0
150868   318859     NaN   0.271954  480479.0        300.0     322233.0
7546     315706     NaN   0.084985  390799.0          2.0     319023.0
112468    36859     NaN   0.329744  839867.0        164.0      37082.0
41143    415487     NaN  27.276095  133728.0        131.0     419629.0

        ADM_ID_right
75702          221.0
95142          346.0
2677           294.0
82141          102.0
116706          83.0
175069          22.0
150868         300.0
7546             2.0
112468         164.0
41143          131.0

In [37]:
# Clean up and save to file.
Bounded = Bounded[['ADM_ID_left', 'year', 'Bounded_ID', 'Sett_ID', 'geometry']].rename(columns={"ADM_ID_left": "ADM_ID"})
Bounded = Bounded.astype({"ADM_ID":'int', "Bounded_ID":'int', "Sett_ID":'int', "year":'int'})
print(Bounded.sample(10))
Bounded.to_file(
    driver='GPKG', filename=r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Bounded')

        ADM_ID  year  Bounded_ID  Sett_ID  \
131339      30  2011      167131   165921
136676     272  2011      586607   581299
73014      219  2002      461528   456905
20446      329  1990      157793   156712
38087       19  1995      463087   458422
171714     151  2015      163923   162770
14519       97  1988      250058   247615
163285     324  2014      312964   309772
163266      67  2014      312844   309661
54262      320  1999      413412   409365

                                                 geometry
131339  POLYGON ((-2811002.861 1305453.153, -2810973.7...
136676  POLYGON ((-2568893.242 1623737.660, -2568864.0...
73014   MULTIPOLYGON (((-2863302.038 1572283.900, -286...
20446   POLYGON ((-2925629.595 1255340.398, -2925600.4...
38087   MULTIPOLYGON (((-2848638.445 1595459.956, -284...
171714  POLYGON ((-2907526.034 1292043.108, -2907467.7...
14519   MULTIPOLYGON (((-2671276.021 1370579.329, -267...
163285  MULTIPOLYGON (((-2636526.513 1402530.219, -263...
163266  MULTIPOLYGON (((-2650811.127 1393288.949, -265...
54262   MULTIPOLYGON (((-2841583.595 1503163.863, -284...

In [38]:
del WSFE_ADM

### 4.3 BOUNDLESS SETTLEMENTS: Dissolve features that were split by an ADM boundary.

In [39]:
# Fragments of any bounded settlement will be combined into a single "boundless" settlement in this version.
# It is based on their "Sett_ID", which is a direct loan from the GRID3 settlement features.
Boundless = Bounded.dissolve(by=['year', 'Sett_ID'], as_index=False)
print(Boundless.info(), Boundless.sample(10))

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 179618 entries, 0 to 179617
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   year        179618 non-null  int64
 1   Sett_ID     179618 non-null  int64
 2   geometry    179618 non-null  geometry
 3   ADM_ID      179618 non-null  int32
 4   Bounded_ID  179618 non-null  int32
dtypes: geometry(1), int32(2), int64(2)
memory usage: 5.5 MB
None         year  Sett_ID                                           geometry  \
308     1985      580  MULTIPOLYGON (((-2997344.185 1204732.054, -299...
177785  2015   468152  MULTIPOLYGON (((-2825287.475 1597704.681, -282...
90270   2005   457940  POLYGON ((-2863855.931 1567123.948, -2863826.7...
130656  2011   180320  MULTIPOLYGON (((-2865342.697 1408273.217, -286...
71275   2002   314016  POLYGON ((-2633698.743 1418097.533, -2633669.5...
123679  2010   294894  POLYGON ((-2670547.215 1447249.805, -2670518.0...
70088   2002   166100  MULTIPOLYGON (((-2871872.806 1361338.059, -287...
30365   1994   203749  POLYGON ((-2853536.026 1428563.198, -2853506.8...
65588   2001   247900  MULTIPOLYGON (((-2626235.761 1365798.357, -262...
134412  2011   457593  POLYGON ((-2827940.332 1553743.055, -2827911.1...

        ADM_ID  Bounded_ID
308        226         586
177785     306      472900
90270      219      462593
130656     295      181642
71275      163      317297
123679     266      297838
70088      276      167313
30365      157      205306
65588      296      250350
134412     271      462236

In [40]:
# Clean up and save to file.
Boundless.to_file(driver='GPKG', filename=r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Boundless')

---

## 5. CUMULATIVE ANNUALIZED SETTLEMENT EXTENTS
DISSOLVE BY YEAR SETS: Create separate feature layers of each cumulative year.

### 5.1 Define study years for each for loop.

In [43]:
Boundless = gpd.read_file(r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Boundless')

ReversedStudyYears = []
for i in AllStudyYears:
    ReversedStudyYears.insert(0,i)
ReversedStudyYears.remove(2015)
print('\n\n', ReversedStudyYears)

 [2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999]

### 5.2 Starting with main Boundless dataset, create a cumulative area feature layer for each year.

In [44]:
# For each year in the growth stats study, we are taking features from all years prior to and including that year, 
# dissolving those features, and exporting as its own file.

for item in AllStudyYears:
    print('Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    YearSet = Boundless[Boundless['year'].between(
        1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.
    print('Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. %s\n' % time.ctime())
    YearDissolve = YearSet.dissolve(by='Sett_ID', 
                                        aggfunc={"year": "max", "ADM_ID":"min"}, # Though ADM_ID should be matching every time.
                                        as_index=False)
    print('Write to file. %s\n' % time.ctime())
    YearName = ''.join(['Cu', str(item), '_Boundless'])
    YearDissolve.to_file(driver='GPKG', filename=r'Results/CumulativeSettlements.gpkg', layer=YearName)
    del YearSet, YearDissolve
print("Done with all years in set. %s" % time.ctime())

Subsetting to cumulative area for year: 1999. Thu Jan 26 11:10:46 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:10:46 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:11:14 2023

Subsetting to cumulative area for year: 2000. Thu Jan 26 11:11:22 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:11:22 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:11:54 2023

Subsetting to cumulative area for year: 2001. Thu Jan 26 11:12:03 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:12:03 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:12:37 2023

Subsetting to cumulative area for year: 2002. Thu Jan 26 11:12:46 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:12:46 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:13:20 2023

Subsetting to cumulative area for year: 2003. Thu Jan 26 11:13:29 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:13:29 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:14:05 2023

Subsetting to cumulative area for year: 2004. Thu Jan 26 11:14:13 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:14:13 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:14:52 2023

Subsetting to cumulative area for year: 2005. Thu Jan 26 11:15:01 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:15:01 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:15:39 2023

Subsetting to cumulative area for year: 2006. Thu Jan 26 11:15:48 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:15:48 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:16:30 2023

Subsetting to cumulative area for year: 2007. Thu Jan 26 11:16:39 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:16:39 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:17:21 2023

Subsetting to cumulative area for year: 2008. Thu Jan 26 11:17:30 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:17:30 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:18:15 2023

Subsetting to cumulative area for year: 2009. Thu Jan 26 11:18:24 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:18:24 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:19:09 2023

Subsetting to cumulative area for year: 2010. Thu Jan 26 11:19:18 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:19:18 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:20:06 2023

Subsetting to cumulative area for year: 2011. Thu Jan 26 11:20:16 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:20:16 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:21:06 2023

Subsetting to cumulative area for year: 2012. Thu Jan 26 11:21:15 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:21:15 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:22:06 2023

Subsetting to cumulative area for year: 2013. Thu Jan 26 11:22:15 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:22:15 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:23:09 2023

Subsetting to cumulative area for year: 2014. Thu Jan 26 11:23:19 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:23:19 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:24:14 2023

Subsetting to cumulative area for year: 2015. Thu Jan 26 11:24:24 2023

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Thu Jan 26 11:24:24 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\3467227044.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Boundless[Boundless['year'].between(

Write to file. Thu Jan 26 11:25:22 2023

Done with all years in set. Thu Jan 26 11:25:32 2023

##### Join area information from each cumulative layer onto the latest year dataset.

In [45]:
# The latest year in the study contains all settlements. Merge all other years' areas onto this dataset.
SettAreas = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=
                          ''.join(['Cu', str(2015), '_Boundless'])) 
SettAreas['Area2015'] = SettAreas['geometry'].area / 10**6
SettAreas = pd.DataFrame(SettAreas).drop(columns='geometry') # We have settlement IDs, so no need to join spatially!


for item in ReversedStudyYears:
    print("Loading cumulative layer for year %s. %s\n" % (item, time.ctime()))
    YearLayer = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=''.join(['Cu', str(item), '_Boundless']))
    print("Adding area field and converting to non-spatial dataframe. %s\n" % (time.ctime()))
    AreaYearName = ''.join(['Area', str(item)])
    YearLayer[AreaYearName] = YearLayer['geometry'].area/ 10**6 
    YearLayer = pd.DataFrame(YearLayer)[['Sett_ID', AreaYearName]]
    print("Merging variables from %s onto our latest year (%s) via table join. %s\n" % (item, 2015, time.ctime()))
    SettAreas = SettAreas.merge(YearLayer, how='left', on='Sett_ID')
print("Done merging annualized areas onto latest year geometries. Saving to file. %s\n" % (time.ctime()))


print(SettAreas.info())
SettAreas.to_csv(os.path.join(ResultsFolder, 'Areas%sto%s.csv' % (1999, 2015)))

Loading cumulative layer for year 2014. Thu Jan 26 11:25:34 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:36 2023

Merging variables from 2014 onto our latest year (2015) via table join. Thu Jan 26 11:25:36 2023

Loading cumulative layer for year 2013. Thu Jan 26 11:25:36 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:38 2023

Merging variables from 2013 onto our latest year (2015) via table join. Thu Jan 26 11:25:38 2023

Loading cumulative layer for year 2012. Thu Jan 26 11:25:38 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:40 2023

Merging variables from 2012 onto our latest year (2015) via table join. Thu Jan 26 11:25:40 2023

Loading cumulative layer for year 2011. Thu Jan 26 11:25:40 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:42 2023

Merging variables from 2011 onto our latest year (2015) via table join. Thu Jan 26 11:25:42 2023

Loading cumulative layer for year 2010. Thu Jan 26 11:25:42 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:44 2023

Merging variables from 2010 onto our latest year (2015) via table join. Thu Jan 26 11:25:44 2023

Loading cumulative layer for year 2009. Thu Jan 26 11:25:44 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:46 2023

Merging variables from 2009 onto our latest year (2015) via table join. Thu Jan 26 11:25:46 2023

Loading cumulative layer for year 2008. Thu Jan 26 11:25:46 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:48 2023

Merging variables from 2008 onto our latest year (2015) via table join. Thu Jan 26 11:25:48 2023

Loading cumulative layer for year 2007. Thu Jan 26 11:25:48 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:50 2023

Merging variables from 2007 onto our latest year (2015) via table join. Thu Jan 26 11:25:50 2023

Loading cumulative layer for year 2006. Thu Jan 26 11:25:50 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:52 2023

Merging variables from 2006 onto our latest year (2015) via table join. Thu Jan 26 11:25:52 2023

Loading cumulative layer for year 2005. Thu Jan 26 11:25:52 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:54 2023

Merging variables from 2005 onto our latest year (2015) via table join. Thu Jan 26 11:25:54 2023

Loading cumulative layer for year 2004. Thu Jan 26 11:25:54 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:55 2023

Merging variables from 2004 onto our latest year (2015) via table join. Thu Jan 26 11:25:56 2023

Loading cumulative layer for year 2003. Thu Jan 26 11:25:56 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:57 2023

Merging variables from 2003 onto our latest year (2015) via table join. Thu Jan 26 11:25:57 2023

Loading cumulative layer for year 2002. Thu Jan 26 11:25:57 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:25:59 2023

Merging variables from 2002 onto our latest year (2015) via table join. Thu Jan 26 11:25:59 2023

Loading cumulative layer for year 2001. Thu Jan 26 11:25:59 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:26:01 2023

Merging variables from 2001 onto our latest year (2015) via table join. Thu Jan 26 11:26:01 2023

Loading cumulative layer for year 2000. Thu Jan 26 11:26:01 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:26:03 2023

Merging variables from 2000 onto our latest year (2015) via table join. Thu Jan 26 11:26:03 2023

Loading cumulative layer for year 1999. Thu Jan 26 11:26:03 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:26:05 2023

Merging variables from 1999 onto our latest year (2015) via table join. Thu Jan 26 11:26:05 2023

Done merging annualized areas onto latest year geometries. Saving to file. Thu Jan 26 11:26:05 2023

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23490 entries, 0 to 23489
Data columns (total 20 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   23490 non-null  int64
 1   year      23490 non-null  int64
 2   ADM_ID    23490 non-null  int64
 3   Area2015  23490 non-null  float64
 4   Area2014  22886 non-null  float64
 5   Area2013  22457 non-null  float64
 6   Area2012  21629 non-null  float64
 7   Area2011  21316 non-null  float64
 8   Area2010  20948 non-null  float64
 9   Area2009  20471 non-null  float64
 10  Area2008  20062 non-null  float64
 11  Area2007  19712 non-null  float64
 12  Area2006  19369 non-null  float64
 13  Area2005  19010 non-null  float64
 14  Area2004  18683 non-null  float64
 15  Area2003  18259 non-null  float64
 16  Area2002  17884 non-null  float64
 17  Area2001  17592 non-null  float64
 18  Area2000  17134 non-null  float64
 19  Area1999  16385 non-null  float64
dtypes: float64(17), int64(3)
memory usage: 3.8 MB
None

In [46]:
del SettAreas

### 5.3 Repeat for Bounded dataset.

In [47]:
# Bounded = gpd.read_file(r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Bounded')

for item in AllStudyYears:
    print('Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.
    print('Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. %s\n' % time.ctime())
    YearDissolve = YearSet.dissolve(by='Bounded_ID', 
                                        aggfunc={"year": "max", "ADM_ID":"min", "Sett_ID":"min"}, # Though ADM_ID and Sett_ID should be matching every time.
                                        as_index=False)
    print('Write to file. %s\n' % time.ctime())
    YearName = ''.join(['Cu', str(item), '_Bounded'])
    YearDissolve.to_file(driver='GPKG', filename=r'Results/CumulativeSettlements.gpkg', layer=YearName)
    del YearSet, YearDissolve
print("Done with all years in set. %s" % time.ctime())

Subsetting to cumulative area for year: 1999. Thu Jan 26 11:26:05 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:26:05 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:26:33 2023

Subsetting to cumulative area for year: 2000. Thu Jan 26 11:26:42 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:26:42 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:27:12 2023

Subsetting to cumulative area for year: 2001. Thu Jan 26 11:27:20 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:27:20 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:27:52 2023

Subsetting to cumulative area for year: 2002. Thu Jan 26 11:28:01 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:28:01 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:28:34 2023

Subsetting to cumulative area for year: 2003. Thu Jan 26 11:28:44 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:28:44 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:29:19 2023

Subsetting to cumulative area for year: 2004. Thu Jan 26 11:29:29 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:29:29 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:30:06 2023

Subsetting to cumulative area for year: 2005. Thu Jan 26 11:30:15 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:30:15 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:30:54 2023

Subsetting to cumulative area for year: 2006. Thu Jan 26 11:31:04 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:31:04 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:31:45 2023

Subsetting to cumulative area for year: 2007. Thu Jan 26 11:31:55 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:31:55 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:32:38 2023

Subsetting to cumulative area for year: 2008. Thu Jan 26 11:32:47 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:32:47 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:33:32 2023

Subsetting to cumulative area for year: 2009. Thu Jan 26 11:33:42 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:33:42 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:34:29 2023

Subsetting to cumulative area for year: 2010. Thu Jan 26 11:34:40 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:34:40 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:35:32 2023

Subsetting to cumulative area for year: 2011. Thu Jan 26 11:35:42 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:35:42 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:36:31 2023

Subsetting to cumulative area for year: 2012. Thu Jan 26 11:36:41 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:36:41 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:37:33 2023

Subsetting to cumulative area for year: 2013. Thu Jan 26 11:37:42 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:37:42 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:38:36 2023

Subsetting to cumulative area for year: 2014. Thu Jan 26 11:38:46 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:38:46 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:39:42 2023

Subsetting to cumulative area for year: 2015. Thu Jan 26 11:39:52 2023

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Thu Jan 26 11:39:52 2023

C:\Users\grace\AppData\Local\Temp\ipykernel_13496\947833332.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  YearSet = Bounded[Bounded['year'].between(1985, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Thu Jan 26 11:40:51 2023

Done with all years in set. Thu Jan 26 11:41:02 2023

In [48]:
SettAreas = gpd.read_file(r'Results/CumulativeSettlements.gpkg', 
                          layer=''.join(['Cu', str(2015), '_Bounded']))
SettAreas['Area2015'] = SettAreas['geometry'].area / 10**6
SettAreas = pd.DataFrame(SettAreas).drop(columns='geometry')


for item in ReversedStudyYears:
    print("Loading cumulative layer for year %s. %s\n" % (item, time.ctime()))
    YearLayer = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=''.join(['Cu', str(item), '_Bounded']))
    print("Adding area field and converting to non-spatial dataframe. %s\n" % (time.ctime()))
    AreaYearName = ''.join(['Area', str(item)])
    YearLayer[AreaYearName] = YearLayer['geometry'].area/ 10**6 
    YearLayer = pd.DataFrame(YearLayer)[['Bounded_ID', AreaYearName]]
    print("Merging variables from %s onto our latest year (%s) via table join. %s\n" % (item, 2015, time.ctime()))
    SettAreas = SettAreas.merge(YearLayer, how='left', on='Bounded_ID')
print("Done merging annualized areas onto latest year geometries. Saving to file. %s\n" % (time.ctime()))

print(SettAreas.info())
SettAreas.to_csv(os.path.join(ResultsFolder, 'Areas%sto%s_%s.csv' % (1999, 2015, 'Bounded')))

Loading cumulative layer for year 2014. Thu Jan 26 11:41:04 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:06 2023

Merging variables from 2014 onto our latest year (2015) via table join. Thu Jan 26 11:41:06 2023

Loading cumulative layer for year 2013. Thu Jan 26 11:41:06 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:08 2023

Merging variables from 2013 onto our latest year (2015) via table join. Thu Jan 26 11:41:08 2023

Loading cumulative layer for year 2012. Thu Jan 26 11:41:08 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:10 2023

Merging variables from 2012 onto our latest year (2015) via table join. Thu Jan 26 11:41:10 2023

Loading cumulative layer for year 2011. Thu Jan 26 11:41:10 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:13 2023

Merging variables from 2011 onto our latest year (2015) via table join. Thu Jan 26 11:41:13 2023

Loading cumulative layer for year 2010. Thu Jan 26 11:41:13 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:14 2023

Merging variables from 2010 onto our latest year (2015) via table join. Thu Jan 26 11:41:14 2023

Loading cumulative layer for year 2009. Thu Jan 26 11:41:14 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:16 2023

Merging variables from 2009 onto our latest year (2015) via table join. Thu Jan 26 11:41:16 2023

Loading cumulative layer for year 2008. Thu Jan 26 11:41:16 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:18 2023

Merging variables from 2008 onto our latest year (2015) via table join. Thu Jan 26 11:41:18 2023

Loading cumulative layer for year 2007. Thu Jan 26 11:41:18 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:20 2023

Merging variables from 2007 onto our latest year (2015) via table join. Thu Jan 26 11:41:20 2023

Loading cumulative layer for year 2006. Thu Jan 26 11:41:20 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:22 2023

Merging variables from 2006 onto our latest year (2015) via table join. Thu Jan 26 11:41:22 2023

Loading cumulative layer for year 2005. Thu Jan 26 11:41:22 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:24 2023

Merging variables from 2005 onto our latest year (2015) via table join. Thu Jan 26 11:41:24 2023

Loading cumulative layer for year 2004. Thu Jan 26 11:41:24 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:26 2023

Merging variables from 2004 onto our latest year (2015) via table join. Thu Jan 26 11:41:26 2023

Loading cumulative layer for year 2003. Thu Jan 26 11:41:26 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:28 2023

Merging variables from 2003 onto our latest year (2015) via table join. Thu Jan 26 11:41:28 2023

Loading cumulative layer for year 2002. Thu Jan 26 11:41:28 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:30 2023

Merging variables from 2002 onto our latest year (2015) via table join. Thu Jan 26 11:41:30 2023

Loading cumulative layer for year 2001. Thu Jan 26 11:41:30 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:32 2023

Merging variables from 2001 onto our latest year (2015) via table join. Thu Jan 26 11:41:32 2023

Loading cumulative layer for year 2000. Thu Jan 26 11:41:32 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:34 2023

Merging variables from 2000 onto our latest year (2015) via table join. Thu Jan 26 11:41:34 2023

Loading cumulative layer for year 1999. Thu Jan 26 11:41:34 2023

Adding area field and converting to non-spatial dataframe. Thu Jan 26 11:41:35 2023

Merging variables from 1999 onto our latest year (2015) via table join. Thu Jan 26 11:41:35 2023

Done merging annualized areas onto latest year geometries. Saving to file. Thu Jan 26 11:41:35 2023

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23740 entries, 0 to 23739
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Bounded_ID  23740 non-null  int64
 1   year        23740 non-null  int64
 2   ADM_ID      23740 non-null  int64
 3   Sett_ID     23740 non-null  int64
 4   Area2015    23740 non-null  float64
 5   Area2014    23129 non-null  float64
 6   Area2013    22692 non-null  float64
 7   Area2012    21844 non-null  float64
 8   Area2011    21527 non-null  float64
 9   Area2010    21150 non-null  float64
 10  Area2009    20662 non-null  float64
 11  Area2008    20245 non-null  float64
 12  Area2007    19886 non-null  float64
 13  Area2006    19536 non-null  float64
 14  Area2005    19175 non-null  float64
 15  Area2004    18846 non-null  float64
 16  Area2003    18419 non-null  float64
 17  Area2002    18042 non-null  float64
 18  Area2001    17748 non-null  float64
 19  Area2000    17287 non-null  float64
 20  Area1999    16531 non-null  float64
dtypes: float64(17), int64(4)
memory usage: 4.0 MB
None

In [49]:
del SettAreas

### 5.4 One settlement geofile to rule them all. ...and in the Sett_ID bind them.
The annualized values can be stored as distinct non-spatial dataframes. Their Sett_IDs will be used to join onto this geoversion with place names for the summary stats.

In [50]:
Settlements = gpd.read_file(r'Results/CumulativeSettlements.gpkg', 
                           layer=''.join(['Cu', str(2015), '_Boundless']))[['Sett_ID', 'ADM_ID', 'geometry']]
print(Settlements.info())
print(Settlements.crs)
Settlements.to_file(driver='GPKG', 
                       filename=r'Results/SETTLEMENTS.gpkg', 
                       layer='SETTLEMENTS_equalarea')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   23490 non-null  int64
 1   ADM_ID    23490 non-null  int64
 2   geometry  23490 non-null  geometry
dtypes: geometry(1), int64(2)
memory usage: 550.7 KB
None
PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

In [51]:
# Saving all the final products as WGS84.
Settlements_WGS = Settlements.to_crs(4326) 
print(Settlements_WGS.info())
print(Settlements_WGS.crs)
Settlements_WGS.to_file(driver='GPKG', 
                       filename=r'Results/SETTLEMENTS.gpkg', 
                       layer='SETTLEMENTS')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   23490 non-null  int64
 1   ADM_ID    23490 non-null  int64
 2   geometry  23490 non-null  geometry
dtypes: geometry(1), int64(2)
memory usage: 550.7 KB
None
epsg:4326

### 5.5 Buffer the area of the Boundless dataset's latest year to mask raster data in later sections.
The Bounded dataset would also be fine for our purposes here. The buffer is dissolved to a single feature to be used for its total extents, which are identical between Bounded & Boundless datasets.

In [52]:
# Create buffer layer(s) to use as maximum distance for Near joins.

# Population buffer: 2km
Distance = 2000 # The Africa Albers projection is in meters. Saving in this projection to use in later sections.

print('Creating buffer layer. %s' % time.ctime())
BufferLayer = Settlements[['Sett_ID', 'geometry']]
BufferLayer['geometry'] = BufferLayer['geometry'].apply(
    make_valid).buffer(Distance) # make_valid is a workaround for any null geometries.
print('Finished buffer layer creation. %s' % time.ctime())
BufferFileName1 = ''.join(['Buff', str(Distance), 'm_', str(2015)])
BufferLayer.to_file(driver='GPKG', filename=r'Results/Catchment.gpkg', layer=BufferFileName1)
print('Saved to file. %s' % time.ctime())

Creating buffer layer. Thu Jan 26 11:41:57 2023

C:\Users\grace\miniconda3\envs\geo\lib\site-packages\geopandas\geodataframe.py:1472: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Finished buffer layer creation. Thu Jan 26 11:55:50 2023
Saved to file. Thu Jan 26 11:55:59 2023

In [53]:
# Nighttime Lights buffer: 250m
Distance = 250

print('Creating buffer layer. %s' % time.ctime())
BufferLayer = Settlements[['Sett_ID', 'geometry']]
BufferLayer['geometry'] = BufferLayer['geometry'].apply(
    make_valid).buffer(Distance) # make_valid is a workaround for any null geometries.
print('Finished buffer layer creation. %s' % time.ctime())
BufferFileName2 = ''.join(['Buff', str(Distance), 'm_', str(2015)])
BufferLayer.to_file(driver='GPKG', filename=r'Results/Catchment.gpkg', layer=BufferFileName2)
print('Saved to file. %s' % time.ctime())

Creating buffer layer. Thu Jan 26 11:55:59 2023

C:\Users\grace\miniconda3\envs\geo\lib\site-packages\geopandas\geodataframe.py:1472: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Finished buffer layer creation. Thu Jan 26 11:57:45 2023
Saved to file. Thu Jan 26 11:57:55 2023

---

## 6. PLACE NAMES
Join urban place names from UCDB, Africapolis, and GeoNames onto the settlement vectors.

### 6.1 Load placename datasets, filter, and project.

In [54]:
# Anytime we use a spatial join or work with area, 
# my preference is to keep it in a planar, equal area, meters projection. So we'll load as the Africa Albers.
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')
Settlements['Area2015'] = Settlements['geometry'].area / 10**6

# Load, pull name field, rename, and reproject to match the catchments CRS.
UCDB = gpd.read_file('PlaceName/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_2.gpkg', 
                     layer=0)[['UC_NM_MN', 'geometry']].rename(
    columns={"UC_NM_MN": "UCDB_Name"}).to_crs("ESRI:102022")

Africapolis = gpd.read_file('PlaceName/AFRICAPOLIS2020.shp')[['agglosName', 'geometry']].rename(
    columns={"agglosName": "Afpl_Name"}).to_crs("ESRI:102022")

GeoNames = gpd.read_file('PlaceName/GeoNames.gpkg', 
                         layer=0)[['GeoName', 'geometry']].to_crs("ESRI:102022")

print(Settlements.info(), UCDB.info(), Africapolis.info(), GeoNames.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   23490 non-null  int64
 1   ADM_ID    23490 non-null  int64
 2   geometry  23490 non-null  geometry
 3   Area2015  23490 non-null  float64
dtypes: float64(1), geometry(1), int64(2)
memory usage: 734.2 KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13135 entries, 0 to 13134
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UCDB_Name  13135 non-null  object
 1   geometry   13135 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 205.4+ KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 7720 entries, 0 to 7719
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Afpl_Name  7720 non-null   object
 1   geometry   7720 non-null   geometry
dtypes: geometry(1), object(1)
memory usage: 120.8+ KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 199390 entries, 0 to 199389
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   GeoName   199390 non-null  object
 1   geometry  199390 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 3.0+ MB
None None None None

### 6.2 Join placenames onto settlements geodataframe.

In [55]:
# We wrap it in pd.DataFrame() since the sjoin() is the last time we need the geometry.

GeoNames = pd.DataFrame(gpd.sjoin_nearest(GeoNames, Settlements, 
                             how='left', distance_col="distGN", max_distance=250, 
                             lsuffix="G3", rsuffix="GN")).drop(columns='geometry')
Africapolis = pd.DataFrame(gpd.sjoin_nearest(Africapolis, Settlements, 
                             how='left', distance_col="distAF", max_distance=250,
                             lsuffix="G3", rsuffix="Af")).drop(columns='geometry')
UCDB = pd.DataFrame(gpd.sjoin_nearest(UCDB, Settlements, 
                             how='left', distance_col="distUC", max_distance=250,
                             lsuffix="G3", rsuffix="UC")).drop(columns='geometry')

In [56]:
print(GeoNames.info())
print(Africapolis.info())
print(UCDB.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199390 entries, 0 to 199389
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   GeoName   199390 non-null  object
 1   index_GN  75 non-null      float64
 2   Sett_ID   75 non-null      float64
 3   ADM_ID    75 non-null      float64
 4   Area2015  75 non-null      float64
 5   distGN    75 non-null      float64
dtypes: float64(5), object(1)
memory usage: 10.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7824 entries, 0 to 7719
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Afpl_Name  7824 non-null   object
 1   index_Af   208 non-null    float64
 2   Sett_ID    208 non-null    float64
 3   ADM_ID     208 non-null    float64
 4   Area2015   208 non-null    float64
 5   distAF     208 non-null    float64
dtypes: float64(5), object(1)
memory usage: 427.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13201 entries, 0 to 13134
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UCDB_Name  13201 non-null  object
 1   index_UC   110 non-null    float64
 2   Sett_ID    110 non-null    float64
 3   ADM_ID     110 non-null    float64
 4   Area2015   110 non-null    float64
 5   distUC     110 non-null    float64
dtypes: float64(5), object(1)
memory usage: 721.9+ KB
None

In [57]:
alldatasets = [pd.DataFrame(Settlements).drop(columns='geometry'),
               Africapolis[['Sett_ID', 'Afpl_Name', 'distAF']], 
               GeoNames[['Sett_ID', 'GeoName', 'distGN']],
               UCDB[['Sett_ID', 'UCDB_Name', 'distUC']]]

SettlementsNamed = reduce(lambda left,right: pd.merge(left,right,on=['Sett_ID'], how='left'), alldatasets)
SettlementsNamed[['Afpl_Name', 'GeoName', 'UCDB_Name']] = SettlementsNamed[['Afpl_Name', 'GeoName', 'UCDB_Name']].fillna('UNK')

# Replace NaN values with a countable distance.
SettlementsNamed[['distAF', 'distGN', 'distUC']] = SettlementsNamed[['distAF', 'distGN', 'distUC']].fillna(-1)

In [58]:
print(SettlementsNamed.info())
print(SettlementsNamed.sample(10))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23492 entries, 0 to 23491
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    23492 non-null  int64
 1   ADM_ID     23492 non-null  int64
 2   Area2015   23492 non-null  float64
 3   Afpl_Name  23492 non-null  object
 4   distAF     23492 non-null  float64
 5   GeoName    23492 non-null  object
 6   distGN     23492 non-null  float64
 7   UCDB_Name  23492 non-null  object
 8   distUC     23492 non-null  float64
dtypes: float64(4), int64(2), object(3)
memory usage: 1.8+ MB
None
       Sett_ID  ADM_ID  Area2015 Afpl_Name  distAF GeoName  distGN UCDB_Name  \
11524   266047      27  0.062039       UNK    -1.0     UNK    -1.0       UNK
14745   400586     130  0.016997       UNK    -1.0     UNK    -1.0       UNK
1108     29880     210  0.018697       UNK    -1.0     UNK    -1.0       UNK
18407   454527      54  0.013598       UNK    -1.0     UNK    -1.0       UNK
15152   404714     213  0.016997       UNK    -1.0     UNK    -1.0       UNK
1369     30217     222  0.047592       UNK    -1.0     UNK    -1.0       UNK
1839     37144     206  0.577901       UNK    -1.0     UNK    -1.0       UNK
1355     30197     222  0.032294       UNK    -1.0     UNK    -1.0       UNK
22326   528157     240  0.011898       UNK    -1.0     UNK    -1.0       UNK
1462     34297     181  0.005099       UNK    -1.0     UNK    -1.0       UNK

       distUC
11524    -1.0
14745    -1.0
1108     -1.0
18407    -1.0
15152    -1.0
1369     -1.0
1839     -1.0
1355     -1.0
22326    -1.0
1462     -1.0

In [59]:
del UCDB, Africapolis, GeoNames

The near joins should have prevented duplication of rows, but if df1 intersects with two features in df2, it creates a new row. Two of our placenames sources are polygons, so there may be instances.

In [60]:
SettlementsNamed[SettlementsNamed.duplicated('Sett_ID', keep=False)]

,Sett_ID,ADM_ID,Area2015,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC
9910,227047,147,346.334596,Ouagadougou,0.0,Saaba,0.0,Ouagadougou,0.0
9911,227047,147,346.334596,Ouagadougou,0.0,Ouagadougou,0.0,Ouagadougou,0.0
11757,277234,265,3.837945,Cinkassi/Cinkanse [BFA],0.0,UNK,-1.0,Cinkassé,0.0
11758,277234,265,3.837945,Cinkassi/Cinkanse [TGO],0.0,UNK,-1.0,Cinkassé,0.0

In [61]:
SettlementsNamed.drop_duplicates(subset=['Sett_ID'], inplace=True, keep='first')
SettlementsNamed.info() # Range of entries should be the same as original Settlements file.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23490 entries, 0 to 23491
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    23490 non-null  int64
 1   ADM_ID     23490 non-null  int64
 2   Area2015   23490 non-null  float64
 3   Afpl_Name  23490 non-null  object
 4   distAF     23490 non-null  float64
 5   GeoName    23490 non-null  object
 6   distGN     23490 non-null  float64
 7   UCDB_Name  23490 non-null  object
 8   distUC     23490 non-null  float64
dtypes: float64(4), int64(2), object(3)
memory usage: 1.8+ MB

### 6.3 Reduce to single name column.

In [62]:
# Determine which source has a name geometrically closest to the settlement.
# Since we switched NaN values to -1 earlier, we also resolved what happens in the event of a tie, 
# i.e. when more than one source is 0.0 meters from the settlement. It will take the value from the first column.
SettlementsNamed['SettName'] = "UNK"
SettlementsNamed['closest'] = SettlementsNamed[['distAF', 'distGN', 'distUC']].idxmax(axis=1)

In [63]:
SettlementsNamed.sample(20)

,Sett_ID,ADM_ID,Area2015,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC,SettName,closest
14191,388852,75,0.059490,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
3088,66105,37,0.004249,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
9379,215219,119,0.015297,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
4938,117585,264,0.072238,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
15635,409516,320,0.011898,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
15632,409511,137,0.011898,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
2260,51309,127,0.028895,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
17761,446872,257,0.003399,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
10077,227336,290,0.007649,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
11461,265911,187,0.045042,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
3385,83528,269,0.005949,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
4671,117227,159,0.028895,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
13522,319194,192,0.022096,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
10165,227451,231,0.019547,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
6411,159734,74,0.012748,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
23102,581370,81,0.021246,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
18356,454344,23,0.016997,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
7667,186524,102,0.008499,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
871,16233,197,0.028895,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12093,277946,285,0.001700,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF

In [64]:
# Create a single name column where non-named settlements are "UNK" but all others use one of the three name sources.
SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distAF", 
    'SettName'] = SettlementsNamed['Afpl_Name']

SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distUC", 
    'SettName'] = SettlementsNamed['UCDB_Name']

SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distGN", 
    'SettName'] = SettlementsNamed['GeoName']

In [65]:
SettlementsNamed.sample(20)

,Sett_ID,ADM_ID,Area2015,Afpl_Name,distAF,GeoName,distGN,UCDB_Name,distUC,SettName,closest
7582,185243,63,0.011048,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
20822,474698,134,0.014448,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
16942,417578,20,0.046742,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
6827,166088,276,0.098583,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
10261,227649,255,0.062889,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
20211,468259,306,0.003399,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
18770,457220,121,0.006799,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
2882,55834,37,0.000850,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
5911,138901,41,0.021246,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
10896,247572,346,0.075637,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
16192,415812,334,0.004249,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12157,288592,170,0.004249,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
16526,416522,347,0.006799,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
15621,409493,39,0.005949,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
1796,37097,165,0.194617,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
12969,310059,163,0.000850,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
8641,203882,136,0.101983,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
22228,527936,31,0.006799,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
16947,417654,334,0.003399,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF
21070,475154,3,0.016997,UNK,-1.0,UNK,-1.0,UNK,-1.0,UNK,distAF

### 6.4 Make sure place name is unique by stripping smaller localities of duplicated names.

In [66]:
Dupes = SettlementsNamed[ 
    (SettlementsNamed['SettName'] != 'UNK') & 
    (SettlementsNamed.duplicated('SettName', keep=False)) ] # keep=False is necessary to retain *all* duplicates, not just first or last in each group.

print("Number of named settlements: %s" % SettlementsNamed['SettName'].str.contains('UNK').value_counts()[False])
print("Number of named settlements where name is duplicated at least once: %s" % len(Dupes))

Number of named settlements: 274
Number of named settlements where name is duplicated at least once: 186

In [67]:
Largest = Dupes.loc[Dupes.groupby(["SettName"])["Area2015"].idxmax()]
print(Largest)

       Sett_ID  ADM_ID    Area2015                Afpl_Name  distAF  \
7            8      14   16.495685                  Banfora     0.0
13929   388531      18    0.421528                      UNK    -1.0
16061   415490      20    1.024925               Barsalogho     0.0
2177     51196      37   88.690864           Bobo-Dioulasso     0.0
22184   527798      38    1.874780                  Bogande     0.0
5268    129734      43    3.492904                   Boromo     0.0
15003   404331      52    2.207073                   Bousse     0.0
11757   277234     265    3.837945  Cinkassi/Cinkanse [BFA]     0.0
2170     51189      59    2.212172                    Dande     0.0
5552    137698      64   12.117232                 Dedougou     0.0
7008    180084      70    0.961186                    Didyr     0.0
20499   474186      76    3.520099                    Djibo     0.0
22880   580905      81    4.186386                     Dori     0.0
22879   580904      88    0.578751              Falagountou     0.0
3543     87014      96    7.829714                    Gaoua     0.0
10723   247086      97    5.408477                  Garango     0.0
23340   597212     108    2.142484              Gorom-Gorom     0.0
14664   400481     171    2.184977               Guiedougou     0.0
4339    102549     116    9.152938                   Hounde     0.0
8055    202963     117    1.967414                  Imasgho     0.0
8058    202966     136    1.035123                    Kindi     0.0
9341    215150     142    5.436522               Kombissiri     0.0
13625   351201     146    2.007357                Kompienga     0.0
17117   445141     150    2.199425                Kongoussi     0.0
8057    202965     157   30.684014                Koudougou     0.0
4645    117196     159    3.594037                    Kouka     0.0
12674   309527     123    8.753506                  Koupela     0.0
7200    180351     168    0.833708                     Kyon     0.0
3544     87015     180    1.098013                      UNK    -1.0
11344   265667     187    4.363155                    Manga     0.0
16714   417069     348    0.047592             Namissiguima     0.0
13743   358776     179    0.499715               Namponkore     0.0
2176     51195     316    2.598856                  Nianaba     0.0
2            3     209    6.496291               Niangoloko     0.0
13922   388524     215    5.520658                    Nouna     0.0
9910    227047     147  346.334596              Ouagadougou     0.0
16060   415489     242    1.398861                  Pissila     0.0
12676   309529     249   10.984375                Pouytenga     0.0
7009    180085     252    7.373342                      Reo     0.0
17112   445136     254    0.389234                    Rouko     0.0
7769    188381     268    2.814720                   Sapouy     0.0
13          14     274    1.491495                      UNK    -1.0
4638    117189     280    7.262861                  Solenzo     0.0
9902    227039     290    3.977321         Tanghin-Dassouri     0.0
6583    165722     307    0.852405                       To     0.0
14666   400483     313    3.594037                   Tougan     0.0
21689   508698     315    1.067418                      UNK    -1.0
8519    203707     157    0.222662                    Villy     0.0
12076   277909     144    0.469120                 Vohogdin     0.0
21302   501405     336    8.655773                  Ziniare     0.0
12177   294181     342    5.605643                   Zorgho     0.0
7011    180087     252    1.262884                    Zoula     0.0

                GeoName      distGN       UCDB_Name  distUC  \
7               Banfora    0.000000         Banfora     0.0
13929            Barani    0.000000          Barani     0.0
16061               UNK   -1.000000      Barsalogho     0.0
2177     Bobo-Dioulasso    0.000000  Bobo-Dioulasso     0.0
22184           Bogandé    0.000000         Bogandé     0.0
5268             Boromo    0.000000             UNK    -1.0
15003            Boussé    0.000000             UNK    -1.0
11757               UNK   -1.000000        Cinkassé     0.0
2170                UNK   -1.000000             UNK    -1.0
5552           Dédougou    0.000000        Dédougou     0.0
7008                UNK   -1.000000             UNK    -1.0
20499             Djibo    0.000000           Djibo     0.0
22880              Dori    0.000000            Dori     0.0
22879               UNK   -1.000000             UNK    -1.0
3543                UNK   -1.000000           Gaoua     0.0
10723           Garango    0.000000         Garango     0.0
23340       Gorom-Gorom    0.000000     Gorom-Gorom     0.0
14664               UNK   -1.000000             UNK    -1.0
4339                UNK   -1.000000          Houndé     0.0
8055                UNK   -1.000000             UNK    -1.0
8058                UNK   -1.000000             UNK    -1.0
9341         Kombissiri    0.000000      Kombissiri     0.0
13625               UNK   -1.000000       Kompienga     0.0
17117         Kongoussi  249.051436       Kongoussi     0.0
8057          Koudougou    0.000000       Koudougou     0.0
4645                UNK   -1.000000             UNK    -1.0
12674           Koupéla    0.000000         Koupéla     0.0
7200                UNK   -1.000000             UNK    -1.0
3544                UNK   -1.000000        Loropéni     0.0
11344             Manga    0.000000             UNK    -1.0
16714               UNK   -1.000000             UNK    -1.0
13743               UNK   -1.000000             UNK    -1.0
2176                UNK   -1.000000             UNK    -1.0
2                   UNK   -1.000000      Niangoloko     0.0
13922             Nouna    0.000000           Nouna     0.0
9910              Saaba    0.000000     Ouagadougou     0.0
16060               UNK   -1.000000         Pissila     0.0
12676               UNK   -1.000000       Pouytenga     0.0
7009                Réo    0.000000             UNK    -1.0
17112               UNK   -1.000000             UNK    -1.0
7769             Sapouy    4.095599          Sapouy     0.0
13                  UNK   -1.000000    Sidéradougou     0.0
4638            Salanso    0.000000         Solenzo     0.0
9902   Tanghin-Dassouri    0.000000             UNK    -1.0
6583                UNK   -1.000000             UNK    -1.0
14666            Tougan    0.000000          Tougan     0.0
21689               UNK   -1.000000        Tougouri     0.0
8519                UNK   -1.000000             UNK    -1.0
12076               UNK   -1.000000             UNK    -1.0
21302           Ziniaré    0.000000         Ziniaré     0.0
12177             Zorgo    0.000000             UNK    -1.0
7011                UNK   -1.000000             UNK    -1.0

                      SettName closest
7                      Banfora  distAF
13929                   Barani  distGN
16061               Barsalogho  distAF
2177            Bobo-Dioulasso  distAF
22184                  Bogande  distAF
5268                    Boromo  distAF
15003                   Bousse  distAF
11757  Cinkassi/Cinkanse [BFA]  distAF
2170                     Dande  distAF
5552                  Dedougou  distAF
7008                     Didyr  distAF
20499                    Djibo  distAF
22880                     Dori  distAF
22879              Falagountou  distAF
3543                     Gaoua  distAF
10723                  Garango  distAF
23340              Gorom-Gorom  distAF
14664               Guiedougou  distAF
4339                    Hounde  distAF
8055                   Imasgho  distAF
8058                     Kindi  distAF
9341                Kombissiri  distAF
13625                Kompienga  distAF
17117                Kongoussi  distGN
8057                 Koudougou  distAF
4645                     Kouka  distAF
12674                  Koupela  distAF
7200                      Kyon  distAF
3544                  Loropéni  distUC
11344                    Manga  distAF
16714             Namissiguima  distAF
13743               Namponkore  distAF
2176                   Nianaba  distAF
2                   Niangoloko  distAF
13922                    Nouna  distAF
9910               Ouagadougou  distAF
16060                  Pissila  distAF
12676                Pouytenga  distAF
7009                       Reo  distAF
17112                    Rouko  distAF
7769                    Sapouy  distGN
13                Sidéradougou  distUC
4638                   Solenzo  distAF
9902          Tanghin-Dassouri  distAF
6583                        To  distAF
14666                   Tougan  distAF
21689                 Tougouri  distUC
8519                     Villy  distAF
12076                 Vohogdin  distAF
21302                  Ziniare  distAF
12177                   Zorgho  distAF
7011                     Zoula  distAF

In [68]:
# Filter to settlements which have a duplicated name and are not the largest of those with that name, then replace with UNK.
SettlementsNamed.loc[(~SettlementsNamed.Sett_ID.isin(Largest.Sett_ID)) 
                     & (SettlementsNamed.Sett_ID.isin(Dupes.Sett_ID)), 
                     'SettName'] = 'UNK'

In [69]:
# Second number should now be zero.

print("Number of named settlements: %s" % SettlementsNamed['SettName'].str.contains('UNK').value_counts()[False])
print("Number of named settlements where name is duplicated at least once: %s" % len(SettlementsNamed[ 
    (SettlementsNamed['SettName'] != 'UNK') & 
    (SettlementsNamed.duplicated('SettName', keep=False)) ]))

Number of named settlements: 140
Number of named settlements where name is duplicated at least once: 0

In [70]:
print(SettlementsNamed.info(), SettlementsNamed[SettlementsNamed['SettName'] != "UNK"].sample(20))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23490 entries, 0 to 23491
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    23490 non-null  int64
 1   ADM_ID     23490 non-null  int64
 2   Area2015   23490 non-null  float64
 3   Afpl_Name  23490 non-null  object
 4   distAF     23490 non-null  float64
 5   GeoName    23490 non-null  object
 6   distGN     23490 non-null  float64
 7   UCDB_Name  23490 non-null  object
 8   distUC     23490 non-null  float64
 9   SettName   23490 non-null  object
 10  closest    23490 non-null  object
dtypes: float64(4), int64(2), object(5)
memory usage: 2.7+ MB
None        Sett_ID  ADM_ID  Area2015                         Afpl_Name  \
13626   351202     233  1.804242                          Nadiagou
15141   404684     213  0.720677                               UNK
8058    202966     136  1.035123                             Kindi
17117   445141     150  2.199425                         Kongoussi
8054    202962     140  3.282990                         Kokologho
20501   474189       3  0.503114                           Arbinda
11759   277235     220  1.550985                          Ouargaye
11          12     226  0.345041                               UNK
3408     84247      24  1.630022                             Batie
11342   265665     105  2.036252                        Gonboussou
7008    180084      70  0.961186                             Didyr
13922   388524     215  5.520658                             Nouna
8969    204638     140  0.250707                               UNK
13          14     274  1.491495                               UNK
9341    215150     142  5.436522                        Kombissiri
16060   415489     242  1.398861                           Pissila
7011    180087     252  1.262884                             Zoula
13743   358776     179  0.499715                        Namponkore
23421   597575     229  0.210764                               UNK
10540   236585     301  0.178470  Manyoro/Kolonia-Tangassogo [GHA]

           distAF     GeoName      distGN     UCDB_Name  distUC  \
13626    0.000000         UNK   -1.000000           UNK    -1.0
15141   -1.000000        Niou    0.000000           UNK    -1.0
8058     0.000000         UNK   -1.000000           UNK    -1.0
17117    0.000000   Kongoussi  249.051436     Kongoussi     0.0
8054     0.000000    Kokologo    0.000000           UNK    -1.0
20501    0.000000         UNK   -1.000000       Arbinda     0.0
11759    0.000000    Ouargaye    0.000000           UNK    -1.0
11      -1.000000         UNK   -1.000000           Ouo     0.0
3408     0.000000       Batié    0.124172           UNK    -1.0
11342    0.000000         UNK   -1.000000           UNK    -1.0
7008     0.000000         UNK   -1.000000           UNK    -1.0
13922    0.000000       Nouna    0.000000         Nouna     0.0
8969    -1.000000    Pitmoaga  175.820310           UNK    -1.0
13      -1.000000         UNK   -1.000000  Sidéradougou     0.0
9341     0.000000  Kombissiri    0.000000    Kombissiri     0.0
16060    0.000000         UNK   -1.000000       Pissila     0.0
7011     0.000000         UNK   -1.000000           UNK    -1.0
13743    0.000000         UNK   -1.000000           UNK    -1.0
23421   -1.000000       Oursi    0.000000           UNK    -1.0
10540  207.117679         UNK   -1.000000           UNK    -1.0

                               SettName closest
13626                          Nadiagou  distAF
15141                              Niou  distGN
8058                              Kindi  distAF
17117                         Kongoussi  distGN
8054                          Kokologho  distAF
20501                           Arbinda  distAF
11759                          Ouargaye  distAF
11                                  Ouo  distUC
3408                              Batié  distGN
11342                        Gonboussou  distAF
7008                              Didyr  distAF
13922                             Nouna  distAF
8969                           Pitmoaga  distGN
13                         Sidéradougou  distUC
9341                         Kombissiri  distAF
16060                           Pissila  distAF
7011                              Zoula  distAF
13743                        Namponkore  distAF
23421                             Oursi  distGN
10540  Manyoro/Kolonia-Tangassogo [GHA]  distAF

In [71]:
# Drop extra columns and save to file.
SettlementsNamed = SettlementsNamed[['Sett_ID', 'SettName']]
SettlementsNamed.to_csv(r'Results/PlaceNames.csv')

In [72]:
del SettlementsNamed

---

## 7. CREATE FRAGMENTATION INDEX
We are determining what percentage of a settlement's area lies outside of its administrative zone each year.
The index is a range of 0 to 100, i.e. the percent of the settlement area which is fragmented.

For each Sett_ID:
((Area of Boundless settlement - Area of largest Bounded settlement feature) / Area of Boundless settlement) * 100

### 7.1 Load boundless and bounded cumulative settlements and clean.

In [73]:
BoundlessAreas = pd.read_csv(os.path.join(ResultsFolder, 'Areas1999to2015.csv'))
print('Loaded Boundless dataset, whose settlements will be used as the index of the Fragmentation Index dataset. %s' 
      % time.ctime())
print(BoundlessAreas.info())

BoundedAreas = pd.read_csv(os.path.join(ResultsFolder, 'Areas1999to2015_Bounded.csv'))
print('Loaded Bounded dataset, which will factor into the fragmentation calculation. %s' % time.ctime())
print(BoundedAreas.info())

Loaded Boundless dataset, whose settlements will be used as the index of the Fragmentation Index dataset. Thu Jan 26 13:47:43 2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23490 entries, 0 to 23489
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  23490 non-null  int64
 1   Sett_ID     23490 non-null  int64
 2   year        23490 non-null  int64
 3   ADM_ID      23490 non-null  int64
 4   Area2015    23490 non-null  float64
 5   Area2014    22886 non-null  float64
 6   Area2013    22457 non-null  float64
 7   Area2012    21629 non-null  float64
 8   Area2011    21316 non-null  float64
 9   Area2010    20948 non-null  float64
 10  Area2009    20471 non-null  float64
 11  Area2008    20062 non-null  float64
 12  Area2007    19712 non-null  float64
 13  Area2006    19369 non-null  float64
 14  Area2005    19010 non-null  float64
 15  Area2004    18683 non-null  float64
 16  Area2003    18259 non-null  float64
 17  Area2002    17884 non-null  float64
 18  Area2001    17592 non-null  float64
 19  Area2000    17134 non-null  float64
 20  Area1999    16385 non-null  float64
dtypes: float64(17), int64(4)
memory usage: 3.8 MB
None
Loaded Bounded dataset, which will factor into the fragmentation calculation. Thu Jan 26 13:47:44 2023
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23740 entries, 0 to 23739
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  23740 non-null  int64
 1   Bounded_ID  23740 non-null  int64
 2   year        23740 non-null  int64
 3   ADM_ID      23740 non-null  int64
 4   Sett_ID     23740 non-null  int64
 5   Area2015    23740 non-null  float64
 6   Area2014    23129 non-null  float64
 7   Area2013    22692 non-null  float64
 8   Area2012    21844 non-null  float64
 9   Area2011    21527 non-null  float64
 10  Area2010    21150 non-null  float64
 11  Area2009    20662 non-null  float64
 12  Area2008    20245 non-null  float64
 13  Area2007    19886 non-null  float64
 14  Area2006    19536 non-null  float64
 15  Area2005    19175 non-null  float64
 16  Area2004    18846 non-null  float64
 17  Area2003    18419 non-null  float64
 18  Area2002    18042 non-null  float64
 19  Area2001    17748 non-null  float64
 20  Area2000    17287 non-null  float64
 21  Area1999    16531 non-null  float64
dtypes: float64(17), int64(5)
memory usage: 4.0 MB
None

In [74]:
LargestFragments = BoundedAreas.loc[BoundedAreas.groupby(["Sett_ID"])["Area2015"].idxmax()] 
print(LargestFragments.info())
print("Filtered the Bounded dataset to only rows where latest year's area is largest for each Sett_ID. %s" % time.ctime())
LargestFragments.columns = LargestFragments.columns.str.replace('Area', 'Largest')
LargestFragments = LargestFragments.drop(columns=['year', 'ADM_ID'])
print("Renamed columns to avoid duplication during merge, and dropped unnecessary columns. %s" % time.ctime())
FragIndices = BoundlessAreas.merge(LargestFragments, how='left', on='Sett_ID')
print(FragIndices.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23490 entries, 0 to 23739
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  23490 non-null  int64
 1   Bounded_ID  23490 non-null  int64
 2   year        23490 non-null  int64
 3   ADM_ID      23490 non-null  int64
 4   Sett_ID     23490 non-null  int64
 5   Area2015    23490 non-null  float64
 6   Area2014    22886 non-null  float64
 7   Area2013    22456 non-null  float64
 8   Area2012    21626 non-null  float64
 9   Area2011    21315 non-null  float64
 10  Area2010    20947 non-null  float64
 11  Area2009    20469 non-null  float64
 12  Area2008    20059 non-null  float64
 13  Area2007    19708 non-null  float64
 14  Area2006    19364 non-null  float64
 15  Area2005    19005 non-null  float64
 16  Area2004    18678 non-null  float64
 17  Area2003    18254 non-null  float64
 18  Area2002    17879 non-null  float64
 19  Area2001    17587 non-null  float64
 20  Area2000    17128 non-null  float64
 21  Area1999    16379 non-null  float64
dtypes: float64(17), int64(5)
memory usage: 4.1 MB
None
Filtered the Bounded dataset to only rows where latest year's area is largest for each Sett_ID. Thu Jan 26 13:47:48 2023
Renamed columns to avoid duplication during merge, and dropped unnecessary columns. Thu Jan 26 13:47:48 2023
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23490 entries, 0 to 23489
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  23490 non-null  int64
 1   Sett_ID       23490 non-null  int64
 2   year          23490 non-null  int64
 3   ADM_ID        23490 non-null  int64
 4   Area2015      23490 non-null  float64
 5   Area2014      22886 non-null  float64
 6   Area2013      22457 non-null  float64
 7   Area2012      21629 non-null  float64
 8   Area2011      21316 non-null  float64
 9   Area2010      20948 non-null  float64
 10  Area2009      20471 non-null  float64
 11  Area2008      20062 non-null  float64
 12  Area2007      19712 non-null  float64
 13  Area2006      19369 non-null  float64
 14  Area2005      19010 non-null  float64
 15  Area2004      18683 non-null  float64
 16  Area2003      18259 non-null  float64
 17  Area2002      17884 non-null  float64
 18  Area2001      17592 non-null  float64
 19  Area2000      17134 non-null  float64
 20  Area1999      16385 non-null  float64
 21  Unnamed: 0_y  23490 non-null  int64
 22  Bounded_ID    23490 non-null  int64
 23  Largest2015   23490 non-null  float64
 24  Largest2014   22886 non-null  float64
 25  Largest2013   22456 non-null  float64
 26  Largest2012   21626 non-null  float64
 27  Largest2011   21315 non-null  float64
 28  Largest2010   20947 non-null  float64
 29  Largest2009   20469 non-null  float64
 30  Largest2008   20059 non-null  float64
 31  Largest2007   19708 non-null  float64
 32  Largest2006   19364 non-null  float64
 33  Largest2005   19005 non-null  float64
 34  Largest2004   18678 non-null  float64
 35  Largest2003   18254 non-null  float64
 36  Largest2002   17879 non-null  float64
 37  Largest2001   17587 non-null  float64
 38  Largest2000   17128 non-null  float64
 39  Largest1999   16379 non-null  float64
dtypes: float64(34), int64(6)
memory usage: 7.3 MB
None

In [75]:
del BoundlessAreas, BoundedAreas, LargestFragments

### 7.2 Merge and run fragmentation calculation.

In [76]:
for item in AllStudyYears:
    YY = str(item) # 4-digit year
    AreaYY = ''.join(["Area", YY]) # The Boundless area variable name
    LargestYY = ''.join(['Largest', YY]) # The Bounded largest area variable name
    FragYY = ''.join(["Frag", YY]) # Name for the fragmentation index variable
    print("Created names for Year %s's variables and temporary objects. %s" % (item, time.ctime()))
    
    FragIndices[FragYY] = ((FragIndices[AreaYY] - FragIndices[LargestYY]) / FragIndices[AreaYY]) * 100
    FragIndices[FragYY] = (FragIndices[FragYY].fillna(0).replace([np.inf, -np.inf], 0)).astype('int')
    print("Calculated fragmentation index for year %s. %s" % (item, time.ctime()))

# Remove unnecessary columns.
FragIndices = FragIndices.loc[:, ~FragIndices.columns.str.startswith('Largest')]
FragIndices = FragIndices.loc[:, ~FragIndices.columns.str.startswith('Area')]

print('Completed fragmentation index calculations for all years. %s' % time.ctime())
print(FragIndices.info())
print(FragIndices.sample(5))

Created names for Year 1999's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 1999. Thu Jan 26 13:47:48 2023
Created names for Year 2000's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2000. Thu Jan 26 13:47:48 2023
Created names for Year 2001's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2001. Thu Jan 26 13:47:48 2023
Created names for Year 2002's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2002. Thu Jan 26 13:47:48 2023
Created names for Year 2003's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2003. Thu Jan 26 13:47:48 2023
Created names for Year 2004's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2004. Thu Jan 26 13:47:48 2023
Created names for Year 2005's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2005. Thu Jan 26 13:47:48 2023
Created names for Year 2006's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2006. Thu Jan 26 13:47:48 2023
Created names for Year 2007's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2007. Thu Jan 26 13:47:48 2023
Created names for Year 2008's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2008. Thu Jan 26 13:47:48 2023
Created names for Year 2009's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2009. Thu Jan 26 13:47:48 2023
Created names for Year 2010's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2010. Thu Jan 26 13:47:48 2023
Created names for Year 2011's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2011. Thu Jan 26 13:47:48 2023
Created names for Year 2012's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2012. Thu Jan 26 13:47:48 2023
Created names for Year 2013's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2013. Thu Jan 26 13:47:48 2023
Created names for Year 2014's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2014. Thu Jan 26 13:47:48 2023
Created names for Year 2015's variables and temporary objects. Thu Jan 26 13:47:48 2023
Calculated fragmentation index for year 2015. Thu Jan 26 13:47:49 2023
Completed fragmentation index calculations for all years. Thu Jan 26 13:47:49 2023
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23490 entries, 0 to 23489
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  23490 non-null  int64
 1   Sett_ID       23490 non-null  int64
 2   year          23490 non-null  int64
 3   ADM_ID        23490 non-null  int64
 4   Unnamed: 0_y  23490 non-null  int64
 5   Bounded_ID    23490 non-null  int64
 6   Frag1999      23490 non-null  int32
 7   Frag2000      23490 non-null  int32
 8   Frag2001      23490 non-null  int32
 9   Frag2002      23490 non-null  int32
 10  Frag2003      23490 non-null  int32
 11  Frag2004      23490 non-null  int32
 12  Frag2005      23490 non-null  int32
 13  Frag2006      23490 non-null  int32
 14  Frag2007      23490 non-null  int32
 15  Frag2008      23490 non-null  int32
 16  Frag2009      23490 non-null  int32
 17  Frag2010      23490 non-null  int32
 18  Frag2011      23490 non-null  int32
 19  Frag2012      23490 non-null  int32
 20  Frag2013      23490 non-null  int32
 21  Frag2014      23490 non-null  int32
 22  Frag2015      23490 non-null  int32
dtypes: int32(17), int64(6)
memory usage: 2.8 MB
None
       Unnamed: 0_x  Sett_ID  year  ADM_ID  Unnamed: 0_y  Bounded_ID  \
4202           4202    98249  2015      71          4229       98910
19045         19045   457584  2014     154         19266      462226
1927           1927    37252  2014     196          1936       37487
12828         12828   309863  2015     163         12980      313058
7029           7029   180129  2015     330          7079      181447

       Frag1999  Frag2000  Frag2001  Frag2002  ...  Frag2006  Frag2007  \
4202          0         0         0         0  ...         0         0
19045         0         0         0         0  ...         0         0
1927          0         0         0         0  ...         0         0
12828         0         0         0         0  ...         0         0
7029          0         0         0         0  ...         0         0

       Frag2008  Frag2009  Frag2010  Frag2011  Frag2012  Frag2013  Frag2014  \
4202          0         0         0         0         0         0         0
19045         0         0         0         0         0         0         0
1927          0         0         0         0         0         0         0
12828         0         0         0         0         0         0         0
7029          0         0         0         0         0         0         0

       Frag2015
4202          0
19045         0
1927          0
12828         0
7029          0

[5 rows x 23 columns]

In [77]:
FragIndices = FragIndices.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y', 'year', 'ADM_ID'])
FragIndices.to_csv(os.path.join(ResultsFolder, 'FragIndex%sto%s.csv' % (1999, 2015)))
print('Saved to file. %s' % time.ctime())

Saved to file. Thu Jan 26 13:47:49 2023

In [78]:
del FragIndices

---

## 8. PREPARE YEARLY DATASETS: POPULATION
Can use this as a template for other annualized rasters

### 8.1 Reproject and reclassify with settlement buffer mask.
Reclassify so that we only need to work with cells within X distance of settlements.

In [157]:
MaskByZone(MaskPath=r'Results/Catchment.gpkg', MaskLayerName = "Buff2000m_2015", 
           SourceFolder='Population/SourceFiles', DestFolder='Population')

['bfa_ppp_2000_UNadj.tif', 'bfa_ppp_2001_UNadj.tif', 'bfa_ppp_2002_UNadj.tif', 'bfa_ppp_2003_UNadj.tif', 'bfa_ppp_2004_UNadj.tif', 'bfa_ppp_2005_UNadj.tif', 'bfa_ppp_2006_UNadj.tif', 'bfa_ppp_2007_UNadj.tif', 'bfa_ppp_2008_UNadj.tif', 'bfa_ppp_2009_UNadj.tif', 'bfa_ppp_2010_UNadj.tif', 'bfa_ppp_2011_UNadj.tif', 'bfa_ppp_2012_UNadj.tif', 'bfa_ppp_2013_UNadj.tif', 'bfa_ppp_2014_UNadj.tif', 'bfa_ppp_2015_UNadj.tif']
Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:43:33 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2000_UNadj.tif. Sun Feb 19 10:43:36 2023

Written to file. Sun Feb 19 10:43:38 2023

Removed intermediate file. Sun Feb 19 10:43:38 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:43:41 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2001_UNadj.tif. Sun Feb 19 10:43:45 2023

Written to file. Sun Feb 19 10:43:46 2023

Removed intermediate file. Sun Feb 19 10:43:46 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:43:49 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2002_UNadj.tif. Sun Feb 19 10:43:53 2023

Written to file. Sun Feb 19 10:43:54 2023

Removed intermediate file. Sun Feb 19 10:43:54 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:43:57 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2003_UNadj.tif. Sun Feb 19 10:44:01 2023

Written to file. Sun Feb 19 10:44:02 2023

Removed intermediate file. Sun Feb 19 10:44:02 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:44:05 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2004_UNadj.tif. Sun Feb 19 10:44:08 2023

Written to file. Sun Feb 19 10:44:10 2023

Removed intermediate file. Sun Feb 19 10:44:10 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:44:13 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2005_UNadj.tif. Sun Feb 19 10:44:16 2023

Written to file. Sun Feb 19 10:44:18 2023

Removed intermediate file. Sun Feb 19 10:44:18 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:44:21 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2006_UNadj.tif. Sun Feb 19 10:44:24 2023

Written to file. Sun Feb 19 10:44:26 2023

Removed intermediate file. Sun Feb 19 10:44:26 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:44:29 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2007_UNadj.tif. Sun Feb 19 10:44:32 2023

Written to file. Sun Feb 19 10:44:34 2023

Removed intermediate file. Sun Feb 19 10:44:34 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:44:37 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2008_UNadj.tif. Sun Feb 19 10:44:41 2023

Written to file. Sun Feb 19 10:44:42 2023

Removed intermediate file. Sun Feb 19 10:44:42 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:44:46 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2009_UNadj.tif. Sun Feb 19 10:44:49 2023

Written to file. Sun Feb 19 10:44:51 2023

Removed intermediate file. Sun Feb 19 10:44:51 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:44:54 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2010_UNadj.tif. Sun Feb 19 10:44:57 2023

Written to file. Sun Feb 19 10:44:59 2023

Removed intermediate file. Sun Feb 19 10:44:59 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:45:02 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2011_UNadj.tif. Sun Feb 19 10:45:05 2023

Written to file. Sun Feb 19 10:45:07 2023

Removed intermediate file. Sun Feb 19 10:45:07 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:45:10 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2012_UNadj.tif. Sun Feb 19 10:45:13 2023

Written to file. Sun Feb 19 10:45:15 2023

Removed intermediate file. Sun Feb 19 10:45:15 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:45:18 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2013_UNadj.tif. Sun Feb 19 10:45:22 2023

Written to file. Sun Feb 19 10:45:23 2023

Removed intermediate file. Sun Feb 19 10:45:23 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:45:27 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2014_UNadj.tif. Sun Feb 19 10:45:30 2023

Written to file. Sun Feb 19 10:45:31 2023

Removed intermediate file. Sun Feb 19 10:45:31 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:45:35 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for bfa_ppp_2015_UNadj.tif. Sun Feb 19 10:45:38 2023

Written to file. Sun Feb 19 10:45:39 2023

Removed intermediate file. Sun Feb 19 10:45:39 2023



 Finished all years in list. Sun Feb 19 10:45:39 2023

In [158]:
print(os.listdir('Population/'))

['Msk_2000.tif', 'Msk_2001.tif', 'Msk_2002.tif', 'Msk_2003.tif', 'Msk_2004.tif', 'Msk_2005.tif', 'Msk_2006.tif', 'Msk_2007.tif', 'Msk_2008.tif', 'Msk_2009.tif', 'Msk_2010.tif', 'Msk_2011.tif', 'Msk_2012.tif', 'Msk_2013.tif', 'Msk_2014.tif', 'Msk_2015.tif', 'PreDefinedFunction', 'SourceFiles']

### 8.2 Raster values summarized by settlement.
1. Convert each annualized raster to .xyz, 
2. then bring them to vector space and assign their Sett_ID,
3. and finally, aggregate the value as appropriate to the settlement level and save table to file.

XYZ is similar to .csv. Raster cell centers are stored as x and y, and their value is stored as z.

In [159]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')[['Sett_ID', 'geometry']]

In [ ]:
BatchZonalStats(FolderName='Population', Zones=Settlements, StatsWanted=['count', 'sum'], SeriesStart=2000, SeriesEnd=2015)

['Msk_2000.tif', 'Msk_2001.tif', 'Msk_2002.tif', 'Msk_2003.tif', 'Msk_2004.tif', 'Msk_2005.tif', 'Msk_2006.tif', 'Msk_2007.tif', 'Msk_2008.tif', 'Msk_2009.tif', 'Msk_2010.tif', 'Msk_2011.tif', 'Msk_2012.tif', 'Msk_2013.tif', 'Msk_2014.tif', 'Msk_2015.tif']
       Sett_ID
0            1
1            2
2            3
3            4
4            5
...        ...
23485   612616
23486   612723
23487   612934
23488   612944
23489   615066

[23490 rows x 1 columns]
Loading data for Msk_2000.tif. Sun Feb 19 10:46:44 2023

Finished gdal.Translate() for year 2000. Sun Feb 19 10:48:15 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:49:59 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:50:03 2023

---

## 9. PREPARE YEARLY DATASETS: NIGHTTIME LIGHTS

### 9.1 Reclassify with settlement buffer mask.
Reclassify so that we only need to work with cells within X distance of settlements. The two NTL sources have already been reprojected in a separate script, and cropped to Central & Western Africa.

In [148]:
MaskByZone(MaskPath = r'Results/Catchment.gpkg', MaskLayerName = 'Buff250m_2015', 
          SourceFolder = r"NTL/SourceFiles", DestFolder = 'NTL')

['D_1999_avg.tif', 'D_1999_cfc.tif', 'D_2000_avg.tif', 'D_2000_cfc.tif', 'D_2001_avg.tif', 'D_2001_cfc.tif', 'D_2002_avg.tif', 'D_2002_cfc.tif', 'D_2003_avg.tif', 'D_2003_cfc.tif', 'D_2004_avg.tif', 'D_2004_cfc.tif', 'D_2005_avg.tif', 'D_2005_cfc.tif', 'D_2006_avg.tif', 'D_2006_cfc.tif', 'D_2007_avg.tif', 'D_2007_cfc.tif', 'D_2008_avg.tif', 'D_2008_cfc.tif', 'D_2009_avg.tif', 'D_2009_cfc.tif', 'D_2010_avg.tif', 'D_2010_cfc.tif', 'D_2011_avg.tif', 'D_2011_cfc.tif', 'D_2012_avg.tif', 'D_2012_cfc.tif', 'D_2013_avg.tif', 'D_2013_cfc.tif', 'V_2012_avg.tif', 'V_2012_cfc.tif', 'V_2013_avg.tif', 'V_2013_cfc.tif', 'V_2014_avg.tif', 'V_2014_cfc.tif', 'V_2015_avg.tif', 'V_2015_cfc.tif']
Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:04 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_1999_avg.tif. Sun Feb 19 10:19:07 2023

Written to file. Sun Feb 19 10:19:07 2023

Removed intermediate file. Sun Feb 19 10:19:07 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:08 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_1999_cfc.tif. Sun Feb 19 10:19:10 2023

Written to file. Sun Feb 19 10:19:10 2023

Removed intermediate file. Sun Feb 19 10:19:10 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:12 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2000_avg.tif. Sun Feb 19 10:19:15 2023

Written to file. Sun Feb 19 10:19:15 2023

Removed intermediate file. Sun Feb 19 10:19:15 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:16 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2000_cfc.tif. Sun Feb 19 10:19:18 2023

Written to file. Sun Feb 19 10:19:18 2023

Removed intermediate file. Sun Feb 19 10:19:18 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:20 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2001_avg.tif. Sun Feb 19 10:19:23 2023

Written to file. Sun Feb 19 10:19:23 2023

Removed intermediate file. Sun Feb 19 10:19:23 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:23 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2001_cfc.tif. Sun Feb 19 10:19:26 2023

Written to file. Sun Feb 19 10:19:26 2023

Removed intermediate file. Sun Feb 19 10:19:26 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:28 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2002_avg.tif. Sun Feb 19 10:19:31 2023

Written to file. Sun Feb 19 10:19:31 2023

Removed intermediate file. Sun Feb 19 10:19:31 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:31 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2002_cfc.tif. Sun Feb 19 10:19:35 2023

Written to file. Sun Feb 19 10:19:35 2023

Removed intermediate file. Sun Feb 19 10:19:35 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:36 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2003_avg.tif. Sun Feb 19 10:19:39 2023

Written to file. Sun Feb 19 10:19:39 2023

Removed intermediate file. Sun Feb 19 10:19:39 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:40 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2003_cfc.tif. Sun Feb 19 10:19:43 2023

Written to file. Sun Feb 19 10:19:43 2023

Removed intermediate file. Sun Feb 19 10:19:43 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:44 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2004_avg.tif. Sun Feb 19 10:19:47 2023

Written to file. Sun Feb 19 10:19:47 2023

Removed intermediate file. Sun Feb 19 10:19:47 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:48 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2004_cfc.tif. Sun Feb 19 10:19:50 2023

Written to file. Sun Feb 19 10:19:50 2023

Removed intermediate file. Sun Feb 19 10:19:50 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:52 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2005_avg.tif. Sun Feb 19 10:19:55 2023

Written to file. Sun Feb 19 10:19:55 2023

Removed intermediate file. Sun Feb 19 10:19:55 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:19:56 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2005_cfc.tif. Sun Feb 19 10:19:59 2023

Written to file. Sun Feb 19 10:19:59 2023

Removed intermediate file. Sun Feb 19 10:19:59 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:00 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2006_avg.tif. Sun Feb 19 10:20:03 2023

Written to file. Sun Feb 19 10:20:03 2023

Removed intermediate file. Sun Feb 19 10:20:03 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:04 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2006_cfc.tif. Sun Feb 19 10:20:07 2023

Written to file. Sun Feb 19 10:20:07 2023

Removed intermediate file. Sun Feb 19 10:20:07 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:08 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2007_avg.tif. Sun Feb 19 10:20:11 2023

Written to file. Sun Feb 19 10:20:11 2023

Removed intermediate file. Sun Feb 19 10:20:11 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:12 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2007_cfc.tif. Sun Feb 19 10:20:15 2023

Written to file. Sun Feb 19 10:20:15 2023

Removed intermediate file. Sun Feb 19 10:20:15 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:16 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2008_avg.tif. Sun Feb 19 10:20:19 2023

Written to file. Sun Feb 19 10:20:19 2023

Removed intermediate file. Sun Feb 19 10:20:19 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:20 2023

We warped the data, so we'll use that file for next step.

Finished rasterio.mask.mask() for D_2008_cfc.tif. Sun Feb 19 10:20:23 2023

Written to file. Sun Feb 19 10:20:23 2023

Removed intermediate file. Sun Feb 19 10:20:23 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:24 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2009_avg.tif. Sun Feb 19 10:20:27 2023

Written to file. Sun Feb 19 10:20:27 2023

Removed intermediate file. Sun Feb 19 10:20:27 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:28 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2009_cfc.tif. Sun Feb 19 10:20:30 2023

Written to file. Sun Feb 19 10:20:30 2023

Removed intermediate file. Sun Feb 19 10:20:30 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:31 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2010_avg.tif. Sun Feb 19 10:20:34 2023

Written to file. Sun Feb 19 10:20:34 2023

Removed intermediate file. Sun Feb 19 10:20:34 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:35 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2010_cfc.tif. Sun Feb 19 10:20:38 2023

Written to file. Sun Feb 19 10:20:38 2023

Removed intermediate file. Sun Feb 19 10:20:38 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:39 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2011_avg.tif. Sun Feb 19 10:20:41 2023

Written to file. Sun Feb 19 10:20:41 2023

Removed intermediate file. Sun Feb 19 10:20:41 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:42 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2011_cfc.tif. Sun Feb 19 10:20:45 2023

Written to file. Sun Feb 19 10:20:45 2023

Removed intermediate file. Sun Feb 19 10:20:45 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:46 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2012_avg.tif. Sun Feb 19 10:20:49 2023

Written to file. Sun Feb 19 10:20:49 2023

Removed intermediate file. Sun Feb 19 10:20:49 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:50 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2012_cfc.tif. Sun Feb 19 10:20:53 2023

Written to file. Sun Feb 19 10:20:53 2023

Removed intermediate file. Sun Feb 19 10:20:53 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:54 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2013_avg.tif. Sun Feb 19 10:20:57 2023

Written to file. Sun Feb 19 10:20:57 2023

Removed intermediate file. Sun Feb 19 10:20:57 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:20:58 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for D_2013_cfc.tif. Sun Feb 19 10:21:01 2023

Written to file. Sun Feb 19 10:21:01 2023

Removed intermediate file. Sun Feb 19 10:21:01 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:21:05 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2012_avg.tif. Sun Feb 19 10:21:08 2023

Written to file. Sun Feb 19 10:21:08 2023

Removed intermediate file. Sun Feb 19 10:21:08 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:21:12 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2012_cfc.tif. Sun Feb 19 10:21:15 2023

Written to file. Sun Feb 19 10:21:15 2023

Removed intermediate file. Sun Feb 19 10:21:15 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:21:19 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2013_avg.tif. Sun Feb 19 10:21:23 2023

Written to file. Sun Feb 19 10:21:23 2023

Removed intermediate file. Sun Feb 19 10:21:23 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:21:26 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2013_cfc.tif. Sun Feb 19 10:21:29 2023

Written to file. Sun Feb 19 10:21:29 2023

Removed intermediate file. Sun Feb 19 10:21:29 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:21:33 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2014_avg.tif. Sun Feb 19 10:21:37 2023

Written to file. Sun Feb 19 10:21:37 2023

Removed intermediate file. Sun Feb 19 10:21:37 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:21:40 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2014_cfc.tif. Sun Feb 19 10:21:43 2023

Written to file. Sun Feb 19 10:21:44 2023

Removed intermediate file. Sun Feb 19 10:21:44 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:21:48 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2015_avg.tif. Sun Feb 19 10:21:51 2023

Written to file. Sun Feb 19 10:21:51 2023

Removed intermediate file. Sun Feb 19 10:21:51 2023

Source projection:  None
Destination projection:  Africa_Albers_Equal_Area_Conic
Finished gdal.Warp() for Msk_D_1999_avg.tif. Sun Feb 19 10:21:54 2023

We warped the data, so we'll use that file for next step.
Finished rasterio.mask.mask() for V_2015_cfc.tif. Sun Feb 19 10:21:58 2023

Written to file. Sun Feb 19 10:21:58 2023

Removed intermediate file. Sun Feb 19 10:21:58 2023



 Finished all years in list. Sun Feb 19 10:21:58 2023

In [149]:
print(os.listdir('NTL/'))

['Msk_D_1999_avg.tif', 'Msk_D_1999_cfc.tif', 'Msk_D_2000_avg.tif', 'Msk_D_2000_cfc.tif', 'Msk_D_2001_avg.tif', 'Msk_D_2001_cfc.tif', 'Msk_D_2002_avg.tif', 'Msk_D_2002_cfc.tif', 'Msk_D_2003_avg.tif', 'Msk_D_2003_cfc.tif', 'Msk_D_2004_avg.tif', 'Msk_D_2004_cfc.tif', 'Msk_D_2005_avg.tif', 'Msk_D_2005_cfc.tif', 'Msk_D_2006_avg.tif', 'Msk_D_2006_cfc.tif', 'Msk_D_2007_avg.tif', 'Msk_D_2007_cfc.tif', 'Msk_D_2008_avg.tif', 'Msk_D_2008_cfc.tif', 'Msk_D_2009_avg.tif', 'Msk_D_2009_cfc.tif', 'Msk_D_2010_avg.tif', 'Msk_D_2010_cfc.tif', 'Msk_D_2011_avg.tif', 'Msk_D_2011_cfc.tif', 'Msk_D_2012_avg.tif', 'Msk_D_2012_cfc.tif', 'Msk_D_2013_avg.tif', 'Msk_D_2013_cfc.tif', 'Msk_V_2012_avg.tif', 'Msk_V_2012_cfc.tif', 'Msk_V_2013_avg.tif', 'Msk_V_2013_cfc.tif', 'Msk_V_2014_avg.tif', 'Msk_V_2014_cfc.tif', 'Msk_V_2015_avg.tif', 'Msk_V_2015_cfc.tif', 'PreDefiningFunction', 'SourceFiles']

### 9.2 Raster values summarized by settlement.
1. Convert each annualized raster to .xyz, 
2. then bring them to vector space and assign their Sett_ID,
3. and finally, aggregate the value as appropriate to the settlement level and save table to file.

XYZ is similar to .csv. Raster cell centers are stored as x and y, and their value is stored as z.

In [152]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')[['Sett_ID', 'geometry']]

In [153]:
BatchZonalStats(FolderName = 'NTL', Zones=Settlements)

['Msk_D_1999_avg.tif', 'Msk_D_1999_cfc.tif', 'Msk_D_2000_avg.tif', 'Msk_D_2000_cfc.tif', 'Msk_D_2001_avg.tif', 'Msk_D_2001_cfc.tif', 'Msk_D_2002_avg.tif', 'Msk_D_2002_cfc.tif', 'Msk_D_2003_avg.tif', 'Msk_D_2003_cfc.tif', 'Msk_D_2004_avg.tif', 'Msk_D_2004_cfc.tif', 'Msk_D_2005_avg.tif', 'Msk_D_2005_cfc.tif', 'Msk_D_2006_avg.tif', 'Msk_D_2006_cfc.tif', 'Msk_D_2007_avg.tif', 'Msk_D_2007_cfc.tif', 'Msk_D_2008_avg.tif', 'Msk_D_2008_cfc.tif', 'Msk_D_2009_avg.tif', 'Msk_D_2009_cfc.tif', 'Msk_D_2010_avg.tif', 'Msk_D_2010_cfc.tif', 'Msk_D_2011_avg.tif', 'Msk_D_2011_cfc.tif', 'Msk_D_2012_avg.tif', 'Msk_D_2012_cfc.tif', 'Msk_D_2013_avg.tif', 'Msk_D_2013_cfc.tif', 'Msk_V_2012_avg.tif', 'Msk_V_2012_cfc.tif', 'Msk_V_2013_avg.tif', 'Msk_V_2013_cfc.tif', 'Msk_V_2014_avg.tif', 'Msk_V_2014_cfc.tif', 'Msk_V_2015_avg.tif', 'Msk_V_2015_cfc.tif']
       Sett_ID
0            1
1            2
2            3
3            4
4            5
...        ...
23485   612616
23486   612723
23487   612934
23488   612944
23489   615066

[23490 rows x 1 columns]
Loading data for Msk_D_1999_avg.tif. Sun Feb 19 10:25:22 2023

Finished gdal.Translate() for year 1999. Sun Feb 19 10:25:24 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:25:25 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:25:25 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:25:54 2023

                   Z  Sett_ID
365558  3.402823e+38   319223
380229  3.402823e+38    37192
329811  3.402823e+38    37264
383107  3.402823e+38   110952
170327  3.402823e+38   388831
654320  3.402823e+38       53
54162   3.402823e+38   388946
306097  3.402823e+38   345695
220757  3.402823e+38   117674
265518  3.402823e+38   527797

Exported as table. Sun Feb 19 10:25:56 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:25:56 2023


Desired aggregation methods applied to settlement level, year 1999. Sun Feb 19 10:25:56 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
4271    100232         19.0  6.125082e+39  3.223727e+38  3.402823e+38
3172     70840          8.0  2.722259e+39  3.402823e+38  3.402823e+38
13103   310281         13.0  4.083388e+39  3.141068e+38  3.402823e+38
15002   404333          4.0  1.020847e+39  2.552118e+38  3.402823e+38
19041   457578          4.0  1.361129e+39  3.402823e+38  3.402823e+38
8845    204346         13.0  3.743106e+39  2.879312e+38  3.402823e+38
6446    160321          4.0  1.020847e+39  2.552118e+38  3.402823e+38
11140   248050          1.0  2.816264e+00  2.816264e+00  2.816264e+00
22294   528097         73.0  2.484061e+40  3.402823e+38  3.402823e+38
7204    180356         48.0  1.633355e+40  3.402823e+38  3.402823e+38

       NTLminD_1999
4271   2.704167e+00
3172   3.402823e+38
13103  2.759764e+00
15002  2.692029e+00
19041  3.402823e+38
8845   2.926136e+00
6446   2.841667e+00
11140  2.816264e+00
22294  3.402823e+38
7204   3.402823e+38
Loading data for Msk_D_1999_cfc.tif. Sun Feb 19 10:25:56 2023

Finished gdal.Translate() for year 1999. Sun Feb 19 10:25:57 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:25:58 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:25:58 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:26:26 2023

          Z  Sett_ID
635428  255    87183
9754    255   597561
214238  255   568724
166946  255   400834
139620  255   576831
216916  255   528621
635071  255   351448
525714  255   165792
295330  255   556912
466781  255    36896

Exported as table. Sun Feb 19 10:26:27 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:26:27 2023


Count of cloud-free observations averaged to settlement level, year 1999. Sun Feb 19 10:26:27 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
14675   400494         97.0  3.232682e+40  3.332662e+38  3.402823e+38
20488   472299          4.0  1.361129e+39  3.402823e+38  3.402823e+38
6092    155861         27.0  8.847341e+39  3.276793e+38  3.402823e+38
12295   294473          6.0  1.701412e+39  2.835686e+38  3.402823e+38
8650    203899          1.0  3.402823e+38  3.402823e+38  3.402823e+38
13653   351281         22.0  7.145929e+39  3.248150e+38  3.402823e+38
2402     51505          8.0  2.381976e+39  2.977471e+38  3.402823e+38
14316   392365         35.0  1.156960e+40  3.305600e+38  3.402823e+38
17850   453763         15.0  3.743106e+39  2.495404e+38  3.402823e+38
3893     92386          5.0  1.701412e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999
14675  2.934496e+00     250.835052
20488  3.402823e+38     255.000000
6092   3.176545e+00     247.444444
12295  2.772398e+00     221.833333
8650   3.402823e+38     255.000000
13653  2.524292e+00     245.954545
2402   2.552231e+00     229.250000
14316  2.678184e+00     249.200000
17850  2.460000e+00     202.133333
3893   3.402823e+38     255.000000
Loading data for Msk_D_2000_avg.tif. Sun Feb 19 10:26:27 2023

Finished gdal.Translate() for year 2000. Sun Feb 19 10:26:29 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:26:30 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:26:30 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:26:58 2023

                   Z  Sett_ID
503871  3.402823e+38    98125
345296  3.402823e+38   137684
235808  3.402823e+38   547406
490476  3.402823e+38   165723
60782   3.402823e+38   474538
552936  3.402823e+38   249863
17044   3.402823e+38   597561
618608  3.402823e+38   236577
119590  3.402823e+38   581326
308858  3.402823e+38   556909

Exported as table. Sun Feb 19 10:27:00 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:27:00 2023


Desired aggregation methods applied to settlement level, year 2000. Sun Feb 19 10:27:00 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
13614   345695        101.0  3.436852e+40  3.402823e+38  3.402823e+38
1988     39433         21.0  6.805647e+39  3.240784e+38  3.402823e+38
19093   457639          2.0  3.402823e+38  1.701412e+38  3.402823e+38
21725   508791         40.0  1.327101e+40  3.317753e+38  3.402823e+38
20864   474781         16.0  5.104235e+39  3.190147e+38  3.402823e+38
15837   409799          3.0  6.805647e+38  2.268549e+38  3.402823e+38
17491   445635          3.0  1.020847e+39  3.402823e+38  3.402823e+38
14107   388748         29.0  9.187623e+39  3.168146e+38  3.402823e+38
1980     38991          6.0  1.701412e+39  2.835686e+38  3.402823e+38
5557    137703         11.0  3.743106e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
13614  3.402823e+38     255.000000        101.0  3.436852e+40  3.402823e+38
1988   2.953733e+00     245.333333         21.0  6.805647e+39  3.240784e+38
19093  2.431173e+00     156.000000          2.0  3.402823e+38  1.701412e+38
21725  2.681818e+00     249.975000         40.0  1.327101e+40  3.317753e+38
20864  2.635873e+00     242.625000         16.0  5.104235e+39  3.190147e+38
15837  2.491587e+00     189.333333          3.0  6.805647e+38  2.268549e+38
17491  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
14107  2.622494e+00     241.000000         29.0  9.187623e+39  3.168146e+38
1980   3.597161e+00     221.333333          6.0  1.701412e+39  2.835686e+38
5557   3.402823e+38     255.000000         11.0  3.743106e+39  3.402823e+38

       NTLmaxD_2000  NTLminD_2000
13614  3.402823e+38  3.402823e+38
1988   3.402823e+38  3.125758e+00
19093  3.402823e+38  2.552778e+00
21725  3.402823e+38  2.577381e+00
20864  3.402823e+38  2.830208e+00
15837  3.402823e+38  2.872424e+00
17491  3.402823e+38  3.402823e+38
14107  3.402823e+38  2.617402e+00
1980   3.402823e+38  3.983871e+00
5557   3.402823e+38  3.402823e+38
Loading data for Msk_D_2000_cfc.tif. Sun Feb 19 10:27:00 2023

Finished gdal.Translate() for year 2000. Sun Feb 19 10:27:01 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:27:02 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:27:02 2023

Joined zone ID onto vectorized raster cells. Sun Feb 19 10:27:30 2023

          Z  Sett_ID
298134  255   359197
568462  255   351448
92607   255   595231
239063   64   400517
370245  255   366201
457103  255   156058
84749   255   388932
109355   67   468224
262767  255   515632
526269   62    13849

Exported as table. Sun Feb 19 10:27:32 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:27:32 2023


Count of cloud-free observations averaged to settlement level, year 2000. Sun Feb 19 10:27:32 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
14433   396424          3.0  6.805647e+38  2.268549e+38  3.402823e+38
5805    138060         30.0  9.527906e+39  3.175969e+38  3.402823e+38
14808   400664         10.0  3.402823e+39  3.402823e+38  3.402823e+38
14124   388776         22.0  7.145929e+39  3.248150e+38  3.402823e+38
14426   396414          2.0  3.402823e+38  1.701412e+38  3.402823e+38
5191    125407          2.0  6.805647e+38  3.402823e+38  3.402823e+38
977      23505         14.0  4.763953e+39  3.402823e+38  3.402823e+38
1209     30013          7.0  2.381976e+39  3.402823e+38  3.402823e+38
2976     61086          3.0  1.020847e+39  3.402823e+38  3.402823e+38
4215     98263          4.0  6.805647e+38  1.701412e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
14433  3.016747e+00     186.000000          3.0  6.805647e+38  2.268549e+38
5805   2.767054e+00     241.300000         30.0  9.527906e+39  3.175969e+38
14808  3.402823e+38     255.000000         10.0  3.402823e+39  3.402823e+38
14124  2.789682e+00     245.909091         22.0  7.145929e+39  3.248150e+38
14426  2.868124e+00     155.000000          2.0  3.402823e+38  1.701412e+38
5191   3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
977    3.402823e+38     255.000000         14.0  4.763953e+39  3.402823e+38
1209   3.402823e+38     255.000000          7.0  2.381976e+39  3.402823e+38
2976   3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
4215   2.671310e+00     152.500000          4.0  6.805647e+38  1.701412e+38

       NTLmaxD_2000  NTLminD_2000  NTLcfc_D_2000
14433  3.402823e+38  3.085399e+00     191.000000
5805   3.402823e+38  2.734119e+00     242.400000
14808  3.402823e+38  3.402823e+38     255.000000
14124  3.402823e+38  2.706676e+00     246.454545
14426  3.402823e+38  2.878575e+00     159.500000
5191   3.402823e+38  3.402823e+38     255.000000
977    3.402823e+38  3.402823e+38     255.000000
1209   3.402823e+38  3.402823e+38     255.000000
2976   3.402823e+38  3.402823e+38     255.000000
4215   3.402823e+38  2.799286e+00     159.000000
Loading data for Msk_D_2001_avg.tif. Sun Feb 19 10:27:32 2023

Finished gdal.Translate() for year 2001. Sun Feb 19 10:27:33 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:27:34 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:27:35 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:28:03 2023

                   Z  Sett_ID
10301   3.402823e+38   474538
1574    3.402823e+38   612944
280989  3.402823e+38   379038
654792  3.402823e+38   351346
653771  3.402823e+38   236547
518448  3.402823e+38   165802
550021  3.402823e+38   168853
254864  3.402823e+38   557001
207066  3.402823e+38   568746
328691  3.402823e+38   351153

Exported as table. Sun Feb 19 10:28:05 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:28:05 2023


Desired aggregation methods applied to settlement level, year 2001. Sun Feb 19 10:28:05 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
17025   430644         23.0  7.826494e+39  3.402823e+38  3.402823e+38
19225   457803          1.0  3.402823e+38  3.402823e+38  3.402823e+38
21145   480279          2.0  6.805647e+38  3.402823e+38  3.402823e+38
6470    160980         11.0  3.743106e+39  3.402823e+38  3.402823e+38
1742     37036         50.0  1.701412e+40  3.402823e+38  3.402823e+38
23410   597536         13.0  4.083388e+39  3.141068e+38  3.402823e+38
7310    180486          NaN           NaN           NaN           NaN
16783   417233         22.0  7.486212e+39  3.402823e+38  3.402823e+38
17836   453343         14.0  4.763953e+39  3.402823e+38  3.402823e+38
3890     92329          9.0  2.722259e+39  3.024732e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
17025  3.402823e+38     255.000000         23.0  7.826494e+39  3.402823e+38
19225  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
21145  3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
6470   3.402823e+38     255.000000         11.0  3.743106e+39  3.402823e+38
1742   3.402823e+38     255.000000         50.0  1.701412e+40  3.402823e+38
23410  2.588275e+00     240.153846         13.0  4.083388e+39  3.141068e+38
7310            NaN            NaN          NaN           NaN           NaN
16783  3.402823e+38     255.000000         22.0  7.486212e+39  3.402823e+38
17836  3.402823e+38     255.000000         14.0  4.763953e+39  3.402823e+38
3890   2.683398e+00     232.444444          9.0  2.722259e+39  3.024732e+38

       NTLmaxD_2000  NTLminD_2000  NTLcfc_D_2000  NTLctD_2001  NTLsumD_2001  \
17025  3.402823e+38  3.402823e+38     255.000000         23.0  7.826494e+39
19225  3.402823e+38  3.402823e+38     255.000000          1.0  3.402823e+38
21145  3.402823e+38  3.402823e+38     255.000000          2.0  6.805647e+38
6470   3.402823e+38  3.402823e+38     255.000000         11.0  3.743106e+39
1742   3.402823e+38  3.402823e+38     255.000000         50.0  1.701412e+40
23410  3.402823e+38  2.622222e+00     240.153846         13.0  4.083388e+39
7310            NaN           NaN            NaN          NaN           NaN
16783  3.402823e+38  3.402823e+38     255.000000         22.0  7.486212e+39
17836  3.402823e+38  3.402823e+38     255.000000         14.0  4.763953e+39
3890   3.402823e+38  2.645637e+00     233.111111          9.0  2.722259e+39

       NTLavgD_2001  NTLmaxD_2001  NTLminD_2001
17025  3.402823e+38  3.402823e+38  3.402823e+38
19225  3.402823e+38  3.402823e+38  3.402823e+38
21145  3.402823e+38  3.402823e+38  3.402823e+38
6470   3.402823e+38  3.402823e+38  3.402823e+38
1742   3.402823e+38  3.402823e+38  3.402823e+38
23410  3.141068e+38  3.402823e+38  2.827840e+00
7310            NaN           NaN           NaN
16783  3.402823e+38  3.402823e+38  3.402823e+38
17836  3.402823e+38  3.402823e+38  3.402823e+38
3890   3.024732e+38  3.402823e+38  3.040452e+00
Loading data for Msk_D_2001_cfc.tif. Sun Feb 19 10:28:05 2023

Finished gdal.Translate() for year 2001. Sun Feb 19 10:28:06 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:28:07 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:28:07 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:28:36 2023

          Z  Sett_ID
52269   255   388932
330388  255   309921
202561  255   568769
111948  255   400843
645698  255   247089
498436  255    51259
395401  255   357062
97417   255   388946
181379  255   400807
178174  255   568642

Exported as table. Sun Feb 19 10:28:37 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:28:37 2023


Count of cloud-free observations averaged to settlement level, year 2001. Sun Feb 19 10:28:37 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
15782   409723          2.0  6.805647e+38  3.402823e+38  3.402823e+38
3795     87540         17.0  5.784800e+39  3.402823e+38  3.402823e+38
18369   454362          3.0  3.402823e+38  1.134274e+38  3.402823e+38
14465   396475         12.0  3.743106e+39  3.119255e+38  3.402823e+38
5740    137948          8.0  2.381976e+39  2.977471e+38  3.402823e+38
14699   400525         15.0  4.763953e+39  3.175969e+38  3.402823e+38
4538    102822         54.0  1.803496e+40  3.339808e+38  3.402823e+38
3435     84296         20.0  6.805647e+39  3.402823e+38  3.402823e+38
4052     95636          3.0  1.020847e+39  3.402823e+38  3.402823e+38
5770    137996         36.0  1.156960e+40  3.213778e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
15782  3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
3795   3.402823e+38     255.000000         17.0  5.784800e+39  3.402823e+38
18369  2.293592e+00     120.333333          3.0  3.402823e+38  1.134274e+38
14465  2.922481e+00     238.083333         12.0  3.743106e+39  3.119255e+38
5740   2.510669e+00     229.375000          8.0  2.381976e+39  2.977471e+38
14699  2.779226e+00     241.466667         15.0  4.763953e+39  3.175969e+38
4538   2.827635e+00     251.240741         54.0  1.803496e+40  3.339808e+38
3435   3.402823e+38     255.000000         20.0  6.805647e+39  3.402823e+38
4052   3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
5770   2.381351e+00     243.555556         36.0  1.156960e+40  3.213778e+38

       NTLmaxD_2000  NTLminD_2000  NTLcfc_D_2000  NTLctD_2001  NTLsumD_2001  \
15782  3.402823e+38  3.402823e+38     255.000000          2.0  6.805647e+38
3795   3.402823e+38  3.402823e+38     255.000000         17.0  5.784800e+39
18369  3.402823e+38  2.479361e+00     129.333333          3.0  3.402823e+38
14465  3.402823e+38  2.747242e+00     239.083333         12.0  3.743106e+39
5740   3.402823e+38  2.750000e+00     231.125000          8.0  2.381976e+39
14699  3.402823e+38  2.701954e+00     242.400000         15.0  4.763953e+39
4538   3.402823e+38  3.197881e+00     251.407407         54.0  1.803496e+40
3435   3.402823e+38  3.402823e+38     255.000000         20.0  6.805647e+39
4052   3.402823e+38  3.402823e+38     255.000000          3.0  1.020847e+39
5770   3.402823e+38  2.821359e+00     244.500000         36.0  1.156960e+40

       NTLavgD_2001  NTLmaxD_2001  NTLminD_2001  NTLcfc_D_2001
15782  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
3795   3.402823e+38  3.402823e+38  3.402823e+38     255.000000
18369  1.134274e+38  3.402823e+38  2.647700e+00     124.666667
14465  3.119255e+38  3.402823e+38  3.000000e+00     238.583333
5740   2.977471e+38  3.402823e+38  3.069122e+00     230.500000
14699  3.175969e+38  3.402823e+38  2.879386e+00     242.200000
4538   3.339808e+38  3.402823e+38  2.793035e+00     251.518519
3435   3.402823e+38  3.402823e+38  3.402823e+38     255.000000
4052   3.402823e+38  3.402823e+38  3.402823e+38     255.000000
5770   3.213778e+38  3.402823e+38  2.851852e+00     244.083333
Loading data for Msk_D_2002_avg.tif. Sun Feb 19 10:28:38 2023

Finished gdal.Translate() for year 2002. Sun Feb 19 10:28:39 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:28:40 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:28:40 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:29:09 2023

                   Z  Sett_ID
612482  3.402823e+38   351346
102809  3.402823e+38   388946
592090  3.402823e+38     6273
26188   3.402823e+38   388946
643361  3.402823e+38     1701
38010   3.402823e+38   388946
409367  3.402823e+38   132479
505253  3.402823e+38   351346
6055    3.402823e+38   612944
458767  3.402823e+38    51179

Exported as table. Sun Feb 19 10:29:11 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:29:11 2023


Desired aggregation methods applied to settlement level, year 2002. Sun Feb 19 10:29:11 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
19958   460349          3.0  6.805647e+38  2.268549e+38  3.402823e+38
11480   265958         10.0  3.062541e+39  3.062541e+38  3.402823e+38
299        348          NaN           NaN           NaN           NaN
1569     36824         29.0  8.507059e+39  2.933469e+38  3.402823e+38
8720    204030         13.0  4.423671e+39  3.402823e+38  3.402823e+38
7551    184262          8.0  2.722259e+39  3.402823e+38  3.402823e+38
3154     69842          8.0  2.381976e+39  2.977471e+38  3.402823e+38
11288   258329         24.0  7.826494e+39  3.261039e+38  3.402823e+38
1364     30211          5.0  1.701412e+39  3.402823e+38  3.402823e+38
14052   388691         22.0  7.145929e+39  3.248150e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
19958  2.502268e+00     189.000000          3.0  6.805647e+38  2.268549e+38
11480  2.611146e+00     235.200000         10.0  3.062541e+39  3.062541e+38
299             NaN            NaN          NaN           NaN           NaN
1569   2.645804e+00     226.793103         29.0  8.507059e+39  2.933469e+38
8720   3.402823e+38     255.000000         13.0  4.423671e+39  3.402823e+38
7551   3.402823e+38     255.000000          8.0  2.722259e+39  3.402823e+38
3154   2.995703e+00     229.750000          8.0  2.381976e+39  2.977471e+38
11288  2.652035e+00     246.916667         24.0  7.826494e+39  3.261039e+38
1364   3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
14052  2.755285e+00     245.818182         22.0  7.145929e+39  3.248150e+38

       ...  NTLsumD_2001  NTLavgD_2001  NTLmaxD_2001  NTLminD_2001  \
19958  ...  6.805647e+38  2.268549e+38  3.402823e+38  2.790057e+00
11480  ...  3.062541e+39  3.062541e+38  3.402823e+38  2.868056e+00
299    ...           NaN           NaN           NaN           NaN
1569   ...  8.507059e+39  2.933469e+38  3.402823e+38  2.920451e+00
8720   ...  4.423671e+39  3.402823e+38  3.402823e+38  3.402823e+38
7551   ...  2.722259e+39  3.402823e+38  3.402823e+38  3.402823e+38
3154   ...  2.381976e+39  2.977471e+38  3.402823e+38  2.871482e+00
11288  ...  7.826494e+39  3.261039e+38  3.402823e+38  2.993472e+00
1364   ...  1.701412e+39  3.402823e+38  3.402823e+38  3.402823e+38
14052  ...  7.145929e+39  3.248150e+38  3.402823e+38  2.958303e+00

       NTLcfc_D_2001  NTLctD_2002  NTLsumD_2002  NTLavgD_2002  NTLmaxD_2002  \
19958     190.000000          3.0  6.805647e+38  2.268549e+38  3.402823e+38
11480     235.600000         10.0  3.062541e+39  3.062541e+38  3.402823e+38
299              NaN          NaN           NaN           NaN           NaN
1569      227.965517         29.0  8.507059e+39  2.933469e+38  3.402823e+38
8720      255.000000         13.0  4.423671e+39  3.402823e+38  3.402823e+38
7551      255.000000          8.0  2.722259e+39  3.402823e+38  3.402823e+38
3154      230.625000          8.0  2.381976e+39  2.977471e+38  3.402823e+38
11288     247.000000         24.0  7.826494e+39  3.261039e+38  3.402823e+38
1364      255.000000          5.0  1.701412e+39  3.402823e+38  3.402823e+38
14052     246.363636         22.0  7.145929e+39  3.248150e+38  3.402823e+38

       NTLminD_2002
19958  2.500000e+00
11480  2.986495e+00
299             NaN
1569   2.942570e+00
8720   3.402823e+38
7551   3.402823e+38
3154   3.286296e+00
11288  2.701428e+00
1364   3.402823e+38
14052  2.539852e+00

[10 rows x 24 columns]
Loading data for Msk_D_2002_cfc.tif. Sun Feb 19 10:29:12 2023

Finished gdal.Translate() for year 2002. Sun Feb 19 10:29:12 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:29:13 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:29:13 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:29:42 2023

          Z  Sett_ID
233173  255   571922
23704   255   468241
153832  255   581189
523929  255   165792
177016  255   457987
544362  255    20088
18924   255   388932
259278  255   528131
107149  255   576831
53097   255   568902

Exported as table. Sun Feb 19 10:29:43 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:29:43 2023


Count of cloud-free observations averaged to settlement level, year 2002. Sun Feb 19 10:29:43 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
7480    180709          2.0  3.402823e+38  1.701412e+38  3.402823e+38
22544   534834         17.0  5.444518e+39  3.202657e+38  3.402823e+38
377        439         10.0  3.402823e+39  3.402823e+38  3.402823e+38
22419   528577         86.0  2.926428e+40  3.402823e+38  3.402823e+38
16135   415643          7.0  2.381976e+39  3.402823e+38  3.402823e+38
18404   454516         24.0  8.166776e+39  3.402823e+38  3.402823e+38
12925   309988          1.0  3.402823e+38  3.402823e+38  3.402823e+38
22916   580982         24.0  7.826494e+39  3.261039e+38  3.402823e+38
8226    203227          NaN           NaN           NaN           NaN
12017   277793          4.0  1.361129e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
7480   2.716667e+00     155.000000          2.0  3.402823e+38  1.701412e+38
22544  2.391393e+00     243.235294         17.0  5.444518e+39  3.202657e+38
377    3.402823e+38     255.000000         10.0  3.402823e+39  3.402823e+38
22419  3.402823e+38     255.000000         86.0  2.926428e+40  3.402823e+38
16135  3.402823e+38     255.000000          7.0  2.381976e+39  3.402823e+38
18404  3.402823e+38     255.000000         24.0  8.166776e+39  3.402823e+38
12925  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
22916  2.690000e+00     246.791667         24.0  7.826494e+39  3.261039e+38
8226            NaN            NaN          NaN           NaN           NaN
12017  3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38

       ...  NTLavgD_2001  NTLmaxD_2001  NTLminD_2001  NTLcfc_D_2001  \
7480   ...  1.701412e+38  3.402823e+38  3.112469e+00     156.500000
22544  ...  3.202657e+38  3.402823e+38  2.536051e+00     243.588235
377    ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
22419  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
16135  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
18404  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
12925  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
22916  ...  3.261039e+38  3.402823e+38  2.693609e+00     247.041667
8226   ...           NaN           NaN           NaN            NaN
12017  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000

       NTLctD_2002  NTLsumD_2002  NTLavgD_2002  NTLmaxD_2002  NTLminD_2002  \
7480           2.0  3.402823e+38  1.701412e+38  3.402823e+38  2.729779e+00
22544         17.0  5.444518e+39  3.202657e+38  3.402823e+38  2.398632e+00
377           10.0  3.402823e+39  3.402823e+38  3.402823e+38  3.402823e+38
22419         86.0  2.926428e+40  3.402823e+38  3.402823e+38  3.402823e+38
16135          7.0  2.381976e+39  3.402823e+38  3.402823e+38  3.402823e+38
18404         24.0  8.166776e+39  3.402823e+38  3.402823e+38  3.402823e+38
12925          1.0  3.402823e+38  3.402823e+38  3.402823e+38  3.402823e+38
22916         24.0  7.826494e+39  3.261039e+38  3.402823e+38  2.584445e+00
8226           NaN           NaN           NaN           NaN           NaN
12017          4.0  1.361129e+39  3.402823e+38  3.402823e+38  3.402823e+38

       NTLcfc_D_2002
7480      157.000000
22544     243.411765
377       255.000000
22419     255.000000
16135     255.000000
18404     255.000000
12925     255.000000
22916     246.875000
8226             NaN
12017     255.000000

[10 rows x 25 columns]
Loading data for Msk_D_2003_avg.tif. Sun Feb 19 10:29:43 2023

Finished gdal.Translate() for year 2003. Sun Feb 19 10:29:45 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:29:46 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:29:46 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:30:14 2023

                   Z  Sett_ID
25463   3.402823e+38   458340
225681  3.402823e+38   409860
299400  3.402823e+38   138148
74127   3.402823e+38   458333
253450  3.402823e+38   396608
389230  3.402823e+38   358868
236563  3.402823e+38   416042
593025  3.402823e+38       86
474444  3.402823e+38   236577
281697  3.402823e+38   508872

Exported as table. Sun Feb 19 10:30:16 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:30:16 2023


Desired aggregation methods applied to settlement level, year 2003. Sun Feb 19 10:30:16 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
7047    180155         28.0  9.187623e+39  3.281294e+38  3.402823e+38
10612   236718         22.0  7.486212e+39  3.402823e+38  3.402823e+38
6812    166062         65.0  2.211835e+40  3.402823e+38  3.402823e+38
7726    187408          6.0  1.701412e+39  2.835686e+38  3.402823e+38
22248   527978          8.0  2.722259e+39  3.402823e+38  3.402823e+38
22105   519864          9.0  2.722259e+39  3.024732e+38  3.402823e+38
17765   447200          2.0  3.402823e+38  1.701412e+38  3.402823e+38
23111   581383          2.0  6.805647e+38  3.402823e+38  3.402823e+38
15335   409066          9.0  2.722259e+39  3.024732e+38  3.402823e+38
10630   237846        176.0  5.988969e+40  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
7047   2.775570e+00     247.785714         28.0  9.187623e+39  3.281294e+38
10612  3.402823e+38     255.000000         22.0  7.486212e+39  3.402823e+38
6812   3.402823e+38     255.000000         65.0  2.211835e+40  3.402823e+38
7726   2.810714e+00     221.666667          6.0  1.701412e+39  2.835686e+38
22248  3.402823e+38     255.000000          8.0  2.722259e+39  3.402823e+38
22105  2.489365e+00     233.000000          9.0  2.722259e+39  3.024732e+38
17765  2.622549e+00     158.000000          2.0  3.402823e+38  1.701412e+38
23111  3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
15335  2.625432e+00     233.111111          9.0  2.722259e+39  3.024732e+38
10630  3.402823e+38     255.000000        176.0  5.988969e+40  3.402823e+38

       ...  NTLsumD_2002  NTLavgD_2002  NTLmaxD_2002  NTLminD_2002  \
7047   ...  9.187623e+39  3.281294e+38  3.402823e+38  2.616049e+00
10612  ...  7.486212e+39  3.402823e+38  3.402823e+38  3.402823e+38
6812   ...  2.211835e+40  3.402823e+38  3.402823e+38  3.402823e+38
7726   ...  1.701412e+39  2.835686e+38  3.402823e+38  2.818954e+00
22248  ...  2.722259e+39  3.402823e+38  3.402823e+38  3.402823e+38
22105  ...  2.722259e+39  3.024732e+38  3.402823e+38  2.563333e+00
17765  ...  3.402823e+38  1.701412e+38  3.402823e+38  2.521739e+00
23111  ...  6.805647e+38  3.402823e+38  3.402823e+38  3.402823e+38
15335  ...  2.722259e+39  3.024732e+38  3.402823e+38  2.721257e+00
10630  ...  5.988969e+40  3.402823e+38  3.402823e+38  3.402823e+38

       NTLcfc_D_2002  NTLctD_2003  NTLsumD_2003  NTLavgD_2003  NTLmaxD_2003  \
7047      247.964286         28.0  9.187623e+39  3.281294e+38  3.402823e+38
10612     255.000000         22.0  7.486212e+39  3.402823e+38  3.402823e+38
6812      255.000000         65.0  2.211835e+40  3.402823e+38  3.402823e+38
7726      222.166667          6.0  1.701412e+39  2.835686e+38  3.402823e+38
22248     255.000000          8.0  2.722259e+39  3.402823e+38  3.402823e+38
22105     233.666667          9.0  2.722259e+39  3.024732e+38  3.402823e+38
17765     157.000000          2.0  3.402823e+38  1.701412e+38  3.402823e+38
23111     255.000000          2.0  6.805647e+38  3.402823e+38  3.402823e+38
15335     232.888889          9.0  2.722259e+39  3.024732e+38  3.402823e+38
10630     255.000000        176.0  5.988969e+40  3.402823e+38  3.402823e+38

       NTLminD_2003
7047   2.036782e+00
10612  3.402823e+38
6812   3.402823e+38
7726   2.166667e+00
22248  3.402823e+38
22105  2.193111e+00
17765  1.934426e+00
23111  3.402823e+38
15335  2.190476e+00
10630  3.402823e+38

[10 rows x 30 columns]
Loading data for Msk_D_2003_cfc.tif. Sun Feb 19 10:30:17 2023

Finished gdal.Translate() for year 2003. Sun Feb 19 10:30:18 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:30:19 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:30:19 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:30:47 2023

          Z  Sett_ID
134427  255   388946
524250  255   351448
466997  255   155826
633532  255       41
399862  255   331856
561523  255      555
196652  255   400708
65436   255   597321
224165  255   568681
384441  255   247860

Exported as table. Sun Feb 19 10:30:48 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:30:48 2023


Count of cloud-free observations averaged to settlement level, year 2003. Sun Feb 19 10:30:48 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
824      15041          NaN           NaN           NaN           NaN
9762    219490          9.0  3.062541e+39  3.402823e+38  3.402823e+38
3519     85513         17.0  5.444518e+39  3.202657e+38  3.402823e+38
6634    165815         13.0  4.083388e+39  3.141068e+38  3.402823e+38
6679    165868         17.0  5.444518e+39  3.202657e+38  3.402823e+38
216        255          6.0  2.041694e+39  3.402823e+38  3.402823e+38
18200   454176          3.0  1.020847e+39  3.402823e+38  3.402823e+38
13031   310148          9.0  2.722259e+39  3.024732e+38  3.402823e+38
13058   310188          6.0  2.041694e+39  3.402823e+38  3.402823e+38
4801    117382          1.0  2.964379e+00  2.964379e+00  2.964379e+00

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
824             NaN            NaN          NaN           NaN           NaN
9762   3.402823e+38     255.000000          9.0  3.062541e+39  3.402823e+38
3519   2.713115e+00     242.941176         17.0  5.444518e+39  3.202657e+38
6634   2.621212e+00     239.769231         13.0  4.083388e+39  3.141068e+38
6679   2.702946e+00     243.352941         17.0  5.444518e+39  3.202657e+38
216    3.402823e+38     255.000000          6.0  2.041694e+39  3.402823e+38
18200  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
13031  2.644444e+00     232.555556          9.0  2.722259e+39  3.024732e+38
13058  3.402823e+38     255.000000          6.0  2.041694e+39  3.402823e+38
4801   2.964379e+00      58.000000          1.0  2.756061e+00  2.756061e+00

       ...  NTLavgD_2002  NTLmaxD_2002  NTLminD_2002  NTLcfc_D_2002  \
824    ...           NaN           NaN           NaN            NaN
9762   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
3519   ...  3.202657e+38  3.402823e+38  2.767673e+00     243.058824
6634   ...  3.141068e+38  3.402823e+38  2.846557e+00     239.769231
6679   ...  3.202657e+38  3.402823e+38  2.952394e+00     243.588235
216    ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
18200  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
13031  ...  3.024732e+38  3.402823e+38  2.546107e+00     232.777778
13058  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
4801   ...  2.806974e+00  2.806974e+00  2.806974e+00      61.000000

       NTLctD_2003  NTLsumD_2003  NTLavgD_2003  NTLmaxD_2003  NTLminD_2003  \
824            NaN           NaN           NaN           NaN           NaN
9762           9.0  3.062541e+39  3.402823e+38  3.402823e+38  3.402823e+38
3519          17.0  5.444518e+39  3.202657e+38  3.402823e+38  2.025131e+00
6634          13.0  4.083388e+39  3.141068e+38  3.402823e+38  1.970844e+00
6679          17.0  5.444518e+39  3.202657e+38  3.402823e+38  2.148317e+00
216            6.0  2.041694e+39  3.402823e+38  3.402823e+38  3.402823e+38
18200          3.0  1.020847e+39  3.402823e+38  3.402823e+38  3.402823e+38
13031          9.0  2.722259e+39  3.024732e+38  3.402823e+38  2.194890e+00
13058          6.0  2.041694e+39  3.402823e+38  3.402823e+38  3.402823e+38
4801           1.0  2.517045e+00  2.517045e+00  2.517045e+00  2.517045e+00

       NTLcfc_D_2003
824              NaN
9762      255.000000
3519      242.705882
6634      239.000000
6679      242.882353
216       255.000000
18200     255.000000
13031     232.333333
13058     255.000000
4801       52.000000

[10 rows x 31 columns]
Loading data for Msk_D_2004_avg.tif. Sun Feb 19 10:30:49 2023

Finished gdal.Translate() for year 2004. Sun Feb 19 10:30:50 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:30:51 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:30:51 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:31:20 2023

                   Z  Sett_ID
191203  3.402823e+38   388927
11851   3.402823e+38   388946
57435   3.402823e+38   581615
55622   3.402823e+38   597544
376151  3.402823e+38   199973
41293   3.402823e+38   597561
508371  2.796747e+00      773
653066  3.402823e+38   351211
217010  3.402823e+38   568745
77724   3.402823e+38   458333

Exported as table. Sun Feb 19 10:31:22 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:31:22 2023


Desired aggregation methods applied to settlement level, year 2004. Sun Feb 19 10:31:22 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
8421    203559          1.0  3.402823e+38  3.402823e+38  3.402823e+38
4467    102720          8.0  2.381976e+39  2.977471e+38  3.402823e+38
15155   404728          5.0  1.701412e+39  3.402823e+38  3.402823e+38
21585   502117         11.0  3.743106e+39  3.402823e+38  3.402823e+38
7514    183195          NaN           NaN           NaN           NaN
12509   295037          1.0  3.402823e+38  3.402823e+38  3.402823e+38
4676    117233         10.0  2.722259e+39  2.722259e+38  3.402823e+38
18795   457257          5.0  1.701412e+39  3.402823e+38  3.402823e+38
16790   417266         16.0  5.444518e+39  3.402823e+38  3.402823e+38
6891    169204          6.0  2.041694e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
8421   3.402823e+38        255.000          1.0  3.402823e+38  3.402823e+38
4467   2.925439e+00        229.625          8.0  2.381976e+39  2.977471e+38
15155  3.402823e+38        255.000          5.0  1.701412e+39  3.402823e+38
21585  3.402823e+38        255.000         11.0  3.743106e+39  3.402823e+38
7514            NaN            NaN          NaN           NaN           NaN
12509  3.402823e+38        255.000          1.0  3.402823e+38  3.402823e+38
4676   2.598438e+00        214.800         10.0  2.722259e+39  2.722259e+38
18795  3.402823e+38        255.000          5.0  1.701412e+39  3.402823e+38
16790  3.402823e+38        255.000         16.0  5.444518e+39  3.402823e+38
6891   3.402823e+38        255.000          6.0  2.041694e+39  3.402823e+38

       ...  NTLsumD_2003  NTLavgD_2003  NTLmaxD_2003  NTLminD_2003  \
8421   ...  3.402823e+38  3.402823e+38  3.402823e+38  3.402823e+38
4467   ...  2.381976e+39  2.977471e+38  3.402823e+38  2.232936e+00
15155  ...  1.701412e+39  3.402823e+38  3.402823e+38  3.402823e+38
21585  ...  3.743106e+39  3.402823e+38  3.402823e+38  3.402823e+38
7514   ...           NaN           NaN           NaN           NaN
12509  ...  3.402823e+38  3.402823e+38  3.402823e+38  3.402823e+38
4676   ...  2.722259e+39  2.722259e+38  3.402823e+38  2.334203e+00
18795  ...  1.701412e+39  3.402823e+38  3.402823e+38  3.402823e+38
16790  ...  5.444518e+39  3.402823e+38  3.402823e+38  3.402823e+38
6891   ...  2.041694e+39  3.402823e+38  3.402823e+38  3.402823e+38

       NTLcfc_D_2003  NTLctD_2004  NTLsumD_2004  NTLavgD_2004  NTLmaxD_2004  \
8421         255.000          1.0  3.402823e+38  3.402823e+38  3.402823e+38
4467         229.625          8.0  2.381976e+39  2.977471e+38  3.402823e+38
15155        255.000          5.0  1.701412e+39  3.402823e+38  3.402823e+38
21585        255.000         11.0  3.743106e+39  3.402823e+38  3.402823e+38
7514             NaN          NaN           NaN           NaN           NaN
12509        255.000          1.0  3.402823e+38  3.402823e+38  3.402823e+38
4676         214.200         10.0  2.722259e+39  2.722259e+38  3.402823e+38
18795        255.000          5.0  1.701412e+39  3.402823e+38  3.402823e+38
16790        255.000         16.0  5.444518e+39  3.402823e+38  3.402823e+38
6891         255.000          6.0  2.041694e+39  3.402823e+38  3.402823e+38

       NTLminD_2004
8421   3.402823e+38
4467   2.781710e+00
15155  3.402823e+38
21585  3.402823e+38
7514            NaN
12509  3.402823e+38
4676   2.686267e+00
18795  3.402823e+38
16790  3.402823e+38
6891   3.402823e+38

[10 rows x 36 columns]
Loading data for Msk_D_2004_cfc.tif. Sun Feb 19 10:31:23 2023

Finished gdal.Translate() for year 2004. Sun Feb 19 10:31:24 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:31:25 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:31:25 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:31:54 2023

          Z  Sett_ID
604957  255    84301
526491  255    87480
395385  255   351319
560704  255    87315
32039   255   475265
465043  255    51458
174422  255   417248
432387  255   351312
592646  255   351346
8225    255   388946

Exported as table. Sun Feb 19 10:31:55 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:31:55 2023


Count of cloud-free observations averaged to settlement level, year 2004. Sun Feb 19 10:31:55 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
19319   457918          3.0  6.805647e+38  2.268549e+38  3.402823e+38
17471   445608          1.0  3.402823e+38  3.402823e+38  3.402823e+38
15165   404756         14.0  4.763953e+39  3.402823e+38  3.402823e+38
12981   310082          1.0  3.402823e+38  3.402823e+38  3.402823e+38
2308     51374          5.0  1.701412e+39  3.402823e+38  3.402823e+38
11556   266126         20.0  6.465365e+39  3.232682e+38  3.402823e+38
15526   409332          2.0  3.402823e+38  1.701412e+38  3.402823e+38
11723   273306         46.0  1.531271e+40  3.328849e+38  3.402823e+38
5715    137921         14.0  4.423671e+39  3.159765e+38  3.402823e+38
16286   416043          2.0  6.805647e+38  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
19319  2.768939e+00     188.333333          3.0  6.805647e+38  2.268549e+38
17471  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
15165  3.402823e+38     255.000000         14.0  4.763953e+39  3.402823e+38
12981  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
2308   3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
11556  2.888738e+00     245.150000         20.0  6.465365e+39  3.232682e+38
15526  2.571023e+00     156.000000          2.0  3.402823e+38  1.701412e+38
11723  2.777534e+00     250.804348         46.0  1.531271e+40  3.328849e+38
5715   2.804481e+00     240.285714         14.0  4.423671e+39  3.159765e+38
16286  3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38

       ...  NTLavgD_2003  NTLmaxD_2003  NTLminD_2003  NTLcfc_D_2003  \
19319  ...  2.268549e+38  3.402823e+38  2.179089e+00     187.333333
17471  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
15165  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
12981  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
2308   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
11556  ...  3.232682e+38  3.402823e+38  2.269913e+00     244.850000
15526  ...  1.701412e+38  3.402823e+38  2.064236e+00     152.500000
11723  ...  3.328849e+38  3.402823e+38  1.815179e+00     250.543478
5715   ...  3.159765e+38  3.402823e+38  2.354342e+00     240.357143
16286  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000

       NTLctD_2004  NTLsumD_2004  NTLavgD_2004  NTLmaxD_2004  NTLminD_2004  \
19319          3.0  6.805647e+38  2.268549e+38  3.402823e+38  2.261947e+00
17471          1.0  3.402823e+38  3.402823e+38  3.402823e+38  3.402823e+38
15165         14.0  4.763953e+39  3.402823e+38  3.402823e+38  3.402823e+38
12981          1.0  3.402823e+38  3.402823e+38  3.402823e+38  3.402823e+38
2308           5.0  1.701412e+39  3.402823e+38  3.402823e+38  3.402823e+38
11556         20.0  6.465365e+39  3.232682e+38  3.402823e+38  2.544796e+00
15526          2.0  3.402823e+38  1.701412e+38  3.402823e+38  2.336663e+00
11723         46.0  1.531271e+40  3.328849e+38  3.402823e+38  2.284616e+00
5715          14.0  4.423671e+39  3.159765e+38  3.402823e+38  2.403718e+00
16286          2.0  6.805647e+38  3.402823e+38  3.402823e+38  3.402823e+38

       NTLcfc_D_2004
19319     194.000000
17471     255.000000
15165     255.000000
12981     255.000000
2308      255.000000
11556     245.650000
15526     160.500000
11723     250.891304
5715      241.714286
16286     255.000000

[10 rows x 37 columns]
Loading data for Msk_D_2005_avg.tif. Sun Feb 19 10:31:56 2023

Finished gdal.Translate() for year 2005. Sun Feb 19 10:31:58 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:31:59 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:31:59 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:32:29 2023

                   Z  Sett_ID
174647  3.402823e+38   568874
506544  3.402823e+38    54050
367861  3.402823e+38   129963
45882   3.402823e+38   568902
213001  3.113179e+00   453764
149064  3.402823e+38   468355
543533  3.402823e+38    89563
434303  3.402823e+38    37031
463859  3.402823e+38   351448
479889  3.402823e+38   237822

Exported as table. Sun Feb 19 10:32:31 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:32:31 2023


Desired aggregation methods applied to settlement level, year 2005. Sun Feb 19 10:32:31 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
11969   277690          2.0  3.402823e+38  1.701412e+38  3.402823e+38
12208   294277          3.0  6.805647e+38  2.268549e+38  3.402823e+38
20186   468230          2.0  3.402823e+38  1.701412e+38  3.402823e+38
20117   467734          1.0  2.285434e+00  2.285434e+00  2.285434e+00
19594   458256         11.0  3.402823e+39  3.093476e+38  3.402823e+38
7682    186771          2.0  3.402823e+38  1.701412e+38  3.402823e+38
9058    206802          NaN           NaN           NaN           NaN
12280   294446         13.0  4.423671e+39  3.402823e+38  3.402823e+38
17919   453861          2.0  6.805647e+38  3.402823e+38  3.402823e+38
17777   448074          9.0  2.722259e+39  3.024732e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
11969  2.765583e+00     155.000000          2.0  3.402823e+38  1.701412e+38
12208  2.716734e+00     188.333333          3.0  6.805647e+38  2.268549e+38
20186  2.833688e+00     154.500000          2.0  3.402823e+38  1.701412e+38
20117  2.285434e+00      56.000000          1.0  2.903968e+00  2.903968e+00
19594  2.460829e+00     236.636364         11.0  3.402823e+39  3.093476e+38
7682   2.662191e+00     155.000000          2.0  3.402823e+38  1.701412e+38
9058            NaN            NaN          NaN           NaN           NaN
12280  3.402823e+38     255.000000         13.0  4.423671e+39  3.402823e+38
17919  3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
17777  2.417669e+00     233.222222          9.0  2.722259e+39  3.024732e+38

       ...  NTLsumD_2004  NTLavgD_2004  NTLmaxD_2004  NTLminD_2004  \
11969  ...  3.402823e+38  1.701412e+38  3.402823e+38  2.278555e+00
12208  ...  6.805647e+38  2.268549e+38  3.402823e+38  2.347854e+00
20186  ...  3.402823e+38  1.701412e+38  3.402823e+38  2.336775e+00
20117  ...  2.171459e+00  2.171459e+00  2.171459e+00  2.171459e+00
19594  ...  3.402823e+39  3.093476e+38  3.402823e+38  2.239726e+00
7682   ...  3.402823e+38  1.701412e+38  3.402823e+38  2.559186e+00
9058   ...           NaN           NaN           NaN           NaN
12280  ...  4.423671e+39  3.402823e+38  3.402823e+38  3.402823e+38
17919  ...  6.805647e+38  3.402823e+38  3.402823e+38  3.402823e+38
17777  ...  2.722259e+39  3.024732e+38  3.402823e+38  2.155329e+00

       NTLcfc_D_2004  NTLctD_2005  NTLsumD_2005  NTLavgD_2005  NTLmaxD_2005  \
11969     161.500000          2.0  3.402823e+38  1.701412e+38  3.402823e+38
12208     193.000000          3.0  6.805647e+38  2.268549e+38  3.402823e+38
20186     165.000000          2.0  3.402823e+38  1.701412e+38  3.402823e+38
20117      72.000000          1.0  1.930171e+00  1.930171e+00  1.930171e+00
19594     238.454545         11.0  3.402823e+39  3.093476e+38  3.402823e+38
7682      160.000000          2.0  3.402823e+38  1.701412e+38  3.402823e+38
9058             NaN          NaN           NaN           NaN           NaN
12280     255.000000         13.0  4.423671e+39  3.402823e+38  3.402823e+38
17919     255.000000          2.0  6.805647e+38  3.402823e+38  3.402823e+38
17777     234.000000          9.0  2.722259e+39  3.024732e+38  3.402823e+38

       NTLminD_2005
11969  2.250000e+00
12208  2.036725e+00
20186  1.891952e+00
20117  1.930171e+00
19594  1.927128e+00
7682   2.207126e+00
9058            NaN
12280  3.402823e+38
17919  3.402823e+38
17777  2.042114e+00

[10 rows x 42 columns]
Loading data for Msk_D_2005_cfc.tif. Sun Feb 19 10:32:32 2023

Finished gdal.Translate() for year 2005. Sun Feb 19 10:32:33 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:32:34 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:32:34 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:33:03 2023

          Z  Sett_ID
563582  255   165795
454108  255    40647
293325  255   501571
614662  255       53
470011  255   247304
310845  255    37253
54260   255   400843
461462  255    65053
605171  255   249863
442062   68   247181

Exported as table. Sun Feb 19 10:33:04 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:33:04 2023


Count of cloud-free observations averaged to settlement level, year 2005. Sun Feb 19 10:33:04 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
11475   265945          7.0  1.701412e+39  2.430588e+38  3.402823e+38
18008   453961          4.0  1.020847e+39  2.552118e+38  3.402823e+38
16051   415482         40.0  1.327101e+40  3.317753e+38  3.402823e+38
13384   318828         19.0  6.125082e+39  3.223727e+38  3.402823e+38
22332   528179         19.0  6.465365e+39  3.402823e+38  3.402823e+38
10555   236609         14.0  4.423671e+39  3.159765e+38  3.402823e+38
1793     37093          7.0  2.041694e+39  2.916706e+38  3.402823e+38
59          68         20.0  6.805647e+39  3.402823e+38  3.402823e+38
15653   409549         11.0  3.402823e+39  3.093476e+38  3.402823e+38
16678   416985         12.0  4.083388e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
11475  2.928030e+00     198.428571          7.0  1.701412e+39  2.430588e+38
18008  2.579648e+00     205.750000          4.0  1.020847e+39  2.552118e+38
16051  2.601326e+00     250.050000         40.0  1.327101e+40  3.317753e+38
13384  2.728431e+00     244.526316         19.0  6.125082e+39  3.223727e+38
22332  3.402823e+38     255.000000         19.0  6.465365e+39  3.402823e+38
10555  2.938998e+00     240.857143         14.0  4.423671e+39  3.159765e+38
1793   2.874603e+00     226.142857          7.0  2.041694e+39  2.916706e+38
59     3.402823e+38     255.000000         20.0  6.805647e+39  3.402823e+38
15653  2.369139e+00     237.272727         11.0  3.402823e+39  3.093476e+38
16678  3.402823e+38     255.000000         12.0  4.083388e+39  3.402823e+38

       ...  NTLavgD_2004  NTLmaxD_2004  NTLminD_2004  NTLcfc_D_2004  \
11475  ...  2.430588e+38  3.402823e+38  2.538352e+00     200.857143
18008  ...  2.552118e+38  3.402823e+38  2.366830e+00     208.750000
16051  ...  3.317753e+38  3.402823e+38  2.308259e+00     250.350000
13384  ...  3.223727e+38  3.402823e+38  2.330779e+00     245.368421
22332  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
10555  ...  3.159765e+38  3.402823e+38  2.592597e+00     241.500000
1793   ...  2.916706e+38  3.402823e+38  2.711599e+00     227.857143
59     ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
15653  ...  3.093476e+38  3.402823e+38  2.405933e+00     237.545455
16678  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000

       NTLctD_2005  NTLsumD_2005  NTLavgD_2005  NTLmaxD_2005  NTLminD_2005  \
11475          7.0  1.701412e+39  2.430588e+38  3.402823e+38  2.230212e+00
18008          4.0  1.020847e+39  2.552118e+38  3.402823e+38  1.877502e+00
16051         40.0  1.327101e+40  3.317753e+38  3.402823e+38  1.964373e+00
13384         19.0  6.125082e+39  3.223727e+38  3.402823e+38  2.031392e+00
22332         19.0  6.465365e+39  3.402823e+38  3.402823e+38  3.402823e+38
10555         14.0  4.423671e+39  3.159765e+38  3.402823e+38  2.177203e+00
1793           7.0  2.041694e+39  2.916706e+38  3.402823e+38  1.980699e+00
59            20.0  6.805647e+39  3.402823e+38  3.402823e+38  3.402823e+38
15653         11.0  3.402823e+39  3.093476e+38  3.402823e+38  1.999254e+00
16678         12.0  4.083388e+39  3.402823e+38  3.402823e+38  3.402823e+38

       NTLcfc_D_2005
11475     201.857143
18008     209.750000
16051     250.375000
13384     245.000000
22332     255.000000
10555     241.500000
1793      228.142857
59        255.000000
15653     238.090909
16678     255.000000

[10 rows x 43 columns]
Loading data for Msk_D_2006_avg.tif. Sun Feb 19 10:33:06 2023

Finished gdal.Translate() for year 2006. Sun Feb 19 10:33:07 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:33:08 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:33:08 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:33:37 2023

                   Z  Sett_ID
417037  3.402823e+38   351319
169384  3.402823e+38   359342
41095   3.402823e+38   597335
591327  3.402823e+38    84361
197114  3.402823e+38   568787
311645  3.402823e+38   359103
88046   3.402823e+38   581592
456205  3.402823e+38   162616
74870   3.402823e+38   388946
453179  3.402823e+38   358868

Exported as table. Sun Feb 19 10:33:39 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:33:39 2023


Desired aggregation methods applied to settlement level, year 2006. Sun Feb 19 10:33:39 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
22605   556871         30.0  9.187623e+39  3.062541e+38  3.402823e+38
3899     92495          3.0  6.805647e+38  2.268549e+38  3.402823e+38
18454   455741          1.0  3.402823e+38  3.402823e+38  3.402823e+38
6320    156201          1.0  3.369249e+00  3.369249e+00  3.369249e+00
8671    203935          1.0  2.737273e+00  2.737273e+00  2.737273e+00
14124   388776         22.0  7.145929e+39  3.248150e+38  3.402823e+38
5794    138046          2.0  3.402823e+38  1.701412e+38  3.402823e+38
5776    138011         55.0  1.837525e+40  3.340954e+38  3.402823e+38
4884    117501          1.0  3.402823e+38  3.402823e+38  3.402823e+38
22402   528494         46.0  1.565299e+40  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
22605  2.639011e+00     235.300000         30.0  9.187623e+39  3.062541e+38
3899   2.460069e+00     187.666667          3.0  6.805647e+38  2.268549e+38
18454  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
6320   3.369249e+00      50.000000          1.0  3.709086e+00  3.709086e+00
8671   2.737273e+00      58.000000          1.0  2.886349e+00  2.886349e+00
14124  2.789682e+00     245.909091         22.0  7.145929e+39  3.248150e+38
5794   2.979439e+00     151.000000          2.0  3.402823e+38  1.701412e+38
5776   2.896429e+00     251.309091         55.0  1.837525e+40  3.340954e+38
4884   3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
22402  3.402823e+38     255.000000         46.0  1.565299e+40  3.402823e+38

       ...  NTLsumD_2005  NTLavgD_2005  NTLmaxD_2005  NTLminD_2005  \
22605  ...  9.187623e+39  3.062541e+38  3.402823e+38  2.025033e+00
3899   ...  6.805647e+38  2.268549e+38  3.402823e+38  2.200969e+00
18454  ...  3.402823e+38  3.402823e+38  3.402823e+38  3.402823e+38
6320   ...  2.566675e+00  2.566675e+00  2.566675e+00  2.566675e+00
8671   ...  1.931944e+00  1.931944e+00  1.931944e+00  1.931944e+00
14124  ...  7.145929e+39  3.248150e+38  3.402823e+38  2.026177e+00
5794   ...  3.402823e+38  1.701412e+38  3.402823e+38  2.039220e+00
5776   ...  1.837525e+40  3.340954e+38  3.402823e+38  2.202733e+00
4884   ...  3.402823e+38  3.402823e+38  3.402823e+38  3.402823e+38
22402  ...  1.565299e+40  3.402823e+38  3.402823e+38  3.402823e+38

       NTLcfc_D_2005  NTLctD_2006  NTLsumD_2006  NTLavgD_2006  NTLmaxD_2006  \
22605     236.266667         30.0  9.187623e+39  3.062541e+38  3.402823e+38
3899      190.000000          3.0  6.805647e+38  2.268549e+38  3.402823e+38
18454     255.000000          1.0  3.402823e+38  3.402823e+38  3.402823e+38
6320       67.000000          1.0  2.493585e+00  2.493585e+00  2.493585e+00
8671       71.000000          1.0  2.046321e+00  2.046321e+00  2.046321e+00
14124     246.818182         22.0  7.145929e+39  3.248150e+38  3.402823e+38
5794      162.500000          2.0  3.402823e+38  1.701412e+38  3.402823e+38
5776      251.618182         55.0  1.837525e+40  3.340954e+38  3.402823e+38
4884      255.000000          1.0  3.402823e+38  3.402823e+38  3.402823e+38
22402     255.000000         46.0  1.565299e+40  3.402823e+38  3.402823e+38

       NTLminD_2006
22605  2.105045e+00
3899   2.567633e+00
18454  3.402823e+38
6320   2.493585e+00
8671   2.046321e+00
14124  2.126508e+00
5794   2.319892e+00
5776   2.456486e+00
4884   3.402823e+38
22402  3.402823e+38

[10 rows x 48 columns]
Loading data for Msk_D_2006_cfc.tif. Sun Feb 19 10:33:41 2023

Finished gdal.Translate() for year 2006. Sun Feb 19 10:33:42 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:33:43 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:33:43 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:34:12 2023

          Z  Sett_ID
80227   255   388932
194748  255   388882
310332   57   203935
35991   255   568902
388522  255   102717
200123  255   388882
161514  255   400842
83820   255   388931
655109  255       41
528160  255      724

Exported as table. Sun Feb 19 10:34:13 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:34:13 2023


Count of cloud-free observations averaged to settlement level, year 2006. Sun Feb 19 10:34:14 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
20121   468124          2.0  3.402823e+38  1.701412e+38  3.402823e+38
656       5255          3.0  1.020847e+39  3.402823e+38  3.402823e+38
8454    203614          1.0  3.402823e+38  3.402823e+38  3.402823e+38
20015   462687          1.0  2.518939e+00  2.518939e+00  2.518939e+00
13          14         30.0  8.507059e+39  2.835686e+38  3.402823e+38
7983    192799         53.0  1.769468e+40  3.338619e+38  3.402823e+38
8832    204326          4.0  1.361129e+39  3.402823e+38  3.402823e+38
12236   294334          2.0  3.402823e+38  1.701412e+38  3.402823e+38
11158   248080          8.0  2.722259e+39  3.402823e+38  3.402823e+38
12468   294888         22.0  7.145929e+39  3.248150e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
20121  2.525850e+00     155.000000          2.0  3.402823e+38  1.701412e+38
656    3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
8454   3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
20015  2.518939e+00      56.000000          1.0  2.838846e+00  2.838846e+00
13     2.894952e+00     221.166667         30.0  8.507059e+39  2.835686e+38
7983   2.450550e+00     251.226415         53.0  1.769468e+40  3.338619e+38
8832   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
12236  2.721320e+00     154.500000          2.0  3.402823e+38  1.701412e+38
11158  3.402823e+38     255.000000          8.0  2.722259e+39  3.402823e+38
12468  2.966434e+00     245.909091         22.0  7.145929e+39  3.248150e+38

       ...  NTLavgD_2005  NTLmaxD_2005  NTLminD_2005  NTLcfc_D_2005  \
20121  ...  1.701412e+38  3.402823e+38  2.010959e+00     163.500000
656    ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
8454   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
20015  ...  1.973333e+00  1.973333e+00  1.973333e+00      75.000000
13     ...  2.835686e+38  3.402823e+38  2.123733e+00     223.733333
7983   ...  3.338619e+38  3.402823e+38  2.132130e+00     251.490566
8832   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
12236  ...  1.701412e+38  3.402823e+38  1.930238e+00     161.500000
11158  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
12468  ...  3.248150e+38  3.402823e+38  1.832424e+00     246.636364

       NTLctD_2006  NTLsumD_2006  NTLavgD_2006  NTLmaxD_2006  NTLminD_2006  \
20121          2.0  3.402823e+38  1.701412e+38  3.402823e+38  2.197619e+00
656            3.0  1.020847e+39  3.402823e+38  3.402823e+38  3.402823e+38
8454           1.0  3.402823e+38  3.402823e+38  3.402823e+38  3.402823e+38
20015          1.0  2.089330e+00  2.089330e+00  2.089330e+00  2.089330e+00
13            30.0  8.507059e+39  2.835686e+38  3.402823e+38  2.546651e+00
7983          53.0  1.769468e+40  3.338619e+38  3.402823e+38  2.255617e+00
8832           4.0  1.361129e+39  3.402823e+38  3.402823e+38  3.402823e+38
12236          2.0  3.402823e+38  1.701412e+38  3.402823e+38  2.179253e+00
11158          8.0  2.722259e+39  3.402823e+38  3.402823e+38  3.402823e+38
12468         22.0  7.145929e+39  3.248150e+38  3.402823e+38  2.303636e+00

       NTLcfc_D_2006
20121     157.000000
656       255.000000
8454      255.000000
20015      58.000000
13        221.900000
7983      251.169811
8832      255.000000
12236     159.000000
11158     255.000000
12468     246.363636

[10 rows x 49 columns]
Loading data for Msk_D_2007_avg.tif. Sun Feb 19 10:34:15 2023

Finished gdal.Translate() for year 2007. Sun Feb 19 10:34:16 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:34:17 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:34:18 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:34:46 2023

                   Z  Sett_ID
109255  3.402823e+38   400843
590199  3.402823e+38     2714
341493  3.402823e+38    37253
436897  3.402823e+38   351312
289944  3.402823e+38   556915
282887  3.402823e+38   359265
99472   3.402823e+38   468653
133494  3.402823e+38   388946
374414  2.589366e+00   272300
589083  3.402823e+38   351211

Exported as table. Sun Feb 19 10:34:48 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:34:48 2023


Desired aggregation methods applied to settlement level, year 2007. Sun Feb 19 10:34:48 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
8871    204411          1.0  2.866604e+00  2.866604e+00  2.866604e+00
12346   294539          8.0  2.722259e+39  3.402823e+38  3.402823e+38
18243   454224          3.0  6.805647e+38  2.268549e+38  3.402823e+38
22669   568611         28.0  9.187623e+39  3.281294e+38  3.402823e+38
10693   242571          5.0  1.701412e+39  3.402823e+38  3.402823e+38
20355   468473          6.0  2.041694e+39  3.402823e+38  3.402823e+38
12275   294435         11.0  3.402823e+39  3.093476e+38  3.402823e+38
2980     61206          4.0  1.020847e+39  2.552118e+38  3.402823e+38
17625   445879          2.0  6.805647e+38  3.402823e+38  3.402823e+38
16898   417482          4.0  1.361129e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
8871   2.866604e+00      58.000000          1.0  2.951050e+00  2.951050e+00
12346  3.402823e+38     255.000000          8.0  2.722259e+39  3.402823e+38
18243  2.495152e+00     189.333333          3.0  6.805647e+38  2.268549e+38
22669  2.430000e+00     248.071429         28.0  9.187623e+39  3.281294e+38
10693  3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
20355  3.402823e+38     255.000000          6.0  2.041694e+39  3.402823e+38
12275  2.826535e+00     236.545455         11.0  3.402823e+39  3.093476e+38
2980   3.100461e+00     203.750000          4.0  1.020847e+39  2.552118e+38
17625  3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
16898  3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38

       ...  NTLsumD_2006  NTLavgD_2006  NTLmaxD_2006  NTLminD_2006  \
8871   ...  2.294179e+00  2.294179e+00  2.294179e+00  2.294179e+00
12346  ...  2.722259e+39  3.402823e+38  3.402823e+38  3.402823e+38
18243  ...  6.805647e+38  2.268549e+38  3.402823e+38  2.218006e+00
22669  ...  9.187623e+39  3.281294e+38  3.402823e+38  1.999249e+00
10693  ...  1.701412e+39  3.402823e+38  3.402823e+38  3.402823e+38
20355  ...  2.041694e+39  3.402823e+38  3.402823e+38  3.402823e+38
12275  ...  3.402823e+39  3.093476e+38  3.402823e+38  2.191081e+00
2980   ...  1.020847e+39  2.552118e+38  3.402823e+38  2.532006e+00
17625  ...  6.805647e+38  3.402823e+38  3.402823e+38  3.402823e+38
16898  ...  1.361129e+39  3.402823e+38  3.402823e+38  3.402823e+38

       NTLcfc_D_2006  NTLctD_2007  NTLsumD_2007  NTLavgD_2007  NTLmaxD_2007  \
8871       55.000000          1.0  2.562987e+00  2.562987e+00  2.562987e+00
12346     255.000000          8.0  2.722259e+39  3.402823e+38  3.402823e+38
18243     189.000000          3.0  6.805647e+38  2.268549e+38  3.402823e+38
22669     248.178571         28.0  9.187623e+39  3.281294e+38  3.402823e+38
10693     255.000000          5.0  1.701412e+39  3.402823e+38  3.402823e+38
20355     255.000000          6.0  2.041694e+39  3.402823e+38  3.402823e+38
12275     237.545455         11.0  3.402823e+39  3.093476e+38  3.402823e+38
2980      205.000000          4.0  1.020847e+39  2.552118e+38  3.402823e+38
17625     255.000000          2.0  6.805647e+38  3.402823e+38  3.402823e+38
16898     255.000000          4.0  1.361129e+39  3.402823e+38  3.402823e+38

       NTLminD_2007
8871   2.562987e+00
12346  3.402823e+38
18243  2.524181e+00
22669  2.308303e+00
10693  3.402823e+38
20355  3.402823e+38
12275  2.511331e+00
2980   2.665804e+00
17625  3.402823e+38
16898  3.402823e+38

[10 rows x 54 columns]
Loading data for Msk_D_2007_cfc.tif. Sun Feb 19 10:34:49 2023

Finished gdal.Translate() for year 2007. Sun Feb 19 10:34:50 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:34:51 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:34:51 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:35:20 2023

          Z  Sett_ID
580640  255    84362
81464   255   468653
483366  255   165792
66893   255   458333
330742  255    51192
460492  255    40687
383436   61   271513
176255  255   509130
291178  255   388579
31735   255   458333

Exported as table. Sun Feb 19 10:35:21 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:35:21 2023


Count of cloud-free observations averaged to settlement level, year 2007. Sun Feb 19 10:35:21 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
17392   445511          4.0  1.361129e+39  3.402823e+38  3.402823e+38
9965    227144          5.0  1.361129e+39  2.722259e+38  3.402823e+38
18270   454253          4.0  1.020847e+39  2.552118e+38  3.402823e+38
19337   457936          NaN           NaN           NaN           NaN
1966     38637          6.0  1.701412e+39  2.835686e+38  3.402823e+38
18865   457347          3.0  6.805647e+38  2.268549e+38  3.402823e+38
171        204          7.0  2.381976e+39  3.402823e+38  3.402823e+38
4733    117300          3.0  6.805647e+38  2.268549e+38  3.402823e+38
14908   400795         56.0  1.871553e+40  3.342059e+38  3.402823e+38
14207   388871         20.0  6.465365e+39  3.232682e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
17392  3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
9965   2.819119e+00     215.400000          5.0  1.361129e+39  2.722259e+38
18270  2.524063e+00     205.500000          4.0  1.020847e+39  2.552118e+38
19337           NaN            NaN          NaN           NaN           NaN
1966   3.155841e+00     221.166667          6.0  1.701412e+39  2.835686e+38
18865  2.528473e+00     188.666667          3.0  6.805647e+38  2.268549e+38
171    3.402823e+38     255.000000          7.0  2.381976e+39  3.402823e+38
4733   2.889306e+00     188.000000          3.0  6.805647e+38  2.268549e+38
14908  2.776423e+00     251.321429         56.0  1.871553e+40  3.342059e+38
14207  2.533333e+00     245.100000         20.0  6.465365e+39  3.232682e+38

       ...  NTLavgD_2006  NTLmaxD_2006  NTLminD_2006  NTLcfc_D_2006  \
17392  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
9965   ...  2.722259e+38  3.402823e+38  2.386364e+00     215.000000
18270  ...  2.552118e+38  3.402823e+38  2.230896e+00     205.250000
19337  ...           NaN           NaN           NaN            NaN
1966   ...  2.835686e+38  3.402823e+38  2.018432e+00     220.833333
18865  ...  2.268549e+38  3.402823e+38  2.077936e+00     189.666667
171    ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
4733   ...  2.268549e+38  3.402823e+38  2.080823e+00     187.333333
14908  ...  3.342059e+38  3.402823e+38  2.229192e+00     251.482143
14207  ...  3.232682e+38  3.402823e+38  2.041270e+00     245.250000

       NTLctD_2007  NTLsumD_2007  NTLavgD_2007  NTLmaxD_2007  NTLminD_2007  \
17392          4.0  1.361129e+39  3.402823e+38  3.402823e+38  3.402823e+38
9965           5.0  1.361129e+39  2.722259e+38  3.402823e+38  2.595960e+00
18270          4.0  1.020847e+39  2.552118e+38  3.402823e+38  2.493243e+00
19337          NaN           NaN           NaN           NaN           NaN
1966           6.0  1.701412e+39  2.835686e+38  3.402823e+38  2.507292e+00
18865          3.0  6.805647e+38  2.268549e+38  3.402823e+38  2.301299e+00
171            7.0  2.381976e+39  3.402823e+38  3.402823e+38  3.402823e+38
4733           3.0  6.805647e+38  2.268549e+38  3.402823e+38  2.713663e+00
14908         56.0  1.871553e+40  3.342059e+38  3.402823e+38  2.470123e+00
14207         20.0  6.465365e+39  3.232682e+38  3.402823e+38  2.523507e+00

       NTLcfc_D_2007
17392     255.000000
9965      216.600000
18270     208.000000
19337            NaN
1966      221.833333
18865     192.000000
171       255.000000
4733      188.000000
14908     251.625000
14207     245.550000

[10 rows x 55 columns]
Loading data for Msk_D_2008_avg.tif. Sun Feb 19 10:35:22 2023

Finished gdal.Translate() for year 2008. Sun Feb 19 10:35:23 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:35:24 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:35:24 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:35:25 2023

               Z  Sett_ID
439120  2.958333   165769
214921  2.457143   445743
267272  2.891892   514917
386675  2.957747    51940
73620   2.712500   597211
310540  2.986667   310166
530816  2.813559      604
296899  3.454545   501561
537964  2.666667      214
358371  2.558442   318745

Exported as table. Sun Feb 19 10:35:25 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:35:25 2023


Desired aggregation methods applied to settlement level, year 2008. Sun Feb 19 10:35:25 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
15587   409423         51.0  1.735440e+40  3.402823e+38  3.402823e+38
336        390          1.0  4.290984e+00  4.290984e+00  4.290984e+00
6846    166130          9.0  3.062541e+39  3.402823e+38  3.402823e+38
6792    166027         20.0  6.465365e+39  3.232682e+38  3.402823e+38
3703     87385          9.0  2.722259e+39  3.024732e+38  3.402823e+38
21329   501528         39.0  1.327101e+40  3.402823e+38  3.402823e+38
22505   528882         14.0  4.423671e+39  3.159765e+38  3.402823e+38
15392   409151          4.0  1.361129e+39  3.402823e+38  3.402823e+38
4971    117637         10.0  3.062541e+39  3.062541e+38  3.402823e+38
5806    138062         55.0  1.837525e+40  3.340954e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
15587  3.402823e+38     255.000000         51.0  1.735440e+40  3.402823e+38
336    4.290984e+00      50.000000          1.0  4.544175e+00  4.544175e+00
6846   3.402823e+38     255.000000          9.0  3.062541e+39  3.402823e+38
6792   2.565055e+00     245.200000         20.0  6.465365e+39  3.232682e+38
3703   2.731517e+00     233.000000          9.0  2.722259e+39  3.024732e+38
21329  3.402823e+38     255.000000         39.0  1.327101e+40  3.402823e+38
22505  2.445833e+00     240.642857         14.0  4.423671e+39  3.159765e+38
15392  3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
4971   2.884146e+00     235.100000         10.0  3.062541e+39  3.062541e+38
5806   2.941802e+00     251.272727         55.0  1.837525e+40  3.340954e+38

       ...  NTLsumD_2007  NTLavgD_2007  NTLmaxD_2007  NTLminD_2007  \
15587  ...  1.735440e+40  3.402823e+38  3.402823e+38  3.402823e+38
336    ...  5.932918e+00  5.932918e+00  5.932918e+00  5.932918e+00
6846   ...  3.062541e+39  3.402823e+38  3.402823e+38  3.402823e+38
6792   ...  6.465365e+39  3.232682e+38  3.402823e+38  3.045815e+00
3703   ...  2.722259e+39  3.024732e+38  3.402823e+38  2.376579e+00
21329  ...  1.327101e+40  3.402823e+38  3.402823e+38  3.402823e+38
22505  ...  4.423671e+39  3.159765e+38  3.402823e+38  2.359030e+00
15392  ...  1.361129e+39  3.402823e+38  3.402823e+38  3.402823e+38
4971   ...  3.062541e+39  3.062541e+38  3.402823e+38  2.545804e+00
5806   ...  1.837525e+40  3.340954e+38  3.402823e+38  2.725914e+00

       NTLcfc_D_2007  NTLctD_2008  NTLsumD_2008  NTLavgD_2008  NTLmaxD_2008  \
15587     255.000000          NaN           NaN           NaN           NaN
336        59.000000          1.0      4.538462      4.538462      4.538462
6846      255.000000          NaN           NaN           NaN           NaN
6792      245.450000          1.0      4.338710      4.338710      4.338710
3703      233.777778          1.0      2.736111      2.736111      2.736111
21329     255.000000          NaN           NaN           NaN           NaN
22505     241.928571          1.0      3.075949      3.075949      3.075949
15392     255.000000          NaN           NaN           NaN           NaN
4971      235.700000          1.0      2.878788      2.878788      2.878788
5806      251.436364          1.0      3.054795      3.054795      3.054795

       NTLminD_2008
15587           NaN
336        4.538462
6846            NaN
6792       4.338710
3703       2.736111
21329           NaN
22505      3.075949
15392           NaN
4971       2.878788
5806       3.054795

[10 rows x 60 columns]
Loading data for Msk_D_2008_cfc.tif. Sun Feb 19 10:35:27 2023

Finished gdal.Translate() for year 2008. Sun Feb 19 10:35:28 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:35:29 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:35:29 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:35:30 2023

         Z  Sett_ID
539787  62    12352
256398  73   415483
296557  68   117617
352499  80   142438
411175  66   129803
419988  66    51731
221804  77   388848
370431  70    51989
447021  68    52047
513659  63        8

Exported as table. Sun Feb 19 10:35:30 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:35:30 2023


Count of cloud-free observations averaged to settlement level, year 2008. Sun Feb 19 10:35:30 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
18258   454241         23.0  7.486212e+39  3.254875e+38  3.402823e+38
15099   404552         12.0  4.083388e+39  3.402823e+38  3.402823e+38
18256   454239          4.0  1.020847e+39  2.552118e+38  3.402823e+38
8703    203994          5.0  1.020847e+39  2.041694e+38  3.402823e+38
11364   265702          3.0  6.805647e+38  2.268549e+38  3.402823e+38
10600   236696         56.0  1.871553e+40  3.342059e+38  3.402823e+38
17637   445899          2.0  6.805647e+38  3.402823e+38  3.402823e+38
1489     35167          4.0  1.361129e+39  3.402823e+38  3.402823e+38
20153   468185          3.0  1.020847e+39  3.402823e+38  3.402823e+38
2740     51956          3.0  1.020847e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
18258  2.523142e+00     246.260870         23.0  7.486212e+39  3.254875e+38
15099  3.402823e+38     255.000000         12.0  4.083388e+39  3.402823e+38
18256  2.661770e+00     205.000000          4.0  1.020847e+39  2.552118e+38
8703   2.681389e+00     177.400000          5.0  1.020847e+39  2.041694e+38
11364  2.817045e+00     188.000000          3.0  6.805647e+38  2.268549e+38
10600  2.665139e+00     251.464286         56.0  1.871553e+40  3.342059e+38
17637  3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
1489   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
20153  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
2740   3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38

       ...  NTLavgD_2007  NTLmaxD_2007  NTLminD_2007  NTLcfc_D_2007  \
18258  ...  3.254875e+38  3.402823e+38  2.424962e+00     246.739130
15099  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
18256  ...  2.552118e+38  3.402823e+38  2.514118e+00     207.000000
8703   ...  2.041694e+38  3.402823e+38  2.541177e+00     177.600000
11364  ...  2.268549e+38  3.402823e+38  2.333810e+00     190.666667
10600  ...  3.342059e+38  3.402823e+38  2.762792e+00     251.535714
17637  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
1489   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
20153  ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000
2740   ...  3.402823e+38  3.402823e+38  3.402823e+38     255.000000

       NTLctD_2008  NTLsumD_2008  NTLavgD_2008  NTLmaxD_2008  NTLminD_2008  \
18258          1.0      2.800000      2.800000      2.800000      2.800000
15099          NaN           NaN           NaN           NaN           NaN
18256          1.0      2.746032      2.746032      2.746032      2.746032
8703           2.0      6.001093      3.000546      3.066667      2.934426
11364          1.0      2.707692      2.707692      2.707692      2.707692
10600          1.0      2.476191      2.476191      2.476191      2.476191
17637          NaN           NaN           NaN           NaN           NaN
1489           NaN           NaN           NaN           NaN           NaN
20153          NaN           NaN           NaN           NaN           NaN
2740           NaN           NaN           NaN           NaN           NaN

       NTLcfc_D_2008
18258           70.0
15099            NaN
18256           63.0
8703            61.0
11364           66.0
10600           65.0
17637            NaN
1489             NaN
20153            NaN
2740             NaN

[10 rows x 61 columns]
Loading data for Msk_D_2009_avg.tif. Sun Feb 19 10:35:31 2023

Finished gdal.Translate() for year 2009. Sun Feb 19 10:35:32 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:35:33 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:35:33 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:35:34 2023

                Z  Sett_ID
454977   2.633333   165870
465051   3.120000   236602
308056  10.913043   227047
216631   2.192308   388866
165428   3.138889   458144
345991   2.724138   294261
355987   3.166667   309658
307256   2.636364   295080
389409   3.060606   277878
219638   2.785714   445238

Exported as table. Sun Feb 19 10:35:34 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:35:34 2023


Desired aggregation methods applied to settlement level, year 2009. Sun Feb 19 10:35:34 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
11552   266102         14.0  4.423671e+39  3.159765e+38  3.402823e+38
10423   231847          1.0  3.402823e+38  3.402823e+38  3.402823e+38
3086     66081          5.0  1.701412e+39  3.402823e+38  3.402823e+38
1177     29965          5.0  1.701412e+39  3.402823e+38  3.402823e+38
14921   400814         23.0  7.826494e+39  3.402823e+38  3.402823e+38
4120     97738          6.0  2.041694e+39  3.402823e+38  3.402823e+38
21154   482476          7.0  2.041694e+39  2.916706e+38  3.402823e+38
23355   597291         13.0  4.083388e+39  3.141068e+38  3.402823e+38
4528    102804         27.0  8.507059e+39  3.150762e+38  3.402823e+38
4458    102709         10.0  3.402823e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
11552  3.238290e+00     241.071429         14.0  4.423671e+39  3.159765e+38
10423  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
3086   3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
1177   3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
14921  3.402823e+38     255.000000         23.0  7.826494e+39  3.402823e+38
4120   3.402823e+38     255.000000          6.0  2.041694e+39  3.402823e+38
21154  2.482906e+00     226.428571          7.0  2.041694e+39  2.916706e+38
23355  2.612825e+00     239.692308         13.0  4.083388e+39  3.141068e+38
4528   2.654396e+00     240.074074         27.0  8.507059e+39  3.150762e+38
4458   3.402823e+38     255.000000         10.0  3.402823e+39  3.402823e+38

       ...  NTLsumD_2008  NTLavgD_2008  NTLmaxD_2008  NTLminD_2008  \
11552  ...      2.621212      2.621212      2.621212      2.621212
10423  ...           NaN           NaN           NaN           NaN
3086   ...           NaN           NaN           NaN           NaN
1177   ...           NaN           NaN           NaN           NaN
14921  ...           NaN           NaN           NaN           NaN
4120   ...           NaN           NaN           NaN           NaN
21154  ...      2.750000      2.750000      2.750000      2.750000
23355  ...      2.717949      2.717949      2.717949      2.717949
4528   ...      6.161106      3.080553      3.205882      2.955224
4458   ...           NaN           NaN           NaN           NaN

       NTLcfc_D_2008  NTLctD_2009  NTLsumD_2009  NTLavgD_2009  NTLmaxD_2009  \
11552           68.0          NaN           NaN           NaN           NaN
10423            NaN          1.0      3.448276      3.448276      3.448276
3086             NaN          NaN           NaN           NaN           NaN
1177             NaN          1.0      3.250000      3.250000      3.250000
14921            NaN          1.0      2.933333      2.933333      2.933333
4120             NaN          NaN           NaN           NaN           NaN
21154           68.0          NaN           NaN           NaN           NaN
23355           78.0          NaN           NaN           NaN           NaN
4528            68.5          2.0      6.653846      3.326923      3.346154
4458             NaN          1.0      3.750000      3.750000      3.750000

       NTLminD_2009
11552           NaN
10423      3.448276
3086            NaN
1177       3.250000
14921      2.933333
4120            NaN
21154           NaN
23355           NaN
4528       3.307692
4458       3.750000

[10 rows x 66 columns]
Loading data for Msk_D_2009_cfc.tif. Sun Feb 19 10:35:36 2023

Finished gdal.Translate() for year 2009. Sun Feb 19 10:35:37 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:35:38 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:35:38 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:35:39 2023

         Z  Sett_ID
360000  31   221685
356488  33   309649
99632   25   475102
193240  26   445428
286947  31   404486
534412  31    21524
239423  29   528471
289514  30   396411
261660  27   409133
234693  30   409739

Exported as table. Sun Feb 19 10:35:39 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:35:39 2023


Count of cloud-free observations averaged to settlement level, year 2009. Sun Feb 19 10:35:39 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
23064   581325          3.0  1.020847e+39  3.402823e+38  3.402823e+38
14158   388817         23.0  7.486212e+39  3.254875e+38  3.402823e+38
4144     98138         18.0  5.784800e+39  3.213778e+38  3.402823e+38
4839    117427          4.0  1.361129e+39  3.402823e+38  3.402823e+38
13137   311272          3.0  1.020847e+39  3.402823e+38  3.402823e+38
21160   483068         17.0  5.784800e+39  3.402823e+38  3.402823e+38
11234   250016         13.0  4.423671e+39  3.402823e+38  3.402823e+38
4419    102661          7.0  2.381976e+39  3.402823e+38  3.402823e+38
8179    203147          4.0  1.020847e+39  2.552118e+38  3.402823e+38
4843    117433         19.0  6.125082e+39  3.223727e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
23064  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
14158  2.827273e+00     246.304348         23.0  7.486212e+39  3.254875e+38
4144   2.560729e+00     243.833333         18.0  5.784800e+39  3.213778e+38
4839   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
13137  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
21160  3.402823e+38     255.000000         17.0  5.784800e+39  3.402823e+38
11234  3.402823e+38     255.000000         13.0  4.423671e+39  3.402823e+38
4419   3.402823e+38     255.000000          7.0  2.381976e+39  3.402823e+38
8179   2.886364e+00     204.500000          4.0  1.020847e+39  2.552118e+38
4843   3.067460e+00     244.421053         19.0  6.125082e+39  3.223727e+38

       ...  NTLavgD_2008  NTLmaxD_2008  NTLminD_2008  NTLcfc_D_2008  \
23064  ...           NaN           NaN           NaN            NaN
14158  ...      3.526316      3.526316      3.526316           76.0
4144   ...      3.029851      3.029851      3.029851           69.0
4839   ...           NaN           NaN           NaN            NaN
13137  ...           NaN           NaN           NaN            NaN
21160  ...           NaN           NaN           NaN            NaN
11234  ...           NaN           NaN           NaN            NaN
4419   ...           NaN           NaN           NaN            NaN
8179   ...      2.893333      2.893333      2.893333           75.0
4843   ...      2.774648      2.774648      2.774648           71.0

       NTLctD_2009  NTLsumD_2009  NTLavgD_2009  NTLmaxD_2009  NTLminD_2009  \
23064          1.0      3.000000      3.000000      3.000000      3.000000
14158          1.0      3.480000      3.480000      3.480000      3.480000
4144           NaN           NaN           NaN           NaN           NaN
4839           1.0      2.782609      2.782609      2.782609      2.782609
13137          NaN           NaN           NaN           NaN           NaN
21160          1.0      2.275862      2.275862      2.275862      2.275862
11234          1.0      2.962963      2.962963      2.962963      2.962963
4419           NaN           NaN           NaN           NaN           NaN
8179           NaN           NaN           NaN           NaN           NaN
4843           NaN           NaN           NaN           NaN           NaN

       NTLcfc_D_2009
23064            NaN
14158           26.0
4144            28.0
4839             NaN
13137            NaN
21160            NaN
11234            NaN
4419             NaN
8179            33.0
4843            23.0

[10 rows x 67 columns]
Loading data for Msk_D_2010_avg.tif. Sun Feb 19 10:35:41 2023

Finished gdal.Translate() for year 2010. Sun Feb 19 10:35:41 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:35:42 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:35:42 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:35:43 2023

               Z  Sett_ID
224933  3.830986   400594
170039  3.691176   445953
319539  4.060606   138190
186386  3.788732   509105
409262  3.926471   277738
375807  7.014084   247086
419904  4.687500   236740
306908  4.688525   138045
329688  5.478261   227036
308843  4.454545   203971

Exported as table. Sun Feb 19 10:35:43 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:35:43 2023


Desired aggregation methods applied to settlement level, year 2010. Sun Feb 19 10:35:44 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
13537   319236        102.0  3.470880e+40  3.402823e+38  3.402823e+38
8726    204048          1.0  3.402823e+38  3.402823e+38  3.402823e+38
18231   454211          2.0  3.402823e+38  1.701412e+38  3.402823e+38
17759   446872          2.0  6.805647e+38  3.402823e+38  3.402823e+38
10922   247605          1.0  2.622596e+00  2.622596e+00  2.622596e+00
17641   445909          4.0  1.361129e+39  3.402823e+38  3.402823e+38
2394     51495         18.0  5.444518e+39  3.024732e+38  3.402823e+38
11434   265853          3.0  6.805647e+38  2.268549e+38  3.402823e+38
14306   391477         14.0  4.763953e+39  3.402823e+38  3.402823e+38
10147   227426          3.0  1.020847e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
13537  3.402823e+38     255.000000        102.0  3.470880e+40  3.402823e+38
8726   3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
18231  2.765233e+00     154.500000          2.0  3.402823e+38  1.701412e+38
17759  3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
10922  2.622596e+00      59.000000          1.0  2.793933e+00  2.793933e+00
17641  3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
2394   2.813397e+00     232.666667         18.0  5.444518e+39  3.024732e+38
11434  3.005095e+00     190.333333          3.0  6.805647e+38  2.268549e+38
14306  3.402823e+38     255.000000         14.0  4.763953e+39  3.402823e+38
10147  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38

       ...  NTLsumD_2009  NTLavgD_2009  NTLmaxD_2009  NTLminD_2009  \
13537  ...      3.000000      3.000000      3.000000      3.000000
8726   ...      3.000000      3.000000      3.000000      3.000000
18231  ...      2.833333      2.833333      2.833333      2.833333
17759  ...      3.115385      3.115385      3.115385      3.115385
10922  ...           NaN           NaN           NaN           NaN
17641  ...      2.925926      2.925926      2.925926      2.925926
2394   ...      7.901806      2.633935      2.785714      2.482759
11434  ...      2.666667      2.666667      2.666667      2.666667
14306  ...           NaN           NaN           NaN           NaN
10147  ...      6.642857      3.321429      3.357143      3.285714

       NTLcfc_D_2009  NTLctD_2010  NTLsumD_2010  NTLavgD_2010  NTLmaxD_2010  \
13537            NaN          1.0      3.936508      3.936508      3.936508
8726             NaN          1.0      4.028572      4.028572      4.028572
18231           30.0          1.0      3.706667      3.706667      3.706667
17759            NaN          1.0      4.164383      4.164383      4.164383
10922           32.0          NaN           NaN           NaN           NaN
17641            NaN          1.0      3.432836      3.432836      3.432836
2394            30.0          3.0     13.628572      4.542857      4.676923
11434           29.0          1.0      4.708333      4.708333      4.708333
14306            NaN          NaN           NaN           NaN           NaN
10147            NaN          2.0      8.848767      4.424384      4.520000

       NTLminD_2010
13537      3.936508
8726       4.028572
18231      3.706667
17759      4.164383
10922           NaN
17641      3.432836
2394       4.428571
11434      4.708333
14306           NaN
10147      4.328767

[10 rows x 72 columns]
Loading data for Msk_D_2010_cfc.tif. Sun Feb 19 10:35:45 2023

Finished gdal.Translate() for year 2010. Sun Feb 19 10:35:46 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:35:47 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:35:47 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:35:48 2023

         Z  Sett_ID
168021  75   445574
422214  76   265695
173469  71   445924
394866  65   102687
116864  74   580905
251975  75   508975
441595  68    51341
433957  77   247417
166241  69   445138
506546  76    51243

Exported as table. Sun Feb 19 10:35:48 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:35:48 2023


Count of cloud-free observations averaged to settlement level, year 2010. Sun Feb 19 10:35:48 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
18772   457226          7.0  2.381976e+39  3.402823e+38  3.402823e+38
6562    164681          5.0  1.701412e+39  3.402823e+38  3.402823e+38
13070   310210         11.0  3.062541e+39  2.784128e+38  3.402823e+38
6525    163494          4.0  1.020847e+39  2.552118e+38  3.402823e+38
1416     31243          1.0  2.663194e+00  2.663194e+00  2.663194e+00
17134   445165          3.0  1.020847e+39  3.402823e+38  3.402823e+38
10464   234047          NaN           NaN           NaN           NaN
5379    129905         19.0  6.125082e+39  3.223727e+38  3.402823e+38
3687     87361          5.0  1.701412e+39  3.402823e+38  3.402823e+38
18450   455597          3.0  1.020847e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
18772  3.402823e+38     255.000000          7.0  2.381976e+39  3.402823e+38
6562   3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
13070  2.537118e+00     218.454545         11.0  3.062541e+39  2.784128e+38
6525   2.796526e+00     205.000000          4.0  1.020847e+39  2.552118e+38
1416   2.663194e+00      51.000000          1.0  2.921052e+00  2.921052e+00
17134  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
10464           NaN            NaN          NaN           NaN           NaN
5379   2.899814e+00     244.315789         19.0  6.125082e+39  3.223727e+38
3687   3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
18450  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38

       ...  NTLavgD_2009  NTLmaxD_2009  NTLminD_2009  NTLcfc_D_2009  \
18772  ...      3.071429      3.071429      3.071429            NaN
6562   ...      3.107143      3.107143      3.107143            NaN
13070  ...      3.033908      3.034483      3.033333           29.0
6525   ...           NaN           NaN           NaN           27.0
1416   ...           NaN           NaN           NaN           35.0
17134  ...           NaN           NaN           NaN            NaN
10464  ...           NaN           NaN           NaN            NaN
5379   ...           NaN           NaN           NaN           28.0
3687   ...      2.758621      2.758621      2.758621            NaN
18450  ...      2.896552      2.896552      2.896552            NaN

       NTLctD_2010  NTLsumD_2010  NTLavgD_2010  NTLmaxD_2010  NTLminD_2010  \
18772          1.0      3.565217      3.565217      3.565217      3.565217
6562           1.0      4.080645      4.080645      4.080645      4.080645
13070          2.0      8.015385      4.007692      4.015385      4.000000
6525           NaN           NaN           NaN           NaN           NaN
1416           NaN           NaN           NaN           NaN           NaN
17134          NaN           NaN           NaN           NaN           NaN
10464          NaN           NaN           NaN           NaN           NaN
5379           NaN           NaN           NaN           NaN           NaN
3687           1.0      4.268657      4.268657      4.268657      4.268657
18450          1.0      3.743590      3.743590      3.743590      3.743590

       NTLcfc_D_2010
18772            NaN
6562             NaN
13070           67.5
6525            72.0
1416            70.0
17134            NaN
10464            NaN
5379            63.0
3687             NaN
18450            NaN

[10 rows x 73 columns]
Loading data for Msk_D_2011_avg.tif. Sun Feb 19 10:35:50 2023

Finished gdal.Translate() for year 2011. Sun Feb 19 10:35:51 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:35:52 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:35:52 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:35:53 2023

        Z  Sett_ID
351815  5   215262
333048  3   294504
253702  3   415892
221010  4   400628
337387  4   203523
211075  4   400701
273298  4   396490
75389   3   597381
232647  3   388797
380386  3    51965

Exported as table. Sun Feb 19 10:35:53 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:35:53 2023


Desired aggregation methods applied to settlement level, year 2011. Sun Feb 19 10:35:53 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
19619   458287          NaN           NaN           NaN           NaN
1740     37034         24.0  7.826494e+39  3.261039e+38  3.402823e+38
10680   240411         96.0  3.266711e+40  3.402823e+38  3.402823e+38
13135   311165          7.0  2.041694e+39  2.916706e+38  3.402823e+38
11401   265771          4.0  1.361129e+39  3.402823e+38  3.402823e+38
2994     61830          2.0  6.805647e+38  3.402823e+38  3.402823e+38
14963   401744         15.0  4.763953e+39  3.175969e+38  3.402823e+38
14835   400700         30.0  9.527906e+39  3.175969e+38  3.402823e+38
14383   396347         13.0  4.423671e+39  3.402823e+38  3.402823e+38
15784   409725          3.0  1.020847e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
19619           NaN            NaN          NaN           NaN           NaN
1740   3.463187e+00     246.375000         24.0  7.826494e+39  3.261039e+38
10680  3.402823e+38     255.000000         96.0  3.266711e+40  3.402823e+38
13135  2.797222e+00     226.142857          7.0  2.041694e+39  2.916706e+38
11401  3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
2994   3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
14963  2.891540e+00     241.466667         15.0  4.763953e+39  3.175969e+38
14835  2.746846e+00     241.466667         30.0  9.527906e+39  3.175969e+38
14383  3.402823e+38     255.000000         13.0  4.423671e+39  3.402823e+38
15784  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38

       ...  NTLsumD_2010  NTLavgD_2010  NTLmaxD_2010  NTLminD_2010  \
19619  ...           NaN           NaN           NaN           NaN
1740   ...           NaN           NaN           NaN           NaN
10680  ...      4.619048      4.619048      4.619048      4.619048
13135  ...           NaN           NaN           NaN           NaN
11401  ...           NaN           NaN           NaN           NaN
2994   ...           NaN           NaN           NaN           NaN
14963  ...           NaN           NaN           NaN           NaN
14835  ...     12.440336      4.146779      4.442857      3.911765
14383  ...      4.076923      4.076923      4.076923      4.076923
15784  ...      3.934211      3.934211      3.934211      3.934211

       NTLcfc_D_2010  NTLctD_2011  NTLsumD_2011  NTLavgD_2011  NTLmaxD_2011  \
19619            NaN          NaN           NaN           NaN           NaN
1740            62.0          1.0           5.0           5.0           5.0
10680            NaN          NaN           NaN           NaN           NaN
13135           66.0          1.0           4.0           4.0           4.0
11401            NaN          NaN           NaN           NaN           NaN
2994             NaN          NaN           NaN           NaN           NaN
14963           71.0          1.0           3.0           3.0           3.0
14835           71.5          2.0           8.0           4.0           4.0
14383            NaN          NaN           NaN           NaN           NaN
15784            NaN          NaN           NaN           NaN           NaN

       NTLminD_2011
19619           NaN
1740            5.0
10680           NaN
13135           4.0
11401           NaN
2994            NaN
14963           3.0
14835           4.0
14383           NaN
15784           NaN

[10 rows x 78 columns]
Loading data for Msk_D_2011_cfc.tif. Sun Feb 19 10:35:55 2023

Finished gdal.Translate() for year 2011. Sun Feb 19 10:35:56 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:35:57 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:35:57 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:35:58 2023

         Z  Sett_ID
291487  70   227657
355483  69   215636
202268  73   445346
507354  63      402
134586  76   458292
259797  78   399848
323918  70   227047
240995  73   409541
519000  59    30093
255545  79   508756

Exported as table. Sun Feb 19 10:35:58 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:35:58 2023


Count of cloud-free observations averaged to settlement level, year 2011. Sun Feb 19 10:35:58 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
11781   277298          8.0  2.722259e+39  3.402823e+38  3.402823e+38
16784   417235         34.0  1.122932e+40  3.302740e+38  3.402823e+38
13241   315634          5.0  1.361129e+39  2.722259e+38  3.402823e+38
13008   310120          3.0  1.020847e+39  3.402823e+38  3.402823e+38
4138     98126         37.0  1.225016e+40  3.310855e+38  3.402823e+38
8208    203196          3.0  6.805647e+38  2.268549e+38  3.402823e+38
5974    146403          2.0  6.805647e+38  3.402823e+38  3.402823e+38
15844   409806          1.0  3.402823e+38  3.402823e+38  3.402823e+38
10722   247086         29.0  2.381976e+39  8.213712e+37  3.402823e+38
15158   404731         10.0  3.402823e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
11781  3.402823e+38     255.000000          8.0  2.722259e+39  3.402823e+38
16784  2.564980e+00     249.147059         34.0  1.122932e+40  3.302740e+38
13241  2.509818e+00     214.800000          5.0  1.361129e+39  2.722259e+38
13008  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
4138   2.713166e+00     249.378378         37.0  1.225016e+40  3.310855e+38
8208   3.154215e+00     187.666667          3.0  6.805647e+38  2.268549e+38
5974   3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
15844  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
10722  2.706864e+00     103.448276         29.0  2.381976e+39  8.213712e+37
15158  3.402823e+38     255.000000         10.0  3.402823e+39  3.402823e+38

       ...  NTLavgD_2010  NTLmaxD_2010  NTLminD_2010  NTLcfc_D_2010  \
11781  ...      4.359729      4.411765      4.307693            NaN
16784  ...      3.880597      3.880597      3.880597      67.000000
13241  ...           NaN           NaN           NaN      71.000000
13008  ...      4.149254      4.149254      4.149254            NaN
4138   ...      4.093750      4.093750      4.093750      73.000000
8208   ...           NaN           NaN           NaN      72.000000
5974   ...           NaN           NaN           NaN            NaN
15844  ...      3.680000      3.680000      3.680000            NaN
10722  ...      6.014768      7.428571      4.671429      70.545455
15158  ...      3.797297      3.797297      3.797297            NaN

       NTLctD_2011  NTLsumD_2011  NTLavgD_2011  NTLmaxD_2011  NTLminD_2011  \
11781          NaN           NaN           NaN           NaN           NaN
16784          1.0           3.0      3.000000           3.0           3.0
13241          1.0           3.0      3.000000           3.0           3.0
13008          NaN           NaN           NaN           NaN           NaN
4138           1.0           6.0      6.000000           6.0           6.0
8208           1.0           4.0      4.000000           4.0           4.0
5974           NaN           NaN           NaN           NaN           NaN
15844          NaN           NaN           NaN           NaN           NaN
10722         22.0         113.0      5.136364           6.0           4.0
15158          NaN           NaN           NaN           NaN           NaN

       NTLcfc_D_2011
11781            NaN
16784      75.000000
13241      81.000000
13008            NaN
4138       63.000000
8208       67.000000
5974             NaN
15844            NaN
10722      79.318182
15158            NaN

[10 rows x 79 columns]
Loading data for Msk_D_2012_avg.tif. Sun Feb 19 10:36:00 2023

Finished gdal.Translate() for year 2012. Sun Feb 19 10:36:00 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:36:01 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:36:01 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:36:02 2023

                Z  Sett_ID
317738   3.940299   310073
302299  49.268658   227047
293065   5.150000   137699
237467   3.546667   416057
474220   4.176471   155989
500997   4.151515    30161
324593   3.842857   138055
295012   3.535211   204180
222931   3.442857   453911
281579   4.028986   501760

Exported as table. Sun Feb 19 10:36:02 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:36:02 2023


Desired aggregation methods applied to settlement level, year 2012. Sun Feb 19 10:36:03 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
22161   525266          9.0  3.062541e+39  3.402823e+38  3.402823e+38
8473    203649          NaN           NaN           NaN           NaN
12017   277793          4.0  1.361129e+39  3.402823e+38  3.402823e+38
8922    204548          4.0  1.361129e+39  3.402823e+38  3.402823e+38
4589    110032          4.0  1.361129e+39  3.402823e+38  3.402823e+38
3253     74999          6.0  2.041694e+39  3.402823e+38  3.402823e+38
15760   409695          4.0  1.361129e+39  3.402823e+38  3.402823e+38
19970   460823          2.0  3.402823e+38  1.701412e+38  3.402823e+38
119        147         13.0  3.743106e+39  2.879312e+38  3.402823e+38
20286   468377         12.0  3.743106e+39  3.119255e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
22161  3.402823e+38     255.000000          9.0  3.062541e+39  3.402823e+38
8473            NaN            NaN          NaN           NaN           NaN
12017  3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
8922   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
4589   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
3253   3.402823e+38     255.000000          6.0  2.041694e+39  3.402823e+38
15760  3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
19970  2.655612e+00     155.000000          2.0  3.402823e+38  1.701412e+38
119    2.810641e+00     224.230769         13.0  3.743106e+39  2.879312e+38
20286  2.473474e+00     238.250000         12.0  3.743106e+39  3.119255e+38

       ...  NTLsumD_2011  NTLavgD_2011  NTLmaxD_2011  NTLminD_2011  \
22161  ...           NaN           NaN           NaN           NaN
8473   ...           NaN           NaN           NaN           NaN
12017  ...           NaN           NaN           NaN           NaN
8922   ...           NaN           NaN           NaN           NaN
4589   ...           NaN           NaN           NaN           NaN
3253   ...           NaN           NaN           NaN           NaN
15760  ...           NaN           NaN           NaN           NaN
19970  ...           3.0           3.0           3.0           3.0
119    ...           9.0           4.5           5.0           4.0
20286  ...           3.0           3.0           3.0           3.0

       NTLcfc_D_2011  NTLctD_2012  NTLsumD_2012  NTLavgD_2012  NTLmaxD_2012  \
22161            NaN          NaN           NaN           NaN           NaN
8473             NaN          NaN           NaN           NaN           NaN
12017            NaN          NaN           NaN           NaN           NaN
8922             NaN          NaN           NaN           NaN           NaN
4589             NaN          NaN           NaN           NaN           NaN
3253             NaN          NaN           NaN           NaN           NaN
15760            NaN          NaN           NaN           NaN           NaN
19970           75.0          1.0      4.628572      4.628572      4.628572
119             64.0          2.0      8.492537      4.246269      4.268657
20286           76.0          1.0      3.970149      3.970149      3.970149

       NTLminD_2012
22161           NaN
8473            NaN
12017           NaN
8922            NaN
4589            NaN
3253            NaN
15760           NaN
19970      4.628572
119        4.223881
20286      3.970149

[10 rows x 84 columns]
Loading data for Msk_D_2012_cfc.tif. Sun Feb 19 10:36:04 2023

Finished gdal.Translate() for year 2012. Sun Feb 19 10:36:05 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:36:06 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:36:06 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:36:07 2023

         Z  Sett_ID
319293  79   180351
415036  65   247510
437649  66   277531
325695  69   227046
231076  73   409797
466111  68   161326
357257  65   215151
231954  72   457081
395169  69   266152
330099  75   180242

Exported as table. Sun Feb 19 10:36:07 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:36:07 2023


Count of cloud-free observations averaged to settlement level, year 2012. Sun Feb 19 10:36:07 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
2454     51585         20.0  6.465365e+39  3.232682e+38  3.402823e+38
2649     51828         30.0  9.868188e+39  3.289396e+38  3.402823e+38
7061    180185         14.0  4.423671e+39  3.159765e+38  3.402823e+38
5847    138120         63.0  2.109751e+40  3.348810e+38  3.402823e+38
4635    117186         26.0  7.486212e+39  2.879312e+38  3.402823e+38
18219   454198          4.0  1.020847e+39  2.552118e+38  3.402823e+38
12040   277834          2.0  3.402823e+38  1.701412e+38  3.402823e+38
18146   454118          1.0  3.402823e+38  3.402823e+38  3.402823e+38
8750    204103          6.0  1.701412e+39  2.835686e+38  3.402823e+38
403        474         17.0  5.784800e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
2454   2.975000e+00     245.000000         20.0  6.465365e+39  3.232682e+38
2649   2.762649e+00     248.300000         30.0  9.868188e+39  3.289396e+38
7061   2.983405e+00     240.571429         14.0  4.423671e+39  3.159765e+38
5847   2.543812e+00     251.777778         63.0  2.109751e+40  3.348810e+38
4635   3.203629e+00     223.846154         26.0  7.486212e+39  2.879312e+38
18219  2.607143e+00     205.250000          4.0  1.020847e+39  2.552118e+38
12040  2.481331e+00     153.000000          2.0  3.402823e+38  1.701412e+38
18146  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
8750   3.095916e+00     221.833333          6.0  1.701412e+39  2.835686e+38
403    3.402823e+38     255.000000         17.0  5.784800e+39  3.402823e+38

       ...  NTLavgD_2011  NTLmaxD_2011  NTLminD_2011  NTLcfc_D_2011  \
2454   ...          4.00           4.0           4.0          70.00
2649   ...          3.00           3.0           3.0          62.00
7061   ...          4.00           4.0           4.0          69.00
5847   ...          4.00           4.0           4.0          76.00
4635   ...          3.25           4.0           3.0          66.75
18219  ...          3.00           3.0           3.0          76.00
12040  ...          4.00           4.0           4.0          69.00
18146  ...           NaN           NaN           NaN            NaN
8750   ...          3.00           3.0           3.0          68.00
403    ...           NaN           NaN           NaN            NaN

       NTLctD_2012  NTLsumD_2012  NTLavgD_2012  NTLmaxD_2012  NTLminD_2012  \
2454           1.0      4.422535      4.422535      4.422535      4.422535
2649           1.0      3.714286      3.714286      3.714286      3.714286
7061           1.0      3.768116      3.768116      3.768116      3.768116
5847           1.0      3.351351      3.351351      3.351351      3.351351
4635           4.0     13.812786      3.453196      3.597222      3.361111
18219          1.0      3.267606      3.267606      3.267606      3.267606
12040          1.0      3.695652      3.695652      3.695652      3.695652
18146          NaN           NaN           NaN           NaN           NaN
8750           1.0      3.875000      3.875000      3.875000      3.875000
403            NaN           NaN           NaN           NaN           NaN

       NTLcfc_D_2012
2454           72.00
2649           70.00
7061           73.00
5847           76.00
4635           72.25
18219          71.00
12040          69.00
18146            NaN
8750           73.00
403              NaN

[10 rows x 85 columns]
Loading data for Msk_D_2013_avg.tif. Sun Feb 19 10:36:09 2023

Finished gdal.Translate() for year 2013. Sun Feb 19 10:36:10 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:36:11 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:36:11 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:36:12 2023

                Z  Sett_ID
200397   3.727273   454292
400078   3.542857    37119
237411   3.680556   409642
296015   4.260870   227641
516322   3.878788    35188
452445  58.532467    51196
561553   4.338461    87580
378758   3.703125   180106
277828   4.071429   180519
442539   4.128205    51657

Exported as table. Sun Feb 19 10:36:12 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:36:12 2023


Desired aggregation methods applied to settlement level, year 2013. Sun Feb 19 10:36:12 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
19777   458473          3.0  1.020847e+39  3.402823e+38  3.402823e+38
14213   388878          4.0  1.361129e+39  3.402823e+38  3.402823e+38
17558   445757         13.0  4.083388e+39  3.141068e+38  3.402823e+38
518        662          8.0  2.722259e+39  3.402823e+38  3.402823e+38
566        727         30.0  9.868188e+39  3.289396e+38  3.402823e+38
13225   315033          6.0  1.701412e+39  2.835686e+38  3.402823e+38
4834    117420          8.0  2.041694e+39  2.552118e+38  3.402823e+38
19886   458942          7.0  2.041694e+39  2.916706e+38  3.402823e+38
969      22684         31.0  1.054875e+40  3.402823e+38  3.402823e+38
6883    167044         23.0  7.486212e+39  3.254875e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
19777  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
14213  3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
17558  2.526251e+00     239.846154         13.0  4.083388e+39  3.141068e+38
518    3.402823e+38     255.000000          8.0  2.722259e+39  3.402823e+38
566    2.795977e+00     248.033333         30.0  9.868188e+39  3.289396e+38
13225  2.631263e+00     221.666667          6.0  1.701412e+39  2.835686e+38
4834   2.636329e+00     204.250000          8.0  2.041694e+39  2.552118e+38
19886  2.559783e+00     226.428571          7.0  2.041694e+39  2.916706e+38
969    3.402823e+38     255.000000         31.0  1.054875e+40  3.402823e+38
6883   2.805644e+00     246.260870         23.0  7.486212e+39  3.254875e+38

       ...  NTLsumD_2012  NTLavgD_2012  NTLmaxD_2012  NTLminD_2012  \
19777  ...           NaN           NaN           NaN           NaN
14213  ...           NaN           NaN           NaN           NaN
17558  ...      3.405406      3.405406      3.405406      3.405406
518    ...           NaN           NaN           NaN           NaN
566    ...      4.104477      4.104477      4.104477      4.104477
13225  ...      3.838235      3.838235      3.838235      3.838235
4834   ...      6.820083      3.410041      3.414286      3.405797
19886  ...      3.358209      3.358209      3.358209      3.358209
969    ...           NaN           NaN           NaN           NaN
6883   ...      3.606061      3.606061      3.606061      3.606061

       NTLcfc_D_2012  NTLctD_2013  NTLsumD_2013  NTLavgD_2013  NTLmaxD_2013  \
19777            NaN          NaN           NaN           NaN           NaN
14213            NaN          NaN           NaN           NaN           NaN
17558           74.0          1.0      3.380282      3.380282      3.380282
518              NaN          NaN           NaN           NaN           NaN
566             72.0          1.0      4.571429      4.571429      4.571429
13225           69.0          1.0      3.888889      3.888889      3.888889
4834            73.0          2.0      7.121469      3.560735      3.569231
19886           67.0          1.0      3.516129      3.516129      3.516129
969              NaN          NaN           NaN           NaN           NaN
6883            66.0          1.0      4.000000      4.000000      4.000000

       NTLminD_2013
19777           NaN
14213           NaN
17558      3.380282
518             NaN
566        4.571429
13225      3.888889
4834       3.552239
19886      3.516129
969             NaN
6883       4.000000

[10 rows x 90 columns]
Loading data for Msk_D_2013_cfc.tif. Sun Feb 19 10:36:14 2023

Finished gdal.Translate() for year 2013. Sun Feb 19 10:36:15 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:36:16 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:36:16 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:36:17 2023

         Z  Sett_ID
434753  65   236712
349033  66   180312
479349  68    30231
256160  63   396304
349728  80   117342
288535  77   388586
485821  73    51508
315767  69   212707
225764  76   415487
434083  64   277953

Exported as table. Sun Feb 19 10:36:17 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:36:17 2023


Count of cloud-free observations averaged to settlement level, year 2013. Sun Feb 19 10:36:17 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
16257   415996         55.0  1.837525e+40  3.340954e+38  3.402823e+38
11671   271206          1.0  3.402823e+38  3.402823e+38  3.402823e+38
341        396         18.0  5.104235e+39  2.835686e+38  3.402823e+38
4890    117508        104.0  3.504908e+40  3.370104e+38  3.402823e+38
2459     51590         13.0  4.083388e+39  3.141068e+38  3.402823e+38
11753   276468         61.0  2.041694e+40  3.347039e+38  3.402823e+38
20823   474701          1.0  3.402823e+38  3.402823e+38  3.402823e+38
11647   270377         31.0  1.054875e+40  3.402823e+38  3.402823e+38
4160     98184         14.0  4.423671e+39  3.159765e+38  3.402823e+38
7686    186834          2.0  6.805647e+38  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
16257  2.556373e+00     251.454545         55.0  1.837525e+40  3.340954e+38
11671  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
341    2.828218e+00     220.833333         18.0  5.104235e+39  2.835686e+38
4890   2.485169e+00     253.028846        104.0  3.504908e+40  3.370104e+38
2459   2.970481e+00     239.307692         13.0  4.083388e+39  3.141068e+38
11753  2.744880e+00     251.770492         61.0  2.041694e+40  3.347039e+38
20823  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
11647  3.402823e+38     255.000000         31.0  1.054875e+40  3.402823e+38
4160   2.610090e+00     240.571429         14.0  4.423671e+39  3.159765e+38
7686   3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38

       ...  NTLavgD_2012  NTLmaxD_2012  NTLminD_2012  NTLcfc_D_2012  \
16257  ...      3.750000      3.750000      3.750000           77.0
11671  ...           NaN           NaN           NaN            NaN
341    ...      3.782407      3.875000      3.722222           73.0
4890   ...      3.750000      3.750000      3.750000           74.0
2459   ...      3.774648      3.774648      3.774648           72.0
11753  ...      3.358209      3.358209      3.358209           67.0
20823  ...           NaN           NaN           NaN            NaN
11647  ...           NaN           NaN           NaN            NaN
4160   ...      3.761905      3.761905      3.761905           63.0
7686   ...           NaN           NaN           NaN            NaN

       NTLctD_2013  NTLsumD_2013  NTLavgD_2013  NTLmaxD_2013  NTLminD_2013  \
16257          1.0      3.371428      3.371428      3.371428      3.371428
11671          NaN           NaN           NaN           NaN           NaN
341            3.0     11.816839      3.938946      4.013699      3.861111
4890           1.0      4.000000      4.000000      4.000000      4.000000
2459           1.0      3.680000      3.680000      3.680000      3.680000
11753          1.0      3.648649      3.648649      3.648649      3.648649
20823          NaN           NaN           NaN           NaN           NaN
11647          NaN           NaN           NaN           NaN           NaN
4160           1.0      3.687500      3.687500      3.687500      3.687500
7686           NaN           NaN           NaN           NaN           NaN

       NTLcfc_D_2013
16257      70.000000
11671            NaN
341        72.333333
4890       73.000000
2459       79.000000
11753      75.000000
20823            NaN
11647            NaN
4160       67.000000
7686             NaN

[10 rows x 91 columns]
Loading data for Msk_V_2012_avg.tif. Sun Feb 19 10:36:19 2023

Finished gdal.Translate() for year 2012. Sun Feb 19 10:36:23 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:36:26 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:36:26 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:36:28 2023

                 Z  Sett_ID
1274228   3.616046   227047
1560696   0.201957   265667
867092    0.127327   456898
1283495   0.187434   309529
1810573   0.163434   155897
1209382   0.426780   227047
867096    0.058891   456898
1806685   8.331445    51196
922673    2.750182   400483
1231017  14.372094   227047

Exported as table. Sun Feb 19 10:36:28 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:36:28 2023


Desired aggregation methods applied to settlement level, year 2012. Sun Feb 19 10:36:28 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
8440    203588          4.0  1.020847e+39  2.552118e+38  3.402823e+38
22850   574874          2.0  6.805647e+38  3.402823e+38  3.402823e+38
21220   492964          4.0  1.020847e+39  2.552118e+38  3.402823e+38
22902   580960          8.0  2.381976e+39  2.977471e+38  3.402823e+38
21723   508785          9.0  3.062541e+39  3.402823e+38  3.402823e+38
7113    180246          7.0  2.041694e+39  2.916706e+38  3.402823e+38
16585   416665          5.0  1.701412e+39  3.402823e+38  3.402823e+38
18163   454135          3.0  6.805647e+38  2.268549e+38  3.402823e+38
14655   399800          8.0  2.381976e+39  2.977471e+38  3.402823e+38
9445    215347          NaN           NaN           NaN           NaN

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
8440   2.678121e+00        206.000          4.0  1.020847e+39  2.552118e+38
22850  3.402823e+38        255.000          2.0  6.805647e+38  3.402823e+38
21220  2.843378e+00        204.500          4.0  1.020847e+39  2.552118e+38
22902  2.493350e+00        230.250          8.0  2.381976e+39  2.977471e+38
21723  3.402823e+38        255.000          9.0  3.062541e+39  3.402823e+38
7113   3.090022e+00        226.000          7.0  2.041694e+39  2.916706e+38
16585  3.402823e+38        255.000          5.0  1.701412e+39  3.402823e+38
18163  2.753508e+00        189.000          3.0  6.805647e+38  2.268549e+38
14655  2.636755e+00        229.625          8.0  2.381976e+39  2.977471e+38
9445            NaN            NaN          NaN           NaN           NaN

       ...  NTLsumD_2013  NTLavgD_2013  NTLmaxD_2013  NTLminD_2013  \
8440   ...      3.508197      3.508197      3.508197      3.508197
22850  ...           NaN           NaN           NaN           NaN
21220  ...      3.434783      3.434783      3.434783      3.434783
22902  ...      3.227273      3.227273      3.227273      3.227273
21723  ...           NaN           NaN           NaN           NaN
7113   ...      3.845070      3.845070      3.845070      3.845070
16585  ...           NaN           NaN           NaN           NaN
18163  ...      3.507692      3.507692      3.507692      3.507692
14655  ...      3.397260      3.397260      3.397260      3.397260
9445   ...           NaN           NaN           NaN           NaN

       NTLcfc_D_2013  NTLctV_2012  NTLsumV_2012  NTLavgV_2012  NTLmaxV_2012  \
8440            62.0          NaN           NaN           NaN           NaN
22850            NaN          NaN           NaN           NaN           NaN
21220           69.0          NaN           NaN           NaN           NaN
22902           66.0          NaN           NaN           NaN           NaN
21723            NaN          NaN           NaN           NaN           NaN
7113            74.0          NaN           NaN           NaN           NaN
16585            NaN          NaN           NaN           NaN           NaN
18163           65.0          NaN           NaN           NaN           NaN
14655           73.0          NaN           NaN           NaN           NaN
9445             NaN          NaN           NaN           NaN           NaN

       NTLminV_2012
8440            NaN
22850           NaN
21220           NaN
22902           NaN
21723           NaN
7113            NaN
16585           NaN
18163           NaN
14655           NaN
9445            NaN

[10 rows x 96 columns]
Loading data for Msk_V_2012_cfc.tif. Sun Feb 19 10:36:30 2023

Finished gdal.Translate() for year 2012. Sun Feb 19 10:36:33 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:36:37 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:36:37 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:36:41 2023

          Z  Sett_ID
2056919  44        8
1597911  42   102540
463961   54   475024
654622   60   445605
1530072  54   265974
950117   45   416060
585997   51   458248
1021790  47   396587
1111886  45   180521
1238005  46   203951

Exported as table. Sun Feb 19 10:36:41 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:36:41 2023


Count of cloud-free observations averaged to settlement level, year 2012. Sun Feb 19 10:36:41 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
12295   294473          6.0  1.701412e+39  2.835686e+38  3.402823e+38
17176   445221          1.0  3.402823e+38  3.402823e+38  3.402823e+38
1779     37078         14.0  4.763953e+39  3.402823e+38  3.402823e+38
21225   493540          1.0  3.402823e+38  3.402823e+38  3.402823e+38
6190    155995          5.0  1.361129e+39  2.722259e+38  3.402823e+38
9649    215815          3.0  6.805647e+38  2.268549e+38  3.402823e+38
20365   468493         10.0  3.402823e+39  3.402823e+38  3.402823e+38
17677   445972          7.0  2.041694e+39  2.916706e+38  3.402823e+38
7270    180439          4.0  1.020847e+39  2.552118e+38  3.402823e+38
4936    117577         13.0  4.423671e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
12295  2.772398e+00     221.833333          6.0  1.701412e+39  2.835686e+38
17176  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
1779   3.402823e+38     255.000000         14.0  4.763953e+39  3.402823e+38
21225  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
6190   2.642276e+00     214.400000          5.0  1.361129e+39  2.722259e+38
9649   2.966045e+00     190.000000          3.0  6.805647e+38  2.268549e+38
20365  3.402823e+38     255.000000         10.0  3.402823e+39  3.402823e+38
17677  2.635440e+00     226.714286          7.0  2.041694e+39  2.916706e+38
7270   2.738461e+00     206.000000          4.0  1.020847e+39  2.552118e+38
4936   3.402823e+38     255.000000         13.0  4.423671e+39  3.402823e+38

       ...  NTLavgD_2013  NTLmaxD_2013  NTLminD_2013  NTLcfc_D_2013  \
12295  ...      3.757143      3.757143      3.757143           71.0
17176  ...           NaN           NaN           NaN            NaN
1779   ...           NaN           NaN           NaN            NaN
21225  ...           NaN           NaN           NaN            NaN
6190   ...      3.767123      3.767123      3.767123           75.0
9649   ...      4.424657      4.424657      4.424657           73.0
20365  ...           NaN           NaN           NaN            NaN
17677  ...      3.263889      3.263889      3.263889           72.0
7270   ...      4.046154      4.046154      4.046154           68.0
4936   ...           NaN           NaN           NaN            NaN

       NTLctV_2012  NTLsumV_2012  NTLavgV_2012  NTLmaxV_2012  NTLminV_2012  \
12295          NaN           NaN           NaN           NaN           NaN
17176          NaN           NaN           NaN           NaN           NaN
1779           NaN           NaN           NaN           NaN           NaN
21225          NaN           NaN           NaN           NaN           NaN
6190           NaN           NaN           NaN           NaN           NaN
9649           NaN           NaN           NaN           NaN           NaN
20365          NaN           NaN           NaN           NaN           NaN
17677          NaN           NaN           NaN           NaN           NaN
7270           NaN           NaN           NaN           NaN           NaN
4936           NaN           NaN           NaN           NaN           NaN

       NTLcfc_V_2012
12295           53.0
17176           49.0
1779            38.0
21225            NaN
6190            44.0
9649            60.5
20365           57.0
17677           56.0
7270            48.0
4936            45.0

[10 rows x 97 columns]
Loading data for Msk_V_2013_avg.tif. Sun Feb 19 10:36:43 2023

Finished gdal.Translate() for year 2013. Sun Feb 19 10:36:47 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:36:50 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:36:50 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:36:52 2023

                Z  Sett_ID
1270406  0.420260   180085
1241831  1.044975   227047
1240035  1.889953   227047
951404   0.069640   401297
1227401  6.547158   227047
1290435  1.172861   227047
1322624  0.492216   180694
1382734  0.224199   318632
1239991  6.156235   227047
1199942  0.254382   137698

Exported as table. Sun Feb 19 10:36:52 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:36:52 2023


Desired aggregation methods applied to settlement level, year 2013. Sun Feb 19 10:36:52 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
1966     38637          6.0  1.701412e+39  2.835686e+38  3.402823e+38
12979   310078          5.0  1.701412e+39  3.402823e+38  3.402823e+38
1366     30213          8.0  2.722259e+39  3.402823e+38  3.402823e+38
18534   456939          1.0  3.402823e+38  3.402823e+38  3.402823e+38
20677   474480         12.0  4.083388e+39  3.402823e+38  3.402823e+38
21255   495479         19.0  6.125082e+39  3.223727e+38  3.402823e+38
19024   457561          1.0  2.422059e+00  2.422059e+00  2.422059e+00
7665    186512          4.0  1.361129e+39  3.402823e+38  3.402823e+38
1944     37274       1294.0  4.399851e+41  3.400194e+38  3.402823e+38
10603   236699         31.0  9.868188e+39  3.183286e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
1966   3.155841e+00     221.166667          6.0  1.701412e+39  2.835686e+38
12979  3.402823e+38     255.000000          5.0  1.701412e+39  3.402823e+38
1366   3.402823e+38     255.000000          8.0  2.722259e+39  3.402823e+38
18534  3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
20677  3.402823e+38     255.000000         12.0  4.083388e+39  3.402823e+38
21255  2.551923e+00     244.421053         19.0  6.125082e+39  3.223727e+38
19024  2.422059e+00      59.000000          1.0  2.711394e+00  2.711394e+00
7665   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
1944   2.724664e+00     254.844668       1294.0  4.399851e+41  3.400194e+38
10603  2.673790e+00     242.161290         31.0  9.868188e+39  3.183286e+38

       ...  NTLsumV_2012  NTLavgV_2012  NTLmaxV_2012  NTLminV_2012  \
1966   ...      0.314439      0.157219      0.261149       0.05329
12979  ...           NaN           NaN           NaN           NaN
1366   ...           NaN           NaN           NaN           NaN
18534  ...           NaN           NaN           NaN           NaN
20677  ...           NaN           NaN           NaN           NaN
21255  ...           NaN           NaN           NaN           NaN
19024  ...           NaN           NaN           NaN           NaN
7665   ...           NaN           NaN           NaN           NaN
1944   ...           NaN           NaN           NaN           NaN
10603  ...           NaN           NaN           NaN           NaN

       NTLcfc_V_2012  NTLctV_2013  NTLsumV_2013  NTLavgV_2013  NTLmaxV_2013  \
1966       52.000000          2.0      0.908269      0.454134      0.667223
12979      58.500000          NaN           NaN           NaN           NaN
1366       39.000000          NaN           NaN           NaN           NaN
18534      55.500000          NaN           NaN           NaN           NaN
20677      57.000000          NaN           NaN           NaN           NaN
21255      59.000000          NaN           NaN           NaN           NaN
19024      56.000000          NaN           NaN           NaN           NaN
7665       45.000000          NaN           NaN           NaN           NaN
1944       42.800000          NaN           NaN           NaN           NaN
10603      50.833333          NaN           NaN           NaN           NaN

       NTLminV_2013
1966       0.241045
12979           NaN
1366            NaN
18534           NaN
20677           NaN
21255           NaN
19024           NaN
7665            NaN
1944            NaN
10603           NaN

[10 rows x 102 columns]
Loading data for Msk_V_2013_cfc.tif. Sun Feb 19 10:36:54 2023

Finished gdal.Translate() for year 2013. Sun Feb 19 10:36:57 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:37:01 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:37:01 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:37:05 2023

           Z  Sett_ID
692422   107   458062
1400489  111   294245
1639714  105   188470
631037   104   458183
2046110   95        7
1301254  111   227047
997277   103   528163
1659050  108    51187
1611149  106   266112
1302916  112   203483

Exported as table. Sun Feb 19 10:37:05 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:37:05 2023


Count of cloud-free observations averaged to settlement level, year 2013. Sun Feb 19 10:37:05 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
17619   445870          7.0  2.041694e+39  2.916706e+38  3.402823e+38
16022   414290          2.0  3.402823e+38  1.701412e+38  3.402823e+38
7100    180233         51.0  1.701412e+40  3.336101e+38  3.402823e+38
15198   408820          6.0  1.361129e+39  2.268549e+38  3.402823e+38
18051   454008          3.0  6.805647e+38  2.268549e+38  3.402823e+38
23343   597223        112.0  3.811162e+40  3.402823e+38  3.402823e+38
2496     51646          1.0  3.402823e+38  3.402823e+38  3.402823e+38
8803    204266          4.0  1.361129e+39  3.402823e+38  3.402823e+38
21389   501664          3.0  1.020847e+39  3.402823e+38  3.402823e+38
1606     36872         18.0  6.125082e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
17619  2.683971e+00     226.714286          7.0  2.041694e+39  2.916706e+38
16022  2.528690e+00     157.000000          2.0  3.402823e+38  1.701412e+38
7100   2.746951e+00     251.039216         51.0  1.701412e+40  3.336101e+38
15198  2.557358e+00     188.500000          6.0  1.361129e+39  2.268549e+38
18051  2.550189e+00     189.000000          3.0  6.805647e+38  2.268549e+38
23343  3.402823e+38     255.000000        112.0  3.811162e+40  3.402823e+38
2496   3.402823e+38     255.000000          1.0  3.402823e+38  3.402823e+38
8803   3.402823e+38     255.000000          4.0  1.361129e+39  3.402823e+38
21389  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
1606   3.402823e+38     255.000000         18.0  6.125082e+39  3.402823e+38

       ...  NTLavgV_2012  NTLmaxV_2012  NTLminV_2012  NTLcfc_V_2012  \
17619  ...           NaN           NaN           NaN      53.500000
16022  ...           NaN           NaN           NaN      53.000000
7100   ...           NaN           NaN           NaN      41.714286
15198  ...           NaN           NaN           NaN      48.153846
18051  ...           NaN           NaN           NaN      52.000000
23343  ...           NaN           NaN           NaN      51.000000
2496   ...           NaN           NaN           NaN      46.000000
8803   ...           NaN           NaN           NaN      41.666667
21389  ...           NaN           NaN           NaN      51.666667
1606   ...           NaN           NaN           NaN      49.000000

       NTLctV_2013  NTLsumV_2013  NTLavgV_2013  NTLmaxV_2013  NTLminV_2013  \
17619          NaN           NaN           NaN           NaN           NaN
16022          NaN           NaN           NaN           NaN           NaN
7100           NaN           NaN           NaN           NaN           NaN
15198          NaN           NaN           NaN           NaN           NaN
18051          NaN           NaN           NaN           NaN           NaN
23343          NaN           NaN           NaN           NaN           NaN
2496           NaN           NaN           NaN           NaN           NaN
8803           NaN           NaN           NaN           NaN           NaN
21389          NaN           NaN           NaN           NaN           NaN
1606           NaN           NaN           NaN           NaN           NaN

       NTLcfc_V_2013
17619     113.500000
16022     123.000000
7100      104.285714
15198     118.230769
18051     114.000000
23343     119.000000
2496      106.000000
8803      116.666667
21389     117.000000
1606      104.000000

[10 rows x 103 columns]
Loading data for Msk_V_2014_avg.tif. Sun Feb 19 10:37:07 2023

Finished gdal.Translate() for year 2014. Sun Feb 19 10:37:11 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:37:15 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:37:15 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:37:16 2023

                 Z  Sett_ID
685094    4.053637   456905
1212988   3.282514   227047
692296    3.905006   456905
1274230   7.839927   234081
1829465   0.462932   351201
1812373   0.681269   155897
694099    1.974902   456905
1292191   0.250984   227277
1562495   2.550558   265667
1240019  21.193678   227047

Exported as table. Sun Feb 19 10:37:16 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:37:16 2023


Desired aggregation methods applied to settlement level, year 2014. Sun Feb 19 10:37:16 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
23090   581358         12.0  4.083388e+39  3.402823e+38  3.402823e+38
20867   474787         45.0  1.531271e+40  3.402823e+38  3.402823e+38
3575     87124         44.0  1.497242e+40  3.402823e+38  3.402823e+38
6790    166023         10.0  3.062541e+39  3.062541e+38  3.402823e+38
3445     84315         54.0  1.803496e+40  3.339808e+38  3.402823e+38
6261    156113          6.0  2.041694e+39  3.402823e+38  3.402823e+38
1875     37189         25.0  8.166776e+39  3.266711e+38  3.402823e+38
20951   474958          3.0  6.805647e+38  2.268549e+38  3.402823e+38
9565    215630          4.0  1.020847e+39  2.552118e+38  3.402823e+38
14646   399221         10.0  3.402823e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
23090  3.402823e+38     255.000000         12.0  4.083388e+39  3.402823e+38
20867  3.402823e+38     255.000000         45.0  1.531271e+40  3.402823e+38
3575   3.402823e+38     255.000000         44.0  1.497242e+40  3.402823e+38
6790   2.959375e+00     235.000000         10.0  3.062541e+39  3.062541e+38
3445   2.709792e+00     251.203704         54.0  1.803496e+40  3.339808e+38
6261   3.402823e+38     255.000000          6.0  2.041694e+39  3.402823e+38
1875   2.573276e+00     246.800000         25.0  8.166776e+39  3.266711e+38
20951  2.912880e+00     188.000000          3.0  6.805647e+38  2.268549e+38
9565   2.845031e+00     206.000000          4.0  1.020847e+39  2.552118e+38
14646  3.402823e+38     255.000000         10.0  3.402823e+39  3.402823e+38

       ...  NTLsumV_2013  NTLavgV_2013  NTLmaxV_2013  NTLminV_2013  \
23090  ...           NaN           NaN           NaN           NaN
20867  ...           NaN           NaN           NaN           NaN
3575   ...           NaN           NaN           NaN           NaN
6790   ...           NaN           NaN           NaN           NaN
3445   ...           NaN           NaN           NaN           NaN
6261   ...           NaN           NaN           NaN           NaN
1875   ...           NaN           NaN           NaN           NaN
20951  ...           NaN           NaN           NaN           NaN
9565   ...           NaN           NaN           NaN           NaN
14646  ...           NaN           NaN           NaN           NaN

       NTLcfc_V_2013  NTLctV_2014  NTLsumV_2014  NTLavgV_2014  NTLmaxV_2014  \
23090     130.500000          NaN           NaN           NaN           NaN
20867     116.000000          NaN           NaN           NaN           NaN
3575       97.666667          NaN           NaN           NaN           NaN
6790      101.000000          NaN           NaN           NaN           NaN
3445       92.000000          NaN           NaN           NaN           NaN
6261       96.666667          NaN           NaN           NaN           NaN
1875      104.750000          NaN           NaN           NaN           NaN
20951     116.000000          NaN           NaN           NaN           NaN
9565      108.500000          NaN           NaN           NaN           NaN
14646     101.000000          NaN           NaN           NaN           NaN

       NTLminV_2014
23090           NaN
20867           NaN
3575            NaN
6790            NaN
3445            NaN
6261            NaN
1875            NaN
20951           NaN
9565            NaN
14646           NaN

[10 rows x 108 columns]
Loading data for Msk_V_2014_cfc.tif. Sun Feb 19 10:37:18 2023

Finished gdal.Translate() for year 2014. Sun Feb 19 10:37:21 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:37:25 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:37:25 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:37:29 2023

           Z  Sett_ID
1272454  101   227043
1907678   96    51540
1308684   99   294532
1229803  108   319180
1895177   98    98104
1799476  113    51196
1439944  101   215558
1267006  106   227047
465365   114   468544
413100   114   469627

Exported as table. Sun Feb 19 10:37:29 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:37:29 2023


Count of cloud-free observations averaged to settlement level, year 2014. Sun Feb 19 10:37:29 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
18368   454361         11.0  3.402823e+39  3.093476e+38  3.402823e+38
18411   454623          3.0  1.020847e+39  3.402823e+38  3.402823e+38
7707    187039          7.0  2.041694e+39  2.916706e+38  3.402823e+38
9017    205885          NaN           NaN           NaN           NaN
15459   409249          5.0  1.361129e+39  2.722259e+38  3.402823e+38
9535    215560          3.0  6.805647e+38  2.268549e+38  3.402823e+38
381        446         25.0  8.166776e+39  3.266711e+38  3.402823e+38
19578   458234          2.0  3.402823e+38  1.701412e+38  3.402823e+38
21198   487769          3.0  1.020847e+39  3.402823e+38  3.402823e+38
10774   247225         11.0  3.743106e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
18368  2.543651e+00     236.909091         11.0  3.402823e+39  3.093476e+38
18411  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
7707   2.694623e+00     226.285714          7.0  2.041694e+39  2.916706e+38
9017            NaN            NaN          NaN           NaN           NaN
15459  2.540616e+00     215.600000          5.0  1.361129e+39  2.722259e+38
9535   2.788301e+00     189.000000          3.0  6.805647e+38  2.268549e+38
381    2.578030e+00     246.800000         25.0  8.166776e+39  3.266711e+38
19578  2.528602e+00     154.500000          2.0  3.402823e+38  1.701412e+38
21198  3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38
10774  3.402823e+38     255.000000         11.0  3.743106e+39  3.402823e+38

       ...  NTLavgV_2013  NTLmaxV_2013  NTLminV_2013  NTLcfc_V_2013  \
18368  ...           NaN           NaN           NaN         113.00
18411  ...           NaN           NaN           NaN         109.00
7707   ...           NaN           NaN           NaN         107.00
9017   ...           NaN           NaN           NaN         103.00
15459  ...           NaN           NaN           NaN         106.75
9535   ...           NaN           NaN           NaN         109.50
381    ...           NaN           NaN           NaN          96.00
19578  ...           NaN           NaN           NaN         104.00
21198  ...           NaN           NaN           NaN         114.00
10774  ...           NaN           NaN           NaN          98.50

       NTLctV_2014  NTLsumV_2014  NTLavgV_2014  NTLmaxV_2014  NTLminV_2014  \
18368          NaN           NaN           NaN           NaN           NaN
18411          NaN           NaN           NaN           NaN           NaN
7707           NaN           NaN           NaN           NaN           NaN
9017           NaN           NaN           NaN           NaN           NaN
15459          NaN           NaN           NaN           NaN           NaN
9535           NaN           NaN           NaN           NaN           NaN
381            NaN           NaN           NaN           NaN           NaN
19578          NaN           NaN           NaN           NaN           NaN
21198          NaN           NaN           NaN           NaN           NaN
10774          NaN           NaN           NaN           NaN           NaN

       NTLcfc_V_2014
18368         117.00
18411         112.00
7707          110.00
9017          109.00
15459         116.75
9535           97.50
381           101.40
19578         121.00
21198         119.00
10774          94.50

[10 rows x 109 columns]
Loading data for Msk_V_2015_avg.tif. Sun Feb 19 10:37:32 2023

Finished gdal.Translate() for year 2015. Sun Feb 19 10:37:35 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:37:39 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:37:39 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:37:40 2023

                 Z  Sett_ID
1385940   0.250107   215150
1813090   0.869642   277234
1794048   0.959889    51640
1144605   0.587136   501405
1274244   2.391495   227047
1848094   0.383477    51464
1265228  21.848469   227047
1250831   2.345626   227047
2231581   0.377271        3
1819295   5.830219    51196

Exported as table. Sun Feb 19 10:37:40 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:37:40 2023


Desired aggregation methods applied to settlement level, year 2015. Sun Feb 19 10:37:40 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
8455    203615          4.0  1.020847e+39  2.552118e+38  3.402823e+38
18347   454337          7.0  2.041694e+39  2.916706e+38  3.402823e+38
7795    188429         26.0  8.507059e+39  3.271946e+38  3.402823e+38
5286    129754         40.0  1.361129e+40  3.402823e+38  3.402823e+38
6511    162562          2.0  6.805647e+38  3.402823e+38  3.402823e+38
20664   474462         22.0  7.486212e+39  3.402823e+38  3.402823e+38
700      10824         16.0  5.104235e+39  3.190147e+38  3.402823e+38
14733   400575         55.0  1.837525e+40  3.340954e+38  3.402823e+38
12777   309774          2.0  3.402823e+38  1.701412e+38  3.402823e+38
3945     93263          3.0  1.020847e+39  3.402823e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
8455   2.789826e+00     206.250000          4.0  1.020847e+39  2.552118e+38
18347  2.459195e+00     226.285714          7.0  2.041694e+39  2.916706e+38
7795   2.889969e+00     247.461538         26.0  8.507059e+39  3.271946e+38
5286   3.402823e+38     255.000000         40.0  1.361129e+40  3.402823e+38
6511   3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
20664  3.402823e+38     255.000000         22.0  7.486212e+39  3.402823e+38
700    2.710331e+00     242.312500         16.0  5.104235e+39  3.190147e+38
14733  2.818326e+00     251.345455         55.0  1.837525e+40  3.340954e+38
12777  2.640787e+00     155.000000          2.0  3.402823e+38  1.701412e+38
3945   3.402823e+38     255.000000          3.0  1.020847e+39  3.402823e+38

       ...  NTLsumV_2014  NTLavgV_2014  NTLmaxV_2014  NTLminV_2014  \
8455   ...           NaN           NaN           NaN           NaN
18347  ...           NaN           NaN           NaN           NaN
7795   ...           NaN           NaN           NaN           NaN
5286   ...           NaN           NaN           NaN           NaN
6511   ...           NaN           NaN           NaN           NaN
20664  ...           NaN           NaN           NaN           NaN
700    ...           NaN           NaN           NaN           NaN
14733  ...           NaN           NaN           NaN           NaN
12777  ...           NaN           NaN           NaN           NaN
3945   ...           NaN           NaN           NaN           NaN

       NTLcfc_V_2014  NTLctV_2015  NTLsumV_2015  NTLavgV_2015  NTLmaxV_2015  \
8455          109.00          NaN           NaN           NaN           NaN
18347         123.75          NaN           NaN           NaN           NaN
7795           92.00          NaN           NaN           NaN           NaN
5286           94.50          NaN           NaN           NaN           NaN
6511           98.00          NaN           NaN           NaN           NaN
20664         116.00          NaN           NaN           NaN           NaN
700            94.50          NaN           NaN           NaN           NaN
14733         110.00          NaN           NaN           NaN           NaN
12777          97.00          NaN           NaN           NaN           NaN
3945           94.00          NaN           NaN           NaN           NaN

       NTLminV_2015
8455            NaN
18347           NaN
7795            NaN
5286            NaN
6511            NaN
20664           NaN
700             NaN
14733           NaN
12777           NaN
3945            NaN

[10 rows x 114 columns]
Loading data for Msk_V_2015_cfc.tif. Sun Feb 19 10:37:42 2023

Finished gdal.Translate() for year 2015. Sun Feb 19 10:37:45 2023

Loaded XYZ file as a pandas dataframe. Sun Feb 19 10:37:49 2023

Created geodataframe from non-NoData points. Sun Feb 19 10:37:49 2023


Joined zone ID onto vectorized raster cells. Sun Feb 19 10:37:53 2023

           Z  Sett_ID
580799   118   445691
1137161  112   180646
542966   112   474205
390245   121   581470
1564294  106   265667
643670   107   458172
1576343   98   102546
2456828   94       48
1229077  107   210283
1501381  106   247086

Exported as table. Sun Feb 19 10:37:53 2023

Removed (or skipped if error) intermediate xyz file. Sun Feb 19 10:37:53 2023


Count of cloud-free observations averaged to settlement level, year 2015. Sun Feb 19 10:37:53 2023

       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
16631   416841         24.0  8.166776e+39  3.402823e+38  3.402823e+38
8650    203899          1.0  3.402823e+38  3.402823e+38  3.402823e+38
8662    203921          3.0  1.020847e+39  3.402823e+38  3.402823e+38
4073     96146          8.0  2.722259e+39  3.402823e+38  3.402823e+38
15173   405453          5.0  1.361129e+39  2.722259e+38  3.402823e+38
15095   404545          6.0  2.041694e+39  3.402823e+38  3.402823e+38
17672   445962          9.0  3.062541e+39  3.402823e+38  3.402823e+38
18628   457045         10.0  3.402823e+39  3.402823e+38  3.402823e+38
8298    203357          1.0  2.941716e+00  2.941716e+00  2.941716e+00
8440    203588          4.0  1.020847e+39  2.552118e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
16631  3.402823e+38          255.0         24.0  8.166776e+39  3.402823e+38
8650   3.402823e+38          255.0          1.0  3.402823e+38  3.402823e+38
8662   3.402823e+38          255.0          3.0  1.020847e+39  3.402823e+38
4073   3.402823e+38          255.0          8.0  2.722259e+39  3.402823e+38
15173  2.989130e+00          215.6          5.0  1.361129e+39  2.722259e+38
15095  3.402823e+38          255.0          6.0  2.041694e+39  3.402823e+38
17672  3.402823e+38          255.0          9.0  3.062541e+39  3.402823e+38
18628  3.402823e+38          255.0         10.0  3.402823e+39  3.402823e+38
8298   2.941716e+00           54.0          1.0  2.799062e+00  2.799062e+00
8440   2.678121e+00          206.0          4.0  1.020847e+39  2.552118e+38

       ...  NTLavgV_2014  NTLmaxV_2014  NTLminV_2014  NTLcfc_V_2014  \
16631  ...           NaN           NaN           NaN     116.000000
8650   ...           NaN           NaN           NaN     105.000000
8662   ...           NaN           NaN           NaN     111.500000
4073   ...           NaN           NaN           NaN      98.000000
15173  ...           NaN           NaN           NaN     110.333333
15095  ...           NaN           NaN           NaN     106.000000
17672  ...           NaN           NaN           NaN     119.500000
18628  ...           NaN           NaN           NaN     122.000000
8298   ...           NaN           NaN           NaN     113.000000
8440   ...           NaN           NaN           NaN     103.833333

       NTLctV_2015  NTLsumV_2015  NTLavgV_2015  NTLmaxV_2015  NTLminV_2015  \
16631          NaN           NaN           NaN           NaN           NaN
8650           NaN           NaN           NaN           NaN           NaN
8662           NaN           NaN           NaN           NaN           NaN
4073           NaN           NaN           NaN           NaN           NaN
15173          NaN           NaN           NaN           NaN           NaN
15095          NaN           NaN           NaN           NaN           NaN
17672          NaN           NaN           NaN           NaN           NaN
18628          NaN           NaN           NaN           NaN           NaN
8298           NaN           NaN           NaN           NaN           NaN
8440           NaN           NaN           NaN           NaN           NaN

       NTLcfc_V_2015
16631          101.0
8650           101.0
8662           105.5
4073            88.0
15173          106.0
15095          112.0
17672          112.5
18628          115.0
8298           106.0
8440           105.0

[10 rows x 115 columns]


Finished. All years masked and assigned their nearest settlement. Sun Feb 19 10:37:56 2023
       Sett_ID  NTLctD_1999  NTLsumD_1999  NTLavgD_1999  NTLmaxD_1999  \
22258   528001          3.0  6.805647e+38  2.268549e+38  3.402823e+38
6739    165942         19.0  5.444518e+39  2.865536e+38  3.402823e+38
4392    102622         26.0  8.507059e+39  3.271946e+38  3.402823e+38
8056    202964         23.0  5.444518e+39  2.367182e+38  3.402823e+38
22842   571922         49.0  1.667383e+40  3.402823e+38  3.402823e+38
13222   314870          NaN           NaN           NaN           NaN
1534     36224          2.0  6.805647e+38  3.402823e+38  3.402823e+38
14544   396586         49.0  1.633355e+40  3.333378e+38  3.402823e+38
7214    180366          8.0  2.722259e+39  3.402823e+38  3.402823e+38
19534   458180         13.0  4.083388e+39  3.141068e+38  3.402823e+38

       NTLminD_1999  NTLcfc_D_1999  NTLctD_2000  NTLsumD_2000  NTLavgD_2000  \
22258  2.807530e+00     188.000000          3.0  6.805647e+38  2.268549e+38
6739   2.686813e+00     223.315789         19.0  5.444518e+39  2.865536e+38
4392   3.094872e+00     247.192308         26.0  8.507059e+39  3.271946e+38
8056   2.573529e+00     194.956522         23.0  5.444518e+39  2.367182e+38
22842  3.402823e+38     255.000000         49.0  1.667383e+40  3.402823e+38
13222           NaN            NaN          NaN           NaN           NaN
1534   3.402823e+38     255.000000          2.0  6.805647e+38  3.402823e+38
14544  2.510234e+00     250.795918         49.0  1.633355e+40  3.333378e+38
7214   3.402823e+38     255.000000          8.0  2.722259e+39  3.402823e+38
19534  2.509734e+00     239.615385         13.0  4.083388e+39  3.141068e+38

       ...  NTLavgV_2014  NTLmaxV_2014  NTLminV_2014  NTLcfc_V_2014  \
22258  ...           NaN           NaN           NaN     106.500000
6739   ...           NaN           NaN           NaN      97.375000
4392   ...           NaN           NaN           NaN     100.000000
8056   ...      0.320567      0.928956      0.054024     124.666667
22842  ...           NaN           NaN           NaN     116.500000
13222  ...           NaN           NaN           NaN     101.500000
1534   ...           NaN           NaN           NaN      99.500000
14544  ...           NaN           NaN           NaN     108.666667
7214   ...           NaN           NaN           NaN     108.000000
19534  ...           NaN           NaN           NaN     110.500000

       NTLctV_2015  NTLsumV_2015  NTLavgV_2015  NTLmaxV_2015  NTLminV_2015  \
22258          NaN           NaN           NaN           NaN           NaN
6739           NaN           NaN           NaN           NaN           NaN
4392           NaN           NaN           NaN           NaN           NaN
8056          25.0      9.295749       0.37183       0.92745      0.106723
22842          NaN           NaN           NaN           NaN           NaN
13222          NaN           NaN           NaN           NaN           NaN
1534           NaN           NaN           NaN           NaN           NaN
14544          NaN           NaN           NaN           NaN           NaN
7214           NaN           NaN           NaN           NaN           NaN
19534          NaN           NaN           NaN           NaN           NaN

       NTLcfc_V_2015
22258      111.00000
6739        97.75000
4392        97.00000
8056       112.37037
22842      116.50000
13222      118.50000
1534        96.00000
14544      101.50000
7214       100.00000
19534      108.50000

[10 rows x 115 columns]

Saved to file. Sun Feb 19 10:37:58 2023

---

## 10. FLOOD EXPOSURE BY RETURN PERIOD

### 10.1 Reclassify and set NoData values of rasters.

##### Flood layers

In [ ]:
InRasters = ['FD_1in20.tif', 'FD_1in100.tif', 'FD_1in1000.tif']
BinaryRasters = []

for Raster in InRasters:
    InPath = os.path.join(ProjectFolder, 'Hazard', Raster)
    OutPath = os.path.join(ProjectFolder, 'Hazard', Raster.replace('.tif', '_binary.tif'))
    
    [xsize, ysize, geotransform, geoproj, Z] = readRaster(InPath)
    
    Z[Z<0.15] = 0
    Z[Z>=0.15] = 1
    
    writeRaster(OutPath,geotransform,geoproj,Z)
    InPath = OutPath = None
    BinaryRasters = BinaryRasters + [Raster.replace('.tif', '_binary.tif')]
    
    print('Finished reclassifying %s. %s' % (Raster, time.ctime()))

print('\nNew flood set: %s' % BinaryRasters)

### 10.2 Resample flood data to match buildup layer.

 - Align flood to WSFE: CRS, extent, origin, and resolution.

In [ ]:
BinaryRasters = ['FD_1in20_binary.tif', 'FD_1in100_binary.tif', 'FD_1in1000_binary.tif']
ResampledRasters = []

WSFEPath = os.path.join(ProjectFolder, 'Buildup', 'WSFE_reclass.tif')

for Raster in BinaryRasters:
    RasterPath = os.path.join(ProjectFolder, 'Hazard', Raster)
    OutPath = os.path.join(ProjectFolder, 'Hazard', Raster.replace('_binary', '_upsample'))
    resampleRaster(RasterPath, WSFEPath, OutPath)
    ResampledRasters = ResampledRasters + [Raster.replace('_binary', '_upsample')]
    
print('Done. New flood set: %s. %s' % (ResampledRasters, time.ctime()))

### 10.3 Mask out built areas that were not flooded.

In [ ]:
WSFEPath = ''.join([r'Buildup/', 'WSFE_reclass.tif'])
ResampledRasters = ['FD_1in20_upsample.tif', 'FD_1in100_upsample.tif', 'FD_1in1000_upsample.tif']
IntersectRasters = []

for Raster in ResampledRasters:
    InPath = ''.join([r'Hazard/', Raster])
    OutPath = ''.join([r'Hazard/', Raster.replace('_upsample', '_WSFE')])
    
    calcShell(WSFEPath, InPath, OutPath, "A*B")
    IntersectRasters = IntersectRasters + [Raster.replace('_upsample', '_WSFE')]
    
print('Done with list. New flood set: %s' % IntersectRasters)

Generate a spatial object from flooded-only buildup cells
 - WSFE_Flooded to numpy array to Pandas points dataframe, excluding 0 and NoData.

Calculate area at risk of flood per settlement per year (that year's new buildup only)
 - Create "area" field for each feature with the value 30 (30 square meter resolution)
 - Spatial join Settlement IDs onto WSFE_Flooded_dataframe
 - Calculate sum of area field for each [Sett_ID, year] group. (new dataframe created)

Calculate area at risk of flood per settlement per year (cumulative area in that year)
 - Iterating through the study years, subset the sum area dataframe to that year's build-up to-date
 - Calculate sum of area field for each Sett_ID
 - Assign sum of area for that cumulative year to a Settlements dataframe by table join on Sett_ID

Calculate percent flooded
 - Area_flooded_year / Area_year = percent_flooded_year
 - Save to file as csv.

### 10.4 Rasterize settlement and create "join" serial.

In [ ]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')[['Sett_ID', 'geometry']]
Sett = os.path.join(ProjectFolder, 'Settlement', 'Settlements_rasterized.tif')
# Copy and update the metadata from WSFE for the output
WSFE = os.path.join(ProjectFolder, 'Buildup', 'WSFE_equalarea.tif')

ShapeToRaster(Shapefile=Settlements, ValueVar="Sett_ID", MetaRasterPath=WSFE, OutFilePath=Sett)

In [ ]:
len_Sett = len(str(Settlements['Sett_ID'].max()))
SettRasters = []

for Raster in IntersectRasters:
    InFlood = os.path.join(ProjectFolder, 'Hazard', Raster)
    OutSettFlood = os.path.join(ProjectFolder, 'Hazard', Raster.replace('_WSFE', '_Settlements'))
    # Calculations
    Calc = "(A*" + str(10**len_Sett) + ")+B" 

    calcShell(A=InG3, B=InADM, OutFile=G3_ADM, Calculation=Calc)
    
    SettRasters = SettRasters + [Raster.replace('_WSFE', '_Settlements')]
    rioStats(OutSettFlood)

print('Done with list. New flood set: %s. %s' % (SettRasters, time.ctime()))

### 10.5 Vectorize serialized layers.

In [ ]:
FloodShps = []

for Raster in SettRasters:
    InPath = os.path.join(ProjectFolder, 'Hazard', Raster)
    OutName = Raster.replace('.tif', '')
    OutPath = os.path.join(ProjectFolder, 'Hazard', ''.join(OutName, '.shp'))
    
    RasterToShapefile(InPath, OutPath, OutName=OutName, VariableName='gridcode', Driver = 'ESRI Shapefile')
    
    FloodShps = FloodShps + [''.join(OutName, '.shp')]

print('Done with list. New flood set: %s. %s' % (FloodShps, time.ctime()))

### 10.6 Vector math to split raster strings back out into df variables.

In [ ]:
# Load newly created vectorized datasets.
GRID3_ADM = gpd.read_file(r"Settlement/GRID3_ADM.shp")
WSFE_ADM = gpd.read_file(r"Buildup/WSFE_ADM.shp")
print(GRID3_ADM.info(), "\n\n", GRID3_ADM.sample(10), "\n\n", GRID3_ADM.crs, "\n\n", 
      WSFE_ADM.info(), "\n\n", WSFE_ADM.sample(10), "\n\n", WSFE_ADM.crs, "\n\n", 
      GRID3_ADM['gridcode'].max(), WSFE_ADM['gridcode'].max())

In [ ]:
# Split serial back into separate dataset fields.
# For example, Burkina: WSFE and ADM: 4+3=7 digits. GRID3 and ADM: 6+3=9 digits.

G3_Fill = len_G3 + len_ADM
WSFE_Fill = 4 + len_ADM

GRID3_ADM['gridstring'] = GRID3_ADM['gridcode'].astype(str).str.zfill(G3_Fill)
WSFE_ADM['gridstring'] = WSFE_ADM['gridcode'].astype(str).str.zfill(WSFE_Fill)

GRID3_ADM['Sett_ID'] = GRID3_ADM['gridstring'].str[:-len_ADM].astype(int) # Remove the last 3 digits to get the GRID3 portion.
GRID3_ADM['ADM_ID'] = GRID3_ADM['gridstring'].str[-len_ADM:].astype(int) # Keep only the last 3 digits to get the ADM portion.
WSFE_ADM['year'] = WSFE_ADM['gridstring'].str[:-len_ADM].astype(int)
WSFE_ADM['ADM_ID'] = WSFE_ADM['gridstring'].str[-len_ADM:].astype(int)

print(GRID3_ADM.sample(10), WSFE_ADM.sample(10))

### 10.4 Generate vector spatial object from built-up cells and from flooded-only subset of built-up cells.

In [ ]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_equalarea')[['Sett_ID', 'geometry']]

# Create a dataframe on which to merge results.
AllSummaries = pd.DataFrame(Settlements).drop(columns='geometry') 
print(AllSummaries.sample(10))

IntersectRasters = ['FD_1in20_WSFE.tif', 'FD_1in100_WSFE.tif', 'FD_1in1000_WSFE.tif']

print(WSFEYears, '\n', AllStudyYears)

##### All build-up

In [ ]:
### STEP 1: TIF TO DATAFRAME OBJECT ###
Raster = 'WSFE_reclass.tif'
InPath = os.path.join(ProjectFolder, 'Buildup', Raster)
OutCSVPath = ''.join([r'Buildup/', Raster.replace('.tif', '.csv')])

if exists(OutCSVPath):
    print('Already produced points for %s. Moving on to aggregation. %s' % (Raster, time.ctime()))
    ValDF_withID = pd.read_csv(OutCSVPath)
else:
    print('Loading data for %s. %s \n' % (Raster, time.ctime()))
    ValDF = rioxarray.open_rasterio(InPath).to_dataframe("year").reset_index()
    ValDF = ValDF[ValDF.year >= 1985]  # Making sure we only retain cells with buildup years.
    ValDF = ValDF[ValDF.year <= 2015]

    print('---Created pandas dataframe. %s \n' % time.ctime())


### STEP 2: GENERATE GEODATAFRAME WITH SETT_ID FIELD ###
    ValDF = gpd.GeoDataFrame(ValDF,
                              geometry = gpd.points_from_xy(ValDF['x'], ValDF['y']),
                              crs = 'EPSG:4326')[['year', 'geometry']]
    print('---Created geodataframe from non-NoData points. %s \n' % time.ctime())

    # Remember to reproject our new raster-derived geodataframe into the same equal area projection as Settlements.
    ValDF = ValDF.to_crs("ESRI:102022")

    # Sjoin_nearest: No need to group by ADM this time. 
    ValDF_withID = gpd.sjoin_nearest(ValDF, 
                                    Settlements, 
                                    how='left') # No need for max_distance parameter this time. We've already narrowed down to nearby raster cells.

    print('---Joined settlement ID onto vectorized raster cells. %s \n' % time.ctime())
    try:
        print(ValDF_withID.sample(5))
    except ValueError:
        pass
    del ValDF

    # We no longer need the spatial information of the raster values because we have their unique settlement ID.
    ValDF_withID = pd.DataFrame(ValDF_withID).drop(columns='geometry')

    ValDF_withID.to_csv(OutCSVPath)
    print('---Exported as table. %s \n' % time.ctime())


### STEP 3: AGGREGATE BY SETTLEMENT AND MERGE ONTO SUMMARIES TABLE ###

# AllStudyYears are our variables (1999-2015), but we'll pull cells from the start of WSFEYears. (1985)
for item in AllStudyYears: 
    print('------Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    YearSubset = ValDF_withID[ValDF_withID['year'].between(1985, item, inclusive=True)]
    VariableName = ''.join(['WSFE', str(item)])

    ValAggregated = YearSubset.groupby(
        'Sett_ID', as_index=False)['year'].count().rename(columns={'year': VariableName})
    print('\n------Cells flooded by that year per settlement counted, year %s. %s \n' % (item, time.ctime()))

    try:
        print(ValAggregated.sample(5))
    except ValueError:
        pass
    AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
    print(AllSummaries.sample(5))

    del VariableName, ValAggregated, YearSubset
del ValDF_withID
print('\n\n')


print('\n\nFinished. All years masked and assigned their nearest settlement. %s' % time.ctime())

AllSummaries.to_csv(os.path.join(ResultsFolder, 'WSFEcells%sto%s.csv' % (1999, 2015)))
print('Saved to file. %s \n' % time.ctime())

In [ ]:
AllSummaries = pd.read_csv(os.path.join(ResultsFolder, 'WSFEcells1999to2015.csv'))

##### Flooded build-up

In [ ]:
for Raster in IntersectRasters:
    
### STEP 1: TIF TO DATAFRAME OBJECT ###
    InPath = os.path.join(ProjectFolder, 'Hazard', Raster)
    OutCSVPath = ''.join([r'Hazard/', Raster.replace('.tif', '.csv')])
    
    if exists(OutCSVPath):
        print('Already produced points for %s. Moving on to aggregation. %s' % (Raster, time.ctime()))
        ValDF_withID = pd.read_csv(OutCSVPath)
    else:
        print('Loading data for %s. %s \n' % (Raster, time.ctime()))
        ValDF = rioxarray.open_rasterio(InPath, dtype='uint32').to_dataframe("year").reset_index()
#         ValDF = ValDF[ValDF.year >= 1985] # Making sure we only retain cells with buildup years.
#         ValDF = ValDF[ValDF.year <= 2015] 
        print('---Created pandas dataframe. %s \n' % time.ctime())


### STEP 2: GENERATE GEODATAFRAME WITH SETT_ID FIELD ###
        ValDF = gpd.GeoDataFrame(ValDF,
                                  geometry = gpd.points_from_xy(ValDF['x'], ValDF['y']),
                                  crs = 'EPSG:4326')[['year', 'geometry']]
        print('---Created geodataframe from non-NoData points. %s \n' % time.ctime())

        # Remember to reproject our new raster-derived geodataframe into the same equal area projection as Settlements.
        ValDF = ValDF.to_crs("ESRI:102022")

        # Sjoin_nearest: No need to group by ADM this time. 
        ValDF_withID = gpd.sjoin_nearest(ValDF, 
                                        Settlements, 
                                        how='left') # No need for max_distance parameter this time. We've already narrowed down to nearby raster cells.

        print('---Joined settlement ID onto vectorized raster cells. %s \n' % time.ctime())
        try:
            print(ValDF_withID.sample(5))
        except ValueError:
            pass
        del ValDF

        # We no longer need the spatial information of the raster values because we have their unique settlement ID.
        ValDF_withID = pd.DataFrame(ValDF_withID).drop(columns='geometry')

        ValDF_withID.to_csv(OutCSVPath)
        print('---Exported as table. %s \n' % time.ctime())

    
### STEP 3: AGGREGATE BY SETTLEMENT AND MERGE ONTO SUMMARIES TABLE ###

    # AllStudyYears are our variables (1999-2015), but we'll pull cells from the start of WSFEYears. (1985)
    for item in AllStudyYears: 
        print('------Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
        YearSubset = ValDF_withID[ValDF_withID['year'].between(1985, item, inclusive=True)]
        FloodedVariable = ''.join([Raster.replace('FD_', 'FD').replace('WSFE.tif',''), str(item)])
        WSFEVariable = ''.join(['WSFE', str(item)])
        
        ValAggregated = YearSubset.groupby(
            'Sett_ID', as_index=False)['year'].count().rename(columns={'year': FloodedVariable})
        print('\n------Cells flooded by that year per settlement counted, year %s. %s \n' % (item, time.ctime()))
        
        try:
            print(ValAggregated.sample(5))
        except ValueError:
            pass
        AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
        AllSummaries[FloodedVariable] = AllSummaries[FloodedVariable] / AllSummaries[WSFEVariable] # Area of cells (30m2 each) as percent of total area that year.
        print(AllSummaries.sample(5))
        
        del VariableName, ValAggregated, YearSubset
    del ValDF_withID
    print('\n\n')


print('\n\nFinished. All years masked and assigned their nearest settlement. %s' % time.ctime())

AllSummaries = AllSummaries.loc[:, ~AllSummaries.columns.str.startswith('WSFE')] # Drop WSFE columns
AllSummaries.to_csv(os.path.join(ResultsFolder, 'Flood%sto%s.csv' % (1999, 2015)))
print('Saved to file. %s \n' % time.ctime())

In [ ]:
AllSummaries.sort_values('FD1in20_2012', ascending=False).head(20)

In [ ]:
ValDF_withID = ValDF = None

# SCRATCH

In [ ]:
for YearFile in AnnualizedMaskedFiles:
    
### STEP 1: TIF TO DATAFRAME OBJECT ###
    InputRasterPath = os.path.join(ProjectFolder, "Population", YearFile)
    Year = str(re.sub(r'[^0-9]', '', YearFile))
    
    print('Loading data for %s. %s \n' % (YearFile, time.ctime()))
    
    ValDF = rioxarray.open_rasterio(InputRasterPath).to_dataframe("value").reset_index()
    ValDF = ValDF[ValDF.value < 100000] # Excluding NoData values by choosing a number far greater than the highest valid value.
    ValDF = ValDF[ValDF.value > 0] 

    print('Created pandas dataframe from %s. %s \n' % (YearFile, time.ctime()))
    
    
### STEP 2: GENERATE GEODATAFRAME WITH SETT_ID FIELD ###
    ValDF = gpd.GeoDataFrame(ValDF,
                              geometry = gpd.points_from_xy(ValDF['x'], ValDF['y']),
                              crs = 'EPSG:4326')[['value', 'geometry']]
    print('Created geodataframe from non-NoData points, %s. %s \n' % (YearFile, time.ctime()))

    # Remember to reproject our new raster-derived geodataframe into the same equal area projection as Settlements.
    ValDF = ValDF.to_crs("ESRI:102022")
    
    # Sjoin_nearest: No need to group by ADM this time. 
    ValDF_withID = gpd.sjoin_nearest(ValDF, 
                                    Settlements, 
                                    how='left') # No need for max_distance parameter this time. We've already narrowed down to nearby raster cells.
    
    print('\nJoined settlement ID onto vectorized raster cells for %s. %s \n' % (YearFile, time.ctime()))
    try:
        print(ValDF_withID.sample(10))
    except ValueError:
        pass
    del ValDF
    
    # We no longer need the spatial information of the raster values because we have their unique settlement ID.
    ValDF_withID = pd.DataFrame(ValDF_withID).drop(columns='geometry')

    ValObject_withID.to_csv(''.join([r'Population/', 'Masked_', Year, '.csv']))
    print('\nExported as table. %s. %s \n' % (YearFile, time.ctime()))
    

### STEP 3: AGGREGATE BY SETTLEMENT AND MERGE ONTO SUMMARIES TABLE ###
    VariableName = ''.join(['PopSum', Year])
    
    ValAggregated = ValObject_withID.groupby('Sett_ID', 
                                      as_index=False)['Z'].sum().rename(columns={"Z": VariableName})
    print('\nValues aggregated to settlement level, year %s. %s \n' % (Year, time.ctime()))
    print(ValAggregated.sample(10))
    
    AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
    print('\nMerged year %s onto latest year settlement feature layer. %s \n' % (Year, time.ctime()))
    print(AllSummaries.sample(10))
    
    del ValObject_withID, ValAggregated
    print('\n\n')
    

print('\n\nFinished. All years masked and assigned their nearest settlement. %s' % time.ctime())

AllSummaries.to_csv(os.path.join(ResultsFolder, 'Pop%sto%s.csv' % (2000, 2015)))
print('Saved to file. %s \n' % time.ctime())

### 10.2 Polygonize flood data.

In [ ]:
OutDriver = ogr.GetDriverByName("ESRI Shapefile")
OutName = Raster.replace('.tif','')
OutPath = os.path.join(ProjectFolder, 'Hazard', ''.join([OutName, '.shp']))
print(OutDriver, OutName, OutPath)

In [ ]:
SpatRef = osr.SpatialReference()
Proj = InObject.GetProjectionRef()
SpatRef.ImportFromWkt(Proj)
print(Proj, '\n\n', SpatRef)

In [ ]:
OutFile = OutDriver.CreateDataSource(OutPath)
OutLayer = OutFile.CreateLayer(OutName, srs = SpatRef, geom_type=ogr.wkbPolygon)
OutField = ogr.FieldDefn("Flooded", ogr.OFTInteger)
OutLayer.CreateField(OutField)
OutField = OutLayer.GetLayerDefn().GetFieldIndex("Flooded")

In [ ]:
print(OutFile, '\n', OutLayer, '\n', OutField)

In [ ]:
print('Vectorizing. %s' % time.ctime())
gdal.Polygonize(InBand, None, OutLayer, 0, [], callback=None)
print('Completed polygons for %s. %s' % (Raster, time.ctime()))

del InObject
del OutFile

print('Finished. %s' % time.ctime())