# Spatiotemporal Trends in Urbanization: Cameroon
*Using yearly estimates (2000-2015) of population, built-area, and economic indicators to track city-by-city growth and change over time.*

---

### Research questions 

#### 1. How has the size of Settlement X changed over time? 

- Population size 

- Geographical extents 

- Population density 

#### 2. In what year did Settlement X become a new urban class?  

- From semi-dense to high-density city 

- Small settlement area to built-up area 

- When a hamlet area or small settlement area first appeared

#### 3. Is there a discernable pattern between the spatio-temporal distribution of economic density and population density? 

#### 4. How much of urban space attributable to City X is outside of the administrative limits of the city? 

- When did this fragment(s) appear? 

- Which district/municipality/authority has purview over the fragment(s)? 

#### 5. For the questions above, how does the answer change based on different understandings of urban limits? 

- Scenario A: where "city" is delimited by an official administrative boundary 

- Scenario B: where "city" includes all contiguous (and near-contiguous) built up area 

#### 6. Subnational and inter-national comparisons. Examples: 

- Compare the rates (pop, build-up, economicâ€¦) of the fastest growing settlement of each ADM1 region. 

- Which African metropoles experience the most vs. the least fragmentation? Is there a confluence between amount of urban fragmentation and rate of densification?

### Datasets
1. Most up-to-date administrative boundaries: **ADM3.**
2. Built-up area, yearly: **World Settlement Footprint Evolution.** Resolution: 30m.
3. Settlement types: **GRID3 settlement extents.** Captured between 2009-2019.
4. Population, yearly: **WorldPop.** UN-adjusted, unconstrained. Resolution: 100m.
5. Nighttime lights, yearly: **Harmonization of DMSP and VIIRS.** Resolution: 1km.
6. City names: **UCDB, Africapolis, and GeoNames.**

---

---

## 1. PREPARE WORKSPACE

### 1.1 Off-script

##### Off-script: Create folders in working directory.
> *ADM
<br>Buildup
<br>PlaceName
<br>Population
<br>Settlement
<br>NTL*

##### Off-script: Download datasets (as shapefile, GeoJSON, or tif where possible) and place or extract into corresponding folder:
- ADM: *Sourced internally.*
- Buildup: https://download.geoservice.dlr.de/WSF_EVO/files/
- PlaceName: 
    - GeoNames: (file: cities500.zip) https://download.geonames.org/export/dump/
    - Africapolis: https://africapolis.org/en/data
    - Urban Centres Database: https://ghsl.jrc.ec.europa.eu/ghs_stat_ucdb2015mt_r2019a.php
- Population: https://hub.worldpop.org/geodata/listing?id=69
- Settlement: https://data.grid3.org/datasets/GRID3::grid3-cameroon-settlement-extents-version-01-01-/explore
- NTL: https://figshare.com/articles/dataset/Harmonization_of_DMSP_and_VIIRS_nighttime_light_data_from_1992-2018_at_the_global_scale/9828827/2

##### Other off-script:
- Convert GeoNames from .txt file to shape (delimiter = tab, header rows = 0) and rename fields.
- If necessary, mosaic WSFE rasters that cover the area of interest to create a single file.

### 1.2 Load all packages.

In [1]:
# Note: Most but not all of these packages were used in final form. 

import os, sys, glob, re, time
from os.path import exists
from functools import reduce

import geopandas as gpd 
import pandas as pd
from shapely.geometry import Point, LineString, Polygon, shape, MultiPoint
from shapely.ops import cascaded_union
from shapely.validation import make_valid, explain_validity
import shapely.wkt
import scipy

#from xrspatial import zonal_stats 
#import xarray as xr 
import numpy as np 
import fiona, rioxarray
import rasterio
from rasterio.plot import show
from rasterio import features
from rasterio.features import shapes
from rasterio import mask
from osgeo import gdal, osr, ogr, gdal_array
import matplotlib.pyplot as plt

### 1.3 Set workspace.

In [2]:
ProjectFolder = os.getcwd()
ResultsFolder = os.path.join(ProjectFolder, 'Results')
print(ProjectFolder)
print(ResultsFolder)

C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon
C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\Results

---

## 2. PREPARE BUILDUP, SETTLEMENT, AND ADMIN DATASETS
Projection for all datasets: Africa Albers Equal Area Conic

### 2.1 WSFE: Check contents and change NoData value as necessary.

In [ ]:
WSFE = rasterio.open(os.path.join(ProjectFolder, "Buildup", os.listdir('Buildup/')[0]))
print(WSFE) # WSFE values are all 4 digits long (1985-2015)
print(dir(WSFE))
print(WSFE.crs)
print(WSFE.dtypes)
NoDataValue = WSFE.nodatavals
print(NoDataValue)
print(WSFE.read(1).min(), WSFE.read(1).mean(), np.median(WSFE.read(1)), WSFE.read(1).max())

# If NoDataValue != 0, change to 0.

##### Off-script: Run this block in QGIS.

In [ ]:
# # OPEN QGIS FOR THIS PORTION. CODE DOCUMENTED HERE.
# Change NoData value to zero, as this won't interfere with a possible value of 99999 in GRID3 and ADM.
# Then make sure there are no values above 2015 (such as 99999) or below 1985 in the dataset by reclassifying them as NoData.
# Was having trouble with rasterio & gdal here, so moved to QGIS.

# processing.run("native:reclassifybytable", {'INPUT_RASTER':'C:/Users/grace/GIS/povertyequity/urban_growth/WSFE_TCD.tif','RASTER_BAND':1,'TABLE':['2016','','0','','1984','0'],'NO_DATA':0,'RANGE_BOUNDARIES':0,'NODATA_FOR_MISSING':False,'DATA_TYPE':5,'OUTPUT':'C:/Users/grace/GIS/povertyequity/urban_growth/WSFE.tif'})

### 2.2 Prepare raster locations for GRID3 and Admin areas

In [ ]:
ADM_vec = gpd.read_file(glob.glob('ADM/*.shp')[0])[['geometry']].to_crs("ESRI:102022") # This glob() function pulls the first file ([0]) in the ADM folder which ended in '.shp'
GRID3_vec = gpd.read_file(glob.glob('Settlement/*.shp')[0])[['type','geometry']].to_crs("ESRI:102022")
ADM_vec['ADM_ID'] = ADM_vec.index
GRID3_vec['G3_ID'] = GRID3_vec.index

In [ ]:
ADM_out = './ADM/ADM.tif'
GRID3_out = './Settlement/GRID3.tif'

print(ADM_vec.info(), "\n\n", 
      ADM_vec.crs, "\n\n", 
      len(str(ADM_vec['ADM_ID'].max()))) # We need to know how many digits need to be allocated to each dataset in the "join" serial.
print(GRID3_vec.info(), "\n\n", 
      GRID3_vec.crs, "\n\n", 
      len(str(GRID3_vec['G3_ID'].max())))

---

## 3. WSFE AND ADM; GRID3 AND ADM
RASTERIZE: Bring ADM and GRID3 into raster space.

RASTER MATH: "Join" ADM ID onto GRID3 and onto WSFE by creating unique concatenation string.

VECTORIZE: Bring joined data into vector space.

VECTOR MATH: Split unique ID from raster math step into separate columns.

### 3.1 Rasterize admin areas and GRID3.

In [ ]:
# Copy and update the metadata from WSFE for the output
meta = WSFE.meta.copy()
meta.update(compress='lzw')

In [ ]:
with rasterio.open(ADM_out, 'w+', **meta) as out:
    out_arr = out.read(1)

    # this is where we create a generator of geom, value pairs to use in rasterizing
    shapes = ((geom,value) for geom, value in zip(ADM_vec.geometry, ADM_vec.ADM_ID))

    burned = features.rasterize(shapes=shapes, fill=0, out=out_arr, transform=out.transform, all_touched=False)
    out.write_band(1, burned)
out = None

In [ ]:
with rasterio.open(GRID3_out, 'w+', **meta) as out:
    out_arr = out.read(1)

    # this is where we create a generator of geom, value pairs to use in rasterizing
    shapes = ((geom,value) for geom, value in zip(GRID3_vec.geometry, GRID3_vec.G3_ID))

    burned = features.rasterize(shapes=shapes, fill=0, out=out_arr, transform=out.transform, all_touched=False)
    out.write_band(1, burned)
out = None

*Validation: Check the dimensions, type, and basic stats of the three datasets. All should be the same dimension and NoData value.*

In [ ]:
CheckContents = gdal.Open(r"ADM/ADM.tif")
print(gdal.GetDataTypeName(CheckContents.GetRasterBand(1).DataType), 
      CheckContents.GetRasterBand(1).GetNoDataValue())

CheckContents =  gdal.Open(r"Settlement/GRID3.tif")
print(gdal.GetDataTypeName(CheckContents.GetRasterBand(1).DataType), 
      CheckContents.GetRasterBand(1).GetNoDataValue())

CheckContents = gdal.Open(os.path.join(ProjectFolder, "Buildup", os.listdir('Buildup/')[0]))
print(gdal.GetDataTypeName(CheckContents.GetRasterBand(1).DataType), 
      CheckContents.GetRasterBand(1).GetNoDataValue())

CheckContents = None

In [ ]:
RastersList = [rasterio.open(r"ADM/ADM.tif"), 
               rasterio.open(r"Settlement/GRID3.tif"), 
               rasterio.open(os.path.join(ProjectFolder, "Buildup", os.listdir('Buildup/')[0]))]

for item in RastersList:
    print(item.name, "\nBands= ", item.count, "\nWxH= ", item.width, "x", item.height, "\n\n")

stats = []
for item in RastersList:
    band = item.read(1)
    stats.append({
        'raster': item.name,
        'min': band.min(),
        'mean': band.mean(),
        'median': np.median(band),
        'max': band.max()})

# Show stats for each channel
print("\n", stats)

RastersList = None
band = None

### 3.2 Raster math to "join" admin to GRID3 and to WSFE.
Processing is more rapid when "joining," i.e. creating serial codes out of two datasets, in raster rather than vector space.
Here, we are concatenating the ID fields of the two datasets to create a serial number that we can then split in vector space later to create two ID fields.

*Adding together the values to create join IDs. This is in effect a concatenation of their ID strings, by way of summation. The number of zeros in the calc multiplication corresponds with number of digits of the maximum value in the "B" dataset. (e.g. Chad ADM codes go up 4 digits, so it's calc=(A*10000)+B).*

In [ ]:
# # OPEN TERMINAL FOR THIS PORTION. CODE DOCUMENTED HERE.

# Gdal_calc.py # To see info.

# gdal_calc.py -A C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\Settlement\GRID3.tif -B  C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\ADM\ADM.tif --outfile=C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\Settlement\GRID3_ADM.tif --overwrite --calc="(A*1000)+B"
# gdal_calc.py -A C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\Buildup\WSFE_CMN.tif -B  C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\ADM\ADM.tif --outfile=C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\Buildup\WSFE_ADM.tif --overwrite --calc="(A*1000)+B"

# # END TERMINAL-ONLY ASPECT. RETURN HERE FOR NEXT STEPS.

In [ ]:
# Validation: check the basic statistics of the resulting datasets.
RastersList = [rasterio.open(r"Buildup/WSFE_ADM.tif"), 
               rasterio.open(r"Settlement/GRID3_ADM.tif")]
for item in RastersList:
    print(item.name, "\nBands= ", item.count, "\nWxH= ", item.width, "x", item.height, "\n\n")
    
stats = []
for item in RastersList:
    band = item.read(1)
    stats.append({
        'raster': item.name,
        'min': band.min(),
        'mean': band.mean(),
        'median': np.median(band),
        'max': band.max()})

# Show stats for each channel
print("\n", stats)

RastersList = None
band = None

### 3.3 Vectorize "joined" layers.

##### Off-script: Run this block in QGIS.

In [ ]:
# OPEN QGIS FOR THIS PORTION. CODE DOCUMENTED HERE.

# Due to dtype errors with both gdal and rasterio here, I decided to run the raster to polygon function in QGIS instead.
# It is possible to run QGIS functions within a Jupyter Notebook, but I ran it within the GUI. Arc or R are other options.
# Command line code here.

# processing.run("gdal:polygonize", {'INPUT':'C:/Users/grace/GIS/povertyequity/urban_growth/Cameroon/Settlement/GRID3_ADM.tif','BAND':1,'FIELD':'DN','EIGHT_CONNECTEDNESS':False,'EXTRA':'','OUTPUT':'C:/Users/grace/GIS/povertyequity/urban_growth/Cameroon/Settlement/GRID3_ADM.shp'})
# processing.run("gdal:polygonize", {'INPUT':'C:/Users/grace/GIS/povertyequity/urban_growth/Cameroon/Buildup/WSFE_ADM.tif','BAND':1,'FIELD':'DN','EIGHT_CONNECTEDNESS':False,'EXTRA':'','OUTPUT':'C:/Users/grace/GIS/povertyequity/urban_growth/Cameroon/Buildup/WSFE_ADM.shp'})

### 3.4 Vector math to split raster strings into admin area, GRID3, and WSFE year assignments.

In [3]:
# Load newly created vectorized datasets.
GRID3_ADM = gpd.read_file(r"Settlement/GRID3_ADM.shp")
WSFE_ADM = gpd.read_file(r"Buildup/WSFE_ADM.shp")
print(GRID3_ADM.info(), "\n\n", GRID3_ADM.sample(10), "\n\n", GRID3_ADM.crs, "\n\n", 
      WSFE_ADM.info(), "\n\n", WSFE_ADM.sample(10), "\n\n", WSFE_ADM.crs)

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 210151 entries, 0 to 210150
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DN        210151 non-null  int64
 1   geometry  210151 non-null  geometry
dtypes: geometry(1), int64(1)
memory usage: 3.2 MB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 584286 entries, 0 to 584285
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   DN        584286 non-null  int64
 1   geometry  584286 non-null  geometry
dtypes: geometry(1), int64(1)
memory usage: 8.9 MB
None

                DN                                           geometry
43974   153788236  POLYGON ((-1142457.003 1123208.708, -1142372.2...
204851    5387074  POLYGON ((-1363604.004 364564.530, -1363547.50...
175268   27143097  POLYGON ((-1372869.072 501011.097, -1372812.57...
196961   15957031  POLYGON ((-1433092.013 424251.999, -1433035.51...
57772   138586213  POLYGON ((-1127598.998 982968.446, -1127486.00...
82787   112463206  POLYGON ((-1338012.078 793473.375, -1337983.83...
41334   157594240  POLYGON ((-1178472.129 1152072.405, -1178443.8...
68034   119330222  POLYGON ((-1247056.229 856701.627, -1246943.24...
176609   37995047  POLYGON ((-1178076.669 495699.924, -1178020.17...
186545   19774295  POLYGON ((-1418008.030 464085.798, -1417923.28...

 PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

 None

              DN                                           geometry
163500  1999163  POLYGON ((-1569864.752 685700.820, -1569836.50...
295320  2003317  POLYGON ((-1515319.490 639480.968, -1515291.24...
320267  2015307  POLYGON ((-1535798.680 624938.470, -1535770.43...
205298  2015286  POLYGON ((-1520799.439 669008.562, -1520771.19...
295027  1999302  POLYGON ((-1547605.992 639575.811, -1547577.74...
3544    2003359  POLYGON ((-1124011.609 1452216.916, -1123983.3...
122623  1999146  POLYGON ((-1496478.635 712920.583, -1496450.38...
217510  2001288  POLYGON ((-1544357.569 664298.057, -1544329.32...
308673  2010134  POLYGON ((-1540261.731 631830.350, -1540233.48...
277926  2013136  POLYGON ((-1510715.203 645171.511, -1510686.95...

 PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

In [4]:
# Split serial back into separate dataset fields.
# For Cameroon: WSFE and ADM: 4+3=7 digits. GRID3 and ADM: 6+3=9 digits.
GRID3_ADM['gridstring'] = GRID3_ADM['DN'].astype(str).str.zfill(9)
WSFE_ADM['gridstring'] = WSFE_ADM['DN'].astype(str).str.zfill(7)

GRID3_ADM['Sett_ID'] = GRID3_ADM['gridstring'].str[:-3].astype(int) # Remove the last 4 digits to get the GRID3 portion.
GRID3_ADM['ADM_ID'] = GRID3_ADM['gridstring'].str[-3:].astype(int) # Keep only the last 4 digits to get the ADM portion.
WSFE_ADM['year'] = WSFE_ADM['gridstring'].str[:-3].astype(int)
WSFE_ADM['ADM_ID'] = WSFE_ADM['gridstring'].str[-3:].astype(int)

print(GRID3_ADM.sample(10), WSFE_ADM.sample(10))

               DN                                           geometry  \
18460   172947271  POLYGON ((-1036332.430 1244448.881, -1036304.1...
122370   90010299  POLYGON ((-1518906.879 699800.720, -1518793.89...
148876   50663332  POLYGON ((-1545374.466 612545.733, -1545346.21...
52166   136420214  POLYGON ((-1155111.730 1053973.773, -1154970.4...
118979   74158142  POLYGON ((-1484332.358 709000.431, -1484247.61...
70883   137072211  POLYGON ((-1037631.799 848134.199, -1037547.05...
162644   65302342  POLYGON ((-1441396.677 548084.530, -1441283.68...
71012   137037213  POLYGON ((-1086216.911 847754.830, -1086160.41...
152486   67439131  POLYGON ((-1489784.059 598888.431, -1489727.56...
162207  196463182  POLYGON ((-1665961.584 549665.237, -1665876.84...

       gridstring  Sett_ID  ADM_ID
18460   172947271   172947     271
122370  090010299    90010     299
148876  050663332    50663     332
52166   136420214   136420     214
118979  074158142    74158     142
70883   137072211   137072     211
162644  065302342    65302     342
71012   137037213   137037     213
152486  067439131    67439     131
162207  196463182   196463     182                DN                                           geometry gridstring  \
341677  1999184  POLYGON ((-1662148.218 604041.533, -1662119.97...    1999184
491384  2006327  POLYGON ((-1405042.585 457415.217, -1405014.33...    2006327
19884   1991276  POLYGON ((-1130028.253 1277074.659, -1130000.0...    1991276
172428  2010163  POLYGON ((-1574384.298 681432.913, -1574356.05...    2010163
403141  2002115  POLYGON ((-1603196.399 514541.943, -1603168.15...    2002115
371038  2015118  POLYGON ((-1585852.644 554691.883, -1585824.39...    2015118
124122  1985201  POLYGON ((-1422866.541 708494.605, -1422810.04...    1985201
469420  2010284  POLYGON ((-1584609.769 467278.825, -1584553.27...    2010284
102174  2004209  POLYGON ((-1113588.407 767676.249, -1113560.16...    2004209
443356  1995172  POLYGON ((-1624042.802 477174.046, -1624014.55...    1995172

        year  ADM_ID
341677  1999     184
491384  2006     327
19884   1991     276
172428  2010     163
403141  2002     115
371038  2015     118
124122  1985     201
469420  2010     284
102174  2004     209
443356  1995     172

In [5]:
# Dissolve any features that have the same G3 and ADM values so that we have a single unique feature per settlement.
# Note: we do NOT want to dissolve the WSFE features. Distinct features for noncontiguous builtup areas of the same year is necessary to separate them in the Near tool step.
GRID3_ADM = GRID3_ADM.dissolve(by=['Sett_ID', 'ADM_ID'], as_index=False)
print(GRID3_ADM.info(), GRID3_ADM.head())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 205788 entries, 0 to 205787
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sett_ID     205788 non-null  int64
 1   ADM_ID      205788 non-null  int64
 2   geometry    205788 non-null  geometry
 3   DN          205788 non-null  int64
 4   gridstring  205788 non-null  object
dtypes: geometry(1), int64(3), object(1)
memory usage: 7.9+ MB
None    Sett_ID  ADM_ID                                           geometry    DN  \
0        1     354  POLYGON ((-1571983.289 271555.771, -1571870.30...  1354
1        2     354  POLYGON ((-1572915.445 272093.211, -1572802.45...  2354
2        3     354  POLYGON ((-1571390.099 273768.760, -1571361.85...  3354
3        4     354  POLYGON ((-1575062.229 274274.586, -1574949.24...  4354
4        5     354  POLYGON ((-1573395.647 277214.700, -1573226.16...  5354

  gridstring
0  000001354
1  000002354
2  000003354
3  000004354
4  000005354

In [6]:
# Remove features where year, settlement, or admin area = 0.
# This was supposed to be resolved earlier with the gdal_calc NoDataValue parameter.

print("Before: WSFE %s and GRID3 %s\n" % (WSFE_ADM.shape, GRID3_ADM.shape))
WSFE_ADM = WSFE_ADM.loc[(WSFE_ADM["year"] != 0) & (WSFE_ADM["ADM_ID"] != 0)] # Since we change the datatype to integer, no need to include all digits. Otherwise, it would need to be: != '0000'
GRID3_ADM = GRID3_ADM.loc[(GRID3_ADM["Sett_ID"] != 0) & (GRID3_ADM["ADM_ID"] != 0)]
print("After: WSFE %s and GRID3 %s\n" % (WSFE_ADM.shape, GRID3_ADM.shape))

Before: WSFE (584286, 5) and GRID3 (205788, 5)

After: WSFE (584286, 5) and GRID3 (205788, 5)

In [7]:
# The Bounded_ID is our new unique settlement identifier for subsequent matching steps.
GRID3_ADM['Bounded_ID'] = GRID3_ADM.index
WSFE_ADM['WSFE_ID'] = WSFE_ADM.index
GRID3_ADM = GRID3_ADM[['Sett_ID', 'Bounded_ID', 'ADM_ID', 'geometry']]
WSFE_ADM = WSFE_ADM[['year', 'ADM_ID', 'geometry']]

---

## 4. UNIQUE SETTLEMENTS FROM WSFE AND GRID3: TWO VERSIONS

Note that there are 2 versions here, so that we can create a fragmentation index:
1. **Boundless, aka boundary-agnostic settlements**: Unique settlements are linked to GRID3 settlement IDs. Administrative areas do not influence the extents of the settlement.
2. **Bounded, aka politically-defined settlements**: Settlements in the Boundless dataset which spread across more than one administrative area are split into separate settlements in the Bounded dataset. The largest polygon after the split is considered the "principal" settlement, and polygons in other admin areas are considered "fragments." By dividing the fragment area(s) of the Bounded settlement by the area of the Boundless settlement, we can acquire a fragmentation index for each locality.

### 4.1 BOUNDED SETTLEMENTS: Near Join by ADM group.

In [8]:
# The sharding step below doesn't work if any ADM group contains features from only one of the two datasets.
WSFE_u = sorted(WSFE_ADM.ADM_ID.unique().tolist())
GRID3_u = sorted(GRID3_ADM.ADM_ID.unique().tolist())

not_matching = list(set(GRID3_u).symmetric_difference(set(WSFE_u)))
print(not_matching) # Validate: If there are many ADM_IDs in this list, investigate why GRID3 or WSFE is missing in so many areas.

# Take only the features that share an ADM with at least one GRID3 feature.
WSFE_matching = WSFE_ADM[~WSFE_ADM["ADM_ID"].isin(not_matching)] 
GRID3_matching = GRID3_ADM[~GRID3_ADM["ADM_ID"].isin(not_matching)]

WSFE_u = sorted(WSFE_matching.ADM_ID.unique().tolist())
GRID3_u = sorted(GRID3_matching.ADM_ID.unique().tolist())

not_matching = list(set(GRID3_u).symmetric_difference(set(WSFE_u)))
print(not_matching) # This should now be empty.

del WSFE_u, GRID3_u, not_matching, WSFE_ADM, GRID3_ADM

[43]
[]

In [9]:
# Shard the dataframe whose variables we want to join into a dict
shards = {k:d for k, d in GRID3_matching.groupby('ADM_ID', as_index=False)}

# Take the dataframe whose geometry we want to retain.
# Group by ADM, then sjoin_nearest among the smaller dataframe's matching ADM shard
Bounded = WSFE_matching.groupby('ADM_ID', as_index=False).apply(
    lambda d: gpd.sjoin_nearest(
    d, shards[d['ADM_ID'].values[0]], 
        how='left', 
        max_distance=500))

print(Bounded.info())
print(Bounded.sample(10))

<class 'geopandas.geodataframe.GeoDataFrame'>
MultiIndex: 586113 entries, (0, 560868) to (356, 3948)
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          586113 non-null  int32
 1   ADM_ID_left   586113 non-null  int32
 2   geometry      586113 non-null  geometry
 3   index_right   581895 non-null  float64
 4   Sett_ID       581895 non-null  float64
 5   Bounded_ID    581895 non-null  float64
 6   ADM_ID_right  581895 non-null  float64
dtypes: float64(4), geometry(1), int32(2)
memory usage: 50.8 MB
None
            year  ADM_ID_left  \
192 103057  1985          194
257 36385   1999          260
350 428584  2000          353
237 50371   2013          240
153 178397  1985          155
169 404322  2000          171
319 213840  2006          322
8   566780  2014            9
348 457860  1985          351
198 107903  2003          200

                                                     geometry  index_right  \
192 103057  POLYGON ((-1535855.174 765842.629, -1535770.43...      87588.0
257 36385   POLYGON ((-1113023.464 1244195.968, -1112995.2...     186355.0
350 428584  POLYGON ((-1596953.777 481410.339, -1596925.53...      13390.0
237 50371   POLYGON ((-1219232.779 1181599.999, -1219148.0...     158359.0
153 178397  POLYGON ((-1558255.170 679283.153, -1558170.42...      60843.0
169 404322  POLYGON ((-1629381.514 511222.460, -1629353.26...       8129.0
319 213840  POLYGON ((-1568141.676 665783.921, -1568113.42...     203782.0
8   566780  POLYGON ((-1436425.177 344837.315, -1436396.93...       2472.0
348 457860  POLYGON ((-1581417.840 470598.308, -1581389.59...      13021.0
198 107903  POLYGON ((-1434419.629 757338.430, -1434391.38...     106888.0

             Sett_ID  Bounded_ID  ADM_ID_right
192 103057   85482.0     87588.0         194.0
257 36385   182922.0    186355.0         260.0
350 428584   12883.0     13390.0         353.0
237 50371   155473.0    158359.0         240.0
153 178397   59180.0     60843.0         155.0
169 404322    7753.0      8129.0         171.0
319 213840  199877.0    203782.0         322.0
8   566780    2572.0      2472.0           9.0
348 457860   12521.0     13021.0         351.0
198 107903  104553.0    106888.0         200.0

In [10]:
# Now we can dissolve with the WSFE years, now that we can group them by their settlement ID.
Bounded = Bounded.dissolve(by=['year', 'Bounded_ID'], as_index=False)
print(Bounded.info(), Bounded.sample(10))

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 86839 entries, 0 to 86838
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   year          86839 non-null  int64
 1   Bounded_ID    86839 non-null  float64
 2   geometry      86839 non-null  geometry
 3   ADM_ID_left   86839 non-null  int32
 4   index_right   86839 non-null  float64
 5   Sett_ID       86839 non-null  float64
 6   ADM_ID_right  86839 non-null  float64
dtypes: float64(4), geometry(1), int32(1), int64(1)
memory usage: 4.3 MB
None        year  Bounded_ID                                           geometry  \
18043  1995    191485.0  MULTIPOLYGON (((-1129830.523 1276726.904, -112...
71856  2012    124536.0  POLYGON ((-1138558.895 726419.814, -1138502.40...
6182   1985     40964.0  POLYGON ((-1046021.205 500094.287, -1045964.71...
31978  2001     39450.0  POLYGON ((-1120706.691 462030.880, -1120678.44...
1739   1985      4656.0  MULTIPOLYGON (((-1335441.587 330136.746, -1335...
83087  2015      9629.0  MULTIPOLYGON (((-1498032.229 475435.269, -1498...
57088  2008    200568.0  POLYGON ((-1529358.328 583808.493, -1529330.08...
24326  1999     46516.0  POLYGON ((-1613308.881 521433.822, -1613280.63...
85431  2015     82014.0  POLYGON ((-1567011.789 686080.190, -1566983.54...
74032  2013     17483.0  POLYGON ((-1443430.473 439395.165, -1443402.22...

       ADM_ID_left  index_right   Sett_ID  ADM_ID_right
18043          276     191485.0  187865.0         276.0
71856          209     124536.0  122080.0         209.0
6182            53      40964.0   39706.0          53.0
31978           55      39450.0   38200.0          55.0
1739            67       4656.0    4544.0          67.0
83087           20       9629.0    9195.0          20.0
57088          345     200568.0  196754.0         345.0
24326          176      46516.0   45223.0         176.0
85431          163      82014.0   79995.0         163.0
74032           29      17483.0   16909.0          29.0

In [11]:
# Clean up and save to file.
Bounded = Bounded.rename(
    columns={"ADM_ID_left": "ADM_ID"})[['ADM_ID', 'year', 'Bounded_ID', 'Sett_ID', 'geometry']]
Bounded.to_file(
    driver='GPKG', filename=r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Bounded')

In [12]:
del WSFE_matching, GRID3_matching, shards

### 4.2 BOUNDLESS SETTLEMENTS: Simple near join.

In [13]:
# Fragments of any bounded settlement will be combined into a single "boundless" settlement in this version.
# It is based on their "Sett_ID", which is a direct loan from the GRID3 settlement features.
Boundless = Bounded.dissolve(by=['year', 'Sett_ID'], as_index=False)
print(Boundless.info(), Boundless.sample(10))

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 83061 entries, 0 to 83060
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        83061 non-null  int64
 1   Sett_ID     83061 non-null  float64
 2   geometry    83061 non-null  geometry
 3   ADM_ID      83061 non-null  int32
 4   Bounded_ID  83061 non-null  float64
dtypes: float64(2), geometry(1), int32(1), int64(1)
memory usage: 2.9 MB
None        year   Sett_ID                                           geometry  \
79899  2015   19531.0  POLYGON ((-1405720.516 522066.105, -1405692.26...
30585  2001   48360.0  MULTIPOLYGON (((-1599298.291 553964.758, -1599...
65778  2012    2665.0  POLYGON ((-1452074.103 347492.902, -1452045.85...
70061  2013    4202.0  POLYGON ((-1355129.856 358494.617, -1355101.60...
14605  1993    8049.0  POLYGON ((-1622319.725 476162.394, -1622291.47...
82965  2015  198923.0  POLYGON ((-1413121.272 426085.618, -1413093.02...
370    1985    1212.0  POLYGON ((-1495151.019 376356.598, -1495122.77...
33373  2002   28303.0  MULTIPOLYGON (((-1430352.038 630787.084, -1430...
3744   1985   19437.0  MULTIPOLYGON (((-1406370.201 496427.049, -1406...
76093  2014   48443.0  POLYGON ((-1585880.891 599267.800, -1585852.64...

       ADM_ID  Bounded_ID
79899     290     20224.0
30585     178     49710.0
65778       9      2589.0
70061      72      4278.0
14605     172      8443.0
82965      79    202801.0
370         5      1109.0
33373     121     29238.0
3744      290     20126.0
76093     179     49800.0

In [14]:
# Clean up and save to file.
Boundless.to_file(driver='GPKG', filename=r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Boundless')

---

## 5. CUMULATIVE ANNUALIZED SETTLEMENT EXTENTS
DISSOLVE BY YEAR SETS: Create separate feature layers of each cumulative year.

### 5.1 Define study years for each for loop.

In [15]:
# Boundless = gpd.read_file(r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Boundless')

def CreateList(r1, r2):
    return [item for item in range(r1, r2+1)]

CuStart, CuEnd = Boundless['year'].min(), Boundless['year'].max()
StudyStart, StudyEnd = 1999, Boundless['year'].max()

AllCuYears = CreateList(CuStart, CuEnd) # All years in the WSFE dataset
AllStudyYears = CreateList(StudyStart, StudyEnd) # All years for which there will be growth stats in the present study.
print(AllCuYears, '\n\n', AllStudyYears)

ReversedStudyYears = []
for i in AllStudyYears:
    ReversedStudyYears.insert(0,i)
ReversedStudyYears.remove(StudyEnd)
print('\n\n', ReversedStudyYears)

[1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

 [1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]


 [2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999]

### 5.2 Starting with main Boundless dataset, create a cumulative area feature layer for each year.

In [16]:
# For each year in the growth stats study, we are taking features from all years prior to and including that year, 
# dissolving those features, and exporting as its own file.

for item in AllStudyYears:
    print('Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    CuYearSet = Boundless[Boundless['year'].between(
        CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.
    print('Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. %s\n' % time.ctime())
    CuYearDissolve = CuYearSet.dissolve(by='Sett_ID', 
                                        aggfunc={"year": "max", "ADM_ID":"min"}, # Though ADM_ID should be matching every time.
                                        as_index=False)
    print('Write to file. %s\n' % time.ctime())
    CuYearName = ''.join(['Cu', str(item), '_Boundless'])
    CuYearDissolve.to_file(driver='GPKG', filename=r'Results/CumulativeSettlements.gpkg', layer=CuYearName)
    del CuYearSet, CuYearDissolve
print("Done with all years in set. %s" % time.ctime())

Subsetting to cumulative area for year: 1999. Sun Nov 20 16:23:51 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:23:51 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:24:12 2022

Subsetting to cumulative area for year: 2000. Sun Nov 20 16:24:19 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:24:19 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:24:43 2022

Subsetting to cumulative area for year: 2001. Sun Nov 20 16:24:49 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:24:49 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:25:15 2022

Subsetting to cumulative area for year: 2002. Sun Nov 20 16:25:22 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:25:22 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:25:49 2022

Subsetting to cumulative area for year: 2003. Sun Nov 20 16:25:55 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:25:55 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:26:24 2022

Subsetting to cumulative area for year: 2004. Sun Nov 20 16:26:30 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:26:30 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:27:01 2022

Subsetting to cumulative area for year: 2005. Sun Nov 20 16:27:07 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:27:07 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:27:38 2022

Subsetting to cumulative area for year: 2006. Sun Nov 20 16:27:44 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:27:44 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:28:17 2022

Subsetting to cumulative area for year: 2007. Sun Nov 20 16:28:23 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:28:23 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:28:56 2022

Subsetting to cumulative area for year: 2008. Sun Nov 20 16:29:02 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:29:02 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:29:37 2022

Subsetting to cumulative area for year: 2009. Sun Nov 20 16:29:43 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:29:43 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:30:19 2022

Subsetting to cumulative area for year: 2010. Sun Nov 20 16:30:25 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:30:25 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:31:02 2022

Subsetting to cumulative area for year: 2011. Sun Nov 20 16:31:08 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:31:08 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:31:46 2022

Subsetting to cumulative area for year: 2012. Sun Nov 20 16:31:52 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:31:52 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:32:31 2022

Subsetting to cumulative area for year: 2013. Sun Nov 20 16:32:37 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:32:37 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:33:18 2022

Subsetting to cumulative area for year: 2014. Sun Nov 20 16:33:24 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:33:24 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:34:07 2022

Subsetting to cumulative area for year: 2015. Sun Nov 20 16:34:13 2022

Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. Sun Nov 20 16:34:13 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\1564490967.py:6: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Boundless[Boundless['year'].between(

Write to file. Sun Nov 20 16:34:57 2022

Done with all years in set. Sun Nov 20 16:35:03 2022

##### Join area information from each cumulative layer onto the latest year dataset.

In [17]:
# The latest year in the study contains all settlements. Merge all other years' areas onto this dataset.
SettAreas = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=
                          ''.join(['Cu', str(StudyEnd), '_Boundless'])) 
SettAreas['Area15'] = SettAreas['geometry'].area / 10**6
SettAreas = pd.DataFrame(SettAreas).drop(columns='geometry') # We have settlement IDs, so no need to join spatially!


for item in ReversedStudyYears:
    print("Loading cumulative layer for year %s. %s\n" % (item, time.ctime()))
    YearLayer = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=''.join(['Cu', str(item), '_Boundless']))
    print("Adding area field and converting to non-spatial dataframe. %s\n" % (time.ctime()))
    AreaYearName = ''.join(['Area', str(item)[2:]])
    YearLayer[AreaYearName] = YearLayer['geometry'].area/ 10**6 
    YearLayer = pd.DataFrame(YearLayer)[['Sett_ID', AreaYearName]]
    print("Merging variables from %s onto our latest year (%s) via table join. %s\n" % (item, StudyEnd, time.ctime()))
    SettAreas = SettAreas.merge(YearLayer, how='left', on='Sett_ID')
print("Done merging annualized areas onto latest year geometries. Saving to file. %s\n" % (time.ctime()))


print(SettAreas.info())
SettAreas.to_csv(os.path.join(ResultsFolder, 'Areas%sto%s.csv' % (StudyStart, StudyEnd)))

Loading cumulative layer for year 2014. Sun Nov 20 16:35:04 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:06 2022

Merging variables from 2014 onto our latest year (2015) via table join. Sun Nov 20 16:35:06 2022

Loading cumulative layer for year 2013. Sun Nov 20 16:35:06 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:07 2022

Merging variables from 2013 onto our latest year (2015) via table join. Sun Nov 20 16:35:07 2022

Loading cumulative layer for year 2012. Sun Nov 20 16:35:07 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:08 2022

Merging variables from 2012 onto our latest year (2015) via table join. Sun Nov 20 16:35:08 2022

Loading cumulative layer for year 2011. Sun Nov 20 16:35:08 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:09 2022

Merging variables from 2011 onto our latest year (2015) via table join. Sun Nov 20 16:35:09 2022

Loading cumulative layer for year 2010. Sun Nov 20 16:35:09 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:11 2022

Merging variables from 2010 onto our latest year (2015) via table join. Sun Nov 20 16:35:11 2022

Loading cumulative layer for year 2009. Sun Nov 20 16:35:11 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:12 2022

Merging variables from 2009 onto our latest year (2015) via table join. Sun Nov 20 16:35:12 2022

Loading cumulative layer for year 2008. Sun Nov 20 16:35:12 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:13 2022

Merging variables from 2008 onto our latest year (2015) via table join. Sun Nov 20 16:35:13 2022

Loading cumulative layer for year 2007. Sun Nov 20 16:35:13 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:15 2022

Merging variables from 2007 onto our latest year (2015) via table join. Sun Nov 20 16:35:15 2022

Loading cumulative layer for year 2006. Sun Nov 20 16:35:15 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:16 2022

Merging variables from 2006 onto our latest year (2015) via table join. Sun Nov 20 16:35:16 2022

Loading cumulative layer for year 2005. Sun Nov 20 16:35:16 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:17 2022

Merging variables from 2005 onto our latest year (2015) via table join. Sun Nov 20 16:35:17 2022

Loading cumulative layer for year 2004. Sun Nov 20 16:35:17 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:19 2022

Merging variables from 2004 onto our latest year (2015) via table join. Sun Nov 20 16:35:19 2022

Loading cumulative layer for year 2003. Sun Nov 20 16:35:19 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:20 2022

Merging variables from 2003 onto our latest year (2015) via table join. Sun Nov 20 16:35:20 2022

Loading cumulative layer for year 2002. Sun Nov 20 16:35:20 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:21 2022

Merging variables from 2002 onto our latest year (2015) via table join. Sun Nov 20 16:35:21 2022

Loading cumulative layer for year 2001. Sun Nov 20 16:35:21 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:23 2022

Merging variables from 2001 onto our latest year (2015) via table join. Sun Nov 20 16:35:23 2022

Loading cumulative layer for year 2000. Sun Nov 20 16:35:23 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:24 2022

Merging variables from 2000 onto our latest year (2015) via table join. Sun Nov 20 16:35:24 2022

Loading cumulative layer for year 1999. Sun Nov 20 16:35:24 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:35:25 2022

Merging variables from 1999 onto our latest year (2015) via table join. Sun Nov 20 16:35:25 2022

Done merging annualized areas onto latest year geometries. Saving to file. Sun Nov 20 16:35:25 2022

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13753 entries, 0 to 13752
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Sett_ID  13753 non-null  float64
 1   year     13753 non-null  int64
 2   ADM_ID   13753 non-null  int64
 3   Area15   13753 non-null  float64
 4   Area14   13649 non-null  float64
 5   Area13   13511 non-null  float64
 6   Area12   13388 non-null  float64
 7   Area11   13262 non-null  float64
 8   Area10   13164 non-null  float64
 9   Area09   13059 non-null  float64
 10  Area08   12992 non-null  float64
 11  Area07   12893 non-null  float64
 12  Area06   12801 non-null  float64
 13  Area05   12714 non-null  float64
 14  Area04   12632 non-null  float64
 15  Area03   12569 non-null  float64
 16  Area02   12494 non-null  float64
 17  Area01   12415 non-null  float64
 18  Area00   12320 non-null  float64
 19  Area99   12173 non-null  float64
dtypes: float64(18), int64(2)
memory usage: 2.2 MB
None

In [18]:
del SettAreas

### 5.3 Repeat for Bounded dataset.

In [19]:
# Bounded = gpd.read_file(r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Bounded')

for item in AllStudyYears:
    print('Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.
    print('Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. %s\n' % time.ctime())
    CuYearDissolve = CuYearSet.dissolve(by='Bounded_ID', 
                                        aggfunc={"year": "max", "ADM_ID":"min", "Sett_ID":"min"}, # Though ADM_ID and Sett_ID should be matching every time.
                                        as_index=False)
    print('Write to file. %s\n' % time.ctime())
    CuYearName = ''.join(['Cu', str(item), '_Bounded'])
    CuYearDissolve.to_file(driver='GPKG', filename=r'Results/CumulativeSettlements.gpkg', layer=CuYearName)
    del CuYearSet, CuYearDissolve
print("Done with all years in set. %s" % time.ctime())

Subsetting to cumulative area for year: 1999. Sun Nov 20 16:35:36 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:35:36 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:35:56 2022

Subsetting to cumulative area for year: 2000. Sun Nov 20 16:36:02 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:36:02 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:36:24 2022

Subsetting to cumulative area for year: 2001. Sun Nov 20 16:36:31 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:36:31 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:36:54 2022

Subsetting to cumulative area for year: 2002. Sun Nov 20 16:37:01 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:37:01 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:37:26 2022

Subsetting to cumulative area for year: 2003. Sun Nov 20 16:37:32 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:37:32 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:37:58 2022

Subsetting to cumulative area for year: 2004. Sun Nov 20 16:38:05 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:38:05 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:38:32 2022

Subsetting to cumulative area for year: 2005. Sun Nov 20 16:38:39 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:38:39 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:39:07 2022

Subsetting to cumulative area for year: 2006. Sun Nov 20 16:39:14 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:39:14 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:39:43 2022

Subsetting to cumulative area for year: 2007. Sun Nov 20 16:39:50 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:39:50 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:40:21 2022

Subsetting to cumulative area for year: 2008. Sun Nov 20 16:40:27 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:40:27 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:40:59 2022

Subsetting to cumulative area for year: 2009. Sun Nov 20 16:41:06 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:41:06 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:41:39 2022

Subsetting to cumulative area for year: 2010. Sun Nov 20 16:41:45 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:41:45 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:42:19 2022

Subsetting to cumulative area for year: 2011. Sun Nov 20 16:42:26 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:42:26 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:43:01 2022

Subsetting to cumulative area for year: 2012. Sun Nov 20 16:43:07 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:43:07 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:43:44 2022

Subsetting to cumulative area for year: 2013. Sun Nov 20 16:43:50 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:43:50 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:44:28 2022

Subsetting to cumulative area for year: 2014. Sun Nov 20 16:44:35 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:44:35 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:45:14 2022

Subsetting to cumulative area for year: 2015. Sun Nov 20 16:45:20 2022

Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. Sun Nov 20 16:45:20 2022

C:\Users\grace\AppData\Local\Temp\ipykernel_48672\2505613866.py:5: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.

Write to file. Sun Nov 20 16:46:00 2022

Done with all years in set. Sun Nov 20 16:46:06 2022

In [20]:
SettAreas = gpd.read_file(r'Results/CumulativeSettlements.gpkg', 
                          layer=''.join(['Cu', str(StudyEnd), '_Bounded']))
SettAreas['Area15'] = SettAreas['geometry'].area / 10**6
SettAreas = pd.DataFrame(SettAreas).drop(columns='geometry')


for item in ReversedStudyYears:
    print("Loading cumulative layer for year %s. %s\n" % (item, time.ctime()))
    YearLayer = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=''.join(['Cu', str(item), '_Bounded']))
    print("Adding area field and converting to non-spatial dataframe. %s\n" % (time.ctime()))
    AreaYearName = ''.join(['Area', str(item)[2:]])
    YearLayer[AreaYearName] = YearLayer['geometry'].area/ 10**6 
    YearLayer = pd.DataFrame(YearLayer)[['Bounded_ID', AreaYearName]]
    print("Merging variables from %s onto our latest year (%s) via table join. %s\n" % (item, StudyEnd, time.ctime()))
    SettAreas = SettAreas.merge(YearLayer, how='left', on='Bounded_ID')
print("Done merging annualized areas onto latest year geometries. Saving to file. %s\n" % (time.ctime()))

print(SettAreas.info())
SettAreas.to_csv(os.path.join(ResultsFolder, 'Areas%sto%s_%s.csv' % (StudyStart, StudyEnd, 'Bounded')))

Loading cumulative layer for year 2014. Sun Nov 20 16:46:07 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:08 2022

Merging variables from 2014 onto our latest year (2015) via table join. Sun Nov 20 16:46:09 2022

Loading cumulative layer for year 2013. Sun Nov 20 16:46:09 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:10 2022

Merging variables from 2013 onto our latest year (2015) via table join. Sun Nov 20 16:46:10 2022

Loading cumulative layer for year 2012. Sun Nov 20 16:46:10 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:11 2022

Merging variables from 2012 onto our latest year (2015) via table join. Sun Nov 20 16:46:11 2022

Loading cumulative layer for year 2011. Sun Nov 20 16:46:11 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:12 2022

Merging variables from 2011 onto our latest year (2015) via table join. Sun Nov 20 16:46:12 2022

Loading cumulative layer for year 2010. Sun Nov 20 16:46:12 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:14 2022

Merging variables from 2010 onto our latest year (2015) via table join. Sun Nov 20 16:46:14 2022

Loading cumulative layer for year 2009. Sun Nov 20 16:46:14 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:15 2022

Merging variables from 2009 onto our latest year (2015) via table join. Sun Nov 20 16:46:15 2022

Loading cumulative layer for year 2008. Sun Nov 20 16:46:15 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:16 2022

Merging variables from 2008 onto our latest year (2015) via table join. Sun Nov 20 16:46:16 2022

Loading cumulative layer for year 2007. Sun Nov 20 16:46:16 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:18 2022

Merging variables from 2007 onto our latest year (2015) via table join. Sun Nov 20 16:46:18 2022

Loading cumulative layer for year 2006. Sun Nov 20 16:46:18 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:19 2022

Merging variables from 2006 onto our latest year (2015) via table join. Sun Nov 20 16:46:19 2022

Loading cumulative layer for year 2005. Sun Nov 20 16:46:19 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:20 2022

Merging variables from 2005 onto our latest year (2015) via table join. Sun Nov 20 16:46:20 2022

Loading cumulative layer for year 2004. Sun Nov 20 16:46:20 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:21 2022

Merging variables from 2004 onto our latest year (2015) via table join. Sun Nov 20 16:46:21 2022

Loading cumulative layer for year 2003. Sun Nov 20 16:46:22 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:23 2022

Merging variables from 2003 onto our latest year (2015) via table join. Sun Nov 20 16:46:23 2022

Loading cumulative layer for year 2002. Sun Nov 20 16:46:23 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:24 2022

Merging variables from 2002 onto our latest year (2015) via table join. Sun Nov 20 16:46:24 2022

Loading cumulative layer for year 2001. Sun Nov 20 16:46:24 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:25 2022

Merging variables from 2001 onto our latest year (2015) via table join. Sun Nov 20 16:46:25 2022

Loading cumulative layer for year 2000. Sun Nov 20 16:46:25 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:27 2022

Merging variables from 2000 onto our latest year (2015) via table join. Sun Nov 20 16:46:27 2022

Loading cumulative layer for year 1999. Sun Nov 20 16:46:27 2022

Adding area field and converting to non-spatial dataframe. Sun Nov 20 16:46:28 2022

Merging variables from 1999 onto our latest year (2015) via table join. Sun Nov 20 16:46:28 2022

Done merging annualized areas onto latest year geometries. Saving to file. Sun Nov 20 16:46:28 2022

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14468 entries, 0 to 14467
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Bounded_ID  14468 non-null  float64
 1   year        14468 non-null  int64
 2   ADM_ID      14468 non-null  int64
 3   Sett_ID     14468 non-null  float64
 4   Area15      14468 non-null  float64
 5   Area14      14362 non-null  float64
 6   Area13      14219 non-null  float64
 7   Area12      14086 non-null  float64
 8   Area11      13957 non-null  float64
 9   Area10      13853 non-null  float64
 10  Area09      13741 non-null  float64
 11  Area08      13671 non-null  float64
 12  Area07      13564 non-null  float64
 13  Area06      13471 non-null  float64
 14  Area05      13379 non-null  float64
 15  Area04      13296 non-null  float64
 16  Area03      13231 non-null  float64
 17  Area02      13153 non-null  float64
 18  Area01      13069 non-null  float64
 19  Area00      12972 non-null  float64
 20  Area99      12810 non-null  float64
dtypes: float64(19), int64(2)
memory usage: 2.4 MB
None

In [22]:
del SettAreas

### 5.4 One settlement geofile to rule them all. ...and in the Sett_ID bind them.
The annualized values can be stored as distinct non-spatial dataframes. Their Sett_IDs will be used to join onto this geoversion with place names for the summary stats.

In [35]:
Settlements = gpd.read_file(r'Results/AnnualSettlements.gpkg', 
                           layer=''.join(['Cu', str(StudyEnd), '_Boundless']))[['Sett_ID', 'ADM_ID', 'geometry']]
print(Settlements.info())
Settlements.to_file(driver='GPKG', 
                       filename=r'Results/SETTLEMENTS.gpkg', 
                       layer='SETTLEMENTS')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13753 entries, 0 to 13752
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   13753 non-null  float64
 1   ADM_ID    13753 non-null  int64
 2   geometry  13753 non-null  geometry
dtypes: float64(1), geometry(1), int64(1)
memory usage: 322.5 KB
None

### 5.5 Buffer the area of the Boundless dataset's latest year to mask raster data in later sections.
The Bounded dataset would also be fine for our purposes here. The buffer is dissolved to a single feature to be used for its total extents, which are identical between Bounded & Boundless datasets.

In [119]:
# Create buffer layer(s) to use as maximum distance for Near joins.

# Population buffer: 2km
Distance = 2000

print('Creating buffer layer. %s' % time.ctime())
BufferLayer = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS')
BufferLayer['geometry'] = BufferLayer['geometry'].apply(
    make_valid).buffer(Distance) # make_valid is a workaround for any null geometries.
print('Finished buffer layer creation. %s' % time.ctime())
BufferFileName1 = ''.join(['Buff', str(Distance), 'm_', str(StudyEnd)])
BufferLayer.to_file(driver='GPKG', filename=r'Results/Catchment.gpkg', layer=BufferFileName1)
print('Saved to file. %s' % time.ctime())

Creating buffer layer. Mon Nov 21 13:33:06 2022
Finished buffer layer creation. Mon Nov 21 15:10:19 2022
Saved to file. Mon Nov 21 15:10:24 2022

In [120]:
# NTL buffer: 250m
Distance = 250

print('Creating buffer layer. %s' % time.ctime())
BufferLayer = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS')
BufferLayer['geometry'] = BufferLayer['geometry'].apply(
    make_valid).buffer(Distance) # make_valid is a workaround for any null geometries.
print('Finished buffer layer creation. %s' % time.ctime())
BufferFileName2 = ''.join(['Buff', str(Distance), 'm_', str(StudyEnd)])
BufferLayer.to_file(driver='GPKG', filename=r'Results/Catchment.gpkg', layer=BufferFileName2)
print('Saved to file. %s' % time.ctime())

Creating buffer layer. Mon Nov 21 15:10:24 2022
Finished buffer layer creation. Mon Nov 21 15:11:16 2022
Saved to file. Mon Nov 21 15:11:23 2022

---

## 6. PLACE NAMES
Join urban place names from UCDB, Africapolis, and GeoNames onto the settlement vectors.

### 6.1 Load placename datasets, filter, and project.

In [91]:
# If restarting here:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS')

# Load, pull name field, rename, and reproject to match the catchments CRS.
UCDB = gpd.read_file('PlaceName/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_2.gpkg', 
                     layer=0)[['UC_NM_MN', 'geometry']].rename(
    columns={"UC_NM_MN": "UCDB_Name"}).to_crs("ESRI:102022")

Africapolis = gpd.read_file('PlaceName/AFRICAPOLIS2020.shp')[['agglosName', 'geometry']].rename(
    columns={"agglosName": "Afpl_Name"}).to_crs("ESRI:102022")

GeoNames = gpd.read_file('PlaceName/GeoNames.gpkg', 
                         layer=0)[['GeoName', 'geometry']].to_crs("ESRI:102022")

print(Settlements.info(), UCDB.info(), Africapolis.info(), GeoNames.info())

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13753 entries, 0 to 13752
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   13753 non-null  float64
 1   ADM_ID    13753 non-null  int64
 2   geometry  13753 non-null  geometry
dtypes: float64(1), geometry(1), int64(1)
memory usage: 322.5 KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13135 entries, 0 to 13134
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   UCDB_Name  13135 non-null  object
 1   geometry   13135 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 205.4+ KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 7720 entries, 0 to 7719
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Afpl_Name  7720 non-null   object
 1   geometry   7720 non-null   geometry
dtypes: geometry(1), object(1)
memory usage: 120.8+ KB
<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 199390 entries, 0 to 199389
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   GeoName   199390 non-null  object
 1   geometry  199390 non-null  geometry
dtypes: geometry(1), object(1)
memory usage: 3.0+ MB
None None None None

### 6.2 Join placenames onto settlements geodataframe.

In [92]:
# We wrap it in pd.DataFrame() since the sjoin() is the last time we need the geometry.

GeoNames = pd.DataFrame(gpd.sjoin(Settlements, GeoNames, 
                             how='inner', predicate='contains', # Name file is point type, so we can do contain.
                             lsuffix="G3", rsuffix="GN")).drop(columns='geometry')
Africapolis = pd.DataFrame(gpd.sjoin(Settlements, Africapolis, 
                             how='inner', predicate='intersects', # Name file is polygon type.
                             lsuffix="G3", rsuffix="Af")).drop(columns='geometry')
UCDB = pd.DataFrame(gpd.sjoin(Settlements, UCDB, 
                             how='inner', predicate='intersects', # Name file is polygon type.
                             lsuffix="G3", rsuffix="UC")).drop(columns='geometry')

In [93]:
print(GeoNames.info())
print(Africapolis.info())
print(UCDB.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117 entries, 87 to 13644
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   117 non-null    float64
 1   ADM_ID    117 non-null    int64
 2   index_GN  117 non-null    int64
 3   GeoName   117 non-null    object
dtypes: float64(1), int64(2), object(1)
memory usage: 4.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1427 entries, 34 to 12876
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    1427 non-null   float64
 1   ADM_ID     1427 non-null   int64
 2   index_Af   1427 non-null   int64
 3   Afpl_Name  1427 non-null   object
dtypes: float64(1), int64(2), object(1)
memory usage: 55.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 140 to 12714
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    195 non-null    float64
 1   ADM_ID     195 non-null    int64
 2   index_UC   195 non-null    int64
 3   UCDB_Name  195 non-null    object
dtypes: float64(1), int64(2), object(1)
memory usage: 7.6+ KB
None

In [96]:
alldatasets = [pd.DataFrame(Settlements).drop(columns='geometry'), 
               GeoNames[['Sett_ID', 'GeoName']], 
               Africapolis[['Sett_ID', 'Afpl_Name']], 
               UCDB[['Sett_ID', 'UCDB_Name']]]

SettlementsNamed = reduce(lambda left,right: pd.merge(left,right,on=['Sett_ID'],
                                            how='left'), alldatasets).fillna('UNK')

In [99]:
print(SettlementsNamed.info())
print(SettlementsNamed.sample(10))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13767 entries, 0 to 13766
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sett_ID    13767 non-null  float64
 1   ADM_ID     13767 non-null  int64
 2   GeoName    13767 non-null  object
 3   Afpl_Name  13767 non-null  object
 4   UCDB_Name  13767 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 645.3+ KB
None
        Sett_ID  ADM_ID GeoName  Afpl_Name UCDB_Name
4802    22713.0      82     UNK        UNK       UNK
8705    63112.0     105     UNK        UNK       UNK
7950    55179.0     312     UNK  Bafoussam       UNK
3056    11201.0      19     UNK        UNK       UNK
1971     5597.0      74     UNK        UNK       UNK
6232    36292.0      44     UNK        UNK       UNK
11776  155832.0     238     UNK        UNK       UNK
13659  199856.0     135     UNK  Bafoussam       UNK
5924    32233.0      90     UNK        UNK       UNK
11797  156118.0     240     UNK        UNK       UNK

In [100]:
del UCDB, Africapolis, GeoNames

### 6.3 Reduce to single name column.

In [101]:
SettlementsNamed.index.is_unique

True

In [ ]:
# Create a single name column where non-named settlements are "UNK" but all others use one of the three name sources.
SettlementsNamed['SettName'] = "UNK"

SettlementsNamed.loc[
    SettlementsNamed['Afpl_Name'] != "UNK", 
    'SettName'] = SettlementsNamed['Afpl_Name']

SettlementsNamed.loc[
    (SettlementsNamed['SettName'] == "UNK") & (SettlementsNamed['UCDB_Name'] != "UNK"), 
    'SettName'] = SettlementsNamed['UCDB_Name']

SettlementsNamed.loc[
    (SettlementsNamed['SettName'] == "UNK") & (SettlementsNamed['GeoName'] != "UNK"), 
    'SettName'] = SettlementsNamed['GeoName']

In [106]:
SettlementsNamed.sample(20)

        Sett_ID  ADM_ID GeoName  Afpl_Name UCDB_Name   SettName
3168    12906.0     113     UNK        UNK       UNK        UNK
12339  188152.0     278     UNK        UNK       UNK        UNK
7565    51709.0     302     UNK  Bafoussam       UNK  Bafoussam
10801  104514.0     203     UNK        UNK       UNK        UNK
13034  196872.0     110     UNK        UNK       UNK        UNK
5384    24746.0      87     UNK        UNK       UNK        UNK
6980    46731.0     190     UNK      Mamfe       UNK      Mamfe
3496    14697.0      27     UNK        UNK       UNK        UNK
7881    54721.0     312     UNK        UNK       UNK        UNK
9032    66496.0     305     UNK        UNK       UNK        UNK
9222    68642.0     138     UNK        UNK       UNK        UNK
730      2069.0      75     UNK        UNK       UNK        UNK
13346  198398.0     319     UNK        UNK       UNK        UNK
11467  143027.0     224     UNK        UNK       UNK        UNK
9212    68360.0     131     UNK        UNK       UNK        UNK
6267    36358.0      46     UNK        UNK       UNK        UNK
2786     9398.0      14     UNK        UNK       UNK        UNK
7718    53255.0     134     UNK  Bafoussam       UNK  Bafoussam
702      1980.0      78     UNK        UNK       UNK        UNK
11878  163451.0     340     UNK        UNK       UNK        UNK

In [107]:
# Drop geometry and save to file.
SettlementsNamed = SettlementsNamed[['Sett_ID', 'SettName']]
SettlementsNamed.to_csv(r'Results/PlaceNames.csv')

In [108]:
del SettlementsNamed

---

## 7. CREATE FRAGMENTATION INDEX
We are determining what percentage of a settlement's area lies outside of its administrative zone each year.
The index is a range of 0 to 100, i.e. the percent of the settlement area which is fragmented.

For each Sett_ID:
((Area of Boundless settlement - Area of largest Bounded settlement feature) / Area of Boundless settlement) * 100

### 7.1 Load boundless and bounded cumulative settlements and clean.

In [113]:
BoundlessAreas = pd.read_csv(os.path.join(ResultsFolder, ('Areas%sto%s.csv' % (StudyStart, StudyEnd))))
print('Loaded Boundless dataset, whose settlements will be used as the index of the Fragmentation Index dataset. %s' 
      % time.ctime())
print(BoundlessAreas.info())

BoundedAreas = pd.read_csv(os.path.join(ResultsFolder, ('Areas%sto%s_%s.csv' % (StudyStart, StudyEnd, 'Bounded'))))
print('Loaded Bounded dataset, which will factor into the fragmentation calculation. %s' % time.ctime())
print(BoundedAreas.info())

Loaded Boundless dataset, whose settlements will be used as the index of the Fragmentation Index dataset. Mon Nov 21 11:41:18 2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13753 entries, 0 to 13752
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13753 non-null  int64
 1   Sett_ID     13753 non-null  float64
 2   year        13753 non-null  int64
 3   ADM_ID      13753 non-null  int64
 4   Area15      13753 non-null  float64
 5   Area14      13649 non-null  float64
 6   Area13      13511 non-null  float64
 7   Area12      13388 non-null  float64
 8   Area11      13262 non-null  float64
 9   Area10      13164 non-null  float64
 10  Area09      13059 non-null  float64
 11  Area08      12992 non-null  float64
 12  Area07      12893 non-null  float64
 13  Area06      12801 non-null  float64
 14  Area05      12714 non-null  float64
 15  Area04      12632 non-null  float64
 16  Area03      12569 non-null  float64
 17  Area02      12494 non-null  float64
 18  Area01      12415 non-null  float64
 19  Area00      12320 non-null  float64
 20  Area99      12173 non-null  float64
dtypes: float64(18), int64(3)
memory usage: 2.2 MB
None
Loaded Bounded dataset, which will factor into the fragmentation calculation. Mon Nov 21 11:41:18 2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14468 entries, 0 to 14467
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  14468 non-null  int64
 1   Bounded_ID  14468 non-null  float64
 2   year        14468 non-null  int64
 3   ADM_ID      14468 non-null  int64
 4   Sett_ID     14468 non-null  float64
 5   Area15      14468 non-null  float64
 6   Area14      14362 non-null  float64
 7   Area13      14219 non-null  float64
 8   Area12      14086 non-null  float64
 9   Area11      13957 non-null  float64
 10  Area10      13853 non-null  float64
 11  Area09      13741 non-null  float64
 12  Area08      13671 non-null  float64
 13  Area07      13564 non-null  float64
 14  Area06      13471 non-null  float64
 15  Area05      13379 non-null  float64
 16  Area04      13296 non-null  float64
 17  Area03      13231 non-null  float64
 18  Area02      13153 non-null  float64
 19  Area01      13069 non-null  float64
 20  Area00      12972 non-null  float64
 21  Area99      12810 non-null  float64
dtypes: float64(19), int64(3)
memory usage: 2.4 MB
None

In [114]:
LargestFragments = BoundedAreas.loc[BoundedAreas.groupby(["Sett_ID"])["Area15"].idxmax()] 
print(LargestFragments.info())
print("Filtered the Bounded dataset to only rows where latest year's area is largest for each Sett_ID. %s" % time.ctime())
LargestFragments.columns = LargestFragments.columns.str.replace('Area', 'Largest')
LargestFragments = LargestFragments.drop(columns=['year', 'ADM_ID'])
print("Renamed columns to avoid duplication during merge, and dropped unnecessary columns. %s" % time.ctime())
FragIndices = BoundlessAreas.merge(LargestFragments, how='left', on='Sett_ID')
print(FragIndices.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13753 entries, 0 to 14467
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  13753 non-null  int64
 1   Bounded_ID  13753 non-null  float64
 2   year        13753 non-null  int64
 3   ADM_ID      13753 non-null  int64
 4   Sett_ID     13753 non-null  float64
 5   Area15      13753 non-null  float64
 6   Area14      13649 non-null  float64
 7   Area13      13510 non-null  float64
 8   Area12      13386 non-null  float64
 9   Area11      13260 non-null  float64
 10  Area10      13162 non-null  float64
 11  Area09      13057 non-null  float64
 12  Area08      12989 non-null  float64
 13  Area07      12889 non-null  float64
 14  Area06      12799 non-null  float64
 15  Area05      12712 non-null  float64
 16  Area04      12630 non-null  float64
 17  Area03      12566 non-null  float64
 18  Area02      12491 non-null  float64
 19  Area01      12408 non-null  float64
 20  Area00      12314 non-null  float64
 21  Area99      12167 non-null  float64
dtypes: float64(19), int64(3)
memory usage: 2.4 MB
None
Filtered the Bounded dataset to only rows where latest year's area is largest for each Sett_ID. Mon Nov 21 11:41:33 2022
Renamed columns to avoid duplication during merge, and dropped unnecessary columns. Mon Nov 21 11:41:33 2022
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13753 entries, 0 to 13752
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  13753 non-null  int64
 1   Sett_ID       13753 non-null  float64
 2   year          13753 non-null  int64
 3   ADM_ID        13753 non-null  int64
 4   Area15        13753 non-null  float64
 5   Area14        13649 non-null  float64
 6   Area13        13511 non-null  float64
 7   Area12        13388 non-null  float64
 8   Area11        13262 non-null  float64
 9   Area10        13164 non-null  float64
 10  Area09        13059 non-null  float64
 11  Area08        12992 non-null  float64
 12  Area07        12893 non-null  float64
 13  Area06        12801 non-null  float64
 14  Area05        12714 non-null  float64
 15  Area04        12632 non-null  float64
 16  Area03        12569 non-null  float64
 17  Area02        12494 non-null  float64
 18  Area01        12415 non-null  float64
 19  Area00        12320 non-null  float64
 20  Area99        12173 non-null  float64
 21  Unnamed: 0_y  13753 non-null  int64
 22  Bounded_ID    13753 non-null  float64
 23  Largest15     13753 non-null  float64
 24  Largest14     13649 non-null  float64
 25  Largest13     13510 non-null  float64
 26  Largest12     13386 non-null  float64
 27  Largest11     13260 non-null  float64
 28  Largest10     13162 non-null  float64
 29  Largest09     13057 non-null  float64
 30  Largest08     12989 non-null  float64
 31  Largest07     12889 non-null  float64
 32  Largest06     12799 non-null  float64
 33  Largest05     12712 non-null  float64
 34  Largest04     12630 non-null  float64
 35  Largest03     12566 non-null  float64
 36  Largest02     12491 non-null  float64
 37  Largest01     12408 non-null  float64
 38  Largest00     12314 non-null  float64
 39  Largest99     12167 non-null  float64
dtypes: float64(36), int64(4)
memory usage: 4.3 MB
None

In [115]:
del BoundlessAreas, BoundedAreas, LargestFragments

### 7.2 Merge and run fragmentation calculation.

In [116]:
for item in AllStudyYears:
    YY = str(item)[2:] # 2-digit year
    AreaYY = ''.join(["Area", YY]) # The Boundless area variable name
    LargestYY = ''.join(['Largest', YY]) # The Bounded largest area variable name
    FragYY = ''.join(["Frag", YY]) # Name for the fragmentation index variable
    print("Created names for Year %s's variables and temporary objects. %s" % (item, time.ctime()))
    
    FragIndices[FragYY] = ((FragIndices[AreaYY] - FragIndices[LargestYY]) / FragIndices[AreaYY]) * 100
    FragIndices[FragYY] = (FragIndices[FragYY].fillna(0).replace([np.inf, -np.inf], 0)).astype('int')
    print("Calculated fragmentation index for year %s. %s" % (item, time.ctime()))

# Remove unnecessary columns.
FragIndices = FragIndices.loc[:, ~FragIndices.columns.str.startswith('Largest')]
FragIndices = FragIndices.loc[:, ~FragIndices.columns.str.startswith('Area')]

print('Completed fragmentation index calculations for all years. %s' % time.ctime())
print(FragIndices.info())
print(FragIndices.sample(5))

Created names for Year 1999's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 1999. Mon Nov 21 11:41:58 2022
Created names for Year 2000's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2000. Mon Nov 21 11:41:58 2022
Created names for Year 2001's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2001. Mon Nov 21 11:41:58 2022
Created names for Year 2002's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2002. Mon Nov 21 11:41:58 2022
Created names for Year 2003's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2003. Mon Nov 21 11:41:58 2022
Created names for Year 2004's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2004. Mon Nov 21 11:41:58 2022
Created names for Year 2005's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2005. Mon Nov 21 11:41:58 2022
Created names for Year 2006's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2006. Mon Nov 21 11:41:58 2022
Created names for Year 2007's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2007. Mon Nov 21 11:41:58 2022
Created names for Year 2008's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2008. Mon Nov 21 11:41:58 2022
Created names for Year 2009's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2009. Mon Nov 21 11:41:58 2022
Created names for Year 2010's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2010. Mon Nov 21 11:41:58 2022
Created names for Year 2011's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2011. Mon Nov 21 11:41:58 2022
Created names for Year 2012's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2012. Mon Nov 21 11:41:58 2022
Created names for Year 2013's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2013. Mon Nov 21 11:41:58 2022
Created names for Year 2014's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2014. Mon Nov 21 11:41:58 2022
Created names for Year 2015's variables and temporary objects. Mon Nov 21 11:41:58 2022
Calculated fragmentation index for year 2015. Mon Nov 21 11:41:58 2022
Completed fragmentation index calculations for all years. Mon Nov 21 11:41:58 2022
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13753 entries, 0 to 13752
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0_x  13753 non-null  int64
 1   Sett_ID       13753 non-null  float64
 2   year          13753 non-null  int64
 3   ADM_ID        13753 non-null  int64
 4   Unnamed: 0_y  13753 non-null  int64
 5   Bounded_ID    13753 non-null  float64
 6   Frag99        13753 non-null  int32
 7   Frag00        13753 non-null  int32
 8   Frag01        13753 non-null  int32
 9   Frag02        13753 non-null  int32
 10  Frag03        13753 non-null  int32
 11  Frag04        13753 non-null  int32
 12  Frag05        13753 non-null  int32
 13  Frag06        13753 non-null  int32
 14  Frag07        13753 non-null  int32
 15  Frag08        13753 non-null  int32
 16  Frag09        13753 non-null  int32
 17  Frag10        13753 non-null  int32
 18  Frag11        13753 non-null  int32
 19  Frag12        13753 non-null  int32
 20  Frag13        13753 non-null  int32
 21  Frag14        13753 non-null  int32
 22  Frag15        13753 non-null  int32
dtypes: float64(2), int32(17), int64(4)
memory usage: 1.6 MB
None
       Unnamed: 0_x   Sett_ID  year  ADM_ID  Unnamed: 0_y  Bounded_ID  Frag99  \
10825         10825  104635.0  2015     201         11383    106971.0       0
8371           8371   59232.0  2015     156          8854     60901.0       0
8881           8881   65070.0  2015     105          9392     66921.0       0
9032           9032   66511.0  2015     131          9548     68406.0       0
8448           8448   59704.0  2015     155          8936     61393.0       0

       Frag00  Frag01  Frag02  ...  Frag06  Frag07  Frag08  Frag09  Frag10  \
10825       0       0       0  ...       0       0       0       0       0
8371        0       0       0  ...       0       0       0       0       0
8881        0       0       0  ...       0       0       0       0       0
9032        0       0       0  ...       0       0       0       0       0
8448        0       0       0  ...       0       0       0       0       0

       Frag11  Frag12  Frag13  Frag14  Frag15
10825       0       0       0       0       0
8371        0       0       0       0       0
8881        0       0       0       0       0
9032        0       0       0       0       0
8448        0       0       0       0       0

[5 rows x 23 columns]

In [117]:
FragIndices = FragIndices.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y', 'year', 'ADM_ID'])
FragIndices.to_csv(os.path.join(ResultsFolder, 'FragIndex%sto%s.csv' % (StudyStart, StudyEnd)))
print('Saved to file. %s' % time.ctime())

Saved to file. Mon Nov 21 11:43:45 2022

In [ ]:
del FragIndices

---

## 8. PREPARE YEARLY DATASETS: POPULATION
Can use this as a template for other annualized rasters

### 8.1 Reproject and reclassify with settlement buffer mask.
Reclassify so that we only need to work with cells within X distance of settlements.

In [4]:
ProjCRS = gdal.WarpOptions(dstSRS='ESRI:102022')
AnnualizedSourceFiles = [i for i in os.listdir('Population/') if i.endswith('.tif')]

with fiona.open(r'Results/Catchment.gpkg', mode="r", layer="Buff2.0km_2015") as shapefile:
    MaskGeom = [feature["geometry"] for feature in shapefile] # Identify the bounding areas of the mask.
# Mask_out = './LatestYearBuffer.tif'
AnnualizedSourceFiles

['cmr_ppp_2000_UNadj.tif',
 'cmr_ppp_2001_UNadj.tif',
 'cmr_ppp_2002_UNadj.tif',
 'cmr_ppp_2003_UNadj.tif',
 'cmr_ppp_2004_UNadj.tif',
 'cmr_ppp_2005_UNadj.tif',
 'cmr_ppp_2006_UNadj.tif',
 'cmr_ppp_2007_UNadj.tif',
 'cmr_ppp_2008_UNadj.tif',
 'cmr_ppp_2009_UNadj.tif',
 'cmr_ppp_2010_UNadj.tif',
 'cmr_ppp_2011_UNadj.tif',
 'cmr_ppp_2012_UNadj.tif',
 'cmr_ppp_2013_UNadj.tif',
 'cmr_ppp_2014_UNadj.tif',
 'cmr_ppp_2015_UNadj.tif',
 'Masked_2000.tif',
 'Masked_2001.tif',
 'Masked_2002.tif',
 'Masked_2003.tif',
 'Masked_2004.tif',
 'Masked_2005.tif',
 'Masked_2006.tif',
 'Masked_2007.tif',
 'Masked_2008.tif',
 'Masked_2009.tif',
 'Masked_2010.tif',
 'Masked_2011.tif',
 'Masked_2012.tif',
 'Masked_2013.tif',
 'Masked_2014.tif',
 'Masked_2015.tif']

In [8]:
# This codeblock changes each annual population raster's projection (gdal.Warp()), 
# then masks it to within a specified distance of the settlements (rasterio.mask.mask()).

for YearFile in AnnualizedSourceFiles:
    InputRasterName = os.path.join(ProjectFolder, "Population", YearFile)
    Year = str(re.sub(r'[^0-9]', '', YearFile))
    InputRasterObject = gdal.Open(InputRasterName)
    TempOutputName = "Temp_" + Year + "_albers.tif"
    TempOutputPath = os.path.join(ProjectFolder, "Population", TempOutputName)
    if exists(TempOutputPath):
        pass
    else:
        # Reproject to same CRS as settlements.
        Warp = gdal.Warp(TempOutputPath, # Where to store the warped raster
                     InputRasterObject, # Which raster to warp
                     format='GTiff', 
                     options=ProjCRS) # Reproject to Africa Albers Equal Area Conic
        print('Finished gdal.Warp() for year %s. %s \n' % (Year, time.ctime()))
        
        Warp = None # Close the files
        InputRasterObject = None

        # Reclassify as nodata if outside settlement buffer zones.
        with rasterio.open(TempOutputPath) as InputRasterObject:
            MaskedOutputRaster, OutTransform = rasterio.mask.mask(
                InputRasterObject, MaskGeom, crop=True) # Anything outside the mask is reclassed to the raster's NoData value.
            OutMetaData = InputRasterObject.meta.copy()
        print('Finished rasterio.mask.mask() for year %s. %s \n' % (Year, time.ctime()))
            
        OutMetaData.update({"driver": "GTiff",
                         "height": MaskedOutputRaster.shape[1],
                         "width": MaskedOutputRaster.shape[2],
                         "transform": OutTransform})
        FinalOutputPath = os.path.join(ProjectFolder, "Population", ''.join(['Masked_', Year, '.tif'])) # ''.join([r'Population/', 'Masked_', Year, '.tif']
        with rasterio.open(FinalOutputPath, "w", **OutMetaData) as dest:
            dest.write(MaskedOutputRaster)
        print('Written to file. %s \n' % time.ctime())
    InputRasterObject = None
    
    try:  # Finally, remove the intermediate file from disk
        os.remove(TempOutputPath)
    except OSError:
        pass
    print('Removed intermediate file. %s \n' % time.ctime())

print('\n \n Finished all years in list. %s' % time.ctime())

Finished gdal.Warp() for year 2000. Wed Nov 23 11:12:35 2022

Finished rasterio.mask.mask() for year 2000. Wed Nov 23 11:12:38 2022

Written to file. Wed Nov 23 11:12:39 2022

Removed intermediate file. Wed Nov 23 11:12:39 2022

Finished gdal.Warp() for year 2001. Wed Nov 23 11:12:43 2022

Finished rasterio.mask.mask() for year 2001. Wed Nov 23 11:12:47 2022

Written to file. Wed Nov 23 11:12:47 2022

Removed intermediate file. Wed Nov 23 11:12:47 2022

Finished gdal.Warp() for year 2002. Wed Nov 23 11:12:51 2022

Finished rasterio.mask.mask() for year 2002. Wed Nov 23 11:12:55 2022

Written to file. Wed Nov 23 11:12:55 2022

Removed intermediate file. Wed Nov 23 11:12:55 2022

Finished gdal.Warp() for year 2003. Wed Nov 23 11:12:59 2022

Finished rasterio.mask.mask() for year 2003. Wed Nov 23 11:13:02 2022

Written to file. Wed Nov 23 11:13:03 2022

Removed intermediate file. Wed Nov 23 11:13:03 2022

Finished gdal.Warp() for year 2004. Wed Nov 23 11:13:07 2022

Finished rasterio.mask.mask() for year 2004. Wed Nov 23 11:13:10 2022

Written to file. Wed Nov 23 11:13:11 2022

Removed intermediate file. Wed Nov 23 11:13:11 2022

Finished gdal.Warp() for year 2005. Wed Nov 23 11:13:15 2022

Finished rasterio.mask.mask() for year 2005. Wed Nov 23 11:13:18 2022

Written to file. Wed Nov 23 11:13:19 2022

Removed intermediate file. Wed Nov 23 11:13:19 2022

Finished gdal.Warp() for year 2006. Wed Nov 23 11:13:23 2022

Finished rasterio.mask.mask() for year 2006. Wed Nov 23 11:13:26 2022

Written to file. Wed Nov 23 11:13:27 2022

Removed intermediate file. Wed Nov 23 11:13:27 2022

Finished gdal.Warp() for year 2007. Wed Nov 23 11:13:31 2022

Finished rasterio.mask.mask() for year 2007. Wed Nov 23 11:13:34 2022

Written to file. Wed Nov 23 11:13:35 2022

Removed intermediate file. Wed Nov 23 11:13:35 2022

Finished gdal.Warp() for year 2008. Wed Nov 23 11:13:39 2022

Finished rasterio.mask.mask() for year 2008. Wed Nov 23 11:13:42 2022

Written to file. Wed Nov 23 11:13:43 2022

Removed intermediate file. Wed Nov 23 11:13:43 2022

Finished gdal.Warp() for year 2009. Wed Nov 23 11:13:47 2022

Finished rasterio.mask.mask() for year 2009. Wed Nov 23 11:13:50 2022

Written to file. Wed Nov 23 11:13:50 2022

Removed intermediate file. Wed Nov 23 11:13:50 2022

Finished gdal.Warp() for year 2010. Wed Nov 23 11:13:54 2022

Finished rasterio.mask.mask() for year 2010. Wed Nov 23 11:13:57 2022

Written to file. Wed Nov 23 11:13:58 2022

Removed intermediate file. Wed Nov 23 11:13:58 2022

Finished gdal.Warp() for year 2011. Wed Nov 23 11:14:02 2022

Finished rasterio.mask.mask() for year 2011. Wed Nov 23 11:14:05 2022

Written to file. Wed Nov 23 11:14:06 2022

Removed intermediate file. Wed Nov 23 11:14:06 2022

Finished gdal.Warp() for year 2012. Wed Nov 23 11:14:10 2022

Finished rasterio.mask.mask() for year 2012. Wed Nov 23 11:14:13 2022

Written to file. Wed Nov 23 11:14:14 2022

Removed intermediate file. Wed Nov 23 11:14:14 2022

Finished gdal.Warp() for year 2013. Wed Nov 23 11:14:18 2022

Finished rasterio.mask.mask() for year 2013. Wed Nov 23 11:14:21 2022

Written to file. Wed Nov 23 11:14:22 2022

Removed intermediate file. Wed Nov 23 11:14:22 2022

Finished gdal.Warp() for year 2014. Wed Nov 23 11:14:26 2022

Finished rasterio.mask.mask() for year 2014. Wed Nov 23 11:14:29 2022

Written to file. Wed Nov 23 11:14:30 2022

Removed intermediate file. Wed Nov 23 11:14:30 2022

Finished gdal.Warp() for year 2015. Wed Nov 23 11:14:34 2022

Finished rasterio.mask.mask() for year 2015. Wed Nov 23 11:14:37 2022

Written to file. Wed Nov 23 11:14:38 2022

Removed intermediate file. Wed Nov 23 11:14:38 2022



 Finished all years in list. Wed Nov 23 11:14:38 2022

In [9]:
print(os.listdir('Population/'))

['cmr_ppp_2000_UNadj.tif', 'cmr_ppp_2001_UNadj.tif', 'cmr_ppp_2002_UNadj.tif', 'cmr_ppp_2003_UNadj.tif', 'cmr_ppp_2004_UNadj.tif', 'cmr_ppp_2005_UNadj.tif', 'cmr_ppp_2006_UNadj.tif', 'cmr_ppp_2007_UNadj.tif', 'cmr_ppp_2008_UNadj.tif', 'cmr_ppp_2009_UNadj.tif', 'cmr_ppp_2010_UNadj.tif', 'cmr_ppp_2011_UNadj.tif', 'cmr_ppp_2012_UNadj.tif', 'cmr_ppp_2013_UNadj.tif', 'cmr_ppp_2014_UNadj.tif', 'cmr_ppp_2015_UNadj.tif', 'Masked_2000.tif', 'Masked_2001.tif', 'Masked_2002.tif', 'Masked_2003.tif', 'Masked_2004.tif', 'Masked_2005.tif', 'Masked_2006.tif', 'Masked_2007.tif', 'Masked_2008.tif', 'Masked_2009.tif', 'Masked_2010.tif', 'Masked_2011.tif', 'Masked_2012.tif', 'Masked_2013.tif', 'Masked_2014.tif', 'Masked_2015.tif']

In [5]:
AnnualizedSourceFiles = None

### 8.2 Raster values summarized by settlement.
1. Convert each annualized raster to .xyz, 
2. then bring them to vector space and assign their Sett_ID,
3. and finally, aggregate the value as appropriate to the settlement level and save table to file.

XYZ is similar to .csv. Raster cell centers are stored as x and y, and their value is stored as z.

In [6]:
NoDataVal = -99999 
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS')
AllSummaries = pd.DataFrame(Settlements).drop(columns='geometry')

AnnualizedMaskedFiles = [i for i in os.listdir('Population/') if i.startswith('Masked') and i.endswith('.tif')]
AnnualizedMaskedFiles

['Masked_2000.tif',
 'Masked_2001.tif',
 'Masked_2002.tif',
 'Masked_2003.tif',
 'Masked_2004.tif',
 'Masked_2005.tif',
 'Masked_2006.tif',
 'Masked_2007.tif',
 'Masked_2008.tif',
 'Masked_2009.tif',
 'Masked_2010.tif',
 'Masked_2011.tif',
 'Masked_2012.tif',
 'Masked_2013.tif',
 'Masked_2014.tif',
 'Masked_2015.tif']

In [8]:
for YearFile in AnnualizedMaskedFiles:
    
### STEP 1: TIF TO XYZ ###
    InputRasterName = os.path.join(ProjectFolder, "Population", YearFile)
    Year = str(re.sub(r'[^0-9]', '', YearFile))
    print('Loading data for year %s. %s \n' % (Year, time.ctime()))
    InputRasterObject = gdal.Open(InputRasterName)
    XYZOutputPath = r'Population/{}'.format(
        YearFile.replace('.tif', '.xyz')) # New file path will be the same as original, but .tif is replaced with .xyz
    
    # Create an .xyz version of the .tif
    XYZ = gdal.Translate(XYZOutputPath, # Specify a destination path
                         InputRasterObject, # Input is the masked .tif file
                         format='XYZ', 
                         creationOptions=["ADD_HEADER_LINE=YES"])
    print('Finished gdal.Translate() for year %s. %s \n' % (Year, time.ctime()))

#     # Remove the temporary masked tif file.
#     try:  
#         os.remove(InputRasterName)
#     except OSError:
#         pass
#     print('Removed (or skipped if error) intermediate tif file. %s \n' % time.ctime())
    
    InputRasterObject = None
    XYZ = None # Reload XYZ as a point geodataframe

    
### STEP 2: GENERATE GEODATAFRAME WITH SETT_ID FIELD ###
    InputXYZName = ''.join(['Masked_', Year, '.xyz'])
    InputXYZ = pd.read_table(os.path.join(ProjectFolder, 'Population', InputXYZName), delim_whitespace=True)
    InputXYZ = InputXYZ.loc[InputXYZ['Z'] != NoDataVal] # Subset to only the features that have a raster value.
    print('Loaded XYZ file as a pandas dataframe, year %s. %s \n' % (Year, time.ctime()))
    ValObject = gpd.GeoDataFrame(InputXYZ,
                                 geometry = gpd.points_from_xy(InputXYZ['X'], InputXYZ['Y']),
                                 crs = 'ESRI:102022')
    print('Created geodataframe from non-NoData points, year %s. %s \n' % (Year, time.ctime()))
    del InputXYZ
    
    # Sjoin_nearest: No need to group by ADM this time. 
    ValObject_withID = gpd.sjoin_nearest(ValObject, 
                                    Settlements, 
                                    how='left') # No need for max_distance parameter this time. We've already narrowed down to nearby raster cells.
    
    print('\nJoined settlement ID onto vectorized raster cells for year %s. %s \n' % (Year, time.ctime()))
    print(ValObject_withID.sample(10))
    del ValObject
    
    # We no longer need the spatial information of the raster values because we have their unique settlement ID.
    ValObject_withID = pd.DataFrame(ValObject_withID).drop(columns='geometry')
    
    ValObject_withID.to_csv(''.join([r'Population/', 'Masked_', Year, '.csv']))
    print('\nExported as table, year %s. %s \n' % (Year, time.ctime()))
    
    # Remove the temporary xyz file.
    try:  
        os.remove(os.path.join(ProjectFolder, 'Population', InputXYZName))
    except OSError:
        pass
    print('Removed (or skipped if error) intermediate xyz file. %s \n' % time.ctime())

    

### STEP 3: AGGREGATE BY SETTLEMENT AND MERGE ONTO SUMMARIES TABLE ###
    AbbrevYear = Year[2:]
    VariableName = ''.join(['PopSum', AbbrevYear])
    
    ValAggregated = ValObject_withID.groupby('Sett_ID', 
                                      as_index=False)['Z'].sum().rename(columns={"Z": VariableName})
    print('\nValues aggregated to settlement level, year %s. %s \n' % (Year, time.ctime()))
    print(ValAggregated.sample(10))
    
    AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
    print('\nMerged year %s onto latest year settlement feature layer. %s \n' % (Year, time.ctime()))
    print(AllSummaries.sample(10))
    
    del ValObject_withID, ValAggregated
    
    

print('\n\nFinished. All years masked and assigned their nearest settlement. %s' % time.ctime())

AllSummaries.to_csv(os.path.join(ResultsFolder, 'Pop%sto%s.csv' % (2000, 2015)))
print('Saved to file. %s \n' % time.ctime())

Loading data for year 2000. Wed Nov 23 11:55:19 2022

Finished gdal.Translate() for year 2000. Wed Nov 23 11:57:42 2022

Loaded XYZ file as a pandas dataframe, year 2000. Wed Nov 23 12:00:31 2022

Created geodataframe from non-NoData points, year 2000. Wed Nov 23 12:00:33 2022


Joined settlement ID onto vectorized raster cells for year 2000. Wed Nov 23 12:11:08 2022

                      X             Y         Z  \
1651220   -1.095013e+06  1.501413e+06  0.168058
110798030 -1.408130e+06  2.738610e+05  0.081856
94704429  -1.376327e+06  4.548608e+05  0.212822
36867200  -1.193818e+06  1.105346e+06  0.993167
81251345  -1.594414e+06  6.061343e+05  0.157392
96593020  -1.318196e+06  4.336277e+05  0.200082
99755951  -1.363116e+06  3.980506e+05  0.127772
87024505  -1.580070e+06  5.412084e+05  0.872599
72071853  -1.569689e+06  7.093740e+05  1.019240
103404757 -1.483814e+06  3.570001e+05  0.162707

                                   geometry  index_right   Sett_ID  ADM_ID
1651220    POINT (-1095013.318 1501413.131)        12679  191861.0     330
110798030   POINT (-1408129.703 273861.009)          817    2509.0      75
94704429    POINT (-1376327.346 454860.776)         5535   25759.0     282
36867200   POINT (-1193817.675 1105346.383)        11502  145500.0     230
81251345    POINT (-1594414.135 606134.304)         7174   48946.0     179
96593020    POINT (-1318196.034 433627.749)         6027   33917.0     101
99755951    POINT (-1363115.684 398050.631)         2007    5896.0      74
87024505    POINT (-1580070.045 541208.423)        12992  196728.0     110
72071853    POINT (-1569689.454 709374.005)        10300   79695.0     165
103404757   POINT (-1483813.652 357000.110)         1178    3376.0      12

Exported as table, year 2000. Wed Nov 23 12:12:03 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 12:12:03 2022


Values aggregated to settlement level, year 2000. Wed Nov 23 12:12:04 2022

        Sett_ID     PopSum00
12194  183456.0  1576.327242
5240    24522.0   132.526658
630      1791.0    89.405943
2924    10213.0   326.704496
2372     7424.0   155.849501
13591  199654.0   495.416025
7975    55595.0    87.366150
2904    10111.0     3.752881
2041     6312.0   258.410929
8587    61277.0    27.224909

Merged year 2000 onto latest year settlement feature layer. Wed Nov 23 12:12:04 2022

        Sett_ID  ADM_ID    PopSum00
5804    28371.0     123  114.187441
13164  197775.0     321  121.477459
3341    13743.0     117  972.405795
5632    26780.0      81  189.710215
1287     3704.0       7   70.644133
9597    69098.0     346  233.504724
12571  191616.0     281  933.270200
11970  169849.0     272  910.283228
8562    60841.0     156  196.999364
3120    12649.0     352  741.283319
Loading data for year 2001. Wed Nov 23 12:12:04 2022

Finished gdal.Translate() for year 2001. Wed Nov 23 12:14:31 2022

Loaded XYZ file as a pandas dataframe, year 2001. Wed Nov 23 12:17:13 2022

Created geodataframe from non-NoData points, year 2001. Wed Nov 23 12:17:15 2022


Joined settlement ID onto vectorized raster cells for year 2001. Wed Nov 23 12:27:47 2022

                      X             Y         Z  \
91337402  -1.587336e+06  4.927028e+05  1.466598
92785141  -1.163903e+06  4.764713e+05  0.125439
6677510   -1.087369e+06  1.444886e+06  0.190033
7198120   -1.052642e+06  1.439035e+06  0.382895
75361753  -1.510426e+06  6.723814e+05  1.353199
81335859  -1.537415e+06  6.051906e+05  1.629682
44191839  -1.260253e+06  1.022962e+06  0.079827
102478083 -1.037731e+06  3.674751e+05  0.039523
103644243 -1.055567e+06  3.543578e+05  0.054248
78070723  -1.635276e+06  6.419002e+05  0.269436

                                   geometry  index_right   Sett_ID  ADM_ID
91337402    POINT (-1587336.459 492702.751)         3175   12919.0     113
92785141    POINT (-1163902.698 476471.280)         6491   38211.0      55
6677510    POINT (-1087369.428 1444886.092)        12524  191453.0     280
7198120    POINT (-1052641.631 1439035.214)        12513  191410.0     281
75361753    POINT (-1510425.714 672381.352)         8083   56326.0     286
81335859    POINT (-1537415.251 605190.614)         7347   49954.0     311
44191839   POINT (-1260253.460 1022962.235)        11472  144696.0     225
102478083   POINT (-1037731.327 367475.070)         2269    7125.0      38
103644243   POINT (-1055567.071 354357.778)         2176    6529.0      38
78070723    POINT (-1635275.918 641900.160)         6920   46590.0     189

Exported as table, year 2001. Wed Nov 23 12:28:41 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 12:28:42 2022


Values aggregated to settlement level, year 2001. Wed Nov 23 12:28:42 2022

        Sett_ID    PopSum01
1605     4317.0  213.477476
7249    49196.0  454.712663
9839    71760.0  236.299941
2709     9188.0   71.888259
7027    47354.0  229.441091
7508    51657.0  659.791953
470      1373.0  108.070240
13260  198109.0   88.060168
1674     4470.0   65.080847
1680     4511.0  137.966315

Merged year 2001 onto latest year settlement feature layer. Wed Nov 23 12:28:42 2022

        Sett_ID  ADM_ID    PopSum00    PopSum01
3365    13983.0     119  163.030099  169.970740
12360  190913.0     274  973.361115  948.968398
3603    15531.0      31  149.624714  183.265176
3542    14963.0       4  239.686638  230.352755
6850    46467.0     190  506.451009  727.571137
2980    10839.0      19   18.223394   20.027368
4220    19428.0     297  139.096475  160.502274
11952  169764.0     271  594.596347  522.236013
4747    22629.0     290   27.222112   20.715115
8475    60051.0     155  171.909395  177.184978
Loading data for year 2002. Wed Nov 23 12:28:42 2022

Finished gdal.Translate() for year 2002. Wed Nov 23 12:31:07 2022

Loaded XYZ file as a pandas dataframe, year 2002. Wed Nov 23 12:33:52 2022

Created geodataframe from non-NoData points, year 2002. Wed Nov 23 12:33:54 2022


Joined settlement ID onto vectorized raster cells for year 2002. Wed Nov 23 12:44:36 2022

                     X             Y         Z  \
93285607 -1.446444e+06  4.708091e+05  0.192253
88402587 -1.395296e+06  5.257319e+05  0.271673
80442696 -1.096334e+06  6.152881e+05  0.032481
74523187 -1.460033e+06  6.818183e+05  0.639416
98201687 -1.545154e+06  4.155089e+05  0.787389
93421863 -1.257705e+06  4.692992e+05  0.154258
41515751 -1.199763e+06  1.053066e+06  0.355411
90771009 -1.191458e+06  4.991198e+05  0.124461
10135145 -1.036127e+06  1.406006e+06  1.082359
97608254 -1.325462e+06  4.222091e+05  0.070458

                                  geometry  index_right   Sett_ID  ADM_ID
93285607   POINT (-1446443.523 470809.140)         3946   18351.0      25
88402587   POINT (-1395295.518 525731.905)         5851   28589.0     123
80442696   POINT (-1096334.484 615288.099)        10162   75040.0      57
74523187   POINT (-1460032.661 681818.253)        10006   73537.0     346
98201687   POINT (-1545153.510 415508.898)          353    1117.0       3
93421863   POINT (-1257705.497 469299.235)         6250   36346.0     334
41515751  POINT (-1199762.923 1053065.950)        11565  145799.0     227
90771009   POINT (-1191458.449 499119.844)         6345   36523.0      47
10135145  POINT (-1036127.054 1406006.059)        12702  193385.0     274
97608254   POINT (-1325462.448 422209.098)         6116   34386.0     101

Exported as table, year 2002. Wed Nov 23 12:45:31 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 12:45:31 2022


Values aggregated to settlement level, year 2002. Wed Nov 23 12:45:32 2022

        Sett_ID    PopSum02
3725    16496.0  170.199684
7954    55324.0  298.933029
5363    24696.0  100.013423
12230  183893.0  587.176596
4365    19773.0   39.820314
12941  196553.0  104.703194
6267    36372.0  266.564512
113       138.0   57.831956
9320    68768.0  315.955645
10307   79721.0  618.903060

Merged year 2002 onto latest year settlement feature layer. Wed Nov 23 12:45:32 2022

        Sett_ID  ADM_ID     PopSum00     PopSum01     PopSum02
10599   89569.0     299    66.564811    57.204502    53.730138
10699   97659.0     198  2760.698578  2842.196128  2956.330112
11433  142901.0     224    71.842152    66.659000    61.386102
10669   91530.0     145  3463.532909  3581.719769  3499.971951
3848    17630.0      29    62.289019    65.886090    66.253517
1605     4316.0      74   194.322412   220.171355   219.548563
12058  174889.0     246  1545.580045  1175.673388  1347.093156
4300    19533.0     290    87.804727   101.850029   100.217845
11422  141064.0     211   356.844210   291.108212   290.860988
3528    14802.0      22    45.583536    59.953403    62.646575
Loading data for year 2003. Wed Nov 23 12:45:32 2022

Finished gdal.Translate() for year 2003. Wed Nov 23 12:47:56 2022

Loaded XYZ file as a pandas dataframe, year 2003. Wed Nov 23 12:50:38 2022

Created geodataframe from non-NoData points, year 2003. Wed Nov 23 12:50:41 2022


Joined settlement ID onto vectorized raster cells for year 2003. Wed Nov 23 13:01:20 2022

                      X             Y         Z  \
84635816  -1.320933e+06  5.681036e+05  0.112403
44411412  -1.127476e+06  1.020509e+06  2.427579
92345242  -1.500517e+06  4.813785e+05  0.145754
45081181  -1.270068e+06  1.012959e+06  0.131340
87347669  -1.173717e+06  5.376224e+05  1.741389
95902435  -1.556289e+06  4.413660e+05  0.753063
110864713 -1.450124e+06  2.731061e+05  0.039992
106227042 -1.209294e+06  3.252921e+05  0.156116
64168464  -1.481643e+06  7.982696e+05  0.183274
86568256  -1.084067e+06  5.463987e+05  0.301804

                                   geometry  index_right   Sett_ID  ADM_ID
84635816    POINT (-1320932.735 568103.592)         5913   32223.0      93
44411412   POINT (-1127476.259 1020508.641)        11292  135907.0     214
92345242    POINT (-1500516.967 481378.469)         2719    9198.0      20
45081181   POINT (-1270067.837 1012959.120)        11458  143042.0     224
87347669    POINT (-1173717.075 537622.401)        10088   74882.0      61
95902435    POINT (-1556289.054 441366.008)         2862    9916.0      15
110864713   POINT (-1450123.914 273106.057)          729    2075.0     355
106227042   POINT (-1209294.193 325292.122)         1882    5263.0      34
64168464    POINT (-1481643.165 798269.615)        10759   97888.0     197
86568256    POINT (-1084066.513 546398.719)         6568   38366.0      66

Exported as table, year 2003. Wed Nov 23 13:02:15 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 13:02:16 2022


Values aggregated to settlement level, year 2003. Wed Nov 23 13:02:16 2022

        Sett_ID      PopSum03
10974  122074.0     68.647065
2494     7803.0  10689.434156
5913    32225.0     50.436435
3777    17001.0     39.585838
2422     7657.0     26.292433
2778     9390.0    121.951404
11854  163371.0    494.494163
629      1790.0     46.762972
290       957.0     86.242860
8397    59268.0    907.048127

Merged year 2003 onto latest year settlement feature layer. Wed Nov 23 13:02:16 2022

        Sett_ID  ADM_ID     PopSum00     PopSum01     PopSum02     PopSum03
13636  199810.0      80    58.861381    72.004492    74.156316    69.659930
13373  198610.0      79   258.088784   249.995882   258.368645   280.308899
804      2448.0      75    25.089656    29.655686    29.858807    32.369555
8957    65934.0     124   109.237765   112.619225   113.760467   122.442863
11939  169615.0     270  1335.593395  1310.649720  1151.319183  1215.260559
3031    11109.0      19    58.400098    54.071925    55.243531    57.267631
13040  197562.0     112    51.718665    53.589123    49.225649    42.343949
5640    26939.0      98   360.115998   412.212473   416.135916   445.152099
1826     5129.0      33    57.409147    59.773039    50.848235    67.459316
903      2651.0       9   209.690255   192.234411   191.016241   193.105102
Loading data for year 2004. Wed Nov 23 13:02:16 2022

Finished gdal.Translate() for year 2004. Wed Nov 23 13:04:41 2022

Loaded XYZ file as a pandas dataframe, year 2004. Wed Nov 23 13:07:24 2022

Created geodataframe from non-NoData points, year 2004. Wed Nov 23 13:07:27 2022


Joined settlement ID onto vectorized raster cells for year 2004. Wed Nov 23 13:18:04 2022

                      X              Y         Z  \
86940421  -1.596490e+06  542152.113537  1.914103
68535748  -1.107564e+06  749197.728167  0.262895
67081004  -1.400203e+06  765523.567424  1.320504
101118744 -1.037448e+06  382762.850496  0.079572
88492329  -1.636786e+06  524693.846123  0.996462
79565387  -1.534679e+06  625102.476007  0.821905
114225535 -1.032824e+06  235358.452113  0.137361
89547291  -1.062362e+06  512897.719491  0.192866
86420033  -1.610268e+06  548002.992346  1.435335
66140483  -1.468998e+06  776092.896886  0.937574

                                  geometry  index_right   Sett_ID  ADM_ID
86940421   POINT (-1596490.253 542152.114)         3340   13737.0     117
68535748   POINT (-1107564.397 749197.728)        11025  122147.0     209
67081004   POINT (-1400202.706 765523.567)        10787  104512.0     201
101118744  POINT (-1037448.220 382762.850)         2288    7199.0      38
88492329   POINT (-1636785.822 524693.846)         6672   45217.0     171
79565387   POINT (-1534678.550 625102.476)         7274   49219.0     307
114225535  POINT (-1032824.139 235358.452)         2159    6430.0      36
89547291   POINT (-1062361.640 512897.719)         6544   38320.0      65
86420033   POINT (-1610268.129 548002.992)         6742   45302.0     176
66140483   POINT (-1468997.717 776092.897)        10710   97745.0     198

Exported as table, year 2004. Wed Nov 23 13:18:59 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 13:18:59 2022


Values aggregated to settlement level, year 2004. Wed Nov 23 13:18:59 2022

        Sett_ID     PopSum04
10209   78084.0     5.069220
2822     9576.0   634.190778
9329    68777.0   655.544099
8062    56307.0  1634.756827
3389    14363.0   301.594553
10939  116740.0   652.082303
5615    26447.0    41.607136
1149     3288.0    54.950293
7796    54184.0   321.098931
7333    49842.0    63.593717

Merged year 2004 onto latest year settlement feature layer. Wed Nov 23 13:18:59 2022

        Sett_ID  ADM_ID     PopSum00     PopSum01     PopSum02     PopSum03  \
8642    63042.0     343   230.823875   347.457104   618.492834   605.387763
3976    19129.0     296   149.855988   150.814261   139.193769   149.934466
1649     4375.0      73    86.885164   166.707826   171.468151   177.033741
104       128.0       5   305.113363   401.130759   452.732990   326.735555
11400  136451.0     214   123.808492   114.730029   122.763409   138.162224
9007    66478.0     131  4800.936645  4778.485848  4721.012575  4663.431901
3351    13848.0     118   249.017166   250.853362   199.551369   209.618272
781      2346.0      75    40.350033    44.285184    44.888792    51.525642
5479    25331.0      87    30.095196    40.206478    38.942127    44.654788
5617    26447.0     297    35.681766    43.679324    45.303037    40.591916

          PopSum04
8642    615.336006
3976    150.731943
1649    175.005214
104     352.451170
11400   132.849611
9007   4662.489397
3351    255.790437
781      52.182309
5479     42.049848
5617     41.607136
Loading data for year 2005. Wed Nov 23 13:19:00 2022

Finished gdal.Translate() for year 2005. Wed Nov 23 13:21:25 2022

Loaded XYZ file as a pandas dataframe, year 2005. Wed Nov 23 13:24:08 2022

Created geodataframe from non-NoData points, year 2005. Wed Nov 23 13:24:10 2022


Joined settlement ID onto vectorized raster cells for year 2005. Wed Nov 23 13:34:49 2022

                      X              Y         Z  \
102749963 -1.511747e+06  364360.892952  0.160617
101519955 -1.184381e+06  378233.137870  0.250743
97749719  -1.437007e+06  420604.824729  0.359391
85638836  -1.688972e+06  556779.310559  0.131691
92123024  -1.091050e+06  483926.432485  0.470547
58440468  -1.193157e+06  862723.650865  0.655405
75343674  -1.632822e+06  672570.089571  0.765949
97035889  -1.493156e+06  428626.190838  0.120716
94679852  -1.320083e+06  455143.883505  0.254720
70536270  -1.572521e+06  726643.534048  0.203930

                                  geometry  index_right   Sett_ID  ADM_ID
102749963  POINT (-1511746.880 364360.893)          116     141.0       4
101519955  POINT (-1184380.773 378233.138)         6325   36482.0      42
97749719   POINT (-1437006.621 420604.825)         3439   14637.0      31
85638836   POINT (-1688971.886 556779.311)        12947  196525.0     186
92123024   POINT (-1091049.820 483926.432)         6613   39011.0      55
58440468   POINT (-1193157.092 862723.651)        11119  126049.0     220
75343674   POINT (-1632822.323 672570.090)         6828   46445.0     190
97035889   POINT (-1493156.184 428626.191)         3709   16363.0      22
94679852   POINT (-1320083.414 455143.884)         6145   34893.0     101
70536270   POINT (-1572520.524 726643.534)        10317   79727.0     166

Exported as table, year 2005. Wed Nov 23 13:35:45 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 13:35:45 2022


Values aggregated to settlement level, year 2005. Wed Nov 23 13:35:45 2022

        Sett_ID     PopSum05
9062    66545.0   164.534069
11635  146186.0  1252.802229
1465     4141.0  2861.036418
9279    68725.0   574.134731
10338   79802.0    24.912244
2863     9923.0    53.311167
4665    21852.0    95.038536
1799     5082.0   111.183273
2339     7351.0   206.979882
6789    46409.0   461.573238

Merged year 2005 onto latest year settlement feature layer. Wed Nov 23 13:35:45 2022

        Sett_ID  ADM_ID     PopSum00     PopSum01     PopSum02     PopSum03  \
6699    45245.0     173  1973.978837  2070.213165  2153.684966  1960.787784
11254  130278.0     217   558.106228   589.848288   603.088087   676.995308
11629  146152.0     230   265.989819   321.885846   357.911314   367.160384
6534    38297.0      52   134.187385   152.060852   119.131098   155.016588
5747    28259.0      87  1284.691221  1238.154459  1444.898121  1623.800524
6967    46716.0     190    39.623485    36.846557    37.026357    42.614803
10781  103814.0     198   135.607596   196.617045   191.640769   197.587007
2342     7355.0      39    13.990481    16.041167    12.781407    17.615949
5363    24683.0      87    97.602775    86.710802    74.768253    80.085551
524      1509.0       5    49.416054    60.881943    69.641004    62.632525

          PopSum04     PopSum05
6699   1956.926432  1818.757510
11254   679.790730   736.226132
11629   421.748044   419.181373
6534    153.345172   158.757263
5747   1827.698183  1921.518377
6967     39.383630    41.051832
10781   208.817186   194.706191
2342     17.127790    17.676521
5363     84.835939    74.557350
524      65.646350    66.303727
Loading data for year 2006. Wed Nov 23 13:35:45 2022

Finished gdal.Translate() for year 2006. Wed Nov 23 13:38:11 2022

Loaded XYZ file as a pandas dataframe, year 2006. Wed Nov 23 13:40:53 2022

Created geodataframe from non-NoData points, year 2006. Wed Nov 23 13:40:56 2022


Joined settlement ID onto vectorized raster cells for year 2006. Wed Nov 23 13:51:37 2022

                     X             Y         Z  \
98724638 -1.289508e+06  4.096580e+05  0.050059
92436207 -1.626594e+06  4.803404e+05  6.685534
97943193 -1.391615e+06  4.184343e+05  0.564221
79792099 -1.520051e+06  6.225545e+05  1.322613
22872168 -1.084727e+06  1.262754e+06  5.034537
37144060 -1.197876e+06  1.102232e+06  2.746891
84735278 -1.437007e+06  5.669712e+05  0.645013
80018586 -1.526657e+06  6.200065e+05  1.080465
81863948 -1.588752e+06  5.992454e+05  0.450751
98706344 -1.432194e+06  4.098468e+05  0.384108

                                  geometry  index_right   Sett_ID  ADM_ID
98724638   POINT (-1289507.854 409658.019)         6224   36287.0      44
92436207   POINT (-1626593.969 480340.410)         2445    7748.0     172
97943193   POINT (-1391615.126 418434.337)         5238   24519.0      87
79792099   POINT (-1520051.353 622554.513)         7198   49133.0     131
22872168  POINT (-1084727.096 1262753.897)        12266  186720.0     259
37144060  POINT (-1197875.542 1102232.206)        11722  152199.0     230
84735278   POINT (-1437006.621 566971.164)         8760   63196.0     106
80018586   POINT (-1526657.184 620006.549)         7198   49133.0     131
81863948   POINT (-1588751.994 599245.366)         7106   48448.0     179
98706344   POINT (-1432193.802 409846.757)         3427   14624.0      31

Exported as table, year 2006. Wed Nov 23 13:52:32 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 13:52:32 2022


Values aggregated to settlement level, year 2006. Wed Nov 23 13:52:33 2022

        Sett_ID     PopSum06
724      2063.0    32.390040
7347    49975.0    72.047621
5735    27981.0   198.343416
11567  145853.0  1173.513712
2313     7294.0    56.371504
12022  173651.0    94.918636
3612    15603.0   141.377540
6700    45250.0   409.837469
4786    22704.0   177.370423
7049    48381.0   797.930909

Merged year 2006 onto latest year settlement feature layer. Wed Nov 23 13:52:33 2022

        Sett_ID  ADM_ID    PopSum00    PopSum01    PopSum02    PopSum03  \
12684  191870.0     330  245.169965  207.596780  199.635344  220.930989
114       139.0       6   43.847619   38.538140   38.388873   43.613510
10763   97900.0     197  658.601778  727.456903  723.734100  846.977375
1914     5402.0      72  234.110898  244.475332  247.350301  260.074642
6043    33951.0     101  393.463487  480.085909  494.289722  487.753378
65         87.0       3   91.975347  114.409466  111.516751  115.108600
371      1172.0       5   33.405625   41.774821   49.547584   37.589424
4671    21891.0     290   58.885304   67.019711   67.242288   71.931294
9653    70330.0     138   73.236214   73.040912   72.629088   75.427920
12258  185862.0     255  136.970561  158.810565  167.785561  167.296499

         PopSum04    PopSum05    PopSum06
12684  226.992339  235.150673  253.339080
114     42.409600   40.892740   43.439097
10763  831.746363  821.909748  720.839748
1914   264.834157  268.138228  266.695127
6043   498.960436  471.871876  455.536070
65     112.768796  121.811352  133.193833
371     40.333102   36.575085   37.791261
4671    69.686017   62.641898   66.661603
9653    78.052838   70.475901   67.958044
12258  182.109512  167.338809  182.954521
Loading data for year 2007. Wed Nov 23 13:52:33 2022

Finished gdal.Translate() for year 2007. Wed Nov 23 13:54:58 2022

Loaded XYZ file as a pandas dataframe, year 2007. Wed Nov 23 13:59:58 2022

Created geodataframe from non-NoData points, year 2007. Wed Nov 23 14:00:04 2022


Joined settlement ID onto vectorized raster cells for year 2007. Wed Nov 23 14:15:51 2022

                      X             Y         Z  \
99873372  -1.368117e+06  3.967295e+05  0.445191
94342853  -1.448331e+06  4.589186e+05  0.212258
84894720  -1.435780e+06  5.651782e+05  0.844813
79031844  -1.206180e+06  6.311421e+05  0.023708
103825377 -1.382839e+06  3.522817e+05  0.185089
99746751  -1.439460e+06  3.981450e+05  0.188437
30231803  -1.016026e+06  1.179992e+06  1.660032
103018985 -1.463619e+06  3.613411e+05  0.181336
50395234  -1.029427e+06  9.532235e+05  0.080972
99393382  -1.528828e+06  4.021085e+05  0.249902

                                   geometry  index_right   Sett_ID  ADM_ID
99873372    POINT (-1368117.242 396729.464)         4831   22752.0      86
94342853    POINT (-1448330.903 458918.644)         3872   17800.0      29
84894720    POINT (-1435779.824 565178.153)         8760   63196.0     106
79031844    POINT (-1206180.015 631142.093)        10150   74992.0      57
103825377   POINT (-1382838.808 352281.659)         1490    4171.0      68
99746751    POINT (-1439460.216 398145.000)         4976   23227.0      82
30231803   POINT (-1016026.454 1179992.273)        11923  169289.0     265
103018985   POINT (-1463618.683 361341.085)         1186    3388.0      12
50395234    POINT (-1029426.854 953223.534)        11347  136119.0     212
99393382    POINT (-1528827.671 402108.498)         3517   14755.0       4

Exported as table, year 2007. Wed Nov 23 14:16:44 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 14:16:44 2022


Values aggregated to settlement level, year 2007. Wed Nov 23 14:16:44 2022

        Sett_ID     PopSum07
11652  146258.0   531.136036
5279    24569.0   251.489637
12756  195344.0    47.711428
3776    16984.0    29.303391
8613    62784.0   914.920444
9917    72692.0    59.467915
5506    25559.0    75.292569
13635  199852.0  3097.951666
2095     6366.0    40.683650
4168    19367.0   189.477379

Merged year 2007 onto latest year settlement feature layer. Wed Nov 23 14:16:44 2022

        Sett_ID  ADM_ID     PopSum00     PopSum01     PopSum02     PopSum03  \
2684     9158.0      16   141.847353   138.251972   139.902559   127.823676
10497   85508.0     195   102.758767    86.417281    84.803198   177.592425
5437    25070.0      87    69.905808    75.782815    77.823383    80.000710
3339    13730.0     117   878.632580  1053.661861   848.844102   896.304864
12130  175871.0     244  1369.982850  1642.140017  1648.927158  1542.263843
13092  197659.0      79    92.152535    89.926750    91.135718    93.417049
4111    19300.0     291   158.001957   134.938017   133.246570   135.241524
2043     6313.0      36   457.666063   546.466090   618.936583   638.667217
2275     7148.0      38    15.979928    18.221863    14.434252    19.999997
3212    12966.0     118   477.878650   524.320513   561.609487   493.594003

          PopSum04     PopSum05     PopSum06     PopSum07
2684    123.302103   115.101676   118.328585   110.359997
10497   186.355365   160.278471   168.841596   180.438992
5437     80.748557    81.538086    87.668789    83.746531
3339   1108.436465   932.152831   890.942470   896.037679
12130  1519.750875  1381.961377  1396.827396  1373.720066
13092    90.807081    91.297822    91.194173    96.279657
4111    133.411940   122.846796   124.774700   129.387154
2043    593.559030   457.173202   639.804361   424.088802
2275     19.647526    20.180135    19.096016    20.612450
3212    476.332473   449.798627   480.317374   473.971399
Loading data for year 2008. Wed Nov 23 14:16:44 2022

Finished gdal.Translate() for year 2008. Wed Nov 23 14:19:02 2022

Loaded XYZ file as a pandas dataframe, year 2008. Wed Nov 23 14:21:40 2022

Created geodataframe from non-NoData points, year 2008. Wed Nov 23 14:21:42 2022


Joined settlement ID onto vectorized raster cells for year 2008. Wed Nov 23 14:31:56 2022

                      X             Y         Z  \
93427682  -1.500423e+06  4.692049e+05  0.055304
89630487  -1.129741e+06  5.119540e+05  0.131213
106015895 -1.338768e+06  3.276513e+05  0.124690
78114031  -1.507595e+06  6.414283e+05  0.985953
5989470   -1.085293e+06  1.452624e+06  0.214365
96692500  -1.432571e+06  4.324953e+05  0.119662
79540037  -1.551382e+06  6.253856e+05  1.397560
75320225  -1.470130e+06  6.728532e+05  1.556616
110856605 -1.423417e+06  2.732004e+05  0.378678
104034597 -1.435214e+06  3.499224e+05  0.358900

                                   geometry  index_right   Sett_ID  ADM_ID
93427682    POINT (-1500422.598 469204.866)         3051   11200.0      19
89630487    POINT (-1129741.115 511954.029)         6508   38244.0      56
106015895   POINT (-1338768.479 327651.347)         1449    4117.0      68
78114031    POINT (-1507594.643 641428.315)         7937   55127.0     312
5989470    POINT (-1085293.310 1452624.351)        12544  191526.0     280
96692500    POINT (-1432571.278 432495.320)         3719   16466.0      30
79540037    POINT (-1551381.865 625385.583)         7623   52242.0     303
75320225    POINT (-1470130.145 672853.197)         9216   68648.0     140
110856605   POINT (-1423417.484 273200.426)          732    2095.0      75
104034597   POINT (-1435213.610 349922.434)         1142    3255.0       9

Exported as table, year 2008. Wed Nov 23 14:32:48 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 14:32:48 2022


Values aggregated to settlement level, year 2008. Wed Nov 23 14:32:49 2022

        Sett_ID     PopSum08
2260     7095.0    27.708783
863      2600.0   394.531767
5097    23836.0   165.868944
7982    55715.0  3786.027811
7529    51681.0   240.377920
11082  123958.0   278.872794
13289  198205.0     3.327694
13678  200514.0  1474.240333
289       956.0    65.896632
7769    53854.0   147.902459

Merged year 2008 onto latest year settlement feature layer. Wed Nov 23 14:32:49 2022

        Sett_ID  ADM_ID    PopSum00    PopSum01    PopSum02    PopSum03  \
4533    20653.0     291  179.599044  205.293327  200.614649  203.466426
56         78.0       4  112.448210  110.502381  103.589251  133.598560
7748    53598.0     301  226.917302  203.164889  227.236426  227.511263
12465  191315.0     279  596.182459  561.642013  589.674174  618.661449
8894    65177.0     105   87.879111  100.386505   95.563623   97.209178
4915    22910.0      83   32.368374   27.485886   26.481344   27.948098
4404    19941.0     295   93.101757   70.325208   63.010668   68.374984
10958  116824.0     204  154.781031  136.093844  119.378656  153.064237
11044  122203.0     209  174.842828   94.463130   82.300232  104.381513
9735    71089.0     137  201.524202  189.093943  194.181775  190.778819

         PopSum04    PopSum05    PopSum06    PopSum07    PopSum08
4533   205.225258  183.232298  196.812580  205.853084  203.002303
56     130.580594  128.975234  148.546379  146.906909  141.487962
7748   205.487997  205.857944  197.066529  213.780388  231.181053
12465  620.274623  701.256479  688.234990  775.257297  687.903608
8894    91.346875   95.092025   96.465840  106.422781  108.701926
4915    27.385942   28.168959   29.110564   30.665792   28.574111
4404    66.019163   58.086496   63.104895   66.946526   65.860816
10958  151.017234  462.195949  419.479657  620.916649  623.957939
11044  106.490680  102.731639  111.308482   91.549848   98.566706
9735   191.490511  178.204904  174.103525  196.662066  176.452588
Loading data for year 2009. Wed Nov 23 14:32:49 2022

Finished gdal.Translate() for year 2009. Wed Nov 23 14:35:07 2022

Loaded XYZ file as a pandas dataframe, year 2009. Wed Nov 23 14:37:45 2022

Created geodataframe from non-NoData points, year 2009. Wed Nov 23 14:37:47 2022


Joined settlement ID onto vectorized raster cells for year 2009. Wed Nov 23 14:48:04 2022

                      X             Y         Z  \
78820184  -1.384066e+06  6.335013e+05  0.102919
79950905  -1.578843e+06  6.207615e+05  0.198410
72465378  -1.650092e+06  7.049387e+05  0.141230
82988927  -1.533546e+06  5.865999e+05  0.096620
45097827  -1.282902e+06  1.012770e+06  0.130845
106057389 -1.382273e+06  3.271795e+05  0.199218
27655699  -1.022349e+06  1.208964e+06  0.691936
5788422   -1.053585e+06  1.454889e+06  3.425423
96666444  -1.515899e+06  4.327784e+05  0.129649
1911343   -1.094825e+06  1.498488e+06  0.223917

                                   geometry  index_right   Sett_ID  ADM_ID
78820184    POINT (-1384065.605 633501.318)         5827   28432.0     120
79950905    POINT (-1578843.248 620761.501)         7180   48996.0     180
72465378    POINT (-1650091.853 704938.661)         6899   46524.0     190
82988927    POINT (-1533546.122 586599.919)        13041  197575.0     345
45097827   POINT (-1282902.023 1012770.382)        11454  143026.0     224
106057389   POINT (-1382272.594 327179.502)          989    2740.0       7
27655699   POINT (-1022349.178 1208963.560)        12021  172270.0     350
5788422    POINT (-1053585.321 1454889.208)        12730  194063.0     281
96666444    POINT (-1515899.116 432778.427)         3421   14618.0      22
1911343    POINT (-1094824.580 1498487.692)        12673  191852.0     330

Exported as table, year 2009. Wed Nov 23 14:48:57 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 14:48:57 2022


Values aggregated to settlement level, year 2009. Wed Nov 23 14:48:57 2022

        Sett_ID     PopSum09
1510     4196.0    81.403875
1462     4135.0    79.790721
8463    59919.0   305.081748
442      1325.0   230.708849
10783  104513.0  3037.468875
7030    48347.0   826.567319
12695  193388.0   546.491122
2606     8994.0   863.645671
4576    20982.0     8.851488
8220    57518.0   323.767760

Merged year 2009 onto latest year settlement feature layer. Wed Nov 23 14:48:57 2022

        Sett_ID  ADM_ID     PopSum00     PopSum01     PopSum02     PopSum03  \
9172    67925.0     131    61.722121    61.034322    59.402208    59.119898
280       941.0       3    24.022491    23.856594    21.783792    25.932402
7799    54173.0     302    92.563487    99.651880   112.093725   107.429929
9236    68676.0     138   786.222538   770.477822   785.509321   823.956365
10062   74045.0     142   470.005043   460.448309   489.333700   455.070647
10477   85437.0     338  2512.472651  2626.954818  2772.254353  2980.703203
3150    12892.0     115  6364.229326  5707.829508  6374.969836  5841.838167
12761  195340.0     315   722.741844   768.676395   752.727628   735.823863
9750    71167.0     137   161.152735   155.633840   163.659493   158.607965
12490  191360.0     281   591.969408   590.778027   564.719682   580.568471

          PopSum04     PopSum05     PopSum06     PopSum07     PopSum08  \
9172     59.714802    67.166143    69.623448    67.055665    65.414419
280      26.185123    26.439542    29.180315    28.880472    27.678260
7799    111.293853   117.360765   107.237141   108.043871   104.621443
9236    843.312039   879.985377   842.269798   893.236378   860.038095
10062   449.908607   488.078786   528.529124   556.799854   486.814926
10477  2749.149612  2789.736908  2899.538203  3002.384754  3488.940721
3150   7239.069124  6371.269545  7074.575176  5313.896330  5685.145963
12761   718.825122   648.405299   702.485944   678.700709   690.256618
9750    165.758623   153.370754   154.218345   180.795658   160.763202
12490   615.614823   568.649108   576.879119   604.840794   675.222987

          PopSum09
9172     67.250479
280      35.192717
7799    108.459674
9236    904.686013
10062   521.913178
10477  3193.071011
3150   7297.993198
12761   680.115001
9750    156.732673
12490   628.691504
Loading data for year 2010. Wed Nov 23 14:48:57 2022

Finished gdal.Translate() for year 2010. Wed Nov 23 14:51:17 2022

Loaded XYZ file as a pandas dataframe, year 2010. Wed Nov 23 14:53:55 2022

Created geodataframe from non-NoData points, year 2010. Wed Nov 23 14:53:57 2022


Joined settlement ID onto vectorized raster cells for year 2010. Wed Nov 23 15:04:13 2022

                      X             Y          Z  \
74405544  -1.475981e+06  6.831394e+05   0.754115
22846354  -1.145218e+06  1.263037e+06   0.853730
73055404  -1.399448e+06  6.983328e+05   0.084264
95895441  -1.424456e+06  4.414604e+05   0.189197
91857591  -1.592338e+06  4.868519e+05  14.253531
102584345 -1.303946e+06  3.662483e+05   0.144345
54573336  -1.087558e+06  9.062278e+05   0.218343
26354250  -1.101997e+06  1.223591e+06   2.036159
91236435  -1.613288e+06  4.938352e+05   1.516501
75385670  -1.628953e+06  6.720982e+05   1.646775

                                   geometry  index_right   Sett_ID  ADM_ID
74405544    POINT (-1475981.024 683139.419)         9398   68841.0     140
22846354   POINT (-1145217.633 1263037.004)        12109  175646.0     246
73055404    POINT (-1399447.754 698332.830)         5837   28463.0     121
95895441    POINT (-1424455.543 441460.377)        13327  198356.0     319
91857591    POINT (-1592338.017 486851.872)         3306   13180.0     113
102584345   POINT (-1303946.313 366248.273)         1660    4389.0      72
54573336    POINT (-1087558.166 906227.766)        11293  135908.0     213
26354250   POINT (-1101996.625 1223590.757)        11841  163124.0     253
91236435    POINT (-1613287.938 493835.179)         3174   12918.0     113
75385670    POINT (-1628953.194 672098.245)         6969   46720.0     190

Exported as table, year 2010. Wed Nov 23 15:05:06 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 15:05:06 2022


Values aggregated to settlement level, year 2010. Wed Nov 23 15:05:06 2022

        Sett_ID    PopSum10
5806    28382.0  237.676911
5051    23556.0  411.572378
13698  201172.0  582.626339
10846  104749.0  225.061515
8957    65971.0  177.487268
1129     3210.0  196.132595
1488     4170.0  124.304344
6466    38132.0  183.686552
10507   87464.0  314.970126
8847    64720.0   77.633522

Merged year 2010 onto latest year settlement feature layer. Wed Nov 23 15:05:06 2022

        Sett_ID  ADM_ID     PopSum00     PopSum01     PopSum02     PopSum03  \
5805    28372.0     123   143.254285   208.755200   205.865232   205.842780
11470  144501.0     224     1.909270     1.921382     1.940142     1.905770
6692    45237.0     173  2816.803368  2752.447994  2805.346446  2478.930959
1955     5559.0      72    55.959398    59.662204    60.127700    61.073239
2733     9229.0     103   144.694537   148.329485   134.581778   159.131783
1994     5809.0      74   204.259844   291.827066   309.078961   295.438274
6945    46649.0     190   250.859520   289.596442   294.681247   281.400317
9163    67781.0     305    31.779840    32.099396    31.397280    31.641524
10345   79806.0     163    53.016531    52.681313    45.848344    48.507712
11806  156311.0     240   154.415652   211.777426   197.144370   208.601070

          PopSum04     PopSum05     PopSum06     PopSum07     PopSum08  \
5805    193.918070   181.419738   176.600176   179.415483   193.938698
11470     2.101306     2.912810     2.755818     3.028584     2.836426
6692   2392.075223  2137.194323  2175.312975  2049.475488  2212.721551
1955     58.694796    56.461430    58.689065    52.775787    59.096576
2733    154.271995   144.877695   161.826156   168.534298   147.832125
1994    295.503818   286.200315   286.146575   269.486323   285.665045
6945    297.746529   294.536906   315.377437   318.309247   341.508316
9163     32.590058    36.677952    37.068440    36.065565    35.132921
10345    47.709223    49.648931    50.876377    49.732372    46.661355
11806   216.012190   222.145685   217.779435   264.692144   251.785403

          PopSum09     PopSum10
5805    206.538839   183.921871
11470     2.738410     2.536630
6692   2296.676775  2079.861548
1955     68.119356    59.924192
2733    167.816488   141.237774
1994    298.251770   265.605947
6945    331.888345   370.416889
9163     38.224339    36.064164
10345    50.631238    50.650618
11806   233.784050   256.727599
Loading data for year 2011. Wed Nov 23 15:05:06 2022

Finished gdal.Translate() for year 2011. Wed Nov 23 15:07:25 2022

Loaded XYZ file as a pandas dataframe, year 2011. Wed Nov 23 15:10:02 2022

Created geodataframe from non-NoData points, year 2011. Wed Nov 23 15:10:04 2022


Joined settlement ID onto vectorized raster cells for year 2011. Wed Nov 23 15:20:20 2022

                      X             Y         Z  \
83193226  -1.258460e+06  5.843351e+05  0.310328
83484907  -1.447576e+06  5.810321e+05  0.322949
68690449  -1.553741e+06  7.474047e+05  1.431528
97851257  -1.357170e+06  4.194724e+05  0.130777
79666389  -1.505424e+06  6.239700e+05  0.588245
59606610  -1.212691e+06  8.496064e+05  0.168899
81562005  -1.576201e+06  6.026427e+05  0.787984
102272457 -1.438045e+06  3.697399e+05  0.384963
13860475  -1.061984e+06  1.364106e+06  0.167539
84794368  -1.403694e+06  5.663106e+05  0.078686

                                   geometry  index_right   Sett_ID  ADM_ID
83193226    POINT (-1258460.449 584335.062)         5942   32279.0      91
83484907    POINT (-1447575.951 581032.147)         8992   66358.0     344
68690449    POINT (-1553741.091 747404.717)        10478   85444.0     338
97851257    POINT (-1357170.436 419472.397)         6021   33908.0      73
79666389    POINT (-1505424.156 623970.048)         7198   49133.0     131
59606610    POINT (-1212691.477 849606.358)        11151  126152.0     222
81562005    POINT (-1576200.916 602642.651)         3270   13044.0     125
102272457   POINT (-1438044.681 369739.927)         1031    2784.0       8
13860475   POINT (-1061984.164 1364106.217)        12405  191116.0     275
84794368    POINT (-1403694.360 566310.581)         5810   28385.0     122

Exported as table, year 2011. Wed Nov 23 15:21:13 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 15:21:13 2022


Values aggregated to settlement level, year 2011. Wed Nov 23 15:21:13 2022

       Sett_ID    PopSum11
9573   69077.0   91.963503
4113   19304.0  310.608917
3649   15961.0  123.138380
4656   21732.0   45.778535
3253   13018.0  400.252298
10291  79684.0  821.306328
8787   63250.0  389.915885
5509   25567.0  215.531180
377     1191.0   35.283831
1521    4212.0  444.250959

Merged year 2011 onto latest year settlement feature layer. Wed Nov 23 15:21:13 2022

      Sett_ID  ADM_ID    PopSum00    PopSum01    PopSum02    PopSum03  \
8239  57738.0     286  387.021049  375.617691  392.555043  389.379000
9932  72786.0     137   84.036282   85.166289   92.460781   85.771814
7693  53134.0     302  135.429789  135.416671  130.731060  137.718391
454    1350.0       5   67.122148   90.808589   98.996214   87.377684
5025  23423.0      83  205.568821  179.037604  166.083377  176.198262
8684  63102.0     104  172.042060  196.244125  183.454177  161.726513
765    2239.0      75   18.730578   16.042447   15.105114   17.654777
9429  68880.0     137  238.279941  239.526947  231.934783  242.997333
8040  56279.0     286  682.513780  659.284713  674.026733  704.284697
1691   4537.0      67   35.252660   37.659316   32.354298   41.329211

        PopSum04    PopSum05    PopSum06    PopSum07    PopSum08    PopSum09  \
8239  380.291662  366.709637  399.875143  448.477831  383.306571  373.981359
9932   90.141454   88.613351   85.303363  100.893930   94.305752   90.394402
7693  138.513133  139.236620  133.490227  141.737242  131.620988  142.305106
454    89.061517   96.199058   97.410201   99.385502  106.337619  111.130381
5025  173.549570  171.867184  177.426637  182.977507  166.506845  172.777191
8684  151.867932  142.684835  137.673745  137.077754  142.975042  144.047001
765    17.749074   41.272597   41.146716   43.715707   45.349763   47.144973
9429  248.023072  233.154942  233.486919  268.170856  234.356921  269.014024
8040  666.915508  642.022238  694.102823  753.185006  688.225659  651.558813
1691   40.184169   42.437299   45.133209   41.419334   43.592273   52.859829

        PopSum10    PopSum11
8239  367.458154  415.538412
9932   90.578454   97.753770
7693  128.094475  130.507568
454   125.721950  122.171675
5025  155.805200  176.913125
8684  194.956119  202.952503
765    51.899493   43.362113
9429  223.883094  257.525705
8040  714.623500  706.742582
1691   44.274521   54.549547
Loading data for year 2012. Wed Nov 23 15:21:13 2022

Finished gdal.Translate() for year 2012. Wed Nov 23 15:23:33 2022

Loaded XYZ file as a pandas dataframe, year 2012. Wed Nov 23 15:26:10 2022

Created geodataframe from non-NoData points, year 2012. Wed Nov 23 15:26:12 2022


Joined settlement ID onto vectorized raster cells for year 2012. Wed Nov 23 15:36:28 2022

                      X             Y         Z  \
101890546 -1.053491e+06  3.740809e+05  0.120129
24364645  -1.190515e+06  1.245956e+06  1.786115
94066822  -1.366041e+06  4.620328e+05  0.299432
7491714   -1.061229e+06  1.435732e+06  0.961995
58836604  -1.027162e+06  8.582883e+05  0.172253
31513445  -1.221845e+06  1.165554e+06  0.790347
74211930  -1.534584e+06  6.853099e+05  2.278141
92889233  -1.634898e+06  4.752445e+05  1.978616
66210171  -1.227413e+06  7.753379e+05  0.783347
101399919 -1.426154e+06  3.795543e+05  0.224992

                                   geometry  index_right   Sett_ID  ADM_ID
101890546   POINT (-1053490.952 374080.901)         2080    6350.0      38
24364645   POINT (-1190514.759 1245956.213)        12054  174883.0     242
94066822    POINT (-1366041.124 462032.821)         5688   27485.0     283
7491714    POINT (-1061229.211 1435732.298)        12499  191383.0     281
58836604    POINT (-1027161.998 858288.307)        11307  135966.0     211
31513445   POINT (-1221845.272 1165553.814)        11557  145746.0     233
74211930    POINT (-1534584.181 685309.906)         8346   59204.0     155
92889233    POINT (-1634898.442 475244.483)         2444    7747.0     167
66210171    POINT (-1227413.043 775337.945)        10917  111659.0     207
101399919   POINT (-1426154.185 379554.304)         4772   22689.0      83

Exported as table, year 2012. Wed Nov 23 15:37:20 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 15:37:20 2022


Values aggregated to settlement level, year 2012. Wed Nov 23 15:37:21 2022

        Sett_ID    PopSum12
4811    22730.0   61.956253
176       577.0   51.172665
12455  191310.0  919.812440
3592    15437.0  103.869406
3393    14409.0  194.254572
3681    16167.0   10.171853
10489   85505.0  363.924065
3003    10949.0   30.063012
9935    72864.0   66.682198
3711    16395.0   24.893364

Merged year 2012 onto latest year settlement feature layer. Wed Nov 23 15:37:21 2022

        Sett_ID  ADM_ID     PopSum00     PopSum01     PopSum02     PopSum03  \
4059    19230.0     294   292.377829   213.466005   206.925237   204.685628
5074    23688.0      86    53.111375    59.815986    55.394697    59.174905
9233    68672.0     138   612.832836   645.914184   652.426687   657.822285
4329    19611.0     296    43.934084    38.822916    34.665342    36.534057
3023    11060.0      19    46.685935    41.657686    38.389346    45.791481
3357    13921.0     119   298.030449   330.724816   364.194378   334.828874
505      1447.0       4    44.162474    53.038477    47.069284    57.758293
8383    59244.0     158  3176.038006  2881.468379  2831.638274  3406.487824
12328  188160.0     276  2147.276203  2536.093481  2590.498657  2429.938878
11528  145632.0     231   587.940997   642.361031   524.342380   602.072039

          PopSum04     PopSum05     PopSum06     PopSum07     PopSum08  \
4059    205.268929   207.117180   202.118163   221.047855   235.541049
5074     56.548588    60.932487    61.779611    67.050834    62.821066
9233    686.106508   719.536874   724.755027   751.947576   734.343375
4329     36.261539    31.040113    32.210304    34.041924    32.543637
3023     47.102427    43.922895    47.520304    48.448305    44.155378
3357    330.480022   368.451314   333.187548   368.019745   392.016199
505      56.052635    54.987114    60.006652    61.771550    58.695757
8383   3085.912147  3267.343697  3109.207565  3234.998576  3865.039191
12328  2513.228697  2762.499400  2581.889423  3003.733622  3210.058982
11528   653.490695   565.755470   620.289423   700.190984   693.069488

          PopSum09     PopSum10     PopSum11     PopSum12
4059    199.958241   249.052319   241.959527   197.388825
5074     74.739248    60.772571    69.706801    77.070264
9233    733.321639   763.870447   776.941854   684.314746
4329     32.472031    27.283304    30.954870    32.052552
3023     45.014005    38.179429    45.134310    40.066065
3357    412.663754   366.988585   410.823978   337.346742
505      66.943123    67.175808    79.287318    80.245350
8383   3502.216082  3824.237653  3467.611542  4091.521792
12328  2820.864319  3437.216767  3138.434213  3234.534605
11528   739.747356   729.520520   764.065541  1047.018479
Loading data for year 2013. Wed Nov 23 15:37:21 2022

Finished gdal.Translate() for year 2013. Wed Nov 23 15:39:40 2022

Loaded XYZ file as a pandas dataframe, year 2013. Wed Nov 23 15:42:17 2022

Created geodataframe from non-NoData points, year 2013. Wed Nov 23 15:42:19 2022


Joined settlement ID onto vectorized raster cells for year 2013. Wed Nov 23 15:52:33 2022

                      X             Y         Z  \
75177162  -1.509388e+06  6.744575e+05  1.597381
79884019  -1.556006e+06  6.215165e+05  1.149606
81427730  -1.577994e+06  6.041526e+05  0.556921
29835268  -1.219675e+06  1.184428e+06  1.990643
87757689  -1.281203e+06  5.329983e+05  0.085767
84089099  -1.443801e+06  5.742376e+05  0.399792
78240266  -1.472678e+06  6.400128e+05  0.361323
97875495  -1.445405e+06  4.191893e+05  0.476403
93107457  -1.629425e+06  4.727909e+05  3.647976
106710176 -1.543738e+06  3.198187e+05  0.312028

                                   geometry  index_right   Sett_ID  ADM_ID
75177162    POINT (-1509387.654 674457.470)         8304   58865.0     286
79884019    POINT (-1556005.947 621516.454)         7465   51589.0     300
81427730    POINT (-1577993.927 604152.555)         3270   13044.0     125
29835268   POINT (-1219674.784 1184427.616)        11736  155473.0     240
87757689    POINT (-1281203.381 532998.319)         5967   33220.0      93
84089099    POINT (-1443801.190 574237.578)         8989   66299.0     107
78240266    POINT (-1472678.108 640012.780)         9653   70330.0     138
97875495    POINT (-1445405.464 419189.290)         3436   14633.0      31
93107457    POINT (-1629425.039 472790.889)         2553    7957.0     172
106710176   POINT (-1543737.975 319818.719)           20      24.0       2

Exported as table, year 2013. Wed Nov 23 15:53:26 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 15:53:26 2022


Values aggregated to settlement level, year 2013. Wed Nov 23 15:53:26 2022

        Sett_ID    PopSum13
6105    34294.0  105.563813
2971    10719.0  117.753695
13011  196872.0   18.896076
2220     6934.0   82.956210
13698  201172.0  958.008024
11353  136161.0  316.762823
2707     9186.0   21.367201
6789    46409.0  497.279117
893      2640.0  324.598799
7998    56131.0  929.297746

Merged year 2013 onto latest year settlement feature layer. Wed Nov 23 15:53:26 2022

        Sett_ID  ADM_ID     PopSum00     PopSum01     PopSum02     PopSum03  \
7139    48514.0     180   193.977490   244.113788   252.478712   201.733838
13215  197944.0     320     8.977534     9.795650     9.201207     9.391017
8455    59784.0     155   126.486924   103.659092   109.178310   121.603173
11258  131231.0     220   173.268933   207.114015   297.376926   260.003141
9991    73436.0     140    24.425855    26.859199    31.303617    26.883395
11580  145890.0     228  1159.874136  2958.799505  3084.989673  3348.624206
10032   73714.0     346    84.937117    68.745827    70.094689    71.273940
12649  191812.0     281   147.633616   122.454070   117.381306   146.723312
5202    24349.0      88    46.740467    42.019215    40.862714    40.592738
6585    38405.0      65   173.719696   197.332391   148.415912   196.306726

          PopSum04     PopSum05     PopSum06     PopSum07     PopSum08  \
7139    185.702177   172.141309   169.966532   150.148351   149.105483
13215     8.885805     9.255434     8.971369    10.126756    10.476146
8455    110.247764   147.345199   141.818663   151.653229   134.583313
11258   255.765131   274.791717   386.635245   242.781461   315.546513
9991     25.069030    27.406057    26.444042    28.275752    28.870230
11580  3456.716045  3653.555106  3514.772409  3700.802896  4489.263292
10032    79.028569    73.142472    77.616873    88.272684    79.517377
12649   139.429437   134.358132   146.565710   141.728655   147.086917
5202     41.518412    43.480052    46.222996    48.294055    45.083451
6585    201.319647   195.373064   196.612830   204.829587   212.294546

          PopSum09     PopSum10     PopSum11     PopSum12     PopSum13
7139    162.996446   137.459970   158.250407   236.819018   235.624361
13215     9.262948    10.418687    10.696049    10.058599    10.630104
8455    152.661524   142.675838   152.556677   139.298593   138.276868
11258   464.929496   528.334461   558.739637   317.482231   331.873973
9991     27.550042    28.828215    51.778994    27.034271    27.436022
11580  4559.426225  5294.444701  4714.196952  5140.229749  5239.941318
10032    79.091124    72.800585    78.911885    74.875544   110.911211
12649   253.233785   259.940818   273.761893   368.399646   344.813420
5202     46.522890    42.065350    48.796274    70.264755    66.382283
6585    233.766963   195.910591   261.522829   307.917797   294.515332
Loading data for year 2014. Wed Nov 23 15:53:26 2022

Finished gdal.Translate() for year 2014. Wed Nov 23 15:55:45 2022

Loaded XYZ file as a pandas dataframe, year 2014. Wed Nov 23 15:58:23 2022

Created geodataframe from non-NoData points, year 2014. Wed Nov 23 15:58:25 2022


Joined settlement ID onto vectorized raster cells for year 2014. Wed Nov 23 16:08:40 2022

                      X             Y         Z  \
53324041  -9.965864e+05  9.202887e+05  0.257418
45979958  -1.181361e+06  1.002862e+06  0.580164
67292710  -1.217976e+06  7.631643e+05  0.889021
91644692  -1.095296e+06  4.893055e+05  0.578937
76695677  -1.533546e+06  6.573767e+05  2.817606
78112674  -1.635653e+06  6.414283e+05  0.424280
92524250  -1.236567e+06  4.793967e+05  0.208393
103162288 -1.401713e+06  3.597368e+05  0.464105
99940009  -1.414452e+06  3.959745e+05  0.344184
72945067  -1.517786e+06  6.995596e+05  2.412297

                                   geometry  index_right   Sett_ID  ADM_ID
53324041     POINT (-996586.438 920288.749)        11381  136283.0     211
45979958   POINT (-1181360.965 1002861.635)        11291  135906.0     228
67292710    POINT (-1217976.142 763164.342)        10891  111590.0     207
91644692    POINT (-1095296.425 489305.466)         6617   39118.0      55
76695677    POINT (-1533546.122 657376.678)         8007   56244.0     134
78112674    POINT (-1635653.394 641428.315)         6920   46590.0     189
92524250    POINT (-1236566.838 479396.720)         6276   36381.0      51
103162288   POINT (-1401712.611 359736.811)         1360    3865.0      69
99940009    POINT (-1414452.427 395974.512)        13087  197654.0      79
72945067    POINT (-1517786.497 699559.627)        10545   89174.0     299

Exported as table, year 2014. Wed Nov 23 16:09:32 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 16:09:33 2022


Values aggregated to settlement level, year 2014. Wed Nov 23 16:09:33 2022

        Sett_ID     PopSum14
6286    36404.0   159.615675
12399  191122.0   411.955384
3492    14699.0    71.681436
5810    28392.0   250.464275
5799    28365.0   249.295633
8836    64596.0    64.508972
4371    19797.0    11.132928
3857    17664.0   253.536382
1994     5825.0   222.180241
13131  197712.0  3198.161324

Merged year 2014 onto latest year settlement feature layer. Wed Nov 23 16:09:33 2022

        Sett_ID  ADM_ID     PopSum00     PopSum01     PopSum02     PopSum03  \
7023    47068.0     190    29.864214    41.010687    39.590607    46.958965
12007  170077.0     270   745.389850   786.224568   797.286419   856.844147
5776    28323.0     124   366.149615   348.585018   319.595371   352.439945
4294    19525.0     290   372.591019   422.108633   382.018049   450.332888
5251    24533.0      87   106.678796   119.713969   122.789271   135.228727
4012    19168.0     295   302.080939   282.233936   243.092601   270.178261
13130  197701.0      79  2892.972237  3281.936661  3292.575562  3144.537058
1258     3652.0       7   289.074048   327.879337   284.713501   347.302533
11725  152584.0     235   105.778502   166.465167   150.391768   139.321230
2304     7256.0      38    21.536783    27.062890    27.885559    28.441891

          PopSum04     PopSum05     PopSum06     PopSum07     PopSum08  \
7023     49.709917    46.917615    47.461662    51.554961    47.134797
12007   852.202781   889.927197   853.061274   918.010422   909.630721
5776    362.519545   313.767624   344.360209   362.801535   406.589209
4294    422.613515   421.794636   400.839264   399.448740   425.215927
5251    129.995337   135.471768   134.912730   134.426990   138.786468
4012    261.265055   223.847992   250.038033   265.407390   260.469428
13130  3392.868904  3647.914356  3606.566183  4676.804596  5017.322994
1258    340.440578   373.623999   379.054713   426.732637   417.197272
11725   142.985650   129.580528   129.244365   150.645186   150.583684
2304     27.041104    28.979183    26.946802    29.189441    30.298705

          PopSum09     PopSum10     PopSum11     PopSum12     PopSum13  \
7023     54.516021    46.237756    55.271490    57.917184    65.634175
12007   967.558060   879.098217   892.883892   961.960868  1004.827745
5776    397.384305   384.209947   393.293631   485.946910  1170.619916
4294    467.865055   438.467266   446.018357   515.606506   479.413614
5251    152.943395   150.723172   135.573195   220.653559   180.221509
4012    253.095241   215.693980   243.739144   248.676216   472.696891
13130  4727.621090  4778.233204  4952.090523  3317.800198  3625.986067
1258    400.203244   375.693301   441.497698   525.708524   812.154702
11725   154.033978   176.008241   179.114118   223.356527   254.013202
2304     28.115783    29.988028    33.876250    33.321693    34.391377

          PopSum14
7023     61.660037
12007   923.678901
5776   1266.086129
4294    423.203390
5251    189.555494
4012    434.526234
13130  3355.436283
1258    814.029883
11725   228.200739
2304     34.161364
Loading data for year 2015. Wed Nov 23 16:09:33 2022

Finished gdal.Translate() for year 2015. Wed Nov 23 16:11:52 2022

Loaded XYZ file as a pandas dataframe, year 2015. Wed Nov 23 16:14:29 2022

Created geodataframe from non-NoData points, year 2015. Wed Nov 23 16:14:31 2022


Joined settlement ID onto vectorized raster cells for year 2015. Wed Nov 23 16:24:41 2022

                      X             Y         Z  \
98003927  -1.203160e+06  4.177738e+05  0.917381
79229671  -1.541851e+06  6.288772e+05  1.248592
63246406  -1.391804e+06  8.086502e+05  0.355732
74380545  -1.459561e+06  6.834225e+05  0.845341
66106723  -1.487494e+06  7.764704e+05  2.099046
78457877  -1.525053e+06  6.375592e+05  2.682066
105587108 -1.418605e+06  3.324642e+05  0.395217
85376431  -1.112660e+06  5.597991e+05  0.098801
93536289  -1.545342e+06  4.679781e+05  0.107305
2599218   -1.112472e+06  1.490749e+06  0.326123

                                   geometry  index_right   Sett_ID  ADM_ID
98003927    POINT (-1203160.207 417773.754)         6454   37918.0      40
79229671    POINT (-1541850.595 628877.237)         7481   51615.0     303
63246406    POINT (-1391803.864 808650.206)        10843  104728.0     203
74380545    POINT (-1459560.816 683422.526)        10016   73616.0     346
66106723    POINT (-1487494.043 776470.373)        10693   97609.0     198
78457877    POINT (-1525052.911 637559.186)         7198   49133.0     131
105587108   POINT (-1418604.664 332464.167)         1047    2801.0       7
85376431    POINT (-1112660.324 559799.119)         6571   38374.0      65
93536289    POINT (-1545342.248 467978.069)         2688    9162.0      16
2599218    POINT (-1112471.586 1490749.433)        12666  191840.0     358

Exported as table, year 2015. Wed Nov 23 16:25:34 2022

Removed (or skipped if error) intermediate xyz file. Wed Nov 23 16:25:34 2022


Values aggregated to settlement level, year 2015. Wed Nov 23 16:25:34 2022

        Sett_ID    PopSum15
13588  199651.0  126.930524
6059    33986.0  419.512124
13457  198898.0    4.719167
3538    14920.0  139.413148
12910  196262.0  242.156272
10345   79819.0   84.456896
8826    64474.0  281.456210
2287     7199.0   37.792848
10041   73838.0  130.788419
675      1920.0   33.615573

Merged year 2015 onto latest year settlement feature layer. Wed Nov 23 16:25:34 2022

        Sett_ID  ADM_ID      PopSum00      PopSum01      PopSum02  \
5395    24817.0      87     52.917139     44.060546     45.119326
12974  196685.0     184     72.670588     67.937835     70.953422
3214    12971.0     119    360.473814    331.473544    345.652516
1945     5530.0      74     65.656257     75.731076     66.678352
2947    10372.0      17    129.530806    145.272141    157.154399
13058  197620.0     321    348.844241    374.794692    373.786368
5659    27213.0     283     89.043495     90.147653     82.390950
4084    19263.0     292    185.201213    169.612689    163.197962
9682    70783.0     138    129.410568    116.826462    113.735718
10692   97608.0     198  11114.311459  11746.517165  11646.508650

           PopSum03      PopSum04      PopSum05      PopSum06      PopSum07  \
5395      49.981158     46.361655     49.068912     49.141239     48.353207
12974     76.738076     77.569102     79.147426     86.072931     92.103289
3214     312.686232    290.530713    333.157304    337.587194    349.416403
1945      71.510637     75.887485     71.342826     76.298901     86.534005
2947     142.392450    139.580901    130.788305    144.124737    133.179873
13058    387.231487    360.876414    399.727331    349.688999    383.821213
5659      90.049220     94.006885     86.584626     89.543489     94.963120
4084     170.252872    177.272047    185.106811    171.302123    182.159458
9682     140.836964    131.798457    125.281591    197.862498    126.585456
10692  11983.275812  11677.783913  12521.237007  11418.357191  10546.987982

           PopSum08      PopSum09      PopSum10      PopSum11      PopSum12  \
5395      50.404523     54.807415     56.306554     55.448099     59.911894
12974     74.995931     80.945325     73.138641    110.916256    116.769914
3214     320.398642    303.759198    321.503840    360.149948    422.605099
1945      80.653766     79.972987     75.604830     79.645243     90.405792
2947     129.163953    148.249623    140.102812    141.760058    138.145483
13058    419.617257    404.896859    447.004551    406.763666    396.077433
5659      90.924694     96.710563     78.955319     91.948512    102.438545
4084     187.110545    168.812165    188.234317    159.421943    210.340885
9682     147.295284    164.089958    282.898553    229.470911    150.274656
10692  10879.089444  12391.221522  10761.695256  10020.673711  10886.735444

           PopSum13      PopSum14      PopSum15
5395      63.319842     56.255985     57.718396
12974    111.599812    110.336415    114.231886
3214     462.694046    414.420805    393.499517
1945      80.508095     87.186638     94.415703
2947     157.607626    127.429414    119.972821
13058    382.756488    443.444121    442.524641
5659     105.967652     85.786235     84.537672
4084     184.395465    159.205125    151.540305
9682     165.656826    178.675529    187.121134
10692  10759.886770  11908.599075  11726.363195


Finished. All years masked and assigned their nearest settlement. Wed Nov 23 16:25:34 2022

Saved to file. Wed Nov 23 16:25:35 2022

In [10]:
AllSummaries.sample(20)

,Sett_ID,ADM_ID,PopSum00,PopSum01,PopSum02,PopSum03,PopSum04,PopSum05,PopSum06,PopSum07,PopSum08,PopSum09,PopSum10,PopSum11,PopSum12,PopSum13,PopSum14,PopSum15
4595,21133.0,295,2.190004,1.727115,1.641959,1.864361,1.752525,1.748426,1.638094,1.834905,1.815182,1.828446,2.539280,2.855308,3.334095,3.253510,3.217648,2.772022
4845,22770.0,86,209.400139,234.310859,222.566305,243.654188,230.617780,249.180102,252.629279,275.075324,260.975841,302.323238,249.659442,287.126995,316.431957,308.656657,279.990103,270.546047
10851,104749.0,203,353.676892,240.082718,251.939314,262.016045,233.882684,236.621804,235.796100,239.037970,262.463745,268.884971,225.061515,303.005873,289.200799,277.451022,366.553270,355.136125
12852,196170.0,181,675.244368,717.637488,710.571260,675.706987,670.082964,692.748582,708.367766,699.808414,762.582111,735.414647,873.667941,786.885417,747.582974,877.188596,840.260319,938.948393
9664,70561.0,138,304.280552,255.675006,248.621480,286.945560,281.680882,305.066905,291.007577,309.061090,284.353585,298.194390,300.890640,315.767939,274.858355,267.246658,305.043551,301.775216
6795,46411.0,189,109.902313,101.236738,152.718517,169.479533,177.433142,178.104989,178.349040,179.141797,169.249841,182.881142,169.420237,179.567743,205.913430,209.021485,191.019806,206.020040
5832,28445.0,121,223.599995,253.112718,237.151864,280.432230,286.956810,288.641641,296.764634,320.312347,318.915843,389.707968,342.747498,413.159256,484.969937,437.453251,1229.691935,1391.297408
4736,22540.0,290,168.373869,179.339400,170.389068,197.086953,183.574185,181.026619,171.377538,176.498052,187.201379,190.606766,187.666106,186.998355,193.450735,180.372608,165.520760,164.630812
8554,60793.0,155,2578.129185,2031.174007,2040.594864,2449.163953,2274.186983,2557.560822,2418.428217,2725.995616,2872.811403,2391.834550,2763.395366,2623.744151,2572.986253,2777.210593,2483.534465,2516.261756
11493,145491.0,227,804.084177,783.192272,798.141453,896.871611,863.311051,916.201023,941.660557,1011.218468,1035.654339,1136.564346,1098.092600,1214.947393,1369.440888,1403.342602,1415.601111,1588.510209
1468,4144.0,68,354.346843,346.769188,426.009167,424.550042,500.635910,418.897044,402.777894,390.927214,445.614842,453.239600,468.144085,573.902907,421.326968,457.830989,435.173021,427.935086
11085,123919.0,209,127.649272,218.567419,208.857901,216.996122,206.253631,238.554799,239.845228,246.000616,261.943947,227.820361,274.168985,323.046539,369.990963,345.048278,408.368972,454.124933
1305,3740.0,7,48.807844,46.628092,43.646102,49.994767,50.095554,48.692440,50.422648,57.999959,53.513028,87.347768,92.323703,89.906239,107.156756,96.264267,106.610331,117.053914
10217,78098.0,64,2.963879,5.906861,4.604202,5.205896,5.680204,5.288476,5.463697,5.806066,6.525554,7.371626,6.477199,6.960614,9.725107,7.422512,7.151665,8.330577
7335,49825.0,309,169.109863,175.875118,184.077497,176.477739,181.725484,193.542296,177.935365,192.459868,176.480221,189.907393,165.182691,173.786068,159.612142,153.689071,144.764702,130.223060
4430,20080.0,295,81.903838,87.613067,74.600006,88.014461,81.707614,72.405183,78.532907,82.009960,79.570580,83.396165,69.019512,79.302509,86.302396,135.830988,124.784365,119.416313
5625,26598.0,283,323.678895,263.245324,255.201283,276.739211,254.076836,269.510835,266.317797,260.493018,278.113119,299.265883,305.779426,332.100375,436.935664,403.996222,406.021678,436.469036
2127,6397.0,39,364.735844,282.787911,272.318601,261.466747,257.677031,288.423859,266.970572,394.766751,286.139020,333.089820,299.658805,278.233051,282.823542,264.163863,257.269165,307.542580
11807,156313.0,240,631.389691,671.966803,696.933037,742.231324,776.103136,780.135944,859.549588,976.179978,899.411793,888.829345,847.610177,1009.085217,1162.211265,1158.388981,1125.205761,1030.279563
10696,97623.0,199,1551.606186,1677.337304,1785.767393,1650.949418,1666.711781,1830.208290,1619.161006,1644.158535,1716.192579,1726.684513,1621.948021,1652.418432,1565.930779,1595.702911,1700.100853,1704.855193

---

## 9. PREPARE YEARLY DATASETS: NIGHTTIME LIGHTS

### 9.1 Reproject and reclassify with settlement buffer mask.
Reclassify so that we only need to work with cells within X distance of settlements.

In [15]:
ProjCRS = gdal.WarpOptions(dstSRS='ESRI:102022')
AnnualizedSourceFiles = [i for i in os.listdir('NTL/') if i.endswith('.tif')]

with fiona.open(r'Results/Catchment.gpkg', mode="r", layer="Buff250m_2015") as shapefile:
    MaskGeom = [feature["geometry"] for feature in shapefile] # Identify the bounding areas of the mask.
# Mask_out = './LatestYearBuffer.tif'
AnnualizedSourceFiles

['Masked_1999.tif',
 'Masked_2000.tif',
 'Masked_2001.tif',
 'Masked_2002.tif',
 'Masked_2003.tif',
 'Masked_2004.tif',
 'Masked_2005.tif',
 'Masked_2006.tif',
 'Masked_2007.tif',
 'Masked_2008.tif',
 'Masked_2009.tif',
 'Masked_2010.tif',
 'Masked_2011.tif',
 'Masked_2012.tif',
 'Masked_2013.tif',
 'Masked_2014.tif',
 'Masked_2015.tif']

In [6]:
ValStart = 1999
ValEnd = 2015

In [8]:
# This codeblock changes each annual population raster's projection (gdal.Warp()), 
# then masks it to within a specified distance of the settlements (rasterio.mask.mask()).

for YearFile in AnnualizedSourceFiles:
    InputRasterName = os.path.join(ProjectFolder, "NTL", YearFile)
    Year = str(re.sub(r'[^0-9]', '', YearFile))
    InputRasterObject = gdal.Open(InputRasterName)
    TempOutputName = "Temp_" + Year + "_albers.tif"
    TempOutputPath = os.path.join(ProjectFolder, "NTL", TempOutputName)
    if exists(TempOutputPath):
        pass
    else:
        # Reproject to same CRS as settlements.
        Warp = gdal.Warp(TempOutputPath, # Where to store the warped raster
                     InputRasterObject, # Which raster to warp
                     format='GTiff', 
                     options=ProjCRS) # Reproject to Africa Albers Equal Area Conic
        print('Finished gdal.Warp() for year %s. %s \n' % (Year, time.ctime()))
        
        Warp = None # Close the files
        InputRasterObject = None

        # Reclassify as nodata if outside settlement buffer zones.
        with rasterio.open(TempOutputPath) as InputRasterObject:
            MaskedOutputRaster, OutTransform = rasterio.mask.mask(
                InputRasterObject, MaskGeom, crop=True) # Anything outside the mask is reclassed to the raster's NoData value.
            OutMetaData = InputRasterObject.meta.copy()
        print('Finished rasterio.mask.mask() for year %s. %s \n' % (Year, time.ctime()))
            
        OutMetaData.update({"driver": "GTiff",
                         "height": MaskedOutputRaster.shape[1],
                         "width": MaskedOutputRaster.shape[2],
                         "transform": OutTransform})
        FinalOutputPath = os.path.join(ProjectFolder, "NTL", ''.join(['Masked_', Year, '.tif']))
        with rasterio.open(FinalOutputPath, "w", **OutMetaData) as dest:
            dest.write(MaskedOutputRaster)
        print('Written to file. %s \n' % time.ctime())
    InputRasterObject = None
    
    try:  # Finally, remove the intermediate file from disk
        os.remove(TempOutputPath)
    except OSError:
        pass
    print('Removed intermediate file. %s \n' % time.ctime())

print('\n \n Finished all years in list. %s' % time.ctime())

Finished gdal.Warp() for year 2000. Wed Nov 23 11:12:35 2022

Finished rasterio.mask.mask() for year 2000. Wed Nov 23 11:12:38 2022

Written to file. Wed Nov 23 11:12:39 2022

Removed intermediate file. Wed Nov 23 11:12:39 2022

Finished gdal.Warp() for year 2001. Wed Nov 23 11:12:43 2022

Finished rasterio.mask.mask() for year 2001. Wed Nov 23 11:12:47 2022

Written to file. Wed Nov 23 11:12:47 2022

Removed intermediate file. Wed Nov 23 11:12:47 2022

Finished gdal.Warp() for year 2002. Wed Nov 23 11:12:51 2022

Finished rasterio.mask.mask() for year 2002. Wed Nov 23 11:12:55 2022

Written to file. Wed Nov 23 11:12:55 2022

Removed intermediate file. Wed Nov 23 11:12:55 2022

Finished gdal.Warp() for year 2003. Wed Nov 23 11:12:59 2022

Finished rasterio.mask.mask() for year 2003. Wed Nov 23 11:13:02 2022

Written to file. Wed Nov 23 11:13:03 2022

Removed intermediate file. Wed Nov 23 11:13:03 2022

Finished gdal.Warp() for year 2004. Wed Nov 23 11:13:07 2022

Finished rasterio.mask.mask() for year 2004. Wed Nov 23 11:13:10 2022

Written to file. Wed Nov 23 11:13:11 2022

Removed intermediate file. Wed Nov 23 11:13:11 2022

Finished gdal.Warp() for year 2005. Wed Nov 23 11:13:15 2022

Finished rasterio.mask.mask() for year 2005. Wed Nov 23 11:13:18 2022

Written to file. Wed Nov 23 11:13:19 2022

Removed intermediate file. Wed Nov 23 11:13:19 2022

Finished gdal.Warp() for year 2006. Wed Nov 23 11:13:23 2022

Finished rasterio.mask.mask() for year 2006. Wed Nov 23 11:13:26 2022

Written to file. Wed Nov 23 11:13:27 2022

Removed intermediate file. Wed Nov 23 11:13:27 2022

Finished gdal.Warp() for year 2007. Wed Nov 23 11:13:31 2022

Finished rasterio.mask.mask() for year 2007. Wed Nov 23 11:13:34 2022

Written to file. Wed Nov 23 11:13:35 2022

Removed intermediate file. Wed Nov 23 11:13:35 2022

Finished gdal.Warp() for year 2008. Wed Nov 23 11:13:39 2022

Finished rasterio.mask.mask() for year 2008. Wed Nov 23 11:13:42 2022

Written to file. Wed Nov 23 11:13:43 2022

Removed intermediate file. Wed Nov 23 11:13:43 2022

Finished gdal.Warp() for year 2009. Wed Nov 23 11:13:47 2022

Finished rasterio.mask.mask() for year 2009. Wed Nov 23 11:13:50 2022

Written to file. Wed Nov 23 11:13:50 2022

Removed intermediate file. Wed Nov 23 11:13:50 2022

Finished gdal.Warp() for year 2010. Wed Nov 23 11:13:54 2022

Finished rasterio.mask.mask() for year 2010. Wed Nov 23 11:13:57 2022

Written to file. Wed Nov 23 11:13:58 2022

Removed intermediate file. Wed Nov 23 11:13:58 2022

Finished gdal.Warp() for year 2011. Wed Nov 23 11:14:02 2022

Finished rasterio.mask.mask() for year 2011. Wed Nov 23 11:14:05 2022

Written to file. Wed Nov 23 11:14:06 2022

Removed intermediate file. Wed Nov 23 11:14:06 2022

Finished gdal.Warp() for year 2012. Wed Nov 23 11:14:10 2022

Finished rasterio.mask.mask() for year 2012. Wed Nov 23 11:14:13 2022

Written to file. Wed Nov 23 11:14:14 2022

Removed intermediate file. Wed Nov 23 11:14:14 2022

Finished gdal.Warp() for year 2013. Wed Nov 23 11:14:18 2022

Finished rasterio.mask.mask() for year 2013. Wed Nov 23 11:14:21 2022

Written to file. Wed Nov 23 11:14:22 2022

Removed intermediate file. Wed Nov 23 11:14:22 2022

Finished gdal.Warp() for year 2014. Wed Nov 23 11:14:26 2022

Finished rasterio.mask.mask() for year 2014. Wed Nov 23 11:14:29 2022

Written to file. Wed Nov 23 11:14:30 2022

Removed intermediate file. Wed Nov 23 11:14:30 2022

Finished gdal.Warp() for year 2015. Wed Nov 23 11:14:34 2022

Finished rasterio.mask.mask() for year 2015. Wed Nov 23 11:14:37 2022

Written to file. Wed Nov 23 11:14:38 2022

Removed intermediate file. Wed Nov 23 11:14:38 2022



 Finished all years in list. Wed Nov 23 11:14:38 2022

In [17]:
print(os.listdir('NTL/'))

['Harmonized_DN_NTL_1999_2015.zip', 'Masked_1999.tif', 'Masked_2000.tif', 'Masked_2001.tif', 'Masked_2002.tif', 'Masked_2003.tif', 'Masked_2004.tif', 'Masked_2005.tif', 'Masked_2006.tif', 'Masked_2007.tif', 'Masked_2008.tif', 'Masked_2009.tif', 'Masked_2010.tif', 'Masked_2011.tif', 'Masked_2012.tif', 'Masked_2013.tif', 'Masked_2014.tif', 'Masked_2015.tif']

In [5]:
AnnualizedSourceFiles = None

### 9.2 Raster values summarized by settlement.
1. Convert each annualized raster to .xyz, 
2. then bring them to vector space and assign their Sett_ID,
3. and finally, aggregate the value as appropriate to the settlement level and save table to file.

XYZ is similar to .csv. Raster cell centers are stored as x and y, and their value is stored as z.

In [14]:
NoDataVal = 0
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS')
AllSummaries = pd.DataFrame(Settlements).drop(columns='geometry')

AnnualizedMaskedFiles = [i for i in os.listdir('NTL/') if i.startswith('Masked') and i.endswith('.tif')]
AnnualizedMaskedFiles

['Masked_1999.tif',
 'Masked_2000.tif',
 'Masked_2001.tif',
 'Masked_2002.tif',
 'Masked_2003.tif',
 'Masked_2004.tif',
 'Masked_2005.tif',
 'Masked_2006.tif',
 'Masked_2007.tif',
 'Masked_2008.tif',
 'Masked_2009.tif',
 'Masked_2010.tif',
 'Masked_2011.tif',
 'Masked_2012.tif',
 'Masked_2013.tif',
 'Masked_2014.tif',
 'Masked_2015.tif']

In [15]:
for YearFile in AnnualizedMaskedFiles:
    
### STEP 1: TIF TO XYZ ###
    InputRasterName = os.path.join(ProjectFolder, "NTL", YearFile)
    Year = str(re.sub(r'[^0-9]', '', YearFile))
    print('Loading data for year %s. %s \n' % (Year, time.ctime()))
    InputRasterObject = gdal.Open(InputRasterName)
    XYZOutputPath = r'NTL/{}'.format(
        YearFile.replace('.tif', '.xyz')) # New file path will be the same as original, but .tif is replaced with .xyz
    
    # Create an .xyz version of the .tif
    XYZ = gdal.Translate(XYZOutputPath, # Specify a destination path
                         InputRasterObject, # Input is the masked .tif file
                         format='XYZ', 
                         creationOptions=["ADD_HEADER_LINE=YES"])
    print('Finished gdal.Translate() for year %s. %s \n' % (Year, time.ctime()))

#     # Remove the temporary masked tif file.
#     try:  
#         os.remove(InputRasterName)
#     except OSError:
#         pass
#     print('Removed (or skipped if error) intermediate tif file. %s \n' % time.ctime())
    
    InputRasterObject = None
    XYZ = None # Reload XYZ as a point geodataframe

    
### STEP 2: GENERATE GEODATAFRAME WITH SETT_ID FIELD ###
    InputXYZName = ''.join(['Masked_', Year, '.xyz'])
    InputXYZ = pd.read_table(os.path.join(ProjectFolder, 'NTL', InputXYZName), delim_whitespace=True)
    InputXYZ = InputXYZ.loc[InputXYZ['Z'] != NoDataVal] # Subset to only the features that have a raster value.
    print('Loaded XYZ file as a pandas dataframe, year %s. %s \n' % (Year, time.ctime()))
    ValObject = gpd.GeoDataFrame(InputXYZ,
                                 geometry = gpd.points_from_xy(InputXYZ['X'], InputXYZ['Y']),
                                 crs = 'ESRI:102022')
    print('Created geodataframe from non-NoData points, year %s. %s \n' % (Year, time.ctime()))
    del InputXYZ
    
    # Sjoin_nearest: No need to group by ADM this time. 
    ValObject_withID = gpd.sjoin_nearest(ValObject, 
                                    Settlements, 
                                    how='left') # No need for max_distance parameter this time. We've already narrowed down to nearby raster cells.
    
    print('\nJoined settlement ID onto vectorized raster cells for year %s. %s \n' % (Year, time.ctime()))
    print(ValObject_withID.sample(10))
    del ValObject
    
    # We no longer need the spatial information of the raster values because we have their unique settlement ID.
    ValObject_withID = pd.DataFrame(ValObject_withID).drop(columns='geometry')
    
    ValObject_withID.to_csv(''.join([r'NTL/', 'Masked_', Year, '.csv']))
    print('\nExported as table, year %s. %s \n' % (Year, time.ctime()))
    
    # Remove the temporary xyz file.
    try:  
        os.remove(os.path.join(ProjectFolder, 'NTL', InputXYZName))
    except OSError:
        pass
    print('Removed (or skipped if error) intermediate xyz file. %s \n' % time.ctime())

    

### STEP 3: AGGREGATE BY SETTLEMENT AND MERGE ONTO SUMMARIES TABLE ###
    AbbrevYear = Year[2:]
    
    # Sum
    VariableName = ''.join(['NTLsum', AbbrevYear])
    ValAggregated = ValObject_withID[
        ValObject_withID['Z'].notna()].groupby(
        'Sett_ID', as_index=False)['Z'].sum().rename(columns={"Z": VariableName})
    print('\nValues summed to settlement level, year %s. %s \n' % (Year, time.ctime()))
    print(ValAggregated.sample(10))
    AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
    
    # Average
    VariableName = ''.join(['NTLavg', AbbrevYear])
    ValAggregated = ValObject_withID[
        ValObject_withID['Z'].notna()].groupby(
        'Sett_ID', as_index=False)['Z'].mean().rename(columns={"Z": VariableName})
    print('\nValues averaged to settlement level, year %s. %s \n' % (Year, time.ctime()))
    print(ValAggregated.sample(10))
    AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
    print('\nMerged year %s onto latest year settlement feature layer. %s \n' % (Year, time.ctime()))
    
    
    print(AllSummaries.sample(10))
    del ValObject_withID, ValAggregated
    
    

print('\n\nFinished. All years masked and assigned their nearest settlement. %s' % time.ctime())

AllSummaries.to_csv(os.path.join(ResultsFolder, 'NTL%sto%s.csv' % (ValStart, ValEnd)))
print('Saved to file. %s \n' % time.ctime())

Loading data for year 1999. Thu Nov 24 17:01:55 2022

Finished gdal.Translate() for year 1999. Thu Nov 24 17:01:57 2022

Loaded XYZ file as a pandas dataframe, year 1999. Thu Nov 24 17:01:58 2022

Created geodataframe from non-NoData points, year 1999. Thu Nov 24 17:01:58 2022


Joined settlement ID onto vectorized raster cells for year 1999. Thu Nov 24 17:01:59 2022

                    X             Y   Z                          geometry  \
837223  -1.544762e+06  7.046870e+05  11   POINT (-1544762.350 704687.008)
1095073 -1.401181e+06  4.542959e+05  61   POINT (-1401181.429 454295.891)
280900  -1.111393e+06  1.245742e+06  26  POINT (-1111393.108 1245741.941)
679056  -1.186686e+06  8.587738e+05  11   POINT (-1186685.542 858773.850)
425863  -1.197191e+06  1.104788e+06   5  POINT (-1197191.463 1104787.501)
1071430 -1.591164e+06  4.770587e+05  59   POINT (-1591163.501 477058.719)
1065120 -1.593790e+06  4.831872e+05  13   POINT (-1593789.981 483187.173)
1085164 -1.399430e+06  4.639263e+05  20   POINT (-1399430.443 463926.318)
1097774 -1.402932e+06  4.516694e+05  58   POINT (-1402932.416 451669.410)
1207754 -1.352154e+06  3.448592e+05  11   POINT (-1352153.798 344859.213)

         index_right   Sett_ID  ADM_ID
837223          8320   59177.0     155
1095073         3967   19120.0      80
280900         12158  182922.0     255
679056         11119  126049.0     220
425863         11502  145500.0     230
1071430         3141   12883.0     113
1065120         3141   12883.0     113
1085164         3967   19120.0      80
1097774         3967   19120.0      80
1207754         1429    4086.0      68

Exported as table, year 1999. Thu Nov 24 17:01:59 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:01:59 2022


Values summed to settlement level, year 1999. Thu Nov 24 17:01:59 2022

      Sett_ID  NTLsum99
161   19317.0        76
148   14652.0         7
6        23.0         5
223   33389.0        51
239   45189.0       253
263   54759.0       619
304  126297.0         8
391  199782.0        61
45     6302.0        71
18      501.0        10

Values averaged to settlement level, year 1999. Thu Nov 24 17:01:59 2022

      Sett_ID   NTLavg99
130   12905.0   5.000000
324  151678.0  28.000000
20     2642.0   7.000000
393  199793.0  22.000000
112   12598.0   5.000000
236   38255.0   9.000000
338  187858.0   5.800000
295  122070.0   7.692308
205   26023.0   4.000000
196   24589.0   5.000000

Merged year 1999 onto latest year settlement feature layer. Thu Nov 24 17:01:59 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99
12901  196238.0     177       NaN       NaN
1109     3085.0      70       NaN       NaN
1331     3781.0      70       NaN       NaN
7298    49471.0     112       NaN       NaN
3164    12907.0     113       7.0       7.0
343      1095.0       3       NaN       NaN
570      1707.0      78       NaN       NaN
10309   79717.0     166       NaN       NaN
10030   73703.0     346       NaN       NaN
6713    45261.0     177       NaN       NaN
Loading data for year 2000. Thu Nov 24 17:01:59 2022

Finished gdal.Translate() for year 2000. Thu Nov 24 17:02:00 2022

Loaded XYZ file as a pandas dataframe, year 2000. Thu Nov 24 17:02:02 2022

Created geodataframe from non-NoData points, year 2000. Thu Nov 24 17:02:02 2022


Joined settlement ID onto vectorized raster cells for year 2000. Thu Nov 24 17:02:02 2022

                    X             Y   Z                          geometry  \
1025743 -1.360033e+06  5.217089e+05   7   POINT (-1360033.239 521708.884)
1072330 -1.592039e+06  4.761832e+05  59   POINT (-1592038.995 476183.226)
902126  -1.517622e+06  6.416515e+05  12   POINT (-1517622.054 641651.482)
340378  -1.100887e+06  1.187959e+06   5  POINT (-1100887.187 1187959.375)
1002023 -1.617428e+06  5.444717e+05  11   POINT (-1617428.304 544471.713)
838125  -1.543887e+06  7.038115e+05  11   POINT (-1543886.857 703811.515)
1074139 -1.585911e+06  4.744322e+05  59   POINT (-1585910.541 474432.239)
997867  -1.311881e+06  5.488492e+05   5   POINT (-1311881.101 548849.180)
308937  -1.018591e+06  1.218602e+06   8  POINT (-1018590.805 1218601.645)
1132432 -1.035225e+06  4.184007e+05   5   POINT (-1035225.180 418400.660)

         index_right   Sett_ID  ADM_ID
1025743         5908   32215.0      96
1072330         3141   12883.0     113
902126          7198   49133.0     131
340378         11838  163120.0     248
1002023         6646   45189.0     174
838125          8320   59177.0     155
1074139         3074   12521.0     284
997867          5985   33377.0      93
308937         11909  169041.0     268
1132432         2382    7460.0      39

Exported as table, year 2000. Thu Nov 24 17:02:02 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:02 2022


Values summed to settlement level, year 2000. Thu Nov 24 17:02:02 2022

      Sett_ID  NTLsum00
127    9140.0         8
173   12908.0         5
217   19353.0        12
230   21046.0         5
146   12546.0        20
190   14338.0         5
324   50385.0         5
33     4239.0         4
429  197693.0         5
102    7824.0         4

Values averaged to settlement level, year 2000. Thu Nov 24 17:02:02 2022

      Sett_ID   NTLavg00
394  151749.0  33.500000
49     6301.0   6.000000
21     2661.0   4.000000
64     7026.0   4.000000
432  197703.0   4.000000
461  199780.0  53.750000
114    8195.0   5.000000
255   24601.0   4.000000
451  199650.0   4.000000
359  111588.0   7.333333

Merged year 2000 onto latest year settlement feature layer. Thu Nov 24 17:02:02 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00
11631  146154.0     236       NaN       NaN       NaN       NaN
509      1458.0       5       NaN       NaN       NaN       NaN
6428    37742.0      41       NaN       NaN       NaN       NaN
11805  156308.0     240       NaN       NaN       NaN       NaN
2485     7791.0     172       NaN       NaN       NaN       NaN
2978    10830.0      19       NaN       NaN       NaN       NaN
5653    27164.0      97       NaN       NaN       NaN       NaN
8593    61303.0     160       NaN       NaN       NaN       NaN
8588    61256.0     159       NaN       NaN       NaN       NaN
9987    73420.0     140       NaN       NaN       NaN       NaN
Loading data for year 2001. Thu Nov 24 17:02:02 2022

Finished gdal.Translate() for year 2001. Thu Nov 24 17:02:04 2022

Loaded XYZ file as a pandas dataframe, year 2001. Thu Nov 24 17:02:05 2022

Created geodataframe from non-NoData points, year 2001. Thu Nov 24 17:02:05 2022


Joined settlement ID onto vectorized raster cells for year 2001. Thu Nov 24 17:02:06 2022

                    X              Y   Z                         geometry  \
1063266 -1.639316e+06  484938.160200   7  POINT (-1639315.639 484938.160)
1092377 -1.395053e+06  456922.370801  24  POINT (-1395052.975 456922.371)
906633  -1.515871e+06  637274.015057   7  POINT (-1515871.067 637274.015)
1114010 -1.387174e+06  435910.528752   4  POINT (-1387173.535 435910.529)
1095067 -1.406434e+06  454295.890545  37  POINT (-1406434.390 454295.891)
1008834 -1.176180e+06  538343.258742  12  POINT (-1176179.621 538343.259)
1007035 -1.173553e+06  540094.245580   9  POINT (-1173553.141 540094.246)
1207754 -1.352154e+06  344859.213206  11  POINT (-1352153.798 344859.213)
896721  -1.516747e+06  646904.442663  18  POINT (-1516746.561 646904.443)
1075034 -1.591164e+06  473556.745757  61  POINT (-1591163.501 473556.746)

         index_right  Sett_ID  ADM_ID
1063266         2495   7803.0     347
1092377         3967  19120.0      80
906633          7198  49133.0     131
1114010         5236  24517.0      87
1095067         3967  19120.0      80
1008834        10088  74882.0      61
1007035        10088  74882.0      61
1207754         1744   4677.0      68
896721          7198  49133.0     131
1075034         3126  12674.0     352

Exported as table, year 2001. Thu Nov 24 17:02:06 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:06 2022


Values summed to settlement level, year 2001. Thu Nov 24 17:02:06 2022

      Sett_ID  NTLsum01
258   22677.0       228
117    7832.0         4
91     7751.0        20
517  199787.0      1724
35     2658.0         5
185   12902.0         7
375   68641.0        67
9       110.0        13
100    7779.0         8
274   24569.0         4

Values averaged to settlement level, year 2001. Thu Nov 24 17:02:06 2022

      Sett_ID  NTLavg01
468  196172.0      8.00
77     6418.0      5.00
353   55371.0      5.00
432  169038.0      4.75
496  199284.0      4.00
334   49171.0      6.90
142    9135.0     19.75
299   32219.0      8.00
443  185809.0      5.00
214   15563.0      4.00

Merged year 2001 onto latest year settlement feature layer. Thu Nov 24 17:02:06 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
6834    46451.0     190       NaN       NaN       NaN       NaN       NaN
6728    45286.0     177       NaN       NaN       NaN       NaN       NaN
2584     8244.0     170       NaN       NaN       NaN       NaN       NaN
1453     4121.0      68       NaN       NaN       NaN       NaN       NaN
8276    58176.0     286       NaN       NaN       NaN       NaN       NaN
12927  196283.0     181       NaN       NaN       NaN       NaN       NaN
3297    13103.0     113       NaN       NaN       NaN       NaN       NaN
6088    34160.0      73       NaN       NaN       NaN       NaN       NaN
9211    68643.0     356       NaN       NaN       NaN       NaN       NaN
5364    24696.0      87       NaN       NaN       NaN       NaN       NaN

       NTLavg01
6834        NaN
6728        NaN
2584        NaN
1453        NaN
8276        NaN
12927       NaN
3297        NaN
6088        NaN
9211        NaN
5364        NaN
Loading data for year 2002. Thu Nov 24 17:02:06 2022

Finished gdal.Translate() for year 2002. Thu Nov 24 17:02:07 2022

Loaded XYZ file as a pandas dataframe, year 2002. Thu Nov 24 17:02:09 2022

Created geodataframe from non-NoData points, year 2002. Thu Nov 24 17:02:09 2022


Joined settlement ID onto vectorized raster cells for year 2002. Thu Nov 24 17:02:10 2022

                    X             Y   Z                          geometry  \
1104079 -1.404683e+06  4.455410e+05  13   POINT (-1404683.403 445540.956)
1069621 -1.597292e+06  4.788097e+05  16   POINT (-1597291.955 478809.706)
429456  -1.206822e+06  1.101286e+06  13  POINT (-1206821.890 1101285.527)
1091468 -1.402057e+06  4.577979e+05  62   POINT (-1402056.923 457797.864)
1130437 -1.204195e+06  4.201516e+05   7   POINT (-1204195.410 420151.647)
1089658 -1.409061e+06  4.595489e+05   8   POINT (-1409060.870 459548.851)
1088769 -1.398555e+06  4.604243e+05  50   POINT (-1398554.949 460424.344)
465527  -1.179682e+06  1.066266e+06  11  POINT (-1179681.594 1066265.790)
1207653 -1.440579e+06  3.448592e+05   5   POINT (-1440578.633 344859.213)
903032  -1.513245e+06  6.407760e+05   5   POINT (-1513244.587 640775.989)

         index_right   Sett_ID  ADM_ID
1104079         3967   19120.0      80
1069621         3141   12883.0     113
429456         11499  145497.0     230
1091468         3967   19120.0      80
1130437         6329   36495.0      40
1089658         4122   19314.0     295
1088769        13626  199780.0      80
465527         11490  145488.0     227
1207653          838    2572.0       9
903032          7198   49133.0     131

Exported as table, year 2002. Thu Nov 24 17:02:10 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:10 2022


Values summed to settlement level, year 2002. Thu Nov 24 17:02:10 2022

      Sett_ID  NTLsum02
230   24542.0        14
63     6334.0         7
138   12596.0         8
256   32205.0        54
381  145497.0      1798
286   38193.0       118
274   33886.0        30
67     6405.0        10
460  199433.0         5
49     4314.0         4

Values averaged to settlement level, year 2002. Thu Nov 24 17:02:10 2022

      Sett_ID   NTLavg02
42     4172.0   4.000000
174   13725.0   5.000000
19      581.0   5.000000
273   33389.0   6.111111
3        40.0   5.000000
169   12957.0   8.000000
391  155469.0   9.750000
366  133996.0   5.000000
101    7894.0  20.000000
301   49957.0   6.666667

Merged year 2002 onto latest year settlement feature layer. Thu Nov 24 17:02:10 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
3736    16563.0      22       NaN       NaN       NaN       NaN       NaN
5207    24382.0      88       NaN       NaN       NaN       NaN       NaN
10015   73587.0     140       NaN       NaN       NaN       NaN       NaN
3085    12532.0     351       NaN       NaN       NaN       NaN       NaN
1940     5510.0      74       NaN       NaN       NaN       NaN       NaN
5323    24620.0      81       NaN       NaN       NaN       NaN       NaN
10501   85513.0     195       NaN       NaN       NaN       NaN       NaN
12016  170114.0     270       NaN       NaN       NaN       NaN       NaN
491      1420.0       6       NaN       NaN       NaN       NaN       NaN
14         17.0       2       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02
3736        NaN       NaN       NaN
5207        NaN       NaN       NaN
10015       NaN       NaN       NaN
3085        NaN       NaN       NaN
1940        NaN       NaN       NaN
5323        NaN       NaN       NaN
10501       NaN       NaN       NaN
12016       NaN       NaN       NaN
491         NaN       NaN       NaN
14          NaN       NaN       NaN
Loading data for year 2003. Thu Nov 24 17:02:10 2022

Finished gdal.Translate() for year 2003. Thu Nov 24 17:02:11 2022

Loaded XYZ file as a pandas dataframe, year 2003. Thu Nov 24 17:02:13 2022

Created geodataframe from non-NoData points, year 2003. Thu Nov 24 17:02:13 2022


Joined settlement ID onto vectorized raster cells for year 2003. Thu Nov 24 17:02:14 2022

                    X             Y   Z                          geometry  \
339477  -1.100887e+06  1.188835e+06   9  POINT (-1100887.187 1188834.869)
1096873 -1.402932e+06  4.525449e+05  60   POINT (-1402932.416 452544.904)
939940  -1.542136e+06  6.048808e+05   7   POINT (-1542135.870 604880.759)
433055  -1.211199e+06  1.097784e+06  26  POINT (-1211199.358 1097783.553)
308937  -1.018591e+06  1.218602e+06   9  POINT (-1018590.805 1218601.645)
1087868 -1.398555e+06  4.612998e+05  44   POINT (-1398554.949 461299.838)
100780  -1.041354e+06  1.420841e+06  22  POINT (-1041353.634 1420840.625)
1104985 -1.400306e+06  4.446655e+05  11   POINT (-1400305.936 444665.463)
284498  -1.116646e+06  1.242240e+06   5  POINT (-1116646.068 1242239.967)
894944  -1.494859e+06  6.486554e+05   5   POINT (-1494859.225 648655.430)

         index_right   Sett_ID  ADM_ID
339477         11838  163120.0     248
1096873         3967   19120.0      80
939940          7369   50085.0     311
433055         11716  151749.0     230
308937         11909  169041.0     268
1087868        13626  199780.0      80
100780         12361  190914.0     279
1104985         3967   19120.0      80
284498         12190  183352.0     261
894944          9209   68641.0     138

Exported as table, year 2003. Thu Nov 24 17:02:14 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:14 2022


Values summed to settlement level, year 2003. Thu Nov 24 17:02:14 2022

      Sett_ID  NTLsum03
294  126291.0        25
89     8282.0         9
324  146212.0         5
18     2658.0         5
300  133862.0        12
159   19322.0         7
298  126301.0         9
328  151678.0        29
303  134094.0         8
317  145497.0      1740

Values averaged to settlement level, year 2003. Thu Nov 24 17:02:14 2022

      Sett_ID   NTLavg03
137   12912.0   5.000000
155   19120.0  25.727079
281   74893.0   5.500000
244   49181.0   7.777778
115   12674.0  59.650000
12      501.0   6.000000
240   49129.0   7.333333
93     9135.0  21.750000
122   12887.0   6.000000
291  126049.0  16.333333

Merged year 2003 onto latest year settlement feature layer. Thu Nov 24 17:02:14 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
4271    19494.0     291       NaN       NaN       NaN       NaN       NaN
7992    55894.0     312       NaN       NaN       NaN       NaN       NaN
13172  197797.0     321       NaN       NaN       NaN       NaN       NaN
12591  191674.0     359       NaN       NaN       NaN       NaN       NaN
10340   79797.0     163       NaN       NaN       NaN       NaN       NaN
11156  126166.0     217       NaN       NaN       NaN       NaN       NaN
5238    24519.0      87       NaN       NaN       NaN       NaN       NaN
10780  103678.0     196       NaN       NaN       NaN       NaN       NaN
6240    36334.0      45       NaN       NaN       NaN       NaN       NaN
7150    48695.0     178       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  NTLsum03  NTLavg03
4271        NaN       NaN       NaN       NaN       NaN
7992        NaN       NaN       NaN       NaN       NaN
13172       NaN       NaN       NaN       NaN       NaN
12591       NaN       NaN       NaN       NaN       NaN
10340       NaN       NaN       NaN       NaN       NaN
11156       NaN       NaN       NaN       NaN       NaN
5238        NaN       NaN       NaN       NaN       NaN
10780       NaN       NaN       NaN       NaN       NaN
6240        NaN       NaN       NaN       NaN       NaN
7150        NaN       NaN       NaN       NaN       NaN
Loading data for year 2004. Thu Nov 24 17:02:14 2022

Finished gdal.Translate() for year 2004. Thu Nov 24 17:02:15 2022

Loaded XYZ file as a pandas dataframe, year 2004. Thu Nov 24 17:02:17 2022

Created geodataframe from non-NoData points, year 2004. Thu Nov 24 17:02:17 2022


Joined settlement ID onto vectorized raster cells for year 2004. Thu Nov 24 17:02:17 2022

                    X             Y   Z                          geometry  \
839932  -1.539509e+06  7.020605e+05  11   POINT (-1539509.390 702060.528)
1069584 -1.629685e+06  4.788097e+05   8   POINT (-1629685.212 478809.706)
1001125 -1.614802e+06  5.453472e+05   9   POINT (-1614801.824 545347.206)
844432  -1.543887e+06  6.976831e+05  10   POINT (-1543886.857 697683.061)
1207755 -1.351278e+06  3.448592e+05   9   POINT (-1351278.305 344859.213)
1084267 -1.395928e+06  4.648018e+05   8   POINT (-1395928.469 464801.812)
1060571 -1.632312e+06  4.875646e+05  10   POINT (-1632311.692 487564.640)
1047283 -1.433575e+06  5.006970e+05   7   POINT (-1433574.686 500697.042)
279994  -1.115771e+06  1.246617e+06  11  POINT (-1115770.575 1246617.434)
1071375 -1.639316e+06  4.770587e+05   4   POINT (-1639315.639 477058.719)

         index_right   Sett_ID  ADM_ID
839932          8320   59177.0     155
1069584         2446    7749.0     172
1001125         6646   45189.0     174
844432          8320   59177.0     155
1207755         1744    4677.0      68
1084267         5599   26286.0      81
1060571         2447    7750.0     347
1047283         3964   19117.0     292
279994         12158  182922.0     255
1071375         2444    7747.0     167

Exported as table, year 2004. Thu Nov 24 17:02:17 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:17 2022


Values summed to settlement level, year 2004. Thu Nov 24 17:02:17 2022

     Sett_ID  NTLsum04
74    6406.0         4
123   9087.0       311
288  32244.0        69
184  12922.0        39
225  20967.0         4
85    7506.0         4
358  64871.0         8
91    7752.0        78
340  50087.0         8
371  67786.0         7

Values averaged to settlement level, year 2004. Thu Nov 24 17:02:17 2022

      Sett_ID   NTLavg04
156   12662.0  54.000000
467  197715.0   7.000000
73     6405.0   4.000000
390  126049.0  18.534483
215   19329.0   4.000000
57     5093.0   4.000000
168   12893.0   9.407407
122    8282.0  10.000000
71     6345.0   7.000000
285   32241.0   8.000000

Merged year 2004 onto latest year settlement feature layer. Thu Nov 24 17:02:17 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
2337     7342.0      38       NaN       NaN       NaN       NaN       NaN
1617     4332.0      74       NaN       NaN       NaN       NaN       NaN
2391     7517.0      39       NaN       NaN       NaN       NaN       NaN
7139    48514.0     180       NaN       NaN       NaN       NaN       NaN
8586    61231.0     158       NaN       NaN       NaN       NaN       NaN
7325    49734.0     309       NaN       NaN       NaN       NaN       NaN
11557  145746.0     233       NaN       NaN       NaN       NaN       NaN
8647    63049.0     104       NaN       NaN       NaN       NaN       NaN
12113  175718.0     243       NaN       NaN       NaN       NaN       NaN
12601  191695.0     359       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  NTLsum03  NTLavg03  NTLsum04  NTLavg04
2337        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1617        NaN       NaN       NaN       NaN       NaN       NaN       NaN
2391        NaN       NaN       NaN       NaN       NaN       NaN       NaN
7139        NaN       NaN       NaN       NaN       NaN       NaN       NaN
8586        NaN       NaN       NaN       NaN       NaN       NaN       NaN
7325        NaN       NaN       NaN       NaN       NaN       NaN       NaN
11557       NaN       NaN       NaN       NaN       NaN       NaN       NaN
8647        NaN       NaN       NaN       NaN       NaN       NaN       NaN
12113       NaN       NaN       NaN       NaN       NaN       NaN       NaN
12601       NaN       NaN       NaN       NaN       NaN       NaN       NaN
Loading data for year 2005. Thu Nov 24 17:02:17 2022

Finished gdal.Translate() for year 2005. Thu Nov 24 17:02:19 2022

Loaded XYZ file as a pandas dataframe, year 2005. Thu Nov 24 17:02:20 2022

Created geodataframe from non-NoData points, year 2005. Thu Nov 24 17:02:20 2022


Joined settlement ID onto vectorized raster cells for year 2005. Thu Nov 24 17:02:21 2022

                    X              Y   Z                         geometry  \
987822  -1.429197e+06  558479.607373   7  POINT (-1429197.219 558479.607)
939084  -1.502739e+06  605756.251983   5  POINT (-1502738.666 605756.252)
1211264 -1.434450e+06  341357.239531   5  POINT (-1434450.179 341357.240)
1080652 -1.405559e+06  468303.785245   5  POINT (-1405558.896 468303.785)
1071434 -1.587662e+06  477058.719432  58  POINT (-1587661.528 477058.719)
898520  -1.519373e+06  645153.455825  10  POINT (-1519373.041 645153.456)
1071393 -1.623557e+06  477058.719432   5  POINT (-1623556.758 477058.719)
1122917 -1.477349e+06  427155.594565   5  POINT (-1477349.357 427155.595)
1079473 -1.648946e+06  469179.278664  16  POINT (-1648946.067 469179.279)
771943  -1.113144e+06  768598.027864  10  POINT (-1113144.095 768598.028)

         index_right   Sett_ID  ADM_ID
987822          8954   65886.0     106
939084          9006   66477.0     131
1211264          900    2647.0       9
1080652         4132   19324.0     295
1071434         3126   12674.0     352
898520          7198   49133.0     131
1071393         2445    7748.0     172
1122917         3420   14617.0      28
1079473         2462    7765.0     169
771943         10977  122070.0     208

Exported as table, year 2005. Thu Nov 24 17:02:21 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:21 2022


Values summed to settlement level, year 2005. Thu Nov 24 17:02:21 2022

     Sett_ID  NTLsum05
244  26664.0         5
274  38193.0        77
186  19353.0        10
132  12674.0      2272
147  12904.0         5
44    4302.0         9
61    6334.0         5
171  16141.0         5
154  12916.0        10
225  24592.0         4

Values averaged to settlement level, year 2005. Thu Nov 24 17:02:21 2022

      Sett_ID  NTLavg05
153   12913.0      5.00
236   25470.0      4.00
176   19311.0      5.00
391  190912.0      5.00
284   49133.0     11.44
230   25020.0      5.00
329   76340.0     14.00
40     4164.0      7.00
245   28280.0      5.00
10      270.0      4.00

Merged year 2005 onto latest year settlement feature layer. Thu Nov 24 17:02:21 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
3116    12606.0     351       NaN       NaN       NaN       NaN       NaN
10203   76286.0      59       NaN       NaN       NaN       NaN       NaN
12297  188089.0     244       NaN       NaN       NaN       NaN       NaN
10044   73817.0     346       NaN       NaN       NaN       NaN       NaN
13634  199808.0      80       NaN       NaN       NaN       NaN       NaN
9401    68844.0     140       NaN       NaN       NaN       NaN       NaN
5239    24520.0      87       NaN       NaN       NaN       NaN       NaN
2906    10112.0      15       NaN       NaN       NaN       NaN       NaN
2989    10891.0      18       NaN       NaN       NaN       NaN       NaN
6621    39429.0      52       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  NTLsum03  NTLavg03  NTLsum04  NTLavg04  \
3116        NaN       NaN       NaN       NaN       NaN       NaN       NaN
10203       NaN       NaN       NaN       NaN       NaN       NaN       NaN
12297       NaN       NaN       NaN       NaN       NaN       NaN       NaN
10044       NaN       NaN       NaN       NaN       NaN       NaN       NaN
13634       NaN       NaN       NaN       NaN       NaN       NaN       NaN
9401        NaN       NaN       NaN       NaN       NaN       NaN       NaN
5239        NaN       NaN       NaN       NaN       NaN       NaN       NaN
2906        NaN       NaN       NaN       NaN       NaN       NaN       NaN
2989        NaN       NaN       NaN       NaN       NaN       NaN       NaN
6621        NaN       NaN       NaN       NaN       NaN       NaN       NaN

       NTLsum05  NTLavg05
3116        NaN       NaN
10203       NaN       NaN
12297       NaN       NaN
10044       NaN       NaN
13634       NaN       NaN
9401        NaN       NaN
5239        NaN       NaN
2906        NaN       NaN
2989        NaN       NaN
6621        NaN       NaN
Loading data for year 2006. Thu Nov 24 17:02:21 2022

Finished gdal.Translate() for year 2006. Thu Nov 24 17:02:22 2022

Loaded XYZ file as a pandas dataframe, year 2006. Thu Nov 24 17:02:24 2022

Created geodataframe from non-NoData points, year 2006. Thu Nov 24 17:02:24 2022


Joined settlement ID onto vectorized raster cells for year 2006. Thu Nov 24 17:02:24 2022

                    X             Y   Z                          geometry  \
1067834 -1.584160e+06  4.805607e+05  45   POINT (-1584159.554 480560.693)
905731  -1.516747e+06  6.381495e+05   5   POINT (-1516746.561 638149.508)
1083356 -1.404683e+06  4.656773e+05   7   POINT (-1404683.403 465677.305)
470913  -1.197191e+06  1.061013e+06   9  POINT (-1197191.463 1061012.830)
1083351 -1.409061e+06  4.656773e+05   4   POINT (-1409060.870 465677.305)
1097781 -1.396804e+06  4.516694e+05  35   POINT (-1396803.962 451669.410)
902127  -1.516747e+06  6.416515e+05  14   POINT (-1516746.561 641651.482)
1073234 -1.589413e+06  4.753077e+05  61   POINT (-1589412.514 475307.733)
1001120 -1.619179e+06  5.453472e+05   5   POINT (-1619179.291 545347.206)
1102281 -1.401181e+06  4.472919e+05  36   POINT (-1401181.429 447291.943)

         index_right   Sett_ID  ADM_ID
1067834         3074   12521.0     284
905731          7198   49133.0     131
1083356         3967   19120.0      80
470913         11489  145487.0     227
1083351         4126   19318.0     295
1097781         3967   19120.0      80
902127          7889   54759.0     136
1073234         3096   12544.0     352
1001120         6646   45189.0     174
1102281         3967   19120.0      80

Exported as table, year 2006. Thu Nov 24 17:02:25 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:25 2022


Values summed to settlement level, year 2006. Thu Nov 24 17:02:25 2022

      Sett_ID  NTLsum06
68     7887.0        38
374  196177.0         4
234   38256.0         7
186   24608.0         7
173   23875.0         4
403  199782.0        60
212   32244.0        20
92    12546.0        15
362  191085.0         4
155   20935.0        10

Values averaged to settlement level, year 2006. Thu Nov 24 17:02:25 2022

      Sett_ID   NTLavg06
249   50062.0   4.857143
287  111588.0   5.000000
237   45189.0   8.085714
399  199738.0   7.000000
181   24553.0   4.000000
359  190912.0   5.400000
1        40.0   9.000000
156   20936.0   5.000000
191   25096.0  13.000000
306  135904.0  10.000000

Merged year 2006 onto latest year settlement feature layer. Thu Nov 24 17:02:25 2022

      Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
669    1906.0      77       NaN       NaN       NaN       NaN       NaN
2678   9150.0      15       NaN       NaN       8.0       4.0       NaN
2677   9149.0      17       NaN       NaN       NaN       NaN       NaN
2220   6933.0      36       NaN       NaN       NaN       NaN       NaN
5109  23884.0      85       NaN       NaN       NaN       NaN       NaN
3376  14107.0     125       NaN       NaN       NaN       NaN       NaN
9893  72159.0     142       NaN       NaN       NaN       NaN       NaN
5828  28436.0     121       NaN       NaN       NaN       NaN       NaN
7563  51716.0     134       NaN       NaN       NaN       NaN       NaN
5925  32243.0      93      12.0       6.0      14.0       7.0      12.0

      NTLavg01  NTLsum02  NTLavg02  NTLsum03  NTLavg03  NTLsum04  NTLavg04  \
669        NaN       NaN       NaN       NaN       NaN       NaN       NaN
2678       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2677       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2220       NaN       NaN       NaN       NaN       NaN       NaN       NaN
5109       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3376       NaN       NaN       NaN       NaN       NaN       NaN       NaN
9893       NaN       NaN       NaN       NaN       NaN       NaN       NaN
5828       NaN       NaN       NaN       NaN       NaN       NaN       NaN
7563       NaN       NaN       NaN       NaN       NaN       NaN       NaN
5925       6.0      12.0       6.0      14.0       7.0      16.0       8.0

      NTLsum05  NTLavg05  NTLsum06  NTLavg06
669        NaN       NaN       NaN       NaN
2678       NaN       NaN       NaN       NaN
2677       NaN       NaN       NaN       NaN
2220       NaN       NaN       NaN       NaN
5109       NaN       NaN       NaN       NaN
3376       NaN       NaN       NaN       NaN
9893       NaN       NaN       NaN       NaN
5828       NaN       NaN       NaN       NaN
7563       NaN       NaN       NaN       NaN
5925       5.0       5.0       9.0       4.5
Loading data for year 2007. Thu Nov 24 17:02:25 2022

Finished gdal.Translate() for year 2007. Thu Nov 24 17:02:26 2022

Loaded XYZ file as a pandas dataframe, year 2007. Thu Nov 24 17:02:27 2022

Created geodataframe from non-NoData points, year 2007. Thu Nov 24 17:02:28 2022


Joined settlement ID onto vectorized raster cells for year 2007. Thu Nov 24 17:02:28 2022

                    X             Y   Z                          geometry  \
679053  -1.189312e+06  8.587738e+05  14   POINT (-1189312.022 858773.850)
897628  -1.511494e+06  6.460289e+05   5   POINT (-1511493.600 646028.949)
1081286 -1.639316e+06  4.674283e+05   5   POINT (-1639315.639 467428.292)
1007456 -1.593790e+06  5.392188e+05   7   POINT (-1593789.981 539218.752)
225914  -1.133280e+06  1.299147e+06   8  POINT (-1133280.443 1299147.040)
1057235 -1.397679e+06  4.910666e+05   8   POINT (-1397679.456 491066.614)
311640  -1.018591e+06  1.215975e+06   8  POINT (-1018590.805 1215975.165)
1070535 -1.585911e+06  4.779342e+05  58   POINT (-1585910.541 477934.213)
288097  -1.121024e+06  1.238738e+06   4  POINT (-1121023.535 1238737.994)
673650  -1.186686e+06  8.640268e+05  23   POINT (-1186685.542 864026.811)

         index_right   Sett_ID  ADM_ID
679053         11119  126049.0     220
897628          7198   49133.0     131
1081286         2444    7747.0     167
1007456         3145   12887.0     117
225914         12273  187858.0     277
1057235         3965   19118.0     297
311640         11909  169041.0     268
1070535         3128   12684.0     352
288097         12158  182922.0     255
673650         11119  126049.0     220

Exported as table, year 2007. Thu Nov 24 17:02:28 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:28 2022


Values summed to settlement level, year 2007. Thu Nov 24 17:02:28 2022

      Sett_ID  NTLsum07
250   45189.0       319
94     9135.0        84
180   21148.0         4
111   12650.0        16
117   12763.0        14
9       471.0         8
361  193493.0         4
349  185809.0         5
35     5067.0         4
166   19345.0         5

Values averaged to settlement level, year 2007. Thu Nov 24 17:02:28 2022

      Sett_ID   NTLavg07
103   12521.0  36.113924
98    10079.0  11.000000
77     7785.0   7.000000
362  193523.0   5.000000
304  126282.0  11.000000
151   19117.0   4.500000
8       465.0  10.000000
255   49175.0   6.333333
35     5067.0   4.000000
2        40.0   8.000000

Merged year 2007 onto latest year settlement feature layer. Thu Nov 24 17:02:28 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
10397   80071.0     163       NaN       NaN       NaN       NaN       NaN
7796    54161.0     331       NaN       NaN       NaN       NaN       NaN
4457    20265.0     293       NaN       NaN       NaN       NaN       NaN
4736    22540.0     290       NaN       NaN       NaN       NaN       NaN
6776    45739.0     173       NaN       NaN       NaN       NaN       NaN
1193     3399.0      12       NaN       NaN       NaN       NaN       NaN
9333    68776.0     143       NaN       NaN       NaN       NaN       NaN
8191    57168.0     289       NaN       NaN       NaN       NaN       NaN
1216     3483.0      76       NaN       NaN       NaN       NaN       NaN
11176  126298.0     218       8.0       8.0       7.0       7.0       8.0

       NTLavg01  NTLsum02  NTLavg02  NTLsum03  NTLavg03  NTLsum04  NTLavg04  \
10397       NaN       NaN       NaN       NaN       NaN       NaN       NaN
7796        NaN       NaN       NaN       NaN       NaN       NaN       NaN
4457        NaN       NaN       NaN       NaN       NaN       NaN       NaN
4736        NaN       NaN       NaN       NaN       NaN       NaN       NaN
6776        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1193        NaN       NaN       NaN       NaN       NaN       NaN       NaN
9333        NaN       NaN       NaN       NaN       NaN       NaN       NaN
8191        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1216        NaN       NaN       NaN       NaN       NaN       NaN       NaN
11176       8.0       8.0       8.0       8.0       8.0       9.0       9.0

       NTLsum05  NTLavg05  NTLsum06  NTLavg06  NTLsum07  NTLavg07
10397       NaN       NaN       NaN       NaN       NaN       NaN
7796        NaN       NaN       NaN       NaN       NaN       NaN
4457        NaN       NaN       NaN       NaN       NaN       NaN
4736        NaN       NaN       NaN       NaN       NaN       NaN
6776        NaN       NaN       NaN       NaN       NaN       NaN
1193        NaN       NaN       NaN       NaN       NaN       NaN
9333        NaN       NaN       NaN       NaN       NaN       NaN
8191        NaN       NaN       NaN       NaN       NaN       NaN
1216        NaN       NaN       NaN       NaN       NaN       NaN
11176      10.0      10.0       7.0       7.0       8.0       8.0
Loading data for year 2008. Thu Nov 24 17:02:28 2022

Finished gdal.Translate() for year 2008. Thu Nov 24 17:02:29 2022

Loaded XYZ file as a pandas dataframe, year 2008. Thu Nov 24 17:02:31 2022

Created geodataframe from non-NoData points, year 2008. Thu Nov 24 17:02:31 2022


Joined settlement ID onto vectorized raster cells for year 2008. Thu Nov 24 17:02:32 2022

                    X             Y   Z                          geometry  \
1075947 -1.580658e+06  4.726813e+05  33   POINT (-1580657.580 472681.252)
1088777 -1.391551e+06  4.604243e+05   7   POINT (-1391551.002 460424.344)
1077743 -1.585911e+06  4.709303e+05  51   POINT (-1585910.541 470930.266)
105287  -1.039603e+06  1.416463e+06   9  POINT (-1039602.647 1416463.158)
941787  -1.502739e+06  6.031298e+05   5   POINT (-1502738.666 603129.772)
1090582 -1.388925e+06  4.586734e+05   4   POINT (-1388924.522 458673.358)
360143  -1.150790e+06  1.168699e+06  11  POINT (-1150790.312 1168698.520)
1095075 -1.399430e+06  4.542959e+05  60   POINT (-1399430.443 454295.891)
204292  -1.131529e+06  1.320159e+06   5  POINT (-1131529.456 1320158.882)
1211263 -1.435326e+06  3.413572e+05   7   POINT (-1435325.673 341357.240)

         index_right   Sett_ID  ADM_ID
1075947         3074   12521.0     284
1088777         3967   19120.0      80
1077743         3074   12521.0     284
105287         12361  190914.0     279
941787          9174   67982.0     131
1090582         5567   26023.0      81
360143         11734  155471.0     239
1095075         3967   19120.0      80
204292         12279  187864.0     278
1211263         1111    3115.0       9

Exported as table, year 2008. Thu Nov 24 17:02:32 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:32 2022


Values summed to settlement level, year 2008. Thu Nov 24 17:02:32 2022

      Sett_ID  NTLsum08
241   34782.0         4
10      464.0       153
276   54759.0       556
96     8282.0        10
56     6334.0         5
379  196174.0         7
262   49171.0        57
20     2572.0       267
398  199652.0         4
61     6408.0        21

Values averaged to settlement level, year 2008. Thu Nov 24 17:02:32 2022

      Sett_ID  NTLavg08
193   24538.0       7.0
52     6301.0       6.5
321  133991.0       8.0
160   19314.0       8.0
21     2638.0       4.0
153   16141.0       4.0
110   12534.0       7.0
256   38340.0       4.0
161   19317.0       6.2
13      473.0      10.0

Merged year 2008 onto latest year settlement feature layer. Thu Nov 24 17:02:32 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
5173    24228.0      88       NaN       NaN       NaN       NaN       NaN
11684  146492.0     236       NaN       NaN       NaN       NaN       NaN
9353    68796.0     356       NaN       NaN       NaN       NaN       NaN
2922    10200.0      18       NaN       NaN       NaN       NaN       NaN
1306     3741.0       7       NaN       NaN       NaN       NaN       NaN
4282    19510.0     290       NaN       NaN       NaN       NaN       NaN
12557  191576.0     359       NaN       NaN       NaN       NaN       NaN
12139  181995.0     245       NaN       NaN       NaN       NaN       NaN
6835    46452.0     189       NaN       NaN       NaN       NaN       NaN
11533  145661.0     226       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  ...  NTLsum04  NTLavg04  NTLsum05  \
5173        NaN       NaN       NaN  ...       NaN       NaN       NaN
11684       NaN       NaN       NaN  ...       NaN       NaN       NaN
9353        NaN       NaN       NaN  ...       NaN       NaN       NaN
2922        NaN       NaN       NaN  ...       NaN       NaN       NaN
1306        NaN       NaN       NaN  ...       NaN       NaN       NaN
4282        NaN       NaN       NaN  ...       NaN       NaN       NaN
12557       NaN       NaN       NaN  ...       NaN       NaN       NaN
12139       NaN       NaN       NaN  ...       NaN       NaN       NaN
6835        NaN       NaN       NaN  ...       NaN       NaN       NaN
11533       NaN       NaN       NaN  ...       NaN       NaN       NaN

       NTLavg05  NTLsum06  NTLavg06  NTLsum07  NTLavg07  NTLsum08  NTLavg08
5173        NaN       NaN       NaN       NaN       NaN       NaN       NaN
11684       NaN       NaN       NaN       NaN       NaN       NaN       NaN
9353        NaN       NaN       NaN       NaN       NaN       NaN       NaN
2922        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1306        NaN       NaN       NaN       NaN       NaN       NaN       NaN
4282        NaN       NaN       NaN       NaN       NaN       NaN       NaN
12557       NaN       NaN       NaN       NaN       NaN       NaN       NaN
12139       NaN       NaN       NaN       NaN       NaN       NaN       NaN
6835        NaN       NaN       NaN       NaN       NaN       NaN       NaN
11533       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[10 rows x 22 columns]
Loading data for year 2009. Thu Nov 24 17:02:32 2022

Finished gdal.Translate() for year 2009. Thu Nov 24 17:02:33 2022

Loaded XYZ file as a pandas dataframe, year 2009. Thu Nov 24 17:02:35 2022

Created geodataframe from non-NoData points, year 2009. Thu Nov 24 17:02:35 2022


Joined settlement ID onto vectorized raster cells for year 2009. Thu Nov 24 17:02:35 2022

                    X             Y   Z                          geometry  \
898522  -1.517608e+06  6.450255e+05  16   POINT (-1517608.195 645025.493)
1076778 -1.641928e+06  4.716777e+05  16   POINT (-1641928.296 471677.746)
464627  -1.178792e+06  1.067013e+06  10  POINT (-1178792.144 1067013.442)
1060569 -1.634049e+06  4.874366e+05  13   POINT (-1634048.853 487436.632)
1006129 -1.177917e+06  5.408417e+05  13   POINT (-1177916.651 540841.746)
1094175 -1.398541e+06  4.550434e+05  59   POINT (-1398541.056 455043.366)
1208559 -1.436187e+06  3.438557e+05   8   POINT (-1436187.284 343855.670)
1006133 -1.174415e+06  5.408417e+05  16   POINT (-1174414.676 540841.746)
1066931 -1.585897e+06  4.813082e+05  37   POINT (-1585896.701 481308.176)
770139  -1.114881e+06  7.702211e+05   8   POINT (-1114881.106 770221.087)

         index_right   Sett_ID  ADM_ID
898522          7889   54759.0     136
1076778         2444    7747.0     167
464627         11490  145488.0     227
1060569         2585    8258.0     347
1006129        10088   74882.0      61
1094175         3967   19120.0      80
1208559         1111    3115.0       9
1006133        10088   74882.0      61
1066931         3074   12521.0     284
770139         10977  122070.0     208

Exported as table, year 2009. Thu Nov 24 17:02:35 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:35 2022


Values summed to settlement level, year 2009. Thu Nov 24 17:02:36 2022

      Sett_ID  NTLsum09
214   32215.0        27
314  145488.0       116
66     7891.0        27
225   33377.0        35
232   36335.0         5
131   19118.0       151
231   36260.0        50
182   24546.0        53
186   24560.0         5
375  197722.0         5

Values averaged to settlement level, year 2009. Thu Nov 24 17:02:36 2022

      Sett_ID   NTLavg09
167   22073.0   7.000000
73     8555.0   7.000000
372  197716.0   5.000000
367  197698.0   8.000000
257   50011.0   7.000000
61     7783.0   8.000000
52     7749.0   8.444444
319  146160.0  16.000000
376  197725.0   5.000000
317  146152.0  20.000000

Merged year 2009 onto latest year settlement feature layer. Thu Nov 24 17:02:36 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
788      2367.0      75       NaN       NaN       NaN       NaN       NaN
783      2352.0      75       NaN       NaN       NaN       NaN       NaN
2649     9116.0      15       NaN       NaN       NaN       NaN       NaN
12089  175318.0     247       NaN       NaN       NaN       NaN       NaN
10672   91589.0     148       NaN       NaN       NaN       NaN       NaN
8675    63091.0     105       NaN       NaN       NaN       NaN       NaN
3411    14522.0     125       NaN       NaN       NaN       NaN       NaN
13408  198721.0      79       NaN       NaN       NaN       NaN       NaN
8102    56398.0     289       NaN       NaN       NaN       NaN       NaN
13298  198205.0     320       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  ...  NTLsum05  NTLavg05  NTLsum06  \
788         NaN       NaN       NaN  ...       NaN       NaN       NaN
783         NaN       NaN       NaN  ...       NaN       NaN       NaN
2649        NaN       NaN       NaN  ...       NaN       NaN       NaN
12089       NaN       NaN       NaN  ...       NaN       NaN       NaN
10672       NaN       NaN       NaN  ...       NaN       NaN       NaN
8675        NaN       NaN       NaN  ...       NaN       NaN       NaN
3411        NaN       NaN       NaN  ...       NaN       NaN       NaN
13408       NaN       NaN       NaN  ...       NaN       NaN       NaN
8102        NaN       NaN       NaN  ...       NaN       NaN       NaN
13298       NaN       NaN       NaN  ...       NaN       NaN       NaN

       NTLavg06  NTLsum07  NTLavg07  NTLsum08  NTLavg08  NTLsum09  NTLavg09
788         NaN       NaN       NaN       NaN       NaN       NaN       NaN
783         NaN       NaN       NaN       NaN       NaN       NaN       NaN
2649        NaN       NaN       NaN       NaN       NaN       NaN       NaN
12089       NaN       NaN       NaN       NaN       NaN       NaN       NaN
10672       NaN       NaN       NaN       NaN       NaN       NaN       NaN
8675        NaN       NaN       NaN       NaN       NaN       NaN       NaN
3411        NaN       NaN       NaN       NaN       NaN       NaN       NaN
13408       NaN       NaN       NaN       NaN       NaN       NaN       NaN
8102        NaN       NaN       NaN       NaN       NaN       NaN       NaN
13298       NaN       NaN       NaN       NaN       NaN       NaN       NaN

[10 rows x 24 columns]
Loading data for year 2010. Thu Nov 24 17:02:36 2022

Finished gdal.Translate() for year 2010. Thu Nov 24 17:02:37 2022

Loaded XYZ file as a pandas dataframe, year 2010. Thu Nov 24 17:02:39 2022

Created geodataframe from non-NoData points, year 2010. Thu Nov 24 17:02:39 2022


Joined settlement ID onto vectorized raster cells for year 2010. Thu Nov 24 17:02:39 2022

                    X             Y   Z                          geometry  \
870646  -1.469456e+06  6.721658e+05   5   POINT (-1469456.043 672165.796)
276394  -1.112255e+06  1.249992e+06   7  POINT (-1112254.625 1249991.619)
1116699 -1.399417e+06  4.331560e+05   4   POINT (-1399416.549 433156.024)
1007030 -1.177917e+06  5.399663e+05  20   POINT (-1177916.651 539966.252)
1098671 -1.406420e+06  4.506659e+05  41   POINT (-1406420.499 450665.898)
844437  -1.539496e+06  6.975551e+05   6   POINT (-1539495.537 697555.113)
1109492 -1.398541e+06  4.401600e+05  15   POINT (-1398541.056 440159.974)
1070539 -1.582395e+06  4.778062e+05  54   POINT (-1582394.727 477806.201)
1010631 -1.180543e+06  5.364643e+05   5   POINT (-1180543.132 536464.277)
288986  -1.131515e+06  1.237735e+06   4  POINT (-1131515.486 1237734.707)

         index_right   Sett_ID  ADM_ID
870646          9216   68648.0     140
276394         12158  182922.0     255
1116699        13509  199105.0      79
1007030        10088   74882.0      61
1098671         3967   19120.0      80
844437          8320   59177.0     155
1109492         3967   19120.0      80
1070539         3074   12521.0     284
1010631        10088   74882.0      61
288986         12148  182911.0     255

Exported as table, year 2010. Thu Nov 24 17:02:39 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:39 2022


Values summed to settlement level, year 2010. Thu Nov 24 17:02:39 2022

      Sett_ID  NTLsum10
437  188151.0         5
133   12650.0        31
180   19324.0         4
384  133996.0         8
69     6417.0         5
428  182915.0        27
289   36546.0         8
443  190918.0        24
135   12670.0      2228
262   32206.0        33

Values averaged to settlement level, year 2010. Thu Nov 24 17:02:39 2022

      Sett_ID   NTLavg10
392  137717.0  21.000000
37     4172.0   4.000000
376  126282.0  13.000000
164   13113.0   8.000000
2        23.0   4.000000
497  199655.0   9.333333
279   33887.0   6.100000
36     4164.0   4.000000
77     7749.0   7.666667
383  133991.0   7.000000

Merged year 2010 onto latest year settlement feature layer. Thu Nov 24 17:02:39 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
1429     4086.0      68     139.0  7.315789     143.0  6.809524     152.0
7657    52784.0     301       NaN       NaN       NaN       NaN       NaN
8792    63251.0     105       NaN       NaN       NaN       NaN       NaN
1877     5252.0      34       NaN       NaN       NaN       NaN       NaN
12784  195420.0     133       NaN       NaN       NaN       NaN       NaN
3221    12978.0     119       NaN       NaN       NaN       NaN       NaN
13459  198873.0      79       NaN       NaN       NaN       NaN       NaN
6480    38195.0      66       NaN       NaN       NaN       NaN       NaN
4135    19327.0     295       NaN       NaN       NaN       NaN       NaN
6114    34374.0      73       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  ...  NTLsum06  NTLavg06  NTLsum07  \
1429   6.909091     170.0  7.727273  ...     108.0       5.4     137.0
7657        NaN       NaN       NaN  ...       NaN       NaN       NaN
8792        NaN       NaN       NaN  ...       NaN       NaN       NaN
1877        NaN       NaN       NaN  ...       NaN       NaN       NaN
12784       NaN       NaN       NaN  ...       NaN       NaN       NaN
3221        NaN       NaN       NaN  ...       NaN       NaN       NaN
13459       NaN       NaN       NaN  ...       NaN       NaN       NaN
6480        NaN       NaN       NaN  ...       NaN       NaN       NaN
4135        NaN       NaN       NaN  ...       NaN       NaN       NaN
6114        NaN       NaN       NaN  ...       NaN       NaN       NaN

       NTLavg07  NTLsum08  NTLavg08  NTLsum09  NTLavg09  NTLsum10  NTLavg10
1429    6.52381     139.0      6.95     148.0  7.047619     157.0   7.47619
7657        NaN       NaN       NaN       NaN       NaN       NaN       NaN
8792        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1877        NaN       NaN       NaN       NaN       NaN       NaN       NaN
12784       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3221        NaN       NaN       NaN       NaN       NaN       NaN       NaN
13459       NaN       NaN       NaN       NaN       NaN       NaN       NaN
6480        NaN       NaN       NaN       NaN       NaN       NaN       NaN
4135        NaN       NaN       NaN       NaN       NaN       NaN       NaN
6114        NaN       NaN       NaN       NaN       NaN       NaN       NaN

[10 rows x 26 columns]
Loading data for year 2011. Thu Nov 24 17:02:39 2022

Finished gdal.Translate() for year 2011. Thu Nov 24 17:02:40 2022

Loaded XYZ file as a pandas dataframe, year 2011. Thu Nov 24 17:02:42 2022

Created geodataframe from non-NoData points, year 2011. Thu Nov 24 17:02:42 2022


Joined settlement ID onto vectorized raster cells for year 2011. Thu Nov 24 17:02:43 2022

                    X              Y   Z                         geometry  \
941784  -1.505351e+06  603001.796345   5  POINT (-1505351.284 603001.796)
1059665 -1.636675e+06  488312.125503   8  POINT (-1636675.334 488312.126)
867949  -1.464203e+06  674792.277331   7  POINT (-1464203.081 674792.277)
896725  -1.513231e+06  646776.479873   7  POINT (-1513230.727 646776.480)
543974  -1.127138e+06  989969.998730   8  POINT (-1127138.018 989969.999)
1059037 -1.397666e+06  489187.619173  10  POINT (-1397665.562 489187.619)
1092359 -1.410798e+06  456794.353363   6  POINT (-1410797.967 456794.353)
1210459 -1.350389e+06  342104.682520   6  POINT (-1350388.904 342104.683)
672749  -1.186672e+06  864774.403841  22  POINT (-1186671.587 864774.404)
1213962 -1.438814e+06  338602.707838   6  POINT (-1438813.765 338602.708)

         index_right   Sett_ID  ADM_ID
941784          9168   67884.0     131
1059665         2495    7803.0     347
867949          9216   68648.0     140
896725          7198   49133.0     131
543974         11290  135905.0     213
1059037         4653   21688.0     297
1092359         4119   19311.0     295
1210459         1480    4158.0      68
672749         11119  126049.0     220
1213962          895    2642.0       9

Exported as table, year 2011. Thu Nov 24 17:02:43 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:43 2022


Values summed to settlement level, year 2011. Thu Nov 24 17:02:43 2022

      Sett_ID  NTLsum11
502  199749.0        37
459  196813.0         5
326   65885.0         5
435  189602.0         6
363  122070.0       163
227   25470.0         5
283   49127.0        15
238   27396.0         4
258   33887.0        56
286   49171.0        53

Values averaged to settlement level, year 2011. Thu Nov 24 17:02:43 2022

      Sett_ID  NTLavg11
479  199282.0       6.0
413  155470.0       6.0
463  197698.0       6.0
420  174679.0       6.0
446  191316.0      16.0
390  145485.0       5.0
133   12903.0       5.0
476  198419.0       5.0
140   12912.0       5.0
495  199652.0       5.0

Merged year 2011 onto latest year settlement feature layer. Thu Nov 24 17:02:43 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
13711  201235.0     322       NaN       NaN       NaN       NaN       NaN
7462    51583.0     300       NaN       NaN       NaN       NaN       NaN
5951    32537.0      95       NaN       NaN       NaN       NaN       NaN
8855    64804.0     104       NaN       NaN       NaN       NaN       NaN
11526  145624.0     227       NaN       NaN       NaN       NaN       NaN
8921    65443.0     342       NaN       NaN       NaN       NaN       NaN
8441    59656.0     155       NaN       NaN       NaN       NaN       NaN
11509  145507.0     233       NaN       NaN       NaN       NaN       NaN
9696    70821.0     138       NaN       NaN       NaN       NaN       NaN
5814    28398.0     122       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  ...  NTLsum07  NTLavg07  NTLsum08  \
13711       NaN       NaN       NaN  ...       NaN       NaN       NaN
7462        NaN       NaN       NaN  ...       NaN       NaN       NaN
5951        NaN       NaN       NaN  ...       NaN       NaN       NaN
8855        NaN       NaN       NaN  ...       NaN       NaN       NaN
11526       NaN       NaN       NaN  ...       NaN       NaN       NaN
8921        NaN       NaN       NaN  ...       NaN       NaN       NaN
8441        NaN       NaN       NaN  ...       NaN       NaN       NaN
11509       NaN       NaN       NaN  ...       NaN       NaN       NaN
9696        NaN       NaN       NaN  ...       NaN       NaN       NaN
5814        NaN       NaN       NaN  ...       NaN       NaN       NaN

       NTLavg08  NTLsum09  NTLavg09  NTLsum10  NTLavg10  NTLsum11  NTLavg11
13711       NaN       NaN       NaN       NaN       NaN       NaN       NaN
7462        NaN       NaN       NaN       NaN       NaN       NaN       NaN
5951        NaN       NaN       NaN       NaN       NaN       NaN       NaN
8855        NaN       NaN       NaN       NaN       NaN       NaN       NaN
11526       NaN       NaN       NaN       NaN       NaN       NaN       NaN
8921        NaN       NaN       NaN       NaN       NaN       NaN       NaN
8441        NaN       NaN       NaN       NaN       NaN       NaN       NaN
11509       NaN       NaN       NaN       NaN       NaN       NaN       NaN
9696        NaN       NaN       NaN       NaN       NaN       NaN       NaN
5814        NaN       NaN       NaN       NaN       NaN       NaN       NaN

[10 rows x 28 columns]
Loading data for year 2012. Thu Nov 24 17:02:43 2022

Finished gdal.Translate() for year 2012. Thu Nov 24 17:02:44 2022

Loaded XYZ file as a pandas dataframe, year 2012. Thu Nov 24 17:02:46 2022

Created geodataframe from non-NoData points, year 2012. Thu Nov 24 17:02:46 2022


Joined settlement ID onto vectorized raster cells for year 2012. Thu Nov 24 17:02:47 2022

                    X              Y   Z                         geometry  \
811158  -1.488731e+06  730076.317441   5  POINT (-1488730.771 730076.317)
839023  -1.546513e+06  702936.021461  15  POINT (-1546513.337 702936.021)
1209556 -1.352154e+06  343108.226368   7  POINT (-1352153.798 343108.226)
841725  -1.547389e+06  700309.541205  11  POINT (-1547388.830 700309.541)
1007935 -1.174429e+06  539218.752161  19  POINT (-1174428.634 539218.752)
1133336 -1.032599e+06  417525.166959   6  POINT (-1032598.700 417525.167)
1087868 -1.398555e+06  461299.837895  61  POINT (-1398554.949 461299.838)
846756  -1.086879e+06  695932.074111   8  POINT (-1086879.292 695932.074)
1113096 -1.398555e+06  436786.022171  15  POINT (-1398554.949 436786.022)
670945  -1.188437e+06  866653.290761  24  POINT (-1188436.529 866653.291)

         index_right   Sett_ID  ADM_ID
811158         10648   91404.0     145
839023          8320   59177.0     155
1209556         1429    4086.0      68
841725          8320   59177.0     155
1007935        10088   74882.0      61
1133336         2036    6302.0      38
1087868        13626  199780.0      80
846756         10098   74893.0      58
1113096         5263   24546.0      87
670945         11119  126049.0     220

Exported as table, year 2012. Thu Nov 24 17:02:47 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:47 2022


Values summed to settlement level, year 2012. Thu Nov 24 17:02:47 2022

      Sett_ID  NTLsum12
587  199319.0         5
491  134277.0         7
116    9139.0        12
430   63040.0         5
249   20896.0         5
547  196188.0         6
88     7815.0         6
525  189602.0         9
588  199330.0         7
254   20967.0         5

Values averaged to settlement level, year 2012. Thu Nov 24 17:02:47 2022

      Sett_ID   NTLavg12
399   51698.0   5.666667
172   12911.0   5.750000
522  185809.0   7.000000
14      464.0  15.100000
593  199392.0   5.000000
287   24553.0   6.000000
142   12591.0  12.000000
47     4303.0   9.250000
354   36341.0   6.000000
13      463.0   9.000000

Merged year 2012 onto latest year settlement feature layer. Thu Nov 24 17:02:47 2022

       Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
10006  73537.0     346       NaN       NaN       NaN       NaN       NaN
1150    3299.0       9       NaN       NaN       NaN       NaN       NaN
4846   22771.0      86       NaN       NaN       NaN       NaN       NaN
877     2621.0       7       NaN       NaN       NaN       NaN       NaN
10743  97835.0     198       NaN       NaN       NaN       NaN       NaN
9286   68727.0     143       NaN       NaN       NaN       NaN       NaN
5010   23353.0      84       NaN       NaN       NaN       NaN       NaN
1685    4521.0      68       NaN       NaN       NaN       NaN       NaN
8678   63094.0     105       NaN       NaN       NaN       NaN       NaN
6405   36932.0      44       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  ...  NTLsum08  NTLavg08  NTLsum09  \
10006       NaN       NaN       NaN  ...       NaN       NaN       NaN
1150        NaN       NaN       NaN  ...       NaN       NaN       NaN
4846        NaN       NaN       NaN  ...       NaN       NaN       NaN
877         NaN       NaN       NaN  ...       NaN       NaN       NaN
10743       NaN       NaN       NaN  ...       NaN       NaN       NaN
9286        NaN       NaN       NaN  ...       NaN       NaN       NaN
5010        NaN       NaN       NaN  ...       NaN       NaN       NaN
1685        NaN       NaN       NaN  ...       NaN       NaN       NaN
8678        NaN       NaN       NaN  ...       NaN       NaN       NaN
6405        NaN       NaN       NaN  ...       NaN       NaN       NaN

       NTLavg09  NTLsum10  NTLavg10  NTLsum11  NTLavg11  NTLsum12  NTLavg12
10006       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1150        NaN       NaN       NaN       NaN       NaN       NaN       NaN
4846        NaN       NaN       NaN       NaN       NaN       NaN       NaN
877         NaN       NaN       NaN       NaN       NaN       NaN       NaN
10743       NaN       NaN       NaN       NaN       NaN       NaN       NaN
9286        NaN       NaN       NaN       NaN       NaN       NaN       NaN
5010        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1685        NaN       NaN       NaN       NaN       NaN       NaN       NaN
8678        NaN       NaN       NaN       NaN       NaN       NaN       NaN
6405        NaN       NaN       NaN       NaN       NaN       NaN       NaN

[10 rows x 30 columns]
Loading data for year 2013. Thu Nov 24 17:02:47 2022

Finished gdal.Translate() for year 2013. Thu Nov 24 17:02:48 2022

Loaded XYZ file as a pandas dataframe, year 2013. Thu Nov 24 17:02:50 2022

Created geodataframe from non-NoData points, year 2013. Thu Nov 24 17:02:50 2022


Joined settlement ID onto vectorized raster cells for year 2013. Thu Nov 24 17:02:50 2022

                    X             Y   Z                          geometry  \
939040  -1.541260e+06  6.057563e+05   7   POINT (-1541260.376 605756.252)
1195803 -1.560521e+06  3.562406e+05   9   POINT (-1560521.232 356240.628)
20535   -1.090381e+06  1.498760e+06   5  POINT (-1090381.266 1498759.539)
102584  -1.039603e+06  1.419090e+06  32  POINT (-1039602.647 1419089.638)
1089669 -1.399430e+06  4.595489e+05  63   POINT (-1399430.443 459548.851)
901227  -1.515871e+06  6.425270e+05  22   POINT (-1515871.067 642526.976)
1074978 -1.640191e+06  4.735567e+05  12   POINT (-1640191.133 473556.746)
939080  -1.506241e+06  6.057563e+05   8   POINT (-1506240.640 605756.252)
464625  -1.180557e+06  1.067141e+06   9  POINT (-1180557.088 1067141.284)
287183  -1.132405e+06  1.239613e+06   5  POINT (-1132404.950 1239613.487)

         index_right   Sett_ID  ADM_ID
939040          7372   50097.0     311
1195803           39      60.0       1
20535          12365  190918.0     330
102584         12361  190914.0     279
1089669        13629  199787.0      80
901227          7198   49133.0     131
1074978         2444    7747.0     167
939080          9006   66477.0     131
464625         11490  145488.0     227
287183         12148  182911.0     255

Exported as table, year 2013. Thu Nov 24 17:02:50 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:50 2022


Values summed to settlement level, year 2013. Thu Nov 24 17:02:50 2022

      Sett_ID  NTLsum13
153   12957.0         7
397  145487.0       107
44     5430.0        51
53     6408.0        10
358   74893.0        77
426  186792.0         5
198   21046.0         6
18      802.0        12
471  199105.0         6
165   14685.0        11

Values averaged to settlement level, year 2013. Thu Nov 24 17:02:50 2022

      Sett_ID   NTLavg13
388  134277.0   8.000000
38     4298.0  10.833333
361   75464.0   5.000000
470  199102.0   6.000000
404  146219.0   7.000000
279   33886.0   5.166667
168   19117.0   5.333333
432  190212.0   5.000000
304   49129.0   6.615385
451  196172.0   7.000000

Merged year 2013 onto latest year settlement feature layer. Thu Nov 24 17:02:50 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
3031    11109.0      19       NaN       NaN       NaN       NaN       NaN
11531  145641.0     231       NaN       NaN       NaN       NaN       NaN
5612    26389.0      81       NaN       NaN       NaN       NaN       NaN
4565    20904.0     295       NaN       NaN       NaN       NaN       NaN
11464  143657.0     224       NaN       NaN       NaN       NaN       NaN
13327  198356.0     319       NaN       NaN       NaN       NaN       NaN
3335    13719.0     117       NaN       NaN       NaN       NaN       NaN
10719   97771.0     199       NaN       NaN       NaN       NaN       NaN
8156    56896.0     287       NaN       NaN       NaN       NaN       NaN
5886    30201.0     122       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  ...  NTLsum09  NTLavg09  NTLsum10  \
3031        NaN       NaN       NaN  ...       NaN       NaN       NaN
11531       NaN       NaN       NaN  ...       NaN       NaN       NaN
5612        NaN       NaN       NaN  ...       NaN       NaN       NaN
4565        NaN       NaN       NaN  ...       NaN       NaN       NaN
11464       NaN       NaN       NaN  ...       NaN       NaN       NaN
13327       NaN       NaN       NaN  ...       NaN       NaN       NaN
3335        NaN       NaN       NaN  ...       NaN       NaN       NaN
10719       NaN       NaN       NaN  ...       NaN       NaN       NaN
8156        NaN       NaN       NaN  ...       NaN       NaN       NaN
5886        NaN       NaN       NaN  ...       NaN       NaN       NaN

       NTLavg10  NTLsum11  NTLavg11  NTLsum12  NTLavg12  NTLsum13  NTLavg13
3031        NaN       NaN       NaN       NaN       NaN       NaN       NaN
11531       NaN       NaN       NaN       NaN       NaN       NaN       NaN
5612        NaN       NaN       NaN       NaN       NaN       NaN       NaN
4565        NaN       NaN       NaN       NaN       NaN       NaN       NaN
11464       NaN       NaN       NaN       NaN       NaN       NaN       NaN
13327       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3335        NaN       NaN       NaN       NaN       NaN       NaN       NaN
10719       NaN       NaN       NaN       NaN       NaN       NaN       NaN
8156        NaN       NaN       NaN       NaN       NaN       NaN       NaN
5886        NaN       NaN       NaN       NaN       NaN       NaN       NaN

[10 rows x 32 columns]
Loading data for year 2014. Thu Nov 24 17:02:50 2022

Finished gdal.Translate() for year 2014. Thu Nov 24 17:02:52 2022

Loaded XYZ file as a pandas dataframe, year 2014. Thu Nov 24 17:02:53 2022

Created geodataframe from non-NoData points, year 2014. Thu Nov 24 17:02:53 2022


Joined settlement ID onto vectorized raster cells for year 2014. Thu Nov 24 17:02:55 2022

                    X              Y   Z                         geometry  \
635665  -1.311881e+06  900797.534091   6  POINT (-1311881.101 900797.534)
1184363 -1.321512e+06  367622.042092  10  POINT (-1321511.528 367622.042)
647554  -1.157794e+06  889416.119647   6  POINT (-1157794.259 889416.120)
877840  -1.481727e+06  665289.804456   6  POINT (-1481726.824 665289.804)
909338  -1.514120e+06  634647.534801   6  POINT (-1514120.080 634647.535)
840850  -1.524626e+06  701185.034623   6  POINT (-1524626.001 701185.035)
937252  -1.529003e+06  607507.238821   6  POINT (-1529003.469 607507.239)
1069643 -1.578031e+06  478809.706269  23  POINT (-1578031.100 478809.706)
853453  -1.534256e+06  688928.126761   6  POINT (-1534256.429 688928.127)
809358  -1.486980e+06  731827.304278   6  POINT (-1486979.784 731827.304)

         index_right   Sett_ID  ADM_ID
635665         10966  116888.0     204
1184363         1921    5435.0      72
647554         11212  126358.0     215
877840          9321   68764.0     356
909338          7198   49133.0     131
840850          8396   59259.0     157
937252          7379   50152.0     307
1069643         3074   12521.0     284
853453          8314   59171.0     155
809358         10663   91509.0     145

Exported as table, year 2014. Thu Nov 24 17:02:55 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:02:55 2022


Values summed to settlement level, year 2014. Thu Nov 24 17:02:55 2022

       Sett_ID  NTLsum14
906    46427.0         6
1830  136100.0         6
2070  169825.0         6
669    22947.0         6
1919  145527.0         6
1521   79697.0        12
153     5080.0         6
1978  146364.0        14
1092   55371.0         8
1449   70943.0         6

Values averaged to settlement level, year 2014. Thu Nov 24 17:02:55 2022

       Sett_ID  NTLavg14
2058  169037.0       6.0
685    24517.0       7.0
1194   59295.0       6.0
823    32810.0       7.0
2062  169094.0       6.0
2145  189942.0       6.0
1782  126401.0       6.0
981    49930.0       6.0
278     9129.0       7.0
1561   86727.0       6.0

Merged year 2014 onto latest year settlement feature layer. Thu Nov 24 17:02:55 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
12762  195341.0     315       NaN       NaN       NaN       NaN       NaN
3641    15913.0      30       NaN       NaN       NaN       NaN       NaN
8031    56269.0     289       NaN       NaN       NaN       NaN       NaN
665      1892.0      77       NaN       NaN       NaN       NaN       NaN
3583    15363.0      31       NaN       NaN       NaN       NaN       NaN
634      1798.0      75       NaN       NaN       NaN       NaN       NaN
6116    34386.0     101       NaN       NaN       NaN       NaN       NaN
8213    57407.0     286       NaN       NaN       NaN       NaN       NaN
1329     3778.0      70       NaN       NaN       NaN       NaN       NaN
5024    23421.0      84       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  ...  NTLsum10  NTLavg10  NTLsum11  \
12762       NaN       NaN       NaN  ...       NaN       NaN       NaN
3641        NaN       NaN       NaN  ...       NaN       NaN       NaN
8031        NaN       NaN       NaN  ...       NaN       NaN       NaN
665         NaN       NaN       NaN  ...       NaN       NaN       NaN
3583        NaN       NaN       NaN  ...       NaN       NaN       NaN
634         NaN       NaN       NaN  ...       NaN       NaN       NaN
6116        NaN       NaN       NaN  ...       NaN       NaN       NaN
8213        NaN       NaN       NaN  ...       NaN       NaN       NaN
1329        NaN       NaN       NaN  ...       NaN       NaN       NaN
5024        NaN       NaN       NaN  ...       NaN       NaN       NaN

       NTLavg11  NTLsum12  NTLavg12  NTLsum13  NTLavg13  NTLsum14  NTLavg14
12762       NaN       NaN       NaN       NaN       NaN       NaN       NaN
3641        NaN       NaN       NaN       NaN       NaN       NaN       NaN
8031        NaN       6.0       6.0       6.0       6.0      20.0  6.666667
665         NaN       NaN       NaN       NaN       NaN       NaN       NaN
3583        NaN       NaN       NaN       NaN       NaN       NaN       NaN
634         NaN       NaN       NaN       NaN       NaN       6.0  6.000000
6116        NaN       NaN       NaN       NaN       NaN       NaN       NaN
8213        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1329        NaN       NaN       NaN       NaN       NaN       NaN       NaN
5024        NaN       NaN       NaN       NaN       NaN       NaN       NaN

[10 rows x 34 columns]
Loading data for year 2015. Thu Nov 24 17:02:55 2022

Finished gdal.Translate() for year 2015. Thu Nov 24 17:02:56 2022

Loaded XYZ file as a pandas dataframe, year 2015. Thu Nov 24 17:02:58 2022

Created geodataframe from non-NoData points, year 2015. Thu Nov 24 17:02:58 2022


Joined settlement ID onto vectorized raster cells for year 2015. Thu Nov 24 17:03:00 2022

                    X             Y   Z                          geometry  \
939038  -1.543011e+06  6.057563e+05   7   POINT (-1543011.363 605756.252)
1169901 -1.361784e+06  3.816299e+05   7   POINT (-1361784.226 381629.937)
946287  -1.507116e+06  5.987523e+05   6   POINT (-1507116.133 598752.305)
1143728 -1.400306e+06  4.070192e+05   7   POINT (-1400305.936 407019.246)
896748  -1.493108e+06  6.469044e+05   7   POINT (-1493108.238 646904.443)
1080452 -1.580658e+06  4.683038e+05  35   POINT (-1580657.580 468303.785)
884087  -1.534256e+06  6.591614e+05   7   POINT (-1534256.429 659161.351)
1136943 -1.029972e+06  4.140232e+05   6   POINT (-1029972.220 414023.193)
1103596 -1.038727e+06  4.464164e+05   7   POINT (-1038727.154 446416.450)
313442  -1.018591e+06  1.214224e+06   7  POINT (-1018590.805 1214224.178)

         index_right   Sett_ID  ADM_ID
939038          7194   49129.0     311
1169901         1629    4349.0      74
946287          9050   66529.0     131
1143728         4859   22785.0      85
896748          9209   68641.0     138
1080452         3074   12521.0     284
884087          8007   56244.0     134
1136943         2369    7414.0      38
1103596         2138    6408.0      39
313442         11909  169041.0     268

Exported as table, year 2015. Thu Nov 24 17:03:00 2022

Removed (or skipped if error) intermediate xyz file. Thu Nov 24 17:03:00 2022


Values summed to settlement level, year 2015. Thu Nov 24 17:03:00 2022

       Sett_ID  NTLsum15
1634   68803.0        36
2303  155468.0        12
906    25923.0         8
270     7760.0         8
1178   50085.0        69
2041  124448.0         6
1540   66551.0         6
2494  195354.0        66
1101   48577.0         6
277     7777.0         8

Values averaged to settlement level, year 2015. Thu Nov 24 17:03:00 2022

       Sett_ID  NTLavg15
717    19508.0       7.0
406    10205.0       8.0
282     7783.0       8.0
1381   59314.0       6.0
209     5436.0       8.0
559    14479.0       6.0
82      2146.0       6.0
2348  169036.0       6.5
2109  135817.0       6.0
891    25319.0       7.0

Merged year 2015 onto latest year settlement feature layer. Thu Nov 24 17:03:00 2022

        Sett_ID  ADM_ID  NTLsum99  NTLavg99  NTLsum00  NTLavg00  NTLsum01  \
4706    22212.0     298       NaN       NaN       NaN       NaN       NaN
2844     9763.0      14       NaN       NaN       NaN       NaN       NaN
1634     4357.0      74       NaN       NaN       NaN       NaN       NaN
2530     7843.0     172       NaN       NaN       NaN       NaN       NaN
4718    22390.0     290       NaN       NaN       NaN       NaN       NaN
1209     3449.0      76       NaN       NaN       NaN       NaN       NaN
11960  169811.0     271       NaN       NaN       NaN       NaN       NaN
1973     5664.0      74       NaN       NaN       NaN       NaN       NaN
4051    19220.0     294       NaN       NaN       NaN       NaN       NaN
2357     7381.0      38       NaN       NaN       NaN       NaN       NaN

       NTLavg01  NTLsum02  NTLavg02  ...  NTLsum11  NTLavg11  NTLsum12  \
4706        NaN       NaN       NaN  ...       NaN       NaN       NaN
2844        NaN       NaN       NaN  ...       NaN       NaN       NaN
1634        NaN       NaN       NaN  ...       NaN       NaN       NaN
2530        NaN       NaN       NaN  ...       NaN       NaN       NaN
4718        NaN       NaN       NaN  ...       NaN       NaN       NaN
1209        NaN       NaN       NaN  ...       NaN       NaN       NaN
11960       NaN       NaN       NaN  ...       NaN       NaN       NaN
1973        NaN       NaN       NaN  ...       NaN       NaN       NaN
4051        NaN       NaN       NaN  ...       NaN       NaN       NaN
2357        NaN       NaN       NaN  ...       NaN       NaN       NaN

       NTLavg12  NTLsum13  NTLavg13  NTLsum14  NTLavg14  NTLsum15  NTLavg15
4706        NaN       NaN       NaN       NaN       NaN       NaN       NaN
2844        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1634        NaN       NaN       NaN       NaN       NaN       NaN       NaN
2530        NaN       NaN       NaN       6.0       6.0       6.0       6.0
4718        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1209        NaN       NaN       NaN       NaN       NaN       NaN       NaN
11960       NaN       NaN       NaN       NaN       NaN       NaN       NaN
1973        NaN       NaN       NaN       6.0       6.0       6.0       6.0
4051        NaN       NaN       NaN       NaN       NaN       NaN       NaN
2357        NaN       NaN       NaN       NaN       NaN       NaN       NaN

[10 rows x 36 columns]


Finished. All years masked and assigned their nearest settlement. Thu Nov 24 17:03:00 2022
Saved to file. Thu Nov 24 17:03:00 2022

In [16]:
AllSummaries.sample(20)

,Sett_ID,ADM_ID,NTLsum99,NTLavg99,NTLsum00,NTLavg00,NTLsum01,NTLavg01,NTLsum02,NTLavg02,...,NTLsum11,NTLavg11,NTLsum12,NTLavg12,NTLsum13,NTLavg13,NTLsum14,NTLavg14,NTLsum15,NTLavg15
12927,196283.0,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6229,36299.0,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5052,23556.0,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5452,25174.0,87,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.000000,...,NaN,NaN,5.0,5.000000,5.0,5.0,6.0,6.0,7.0,7.0
7398,50467.0,332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4015,19171.0,295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.0,6.0,6.0
4898,22848.0,83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
927,2676.0,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,1259.0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9426,68877.0,137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,6.0
9986,73418.0,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3467,14670.0,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,15.0,5.000000,NaN,NaN,NaN,NaN,NaN,NaN
1083,2915.0,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2161,6432.0,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3594,15441.0,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12365,190918.0,330,22.0,4.4,21.0,4.2,35.0,5.0,33.0,4.714286,...,27.0,4.5,17.0,5.666667,30.0,5.0,NaN,NaN,NaN,NaN
5977,33322.0,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1523,4214.0,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3497,14703.0,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,806.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
AllSummaries.sort_values('NTLsum10', ascending=False).head(20)

,Sett_ID,ADM_ID,NTLsum99,NTLavg99,NTLsum00,NTLavg00,NTLsum01,NTLavg01,NTLsum02,NTLavg02,...,NTLsum11,NTLavg11,NTLsum12,NTLavg12,NTLsum13,NTLavg13,NTLsum14,NTLavg14,NTLsum15,NTLavg15
3967,19120.0,80,11592.0,24.611465,11687.0,24.656118,12135.0,25.176349,12816.0,26.424742,...,15538.0,31.905544,17625.0,36.042945,17387.0,35.483673,18785.0,38.336735,20394.0,41.620408
3074,12521.0,284,7363.0,31.737069,7273.0,30.687764,7326.0,30.911392,7904.0,33.350211,...,10909.0,46.421277,10426.0,43.991561,10662.0,44.987342,10436.0,44.033755,10451.0,44.097046
3128,12684.0,352,2360.0,59.000000,2348.0,58.700000,2353.0,58.825000,2419.0,60.475000,...,2417.0,60.425000,2465.0,61.625000,2452.0,61.300000,2362.0,59.050000,2323.0,58.075000
3126,12674.0,352,2360.0,59.000000,2348.0,58.700000,2353.0,58.825000,2419.0,60.475000,...,2365.0,60.641026,2465.0,61.625000,2452.0,61.300000,2362.0,59.050000,2323.0,58.075000
3124,12670.0,352,2360.0,59.000000,2348.0,58.700000,2353.0,58.825000,2419.0,60.475000,...,2365.0,60.641026,2465.0,61.625000,2452.0,61.300000,2362.0,59.050000,2323.0,58.075000
3096,12544.0,352,2360.0,59.000000,2348.0,58.700000,2353.0,58.825000,2419.0,60.475000,...,2365.0,60.641026,2465.0,61.625000,2452.0,61.300000,2362.0,59.050000,2323.0,58.075000
3141,12883.0,113,2009.0,30.439394,2064.0,31.272727,2061.0,31.227273,1936.0,29.333333,...,1833.0,28.640625,2600.0,39.393939,2506.0,37.969697,2234.0,33.848485,2172.0,32.909091
11499,145497.0,230,1609.0,21.171053,1699.0,22.355263,1898.0,24.973684,1798.0,23.350649,...,2072.0,26.564103,2364.0,30.307692,2339.0,29.987179,2061.0,26.423077,2038.0,26.128205
13626,199780.0,80,1701.0,53.156250,1720.0,53.750000,1724.0,53.875000,1705.0,53.281250,...,1753.0,54.781250,1929.0,60.281250,1886.0,58.937500,1813.0,56.656250,1853.0,57.906250
13629,199787.0,80,1701.0,53.156250,1720.0,53.750000,1724.0,53.875000,1705.0,53.281250,...,1753.0,54.781250,1929.0,60.281250,1886.0,58.937500,1813.0,56.656250,1853.0,57.906250
8320,59177.0,155,773.0,10.445946,712.0,11.301587,819.0,10.920000,812.0,12.303030,...,1392.0,12.000000,1546.0,12.467742,1441.0,12.422414,1522.0,10.079470,1495.0,9.900662
7198,49133.0,131,1222.0,11.211009,1299.0,10.069767,1392.0,9.734266,1376.0,10.117647,...,1346.0,9.614286,1874.0,9.709845,1735.0,10.644172,4356.0,6.816901,4984.0,6.799454
12158,182922.0,255,1096.0,15.436620,1069.0,18.118644,1151.0,16.681159,1222.0,16.293333,...,1091.0,13.637500,1259.0,17.732394,1253.0,17.164384,1175.0,13.823529,1281.0,15.070588
11119,126049.0,220,1037.0,17.283333,942.0,16.821429,1016.0,17.220339,1110.0,18.500000,...,1106.0,17.838710,1144.0,19.724138,1232.0,19.870968,1000.0,15.873016,1141.0,18.111111
7889,54759.0,136,619.0,15.097561,576.0,15.567568,602.0,15.050000,620.0,15.897436,...,596.0,14.536585,686.0,16.333333,708.0,16.857143,503.0,11.976190,530.0,12.619048
10088,74882.0,61,367.0,9.918919,408.0,10.200000,453.0,10.534884,508.0,11.545455,...,713.0,12.293103,698.0,15.173913,666.0,13.591837,628.0,12.076923,637.0,12.250000
12361,190914.0,279,336.0,11.586207,362.0,12.482759,323.0,11.535714,413.0,14.241379,...,558.0,19.241379,550.0,18.333333,629.0,20.966667,753.0,25.100000,737.0,24.566667
2444,7747.0,167,556.0,11.346939,495.0,9.705882,550.0,10.784314,551.0,11.020000,...,572.0,11.440000,622.0,12.196078,719.0,14.380000,683.0,13.392157,700.0,13.725490
2447,7750.0,347,285.0,6.627907,347.0,6.673077,349.0,6.843137,400.0,7.692308,...,437.0,9.104167,493.0,9.480769,625.0,12.019231,633.0,12.173077,611.0,11.750000
6646,45189.0,174,253.0,7.666667,288.0,7.384615,303.0,7.973684,289.0,7.605263,...,384.0,9.365854,383.0,9.575000,433.0,10.825000,478.0,10.170213,521.0,11.085106