# Spatiotemporal Trends in Urbanization
## Overview
This repository investigates year-by-year change in cities and settlements in Central and Western Africa (CWA). The goal is to capture activity for every settlement locality in a country to produce indicators that are high frequency, spatially granular, and timely. The Jupyter Notebook is the primary script used to construct each country's dataset. It tracks population, built-area, and economic and climate indicators across a 16-year timeframe from 2000 to 2015. 

The repository is split into three sections: methodology and notebooks, source data, and outputs. Outputs are organized by country and include growth tables ("urban panel datasets"), charts, and country briefs.


## Datasets
Datasets used to create each African country's urban panel data are as follows:
1. Most up-to-date administrative boundaries.
2. City names: **UCDB, Africapolis, and GeoNames.**
3. Settlement types: **GRID3 settlement extents.** Captured between 2009-2019.
4. Built-up area, yearly: **World Settlement Footprint Evolution.** Resolution: 30m.
5. Population, yearly: **WorldPop.** UN-adjusted, unconstrained. Resolution: 100m.
6. Nighttime lights, yearly: **Harmonization of DMSP and VIIRS.** Resolution: 1km and 500m.
7. Flood extents, by return period: **FATHOM.** Resolution: 90m.


## Accessing Data
Source data are available to the public by providers listed in the previous section, with the exception of flood data. Please note that the source data files in this repository have been fit for purpose and may not cover your area of interest. Some sources are also not global; GRID3 settlement extents are only available for sub-Saharan Africa, and Africapolis names for Africa.

Results from the analysis are currently available for Cameroon and are under development for Central African Republic and four Sahel countries: Burkina Faso, Chad, Mali, and Niger. Results are available in the outputs folder by country. Please contact the CWA Geospatial team to inquire about new locations.
<br>
> **Walker Kosmidou-Bradley**, wkosmidoubradley@worldbank.org
<br>
> **Grace Doherty**, gdoherty2@worldbank.org

## License
Materials under this repository are open-source under an MIT license. The community is invited to test, adapt, and re-purpose materials as needed.

---

## 1. PREPARE WORKSPACE

### 1.1 Off-script

##### Off-script: Create folders in your working directory. (The folder where you are storing this script).
> *ADM
<br>Buildup
<br>PlaceName
<br>Population
<br>Settlement
<br>NTL*

##### Before starting: Download datasets (as shapefile, GeoJSON, or tif where possible) and place or extract into corresponding folder. You can download the cleaned files from our [GitHub Repository](https://github.com/worldbank/Urban_Spatio_Temporal_Trends) or access original sources here:
- ADM: *Varies by source.*
- Buildup: https://download.geoservice.dlr.de/WSF_EVO/files/
- PlaceName: 
    - GeoNames: (file: cities500.zip) https://download.geonames.org/export/dump/
    - Africapolis: https://africapolis.org/en/data
    - Urban Centres Database: https://ghsl.jrc.ec.europa.eu/ghs_stat_ucdb2015mt_r2019a.php
- Population: https://hub.worldpop.org/geodata/listing?id=69
- Settlement: https://data.grid3.org/datasets/GRID3::grid3-cameroon-settlement-extents-version-01-01-/explore
- Nighttime Lights: https://eogdata.mines.edu/products/dmsp/#v4 and https://eogdata.mines.edu/products/vnl/#annual_v2

##### Other off-script:
- Convert GeoNames from .txt file to shape (delimiter = tab, header rows = 0) and rename fields.
- If necessary, mosaic WSFE rasters that cover the area of interest to create a single file.

### 1.2 Load all packages.

In [1]:
# Built-in:
# dir(), print(), range(), format(), int(), len(), list(), max(), min(), zip(), sorted(), sum(), open(), del, = None, try except, with as, for in, if elif else
# Also: list.append(), string.zfill(), list.insert(), list.remove(), string.join(), count(), startswith(), endswith(), contains(), replace()

import os, sys, glob, re, time, subprocess # os.getcwd(), os.path.join(), os.listdir(), os.remove(), time.ctime(), glob.glob()
from os.path import exists # exists()
from functools import reduce # reduce()

import geopandas as gpd # read_file(), GeoDataFrame(), sjoin_nearest(), to_crs(), to_file(), .crs, buffer(), dissolve()
import pandas as pd # .dtypes, Series(), concat(), DataFrame(), read_table(), merge(), to_csv(), .loc[], head(), sample(), astype(), unique(), rename(), between(), drop(), fillna(), idxmax(), isna(), isin(), apply(), info(), sort_values(), notna(), groupby(), value_counts(), duplicated(), drop_duplicates()
from shapely.geometry import Point, LineString, Polygon, shape, MultiPoint
from shapely.ops import cascaded_union
from shapely.validation import make_valid  # in apply(make_valid)
import shapely.wkt

import numpy as np # median(), mean(), tolist(), .inf
import fiona, rioxarray # fiona.open()
import rasterio # open(), write_band(), .name, .count, .width, .height. nodatavals, .meta, update(), copy(), write()
from rasterio.plot import show
from rasterio import features # features.rasterize()
from rasterio.features import shapes
from rasterio import mask # rasterio.mask.mask()
from osgeo import gdal, osr, ogr, gdal_array, gdalconst # Open(), SpatialReference, WarpOptions(), Warp(), GetDataTypeName(), GetRasterBand(), GetNoDataValue(), Translate(), GetProjection(), GetAttrValue()

### 1.3 Set workspace.

In [2]:
ProjectFolder = os.getcwd()
ResultsFolder = os.path.join(ProjectFolder, 'Results')
print(ProjectFolder)
print(ResultsFolder)

Q:\GIS\povertyequity\urban_growth\Cameroon
Q:\GIS\povertyequity\urban_growth\Cameroon\Results

---

## 2. PREPARE BUILDUP, SETTLEMENT, AND ADMIN DATASETS
Projection for all datasets: Africa Albers Equal Area Conic

### 2.1 Prepare raster locations for GRID3 and Admin areas

In [ ]:
ADM_vec = gpd.read_file(glob.glob('ADM/*.shp')[0])[['geometry']].to_crs("ESRI:102022") # This glob() function pulls the first file ([0]) in the ADM folder which ended in '.shp'
GRID3_vec = gpd.read_file(glob.glob('Settlement/*.shp')[0])[['type','geometry']].to_crs("ESRI:102022")
ADM_vec['ADM_ID'] = range(0,len(ADM_vec))
GRID3_vec['G3_ID'] = range(0,len(GRID3_vec))
ADM_vec.to_file(driver='GPKG', filename=r'ADM/ADM_warp.gpkg', layer='ADM')
GRID3_vec.to_file(driver='GPKG', filename=r'Settlement/Settlement_warp.gpkg', layer='GRID3')

In [ ]:
ADM_vec = gpd.read_file(r'ADM/ADM_warp.gpkg', layer='ADM')
GRID3_vec = gpd.read_file(r'Settlement/Settlement_warp.gpkg', layer='GRID3')

print(ADM_vec.info(), "\n\n", 
      ADM_vec.sample(5),
      ADM_vec.crs, "\n\n", 
      len(str(ADM_vec['ADM_ID'].max()))) # We need to know how many digits need to be allocated to each dataset in the "join" serial.
print(GRID3_vec.info(), "\n\n",
      GRID3_vec.sample(5),
      GRID3_vec.crs, "\n\n", 
      len(str(GRID3_vec['G3_ID'].max())))

### 2.2 Reproject WSFE to project CRS.

In [ ]:
WSFE_in = glob.glob('Buildup/*.tif')[0]
WSFE_warp = './Buildup/WSFE_warp.tif'
ProjCRS = gdal.WarpOptions(dstSRS='ESRI:102022')

In [ ]:
Warp = gdal.Warp(WSFE_warp, # Where to store the warped raster
                 WSFE_in, # Which raster to warp
                 format='GTiff', 
                 options=ProjCRS) # Reproject to Africa Albers Equal Area Conic
Warp = None
print('Reprojected dataset. %s' % time.ctime())

try:  
    os.remove(os.path.join(ProjectFolder, WSFE_in))
except OSError:
    pass
print('Removed (or skipped if error) intermediate file. %s' % time.ctime())

In [ ]:
WSFE = rasterio.open(os.path.join(ProjectFolder, "Buildup", os.listdir('Buildup/')[0]))
print(WSFE) # WSFE values are all 4 digits long (1985-2015)
print(dir(WSFE))
print(WSFE.crs)
print(WSFE.dtypes)
NoDataValue = WSFE.nodatavals
print(NoDataValue)
print(WSFE.read(1).min(), WSFE.read(1).mean(), np.median(WSFE.read(1)), WSFE.read(1).max())

# If NoDataValue != 0, change to 0. (See step 2.1)

---

## 3. WSFE AND ADM; GRID3 AND ADM
RASTERIZE: Bring ADM and GRID3 into raster space.

RASTER MATH: "Join" ADM ID onto GRID3 and onto WSFE by creating unique concatenation string.

VECTORIZE: Bring joined data into vector space.

VECTOR MATH: Split unique ID from raster math step into separate columns.

### 3.1 Rasterize admin areas and GRID3 using WSFE specs.

In [ ]:
# Copy and update the metadata from WSFE for the output
meta = WSFE.meta.copy()
meta.update(compress='lzw')
WSFE.meta

ADM_out = './ADM/ADM_rasterized.tif'
GRID3_out = './Settlement/GRID3_rasterized.tif'

In [ ]:
print("Rasterizing dataset. %s" % time.ctime())
with rasterio.open(ADM_out, 'w+', **meta) as out:
    out_arr = out.read(1)

    # this is where we create a generator of geom, value pairs to use in rasterizing
    shapes = ((geom,value) for geom, value in zip(ADM_vec.geometry, ADM_vec.ADM_ID))

    burned = features.rasterize(shapes=shapes, fill=0, out=out_arr, transform=out.transform)
    out.write_band(1, burned)
out = None

In [ ]:
print("Rasterizing dataset. %s" % time.ctime())
with rasterio.open(GRID3_out, 'w+', **meta) as out:
    out_arr = out.read(1)

    # this is where we create a generator of geom, value pairs to use in rasterizing
    shapes = ((geom,value) for geom, value in zip(GRID3_vec.geometry, GRID3_vec.G3_ID))

    burned = features.rasterize(shapes=shapes, fill=0, out=out_arr, transform=out.transform)
    out.write_band(1, burned)
out = None

*Validation: Check the dimensions, type, and basic stats of the three datasets. All should be the same dimension and NoData value.*

In [ ]:
RastersList = [gdal.Open(r"ADM/ADM_rasterized.tif"), 
               gdal.Open(r"Settlement/GRID3_rasterized.tif"),
               gdal.Open(os.path.join(ProjectFolder, "Buildup", os.listdir('Buildup/')[0]))]

for item in RastersList:
    print(gdal.GetDataTypeName(item.GetRasterBand(1).DataType), 
          item.GetRasterBand(1).GetNoDataValue(),
         "\n\n")

RastersList = None

RastersList = [rasterio.open(r"ADM/ADM_rasterized.tif"), 
               rasterio.open(r"Settlement/GRID3_rasterized.tif"), 
               rasterio.open(os.path.join(ProjectFolder, "Buildup", os.listdir('Buildup/')[0]))]

for item in RastersList:
    print(item.name, "\nBands= ", item.count, "\nWxH= ", item.width, "x", item.height, "\n\n")

stats = []
for item in RastersList:
    band = item.read(1)
    stats.append({
        'raster': item.name,
        'min': band.min(),
        'mean': band.mean(),
        'median': np.median(band),
        'max': band.max()})

# Show stats for each channel
print("\n", stats)

RastersList = None
band = None

### 3.2 Raster math to "join" admin to GRID3 and to WSFE.
Processing is more rapid when "joining," i.e. creating serial codes out of two datasets, in raster rather than vector space.
Here, we are concatenating the ID fields of the two datasets to create a serial number that we can then split in vector space later to create two ID fields.

*Adding together the values to create join IDs. This is in effect a concatenation of their ID strings, by way of summation. The number of zeros in the calc multiplication corresponds with number of digits of the maximum value in the "B" dataset. (e.g. Chad ADM codes go up 4 digits, so it's calc=(A*10000)+B).*

In [ ]:
# # OPEN TERMINAL FOR THIS PORTION. CODE DOCUMENTED HERE.

# Gdal_calc.py # To see info.

# gdal_calc.py -A C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\Settlement\GRID3_rasterized.tif -B  C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\ADM\ADM_rasterized.tif --outfile=C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\Settlement\GRID3_ADM.tif --overwrite --calc="(A*1000)+B"
# gdal_calc.py -A C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\Buildup\WSFE_warp.tif -B  C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\ADM\ADM_rasterized.tif --outfile=C:\Users\grace\GIS\povertyequity\urban_growth\Cameroon\Buildup\WSFE_ADM.tif --overwrite --calc="(A*1000)+B"

# # END TERMINAL-ONLY ASPECT. RETURN HERE FOR NEXT STEPS.

In [ ]:
# Validation: check the basic statistics of the resulting datasets.
RastersList = [rasterio.open(r"Buildup/WSFE_ADM.tif"), 
               rasterio.open(r"Settlement/GRID3_ADM.tif")]
for item in RastersList:
    print(item.name, "\nBands= ", item.count, "\nWxH= ", item.width, "x", item.height, "\n\n")
    
stats = []
for item in RastersList:
    band = item.read(1)
    stats.append({
        'raster': item.name,
        'min': band.min(),
        'mean': band.mean(),
        'median': np.median(band),
        'max': band.max()})

# Show stats for each channel
print("\n", stats)

RastersList = None
band = None

### 3.3 Vectorize "joined" layers.

##### Off-script: Run this block in QGIS.

In [ ]:
# OPEN QGIS FOR THIS PORTION. CODE DOCUMENTED HERE.

# Due to dtype errors with both gdal and rasterio here, I decided to run the raster to polygon function in QGIS instead.
# It is possible to run QGIS functions within a Jupyter Notebook, but I ran it within the GUI. Arc or R are other options.
# Command line code here.

# processing.run("gdal:polygonize", {'INPUT':'C:/Users/grace/GIS/povertyequity/urban_growth/Cameroon/Settlement/GRID3_ADM.tif','BAND':1,'FIELD':'gridcode','EIGHT_CONNECTEDNESS':False,'EXTRA':'','OUTPUT':'C:/Users/grace/GIS/povertyequity/urban_growth/Cameroon/Settlement/GRID3_ADM.shp'})
# processing.run("gdal:polygonize", {'INPUT':'C:/Users/grace/GIS/povertyequity/urban_growth/Cameroon/Buildup/WSFE_ADM.tif','BAND':1,'FIELD':'gridcode','EIGHT_CONNECTEDNESS':False,'EXTRA':'','OUTPUT':'C:/Users/grace/GIS/povertyequity/urban_growth/Cameroon/Buildup/WSFE_ADM.shp'})

### 3.4 Vector math to split raster strings into admin area, GRID3, and WSFE year assignments.

In [ ]:
# Load newly created vectorized datasets.
GRID3_ADM = gpd.read_file(r"Settlement/GRID3_ADM.shp")
WSFE_ADM = gpd.read_file(r"Buildup/WSFE_ADM.shp")
print(GRID3_ADM.info(), "\n\n", GRID3_ADM.sample(10), "\n\n", GRID3_ADM.crs, "\n\n", 
      WSFE_ADM.info(), "\n\n", WSFE_ADM.sample(10), "\n\n", WSFE_ADM.crs)

In [ ]:
print(GRID3_ADM['gridcode'].max(), WSFE_ADM['gridcode'].max())

In [ ]:
# Split serial back into separate dataset fields.
# For Burkina: WSFE and ADM: 4+3=7 digits. GRID3 and ADM: 6+3=9 digits.
GRID3_ADM['gridstring'] = GRID3_ADM['gridcode'].astype(str).str.zfill(9)
WSFE_ADM['gridstring'] = WSFE_ADM['gridcode'].astype(str).str.zfill(7)

GRID3_ADM['Sett_ID'] = GRID3_ADM['gridstring'].str[:-3].astype(int) # Remove the last 3 digits to get the GRID3 portion.
GRID3_ADM['ADM_ID'] = GRID3_ADM['gridstring'].str[-3:].astype(int) # Keep only the last 3 digits to get the ADM portion.
WSFE_ADM['year'] = WSFE_ADM['gridstring'].str[:-3].astype(int)
WSFE_ADM['ADM_ID'] = WSFE_ADM['gridstring'].str[-3:].astype(int)

print(GRID3_ADM.sample(10), WSFE_ADM.sample(10))

In [ ]:
# Dissolve any features that have the same G3 and ADM values so that we have a single unique feature per settlement.
# Note: we do NOT want to dissolve the WSFE features. Distinct features for noncontiguous builtup areas of the same year is necessary to separate them in the Near tool step.
GRID3_ADM = GRID3_ADM.dissolve(by=['Sett_ID', 'ADM_ID'], as_index=False)
print(GRID3_ADM.info(), GRID3_ADM.head())

In [ ]:
# Remove features where year, settlement, or admin area = 0.
# This was supposed to be resolved earlier with the gdal_calc NoDataValue parameter.

print("Before: WSFE %s and GRID3 %s\n" % (WSFE_ADM.shape, GRID3_ADM.shape))
WSFE_ADM = WSFE_ADM.loc[(WSFE_ADM["year"] != 0) & (WSFE_ADM["ADM_ID"] != 0)] # Since we change the datatype to integer, no need to include all digits. Otherwise, it would need to be: != '0000'
GRID3_ADM = GRID3_ADM.loc[(GRID3_ADM["Sett_ID"] != 0) & (GRID3_ADM["ADM_ID"] != 0)]
print("After: WSFE %s and GRID3 %s\n" % (WSFE_ADM.shape, GRID3_ADM.shape))

In [ ]:
# The Bounded_ID is our new unique settlement identifier for subsequent matching steps.
GRID3_ADM['Bounded_ID'] = GRID3_ADM.index
WSFE_ADM['WSFE_ID'] = WSFE_ADM.index
GRID3_ADM = GRID3_ADM[['Sett_ID', 'Bounded_ID', 'ADM_ID', 'geometry']]
WSFE_ADM = WSFE_ADM[['WSFE_ID', 'year', 'ADM_ID', 'geometry']]

In [ ]:
# Validation: 
# The first two printed numbers should be the same. There shouldn't be any GRID3 rows with matching Sett_ID and ADM_IDs.
# The latter two numbers should be different, and the first should be larger. We never dissolved WSFE by any column.

print(len(GRID3_ADM[['Sett_ID', 'ADM_ID']]),
      len(GRID3_ADM[['Sett_ID', 'ADM_ID']].drop_duplicates()),
      len(WSFE_ADM[['year', 'ADM_ID']]),
      len(WSFE_ADM[['year', 'ADM_ID']].drop_duplicates()))

In [ ]:
GRID3_ADM.to_file(
    driver='GPKG', filename='Settlement/GRID3_ADM.gpkg', layer='GRID3_ADM_cleaned')
WSFE_ADM.to_file(
    driver='GPKG', filename=r'Buildup/WSFE_ADM.gpkg', layer='WSFE_ADM_cleaned')

---

## 4. UNIQUE SETTLEMENTS FROM WSFE AND GRID3: TWO VERSIONS

Note that there are 2 versions here, so that we can create a fragmentation index:
1. **Boundless, aka boundary-agnostic settlements**: Unique settlements are linked to GRID3 settlement IDs. Administrative areas do not influence the extents of the settlement.
2. **Bounded, aka politically-defined settlements**: Settlements in the Boundless dataset which spread across more than one administrative area are split into separate settlements in the Bounded dataset. The largest polygon after the split is considered the "principal" settlement, and polygons in other admin areas are considered "fragments." By dividing the fragment area(s) of the Bounded settlement by the area of the Boundless settlement, we can acquire a fragmentation index for each locality.

### 4.1 BOUNDED SETTLEMENTS: Near Join by ADM group.

In [ ]:
print("Number of admin areas with GRID3 features: %s" % len(GRID3_ADM['ADM_ID'].unique().tolist()))
print("Number of admin areas with WSFE features: %s" % len(WSFE_ADM['ADM_ID'].unique().tolist()))
print("Number of admin areas where one dataset is observed but the other is not: %s" % (
    len(GRID3_ADM['ADM_ID'].unique().tolist()) - len(WSFE_ADM['ADM_ID'].unique().tolist())))

In [ ]:
ADM_IDs = sorted(GRID3_ADM['ADM_ID'].unique().tolist())
ADM_IDs

In [ ]:
# We're creating this field to help in removing duplicates from the sjoin_nearest, next section.
GRID3_ADM['G3_Area'] = GRID3_ADM['geometry'].area / 10**6

In [ ]:
# Create empty geodataframe to append onto using the dataframe whose geometry we want to retain.
Bounded = GRID3_ADM[0:0]
Bounded["year"] = pd.Series(dtype='int')
Bounded.info()

In [ ]:
for ID in ADM_IDs:
    WSFE_shard = WSFE_ADM.loc[WSFE_ADM['ADM_ID'] == ID]
    GRID3_shard = GRID3_ADM.loc[GRID3_ADM['ADM_ID'] == ID]
    WSFE_GRID3_shard = gpd.sjoin_nearest(WSFE_shard, 
                                         GRID3_shard, 
                                         how='inner',
                                         max_distance=500)
    Bounded = pd.concat([Bounded, WSFE_GRID3_shard])
    print('Completed near join in admin area %s. %s \n' % (ID, time.ctime()))
print('Completed near join for all ADMs. %s \n' % time.ctime())

del WSFE_shard, GRID3_shard, WSFE_GRID3_shard

In [ ]:
Bounded.sample(20)

In [ ]:
Bounded.info()

In [ ]:
# Remove WSFE features that did not match any GRID3 settlements.
Bounded = Bounded.loc[~Bounded['Sett_ID'].isna()]
Bounded.info()

In [ ]:
del GRID3_ADM, ADM_IDs

### 4.2 Remove duplicates: where buildup polygons intersected with more than one GRID3 settlement extent.
This happens when the first dataset (WSFE) intersects (distance = 0) with more than one feature of the second dataset (GRID3). More common for large cities. For example, Yaoundé, CMN has a large contiguous 1985 WSFE polygon which overlaps several small GRID3 features that are not Yaoundé.

In [ ]:
# The first number should always be zero. 
# The second tells us whether/how many WSFE polygons were duplicated by the Near join.

print(len(WSFE_ADM[WSFE_ADM.duplicated('WSFE_ID')]), len(Bounded[Bounded.duplicated('WSFE_ID')]))

In [ ]:
# If there are duplicate WSFE_IDs, then we need to choose between them.
# We'll pick the one that joined with the largest GRID3 polygon.
# To do that, we can just sort the dataframe by GRID3 areas, then drop_duplicates. 
# It will retain the first row of each WSFE_ID group.
Bounded = Bounded.sort_values('G3_Area', ascending=False).drop_duplicates(['WSFE_ID'])
Bounded.info()

In [ ]:
print(len(Bounded[Bounded.duplicated('WSFE_ID')]))

In [ ]:
# Now we can dissolve with the WSFE years, now that we can group them by their administratively split ID.
Bounded = Bounded.dissolve(by=['year', 'Bounded_ID'], as_index=False)
print(Bounded.info(), Bounded.sample(10))

In [ ]:
# Clean up and save to file.
Bounded = Bounded[['ADM_ID_left', 'year', 'Bounded_ID', 'Sett_ID', 'geometry']].rename(columns={"ADM_ID_left": "ADM_ID"})
Bounded = Bounded.astype({"ADM_ID":'int', "Bounded_ID":'int', "Sett_ID":'int', "year":'int'})
print(Bounded.sample(10))
Bounded.to_file(
    driver='GPKG', filename=r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Bounded')

In [ ]:
del WSFE_ADM

### 4.3 BOUNDLESS SETTLEMENTS: Dissolve features that were split by an ADM boundary.

In [ ]:
# Fragments of any bounded settlement will be combined into a single "boundless" settlement in this version.
# It is based on their "Sett_ID", which is a direct loan from the GRID3 settlement features.
Boundless = Bounded.dissolve(by=['year', 'Sett_ID'], as_index=False)
print(Boundless.info(), Boundless.sample(10))

In [ ]:
# Clean up and save to file.
Boundless.to_file(driver='GPKG', filename=r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Boundless')

---

## 5. CUMULATIVE ANNUALIZED SETTLEMENT EXTENTS
DISSOLVE BY YEAR SETS: Create separate feature layers of each cumulative year.

### 5.1 Define study years for each for loop.

In [24]:
Boundless = gpd.read_file(r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Boundless')

def CreateList(r1, r2):
    return [item for item in range(r1, r2+1)]

CuStart, CuEnd = Boundless['year'].min(), Boundless['year'].max()
StudyStart, StudyEnd = 1999, Boundless['year'].max()

AllCuYears = CreateList(CuStart, CuEnd) # All years in the WSFE dataset
AllStudyYears = CreateList(StudyStart, StudyEnd) # All years for which there will be growth stats in the present study.
print(AllCuYears, '\n\n', AllStudyYears)

ReversedStudyYears = []
for i in AllStudyYears:
    ReversedStudyYears.insert(0,i)
ReversedStudyYears.remove(StudyEnd)
print('\n\n', ReversedStudyYears)

[1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

 [1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]


 [2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999]

### 5.2 Starting with main Boundless dataset, create a cumulative area feature layer for each year.

In [ ]:
# For each year in the growth stats study, we are taking features from all years prior to and including that year, 
# dissolving those features, and exporting as its own file.

for item in AllStudyYears:
    print('Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    CuYearSet = Boundless[Boundless['year'].between(
        CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.
    print('Dissolving so that each unique settlement (Sett_ID) has a single cumulative WSFE feature. %s\n' % time.ctime())
    CuYearDissolve = CuYearSet.dissolve(by='Sett_ID', 
                                        aggfunc={"year": "max", "ADM_ID":"min"}, # Though ADM_ID should be matching every time.
                                        as_index=False)
    print('Write to file. %s\n' % time.ctime())
    CuYearName = ''.join(['Cu', str(item), '_Boundless'])
    CuYearDissolve.to_file(driver='GPKG', filename=r'Results/CumulativeSettlements.gpkg', layer=CuYearName)
    del CuYearSet, CuYearDissolve
print("Done with all years in set. %s" % time.ctime())

##### Join area information from each cumulative layer onto the latest year dataset.

In [ ]:
# The latest year in the study contains all settlements. Merge all other years' areas onto this dataset.
SettAreas = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=
                          ''.join(['Cu', str(StudyEnd), '_Boundless'])) 
SettAreas['Area2015'] = SettAreas['geometry'].area / 10**6
SettAreas = pd.DataFrame(SettAreas).drop(columns='geometry') # We have settlement IDs, so no need to join spatially!


for item in ReversedStudyYears:
    print("Loading cumulative layer for year %s. %s\n" % (item, time.ctime()))
    YearLayer = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=''.join(['Cu', str(item), '_Boundless']))
    print("Adding area field and converting to non-spatial dataframe. %s\n" % (time.ctime()))
    AreaYearName = ''.join(['Area', str(item)])
    YearLayer[AreaYearName] = YearLayer['geometry'].area/ 10**6 
    YearLayer = pd.DataFrame(YearLayer)[['Sett_ID', AreaYearName]]
    print("Merging variables from %s onto our latest year (%s) via table join. %s\n" % (item, StudyEnd, time.ctime()))
    SettAreas = SettAreas.merge(YearLayer, how='left', on='Sett_ID')
print("Done merging annualized areas onto latest year geometries. Saving to file. %s\n" % (time.ctime()))


print(SettAreas.info())
SettAreas.to_csv(os.path.join(ResultsFolder, 'Areas%sto%s.csv' % (StudyStart, StudyEnd)))

In [ ]:
del SettAreas

### 5.3 Repeat for Bounded dataset.

In [ ]:
# Bounded = gpd.read_file(r'Results/NonCumulativeSettlements.gpkg', layer='Settlements_Bounded')

for item in AllStudyYears:
    print('Subsetting to cumulative area for year: %s. %s\n' % (item, time.ctime()))
    CuYearSet = Bounded[Bounded['year'].between(CuStart, item, inclusive=True)] # Inclusive parameter means we include the years 1985 and "item" rather than only between them.
    print('Dissolving so that each unique settlement (Bounded_ID) has a single cumulative WSFE feature. %s\n' % time.ctime())
    CuYearDissolve = CuYearSet.dissolve(by='Bounded_ID', 
                                        aggfunc={"year": "max", "ADM_ID":"min", "Sett_ID":"min"}, # Though ADM_ID and Sett_ID should be matching every time.
                                        as_index=False)
    print('Write to file. %s\n' % time.ctime())
    CuYearName = ''.join(['Cu', str(item), '_Bounded'])
    CuYearDissolve.to_file(driver='GPKG', filename=r'Results/CumulativeSettlements.gpkg', layer=CuYearName)
    del CuYearSet, CuYearDissolve
print("Done with all years in set. %s" % time.ctime())

In [ ]:
SettAreas = gpd.read_file(r'Results/CumulativeSettlements.gpkg', 
                          layer=''.join(['Cu', str(StudyEnd), '_Bounded']))
SettAreas['Area2015'] = SettAreas['geometry'].area / 10**6
SettAreas = pd.DataFrame(SettAreas).drop(columns='geometry')


for item in ReversedStudyYears:
    print("Loading cumulative layer for year %s. %s\n" % (item, time.ctime()))
    YearLayer = gpd.read_file(r'Results/CumulativeSettlements.gpkg', layer=''.join(['Cu', str(item), '_Bounded']))
    print("Adding area field and converting to non-spatial dataframe. %s\n" % (time.ctime()))
    AreaYearName = ''.join(['Area', str(item)])
    YearLayer[AreaYearName] = YearLayer['geometry'].area/ 10**6 
    YearLayer = pd.DataFrame(YearLayer)[['Bounded_ID', AreaYearName]]
    print("Merging variables from %s onto our latest year (%s) via table join. %s\n" % (item, StudyEnd, time.ctime()))
    SettAreas = SettAreas.merge(YearLayer, how='left', on='Bounded_ID')
print("Done merging annualized areas onto latest year geometries. Saving to file. %s\n" % (time.ctime()))

print(SettAreas.info())
SettAreas.to_csv(os.path.join(ResultsFolder, 'Areas%sto%s_%s.csv' % (StudyStart, StudyEnd, 'Bounded')))

In [ ]:
del SettAreas

### 5.4 One settlement geofile to rule them all. ...and in the Sett_ID bind them.
The annualized values can be stored as distinct non-spatial dataframes. Their Sett_IDs will be used to join onto this geoversion with place names for the summary stats.

In [32]:
Settlements = gpd.read_file(r'Results/CumulativeSettlements.gpkg', 
                           layer=''.join(['Cu', str(StudyEnd), '_Boundless']))[['Sett_ID', 'ADM_ID', 'geometry']]
print(Settlements.info())
print(Settlements.crs)
Settlements.to_file(driver='GPKG', 
                       filename=r'Results/SETTLEMENTS.gpkg', 
                       layer='SETTLEMENTS_albers')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13292 entries, 0 to 13291
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   13292 non-null  int64
 1   ADM_ID    13292 non-null  int64
 2   geometry  13292 non-null  geometry
dtypes: geometry(1), int64(2)
memory usage: 311.7 KB
None
PROJCS["Africa_Albers_Equal_Area_Conic",GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563]],PRIMEM["Greenwich",0],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AUTHORITY["EPSG","4326"]],PROJECTION["Albers_Conic_Equal_Area"],PARAMETER["latitude_of_center",0],PARAMETER["longitude_of_center",25],PARAMETER["standard_parallel_1",20],PARAMETER["standard_parallel_2",-23],PARAMETER["false_easting",0],PARAMETER["false_northing",0],UNIT["metre",1],AXIS["Easting",EAST],AXIS["Northing",NORTH],AUTHORITY["ESRI","102022"]]

In [26]:
# Saving all the final products as WGS84.
Settlements_WGS = Settlements.to_crs(4326) 
print(Settlements_WGS.info())
print(Settlements_WGS.crs)
Settlements_WGS.to_file(driver='GPKG', 
                       filename=r'Results/SETTLEMENTS.gpkg', 
                       layer='SETTLEMENTS')

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 13292 entries, 0 to 13291
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Sett_ID   13292 non-null  int64
 1   ADM_ID    13292 non-null  int64
 2   geometry  13292 non-null  geometry
dtypes: geometry(1), int64(2)
memory usage: 311.7 KB
None
epsg:4326

### 5.5 Buffer the area of the Boundless dataset's latest year to mask raster data in later sections.
The Bounded dataset would also be fine for our purposes here. The buffer is dissolved to a single feature to be used for its total extents, which are identical between Bounded & Boundless datasets.

In [28]:
# Create buffer layer(s) to use as maximum distance for Near joins.

# Population buffer: 2km
Distance = 2000 # We start with the Africa Albers projection, which is in meters, before saving to file in the standard 4326.

print('Creating buffer layer. %s' % time.ctime())
BufferLayer = Settlements[['Sett_ID', 'geometry']]
BufferLayer['geometry'] = BufferLayer['geometry'].apply(
    make_valid).buffer(Distance) # make_valid is a workaround for any null geometries.
print('Finished buffer layer creation. %s' % time.ctime())
BufferLayer = BufferLayer.to_crs(4326) # Saving all the final products as WGS84.
BufferFileName1 = ''.join(['Buff', str(Distance), 'm_', str(StudyEnd)])
BufferLayer.to_file(driver='GPKG', filename=r'Results/Catchment.gpkg', layer=BufferFileName1)
print('Saved to file. %s' % time.ctime())

Creating buffer layer. Thu Jan 19 10:23:57 2023

C:\Users\grace\miniconda3\envs\geo\lib\site-packages\geopandas\geodataframe.py:1472: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Finished buffer layer creation. Thu Jan 19 11:45:22 2023
Saved to file. Thu Jan 19 11:45:27 2023

In [29]:
# Nighttime Lights buffer: 250m
Distance = 250

print('Creating buffer layer. %s' % time.ctime())
BufferLayer = Settlements[['Sett_ID', 'geometry']]
BufferLayer['geometry'] = BufferLayer['geometry'].apply(
    make_valid).buffer(Distance) # make_valid is a workaround for any null geometries.
print('Finished buffer layer creation. %s' % time.ctime())
BufferLayer = BufferLayer.to_crs(4326) # Saving all the final products as WGS84.
BufferFileName2 = ''.join(['Buff', str(Distance), 'm_', str(StudyEnd)])
BufferLayer.to_file(driver='GPKG', filename=r'Results/Catchment.gpkg', layer=BufferFileName2)
print('Saved to file. %s' % time.ctime())

Creating buffer layer. Thu Jan 19 11:45:27 2023

C:\Users\grace\miniconda3\envs\geo\lib\site-packages\geopandas\geodataframe.py:1472: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

Finished buffer layer creation. Thu Jan 19 11:47:00 2023
Saved to file. Thu Jan 19 11:47:07 2023

---

## 6. PLACE NAMES
Join urban place names from UCDB, Africapolis, and GeoNames onto the settlement vectors.

### 6.1 Load placename datasets, filter, and project.

In [ ]:
# Anytime we use a spatial join or work with area, 
# my preference is to keep it in a planar, equal area, meters projection. So we'll load as the Africa Albers.
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_albers')
Settlements['Area2015'] = Settlements['geometry'].area / 10**6

# Load, pull name field, rename, and reproject to match the catchments CRS.
UCDB = gpd.read_file('PlaceName/GHS_STAT_UCDB2015MT_GLOBE_R2019A_V1_2.gpkg', 
                     layer=0)[['UC_NM_MN', 'geometry']].rename(
    columns={"UC_NM_MN": "UCDB_Name"}).to_crs("ESRI:102022")

Africapolis = gpd.read_file('PlaceName/AFRICAPOLIS2020.shp')[['agglosName', 'geometry']].rename(
    columns={"agglosName": "Afpl_Name"}).to_crs("ESRI:102022")

GeoNames = gpd.read_file('PlaceName/GeoNames.gpkg', 
                         layer=0)[['GeoName', 'geometry']].to_crs("ESRI:102022")

print(Settlements.info(), UCDB.info(), Africapolis.info(), GeoNames.info())

### 6.2 Join placenames onto settlements geodataframe.

In [ ]:
# We wrap it in pd.DataFrame() since the sjoin() is the last time we need the geometry.

GeoNames = pd.DataFrame(gpd.sjoin_nearest(GeoNames, Settlements, 
                             how='left', distance_col="distGN", max_distance=250, 
                             lsuffix="G3", rsuffix="GN")).drop(columns='geometry')
Africapolis = pd.DataFrame(gpd.sjoin_nearest(Africapolis, Settlements, 
                             how='left', distance_col="distAF", max_distance=250,
                             lsuffix="G3", rsuffix="Af")).drop(columns='geometry')
UCDB = pd.DataFrame(gpd.sjoin_nearest(UCDB, Settlements, 
                             how='left', distance_col="distUC", max_distance=250,
                             lsuffix="G3", rsuffix="UC")).drop(columns='geometry')

In [ ]:
print(GeoNames.info())
print(Africapolis.info())
print(UCDB.info())

In [ ]:
alldatasets = [pd.DataFrame(Settlements).drop(columns='geometry'),
               Africapolis[['Sett_ID', 'Afpl_Name', 'distAF']], 
               GeoNames[['Sett_ID', 'GeoName', 'distGN']],
               UCDB[['Sett_ID', 'UCDB_Name', 'distUC']]]

SettlementsNamed = reduce(lambda left,right: pd.merge(left,right,on=['Sett_ID'], how='left'), alldatasets)
SettlementsNamed[['Afpl_Name', 'GeoName', 'UCDB_Name']] = SettlementsNamed[['Afpl_Name', 'GeoName', 'UCDB_Name']].fillna('UNK')

# Replace NaN values with a countable distance.
SettlementsNamed[['distAF', 'distGN', 'distUC']] = SettlementsNamed[['distAF', 'distGN', 'distUC']].fillna(-1)

In [ ]:
print(SettlementsNamed.info())
print(SettlementsNamed.sample(10))

In [ ]:
del UCDB, Africapolis, GeoNames

The near joins should have prevented duplication of rows, but if df1 intersects with two features in df2, it creates a new row. Two of our placenames sources are polygons, so there may be instances.

In [ ]:
SettlementsNamed[SettlementsNamed.duplicated('Sett_ID', keep=False)]

In [ ]:
SettlementsNamed.drop_duplicates(subset=['Sett_ID'], inplace=True, keep='first')
SettlementsNamed.info() # Range of entries should be the same as original Settlements file.

### 6.3 Reduce to single name column.

In [ ]:
# Determine which source has a name geometrically closest to the settlement.
# Since we switched NaN values to -1 earlier, we also resolved what happens in the event of a tie, 
# i.e. when more than one source is 0.0 meters from the settlement. It will take the value from the first column.
SettlementsNamed['SettName'] = "UNK"
SettlementsNamed['closest'] = SettlementsNamed[['distAF', 'distGN', 'distUC']].idxmax(axis=1)

In [ ]:
SettlementsNamed.sample(20)

In [ ]:
# Create a single name column where non-named settlements are "UNK" but all others use one of the three name sources.
SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distAF", 
    'SettName'] = SettlementsNamed['Afpl_Name']

SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distUC", 
    'SettName'] = SettlementsNamed['UCDB_Name']

SettlementsNamed.loc[
    SettlementsNamed['closest'] == "distGN", 
    'SettName'] = SettlementsNamed['GeoName']

In [ ]:
SettlementsNamed.sample(20)

### 6.4 Make sure place name is unique by stripping smaller localities of duplicated names.

In [ ]:
Dupes = SettlementsNamed[ 
    (SettlementsNamed['SettName'] != 'UNK') & 
    (SettlementsNamed.duplicated('SettName', keep=False)) ] # keep=False is necessary to retain *all* duplicates, not just first or last in each group.

print("Number of named settlements: %s" % SettlementsNamed['SettName'].str.contains('UNK').value_counts()[False])
print("Number of named settlements where name is duplicated at least once: %s" % len(Dupes))

In [ ]:
Largest = Dupes.loc[Dupes.groupby(["SettName"])["Area2015"].idxmax()]
print(Largest)

In [ ]:
# Filter to settlements which have a duplicated name and are not the largest of those with that name, then replace with UNK.
SettlementsNamed.loc[(~SettlementsNamed.Sett_ID.isin(Largest.Sett_ID)) 
                     & (SettlementsNamed.Sett_ID.isin(Dupes.Sett_ID)), 
                     'SettName'] = 'UNK'

In [ ]:
# Second number should now be zero.

print("Number of named settlements: %s" % SettlementsNamed['SettName'].str.contains('UNK').value_counts()[False])
print("Number of named settlements where name is duplicated at least once: %s" % len(SettlementsNamed[ 
    (SettlementsNamed['SettName'] != 'UNK') & 
    (SettlementsNamed.duplicated('SettName', keep=False)) ]))

In [ ]:
print(SettlementsNamed.info(), SettlementsNamed[SettlementsNamed['SettName'] != "UNK"].sample(20))

In [ ]:
# Drop extra columns and save to file.
SettlementsNamed = SettlementsNamed[['Sett_ID', 'SettName']]
SettlementsNamed.to_csv(r'Results/PlaceNames.csv')

In [ ]:
del SettlementsNamed

---

## 7. CREATE FRAGMENTATION INDEX
We are determining what percentage of a settlement's area lies outside of its administrative zone each year.
The index is a range of 0 to 100, i.e. the percent of the settlement area which is fragmented.

For each Sett_ID:
((Area of Boundless settlement - Area of largest Bounded settlement feature) / Area of Boundless settlement) * 100

### 7.1 Load boundless and bounded cumulative settlements and clean.

In [ ]:
BoundlessAreas = pd.read_csv(os.path.join(ResultsFolder, ('Areas%sto%s.csv' % (StudyStart, StudyEnd))))
print('Loaded Boundless dataset, whose settlements will be used as the index of the Fragmentation Index dataset. %s' 
      % time.ctime())
print(BoundlessAreas.info())

BoundedAreas = pd.read_csv(os.path.join(ResultsFolder, ('Areas%sto%s_%s.csv' % (StudyStart, StudyEnd, 'Bounded'))))
print('Loaded Bounded dataset, which will factor into the fragmentation calculation. %s' % time.ctime())
print(BoundedAreas.info())

In [ ]:
LargestFragments = BoundedAreas.loc[BoundedAreas.groupby(["Sett_ID"])["Area2015"].idxmax()] 
print(LargestFragments.info())
print("Filtered the Bounded dataset to only rows where latest year's area is largest for each Sett_ID. %s" % time.ctime())
LargestFragments.columns = LargestFragments.columns.str.replace('Area', 'Largest')
LargestFragments = LargestFragments.drop(columns=['year', 'ADM_ID'])
print("Renamed columns to avoid duplication during merge, and dropped unnecessary columns. %s" % time.ctime())
FragIndices = BoundlessAreas.merge(LargestFragments, how='left', on='Sett_ID')
print(FragIndices.info())

In [ ]:
del BoundlessAreas, BoundedAreas, LargestFragments

### 7.2 Merge and run fragmentation calculation.

In [ ]:
for item in AllStudyYears:
    YY = str(item) # 4-digit year
    AreaYY = ''.join(["Area", YY]) # The Boundless area variable name
    LargestYY = ''.join(['Largest', YY]) # The Bounded largest area variable name
    FragYY = ''.join(["Frag", YY]) # Name for the fragmentation index variable
    print("Created names for Year %s's variables and temporary objects. %s" % (item, time.ctime()))
    
    FragIndices[FragYY] = ((FragIndices[AreaYY] - FragIndices[LargestYY]) / FragIndices[AreaYY]) * 100
    FragIndices[FragYY] = (FragIndices[FragYY].fillna(0).replace([np.inf, -np.inf], 0)).astype('int')
    print("Calculated fragmentation index for year %s. %s" % (item, time.ctime()))

# Remove unnecessary columns.
FragIndices = FragIndices.loc[:, ~FragIndices.columns.str.startswith('Largest')]
FragIndices = FragIndices.loc[:, ~FragIndices.columns.str.startswith('Area')]

print('Completed fragmentation index calculations for all years. %s' % time.ctime())
print(FragIndices.info())
print(FragIndices.sample(5))

In [ ]:
FragIndices = FragIndices.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y', 'year', 'ADM_ID'])
FragIndices.to_csv(os.path.join(ResultsFolder, 'FragIndex%sto%s.csv' % (StudyStart, StudyEnd)))
print('Saved to file. %s' % time.ctime())

In [ ]:
del FragIndices

---

## 8. PREPARE YEARLY DATASETS: POPULATION
Can use this as a template for other annualized rasters

### 8.1 Reproject and reclassify with settlement buffer mask.
Reclassify so that we only need to work with cells within X distance of settlements.

In [ ]:
ProjCRS = gdal.WarpOptions(dstSRS='ESRI:102022')
AnnualizedSourceFiles = [i for i in os.listdir('Population/') if i.endswith('.tif')]

with fiona.open(r'Results/Catchment.gpkg', mode="r", layer="Buff2000m_2015") as shapefile:
    MaskGeom = [feature["geometry"] for feature in shapefile] # Identify the bounding areas of the mask.
# Mask_out = './LatestYearBuffer.tif'
AnnualizedSourceFiles

In [ ]:
# This codeblock changes each annual population raster's projection (gdal.Warp()), 
# then masks it to within a specified distance of the settlements (rasterio.mask.mask()).

for YearFile in AnnualizedSourceFiles:
    InputRasterName = os.path.join(ProjectFolder, "Population", YearFile)
    Year = str(re.sub(r'[^0-9]', '', YearFile))
    InputRasterObject = gdal.Open(InputRasterName)
    TempOutputName = "Temp_" + Year + "_albers.tif"
    TempOutputPath = os.path.join(ProjectFolder, "Population", TempOutputName)
    if exists(TempOutputPath):
        pass
    else:
        # Reproject to same CRS as settlements.
        Warp = gdal.Warp(TempOutputPath, # Where to store the warped raster
                     InputRasterObject, # Which raster to warp
                     format='GTiff', 
                     options=ProjCRS) # Reproject to Africa Albers Equal Area Conic
        print('Finished gdal.Warp() for year %s. %s \n' % (Year, time.ctime()))
        
        Warp = None # Close the files
        InputRasterObject = None

        # Reclassify as nodata if outside settlement buffer zones.
        with rasterio.open(TempOutputPath) as InputRasterObject:
            MaskedOutputRaster, OutTransform = rasterio.mask.mask(
                InputRasterObject, MaskGeom, crop=True) # Anything outside the mask is reclassed to the raster's NoData value.
            OutMetaData = InputRasterObject.meta.copy()
        print('Finished rasterio.mask.mask() for year %s. %s \n' % (Year, time.ctime()))
            
        OutMetaData.update({"driver": "GTiff",
                         "height": MaskedOutputRaster.shape[1],
                         "width": MaskedOutputRaster.shape[2],
                         "transform": OutTransform})
        FinalOutputPath = os.path.join(ProjectFolder, "Population", ''.join(['Masked_', Year, '.tif'])) # ''.join([r'Population/', 'Masked_', Year, '.tif']
        with rasterio.open(FinalOutputPath, "w", **OutMetaData) as dest:
            dest.write(MaskedOutputRaster)
        print('Written to file. %s \n' % time.ctime())
    InputRasterObject = None
    
    try:  # Finally, remove the intermediate file from disk
        os.remove(TempOutputPath)
    except OSError:
        pass
    print('Removed intermediate file. %s \n' % time.ctime())

print('\n \n Finished all years in list. %s' % time.ctime())

In [ ]:
print(os.listdir('Population/'))

In [ ]:
AnnualizedSourceFiles = None

### 8.2 Raster values summarized by settlement.
1. Convert each annualized raster to .xyz, 
2. then bring them to vector space and assign their Sett_ID,
3. and finally, aggregate the value as appropriate to the settlement level and save table to file.

XYZ is similar to .csv. Raster cell centers are stored as x and y, and their value is stored as z.

In [ ]:
NoDataVal = -99999 
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS')
AllSummaries = pd.DataFrame(Settlements).drop(columns='geometry')

AnnualizedMaskedFiles = [i for i in os.listdir('Population/') if i.startswith('Masked') and i.endswith('.tif')]
AnnualizedMaskedFiles

In [ ]:
for YearFile in AnnualizedMaskedFiles:
    
### STEP 1: TIF TO XYZ ###
    InputRasterName = os.path.join(ProjectFolder, "Population", YearFile)
    Year = str(re.sub(r'[^0-9]', '', YearFile))
    print('Loading data for year %s. %s \n' % (Year, time.ctime()))
    InputRasterObject = gdal.Open(InputRasterName)
    XYZOutputPath = r'Population/{}'.format(
        YearFile.replace('.tif', '.xyz')) # New file path will be the same as original, but .tif is replaced with .xyz
    
    # Create an .xyz version of the .tif
    XYZ = gdal.Translate(XYZOutputPath, # Specify a destination path
                         InputRasterObject, # Input is the masked .tif file
                         format='XYZ', 
                         creationOptions=["ADD_HEADER_LINE=YES"])
    print('Finished gdal.Translate() for year %s. %s \n' % (Year, time.ctime()))

#     # Remove the temporary masked tif file.
#     try:  
#         os.remove(InputRasterName)
#     except OSError:
#         pass
#     print('Removed (or skipped if error) intermediate tif file. %s \n' % time.ctime())
    
    InputRasterObject = None
    XYZ = None # Reload XYZ as a point geodataframe

    
### STEP 2: GENERATE GEODATAFRAME WITH SETT_ID FIELD ###
    InputXYZName = ''.join(['Masked_', Year, '.xyz'])
    InputXYZ = pd.read_table(os.path.join(ProjectFolder, 'Population', InputXYZName), delim_whitespace=True)
    InputXYZ = InputXYZ.loc[InputXYZ['Z'] != NoDataVal] # Subset to only the features that have a raster value.
    print('Loaded XYZ file as a pandas dataframe, year %s. %s \n' % (Year, time.ctime()))
    ValObject = gpd.GeoDataFrame(InputXYZ,
                                 geometry = gpd.points_from_xy(InputXYZ['X'], InputXYZ['Y']),
                                 crs = 'ESRI:102022')
    print('Created geodataframe from non-NoData points, year %s. %s \n' % (Year, time.ctime()))
    del InputXYZ
    
    # Sjoin_nearest: No need to group by ADM this time. 
    ValObject_withID = gpd.sjoin_nearest(ValObject, 
                                    Settlements, 
                                    how='left') # No need for max_distance parameter this time. We've already narrowed down to nearby raster cells.
    
    print('\nJoined settlement ID onto vectorized raster cells for year %s. %s \n' % (Year, time.ctime()))
    print(ValObject_withID.sample(10))
    del ValObject
    
    # We no longer need the spatial information of the raster values because we have their unique settlement ID.
    ValObject_withID = pd.DataFrame(ValObject_withID).drop(columns='geometry')
    
    ValObject_withID.to_csv(''.join([r'Population/', 'Masked_', Year, '.csv']))
    print('\nExported as table, year %s. %s \n' % (Year, time.ctime()))
    
    # Remove the temporary xyz file.
    try:  
        os.remove(os.path.join(ProjectFolder, 'Population', InputXYZName))
    except OSError:
        pass
    print('Removed (or skipped if error) intermediate xyz file. %s \n' % time.ctime())

    

### STEP 3: AGGREGATE BY SETTLEMENT AND MERGE ONTO SUMMARIES TABLE ###
    VariableName = ''.join(['PopSum', Year])
    
    ValAggregated = ValObject_withID.groupby('Sett_ID', 
                                      as_index=False)['Z'].sum().rename(columns={"Z": VariableName})
    print('\nValues aggregated to settlement level, year %s. %s \n' % (Year, time.ctime()))
    print(ValAggregated.sample(10))
    
    AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
    print('\nMerged year %s onto latest year settlement feature layer. %s \n' % (Year, time.ctime()))
    print(AllSummaries.sample(10))
    
    del ValObject_withID, ValAggregated
    print('\n\n')
    

print('\n\nFinished. All years masked and assigned their nearest settlement. %s' % time.ctime())

AllSummaries.to_csv(os.path.join(ResultsFolder, 'Pop%sto%s.csv' % (2000, 2015)))
print('Saved to file. %s \n' % time.ctime())

In [ ]:
# Check contents
AllSummaries.sort_values('PopSum2010', ascending=False).head(20)

---

## 9. PREPARE YEARLY DATASETS: NIGHTTIME LIGHTS

### 9.1 Reclassify with settlement buffer mask.
Reclassify so that we only need to work with cells within X distance of settlements. The two NTL sources have already been reprojected in a separate script, and cropped to Central & Western Africa.

In [3]:
ProjCRS = gdal.WarpOptions(dstSRS='EPSG:4326')
with fiona.open(r'Results/Catchment.gpkg', mode="r", layer="Buff250m_2015") as shapefile:
    MaskGeom = [feature["geometry"] for feature in shapefile] # Identify the bounding areas of the mask.
# Mask_out = './LatestYearBuffer.tif'

In [4]:
AnnualizedSourceFiles = []
AnnualizedSourceFiles = AnnualizedSourceFiles + [i for i in os.listdir('NTL/SourceFiles/') if i.endswith('tif')]
    
AnnualizedSourceFiles

['D_1999_avg.tif',
 'D_1999_cfc.tif',
 'D_2000_avg.tif',
 'D_2000_cfc.tif',
 'D_2001_avg.tif',
 'D_2001_cfc.tif',
 'D_2002_avg.tif',
 'D_2002_cfc.tif',
 'D_2003_avg.tif',
 'D_2003_cfc.tif',
 'D_2004_avg.tif',
 'D_2004_cfc.tif',
 'D_2005_avg.tif',
 'D_2005_cfc.tif',
 'D_2006_avg.tif',
 'D_2006_cfc.tif',
 'D_2007_avg.tif',
 'D_2007_cfc.tif',
 'D_2008_avg.tif',
 'D_2008_cfc.tif',
 'D_2009_avg.tif',
 'D_2009_cfc.tif',
 'D_2010_avg.tif',
 'D_2010_cfc.tif',
 'D_2011_avg.tif',
 'D_2011_cfc.tif',
 'D_2012_avg.tif',
 'D_2012_cfc.tif',
 'D_2013_avg.tif',
 'D_2013_cfc.tif',
 'V_2012_avg.tif',
 'V_2012_cfc.tif',
 'V_2013_avg.tif',
 'V_2013_cfc.tif',
 'V_2014_avg.tif',
 'V_2014_cfc.tif',
 'V_2015_avg.tif',
 'V_2015_cfc.tif']

In [5]:
# This codeblock changes each annual raster's projection (gdal.Warp()), 
# then masks it to within a specified distance of the settlements (rasterio.mask.mask()).

for YearFile in AnnualizedSourceFiles:
    
    InputRasterPath = os.path.join(ProjectFolder, "NTL/SourceFiles", YearFile)
    Sensor = YearFile[:1] # Remove characters in or after position 1 (2nd character). aka keep just the first character.
    Year = YearFile[2:6] # Remove characters before position 2, and those in or after position 6. (keep the 3rd - 6th characters)
    # Confusingly, left of : is inclusive and right of : is exclusive. "Slice returns a "substring" text[i:j] from your original String where "i" are the initial index (inclusive) and "j" are the end index (exclusive)."
    
    if YearFile.endswith('avg.tif') == True:
        IndicType = '_avg'
    else:
        IndicType = '_cfc'
        
    TempOutputName = 'Temp_' + Sensor + '_' + Year + IndicType + '.tif'
    TempOutputPath = os.path.join(ProjectFolder, "NTL", TempOutputName)
    FinalOutputName = 'Msk_' + Sensor + '_' + Year + IndicType + '.tif'
    FinalOutputPath = os.path.join(ProjectFolder, "NTL", FinalOutputName)
    
    if exists(FinalOutputPath): # If we already did both the warp and the mask, the file will be here and we can skip it.
        pass
    else:
        # Reproject to same CRS as settlements.
        InputRasterObject = gdal.Open(InputRasterPath)
        
        if osr.SpatialReference(wkt=InputRasterObject.GetProjection()).GetAttrValue('geogcs') != 'WGS 84':
            Warp = gdal.Warp(TempOutputPath, # Where to store the warped raster
                         InputRasterObject, # Which raster to warp
                         format='GTiff', 
                         options=ProjCRS) # Reproject to Africa Albers Equal Area Conic
            print('Finished gdal.Warp() for %s. %s \n' % (YearFile, time.ctime()))

            Warp = None # Close the files
        else:
            pass
        
        InputRasterObject = None


        # Reclassify as nodata if outside settlement buffer zones.
        if exists(TempOutputPath):
            NewInputPath = TempOutputPath # If we warped the data, then use that file for next step.
        else:
            NewInputPath = InputRasterPath # Otherwise, we must have skipped the warp and can use the source file.
            
        with rasterio.open(NewInputPath) as InputRasterObject:
            MaskedOutputRaster, OutTransform = rasterio.mask.mask(
                InputRasterObject, MaskGeom, crop=True) # Anything outside the mask is reclassed to the raster's NoData value.
            OutMetaData = InputRasterObject.meta.copy()
        print('Finished rasterio.mask.mask() for %s. %s \n' % (YearFile, time.ctime()))
            
        OutMetaData.update({"driver": "GTiff",
                         "height": MaskedOutputRaster.shape[1],
                         "width": MaskedOutputRaster.shape[2],
                         "transform": OutTransform})

        with rasterio.open(FinalOutputPath, "w", **OutMetaData) as dest:
            dest.write(MaskedOutputRaster)
        print('Written to file. %s \n' % time.ctime())
        
    InputRasterObject = None
    
    if exists(TempOutputPath):
        try:  # Finally, remove the intermediate file from disk
            os.remove(TempOutputPath)
        except OSError:
            pass
        print('Removed intermediate file. %s \n' % time.ctime())
    else:
        pass


print('\n \n Finished all years in list. %s' % time.ctime())

Finished rasterio.mask.mask() for D_1999_avg.tif. Thu Jan 19 17:21:34 2023

Written to file. Thu Jan 19 17:21:34 2023

Finished rasterio.mask.mask() for D_1999_cfc.tif. Thu Jan 19 17:21:36 2023

Written to file. Thu Jan 19 17:21:36 2023

Finished rasterio.mask.mask() for D_2000_avg.tif. Thu Jan 19 17:21:38 2023

Written to file. Thu Jan 19 17:21:39 2023

Finished rasterio.mask.mask() for D_2000_cfc.tif. Thu Jan 19 17:21:41 2023

Written to file. Thu Jan 19 17:21:41 2023

Finished rasterio.mask.mask() for D_2001_avg.tif. Thu Jan 19 17:21:43 2023

Written to file. Thu Jan 19 17:21:43 2023

Finished rasterio.mask.mask() for D_2001_cfc.tif. Thu Jan 19 17:21:45 2023

Written to file. Thu Jan 19 17:21:45 2023

Finished rasterio.mask.mask() for D_2002_avg.tif. Thu Jan 19 17:21:47 2023

Written to file. Thu Jan 19 17:21:47 2023

Finished rasterio.mask.mask() for D_2002_cfc.tif. Thu Jan 19 17:21:49 2023

Written to file. Thu Jan 19 17:21:49 2023

Finished rasterio.mask.mask() for D_2003_avg.tif. Thu Jan 19 17:21:51 2023

Written to file. Thu Jan 19 17:21:51 2023

Finished rasterio.mask.mask() for D_2003_cfc.tif. Thu Jan 19 17:21:53 2023

Written to file. Thu Jan 19 17:21:53 2023

Finished rasterio.mask.mask() for D_2004_avg.tif. Thu Jan 19 17:21:55 2023

Written to file. Thu Jan 19 17:21:55 2023

Finished rasterio.mask.mask() for D_2004_cfc.tif. Thu Jan 19 17:21:57 2023

Written to file. Thu Jan 19 17:21:57 2023

Finished rasterio.mask.mask() for D_2005_avg.tif. Thu Jan 19 17:21:59 2023

Written to file. Thu Jan 19 17:21:59 2023

Finished rasterio.mask.mask() for D_2005_cfc.tif. Thu Jan 19 17:22:01 2023

Written to file. Thu Jan 19 17:22:01 2023

Finished rasterio.mask.mask() for D_2006_avg.tif. Thu Jan 19 17:22:03 2023

Written to file. Thu Jan 19 17:22:03 2023

Finished rasterio.mask.mask() for D_2006_cfc.tif. Thu Jan 19 17:22:05 2023

Written to file. Thu Jan 19 17:22:05 2023

Finished rasterio.mask.mask() for D_2007_avg.tif. Thu Jan 19 17:22:07 2023

Written to file. Thu Jan 19 17:22:07 2023

Finished rasterio.mask.mask() for D_2007_cfc.tif. Thu Jan 19 17:22:09 2023

Written to file. Thu Jan 19 17:22:09 2023

Finished rasterio.mask.mask() for D_2008_avg.tif. Thu Jan 19 17:22:12 2023

Written to file. Thu Jan 19 17:22:12 2023

Finished rasterio.mask.mask() for D_2008_cfc.tif. Thu Jan 19 17:22:14 2023

Written to file. Thu Jan 19 17:22:14 2023

Finished rasterio.mask.mask() for D_2009_avg.tif. Thu Jan 19 17:22:16 2023

Written to file. Thu Jan 19 17:22:16 2023

Finished rasterio.mask.mask() for D_2009_cfc.tif. Thu Jan 19 17:22:18 2023

Written to file. Thu Jan 19 17:22:18 2023

Finished rasterio.mask.mask() for D_2010_avg.tif. Thu Jan 19 17:22:20 2023

Written to file. Thu Jan 19 17:22:20 2023

Finished rasterio.mask.mask() for D_2010_cfc.tif. Thu Jan 19 17:22:22 2023

Written to file. Thu Jan 19 17:22:22 2023

Finished rasterio.mask.mask() for D_2011_avg.tif. Thu Jan 19 17:22:24 2023

Written to file. Thu Jan 19 17:22:24 2023

Finished rasterio.mask.mask() for D_2011_cfc.tif. Thu Jan 19 17:22:26 2023

Written to file. Thu Jan 19 17:22:26 2023

Finished rasterio.mask.mask() for D_2012_avg.tif. Thu Jan 19 17:22:28 2023

Written to file. Thu Jan 19 17:22:28 2023

Finished rasterio.mask.mask() for D_2012_cfc.tif. Thu Jan 19 17:22:30 2023

Written to file. Thu Jan 19 17:22:30 2023

Finished rasterio.mask.mask() for D_2013_avg.tif. Thu Jan 19 17:22:32 2023

Written to file. Thu Jan 19 17:22:32 2023

Finished rasterio.mask.mask() for D_2013_cfc.tif. Thu Jan 19 17:22:34 2023

Written to file. Thu Jan 19 17:22:34 2023

Finished rasterio.mask.mask() for V_2012_avg.tif. Thu Jan 19 17:22:37 2023

Written to file. Thu Jan 19 17:22:37 2023

Finished rasterio.mask.mask() for V_2012_cfc.tif. Thu Jan 19 17:22:39 2023

Written to file. Thu Jan 19 17:22:39 2023

Finished rasterio.mask.mask() for V_2013_avg.tif. Thu Jan 19 17:22:42 2023

Written to file. Thu Jan 19 17:22:42 2023

Finished rasterio.mask.mask() for V_2013_cfc.tif. Thu Jan 19 17:22:44 2023

Written to file. Thu Jan 19 17:22:45 2023

Finished rasterio.mask.mask() for V_2014_avg.tif. Thu Jan 19 17:22:47 2023

Written to file. Thu Jan 19 17:22:47 2023

Finished rasterio.mask.mask() for V_2014_cfc.tif. Thu Jan 19 17:22:49 2023

Written to file. Thu Jan 19 17:22:50 2023

Finished rasterio.mask.mask() for V_2015_avg.tif. Thu Jan 19 17:22:52 2023

Written to file. Thu Jan 19 17:22:52 2023

Finished rasterio.mask.mask() for V_2015_cfc.tif. Thu Jan 19 17:22:55 2023

Written to file. Thu Jan 19 17:22:55 2023



 Finished all years in list. Thu Jan 19 17:22:55 2023

In [6]:
print(os.listdir('NTL/'))

['Msk_D_1999_avg.tif', 'Msk_D_1999_cfc.tif', 'Msk_D_2000_avg.tif', 'Msk_D_2000_cfc.tif', 'Msk_D_2001_avg.tif', 'Msk_D_2001_cfc.tif', 'Msk_D_2002_avg.tif', 'Msk_D_2002_cfc.tif', 'Msk_D_2003_avg.tif', 'Msk_D_2003_cfc.tif', 'Msk_D_2004_avg.tif', 'Msk_D_2004_cfc.tif', 'Msk_D_2005_avg.tif', 'Msk_D_2005_cfc.tif', 'Msk_D_2006_avg.tif', 'Msk_D_2006_cfc.tif', 'Msk_D_2007_avg.tif', 'Msk_D_2007_cfc.tif', 'Msk_D_2008_avg.tif', 'Msk_D_2008_cfc.tif', 'Msk_D_2009_avg.tif', 'Msk_D_2009_cfc.tif', 'Msk_D_2010_avg.tif', 'Msk_D_2010_cfc.tif', 'Msk_D_2011_avg.tif', 'Msk_D_2011_cfc.tif', 'Msk_D_2012_avg.tif', 'Msk_D_2012_cfc.tif', 'Msk_D_2013_avg.tif', 'Msk_D_2013_cfc.tif', 'Msk_V_2012_avg.tif', 'Msk_V_2012_cfc.tif', 'Msk_V_2013_avg.tif', 'Msk_V_2013_cfc.tif', 'Msk_V_2014_avg.tif', 'Msk_V_2014_cfc.tif', 'Msk_V_2015_avg.tif', 'Msk_V_2015_cfc.tif', 'SourceFiles']

In [7]:
AnnualizedSourceFiles = None

### 9.2 Raster values summarized by settlement.
1. Convert each annualized raster to .xyz, 
2. then bring them to vector space and assign their Sett_ID,
3. and finally, aggregate the value as appropriate to the settlement level and save table to file.

XYZ is similar to .csv. Raster cell centers are stored as x and y, and their value is stored as z.

In [33]:
Settlements = gpd.read_file(r'Results/SETTLEMENTS.gpkg', layer='SETTLEMENTS_albers')[['Sett_ID', 'geometry']]
AllSummaries = pd.DataFrame(Settlements).drop(columns='geometry') # Create an ID-only dataframe on which to merge results.

AnnualizedMaskedFiles = [i for i in os.listdir('NTL') if i.endswith('.tif')]
AnnualizedMaskedFiles

['Msk_D_1999_avg.tif',
 'Msk_D_1999_cfc.tif',
 'Msk_D_2000_avg.tif',
 'Msk_D_2000_cfc.tif',
 'Msk_D_2001_avg.tif',
 'Msk_D_2001_cfc.tif',
 'Msk_D_2002_avg.tif',
 'Msk_D_2002_cfc.tif',
 'Msk_D_2003_avg.tif',
 'Msk_D_2003_cfc.tif',
 'Msk_D_2004_avg.tif',
 'Msk_D_2004_cfc.tif',
 'Msk_D_2005_avg.tif',
 'Msk_D_2005_cfc.tif',
 'Msk_D_2006_avg.tif',
 'Msk_D_2006_cfc.tif',
 'Msk_D_2007_avg.tif',
 'Msk_D_2007_cfc.tif',
 'Msk_D_2008_avg.tif',
 'Msk_D_2008_cfc.tif',
 'Msk_D_2009_avg.tif',
 'Msk_D_2009_cfc.tif',
 'Msk_D_2010_avg.tif',
 'Msk_D_2010_cfc.tif',
 'Msk_D_2011_avg.tif',
 'Msk_D_2011_cfc.tif',
 'Msk_D_2012_avg.tif',
 'Msk_D_2012_cfc.tif',
 'Msk_D_2013_avg.tif',
 'Msk_D_2013_cfc.tif',
 'Msk_V_2012_avg.tif',
 'Msk_V_2012_cfc.tif',
 'Msk_V_2013_avg.tif',
 'Msk_V_2013_cfc.tif',
 'Msk_V_2014_avg.tif',
 'Msk_V_2014_cfc.tif',
 'Msk_V_2015_avg.tif',
 'Msk_V_2015_cfc.tif']

In [34]:
AllSummaries

       Sett_ID
0            1
1            2
2            3
3            4
4            5
...        ...
13287   201743
13288   201776
13289   201797
13290   201799
13291   201819

[13292 rows x 1 columns]

In [35]:
for YearFile in AnnualizedMaskedFiles:
    
### STEP 1: TIF TO DATAFRAME OBJECT ###
    InputRasterPath = os.path.join(ProjectFolder, "NTL", YearFile)
    Sensor = YearFile[4:5]
    Year = YearFile[6:10]
    
    print('Loading data for %s. %s \n' % (YearFile, time.ctime()))
    
    ValDF = rioxarray.open_rasterio(InputRasterPath).to_dataframe("value").reset_index()
    ValDF = ValDF[ValDF.value < 100000] # Excluding NoData values by choosing a number far greater than the highest NTL value.
    ValDF = ValDF[ValDF.value > 0] 

    print('Created pandas dataframe from %s. %s \n' % (YearFile, time.ctime()))
    
    
### STEP 2: GENERATE GEODATAFRAME WITH SETT_ID FIELD ###
    ValDF = gpd.GeoDataFrame(ValDF,
                              geometry = gpd.points_from_xy(ValDF['x'], ValDF['y']),
                              crs = 'EPSG:4326')[['value', 'geometry']]
    print('Created geodataframe from non-NoData points, %s. %s \n' % (YearFile, time.ctime()))

    # Remember to reproject our new raster-derived geodataframe into the same equal area projection as Settlements.
    ValDF = ValDF.to_crs("ESRI:102022")
    
    # Sjoin_nearest: No need to group by ADM this time. 
    ValDF_withID = gpd.sjoin_nearest(ValDF, 
                                    Settlements, 
                                    how='left') # No need for max_distance parameter this time. We've already narrowed down to nearby raster cells.
    
    print('\nJoined settlement ID onto vectorized raster cells for %s. %s \n' % (YearFile, time.ctime()))
    try:
        print(ValDF_withID.sample(10))
    except ValueError:
        pass
    del ValDF
    
    # We no longer need the spatial information of the raster values because we have their unique settlement ID.
    ValDF_withID = pd.DataFrame(ValDF_withID).drop(columns='geometry')
    
    ValDF_withID.to_csv(''.join([r'NTL/', YearFile.replace('.tif', '.csv')]))
    print('\nExported as table. %s. %s \n' % (YearFile, time.ctime()))

    
### STEP 3: AGGREGATE BY SETTLEMENT AND MERGE ONTO SUMMARIES TABLE ###
 
    if YearFile.endswith('_avg.tif') == True:
        IndicType = '_avg'
    else:
        IndicType = '_cfc'

        
    if YearFile.find('cfc') == -1:
        # Cell count
        VariableName = ''.join(['NTLct_', Sensor, IndicType, Year])
        ValAggregated = ValDF_withID[
            ValDF_withID['value'].notna()].groupby(
            'Sett_ID', as_index=False)['value'].count().rename(columns={'value': VariableName})
        print('\nCells per settlement counted, year %s. %s \n' % (Year, time.ctime()))
        try:
            print(ValAggregated.sample(10))
        except ValueError:
            pass
        AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
        del VariableName, ValAggregated
    
        # Sum
        VariableName = ''.join(['NTLsum_', Sensor, IndicType, Year])
        ValAggregated = ValDF_withID[
            ValDF_withID['value'].notna()].groupby(
            'Sett_ID', as_index=False)['value'].sum().rename(columns={'value': VariableName})
        print('\nValues summed to settlement level, year %s. %s \n' % (Year, time.ctime()))
        try:
            print(ValAggregated.sample(10))
        except ValueError:
            pass
        AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
        del VariableName, ValAggregated
    
        # Average
        VariableName = ''.join(['NTLavg_', Sensor, IndicType, Year])
        ValAggregated = ValDF_withID[
            ValDF_withID['value'].notna()].groupby(
            'Sett_ID', as_index=False)['value'].mean().rename(columns={'value': VariableName})
        print('\nValues averaged to settlement level, year %s. %s \n' % (Year, time.ctime()))
        try:
            print(ValAggregated.sample(10))
        except ValueError:
            pass
        AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
        print('\nMerged year %s onto latest year settlement feature layer. %s \n' % (Year, time.ctime()))
        del VariableName, ValAggregated
        
        # Maximum
        VariableName = ''.join(['NTLmax_', Sensor, IndicType, Year])
        ValAggregated = ValDF_withID[
            ValDF_withID['value'].notna()].groupby(
            'Sett_ID', as_index=False)['value'].max().rename(columns={'value': VariableName})
        print('\nMax value of available pixels assigned at settlement level, year %s. %s \n' % (Year, time.ctime()))
        try:
            print(ValAggregated.sample(10))
        except ValueError:
            pass
        AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
        print('\nMerged year %s onto latest year settlement feature layer. %s \n' % (Year, time.ctime()))
        del VariableName, ValAggregated
        
        # Minimum
        VariableName = ''.join(['NTLmin_', Sensor, IndicType, Year])
        ValAggregated = ValDF_withID[
            ValDF_withID['value'].notna()].groupby(
            'Sett_ID', as_index=False)['value'].min().rename(columns={'value': VariableName})
        print('\nMin value of available pixels assigned at settlement level, year %s. %s \n' % (Year, time.ctime()))
        try:
            print(ValAggregated.sample(10))
        except ValueError:
            pass
        AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
        print('\nMerged year %s onto latest year settlement feature layer. %s \n' % (Year, time.ctime()))
        del VariableName, ValAggregated


    else:
        # Average of cloud-free observations
        VariableName = ''.join(['NTLcfc_', Sensor, '_', Year])
        ValAggregated = ValDF_withID[
            ValDF_withID['value'].notna()].groupby(
            'Sett_ID', as_index=False)['value'].mean().rename(columns={'value': VariableName})
        print('\nCount of cloud-free observations averaged to settlement level, year %s. %s \n' % (Year, time.ctime()))
        try:
            print(ValAggregated.sample(10))
        except ValueError:
            pass
        AllSummaries = AllSummaries.merge(ValAggregated, how='left', on='Sett_ID')
        print('\nMerged year %s onto latest year settlement feature layer. %s \n' % (Year, time.ctime()))
        del VariableName, ValAggregated
    
    print(AllSummaries.sample(10))

    

print('\n\nFinished. All years masked and assigned their nearest settlement. %s' % time.ctime())

AllSummaries.to_csv(os.path.join(ResultsFolder, 'NTL%sto%s.csv' % (1999, 2015)))
print('Saved to file. %s \n' % time.ctime())

Loading data for Msk_D_1999_avg.tif. Thu Jan 19 19:22:44 2023

Created pandas dataframe from Msk_D_1999_avg.tif. Thu Jan 19 19:22:44 2023

Created geodataframe from non-NoData points, Msk_D_1999_avg.tif. Thu Jan 19 19:22:44 2023


Joined settlement ID onto vectorized raster cells for Msk_D_1999_avg.tif. Thu Jan 19 19:22:49 2023

             value                          geometry  index_right  Sett_ID
839228    4.605854   POINT (-1534636.267 618905.242)         7013    49131
833735    3.138605   POINT (-1563253.200 624621.214)         7280    51594
83561     2.417447  POINT (-1067902.905 1430526.678)        12074   191358
914267    3.116667   POINT (-1171378.545 540260.867)         9780    74882
970209   57.097740   POINT (-1584812.137 476873.424)         3026    12521
1039554   2.958242   POINT (-1424251.015 402951.542)         4701    22721
898496    3.903226   POINT (-1432068.881 555601.140)         8372    63000
826509    3.833730   POINT (-1516534.952 632778.194)         7015    49133
767392    3.238571   POINT (-1488343.101 696791.981)         9753    73990
761893    3.185520   POINT (-1522165.965 702472.682)         8076    59173

Exported as table. Msk_D_1999_avg.tif. Thu Jan 19 19:22:49 2023


Cells per settlement counted, year 1999. Thu Jan 19 19:22:49 2023

      Sett_ID  NTLct_D_avg1999
3617    51739                1
6182   196225                1
4988    89177                1
6480   199468                1
1851    19138                1
6340   197824                1
5956   191257                1
784      4283                1
4002    60480                1
4925    82449                1

Values summed to settlement level, year 1999. Thu Jan 19 19:22:49 2023

      Sett_ID  NTLsum_D_avg1999
5659   156313          2.693027
1152     7624          2.514286
3227    46466          2.959677
2280    22908          2.426523
1503    12918          3.174248
1986    19424          2.954762
4086    63160          3.073671
6494   199679          3.488947
6050   191699          2.347291
1474    12757         14.764286

Values averaged to settlement level, year 1999. Thu Jan 19 19:22:49 2023

      Sett_ID  NTLavg_D_avg1999
3066    44552          2.888402
4448    68939          2.924138
3583    51686          2.800113
1694    14714          3.372727
5008    89215          2.863102
4112    63216          2.598485
2652    28425          2.828571
5596   146273          3.729787
4758    74921          2.911255
1040     6377          2.708043

Merged year 1999 onto latest year settlement feature layer. Thu Jan 19 19:22:49 2023


Max value of available pixels assigned at settlement level, year 1999. Thu Jan 19 19:22:49 2023

      Sett_ID  NTLmax_D_avg1999
5030    90683          2.795556
3145    45290          2.989233
6520   199892          2.591765
4058    63100          2.720766
2103    20517          2.733212
5352   126320          2.736486
4157    65300          2.891667
6503   199852          2.955347
3084    45204          3.204969
2260    22796          8.488782

Merged year 1999 onto latest year settlement feature layer. Thu Jan 19 19:22:49 2023


Min value of available pixels assigned at settlement level, year 1999. Thu Jan 19 19:22:49 2023

      Sett_ID  NTLmin_D_avg1999
4305    68717          2.998168
4588    70662          2.920833
5430   136130          2.854167
311      1870          3.228632
2545    26185          2.718391
1213     7832          3.259780
5616   151678         22.854530
4890    79733          3.029830
2206    22705          3.069570
136       757          2.895833

Merged year 1999 onto latest year settlement feature layer. Thu Jan 19 19:22:49 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
12821   198075              NaN               NaN               NaN
11435   155941              NaN               NaN               NaN
12975   198742              NaN               NaN               NaN
3196     13013              NaN               NaN               NaN
3684     16872              NaN               NaN               NaN
11411   155634              2.0          6.443295          3.221647
13171   199740              NaN               NaN               NaN
12087   191385              NaN               NaN               NaN
11907   188136              1.0          2.894487          2.894487
1133      3203              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999
12821               NaN               NaN
11435               NaN               NaN
12975               NaN               NaN
3196                NaN               NaN
3684                NaN               NaN
11411          3.325684          3.117610
13171               NaN               NaN
12087               NaN               NaN
11907          2.894487          2.894487
1133                NaN               NaN
Loading data for Msk_D_1999_cfc.tif. Thu Jan 19 19:22:49 2023

Created pandas dataframe from Msk_D_1999_cfc.tif. Thu Jan 19 19:22:49 2023

Created geodataframe from non-NoData points, Msk_D_1999_cfc.tif. Thu Jan 19 19:22:50 2023


Joined settlement ID onto vectorized raster cells for Msk_D_1999_cfc.tif. Thu Jan 19 19:24:09 2023

         value                          geometry  index_right  Sett_ID
198932     255  POINT (-1240196.469 1307261.567)        11757   175762
1006292    255   POINT (-1071379.573 441235.718)         2122     6408
342263     255  POINT (-1629122.392 1151949.897)        10185    85519
361887     255  POINT (-1182907.076 1134120.294)        11353   146515
166957     255  POINT (-1348942.177 1340484.999)        11729   175220
1107355    255   POINT (-1025052.895 331946.918)         2056     6342
133998     255  POINT (-1522008.042 1374194.566)        11729   175220
55516      255  POINT (-1715441.778 1455697.995)        11729   175220
239043     255  POINT (-1178329.789 1265024.551)        11730   175227
992852     255   POINT (-1677254.674 451621.843)         2444     7776

Exported as table. Msk_D_1999_cfc.tif. Thu Jan 19 19:24:11 2023


Count of cloud-free observations averaged to settlement level, year 1999. Thu Jan 19 19:24:11 2023

       Sett_ID  NTLcfc_D_1999
3532     16958      255.00000
3867     19314      255.00000
10267   136543      255.00000
4522     22753      255.00000
8005     64671      255.00000
7770     61231      197.75000
11074   188138      229.12500
6672     48495      250.58000
5379     28280      236.37069
12254   199860      232.50000

Merged year 1999 onto latest year settlement feature layer. Thu Jan 19 19:24:11 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
5650     28328              4.0         11.880182          2.970046
6014     35335              NaN               NaN               NaN
11871   187963              1.0          2.701354          2.701354
5067     24262              NaN               NaN               NaN
10328    91406              1.0          2.790210          2.790210
1450      4123              NaN               NaN               NaN
1401      3999              NaN               NaN               NaN
11881   188063              1.0          2.777013          2.777013
11925   188230              1.0          2.595494          2.595494
4844     23072              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999
5650           3.051940          2.872027     219.416667
6014                NaN               NaN     255.000000
11871          2.701354          2.701354     253.226087
5067                NaN               NaN     255.000000
10328          2.790210          2.790210     236.500000
1450                NaN               NaN     255.000000
1401                NaN               NaN     255.000000
11881          2.777013          2.777013     249.416667
11925          2.595494          2.595494     247.444444
4844                NaN               NaN     255.000000
Loading data for Msk_D_2000_avg.tif. Thu Jan 19 19:24:11 2023

Created pandas dataframe from Msk_D_2000_avg.tif. Thu Jan 19 19:24:11 2023

Created geodataframe from non-NoData points, Msk_D_2000_avg.tif. Thu Jan 19 19:24:11 2023

Joined settlement ID onto vectorized raster cells for Msk_D_2000_avg.tif. Thu Jan 19 19:24:13 2023

             value                         geometry  index_right  Sett_ID
1067798   2.551342  POINT (-1394657.008 372545.426)         4710    22731
1049566   3.027961  POINT (-1422457.221 392113.396)         4687    22707
606667    4.541837  POINT (-1190308.817 871857.747)        10942   133991
968379   41.890804  POINT (-1593480.324 478787.304)         3087    12883
970200   48.277779  POINT (-1592601.928 476822.713)         3087    12883
875087    3.168706  POINT (-1214876.909 582357.504)         9829    74961
1007747   4.625306  POINT (-1387240.562 437672.994)         5119    24517
715449    3.980515  POINT (-1551939.042 752315.677)        10152    85422
1041744   2.640152  POINT (-1104090.980 402638.141)         6303    38127
1087823   2.724042  POINT (-1390207.483 350864.082)         1337     3809

Exported as table. Msk_D_2000_avg.tif. Thu Jan 19 19:24:13 2023


Cells per settlement counted, year 2000. Thu Jan 19 19:24:13 2023

      Sett_ID  NTLct_D_avg2000
4166    65769                1
6292   197655                1
3466    49224                4
2770    33990                1
4112    63216                1
1958    19379                1
5057    91618                1
259      1706                9
3588    51695                1
3653    52774                1

Values summed to settlement level, year 2000. Thu Jan 19 19:24:13 2023

      Sett_ID  NTLsum_D_avg2000
4531    69084          3.125000
4482    68993          2.790703
5929   191053          3.195434
2234    22746          6.074988
5584   146174          4.647887
1481    12888         14.403334
972      5939          2.650624
5348   126312          9.764309
3222    46460          2.910256
4907    80278          2.930871

Values averaged to settlement level, year 2000. Thu Jan 19 19:24:13 2023

      Sett_ID  NTLavg_D_avg2000
4055    63092          2.900573
3657    52804          2.990385
6326   197714          5.339622
1101     7107          2.645454
725      4170          2.926667
6444   198946          3.290305
3514    51393          3.201389
286      1757          2.942177
6342   197848          3.045163
4921    82444          3.052791

Merged year 2000 onto latest year settlement feature layer. Thu Jan 19 19:24:13 2023


Max value of available pixels assigned at settlement level, year 2000. Thu Jan 19 19:24:13 2023

      Sett_ID  NTLmax_D_avg2000
5954   191253          2.713542
3113    45239          3.176136
6498   199728          4.175858
3461    49219          3.732143
4818    79530          2.866283
6137   195354          3.466625
97        445          3.561809
1997    19443          2.883208
3916    59188          2.996542
3616    51738          3.148527

Merged year 2000 onto latest year settlement feature layer. Thu Jan 19 19:24:13 2023


Min value of available pixels assigned at settlement level, year 2000. Thu Jan 19 19:24:13 2023

      Sett_ID  NTLmin_D_avg2000
6441   198906          2.963848
5612   146664          2.851307
1143     7506          4.880476
5805   175483          2.779121
1712    15121          2.734776
2531    25668          3.280429
2824    36262          3.040472
5061    91628          3.512681
1398    10085          3.141150
3586    51691          3.140530

Merged year 2000 onto latest year settlement feature layer. Thu Jan 19 19:24:13 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
10526   104749              NaN               NaN               NaN
445       1305              1.0          2.988095          2.988095
12595   197213              NaN               NaN               NaN
2536      8121              NaN               NaN               NaN
4966     23678              NaN               NaN               NaN
7926     56925              NaN               NaN               NaN
3821     18042              NaN               NaN               NaN
36          44              3.0         18.189800          6.063267
2107      6393              NaN               NaN               NaN
1002      2745              1.0          3.413105          3.413105

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
10526               NaN               NaN     255.000000              NaN
445            2.988095          2.988095     143.500000              1.0
12595               NaN               NaN     255.000000              NaN
2536                NaN               NaN     255.000000              NaN
4966                NaN               NaN     255.000000              NaN
7926                NaN               NaN            NaN              NaN
3821                NaN               NaN            NaN              NaN
36             6.891304          5.505017     243.543860              3.0
2107                NaN               NaN     255.000000              NaN
1002           3.413105          3.413105     234.818182              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  NTLmax_D_avg2000  NTLmin_D_avg2000
10526               NaN               NaN               NaN               NaN
445            3.061569          3.061569          3.061569          3.061569
12595               NaN               NaN               NaN               NaN
2536                NaN               NaN               NaN               NaN
4966                NaN               NaN               NaN               NaN
7926                NaN               NaN               NaN               NaN
3821                NaN               NaN               NaN               NaN
36            16.353346          5.451115          5.844888          5.148809
2107                NaN               NaN               NaN               NaN
1002           2.986863          2.986863          2.986863          2.986863
Loading data for Msk_D_2000_cfc.tif. Thu Jan 19 19:24:13 2023

Created pandas dataframe from Msk_D_2000_cfc.tif. Thu Jan 19 19:24:13 2023

Created geodataframe from non-NoData points, Msk_D_2000_cfc.tif. Thu Jan 19 19:24:14 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2000_cfc.tif. Thu Jan 19 19:25:26 2023

         value                          geometry  index_right  Sett_ID
1005185    255   POINT (-1241869.292 441413.269)         6250    36985
553302     255   POINT (-1697855.470 925546.818)        10182    85516
822882     255   POINT (-1505300.071 636778.483)         9368    70011
879324     255   POINT (-1485874.903 575940.412)         8392    63044
658484     255   POINT (-1235974.149 815849.782)        10796   126061
974874     255   POINT (-1485245.806 472573.648)         3430    14709
361006     255  POINT (-1157743.627 1135212.024)        11402   155525
30479      255  POINT (-1330617.151 1484988.549)        12280   192845
982894     255   POINT (-1632324.124 462766.422)         2431     7761
800745     255    POINT (-974475.937 664034.406)         6418    38401

Exported as table. Msk_D_2000_cfc.tif. Thu Jan 19 19:25:28 2023


Count of cloud-free observations averaged to settlement level, year 2000. Thu Jan 19 19:25:28 2023

       Sett_ID  NTLcfc_D_2000
5261     26631     255.000000
2145      7043     253.532374
4575     22814     203.750000
9208     79595     107.300000
11753   197625     213.600000
12196   199346     186.333333
8971     73402     255.000000
8191     66543     255.000000
12011   198474      53.000000
1919      5904     255.000000

Merged year 2000 onto latest year settlement feature layer. Thu Jan 19 19:25:28 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
6613     46405              1.0          2.878968          2.878968
5527     27164              1.0          2.493333          2.493333
3702     17001              1.0          3.146686          3.146686
12533   196613              NaN               NaN               NaN
5883     33921              1.0          2.719077          2.719077
4281     19789              NaN               NaN               NaN
869       2598              1.0          3.020833          3.020833
5101     24415              1.0          3.036325          3.036325
1803      5100              NaN               NaN               NaN
3911     19147              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
6613           2.878968          2.878968     247.937500              1.0
5527           2.493333          2.493333     248.218750              1.0
3702           3.146686          3.146686     181.000000              1.0
12533               NaN               NaN            NaN              NaN
5883           2.719077          2.719077     244.523810              1.0
4281                NaN               NaN     255.000000              NaN
869            3.020833          3.020833     251.944444              1.0
5101           3.036325          3.036325     245.304348              1.0
1803                NaN               NaN     255.000000              NaN
3911                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  NTLmax_D_avg2000  NTLmin_D_avg2000  \
6613           2.851648          2.851648          2.851648          2.851648
5527           2.881538          2.881538          2.881538          2.881538
3702           3.166601          3.166601          3.166601          3.166601
12533               NaN               NaN               NaN               NaN
5883           2.827673          2.827673          2.827673          2.827673
4281                NaN               NaN               NaN               NaN
869            3.030612          3.030612          3.030612          3.030612
5101           2.639423          2.639423          2.639423          2.639423
1803                NaN               NaN               NaN               NaN
3911                NaN               NaN               NaN               NaN

       NTLcfc_D_2000
6613      248.312500
5527      248.656250
3702      187.000000
12533            NaN
5883      245.190476
4281      255.000000
869       252.138889
5101      246.086957
1803      255.000000
3911      255.000000
Loading data for Msk_D_2001_avg.tif. Thu Jan 19 19:25:28 2023

Created pandas dataframe from Msk_D_2001_avg.tif. Thu Jan 19 19:25:28 2023

Created geodataframe from non-NoData points, Msk_D_2001_avg.tif. Thu Jan 19 19:25:28 2023

Joined settlement ID onto vectorized raster cells for Msk_D_2001_avg.tif. Thu Jan 19 19:25:30 2023

             value                          geometry  index_right  Sett_ID
997720   29.755117   POINT (-1402014.539 448430.726)         3884    19120
1110544   2.741602   POINT (-1415151.796 326047.248)          998     2741
815581    2.873044   POINT (-1523537.194 644526.118)         7015    49133
794644    2.946522   POINT (-1529741.588 667080.734)         7786    56245
32564     3.079179  POINT (-1100294.417 1484210.512)        12226   191801
1183819   2.757239   POINT (-1003950.914 249088.582)         2034     6320
811906    2.853117   POINT (-1553876.630 648264.913)         7398    51744
1094898   5.977622   POINT (-1567498.887 341894.420)          158      448
38005     2.804409  POINT (-1116781.150 1478373.823)        12208   191757
809193    2.818343   POINT (-1539170.817 651305.321)         7785    56244

Exported as table. Msk_D_2001_avg.tif. Thu Jan 19 19:25:30 2023


Cells per settlement counted, year 2001. Thu Jan 19 19:25:30 2023

      Sett_ID  NTLct_D_avg2001
1755    16363                1
4216    66548                3
3325    48384                1
2055    19624                1
1553    12995                2
5744   169879                2
3486    49954                1
6302   197669                2
3231    46472                1
5746   169891                1

Values summed to settlement level, year 2001. Thu Jan 19 19:25:30 2023

      Sett_ID  NTLsum_D_avg2001
5575   146112          2.968813
21         31          2.878284
1984    19422          3.047619
1479    12886          9.903390
3850    56879          2.760539
4069    63123          3.464286
4703    73542          2.953043
626      3696          2.954762
3786    56254          2.612791
2771    33991          2.813776

Values averaged to settlement level, year 2001. Thu Jan 19 19:25:30 2023

      Sett_ID  NTLavg_D_avg2001
176      1061          2.856215
3840    56399          2.811154
391      2573          3.070176
3022    38325          2.717514
5433   136172          3.191283
2013    19466          3.144231
2525    25564          2.852685
5983   191346          3.001096
1719    15238          2.857674
3761    55524          2.912633

Merged year 2001 onto latest year settlement feature layer. Thu Jan 19 19:25:30 2023


Max value of available pixels assigned at settlement level, year 2001. Thu Jan 19 19:25:30 2023

      Sett_ID  NTLmax_D_avg2001
5105    97833          3.125000
5862   187864          7.004929
5315   126055          2.805116
1194     7803          6.178679
6359   197972          3.021986
3643    52289          2.974979
587      3375          3.197422
4164    65708          2.878719
1163     7754          3.175979
1664    14656          2.873402

Merged year 2001 onto latest year settlement feature layer. Thu Jan 19 19:25:30 2023


Min value of available pixels assigned at settlement level, year 2001. Thu Jan 19 19:25:30 2023

      Sett_ID  NTLmin_D_avg2001
6176   196197          3.142521
4479    68988          3.151822
3338    48400          2.829861
5484   144627          3.287205
5851   183893          2.772131
1131     7383          2.980618
5954   191253          2.842999
1717    15178          2.813070
430      2643          2.969003
1266     9099          2.950213

Merged year 2001 onto latest year settlement feature layer. Thu Jan 19 19:25:30 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
6974     48783              NaN               NaN               NaN
2453      7785              1.0          5.680759          5.680759
9541     71680              NaN               NaN               NaN
10470   104541              2.0          5.726496          2.863248
12986   198785              NaN               NaN               NaN
3277     13723              1.0          4.588624          4.588624
7546     53572              NaN               NaN               NaN
1243      3568              NaN               NaN               NaN
245        766              1.0          2.820833          2.820833
11218   145729              1.0          2.861471          2.861471

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
6974                NaN               NaN            NaN              NaN
2453           5.680759          5.680759     184.000000              1.0
9541                NaN               NaN     255.000000              NaN
10470          3.008547          2.717949     250.406250              2.0
12986               NaN               NaN     255.000000              NaN
3277           4.588624          4.588624      38.000000              1.0
7546                NaN               NaN            NaN              NaN
1243                NaN               NaN     255.000000              NaN
245            2.820833          2.820833     223.142857              1.0
11218          2.861471          2.861471     251.448276              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  NTLmax_D_avg2000  NTLmin_D_avg2000  \
6974                NaN               NaN               NaN               NaN
2453           5.678572          5.678572          5.678572          5.678572
9541                NaN               NaN               NaN               NaN
10470          5.827814          2.913907          2.966200          2.861614
12986               NaN               NaN               NaN               NaN
3277           4.372222          4.372222          4.372222          4.372222
7546                NaN               NaN               NaN               NaN
1243                NaN               NaN               NaN               NaN
245            2.929770          2.929770          2.929770          2.929770
11218          2.981605          2.981605          2.981605          2.981605

       NTLcfc_D_2000  NTLct_D_avg2001  NTLsum_D_avg2001  NTLavg_D_avg2001  \
6974             NaN              NaN               NaN               NaN
2453      190.666667              1.0          5.522368          5.522368
9541      255.000000              NaN               NaN               NaN
10470     250.583333              2.0          7.201923          3.600962
12986     255.000000              NaN               NaN               NaN
3277       52.000000              1.0          4.535417          4.535417
7546             NaN              NaN               NaN               NaN
1243      255.000000              NaN               NaN               NaN
245       226.285714              1.0          3.094545          3.094545
11218     251.689655              1.0          2.689531          2.689531

       NTLmax_D_avg2001  NTLmin_D_avg2001
6974                NaN               NaN
2453           5.522368          5.522368
9541                NaN               NaN
10470          3.753205          3.448718
12986               NaN               NaN
3277           4.535417          4.535417
7546                NaN               NaN
1243                NaN               NaN
245            3.094545          3.094545
11218          2.689531          2.689531
Loading data for Msk_D_2001_cfc.tif. Thu Jan 19 19:25:30 2023

Created pandas dataframe from Msk_D_2001_cfc.tif. Thu Jan 19 19:25:31 2023

Created geodataframe from non-NoData points, Msk_D_2001_cfc.tif. Thu Jan 19 19:25:31 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2001_cfc.tif. Thu Jan 19 19:26:43 2023

         value                          geometry  index_right  Sett_ID
73261      255  POINT (-1319944.537 1439880.003)        11979   191089
383419     255  POINT (-1450070.027 1109361.530)        11119   143025
1035728    255   POINT (-1585216.579 405903.353)         2738     9348
1111885    255   POINT (-1042332.168 326938.442)         2056     6342
1033376    255   POINT (-1258154.415 410767.497)         6246    36867
840073     255   POINT (-1590922.168 617562.040)         6994    48968
1064198    255   POINT (-1360072.499 376686.775)         1609     4329
1182757    255   POINT (-1135393.487 249499.778)         6211    36571
593305     255    POINT (-940687.910 887613.370)        11045   136271
507672     255   POINT (-1021701.374 979088.512)        11029   136161

Exported as table. Msk_D_2001_cfc.tif. Thu Jan 19 19:26:46 2023


Count of cloud-free observations averaged to settlement level, year 2001. Thu Jan 19 19:26:46 2023

       Sett_ID  NTLcfc_D_2001
7243     54805      48.000000
5573     33159     253.638889
4460     22687     255.000000
5572     33156     255.000000
2055      6416     255.000000
9656     97910     255.000000
933       2717     255.000000
5935     36525     243.476190
10462   146039     251.920635
2398      7825     211.333333

Merged year 2001 onto latest year settlement feature layer. Thu Jan 19 19:26:46 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
6052     36262              1.0          2.950807          2.950807
2075      6361              2.0          5.629714          2.814857
2395      7656              NaN               NaN               NaN
10467   104520              1.0          3.126068          3.126068
4458     20788              NaN               NaN               NaN
1206      3435              1.0          2.769841          2.769841
4576     21921              NaN               NaN               NaN
11431   155909              NaN               NaN               NaN
7594     54166              NaN               NaN               NaN
3433     14714              1.0          3.372727          3.372727

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
6052           2.950807          2.950807     254.182836              1.0
2075           2.959922          2.669792     231.526316              2.0
2395                NaN               NaN     255.000000              NaN
10467          3.126068          3.126068     245.608696              1.0
4458                NaN               NaN            NaN              NaN
1206           2.769841          2.769841     232.800000              1.0
4576                NaN               NaN     255.000000              NaN
11431               NaN               NaN     255.000000              NaN
7594                NaN               NaN            NaN              NaN
3433           3.372727          3.372727     249.054054              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  NTLmax_D_avg2000  NTLmin_D_avg2000  \
6052           3.040472          3.040472          3.040472          3.040472
2075           5.985463          2.992732          3.000769          2.984694
2395                NaN               NaN               NaN               NaN
10467          3.282675          3.282675          3.282675          3.282675
4458                NaN               NaN               NaN               NaN
1206           3.071499          3.071499          3.071499          3.071499
4576                NaN               NaN               NaN               NaN
11431               NaN               NaN               NaN               NaN
7594                NaN               NaN               NaN               NaN
3433           3.326923          3.326923          3.326923          3.326923

       NTLcfc_D_2000  NTLct_D_avg2001  NTLsum_D_avg2001  NTLavg_D_avg2001  \
6052      254.223881              1.0          2.551198          2.551198
2075      232.894737              2.0          5.405438          2.702719
2395      255.000000              NaN               NaN               NaN
10467     245.869565              1.0          2.872140          2.872140
4458             NaN              NaN               NaN               NaN
1206      234.000000              1.0          2.814118          2.814118
4576      255.000000              NaN               NaN               NaN
11431     255.000000              NaN               NaN               NaN
7594             NaN              NaN               NaN               NaN
3433      249.567568              1.0          3.089812          3.089812

       NTLmax_D_avg2001  NTLmin_D_avg2001  NTLcfc_D_2001
6052           2.551198          2.551198     254.246269
2075           2.799843          2.605595     233.526316
2395                NaN               NaN     255.000000
10467          2.872140          2.872140     246.130435
4458                NaN               NaN            NaN
1206           2.814118          2.814118     234.600000
4576                NaN               NaN     255.000000
11431               NaN               NaN     255.000000
7594                NaN               NaN            NaN
3433           3.089812          3.089812     249.459459
Loading data for Msk_D_2002_avg.tif. Thu Jan 19 19:26:46 2023

Created pandas dataframe from Msk_D_2002_avg.tif. Thu Jan 19 19:26:46 2023

Created geodataframe from non-NoData points, Msk_D_2002_avg.tif. Thu Jan 19 19:26:46 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2002_avg.tif. Thu Jan 19 19:26:48 2023

            value                         geometry  index_right  Sett_ID
488328   4.126623  POINT (-1224754.925 998636.047)        11093   142842
844712   3.029040  POINT (-1513814.830 613137.116)        12330   195330
1000435  3.694070  POINT (-1414978.864 445399.095)        13129   199468
859274   3.092857  POINT (-1511985.388 597417.280)         8736    66476
1123440  3.431849  POINT (-1280139.444 312973.242)         1425     4087
741885   2.476470  POINT (-1511903.573 724124.162)        10334    91470
1095810  5.416667  POINT (-1565762.444 340918.678)           41       52
1032276  3.194161  POINT (-1422566.471 410850.332)        12748   197848
983086   2.950498  POINT (-1466151.149 463821.375)         3420    14697
1038699  3.072838  POINT (-1376666.691 404210.852)         4743    22771

Exported as table. Msk_D_2002_avg.tif. Thu Jan 19 19:26:48 2023


Cells per settlement counted, year 2002. Thu Jan 19 19:26:48 2023

      Sett_ID  NTLct_D_avg2002
4669    72414                1
696      4121                1
1895    19249                1
5865   188010                1
4302    68712                1
5126   104511                8
3019    38316                1
191      1180                1
1782    17065                1
3759    55418                1

Values summed to settlement level, year 2002. Thu Jan 19 19:26:48 2023

      Sett_ID  NTLsum_D_avg2002
3783    56250         15.156485
400      2588          3.372222
4838    79609          2.778125
428      2641          5.248641
345      2092          3.230494
4594    70769          2.662202
2713    32788          2.586996
3413    49146          3.015152
5701   163862          2.552109
2525    25564          2.855413

Values averaged to settlement level, year 2002. Thu Jan 19 19:26:48 2023

      Sett_ID  NTLavg_D_avg2002
5782   174891          3.120297
6283   197637          3.442187
6085   191824          2.781493
2270    22810          2.712179
3589    51696          3.025012
5838   183008          2.678493
26         42          3.460541
582      3352          3.321970
491      2739          3.120455
4678    72723          2.786720

Merged year 2002 onto latest year settlement feature layer. Thu Jan 19 19:26:48 2023


Max value of available pixels assigned at settlement level, year 2002. Thu Jan 19 19:26:48 2023

      Sett_ID  NTLmax_D_avg2002
3806    56286          2.912465
70        106          3.161685
3498    50464          2.988095
2990    38222          2.752801
2874    36389          2.860577
322      1937          2.929238
4306    68718          3.010204
3613    51731          2.977823
3644    52327          2.973312
6153   196157          3.619349

Merged year 2002 onto latest year settlement feature layer. Thu Jan 19 19:26:48 2023


Min value of available pixels assigned at settlement level, year 2002. Thu Jan 19 19:26:48 2023

      Sett_ID  NTLmin_D_avg2002
4371    68811          2.707839
833      4371          2.859073
2513    25369          3.748482
5173   105496          3.065126
4525    69077          3.144444
5492   145479          2.690136
5858   187860          2.998043
217      1375          4.471970
2227    22734          2.748663
2878    36396          2.842642

Merged year 2002 onto latest year settlement feature layer. Thu Jan 19 19:26:48 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
2731      9334              NaN               NaN               NaN
4596     22044              1.0          2.840320          2.840320
10243    89199              2.0          5.672654          2.836327
3575     15950              NaN               NaN               NaN
6413     38388              1.0          2.694679          2.694679
8682     65808              NaN               NaN               NaN
830       2516              1.0          2.935897          2.935897
5013     23945              NaN               NaN               NaN
8586     64652              1.0          3.209574          3.209574
13278   201554              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
2731                NaN               NaN     255.000000              NaN
4596           2.840320          2.840320     182.333333              1.0
10243          2.921429          2.751225     220.692308              2.0
3575                NaN               NaN     255.000000              NaN
6413           2.694679          2.694679     252.215190              1.0
8682                NaN               NaN     255.000000              NaN
830            2.935897          2.935897     233.000000              1.0
5013                NaN               NaN     255.000000              NaN
8586           3.209574          3.209574     201.000000              1.0
13278               NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2001  \
2731                NaN               NaN  ...               NaN
4596           2.698113          2.698113  ...          2.915734
10243          6.182209          3.091105  ...          6.299101
3575                NaN               NaN  ...               NaN
6413           2.518395          2.518395  ...          2.784785
8682                NaN               NaN  ...               NaN
830            2.654974          2.654974  ...          2.952830
5013                NaN               NaN  ...               NaN
8586           3.069848          3.069848  ...          2.790000
13278               NaN               NaN  ...               NaN

       NTLavg_D_avg2001  NTLmax_D_avg2001  NTLmin_D_avg2001  NTLcfc_D_2001  \
2731                NaN               NaN               NaN     255.000000
4596           2.915734          2.915734          2.915734     188.666667
10243          3.149550          3.256879          3.042222     223.846154
3575                NaN               NaN               NaN     255.000000
6413           2.784785          2.784785          2.784785     252.506329
8682                NaN               NaN               NaN     255.000000
830            2.952830          2.952830          2.952830     234.800000
5013                NaN               NaN               NaN     255.000000
8586           2.790000          2.790000          2.790000     206.000000
13278               NaN               NaN               NaN     255.000000

       NTLct_D_avg2002  NTLsum_D_avg2002  NTLavg_D_avg2002  NTLmax_D_avg2002  \
2731               NaN               NaN               NaN               NaN
4596               1.0          3.050325          3.050325          3.050325
10243              2.0          5.603855          2.801927          2.890625
3575               NaN               NaN               NaN               NaN
6413               1.0          2.866587          2.866587          2.866587
8682               NaN               NaN               NaN               NaN
830                1.0          2.890179          2.890179          2.890179
5013               NaN               NaN               NaN               NaN
8586               1.0          3.028032          3.028032          3.028032
13278              NaN               NaN               NaN               NaN

       NTLmin_D_avg2002
2731                NaN
4596           3.050325
10243          2.713230
3575                NaN
6413           2.866587
8682                NaN
830            2.890179
5013                NaN
8586           3.028032
13278               NaN

[10 rows x 24 columns]
Loading data for Msk_D_2002_cfc.tif. Thu Jan 19 19:26:48 2023

Created pandas dataframe from Msk_D_2002_cfc.tif. Thu Jan 19 19:26:48 2023

Created geodataframe from non-NoData points, Msk_D_2002_cfc.tif. Thu Jan 19 19:26:48 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2002_cfc.tif. Thu Jan 19 19:28:03 2023

         value                          geometry  index_right  Sett_ID
607002     255   POINT (-1688785.846 867944.087)        10193    88984
1139887    255   POINT (-1222098.628 295499.399)         1846     5226
103149     255  POINT (-1443147.877 1407428.432)        11757   175762
888903     255   POINT (-1071071.495 568275.000)         6409    38382
90258      255  POINT (-1574428.008 1420096.938)        11729   175220
1113871    255   POINT (-1685867.779 320377.813)            7        9
160770     255  POINT (-1190021.791 1348063.810)        11945   190217
578582     255   POINT (-1082076.194 902668.315)        10998   136073
39562      255  POINT (-1345339.257 1475304.608)        12280   192845
1110449    255   POINT (-1497326.472 325556.600)           58       70

Exported as table. Msk_D_2002_cfc.tif. Thu Jan 19 19:28:06 2023


Count of cloud-free observations averaged to settlement level, year 2002. Thu Jan 19 19:28:06 2023

       Sett_ID  NTLcfc_D_2002
9278     79733     199.750000
6542     46937     242.058824
3398     15813     255.000000
10582   155470     247.461538
11464   193697     255.000000
12163   199146     255.000000
5957     36638     254.862772
10974   182963     255.000000
6811     49298     231.222222
9505     89711     255.000000

Merged year 2002 onto latest year settlement feature layer. Thu Jan 19 19:28:06 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
4013     19281              NaN               NaN               NaN
5734     29528              NaN               NaN               NaN
1904      5404              NaN               NaN               NaN
10047    79853              NaN               NaN               NaN
5686     28415              1.0          3.035869          3.035869
3500     15238              1.0          2.894286          2.894286
1974      5766              NaN               NaN               NaN
5758     32205              6.0         49.205669          8.200945
7569     53808              NaN               NaN               NaN
3190     13005              3.0         11.696949          3.898983

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
4013                NaN               NaN     255.000000              NaN
5734                NaN               NaN     255.000000              NaN
1904                NaN               NaN     255.000000              NaN
10047               NaN               NaN            NaN              NaN
5686           3.035869          3.035869     238.615385              1.0
3500           2.894286          2.894286     234.636364              1.0
1974                NaN               NaN     255.000000              NaN
5758           8.838285          7.823607     249.343348              6.0
7569                NaN               NaN            NaN              NaN
3190           4.106138          3.686399     208.785714              3.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2001  \
4013                NaN               NaN  ...               NaN
5734                NaN               NaN  ...               NaN
1904                NaN               NaN  ...               NaN
10047               NaN               NaN  ...               NaN
5686           2.590278          2.590278  ...          2.905367
3500           2.871266          2.871266  ...          2.857674
1974                NaN               NaN  ...               NaN
5758          44.280403          7.380067  ...          6.930902
7569                NaN               NaN  ...               NaN
3190          10.689234          3.563078  ...          3.354803

       NTLmax_D_avg2001  NTLmin_D_avg2001  NTLcfc_D_2001  NTLct_D_avg2002  \
4013                NaN               NaN     255.000000              NaN
5734                NaN               NaN     255.000000              NaN
1904                NaN               NaN     255.000000              NaN
10047               NaN               NaN            NaN              NaN
5686           2.905367          2.905367     239.615385              1.0
3500           2.857674          2.857674     236.090909              1.0
1974                NaN               NaN     255.000000              NaN
5758           7.451586          6.453249     249.862661              6.0
7569                NaN               NaN            NaN              NaN
3190           3.451395          3.256410     211.142857              3.0

       NTLsum_D_avg2002  NTLavg_D_avg2002  NTLmax_D_avg2002  NTLmin_D_avg2002  \
4013                NaN               NaN               NaN               NaN
5734                NaN               NaN               NaN               NaN
1904                NaN               NaN               NaN               NaN
10047               NaN               NaN               NaN               NaN
5686           2.612724          2.612724          2.612724          2.612724
3500           3.089942          3.089942          3.089942          3.089942
1974                NaN               NaN               NaN               NaN
5758          34.181644          5.696941          6.186679          5.212500
7569                NaN               NaN               NaN               NaN
3190          10.457826          3.485942          3.536164          3.457560

       NTLcfc_D_2002
4013      255.000000
5734      255.000000
1904      255.000000
10047            NaN
5686      239.000000
3500      235.454545
1974      255.000000
5758      249.643777
7569             NaN
3190      209.285714

[10 rows x 25 columns]
Loading data for Msk_D_2003_avg.tif. Thu Jan 19 19:28:06 2023

Created pandas dataframe from Msk_D_2003_avg.tif. Thu Jan 19 19:28:06 2023

Created geodataframe from non-NoData points, Msk_D_2003_avg.tif. Thu Jan 19 19:28:06 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2003_avg.tif. Thu Jan 19 19:28:08 2023

            value                          geometry  index_right  Sett_ID
996839   2.238426   POINT (-1376922.579 449559.175)         5384    25549
810105   2.300136   POINT (-1537432.331 650333.861)         7785    56244
982254   6.561594   POINT (-1398648.827 465202.952)         3884    19120
470340   3.001082  POINT (-1040952.397 1018982.266)        10967   135912
792815   2.622727   POINT (-1537549.814 668995.906)         7787    56246
917367   2.264860   POINT (-1638858.558 533632.746)         6514    45231
1122364  2.128985   POINT (-1423726.857 313164.493)          851     2577
863821   2.526680   POINT (-1514552.769 592484.515)         8754    66501
1000406  2.300000   POINT (-1440076.058 445252.271)         3735    17263
805534   2.170715   POINT (-1555652.712 655130.355)         7625    54393

Exported as table. Msk_D_2003_avg.tif. Thu Jan 19 19:28:08 2023


Cells per settlement counted, year 2003. Thu Jan 19 19:28:08 2023

      Sett_ID  NTLct_D_avg2003
4174    66297                1
4267    68659                1
2609    28288                1
1929    19328                1
5350   126316                1
3100    45222                3
3988    59854                1
24         37                1
4148    65054                1
4043    63056                1

Values summed to settlement level, year 2003. Thu Jan 19 19:28:08 2023

      Sett_ID  NTLsum_D_avg2003
6128   195341          2.374575
4280    68683          4.810204
388      2554          2.440909
3537    51600          2.369048
1951    19364          2.669326
5166   104729          2.239474
6497   199700          2.655344
1016     6342          4.660102
323      1942          1.953560
5750   169901          2.119460

Values averaged to settlement level, year 2003. Thu Jan 19 19:28:08 2023

      Sett_ID  NTLavg_D_avg2003
3022    38325          2.450000
1152     7624          2.310000
3472    49472          2.357337
3165    45506          2.273221
6082   191815          2.112629
1010     6334          3.670990
4805    75080          2.001861
4899    79828          2.463816
211      1327          1.868506
4277    68676          2.233333

Merged year 2003 onto latest year settlement feature layer. Thu Jan 19 19:28:08 2023


Max value of available pixels assigned at settlement level, year 2003. Thu Jan 19 19:28:08 2023

      Sett_ID  NTLmax_D_avg2003
2862    36353          1.866667
2207    22706          2.010465
3371    48458          2.488095
2336    23658          2.003261
4854    79640          2.080492
4003    60553          2.112500
502      2752          2.185464
6544   201526          2.643333
4715    73782          1.965091
6148   195973          2.503247

Merged year 2003 onto latest year settlement feature layer. Thu Jan 19 19:28:08 2023


Min value of available pixels assigned at settlement level, year 2003. Thu Jan 19 19:28:08 2023

      Sett_ID  NTLmin_D_avg2003
4397    68842          2.202830
1788    17285          2.190690
5140   104568          2.222549
6277   197628          1.951818
3555    51640          2.106974
6122   194750          2.282555
4372    68812          2.174036
465      2691          2.139024
4232    67396          2.548077
1835    19059          2.381633

Merged year 2003 onto latest year settlement feature layer. Thu Jan 19 19:28:08 2023

      Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
7282    51597              2.0          5.955411          2.977705
3213    13039              NaN               NaN               NaN
9923    79546              NaN               NaN               NaN
3578    15970              NaN               NaN               NaN
8486    63174              1.0          2.916451          2.916451
6711    46512              NaN               NaN               NaN
8862    67507              NaN               NaN               NaN
9607    72414              1.0          3.109788          3.109788
1824     5165              NaN               NaN               NaN
7167    49982              NaN               NaN               NaN

      NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
7282          3.076007          2.879404           34.5              2.0
3213               NaN               NaN          255.0              NaN
9923               NaN               NaN          255.0              NaN
3578               NaN               NaN          255.0              NaN
8486          2.916451          2.916451          201.5              1.0
6711               NaN               NaN          255.0              NaN
8862               NaN               NaN            NaN              NaN
9607          3.109788          3.109788           35.0              1.0
1824               NaN               NaN          255.0              NaN
7167               NaN               NaN            NaN              NaN

      NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2002  \
7282          5.953047          2.976524  ...          6.191915
3213               NaN               NaN  ...               NaN
9923               NaN               NaN  ...               NaN
3578               NaN               NaN  ...               NaN
8486          2.922727          2.922727  ...          3.131092
6711               NaN               NaN  ...               NaN
8862               NaN               NaN  ...               NaN
9607          2.883779          2.883779  ...          2.903192
1824               NaN               NaN  ...               NaN
7167               NaN               NaN  ...               NaN

      NTLavg_D_avg2002  NTLmax_D_avg2002  NTLmin_D_avg2002  NTLcfc_D_2002  \
7282          3.095957          3.147234          3.044681           38.0
3213               NaN               NaN               NaN          255.0
9923               NaN               NaN               NaN          255.0
3578               NaN               NaN               NaN          255.0
8486          3.131092          3.131092          3.131092          203.0
6711               NaN               NaN               NaN          255.0
8862               NaN               NaN               NaN            NaN
9607          2.903192          2.903192          2.903192           44.0
1824               NaN               NaN               NaN          255.0
7167               NaN               NaN               NaN            NaN

      NTLct_D_avg2003  NTLsum_D_avg2003  NTLavg_D_avg2003  NTLmax_D_avg2003  \
7282              2.0          4.859169          2.429585          2.468085
3213              NaN               NaN               NaN               NaN
9923              NaN               NaN               NaN               NaN
3578              NaN               NaN               NaN               NaN
8486              1.0          2.454040          2.454040          2.454040
6711              NaN               NaN               NaN               NaN
8862              NaN               NaN               NaN               NaN
9607              1.0          2.335973          2.335973          2.335973
1824              NaN               NaN               NaN               NaN
7167              NaN               NaN               NaN               NaN

      NTLmin_D_avg2003
7282          2.391084
3213               NaN
9923               NaN
3578               NaN
8486          2.454040
6711               NaN
8862               NaN
9607          2.335973
1824               NaN
7167               NaN

[10 rows x 30 columns]
Loading data for Msk_D_2003_cfc.tif. Thu Jan 19 19:28:08 2023

Created pandas dataframe from Msk_D_2003_cfc.tif. Thu Jan 19 19:28:08 2023

Created geodataframe from non-NoData points, Msk_D_2003_cfc.tif. Thu Jan 19 19:28:08 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2003_cfc.tif. Thu Jan 19 19:29:22 2023

        value                          geometry  index_right  Sett_ID
308731    255  POINT (-1509569.748 1188618.061)        11203   145682
50609     255  POINT (-1234908.699 1464357.258)        11979   191089
278243    255  POINT (-1117356.794 1223678.879)        11533   163730
749838    255    POINT (-928776.537 719188.158)        10652   122071
715827    255   POINT (-1224397.245 754176.682)        10566   111590
906032    255   POINT (-1210381.521 548928.383)         9814    74935
92713     255  POINT (-1022679.157 1421096.578)        11949   190914
650470    255   POINT (-1083467.696 825385.631)        10836   126226
29402     255  POINT (-1475763.689 1485117.599)        12280   192845
536829    255    POINT (-989484.395 947992.884)        10970   135915

Exported as table. Msk_D_2003_cfc.tif. Thu Jan 19 19:29:25 2023


Count of cloud-free observations averaged to settlement level, year 2003. Thu Jan 19 19:29:25 2023

       Sett_ID  NTLcfc_D_2003
7742     60746     255.000000
7846     63090     255.000000
7099     52768     255.000000
11130   191049     255.000000
9078     74915     249.750000
3539     17006     255.000000
3333     15139     255.000000
4835     24178     255.000000
8852     71680     255.000000
993       2780     191.428571

Merged year 2003 onto latest year settlement feature layer. Thu Jan 19 19:29:25 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
6460     41773              NaN               NaN               NaN
7818     56279              1.0          2.796569          2.796569
8066     59047              NaN               NaN               NaN
6291     37880              1.0          3.086111          3.086111
6234     36707              1.0          2.841751          2.841751
11907   188136              1.0          2.894487          2.894487
4038     19313              1.0          3.929487          3.929487
1213      3454              NaN               NaN               NaN
1100      2992              NaN               NaN               NaN
8380     63017              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
6460                NaN               NaN            NaN              NaN
7818           2.796569          2.796569     180.000000              1.0
8066                NaN               NaN     255.000000              NaN
6291           3.086111          3.086111     199.500000              1.0
6234           2.841751          2.841751     251.370968              1.0
11907          2.894487          2.894487     248.562500              1.0
4038           3.929487          3.929487     145.500000              1.0
1213                NaN               NaN     255.000000              NaN
1100                NaN               NaN     255.000000              NaN
8380                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2002  \
6460                NaN               NaN  ...               NaN
7818           3.330000          3.330000  ...          2.860133
8066                NaN               NaN  ...               NaN
6291           2.906087          2.906087  ...          2.655203
6234           2.512201          2.512201  ...          2.747268
11907          3.001204          3.001204  ...          2.798245
4038           3.602041          3.602041  ...          3.918057
1213                NaN               NaN  ...               NaN
1100                NaN               NaN  ...               NaN
8380                NaN               NaN  ...               NaN

       NTLmax_D_avg2002  NTLmin_D_avg2002  NTLcfc_D_2002  NTLct_D_avg2003  \
6460                NaN               NaN            NaN              NaN
7818           2.860133          2.860133     183.666667              1.0
8066                NaN               NaN     255.000000              NaN
6291           2.655203          2.655203     204.750000              1.0
6234           2.747268          2.747268     251.725806              1.0
11907          2.798245          2.798245     249.125000              1.0
4038           3.918057          3.918057     152.000000              1.0
1213                NaN               NaN     255.000000              NaN
1100                NaN               NaN     255.000000              NaN
8380                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2003  NTLavg_D_avg2003  NTLmax_D_avg2003  NTLmin_D_avg2003  \
6460                NaN               NaN               NaN               NaN
7818           2.222689          2.222689          2.222689          2.222689
8066                NaN               NaN               NaN               NaN
6291           1.972222          1.972222          1.972222          1.972222
6234           2.216667          2.216667          2.216667          2.216667
11907          2.454980          2.454980          2.454980          2.454980
4038           2.957317          2.957317          2.957317          2.957317
1213                NaN               NaN               NaN               NaN
1100                NaN               NaN               NaN               NaN
8380                NaN               NaN               NaN               NaN

       NTLcfc_D_2003
6460             NaN
7818      180.333333
8066      255.000000
6291      200.000000
6234      251.435484
11907     248.875000
4038      144.500000
1213      255.000000
1100      255.000000
8380      255.000000

[10 rows x 31 columns]
Loading data for Msk_D_2004_avg.tif. Thu Jan 19 19:29:25 2023

Created pandas dataframe from Msk_D_2004_avg.tif. Thu Jan 19 19:29:25 2023

Created geodataframe from non-NoData points, Msk_D_2004_avg.tif. Thu Jan 19 19:29:25 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2004_avg.tif. Thu Jan 19 19:29:27 2023

            value                         geometry  index_right  Sett_ID
827401   2.808523  POINT (-1532118.319 631698.184)         7015    49133
975824   2.770115  POINT (-1450619.250 471796.682)         3867    18519
799166   2.542276  POINT (-1553964.130 662016.996)        13209   199887
992269  15.150000  POINT (-1394259.440 454388.395)         3884    19120
885735   2.584848  POINT (-1450332.747 569267.967)         8511    63205
973948   2.804615  POINT (-1499100.130 473474.173)         2684     9193
818379   2.839572  POINT (-1464622.838 641938.912)         9149    68886
811974   3.661152  POINT (-1494979.049 648632.558)         8927    68641
782778   2.667832  POINT (-1561006.611 679648.959)         8195    59603
823737   2.934729  POINT (-1552929.265 635497.577)         7785    56244

Exported as table. Msk_D_2004_avg.tif. Thu Jan 19 19:29:27 2023


Cells per settlement counted, year 2004. Thu Jan 19 19:29:27 2023

      Sett_ID  NTLct_D_avg2004
6324   197710                2
3202    46437                1
3533    51594                3
735      4187                1
5708   169039                2
5681   163126                6
1881    19218                2
5457   136559                1
3636    51768                2
2285    22967                1

Values summed to settlement level, year 2004. Thu Jan 19 19:29:27 2023

      Sett_ID  NTLsum_D_avg2004
2671    29163          2.729885
1111     7202          2.765749
1668    14662          2.788150
2139    21108          3.693841
4259    68647         18.571964
4248    68220          3.658065
1596    13089          2.751525
3279    46623          2.695409
2761    33959          2.566667
4019    61360          2.827442

Values averaged to settlement level, year 2004. Thu Jan 19 19:29:27 2023

      Sett_ID  NTLavg_D_avg2004
4283    68686          2.404685
2303    23248          2.644345
2844    36303          2.764946
2941    36694          2.534884
1272     9110          2.831815
3601    51714          2.611111
1541    12977          2.731513
2057    19666          2.644444
5533   145690          2.673564
330      1969          2.682506

Merged year 2004 onto latest year settlement feature layer. Thu Jan 19 19:29:27 2023


Max value of available pixels assigned at settlement level, year 2004. Thu Jan 19 19:29:27 2023

      Sett_ID  NTLmax_D_avg2004
720      4164          3.993526
6117   194039          2.374103
3727    54723          2.969907
2749    33921          2.538772
2988    38217          2.366591
4668    72403          2.703374
2486    24879          2.642359
1250     9005          3.010066
5374   126376          2.834231
3983    59603          2.667832

Merged year 2004 onto latest year settlement feature layer. Thu Jan 19 19:29:27 2023


Min value of available pixels assigned at settlement level, year 2004. Thu Jan 19 19:29:27 2023

      Sett_ID  NTLmin_D_avg2004
4002    60480          2.695578
4491    69018          2.893785
3594    51707          2.712864
1571    13034          2.705489
244      1542          2.722902
3491    50061          2.813393
395      2579          2.449326
2407    24538          3.777305
3202    46437          2.539474
5632   155603          2.732435

Merged year 2004 onto latest year settlement feature layer. Thu Jan 19 19:29:27 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
1742      4711              NaN               NaN               NaN
2535      8119              1.0          7.591299          7.591299
5601     27882              NaN               NaN               NaN
6825     46963              NaN               NaN               NaN
8761     66510              1.0          2.946481          2.946481
10154    85424              1.0          2.895711          2.895711
8986     68709              1.0          3.178322          3.178322
10677   122113              1.0          3.419414          3.419414
8756     66503              NaN               NaN               NaN
3362     14627              1.0          3.172151          3.172151

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
1742                NaN               NaN     255.000000              NaN
2535           7.591299          7.591299     148.500000              1.0
5601                NaN               NaN     255.000000              NaN
6825                NaN               NaN     255.000000              NaN
8761           2.946481          2.946481     182.666667              1.0
10154          2.895711          2.895711     251.306452              1.0
8986           3.178322          3.178322     223.571429              1.0
10677          3.419414          3.419414     251.338983              1.0
8756                NaN               NaN     255.000000              NaN
3362           3.172151          3.172151     198.750000              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2003  \
1742                NaN               NaN  ...               NaN
2535           6.578431          6.578431  ...          4.952611
5601                NaN               NaN  ...               NaN
6825                NaN               NaN  ...               NaN
8761           3.143704          3.143704  ...          2.490000
10154          3.043522          3.043522  ...          2.338095
8986           2.837526          2.837526  ...          2.342377
10677          3.182751          3.182751  ...          2.425604
8756                NaN               NaN  ...               NaN
3362           2.915441          2.915441  ...          2.335106

       NTLavg_D_avg2003  NTLmax_D_avg2003  NTLmin_D_avg2003  NTLcfc_D_2003  \
1742                NaN               NaN               NaN     255.000000
2535           4.952611          4.952611          4.952611     145.500000
5601                NaN               NaN               NaN     255.000000
6825                NaN               NaN               NaN     255.000000
8761           2.490000          2.490000          2.490000     182.666667
10154          2.338095          2.338095          2.338095     251.274194
8986           2.342377          2.342377          2.342377     223.000000
10677          2.425604          2.425604          2.425604     251.288136
8756                NaN               NaN               NaN     255.000000
3362           2.335106          2.335106          2.335106     200.750000

       NTLct_D_avg2004  NTLsum_D_avg2004  NTLavg_D_avg2004  NTLmax_D_avg2004  \
1742               NaN               NaN               NaN               NaN
2535               1.0          4.967742          4.967742          4.967742
5601               NaN               NaN               NaN               NaN
6825               NaN               NaN               NaN               NaN
8761               1.0          2.752234          2.752234          2.752234
10154              1.0          2.955198          2.955198          2.955198
8986               1.0          2.835813          2.835813          2.835813
10677              1.0          2.540940          2.540940          2.540940
8756               NaN               NaN               NaN               NaN
3362               1.0          2.662963          2.662963          2.662963

       NTLmin_D_avg2004
1742                NaN
2535           4.967742
5601                NaN
6825                NaN
8761           2.752234
10154          2.955198
8986           2.835813
10677          2.540940
8756                NaN
3362           2.662963

[10 rows x 36 columns]
Loading data for Msk_D_2004_cfc.tif. Thu Jan 19 19:29:27 2023

Created pandas dataframe from Msk_D_2004_cfc.tif. Thu Jan 19 19:29:27 2023

Created geodataframe from non-NoData points, Msk_D_2004_cfc.tif. Thu Jan 19 19:29:27 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2004_cfc.tif. Thu Jan 19 19:30:41 2023

         value                          geometry  index_right  Sett_ID
1030466     49   POINT (-1413924.916 412872.680)        12963   198721
1017698    255   POINT (-1438234.822 426533.986)         3605    16152
454264     255  POINT (-1566733.418 1032742.397)        10459   104213
514354     255   POINT (-1540303.021 968567.092)        10459   104213
975400     255   POINT (-1029981.479 474919.749)         6444    38861
991264     255   POINT (-1476483.321 454890.238)         3409    14684
353317     255  POINT (-1512748.019 1141045.034)        11119   143025
724988     255   POINT (-1171492.731 744630.210)        10730   122912
818867     255   POINT (-1041955.371 644108.038)         6418    38401
340518     255  POINT (-1564040.248 1154316.101)        11119   143025

Exported as table. Msk_D_2004_cfc.tif. Thu Jan 19 19:30:43 2023


Count of cloud-free observations averaged to settlement level, year 2004. Thu Jan 19 19:30:43 2023

       Sett_ID  NTLcfc_D_2004
4598     22901     255.000000
1336      3948     220.666667
7234     54730     153.000000
1232      3693     255.000000
10837   170084     255.000000
5540     32254     254.148472
1646      4589     255.000000
11271   191445     248.724138
5416     28346     255.000000
4330     21410     255.000000

Merged year 2004 onto latest year settlement feature layer. Thu Jan 19 19:30:43 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
8599     64836              NaN               NaN               NaN
5811     32717              NaN               NaN               NaN
13004   198840              1.0          2.734286          2.734286
9236     68996              1.0          2.972381          2.972381
7776     56046              NaN               NaN               NaN
5108     24451              NaN               NaN               NaN
9083     68808              2.0          5.359423          2.679712
7912     56755              NaN               NaN               NaN
1453      4126              2.0          6.531433          3.265716
5153     24554              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
8599                NaN               NaN     255.000000              NaN
5811                NaN               NaN     255.000000              NaN
13004          2.734286          2.734286     180.000000              1.0
9236           2.972381          2.972381     233.100000              1.0
7776                NaN               NaN     255.000000              NaN
5108                NaN               NaN     255.000000              NaN
9083           2.773846          2.585577     220.923077              2.0
7912                NaN               NaN            NaN              NaN
1453           3.293859          3.237573     245.521739              2.0
5153                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2003  \
8599                NaN               NaN  ...               NaN
5811                NaN               NaN  ...               NaN
13004          3.144231          3.144231  ...          2.206753
9236           2.946931          2.946931  ...          2.247530
7776                NaN               NaN  ...               NaN
5108                NaN               NaN  ...               NaN
9083           5.716054          2.858027  ...          2.237464
7912                NaN               NaN  ...               NaN
1453           5.764445          2.882223  ...          1.978663
5153                NaN               NaN  ...               NaN

       NTLmax_D_avg2003  NTLmin_D_avg2003  NTLcfc_D_2003  NTLct_D_avg2004  \
8599                NaN               NaN     255.000000              NaN
5811                NaN               NaN     255.000000              NaN
13004          2.206753          2.206753     181.666667              1.0
9236           2.247530          2.247530     232.900000              1.0
7776                NaN               NaN     255.000000              NaN
5108                NaN               NaN     255.000000              NaN
9083           2.337302          2.137626     220.538462              2.0
7912                NaN               NaN            NaN              NaN
1453           2.007326          1.950000     245.260870              2.0
5153                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2004  NTLavg_D_avg2004  NTLmax_D_avg2004  NTLmin_D_avg2004  \
8599                NaN               NaN               NaN               NaN
5811                NaN               NaN               NaN               NaN
13004          2.737319          2.737319          2.737319          2.737319
9236           2.568558          2.568558          2.568558          2.568558
7776                NaN               NaN               NaN               NaN
5108                NaN               NaN               NaN               NaN
9083           5.295263          2.647631          2.703194          2.592069
7912                NaN               NaN               NaN               NaN
1453           5.313429          2.656714          2.712152          2.601277
5153                NaN               NaN               NaN               NaN

       NTLcfc_D_2004
8599      255.000000
5811      255.000000
13004     186.000000
9236      234.700000
7776      255.000000
5108      255.000000
9083      223.076923
7912             NaN
1453      246.065217
5153      255.000000

[10 rows x 37 columns]
Loading data for Msk_D_2005_avg.tif. Thu Jan 19 19:30:43 2023

Created pandas dataframe from Msk_D_2005_avg.tif. Thu Jan 19 19:30:43 2023

Created geodataframe from non-NoData points, Msk_D_2005_avg.tif. Thu Jan 19 19:30:43 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2005_avg.tif. Thu Jan 19 19:30:45 2023

             value                          geometry  index_right  Sett_ID
984047    2.448980   POINT (-1422005.594 463097.238)         4275    19764
872862    7.459064   POINT (-1565580.275 582327.719)         3097    12893
913780    3.654306   POINT (-1593000.337 537873.549)         3091    12887
884727    2.434783   POINT (-1535193.130 569732.881)        12570   196742
209937    2.144943  POINT (-1166320.596 1296027.904)        11768   175867
961991    2.718445   POINT (-1609105.489 485580.482)         2508     7848
758240    2.648649   POINT (-1533452.929 706327.805)         8080    59177
430122    5.563154  POINT (-1195568.605 1061128.852)        11155   145487
615771   13.552966   POINT (-1186793.594 862093.693)        10792   126049
1171494   2.275510   POINT (-1432063.197 259791.450)          601     1732

Exported as table. Msk_D_2005_avg.tif. Thu Jan 19 19:30:45 2023


Cells per settlement counted, year 2005. Thu Jan 19 19:30:45 2023

      Sett_ID  NTLct_D_avg2005
1201     7818                2
752      4216                1
4732    74526                1
3482    49842                1
4799    75070                1
963      5729                1
1966    19394                1
3630    51757                2
566      3159                1
1572    13035                1

Values summed to settlement level, year 2005. Thu Jan 19 19:30:45 2023

      Sett_ID  NTLsum_D_avg2005
5511   145502         14.099779
3061    39167          2.250806
2574    27299          2.059032
6322   197707          7.401040
6429   198800          2.311840
322      1937          2.004472
4965    89142         65.180374
2976    38191          2.090678
5313   126050          2.220930
5428   136110          2.452778

Values averaged to settlement level, year 2005. Thu Jan 19 19:30:45 2023

      Sett_ID  NTLavg_D_avg2005
3780    56247          2.677553
513      2766          2.147100
5749   169898          2.396632
5765   170114          2.213759
107       483          4.298077
3352    48425          2.406452
3156    45309          2.099882
5960   191281          2.274563
6077   191803          2.078016
1945    19352          2.719763

Merged year 2005 onto latest year settlement feature layer. Thu Jan 19 19:30:45 2023


Max value of available pixels assigned at settlement level, year 2005. Thu Jan 19 19:30:45 2023

      Sett_ID  NTLmax_D_avg2005
4385    68828          2.681250
1263     9093          2.074150
3581    51684          2.317440
4251    68400          2.327487
5413   135978          2.086792
789      4288          2.012968
4168    65814          2.427276
5207   111714          2.256078
6303   197675          2.342970
3088    45209          2.330995

Merged year 2005 onto latest year settlement feature layer. Thu Jan 19 19:30:45 2023


Min value of available pixels assigned at settlement level, year 2005. Thu Jan 19 19:30:45 2023

      Sett_ID  NTLmin_D_avg2005
3199    46433          2.039554
5059    91622          2.711111
3817    56305          2.427451
739      4193          2.422414
2691    32236          2.214995
5628   155474          2.266265
830      4367          2.225490
4936    83160          2.490625
1281     9124          2.617374
3423    49157          2.390071

Merged year 2005 onto latest year settlement feature layer. Thu Jan 19 19:30:45 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
3887     19123              1.0          3.277472          3.277472
2693      9204              1.0          3.067692          3.067692
2996     11146              NaN               NaN               NaN
9273     69045              1.0          3.214105          3.214105
5359     25320              1.0          3.197698          3.197698
4092     19374              NaN               NaN               NaN
8871     67572              NaN               NaN               NaN
12082   191375              NaN               NaN               NaN
13080   199178              1.0          3.070455          3.070455
9143     68876              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
3887           3.277472          3.277472     230.444444              1.0
2693           3.067692          3.067692     248.250000              1.0
2996                NaN               NaN            NaN              NaN
9273           3.214105          3.214105     235.181818              1.0
5359           3.197698          3.197698     181.000000              1.0
4092                NaN               NaN     255.000000              NaN
8871                NaN               NaN            NaN              NaN
12082               NaN               NaN     255.000000              NaN
13080          3.070455          3.070455     143.500000              1.0
9143                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2004  \
3887           2.969003          2.969003  ...          2.959454
2693           3.506844          3.506844  ...          2.808002
2996                NaN               NaN  ...               NaN
9273           3.078869          3.078869  ...          2.664523
5359           3.055098          3.055098  ...          3.081860
4092                NaN               NaN  ...               NaN
8871                NaN               NaN  ...               NaN
12082               NaN               NaN  ...               NaN
13080          3.198077          3.198077  ...          2.793890
9143                NaN               NaN  ...               NaN

       NTLavg_D_avg2004  NTLmax_D_avg2004  NTLmin_D_avg2004  NTLcfc_D_2004  \
3887           2.959454          2.959454          2.959454     232.222222
2693           2.808002          2.808002          2.808002     248.718750
2996                NaN               NaN               NaN            NaN
9273           2.664523          2.664523          2.664523     236.272727
5359           3.081860          3.081860          3.081860     186.000000
4092                NaN               NaN               NaN     255.000000
8871                NaN               NaN               NaN            NaN
12082               NaN               NaN               NaN     255.000000
13080          2.793890          2.793890          2.793890     151.000000
9143                NaN               NaN               NaN     255.000000

       NTLct_D_avg2005  NTLsum_D_avg2005  NTLavg_D_avg2005  NTLmax_D_avg2005  \
3887               1.0          2.333333          2.333333          2.333333
2693               1.0          2.439560          2.439560          2.439560
2996               NaN               NaN               NaN               NaN
9273               1.0          2.216759          2.216759          2.216759
5359               1.0          2.799131          2.799131          2.799131
4092               NaN               NaN               NaN               NaN
8871               NaN               NaN               NaN               NaN
12082              NaN               NaN               NaN               NaN
13080              1.0          2.217262          2.217262          2.217262
9143               NaN               NaN               NaN               NaN

       NTLmin_D_avg2005
3887           2.333333
2693           2.439560
2996                NaN
9273           2.216759
5359           2.799131
4092                NaN
8871                NaN
12082               NaN
13080          2.217262
9143                NaN

[10 rows x 42 columns]
Loading data for Msk_D_2005_cfc.tif. Thu Jan 19 19:30:45 2023

Created pandas dataframe from Msk_D_2005_cfc.tif. Thu Jan 19 19:30:45 2023

Created geodataframe from non-NoData points, Msk_D_2005_cfc.tif. Thu Jan 19 19:30:46 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2005_cfc.tif. Thu Jan 19 19:32:00 2023

         value                          geometry  index_right  Sett_ID
7618       255  POINT (-1427227.734 1508438.781)        12280   192845
863691     255   POINT (-1627125.116 591760.265)         6558    45288
1076133    255   POINT (-1269162.089 364351.292)         6242    36757
933089     255   POINT (-1420595.646 518264.732)         4031    19304
1195544    255   POINT (-1094689.251 235855.067)         2155     6476
65108      255  POINT (-1287838.947 1448705.500)        11979   191089
1183747    255   POINT (-1066211.045 248824.268)         2155     6476
216483     255  POINT (-1013447.356 1289941.600)        11626   169885
1144704    255    POINT (-991152.656 291610.283)         2201     6934
610361     255   POINT (-1143476.100 868169.121)        10853   126308

Exported as table. Msk_D_2005_cfc.tif. Thu Jan 19 19:32:02 2023


Count of cloud-free observations averaged to settlement level, year 2005. Thu Jan 19 19:32:02 2023

      Sett_ID  NTLcfc_D_2005
5761    35430     255.000000
9306    79921     255.000000
5858    36369     243.117647
4683    23327     255.000000
5542    32261     249.820513
1180     3508     255.000000
995      2782     150.500000
6600    48391     219.333333
2346     7764     255.000000
7224    54719      45.000000

Merged year 2005 onto latest year settlement feature layer. Thu Jan 19 19:32:02 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
8128     59229              NaN               NaN               NaN
9073     68798              1.0          2.751429          2.751429
9938     79595              7.0         21.174948          3.024992
4148     19443              1.0          2.968031          2.968031
991       2734              NaN               NaN               NaN
7857     56322              1.0          3.098889          3.098889
892       2629              NaN               NaN               NaN
9662     73108              NaN               NaN               NaN
3481     15100              1.0          2.998082          2.998082
11363   146651              1.0          2.860000          2.860000

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
8128                NaN               NaN     255.000000              NaN
9073           2.751429          2.751429     232.600000              1.0
9938           3.412226          2.816667      95.300000              7.0
4148           2.968031          2.968031     241.562500              1.0
991                 NaN               NaN     255.000000              NaN
7857           3.098889          3.098889     199.250000              1.0
892                 NaN               NaN     255.000000              NaN
9662                NaN               NaN            NaN              NaN
3481           2.998082          2.998082     243.105263              1.0
11363          2.860000          2.860000     241.333333              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2004  \
8128                NaN               NaN  ...               NaN
9073           2.687709          2.687709  ...          2.833044
9938          20.529018          2.932717  ...          2.812044
4148           2.883208          2.883208  ...          2.800407
991                 NaN               NaN  ...               NaN
7857           2.981902          2.981902  ...          2.792449
892                 NaN               NaN  ...               NaN
9662                NaN               NaN  ...               NaN
3481           2.801509          2.801509  ...          2.880102
11363          2.972727          2.972727  ...          2.550980

       NTLmax_D_avg2004  NTLmin_D_avg2004  NTLcfc_D_2004  NTLct_D_avg2005  \
8128                NaN               NaN     255.000000              NaN
9073           2.833044          2.833044     234.400000              1.0
9938           2.857545          2.750270     107.500000              7.0
4148           2.800407          2.800407     242.312500              1.0
991                 NaN               NaN     255.000000              NaN
7857           2.792449          2.792449     204.250000              1.0
892                 NaN               NaN     255.000000              NaN
9662                NaN               NaN            NaN              NaN
3481           2.880102          2.880102     244.368421              1.0
11363          2.550980          2.550980     242.466667              1.0

       NTLsum_D_avg2005  NTLavg_D_avg2005  NTLmax_D_avg2005  NTLmin_D_avg2005  \
8128                NaN               NaN               NaN               NaN
9073           2.266111          2.266111          2.266111          2.266111
9938          16.434275          2.347754          2.569828          2.117216
4148           2.195418          2.195418          2.195418          2.195418
991                 NaN               NaN               NaN               NaN
7857           2.335789          2.335789          2.335789          2.335789
892                 NaN               NaN               NaN               NaN
9662                NaN               NaN               NaN               NaN
3481           2.169129          2.169129          2.169129          2.169129
11363          2.158381          2.158381          2.158381          2.158381

       NTLcfc_D_2005
8128      255.000000
9073      234.000000
9938      100.700000
4148      242.062500
991       255.000000
7857      202.250000
892       255.000000
9662             NaN
3481      244.315789
11363     242.533333

[10 rows x 43 columns]
Loading data for Msk_D_2006_avg.tif. Thu Jan 19 19:32:02 2023

Created pandas dataframe from Msk_D_2006_avg.tif. Thu Jan 19 19:32:02 2023

Created geodataframe from non-NoData points, Msk_D_2006_avg.tif. Thu Jan 19 19:32:02 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2006_avg.tif. Thu Jan 19 19:32:04 2023

            value                         geometry  index_right  Sett_ID
984065   4.882112  POINT (-1406426.887 463187.520)         4042    19317
820101   2.789836  POINT (-1549489.823 639450.000)         7785    56244
792827   2.316092  POINT (-1527155.248 669061.122)         7786    56245
1110396  2.496657  POINT (-1543171.218 325270.839)           28       33
812395   2.313147  POINT (-1130331.932 650592.515)         9784    74887
882480   2.278125  POINT (-1116993.379 574955.665)         9908    78098
1048190  2.304869  POINT (-1038301.109 396023.396)         2278     7243
967463   6.255882  POINT (-1598680.012 479738.440)         3087    12883
1019367  2.258889  POINT (-1568890.361 423757.081)         2764     9451
799193   3.039526  POINT (-1530577.020 662164.682)         7785    56244

Exported as table. Msk_D_2006_avg.tif. Thu Jan 19 19:32:04 2023


Cells per settlement counted, year 2006. Thu Jan 19 19:32:04 2023

      Sett_ID  NTLct_D_avg2006
284      1751                1
4055    63092                1
5837   182991                1
3934    59211                2
1478    12885                5
737      4190                1
5085    97760                1
4808    75257                1
6479   199423                1
191      1180                1

Values summed to settlement level, year 2006. Thu Jan 19 19:32:04 2023

      Sett_ID  NTLsum_D_avg2006
3707    54591          2.351906
1725    15436          2.471428
923      5226          4.245748
6448   199008          2.504630
3699    54326          2.618234
3837    56389          2.234555
3408    49131         23.313566
3420    49153          2.378788
91        284          2.155655
5392   133837          5.380208

Values averaged to settlement level, year 2006. Thu Jan 19 19:32:04 2023

      Sett_ID  NTLavg_D_avg2006
504      2754          2.335000
828      4364          2.316593
5064    94061          2.476863
5742   169862          2.236195
4858    79652          2.443694
3568    51658          2.211244
1821    18066          2.263690
1163     7754          2.496175
4292    68699          2.288333
5564   146029          2.701403

Merged year 2006 onto latest year settlement feature layer. Thu Jan 19 19:32:04 2023


Max value of available pixels assigned at settlement level, year 2006. Thu Jan 19 19:32:04 2023

      Sett_ID  NTLmax_D_avg2006
2667    28583          2.691072
5365   126347          2.508333
1923    19319          2.809524
3705    54506          2.271825
3496    50333          3.079151
2800    35149          2.321053
16         22          3.120098
1239     8158          2.504849
4717    73838          2.355482
1536    12968          2.360040

Merged year 2006 onto latest year settlement feature layer. Thu Jan 19 19:32:04 2023


Min value of available pixels assigned at settlement level, year 2006. Thu Jan 19 19:32:04 2023

      Sett_ID  NTLmin_D_avg2006
6467   199281          2.567308
1095     7028          2.278571
1913    19298          2.275806
396      2580          2.384615
3246    46498          2.225000
4118    63235          2.221264
3885    58175          2.356838
4488    69011          2.217146
97        445          3.435811
3843    56437          2.303174

Merged year 2006 onto latest year settlement feature layer. Thu Jan 19 19:32:04 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
7296     51624              NaN               NaN               NaN
3547     15668              1.0          2.704545          2.704545
4806     22901              NaN               NaN               NaN
1705      4607              1.0          3.123294          3.123294
10711   122175              NaN               NaN               NaN
2872     10120              NaN               NaN               NaN
3765     17581              1.0          3.120173          3.120173
864       2592              NaN               NaN               NaN
6492     45209              1.0          3.101064          3.101064
6488     45205              1.0          3.359596          3.359596

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
7296                NaN               NaN            NaN              NaN
3547           2.704545          2.704545     217.833333              1.0
4806                NaN               NaN     255.000000              NaN
1705           3.123294          3.123294     218.000000              1.0
10711               NaN               NaN     255.000000              NaN
2872                NaN               NaN     255.000000              NaN
3765           3.120173          3.120173     245.521739              1.0
864                 NaN               NaN     255.000000              NaN
6492           3.101064          3.101064     245.227273              1.0
6488           3.359596          3.359596     231.000000              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2005  \
7296                NaN               NaN  ...               NaN
3547           3.185555          3.185555  ...          2.437107
4806                NaN               NaN  ...               NaN
1705           2.849257          2.849257  ...          2.039216
10711               NaN               NaN  ...               NaN
2872                NaN               NaN  ...               NaN
3765           3.150036          3.150036  ...          2.428775
864                 NaN               NaN  ...               NaN
6492           3.288518          3.288518  ...          2.330995
6488           3.291818          3.291818  ...          2.443583

       NTLavg_D_avg2005  NTLmax_D_avg2005  NTLmin_D_avg2005  NTLcfc_D_2005  \
7296                NaN               NaN               NaN            NaN
3547           2.437107          2.437107          2.437107     221.166667
4806                NaN               NaN               NaN     255.000000
1705           2.039216          2.039216          2.039216     221.166667
10711               NaN               NaN               NaN     255.000000
2872                NaN               NaN               NaN     255.000000
3765           2.428775          2.428775          2.428775     246.217391
864                 NaN               NaN               NaN     255.000000
6492           2.330995          2.330995          2.330995     245.636364
6488           2.443583          2.443583          2.443583     232.111111

       NTLct_D_avg2006  NTLsum_D_avg2006  NTLavg_D_avg2006  NTLmax_D_avg2006  \
7296               NaN               NaN               NaN               NaN
3547               1.0          2.389977          2.389977          2.389977
4806               NaN               NaN               NaN               NaN
1705               1.0          2.326014          2.326014          2.326014
10711              NaN               NaN               NaN               NaN
2872               NaN               NaN               NaN               NaN
3765               1.0          2.428571          2.428571          2.428571
864                NaN               NaN               NaN               NaN
6492               1.0          2.471154          2.471154          2.471154
6488               1.0          2.425652          2.425652          2.425652

       NTLmin_D_avg2006
7296                NaN
3547           2.389977
4806                NaN
1705           2.326014
10711               NaN
2872                NaN
3765           2.428571
864                 NaN
6492           2.471154
6488           2.425652

[10 rows x 48 columns]
Loading data for Msk_D_2006_cfc.tif. Thu Jan 19 19:32:04 2023

Created pandas dataframe from Msk_D_2006_cfc.tif. Thu Jan 19 19:32:04 2023

Created geodataframe from non-NoData points, Msk_D_2006_cfc.tif. Thu Jan 19 19:32:05 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2006_cfc.tif. Thu Jan 19 19:33:20 2023

         value                          geometry  index_right  Sett_ID
1194216    255   POINT (-1456129.042 234952.248)          585     1713
933843     255   POINT (-1555635.097 516456.842)        12592   197134
1132600    255   POINT (-1228192.631 303367.683)         1787     5075
525939     255    POINT (-963514.446 959809.979)        11045   136271
1124688    255    POINT (-987781.130 313345.382)         2216     7025
579644     255    POINT (-950281.784 902238.814)        11045   136271
506294     255   POINT (-1427608.209 978031.277)        10620   116741
197642     255  POINT (-1570222.864 1306333.911)        11203   145682
1011356    255   POINT (-1414044.897 433576.129)        12684   197688
263182     255  POINT (-1552411.755 1236803.759)        11203   145682

Exported as table. Msk_D_2006_cfc.tif. Thu Jan 19 19:33:22 2023


Count of cloud-free observations averaged to settlement level, year 2006. Thu Jan 19 19:33:22 2023

       Sett_ID  NTLcfc_D_2006
1104      3262     255.000000
10592   155562     255.000000
1378      4099     248.166667
7300     56010     149.000000
2783     10282     255.000000
1198      3569     248.066667
2500      9097     249.700000
47          59     250.562500
7565     59193     105.333333
9726    104723     255.000000

Merged year 2006 onto latest year settlement feature layer. Thu Jan 19 19:33:22 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
12652   197653              NaN               NaN               NaN
11118   143023              NaN               NaN               NaN
3764     17573              NaN               NaN               NaN
11294   146148              2.0          5.836028          2.918014
9441     71044              NaN               NaN               NaN
6823     46938              1.0          2.553113          2.553113
12615   197611              NaN               NaN               NaN
4693     22713              1.0          3.169231          3.169231
6054     36268              1.0          2.633070          2.633070
10473   104549              3.0          9.700711          3.233571

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
12652               NaN               NaN     255.000000              NaN
11118               NaN               NaN     255.000000              NaN
3764                NaN               NaN     255.000000              NaN
11294          3.047101          2.788927     237.791667              2.0
9441                NaN               NaN            NaN              NaN
6823           2.553113          2.553113     241.764706              1.0
12615               NaN               NaN     255.000000              NaN
4693           3.169231          3.169231     217.833333              1.0
6054           2.633070          2.633070     253.648810              1.0
10473          3.290476          3.160714     243.551724              3.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2005  \
12652               NaN               NaN  ...               NaN
11118               NaN               NaN  ...               NaN
3764                NaN               NaN  ...               NaN
11294          6.217231          3.108615  ...          2.486633
9441                NaN               NaN  ...               NaN
6823           2.850710          2.850710  ...          2.121003
12615               NaN               NaN  ...               NaN
4693           3.032927          3.032927  ...          2.241898
6054           2.735332          2.735332  ...          1.966478
10473          9.347038          3.115680  ...          2.206442

       NTLmax_D_avg2005  NTLmin_D_avg2005  NTLcfc_D_2005  NTLct_D_avg2006  \
12652               NaN               NaN     255.000000              NaN
11118               NaN               NaN     255.000000              NaN
3764                NaN               NaN     255.000000              NaN
11294          2.488191          2.485075     239.333333              2.0
9441                NaN               NaN            NaN              NaN
6823           2.121003          2.121003     242.235294              1.0
12615               NaN               NaN     255.000000              NaN
4693           2.241898          2.241898     221.000000              1.0
6054           1.966478          1.966478     253.791667              1.0
10473          2.282051          2.154167     243.879310              3.0

       NTLsum_D_avg2006  NTLavg_D_avg2006  NTLmax_D_avg2006  NTLmin_D_avg2006  \
12652               NaN               NaN               NaN               NaN
11118               NaN               NaN               NaN               NaN
3764                NaN               NaN               NaN               NaN
11294          5.456666          2.728333          2.749379          2.707287
9441                NaN               NaN               NaN               NaN
6823           2.222093          2.222093          2.222093          2.222093
12615               NaN               NaN               NaN               NaN
4693           2.175000          2.175000          2.175000          2.175000
6054           1.975000          1.975000          1.975000          1.975000
10473          7.250000          2.416667          2.500000          2.285714

       NTLcfc_D_2006
12652     255.000000
11118     255.000000
3764      255.000000
11294     238.708333
9441             NaN
6823      242.176471
12615     255.000000
4693      219.166667
6054      253.720238
10473     243.931034

[10 rows x 49 columns]
Loading data for Msk_D_2007_avg.tif. Thu Jan 19 19:33:22 2023

Created pandas dataframe from Msk_D_2007_avg.tif. Thu Jan 19 19:33:22 2023

Created geodataframe from non-NoData points, Msk_D_2007_avg.tif. Thu Jan 19 19:33:22 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2007_avg.tif. Thu Jan 19 19:33:24 2023

            value                          geometry  index_right  Sett_ID
801913   2.754878   POINT (-1539220.344 659163.658)         7785    56244
782792   2.179825   POINT (-1548879.088 679726.166)         8086    59183
962227   2.703762   POINT (-1404832.022 486841.815)         4114    19402
868404   3.066667   POINT (-1485946.734 587743.030)         8809    66899
795553   2.236111   POINT (-1530601.640 666093.217)         7815    56276
984079   7.081558   POINT (-1394310.112 463257.052)         3884    19120
230105   3.369976  POINT (-1037701.524 1275334.850)        11551   169038
1027801  2.379783   POINT (-1357696.489 416150.132)         5962    34294
881154   2.954361   POINT (-1477204.161 574025.630)         8371    62999
768265   2.882035   POINT (-1520390.536 695613.022)        10222    89172

Exported as table. Msk_D_2007_avg.tif. Thu Jan 19 19:33:24 2023


Cells per settlement counted, year 2007. Thu Jan 19 19:33:24 2023

      Sett_ID  NTLct_D_avg2007
1530    12957                1
5146   104596                1
1422    10822                1
2610    28292                1
3805    56285                1
6240   196736                1
4772    74955                1
5696   163721                1
2148    21475                1
1178     7777                1

Values summed to settlement level, year 2007. Thu Jan 19 19:33:24 2023

      Sett_ID  NTLsum_D_avg2007
1024     6351          2.520240
3496    50333          4.118402
5222   116888          3.120930
6043   191667          2.111196
2894    36450          2.344724
3899    59171         55.073036
3107    45232          6.995406
1533    12963          5.748948
756      4222          2.257675
1721    15376          2.495441

Values averaged to settlement level, year 2007. Thu Jan 19 19:33:24 2023

      Sett_ID  NTLavg_D_avg2007
2484    24848          2.530447
2137    21046          3.732026
6059   191741          2.462169
3444    49189          2.643817
2133    20967          3.328869
168       971          2.309524
5153   104633          3.195172
1866    19172          2.687273
3826    56321          2.514800
5492   145479          2.712450

Merged year 2007 onto latest year settlement feature layer. Thu Jan 19 19:33:24 2023


Max value of available pixels assigned at settlement level, year 2007. Thu Jan 19 19:33:24 2023

      Sett_ID  NTLmax_D_avg2007
5211   116740          3.094118
678      4078          2.351191
571      3211          2.973776
1261     9090          2.380556
133       746          2.398221
5057    91618          2.897436
4198    66520          2.703704
5079    97728          2.694737
5052    91566          2.766532
528      2784          2.374339

Merged year 2007 onto latest year settlement feature layer. Thu Jan 19 19:33:24 2023


Min value of available pixels assigned at settlement level, year 2007. Thu Jan 19 19:33:24 2023

      Sett_ID  NTLmin_D_avg2007
3878    58007          2.792208
620      3670          2.594156
1007     6331          2.323716
3926    59201          2.568452
730      4178          2.583333
3357    48434          2.434211
5786   174909          2.565343
2           4          2.782247
5823   182909          3.135652
249      1600          2.356667

Merged year 2007 onto latest year settlement feature layer. Thu Jan 19 19:33:24 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
9958     79625              1.0          2.827922          2.827922
12202   191741              1.0          2.539062          2.539062
2418      7748             13.0         84.676010          6.513539
3462     14902              NaN               NaN               NaN
4930     23469              1.0          2.514706          2.514706
5089     24368              1.0          2.598290          2.598290
9087     68812              1.0          2.538462          2.538462
7470     52815              NaN               NaN               NaN
3351     14607              NaN               NaN               NaN
1992      5901              1.0          2.911458          2.911458

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
9958           2.827922          2.827922     246.192308              1.0
12202          2.539062          2.539062     246.960000              1.0
2418           7.977871          4.382143     198.632653             13.0
3462                NaN               NaN     255.000000              NaN
4930           2.514706          2.514706     236.416667              1.0
5089           2.598290          2.598290     232.700000              1.0
9087           2.538462          2.538462      32.000000              1.0
7470                NaN               NaN     255.000000              NaN
3351                NaN               NaN     255.000000              NaN
1992           2.911458          2.911458     179.666667              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2006  \
9958           2.872600          2.872600  ...          2.351852
12202          2.727348          2.727348  ...          2.276568
2418          80.782074          6.214006  ...         62.562145
3462                NaN               NaN  ...               NaN
4930           2.532222          2.532222  ...          2.198198
5089           2.671905          2.671905  ...          2.177193
9087           2.663102          2.663102  ...          2.164654
7470                NaN               NaN  ...               NaN
3351                NaN               NaN  ...               NaN
1992           2.945662          2.945662  ...          2.429673

       NTLavg_D_avg2006  NTLmax_D_avg2006  NTLmin_D_avg2006  NTLcfc_D_2006  \
9958           2.351852          2.351852          2.351852     246.423077
12202          2.276568          2.276568          2.276568     247.320000
2418           4.812473          5.734797          3.617544     199.714286
3462                NaN               NaN               NaN     255.000000
4930           2.198198          2.198198          2.198198     237.583333
5089           2.177193          2.177193          2.177193     234.400000
9087           2.164654          2.164654          2.164654      37.000000
7470                NaN               NaN               NaN     255.000000
3351                NaN               NaN               NaN     255.000000
1992           2.429673          2.429673          2.429673     186.333333

       NTLct_D_avg2007  NTLsum_D_avg2007  NTLavg_D_avg2007  NTLmax_D_avg2007  \
9958               1.0          2.475000          2.475000          2.475000
12202              1.0          2.462169          2.462169          2.462169
2418              13.0         67.126945          5.163611          6.173913
3462               NaN               NaN               NaN               NaN
4930               1.0          2.179749          2.179749          2.179749
5089               1.0          2.512941          2.512941          2.512941
9087               1.0          2.690000          2.690000          2.690000
7470               NaN               NaN               NaN               NaN
3351               NaN               NaN               NaN               NaN
1992               1.0          2.240385          2.240385          2.240385

       NTLmin_D_avg2007
9958           2.475000
12202          2.462169
2418           3.365540
3462                NaN
4930           2.179749
5089           2.512941
9087           2.690000
7470                NaN
3351                NaN
1992           2.240385

[10 rows x 54 columns]
Loading data for Msk_D_2007_cfc.tif. Thu Jan 19 19:33:24 2023

Created pandas dataframe from Msk_D_2007_cfc.tif. Thu Jan 19 19:33:24 2023

Created geodataframe from non-NoData points, Msk_D_2007_cfc.tif. Thu Jan 19 19:33:25 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2007_cfc.tif. Thu Jan 19 19:34:38 2023

         value                          geometry  index_right  Sett_ID
904437     255   POINT (-1015587.062 551784.716)         6399    38356
1040513    255   POINT (-1381847.168 402209.227)         4741    22769
160726     255  POINT (-1228241.151 1347875.124)        11933   189942
392340     255  POINT (-1605337.764 1098670.208)        10185    85519
934382     255   POINT (-1089034.922 518984.649)         6390    38341
663229     255   POINT (-1066939.245 811749.863)        10653   122072
809335     255   POINT (-1416177.183 652049.505)         5697    28436
1137800    255   POINT (-1453035.204 296207.528)          634     1781
1166991    255   POINT (-1391447.523 264965.242)          834     2526
471708     255  POINT (-1433029.142 1015050.289)        11097   142848

Exported as table. Msk_D_2007_cfc.tif. Thu Jan 19 19:34:40 2023


Count of cloud-free observations averaged to settlement level, year 2007. Thu Jan 19 19:34:40 2023

       Sett_ID  NTLcfc_D_2007
2918     12539     218.666667
11073   188136     248.843750
9926    122206     247.148148
5424     28358     255.000000
4464     22691     240.466667
9516     90011     210.800000
2644      9396     251.555556
8421     68790     147.500000
3525     16904     255.000000
7796     62999     201.488372

Merged year 2007 onto latest year settlement feature layer. Thu Jan 19 19:34:40 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
2837      9971              NaN               NaN               NaN
9373     70408              NaN               NaN               NaN
2995     11145              NaN               NaN               NaN
4061     19337              2.0          8.232292          4.116146
2775      9523              NaN               NaN               NaN
9634     72798              NaN               NaN               NaN
12276   191890              1.0          2.653409          2.653409
8843     67331              NaN               NaN               NaN
11512   163229              NaN               NaN               NaN
4084     19365              1.0          3.088871          3.088871

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
2837                NaN               NaN     255.000000              NaN
9373                NaN               NaN            NaN              NaN
2995                NaN               NaN     255.000000              NaN
4061           4.166667          4.065625     167.600000              2.0
2775                NaN               NaN            NaN              NaN
9634                NaN               NaN     255.000000              NaN
12276          2.653409          2.653409     242.187500              1.0
8843                NaN               NaN     255.000000              NaN
11512               NaN               NaN     255.000000              NaN
4084           3.088871          3.088871     223.714286              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2006  \
2837                NaN               NaN  ...               NaN
9373                NaN               NaN  ...               NaN
2995                NaN               NaN  ...               NaN
4061           8.065540          4.032770  ...          3.527010
2775                NaN               NaN  ...               NaN
9634                NaN               NaN  ...               NaN
12276          2.736171          2.736171  ...          2.313811
8843                NaN               NaN  ...               NaN
11512               NaN               NaN  ...               NaN
4084           2.927444          2.927444  ...          2.525424

       NTLmax_D_avg2006  NTLmin_D_avg2006  NTLcfc_D_2006  NTLct_D_avg2007  \
2837                NaN               NaN       255.0000              NaN
9373                NaN               NaN            NaN              NaN
2995                NaN               NaN       255.0000              NaN
4061           3.584481          3.469540       171.2000              2.0
2775                NaN               NaN            NaN              NaN
9634                NaN               NaN       255.0000              NaN
12276          2.313811          2.313811       242.8125              1.0
8843                NaN               NaN       255.0000              NaN
11512               NaN               NaN       255.0000              NaN
4084           2.525424          2.525424       225.0000              1.0

       NTLsum_D_avg2007  NTLavg_D_avg2007  NTLmax_D_avg2007  NTLmin_D_avg2007  \
2837                NaN               NaN               NaN               NaN
9373                NaN               NaN               NaN               NaN
2995                NaN               NaN               NaN               NaN
4061           7.039646          3.519823          3.600000          3.439646
2775                NaN               NaN               NaN               NaN
9634                NaN               NaN               NaN               NaN
12276          2.714037          2.714037          2.714037          2.714037
8843                NaN               NaN               NaN               NaN
11512               NaN               NaN               NaN               NaN
4084           2.571429          2.571429          2.571429          2.571429

       NTLcfc_D_2007
2837      255.000000
9373             NaN
2995      255.000000
4061      171.200000
2775             NaN
9634      255.000000
12276     243.500000
8843      255.000000
11512     255.000000
4084      224.571429

[10 rows x 55 columns]
Loading data for Msk_D_2008_avg.tif. Thu Jan 19 19:34:40 2023

Created pandas dataframe from Msk_D_2008_avg.tif. Thu Jan 19 19:34:40 2023

Created geodataframe from non-NoData points, Msk_D_2008_avg.tif. Thu Jan 19 19:34:40 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2008_avg.tif. Thu Jan 19 19:34:42 2023

             value                          geometry  index_right  Sett_ID
1072407   3.371428   POINT (-1343585.229 367899.213)         1912     5440
254671    2.587301  POINT (-1041063.883 1249194.268)        11669   173068
781983    3.054054   POINT (-1461393.432 681247.157)         9269    69041
992277    3.766667   POINT (-1387335.818 454427.856)         5174    24580
90846     2.971831  POINT (-1063524.914 1422847.543)        12059   191328
1003141   3.307692   POINT (-1435731.559 442320.953)         3716    17105
981397    3.241379   POINT (-1352783.242 466446.858)         5576    27590
967468   29.473684   POINT (-1594352.299 479766.751)         3087    12883
1025880   2.871795   POINT (-1445105.098 417620.063)         3368    14633
868381    3.159091   POINT (-1505863.018 587621.006)         8747    66490

Exported as table. Msk_D_2008_avg.tif. Thu Jan 19 19:34:42 2023


Cells per settlement counted, year 2008. Thu Jan 19 19:34:42 2023

      Sett_ID  NTLct_D_avg2008
3652    52720                1
3108    45233                1
4249    68291                1
4043    63056                1
3387    48526                1
1127     7338                1
4239    67608                1
733      4185                2
2905    36485                1
527      2783                2

Values summed to settlement level, year 2008. Thu Jan 19 19:34:42 2023

      Sett_ID  NTLsum_D_avg2008
4300    68709          3.268293
716      4157          3.071429
4732    74526          3.179487
1266     9099          3.382353
5300   124147          3.352941
3180    46410          2.758621
1071     6418          3.000000
3978    59424          2.815789
5588   146203          6.504390
3767    55686          3.368421

Values averaged to settlement level, year 2008. Thu Jan 19 19:34:42 2023

      Sett_ID  NTLavg_D_avg2008
5158   104662          3.058824
6041   191661          2.714286
6056   191729          2.666667
5999   191401          2.632353
3282    46626          2.580645
6378   198192          3.378378
4109    63205          3.265306
1931    19330          3.096774
16         22          4.431818
4740    74890          3.035137

Merged year 2008 onto latest year settlement feature layer. Thu Jan 19 19:34:42 2023


Max value of available pixels assigned at settlement level, year 2008. Thu Jan 19 19:34:42 2023

      Sett_ID  NTLmax_D_avg2008
4378    68818          3.076923
5331   126136          3.317073
3509    51176          3.236842
1569    13029          3.878788
974      5967          3.058824
1358     9425          3.514286
2796    34921          3.344828
2010    19461          3.589744
461      2684          3.285714
4450    68941          3.023809

Merged year 2008 onto latest year settlement feature layer. Thu Jan 19 19:34:42 2023


Min value of available pixels assigned at settlement level, year 2008. Thu Jan 19 19:34:42 2023

      Sett_ID  NTLmin_D_avg2008
2198    22695          2.757576
4864    79664          2.891892
5966   191301          4.042857
3726    54722          3.210526
2175    22456          3.047619
1764    16523          3.184211
5866   188015          3.660714
6291   197654          2.500000
4476    68984          3.048780
3256    46510          2.735294

Merged year 2008 onto latest year settlement feature layer. Thu Jan 19 19:34:42 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
10869   126338              1.0          2.509921          2.509921
2294      7299              NaN               NaN               NaN
408       1224              NaN               NaN               NaN
12379   195905              NaN               NaN               NaN
1679      4527              NaN               NaN               NaN
11984   191099              1.0          2.441645          2.441645
10339    91495              3.0          8.392685          2.797562
8477     63164              2.0          6.399703          3.199851
6660     46454              2.0          6.133807          3.066904
10486   104575              1.0          2.901515          2.901515

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
10869          2.509921          2.509921     253.514085              1.0
2294                NaN               NaN     255.000000              NaN
408                 NaN               NaN     255.000000              NaN
12379               NaN               NaN            NaN              NaN
1679                NaN               NaN     255.000000              NaN
11984          2.441645          2.441645     252.289474              1.0
10339          2.993634          2.611791     250.080292              3.0
8477           3.274703          3.125000     169.600000              2.0
6660           3.093182          3.040625     228.235294              2.0
10486          2.901515          2.901515     251.442623              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2007  \
10869          2.909555          2.909555  ...          2.639716
2294                NaN               NaN  ...               NaN
408                 NaN               NaN  ...               NaN
12379               NaN               NaN  ...               NaN
1679                NaN               NaN  ...               NaN
11984          2.624146          2.624146  ...          2.548842
10339          9.073831          3.024610  ...          7.346992
8477           6.089860          3.044930  ...          4.819372
6660           6.320747          3.160374  ...          4.682143
10486          3.014173          3.014173  ...          2.647233

       NTLavg_D_avg2007  NTLmax_D_avg2007  NTLmin_D_avg2007  NTLcfc_D_2007  \
10869          2.639716          2.639716          2.639716     253.521127
2294                NaN               NaN               NaN     255.000000
408                 NaN               NaN               NaN     255.000000
12379               NaN               NaN               NaN            NaN
1679                NaN               NaN               NaN     255.000000
11984          2.548842          2.548842          2.548842     252.526316
10339          2.448997          2.535088          2.364286     250.065693
8477           2.409686          2.484848          2.334524     172.000000
6660           2.341071          2.394643          2.287500     228.588235
10486          2.647233          2.647233          2.647233     251.426230

       NTLct_D_avg2008  NTLsum_D_avg2008  NTLavg_D_avg2008  NTLmax_D_avg2008  \
10869              1.0          3.500000          3.500000          3.500000
2294               NaN               NaN               NaN               NaN
408                NaN               NaN               NaN               NaN
12379              NaN               NaN               NaN               NaN
1679               NaN               NaN               NaN               NaN
11984              1.0          2.649351          2.649351          2.649351
10339              3.0          9.669935          3.223312          3.305556
8477               2.0          6.222222          3.111111          3.111111
6660               2.0          5.601326          2.800663          2.843750
10486              1.0          3.272727          3.272727          3.272727

       NTLmin_D_avg2008
10869          3.500000
2294                NaN
408                 NaN
12379               NaN
1679                NaN
11984          2.649351
10339          3.058824
8477           3.111111
6660           2.757576
10486          3.272727

[10 rows x 60 columns]
Loading data for Msk_D_2008_cfc.tif. Thu Jan 19 19:34:42 2023

Created pandas dataframe from Msk_D_2008_cfc.tif. Thu Jan 19 19:34:42 2023

Created geodataframe from non-NoData points, Msk_D_2008_cfc.tif. Thu Jan 19 19:34:42 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2008_cfc.tif. Thu Jan 19 19:34:44 2023

         value                          geometry  index_right  Sett_ID
813795      42   POINT (-1494100.887 646672.993)         8927    68641
1008732     37   POINT (-1322330.671 437047.662)         5882    33920
1082414     37   POINT (-1346120.774 357031.935)         1504     4194
821943      36   POINT (-1530423.106 637604.981)         7350    51689
798357      39   POINT (-1466484.840 663540.131)         9359    69169
764602      40   POINT (-1540340.376 699414.268)         8080    59177
836462      39   POINT (-1565832.462 621656.015)         7268    51573
400985      64  POINT (-1210471.918 1092190.534)        11165   145497
852884      34   POINT (-1529347.691 604192.058)         7010    49128
441041      64  POINT (-1196379.074 1049442.445)        11230   145783

Exported as table. Msk_D_2008_cfc.tif. Thu Jan 19 19:34:44 2023


Count of cloud-free observations averaged to settlement level, year 2008. Thu Jan 19 19:34:44 2023

      Sett_ID  NTLcfc_D_2008
4764    74938           41.0
982      6173           36.0
4930    82472           38.0
5080    97737           34.0
2612    28297           51.0
5306   125032           49.0
3266    46523           28.0
1561    13014           35.0
3052    38427           41.0
4466    68968           38.0

Merged year 2008 onto latest year settlement feature layer. Thu Jan 19 19:34:44 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
1352      3856              NaN               NaN               NaN
7031     49153              1.0          3.113287          3.113287
7085     49213              2.0          6.037413          3.018706
4898     23336              NaN               NaN               NaN
8059     58843              NaN               NaN               NaN
7185     50097              NaN               NaN               NaN
9495     71360              1.0          2.975733          2.975733
7444     52519              1.0          2.431677          2.431677
12407   196150              NaN               NaN               NaN
5596     27787              1.0          3.142857          3.142857

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
1352                NaN               NaN     255.000000              NaN
7031           3.113287          3.113287     235.181818              1.0
7085           3.061444          2.975969      37.000000              2.0
4898                NaN               NaN     255.000000              NaN
8059                NaN               NaN            NaN              NaN
7185                NaN               NaN     255.000000              NaN
9495           2.975733          2.975733      34.000000              1.0
7444           2.431677          2.431677     181.666667              1.0
12407               NaN               NaN            NaN              NaN
5596           3.142857          3.142857     247.178571              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2007  \
1352                NaN               NaN  ...               NaN
7031           3.079356          3.079356  ...          2.722826
7085           6.687539          3.343770  ...          2.756341
4898                NaN               NaN  ...               NaN
8059                NaN               NaN  ...               NaN
7185                NaN               NaN  ...               NaN
9495           2.911791          2.911791  ...          2.844444
7444           2.948113          2.948113  ...          2.296581
12407               NaN               NaN  ...               NaN
5596           2.711111          2.711111  ...          2.386973

       NTLmax_D_avg2007  NTLmin_D_avg2007  NTLcfc_D_2007  NTLct_D_avg2008  \
1352                NaN               NaN     255.000000              NaN
7031           2.722826          2.722826     235.090909              1.0
7085           2.858696          2.653986      36.000000              2.0
4898                NaN               NaN     255.000000              NaN
8059                NaN               NaN            NaN              NaN
7185                NaN               NaN     255.000000              NaN
9495           2.844444          2.844444      39.000000              1.0
7444           2.296581          2.296581     182.333333              1.0
12407               NaN               NaN            NaN              NaN
5596           2.386973          2.386973     247.392857              1.0

       NTLsum_D_avg2008  NTLavg_D_avg2008  NTLmax_D_avg2008  NTLmin_D_avg2008  \
1352                NaN               NaN               NaN               NaN
7031           3.314286          3.314286          3.314286          3.314286
7085           6.114285          3.057143          3.114286          3.000000
4898                NaN               NaN               NaN               NaN
8059                NaN               NaN               NaN               NaN
7185                NaN               NaN               NaN               NaN
9495           3.500000          3.500000          3.500000          3.500000
7444           3.000000          3.000000          3.000000          3.000000
12407               NaN               NaN               NaN               NaN
5596           2.870968          2.870968          2.870968          2.870968

       NTLcfc_D_2008
1352             NaN
7031            35.0
7085            35.5
4898             NaN
8059             NaN
7185             NaN
9495            43.0
7444            34.0
12407            NaN
5596            31.0

[10 rows x 61 columns]
Loading data for Msk_D_2009_avg.tif. Thu Jan 19 19:34:44 2023

Created pandas dataframe from Msk_D_2009_avg.tif. Thu Jan 19 19:34:44 2023

Created geodataframe from non-NoData points, Msk_D_2009_avg.tif. Thu Jan 19 19:34:44 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2009_avg.tif. Thu Jan 19 19:34:46 2023

             value                          geometry  index_right  Sett_ID
1008798   2.781250   POINT (-1436138.158 437882.959)         3674    16804
823731    4.058824   POINT (-1553371.688 636968.762)         7785    56244
834706    3.291667   POINT (-1516056.150 625410.225)         7015    49133
959423    4.029412   POINT (-1593121.499 490117.929)         3115    12912
997001   29.571428   POINT (-1396403.333 450926.807)         3884    19120
1084379   3.062500   POINT (-1463339.699 355863.520)          938     2679
999737    6.800000   POINT (-1393790.124 447985.050)         3884    19120
985146    5.656250   POINT (-1406862.470 463677.697)         4042    19317
1059357   3.096774   POINT (-1043015.682 385646.756)         2076     6362
217599    3.125000  POINT (-1041668.813 1289339.772)        11640   169915

Exported as table. Msk_D_2009_avg.tif. Thu Jan 19 19:34:46 2023


Cells per settlement counted, year 2009. Thu Jan 19 19:34:46 2023

      Sett_ID  NTLct_D_avg2009
3997    63045                2
5559   145906                1
911      5143                1
4039    63133                1
6353   197726                5
171      1071                1
5748   169881                1
3951    60543                1
289      1784                3
2530    25271                1

Values summed to settlement level, year 2009. Thu Jan 19 19:34:46 2023

      Sett_ID  NTLsum_D_avg2009
3490    50486          2.666667
4723    74889          5.695652
5159   111619          2.782609
4837    79636          2.869565
5787   174895         72.452812
2849    36302          2.578947
5011    91446          3.578947
3603    51742          8.845030
6220   196273          3.566667
6011   191392          2.571429

Values averaged to settlement level, year 2009. Thu Jan 19 19:34:46 2023

      Sett_ID  NTLavg_D_avg2009
4435    68888          2.720000
2338    23303          2.413793
1114     7069          3.171429
765      4241          3.100000
1731    16037          2.863636
5095   104513          4.958195
2546    25567          5.920000
2155    21064          3.484848
282      1767          2.264706
1077     6424          3.233333

Merged year 2009 onto latest year settlement feature layer. Thu Jan 19 19:34:46 2023


Max value of available pixels assigned at settlement level, year 2009. Thu Jan 19 19:34:46 2023

      Sett_ID  NTLmax_D_avg2009
6465   199033          2.833333
3537    51638          3.368421
499      2761          2.620690
4549    69100          2.689655
4091    63239          2.848485
3361    48504          2.812500
6052   191663          2.692308
2524    25114         15.906250
2668    28464          3.125000
2302    22815          2.576923

Merged year 2009 onto latest year settlement feature layer. Thu Jan 19 19:34:46 2023


Min value of available pixels assigned at settlement level, year 2009. Thu Jan 19 19:34:46 2023

      Sett_ID  NTLmin_D_avg2009
5220   122093          2.714286
1832    18690          3.172414
4392    68826          2.920000
1901    19246          3.250000
4572    69139          2.407408
6009   191384          2.750000
195      1246          2.689655
3798    56505          2.916667
226      1444          2.896552
1645    14640          3.000000

Merged year 2009 onto latest year settlement feature layer. Thu Jan 19 19:34:46 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
13241   201054              1.0          2.635417          2.635417
2792      9605              NaN               NaN               NaN
2004      6003              NaN               NaN               NaN
5995     34842              2.0          5.265528          2.632764
5185     24592              1.0          3.826355          3.826355
2368      7524              1.0          2.820833          2.820833
12799   197999              NaN               NaN               NaN
11732   175318              NaN               NaN               NaN
3754     17459              NaN               NaN               NaN
7114     49471              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
13241          2.635417          2.635417     197.500000              1.0
2792                NaN               NaN     255.000000              NaN
2004                NaN               NaN     255.000000              NaN
5995           2.643369          2.622159     237.000000              2.0
5185           3.826355          3.826355     218.500000              1.0
2368           2.820833          2.820833     254.345238              1.0
12799               NaN               NaN     255.000000              NaN
11732               NaN               NaN     255.000000              NaN
3754                NaN               NaN     255.000000              NaN
7114                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2008  \
13241          3.017926          3.017926  ...          3.114286
2792                NaN               NaN  ...               NaN
2004                NaN               NaN  ...               NaN
5995           5.796769          2.898384  ...          5.237903
5185           3.857577          3.857577  ...          4.621622
2368           3.099201          3.099201  ...          3.333333
12799               NaN               NaN  ...               NaN
11732               NaN               NaN  ...               NaN
3754                NaN               NaN  ...               NaN
7114                NaN               NaN  ...               NaN

       NTLavg_D_avg2008  NTLmax_D_avg2008  NTLmin_D_avg2008  NTLcfc_D_2008  \
13241          3.114286          3.114286          3.114286           37.0
2792                NaN               NaN               NaN            NaN
2004                NaN               NaN               NaN            NaN
5995           2.618952          2.625000          2.612903           32.5
5185           4.621622          4.621622          4.621622           37.0
2368           3.333333          3.333333          3.333333           31.0
12799               NaN               NaN               NaN            NaN
11732               NaN               NaN               NaN            NaN
3754                NaN               NaN               NaN            NaN
7114                NaN               NaN               NaN            NaN

       NTLct_D_avg2009  NTLsum_D_avg2009  NTLavg_D_avg2009  NTLmax_D_avg2009  \
13241              NaN               NaN               NaN               NaN
2792               NaN               NaN               NaN               NaN
2004               1.0          2.939394          2.939394          2.939394
5995               NaN               NaN               NaN               NaN
5185               1.0          4.433333          4.433333          4.433333
2368               NaN               NaN               NaN               NaN
12799              1.0          3.222222          3.222222          3.222222
11732              NaN               NaN               NaN               NaN
3754               NaN               NaN               NaN               NaN
7114               1.0          2.961539          2.961539          2.961539

       NTLmin_D_avg2009
13241               NaN
2792                NaN
2004           2.939394
5995                NaN
5185           4.433333
2368                NaN
12799          3.222222
11732               NaN
3754                NaN
7114           2.961539

[10 rows x 66 columns]
Loading data for Msk_D_2009_cfc.tif. Thu Jan 19 19:34:46 2023

Created pandas dataframe from Msk_D_2009_cfc.tif. Thu Jan 19 19:34:47 2023

Created geodataframe from non-NoData points, Msk_D_2009_cfc.tif. Thu Jan 19 19:34:47 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2009_cfc.tif. Thu Jan 19 19:34:48 2023

         value                          geometry  index_right  Sett_ID
968391      35   POINT (-1583093.853 478854.901)         3026    12521
985885      35   POINT (-1406415.530 461216.803)         3884    19120
229185      28  POINT (-1046389.299 1276265.098)        11680   173672
823774      23   POINT (-1520883.739 635699.257)         7015    49133
864848      39   POINT (-1413231.689 592108.580)         5690    28422
938319      27   POINT (-1619662.159 511117.167)         2495     7835
942811      33   POINT (-1669836.363 505855.482)        12410   196158
612126      26   POINT (-1191147.153 865985.237)        10842   126275
816561      29   POINT (-1462902.374 643914.335)         9609    72423
1093229     31   POINT (-1436887.193 344672.582)          846     2572

Exported as table. Msk_D_2009_cfc.tif. Thu Jan 19 19:34:48 2023


Count of cloud-free observations averaged to settlement level, year 2009. Thu Jan 19 19:34:48 2023

      Sett_ID  NTLcfc_D_2009
4177    66377           37.0
6105   191879           39.0
733      4185           33.5
2733    33894           25.0
5595   146253           35.0
4889    79727           18.0
4597    70801           24.0
3913    59185           16.0
6184   196231           27.0
5692   163629           30.0

Merged year 2009 onto latest year settlement feature layer. Thu Jan 19 19:34:48 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
2065      6351              1.0          3.274554          3.274554
10018    79769              NaN               NaN               NaN
10753   123711              NaN               NaN               NaN
7114     49471              NaN               NaN               NaN
11621   169873              NaN               NaN               NaN
2145      6432              NaN               NaN               NaN
9520     71532              NaN               NaN               NaN
4779     22810              1.0          3.102703          3.102703
4104     19391              NaN               NaN               NaN
2327      7373              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
2065           3.274554          3.274554     253.636364              1.0
10018               NaN               NaN     255.000000              NaN
10753               NaN               NaN     255.000000              NaN
7114                NaN               NaN     255.000000              NaN
11621               NaN               NaN     255.000000              NaN
2145                NaN               NaN     255.000000              NaN
9520                NaN               NaN            NaN              NaN
4779           3.102703          3.102703     239.071429              1.0
4104                NaN               NaN     255.000000              NaN
2327                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2008  \
2065           2.883220          2.883220  ...          2.555556
10018               NaN               NaN  ...               NaN
10753               NaN               NaN  ...               NaN
7114                NaN               NaN  ...               NaN
11621               NaN               NaN  ...               NaN
2145                NaN               NaN  ...               NaN
9520                NaN               NaN  ...               NaN
4779           2.947619          2.947619  ...          3.324324
4104                NaN               NaN  ...               NaN
2327                NaN               NaN  ...               NaN

       NTLmax_D_avg2008  NTLmin_D_avg2008  NTLcfc_D_2008  NTLct_D_avg2009  \
2065           2.555556          2.555556           36.0              NaN
10018               NaN               NaN            NaN              NaN
10753               NaN               NaN            NaN              1.0
7114                NaN               NaN            NaN              1.0
11621               NaN               NaN            NaN              1.0
2145                NaN               NaN            NaN              NaN
9520                NaN               NaN            NaN              1.0
4779           3.324324          3.324324           37.0              1.0
4104                NaN               NaN            NaN              NaN
2327                NaN               NaN            NaN              NaN

       NTLsum_D_avg2009  NTLavg_D_avg2009  NTLmax_D_avg2009  NTLmin_D_avg2009  \
2065                NaN               NaN               NaN               NaN
10018               NaN               NaN               NaN               NaN
10753          3.052632          3.052632          3.052632          3.052632
7114           2.961539          2.961539          2.961539          2.961539
11621          2.640000          2.640000          2.640000          2.640000
2145                NaN               NaN               NaN               NaN
9520           3.444444          3.444444          3.444444          3.444444
4779           2.838710          2.838710          2.838710          2.838710
4104                NaN               NaN               NaN               NaN
2327                NaN               NaN               NaN               NaN

       NTLcfc_D_2009
2065            34.0
10018            NaN
10753            NaN
7114             NaN
11621            NaN
2145             NaN
9520             NaN
4779            30.0
4104             NaN
2327             NaN

[10 rows x 67 columns]
Loading data for Msk_D_2010_avg.tif. Thu Jan 19 19:34:48 2023

Created pandas dataframe from Msk_D_2010_avg.tif. Thu Jan 19 19:34:49 2023

Created geodataframe from non-NoData points, Msk_D_2010_avg.tif. Thu Jan 19 19:34:49 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2010_avg.tif. Thu Jan 19 19:34:50 2023

            value                          geometry  index_right  Sett_ID
840166   4.333333   POINT (-1521215.766 619480.697)         7015    49133
796416   4.302326   POINT (-1540566.076 666521.634)         7787    56246
792803   4.931818   POINT (-1513738.058 670617.753)         7859    56324
988793  25.216217   POINT (-1404243.332 459751.190)         3884    19120
931400   4.106061   POINT (-1404600.407 521803.259)         4215    19529
886562   5.755556   POINT (-1577184.222 568973.327)         3094    12890
812803   4.148936   POINT (-1549982.116 648780.886)         7785    56244
395963  28.732395  POINT (-1207466.111 1098526.397)        11165   145497
815640   4.117647   POINT (-1459885.620 646388.679)         9164    68907
130139   3.753623  POINT (-1045538.011 1381993.141)        12002   191165

Exported as table. Msk_D_2010_avg.tif. Thu Jan 19 19:34:50 2023


Cells per settlement counted, year 2010. Thu Jan 19 19:34:50 2023

      Sett_ID  NTLct_D_avg2010
3994    63042                2
5538   145725                2
4809    79589                1
975      5844                1
544      3004                1
267      1736                1
1759    16517                1
1535    12974                1
5983   191278                1
2546    25567                1

Values summed to settlement level, year 2010. Thu Jan 19 19:34:51 2023

      Sett_ID  NTLsum_D_avg2010
390      2594          3.938776
3518    51594         13.111836
4475    68966          3.920000
4498    69004          3.826923
1647    14645          4.508474
4855    79697         12.899603
4683    73420          4.809524
1483    12891         16.705000
5498   145493         21.525074
2872    36374         12.576813

Values averaged to settlement level, year 2010. Thu Jan 19 19:34:51 2023

      Sett_ID  NTLavg_D_avg2010
6022   191484          3.788732
4098    64044          4.666667
4412    68851          4.738562
4569    69134          4.240000
758      4231          3.815385
1135     7351          3.786885
4285    68694          3.724138
2102    20041          4.283333
2921    36526          4.000000
492      2752          4.391304

Merged year 2010 onto latest year settlement feature layer. Thu Jan 19 19:34:51 2023


Max value of available pixels assigned at settlement level, year 2010. Thu Jan 19 19:34:51 2023

      Sett_ID  NTLmax_D_avg2010
5407   136037          4.215384
4027    63108          4.231884
5638   155485          4.315069
2701    32237          4.535714
5029    91622          4.186047
3781    56314          4.319149
2153    21046          7.127273
3094    45262          4.139535
453      2695          4.262295
3253    46667          4.028572

Merged year 2010 onto latest year settlement feature layer. Thu Jan 19 19:34:51 2023


Min value of available pixels assigned at settlement level, year 2010. Thu Jan 19 19:34:51 2023

      Sett_ID  NTLmin_D_avg2010
162       980          4.171875
572      3371          4.938776
5697   163602          3.986842
3333    48436          4.113636
135       767          4.280702
1923    19291          4.560606
4842    79656          4.022222
1324     9166          5.951613
409      2632          4.211538
1471    12684         60.140625

Merged year 2010 onto latest year settlement feature layer. Thu Jan 19 19:34:51 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
10968   135913              4.0         13.421962          3.355490
11479   158121              NaN               NaN               NaN
12990   198800              1.0          3.337912          3.337912
12780   197954              1.0          2.913630          2.913630
852       2578              NaN               NaN               NaN
1597      4311              1.0          3.108193          3.108193
5715     28575              NaN               NaN               NaN
9562     71841              NaN               NaN               NaN
8425     63093              NaN               NaN               NaN
1150      3270              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
10968          3.507260          3.127119     254.761919              4.0
11479               NaN               NaN     255.000000              NaN
12990          3.337912          3.337912     210.800000              1.0
12780          2.913630          2.913630      32.000000              1.0
852                 NaN               NaN     255.000000              NaN
1597           3.108193          3.108193     244.818182              1.0
5715                NaN               NaN     255.000000              NaN
9562                NaN               NaN     255.000000              NaN
8425                NaN               NaN     255.000000              NaN
1150                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2009  \
10968         14.748249          3.687062  ...         13.945869
11479               NaN               NaN  ...          3.266667
12990          3.260196          3.260196  ...               NaN
12780          3.663053          3.663053  ...               NaN
852                 NaN               NaN  ...          2.787879
1597           2.925770          2.925770  ...               NaN
5715                NaN               NaN  ...          3.194444
9562                NaN               NaN  ...               NaN
8425                NaN               NaN  ...          3.055556
1150                NaN               NaN  ...               NaN

       NTLavg_D_avg2009  NTLmax_D_avg2009  NTLmin_D_avg2009  NTLcfc_D_2009  \
10968          3.486467          3.925926          3.230769          28.25
11479          3.266667          3.266667          3.266667            NaN
12990               NaN               NaN               NaN          26.00
12780               NaN               NaN               NaN          29.00
852            2.787879          2.787879          2.787879            NaN
1597                NaN               NaN               NaN          28.00
5715           3.194444          3.194444          3.194444            NaN
9562                NaN               NaN               NaN            NaN
8425           3.055556          3.055556          3.055556            NaN
1150                NaN               NaN               NaN            NaN

       NTLct_D_avg2010  NTLsum_D_avg2010  NTLavg_D_avg2010  NTLmax_D_avg2010  \
10968              4.0         18.557369          4.639342          4.776119
11479              1.0          3.851351          3.851351          3.851351
12990              NaN               NaN               NaN               NaN
12780              NaN               NaN               NaN               NaN
852                1.0          3.808511          3.808511          3.808511
1597               NaN               NaN               NaN               NaN
5715               1.0          5.925373          5.925373          5.925373
9562               NaN               NaN               NaN               NaN
8425               1.0          4.197183          4.197183          4.197183
1150               NaN               NaN               NaN               NaN

       NTLmin_D_avg2010
10968          4.375000
11479          3.851351
12990               NaN
12780               NaN
852            3.808511
1597                NaN
5715           5.925373
9562                NaN
8425           4.197183
1150                NaN

[10 rows x 72 columns]
Loading data for Msk_D_2010_cfc.tif. Thu Jan 19 19:34:51 2023

Created pandas dataframe from Msk_D_2010_cfc.tif. Thu Jan 19 19:34:51 2023

Created geodataframe from non-NoData points, Msk_D_2010_cfc.tif. Thu Jan 19 19:34:51 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2010_cfc.tif. Thu Jan 19 19:34:53 2023

         value                         geometry  index_right  Sett_ID
805665      51  POINT (-1442184.988 655826.762)         9195    68944
851037      54  POINT (-1552741.754 606010.809)         7057    49179
807394      49  POINT (-1520993.878 653383.969)         7643    54700
850164      54  POINT (-1520706.220 607195.601)        12330   195330
1036841     53  POINT (-1409558.510 405995.325)        12938   198644
986324      58  POINT (-1026469.644 463110.759)         2129     6415
821038      47  POINT (-1526098.734 638614.678)         7015    49133
781095      53  POINT (-1442341.567 682342.262)         9701    73542
966552      64  POINT (-1599552.011 480717.854)         3087    12883
979315      60  POINT (-1579555.174 467055.054)         3026    12521

Exported as table. Msk_D_2010_cfc.tif. Thu Jan 19 19:34:53 2023


Count of cloud-free observations averaged to settlement level, year 2010. Thu Jan 19 19:34:53 2023

      Sett_ID  NTLcfc_D_2010
4187    66490           59.0
4018    61303           47.0
2964    37876           53.0
1789    17288           61.0
2442    24617           61.0
2715    32963           55.0
5025    89763           54.0
5929   191053           69.0
469      2696           65.0
3468    49226           51.0

Merged year 2010 onto latest year settlement feature layer. Thu Jan 19 19:34:53 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
12005   191196              NaN               NaN               NaN
11699   174886              1.0          2.861197          2.861197
8005     57756              NaN               NaN               NaN
1051      2797              1.0          2.766995          2.766995
11272   146039              1.0          2.907329          2.907329
4036     19311              1.0          4.585453          4.585453
12786   197961              NaN               NaN               NaN
7866     56332              4.0         11.253173          2.813293
9479     71266              1.0          2.651070          2.651070
4515     21299              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
12005               NaN               NaN     255.000000              NaN
11699          2.861197          2.861197     251.473684              1.0
8005                NaN               NaN     255.000000              NaN
1051           2.766995          2.766995     210.400000              1.0
11272          2.907329          2.907329     251.698413              1.0
4036           4.585453          4.585453     200.250000              1.0
12786               NaN               NaN            NaN              NaN
7866           2.884416          2.709596     143.000000              4.0
9479           2.651070          2.651070      30.000000              1.0
4515                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2009  \
12005               NaN               NaN  ...          2.375000
11699          2.844936          2.844936  ...          3.036765
8005                NaN               NaN  ...               NaN
1051           2.645000          2.645000  ...          2.437500
11272          3.024510          3.024510  ...          3.071429
4036           4.490196          4.490196  ...          4.695992
12786               NaN               NaN  ...               NaN
7866          11.853535          2.963384  ...          2.919643
9479           2.762542          2.762542  ...               NaN
4515                NaN               NaN  ...               NaN

       NTLmax_D_avg2009  NTLmin_D_avg2009  NTLcfc_D_2009  NTLct_D_avg2010  \
12005          2.375000          2.375000            NaN              1.0
11699          3.250000          2.823529           36.0              2.0
8005                NaN               NaN            NaN              NaN
1051           2.437500          2.437500           31.0              1.0
11272          3.071429          3.071429           34.0              1.0
4036           4.967742          4.424242           33.0              2.0
12786               NaN               NaN            NaN              NaN
7866           2.964286          2.875000           30.0              2.0
9479                NaN               NaN           22.0              NaN
4515                NaN               NaN            NaN              NaN

       NTLsum_D_avg2010  NTLavg_D_avg2010  NTLmax_D_avg2010  NTLmin_D_avg2010  \
12005          4.027778          4.027778          4.027778          4.027778
11699          8.059309          4.029655          4.194445          3.864865
8005                NaN               NaN               NaN               NaN
1051           3.944444          3.944444          3.944444          3.944444
11272          4.500000          4.500000          4.500000          4.500000
4036          15.780134          7.890067          8.872727          6.907407
12786               NaN               NaN               NaN               NaN
7866           8.291242          4.145621          4.270833          4.020408
9479                NaN               NaN               NaN               NaN
4515                NaN               NaN               NaN               NaN

       NTLcfc_D_2010
12005            NaN
11699          73.00
8005             NaN
1051           52.00
11272          74.00
4036           55.00
12786            NaN
7866           50.25
9479           52.00
4515             NaN

[10 rows x 73 columns]
Loading data for Msk_D_2011_avg.tif. Thu Jan 19 19:34:53 2023

Created pandas dataframe from Msk_D_2011_avg.tif. Thu Jan 19 19:34:53 2023

Created geodataframe from non-NoData points, Msk_D_2011_avg.tif. Thu Jan 19 19:34:53 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2011_avg.tif. Thu Jan 19 19:34:55 2023

         value                          geometry  index_right  Sett_ID
770087       4   POINT (-1518645.714 693660.620)        10195    89141
814711       3   POINT (-1488898.089 645722.243)         8968    68691
774579       3   POINT (-1568859.627 688434.869)         9947    79610
1071686      4   POINT (-1180077.140 369731.566)         6280    37802
821029       4   POINT (-1533893.687 638565.812)         7343    51681
796418       3   POINT (-1569574.464 664863.691)        13201   199877
965008       4   POINT (-1360671.569 484136.789)         5230    24656
959497       5   POINT (-1404849.031 489796.761)         4132    19423
569382       5   POINT (-1168827.092 912040.955)        10900   126388
409209       4  POINT (-1180927.356 1083580.893)        11263   145986

Exported as table. Msk_D_2011_avg.tif. Thu Jan 19 19:34:55 2023


Cells per settlement counted, year 2011. Thu Jan 19 19:34:55 2023

      Sett_ID  NTLct_D_avg2011
684      4101                1
3699    54326                1
6294   197659                1
80        124                2
4832    79595                7
392      2574                1
5038    91459                2
1572    13035                1
3493    50106                1
5379   126387                1

Values summed to settlement level, year 2011. Thu Jan 19 19:34:55 2023

      Sett_ID  NTLsum_D_avg2011
6105   191879               6.0
1787    17263               3.0
5260   122129               5.0
3917    59189              23.0
4948    85486               4.0
3831    56326              40.0
479      2721               3.0
4407    68855              16.0
4227    67120               4.0
379      2495               3.0

Values averaged to settlement level, year 2011. Thu Jan 19 19:34:55 2023

      Sett_ID  NTLavg_D_avg2011
5966   191301               6.0
5376   126383               5.0
4863    79663               5.0
2013    19466               4.0
2773    34076               3.0
3227    46466               3.0
3993    60168               5.0
447      2668               3.0
2309    23306               3.0
52         78               3.0

Merged year 2011 onto latest year settlement feature layer. Thu Jan 19 19:34:55 2023


Max value of available pixels assigned at settlement level, year 2011. Thu Jan 19 19:34:55 2023

      Sett_ID  NTLmax_D_avg2011
767      4250                 3
2184    22667                 3
51         76                 3
3080    45199                 4
1108     7174                 4
1106     7147                 3
244      1542                 3
5552   145918                 5
5840   183065                 4
4756    74919                 3

Merged year 2011 onto latest year settlement feature layer. Thu Jan 19 19:34:55 2023


Min value of available pixels assigned at settlement level, year 2011. Thu Jan 19 19:34:55 2023

      Sett_ID  NTLmin_D_avg2011
852      4516                 3
3350    48423                 3
3596    51709                 3
4718    73843                 5
1933    19333                 4
1453    12526                 4
4654    71937                 4
1823    18139                 3
1257     9080                 3
1740    15913                 3

Merged year 2011 onto latest year settlement feature layer. Thu Jan 19 19:34:55 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
483       1373              NaN               NaN               NaN
9952     79617              1.0          3.116771          3.116771
11055   136289              1.0          2.985043          2.985043
1048      2793              NaN               NaN               NaN
3197     13014              1.0          3.273264          3.273264
550       1563              NaN               NaN               NaN
8446     63122              1.0          3.158949          3.158949
1419      4073              1.0          2.815476          2.815476
8478     63165              1.0          2.747222          2.747222
8619     65073              1.0          3.573214          3.573214

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
483                 NaN               NaN     255.000000              NaN
9952           3.116771          3.116771     178.666667              1.0
11055          2.985043          2.985043     253.344000              1.0
1048                NaN               NaN     255.000000              NaN
3197           3.273264          3.273264     201.000000              1.0
550                 NaN               NaN     255.000000              NaN
8446           3.158949          3.158949     183.666667              1.0
1419           2.815476          2.815476     217.833333              1.0
8478           2.747222          2.747222     183.000000              1.0
8619           3.573214          3.573214     201.750000              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2010  \
483                 NaN               NaN  ...               NaN
9952           3.047472          3.047472  ...          4.023809
11055          3.074136          3.074136  ...          4.602941
1048                NaN               NaN  ...          3.867924
3197           2.928307          2.928307  ...          4.340425
550                 NaN               NaN  ...          4.418182
8446           2.814768          2.814768  ...          3.970149
1419           2.821023          2.821023  ...               NaN
8478           2.929245          2.929245  ...               NaN
8619           3.186975          3.186975  ...               NaN

       NTLavg_D_avg2010  NTLmax_D_avg2010  NTLmin_D_avg2010  NTLcfc_D_2010  \
483                 NaN               NaN               NaN            NaN
9952           4.023809          4.023809          4.023809           43.0
11055          4.602941          4.602941          4.602941           70.0
1048           3.867924          3.867924          3.867924            NaN
3197           4.340425          4.340425          4.340425           47.0
550            4.418182          4.418182          4.418182            NaN
8446           3.970149          3.970149          3.970149           68.0
1419                NaN               NaN               NaN           59.0
8478                NaN               NaN               NaN           74.0
8619                NaN               NaN               NaN           69.0

       NTLct_D_avg2011  NTLsum_D_avg2011  NTLavg_D_avg2011  NTLmax_D_avg2011  \
483                NaN               NaN               NaN               NaN
9952               1.0               3.0               3.0               3.0
11055              1.0               4.0               4.0               4.0
1048               NaN               NaN               NaN               NaN
3197               1.0               3.0               3.0               3.0
550                NaN               NaN               NaN               NaN
8446               1.0               4.0               4.0               4.0
1419               1.0               3.0               3.0               3.0
8478               1.0               4.0               4.0               4.0
8619               1.0               3.0               3.0               3.0

       NTLmin_D_avg2011
483                 NaN
9952                3.0
11055               4.0
1048                NaN
3197                3.0
550                 NaN
8446                4.0
1419                3.0
8478                4.0
8619                3.0

[10 rows x 78 columns]
Loading data for Msk_D_2011_cfc.tif. Thu Jan 19 19:34:55 2023

Created pandas dataframe from Msk_D_2011_cfc.tif. Thu Jan 19 19:34:55 2023

Created geodataframe from non-NoData points, Msk_D_2011_cfc.tif. Thu Jan 19 19:34:55 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2011_cfc.tif. Thu Jan 19 19:34:57 2023

         value                          geometry  index_right  Sett_ID
964733      50   POINT (-1598699.371 482693.655)         3087    12883
1158777     50   POINT (-1412253.738 273734.556)          827     2511
872004      49   POINT (-1520559.242 583595.824)        12575   196753
845569      48   POINT (-1559707.354 611865.215)         3241    13090
891254      61   POINT (-1399213.141 563663.260)         5677    28382
348275      65  POINT (-1149996.714 1148845.025)        11394   155469
814637      52   POINT (-1552991.747 645323.102)         7390    51734
976585      48   POINT (-1579574.305 470010.810)         3026    12521
821948      56   POINT (-1526092.593 637632.082)         7015    49133
760983      49   POINT (-1522172.081 703454.101)         8076    59173

Exported as table. Msk_D_2011_cfc.tif. Thu Jan 19 19:34:57 2023


Count of cloud-free observations averaged to settlement level, year 2011. Thu Jan 19 19:34:57 2023

      Sett_ID  NTLcfc_D_2011
4524    69074           58.0
5364   126344           44.0
5090    97775           51.0
2701    32264           54.5
3477    49691           51.0
4145    64939           61.0
4912    80744           43.0
838      4385           53.0
4723    74049           49.0
2234    22746           54.0

Merged year 2011 onto latest year settlement feature layer. Thu Jan 19 19:34:57 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
6859     48365              NaN               NaN               NaN
11357   146541              NaN               NaN               NaN
1278      3693              NaN               NaN               NaN
6480     45196              1.0          3.407393          3.407393
11778   177836              1.0          2.632388          2.632388
8768     66517              1.0          3.022114          3.022114
12605   197479              NaN               NaN               NaN
10517   104725              NaN               NaN               NaN
1502      4192              NaN               NaN               NaN
5706     28463              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
6859                NaN               NaN     255.000000              NaN
11357               NaN               NaN     255.000000              NaN
1278                NaN               NaN     255.000000              NaN
6480           3.407393          3.407393     247.967742              1.0
11778          2.632388          2.632388     252.367089              1.0
8768           3.022114          3.022114     211.800000              1.0
12605               NaN               NaN     255.000000              NaN
10517               NaN               NaN     255.000000              NaN
1502                NaN               NaN     255.000000              NaN
5706                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2010  \
6859                NaN               NaN  ...               NaN
11357               NaN               NaN  ...          4.132353
1278                NaN               NaN  ...          5.000000
6480           2.944757          2.944757  ...          4.339622
11778          2.875637          2.875637  ...               NaN
8768           2.988844          2.988844  ...          4.033333
12605               NaN               NaN  ...               NaN
10517               NaN               NaN  ...          4.348837
1502                NaN               NaN  ...          4.583333
5706                NaN               NaN  ...          4.183333

       NTLmax_D_avg2010  NTLmin_D_avg2010  NTLcfc_D_2010  NTLct_D_avg2011  \
6859                NaN               NaN            NaN              NaN
11357          4.132353          4.132353            NaN              NaN
1278           5.000000          5.000000            NaN              NaN
6480           4.339622          4.339622           53.0              1.0
11778               NaN               NaN           70.0              1.0
8768           4.033333          4.033333           61.0              1.0
12605               NaN               NaN            NaN              NaN
10517          4.348837          4.348837            NaN              NaN
1502           4.583333          4.583333            NaN              NaN
5706           4.183333          4.183333            NaN              NaN

       NTLsum_D_avg2011  NTLavg_D_avg2011  NTLmax_D_avg2011  NTLmin_D_avg2011  \
6859                NaN               NaN               NaN               NaN
11357               NaN               NaN               NaN               NaN
1278                NaN               NaN               NaN               NaN
6480                3.0               3.0               3.0               3.0
11778               4.0               4.0               4.0               4.0
8768                3.0               3.0               3.0               3.0
12605               NaN               NaN               NaN               NaN
10517               NaN               NaN               NaN               NaN
1502                NaN               NaN               NaN               NaN
5706                NaN               NaN               NaN               NaN

       NTLcfc_D_2011
6859             NaN
11357            NaN
1278             NaN
6480            52.0
11778           63.0
8768            52.0
12605            NaN
10517            NaN
1502             NaN
5706             NaN

[10 rows x 79 columns]
Loading data for Msk_D_2012_avg.tif. Thu Jan 19 19:34:57 2023

Created pandas dataframe from Msk_D_2012_avg.tif. Thu Jan 19 19:34:57 2023

Created geodataframe from non-NoData points, Msk_D_2012_avg.tif. Thu Jan 19 19:34:57 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2012_avg.tif. Thu Jan 19 19:34:59 2023

             value                         geometry  index_right  Sett_ID
1009510   3.673469  POINT (-1436556.347 435416.160)         3388    14656
972025   62.523075  POINT (-1588261.444 474880.620)         3026    12521
967660    4.017857  POINT (-1428167.757 480795.843)         4345    20125
812868    4.018182  POINT (-1508831.242 647564.907)         7015    49133
745544    4.156863  POINT (-1495417.771 720301.267)        10325    91403
899219    4.019231  POINT (-1593968.896 553613.697)         6873    48384
1096058   5.350000  POINT (-1351229.418 342201.512)         1424     4086
998598    3.826923  POINT (-1429702.563 447284.484)        12648   197649
764598   18.350000  POINT (-1543805.662 699392.392)         8080    59177
751893    4.148148  POINT (-1513569.522 713321.104)        10194    89140

Exported as table. Msk_D_2012_avg.tif. Thu Jan 19 19:34:59 2023


Cells per settlement counted, year 2012. Thu Jan 19 19:34:59 2023

      Sett_ID  NTLct_D_avg2012
1807    17772                1
3327    48387                1
679      4086               19
4536    69090                3
348      2114                2
2842    36298                1
3777    56244              594
4288    68694                2
1181     7782                1
2186    22671                1

Values summed to settlement level, year 2012. Thu Jan 19 19:34:59 2023

      Sett_ID  NTLsum_D_avg2012
4630    71443          3.767857
2134    20988          4.740000
1679    14687          8.811039
2141    21148          5.000000
3581    51684          6.941860
278      1740          3.693877
5110    97864          3.450000
3221    46457         11.573892
4511    69051          3.500000
2488    24918          3.951613

Values averaged to settlement level, year 2012. Thu Jan 19 19:34:59 2023

      Sett_ID  NTLavg_D_avg2012
3711    54703          5.941176
6513   199880          3.737583
4204    66528          3.887097
4715    73782          4.070176
743      4200          3.775862
4352    68786          3.857297
651      3839          3.642857
6353   197930          3.812500
16         22          4.953673
3503    50545          4.074074

Merged year 2012 onto latest year settlement feature layer. Thu Jan 19 19:34:59 2023


Max value of available pixels assigned at settlement level, year 2012. Thu Jan 19 19:34:59 2023

      Sett_ID  NTLmax_D_avg2012
2094    20353          4.018518
398      2583          3.509091
5486   144785          4.467742
23         33          3.890909
4490    69015          3.912281
5540   145742          3.700000
1327     9198          3.633333
1833    18633          3.833333
6197   196250          3.916667
3156    45309          3.565217

Merged year 2012 onto latest year settlement feature layer. Thu Jan 19 19:34:59 2023


Min value of available pixels assigned at settlement level, year 2012. Thu Jan 19 19:34:59 2023

      Sett_ID  NTLmin_D_avg2012
3139    45280          3.351351
2772    34061          4.083333
4892    79736          3.681818
6180   196204          4.127660
3552    51637          3.784314
2879    36397          3.357143
3587    51692          3.980000
5598   146301          3.434783
4443    68925          3.910714
4866    79667          3.511628

Merged year 2012 onto latest year settlement feature layer. Thu Jan 19 19:34:59 2023

      Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
4260    19686              NaN               NaN               NaN
4502    21138              1.0          2.908190          2.908190
4291    19814              NaN               NaN               NaN
2364     7508              NaN               NaN               NaN
7446    52549              NaN               NaN               NaN
4747    22775              NaN               NaN               NaN
6693    46489              1.0          2.617608          2.617608
6898    48414              NaN               NaN               NaN
1064     2826              NaN               NaN               NaN
790      2347              NaN               NaN               NaN

      NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
4260               NaN               NaN         255.00              NaN
4502          2.908190          2.908190         145.50              1.0
4291               NaN               NaN         255.00              NaN
2364               NaN               NaN         255.00              NaN
7446               NaN               NaN            NaN              NaN
4747               NaN               NaN         255.00              NaN
6693          2.617608          2.617608         250.46              1.0
6898               NaN               NaN         255.00              NaN
1064               NaN               NaN         255.00              NaN
790                NaN               NaN         255.00              NaN

      NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2011  \
4260               NaN               NaN  ...               NaN
4502          3.101716          3.101716  ...               4.0
4291               NaN               NaN  ...               NaN
2364               NaN               NaN  ...               NaN
7446               NaN               NaN  ...               NaN
4747               NaN               NaN  ...               NaN
6693          2.735309          2.735309  ...               3.0
6898               NaN               NaN  ...               NaN
1064               NaN               NaN  ...               NaN
790                NaN               NaN  ...               NaN

      NTLavg_D_avg2011  NTLmax_D_avg2011  NTLmin_D_avg2011  NTLcfc_D_2011  \
4260               NaN               NaN               NaN            NaN
4502               4.0               4.0               4.0           52.0
4291               NaN               NaN               NaN            NaN
2364               NaN               NaN               NaN            NaN
7446               NaN               NaN               NaN            NaN
4747               NaN               NaN               NaN            NaN
6693               3.0               3.0               3.0           42.0
6898               NaN               NaN               NaN            NaN
1064               NaN               NaN               NaN            NaN
790                NaN               NaN               NaN            NaN

      NTLct_D_avg2012  NTLsum_D_avg2012  NTLavg_D_avg2012  NTLmax_D_avg2012  \
4260              NaN               NaN               NaN               NaN
4502              1.0             4.250             4.250             4.250
4291              NaN               NaN               NaN               NaN
2364              NaN               NaN               NaN               NaN
7446              NaN               NaN               NaN               NaN
4747              NaN               NaN               NaN               NaN
6693              1.0             3.225             3.225             3.225
6898              NaN               NaN               NaN               NaN
1064              NaN               NaN               NaN               NaN
790               NaN               NaN               NaN               NaN

      NTLmin_D_avg2012
4260               NaN
4502             4.250
4291               NaN
2364               NaN
7446               NaN
4747               NaN
6693             3.225
6898               NaN
1064               NaN
790                NaN

[10 rows x 84 columns]
Loading data for Msk_D_2012_cfc.tif. Thu Jan 19 19:34:59 2023

Created pandas dataframe from Msk_D_2012_cfc.tif. Thu Jan 19 19:34:59 2023

Created geodataframe from non-NoData points, Msk_D_2012_cfc.tif. Thu Jan 19 19:34:59 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2012_cfc.tif. Thu Jan 19 19:35:01 2023

         value                         geometry  index_right  Sett_ID
836528      56  POINT (-1508673.393 622015.850)         7015    49133
1077769     54  POINT (-1428334.781 361497.875)          950     2691
770087      52  POINT (-1518645.714 693660.649)        10195    89141
912152      59  POINT (-1426787.732 540870.153)         8441    63115
797409      54  POINT (-1499406.244 664322.417)         9498    71391
907591      63  POINT (-1436340.038 545735.155)         8626    65133
491270      70  POINT (-1040856.981 996562.768)        10965   135910
842852      50  POINT (-1548467.908 614885.923)         7073    49199
783675      40  POINT (-1572261.559 678594.872)        10029    79791
798281      44  POINT (-1532315.561 663135.979)         7785    56244

Exported as table. Msk_D_2012_cfc.tif. Thu Jan 19 19:35:01 2023


Count of cloud-free observations averaged to settlement level, year 2012. Thu Jan 19 19:35:01 2023

      Sett_ID  NTLcfc_D_2012
1669    14664           51.0
76        116           56.0
3831    56326           52.2
3821    56310           48.0
4020    61503           48.0
4647    71778           56.0
6380   198210           51.0
3137    45272           47.0
4444    68926           60.0
6055   191725           72.0

Merged year 2012 onto latest year settlement feature layer. Thu Jan 19 19:35:01 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
10315    90690              NaN               NaN               NaN
10111    80744              1.0          3.138889          3.138889
7909     56677              NaN               NaN               NaN
9302     69084              1.0          3.055802          3.055802
8809     66899              1.0          3.218272          3.218272
4680     22700              1.0          2.776675          2.776675
10969   135914             10.0         44.494022          4.449402
10158    85445              NaN               NaN               NaN
4711     22733              1.0          3.245238          3.245238
9758     74077              1.0          2.836410          2.836410

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
10315               NaN               NaN     255.000000              NaN
10111          3.138889          3.138889     178.000000              1.0
7909                NaN               NaN            NaN              NaN
9302           3.055802          3.055802     211.800000              1.0
8809           3.218272          3.218272     235.454545              1.0
4680           2.776675          2.776675     234.454545              1.0
10969          5.201755          3.908101     222.730159             10.0
10158               NaN               NaN     255.000000              NaN
4711           3.245238          3.245238     242.666667              1.0
9758           2.836410          2.836410     199.500000              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2011  \
10315               NaN               NaN  ...               NaN
10111          3.178078          3.178078  ...               4.0
7909                NaN               NaN  ...               NaN
9302           3.125000          3.125000  ...               6.0
8809           3.126812          3.126812  ...               4.0
4680           2.800339          2.800339  ...               3.0
10969         46.603172          4.660317  ...               6.3
10158               NaN               NaN  ...               NaN
4711           2.808036          2.808036  ...               3.0
9758           3.264865          3.264865  ...               6.0

       NTLmax_D_avg2011  NTLmin_D_avg2011  NTLcfc_D_2011  NTLct_D_avg2012  \
10315               NaN               NaN            NaN              NaN
10111               4.0               4.0           43.0              1.0
7909                NaN               NaN            NaN              NaN
9302                6.0               6.0           56.0              1.0
8809                4.0               4.0           50.0              1.0
4680                3.0               3.0           48.0              1.0
10969               7.0               5.0           56.3             10.0
10158               NaN               NaN            NaN              NaN
4711                3.0               3.0           54.0              1.0
9758                6.0               6.0           52.0              1.0

       NTLsum_D_avg2012  NTLavg_D_avg2012  NTLmax_D_avg2012  NTLmin_D_avg2012  \
10315               NaN               NaN               NaN               NaN
10111          3.756098          3.756098          3.756098          3.756098
7909                NaN               NaN               NaN               NaN
9302           3.754386          3.754386          3.754386          3.754386
8809           3.950820          3.950820          3.950820          3.950820
4680           3.526316          3.526316          3.526316          3.526316
10969         66.344948          6.634495          8.158731          5.646154
10158               NaN               NaN               NaN               NaN
4711           3.912281          3.912281          3.912281          3.912281
9758           4.021276          4.021276          4.021276          4.021276

       NTLcfc_D_2012
10315            NaN
10111           43.0
7909             NaN
9302            57.0
8809            61.0
4680            57.0
10969           64.7
10158            NaN
4711            57.0
9758            49.0

[10 rows x 85 columns]
Loading data for Msk_D_2013_avg.tif. Thu Jan 19 19:35:01 2023

Created pandas dataframe from Msk_D_2013_avg.tif. Thu Jan 19 19:35:01 2023

Created geodataframe from non-NoData points, Msk_D_2013_avg.tif. Thu Jan 19 19:35:01 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2013_avg.tif. Thu Jan 19 19:35:03 2023

             value                         geometry  index_right  Sett_ID
977894    3.836066  POINT (-1234230.151 471016.472)         6097    36347
781884    3.695652  POINT (-1547152.804 680718.985)         8092    59189
789284    4.134615  POINT (-1443155.612 673500.090)         8932    68646
994086   58.289856  POINT (-1396844.515 452402.586)         3884    19120
1016795   3.777778  POINT (-1432183.131 427555.444)         3606    16163
761898    4.022222  POINT (-1517834.302 702499.636)         8076    59173
1091896   3.925926  POINT (-1015607.549 348764.204)         2057     6343
966558   48.540985  POINT (-1594358.735 480751.837)         3087    12883
1114257   3.933333  POINT (-1351985.049 322457.212)         1431     4102
771012    4.387755  POINT (-1505645.142 692759.491)        10197    89143

Exported as table. Msk_D_2013_avg.tif. Thu Jan 19 19:35:03 2023


Cells per settlement counted, year 2013. Thu Jan 19 19:35:03 2023

      Sett_ID  NTLct_D_avg2013
4819    79531                1
1718    15195                1
3523    51574                2
6435   198840                1
4845    79623                1
1299     9153                1
5363   126343                1
1628    14117                1
4626    71397                1
455      2677                1

Values summed to settlement level, year 2013. Thu Jan 19 19:35:03 2023

      Sett_ID  NTLsum_D_avg2013
2695    32242         48.208775
2765    33975          3.705882
879      4728          3.746032
2883    36405          3.388060
317      1896          3.843750
916      5203          3.365385
6509   199875          7.782609
609      3545          3.688524
4361    68798          3.869565
5282   122206          3.509804

Values averaged to settlement level, year 2013. Thu Jan 19 19:35:03 2023

      Sett_ID  NTLavg_D_avg2013
284      1751          4.387097
758      4228          3.545455
5857   187859          3.773894
1661    14651          3.500000
184      1117          3.733333
5700   163810          3.845070
3770    55933          4.228070
2984    38207          3.597015
1259     9087         14.180166
1460    12536          7.188679

Merged year 2013 onto latest year settlement feature layer. Thu Jan 19 19:35:03 2023


Max value of available pixels assigned at settlement level, year 2013. Thu Jan 19 19:35:03 2023

      Sett_ID  NTLmax_D_avg2013
3769    55798          3.421053
2755    33934          3.918033
4132    64415          3.647059
5081    97739          3.875000
58         87          3.885246
459      2681          3.859375
3559    51647          3.740000
659      3892          4.062500
2508    25300          4.552239
2583    27601          3.651515

Merged year 2013 onto latest year settlement feature layer. Thu Jan 19 19:35:03 2023


Min value of available pixels assigned at settlement level, year 2013. Thu Jan 19 19:35:03 2023

      Sett_ID  NTLmin_D_avg2013
2592    27787          3.935484
3422    49156          3.851852
6196   196248          4.135135
3969    59283          4.051282
5982   191339          3.630137
5153   104633          3.488372
3641    51983          4.208333
434      2647          5.923077
5627   155473          4.190476
3439    49179          3.982143

Merged year 2013 onto latest year settlement feature layer. Thu Jan 19 19:35:03 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
4700     22720              NaN               NaN               NaN
511       1436              1.0          2.986111          2.986111
10641   116894              NaN               NaN               NaN
11131   143926              1.0          2.822753          2.822753
10464   104514              2.0          6.228968          3.114484
1509      4200              1.0          2.761207          2.761207
10664   122093              NaN               NaN               NaN
10397    97774              1.0          3.060870          3.060870
9261     69030              3.0         10.167395          3.389132
5823     33226              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
4700                NaN               NaN     255.000000              NaN
511            2.986111          2.986111     232.600000              1.0
10641               NaN               NaN     255.000000              NaN
11131          2.822753          2.822753     242.529412              1.0
10464          3.225000          3.003968     252.953271              2.0
1509           2.761207          2.761207     245.434783              1.0
10664               NaN               NaN     255.000000              NaN
10397          3.060870          3.060870     251.705882              1.0
9261           3.479529          3.252747     190.000000              3.0
5823                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2012  \
4700                NaN               NaN  ...               NaN
511            2.981469          2.981469  ...          3.890909
10641               NaN               NaN  ...               NaN
11131          2.812579          2.812579  ...          3.683333
10464          6.437146          3.218573  ...          8.089851
1509           3.102041          3.102041  ...          3.775862
10664               NaN               NaN  ...               NaN
10397          3.448025          3.448025  ...          4.125000
9261          10.705544          3.568515  ...         13.826128
5823                NaN               NaN  ...               NaN

       NTLavg_D_avg2012  NTLmax_D_avg2012  NTLmin_D_avg2012  NTLcfc_D_2012  \
4700                NaN               NaN               NaN            NaN
511            3.890909          3.890909          3.890909      55.000000
10641               NaN               NaN               NaN            NaN
11131          3.683333          3.683333          3.683333      62.000000
10464          4.044926          4.136364          3.953488      52.000000
1509           3.775862          3.775862          3.775862      58.000000
10664               NaN               NaN               NaN            NaN
10397          4.125000          4.125000          4.125000      52.000000
9261           4.608709          5.125000          3.964286      57.666667
5823                NaN               NaN               NaN            NaN

       NTLct_D_avg2013  NTLsum_D_avg2013  NTLavg_D_avg2013  NTLmax_D_avg2013  \
4700               NaN               NaN               NaN               NaN
511                1.0          3.680556          3.680556          3.680556
10641              NaN               NaN               NaN               NaN
11131              1.0          4.850000          4.850000          4.850000
10464              2.0          8.361277          4.180638          4.340000
1509               1.0          3.846154          3.846154          3.846154
10664              NaN               NaN               NaN               NaN
10397              1.0          4.195652          4.195652          4.195652
9261               3.0         14.014877          4.671626          4.849057
5823               NaN               NaN               NaN               NaN

       NTLmin_D_avg2013
4700                NaN
511            3.680556
10641               NaN
11131          4.850000
10464          4.021276
1509           3.846154
10664               NaN
10397          4.195652
9261           4.377358
5823                NaN

[10 rows x 90 columns]
Loading data for Msk_D_2013_cfc.tif. Thu Jan 19 19:35:03 2023

Created pandas dataframe from Msk_D_2013_cfc.tif. Thu Jan 19 19:35:03 2023

Created geodataframe from non-NoData points, Msk_D_2013_cfc.tif. Thu Jan 19 19:35:03 2023


Joined settlement ID onto vectorized raster cells for Msk_D_2013_cfc.tif. Thu Jan 19 19:35:05 2023

         value                          geometry  index_right  Sett_ID
997725      66   POINT (-1397687.381 448455.549)         3884    19120
94510       76  POINT (-1042655.228 1419087.368)        11949   190914
990345      63   POINT (-1484278.404 455828.429)         3769    17627
228177      67  POINT (-1131493.719 1276853.790)        11870   187865
999529      70   POINT (-1411522.882 446404.724)        12720   197726
1041499     65   POINT (-1316081.464 401586.673)         2007     6115
853816      59   POINT (-1510289.959 603327.457)         8738    66478
982253      66   POINT (-1399514.318 465197.990)         3884    19120
975673      61   POINT (-1581311.705 470984.825)         3026    12521
781076      54   POINT (-1458800.524 682244.515)         9294    69073

Exported as table. Msk_D_2013_cfc.tif. Thu Jan 19 19:35:05 2023


Count of cloud-free observations averaged to settlement level, year 2013. Thu Jan 19 19:35:05 2023

      Sett_ID  NTLcfc_D_2013
4655    71997           57.0
5775   174882           54.0
3447    49197           57.0
975      6009           64.0
2808    35449           63.0
3684    53611           47.0
1097     7043           58.0
4046    63063           72.0
5025    89763           49.0
3689    53953           48.0

Merged year 2013 onto latest year settlement feature layer. Thu Jan 19 19:35:05 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
203        581              NaN               NaN               NaN
7363     51706              1.0          2.622010          2.622010
11514   163252              NaN               NaN               NaN
9836     74982              NaN               NaN               NaN
256        797              NaN               NaN               NaN
5100     24412              1.0          2.937143          2.937143
2555      8244              1.0          3.583838          3.583838
7400     51746              2.0          6.259997          3.129999
105        119              NaN               NaN               NaN
4283     19792              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
203                 NaN               NaN     255.000000              NaN
7363           2.622010          2.622010     217.666667              1.0
11514               NaN               NaN     255.000000              NaN
9836                NaN               NaN     255.000000              NaN
256                 NaN               NaN     255.000000              NaN
5100           2.937143          2.937143     223.000000              1.0
2555           3.583838          3.583838     250.865385              1.0
7400           3.229249          3.030749     104.333333              2.0
105                 NaN               NaN     255.000000              NaN
4283                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2012  \
203                 NaN               NaN  ...               NaN
7363           2.802794          2.802794  ...          3.511628
11514               NaN               NaN  ...               NaN
9836                NaN               NaN  ...               NaN
256                 NaN               NaN  ...               NaN
5100           2.744444          2.744444  ...          3.600000
2555           3.598680          3.598680  ...          4.063830
7400           5.861293          2.930646  ...          3.810811
105                 NaN               NaN  ...               NaN
4283                NaN               NaN  ...               NaN

       NTLmax_D_avg2012  NTLmin_D_avg2012  NTLcfc_D_2012  NTLct_D_avg2013  \
203                 NaN               NaN            NaN              NaN
7363           3.511628          3.511628           43.0              1.0
11514               NaN               NaN            NaN              NaN
9836                NaN               NaN            NaN              NaN
256                 NaN               NaN            NaN              NaN
5100           3.600000          3.600000           55.0              1.0
2555           4.063830          4.063830           47.0              1.0
7400           4.000000          3.621622           38.5              2.0
105                 NaN               NaN            NaN              NaN
4283                NaN               NaN            NaN              NaN

       NTLsum_D_avg2013  NTLavg_D_avg2013  NTLmax_D_avg2013  NTLmin_D_avg2013  \
203                 NaN               NaN               NaN               NaN
7363           3.760870          3.760870          3.760870          3.760870
11514               NaN               NaN               NaN               NaN
9836                NaN               NaN               NaN               NaN
256                 NaN               NaN               NaN               NaN
5100           3.820895          3.820895          3.820895          3.820895
2555           4.104167          4.104167          4.104167          4.104167
7400           8.106382          4.053191          4.106383          4.000000
105                 NaN               NaN               NaN               NaN
4283                NaN               NaN               NaN               NaN

       NTLcfc_D_2013
203              NaN
7363            46.0
11514            NaN
9836             NaN
256              NaN
5100            67.0
2555            48.0
7400            49.0
105              NaN
4283             NaN

[10 rows x 91 columns]
Loading data for Msk_V_2012_avg.tif. Thu Jan 19 19:35:05 2023

Created pandas dataframe from Msk_V_2012_avg.tif. Thu Jan 19 19:35:05 2023

Created geodataframe from non-NoData points, Msk_V_2012_avg.tif. Thu Jan 19 19:35:06 2023


Joined settlement ID onto vectorized raster cells for Msk_V_2012_avg.tif. Thu Jan 19 19:35:07 2023

             value                          geometry  index_right  Sett_ID
871333    0.014728  POINT (-1123729.184 1288010.016)        11862   187857
4294291   0.417462   POINT (-1319355.562 367044.758)         1588     4302
3882363   7.525879   POINT (-1583080.835 476884.560)         3026    12521
1575476   1.648498  POINT (-1208340.809 1099980.523)        11165   145497
3959228  12.865506   POINT (-1399036.139 457317.392)         3884    19120
4008546   0.142271   POINT (-1321937.784 444442.339)         5984    34743
3984713   9.579375   POINT (-1396832.993 450431.472)         3884    19120
3896938   1.015673   POINT (-1576563.884 472985.933)         3026    12521
3962871  11.828355   POINT (-1397732.300 456339.398)         3884    19120
4410213   0.576469   POINT (-1560527.705 334043.546)           36       44

Exported as table. Msk_V_2012_avg.tif. Thu Jan 19 19:35:07 2023


Cells per settlement counted, year 2012. Thu Jan 19 19:35:07 2023

     Sett_ID  NTLct_V_avg2012
374    74883               28
372    73775                1
228    25085                1
538   188102                6
242    32205               25
23       464               36
246    32218                5
550   190911                8
80      7747              163
337    66028                1

Values summed to settlement level, year 2012. Thu Jan 19 19:35:07 2023

     Sett_ID  NTLsum_V_avg2012
174    13725          0.496670
337    66028          0.157120
176    14617         11.586583
391    89207          2.392440
456   145953          0.600181
245    32217          2.330168
475   152199          0.054532
319    59172          0.274472
72      6417          3.469777
247    32219          0.473988

Values averaged to settlement level, year 2012. Thu Jan 19 19:35:07 2023

     Sett_ID  NTLavg_V_avg2012
364    71449          0.162449
529   187858          1.435163
27       606          0.155478
286    46399          0.643658
426   133586          1.756188
96      7803          0.560256
440   136073          0.431628
539   188104          0.209972
213    24547          4.407388
429   133836          1.045426

Merged year 2012 onto latest year settlement feature layer. Thu Jan 19 19:35:07 2023


Max value of available pixels assigned at settlement level, year 2012. Thu Jan 19 19:35:07 2023

     Sett_ID  NTLmax_V_avg2012
152    12891          0.844368
398   104624          1.839735
100     7892          0.820330
514   182916          0.441408
545   188153          0.145382
238    28280          0.778558
4         21          2.635862
565   197218          0.203920
87      7760          2.453891
6         23          0.872711

Merged year 2012 onto latest year settlement feature layer. Thu Jan 19 19:35:07 2023


Min value of available pixels assigned at settlement level, year 2012. Thu Jan 19 19:35:07 2023

     Sett_ID  NTLmin_V_avg2012
50      5038          0.096478
466   149943          0.028225
456   145953          0.600181
179    19118          0.276525
145    12883          0.539014
236    26664          0.225049
487   163124          0.145880
13       152          1.775679
537   188034          0.036104
372    73775          0.042592

Merged year 2012 onto latest year settlement feature layer. Thu Jan 19 19:35:07 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
12472   196240              1.0          2.977273          2.977273
2897     10275              1.0          4.047576          4.047576
651       1804              NaN               NaN               NaN
2745      9378              1.0          3.148009          3.148009
2261      7181              NaN               NaN               NaN
11966   191045              NaN               NaN               NaN
11850   185691              NaN               NaN               NaN
7553     53611              1.0          3.881944          3.881944
4104     19391              NaN               NaN               NaN
7461     52745              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
12472          2.977273          2.977273     253.411348              1.0
2897           4.047576          4.047576     244.904762              1.0
651                 NaN               NaN     255.000000              NaN
2745           3.148009          3.148009     253.521429              1.0
2261                NaN               NaN     255.000000              NaN
11966               NaN               NaN     255.000000              NaN
11850               NaN               NaN     255.000000              NaN
7553           3.881944          3.881944      31.000000              1.0
4104                NaN               NaN     255.000000              NaN
7461                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_D_avg2013  \
12472          2.902564          2.902564  ...          3.761905
2897           3.181164          3.181164  ...          4.065574
651                 NaN               NaN  ...               NaN
2745           2.840487          2.840487  ...          3.692308
2261                NaN               NaN  ...               NaN
11966               NaN               NaN  ...               NaN
11850               NaN               NaN  ...               NaN
7553           3.858418          3.858418  ...          5.063830
4104                NaN               NaN  ...               NaN
7461                NaN               NaN  ...               NaN

       NTLavg_D_avg2013  NTLmax_D_avg2013  NTLmin_D_avg2013  NTLcfc_D_2013  \
12472          3.761905          3.761905          3.761905           42.0
2897           4.065574          4.065574          4.065574           61.0
651                 NaN               NaN               NaN            NaN
2745           3.692308          3.692308          3.692308           65.0
2261                NaN               NaN               NaN            NaN
11966               NaN               NaN               NaN            NaN
11850               NaN               NaN               NaN            NaN
7553           5.063830          5.063830          5.063830           47.0
4104                NaN               NaN               NaN            NaN
7461                NaN               NaN               NaN            NaN

       NTLct_V_avg2012  NTLsum_V_avg2012  NTLavg_V_avg2012  NTLmax_V_avg2012  \
12472              NaN               NaN               NaN               NaN
2897               NaN               NaN               NaN               NaN
651                NaN               NaN               NaN               NaN
2745               NaN               NaN               NaN               NaN
2261               NaN               NaN               NaN               NaN
11966              NaN               NaN               NaN               NaN
11850              NaN               NaN               NaN               NaN
7553               NaN               NaN               NaN               NaN
4104               NaN               NaN               NaN               NaN
7461               NaN               NaN               NaN               NaN

       NTLmin_V_avg2012
12472               NaN
2897                NaN
651                 NaN
2745                NaN
2261                NaN
11966               NaN
11850               NaN
7553                NaN
4104                NaN
7461                NaN

[10 rows x 96 columns]
Loading data for Msk_V_2012_cfc.tif. Thu Jan 19 19:35:07 2023

Created pandas dataframe from Msk_V_2012_cfc.tif. Thu Jan 19 19:35:07 2023

Created geodataframe from non-NoData points, Msk_V_2012_cfc.tif. Thu Jan 19 19:35:07 2023


Joined settlement ID onto vectorized raster cells for Msk_V_2012_cfc.tif. Thu Jan 19 19:35:15 2023

         value                         geometry  index_right  Sett_ID
3713622     21  POINT (-1358729.442 524031.846)         5765    32216
3331060     31  POINT (-1516062.013 626392.937)         7015    49133
3229119     28  POINT (-1525327.499 653848.024)         7794    56253
3251025     29  POINT (-1496708.084 648130.641)         8974    68697
3214546     29  POINT (-1530982.170 657741.930)         7785    56244
3360075     24  POINT (-1561479.996 618243.478)         7274    51585
3210902     27  POINT (-1532720.682 658713.304)         7785    56244
4075697     23  POINT (-1403614.744 425749.624)        12674   197678
3772962     22  POINT (-1670268.944 505852.422)        12410   196158
4708969     20  POINT (-1440675.565 253813.939)          584     1712

Exported as table. Msk_V_2012_cfc.tif. Thu Jan 19 19:35:15 2023


Count of cloud-free observations averaged to settlement level, year 2012. Thu Jan 19 19:35:15 2023

       Sett_ID  NTLcfc_V_2012
6994     51728      28.500000
11245   190986      34.000000
6915     51637      31.500000
7610     59179      27.555556
6160     45199      21.750000
813       2594      18.666667
4970     24667      26.500000
7522     57509      28.000000
7977     63164      23.833333
10764   156069      36.000000

Merged year 2012 onto latest year settlement feature layer. Thu Jan 19 19:35:15 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
3062     12597              NaN               NaN               NaN
9523     71553              1.0          2.635207          2.635207
11784   182823              NaN               NaN               NaN
63          76              1.0          2.836309          2.836309
12168   191659              1.0          2.444076          2.444076
12862   198219              1.0          3.143684          3.143684
8175     59315              NaN               NaN               NaN
9540     71679              NaN               NaN               NaN
4810     22909              NaN               NaN               NaN
12881   198347              1.0          2.899351          2.899351

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
3062                NaN               NaN     255.000000              NaN
9523           2.635207          2.635207      34.000000              1.0
11784               NaN               NaN     255.000000              NaN
63             2.836309          2.836309     232.800000              1.0
12168          2.444076          2.444076     249.277778              1.0
12862          3.143684          3.143684     199.250000              1.0
8175                NaN               NaN     255.000000              NaN
9540                NaN               NaN     255.000000              NaN
4810                NaN               NaN     255.000000              NaN
12881          2.899351          2.899351     182.333333              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_D_avg2013  \
3062                NaN               NaN  ...               NaN
9523           2.893168          2.893168  ...          3.326531
11784               NaN               NaN  ...               NaN
63             2.989185          2.989185  ...          3.737705
12168          2.696168          2.696168  ...          3.259740
12862          2.988182          2.988182  ...          3.900000
8175                NaN               NaN  ...               NaN
9540                NaN               NaN  ...               NaN
4810                NaN               NaN  ...               NaN
12881          3.080851          3.080851  ...          3.731343

       NTLmax_D_avg2013  NTLmin_D_avg2013  NTLcfc_D_2013  NTLct_V_avg2012  \
3062                NaN               NaN            NaN              NaN
9523           3.326531          3.326531           50.0              NaN
11784               NaN               NaN            NaN              NaN
63             3.737705          3.737705           62.0              NaN
12168          3.259740          3.259740           77.0              NaN
12862          3.900000          3.900000           70.0              NaN
8175                NaN               NaN            NaN              NaN
9540                NaN               NaN            NaN              NaN
4810                NaN               NaN            NaN              NaN
12881          3.731343          3.731343           67.0              NaN

       NTLsum_V_avg2012  NTLavg_V_avg2012  NTLmax_V_avg2012  NTLmin_V_avg2012  \
3062                NaN               NaN               NaN               NaN
9523                NaN               NaN               NaN               NaN
11784               NaN               NaN               NaN               NaN
63                  NaN               NaN               NaN               NaN
12168               NaN               NaN               NaN               NaN
12862               NaN               NaN               NaN               NaN
8175                NaN               NaN               NaN               NaN
9540                NaN               NaN               NaN               NaN
4810                NaN               NaN               NaN               NaN
12881               NaN               NaN               NaN               NaN

       NTLcfc_V_2012
3062             NaN
9523       28.500000
11784      46.333333
63         24.250000
12168      53.000000
12862      30.333333
8175       29.666667
9540       29.000000
4810       26.000000
12881      24.500000

[10 rows x 97 columns]
Loading data for Msk_V_2013_avg.tif. Thu Jan 19 19:35:15 2023

Created pandas dataframe from Msk_V_2013_avg.tif. Thu Jan 19 19:35:16 2023

Created geodataframe from non-NoData points, Msk_V_2013_avg.tif. Thu Jan 19 19:35:16 2023


Joined settlement ID onto vectorized raster cells for Msk_V_2013_avg.tif. Thu Jan 19 19:35:17 2023

            value                          geometry  index_right  Sett_ID
4037492  8.268872   POINT (-1397183.879 436137.559)         5313    25040
3946496  3.041864   POINT (-1395594.011 460786.126)         3884    19120
3870134  0.633021   POINT (-1361955.923 481666.793)         5229    24655
1117085  0.276060  POINT (-1100856.753 1222784.727)        11500   163124
3951938  3.684239   POINT (-1403374.788 459263.371)         3884    19120
3907831  4.543304   POINT (-1588229.148 469954.536)         3026    12521
3941028  6.273775   POINT (-1399064.386 462244.356)         3884    19120
3993820  1.418957   POINT (-1393789.885 447984.950)         3884    19120
3935562  2.822654   POINT (-1401669.317 463707.480)         3884    19120
4370659  0.674995   POINT (-1350385.978 346153.575)         1424     4086

Exported as table. Msk_V_2013_avg.tif. Thu Jan 19 19:35:17 2023


Cells per settlement counted, year 2013. Thu Jan 19 19:35:17 2023

     Sett_ID  NTLct_V_avg2013
441   149943                1
451   152263                1
429   145497              275
171    12926                1
300    46562                1
522   188136                2
509   185862                1
364    74883               29
136    10412                3
2         20                3

Values summed to settlement level, year 2013. Thu Jan 19 19:35:17 2023

     Sett_ID  NTLsum_V_avg2013
436   146160          5.393455
347    68643          8.225917
342    66477         50.172726
24       463          0.866957
422   138693          0.205749
411   134277          0.138325
532   190911          2.255289
439   146212          0.175751
104     7894          5.153968
501   182921          1.433872

Values averaged to settlement level, year 2013. Thu Jan 19 19:35:17 2023

     Sett_ID  NTLavg_V_avg2013
221    24602          1.272912
54      5038          0.169867
248    31078          0.407581
178    19119          0.757857
297    46449          0.396219
290    41757          0.105118
346    68641          0.513150
46      4152          1.536225
21       452          1.092424
357    69088          0.437311

Merged year 2013 onto latest year settlement feature layer. Thu Jan 19 19:35:17 2023


Max value of available pixels assigned at settlement level, year 2013. Thu Jan 19 19:35:17 2023

     Sett_ID  NTLmax_V_avg2013
469   163222          0.802499
80      7262          0.510149
230    25045          0.336309
109     8184          0.376311
40      2642          1.044320
536   191316          0.963778
424   145485          0.557413
407   133837          0.817279
543   196710          0.645053
155    12741          2.364828

Merged year 2013 onto latest year settlement feature layer. Thu Jan 19 19:35:17 2023


Min value of available pixels assigned at settlement level, year 2013. Thu Jan 19 19:35:17 2023

     Sett_ID  NTLmin_V_avg2013
52      4359          0.328075
66      6312          0.263371
360    71764          0.124961
48      4296          0.335320
249    31080          0.167851
468   163126          0.089975
86      7751          0.121781
477   169042          0.089146
234    25096          1.766714
453   155470          0.111272

Merged year 2013 onto latest year settlement feature layer. Thu Jan 19 19:35:17 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
11612   169841              NaN               NaN               NaN
2931     10742              NaN               NaN               NaN
1755      4785              1.0          2.537566          2.537566
1873      5272              1.0          2.999421          2.999421
7832     56294              NaN               NaN               NaN
6604     46115              NaN               NaN               NaN
7533     53415              1.0          3.247064          3.247064
12312   194063              1.0          2.668497          2.668497
1456      4132              NaN               NaN               NaN
5123     24521              2.0          5.877486          2.938743

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
11612               NaN               NaN     255.000000              NaN
2931                NaN               NaN     255.000000              NaN
1755           2.537566          2.537566     252.128205              1.0
1873           2.999421          2.999421     243.157895              1.0
7832                NaN               NaN     255.000000              NaN
6604                NaN               NaN            NaN              NaN
7533           3.247064          3.247064      34.000000              1.0
12312          2.668497          2.668497     254.361022              1.0
1456                NaN               NaN     255.000000              NaN
5123           2.957143          2.920343     226.875000              2.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_V_avg2012  \
11612               NaN               NaN  ...               NaN
2931                NaN               NaN  ...               NaN
1755           2.852857          2.852857  ...               NaN
1873           2.903846          2.903846  ...               NaN
7832                NaN               NaN  ...               NaN
6604                NaN               NaN  ...               NaN
7533           3.095356          3.095356  ...               NaN
12312          3.155443          3.155443  ...               NaN
1456                NaN               NaN  ...               NaN
5123           6.139021          3.069511  ...               NaN

       NTLavg_V_avg2012  NTLmax_V_avg2012  NTLmin_V_avg2012  NTLcfc_V_2012  \
11612               NaN               NaN               NaN      32.000000
2931                NaN               NaN               NaN      21.000000
1755                NaN               NaN               NaN      23.500000
1873                NaN               NaN               NaN      21.000000
7832                NaN               NaN               NaN      28.000000
6604                NaN               NaN               NaN      23.000000
7533                NaN               NaN               NaN      28.000000
12312               NaN               NaN               NaN      52.000000
1456                NaN               NaN               NaN      22.000000
5123                NaN               NaN               NaN      25.833333

       NTLct_V_avg2013  NTLsum_V_avg2013  NTLavg_V_avg2013  NTLmax_V_avg2013  \
11612              NaN               NaN               NaN               NaN
2931               NaN               NaN               NaN               NaN
1755               NaN               NaN               NaN               NaN
1873               NaN               NaN               NaN               NaN
7832               NaN               NaN               NaN               NaN
6604               NaN               NaN               NaN               NaN
7533               NaN               NaN               NaN               NaN
12312              NaN               NaN               NaN               NaN
1456               NaN               NaN               NaN               NaN
5123               NaN               NaN               NaN               NaN

       NTLmin_V_avg2013
11612               NaN
2931                NaN
1755                NaN
1873                NaN
7832                NaN
6604                NaN
7533                NaN
12312               NaN
1456                NaN
5123                NaN

[10 rows x 102 columns]
Loading data for Msk_V_2013_cfc.tif. Thu Jan 19 19:35:17 2023

Created pandas dataframe from Msk_V_2013_cfc.tif. Thu Jan 19 19:35:17 2023

Created geodataframe from non-NoData points, Msk_V_2013_cfc.tif. Thu Jan 19 19:35:17 2023


Joined settlement ID onto vectorized raster cells for Msk_V_2013_cfc.tif. Thu Jan 19 19:35:25 2023

         value                          geometry  index_right  Sett_ID
3791288     43   POINT (-1615701.294 501295.808)         3100    12896
3880451     33   POINT (-1622898.581 477115.607)         2418     7748
3842206     32   POINT (-1633786.985 487386.477)         2420     7750
3873231     38   POINT (-1596945.467 479257.127)         3087    12883
3111034     50   POINT (-1432402.354 686327.903)         9314    69097
3003517     48   POINT (-1491918.993 714926.065)        10325    91403
3334691     55   POINT (-1519953.178 625385.901)         7015    49133
3981163     41   POINT (-1357893.722 451636.810)         5539    27235
3913313     33   POINT (-1578699.000 468538.449)         3026    12521
1237208     78  POINT (-1099410.808 1190804.003)        11497   163120

Exported as table. Msk_V_2013_cfc.tif. Thu Jan 19 19:35:25 2023


Count of cloud-free observations averaged to settlement level, year 2013. Thu Jan 19 19:35:25 2023

       Sett_ID  NTLcfc_V_2013
12502   201561      51.000000
4606     23213      36.666667
813       2594      40.000000
2899     12741      42.000000
4963     24657      49.000000
11640   195670      53.000000
10330   136067      67.500000
4114     20145      50.000000
1001      2801      39.666667
10189   126306      61.000000

Merged year 2013 onto latest year settlement feature layer. Thu Jan 19 19:35:25 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
9950     79614              NaN               NaN               NaN
3854     18274              1.0          3.293586          3.293586
1047      2792              NaN               NaN               NaN
507       1432              1.0          3.032330          3.032330
584       1712              2.0          6.792397          3.396199
3901     19137              NaN               NaN               NaN
5687     28416              4.0         11.901497          2.975374
10921   129223              NaN               NaN               NaN
12240   191826              1.0          2.575337          2.575337
3128     12931              1.0          3.261905          3.261905

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
9950                NaN               NaN     255.000000              NaN
3854           3.293586          3.293586     200.000000              1.0
1047                NaN               NaN     255.000000              NaN
507            3.032330          3.032330      32.000000              1.0
584            3.473684          3.318713     253.823377              2.0
3901                NaN               NaN     255.000000              NaN
5687           3.115846          2.786232     228.343750              4.0
10921               NaN               NaN     255.000000              NaN
12240          2.575337          2.575337     245.772727              1.0
3128           3.261905          3.261905     242.117647              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_V_avg2012  \
9950                NaN               NaN  ...               NaN
3854           3.093750          3.093750  ...               NaN
1047                NaN               NaN  ...               NaN
507            2.956981          2.956981  ...               NaN
584            5.882727          2.941363  ...               NaN
3901                NaN               NaN  ...               NaN
5687          12.000734          3.000184  ...               NaN
10921               NaN               NaN  ...               NaN
12240          3.051282          3.051282  ...               NaN
3128           3.074271          3.074271  ...               NaN

       NTLmax_V_avg2012  NTLmin_V_avg2012  NTLcfc_V_2012  NTLct_V_avg2013  \
9950                NaN               NaN      29.000000              NaN
3854                NaN               NaN      24.000000              NaN
1047                NaN               NaN      16.666667              NaN
507                 NaN               NaN      25.000000              NaN
584                 NaN               NaN      19.375000              NaN
3901                NaN               NaN      25.000000              NaN
5687                NaN               NaN      24.000000              NaN
10921               NaN               NaN      28.500000              NaN
12240               NaN               NaN      36.500000              NaN
3128                NaN               NaN      21.333333              NaN

       NTLsum_V_avg2013  NTLavg_V_avg2013  NTLmax_V_avg2013  NTLmin_V_avg2013  \
9950                NaN               NaN               NaN               NaN
3854                NaN               NaN               NaN               NaN
1047                NaN               NaN               NaN               NaN
507                 NaN               NaN               NaN               NaN
584                 NaN               NaN               NaN               NaN
3901                NaN               NaN               NaN               NaN
5687                NaN               NaN               NaN               NaN
10921               NaN               NaN               NaN               NaN
12240               NaN               NaN               NaN               NaN
3128                NaN               NaN               NaN               NaN

       NTLcfc_V_2013
9950       50.000000
3854       49.000000
1047       41.666667
507        42.000000
584        40.750000
3901       44.500000
5687       44.117647
10921      55.000000
12240      98.000000
3128       41.000000

[10 rows x 103 columns]
Loading data for Msk_V_2014_avg.tif. Thu Jan 19 19:35:25 2023

Created pandas dataframe from Msk_V_2014_avg.tif. Thu Jan 19 19:35:25 2023

Created geodataframe from non-NoData points, Msk_V_2014_avg.tif. Thu Jan 19 19:35:25 2023


Joined settlement ID onto vectorized raster cells for Msk_V_2014_avg.tif. Thu Jan 19 19:35:27 2023

            value                          geometry  index_right  Sett_ID
1215384  0.269867  POINT (-1092492.261 1196653.160)        11499   163123
3405586  0.870571   POINT (-1556638.473 605985.900)         7012    49130
3871445  8.956370   POINT (-1582234.463 479845.515)         3026    12521
3880449  3.398737   POINT (-1623764.114 477109.850)         2418     7748
3922401  1.088358   POINT (-1583876.029 466041.627)         3026    12521
3891885  0.669094   POINT (-1400438.935 475538.010)         4076    19354
3911903  0.630178   POINT (-1401273.348 470114.377)         4061    19337
2441619  0.488154   POINT (-1283916.726 867471.696)        10621   116742
3065281  1.048832   POINT (-1542063.487 697930.995)         8080    59177
3904060  6.372857   POINT (-1644926.509 470564.224)         2417     7747

Exported as table. Msk_V_2014_avg.tif. Thu Jan 19 19:35:27 2023


Cells per settlement counted, year 2014. Thu Jan 19 19:35:27 2023

     Sett_ID  NTLct_V_avg2014
50      4239                1
367    51568               12
566   184394                1
13       265                2
42      2770                7
592   191304                2
241    21330                1
554   182910                8
593   191316                3
343    46444                5

Values summed to settlement level, year 2014. Thu Jan 19 19:35:27 2023

     Sett_ID  NTLsum_V_avg2014
245    22417          0.311604
104     7784          0.417872
469   133991          0.086710
13       265          1.081506
54      4303         87.277962
266    24589         12.192778
185    12903          7.584769
372    55244          0.513974
19       444          0.814245
102     7781         12.776040

Values averaged to settlement level, year 2014. Thu Jan 19 19:35:27 2023

     Sett_ID  NTLavg_V_avg2014
354    49130          0.467199
36      1707          0.739120
595   191525          0.077373
12        77         11.004744
32       804          5.172494
82      6408          1.384480
283    25114          2.086953
482   137717          3.866904
187    12906          0.587196
506   151678          1.542909

Merged year 2014 onto latest year settlement feature layer. Thu Jan 19 19:35:27 2023


Max value of available pixels assigned at settlement level, year 2014. Thu Jan 19 19:35:27 2023

     Sett_ID  NTLmax_V_avg2014
15       269          1.301554
143    10181          3.252848
162    12674         15.169713
267    24602          1.368300
171    12884          1.450107
194    12926          0.785424
240    21310          0.461803
325    36495          3.395389
128     9145          1.514618
441    97608          0.700786

Merged year 2014 onto latest year settlement feature layer. Thu Jan 19 19:35:27 2023


Min value of available pixels assigned at settlement level, year 2014. Thu Jan 19 19:35:27 2023

     Sett_ID  NTLmin_V_avg2014
578   187865          0.063991
142    10126          1.408572
332    38193          0.064299
121     8304          0.428522
197    12957          0.830207
603   196147          0.051117
366    51567          0.027914
312    33370          0.682352
169    12762          1.065686
405    68644          0.036300

Merged year 2014 onto latest year settlement feature layer. Thu Jan 19 19:35:27 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
2449      7781              1.0          4.713959          4.713959
10061    79925              NaN               NaN               NaN
1230      3531              NaN               NaN               NaN
3311     14045              NaN               NaN               NaN
5843     33388              NaN               NaN               NaN
4394     20386              NaN               NaN               NaN
2264      7198              NaN               NaN               NaN
12608   197576              NaN               NaN               NaN
5822     33220              1.0          2.849748          2.849748
121        137              1.0          2.892448          2.892448

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
2449           4.713959          4.713959     149.500000              1.0
10061               NaN               NaN            NaN              NaN
1230                NaN               NaN     255.000000              NaN
3311                NaN               NaN            NaN              NaN
5843                NaN               NaN     255.000000              NaN
4394                NaN               NaN     255.000000              NaN
2264                NaN               NaN     255.000000              NaN
12608               NaN               NaN     255.000000              NaN
5822           2.849748          2.849748     253.945813              1.0
121            2.892448          2.892448     245.666667              1.0

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_V_avg2013  \
2449           5.496136          5.496136  ...         10.908838
10061               NaN               NaN  ...               NaN
1230                NaN               NaN  ...               NaN
3311                NaN               NaN  ...               NaN
5843                NaN               NaN  ...               NaN
4394                NaN               NaN  ...               NaN
2264                NaN               NaN  ...               NaN
12608               NaN               NaN  ...               NaN
5822           2.672727          2.672727  ...               NaN
121            3.033868          3.033868  ...               NaN

       NTLavg_V_avg2013  NTLmax_V_avg2013  NTLmin_V_avg2013  NTLcfc_V_2013  \
2449            1.81814          2.567844           1.40445      34.166667
10061               NaN               NaN               NaN            NaN
1230                NaN               NaN               NaN      43.000000
3311                NaN               NaN               NaN      50.000000
5843                NaN               NaN               NaN      50.000000
4394                NaN               NaN               NaN      43.000000
2264                NaN               NaN               NaN      44.000000
12608               NaN               NaN               NaN      41.000000
5822                NaN               NaN               NaN      50.000000
121                 NaN               NaN               NaN      39.000000

       NTLct_V_avg2014  NTLsum_V_avg2014  NTLavg_V_avg2014  NTLmax_V_avg2014  \
2449               6.0          12.77604           2.12934          3.258227
10061              NaN               NaN               NaN               NaN
1230               NaN               NaN               NaN               NaN
3311               NaN               NaN               NaN               NaN
5843               NaN               NaN               NaN               NaN
4394               NaN               NaN               NaN               NaN
2264               NaN               NaN               NaN               NaN
12608              NaN               NaN               NaN               NaN
5822               NaN               NaN               NaN               NaN
121                NaN               NaN               NaN               NaN

       NTLmin_V_avg2014
2449            1.27556
10061               NaN
1230                NaN
3311                NaN
5843                NaN
4394                NaN
2264                NaN
12608               NaN
5822                NaN
121                 NaN

[10 rows x 108 columns]
Loading data for Msk_V_2014_cfc.tif. Thu Jan 19 19:35:27 2023

Created pandas dataframe from Msk_V_2014_cfc.tif. Thu Jan 19 19:35:27 2023

Created geodataframe from non-NoData points, Msk_V_2014_cfc.tif. Thu Jan 19 19:35:27 2023


Joined settlement ID onto vectorized raster cells for Msk_V_2014_cfc.tif. Thu Jan 19 19:35:35 2023

         value                         geometry  index_right  Sett_ID
3982896     48  POINT (-1395537.653 450931.659)         3884    19120
3143802     52  POINT (-1428885.558 677511.788)         9248    69014
4152213     40  POINT (-1370615.068 405230.973)         4974    23720
3659346     54  POINT (-1218559.592 539537.668)         9878    75080
3338313     37  POINT (-1527741.560 624354.434)         7015    49133
3130903     46  POINT (-1497772.970 680535.747)        10276    89559
3509253     54  POINT (-1588064.807 577756.158)         6897    48413
4490941     56  POINT (-1280144.385 313960.326)         1425     4087
2392763     63  POINT (-1160876.953 881289.256)        10857   126314
3192742     51  POINT (-1515427.604 663732.346)         7854    56319

Exported as table. Msk_V_2014_cfc.tif. Thu Jan 19 19:35:35 2023


Count of cloud-free observations averaged to settlement level, year 2014. Thu Jan 19 19:35:35 2023

       Sett_ID  NTLcfc_V_2014
11010   174893      84.266667
5603     33965      47.000000
10923   169826      80.000000
2566      9251      54.285714
1506      4294      43.250000
7822     60834      52.000000
7791     60533      54.000000
7571     58201      53.500000
10574   145880      70.800000
5681     34782      45.000000

Merged year 2014 onto latest year settlement feature layer. Thu Jan 19 19:35:35 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
12995   198808              NaN               NaN               NaN
2500      7840              1.0          3.516340          3.516340
12265   191867              NaN               NaN               NaN
4655     22669              1.0          3.072351          3.072351
1610      4330              2.0          5.853282          2.926641
1381      3931              NaN               NaN               NaN
8481     63168              NaN               NaN               NaN
11269   146029              1.0          3.249382          3.249382
6155     36450              1.0          2.862267          2.862267
5745     30201              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
12995               NaN               NaN     255.000000              NaN
2500           3.516340          3.516340     245.409091              1.0
12265               NaN               NaN     255.000000              NaN
4655           3.072351          3.072351      36.000000              1.0
1610           3.041542          2.811741     243.615385              2.0
1381                NaN               NaN     255.000000              NaN
8481                NaN               NaN     255.000000              NaN
11269          3.249382          3.249382     244.600000              1.0
6155           2.862267          2.862267     249.707317              1.0
5745                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_V_avg2013  \
12995               NaN               NaN  ...               NaN
2500           3.161954          3.161954  ...               NaN
12265               NaN               NaN  ...               NaN
4655           3.245617          3.245617  ...               NaN
1610           5.957747          2.978873  ...               NaN
1381                NaN               NaN  ...               NaN
8481                NaN               NaN  ...               NaN
11269          3.790720          3.790720  ...               NaN
6155           3.027357          3.027357  ...               NaN
5745                NaN               NaN  ...               NaN

       NTLmax_V_avg2013  NTLmin_V_avg2013  NTLcfc_V_2013  NTLct_V_avg2014  \
12995               NaN               NaN      37.000000              NaN
2500                NaN               NaN      26.000000              NaN
12265               NaN               NaN     102.000000              NaN
4655                NaN               NaN      44.000000              NaN
1610                NaN               NaN      45.714286              NaN
1381                NaN               NaN      45.000000              NaN
8481                NaN               NaN      57.000000              NaN
11269               NaN               NaN      68.000000              NaN
6155                NaN               NaN      44.000000              NaN
5745                NaN               NaN      51.000000              NaN

       NTLsum_V_avg2014  NTLavg_V_avg2014  NTLmax_V_avg2014  NTLmin_V_avg2014  \
12995               NaN               NaN               NaN               NaN
2500                NaN               NaN               NaN               NaN
12265               NaN               NaN               NaN               NaN
4655                NaN               NaN               NaN               NaN
1610                NaN               NaN               NaN               NaN
1381                NaN               NaN               NaN               NaN
8481                NaN               NaN               NaN               NaN
11269               NaN               NaN               NaN               NaN
6155                NaN               NaN               NaN               NaN
5745                NaN               NaN               NaN               NaN

       NTLcfc_V_2014
12995           40.5
2500            34.0
12265          105.0
4655            35.0
1610            52.0
1381            38.0
8481            48.0
11269           72.0
6155            55.0
5745            46.0

[10 rows x 109 columns]
Loading data for Msk_V_2015_avg.tif. Thu Jan 19 19:35:35 2023

Created pandas dataframe from Msk_V_2015_avg.tif. Thu Jan 19 19:35:35 2023

Created geodataframe from non-NoData points, Msk_V_2015_avg.tif. Thu Jan 19 19:35:35 2023


Joined settlement ID onto vectorized raster cells for Msk_V_2015_avg.tif. Thu Jan 19 19:35:37 2023

            value                          geometry  index_right  Sett_ID
4379563  0.715549   POINT (-1435148.118 343202.409)          846     2572
1231809  0.455938  POINT (-1072941.213 1192376.108)        11502   163126
3847656  4.576908   POINT (-1638104.916 485879.982)         2420     7750
3997451  8.388941   POINT (-1397678.674 446977.114)         3884    19120
3968343  5.228529   POINT (-1392531.107 454890.911)         3884    19120
3986187  0.904635   POINT (-1546550.476 449035.735)         2596     9088
1713824  0.696909  POINT (-1196011.682 1063073.308)        11155   145487
3876878  4.802742   POINT (-1593909.640 478291.824)         3087    12883
3250974  0.317119   POINT (-1518794.642 647994.282)         7015    49133
3160096  1.132120   POINT (-1466107.508 672872.289)         8934    68648

Exported as table. Msk_V_2015_avg.tif. Thu Jan 19 19:35:37 2023


Cells per settlement counted, year 2015. Thu Jan 19 19:35:37 2023

     Sett_ID  NTLct_V_avg2015
598   193578                1
624   199791                2
458    91404               26
326    34782                1
283    25047                1
172    12890               20
434    69127                1
329    35591                1
521   146190                1
265    24559                1

Values summed to settlement level, year 2015. Thu Jan 19 19:35:37 2023

     Sett_ID  NTLsum_V_avg2015
163    12702          2.616960
460    91509          0.526656
81      6418          1.965010
173    12891          6.933248
401    63000         91.119629
167    12884         50.077034
459    91495          2.874398
456    89142          4.411569
417    66839          0.218194
347    45189        246.094345

Values averaged to settlement level, year 2015. Thu Jan 19 19:35:37 2023

     Sett_ID  NTLavg_V_avg2015
575   183266          0.259796
482   126368          0.188931
624   199791          1.602554
272    24602          1.409176
209    19118          1.514859
472   126046          1.083069
64      5381          0.263591
342    38255          0.614782
14       269          0.980126
282    25045          0.324449

Merged year 2015 onto latest year settlement feature layer. Thu Jan 19 19:35:37 2023


Max value of available pixels assigned at settlement level, year 2015. Thu Jan 19 19:35:37 2023

     Sett_ID  NTLmax_V_avg2015
422    68169          0.256867
138    10073          1.018717
261    24548          1.765021
411    66518          0.257248
85      7259          0.107066
29       549          1.417583
510   145495          0.303145
253    22797          1.060772
347    45189          5.338191
419    67753          0.161881

Merged year 2015 onto latest year settlement feature layer. Thu Jan 19 19:35:37 2023


Min value of available pixels assigned at settlement level, year 2015. Thu Jan 19 19:35:37 2023

     Sett_ID  NTLmin_V_avg2015
617   199654          0.837041
207    14685          0.434606
284    25085          2.113549
406    66474          0.236685
576   183596          0.181620
223    19340          0.549133
247    21707          0.396665
233    19421          0.487590
539   163120          0.163539
528   151769          2.260152

Merged year 2015 onto latest year settlement feature layer. Thu Jan 19 19:35:37 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
904       2643              1.0          2.932724          2.932724
6984     48867              1.0          3.021680          3.021680
181        528              1.0          3.180555          3.180555
2439      7770              NaN               NaN               NaN
7885     56437              1.0          2.944079          2.944079
10377    97680              3.0          9.339643          3.113214
13004   198840              1.0          2.734286          2.734286
2355      7441              1.0          2.818182          2.818182
6623     46416              1.0          3.283636          3.283636
4492     21055              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
904            2.932724          2.932724     233.100000              1.0
6984           3.021680          3.021680     199.750000              1.0
181            3.180555          3.180555     242.944444              1.0
2439                NaN               NaN     255.000000              NaN
7885           2.944079          2.944079      32.000000              1.0
10377          3.204762          3.038064     236.138889              3.0
13004          2.734286          2.734286     180.000000              1.0
2355           2.818182          2.818182     218.333333              1.0
6623           3.283636          3.283636     248.400000              1.0
4492                NaN               NaN            NaN              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLsum_V_avg2014  \
904            2.940508          2.940508  ...               NaN
6984           3.112579          3.112579  ...               NaN
181            2.773167          2.773167  ...               NaN
2439                NaN               NaN  ...               NaN
7885           2.911111          2.911111  ...               NaN
10377          9.121445          3.040482  ...               NaN
13004          3.144231          3.144231  ...               NaN
2355           3.030075          3.030075  ...               NaN
6623           2.778764          2.778764  ...               NaN
4492                NaN               NaN  ...               NaN

       NTLavg_V_avg2014  NTLmax_V_avg2014  NTLmin_V_avg2014  NTLcfc_V_2014  \
904                 NaN               NaN               NaN      43.666667
6984                NaN               NaN               NaN      47.500000
181                 NaN               NaN               NaN      40.000000
2439                NaN               NaN               NaN      44.666667
7885                NaN               NaN               NaN      49.000000
10377               NaN               NaN               NaN      52.600000
13004               NaN               NaN               NaN      37.000000
2355                NaN               NaN               NaN      49.000000
6623                NaN               NaN               NaN      46.800000
4492                NaN               NaN               NaN            NaN

       NTLct_V_avg2015  NTLsum_V_avg2015  NTLavg_V_avg2015  NTLmax_V_avg2015  \
904                NaN               NaN               NaN               NaN
6984               NaN               NaN               NaN               NaN
181                NaN               NaN               NaN               NaN
2439               NaN               NaN               NaN               NaN
7885               NaN               NaN               NaN               NaN
10377              NaN               NaN               NaN               NaN
13004              NaN               NaN               NaN               NaN
2355               NaN               NaN               NaN               NaN
6623               NaN               NaN               NaN               NaN
4492               NaN               NaN               NaN               NaN

       NTLmin_V_avg2015
904                 NaN
6984                NaN
181                 NaN
2439                NaN
7885                NaN
10377               NaN
13004               NaN
2355                NaN
6623                NaN
4492                NaN

[10 rows x 114 columns]
Loading data for Msk_V_2015_cfc.tif. Thu Jan 19 19:35:37 2023

Created pandas dataframe from Msk_V_2015_cfc.tif. Thu Jan 19 19:35:38 2023

Created geodataframe from non-NoData points, Msk_V_2015_cfc.tif. Thu Jan 19 19:35:38 2023


Joined settlement ID onto vectorized raster cells for Msk_V_2015_cfc.tif. Thu Jan 19 19:35:45 2023

         value                         geometry  index_right  Sett_ID
4419794     53  POINT (-1352474.770 332818.497)         1698     4570
3656659     52  POINT (-1593865.848 537867.799)         3091    12887
3403775     58  POINT (-1552744.642 606502.282)         7057    49179
4303382     56  POINT (-1323235.325 364557.179)         1901     5393
3440105     59  POINT (-1582990.610 596475.492)         6920    48441
3063708     68  POINT (-1435076.152 699073.752)         9334    69125
4681674     43  POINT (-1438557.418 261234.733)          695     1961
4559719     55  POINT (-1445239.237 294278.955)          791     2352
2829263     62  POINT (-1290301.348 763151.217)        10564   111588
3241876     60  POINT (-1517943.768 650455.672)         7015    49133

Exported as table. Msk_V_2015_cfc.tif. Thu Jan 19 19:35:45 2023


Count of cloud-free observations averaged to settlement level, year 2015. Thu Jan 19 19:35:45 2023

       Sett_ID  NTLcfc_V_2015
10760   155992      92.500000
612       1800      49.000000
1589      4414      52.500000
10924   169831      98.750000
10717   155469      90.000000
11920   197665      48.666667
5841     36448      62.500000
12028   197931      53.000000
7869     62997      63.945946
6201     45241      57.666667

Merged year 2015 onto latest year settlement feature layer. Thu Jan 19 19:35:45 2023

       Sett_ID  NTLct_D_avg1999  NTLsum_D_avg1999  NTLavg_D_avg1999  \
9126     68852              NaN               NaN               NaN
3966     19216              NaN               NaN               NaN
10988   136025              1.0          2.808679          2.808679
7771     55923              NaN               NaN               NaN
10203    89149              1.0          2.652778          2.652778
512       1437              NaN               NaN               NaN
6760     46636              NaN               NaN               NaN
3999     19260              1.0          2.998485          2.998485
8461     63139              NaN               NaN               NaN
2533      8112              NaN               NaN               NaN

       NTLmax_D_avg1999  NTLmin_D_avg1999  NTLcfc_D_1999  NTLct_D_avg2000  \
9126                NaN               NaN     255.000000              NaN
3966                NaN               NaN     255.000000              NaN
10988          2.808679          2.808679     254.458667              1.0
7771                NaN               NaN     255.000000              NaN
10203          2.652778          2.652778      33.000000              1.0
512                 NaN               NaN     255.000000              NaN
6760                NaN               NaN     255.000000              NaN
3999           2.998485          2.998485     218.666667              1.0
8461                NaN               NaN            NaN              NaN
2533                NaN               NaN     255.000000              NaN

       NTLsum_D_avg2000  NTLavg_D_avg2000  ...  NTLavg_V_avg2014  \
9126                NaN               NaN  ...               NaN
3966                NaN               NaN  ...               NaN
10988          2.626721          2.626721  ...               NaN
7771                NaN               NaN  ...               NaN
10203          2.963108          2.963108  ...               NaN
512                 NaN               NaN  ...               NaN
6760                NaN               NaN  ...               NaN
3999           2.944131          2.944131  ...               NaN
8461                NaN               NaN  ...               NaN
2533                NaN               NaN  ...               NaN

       NTLmax_V_avg2014  NTLmin_V_avg2014  NTLcfc_V_2014  NTLct_V_avg2015  \
9126                NaN               NaN           54.0              NaN
3966                NaN               NaN            NaN              NaN
10988               NaN               NaN           71.5              NaN
7771                NaN               NaN           47.0              NaN
10203               NaN               NaN           44.0              NaN
512                 NaN               NaN           34.0              NaN
6760                NaN               NaN           48.0              NaN
3999                NaN               NaN           38.4              NaN
8461                NaN               NaN           47.5              NaN
2533                NaN               NaN           38.0              NaN

       NTLsum_V_avg2015  NTLavg_V_avg2015  NTLmax_V_avg2015  NTLmin_V_avg2015  \
9126                NaN               NaN               NaN               NaN
3966                NaN               NaN               NaN               NaN
10988               NaN               NaN               NaN               NaN
7771                NaN               NaN               NaN               NaN
10203               NaN               NaN               NaN               NaN
512                 NaN               NaN               NaN               NaN
6760                NaN               NaN               NaN               NaN
3999                NaN               NaN               NaN               NaN
8461                NaN               NaN               NaN               NaN
2533                NaN               NaN               NaN               NaN

       NTLcfc_V_2015
9126            67.0
3966             NaN
10988           72.0
7771            64.0
10203           55.0
512             40.0
6760            51.0
3999            62.6
8461            64.5
2533            57.0

[10 rows x 115 columns]


Finished. All years masked and assigned their nearest settlement. Thu Jan 19 19:35:45 2023
Saved to file. Thu Jan 19 19:35:46 2023

In [36]:
# Check contents
AllSummaries.sort_values('NTLsum_D_avg2012', ascending=False).head(20)

,Sett_ID,NTLct_D_avg1999,NTLsum_D_avg1999,NTLavg_D_avg1999,NTLmax_D_avg1999,NTLmin_D_avg1999,NTLcfc_D_1999,NTLct_D_avg2000,NTLsum_D_avg2000,NTLavg_D_avg2000,...,NTLavg_V_avg2014,NTLmax_V_avg2014,NTLmin_V_avg2014,NTLcfc_V_2014,NTLct_V_avg2015,NTLsum_V_avg2015,NTLavg_V_avg2015,NTLmax_V_avg2015,NTLmin_V_avg2015,NTLcfc_V_2015
3884,19120,438.0,9611.361328,21.943747,61.909538,3.231744,87.160279,438.0,9599.539062,21.916756,...,7.433650,53.476597,0.353381,48.342286,1728.0,14608.425781,8.453950,63.478222,0.453195,62.276000
3026,12521,210.0,6557.554199,31.226450,62.346153,4.289488,136.992063,210.0,6252.830078,29.775381,...,8.392214,35.826717,0.767897,40.354460,852.0,6976.917480,8.188870,33.587158,0.917058,54.590376
7015,49133,795.0,3117.941162,3.921938,22.779999,2.435407,86.184615,795.0,3027.046143,3.807605,...,1.008841,7.415590,0.008234,48.989076,378.0,443.144897,1.172341,7.096574,0.116093,60.507491
7785,56244,594.0,1916.081665,3.225727,7.825595,2.316017,60.635569,594.0,1881.455200,3.167433,...,0.965479,4.385991,0.002007,47.797247,190.0,163.064102,0.858232,3.687119,0.101485,59.085941
3087,12883,59.0,1648.250610,27.936451,60.402977,7.404324,148.153846,59.0,1543.542725,26.161741,...,5.113477,17.031408,0.851426,38.226496,234.0,1135.911011,4.854321,16.127314,0.982590,56.299145
11165,145497,71.0,1310.021362,18.451004,40.610146,3.764438,128.641026,71.0,1277.427124,17.991932,...,4.370294,28.266197,0.102738,69.014388,276.0,1161.651123,4.208881,25.354900,0.218844,81.003597
8080,59177,142.0,850.203857,5.987351,17.179167,2.729798,128.144531,142.0,859.820251,6.055072,...,1.434916,7.003358,0.073521,51.338710,341.0,490.429718,1.438210,8.337029,0.282365,64.310036
10792,126049,62.0,698.942200,11.273262,26.210070,3.438859,203.679104,62.0,670.161926,10.809064,...,2.271091,18.159517,0.186436,66.702041,229.0,598.111206,2.611839,19.830303,0.212812,65.885714
11949,190914,30.0,311.628357,10.387611,27.949089,2.920383,253.327422,30.0,318.997803,10.633260,...,1.697803,4.522364,0.196655,100.570175,110.0,194.188782,1.765353,3.902459,0.339373,113.763158
9780,74882,44.0,331.212311,7.527553,15.699580,2.848894,218.813433,44.0,339.305237,7.711483,...,1.833448,8.988570,0.213823,56.372222,178.0,337.004608,1.893284,8.955063,0.291159,61.994444
2417,7747,49.0,468.438751,9.559975,27.476788,4.442735,192.339394,49.0,407.597260,8.318312,...,2.112639,8.656306,0.191290,40.497175,161.0,321.979065,1.999870,9.020123,0.401295,54.440678
2420,7750,44.0,258.846130,5.882866,8.535714,3.825408,179.563492,44.0,257.132538,5.843921,...,1.944932,10.626784,0.223823,47.109290,173.0,318.546997,1.841312,7.858130,0.375991,57.000000
846,2572,33.0,218.409424,6.618467,10.703297,3.200775,120.259259,33.0,221.818649,6.721777,...,1.670376,5.769406,0.363146,36.448000,100.0,159.458694,1.594587,4.965870,0.351674,49.376000
6474,45189,43.0,249.933151,5.812399,9.609063,3.184188,167.103774,43.0,260.884125,6.067073,...,1.640305,4.780528,0.287698,47.604790,143.0,246.094345,1.720940,5.338191,0.348011,56.329341
7787,56246,93.0,270.957367,2.913520,3.380000,2.486364,64.333333,93.0,266.605591,2.866727,...,0.288727,0.658504,0.014734,51.336043,10.0,2.167940,0.216794,0.337305,0.120689,58.766938
2595,9087,19.0,181.053955,9.529156,15.876749,4.775000,135.441176,19.0,183.378693,9.651510,...,1.650313,3.552290,0.452741,41.114943,86.0,152.474457,1.772959,3.404739,0.550564,60.057471
8934,68648,35.0,208.983627,5.970961,9.938095,3.103659,111.452830,35.0,199.918015,5.711944,...,0.835807,3.221455,0.112013,54.875000,123.0,115.081573,0.935623,3.492400,0.158727,63.784722
4657,22677,17.0,158.214493,9.306735,13.154915,5.066998,149.666667,17.0,168.678619,9.922272,...,1.564258,3.716534,0.402112,35.357143,68.0,124.013237,1.823724,4.502875,0.413085,47.500000
3097,12893,24.0,182.992020,7.624668,10.576191,3.794792,197.703297,24.0,179.878510,7.494938,...,1.922513,5.136900,0.247709,45.381443,90.0,204.508423,2.272316,5.854412,0.448664,59.123711
8737,66477,29.0,141.200165,4.868971,6.711957,2.799091,88.315789,29.0,137.223801,4.731855,...,1.013708,4.388566,0.127174,53.190909,81.0,76.490295,0.944325,3.732766,0.152998,69.345455

---

## 10. FLOOD EXPOSURE BY RETURN PERIOD

Reclassify flood layer:
 - -9999 to 0
 - More than 0 to 1

Reclassify buildup layer:
 - Less than 1985 to 0
 - More than 2015 to 0
 - else: same as original
 - Assign 0 as the NoData value for both datasets.

Resample flood layer to buildup's shape:
 - Check CRS match. If not, warp Flood to same CRS as WSFE.
 - Crop Flood to WSFE.
 - Change Flood spatial resolution to WSFE with gdal.Warp().

Retain year info for only WSFE cells that are flooded.
 - WSFE * Flood = WSFE_Flooded (0 and NoData get assigned to any non-flooded buildup)

Generate a spatial object from flooded-only buildup cells
 - WSFE_Flooded to numpy array to Pandas points dataframe, excluding 0 and NoData.

Calculate area at risk of flood per settlement per year (that year's new buildup only)
 - Create "area" field for each feature with the value 30 (30 square meter resolution)
 - Spatial join Settlement IDs onto WSFE_Flooded_dataframe
 - Calculate sum of area field for each [Sett_ID, year] group. (new dataframe created)

Calculate area at risk of flood per settlement per year (cumulative area in that year)
 - Iterating through the study years, subset the sum area dataframe to that year's build-up to-date
 - Calculate sum of area field for each Sett_ID
 - Assign sum of area for that cumulative year to a Settlements dataframe by table join on Sett_ID

Calculate percent flooded
 - Area_flooded_year / Area_year = percent_flooded_year
 - Save to file as csv.

### 10.1 Reclassify and set NoData values of rasters.

In [22]:
# From Stack Exchange @RutgerH
# https://gis.stackexchange.com/questions/163685/reclassify-a-raster-value-to-9999-and-set-it-to-the-nodata-value-using-python-a

# Default arguments can be changed here, or can be specified below when running the functions.

def readRaster(filename):
    filehandle = gdal.Open(filename)
    band1 = filehandle.GetRasterBand(1)
    geotransform = filehandle.GetGeoTransform()
    geoproj = filehandle.GetProjection()
    Z = band1.ReadAsArray()
    xsize = filehandle.RasterXSize
    ysize = filehandle.RasterYSize
    return xsize,ysize,geotransform,geoproj,Z

def writeRaster(filename,geotransform,geoprojection,data):
    (x,y) = data.shape
    Dformat = "GTiff"
    driver = gdal.GetDriverByName(Dformat)
    # you can change the dataformat but be sure to be able to store negative values including -9999
    dst_datatype = gdal.GDT_UInt32
    dst_ds = driver.Create(filename,y,x,1,dst_datatype)
    dst_ds.GetRasterBand(1).WriteArray(data)
    dst_ds.SetGeoTransform(geotransform)
    dst_ds.SetProjection(geoprojection)
    dst_ds.GetRasterBand(1).SetNoDataValue(0) # For both buildup and flood, we want NoData to be zero after reclassification.
    return 1


# Based on Stack Exchange @Kurt Schwehr:
# https://stackoverflow.com/questions/10454316/how-to-project-and-resample-a-grid-to-match-another-grid-with-gdal-python

def resampleRaster(InRaster_Path, MatchRaster_Path, OutFile_Path):

    RasterObject = gdal.Open(InRaster_Path)
    In_proj = RasterObject.GetProjection()
    print('Loading for %s. %s' % (InRaster_Path, time.ctime()))
    
    [Match_x, Match_y, Match_geo, Match_proj, Match_Z] = readRaster(MatchRaster_Path)
    print('---Specs to match to: \n', 
      Match_proj, '\n', Match_geo, '\n', Match_x, '\n', Match_y, '\n')
        
    OutFile = gdal.GetDriverByName('GTiff').Create(OutFile_Path, Match_x, Match_y, 1, gdalconst.GDT_UInt32)
    OutFile.SetGeoTransform(Match_geo)
    OutFile.SetProjection(Match_proj)
    print('---Created raster file for upsampled version. %s' % time.ctime())
    
    gdal.ReprojectImage(RasterObject, OutFile, In_proj, Match_proj, gdal.GRA_NearestNeighbour) # Nearest because categorical.
    print('---Resampled flood values onto an empty raster matching the dimensions of the buildup layer. %s' % time.ctime())
    return 1

##### Flood layers

In [12]:
InRasters = ['FD_1in20.tif', 'FD_1in100.tif', 'FD_1in1000.tif']
BinaryRasters = []

for Raster in InRasters:
    InPath = os.path.join(ProjectFolder, 'Hazard', Raster)
    OutPath = os.path.join(ProjectFolder, 'Hazard', Raster.replace('.tif', '_binary.tif'))
    
    # Together, x and y define the data's "shape".
    # geotransform contains the parameters detailing how the raster should be stretched and aligned.
    # geoproj is the map projection
    # Z are the values in the raster band.
    [xsize, ysize, geotransform, geoproj, Z] = readRaster(InPath)
    
    Z[Z<=0] = 0
    Z[Z>0] = 1
    
    writeRaster(OutPath,geotransform,geoproj,Z)
    InPath = OutPath = None
    BinaryRasters = BinaryRasters + [Raster.replace('.tif', '_binary.tif')]
    
    print('Finished reclassifying %s. %s' % (Raster, time.ctime()))

print('\nNew flood set: %s' % BinaryRasters)

Finished reclassifying FD_1in20.tif. Mon Jan 23 16:24:21 2023
Finished reclassifying FD_1in100.tif. Mon Jan 23 16:24:27 2023
Finished reclassifying FD_1in1000.tif. Mon Jan 23 16:24:35 2023

New flood set: ['FD_1in20_binary.tif', 'FD_1in100_binary.tif', 'FD_1in1000_binary.tif']

##### Buildup
This dataset should already be classed correctly, but the NoData value needs to be zero so we'll run it anyway.

In [13]:
InPath = os.path.join(ProjectFolder, 'Buildup', 'WSFE_WGS84.tif')
OutPath = os.path.join(ProjectFolder, 'Buildup', 'WSFE_reclass.tif')

[xsize,ysize,geotransform,geoproj,Z] = readRaster(InPath)
Z[Z<1985] = 0
Z[Z>2015] = 0

writeRaster(OutPath,geotransform,geoproj,Z)
InPath = None
OutPath = None

print('Finished reclassifying WSFE. %s' % time.ctime())

Finished reclassifying WSFE. Mon Jan 23 16:25:23 2023

### 10.2 Resample flood data to match buildup layer.

 - Align flood to WSFE: CRS, extent, origin, and resolution.

In [ ]:
# BinaryRasters = ['FD_1in20_binary.tif', 'FD_1in100_binary.tif', 'FD_1in1000_binary.tif']
ResampledRasters = []

WSFEPath = os.path.join(ProjectFolder, 'Buildup', 'WSFE_reclass.tif')

for Raster in BinaryRasters:
    RasterPath = os.path.join(ProjectFolder, 'Hazard', Raster)
    OutPath = os.path.join(ProjectFolder, 'Hazard', Raster.replace('_binary', '_upsample'))
    resampleRaster(RasterPath, WSFEPath, OutPath)
    ResampledRasters = ResampledRasters + Raster.replace('_binary', '_upsample')
    
print('Done. %s' % time.ctime())

Specs to match to:
 GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AXIS["Latitude",NORTH],AXIS["Longitude",EAST],AUTHORITY["EPSG","4326"]]
 (8.408148714860227, 0.0002701731237957677, 0.0, 13.11588340291311, 0.0, -0.0002701731237957677)
 28990
 42564

Loading for Q:\GIS\povertyequity\urban_growth\Cameroon\Hazard\FD_1in20_binary.tif. Mon Jan 23 17:07:11 2023
---Created raster file for upsampled version. Mon Jan 23 17:07:11 2023

In [3]:
### STEP 2: LOAD THE PRE-RESAMPLED FLOOD DATASET ###
for Raster in BinaryRasters:
    RasterObject = gdal.Open(os.path.join(ProjectFolder, 'Hazard', Raster))
    In_Proj = RasterObject.GetProjection()
    print('Loading for %s. %s' % (Raster, time.ctime()))

### STEP 3: APPLY THE PARAMETERS FROM STEP 1 TO THE OBJECT THAT WILL BECOME OUR NEW UPSAMPLED FLOOD RASTER. ###
    OutName = Raster.replace('_binary', '_upsample')
    OutFile = gdal.GetDriverByName('GTiff').Create(os.path.join(ProjectFolder, 'Hazard', OutName), 
                                                   W_xsize, W_ysize, 1, gdalconst.GDT_UInt32)
    OutFile.SetGeoTransform(Match_GeoTr)
    OutFile.SetProjection(Match_Proj)
    print('---Created raster file for upsampled version of %s. %s' % (Raster, time.ctime()))

### STEP 4: APPLY FLOOD DATA TO THE PREPARED RASTER LOCATION. ###
    gdal.ReprojectImage(RasterObject, OutFile, In_Proj, Match_Proj, gdalconst.GRA_Bilinear)
    print('---Resampled %s flood values onto raster that matches buildup. %s' % (Raster, time.ctime()))

### STEP 5: ENSURE NODATA IS STILL ASSIGNED AS ZERO. ###
    OutFile.GetRasterBand(1).SetNoDataValue(0)
    print(OutFile.GetRasterBand(1).GetNoDataValue())
    
    
    ResampledRasters = ResampledRasters + [OutName]
    RasterObject = OutFile = None
    
print('Completed resampling to match built-up areas. %s' % time.ctime())
print('New flood set: %s' % ResampledRasters)
WSFE = None

Built-up area raster information:
 GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AXIS["Latitude",NORTH],AXIS["Longitude",EAST],AUTHORITY["EPSG","4326"]]
 (8.408148714860227, 0.0002701731237957677, 0.0, 13.11588340291311, 0.0, -0.0002701731237957677)
 28990
 42564

Loading for FD_1in20_binary.tif. Fri Jan 20 20:23:48 2023
---Created raster file for upsampled version of FD_1in20_binary.tif. Fri Jan 20 20:23:48 2023
---Resampled FD_1in20_binary.tif flood values onto raster that matches buildup. Fri Jan 20 20:25:24 2023
0.0
Loading for FD_1in100_binary.tif. Fri Jan 20 20:25:30 2023
---Created raster file for upsampled version of FD_1in100_binary.tif. Fri Jan 20 20:25:30 2023
---Resampled FD_1in100_binary.tif flood values onto raster that matches buildup. Fri Jan 20 20:27:08 2023
0.0
Loading for FD_1in1000_binary.tif. Fri Jan 20 20:27:14 2023
---Created raster file for upsampled version of FD_1in1000_binary.tif. Fri Jan 20 20:27:14 2023
---Resampled FD_1in1000_binary.tif flood values onto raster that matches buildup. Fri Jan 20 20:28:55 2023
0.0
Completed resampling to match built-up areas. Fri Jan 20 20:29:01 2023

In [50]:
import subprocess

In [51]:
# define paths to raster and vector
inraster = os.path.join(ProjectFolder, 'Buildup', 'WSFE_reclass.tif')
inshape = os.path.join(ProjectFolder, 'Hazard','FD_1in0_binary.shp')

# make gdal_rasterize command - will burn value 0 to raster where polygon intersects 
cmd = 'gdal_rasterize -burn 1 '+ inshape + ' ' + inraster

# run command
subprocess.call(cmd, shell=True)

1

In [57]:
test1 = 'test.tif'
test2 = r'Hazard\test2.tif'

cmd = 'gdal_calc.py -A ' + test1 + ' -B ' + test2 + ' --outfile=test3.tif --overwrite --calc="A*B"*5'

subprocess.call(cmd, shell=True)

0

### 10.3 Retain only built area year values where cells were flooded.

In [4]:
WSFEPath = os.path.join(ProjectFolder, 'Buildup', 'WSFE_reclass.tif')

ResampledRasters = ['FD_1in20_upsample.tif', 'FD_1in100_upsample.tif', 'FD_1in1000_upsample.tif']
FloodedRasters = []


for Raster in ResampledRasters:
    InPath = os.path.join(ProjectFolder, 'Hazard', Raster)
    OutPath = os.path.join(ProjectFolder, 'Buildup', Raster.replace('_upsample', '_WSFEintersect.tif'))
    
    [xsize,ysize,geotransform,geoproj,Z] = readFile(InPath)
    [W_xsize, W_ysize, W_geotransform, W_geoproj, W_Z] = readFile(WSFEPath)
    Z = Z * W_Z
    
    writeFile(OutPath,geotransform,geoproj,Z)
    InPath = None
    OutPath = None
    FloodedRasters = FloodedRasters + [Raster.replace('_upsample', '_WSFEintersect')]
    
    print('Finished identifying flooded buildup for %s. %s' % (Raster, time.ctime()))

print('New flood set: %s' % FloodedRasters)

Finished identifying flooded buildup for FD_1in20_upsample.tif. Mon Jan 23 11:31:01 2023
Finished identifying flooded buildup for FD_1in100_upsample.tif. Mon Jan 23 11:31:55 2023
Finished identifying flooded buildup for FD_1in1000_upsample.tif. Mon Jan 23 11:32:51 2023
New flood set: ['FD_1in20_WSFEintersect.tif', 'FD_1in100_WSFEintersect.tif', 'FD_1in1000_WSFEintersect.tif']

In [8]:
WSFE = rasterio.open(os.path.join(ProjectFolder, 'Buildup', 'WSFE_reclass.tif'))
WSFEband = WSFE.read(1, masked=True)
meta = WSFE.meta.copy()
meta.update(compress='lzw')
WSFE.meta

print('Prepared buildup layer and metadata. %s' % time.ctime())

Prepared buildup layer and metadata. Fri Jan 20 21:02:11 2023

In [10]:
# ResampledRasters = ['FD_1in20_upsample.tif', 'FD_1in100_upsample.tif', 'FD_1in1000_upsample.tif']
FloodedRasters = []

for Raster in ResampledRasters:
    InPath = os.path.join(ProjectFolder, 'Hazard', Raster)
    OutPath = os.path.join(ProjectFolder, 'Buildup', ''.join(['WSFE_', Raster.replace('_upsample', '')]))
    
    FloodObject = rasterio.open(InPath)
    FloodBand = FloodObject.read(1, masked=True)
    print('Loaded %s as object. %s' % (Raster, time.ctime()))
    
    Flooded = WSFEband * FloodBand
    print('Calculated flooded built-up areas. %s' % time.ctime())
    
    with rasterio.open(OutPath, 'w+', **meta) as out:
        out.write(Flooded,1)
    
    FloodedRasters = FloodedRasters + [''.join(['WSFE_', Raster.replace('_upsample', '')])]
    out = None
    InPath = None
    OutPath = None
    print('Written to file. %s' % time.ctime())

Loaded FD_1in20_upsample.tif as object. Fri Jan 20 21:04:34 2023
Calculated flooded built-up areas. Fri Jan 20 21:04:37 2023
Written to file. Fri Jan 20 21:05:03 2023
Loaded FD_1in100_upsample.tif as object. Fri Jan 20 21:05:37 2023
Calculated flooded built-up areas. Fri Jan 20 21:05:44 2023
Written to file. Fri Jan 20 21:06:05 2023
Loaded FD_1in1000_upsample.tif as object. Fri Jan 20 21:06:37 2023
Calculated flooded built-up areas. Fri Jan 20 21:06:40 2023
Written to file. Fri Jan 20 21:07:00 2023

In [6]:
# Some non-flooded cells were showing -9999 upon spot-checking. Let's be thorough and reclass to just the buildup years again.

FloodedRasters = ['WSFE_FD_1in20.tif', 'WSFE_FD_1in100.tif', 'WSFE_FD_1in1000.tif']
FloodedRasters2 = []

for Raster in FloodedRasters:
    InPath = os.path.join(ProjectFolder, 'Buildup', Raster)
    OutPath = os.path.join(ProjectFolder, 'Buildup', Raster.replace('.tif', '_reclass.tif'))
    
    [xsize,ysize,geotransform,geoproj,Z] = readFile(InPath)
    Z[Z<1985] = 0
    Z[Z>2015] = 0
    
    writeFile(OutPath,geotransform,geoproj,Z)
    InPath = None
    
    OutRaster = gdal.Open(OutPath)
    OutBand = OutRaster.GetRasterBand(1)
    OutBand.SetNoDataValue(0)
    OutPath = None
    OutRaster = None
    OutBand = None

    FloodedRasters2 = FloodedRasters2 + [Raster.replace('.tif', '_reclass.tif')]
    print('Finished reclassifying flooded cells for %s. %s' % (Raster, time.ctime()))

Finished reclassifying flooded cells for WSFE_FD_1in20.tif. Fri Jan 20 21:29:14 2023
Finished reclassifying flooded cells for WSFE_FD_1in100.tif. Fri Jan 20 21:29:40 2023
Finished reclassifying flooded cells for WSFE_FD_1in1000.tif. Fri Jan 20 21:30:05 2023

In [ ]:
FloodedRasters2

# SCRATCH

### 10.2 Polygonize flood data.

In [19]:
# https://pcjericks.github.io/py-gdalogr-cookbook/raster_layers.html?highlight=vectorize
# https://www.e-education.psu.edu/geog489/node/2215

# BinaryRasters = ['FD_1in20_binary.tif', 'FD_1in100_binary.tif', 'FD_1in1000_binary.tif']

for Raster in BinaryRasters:
    InObject = gdal.Open(os.path.join(ProjectFolder, 'Hazard', Raster))
    InBand = InObject.GetRasterBand(1)
    print('Loading %s. %s' % (Raster, time.ctime()))
    
    OutDriver = ogr.GetDriverByName("ESRI Shapefile")
    OutName = Raster.replace('.tif','')
    OutPath = os.path.join(ProjectFolder, 'Hazard', ''.join([OutName, '.shp']))

    SpatRef = osr.SpatialReference()
    Proj = InObject.GetProjectionRef()
    SpatRef.ImportFromWkt(Proj)
    
    if os.path.exists(OutPath):
        OutDriver.DeleteDataSource(OutPath)
    OutFile = OutDriver.CreateDataSource(OutPath)
    OutLayer = OutFile.CreateLayer(OutName, srs = SpatRef, geom_type=ogr.wkbPolygon)
    OutField = ogr.FieldDefn("Flooded", ogr.OFTInteger)
    OutLayer.CreateField(OutField)
    OutField = OutLayer.GetLayerDefn().GetFieldIndex("Flooded")
    
    print('Vectorizing. %s' % time.ctime())
    gdal.Polygonize(InBand, None, OutLayer, -1, [], callback=None)
    print('Completed polygons for %s. %s' % (Raster, time.ctime()))
    
    del InObject
    del InBand
    del OutFile
    del OutLayer
    del OutField

print('Finished. %s' % time.ctime())

Loading FD_1in20_binary.tif. Mon Jan 23 12:26:11 2023

AttributeError: 'NoneType' object has no attribute 'CreateLayer'

In [44]:
InObject = gdal.Open(os.path.join(ProjectFolder, 'Hazard', 'FD_1in20_binary.tif'))
InBand = InObject.GetRasterBand(1)
print('Loading %s. %s' % (Raster, time.ctime()))

Loading FD_1in20_binary.tif. Mon Jan 23 12:34:50 2023

In [45]:
OutDriver = ogr.GetDriverByName("ESRI Shapefile")
OutName = Raster.replace('.tif','')
OutPath = os.path.join(ProjectFolder, 'Hazard', ''.join([OutName, '.shp']))
print(OutDriver, OutName, OutPath)

<osgeo.ogr.Driver; proxy of <Swig Object of type 'OGRDriverShadow *' at 0x000001FABD4BA9D0> > FD_1in20_binary Q:\GIS\povertyequity\urban_growth\Cameroon\Hazard\FD_1in20_binary.shp

In [46]:
SpatRef = osr.SpatialReference()
Proj = InObject.GetProjectionRef()
SpatRef.ImportFromWkt(Proj)
print(Proj, '\n\n', SpatRef)

GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AXIS["Latitude",NORTH],AXIS["Longitude",EAST],AUTHORITY["EPSG","4326"]]

 GEOGCS["WGS 84",
    DATUM["WGS_1984",
        SPHEROID["WGS 84",6378137,298.257223563,
            AUTHORITY["EPSG","7030"]],
        AUTHORITY["EPSG","6326"]],
    PRIMEM["Greenwich",0,
        AUTHORITY["EPSG","8901"]],
    UNIT["degree",0.0174532925199433,
        AUTHORITY["EPSG","9122"]],
    AXIS["Latitude",NORTH],
    AXIS["Longitude",EAST],
    AUTHORITY["EPSG","4326"]]

In [47]:
OutFile = OutDriver.CreateDataSource(OutPath)
OutLayer = OutFile.CreateLayer(OutName, srs = SpatRef, geom_type=ogr.wkbPolygon)
OutField = ogr.FieldDefn("Flooded", ogr.OFTInteger)
OutLayer.CreateField(OutField)
OutField = OutLayer.GetLayerDefn().GetFieldIndex("Flooded")

In [48]:
print(OutFile, '\n', OutLayer, '\n', OutField)

<osgeo.ogr.DataSource; proxy of <Swig Object of type 'OGRDataSourceShadow *' at 0x000001FABC22D0B0> >
 <osgeo.ogr.Layer; proxy of <Swig Object of type 'OGRLayerShadow *' at 0x000001FABD4FFF60> >
 0

In [49]:
print('Vectorizing. %s' % time.ctime())
gdal.Polygonize(InBand, None, OutLayer, 0, [], callback=None)
print('Completed polygons for %s. %s' % (Raster, time.ctime()))

del InObject
del OutFile

print('Finished. %s' % time.ctime())

Vectorizing. Mon Jan 23 12:34:57 2023
Completed polygons for FD_1in20_binary.tif. Mon Jan 23 12:36:04 2023
Finished. Mon Jan 23 12:36:05 2023